<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:dt="http://github.com/dandelion/datatables">
<body>
  <div th:fragment="main (active)">
    <ul class="navIntraTool">
      <li role="presentation" th:class="${active}=='index'? 'active'"><span><a href="#" th:href="@{/index}" th:text="#{index.status}">Status</a></span></li>
      <li role="presentation" th:class="${active}=='modified'? 'active'"><span><a href="#" th:href="@{/modified}" th:text="#{modified.modified}">Modified Messages</a></span></li>
      <li role="presentation" th:class="${active}=='modules'? 'active'"><span><a href="#" th:href="@{/modules}" th:text="#{modules.modules}">Messages by Module</a></span></li>
      <li role="presentation" th:class="${active}=='search'? 'active'"><span><a href="#" th:href="@{/search}" th:text="#{search.searchMessages}">Search Messages</a></span></li>
    </ul>
  </div>
</body>
</html>