// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

//$accordion-bg: green;

// Toggle global options
$enable-gradients: false;
//$enable-shadows: true;
$enable-cssgrid: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Customize some defaults
$primary: #003a6b;
$body-color: #333;
$body-bg: #fff;
$border-radius: .4rem;
$success: #7952b3;

// Tool defaults
$text-color: #333;
$input-border-focus: #66afe9;
$input-border: var(--sakai-border-color);

@import "defaults";
@import "themes/base";

@import "themes/light";
@import "themes/dark";

@import "customization-lib"; //it is copied from the user supplied file by maven
@import "customization-main"; //it is copied from the user supplied file by maven

// Configuration
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

// Layout & components
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas";
@import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

@import "base/jquery-ui-defaults";
@import "base/extendables";
@import "base/defaults";
@import "base/responsive";
@import "base/icons";

//Todo assing new values, where those are used
$page-header-border-color: lighten(#000, 46.7%) !default; // #eee
$jumbotron-heading-font-size: $h4-font-size;

@import "modules/more-sites/more-sites";
@import "modules/notifications/notifications";
@import "modules/picture-changer/picture-changer";
@import "modules/profile-popup/profile-popup";

//Tools
@import "modules/tool/portal/portal";
@import "modules/tool/navigation/base";
@import "modules/tool/navigation/skipnav";
@import "modules/toolmenu";
@import "modules/tool/base";
@import "modules/tool/elements";
@import "modules/tool/menu";
@import "modules/tool/table";

@import "modules/tool/admin/admin";
@import "modules/tool/calendar/calendar";
@import "modules/tool/calendar/calendarSynoptic";
@import "modules/tool/chat/chat";
@import "modules/tool/commons/commons";
@import "modules/tool/conversations/conversations";
@import "modules/tool/lessons/lessons";
@import "modules/tool/sitemanage/sitemanage";
@import "modules/tool/announcements/announcements";
@import "modules/tool/assignments/assignments";
@import "modules/tool/messages/messages";
@import "modules/tool/gradebook/gradebook";
@import "modules/tool/mycalendar/mycalendar";
@import "modules/tool/polls/polls";
@import "modules/tool/lessonbuilder/lessonbuilder";
@import "modules/tool/myconnections/myconnections";
@import "modules/tool/preferences/preferences";
@import "modules/tool/samigo/samigo";
@import "modules/tool/synoptic/synoptic";
@import "modules/tool/resources/resources";
@import "modules/tool/forums/forums";
@import "modules/tool/mbm/mbm";
@import "modules/tool/profile2/profile2";
@import "modules/tool/iframe/iframe";
@import "modules/tool/siteinfo/siteinfo";
@import "modules/tool/jobscheduler/jobscheduler";
@import "modules/tool/pasystem/pasystem";
@import "modules/tool/signup/signup";
@import "modules/tool/sitesetup/sitesetup";
@import "modules/tool/sitemembers/sitemembers";
@import "modules/tool/dropbox/dropbox";
@import "modules/tool/sitestats/sitestats";
@import "modules/tool/syllabus/syllabus";
@import "modules/tool/roster/roster";
@import "modules/tool/tagservice/tagservice";
@import "modules/tool/rubrics/rubrics";
@import "modules/tool/oauthadmin/oauthadmin";
@import "modules/tool/authz/authz";
@import "modules/tool/delegatedaccess/delegatedaccess";
@import "modules/tool/simplerss/simplerss";
@import "modules/tool/emailtemplates/emailtemplates";
@import "modules/tool/wiki/wiki";
@import "modules/tool/bulk-user-membership/bulk-user-membership";
@import "modules/tool/microsoft-admin/microsoft-admin";
@import "modules/tool/microsoft-mediagallery/microsoft-mediagallery";
@import "modules/tool/microsoft-collaborativedocuments/microsoft-collaborativedocuments";

@import "base/rtl";

@import "modules/tool/quicklinks/quicklinks_variables";
@import "modules/tool/quicklinks/base";
@import "modules/tool/timeout-alert/base";
@import "modules/tool/swapped-view/base";
@import "modules/tool/cookies/base";
@import "modules/tool/tutorial/base";
@import "modules/tool/reorderer/base";
@import "modules/tool/pager/base";
@import "modules/tool/profile-popup/base";
@import "modules/tool/joinpage/base";
@import "modules/tool/editor/base";
@import "modules/tool/jumptotop/base";
@import "modules/tool/submission-messager/base";
@import "modules/tool/grader/base";
@import "modules/tool/button/base";
@import "modules/tool/dashboard/base";
@import "modules/tool/courselist/base";
@import "modules/tool/coursecard/base";
@import "modules/tool/icon/base";
@import "modules/tool/widget-panel/base";
@import "modules/tool/theme-switcher/base";
@import "modules/tool/multiselect/base";
@import "modules/tool/sakai-options-menu/sakai-options-menu";
@import "modules/tool/access";




//
// Temporary Styles for Morpheus to Trinity conversion
//

// .navIntraTool {
//   display: flex;
//   flex-wrap: wrap;
//   padding-left: 0;
//   list-style: none;

//   li {
//     margin-right: 1em;
//   }
// }




// tool custom styles
.input-group label {
  margin: 0;
}
label {
  margin: 2px;
}

.form-group {
	margin-bottom: 15px;
}

.form-control-label {
  font-weight: bold;
  color: var(--sakai-text-color-2);
}

.form-control-required {
    .form-control-label, .form-label {
        &::after {
            content: ' *';
            color: var(--sakai-highlight-color);
        }
    }
}

.reqStar, .reqStarInline {
    font-weight: bold;
    color: var(--sakai-highlight-color);
}

// to make sakai task accordion visible in account menu
.global-overlays {
	z-index: 1200 !important;
  }

// FontAwesome Icon Picker //
.iconpicker-popover {
    opacity: 1 !important;
    border-radius: 1px;
}

.iconpicker-popover .popover-title,
.iconpicker-popover .iconpicker-items {
    background-color: var(--sakai-background-color-2) !important;
}

.iconpicker-popover .iconpicker-item:hover{
    background-color: var(--site-nav-btn-hover-bg) !important;
}

.iconpicker-container {
    align-items: center;
}

iframe[type="application/pdf"] {
    width: 100%;
}

.popover-body {
    color: var(--sakai-text-color-1);
}

.si-remove::before {
    color: red;
}

.si-check-lg::before {
    color: green;
    font-weight: bolder;
    font-size: x-large;
}

.si-info-circle {
    color: var(--sakai-text-color-1);
}
