.searchScore {
        font-size: smaller;
}
.searchItem {
	margin-top:1em; 
	margin-bottom:2em; 
	clear:both;
	display:block;
}
.searchHeader {
     	color:#000;
     	padding:.3em;
     	text-align:right;
     	font-size:.9em;
     	line-height:1.3em;
     	background:#DDDFE4;
     	border-top:1px solid #000;
     	border-bottom:1px solid #fff;
	color:#084A87;
}
.searchBox {
	text-align: center;
        padding-top: 4px;
        padding-bottom: 5px;
}
      
.searchPager {
        text-align:right;
}
.searchPage0 {
        text-align:right;
}
.searchPage1 {
        text-align:right;
}
.searchPage2 {
        text-align:right;
}
