//////////////////////////////
// MODULES: Styles that are layout independent 
//////////////////////////////

iframe {
  margin: 0;
  padding: 0;
}

.portlet-main.wrapper > iframe {
  //background: #fff;
}

.portletBody {
  border: 1px transparent solid;
  padding: 0 1em;
}