/*
 * Commented out the existing css here.  I don't believe any of this is being used in the tool at all currently and didn't want to introduce
 * a page style change for adding a new css property and properly linking to this css file
 




UNKNOWN {
	FONT-SIZE: 0.8em; COLOR: #000000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffff; margin-width: 0 px; margin-height: 0 px; top-margin: 0 px; left-margin: 0 px; right-margin: 0 px
}

A:link {
	COLOR: #666699; TEXT-DECORATION: underline
}
A:active {
	COLOR: #990000; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #990000; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
A.action:active {
	COLOR: #666699; TEXT-DECORATION: underline
}
A.action:visited {
	COLOR: #666699; TEXT-DECORATION: underline
}
A.action:link {
	COLOR: #666699; TEXT-DECORATION: underline
}
A.action:hover {
	COLOR: #666699; TEXT-DECORATION: none
}
.header {
	FONT-WEIGHT: bold; FONT-SIZE: 0.9em; COLOR: #ffffff; FONT-FAMILY: Arial; BACKGROUND-COLOR: #666699
}
.subheader {
	FONT-WEIGHT: bold; FONT-SIZE: 0.9em; COLOR: #000000; FONT-FAMILY: Arial; BACKGROUND-COLOR: #9999cc
}
.data {
	FONT-SIZE: 0.8em; COLOR: #000000; FONT-FAMILY: Verdana
}
.title {
	FONT-SIZE: medium; COLOR: #000000; FONT-FAMILY: Arial
}
TD {
	FONT-SIZE: 0.8em; COLOR: #000000; FONT-FAMILY: Verdana
}
P {
	FONT-SIZE: 0.8em; COLOR: #000000; FONT-FAMILY: Verdana
}
LI {
	COLOR: #000000; FONT-FAMILY: Verdana
}
DT {
	FONT-SIZE: 0.8em; COLOR: #000000; FONT-FAMILY: Verdana
}
DD {
	FONT-SIZE: 0.8em; COLOR: #000000; FONT-FAMILY: Verdana
}
.font {
	FONT-SIZE: 0.8em; COLOR: #000000; FONT-FAMILY: Verdana
}
.desc {
	FONT-SIZE: 0.8em; COLOR: #000000; FONT-FAMILY: Verdana
}
.bold {
	FONT-WEIGHT: bold
}
.obj_bold {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em; FONT-FAMILY: Verdana
}
.button_label {
	FONT-WEIGHT: bold; FONT-SIZE: 0.9em; COLOR: #666666; FONT-FAMILY: Verdana
}
.form_label {
	FONT-WEIGHT: bold
}
.small {
	FONT-SIZE: 0.8em; COLOR: #666666
}
.alert {
	FONT-WEIGHT: bold; COLOR: #990000; FONT-FAMILY: Verdana
}
.login_footer {
	FONT-SIZE: 0.75em; COLOR: #666666
}
.login_hours {
	FONT-SIZE: 0.75em; COLOR: #ffffff; BACKGROUND-COLOR: #990000
}
.login_notes {
	FONT-SIZE: 0.7em; COLOR: #666666
}
.login_sideheader {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana; BACKGROUND-COLOR: #666699
}
.login_midheader {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana; BACKGROUND-COLOR: #990000
}
.login_sidecolor {
	BACKGROUND-COLOR: #eeeeee
}
A.prof:link {
	FONT-SIZE: 0.8em; COLOR: #ffffff; TEXT-DECORATION: none
}
A.prof:visited {
	FONT-SIZE: 0.8em; COLOR: #ffffff; TEXT-DECORATION: none
}
A.prof:active {
	FONT-SIZE: 0.8em; COLOR: #ffffff; TEXT-DECORATION: none
}
.white {
	COLOR: #ffffff
}
.prof_title {
	FONT-SIZE: medium; COLOR: #ffffff; FONT-FAMILY: Arial
}
.prof_subtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 0.9em; COLOR: #000000; FONT-FAMILY: Arial
}
.prof_header {
	FONT-WEIGHT: bold; FONT-SIZE: 0.9em; COLOR: #ffffff; FONT-FAMILY: Arial; BACKGROUND-COLOR: #666699
}
.mycal_header {
	FONT-WEIGHT: bold; FONT-SIZE: 0.9em; COLOR: #ffffff; FONT-FAMILY: Arial; BACKGROUND-COLOR: #666699
}
.mycal_peritems {
	COLOR: #003399
}
.mycal_perdates {
	FONT-WEIGHT: bold; COLOR: #003399
}
.mycal_classitems {
	COLOR: #000000
}
A.schedule:link {
	COLOR: #990000; TEXT-DECORATION: underline
}
A.schedule:visited {
	COLOR: #990000; TEXT-DECORATION: underline
}
A.schedule:active {
	COLOR: #990000; TEXT-DECORATION: underline
}
A.schedule:hover {
	COLOR: #666699; TEXT-DECORATION: none
}
A.personal:link {
	COLOR: #0000cc; TEXT-DECORATION: underline
}
A.personal:visited {
	COLOR: #0000cc; TEXT-DECORATION: underline
}
A.personal:active {
	COLOR: #0000cc; TEXT-DECORATION: underline
}
A.personal:hover {
	COLOR: #666699; TEXT-DECORATION: none
}
A.viewlink:link {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.viewlink:visited {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.viewlink:active {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.viewlink:hover {
	COLOR: #666699; TEXT-DECORATION: none
}
.student_header {
	FONT-WEIGHT: bold; FONT-SIZE: 0.9em; COLOR: #ffffff; FONT-FAMILY: Arial; BACKGROUND-COLOR: #666699
}
.student_name {
	FONT-SIZE: medium; COLOR: #000000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #eeeeee
}
.student_week {
	FONT-WEIGHT: bold; FONT-SIZE: small; COLOR: #000000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #eeeeee
}
.course_title {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
A.link:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.link:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.link:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.pipe {
	COLOR: #ffffff; FONT-FAMILY: Verdana
}
.att_subtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 0.9em; COLOR: #000000; FONT-FAMILY: Arial
}
.att_header {
	FONT-WEIGHT: bold; FONT-SIZE: 0.9em; COLOR: #ffffff; FONT-FAMILY: Arial; BACKGROUND-COLOR: #666699
}
.att_subheader {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em; COLOR: #000000; FONT-FAMILY: Arial; BACKGROUND-COLOR: #9999cc
}
.att_th {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em; COLOR: #ffffff; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #666699
}
.att_data {
	FONT-SIZE: 0.8em; COLOR: #000000; FONT-FAMILY: Verdana
}
.att_wait {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em; COLOR: #ffffff; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #990000
}
.att_complete {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em; COLOR: #ffffff; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #666699
}
.cal_th {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em; COLOR: #ffffff; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #666699
}
.item {
	FONT-SIZE: 0.8em; COLOR: #666699; FONT-FAMILY: Verdana
}
.cal_color {
	FONT-SIZE: 0.8em; COLOR: #000000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #9999cc
}
.roster_role {
	FONT-SIZE: 0.8em; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana
}
.roster_disable {
	FONT-WEIGHT: bold; COLOR: #990000; FONT-FAMILY: Verdana
}
.roster_hidden {
	FONT-WEIGHT: bold; COLOR: #666699; FONT-FAMILY: Verdana
}
.roster_legend {
	COLOR: #000000; FONT-FAMILY: Verdana
}
.mail_nav {
	FONT-SIZE: 0.8em; COLOR: #000000; FONT-FAMILY: Verdana
}
.mail_linksframe {
	BACKGROUND-COLOR: #ccccff
}
.mail_th {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em; COLOR: #ffffff; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #666699
}
.mail_td {
	FONT-SIZE: 0.8em; COLOR: #000000; FONT-FAMILY: Verdana
}
.mail_subheader {
	FONT-WEIGHT: bold; FONT-SIZE: 0.9em; COLOR: #000000; FONT-FAMILY: Arial; BACKGROUND-COLOR: #9999cc
}
.plain {
	FONT-SIZE: small; FONT-FAMILY: "Courier New", Courier, Monaco
}
.forum_senderinfo {
	FONT-SIZE: 0.8em; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #9999cc
}
.forum_sendermsg {
	FONT-SIZE: 0.8em; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #eeeeee
}
.stat_login {
	FONT-SIZE: 0.8em; COLOR: #666699; FONT-FAMILY: Verdana
}
.stat_logout {
	FONT-SIZE: 0.8em; COLOR: #990000; FONT-FAMILY: Verdana
}
.grade_nav {
	FONT-SIZE: 0.8em; COLOR: #000000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ccccff
}
.grade_outline {
	BACKGROUND-COLOR: #eeeeee
}
.grade_steps {
	FONT-SIZE: 0.8em; COLOR: #000000; FONT-FAMILY: Verdana
}
.grade_steps_emph {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em; COLOR: #000000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ccccff
}
.grade_status {
	COLOR: #000000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffff
}
.grade_tools {
	BACKGROUND-COLOR: #ffffff
}

.menu {
	COLOR: #000000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #eeeeee
}

.menuIndent {
	MARGIN: 15px
}
.menuMoreIndent {
	MARGIN: 30px
}
.menuhd {
	FONT-WEIGHT: bold; COLOR: #000000; FONT-FAMILY: Verdana
}
.menu_select {
	FONT-WEIGHT: bold; COLOR: #000000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #eeeeee
}
A.menu:link {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.menu:visited {
	COLOR: #666999; TEXT-DECORATION: underline
}
A.menu:active {
	FONT-WEIGHT: bold;  COLOR: #000000; 
}
A.menu:hover {
	FONT-WEIGHT: bold;  COLOR: #666699;
}
.ins_head {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: #000000; FONT-FAMILY: verdana; BACKGROUND-COLOR: #ffff99
}
.ins_subhead {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: #000000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffff99
}
.ins {
	FONT-SIZE: x-small; COLOR: #000000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffff99
}
.section {
	FONT-WEIGHT: bold; COLOR: #000000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #eeeeee
}
BODY {
	FONT-SIZE: 0.8em; MARGIN: 0px; COLOR: #000000; FONT-FAMILY: verdana; BACKGROUND-COLOR: #ffffff
}
.body_titlefrm {
	FONT-WEIGHT: bold; FONT-SIZE: medium; COLOR: #000000; FONT-FAMILY: verdana; BACKGROUND-COLOR: #eeeeee
}

.border{
FONT-WEIGHT: bold;
  margin-top:0px;
  margin-bottom:0px;
  margin-left:5px;
  border-style:solid;
  border-width:1px;
  border-color:#000000;
  
  BACKGROUND-COLOR:#666699;
}

.navigo_border{
FONT-WEIGHT: bold;
COLOR:#FFFFFF;
  margin-top:0px;
  margin-bottom:0px;
  margin-left:5px;
  border-style:solid;
  border-width:1px;
  border-color:#000000;
  
  
  BACKGROUND-COLOR:#666699;
}
.navigo_border_text_font
{
FONT-WEIGHT: bold;
COLOR:#FFFFFF;
}
.section_border{
  FONT-WEIGHT: bold;
  COLOR: #FFFFFF;
  margin-top:0px;
  margin-bottom:0px;
  margin-left:5px;
  border-style:solid;
  border-width:1px;
  border-color:#000000;
  BACKGROUND-COLOR:#808080;
}

.borderAuthor{
FONT-WEIGHT: bold;
COLOR:#FFFFFF;
  margin-top:0px;
  margin-bottom:0px;
  margin-left:5px;
  border-style:solid;
  border-width:1px;
  border-color:#000000;
  
  BACKGROUND-COLOR:#871F78;
}

.matchAuthor{
FONT-WEIGHT: bold;
COLOR:#000000;
  margin-top:0px;
  margin-bottom:0px;
  margin-left:5px;
  border-style:solid;
  border-width:1px;
  border-color:#000000;
  
  BACKGROUND-COLOR:#DDDDDD;
}

*/

@media print  { .noprint  { display: none; } }