//////////////////////////////
// MODULES: Styles that are layout independent 
//////////////////////////////

@import "_footer_variables";

.container.footer {
  background: $footer-background;
  color: $footer-color;
  padding-bottom: 2em;
}

.footer {

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  small {
    margin: 0.5em;
    display: block;
  }

  .footer--nav {

    li {
      display: inline-block;

      a {
        padding: .375em  .25em;
        line-height: 2em;
      }
    }
  }
}

.plus {

  &:after {
      content:" +";
  }
}

.minus {

  &:after {
    content:" -";
  }
}

@include respond-to('narrow navigation') {

  .footer--nav {
    margin: 0 auto;
    text-align: center;

    li {
      border: 1px #555 solid;
      background: #444;
      @include border-radius(3px);
      margin: .25em;

      a {
        padding: .375em .25em;
        margin: 0;
        line-height: 2em;

        &:hover {
          border: none;
        }
      }
    }
  }
}

@include respond-to('full navigation') {

  .footer {

    ul, 
    small {
      margin-left: 20%;
    }
    
    .footer--nav {

      li {
        
        &:before {
          content: " | ";
        }

        &:first-child:before {
          content: "";
        }
      }
    }
  }
}