//////////////////////////////
// MODULES: Styles that are layout independent 
//////////////////////////////

@import "_footer_variables";


.Mrphs- { 
  
  &container--footer {
    background: $footer__background;
    color: $footer__color;
    padding-bottom: 2em;
  }
}

.Mrphs- {
  
  &footer {

    ul {
      list-style-type: none;
      margin: .5em 0;
      padding: 0;

      li {
        display: inline;
        margin: 0 1em 0 0;
        padding: 0;
        a {
          padding: .375em  .25em;
          line-height: 2em;
        }
      }
    }
    
    a {
      color: $footer__a__color;

      &:hover {
        color: $footer__a--hover__color;
        border-color: $footer__a--hover__color;
      }
    }
    
    details {

      summary {
        color: $footer__a__color;
      }
    }
    
    @include respond-to('narrow navigation') {

      padding: .5em;
    }

    @include respond-to('full navigation') {

      padding: .75em 0;

      // Indent Footer
      ul, 
      details {
        margin-left: 20%;
      }
    }    
  }

  &footer--nav__main {

    @include respond-to('narrow navigation') {
      margin: 0 auto ;
      text-align: center;
    
      li {
        border: 1px #555 solid;
        background: #444;
        @include border-radius(3px);
        margin: .25em;
        padding: .375em .5em;

        a {

          margin: 0;
          line-height: 2em;

          &:hover {
            border: none;
          }
        }
      }
    }
  }
}

#Mrphs- {
  
&footerApp {
    font-size: .9em;
    position: fixed;
    right: 18px;
    bottom: 0;
    line-height: 1.2em;
    text-align: center;
    padding: 0;
    z-index: 9999;
    background: $footer__footerApp_background;
  }

}

//@include respond-to('narrow navigation') {
//
//  .footer {
//    padding: .5em;
//
//    #footer-links {
//      margin: 0 auto ;
//      text-align: center;
//
//      li {
//        border: 1px #555 solid;
//        background: #444;
//        @include border-radius(3px);
//        margin: .25em;
//        padding: .375em .5em;
//
//        a {
//
//          margin: 0;
//          line-height: 2em;
//
//          &:hover {
//            border: none;
//          }
//        }
//      }
//    }
//  }
//}

@include respond-to('full navigation') {

  .footer {
    padding: .75em 0;
    
    ul, 
    small {
      margin-left: 20%;
    }
    
    .footer--nav {

      li {
        
        &:before {
          content: " | ";
        }

        &:first-child:before {
          content: "";
        }
      }
    }
  }
}
