<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

   <bean id="messageRenderer" class="org.sakaiproject.tool.gradebook.ui.helpers.beans.GradebookMessageRenderer">
      <property name="messageLocator">
         <ref bean="messageLocator" />
      </property>
      <property name="infoStyleClass" value="info" />
      <property name="errorStyleClass" value="error" />
   </bean>
   
   
    <bean id="GradebookEntryEntityProvider" class="org.sakaiproject.tool.gradebook.ui.helpers.entity.GradebookEntryEntityProvider"
      init-method="init" destroy-method="destroy">
      <property name="entityProviderManager" ref="org.sakaiproject.entitybroker.entityprovider.EntityProviderManager" />
      <property name="gradebookService" ref="org.sakaiproject.service.gradebook.GradebookService" />
    </bean>
    
    <bean id="GradebookEntryGradeEntityProvider" class="org.sakaiproject.tool.gradebook.ui.helpers.entity.GradebookEntryGradeEntityProvider"
      init-method="init" destroy-method="destroy">
      <property name="entityProviderManager" ref="org.sakaiproject.entitybroker.entityprovider.EntityProviderManager" />
      <property name="gradebookService" ref="org.sakaiproject.service.gradebook.GradebookService" />
    </bean>
    
       <!-- handles configuration of internationalization messages -->
   <bean id="messageLocator" class="uk.org.ponder.springutil.SpringMessageLocator">
      <property name="messageSource">
         <bean class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
            <property name="basename">
               <value>WEB-INF/bundle/messages</value>
            </property>
            <property name="cacheSeconds">
               <value>10</value>
            </property>
         </bean>
      </property>
      <property name="localeGetter" ref="requestLocaleProxy" />
   </bean>	
   
      <!-- Override the default style of user messages -->
   <bean id="messageTemplateContributor" parent="templateContributorParent">
      <property name="baseDirectory" value="component-templates/" />
      <property name="templateNames" value="Messages" />
   </bean>
   
   <!-- Define the bean roots from the request scope file that are accessible 
    via incoming request URL -->
   <bean parent="requestAddressibleParent">
	  <property name="value" value="Assignment,AssignmentGradeRecord,GradebookItemBean,AssignmentGradeRecordBean"/>
   </bean>

	<bean id="AssignmentCreator"
		class="org.sakaiproject.tool.gradebook.ui.helpers.beans.AssignmentCreator">
	</bean>
   
   <bean id="Assignment" parent="entityBeanLocatorParent">
      <property name="newMethod" 
      	value="AssignmentCreator.create" />
      <property name="fetchMethod"
      	value="GradebookItemBean.getAssignmentById" />
   </bean>
   
   <bean id="AssignmentGradeRecordCreator"
   	    class="org.sakaiproject.tool.gradebook.ui.helpers.beans.AssignmentGradeRecordCreator">
   </bean>
   <bean id="AssignmentGradeRecord" parent="entityBeanLocatorParent">
   	   <property name="newMethod"
   	   	 value="AssignmentGradeRecordCreator.create" />
   	   <property name="fetchMethod"
   	     value="AssignmentGradeRecordBean.getAssignmentGradeRecordById" />
   </bean>

</beans>