//////////////////////////////
// VARIABLES: For Base styles 
//////////////////////////////

$links__color: desaturate(darken(nth($primary, 1), 7%), 4%); // WCAG compliant http://contrast-finder.tanaguru.com/
$links__border-width: false;

//// Visited
$links--visited__color: darken($links__color, 2.2%); // WCAG compliant
$links--visited__border-width: $links__border-width;

//// Hover
$links--hover__color: lighten($links__color, 10%);
$links--hover__text-decoration: none; 
$links--hover__border-width: 0 0 1px 0;
$links--hover__border-style: solid;

//// Active
$links--active__color: $links__color;

//////////////////////////////
// DEFAULT VARIABLES
//////////////////////////////

// Links
$links__color: #369 !default;
$links__text-decoration: none !default;
$links__border-width: 0 0 1px 0 !default;
$links__border-style: dotted !default;
$links__border-color: $links__color !default;

//// Visited
$links--visited__color: darken($links__color, 10%) !default;
$links--visited__border-width: $links__border-width !default;
$links--visited__border-style: $links__border-style !default;
$links--visited__border-color: $links__border-color !default;

//// Hover
$links--hover__text-decoration: underline !default;
$links--hover__color: #c03 !default;
$links--hover__border-width: $links__border-width !default;
$links--hover__border-style: $links__border-style !default;
$links--hover__border-color: $links--hover__color !default;

//// Active
$links--active__color: #900 !default;
$links--active__border-width: $links__border-width !default;
$links--active__border-style: $links__border-style !default;
$links--active__border-color: $links--active__color !default;

//// Logo and Headers
$headings__color: $links__color !default;
$headings__border-width: false !default;
$headings__border-style: $links__border-style !default;
$headings__border-color: $links--active__color !default;