//////////////////////////////
// BASE: Base element styles 
//////////////////////////////

@import "_links_variables";

a {

  &:link {
    color: $links__color;
    text-decoration: $links__text-decoration;
    padding: .375em 0; // adding padding for touch devices
    @include border-outline(border, $links__border-width, $links__border-style, $links__border-color);
  }

  &:visited {
    color: $links--visited__color;
    @include border-outline(border, $links--visited__border-width, $links--visited__border-style, $links--visited__border-color);
  }

  &[href]:hover,
  &[href]:focus {
    color: $links--hover__color;
    text-decoration: $links--hover__text-decoration;
    @include border-outline(border, $links--hover__border-width, $links--hover__border-style, $links--hover__border-color);
  }

  &:active {
    color: $links--active__color;
    @include border-outline(border, $links--active__border-width, $links--active__border-style, $links--active__border-color);
  } 

  #{headings(1,3)} {
    color: $headings__color;
    @include border-outline(border, $headings__border-width, $headings__border-style, $headings__border-color);
  }
}