<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html  
      xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:wicket="http://wicket.sourceforge.net/"  
      xml:lang="en"  
      lang="en">
<body>
<wicket:panel>


 <!-- I put the callback snippet at the body so that is rendered for each panel instead of once -->  
  <script wicket:id="onUploaded" type="text/javascript"></script>  
  <iframe wicket:id="upload" frameborder="0" style="height:1000px; overflow:hidden"></iframe>  





</wicket:panel>
</body>
</html>