/* Enable Google Material Design inspired theme elements */
/* by setting the variables below to true. */
/* Added in SAK-42889 */
$standard-spacing-as-material: true !default;
$sites-nav-as-material: true !default;
$portal-as-material: true !default;
$tool-menu-as-material: true !default;
$buttons-as-material: true !default;
$top-header-as-material: true !default;
$cards-as-material: true !default;
$lessons-as-material: true !default;

/*    Standard Spacing Large    */
// Increases the standard spacing all over Sakai
// to feel more open and modern.
@if $standard-spacing-as-material {
    $standard-spacing: 16px; 
    $sites-nav-submenu-top: $standard-spacing;
    $tool-menu-padding: calc(#{$standard-spacing} / 2) 0 0 0;
}

//Built to be used for padding
//https://material-components.github.io/material-components-web-catalog/#/component/menu
$material-menu-padding: calc( #{$standard-spacing} / 2) 0 !default;
$material-menu-item-padding: calc(#{$standard-spacing} / 2) $standard-spacing !default;

//Built to be used for box-shadow
//https://material-components.github.io/material-components-web-catalog/#/component/elevation
$material-elevation-1dp: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12) !default;
$material-elevation-2dp: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !default;
$material-elevation-3dp: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12) !default;
$material-elevation-4dp: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12) !default;
$material-elevation-5dp: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12) !default;
$material-elevation-6dp: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12) !default;
$material-elevation-7dp: 0 4px 5px -2px rgba(0,0,0,.2), 0 7px 10px 1px rgba(0,0,0,.14), 0 2px 16px 1px rgba(0,0,0,.12) !default;
$material-elevation-8dp: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12) !default;

@if $portal-as-material {
    $primary-color: #15597e;
    $secondary-color: #42AAE0;
    $body-background-color: #fff;
    $top-header-background: $primary-color;
    $tool-menu-background-color: $body-background-color;
    $sites-nav-background: $body-background-color;
    $footer-background-color: $body-background-color;
}

@if $sites-nav-as-material {
    $divider-shadow-fixed: 0 1px 0 $tool-border-color;
    $sites-nav-menu-item-border-thickness: 1px;
    $sites-nav-menu-item-border-radius: $button-radius-pill;
    
    $sites-nav-menu-item-background: hsla(0, 0%, 92%, 1);
    $sites-nav-menu-item-color: hsla(0, 0%, 25%, 1);
    $sites-nav-menu-item-border-color: $sites-nav-menu-item-background;
    $sites-nav-menu-item-border-top:            $sites-nav-menu-item-border-thickness solid $sites-nav-menu-item-border-color;
    $sites-nav-menu-item-border-right:          $sites-nav-menu-item-border-top;
    $sites-nav-menu-item-border-bottom:         $sites-nav-menu-item-border-top;
    $sites-nav-menu-item-border-left:           $sites-nav-menu-item-border-top;
    
    $sites-nav-menu-item-hover-background: hsla(0, 0%, 82%, 1);
    $sites-nav-menu-item-hover-color: rgba(0,0,0,1);
    $sites-nav-menu-item-hover-border-color:      $sites-nav-menu-item-hover-background;
    $sites-nav-menu-item-hover-border-top:      $sites-nav-menu-item-border-thickness solid $sites-nav-menu-item-hover-border-color;
    $sites-nav-menu-item-hover-border-right:    $sites-nav-menu-item-hover-border-top;
    $sites-nav-menu-item-hover-border-bottom:   $sites-nav-menu-item-hover-border-top;
    $sites-nav-menu-item-hover-border-left:     $sites-nav-menu-item-hover-border-top;
    
    $sites-nav-menu-item-selected-background: hsla(200, 31%, 84%,1);
    $sites-nav-menu-item-selected-color: hsl(201, 71%, 20%);
    $sites-nav-menu-item-selected-border-color: $sites-nav-menu-item-selected-background;
    $sites-nav-menu-item-selected-border-top:   $sites-nav-menu-item-border-thickness solid $sites-nav-menu-item-selected-border-color;
    $sites-nav-menu-item-selected-border-bottom:$sites-nav-menu-item-selected-border-top;
    $sites-nav-menu-item-selected-border-left:  $sites-nav-menu-item-selected-border-top;
    $sites-nav-menu-item-selected-border-right: $sites-nav-menu-item-selected-border-top;
    
    $sites-nav-menu-item-selected-hover-background:   hsla(200, 31%, 76%,1);
    $sites-nav-menu-item-selected-hover-color: hsl(201, 71%, 20%);
    $sites-nav-menu-item-selected-hover-border-color: $sites-nav-menu-item-selected-hover-background;
    $sites-nav-menu-item-selected-hover-border-top:   $sites-nav-menu-item-border-thickness solid $sites-nav-menu-item-selected-hover-border-color;
    $sites-nav-menu-item-selected-hover-border-right: $sites-nav-menu-item-selected-hover-border-top;
    $sites-nav-menu-item-selected-hover-border-bottom:$sites-nav-menu-item-selected-hover-border-top;
    $sites-nav-menu-item-selected-hover-border-left:  $sites-nav-menu-item-selected-hover-border-top;
    
    $sites-nav-selected-submenu-border-color: #fff;
    $sites-nav-selected-submenu-border-color: transparent;
    $sites-nav-selected-submenu-border: none; 
    $sites-nav-submenu-border: none;
    $sites-nav-submenu-item-left-border: none;
    $sites-nav-submenu-item-padding: $material-menu-item-padding;
    $sites-nav-submenu-padding: $material-menu-padding;
    $sites-nav-submenu-shadow: $material-elevation-8dp;
    $sites-nav-submenu-top: -#{$standard-spacing}; //fallback to calc( #{$default-font-size} + #{$sites-nav-menu-item-border-thickness})
}

@if $tool-menu-as-material {
    $tool-menu-width: 200px + $standard-spacing;
    $tool-menu-width-collapsed: 52px;
    $tool-menu-item-separator-color: #fff;
    $tool-menu-item-background-color: #fff;
    $tool-menu-item-border-left: none;
    $tool-menu-item-margin-right: calc( #{$standard-spacing} / 2);
    $tool-menu-item-hover-background-color: hsla(0, 0%, 92%, 1);
    $tool-menu-item-hover-border-left: $tool-menu-item-border-left;
    $tool-menu-item-selected-text-color: hsl(201, 71%, 20%);
    $tool-menu-item-selected-icon-color: hsl(201, 71%, 20%);
    $tool-menu-item-selected-background-color: hsla(200, 31%, 84%,1);
    $tool-menu-item-selected-border-left: $tool-menu-item-border-left;
    $tool-menu-item-selected-hover-text-color: hsl(201, 71%, 20%);
    $tool-menu-item-selected-hover-icon-color: hsl(201, 71%, 20%);
    $tool-menu-item-selected-hover-border-left: $tool-menu-item-border-left;
    $tool-menu-item-selected-hover-background-color: hsla(200, 31%, 76%,1);
    $tool-menu-item-border-radius: 0 calc(#{$button-radius-pill} * 1.5) calc(#{$button-radius-pill} * 1.5) 0;
     
    $tool-menu-item-padding: calc( #{$standard-spacing} / 2) 0 calc( #{$standard-spacing} / 2) $standard-spacing;
    $tool-menu-item-collapsed-padding: $tool-menu-item-padding;
    $tool-lessons-toplevel-menu-icon-padding: $material-menu-item-padding;
    $tool-lessons-toplevel-menu-text-padding: $material-menu-item-padding;
    $tool-lessons-toplevel-menu-selected-background-color: $tool-menu-item-background-color;
    $tool-lessons-toplevel-menu-expanded-selected-background-color:$tool-menu-item-selected-background-color;
    $tool-lessons-toplevel-menu-sliding-background-color: $tool-menu-item-background-color;

    $tool-lessons-subpage-menu-text-padding: calc(#{$standard-spacing} / 2) $standard-spacing calc(#{$standard-spacing} / 2) calc(#{$standard-spacing} * 2);
    $tool-lessons-subpage-menu-selected-background-color: $tool-menu-item-selected-background-color;
    $tool-lessons-subpage-menu-selected-parent-background-color: $tool-menu-item-background-color;
    $tool-lessons-subpage-menu-expanded-background-color: $tool-menu-item-background-color;
    $tool-lessons-subpage-menu-border-radius: 0 $button-radius-pill $button-radius-pill 0;
}

@if $buttons-as-material {
    /* General button design */
    $button-radius: 4px;
    $button-text-transform: none;

    // Default (non-primary) button design:
    $button-text-color: $primary-color;
    $button-background: $background-color;
    $button-border-color: $button-text-color;
    $button-font-weight: 600;
    $button-shadow: none;
    // hover and focus states:
    $button-hover-text-color: $button-text-color;
    $button-hover-background: #F7F9FA;
    $button-hover-border-color: $button-hover-text-color;
    $button-hover-shadow: none;
    // active state:
    $button-active-text-color:$button-text-color;
    $button-active-background: #E3EBF0;
    $button-active-border-color:    $button-hover-border-color;
    $button-active-shadow-color: rgba(0,0,0,0);
    $button-active-shadow: none;
    // disabled state:
    $button-disabled-text-color:    #717171;
    $button-disabled-background:    #f6f6f6;
    $button-disabled-border-color:  #dbdbdb;
    $button-disabled-shadow:        none;
    $button-disabled-font-weight:   300;

    // Primary action button design:
    $button-primary-text-color:                 #fff;
    $button-primary-background:                 $primary-color;
    $button-primary-border-color:               $primary-color;
    $button-primary-text-transform: uppercase;
    $button-primary-font-weight: 600;
    $button-primary-shadow: $material-elevation-2dp;
 
    // hover and focus states for primary action button:
    $button-primary-hover-text-color:           $button-primary-text-color;
    $button-primary-hover-background:           #266688;
    $button-primary-hover-border-color:         #266688;
    $button-primary-hover-shadow: $material-elevation-4dp;
    // active state for primary action button:
    $button-primary-active-text-color:          $button-primary-text-color;
    $button-primary-active-background:          #5a93ab;
    $button-primary-active-border-color:        $button-primary-active-background;
    $button-primary-active-shadow-color:        $button-active-shadow-color;
    $button-primary-active-shadow:              $material-elevation-4dp;
}

@if $top-header-as-material {
    $top-header-separators-thickness: 0px;
    $top-header-profile-border-thickness: 2px;
    $top-header-item-spacing: calc(#{$standard-spacing} / 2);
    $top-header-text-display: none;
    $top-header-icon-size: calc(#{$standard-spacing} * 2);
    $top-header-sites-padding-top: 6px;
    $top-header-profile-border-color-top: $secondary-color;
    $top-header-profile-border-color-right: $secondary-color;
    $top-header-profile-border-color-bottom: $alt-colour;
    $top-header-profile-border-color-left: $background-color-secondary;
    $top-header-profile-border-color-inner: #fff;
}

@if $cards-as-material {
    $overview-portlet-border: none;
    $overview-portlet-border-radius: $button-radius;
    $overview-portlet-shadow: $material-elevation-1dp;
}

@if $lessons-as-material {
    $lessons-column-border:none;
    $lessons-item-border-top: 1px solid $sites-nav-menu-item-background;
    $lessons-item-hover-background: #fff;
    $lessons-item-hover-shadow: $material-elevation-4dp;
    $lessons-item-edit-display: none;
}
