.#{$namespace}sakai-rwiki {

  /*PART  1 - Edit*/
  /* tabbing contaner */
  ul.tabs {
    position: relative;
    margin-top: 0px;
    margin-left: 30px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding-top: 4px
  }
  /* class tor tab headding */
  .tabhead { margin: 2px 0 }
  /* tab links */
  ul.tabs li a { text-decoration: none; padding-top: 0px }
  /* highlighting of tabs */
  ul.tabs li a:hover { text-decoration: none }
  ul.tabs li a:active, ul.tabs li a:focus { outline: none }
  ul.tabs li {
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius: 5px 5px 0 0
  }
  /* turn off a tab header */
  ul.tabs li.tabHeadOff {
    zoom: 1;
    float: left;
    list-style: none;
    margin-left: 1px;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: var(--sakai-background-color-2);
  }
  /* turn on tab header */
  ul.tabs li.tabHeadOn  {
    zoom: 1;
    float: left;
    list-style: none;
    margin-left: 1px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: none;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: var(--sakai-background-color-1);
  }
  /* turn the tab content off */
  div.tabOff {
    zoom: 1;
    clear: left;
    width: 100%;
    display: none;
    float: left;
    z-index: 4;
    left: -9000px
  }
  /* trunf the tab content on, nested inside  */
  div.tabOn {
    zoom: 1;
    clear: left;
    width: 100%;
    display: block;
    left: 0px;
    z-index: 5
  }
  li.autoSaveOffClass { display: none }
  #rwiki_container { height: 100%; width: 100% }
  #guillotineFixer { clear: both }

  /* Stop deleting stuff and not testing it :( */
  /* Using Bootstrap icons instead of silk images */
  #toolbarButtonSave {
    background: none;
    position: relative;
    &:before {
      content: "\F259"; /* save */
      font-family: "bootstrap-icons";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  #toolbarButtonBold {
    background: none;
    position: relative;
    &:before {
      content: "\F5FC"; /* type-bold */
      font-family: "bootstrap-icons";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  #toolbarButtonItalic {
    background: none;
    position: relative;
    &:before {
      content: "\F5FD"; /* type-italic */
      font-family: "bootstrap-icons";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  #toolbarButtonSuper {
    background: none;
    position: relative;
    &:before {
      content: "\F607"; /* type-h1 */
      font-family: "bootstrap-icons";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  #toolbarButtonSub {
    background: none;
    position: relative;
    &:before {
      content: "\F607"; /* type-h2 */
      font-family: "bootstrap-icons";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  #toolbarButtonHeading { }
  #toolbarButtonTable {
    background: none;
    position: relative;
    &:before {
      content: "\F564"; /* table */
      font-family: "bootstrap-icons";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  #toolbarButtonLink {
    background: none;
    position: relative;
    &:before {
      content: "\F341"; /* link */
      font-family: "bootstrap-icons";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  #toolbarButtonImage {
    background: none;
    position: relative;
    &:before {
      content: "\F302"; /* image */
      font-family: "bootstrap-icons";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  #toolbarButtonRecover {
    background: none;
    position: relative;
    height: 1.7em;
    vertical-align: middle;
    &:before {
      content: "\F124"; /* arrow-counterclockwise */
      font-family: "bootstrap-icons";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }


  #toolbarButtonRecover {
      height: 1.7em;
      vertical-align: middle
  }
  .editToolBarContainer,.previewToolBarContainer,.autosaveToolBarContainer  {
      background-color: #efefde;
      padding: 3px;
      border: 1px solid #ccc
  }
  .editToolBarContainer select { zoom: 1; font-size: .9em; border: 1px solid #efeffe }
  a.editToolBar,a.editToolBar:visited,a.previewToolBar,a.previewToolBar:visited,a.autosaveToolBar,a.autosaveToolBar:visited  {
      border: 1px solid #efefde;
      padding: 2px 13px 3px;
  }
  a.editToolBar:hover,a.editToolBar:active,a.previewToolBar:hover,a.previewToolBar:active,a.autosaveToolBar:hover,a.autosaveToolBar:active {
      border: 1px solid #316ac5;
      cursor: pointer;
  }
  .previewToolBarContainer select { zoom: 1; font-size: .9em; border: 1px solid #efeffe }
  .autosaveToolBarContainer input { zoom: 1; font-size: .9em; border: 1px solid #efeffe }
  a.anchorpoint { vertical-align: top }
  .publicview { padding: 10px 10px 10px 30px }
  /* head is the edit page headder */
  #rwiki_head{ background-color: var(--sakai-background-color-2); height: 100%; overflow: hidden }
  /* surrounds the tabs */
  #rwiki_tabholder{
      float: left;
      overflow: hidden;
      height: 100%;
      width: 60%
  }
  /* contains the on off switchers */
  #rwiki_sidebar_switcher{ padding-right: 4px }
  #rwiki_sidebar_switcher a{ padding-top: 4px }
  /* this causes the content area to expand to 100% */
  .withsidebar{
      float: left;
      width: 80%;
      padding: 5px 0px 2px 0;
      background: var(--sakai-background-color-1);
  }
  .nosidebar{ float: none; padding: 5px 0 2px 0 }
  .nosidebar-head{ display: none }
  .nosidebar  textarea {
      border: 1px solid #cccccc;
      font-family: "Lucida Console", Monaco, "Courier New", "Lucida Sans Typewriter", monospace !important;
      width: 99%;
      padding: 3px;
      font-size: 10pt
  }
  /* this causes the textarea to expand to 100% */
  .withsidebar  textarea {
      border: 1px solid #cccccc;
      font-family: "Lucida Console", Monaco, "Courier New", "Lucida Sans Typewriter", monospace !important;
      padding: 3px;
      width: 100%;
      font-size: 10pt
  }
  #restoreContent{ background: #eee; cursor: not-allowed }
  #restoreVersion, #restoreDate{ color: #777; background: transparent }
  #restoreDate{ width: 30em }
  #rwiki_content textarea:focus { border: 1px solid #777 }
  .rwiki_edit_wrapper{ background: var(--sakai-background-color-1); height: 100%; overflow: hidden }
  /* you have to use padding to make it fit */
  #rwiki_sidebar {
      width: 17%;
      float: right;
      padding: 0;
      margin: 0;
      padding: 5px;
      margin: 5px;
      background: var(--sakai-background-color-2);
      color: var(--sakai-text-color-1);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px
  }
  #rwiki_sidebar .rwiki_renderedContent *:first-child{ margin-top: 0 }
  /* Using Bootstrap icons instead of silk icons */
  #sidebar_switch_on {
      text-align: right;
      float: right;
      padding-right: 18px;
      display: none;
      position: relative;
      &:after {
        content: "\F12E"; /* arrow-left */
        font-family: "bootstrap-icons"; 
        position: absolute;
        right: 0;
        bottom: 0;
      }
  }
  #sidebar_switch_off {
      text-align: right;
      float: right;
      padding-right: 18px;
      display: block;
      position: relative;
      &:after {
        content: "\F135"; /* arrow-right */
        font-family: "bootstrap-icons";
        position: absolute;
        right: 0;
        bottom: 0;
      }
  }
  .rwiki_previousContent { width: 90%; overflow: auto }
  .rwiki_create_sidebar .instruction { font-size: 20% }

  /*PART 1 - Info*/

  .permissionsGroupRole th{ padding-left: 3em !important }
  .rwiki_item_summary { border-collapse: collapse }
  .rwiki_item_summary td, .rwiki_item_summary th{ border: 2px solid #ccc }
  .itemSummary ul{ list-style: none; margin: 0; padding: 0 }
  .rwiki_item_summary .exclude { border: 1px solid #fff; padding: 1em 0 }

  /*PART 1 - General*/
  /*toolbar*/
  .rwiki_searchBox { white-space: nowrap }
  .rwiki_searchBox label{ padding-left: 1em }
  .rwiki_searchBox input { border: 1px solid #cccccc }
  .rwiki_searchBox input:focus { border: 1px solid #777 }
  .printLinks{
      padding: 3px;
      float: right;
      font-size: 1.3em;
      line-height: 1em
  }
  .printLinks a, .printLinks a:hover{
      width: 1.3em;
      line-height: 1.3em;
      text-decoration: none !important
  }
  #rssLink {
      background: url(/library/image/feed.png) center right no-repeat;
      text-decoration: none !important
  }

  /*breadcrumb*/
  h3.breadcrumb{
      padding: 1em 0 .5em 0;
      margin: 0 0 .5em 0;
      height:100%;
      overflow:hidden;
  }
  h3.breadcrumb #breadPref{
      color:#aaa;
  }
  .navPanel {
      border-bottom:1px solid #ddd;
      padding-bottom: 0.5em;
  }
  div.navPanel {
      overflow: visible;
  }
  .navPanel .viewNav{
      display: inline;
  }
  .viewNav h3.breadcrumb{
      padding:0;
      margin:0;
      display: inline;
  }
  #wikiCrumb {
      text-align:left;
      position:absolute;
      z-index:100;
      border: 1px solid #ccc;
      list-style-position: inside;
      margin: 0;
      padding: 0 1em 0 0;
      background:var(--sakai-background-color-2);
  }

  #wikiCrumb li{
      list-style:none;
      background-color: var(--sakai-background-color-2);
      padding:.3em 1em .3em 2em;
      line-height:1.5em;
      margin:0;
      position: relative;
      &:before {
        content: "\F0F6"; /* file-text */
        font-family: "bootstrap-icons";
        position: absolute;
        left: 5px;
        top: 5px;
      }
  }
  #visitedPages{
      padding-left:1em;
  }
  .visitedPagesOn{
      color:var(--tool-tab-hover-text-color);
      background:var(--tool-tab-hover-background-color) url(/library/image/sakai/expand.gif) center left no-repeat;
  }
  .visitedPagesOff{
      color:var(--tool-tab-hover-text-color);
      background:var(--tool-tab-hover-background-color) url(/library/image/sakai/collapse.gif) center left no-repeat;
  }
  /*Popups*/
  a.rwiki_help_popup_link, a.rwiki_help_popup_link:visited {
      padding-right: 1.3em;
      background: url(/sakai-rwiki-tool/images/help.png) right center no-repeat
  }
  a.rwiki_help_popup_link:hover, a.rwiki_help_popup_link:active { text-decoration: none !important; cursor: help }
  a.rwiki_help_popup_link span{ padding: 0 }
  .rwiki_help_popup {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      margin-top: 4px;
      margin-bottom: 4px;
      padding: 5px 5px 5px 5px;
      width:100%;
      width: 27em;
      color: inherit;
      border: 1px solid #09c;
      background-color: var(--sakai-background-color-2);
      line-height: 100%;
      z-index: 1;
  }
  .rwiki_help_popup textarea{
      width:98%
      }
  .rwiki_help_popup .act{ padding: 0; margin: 0 }
  .rwiki_help_popup h3{
      font-size: 1em;
      border-bottom: 1px solid #555;
      margin: .3em;
      padding: .3em
  }
  .pop_body{ line-height: 1.3em; padding: .3em }
  .pop1, .pop2 { width: 30% }
  .red{ color: red !important }
  .pop1 .pop_body{ font-size: .9em; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; }

  .historyPage .rwiki_renderedContent table { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; }
  .rwiki_searchForm {
      /* SAK-2380: Mozilla sticks a margin on the bottom of a form, IE does it to both! */
      margin-bottom: 0;
      margin-top: 0
  }
  .rwiki_collapse img { width: 12px; height: 12px }
  .rwiki_expand img { width: 12px; height: 12px }
  .rwiki_permissionsblock table { text-align: left; padding-left: 20px; font-size: 85% }
  .rwiki_docdetails { font-size: 85% }
  .rwiki_permissionsblock { font-size: 85% }
  .rwiki_docdetails table { text-align: left; padding-left: 20px }
  .listNav .rwiki_renderedContent { width: 150px; font-size: 80% }

  /*Part 1 - diff*/
  .differences .unchanged { border-left: 2px solid black }
  .differences .original { border-left: 2px solid red; background-color: #FF8080 }
  .differences .changed {
      border-left: 2px solid green;
      background-color: #80FF80
  }
  .differences .deleted { border-left: 2px solid red; background-color: #FF8080 }
  .differences .added {
      border-left: 2px solid green;
      background-color: #80FF80
  }
  .keytable{ border: 1px solid #666 }
  .keytable th{ text-align: center !important }
  .colordiff { border: 1px solid #ccc }
  .colordiff  td{
      padding: 5px
  }
  .pageleft{ }
  .pageright{ border-left: 1px dashed #666 }
  .tablecolordiff{ line-height: 120%; border: 1px solid #ccc }
  .unchangedLeft{ background-color: White }
  .unchangedRight{ background-color: White; border-left: 1px dashed #666 }
  .deletedLeft{ background-color: #FFAABB; padding: 5px }
  .deletedRight{
      background-color: #F5F5F5;
      border-left: 1px dashed #666
  }
  .addedLeft{ background-color: #F5F5F5 }
  .addedRight{
      background-color: #ADFF2F;
      border-left: 1px dashed #666
  }
  .changedLeft{ background-color: #FFFACD }

  .changedRight{
      background-color: #FFFACD;
      border-left: 1px dashed #666
  }

  /*PART 1 - info*/
  /*outgoing and incoming links*/
  /* Using Bootstrap icons instead of silk icons */
  #referencedLinks li span{
      padding: .3em 2em 0 0;
      position: relative;
      &:after {
        content: "\F135"; /* arrow-right */
        font-family: "bootstrap-icons";
        position: absolute;
        right: 0;
        bottom: 0;
      }
  }
  #referencingLinks li span{
      padding: .3em 0 0 2em;
      position: relative;
      &:before {
        content: "\F135"; /* arrow-right */
        font-family: "bootstrap-icons";
        position: absolute;
        left: 0;
        bottom: 0;
      }
  }
  #commentLinks li span{
      padding: .3em 0 0 2em;
      position: relative;
      &:before {
        content: "\F24C"; /* chat */
        font-family: "bootstrap-icons";
        position: absolute;
        left: 0;
        bottom: 0;
      }
  }

  /*PART 1 - View*/
  /*view:last mod message */
  /*comments*/
  .rwikicommentbody_1, .rwikicommentbody_2, .rwikicommentbody_3, .rwikicommentbody_4, .rwikicommentbody_5, .rwikicommentbody_6{
      margin: .25em;
      padding: 0;
      padding-top: 13px;
      color: #000
  }
  .rwikicommentarrow{
      padding: 0;
      height: 13px;
      background: transparent url(/sakai-rwiki-tool/images/bubble-arrow.png) 3% 0  no-repeat
  }
  .hidden .rwikicommentarrow{
      background: transparent url(/sakai-rwiki-tool/images/bubble-arrow-hidden.png) 3% 0  no-repeat
  }
  .commentList .itemAction { display: inline }
  .commentList .itemAction a{ border: none !important; padding: 2px }
  .commentList .itemAction li{
      display: inline;
      list-style: none;
      border-left: 1px solid #ccc;
      padding: 2px 2px 2px 6px
  }
  .commentList .itemAction li:first-child{ border-left: none }
  .commentList .commentHeader .commentAuthor{
      font-weight: bold;
      color: #777;
      font-size: 110%;
      padding: 0
  }
  .rwikicommentbody_1{ }
  .rwikicommentbody_2{ }
  .rwikicommentbody_3{ margin-left: 20px }
  .rwikicommentbody_4{ margin-left: 50px }
  .rwikicommentbody_5{ margin-left: 70px }
  .rwikicommentbody_6{ margin-left: 90px }
  .rwikicommenttop{
      -webkit-border-top-left-radius: 10px;
      -webkit-border-top-right-radius: 10px;
      -moz-border-radius: 10px 10px 0 0;
      padding: .5em;
      background: var(--sakai-background-color-2);
  }
  .rwikicomenttext {
      -webkit-border-bottom-right-radius: 10px;
      -webkit-border-bottom-left-radius: 10px;
      -moz-border-radius: 0 0 10px 10px;
      padding: 0 .5em;
      width: auto;
      background: var(--sakai-background-color-2);
      padding: 0  10px  10px  10px
  }
  .rwikicomenttext p.paragraph {
      background-color: var(--sakai-background-color-2);
      color: var(--sakai-text-color-1);
      margin: 0;
      padding: 0
  }
  .commentsHeader {
      border-top: 2px solid #ccc;
      overflow: hidden;
      height: 100%;
      padding-top: .3em;
      background-color: var(--sakai-background-color-2);
      color: var(--sakai-text-color-1);
  }
  .commentsHeader:active{ outline: none }
  .commentsHeader h5{ margin: 0; padding: 0 }
  .commentsTitle{
      background-color: var(--sakai-background-color-2);
      color: var(--sakai-text-color-1);
      font-size: 120%;
      padding: 3px 0
  }
  .commentsTitle a:active, .commentsTitle a:focus{ outline: none }
  .commentsTitle a.toggleClosed{
      padding-left: 1em;
      background: var(--sakai-background-color-2) url(/library/image/sakai/expand.gif) left no-repeat;
  }
  .commentsTitle a.toggleOpen{
      padding-left: 1em;
      background: var(--sakai-background-color-2) url(/library/image/sakai/collapse.gif) left no-repeat
  }
  .commentsToolBar{
      background-color: var(--sakai-background-color-2);
      color: var(--sakai-text-color-1);
      padding: .3em 3em;
      font-size: .8em;
      line-height:2em;}
  #createCommentLink{
      position: relative;
      padding:3em 1.6em;
      &:before {
        content: "\F4ED"; /* chat-plus */
        font-family: "bootstrap-icons";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
  }

  .rwiki_comments { list-style: none; margin: 0; padding: 0 }
  .rwiki_comments .hidden .rwikicommenttop, .rwiki_comments .hidden .rwikicomenttext{
      background: var(--sakai-background-color-2);
      color: var(--sakai-text-color-1);
  }
  .rwiki_comments .hidden .commentAuthor{ /*.commentHeader*/
      color: var(--sakai-text-color-2);
  }

  .lastmodified, .groupsforthispage { 
      font-size: smaller; 
      text-align: right; 
      padding:.5em 0;
   }
  

  /*view:index-list
  added to blocks that are higher than 300px - creates a scroll if so and sizes them to 300px
  added only to site index, could be added to other things*/
  .oversize{
      height: 300px !important;
      overflow: auto !important
  }

  .oversizeCrumb{
      height: 200px !important;
      overflow: auto !important;
  }

  .searchResultList{
      padding:0
  }
  .searchResultList li{
          padding:.5em 0
      }
  .searchResultList li h5{
      padding:0;
      font-size:1.2em;
      font-weight:100;
      margin:0
  }
  .searchResultList li h5 a{
      text-decoration:underline;
      }
  .searchResultList li strong{
      font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
  }
  .searchResultList li .searchItemBody{
      color: var(--sakai-text-color-1);
      background: var(--sakai-background-color-1);
  }
  .searchResultList li .searchItemFooter a{
      color: var(--sakai-text-color-1);
      background: var(--sakai-background-color-2);
  }

  .searchResultPager{
      display:inline;
      margin:1em 0;
      padding:.2em;
      background:var(--sakai-background-color-2);
  }

  .searchResultPager li{
      display:inline;
      list-style:none;
      margin:0 .5em;
  }
  .searchResultPager li a{
      font-weight:bold;
      font-size:1.2em;
      color: var(--sakai-text-color-2);
      background: var(--sakai-background-color-2);
  }

  .topPager{
      float:right;
  }
  #selectList{
      list-style:none;
      margin: 0;
      padding: 0;
  }
  #selectList li{
      margin:.1em 0;padding:.3em 0;
      width:80%;
  }
  .selectedSelected{
      background: var(--sakai-background-color-2);
      color:var(--sakai-text-color-1);
  }
  /*PART 2 - USER CREATED CONTENT STYLES*/

  /************************************************/

  .bold { font-weight: bold }
  .italic { font-style: italic }

  /* SAK-8663 Right to left text */
  .rtl{ unicode-bidi: override; direction: rtl }
  .line{ height: 1px; color: #aaa;background: #aaa;border:none }


  /* image positioning*/

  img {
      padding-top: 2px;
      padding-bottom: 1px;
      padding-left: 1px;
      padding-right: 1px
  }
  img.left { display: block; left: 0px }
  img.right { display: block; right: 0px }
  img.center {
      margin-left:auto;
      margin-right:auto;
      display:block;
  }
  img.float-left {
      float: left;
      margin-top: 3px;
      margin-right: 3px;
      margin-bottom: 3px
  }
  img.float-right {
      float: right;
      margin-top: 3px;
      margin-left: 3px;
      margin-bottom: 3px
  }
  /*****************************************/
  /*          Div positioning              */
  div.float-right {
      float: right;
      border-left: 1px solid #ccc;
      padding-left: 10px;
      margin-bottom: 5px;
      margin-left: 5px;
      width: 150px;
      font-size: 80%;
      text-align: left;
      color: #006699;
      overflow-y: auto
  }
  h4.search {
      font-size: 12px;
      line-height: normal;
      font-weight: normal;
      background: var(--sakai-background-color-2);
      padding: 4px;
      margin: 18px 0px 4px 0px
  }
  h5 {
      font-size: 10px;
      line-height: normal;
      font-weight: bold;
      background: var(--sakai-background-color-2);
      padding: 2px;
      margin: 14px 0px 4px 0px
  }
  h6 {
      font-size: 8px;
      line-height: normal;
      font-weight: bold;
      background: var(--sakai-background-color-2);
      padding: 2px;
      margin: 14px 0px 4px 0px
  }
  .heading-1, .heading-h1 { font-size: 150% }
  .heading-h2 { font-size: 140% }
  .heading-1-1, .heading-h3 { font-size: 130% }
  .heading-h4 { font-size: 120% }
  .heading-1-1-1, .heading-h5 { font-size: 110% }
  .heading-h6 { font-size: 105% }
  .quote {
      font-style: italic;
      color: inherit;
      background-color: inherit;
      font-family: inherit;
      font-size: inherit
  }

  /************************************************/
  /* inline comment formatting */
  .inline-wiki-comment-text {
          margin: 0 0.5em;
          padding: 0 0.25em;
          font-style: italic;
      font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  }
  .inline-wiki-comment {
          border: 2px dotted #CC9900;
          float: right;
          margin: 0.5em 0 0.5em 1em;
          padding: 0.5em 1em 0.5em 1em;
          width: 20%;
          font-style: italic;
          text-align: left;
          text-indent: 0;
      font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
      font-size: 90%;
          clear: right;
  }
  /************************************************/
  /* code formatting */
  .code {
      margin: 4px 0 ;
      padding: 5px;
      background: var(--sakai-background-color-2);
      border: 1px solid #ccc;
      font-family: courier, "courier new", monospace;
      font-size: 1.1em;
      line-height: 110%;
      width: 98%
  }
  .code pre {overflow:auto}
  .java-keyword {
      font-weight: bold;
      color: #00a;
      background-color: inherit
  }
  .java-object { color: #008; background-color: inherit }
  .java-quote { color: #00aa00; background-color: inherit }
  .xml-keyword { font-weight: bold }
  .xml-tag { color: #0000aa; background-color: inherit }
  /* weblog formatting */
  .blog-date {
      font-size: 16px;
      color: #000000;
      text-transform: none;
      margin-bottom: 10px;
      padding: 3px;
      border: 1px solid #5B5B5B
  }
  /* special formatting of a wiki table */
  .wiki-table { empty-cells: show; width: 100%; max-width: 100% }
  .wiki-table td {
      border-top: 1px solid #5b5b5b;
      padding: 4px 4px 4px 4px
  }
  .wiki-table th {
      border-top: 1px solid #5b5b5b;
      text-align: left;
      padding: 4px 4px 4px 4px;
      color: inherit;
      font-weight: bold;
      /* background-color: #DDEEFF; */
      background: var(--sakai-background-color-2);
      color: inherit
  }
  .wiki-table .table-odd { }
  .wiki-table .table-even { }
  /************************************************/
  /* list formatting                              */
  .list { }
  .list-title { font-weight: bold }
  .list ul {
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      padding-left: 0px;
      list-style-type: none
  }
  /* wiki lists */
  .rwikiRenderedContent ul,.rwiki_renderedContent ul{
      padding: 0 0 0 2em;
  }
  ul.minus { list-style-type: square }
  ul.star { list-style-type: circle }
  ol {
      padding: 0 0 0 2em !important;
  }
  ol.decimal { list-style-type: decimal}
  ol.roman { list-style-type: lower-roman }
  ol.ROMAN { list-style-type: upper-roman }
  ol.alpha { list-style-type: lower-alpha }
  ol.ALPHA { list-style-type: upper-alpha }
  ol.greek { list-style-type: lower-greek }
  ol.GREEK { list-style-type: upper-greek }
  ol.hiragana { list-style-type: hiragana }
  ol.HIRAGANA { list-style-type: hiragana-iroha }
  ol.katakana { list-style-type: katakana }
  ol.KATAKANA { list-style-type: katakana-iroha }
  ol.HEBREW { list-style-type: hebrew }
  /************************************************/
  /* index formatting                             */
  .index-top { border-top: 1px solid #003366; margin-bottom: 5px }
  .index-top th {
      padding: 1px 1px 1px 1px;
      text-align: left;
      font-weight: bold
  }
  .index { }
  .index td { padding: 1px 1px 1px 1px }
  .index th {
      margin-top: 5px;
      padding: 1px 1px 1px 1px;
      text-align: left;
      font-weight: bold;
      border-top: 1px solid #003366;
      border-bottom: 1px solid #003366
  }
  /************************************************/
  /* calendar display                             */
  .calendar { border-spacing: 0px }
  .calendar th { font-size: 0.8em }
  .calendar td { text-align: right }
  .calendar caption { text-align: left; font-weight: bold }
  .calendar .today { border: 3px solid #aaaaaa }
  .typeset img { padding: 0px }
  /*
   * CSS for Standard tree layout
   * Copyright (C) 2005 SilverStripe Limited
   * Feel free to use this on your websites, but please leave this message in the fies
   * http://www.silverstripe.com/blog
   */
  ul.tree{ width: auto; padding-left: 0px; margin-left: 0px; border: 1px solid #ccc; padding: 5px;}
  ul.tree img{ border: none }
  ul.tree, ul.tree ul { padding-left: 0 }
  ul.tree ul { margin-left: 16px }
  ul.tree li.closed ul { display: none }
  ul.tree li {
      list-style: none;
      background: url(/sakai-rwiki-tool/images/i-repeater.gif) 0 0 repeat-y;
      display: block;
      width: auto
  }
  ul.tree li.last { list-style: none; background-image: none }
  /* Span-A: I/L/I glpyhs */
  ul.tree span.a {
      background: url(/sakai-rwiki-tool/images/t.gif) 0 50% no-repeat;
      display: block
  }
  ul.tree span.a.last { background: url(/sakai-rwiki-tool/images/l.gif) 0 50% no-repeat }
  /* Span-B: Plus/Minus icon */
  ul.tree span.b { }
  ul.tree span.a.children span.b {
      background: url(/sakai-rwiki-tool/images/minus.gif) 0 50% no-repeat;
      cursor: pointer
  }
  ul.tree li.closed span.a.children span.b {
      background: url(/sakai-rwiki-tool/images/plus.gif) 0 50% no-repeat;
      cursor: pointer
  }
  /* Span-C: Spacing and extending tree line below the icon */
  ul.tree span.c { margin-left: 16px }
  ul.tree span.a.children span.c {
      background: url(/sakai-rwiki-tool/images/i-bottom.gif) 0 50% no-repeat
  }
  ul.tree span.a.spanClosed span.c { background-image: none }
  /* Anchor tag: Page icon */
  ul.tree a {
      white-space: nowrap;
      overflow: hidden;
      padding: 0px 0px 0px 18px;
      line-height: 16px;
      background: url(/sakai-rwiki-tool/images/page-file.png) 0 50% no-repeat
  }
  ul.tree span.a.children a {
      background: url(/sakai-rwiki-tool/images/page-openfoldericon.png) 0 50% no-repeat
  }
  ul.tree span.a.children.spanClosed a {
      background: url(/sakai-rwiki-tool/images/page-foldericon.png) 0 50% no-repeat
  }
  /* Unformatted tree */
  ul.tree.unformatted li { background-image: none; padding-left: 16px }
  ul.tree.unformatted li li { background-image: none; padding-left: 0px }
  /*
   * Divs, by default store vertically aligned data
   */
  ul.tree li div {
      float: right;
      clear: right;
      height: 1em;
      margin-top: -26px
  }
  /* As inside DIVs should be treated normally */
  ul.tree div a {
      padding: 0;
      background-image: none;
      min-height: auto;
      height: auto
  }
  ul.tree li A:link, ul.tree li A:hover, ul.tree li A:visited { color: #111111 }
  ul.tree li .over{ background-color: pink }

  /** special class to position something offscreen, hide it for standard access,
  but render it for accessibility */
  .hidden {
      position:absolute;
      left:-10000px;
      top:auto;
      width:1px;
      height:1px;
      overflow:hidden;
  }

  div.rwikiRenderedContent table.listHier {
      width: auto;
  }

  div.rwikiRenderedContent table.listHier th {
      font-weight: bold;
  }

  .listNav.specialLink {
      float: right;
      text-align: right;
      margin: 0;
  }
}

/* Default: Remove underline for everything inside #rwiki_content */
#rwiki_content * {
    text-decoration: none;
}

/* Add underline only for h1, h2, h3, h4 and their nested anchor tags */
#rwiki_content h1, 
#rwiki_content h2, 
#rwiki_content h3, 
#rwiki_content h4,
#rwiki_content h1 a, 
#rwiki_content h2 a, 
#rwiki_content h3 a, 
#rwiki_content h4 a {
    text-decoration: underline;
}

