@import "_navigation_mixins";

body.is-logged-out{
	.#{$namespace}loginUser{
		li{
			a{
				.login-Icon{
					display: none;
				}
			}
		}
	}
	.#{$namespace}topHeader{
		@media #{$phone}{
			min-height: var(--header-size);
		}
		a {
			&:focus, &:hover, &:active {
				text-decoration: underline;
				color: var(--sakai-text-color-1);
			}
		}
	}
}

.#{$namespace}mainHeader{
		border-bottom:1px solid var(--sakai-border-color);
		position: relative;

		.#{$namespace}headerLogo{
		width: 100%;
		padding: 0 $standard-spacing;
		height: $banner-height;
		background: var(--top-header-background);
		text-align: center;
		@include transition( width 0.5s linear 0s );

		.#{$namespace}headerLogo--institution{
			background: var(--logo) no-repeat center center;
			width: var(--logo-width);
			height: 100%; // align vertically center
			float: left;
			background-size: var(--logo-width) var(--logo-height);
			opacity: var(--logo-opacity);
		}
	}

	.#{$namespace}loginUser{
		display: inline-flex;
		li{
			display: inline-block;
			margin: 0 0.8em 0 0;
			@media #{$phone}{
				margin: 0 0.2em 0 0;
			}
			.#{$namespace}loginUser__message{
				display: inline-block;
				margin: 0 1em 0 0;
			}
			a{
				.login-Icon{
					@extend .fa-power-off;
					@extend .fa;
					@extend .fa-lg;
					margin: 0 0.6em 0 0;
					@media #{$phone}{
						font-size: 1.7em;
						position: relative;
						left: 0.4em;
					}
				}
			}
		}
		p{
			margin: 0.05em 1.5em 0 0;
		}
	}

	&.is-maximized{
		.siteNavWrap{
			@media #{$phone}{
				display: none;
			}
			background: var(--sites-nav-background);
		}
	}

	&.is-fixed {
		.#{$namespace}topHeader {
			padding-top: $banner-height;
		}
		.#{$namespace}headerLogo {
			position: fixed;
			top: 0;
			width: 100%;
			box-shadow: var(--divider-shadow);
			z-index: 1000;
			overflow: visible;
		}
	}

	@media #{$phone}{
		background: var(--sakai-primary-color-1);
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 20;
	}
}

.userNav_link{
	color: var(--sakai-text-color-1);
	font-family: $header-font-family;
	font-size: 0.9em;
	font-weight: $header-font-weight;
	padding: 0 0.5em 0 0;
	text-decoration: none;
}

.is-logged-out{
	.userNav__subnav{
		position: inherit;
	}
}

.userNav__subnav{
	font-family: $header-font-family;
	position: absolute;
	right: 0em;
	width: 20em;
	z-index: 99;
	box-shadow: var(--elevation-8dp);
	list-style: none;
	padding: 0 0 0 0;
	li{
		display: flex;
		border: 0px none;
		@include border-radius( 0 );
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		min-height: 15px;
		a{
			display: block;
			padding: 0.65em;
			text-decoration: none;
			color: var(--link-color);
			line-height: 1em;
			&:focus, &:hover{
				text-decoration: underline;
				color: var(--link-hover-color);
			}
			&:active
			{
				text-decoration: underline;
    			color: var(--link-active-color);
			}
			.toolMenuIcon{
				@extend .fa-fw;			// standardize the width of all icons for proper text alignment
				vertical-align: sub;
				margin: 0 0.5em 0 0;
			}
		}
	}
	&.is-visible{
		display: block;
		margin: 0.4em 0 0 -0.55em;
	}
	&.is-hidden{
		display: none;
	}
	.#{$namespace}userNav__submenuitem--fullname-and-id{
		padding-top: 1em;
		color: var(--sakai-text-color-1);
		display: inline-block;
		margin-bottom: 5px;
		width: 10em;
		word-wrap: break-word;
		vertical-align: top;

		.#{$namespace}userNav__submenuitem--fullname{
			font-weight: $header-font-weight;
			font-size: 120%;
			line-height: 1.2;
			padding: 2px 0;
		}

		.#{$namespace}userNav__submenuitem--displayid{
			margin-top: $standard-space;
			font-weight: normal;
			line-height: 1.2;
		}

	}
	.#{$namespace}userData{
		border-bottom: 1px solid var(--tool-border-color);
		margin-bottom: 0.5em;
		background-color: var(--tool-menu-background-color);
	}

	.#{$namespace}userNav__submenuitem--profile-and-image{
		display: inline-block;
		vertical-align: top;
		padding: $standard-spacing $standard-spacing 0 $standard-spacing;

		.#{$namespace}userNav__submenuitem--profilepicture{
			width: 64px;
			height: 64px;
			margin: 0; /* to override, within the dropdown panel */
		}

		.#{$namespace}userNav__submenuitem--profile{
			display: block;
		}
	}
}

.#{$namespace}topHeader{
	background: var(--top-header-background);
	color: var(--sakai-text-color-inverted);
	font-size: 1em;
	height: auto;
	width: 100%;
	box-shadow: var(--divider-shadow);

	a
	{
		@include display-flex;
		@include align-items( center );

		color: var(--topNav-text-color);
		@media #{$phone} {
			line-height: 1;
		}
	}
	> * {
		transition: all 0.3s ease;
		@media #{$phone}{
			display: inline;
		}
	}
	.#{$namespace}loginNav{
		height: $banner-height;
		@include flex-shrink( 0 );
		@include display-flex;
		@include align-items( center );
		@include justify-content( flex-end );

		#roleSwitch {
			@include display-flex;
			@include align-items( center );
			margin-left: $top-header-item-spacing;
			padding-left: $top-header-item-spacing;
			border-left: $top-header-separators-thickness solid var(--topNav-border-color);
			white-space: nowrap;

				@media #{$phone} {
					&.menu-not-setup {
						display: none;
					}
				}

			// Show as a menu on mobile
			#roleSwitchDropDownToggle {
				display: none;

				@media #{$phone} {
					display: block;
				}

				vertical-align: middle;
				text-decoration: none;

				i {
					font-size: 1.33333em;
					vertical-align: -15%;
				}

				&:hover {
					text-decoration: none;
					color: var(--sakai-text-color-inverted);
						background: rgba(0,0,0,.2);
						border-radius:50%;
				}
			}

			#roleSwitchDropDown {
				@media #{$phone} {
					position: absolute;
					left: -100000000px;
					height: 1px;
					width: 1px;
					overflow: hidden;

					> i {
						display: none;
					}
				}

				@media #{$nonPhone} {
					> i {
						display: inline-block;
						vertical-align: middle;
					}
					.#{$namespace}roleSwitch__anchor {
						display: inline-block;
					}
				}

				line-height: 1em;
				display: inline-block;

				@media #{$phone} {
					&.open {
						top: calc((#{$banner-height} / 2) + #{$default-font-size} + 4px); 	// half of the height of the banner plus the height of the line plus half the height of the arrow tip border (because it is a triangle)
						left: auto;
						height: auto;
						width: auto;
						background: var(--sakai-background-color-2);
						box-shadow: var(--elevation-4dp);
						padding: 1em;
						z-index: 50;
						overflow: visible;

						&:after {
							bottom: 100%;
							right: 21px;
							border: solid transparent;
							content: " ";
							height: 0;
							width: 0;
							position: absolute;
							pointer-events: none;
							border-color: transparent;
							border-bottom-color: var(--sakai-background-color-2);
							border-width: 7px;
							margin-left: -7px;
							outline: 0;
						}

						a {
							display: inline-block;
						}
					}
				}
			}

			#roleSwitchAnchor {
				text-decoration: none;
				@media #{$phone} {
					color: var(--sakai-primary-color-1);
				}

				@media #{$nonPhone} {
					color: var(--topNav-text-color);
					display: inline-block;
				}

				&:hover, &:active {
					span {
						text-decoration: underline;
					}
				}

				&.#{$namespace}roleSwitch__exit {
					color: var(--topNav-text-color);
				}
			}
		}
	}

	@media #{$phone}{
		@include display-flex;
		position: fixed;
		width: 100%;
		top: 0;
		font-size: 12px;
		min-height: var(--header-size);
		box-shadow: none;

		&.moving{
			top: -4.2em;
		}
	}

}

#mastLogin{

	// make it so the separator lines are a consistent height
	> * {
		height: 2.3em;
		line-height: 2.3em;
	}

	@media #{$phone}{
		width: calc(100% - #{var(--logo-width)});
	}

	ul{
		display: inline-block;
		text-align: left;
		padding: 0 0.5em;
		margin-bottom:0px;
	}


	.is-hidden{
		display: none;
	}


	#loginForm{

		@include display-flex;
		@include align-items( center );
		@include justify-content( flex-end );

		label{
			margin: 0 0.5em 0 0;
			font-weight: normal;
			text-transform: capitalize;

			@media #{$phone}{
				display: none;
			}
		}
		input[type="text"],input[type="password"],input[type="email"]{
			margin: 0 1em 0 0;
			padding: 0.25em;

			@media #{$phone}{
				width: 40%;
				margin-right: 0.6em;
				font-size: $default-font-size - 2px;
			}
		}
		#submit{
			margin: 0;
			padding: 0.4em 1em;
			font-size: $default-font-size;
			position: relative;

			@media #{$phone}
			{
				font-size: $default-font-size - 2px;
				padding: 0.25em 1em;
			}
		}
		.#{$namespace}loginForm__button{
			@extend .button;
		}
	}

	#loginUser{
		@include display-flex;
		@include align-items( center );

		&.has-avatar:hover .#{$namespace}userNav__submenuitem--profilepicture,
			&.has-avatar:active .#{$namespace}userNav__submenuitem--profilepicture
		{
				box-shadow:inset 0 0 0 2px var(--top-header-profile-border-color-inner), 0 0 0 2px rgba(0,0,0,.2);
		}
		&.has-avatar:active .#{$namespace}userNav__submenuitem--profilepicture {
			box-shadow:inset 0 0 0 2px var(--top-header-profile-border-color-inner), 0 0 0 2px rgba(0,0,0,.6);
		}

		&.has-avatar:hover .#{$namespace}userNav__submenuitem--username,
			&.has-avatar:hover .has-avatar .#{$namespace}userNav__submenuitem--userid
		&.has-avatar:active .#{$namespace}userNav__submenuitem--username,
			&.has-avatar:active .has-avatar .#{$namespace}userNav__submenuitem--userid,
		&.has-avatar .#{$namespace}userNav__submenuitem--username:hover,
			&.has-avatar .#{$namespace}userNav__submenuitem--username:active
		{
			color: var(--topNav-text-color);
			text-decoration: underline;
		}
	}

	.has-avatar, .no-avatar{
		position: relative;
		
		.#{$namespace}userNav__submenuitem--username, .#{$namespace}userNav__submenuitem--userid{
			text-decoration: none;

			span.textlink {
				display: $top-header-text-display;
				max-width: 100px;
				overflow: hidden;
				position: relative;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}

	.no-avatar
	{
		text-decoration: none;

		&::after
		{
			content: "\f0d7"; /* fa-carrot-down */
			margin-top: 2px;
			margin-left: 0.5em;
			font-family: FontAwesome;
			font-size: 1em;
			color: var(--topNav-text-color);
		}

		span
		{
			line-height: 1.2;
		}

		&:hover .#{$namespace}userNav__submenuitem--username, &:active .#{$namespace}userNav__submenuitem--username
		{
			text-decoration: none;
			color: var(--topNav-text-color);
		}

		.#{$namespace}userNav__submenuitem--userid
		{
			display: none;
		}
	}

	.has-avatar{
		.#{$namespace}userNav__submenuitem--profilelink{
			padding: 0 !important;
		}
		.#{$namespace}userNav__submenuitem--profilepicture{
			width: 2.3em;
			height: 2.3em;
			display:inline-block;
			background-size: auto 100%;
			background-position: 50%;
			border-radius:50%;
			margin: 0 4px 0 0;
			border: $top-header-profile-border-thickness solid var(--top-header-profile-border-color-top);
			border-right-color: var(--top-header-profile-border-color-right);
			border-bottom-color: var(--top-header-profile-border-color-bottom);
			border-left-color: var(--top-header-profile-border-color-left);
			border-radius: 50%;
			box-shadow:inset 0 0 0 2px var(--top-header-profile-border-color-inner);
			position: relative;

			&:hover, &:active
			{
					box-shadow:inset 0 0 0 2px var(--top-header-profile-border-color-inner), 0 0 0 2px rgba(0,0,0,.2);
			}
			&:active {
				background:inset 0 0 0 2px var(--top-header-profile-border-color-inner), 0 0 0 2px rgba(0,0,0,.4);
			}
			@media #{$phone}
			{
				margin-right: 0;
			}
		}
		.#{$namespace}userNav__pic-changer{
			overflow: hidden;
			&:hover, &:active
			{
				&:after {
					content: 'Change';
					background: var(--sakai-background-color-3);
					color: var(--sakai-text-color-inverted);
					position: absolute;
					bottom: 0px;
					font-size: 10px;
					width: 100%;
					text-align: center;
					padding: 0 0 4px;
					box-shadow: -1px 0 3px var(--sakai-background-color-3);
				}
			}
		}
		.#{$namespace}userNav__submenuitem--username span.textlink, .#{$namespace}userNav__submenuitem--userid span.textlink {
			@media #{$phone}{
				display: none;
			}
		}
	}

	.#{$namespace}loginUser{
		padding: 0.9em 0.5em;
		@media #{$phone}{
			padding: 0em;
		}
	}

	.#{$namespace}userNav__dropdown, .#{$namespace}userNav__drop{
		float: right;
		position: relative;
		margin-top: -2.5em;
		padding: 18px 22px 27px 14px;
		display: block;
		outline: 0;
		left: 12px;
		&.is-clicked{
			@include transform( rotate(180deg) );
			position: relative;
			top: -0.2em;
			left: 1.3em;
			outline: 0;
		}
		@media #{$phone}{
			padding: 18px 22px 3px 14px;
		}
	}

	#loginLinks{
		font-family: $header-font-family;
		list-style: none;
		margin-left: $top-header-item-spacing;
		padding: 0;
		padding-left: $top-header-item-spacing;
		border-left: $top-header-separators-thickness solid var(--topNav-border-color);
		@include display-flex;
		@include align-items(center);

		@media #{$phone}
		{
			margin: 0;
			border: 0 none;
		}

		.no-avatar ~ ul:after
		{
			left: 91.5%;

			@media #{$phone}
			{
				margin-top: 3.3em;
				left: auto;
				right: 1.65em;
			}
		}

		ul{
			background-color: var(--tool-tab-background-color);
			text-align: left;
			padding: 0 0 0 0;
			margin: 0.48em 1em 0 0.9em;
			@extend .userNav__subnav;
			&:after {
				bottom: 100%;
				@if $top-header-text-display == "none" {
					left: 90%;
				} @else {
					left: 85%;
				}
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: transparent;
				border-bottom-color: var(--tool-menu-background-color);
				border-width: 7px;
				outline: 0;
				@media #{$phone}{
					left: auto;
					right: 2.65em;
				}
			}
			li:last-of-type
			{
				margin-bottom: 0.5em; /* to match the top of the dropdown */
			}
			.#{$namespace}userNav__submenuitem-indented{
				padding: 0 $standard-spacing;

				@media #{$phone}
				{
					padding-left: 2em;
				}
			}
			.#{$namespace}userNav__submenuitem-toggle label {
				padding-left: 0.65em; // to match 'li a' padding
			}
			@media #{$phone}{
				margin: 3.9em 0 0 -9.8em;
				position: fixed;
				top: 0.3em;
				z-index: 61;
			}
			.#{$namespace}loginUser{
				padding: 0 0 0 0;
				width: 100%;
				p{
					width: 100%;
				}
			}
			.#{$namespace}userData{
				@media #{$phone}{
					color: var(--sakai-text-color-1);
					display: block;
					font-weight: 400;
					padding: 0.7em 0.65em;
				}
			}
			a{
				color: var(--link-color);
				padding: 0.25em 0.25em;
				&:hover, &:focus
				{
					color: var(--link-hover-color);
				}
				&:active
				{
					color: var(--link-active-color);
				}
			}
		}
		.#{$namespace}userNav__drop-btn{
			i {
				position: relative;
				top: -0.6em;
				left: 0.4em;
			}
		}
	}

	.#{$namespace}userNav__submenuitem--userid{
		font-style: italic;
	}
}

/* because #loginLinks appears on the Gateway page when two log-in links are available (e.g. for CAS), the following applies only when you are logged in: */
.is-maximized #loginLinks
{
	border-left: $top-header-separators-thickness solid var(--topNav-border-color);
}

.#{$namespace}sitesNav__menu{
	list-style: none;
	padding: 0 0 0 0;
	margin-bottom:0px;
}

.portal-bullhorns-buttons{
	position: relative;
	display: inline-block;
	margin-left: $top-header-item-spacing;
	padding-left: $top-header-item-spacing;
	border-left: $top-header-separators-thickness solid var(--topNav-border-color);
    white-space: nowrap;
}

##{$namespace}bullhorn {
	display: inline-block; /* Sakai 11.1 makes it flex, which is wrong */
	width: $top-header-icon-size;
	height: $top-header-icon-size;
	.icon-sakai--academic-bullhorn {
		padding:0;
	}
	&:hover {
		text-decoration: none;
		color: var(--topNav-text-color);
		background: rgba(0,0,0,.2);
		border-radius:50%;
	}
	&:active {
		background: rgba(0,0,0,.4);
	}
}


.view-all-sites-btn{
	position: relative;
	display: inline-block;
	margin-left: $top-header-item-spacing;
	padding-left: $top-header-item-spacing;
	border-left: $top-header-separators-thickness solid var(--topNav-border-color);

	@media #{$phone}{
		display: none;
	}
}

.view-all-sites-btn a{
	text-decoration: none;
	&:hover, &:active
	{
		text-decoration: none;
		color: var(--topNav-text-color);

		i
		{
			background: rgba(0,0,0,.2);
			border-radius:50%;
		}

		span.all-sites-label
		{
			text-decoration: underline; /* just underline the text */
		}
	}
	&:active i {
		background: rgba(0,0,0,.4);
	}
}

.all-sites-icon, .all-sites-label{
	vertical-align: middle;
}
.all-sites-label {
	display: $top-header-text-display;
	margin-left: $standard-space;
}
.all-sites-icon
{
	/* Using !important here because CKEditor pulls in its own
		fontawesome.css which adjusts the size of our icon unless
		we override it. */
	font-size: 16pt !important;
	padding-top: $top-header-sites-padding-top;
	display: inline-block;
	width: $top-header-icon-size;
	height: $top-header-icon-size;
}
#topnav_container
{
	@include display-flex;
	@include align-items(center);
	background-color: var(--sites-nav-background);
	min-height: $banner-height;
	padding: 0 $standard-spacing;		// space on the sides; top and bottom spacing will be determined by children
	transition:var(--sak-theme-switch-ease);
}

#linkNav{
	ul{
		@include display-flex;
		@include flex-wrap( wrap );
		font-family: $header-font-family;
		margin: $standard-spacing 0 0 0;
		padding: 0;

		li.#{$namespace}sitesNav__menuitem{
			@include display-flex;
			@include align-items(center);
			position: relative;
			margin: 0 $standard-spacing $standard-spacing 0;	// space the items apart, and space vertically if wrapped
			padding: 0;
			border-radius: $sites-nav-menu-item-border-radius;
			background: var(--sites-nav-menu-item-background);

			&:hover {
				box-shadow: var(--elevation-2dp);
				transition: $active-transition-hover;
				background: var(--sites-nav-menu-item-hover-background);
				border-color: var(--sites-nav-menu-item-hover-border-color);
				a {
					background: var(--sites-nav-menu-item-hover-background);
					border-color: var(--sites-nav-menu-item-hover-border-color);
				}
			}
			&:active {
				box-shadow: var(--elevation-1dp);
				transition: $active-transition-active;
				background: var(--sites-nav-menu-item-active-background);
				border-color: var(--sites-nav-menu-item-active-border-color);
				a {
					background: var(--sites-nav-menu-item-active-background);
					border-color: var(--sites-nav-menu-item-active-border-color);
				}
			}

			.link-container{
				@include display-flex;
				@include align-items( center );
				@include sitesNavStyling();
			}

			&.dropdown-is-visible {
				background: var(--sites-nav-menu-item-background);
				border-radius: $sites-nav-menu-item-border-radius $sites-nav-menu-item-border-radius 0 0;
				box-shadow: 0 5px 5px -3px rgba(0,0,0,.6);
				&:after {
					content: "";
					border-bottom: var(--sites-nav-selected-submenu-border);
					width: 100%; // fallback for browsers who don't calculate nested equations
					width: calc(100% - (2 * #{$sites-nav-menu-item-border-thickness}));	// width minus the left and right border widths
					position: absolute;
					bottom: 0;
					left: $sites-nav-menu-item-border-thickness;					// left border width
					z-index: 100;
				}
				
				.link-container, .#{$namespace}sitesNav__dropdown, .#{$namespace}sitesNav__favbtn {
					border-top: $sites-nav-menu-item-border-top;
					border-right: $sites-nav-menu-item-border-right;
					border-bottom: $sites-nav-menu-item-border-bottom;
					border-left: $sites-nav-menu-item-border-left;
					border-color: var(--sites-nav-menu-item-border-color);
					background: var(--sites-nav-menu-item-background);
				}
			}

			span {
				line-height: 1;
			}
			
			.#{$namespace}sitesNav__dropdown, .#{$namespace}sitesNav__favbtn {
				@include sitesNavStyling();
				box-sizing: content-box;			// to allow width and height control the size to match the site title link text
				width: $default-font-size; 			// to match the height
				height: $default-font-size;			// to match the link text size

				&:hover,
				&:focus {
					background: var(--sites-nav-menu-item-hover-icon-background);
					border-color: var(--sites-nav-menu-item-hover-icon-border-color);
				}
			}
			
			.#{$namespace}sitesNav__dropdown{
				@extend .fa-angle-down;
				@extend .fa;
				@extend .fa-lg;
				margin-left: -#{$sites-nav-menu-item-border-thickness}; 					// to overlap the left border with the site title's border, so border thickness will remain 1px and hover will still work				
				
				&.is-clicked{
					@include transform( rotate(180deg) );
					top: 40%;
					border-right: $sites-nav-menu-item-hover-border-left;	// using the left variable because of the item rotation (right is left)
					border-bottom: $sites-nav-menu-item-hover-border-top;	// using top variable because of the item rotation (bottom is top)
					border-left: $sites-nav-menu-item-hover-border-right;	// using the right variable because of the item rotation (left is right)
					border-color: var(--sites-nav-menu-item-border-color);
					background: var(--sites-nav-menu-item-background);
				}
			}
			
			.#{$namespace}sitesNav__favbtn {
				@extend .fa-star;
				@extend .fa;
				margin-right: -#{$sites-nav-menu-item-border-thickness}; 					// to overlap the right border with the site title's border, so border thickness will remain 1px and hover will still work				

				&.non-fav {
					@extend .fa-star-o;
					@extend .fa;
				}
			}
			
			.#{$namespace}sitesNav__submenu {
				position: absolute;
				padding: $standard-spacing 0;
				top: $sites-nav-submenu-top;
				left: 0;
				z-index: 99;
				display: none;
				min-width: calc(100% + (#{$standard-spacing} * 2));	// prevent rounded corner visual bugs by forcing submenu to be larger than site title
				width: max-content; // if the content is wider than the site title, expand to the longest tool name
				border: $sites-nav-submenu-border;
				border-color: var(--sites-nav-submenu-border-color);
				background: var(--sites-nav-menu-item-background);
				box-shadow: 0 5px 5px -3px rgba(0,0,0,.6);
				border-radius: 0 $sites-nav-menu-item-border-radius $sites-nav-menu-item-border-radius $sites-nav-menu-item-border-radius;
				.#{$namespace}sitesNav__submenuitem {
					display: block;
					// border: 0px none;
					@include border-radius( 0 );
					margin: 0 0 0 0;
					padding: 0 0 0 0;
					min-height: 15px;

					.#{$namespace}sitesNav__submenuitem-link, a {
						@include display-flex;
						@include align-items(center);
						padding: $sites-nav-submenu-item-padding;
						text-decoration: none;
						color: var(--sites-nav-submenu-item-color);
						font-size: $sites-nav-submenu-item-text-size;
						line-height: 1em;
						background: var(--sites-nav-submenu-background);
						
						&:hover, &:active {
							color: var(--sites-nav-submenu-item-color); // to override default link hover color
							background: var(--sites-nav-submenu-item-hover-background);
						}
						&:active {
							background: var(--sites-nav-submenu-item-active-background);
						}
						&:focus {
							outline-offset: -#{$focus-outline-width};	// to match the width of the default link focus to fit in the tool's link container
						}
						.toolMenuIcon{
							@extend .fa-fw;
							vertical-align: sub;
							margin: 0;
						}
					}
					.#{$namespace}sitesNav__submenuitem-icon {
						display: inline-block;
						vertical-align: middle;
						padding: 0 $standard-spacing 0 0;
					}
					.#{$namespace}sitesNav__submenuitem-title {
						display: inline-block;
					}
					&.#{$namespace}sitesNav__submenuitem__gotosite {
						border-top: 1px solid var(--sites-nav-submenu-item-divider-color);
						a {
							padding-left:0;
						}
						> a:after {
							font-family: FontAwesome;	
							content: '\f178';	
							margin-left: 10px;	
							color: var(--sites-nav-submenu-item-icon-color);	
						}	
	
						&:hover {	
							border-top: 1px solid var(--sites-nav-submenu-item-divider-color);	
	
							> a:after {	
								color: var(--sites-nav-submenu-item-hover-icon-color);	
							}	
						}
					}
				}
				&.is-visible{
					display: block;
				}
				&.is-hidden{
					display: none;
				}
			}
			
			// Current site is selected:
			&.is-selected {
				background: var(--sites-nav-menu-item-selected-background);

				&:hover {
					background: var(--sites-nav-menu-item-selected-hover-background);
					border-color: var(--sites-nav-menu-item-selected-hover-border-color);
					a {
						background: var(--sites-nav-menu-item-selected-hover-background);
						border-color: var(--sites-nav-menu-item-selected-hover-border-color);
					}
				}

				&:active {
					background: var(--sites-nav-menu-item-selected-active-background);
					border-color: var(--sites-nav-menu-item-selected-active-border-color);
					a {
						background: var(--sites-nav-menu-item-selected-active-background);
						border-color: var(--sites-nav-menu-item-selected-active-border-color);
					}
				}

				.link-container, .#{$namespace}sitesNav__dropdown, .#{$namespace}sitesNav__favbtn {
					background: var(--sites-nav-menu-item-selected-background);
					border-top: $sites-nav-menu-item-selected-border-top;
					border-right: $sites-nav-menu-item-selected-border-right;
					border-bottom: $sites-nav-menu-item-selected-border-bottom;
					border-left: $sites-nav-menu-item-selected-border-left;
					border-color: var(--sites-nav-menu-item-selected-border-color);
					color: var(--sites-nav-menu-item-selected-color);
					font-weight: $sites-nav-menu-item-selected-font-weight;

					&:hover, &:focus {
						border-top: $sites-nav-menu-item-selected-hover-border-top;
						border-right: $sites-nav-menu-item-selected-hover-border-right;
						border-bottom: $sites-nav-menu-item-selected-hover-border-bottom;
						border-left: $sites-nav-menu-item-selected-hover-border-left;
						border-color: var(--sites-nav-menu-item-selected-hover-border-color);
						background: var(--sites-nav-menu-item-selected-hover-background);
					}
					&:active {
						background: var(--sites-nav-menu-item-selected-active-background);
						border-color: var(--sites-nav-menu-item-selected-active-border-color);
						
					}
				}
				.#{$namespace}sitesNav__dropdown, .#{$namespace}sitesNav__favbtn {
					&:hover,
					&:focus {
						background: var(--sites-nav-menu-item-selected-hover-icon-background);
						border-color: var(--sites-nav-menu-item-selected-hover-icon-border-color);
					}
					&:active {
						background: var(--sites-nav-menu-item-selected-active-icon-background);
						border-color: var(--sites-nav-menu-item-selected-active-icon-border-color);
					}
				}
				&.dropdown-is-visible {
					background:var(--sites-nav-menu-item-selected-background);

					&:after {	// the rest of the properties will inherit from the default case above
						content: "";
						border-bottom: var(--sites-nav-selected-submenu-border);
					}
					
					.link-container, .#{$namespace}sitesNav__dropdown, .#{$namespace}sitesNav__favbtn {
						border-top: $sites-nav-menu-item-selected-hover-border-top;
						border-right: $sites-nav-menu-item-selected-hover-border-right;
						border-bottom: $sites-nav-menu-item-selected-hover-border-bottom;
						border-left: $sites-nav-menu-item-selected-hover-border-left;
						border-color: var(--sites-nav-menu-item-selected-border-color);
						background: var(--sites-nav-menu-item-selected-background);
					}
				}

				.#{$namespace}sitesNav__submenu {
					border: $sites-nav-submenu-border;
					border-color: var(--sites-nav-submenu-selected-border-color);
					background: var(--sites-nav-submenu-selected-background);
					.#{$namespace}sitesNav__submenuitem {
						.#{$namespace}sitesNav__submenuitem-link, a {
							position: relative;
							background: var(--sites-nav-menu-item-selected-background);
							color: var(--sites-nav-menu-item-selected-color);
							.toolMenuIcon {
								color: var(--sites-nav-menu-item-selected-color);
							}
							&:hover, &:active, &:focus {
								background: var(--sites-nav-submenu-item-selected-hover-background);
								color: var(--sites-nav-submenu-item-selected-hover-color);
								
								.toolMenuIcon {
									color: var(--sites-nav-submenu-item-selected-hover-icon-color);
								}
							}
							&:active {
								background: var(--sites-nav-submenu-item-selected-active-background);
							}
							
						}
						&.#{$namespace}sitesNav__submenuitem__gotosite {
							border-top: 1px solid var(--sites-nav-submenu-item-selected-divider-color);
							> a:after {
								font-family: FontAwesome;
								content: '\f178';
								margin-left: 10px;
								color: var(--sites-nav-submenu-item-icon-color);
							}	
	
							&:hover {	
								border-top: 1px solid var(--sites-nav-submenu-item-selected-divider-color);

								> a:after {
									color: var(--sites-nav-submenu-item-hover-icon-color);
								}
							}
						}
					}
				}
			}

			&.#{$namespace}sitesNav__menuitem--myworkspace .fa-home {
				margin-right: $standard-space-4x;
			}
			
			.#{$namespace}sitesNav__gateway {
				@extend .fa-university;
				@extend .fa;
				margin-right: $standard-space;
			}
		}
	}
	&.opened{
		@media #{$desktop}{
			max-height: 100%;
			overflow: visible;
			#how-many-hidden{
				display: none;
			}
		}
	}
	@media #{$phone}{
		display: none;
	}
}

.sitenav-dropdown-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 20;
}

body.is-logged-out #linkNav .#{$namespace}sitesNav__menuitem .#{$namespace}sitesNav__dropdown {
	display: none;
}

#show-all-sites{
	display: none;
}

#show-all-sites-mobile{
	color: var(--sakai-background-color-2);
	background: var(--sakai-background-color-2);
	display: none;
	cursor: pointer;
	position: absolute;
	text-align: center;
	font-size: 1.5em;
	top: 0em;
	right: 0em;
	width:2.5em;
	border-left: 1px solid var(--sakai-border-color);
	padding: 0 9px;
	outline: 0;
	> div{
		display: inline-block;
	}
	#how-many-hidden-mobile{
		font-size: 0.8em;
		vertical-align: middle;
		margin: 0 4px 2px 2px;
		display: inline-block;
	}
	&.opened{
		right: 10px;
		border-left: 0px none;
		> div {
			color: var(--sakai-secondary-color-1);
			@include transform( rotateZ(45deg) );
		}
	}
}
.#{$namespace}sitesNav__doubledrop{
	@extend .fa-angle-double-down;
	@extend .fa;
	@extend .fa-lg;
	padding-left:5px;
}

.#{$namespace}siteStatus{
	@include display-flex;
	@include align-items(center);
	@include justify-content(center);
	margin: $standard-spacing $standard-spacing 0 $standard-spacing;
	padding: $standard-spacing;

	&.is-softly-deleted{
		color: var(--siteDelete-color);
		background-color: var(--siteDelete-background);
		border: $siteDelete-border;
		border-color: var(--siteDelete-border-color);

		p {
			margin: 0;
			padding: 0;
		}
	}

	&.is-unpublished{
		color: var(--siteUnpublish-color);
		background-color: var(--siteUnpublish-background);
		border: $siteUnpublish-border;
		border-color: var(--siteUnpublish-border-color);

		h4{
			display: inline-block;
			margin: 0;
			padding: 0;
		}
		button{
			@extend .button;
			margin: 0 0 0 $standard-spacing;
		}
	}
}

.user-dropdown-overlay{
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 20;
}

#profileImageUpload {
    .modal-dialog {
        width: 332px !important;
    }

    #upload {
        position: relative;

        input[type="file"] {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
    }
    #cropme {
        height: 300px;
        width: 300px;
        margin-bottom: 20px;

       .cropper-view-box {
            border-radius: 50% !important;
        }
    }

    #cropToolbar {
        margin-top: 10px;
        .profile-image-zoom-in {
            &:before {
                font-family: 'FontAwesome';
                content: '\f00e';
            }
        }
        .profile-image-zoom-out {
            &:before {
                font-family: 'FontAwesome';
                content: '\f010';
            }
        }
        .profile-image-pan-left {
            &:before {
                font-family: 'FontAwesome';
                content: '\f060';
            }
        }
        .profile-image-pan-right {
            &:before {
                font-family: 'FontAwesome';
                content: '\f061';
            }
        }
        .profile-image-pan-up {
            &:before {
                font-family: 'FontAwesome';
                content: '\f062';
            }
        }
        .profile-image-pan-down {
            &:before {
                font-family: 'FontAwesome';
                content: '\f063';
            }
        }
        .profile-image-rotate {
            &:before {
                font-family: 'FontAwesome';
                content: '\f01e';
            }
        }
    }
}

.#{$namespace}siteHierarchy .manage-overview-link {
	@include sakai_secondary_button();
	position: absolute;
	right: $standard-spacing;
	margin-top: -4px;
	
	> span {
		margin-right: $standard-space;
	}
	
	@media #{$phone} {
		visibility: hidden;
	}
}
