<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="org.sakaiproject.tags.tool.service.TagManagementService"
          class="org.sakaiproject.tags.tool.service.TagManagementService">
        <property name="tagService" ref="org.sakaiproject.tags.api.TagService"/>
        <property name="securityService" ref="org.sakaiproject.authz.api.SecurityService"/>
        <property name="sessionManager" ref="org.sakaiproject.tool.api.SessionManager"/>
        <property name="siteService" ref="org.sakaiproject.site.api.SiteService"/>
    </bean>
</beans>
