<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link media="all" href="/library/skin/tool_base.css" rel="stylesheet" type="text/css" />
        <link href="/mailsender-tool/content/css/MailSender.css" type="text/css" rel="stylesheet" media="all" />
        <script src="/library/js/headscripts.js"></script>
        <script src="/library/js/spinner.js"></script>
        <script src="/mailsender-tool/content/js/mailsender.js"></script>
        [(${sakaiHtmlHead})]
    </head>
    <body>
        <div class="portletBody">
            <div id="menu" th:include="fragments/menus :: main (compose)" />
            <div th:if="${noemail}" th:utext="#{no.from.address}" class="sak-banner-error"/>
            <div th:if="${error != null}" th:text="${error}" class="sak-banner-error"/>
            <form id="mainForm" method="post" th:action="@{/compose}" enctype="multipart/form-data" data-dirty="false" th:object="${emailEntry}">
                <div class="page-header">
                    <h1 th:text="#{compose_toolbar}">Compose</h1>
                </div>
                <div class="section">
                    <div class="headerkeyholder">
                        <span th:text="#{from}" class="headerkey">From:</span>
                    </div>
                    <div class="headervalue">
                        <span id="from" th:value="*{from}"  th:text="*{from}" >Freeman, Douglas Stuaart &lt;stuart.freeman@et.gatech.edu&gt;</span>
                    </div>
                </div>
                <div class="section">
                    <div  class="headerkeyholder">
                        <span th:text="#{select_rcpts}" class="headerkey">Select recipients:</span>
                    </div>
                    <div id="todiv" class="headervalue">
                        <div class="rcpt_select">
                            <input type="checkbox" id="mailsender-rcpt-all" name="rcptsall" onclick="RcptSelect.toggleSelectAll()" value="true"/>
                            <label th:text="#{select_rcpts_all}" for="mailsender-rcpt-all">All</label>
                        </div>
                        <span> | </span>
                        <div class="rcpt_select">
                            <a id="mailsender-rcpt-link-roles" onclick="show(this.id)"  href="#"  >Roles</a>
                        </div>
                        <span> | </span>
                        <div class="rcpt_select">
                            <a id="mailsender-rcpt-link-sections" onclick="show(this.id)" href="#" >Sections</a>
                        </div>
                        <span> | </span>
                        <div class="rcpt_select">
                            <a id="mailsender-rcpt-link-groups" onclick="show(this.id)" href="#" >Groups</a>
                        </div>
                        <div id="mailsender-roles" class="rolesArea hidden" >
                            <div th:if="${comp.getEmailRoles().size() == 0}" ><ul><li th:text="#{no.role.found}"></li></ul></div>
                            <div th:unless="${comp.getEmailRoles().size() == 0}" th:each="rol:${comp.getEmailRoles()}" class="userGroupsList">
                                <input th:id="${rol.getRoleId()}" type="checkbox" name="rolename" th:value="${rol.getRoleId()}" onclick="RcptSelect.toggleSelectAll(this.id)" ></input>
                                <label  style="font-weight: normal"><a th:text="${rol.getRoleId()}" href="#" onclick="showIndividuals(this)" /></label>
                                <div class="hidden usersList" >
                                    <div th:if="${comp.getUsersByRole(rol.getRoleId()).size() == 0}"><ul><li th:text="#{no.role.members.found}"></li></ul></div>
                                    <div th:unless="${comp.getUsersByRole(rol.getRoleId()).size() == 0}" th:each="user:${comp.getUsersByRole(rol.getRoleId())}" >
                                        <input th:id="${user.getId()}" type="checkbox" name="user" th:value="${user.getId()}" onclick="RcptSelect.toggleIndividual(this.id)" th:attrappend="disabled=${user.getEmail().isEmpty()}?@{disabled}"/>
                                        <label th:text="${user.getDisplayName()}+'('+ ${user.getDisplayId()}+')'"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="mailsender-sections" class="rolesArea hidden">
                            <div th:if="${comp.getEmailSections().size() == 0}" ><ul><li th:text="#{no.section.found}"></li></ul></div>
                            <div th:unless="${comp.getEmailSections().size() == 0}" th:each="rolsec:${comp.getEmailSections()}" class="userGroupsList" >
                                <input  th:id="${rolsec.getRoleSingular()}" type="checkbox" name="rolesecname" th:value="${rolsec.getRoleId()}" onclick="RcptSelect.toggleSelectAll(this.id)"></input>
                                <label  style="font-weight: normal"><a th:text="${rolsec.getRoleSingular()}" href="#" onclick="showIndividuals(this)"></a></label>
                                <div  class="hidden usersList" >
                                    <div th:if="${comp.getEmailGroups().size() == 0}"><ul><li th:text="#{no.group.members.found}"></li></ul></div>
                                    <div th:unless="${comp.countUsersByGroup(rolsec.getRoleId()) == 0}" th:each="usersec:${comp.getUsersByGroup(rolsec.getRoleId())}"  >
                                        <input th:id="${usersec.getId()}" type="checkbox" name="user" th:value="${usersec.getId()}" onclick="RcptSelect.toggleIndividual(this.id)" th:attrappend="disabled=${usersec.getEmail().isEmpty()}?@{disabled}" />
                                        <label th:text="${usersec.getDisplayName()}+'('+ ${usersec.getDisplayId()}+')'" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="mailsender-groups" class="rolesArea hidden">
                            <div th:if="${comp.getEmailGroups().size() == 0}"><ul><li th:text="#{no.group.found}"></li></ul></div>
                            <div th:unless="${comp.getEmailGroups().size() == 0}" th:each="rolg:${comp.getEmailGroups()}" class="userGroupsList" >
                                <input th:id="${rolg.getRoleSingular()}" type="checkbox" name="rolegname" th:value="${rolg.getRoleId()}" onclick="RcptSelect.toggleSelectAll(this.id)"></input>
                                <label  style="font-weight: normal"><a th:text="${rolg.getRoleSingular()}" href="#" onclick="showIndividuals(this)" ></a></label>
                                <div class="hidden usersList" >
                                    <div th:if="${comp.countUsersByGroup(rolg.getRoleId()) == 0}" ><ul><li th:text="#{no.group.members.found}"></li></ul></div>
                                    <div th:unless="${comp.countUsersByGroup(rolg.getRoleId()) == 0}" th:each="userg:${comp.getUsersByGroup(rolg.getRoleId())}" >
                                        <input th:id="${userg.getId()}" type="checkbox" name="user" th:value="${userg.getId()}" onclick="RcptSelect.toggleIndividual(this.id)" th:attrappend="disabled=${userg.getEmail().isEmpty()}?@{disabled}" />
                                        <label th:text="${userg.getDisplayName()}+'('+ ${userg.getDisplayId()}+')'"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="headervalue" id="otherRecipientsLink" >
                    <a href="#" th:text="#{addotherrecipients}" onclick="RcptSelect.showOther();return false">Other Recipient(s):</a>
                </div>

                <div class="section" id="otherRecipientsDiv" style="display:none">
                    <div class="headervalue">
                        <span th:text="#{otherrecipients}">Other Recipients:</span>
                    </div>
                    <div class="headervalue" id="otherRecipientsValue">
                        <input class="fullwidth" name="otherRecipients" th:field="*{otherRecipients}" value="" type="text" id="otherRecipients" />
                        <div th:text="#{otherrecipients_instruction}" class="instruction">Separate additional email addresses with commas or semicolons.</div>
                    </div>
                </div>
                <div class="section">
                    <div class="headerkeyholder">
                        <span class="headerkey"><label th:text="#{message_subject}" for="subject">Subject:</label></span>
                    </div>
                    <div class="headervalue">
                        <input id="subject" class="fullwidth" name="subject" value="" type="text" th:field="*{subject}" />
                    </div>
                </div>

                <div class="section">
                    <div id="attachOuter" class="headerkeyholder" style="display:none">
                        <span class="headerkey"><img src="/mailsender-tool/content/images/paperclip.gif" alt="attachment_img" height="15" width="15" ></span>
                    </div>
                    <div id="attachInner" class="headervalue">
                        <div id="attachmentArea" name="attachmentArea"/>
                        <div id="attachLink"><img src="/mailsender-tool/content/images/paperclip.gif" alt="attachment_img" height="15" width="15" />
                        <a href="#" onclick="MailSender.addAttachment('attachmentArea'); return false;" th:text="#{attachlink}">Attach a file</a>
                        </div>
                        <div id="attachMoreLink" style="display:none"><a href="#" onclick="MailSender.addAttachment('attachmentArea'); return false;" th:text="#{attachmorelink}">Attach another file</a></div>
                        </div>
                    </div>

                    <div class="section">
                        <div class="headervalue">
                            <textarea th:text="|*{content}|"  name="editor1" id="editor1"></textarea>
                        </div>
                    </div>

                    <div class="section">
                        <div class="headervalue">
                            <input name="onlyPlainText" type="checkbox" id="onlyPlainText" value="true" th:checked="*{config.isOnlyPlainText}"/>
                            <label th:text="#{onlyplaintext}" for="onlyPlainText">Send only as plain text</label>
                        </div>
                        <div class="headervalue">
                            <input name="smac" type="checkbox" id="sendMeACopy" value="true" th:attrappend="checked=*{config.isSendMeACopy() == true}?@{checked}"/>
                            <label th:text="#{sendmeacopy}" for="sendMeACopy">Send me a copy</label>
                        </div>
                        <div th:if="${addedTo}" id="addToArchiveDiv" class="headervalue">
                            <input  name="addToArchive" type="checkbox" id="addToArchive" value="true" th:attrappend="checked=*{config.isAddToArchive() == true}?@{checked}" />
                            <label th:text="#{addtoemailarchive}" for="addToArchive">
                                Add to Email Archive, visible to all site participants
                            </label>
                        </div>
                        <div class="headervalue">
                            <input name="appendRecipientList" type="checkbox" id="appendRecipientList" value="true"  th:attrappend="checked=*{config.isAppendRecipientList() == true}?@{checked}"/>
                            <label th:text="#{appendrecipientlist}" th:value="#{appendrecipientlist}" for="appendRecipientList">Append list of recipients to message</label>
                        </div>
                    </div>
                    <div class="section headervalue act">
                        <input id="send-button" value="Send Mail" class="active" type="submit" th:attrappend="disabled=${email == true}?@{disabled}" />
                        <input id="cancel-button" value="Cancel" type="button" onclick="location.reload();" />
                    </div>
            </form>
            <script>  sakai.editor.launch("editor1", "{noop:0}");
                CKEDITOR.instances.editor1.setData(/*[[${emailEntry.content}]]*/);
                
                var hroles = document.getElementById("mailsender-rcpt-link-roles");
                var hsections = document.getElementById("mailsender-rcpt-link-sections");
                var hgroups = document.getElementById("mailsender-rcpt-link-groups");
                var roles = document.getElementById("mailsender-roles");
                var sections = document.getElementById("mailsender-sections");
                var groups = document.getElementById("mailsender-groups");

                function showIndividuals(label) {
                    if (label.parentElement.nextElementSibling.className.includes("hidden")) {
                    label.parentElement.nextElementSibling.classList.remove("hidden");
                    } else {
                    label.parentElement.nextElementSibling.classList.add("hidden");
                    }
                };

                function show(id) {
                    switch (id) {
                        case "mailsender-rcpt-link-roles":
                            roles.classList.remove("hidden");
                            hroles.removeAttribute("href");
                            sections.classList.add("hidden");
                            hsections.setAttribute("href", "#");
                            groups.classList.add("hidden");
                            hgroups.setAttribute("href", "#")
                            break;

                        case "mailsender-rcpt-link-sections":
                            sections.classList.remove("hidden");
                            hsections.removeAttribute("href");
                            roles.classList.add("hidden");
                            hroles.setAttribute("href", "#");
                            groups.classList.add("hidden");
                            hgroups.setAttribute("href", "#");
                            break;

                        case "mailsender-rcpt-link-groups":
                            groups.classList.remove("hidden");
                            hgroups.removeAttribute("href");
                            sections.classList.add("hidden");
                            hsections.setAttribute("href", "#");
                            roles.classList.add("hidden");
                            hroles.setAttribute("href", "#");
                            break;
                    }
                };

                var form = document.getElementById('mainForm');
                form.addEventListener('change', function (e) {
                    this.dataset.dirty="true"
                 });
                            
                 CKEDITOR.instances.editor1.on('change', function() {
                    form.dataset.dirty="true"
                });
                    
                function losedata(msg) {
                    if (form.dataset.dirty=='true'){
                        return confirm(msg);
                    }
                    return true;
                };

                document.getElementById("onlyPlainText").addEventListener('change', function() {
                    if (this.checked) {
                        const editor = CKEDITOR.instances.editor1;
                        if (editor.mode === 'wysiwyg') {
                            editor.execCommand('source');
                        }
                    }
                });
            </script>
        </div>
    </body>
</html>
