<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link media="all" href="/library/skin/tool_base.css" rel="stylesheet" type="text/css" />
        <link href="/mailsender-tool/content/css/MailSender.css" type="text/css" rel="stylesheet" media="all" />
        <script src="/library/js/headscripts.js"></script>
        <script src="/mailsender-tool/content/js/mailsender.js"></script>
    </head>
    <body>
        <div class="portletBody">
            <div id="menu" th:include="fragments/menus :: main (permissions)" />
                <h3 th:text="#{mailsender.navbar.permissions}">Permissions</h3>
                <sakai-permissions id="permissions-wc" tool="mailtool" bundle-key="mailsender" />
        </div>
    </body>
</html>