<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<title rsf:id="page-title">MailSender: Email</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="/library/skin/tool_base.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
	<link href="/library/skin/default/tool.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
	<link href="../css/MailSender.css" type="text/css" rel="stylesheet" media="all" />
	<script type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
</head>

<body>
<div class="usersList">
	<div rsf:id="message-for:*">Messages for user.</div>
	<div rsf:id="mailsender-userCol:" class="column">
		<input rsf:id="mailsender-user" id="mailsender-user" type="checkbox"/>
		<label rsf:id="mailsender-userLabel" for="mailsender-user">User, Ima</label>
	</div>
</div>
</body>
</html>