<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk" xmlns="http://www.w3.org/1999/xhtml">
<head>

	<title>Site Page Order</title>
	<link href="/library/skin/tool_base.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all"/>
	<link href="/library/skin/default/tool.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all"/>
	<link type="text/css" href="/library/webjars/jquery-ui/1.12.1/jquery-ui.min.css" rel="stylesheet" media="screen" />
	<link href="../css/GroupList.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" rsf:id="resize"/>
	<script type="text/javascript" src="/library/js/headscripts.js"></script>
	<script type="text/javascript">includeLatestJQuery('site-manage');</script>
	<script type="text/javascript" src="../js/selectbox.js" rsf:id="scr=rewrite-url"></script>
	<script type="text/javascript" src="../js/optionTransfer.js" rsf:id="scr=rewrite-url"></script>
	<script type="text/javascript" src="../js/util.js" rsf:id="scr=rewrite-url"></script>
	<script type="text/javascript" src="/library/js/spinner.js"></script>
	<script language="JavaScript" type="text/javascript">
	var opt = new OptionTransfer("siteMembers-selection","groupMembers-selection");
	opt.setAutoSort(true);
	opt.setDelimiter("##");
	opt.setStaticOptionRegex("^(Bill|Bob|Matt)$");
	opt.saveRemovedLeftOptions("removedLeft");
	opt.saveRemovedRightOptions("removedRight");
	opt.saveAddedLeftOptions("addedLeft");
	opt.saveAddedRightOptions("addedRight");
	opt.saveNewLeftOptions("newLeft");
	opt.saveNewRightOptions("newRight");

	var escapeList = ["siteMembers-selection", "groupMembers-selection"];

	 $(document).ready(function() {
		$('#save').click(function() {
			if ($('#group_title').val() === "") {
		   		$('.messageValidation').show();
		   		$('#group_title').focus();
		   		return false;
		  	}
			else
			{
				SPNR.disableControlsAndSpin( this, escapeList );
				return true;
			}
		});
	});
	</script>
</head>
<body>
<div class="portletBody container-fluid">
	<div rsf:id="error-row:">
		<div class="alertMessage" rsf:id="error">We Have Errors!</div>
	</div>
	
	<form rsf:id="groups-form" id="groups-form">
		<h3 rsf:id="prompt"></h3>
		<p id="" class="messageValidation" rsf:id="emptyGroupTitleAlert" style="display:none"/>
		<p rsf:id="instructions" class="instruction">
		</p>
		
		<div class="form-group row ">
			<label  for="group_title" class="col-sm-2 form-control-label">
				<span class="reqStar">*</span><span rsf:id="group_title_label">Title</span>
			</label>
			<div class="col-sm-6">
				<input name="group_title" type="text" size="50" maxsize="99" rsf:id="group_title" id="group_title"/>
			</div>
		</div>
		
		<div class="form-group row">
			<label rsf:id="group_description_label" class="col-sm-2 form-control-label">
				Description
			</label>
			<div class="col-sm-6">
				<textarea rsf:id="group_description" name="Description" cols="80" rows="10" wrap="virtual"></textarea>
			</div>
		</div>
		
		
		<br/>
		
		
		<input rsf:id="allowViewMembership" id="allowViewMembership" type="checkbox" />			
		<label rsf:id="allowViewMembership-label">Allow members to see the other members of this group</label>
		
				
		<br/><br/>
		
		<div class="form-group row">
			<label rsf:id="group_joinable_set_label"  class="col-sm-2 form-control-label">Joinable Set</label>&nbsp;&nbsp;
			<div class="col-sm-6">
				<select rsf:id="joinable-set" 
				        onchange="if(this.selectedIndex == 0){$('.joinable-set-div').hide();}else{$('.joinable-set-div').show();}">
        		</select>
        	</div>
        </div>
        
        <div id="joinable-set-div" name="joinable-set-div" rsf:id="joinable-set-div:" class="indnt2 joinable-set-div">
	        <div class="form-group row">
	        	<label for="num-max-members" class="col-sm-2 form-control-label ">
	        		<span class="reqStar" style="border: none !important;">*</span>
	        		<span rsf:id="group-max-members" id="group-max-members">Max members per group:</span>
	        	</label>	
	        	<div class="col-sm-6">        	
	        		<input rsf:id="num-max-members" id="num-max-members" type="text" size="3"/>
	        			<span class="validFMess" rsf:id="msg=maxMembers.empty.alert">Need a number here</span>
	        	</div>
	        </div>
	        
	        <input rsf:id="allowPreviewMembership" id="allowPreviewMembership" type="checkbox" />	        	
	        <label rsf:id="allowPreviewMembership-label">Allow users to see group membership before joining</label>
	        
        </div>
        <br/>
	<h3 rsf:id="membership_label"></h3>
	<br/>
		<!-- <table class="sidebyside" cellpadding="0" cellspacing="0" style="margin:0">
			<tr>
				<td style="padding:0">
					<h4 rsf:id="membership_site_label" style="margin:0;padding:0"></h4>
				  	<select style="width:auto" multiple="multiple" size="20" rsf:id="siteMembers" id="siteMembers-selection" name="siteMembers-selection" ondblClick="opt.transferRight()">
					</select>	
				</td>
				<td style="padding:.3em;text-align:center;vertical-align:bottom">
					<input type="button" name="right" value="&gt;" onclick="opt.transferRight()" /><br /><br />
					<input type="button" name="left" value="&lt;" onclick="opt.transferLeft()" /><br /><br /><br /><br />
					<input type="button" name="right" value="&gt;&gt;" onclick="opt.transferAllRight()" /><br /><br />
					<input type="button" name="left" value="&lt;&lt;" onclick="opt.transferAllLeft()" />
				</td>
				<td valign="top" style="padding:0">
					<h4 rsf:id="membership_group_label" style="margin:0;padding:0"></h4>
					<select style="width:auto" multiple="multiple" rsf:id="groupMembers" id = "groupMembers-selection" name="groupMembers-selection" size="20" ondblclick="opt.transferLeft()" >
					</select>
				</td>
			</tr>
		</table>
		 -->
		 <div class="row">
		    <div class="col-sm-5">
			    <h4 rsf:id="membership_site_label" style="margin:0;padding:0"></h4>
			    <select style="width:auto" multiple="multiple" size="20" rsf:id="siteMembers" id="siteMembers-selection" name="siteMembers-selection" ondblClick="opt.transferRight()">
			    </select>			
		    </div>
			<div class="col-sm-2 hidden-xs membership">
				<br/><input type="button" name="right" value="&gt;" onclick="opt.transferRight()" /><br /><br />
				<input type="button" name="left" value="&lt;" onclick="opt.transferLeft()" /><br /><br /><br /><br />
				<input type="button" name="right" value="&gt;&gt;" onclick="opt.transferAllRight()" /><br /><br />
				<input type="button" name="left" value="&lt;&lt;" onclick="opt.transferAllLeft()" />		
			</div>
			<div class="col-sm-2 visible-xs membership">
				<input type="button" name="right" value="&gt;" onclick="opt.transferRight()" class="rotate" />
				<input type="button" name="left" value="&lt;" onclick="opt.transferLeft()" class="rotate"/>
				<input type="button" name="right" value="&gt;&gt;" onclick="opt.transferAllRight()" class="rotate"/>
				<input type="button" name="left" value="&lt;&lt;" onclick="opt.transferAllLeft()" class="rotate"/>		
			</div>			
			<div class="col-sm-5">
				<h4 rsf:id="membership_group_label" style="margin:0;padding:0"></h4>
				<select style="width:auto" multiple="multiple" rsf:id="groupMembers" id = "groupMembers-selection" name="groupMembers-selection" size="20" ondblclick="opt.transferLeft()" >
				</select>		
			</div>
		</div>
		
		<input rsf:id="newRight" id="newRight" type="hidden"/>
		<input rsf:id="groupId" id="groupId" type="hidden"/>
		<p class="act">

			<input accesskey ="s" id="save" rsf:id="save" class="active" value="Save" type="submit" />
			<input accesskey ="x" id="cancel" rsf:id="cancel" value="Cancel" type="submit" onclick="SPNR.disableControlsAndSpin( this, escapeList );" />
		</p>			
	</form>
	<SCRIPT LANGUAGE="JavaScript">
		opt.init(document.forms[0]);
	</SCRIPT>
</div>
</body>
</html>
