//////////////////////////////
// VARIABLES: For layout breakpoints 
//////////////////////////////

// https://github.com/Team-Sass/breakpoint/wiki/Respond-To
$breakpoint-to-ems: true;

//$breakpoints: add-breakpoint('extra-wide', (1281px 1680px));
//$breakpoints: add-breakpoint('wide', (801px 1280px));
$breakpoints: add-breakpoint('full navigation', (801px, 'no-query' true));
$breakpoints: add-breakpoint('narrow navigation', (240px 800px));
//$breakpoints: add-breakpoint('tablet landscape, medium-land', (801px 1024px, orientation landscape));
//$breakpoints: add-breakpoint('tablet portrait, medium-port', (501px 800px, orientation portrait));
//$breakpoints: add-breakpoint('phone landscape, sm-land', (320px 500px, orientation landscape));
//$breakpoints: add-breakpoint('phone portrait, sm-port', (320px 500px, orientation portrait));