#
#
# Tell Velocity which resource loader we are using
#
resource.loader=library_webapp, webapp, class
#

library_webapp.resource.loader.description=Velocity Library Webapp Resource Loader
library_webapp.resource.loader.class=org.sakaiproject.portal.charon.velocity.LibraryWebappLoader
library_webapp.resource.loader.cache=true
library_webapp.resource.loader.modificationCheckInterval=60


#
# File resource loader information
#
webapp.resource.loader.description=Velocity Webapp Resource Loader
webapp.resource.loader.class=org.apache.velocity.tools.view.servlet.WebappLoader
webapp.resource.loader.cache=true
webapp.resource.loader.modificationCheckInterval=60

#
# Class resource loader information
#
class.resource.loader.description=Velocity Classpath Resource Loader
class.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
class.resource.loader.cache=true
class.resource.loader.modificationCheckInterval=0

#
# Other properties
#
input.encoding=UTF-8
output.encoding=UTF-8

runtime.log.logsystem.class=org.sakaiproject.velocity.util.SLF4JLogChute

#
# Velocity macro properties
#
velocimacro.permissions.allow.inline=true
velocimacro.permissions.allow.inline.override=true
