#
#
# Tell Velocity which resource loader we are using
#
resource.loaders=webapp, class
#

#
# File resource loader information
#
resource.loader.webapp.description=Velocity Webapp Resource Loader
resource.loader.webapp.class=org.sakaiproject.velocity.util.WebappResourceLoader
resource.loader.webapp.cache=true
resource.loader.webapp.modification_check_interval=60

#
# Class resource loader information
#
resource.loader.class.description=Velocity Classpath Resource Loader
resource.loader.class.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
# TODO TRINITY-44 renenable caching
resource.loader.class.cache=false
resource.loader.class.modification_check_interval=0

#
# Other properties
#
resource.default_encoding=UTF-8

#
# Velocity macro properties
#
velocimacro.inline.allow=true
velocimacro.inline.replace_global=true

# Sakai templates widely use hyphens in Velocity identifiers (e.g. $form-name,
# $sort-order) which Velocity 2.x rejects by default; restore 1.x parsing behavior.
parser.allow_hyphen_in_identifiers = true
