/*pda portal*/
html {
	font-family: Helvetica, Arial,sans-serif;
}
.portalBodyPDA{
	margin:0;padding:0;
	width:auto;
}

/*several overrides for tool elements displayed in the pda portal*/
/*the menu for sites*/

.portletpda .portletBody{
	font-size: 13px !important;
}
.portletpda .portletBody > *{
	padding:0 .5em;
}
/*
Def above pads all direct descendants of .portletBody.
Pages where "form" is the only direct descendant (jsf) need a negative
margin below on the toolbar if there is one to make it flush horiz.
*/
.portletpda .portletBody > form > .navIntraTool{
	margin:0 -.5em
}
    
.portletpda .portletBody input[type="button"],
	.portletpda .portletBody input[type="submit"],
	.portletpda .portletBody input[type="reset"],
	.portletpda .portletBody input[type="text"],
	.portletpda .portletBody input[type="radio"],
	.portletpda .portletBody input[type="checkbox"],
	.portletpda .portletBody select{
    	margin:.3em 0;
		font-size: .8em !important;
}

.portletpda .portletBody input[type="text"]{
		margin:.3em 0;
		font-size: 1.1em !important;
		
	}
.portletpda .portletBody .shorttext,
	.portletpda .portletBody .longtext,
	.portletpda .portletBody .checkbox{
		padding:.3em 0;
}

.portletpda .portletBody .shorttext label,
	.portletpda .portletBody .longtext label,
	.portletpda .portletBody .checkbox label{
		font-size:1.1em;
}
.portalBodyPDA .portletBody .navIntraTool{
	padding:.5em 0;
}
.portalBodyPDA .portletBody .navIntraTool a{
	text-decoration:none !important;
}
#pda-portlet-menu{
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
	width:100%;
	background:#004D73 url(images/pda-menu-back.gif) center left repeat-x;
	list-style: none;
	color:#fff;
	margin:0;
	clear: both;
	height: 120%;
	overflow: hidden;
	padding: 0;
	line-height: 1.2em;
}

#pda-portlet-menu li {
	margin-left: 0;
	padding:7px 8px 6px 0;
	list-style: none;
	display: inline;
	float:left;
}
#pda-portlet-menu li.resetToolLink a, #pda-portlet-menu  li.jsreditLink a{
    padding-left:10px;
} 
#pda-portlet-menu a img{
    border:none
} 

#pda-portlet-menu li.sitesLink:before,#pda-portlet-menu li.currentSiteParentLink:before,#pda-portlet-menu li.currentSiteChildLink:before,#pda-portlet-menu li.currentSiteLink:before,#pda-portlet-menu li.currentToolTitle:before{
	content: "\00BB \0020";
	color: #ff9;
	font-weight: bold;
}

#pda-portlet-menu li.instanceNote:before{
	content: "";
	visibility:hidden;
	color: #fff;
}
#pda-portlet-menu li.instanceNote a{
	text-decoration:none;
    display:block;
    width:45px;
    height:25px
}
#pda-portlet-menu li.sitesLink:before{
	content: "\00BB";
	visibility:hidden;
	color: #fff;
}
/*the first item in the menu - contains small logo*/
#pda-portlet-menu li.instanceNote{
	color:#fff;
    padding:0 10px 4px 4px;
    background:transparent url(images/pda-menu-instance-icon.gif) center left no-repeat;
	width:40px;
}
/*put non site links to the right*/
#pda-portlet-menu li.loginLink, #pda-portlet-menu li.logoutLink, #pda-portlet-menu li.helpLink,#pda-portlet-menu li.usersPresentLink {
	background: none;
	float:right;
}
#pda-portlet-menu li.helpLink {
	margin-left:1em;
}
#pda-portlet-menu li span a{
	color:#ff9;
	text-decoration:none !important;
}	
#pda-portlet-menu li span a:hover{
	text-decoration: underline !important;
}
/*all types of links in the breadcrumb are addressed in the markup and can be styled here*/
.currentSiteParentLink{}
.currentSiteChildLink{}
.currentToolTitle{}
.helpLink{}
.logoutLink{}
.loginLink{}
/*the list menu (gateway sites, site lists, tool lists, may want to differentiate between them, if so can*/
#pda-portlet-page-menu, #pda-portlet-site-menu{
	font-size: 18px !important;
	font-weight:bold;
	margin:0;
	padding:0;	
	list-style:none;
	line-height:2em;
	font-family: Helvetica, Arial, sans-serif;
	border-collapse:collapse;
}
#pda-portlet-page-menu li, #pda-portlet-site-menu li{
	margin:0;
	padding:.4em;
	border-bottom:1px solid #ccc;
}
#pda-portlet-page-menu li.subSites, #pda-portlet-site-menu li.subSites{
	padding:0
}
#pda-portlet-page-menu li.subSites ul, #pda-portlet-site-menu li.subSites ul{
	list-style:none;
	margin:0;
	padding:0 !important;
	
}
#pda-portlet-page-menu li.subSiteItem, #pda-portlet-site-menu li.subSiteItem{
	padding-left:1em;
}	
.subSiteItem .textPanelFooter{
	font-size:.8em;
	font-style:normal;
	color:#aaa;
}
#pda-portlet-page-menu li:hover, #pda-portlet-site-menu li:hover{
	background:#eee url(images/pda-list-arrow.png) center right no-repeat;
	}
#pda-portlet-site-menu li, #pda-portlet-page-menu li{
   background:url(images/pda-list-arrow.png) center right no-repeat;
   }     
	

#pda-portlet-site-menu a, #pda-portlet-page-menu a{
	color:#333;
	text-decoration:none;
	padding:0;
	display:block;
	margin:0;
	width: 100%;
}	
#presdiv {
	position:absolute;
	top:25px;right:5px;
	height:75px;
	width:150px;
}
#presenceIframePDA{
	border:1px solid #000;
	height:75px;
	width:150px;
	overflow:auto;
}


#pda-footer {
	padding: .6em;
	height:100%;
    text-align:center;
    background:#004D73 url(images/pda-menu-back.gif) center left repeat-x;
	overflow:hidden;
}


.switch-link, .switch-link:visited{
	color:#000 !important;
	background:#fff;
	padding:5px;
	text-decoration:none;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}	
.switch-link:hover{
	text-decoration: underline;
	
}
.skip{
	display: inline;
	position: absolute;
	top: -999px;
	left: -999px;
	height: 0;
}
/*
next block has overrides optimizing for certain mobile devices
*/
/*
iPad:
 Gets overall same treatment as default above (full breadcrumb) + some iOS browser enhancements
*/

/*
pad the top menu so user no longer clicks on the iPad OS toolbar by mistake
*/
@media only screen and (max-device-width: 1024px){
    #pda-portlet-menu{
        height:25px;
        padding-top:10px;
        padding-bottom:10px;
        }
#pda-portlet-menu li.sitesLink:before,#pda-portlet-menu li.currentSiteLink:before,#pda-portlet-menu li.currentToolTitle:before, #pda-portlet-menu li.currentSiteParentLink:before, #pda-portlet-menu li.currentSiteChildLink:before{
    margin-left:5px;
    margin-right:5px;
}
.logoutLink, .loginLink, .switch-link{
	position:absolute;
	top:5px;
    margin-top:4px;
	right:4px;
    -webkit-border-image: url(images/pda-button.png) 10 stretch;
    text-shadow: rgba(0, 0, 0, 0.597656) 0px -1px 0px;
    font: normal  bold 13px / 21px Helvetica, sans-serif;
	height:22px;
	padding:0px !important;
    border-width: 5px;
	text-decoration: none;
}

.logoutLink a, .loginLink a,.logoutLink a:active, .loginLink a:active, .logoutLink a:focus, .loginLink a:focus{
		text-decoration: none !important;
        color:#fff !important
}
#pda-portlet-site-menu a, #pda-portlet-page-menu a {
    -webkit-tap-highlight-color: #fff;
    -webkit-text-size-adjust: none;
}

#pda-footer {
	padding:5px 0 2px;
	height:34px;
    background:#004D73 url(images/pda-menu-back.gif) top left repeat-x;
	overflow:hidden;
}

.switch-link, .switch-link:visited {
	position:relative;
    top:5px;
	color:#fff !important;
	background:none;
	padding:5px !important;
	text-decoration:none !important;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
.logoutLink, .loginLink{
	top:3px;
	right:3px;
}
	
}
/*
iPhone, iPod Touch
Breadcrumb is minimized (logo: link to sites list; site title: link to tool list, tool reload icon link, lti/jsr168 settings icon link).
Tool title, explicit link to sites, parent site link, help link are hidden. This might disorient the few current users just a little bit, but
it will make the experience better for any new takers 
*/
@media screen and (max-device-width: 480px){
html {
    -webkit-text-size-adjust: none;
}
#pda-portlet-menu{
	position:absolute;
	top:0;
    padding:0;
	height:35px;
	font-size: 14px !important;
	width:100%;
	background:#004D73 url(images/pda-menu-back.gif) top left repeat-x;
	border-bottom:1px solid #222
}
#pda-portlet-site-menu, #pda-portlet-page-menu, .portletpda .portletBody{
	margin-top:36px;
}
#pda-portlet-menu li.sitesLink:before,#pda-portlet-menu li.currentSiteParentLink:before,#pda-portlet-menu li.currentSiteChildLink:before,#pda-portlet-menu li.currentSiteLink:before,#pda-portlet-menu li.currentToolTitle:before{
    content: "";
}
#pda-portlet-menu a:focus,#pda-portlet-menu a:active{
    text-decoration:none
}   
    
#pda-portlet-menu li.currentSiteLink, #pda-portlet-menu li.currentSiteChildLink {
    font-size: 14px;
	padding-top:10px;
    padding-left:10px;
    background:url(images/pda-site-home.png) 0  10px no-repeat;
	position:relative;
	height:35px;
    width: 9em !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-shadow: rgba(0, 0, 0, 0.597656) 0px -1px 0px;
}
#pda-portlet-menu li.instanceNote a {
    text-decoration: none;
	display:block;
	width: 55px;
    margin-top:2px;
	height:35px;
	
}
#pda-portlet-menu li.instanceNote {
	position:relative;
    margin: -6px 3px 0;
    padding: 5px 5px 5px 0 !important;
    background: url(images/pda-menu-instance-icon.gif) 0 4px no-repeat;
    width: 55px;
}
#pda-portlet-menu li.resetToolLink a, #pda-portlet-menu  li.jsreditLink a{
   	position:relative;
	top:3px;    
    height:35px;
    display:block;
    padding:0 2px;
}
#pda-portlet-menu li.helpLink, .currentSiteParentLink, .currentToolTitle, #pda-portlet-menu li.sitesLink {
    display: none  !important
}
#pda-portlet-menu li span a {
    color: #fff;
}
.logoutLink, .loginLink, .switch-link{
	position:absolute;
	top:-1px;
	right:2px;
    -webkit-border-image: url(images/pda-button.png) 10 stretch;
    text-shadow: rgba(0, 0, 0, 0.597656) 0px -1px 0px;
    font: normal  bold 12px / 20px Helvetica, sans-serif;
	height:18px;
	padding:0  !important;
    border-width: 6px;
	text-decoration: none;
}
.logoutLink:active, .loginLink:active, .switch-link:active,.logoutLink:focus, .loginLink:focus, .switch-link:focus{
    	text-decoration: none !important;
    }
#pda-portlet-site-menu li, #pda-portlet-page-menu li{
    -webkit-tap-highlight-color: #fff;
    -webkit-text-size-adjust: none;
}    
#pda-portlet-site-menu a, #pda-portlet-page-menu a {
    width:280px !important;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.portletMainWrap+#pda-footer{
    margin-top:50px
}
/*
    in this small viewport, show only the last child site title
    hide all children sites first, then show the last one.
*/
.currentSiteChildLink{
    display:none  !important
}
#pda-portlet-menu li.lastChild{
    display:inline  !important
}

#pda-footer {
	padding: .7em 0 .9em 0;
	height:100%;
    background:#004D73 url(images/pda-menu-back.gif) top left repeat-x;
	overflow:hidden;
}

.switch-link, .switch-link:visited {
	position:relative;
    top:2px;
	color:#fff !important;
	background:none;
	padding:5px !important;
	text-decoration:none !important;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}	

/*
tweak the resources and dropbox list to make it usable in this format
*/
/*
hide some columns
*/
form#showForm table th#access,form#showForm table th#creator,form#showForm table th#modified,form#showForm table th#size,form#showForm table td[headers='access'],form#showForm table td[headers='creator'],form#showForm table td[headers='modified'],form#showForm table td[headers='size'],form#showForm table td[colspan='4']{
    display:none
}
/*
set the width of other columns
*/
form#showForm table td[headers='expansion'], form#showForm table td[headers='checkboxes']{
    width:3px;
}
/*
make menus smaller
*/
form#showForm table .menuOpen{
    font-size:85%;
    white-space:nowrap;
}
.navIntraToolLink input.enabled{
    border:none !important;
}
/*
set the size of resource names (default for portrait orientation) and add a trim and ellipsis if longer
*/
form#showForm table td[headers='title'] h3,form#showForm table td[headers='title'] h4, form#showForm table td[headers='title'] h5, form#showForm table td[headers='title'] h6{
    width:120px !important;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size:90%;
    font-weight:bold;
    white-space:nowrap;
}
/*
tweak the announcement list to make it usable in this format
*/
form[name='announcementListForm'] table td{
    font-size:90%
}
/*
hide some metadata columns
*/
form[name='announcementListForm'] table th#releaseDate, form[name='announcementListForm'] table th#retractDate,
form[name='announcementListForm'] table td[headers='releaseDate'],form[name='announcementListForm'] table td[headers='retractDate']{
    display:none;
}
/*
set the size of announc titles (default for portrait orientation) and add a trim and ellipsis of longer
*/

form[name='announcementListForm'] table td[headers='subject'] h4 {
    width:120px !important;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
/*set width and height of textarea in different contexts in portrait mode
 * Note: need to make sure that these are targetting unique things
 * */
#gradeForm textarea, textarea[id^='Assignment'], [name='reviseForm'] textarea#body, #addContentForm textarea, #addFolderForm textarea[id^='description'], #detailsForm textarea[id^='description'], form[name='newAssignmentForm'] textarea {
    width:100%;
    height:100px;
}
form[name='newAssignmentForm'] fieldset{
    width:80% !important;
    min-width:80%;
    max-width:80%;
}
form[name='newAssignmentForm'] fieldset textarea{
    width:90%;
    margin-left:-1em
}
/*some adjustments to elements in resources and assignments*/
form[name='newAssignmentForm'] .shorttext label{
    display:block;
    float:none
}
#gradeForm .navPanel .viewNav{
    float:none;
    width:100% !important
}
#gradeForm .navPanel .viewNav span.act input[name="save"], #gradeForm .navPanel .viewNav span.act input[name="return"],#gradeForm .navPanel .viewNav span.act input[name="preview"], #gradeForm .navPanel .viewNav span.act input[name="cancel"]{
   margin-top:.5em; 
   float:left;
}
#gradeForm .navPanel .viewNav span.act input[name="preview"]{
    clear:left;
}
form[name='reviseForm'] input#subject, #addContentForm input[id^='content'], #detailsForm input[id^='displayName']{
    width:100%;
}
#addContentForm  .labelindnt, #addFolderForm .labelindnt, #detailsForm .labelindnt, form[name='newAssignmentForm'] .labelindnt{
    margin-left:1em !important
}
#fileURLHolder{
    width:50px;
}
}
/*
adjust text trimming for site link in toolbar and in Sites menu (as well as Resource titles
for a landscape orientation of the iPhone/iPod  T
*/ 
@media only screen and (orientation:landscape) and (max-device-width: 480px){
    #pda-portlet-menu li.currentSiteLink, #pda-portlet-menu li.currentSiteChildLink {
    width: 20em !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#pda-portlet-site-menu a, #pda-portlet-page-menu a {
    width:460px !important;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
/*
resource title length in landscape orientation
*/
form#showForm table td[headers='title'] h3,form#showForm table td[headers='title'] h4, form#showForm table td[headers='title'] h5, form#showForm table td[headers='title'] h6{
    width:250px !important;
    overflow:hidden;
}

    }

/*
Overrides for specific tools that use iframes or the ability to invoke them, which will not work in the mobile portal.
NOTE: some functionality is removed from the tool by this:
 - rwiki: cannot create or edit comments, or preview a wiki edit
 - chat: cannot see list of people in room
*/
#createCommentLink, #commentsList .itemAction, #rwiki_tabholder #preview{
    display:none;
}
#chatPresenceWrapper{
    display:none;
}
#chatListWrapper{
    float:none !important;
    clear:both !important;
    width:100% !important
}

