//////////////////////////////
// MODULES: Styles that are layout independent 
//////////////////////////////

@import "_mainnav_variables";

//.siteNavWrap {
//  position: relative;
//  clear: both;
//  z-index: 2000;
//  width: 100%;
//}


ul.topnav li ul.subnav, #mastLogin ul.subnav, #otherSiteTools {
  list-style: none;
  position: absolute;
  top: 31px;
  background: #fff;
  font-size: .9em;
  margin: 0;
  padding: 10px 0 !important;
  float: left;
  width: 210px;
  border: 1px solid #ccc;
  border-width: 1px 1px 0 1px;
  z-index: 100;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* each tool in the above menu as well as the one on #mastLogin and the submenus in the other sites tray */
ul.topnav li ul.subnav li, #mastLogin ul.subnav li, .otherSiteTool {
  background: #fff;
  width: 100%;
  position: relative;
}

/* some overrides for the menu in #mastLogin */
#mastLogin ul.subnav li {
  border: none;
}

ul.topnav li span.drop {
  margin: 0 0 0 5px;
  padding: 2px 2px 2px 8px;
  width: 10px;
}

ul.topnav li span.drop:before {
  content:"v"
}
ul.topnav li span.drop:hover {
  color:#fff;
}
ul.nav-submenu li.submenuitem a, #mastLogin li.submenuitem a, #otherSiteTools li a {
  color: #444;
  font-size: 1em !important;
  padding:0;
  font-weight: normal;
  position: relative;
  text-decoration: none;
  display:block;
  width: 100% !important;
  background:#fff;
}

[aria-labelledby="sitetabs"] {
  font-size: $mainmenu-font-size;
  line-height: $mainmenu-line-height;
  
  li {
    position: relative;
    
    a {
      text-decoration: none;
      border: none;
      font-weight: bold;
      color: $mainmenu-link-color;

      &:visited {
        color: $mainmenu-visited-link-color;
      }
    }
  }
}


[aria-labelledby="sitetabs"] {

  @include respond-to('full navigation') {

    @include horizontal-list;
    
    @if $old-ie-8 {
      background-image: url(data:image/gif;base64,R0lGODlhCgAmAIAAAO3t7dTU1CH5BAAAAAAALAAAAAAKACYAAAIXhI+py+0Po5y02ouz3hyHD4biSJbmKRYAOw==);
      background-repeat: repeat;
    }
    @include experimental-value(background-image, $repeating-linear-gradient, false, true, false, false);

    [role="menubar"] {
      margin: 0;
      padding: 0 0 0 .25em;

      &:before {
        float: left;
        font-size: 2.2em;
      }
    }

    .nav-menu {
      @include horizontal-list-item;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  @include respond-to('narrow navigation') {

    [role="menubar"] {
      margin: 0;
      padding: 0;
      list-style-type: none;
      
      // hide Sakai logo
      &:before {
        display: none;
      }
      
      li {
        margin: 0;
        padding: 0;   
        a {
          display: block;
        }
      }
    }
  }
}

[aria-labelledby="sitetabs"] li a,
[aria-labelledby="sitetabs"] li a:visited,  
[aria-labelledby="sitetabs"] li.nav-selected.tab-dim a {

  @include respond-to('full navigation') {
    
    @include border-radius(calc-em(3px, $base-font-size));
    padding: $mainmenu-full-nav-padding;
    color: $mainmenu-link-color;
    background: $mainmenu-background;
    @include transition-property(( color, background));
    @include transition-duration(180ms);
    @include transition-timing-function(ease-in); 
  }
  @include respond-to('narrow navigation') {
    
    padding: $mainmenu-full-nav-padding;
    color: $mainmenu-link-color;
    background: $mainmenu-background;
    @include transition-property(( color, background));
    @include transition-duration(180ms);
    @include transition-timing-function(ease-in); 
  }
}

[aria-labelledby="sitetabs"] li a:hover,
[aria-labelledby="sitetabs"] li a:focus,
[aria-labelledby="sitetabs"] li.nav-selected a,
[aria-labelledby="sitetabs"] li.nav-selected.tab-dim a:hover {

  @include respond-to('full navigation') {
    color: $mainmenu-active-link-color;
    background: $mainmenu-active-background;
    border: none;
  }
  
  @include respond-to('narrow navigation') {
    color: $mainmenu-active-link-color;
    background: $mainmenu-active-background;
    border: none;
  }
}


@include generate-icons($sakai-logo, before, '', 'ico-font-icons');
