//////////////////////////////
// MODULES: Styles that are layout independent 
//////////////////////////////

@import "_mainnav_variables";

[aria-labelledby="sitetabs"] {

  @include respond-to('full navigation') {
    
    @if $old-ie-8 {
      background-image: url(data:image/gif;base64,R0lGODlhCgAmAIAAAO3t7dTU1CH5BAAAAAAALAAAAAAKACYAAAIXhI+py+0Po5y02ouz3hyHD4biSJbmKRYAOw==);
      background-repeat: repeat;
    }
    
    @include experimental-value(background-image, $repeating-linear-gradient, false, true, false, false);

    [role="menubar"] {
      margin: 0;
      padding: 0 0 0 .25em;
      font-size: $mainmenu-font-size;
      line-height: $mainmenu-line-height;

      &:before {
        float: left;
        font-size: 2.2em;
        color: #f2f2f2;
      }
     
      > li {
        position: relative;
    
        a {
          text-decoration: none;
          border: none;
          font-weight: bold;
          color: $mainmenu-link-color;

          &:visited {
            color: $mainmenu-visited-link-color;
          }
        }
      }
    
      .nav-menu {
        @include horizontal-list-item;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }

    @include respond-to('narrow navigation') {

      [role="menubar"] {
        margin: 0;
        padding: 0;
        list-style-type: none;
      
        // hide Sakai logo
        &:before {
          display: none;
        }
      
        li {
          margin: 0;
          padding: 0;

          a {
            display: block;
          }
        }
      }
    }
  }
}

[aria-labelledby="sitetabs"] li a,
[aria-labelledby="sitetabs"] li a:visited,  
[aria-labelledby="sitetabs"] li.nav-selected.tab-dim a {

  @include respond-to('full navigation') {
    
    @include border-radius(calc-em(3px, $base-font-size));
    padding: $mainmenu-full-nav-padding;
    color: $mainmenu-link-color;
    background: $mainmenu-background;
    @include transition-property(( color, background));
    @include transition-duration(180ms);
    @include transition-timing-function(ease-in); 
  }
  @include respond-to('narrow navigation') {
    
    padding: $mainmenu-full-nav-padding;
    color: $mainmenu-link-color;
    background: $mainmenu-background;
    @include transition-property(( color, background));
    @include transition-duration(180ms);
    @include transition-timing-function(ease-in); 
  }
}

[aria-labelledby="sitetabs"] li > a:hover,
[aria-labelledby="sitetabs"] li > a:focus,
[aria-labelledby="sitetabs"] li.nav-selected > a,
[aria-labelledby="sitetabs"] li.nav-selected.tab-dim > a:hover {

  @include respond-to('full navigation') {
    color: $mainmenu-active-link-color;
    background: $mainmenu-active-background;
    border: none;
  }
  
  @include respond-to('narrow navigation') {
    color: $mainmenu-active-link-color;
    background: $mainmenu-active-background;
    border: none;
  }
}


[role="menubar"] .nav-subnav {
  list-style: none;

  @include respond-to('full navigation') {
    position: absolute;
    top: 2.4em;
    margin: 0;
    padding:0;
    z-index: 1001;
  }
  
  @include respond-to('narrow navigation') {
    margin: 0;
    padding: 0;
    text-indent: 1em;
  }
}

[role="menubar"] .nav-subnav li {
  width: 100%;
  position: relative;
}

[role="menubar"] .drop {
  margin: 0;
  padding: 2px 8px;
  width: 16px;
  
  &:hover {
    color: #fff;
  }
  
  @include respond-to('full navigation') {

    &:before {
      content: '\25bc';
    }
  }
  
  @include respond-to('narrow navigation') {
    float: right;
    
    &:before {
      content: '+';
    }
    
    &.subclicked:before {
      content: '-';
    }
  }
}

.nav-submenu .submenuitem a {
  color: #444;
  font-size: 1em;
  padding: 0 1em;
  font-weight: normal;
  position: relative;
  text-decoration: none;
  display: block;
  width: 100%;
  border: none;
}


@include generate-icons($sakai-logo, before, '', 'ico-font-icons');