.#{$namespace}sakai-lessonbuildertool {
	.navIntraTool {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		border-bottom: 0px none;
		li {
			span {
				a {
					border-bottom: 1px solid $tool-border-color;
					display: inline-block;
				}
			}
		}

		.nextprev {
			 line-height: 1em;
		}
	}
	.portletBody > * {
		position: inherit;
		top: 0;
	}
	.mainList {
		list-style: none;
		padding: 0 0 0 0;
	}

	.split {
		.mainList {
			@include display-flex;
			@include flex-wrap(wrap);
			.item {
				@include flex-grow(1);
				width: 50%;
				max-width: 50%;
				@media #{$phone} {
					width: 100%;
				}
			}
			.breaksection {
				display: none;
			}
		}
	}

	label.checklistLabel.disabled:hover {
		color: $text-color-disabled;
		cursor: not-allowed;
	}

	label.checklistLabel.disabled {
		color: $text-color-disabled;
	}

	.checklist-blur label.checklistLabel.disabled, .checklist-blur label.checklistLabel.disabled:hover {
		text-shadow: 0 0 5px rgba(0,0,0,0.5);
		color: transparent;
	}

	.#{$namespace}toolTitleNav {
		@media #{$phone} {
		       margin-top: 0px;
		       margin-bottom: 10px;
		       margin-right: 10px;
		       top: 14px;
        }
		.menuitem {
			  line-height: 1em;
		}
    }

	.#{$namespace}toolTitleNav__button_container {
		@media #{$phone} {
			margin-top: -25px;	
		}
	}

	.#{$namespace}hierarchy--separator {
		margin-left: 10px;
		margin-right: 10px;
	}
	
	.sectionHeader {
		@media #{$phone} {
		       clear: both;
		       top: 10px;
		}
	}

	#content {
			padding-top: 0;
	}
	.portletBody {
		.column {
			border: $lessons-column-border;
		}
		.mainList {
			div:hover {
				&.canEdit {
					background-color: $lessons-item-hover-background;
					box-shadow: $lessons-item-hover-shadow;
				}
			}
			.canEdit {
				border-top: $lessons-item-border-top;
				border-right: $lessons-item-border-right;
				border-bottom: $lessons-item-border-bottom;
				border-left: $lessons-item-border-left;
		
			}
			div.item,
			div.textType,
			div.multimediaType,
			div.checklistType {
				margin:0;
				padding: calc(#{$standard-spacing} / 2) 0;
			}
			div.item:hover,
			div.item:focus,
			div.item:active {
				.edit-col {
					display: $lessons-item-edit-hover-display;
				}	
			}
			.edit-col {
				display: $lessons-item-edit-display;
			}
		}
	}
	.topaction {
		position: absolute;
		top: 0;
		right: 0;
		
		@media #{$phone} {
			top: 2em;	
		}	
	}
}

.#{$namespace}multipleTools {
	.#{$namespace}sakai-lessonbuildertool {
		.#{$namespace}toolTitleNav {
			float: none;
			margin-top: 0;
		}
	}
}

// Lessons tool calendar event pop-up.
div#calendarEventDialog {
	label {
		display: inline-block;
		width: 30%;
	}
	
	span#event-type {
		padding-left: 10px;
	}
	
	#event-description p {
		display: inline-block;
	}

	#event-attachments {
		display: inline-block;
	}

	.eventAttachmentList {
		list-style-type: none;
		padding-left: 0;
		.eventAttachmentFilename {
			padding-left: 10px;
		}
	}
}
