.#{$namespace}sakai-lessonbuildertool {
	.navIntraTool {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		border-bottom: 0px none;
		li {
			span {
				a {
					border-bottom: 1px solid var(--tool-border-color);
					display: inline-block;
				}
			}
		}

		.nextprev {
			 line-height: 1em;
		}
	}
	.portletBody > * {
		position: inherit;
		top: 0;
	}
	.mainList {
		list-style: none;
		padding: 0 0 0 0;
	}

	.split {
		.mainList {
			@include display-flex;
			@include flex-wrap(wrap);
			.item {
				@include flex-grow(1);
				width: 50%;
				max-width: 50%;
				@media #{$phone} {
					width: 100%;
				}
			}
			.breaksection {
				display: none;
			}
		}
	}

	label.checklistLabel.disabled:hover {
		color: var(--sakai-text-color-disabled);
		cursor: not-allowed;
	}

	label.checklistLabel.disabled {
		color: var(--sakai-text-color-disabled);
	}

	.checklist-blur label.checklistLabel.disabled, .checklist-blur label.checklistLabel.disabled:hover {
		text-shadow: 0 0 5px rgba(0,0,0,0.5);
		color: transparent;
	}

	.#{$namespace}toolTitleNav {
		@media #{$phone} {
		       margin-top: 0px;
		       margin-bottom: 10px;
		       margin-right: 10px;
		       top: 14px;
        }
		.menuitem {
			  line-height: 1em;
		}
    }

	.#{$namespace}toolTitleNav__button_container {
		@media #{$phone} {
			margin-top: -25px;	
		}
	}

	.#{$namespace}hierarchy--separator {
		margin-left: 10px;
		margin-right: 10px;
	}
	
	.sectionHeader {
		@media #{$phone} {
		       clear: both;
		       top: 10px;
		}
	}
	/*
       Any changes shoud be checked to make sure they have enough
       contrast for accessiblity. These colors have been checked
       against the WebAIM Color Contrast Checker. I've tried to
       make them subjectively the same darkness.
    */
	/* default */
	.questionDiv .contentCol, .checklistDiv {
		background-color: var(--sakai-active-color-1);
	}
	.column .commentDiv, .column .studentContentTable, .column .forumSummaryHeaderDiv, .column .announcementsHeaderDiv, .column .fc-toolbar {
		background-color: var(--sakai-background-color-2);
	}
	.column a[href]{
		color: #004860;
	}
	.colgray, .colgray-trans {
		background-color: #f0f0f0;
		border-color: #222;
	}
	.colgray .commentDiv, .colgray .studentContentTable, .colgray .questionDiv .contentCol, .colgray .forumSummaryHeaderDiv, .colgray .announcementsHeaderDiv, .colgray-trans .commentDiv, .colgray-trans .studentContentTable, .colgray-trans .questionDiv .contentCol {
		background-color: #b8b8b8;
	}
	.colgray a[href], .colgray-trans a[href]{
		color:black;
	}
	.colred, .colred-trans {
		background-color: #fff0f0;
		border-color: #600;
		color: #660000;
	}
	.colred .commentDiv, .colred .studentContentTable, .colred .questionDiv .contentCol, .colred .forumSummaryHeaderDiv, .colred .announcementsHeaderDiv, .colred-trans .commentDiv, .colred-trans .studentContentTable, .colred-trans .questionDiv .contentCol {
		background-color: #ffb3b3;
	}
	.colred a[href], .colred h3.author, .colred-trans a[href], .colred-trans h3.author {
		color: black;
	}

	.colblue, .colblue-trans {
		background-color: #f4f4ff;
		background-color: #e6f9ff;
		border-color: #004;
		color: #004;
	}
	.colblue .commentDiv, .colblue .studentContentTable, .colblue .questionDiv .contentCol, .colblue .forumSummaryHeaderDiv, .colblue .announcementsHeaderDiv, .colblue-trans .commentDiv, .colblue-trans .studentContentTable, .colblue-trans .questionDiv .contentCol {
		background-color: #b3d9ff;
		background-color: #99e7ff;
	}
	.colblue a[href], .colblue-trans a[href] {
		color: black;
	}
	.colgreen, .colgreen-trans {
		background-color: #f6fff6;
		border-color: #030;
		color: #030;
	}
	.colgreen .commentDiv, .colgreen .studentContentTable, .colgreen .questionDiv .contentCol, .colgreen .forumSummaryHeaderDiv, .colgreen .announcementsHeaderDiv, .colgreen-trans .commentDiv, .colgreen-trans .studentContentTable, .colgreen-trans .questionDiv .contentCol {
		background-color: #9fc;
	}
	.colgreen a[href], .colgreen-trans a[href] {
		color: black;
	}
	.colyellow, .colyellow-trans {
		background-color: #ffffe8;
		border-color: #840;
		color: #4b2600;
	}
	.colyellow .commentDiv, .colyellow .studentContentTable, .colyellow .questionDiv .contentCol, .colyellow .forumSummaryHeaderDiv, .colyellow .announcementsHeaderDiv, .colyellow-trans .commentDiv, .colyellow-trans .studentContentTable, .colyellow-trans .questionDiv .contentCol {
		background-color:  #ffd480
	}
	.colyellow a[href],.colyellow h3.author, .colyellow-trans a[href],.colyellow-trans h3.author {
		color: black;
	}

	.colngray, .colngray-trans {
		background-color: #FFF;
		color: #333;
		border: 1px solid #ccc;
	}
	.colngray-header, .colngray-trans-header {
		background-color: #606060;
		color: #fff;
		border: 1px solid #ccc;
	}
	.collapsibleSectionHeader.colngray-header:hover, .collapsibleSectionHeader.colngray-trans-header:hover {
		background-color: #303030;
	}

	.colnblack, .colnblack-trans {
		background-color: #FFF;
		color: #333;
		border: 1px solid #ccc;
	}
	.colnblack-header, .colnblack-trans-header {
		background-color: #333;
		color: #fff;
		border: 1px solid #ccc;
	}
	.collapsibleSectionHeader.colnblack-header:hover, .collapsibleSectionHeader.colnblack-trans-header:hover {
		background-color: #191919;
	}

	.colnblue, .colnblue-trans {
		background-color: #FFF;
		color: #111;
		border: 1px solid #ccc;
	}
	.colnblue-header, .colnblue-trans-header {
		background-color: #1a5276;
		color: #fff;
		border: 1px solid #ccc;
	}
	.collapsibleSectionHeader.colnblue-header:hover, .collapsibleSectionHeader.colnblue-trans-header:hover {
		background-color: #0d293b;
	}

	.colnblue2, .colnblue2-trans {
		background-color: #e8edf1;
		color: #1a5276;
		border: 1px solid #1a5276;
	}
	.colnblue2-header, .colnblue2-trans-header, .colnblue2 .forumSummaryHeaderDiv, .colnblue2-trans .forumSummaryHeaderDiv, .colnblue2 .announcementsHeaderDiv, .colnblue2-trans .announcementsHeaderDiv, .colnblue2 .fc-toolbar, .colnblue2-trans .fc-toolbar, .colnblue2 .questionDiv .contentCol, .colnblue2-trans .questionDiv .contentCol {
		background-color: #1a5276;
		color: #fff;
		border: 1px solid #1a5276;
	}
	.collapsibleSectionHeader.colnblue2-header:hover, .collapsibleSectionHeader.colnblue2-trans-header:hover {
		background-color: #0d293b;
	}
	.colnblue2 .forumSummaryHeaderDiv .forumSummaryLink, .colnblue2-trans .forumSummaryHeaderDiv .forumSummaryLink, .colnblue2 .announcementsHeaderDiv .announcementLink, .colnblue2-trans .announcementsHeaderDiv .announcementLink {
		color: #fff;
	}

	.colnred, .colnred-trans {
		background-color: #FFF;
		color: #333;
		border: 1px solid #ccc;
	}
	.colnred-header, .colnred-trans-header {
		background-color: #a93226;
		color: #fff;
		border: 1px solid #ccc;
	}
	.collapsibleSectionHeader.colnred-header:hover, .collapsibleSectionHeader.colnred-trans-header:hover {
		background-color: #541913;
	}

	.colnrudy, .colnrudy-trans {
		background-color: #FFF;
		color: #1a5276;
		border: 1px solid #ccc;
	}
	.colnrudy-header, .colnrudy-trans-header {
		background-color: #a93226;
		color: #fff;
		border: 1px solid #ccc;
	}
	.collapsibleSectionHeader.colnrudy-header:hover, .collapsibleSectionHeader.colnrudy-trans-header:hover {
		background-color: #541913;
	}

	.colnnavy, .colnnavy-trans {
		background-color: #FFF;
		color: #111;
		border: 1px solid #ccc;
	}
	.colnnavy-header, .colnnavy-trans-header {
		background-color: #2e4053;
		color: #fff;
		border: 1px solid #ccc;
	}
	.collapsibleSectionHeader.colnnavy-header:hover, .collapsibleSectionHeader.colnnavy-trans-header:hover {
		background-color: #172029;
	}

	.colnnavy2, .colnnavy2-trans {
		background-color: #eaebed;
		color: #2e4053;
		border: 1px solid #576675;
	}
	.colnnavy2-header, .colnnavy2-trans-header, .colnnavy2 .forumSummaryHeaderDiv, .colnnavy2-trans .forumSummaryHeaderDiv, .colnnavy2 .announcementsHeaderDiv, .colnnavy2-trans .announcementsHeaderDiv,  .colnnavy2 .fc-toolbar, .colnnavy2-trans .fc-toolbar, .colnnavy2 .questionDiv .contentCol, .colnnavy2-trans .questionDiv .contentCol {
		background-color: #2e4053;
		color: #fff;
		border: 1px solid #576675;
	}
	.collapsibleSectionHeader.colnnavy2-header:hover, .collapsibleSectionHeader.colnnavy2-trans-header:hover {
		background-color: #172029;
	}
	.colnnavy2 .forumSummaryHeaderDiv .forumSummaryLink, .colnnavy2-trans .forumSummaryHeaderDiv .forumSummaryLink, .colnnavy2 .announcementsHeaderDiv .announcementLink, .colnnavy2-trans .announcementsHeaderDiv .announcementLink {
		color: #fff;
	}

	.colngreen, .colngreen-trans {
		background-color: #fff;
		color: #111;
		border: 1px solid #ccc;
	}
	.colngreen-header, .colngreen-trans-header {
		background-color: #229954;
		color: #fff;
		border: 1px solid #ccc;
	}
	.collapsibleSectionHeader.colngreen-header:hover, .collapsibleSectionHeader.colngreen-trans-header:hover {
		background-color: #114c2a;
	}

	.colngray-trans, .colnblack-trans, .colnblue-trans, .colnblue2-trans, .colnred-trans, .colnrudy-trans, .colnnavy-trans, .colnnavy2-trans,
	.colgray-trans, .colred-trans, .colblue-trans, .colgreen-trans, .colyellow-trans, .colngreen-trans {
		border-color: transparent;
		box-shadow: none;
		transition: none;
	}

	.colnblue2 .studentContentTable, .colnnavy2 .studentContentTable {
		background: transparent;
	}


	/* !important is used a lot in this section in order to override the MANY sources of color changes from lessons */
	.usebutton{
		color: #333 !important;
		background-color: #f6f6f6 !important;

		&.ngray, &.ngray-trans{
			background-color: #606060 !important;
			color: #fff !important;
		}

		&.nblack, &.nblack-trans{
			background-color: #333 !important;
			color: #fff !important;
		}

		&.nblue, &.nblue-trans{
			background-color: #1a5276 !important;
			color: #fff !important;
		}

		&.nblue2, &.nblue2-trans{
			background-color: #0d293b !important;
			color: #fff !important;
		}

		&.nred, &.nred-trans{
			background-color: #a93226 !important;
			color: #fff !important;
		}

		/* even though this is technically the same as nblue, I have it separate in case we want to change it later */
		&.nrudy, &.nrudy-trans{
			background-color: #1a5276 !important;
			color: #fff !important;
		}

		&.nnavy, &.nnavy-trans{
			background-color: #2e4053 !important;
			color: #fff !important;
		}

		&.nnavy2, &.nnavy2-trans{
			background-color: #2e4053 !important;
			color: #fff !important;
		}

		&.ngreen, &.ngreen-trans{
			background-color: #229954 !important;
			color: #fff !important;
		}
	}

	/*these won't touch the dialog menus in lessons if they're in the namespace as dialogs are outside of any tool content on the page. */
	#buttonColorLabel, #subpage-buttonColorLabel {
		margin-left: 20px;

		&.disabled {
			color: #ccc;
		}
	}

	#btncolor-selection, #subpage-btncolor-selection {
		&.disabled {
			cursor: not-allowed;
			color: #ccc;
		}
	}

	.force-btn-msg {
		padding-left: 20px;
		font-style: italic;
	}

	.color-select-section {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#accordion, #accordion2 {
		.accordionBtn{
			color: #333 !important; /*have to override Sakai button color*/
			background-color: transparent;
			border: none;
			margin: 0px;
			padding: 0px;

			&:focus {
				outline: none !important;
			}

			&:before {
				font-family: "FontAwesome";
				content: "\f0d7";
				color: #333;
				padding-right: 5px;
			}

			&.collapsed {
				&:before {
					font-family: "FontAwesome";
					content: "\f0da";
					color: #333;
					padding-right: 5px;
				}
			}
		}

		.dialog-panel{
			margin-top: 10px;

			&.displayPanel{
				margin-top: 0px;
				border-bottom: 1px solid #ddd;
			}
		}

	}
	/* end dialog stuff */

	#content {
			padding-top: 0;
	}
	.portletBody {
		.column {
			border: $lessons-column-border;
			border-color: var(--lessons-column-border-color);
		}
		.mainList {
			div:hover {
				&.canEdit {
					background-color: var(--lessons-item-hover-background);
					box-shadow: var(--lessons-item-hover-shadow);
				}
			}
			.canEdit {
				border-top: $lessons-item-border-top;
				border-right: $lessons-item-border-right;
				border-bottom: $lessons-item-border-bottom;
				border-left: $lessons-item-border-left;
				border-color: var(--lessons-item-border-top-color);
			}
			div.item,
			div.textType,
			div.multimediaType,
			div.checklistType {
				margin:0;
				padding: calc(#{$standard-spacing} / 2) 0;
			}
			div.item:hover,
			div.item:focus,
			div.item:active {
				.edit-col {
					display: $lessons-item-edit-hover-display;
				}	
			}
			.edit-col {
				display: $lessons-item-edit-display;
			}
		}
	}
	.topaction {
		position: absolute;
		top: 0;
		right: 0;
		
		@media #{$phone} {
			top: 2em;	
		}	
	}
}

.#{$namespace}multipleTools {
	.#{$namespace}sakai-lessonbuildertool {
		.#{$namespace}toolTitleNav {
			float: none;
			margin-top: 0;
		}
	}
}

// Lessons tool calendar event pop-up.
div#calendarEventDialog {
	label {
		display: inline-block;
		width: 30%;
	}
	
	span#event-type {
		padding-left: 10px;
	}
	
	#event-description p {
		display: inline-block;
	}

	#event-attachments {
		display: inline-block;
	}

	.eventAttachmentList {
		list-style-type: none;
		padding-left: 0;
		.eventAttachmentFilename {
			padding-left: 10px;
		}
	}
}

