// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.

//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: false;
$enable-shadows: true;
$enable-cssgrid: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);

// Customize some defaults
$primary: #003a6b;
$body-color: #333;
$body-bg: #fff;
$border-radius: 0.4rem;
$success: #7952b3;

// Configuration
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Layout & components
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas";
@import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

// Libraries
// Tabulator Configuration for sui-table
/* stylelint-disable scss/dollar-variable-pattern */
$cellPadding: 8px;
@import "tabulator-tables/src/scss/themes/bootstrap/tabulator_bootstrap4";

/* stylelint-enable scss/dollar-variable-pattern */

//
// Custom styles
//

@import "icon-list";

body {
  //padding: 1.5rem;
}

//
// Custom styles that need to be relocated
//

sui-button sui-icon {
  margin-right: 0.25em;
}

sui-table {
  .item-text {
    min-width: 4em;
  }

  .row-actions-list {
    margin-top: -8px;
  }

/* !important to override poorly written selector in dependency */
/* stylelint-disable declaration-no-important */
  .tabulator-selectable:hover {
    cursor: auto !important;
  }

  .tabulator-selected:hover {
    cursor: auto !important;
  }

  .tabulator-row .tabulator-cell:first-child {
    cursor:  pointer !important;
  }
/* stylelint-enable declaration-no-important */
}

//
// Temporary Styles for Morpheus to Trinity conversion
//

.Mrphs-pagebody {
  width: 100%;
}
.navIntraTool {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;

  li {
    margin-right: 1em;
  }
}
