<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html  
      xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:wicket="http://wicket.sourceforge.net"  
      xml:lang="en"  
      lang="en">
<body>
<wicket:panel>

<style type="text/css">
	.sakai-wicket-closebutton {
		float: right;
		clear: none;
		text-align: right;
	}
	.sakai-wicket-closebutton:hover {
		background-color: #ffcccc;
	}
</style>
	
<div class="sakai-wicket-closebutton" wicket:id="closeButton">
	<a href="" wicket:id="link"><img wicket:id="img"/></a>
</div>

</wicket:panel>
</body>
</html>
	