<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="org.sakaiproject.scorm.service.api.ScormApplicationService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="org.sakaiproject.springframework.orm.hibernate.GlobalTransactionManager" />
		<property name="target" ref="org.sakaiproject.scorm.service.api.ScormApplicationServiceTarget" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

	<!-- This bean serves the Scorm API calls -->
	<bean id="org.sakaiproject.scorm.service.api.ScormApplicationServiceTarget" class="org.sakaiproject.scorm.service.impl.ScormApplicationServiceImpl">

		<!-- Scorm Sequencing Service to manage navigate calls -->
		<lookup-method name="scormSequencingService" bean="org.sakaiproject.scorm.service.api.ScormSequencingService" />

		<!-- Local utility bean -->
		<lookup-method name="adlManager" bean="org.sakaiproject.scorm.adl.ADLConsultant" />

		<!-- Data Access Objects -->
		<lookup-method name="attemptDao" bean="org.sakaiproject.scorm.dao.api.AttemptDao" />
		<lookup-method name="dataManagerDao" bean="org.sakaiproject.scorm.dao.api.DataManagerDao" />
		<lookup-method name="gradebookExternalAssessmentService" bean="org.sakaiproject.service.gradebook.GradebookExternalAssessmentService" />
		<lookup-method name="learnerDao" bean="org.sakaiproject.scorm.dao.LearnerDao" />
		<lookup-method name="lms" bean="org.sakaiproject.scorm.service.api.LearningManagementSystem" />
	</bean>

	<bean id="org.sakaiproject.scorm.service.api.ScormResultService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="org.sakaiproject.springframework.orm.hibernate.GlobalTransactionManager" />
		<property name="target" ref="org.sakaiproject.scorm.service.api.ScormResultServiceTarget" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean id="org.sakaiproject.scorm.service.api.ScormResultServiceTarget" class="org.sakaiproject.scorm.service.impl.ScormResultServiceImpl">

		<!-- Service beans -->
		<lookup-method name="lms" bean="org.sakaiproject.scorm.service.api.LearningManagementSystem" />

		<!-- Data Access Objects -->
		<lookup-method name="attemptDao" bean="org.sakaiproject.scorm.dao.api.AttemptDao" />
		<lookup-method name="dataManagerDao" bean="org.sakaiproject.scorm.dao.api.DataManagerDao" />
		<lookup-method name="learnerDao" bean="org.sakaiproject.scorm.dao.LearnerDao" />

	</bean>

	<bean id="org.sakaiproject.scorm.service.api.ScormContentService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="org.sakaiproject.springframework.orm.hibernate.GlobalTransactionManager" />
		<property name="target" ref="org.sakaiproject.scorm.service.api.ScormContentServiceTarget" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	
	<!-- This bean manages content -->
	<bean id="org.sakaiproject.scorm.service.api.ScormContentServiceTarget" class="org.sakaiproject.scorm.service.impl.ScormContentServiceImpl">
		
		<!-- Service beans -->
		<lookup-method name="lms" bean="org.sakaiproject.scorm.service.api.LearningManagementSystem" />
		<lookup-method name="resourceService" bean="org.sakaiproject.scorm.service.api.ScormResourceService" />
		
		<!-- Data Access Objects -->
		<lookup-method name="contentPackageDao" bean="org.sakaiproject.scorm.dao.api.ContentPackageDao" />
		<lookup-method name="contentPackageManifestDao" bean="org.sakaiproject.scorm.dao.api.ContentPackageManifestDao" />
		<lookup-method name="dataManagerDao" bean="org.sakaiproject.scorm.dao.api.DataManagerDao" />
		<lookup-method name="learnerDao" bean="org.sakaiproject.scorm.dao.LearnerDao" />

	</bean>

	<bean id="org.sakaiproject.scorm.service.api.ScormSequencingService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="org.sakaiproject.springframework.orm.hibernate.GlobalTransactionManager" />
		<property name="target" ref="org.sakaiproject.scorm.service.api.ScormSequencingServiceTarget" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean id="org.sakaiproject.scorm.service.api.ScormSequencingServiceTarget" class="org.sakaiproject.scorm.service.impl.ScormSequencingServiceImpl">
		
		<!-- Service beans -->
		<lookup-method name="lms" bean="org.sakaiproject.scorm.service.api.LearningManagementSystem" />
		<lookup-method name="scormContentService" bean="org.sakaiproject.scorm.service.api.ScormContentService" /> 
		
		<!-- Local utility bean -->
		<lookup-method name="adlManager" bean="org.sakaiproject.scorm.adl.ADLConsultant" />
		
		<!-- Data Access Objects -->
		<lookup-method name="activityTreeHolderDao" bean="org.sakaiproject.scorm.dao.api.ActivityTreeHolderDao" />
		<lookup-method name="attemptDao" bean="org.sakaiproject.scorm.dao.api.AttemptDao" />
		<lookup-method name="dataManagerDao" bean="org.sakaiproject.scorm.dao.api.DataManagerDao" />
	</bean>
</beans>
