<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

   <!-- Use the Sakai session factory, pre-configured, instead of one local to TaskList
        we are adding our HBM files to the Sakai session factory instead of creating
        our own copy of it -->
  <bean id="org.sakaiproject.springframework.orm.hibernate.impl.AdditionalHibernateMappingsImpl.lessonbuildertool"
        class="org.sakaiproject.springframework.orm.hibernate.impl.AdditionalHibernateMappingsImpl">
    <property name="mappingResources">
      <list>
        <value>simplepageitem.hbm.xml</value> 
	<value>simplepage.hbm.xml</value>
      </list>
    </property>
  </bean>
 

	<!-- Control the location of the html templates (default: content/templates/) -->
	<bean id="templateResolverStrategy" parent="CRITemplateResolverStrategy">
		<property name="baseDirectory" value="templates/" />
	</bean>

   <!-- Define the bean roots from the request scope file that are accessible 
    via incoming request URL -->
   <bean parent="requestAddressibleParent">
	  <property name="value" value="simplePageBean"/>
   </bean>

  <bean id="ignoreFossilizedValues" class="uk.org.ponder.springutil.BooleanFactory">
    <property name="value" value="true" />
  </bean>

  <bean parent="templateContributorParent">
    <property name="templateNames" value="sakai-FCKEditor"/>
    <property name="baseDirectory" value="templates/" />
  </bean>
  
  <bean id="org.sakaiproject.lessonbuildertool.service.GroupPermissionsService"
	class="org.sakaiproject.lessonbuildertool.service.GroupPermissionsService">
    <property name="forumEntity" ref="org.sakaiproject.lessonbuildertool.service.ForumEntity"/>
    <property name="quizEntity" ref="org.sakaiproject.lessonbuildertool.service.SamigoEntity"/>
    <property name="assignmentEntity" ref="org.sakaiproject.lessonbuildertool.service.AssignmentEntity"/>
  </bean>

  <bean id="org.sakaiproject.lessonbuildertool.service.JForumEntity"
	class="org.sakaiproject.lessonbuildertool.service.JForumEntity">
    <property name="toolManager" ref="org.sakaiproject.tool.api.ActiveToolManager" />
  </bean>

  <bean id="org.sakaiproject.lessonbuildertool.service.ForumEntity"
	class="org.sakaiproject.lessonbuildertool.service.ForumEntity">
    <property name = "nextEntity" ref="org.sakaiproject.lessonbuildertool.service.JForumEntity" />
  </bean>
  
  <bean id="org.sakaiproject.lessonbuildertool.service.SamigoEntity"
	class="org.sakaiproject.lessonbuildertool.service.SamigoEntity"
        init-method="init"
        destroy-method="destroy">

    <property name="publishedAssessmentFacadeQueries"><ref bean="PublishedAssessmentFacadeQueries" /></property>
    <property name="memoryService"><ref bean="org.sakaiproject.memory.api.MemoryService"/></property>
    <property name="nextEntity"><ref bean="org.sakaiproject.lessonbuildertool.service.MnemeEntity"/></property>
  </bean>

  <bean id="org.sakaiproject.lessonbuildertool.service.MnemeEntity"
	class="org.sakaiproject.lessonbuildertool.service.MnemeEntity"
        init-method="init"
        destroy-method="destroy">
    <property name="assessmentService"><ref bean="org.etudes.mneme.api.AssessmentService" /></property>
    <property name="submissionService"><ref bean="org.etudes.mneme.api.SubmissionService" /></property>
    <property name="memoryService"><ref bean="org.sakaiproject.memory.api.MemoryService"/></property>
  </bean>

  <bean id="org.sakaiproject.lessonbuildertool.service.AssignmentEntity"
	class="org.sakaiproject.lessonbuildertool.service.AssignmentEntity"
        init-method="init"
        destroy-method="destroy">

    <property name="memoryService"><ref bean="org.sakaiproject.memory.api.MemoryService"/></property>
  </bean>

  <bean id="org.sakaiproject.lessonbuildertool.service.GradebookIfc"
	class="org.sakaiproject.lessonbuildertool.service.GradebookIfc">
    <property name="gradebookExternalAssessmentService"><ref bean="org.sakaiproject.service.gradebook.GradebookExternalAssessmentService"/></property>
  </bean>

  <bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider"
        class="org.sakaiproject.lessonbuildertool.service.LessonBuilderEntityProducer"
        init-method="init"
        destroy-method="destroy"
        singleton="true">

    <property name="simplePageToolDao">
      <ref bean="org.sakaiproject.lessonbuildertool.model.SimplePageToolDao" />
    </property>
    <property name="forumEntity" ref="org.sakaiproject.lessonbuildertool.service.ForumEntity"/>
    <property name="quizEntity" ref="org.sakaiproject.lessonbuildertool.service.SamigoEntity"/>
    <property name="assignmentEntity" ref="org.sakaiproject.lessonbuildertool.service.AssignmentEntity"/>
  </bean>
 </beans>
