@import "base/compass";

body{
	background:  $tool-background-color;
	color: 		 $text-color;
	font-family: $font-family;
	font-size: 	 $default-font-size !important; // Bootstrap Tool error
	font-weight: $default-font-weight;
	line-height: 1.55;					// http://practicaltypography.com/line-spacing.html
	&.#{$namespace}portalBody{
		background:  $background-color;
		@media #{$phone}{
			background: linear-gradient( to bottom, #b6c3d4, #d9cdcd, #c4ccd7, #a6c2df );
			background-size: 120%;
			padding: 2.8em 0 0 0;
		}
	}
}

a{
	color: $text-color;
	&:hover{  // This means a:hover
		color: $text-color;
		text-decoration: none;
	}
	&[href]{  // This means a[href]
		color: $primary-color;
		&:focus, &::-moz-focus-inner{ // This would compile to -> a[href]:focus, a[href]::moz-focus-inner
			outline-color: invert;
		}
		&:hover{
			text-decoration:underline;
		}
		text-decoration:underline;	
	}
	&.url{
		@media #{$phone}{
		    display: block;
			max-width: 100%;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		}
	}
}

input, textarea{
	color: $text-color;
	font-family: $font-family;
	font-size: 	 $default-font-size;
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6{
	font-family: $header-font-family;
	font-weight: 700;
	line-height: 1.05;
	margin: 0.75em 0 0.5em 0;
}

h1{
	font-size: #{$default-font-size + 8};
}

h2{
	font-size: #{$default-font-size + 6};
}

h3{
	font-size: #{$default-font-size + 4};
}

h4{
	font-size: #{$default-font-size + 2};
}

.skip{
	display: none;
}

input[type="submit"],input[type="button"]{
	@extend .button_color;
}

input[type="reset"],input[type="button"]{
	@extend .button_color;
}

input[type="checkbox"], input[type="radio"]{
	background-color: #FFF;
	border: 1px solid #A0A0A0;
	display: inline-block;
	height: 16px;
	width: 16px;
	vertical-align: sub;
	@include appearance(none);
	&:checked{
		border: 1px solid #60b3e3;
	}
}
input[type="checkbox"]{
	@include border-radius(3px);
	&:checked{
		background-image: url("images/check.png");
		background-size: 16px;
	}
}
input[type="radio"]{
	@include border-radius(24px);
	&:checked{
		background: radial-gradient(#60b3e3, #FFF 5px);
	}
}

select{
	@extend .select;
}

.is-hidden{
	display: none;
}

strong, b{
	font-weight: 700;
}

i, em{
	font-style: italic;
}

u, ins {
	text-decoration: underline;
}

s, strike, del {
	text-decoration: line-through;
}

legend{
	padding: 0.5em 0 0.1em 0;
	margin-bottom: 0;
}

input[type="submit"][disabled="disabled"],
input[type="button"][disabled="disabled"],
input[type="submit"][disabled="true"],
input[type="button"][disabled="true"],
input[type="submit"][disabled],
input[type="button"][disabled],
input[type="submit"][class="disabled"],
input[type="button"][class="disabled"],
input[type="submit"][disabled="disabled"]:hover,
input[type="button"][disabled="disabled"]:hover,
input[type="submit"][disabled="true"]:hover,
input[type="button"][disabled="true"]:hover,
input[type="submit"][disabled]:hover,
input[type="button"][disabled]:hover,
input[type="submit"][class="disabled"]:hover,
input[type="button"][class="disabled"]:hover,
button[disabled]:hover,
button[class="disabled"]:hover,
.formButtonDisabled, .formButtonDisabled:hover {
	background: transparent linear-gradient(#EEE 0%, #EEE 100%) repeat scroll 0% 0% !important;
	color: #333 !important;
	border: 1px solid #DDD !important;
	box-shadow: none !important;
	cursor: not-allowed;
	text-decoration: none;
}

ul, ol {
    list-style: none;
    padding: 0 0 0 0;
}
