body{
	background:  $tool-background-color;
	color: 		 $text-color;
	font-family: $font-family;
	font-size: 	 $default-font-size !important; // Bootstrap Tool error
	font-weight: $default-font-weight;
	line-height: 1.55;					// http://practicaltypography.com/line-spacing.html
	&.#{$namespace}portalBody{
		background:  $background-color;
	}
}

a{
	color: $primary-color;
	&:focus, &::-moz-focus-inner{
		outline-color: invert;
	}
	text-decoration:underline;
}
input, textarea{
	color: $text-color;
	font-family: $font-family;
	font-size: 	 $default-font-size;
}

h1, h2, h3, h4, h5, h6{
	font-family: $header-font-family;
	font-weight: 700;
	line-height: 1.05;
	margin: 0.75em 0 0.5em 0;
}

h1{
	font-size: #{$default-font-size + 8};
}

h2{
	font-size: #{$default-font-size + 6};
}

h3{
	font-size: #{$default-font-size + 4};
}

h4{
	font-size: #{$default-font-size + 2};
}

.skip{
	display: none;
}

input[type="submit"],input[type="button"]{
	@extend .button_color;
}

input[type="reset"],input[type="button"]{
	@extend .button_color;
}

input[type="checkbox"], input[type="radio"]{
	background-color: #FFF;
	border: 1px solid #A0A0A0;
	display: inline-block;
	height: 16px;
	width: 16px;
	vertical-align: sub;
	@include appearance(none);
	&:checked{
		border: 1px solid #60b3e3;
	}
}
input[type="checkbox"]{
	@include border-radius(3px);
	&:checked{
		background-image: inline-image("check.png");
		background-size: 16px;
	}
}
input[type="radio"]{
	@include border-radius(24px);
	&:checked{
		@include background-image(radial-gradient(#60b3e3, #FFF 5px));
	}
}

select{
	@extend .select;
}

.is-hidden{
	display: none;
}

strong, b{
	font-weight: 700;
}

i, em{
	font-style: italic;
}

u, ins {
	text-decoration: underline;
}

s, strike, del {
	text-decoration: line-through;
}
