.sitesNav__drop{
	cursor: pointer;
	display: inline-block;
	height:  12px;
	width:   16px;
}

.blurry{
	@include filter( blur(0.1em) );
}

.mobile_blocked{
	@media #{$phone}{
		display: inline;
		td{
			display: block;
		}
	}
}

.space_mobile{
	@media #{$phone}{
		background: darken( $background-color, 2% );
		border-top:    1px solid darken( $background-color, 10% );
		border-bottom: 1px solid darken( $background-color, 10% );
		margin: 0.5em -1.02em;
		padding: 1em 0.95em;
		@include box-shadow( inset 0px 0px 7px 0px rgba(0,0,0,0.25) );
	}
}

@mixin bs-callout($color, $bgcolor) {
  display: block;
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border: 1px solid;
  border-left-width: 5px;
  border-color: lighten($color, 25%);
  border-left-color: $color;
  background-color: $bgcolor;
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    color: $color;
  }
  p:last-child {
    margin-bottom: 0;
  }
  code, .highlight {
    background-color: #fff;
  }
}

.bs-callout-primary, .bs-callout-info {
  @include bs-callout($primary-color, lighten($primary-color, 45%));
}

.bs-callout-success {
  @include bs-callout($okcolor, lighten($okcolor, 45%));
}
.bs-callout-warn, .bs-callout-alert {
  @include bs-callout(darken($warncolor, 10%), $warncolor );
}
.bs-callout-danger, .bs-callout-error {
  @include bs-callout(darken($errorcolor, 30%), $errorcolor );
}

@mixin icon( $width : $icon-size, $height : $icon-size ){
	border: 0px none;
	display: inline-block;
	height:  $height;
	width:   $width;
	&:hover{
		opacity: 0.5;
	}
}

@mixin toolicon( $width : $icon-size, $height : $icon-size ){
	
	@if $skin-with-icons {
		border:  0px none;
		display: inline-block;
		height:  $height;
		width:   $width;
		margin:  0 0.25em 0.15em 0;
	}

}

.select{
	background-color: $button-background-secondary-color;
	background-image: inline-image("icon-arrow-down.png");
	background-position: right 50%;
	background-repeat: no-repeat;
	border: 1px solid $button-border-color;
	color: #777;
	font-family: $font-family;
	font-size: #{$default-font-size - 1};
	padding: 0.3em 2.2em 0.3em 0.5em;
	text-align: left;
	max-width: 100%;
	@include appearance(none);
	@include border-radius(3px);
	&::-ms-expand {
	    display: none;
	}
}

@mixin sakai_button_color( $button-color-background-color, $button-color-border-color, $button-color-text-color, $button-color-background-secondary-color ){
	background: $button-color-background-color;
	border: 1px solid $button-color-border-color;
	color: $button-color-text-color !important;
	cursor: pointer;
	font-family: $font-family;
	font-size: #{$default-font-size - 2 };
	letter-spacing: 0.8px;
	line-height: 18px;
	margin: 0.5em 0.8em 0.5em 0;
	padding: 6px 10px 7px 12px;
	position: relative;
	text-decoration: none !important;
	@include appearance(none);
	@include border-radius(3px);
	&:hover{
		text-decoration: none;
		@include background-image( linear-gradient( $button-color-background-color, $button-color-background-secondary-color ) );
	}
	&:active{
		text-decoration: none;
		outline: 0;
		@include background-image( linear-gradient( $button-color-background-secondary-color, $button-color-background-color ) );
	}
	&[disabled="disabled"],&[disabled],&[disabled="true"]{
		background: $button-color-background-color;
		color: darken($button-background-color, 30% );
		cursor: not-allowed;
		opacity: 0.7;
	}
}

.button_color, button {
	@include sakai_button_color( $button-color-background-color, $button-color-border-color, $button-color-text-color, $button-color-background-secondary-color );
}

@mixin sakai_button( $button-background-color, $button-border-color, $button-text-color, $button-background-secondary-color ){
	background: $button-background-color;
	border: 1px solid $button-border-color;
	color: $button-text-color !important;
	cursor: pointer;
	display: inline-block;
	font-family: $font-family;
	font-size: #{ $default-font-size - 2 };
	letter-spacing: 0.8px;
	margin: 0.5em 0.8em 0.5em 0;
	padding: 0.4em 0.8em 0.45em 0.8em;
	text-decoration: none !important;
	@include appearance(none);
	@include border-radius(3px);
	&:hover{
		text-decoration: none;
		@include background-image( linear-gradient( $button-background-secondary-color, $button-background-color ) );
	}
	&:active{
		outline: 0;
		text-decoration: none;
		@include background-image( linear-gradient( $button-background-color, $button-background-secondary-color ) );
	}
	&[disabled="disabled"],&[disabled],&[disabled="true"]{
		background: $button-background-color;
		color: lighten( $button-text-color, 5% );
		cursor: not-allowed;
		opacity: 0.7;
	}
}

.button{
	@include sakai_button( $button-background-color, $button-border-color, $button-text-color, $button-background-secondary-color );
}

a.noPointers, input.noPointers {
	pointer-events: none;
}

/*** Begin button spinner overlay ***/
@-moz-keyframes rotate {
	from {-moz-transform: rotate(0deg);}
	to {-moz-transform: rotate(360deg);}
}

@-webkit-keyframes rotate {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}

@keyframes rotate {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

.spinButton {
	position: relative;
}

.spinButton:after, .spinPlaceholder:after {
	content: "";
	background: url("images/ring58.png") center center no-repeat;
	-moz-animation-name: rotate;
	-moz-animation-duration: 1.6s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-webkit-animation-name: rotate;
	-webkit-animation-duration: 1.6s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-name: rotate;
	animation-duration: 1.6s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	display: inline;
	vertical-align: middle;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.spinPlaceholder, .allocatedSpinPlaceholder {
	position: relative;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-left: 5px;
}

.spinnerBesideContainer { 
	@include display-flex;
	@include align-items( center );
	label {
		margin: 0 4px 0 0;
	}
	select {
		margin-bottom: 0px;
	}
}
/*** End button spinner overlay ***/
