.sitesNav__drop{
	cursor: pointer;
	display: inline-block;
	height:  12px;
	width:   16px;
}

.blurry{
	@include filter( blur(0.1em) );
}

@mixin icon( $width : $icon-size, $height : $icon-size ){
	border: 0px none;
	display: inline-block;
	height:  $height;
	width:   $width;
	&:hover{
		opacity: 0.5;
	}
}

@mixin toolicon( $width : $icon-size, $height : $icon-size ){
	
	@if $skin-with-icons {
		border:  0px none;
		display: inline-block;
		height:  $height;
		width:   $width;
		margin:  0 0.25em 0.15em 0;
	}

}


@mixin sakai-button($begin-color, $end-color, $border-color, $text-color) {
	border:  1px solid $border-color;
	color:   $text-color;
	cursor:  pointer;
	display: inline-block;
	padding: 0.35em 0.55em !important;
	text-decoration: none;
	@include background-image( linear-gradient( $begin-color , $end-color ) );
	@include border-radius( 2px );
	&:hover{
		@if $button-gradiant {
			@include background-image( linear-gradient( $end-color , $begin-color ) );
		}
		@else {
			@include background-image( linear-gradient( darken($begin-color , 10%) , darken($begin-color , 10%) )  );
		}
	}
	a{
		color:   $text-color;
		text-decoration: none;
	}
}
