@import "font-awesome";

.Mrphs-toolsNav__menuitem--icon{
	display: block;
	line-height: 1.25;
	text-align: center;
}


@if $skin-with-icons {
	[class^="icon-sakai"],
	[class*=" icon-sakai"] {
		@extend .fa-lg;
		@extend .fa;
	}

	.icon-sakai-iframe-site{ 				@extend .fa-list-ul;}
	.icon-sakai-motd{ 					@extend .fa-list-ul;}

	/* when we're showing the motd tool as "Welcome" on the gateway page,
	   use a different icon. */
	a.Mrphs-hierarchy-item.Mrphs-hierarchy--toolName[href*="!gateway"] .icon-sakai-motd, a.Mrphs-toolsNav__menuitem--link[href*="!gateway"] .icon-sakai-motd{
		@extend .fa-sign-in;
	}

	.icon-sakai-syllabus{					@extend .fa-map-o;}
	.icon-sakai-schedule{					@extend .fa-calendar;}
	.icon-sakai-signup{					@extend .fa-calendar-check-o ;}
	.icon-sakai-resources{					@extend .fa-folder-open;}
	.icon-sakai-dropbox{					@extend .fa-exchange;}
	.icon-sakai-assignment-grades{				@extend .fa-file-text;}
	.icon-sakai-samigo{					@extend .fa-list-ol;}
	.icon-sakai-gradebook-tool{				@extend .fa-book;}
	.icon-sakai-gradebookng{				@extend .fa-book;}
	.icon-sakai-announcements{				@extend .fa-bullhorn;}
	.icon-sakai-chat{					@extend .fa-comments-o;}
	.icon-sakai-rwiki{ 					@extend .fa-edit;}
	.icon-sakai-mailbox{					@extend .fa-envelope-o;}
	.icon-sakai-emailtemplateservice{			@extend .fa-envelope;}
	.icon-sakai-news{					@extend .fa-rss;}
	.icon-sakai-simple-rss{					@extend .fa-newspaper-o;}
	.icon-sakai-basiclti{					@extend .fa-globe;}
	.icon-sakai-messages{					@extend .fa-inbox;}
	.icon-sakai-dashboard{					@extend .fa-dashboard;}
	.icon-sakai-site-roster2{				@extend .fa-users;}
	.icon-sakai-sections{					@extend .fa-user;}
	.icon-sakai-resetpass{					@extend .fa-user;}
	.icon-sakai-createuser{					@extend .fa-user-plus;}
	.icon-sakai-realms{					@extend .fa-sitemap;}
	.icon-sakai-profile2{					@extend .fa-user;}
	.icon-sakai-membership{					@extend .fa-users;}
	.icon-sakai-singleuser{					@extend .fa-user;}
	.icon-sakai-help{					@extend .fa-question-circle;}
	.icon-sakai-preferences{				@extend .fa-gear;}
	.icon-sakai-siteinfo{					@extend .fa-gear;}
	.icon-sakai-sitesetup{					@extend .fa-gears;}
	.icon-sakai-iframe{					@extend .fa-globe;}
	.icon-sakai-sitebrowser{				@extend .fa-globe;}
	.icon-sakai-search{					@extend .fa-search;}
	.icon-sakai-poll{					@extend .fa-bar-chart;}
	.icon-sakai-mailtool{					@extend .fa-envelope-o;}
	.icon-sakai-lessonbuildertool{				@extend .fa-leanpub;}
	.icon-sakai-lessonbuildertool{				@extend .fa-leanpub;}
	.icon-sakai-sitestats{					@extend .fa-pie-chart;}
	.icon-sakai-sitestats-admin{				@extend .fa-pie-chart;}
	.icon-sakai-forums{					@extend .fa-comments;}
	.icon-sakai-podcasts{					@extend .fa-microphone;}
	.icon-sakai-postem{					@extend .fa-sticky-note-o;}
	.icon-sakai-users{					@extend .fa-users;}
	.icon-sakai-su{						@extend .fa-user-secret;}
	.icon-sakai-usermembership{				@extend .fa-user;}
	.icon-sakai-aliases{					@extend .fa-tags;}
	.icon-sakai-sites{					@extend .fa-list;}
	.icon-sakai-archive{					@extend .fa-archive;}
	.icon-sakai-online{					@extend .fa-server;}
	.icon-sakai-memory{					@extend .fa-hdd-o;}
	.icon-sakai-scheduler{					@extend .fa-clock-o;}
	.icon-sakai-basiclti-admin{				@extend .fa-globe;}
	.icon-sakai-adminsiteperms{				@extend .fa-sliders;}
	.icon-sakai-message-bundle-manager{			@extend .fa-gear;}
	.icon-sakai-delegatedaccess{				@extend .fa-hand-o-right;}
	.icon-sakai-web-168{					@extend .fa-globe;}
	.icon-sakai-pasystem{					@extend .fa-bell;}
	.icon-sakai-feedback{					@extend .fa-paper-plane-o;}
	.icon-sakai-subsite{				@extend .fa-level-up; }
	.icon-sakai-subsites-list{				@extend .fa-level-down; }
	.icon-sakai-home{                       @extend .fa-university;}
	.icon-sakai-delete{                     @extend .fa-times;}
	.icon-sakai-pdf{                        @extend .fa-file-pdf-o;}
	.icon-sakai-clip{                       @extend .fa-paperclip;}
	.icon-sakai-check{                      @extend .fa-check;}
	.icon-sakai-rsf-evaluation{             @extend .fa-commenting;}
}
