@import "base/compass";

body{
	@media #{$phone}{
		&.toolsNav--displayed{
			#toolMenuWrap{
				width: 100%;
				top: 6.3em;
				left: 0px;
				box-shadow: 0px 0em 1em rgba(0,0,0,0.5);
				overflow-y:auto;
				height:95%;
				.Mrphs-toolsNav__menuitem--title{
					display: inline;
					letter-spacing: 0px;
					border: 0px none;
					@include border-radius( 0 );
					box-shadow: none;
				}
				> h1.skip{
					display: block;
					position: relative;
					top: 0;
					left: 0;
					height: 1em;
					padding: 0.6em 0 1.6em 0.5em;
					line-height: 1.05;
					font-size: 1em;
					font-weight: 300;
					background: $tool-background-color;
					margin: 0;
					border-bottom:  1px solid darken( $tool-menu-background-color, 5% );
					position: relative;
					&:after {
						bottom: 100%;
						left: 25%;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
						border-color: rgba(255, 255, 255, 0);
						border-bottom-color: #FFF;
						border-width: 7px;
						margin-left: -7px;
						outline: 0;
					}
				}
			}
			#toolMenu, ul#subSites{
				ul{
					list-style: none;
					padding: 0 0 0 0;
					li{
						border-left: 2px solid darken( $tool-menu-background-color, 10% );
						display: inline-block;
						margin: -4px -4px 0px 0; //FIX for inline-block extra space.
						width: calc( 25% - 1px );
						&.#{$namespace}collapseTools{
							display: none;
						}
						.#{$namespace}toolsNav__subnav{
							li{
								a{
						  			@media #{$phone}{
										padding: 0.6em 0 0.6em 2em;
									}
								}
							}
						}
						.#{$namespace}toolsNav__category {				
							display: block;
						}
					}
				}

			}
		}
		&.sitesNav--displayed{

			.Mrphs-mainHeader{
				&.is-maximized{
					.siteNavWrap{
						background: $primary-color;
						margin-top: -3em;
						min-height: 100%;
						padding-top: 3em;
						position: fixed;
						width: 85%;
						box-shadow: 0 0 20em rgba( 0,0,0,0.8 );
					}
				}
			}


			#toolMenuWrap{
				left: #{  $tool-menu-width * -1 };
			}
			#linkNav{
				background: transparent;
				display: block;
				max-height: 100%;
				overflow: auto;
				ul{
					li.#{$namespace}sitesNav__menuitem {
						display: block;
						margin: 1.5em;
						&.is-selected{
							a{
								background: $background-color;
							}
						}
						a{
							background: darken( $background-color-secondary, 5% );
							border-right: 0px none;
						}
						&.#{$namespace}sitesNav__menuitem--myworkspace{
							background: $primary-color;
							margin: 0 0 0 0;
							a{
								background: $primary-color;
							}
						}
					}
					&.#{$namespace}sitesNav__menu{
						margin: 1em 0.8em 0 1.2em;
					}
				}
			}
			.#{$namespace}mainHeader{
				.#{$namespace}headerLogo{
					width: 75%;
					display: block;
					position: absolute;
					z-index: 40;
					margin: 0 0 0 4em;
					.#{$namespace}headerLogo--institution{
						display: inline-block;
						margin: 0.6em 0em 0 1em;
					}
				}
			}
		}
	}
}
