// https://github.com/Team-Sass/breakpoint/wiki/Respond-To

$break-small-end: 	800px;

$phone:   "only screen and (max-width : #{ $break-small-end })";
$desktop: "only screen and (min-width : #{ $break-small-end + 1 })";

//This shouldn't be here but classes are togglered in body :(
body{
	@media #{$phone}{
		&.toolsNav--displayed{
			#skipNav{
				.js-toggle-tools-nav{
					top: 47px;
					left: #{ $tool-menu-width * 0.8 };
					z-index: 20;
					@include transform( rotateZ(180deg) );
				}
			}
			#toolMenuWrap{
				width: $tool-menu-width;
				z-index: 10;
				.Mrphs-toolsNav__menuitem--title{
					display: inline;
					letter-spacing: 0px;
					border: 0px none;
					@include border-radius( 0 );
					@include box-shadow( none );
				}
			}
			#toolMenu{
				ul{
					li{
						.#{$namespace}toolsNav__subnav{
							li{
								a{
						  			@media #{$phone}{
										padding: 0.6em 0 0.6em 2em;
									}
								}
							}
						}
						.#{$namespace}toolsNav__category {				
							display: block;
						}
					}
				}

			}
		}
		&.sitesNav--displayed{

			#toolMenuWrap{
				display: none;
			}
			#linkNav{
				left: 0;
				@include box-shadow( 3em 0 13em rgba(54,54,54,0.75) );
				ul{
					&.#{namespace}sitesNav__menu{
						margin: 1em 0.8em 0 1.2em;
					}
				}
			}
			.#{$namespace}mainHeader{
				.#{$namespace}headerLogo{
					width: 75%;
					display: block;
					position: absolute;
					z-index: 40;
				}
			}
			#skipNav{
				.js-toggle-tools-nav{
					display: none;
				}
				.js-toggle-sites-nav{
					left: 77%;
					.hamburger{
						.top{
							@include transform( rotateZ(-45deg) );
							top: -9px;
							left: -18px;
							color: darken($errorcolor, 40%);
						}
						.middle{
			  				opacity: 0;
			  			}
			  			.bottom{
			  				@include transform( rotateZ(45deg) );
			  				top: -33px;
			  				left: 26px;
							color: darken($errorcolor, 40%);
			  			}
					}
				}
			}
		}
	}
}