body{
	@media #{$phone}{
		&.toolsNav--displayed{
			#skipNav{
				.js-toggle-tools-nav{
					top: 2em;
					z-index: 20;
					@include transform( rotateZ(180deg) );
				}
			}
			#toolMenuWrap{
				top: 2em;
				width: $tool-menu-width;
				z-index: 10;
				left:0px;
				@include box-shadow( 0px 1em 1em rgba(0,0,0,0.5) );
				.Mrphs-toolsNav__menuitem--title{
					display: inline;
					letter-spacing: 0px;
					border: 0px none;
					@include border-radius( 0 );
					@include box-shadow( none );
				}
			}
			#toolMenu{
				ul{
					li{
						.#{$namespace}toolsNav__subnav{
							li{
								a{
						  			@media #{$phone}{
										padding: 0.6em 0 0.6em 2em;
									}
								}
							}
						}
						.#{$namespace}toolsNav__category {				
							display: block;
						}
					}
				}

			}
		}
		&.sitesNav--displayed{

			.Mrphs-mainHeader{
				&.is-maximized{
					.siteNavWrap{
						background: $primary-color;
						margin-top: -3em;
						min-height: 100%;
						padding-top: 3em;
						position: fixed;
						width: 85%;
						@include box-shadow(0 0 20em rgba( 0,0,0,0.8 ) );
					}
				}
			}


			#toolMenuWrap{
				display: none;
			}
			#linkNav{
				background: transparent;
				display: block;
				max-height: 100%;
				overflow: auto;
				ul{
					li.#{$namespace}sitesNav__menuitem {
						display: block;
						margin: 1.5em;
						&.is-selected{
							a{
								background: $background-color;
							}
						}
						a{
							background: darken( $background-color-secondary, 5% );
							border-right: 0px none;
						}
						&.#{$namespace}sitesNav__menuitem--myworkspace{
							background: $primary-color;
							margin: 0 0 0 0;
							a{
								background: $primary-color;
							}
						}
					}
					&.#{$namespace}sitesNav__menu{
						margin: 1em 0.8em 0 1.2em;
					}
				}
			}
			.#{$namespace}mainHeader{
				.#{$namespace}headerLogo{
					width: 75%;
					display: block;
					position: absolute;
					z-index: 40;
					margin: 0 0 0 4em;
					.#{$namespace}headerLogo--institution{
						display: inline-block;
						margin: 0.6em 0em 0 1em;
					}
				}
			}
			#skipNav{
				.js-toggle-tools-nav{
					display: none;
				}
				.js-toggle-sites-nav{
					left: 77%;
					top: 30px;
					z-index: 30;
					#show-all-sites-mobile
					{
						display: none;
					}
					.hamburger{
						display: inline-flex;
						.top{
							@include transform( rotateZ(-45deg) );
							top: -9px;
							left: -18px;
							color: $background-color-secondary;
						}
						.middle{
			  				opacity: 0;
			  			}
			  			.bottom{
			  				@include transform( rotateZ(45deg) );
			  				top: -33px;
			  				left: 26px;
							color: $background-color-secondary;
			  			}
					}
				}
			}
		}
	}
}
