html[dir="rtl"]{
	body{
		.is-logged-out{
			#content, .#{$namespace}container--footer{
				margin: #{$header-size * 1.55 } #{$tool-menu-width + 30} 0 0 ;
			}
		}
		#content, .#{$namespace}container--footer{
			margin: #{$header-size * 3 } #{$tool-menu-width + 30} 0 0;
 		}

 		.#{$namespace}mainHeader{
 			right: 0;
 		}

 		.is-maximized{
 			.siteNavWrap{
 				@include filter-gradient( darken($background-color-secondary, 5%), $background-color-secondary, horizontal); // IE6-8
 				@include background-image(linear-gradient(left, darken($background-color-secondary, 5%) 0%, $background-color-secondary 22%));
 			}
 		}

 		.is-minimized{
 			.#{$namespace}loginNav{
 				width: calc(100% - #{$tool-menu-width * 1.1 } );
 				text-align: left;
 				@media #{$phone}{
 					float: left;
 				}
 			}
 		}
 		#mastLogin{
 			.#{$namespace}loginUser{
 				left: 10px;
 				right: auto !important;
 			}
 			#loginLinks{
 				right: $tool-menu-width;
 				li{
 					text-align: left;
 				}
 				ul{
 					text-align: right;
 					left: 11px;
 					right: auto;
 				}
 				@media #{$phone}{
 					left: 90px;
 				}
 			}
 		}
 		#linkNav{
 			@media #{$phone}{
 				right: 0;
 			}
 		}

 		#toolMenuWrap{
 			@include border-radius( 0 0 0 10px );
 			@media #{$phone}{
 				left: auto;
 				right: -#{$tool-menu-width};
 			}
 		}

 		.#{$namespace}toolsNav__title--current-site{
 			margin: #{ $header-size  } #{$tool-menu-width + $header-size / 2 } 0 0;
 		}

 		#toolMenu{
 			ul{
 				padding: 0.8em 0;
 				li{
 					&.is-current{
 						@include box-shadow( inset -2px 0 2px rgba( $text-color, 0.25 ) );
 					}
 				}
 			}
 		}
 		#skipNav{
 			@media #{$phone}{
 				.js-toggle-tools-nav{
 					left:auto;
 					right:10px;
 				}
 				.js-toggle-sites-nav{
 					right:50px;
 					left : auto;
 				}
 			}
 		}
 		/* Responsive */
 		@media #{$phone}{
 			&.toolsNav--displayed{
 				#toolMenuWrap{
 					right: 0px;
 					left : auto;
 				}
 				#skipNav{
 					.js-toggle-tools-nav{
 						right: 185px;
 						left:  auto;
 					}
 				}
 			}
 		}
	}
}