.#{$namespace}sakai-samigo{
	.samigo-inline-form {
		td {
			label{
				display: inline;
				margin: 0 0 0 0.3em;
			}
		}
	}

	legend.samigo-legend {
		margin-bottom: 1em;
		font-size: 1.2em;
		font-weight: normal;
		color: inherit;
	}

	#samigo-create-new-box, #samigo-create-import-box {
		margin-bottom: $standard-spacing;
		padding: $standard-spacing;
		border: 1px solid var(--sakai-border-color);
		background: var(--sakai-background-color-2);

		h2 {
			margin: 0 0 15px 0; 	// to match the .form-group's spacing
		}

		label, input[type="radio"] {
			margin-right: $standard-space;
		}

		& > .form-group:last-of-type {
			margin-bottom: 0;
		}
	}

	#samigo-create-or-box {
		margin: $standard-spacing 0;	// give it space on the bottom for column layout
		font-size: 20px;		// to match h2 default size
		line-height: 1.05;
		text-align: center;
	}

	.samigo-question-callout {
			border-left: 5px solid var(--tool-border-color);
			margin: 2em 0;
			padding: 1.5em 2.5em 1.5em 1.5em;
			input[type="checkbox"], input[type="radio"] {
				margin-right: 0.25em;
			}
			label {
				font-weight: normal;
			}
	}

	.listNav {
		.inlineForm {
			@extend .panel;
			@extend .panel-default;
			.pager-instruction {
				@extend .panel-heading;
				@extend .small;
				text-align: center;
			}
			display: inline-block;
			fieldset {
				display: inline-block;
			}
			legend {
				display: none;
			}
		}
	}

	.samigo-inline-radio {
		label,
		&.fa {
			margin-right: $standard-spacing;
		}
	}
	
	.samigo-checkbox {
		label {
			margin: 0 0 0 $standard-space;
		}
	}
	
	.matrixSurvey{
		padding: 0 1em 0 1em;
	}
	
	.feedBackCheck, .feedBackCross, .feedBackNone{
		min-width: 20px;
		margin-right: 0.2em;
	}
	
	.feedBackNone{
		visibility: hidden;
	}
	
	.feedBackCheck{
		color: var(--successBanner-color);
	}
	
	.feedBackCross{
		color: var(--errorBanner-color);
	}
	
	.feedBackMultipleChoice{
		width: 2em;
	}
	
	.disabledField{
		color: var(--errorBanner-color);
		text-decoration: line-through;
	}

	#assessmentSettingsAction,#itemForm{
		ul{
			list-style: none;
			padding: 0 0 0 0;
		}
	}
	.mcscFixUp > ul,.question-wrapper{
		list-style: none;
		padding: 0 0 0 0;
	}

	#itemForm\:partialCredit_toggle.tier3,
	#itemForm\:mcms_credit_toggle.tier3,
	#itemForm\:discountDiv.tier3{
		margin-left: 3em  !important;
	}

	.divContainer {
		clear: right;
	}

	.divLeft {
		margin-top: 0.5em;
	}

	.divRight{
		text-align: right;
		@media #{$phone}{
			text-align: left;
		}
	}
	
	#itemForm\:discountDiv #itemForm\:answerdsc{
		margin-left: 10px;
		width: 45px;
		@media #{$phone}{
			margin-left: 0px;
		}
	}
	
	.indent1{
		margin-left: 2em;
	}
	
	//This is for jsf labels and checkboxes	
	#itemForm\:chooseAnswerTypeForMC input[type="radio"]{
		@media #{$phone}{
			float:left;
			& + label {
				overflow:auto;
				display:block;
			}
		}
	}
	
	#assessmentSettingsAction .layout-navigation input[type="radio"]{
		@media #{$nonPhone}{
			float:left;
			& + label {
				overflow:auto;
				display:block;
				margin-left: 1.5em;
			}
		}
	}
	
	#assessmentSettingsAction input[type="radio"],
	#assessmentSettingsAction input[type="checkbox"]{
		margin-right: $standard-space; 
		
		@media #{$tablet}{
			float:left;
			& + label {
				overflow:auto;
				display:block;
			}
		}
	}

	#assessmentSettingsAction input#assessmentSettingsAction\:selTimeAssess {
		float: none;
	}

	#assessmentSettingsAction input[name="assessmentSettingsAction\:userOrGroup"] {
		margin-right: $standard-space;
	}
	
	#assessmentSettingsAction input[type="checkbox"]{
		@media #{$tablet}{
			& + label {
			margin-left: 1.5em;
			}
		}
	}

	table{
	   	td{
	   		input[type="checkbox"],input[type="radio"]{
	   			margin-right: $standard-space;
	   		}
	   	}
	   	&.listHier td:empty{
   			padding: 0;
   		}
	}
	
	#samLiteEntryForm\:data{
		margin-top: 1.2em;
	}
	
	#templateCreateForm{
		label[for="templateCreateForm:tempName"]{
			margin-right: 1em;
		}
	}
	
	.toolTipLink{
		color: var(--link-color);
		background-color: var(--link-background-color);
		text-decoration: underline;
		cursor: pointer;
		&:hover{
			color: var(--link-hover-color);
			background-color: var(--link-hover-background-color);
			text-decoration:underline;
		}
	}

	.extendedTimeDataTable {
		margin-bottom: .5em;

		select {
			max-width: 150px;
		}

		thead tr th {
			border-bottom: 1px solid var(--sakai-border-color);
		}

		tr {
			border-bottom: 1px solid var(--sakai-border-color);
		}

		.extendedTime-user, .extendedTime-group {
			max-width: 160px;
		}

		.extendedTime-mins {
			min-width: 70px;
		}
	}
	
	.navIntraTool {
		margin: 0px !important;
	}

	.ui-autocomplete-input {
		@extend .form-control;

		width: initial;
		max-width: initial;
		display: inline-block;
	}

	.ui-corner-right {
		height: 34px;
		margin-top: -3px;
		margin-left: -3px;
	}

	.dataTables_wrapper {
		.dataTables_length {
			float: left;

			@media #{$phone}{
				float: initial;
			}
		}

		.dataTables_filter {
			float: right;
			text-align: right;

			@media #{$phone}{
				float: initial;
				text-align: initial;
			}

			input {
				@extend .form-control;

				width: initial;
				max-width: initial;
				display: inline-block;
				margin-left: 6px;
			}
		}

		.dataTables_info {
			clear: both;
			float: left;
		}

		.dataTables_paginate {
			float: right;
			text-align: right;

			> a.paginate_button {
				@extend input, [type="submit"];

				&.disabled {
					@extend input, [type="submit"], [disabled="disabled"];
				}
			}

			span {
				.paginate_button {
					color: var(--sakai-text-color-1) !important;

					@extend button;

					&:hover {
						color: var(--sakai-text-color-1) !important;
					}

					&.current {
						@extend .btn-default, :active, :hover;
					}
				}

				a.paginate_button {
					@extend .btn-default;
				}
			}

			.ellipsis {
				margin-right: 10px;
			}
		}
	}

	.dataTable {
		thead {
			.sorting_asc, .sorting_desc {
				a {
					position: relative;
					margin-right: 11px;

					&::after {
						content: " ";
						width: 11px;
						height: 11px;
						position: absolute;
						bottom: 2px;
						right: -14px;
					}
				}
			}

			.sorting_asc {
				a::after {
					background: url(/library/image/sakai/sortascending.gif?panel=Main);
				}
			}

			.sorting_desc {
				a::after {
					background: url(/library/image/sakai/sortdescending.gif?panel=Main);
				}
			}
		}
	}

	#{'#authorIndexForm\\:remove-selected'} {
		@extend button;

		&.disabled {
			@extend input, [type="submit"], [disabled="disabled"];
			background: var(--button-disabled-background);
			border-color: var(--button-disabled-border-color);
			color: var(--button-disabled-text-color) !important;

			&:hover {
				background: var(--button-disabled-background);
				border-color: var(--button-disabled-border-color);
				color: var(--button-disabled-text-color) !important;
			}
		}
	}

	.parts-table {
		label.notbold {
			font-weight: normal;
		}
	}

	.timerTableColumn {
		text-align: center
	}

	.timerTableColumnLeft {
		text-align: left
	}

	.matrixTable {
		border-style: dotted;
		border-width: 1px;
		border-color: var(--sakai-border-color);
	}

	#delivAssessmentWrapper {
		width: 96%;
		float: left;
	}

	.downloanQuestionCheckbox label {
		display: none;
	}

	.exitPreviewButton {
		margin-left: $standard-space;
	}

	.jqplot-target {
		color: var(--sakai-text-color-1);
		font-family: var(--sakai-font-family);
	}

	.disabled.awesomplete {
		background-color: transparent;
		color: var(--sakai-text-color-disabled);
	}
}
