.fl-theme-slate :focus,.fl-theme-slate .selectable{outline:.1em solid #000;}
.fl-theme-slate{color:#000!important;background-color:#ccc!important;border-color:#999;}
.fl-theme-slate a{color:#ebebeb!important;font-weight:bold;}
.fl-theme-slate a:hover{color:#fff!important;}
.fl-theme-slate h1{color:#999;border-bottom-width:.2em;border-bottom-style:solid;}
.fl-theme-slate h2{color:#fff;}
.fl-theme-slate th{border:.1em solid #fff;background-color:#dfefff!important;}
.fl-theme-slate td{border:.1em solid #999!important;}
.fl-theme-slate .fl-textfield,.fl-theme-slate .fl-textarea{background-color:#ccc;border:1px solid #666;}
.fl-theme-slate .fl-icon{background-color:#ebebeb;}
.fl-theme-slate .fl-inlineEdit-edit{background-color:#dfefff!important;border:.1em solid #fff;margin:-0.1em;}
.fl-theme-slate .fl-button-left,.fl-theme-slate .fl-button-right{color:#FFF!important;background-color:#999!important;}
.fl-theme-slate .fl-button-left{background-image:url(../images/themes/slate/buttons-med-cap.png);}
.fl-theme-slate .fl-button-right{background-image:url(../images/themes/slate/buttons-med-cap.png);}
.fl-theme-slate .fl-button-inner{background-image:url(../images/themes/slate/buttons-med-bg.png);}
.fl-theme-slate .fl-tabs{border-bottom-color:#999;}
.fl-theme-slate .fl-tabs li,.fl-theme-slate .fl-tabs li a{font-weight:bold;color:#999;border-color:#999;border-bottom-color:#999;background-color:#666;text-decoration:none;}
.fl-theme-slate .fl-tabs li a:hover{background-color:#999;color:#fff!important;}
.fl-theme-slate .fl-tabs li.fl-activeTab,.fl-theme-slate .fl-tabs li.fl-activeTab:hover,.fl-theme-slate .fl-tabs li.fl-activeTab a,.fl-theme-slate .fl-tabs li.fl-activeTab a:hover,.fl-theme-slate .fl-tabs li.fl-tabs-active,.fl-theme-slate .fl-tabs li.fl-tabs-active a,.fl-theme-slate .fl-tabs li.fl-tabs-active a:hover{background-color:#ebebeb;border-bottom-color:#ccc;color:#000!important;}
.fl-theme-slate .fl-tabs-content{background-color:#ebebeb;color:#000;border:1px solid #999;border-top:none;}
.fl-theme-slate .fl-listmenu{border:1px solid #999;border-bottom-width:2px;background-color:#ccc;}
.fl-theme-slate .fl-listmenu li,.fl-theme-slate .fl-listmenu li a{font-weight:bold;background-color:#999;border-color:#ccc;text-decoration:none;}
.fl-theme-slate .fl-listmenu a:hover{background-color:#ebebeb;color:#000!important;}
.fl-theme-slate .fl-listmenu .fl-activemenu,.fl-theme-slate .fl-listmenu .fl-activemenu:hover{background-color:#ccc;border-bottom-color:#ccc;color:#d9d9d9;}
.fl-theme-slate .fl-grid{border:2px solid #999;background-color:#ccc;}
.fl-theme-slate .fl-grid li{background-color:#dfefff;border:1px solid #999;}
.fl-theme-slate .fl-grid .caption{background-color:#dfefff;color:#fff;}
.fl-theme-slate .fl-widget{background:#ccc url(../images/themes/slate/widget-bg.png) repeat-x top left;border:1px solid #666;}
.fl-theme-slate .fl-widget h2{color:#ccc;}
.fl-theme-slate .fl-widget .fl-icon-more{background-image:url('../images/themes/slate/icon-widget-More.png');margin-left:0;}
.fl-theme-slate .fl-widget .fl-icon-close{background-image:url('../images/themes/slate/icon-widget-Close.png');margin-right:0;}
.fl-theme-slate .fl-grabbable .fl-widget-titlebar{background-image:url('../images/themes/slate/icon-widget-gripper.png');}
.fl-theme-slate .fl-widget-titlebar .icon{background-position:center center;}
.fl-theme-slate .fl-widget-titlebar .fl-button-right,.fl-theme-slate .fl-widget-titlebar .fl-button-left{color:#333!important;background-image:url(../images/themes/slate/buttons-titlebar-cap.png);text-decoration:none;}
.fl-theme-slate .fl-widget-titlebar .fl-button-inner{background-image:url(../images/themes/slate/buttons-titlebar-bg.png);padding-bottom:.3em;padding-top:0;}
.fl-theme-slate .fl-widget-options li{border-left:1px solid #ccc;}
.fl-theme-slate .fl-widget-options a.icon:hover{background-color:#fff;border-color:#000;}
.fl-theme-slate .fl-widget-content{background-color:#bfbfbf;}
.fl-theme-slate .fl-progress-bounds{border-color:#999;background-color:#ccc;}
.fl-theme-slate .fl-progress-fill{color:#999;background-color:#000;}
.fl-theme-slate .fl-reorderer-dropMarker{background-color:#f00!important;}
.fl-theme-slate .fl-tabs-enhanced{background:url(../images/themes/slate/tabs-light-container-bg.png) repeat-x left bottom;border-bottom:none;margin:10px 1px 0;padding:5px 0 6px;*padding:0;}
.fl-theme-slate .fl-tabs-enhanced li{background:transparent url(../images/themes/slate/tabs-light-cap.png) no-repeat left top;padding:4px 0 6px 16px;*padding-top:0;}
.fl-theme-slate .fl-tabs-enhanced li a{background:transparent url(../images/themes/slate/tabs-light-bg.png) no-repeat right top;border:none;margin:0;padding:4px 16px 6px 0;color:#666!important;*padding-bottom:4px;}
.fl-theme-slate .fl-tabs-enhanced li.fl-tabs-active{background:transparent url(../images/themes/slate/tabs-light-active-cap.png) no-repeat scroll left top;}
.fl-theme-slate .fl-tabs-enhanced li.fl-tabs-active a{background:transparent url(../images/themes/slate/tabs-light-active-bg.png) no-repeat scroll right top;color:#000!important;}
.fl-theme-slate .fl-widget-content .fl-tabs-enhanced{background:url(../images/themes/slate/tabs-med-container-bg.png) repeat-x left bottom;border-bottom:none;margin:10px 1px 0;padding:5px 0 6px;*padding:0;}
.fl-theme-slate .fl-widget-content .fl-tabs-enhanced li{background:transparent url(../images/themes/slate/tabs-med-cap.png) no-repeat left top;padding:4px 0 6px 16px;*padding-top:0;}
.fl-theme-slate .fl-widget-content .fl-tabs-enhanced li a{background:transparent url(../images/themes/slate/tabs-med-bg.png) no-repeat right top;border:none;margin:0;padding:4px 16px 6px 0;color:#666!important;*padding-bottom:4px;}
.fl-theme-slate .fl-widget-content .fl-tabs-enhanced li.fl-tabs-active{background:transparent url(../images/themes/slate/tabs-med-active-cap.png) no-repeat scroll left top;}
.fl-theme-slate .fl-widget-content .fl-tabs-enhanced li.fl-tabs-active a{background:transparent url(../images/themes/slate/tabs-med-active-bg.png) no-repeat scroll right top;color:#000!important;}