.fl-theme-coal :focus,.fl-theme-coal .selectable{outline:.1em solid #000;}
.fl-theme-coal{color:#000!important;background-color:#ebebeb!important;border-color:#000;}
.fl-theme-coal a{color:#333!important;font-weight:bold;}
.fl-theme-coal a:hover{color:#999!important;}
.fl-theme-coal h1{color:#000;border-bottom-width:.2em;border-bottom-style:solid;}
.fl-theme-coal h2{color:#666;}
.fl-theme-coal th{border:.1em solid #fff;background-color:#dfefff!important;}
.fl-theme-coal td{border:.1em solid #999!important;}
.fl-theme-coal .fl-textfield,.fl-theme-coal .fl-textarea{background-color:#fff;border:1px solid #000;}
.fl-theme-coal .fl-icon{background-color:#666;}
.fl-theme-coal .fl-inlineEdit-edit{background-color:#ebebeb!important;border:.1em solid #fff;margin:-0.1em;}
.fl-theme-coal .fl-button-left,.fl-theme-coal .fl-button-right{color:#FFF!important;background-color:#333!important;}
.fl-theme-coal .fl-button-left{background-image:url(../images/themes/coal/buttons-med-cap.png);}
.fl-theme-coal .fl-button-right{background-image:url(../images/themes/coal/buttons-med-cap.png);}
.fl-theme-coal .fl-button-inner{background-image:url(../images/themes/coal/buttons-med-bg.png);}
.fl-theme-coal a.fl-button-left:hover,.fl-theme-coal a.fl-button-right:hover{color:#fff!important;}
.fl-theme-coal .fl-tabs{border-bottom-color:#333;}
.fl-theme-coal .fl-tabs li,.fl-theme-coal .fl-tabs li a{font-weight:bold;color:#fff!important;border-color:#333;border-bottom-color:#333;background-color:#666;text-decoration:none;}
.fl-theme-coal .fl-tabs li a:hover{background-color:#333;color:#fff!important;}
.fl-theme-coal .fl-tabs li.fl-activeTab,.fl-theme-coal .fl-tabs li.fl-activeTab:hover,.fl-theme-coal .fl-tabs li.fl-activeTab a,.fl-theme-coal .fl-tabs li.fl-activeTab a:hover,.fl-theme-coal .fl-tabs li.fl-tabs-active,.fl-theme-coal .fl-tabs li.fl-tabs-active a,.fl-theme-coal .fl-tabs li.fl-tabs-active a:hover{background-color:#ebebeb;border-bottom-color:#ebebeb;color:#000!important;}
.fl-theme-coal .fl-tabs-content{background-color:#ebebeb;color:#000;border:1px solid #999;border-top:none;}
.fl-theme-coal .fl-listmenu{border:1px solid #333;border-bottom-width:2px;background-color:#ebebeb;}
.fl-theme-coal .fl-listmenu li,.fl-theme-coal .fl-listmenu li a{font-weight:bold;background-color:#ebebeb;border-color:#333;text-decoration:none;}
.fl-theme-coal .fl-listmenu a:hover{background-color:#fff;color:#333!important;}
.fl-theme-coal .fl-listmenu .fl-activemenu,.fl-theme-coal .fl-listmenu .fl-activemenu:hover{background-color:#fff;border-bottom-color:#999;color:#d9d9d9;}
.fl-theme-coal .fl-grid{border:2px solid #000;background-color:#ccc;}
.fl-theme-coal .fl-grid li{background-color:#dfefff;border:1px solid #000;}
.fl-theme-coal .fl-grid .caption{background-color:#dfefff;color:#fff;}
.fl-theme-coal .fl-widget{background:#333 url(../images/themes/coal/widget-bg.png) repeat-x top left;border:1px solid #000;}
.fl-theme-coal .fl-widget h2{color:#fff;}
.fl-theme-coal .fl-widget .fl-icon-more{background-image:url('../images/themes/coal/icon-widget-More.png');margin-left:0;}
.fl-theme-coal .fl-widget .fl-icon-close{background-image:url('../images/themes/coal/icon-widget-Close.png');margin-right:0;}
.fl-theme-coal .fl-grabbable .fl-widget-titlebar{background-image:url('../images/themes/coal/icon-widget-gripper.png');}
.fl-theme-coal .fl-widget-titlebar{background-position:center top;background-repeat:no-repeat;}
.fl-theme-coal .fl-widget-titlebar .icon{background-position:center center;}
.fl-theme-coal .fl-widget-titlebar .fl-button-right,.fl-theme-coal .fl-widget-titlebar .fl-button-left{background-image:url(../images/themes/coal/buttons-titlebar-cap.png);text-decoration:none;}
.fl-theme-coal .fl-widget-titlebar .fl-button-inner{background-image:url(../images/themes/coal/buttons-titlebar-bg.png);padding-bottom:.3em;padding-top:0;}
.fl-theme-coal .fl-widget-options li{border-left:1px solid #ccc;}
.fl-theme-coal .fl-widget-options li a{color:#ebebeb!important;}
.fl-theme-coal .fl-widget-options li a:hover{color:#fff!important;}
.fl-theme-coal .fl-widget-options a.icon:hover{background-color:#fff;border-color:#000;}
.fl-theme-coal .fl-widget-content{background-color:#fff;}
.fl-theme-coal .fl-progress-bounds{border-color:#333;background-color:#ebebeb;}
.fl-theme-coal .fl-progress-fill{color:#fff;background-color:#999;}
.fl-theme-coal .fl-reorderer-dropMarker{background-color:#f00!important;}
.fl-theme-coal .fl-tabs-content-enhanced{background:#ebebeb url(../images/themes/coal/tabs-med-content-bg.png) repeat-x left top;border:none;}
.fl-theme-coal .fl-tabs-enhanced{background:url(../images/themes/coal/tabs-med-container-bg.png) repeat-x left bottom;border-bottom:none;margin:10px 0 0;padding:5px 0 6px;*padding:0;}
.fl-theme-coal .fl-tabs-enhanced li{background:transparent url(../images/themes/coal/tabs-med-cap.png) no-repeat left top;padding:4px 0 6px 16px;*padding-top:0;}
.fl-theme-coal .fl-tabs-enhanced li a{background:transparent url(../images/themes/coal/tabs-med-bg.png) no-repeat right top;border:none;margin:0;padding:4px 16px 6px 0;color:#ebebeb!important;*padding-bottom:4px;}
.fl-theme-coal .fl-tabs-enhanced li.fl-tabs-active{background:transparent url(../images/themes/coal/tabs-med-active-cap.png) no-repeat scroll left top;}
.fl-theme-coal .fl-tabs-enhanced li.fl-tabs-active a{background:transparent url(../images/themes/coal/tabs-med-active-bg.png) no-repeat scroll right top;color:#fff!important;}
.fl-theme-coal .fl-widget-content .fl-tabs-content-enhanced{background:#ebebeb url(../images/themes/coal/tabs-light-content-bg.png) repeat-x left top;border:none;}
.fl-theme-coal .fl-widget-content .fl-tabs-enhanced{background:url(../images/themes/coal/tabs-light-container-bg.png) repeat-x left bottom;border-bottom:none;margin:10px 0 0;padding:5px 0 6px;*padding:0;}
.fl-theme-coal .fl-widget-content .fl-tabs-enhanced li{background:transparent url(../images/themes/coal/tabs-light-cap.png) no-repeat left top;padding:4px 0 6px 16px;*padding-top:0;}
.fl-theme-coal .fl-widget-content .fl-tabs-enhanced li a{background:transparent url(../images/themes/coal/tabs-light-bg.png) no-repeat right top;border:none;margin:0;padding:4px 16px 6px 0;color:#ebebeb!important;*padding-bottom:4px;}
.fl-theme-coal .fl-widget-content .fl-tabs-enhanced li.fl-tabs-active{background:transparent url(../images/themes/coal/tabs-light-active-cap.png) no-repeat scroll left top;}
.fl-theme-coal .fl-widget-content .fl-tabs-enhanced li.fl-tabs-active a{background:transparent url(../images/themes/coal/tabs-light-active-bg.png) no-repeat scroll right top;color:#fff!important;}