/*---------------------------
 UI POSITIONING STYLES 
---------------------------*/
.calLeft {
	vertical-align: middle;
	text-align: left;
	width: 50%;
}

.calRight {
	vertical-align: middle;
	text-align: right;
	width: 50%;
}

.calRight fieldset { 
     display:inline; 
     margin:0; 
     padding:0; 
   } 
.calRight legend { 
     display:inline; 
     margin:0; 
     padding:0; 
     position: absolute !important; 
     clip: rect(1px 1px 1px 1px); /* IE6, IE7 */ 
     clip: rect(1px, 1px, 1px, 1px); 
}

.calTop {
	vertical-align: top;
}

/*---------------------------
 CALENDAR: COMMON STYLES 
---------------------------*/
.calHeader {
	background: #eee;
	border: 1px solid #bbb;
}

.calDay {
	width: 14%;
	margin: 0px;
	border: 0;
	padding: 1px;
}

/*---------------------------
 CALENDAR: SELECTION STYLES 
---------------------------*/
.calToday {
	border: 1px solid #000 !important;
}

.calSelectedDay {
	border: 1px dashed #000 !important;
}

.calDayWithActivity {
	/* background-color will be overriden if: */
	/* 1. colors specified for high/medium/low priority events in Options (user preferences) */
	/* 2. default colors specified in sakai.properties */
	background-color: #D4DFEE;
	border: 1px solid #ddd;
	font-weight: bold;
	text-align: center;
}

.calDayWithoutActivity {
	/*background-color: white;*/
	text-align: center;
}

.calOtherDayWithNoActivity {
	background-color: #eee;
	border: 1px solid #ddd;
	text-align: center;
	font-style: italic;
	color: #6a6a6a;
}

/*---------------------------
 CALENDAR: TOOLTIP STYLES 
---------------------------*/
.eventCount{
	position:absolute;
	display: inline !important;
	right:0px;
	top:-2px;
	color:#777;
	font-size:9px;
	font-weight:normal;
	margin:0pt;
	padding:0pt;
}

#prefsForm{
	width: 99%;
}
}
