<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="sectionsDataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"><value>${hibernate.connection.driver_class}</value></property>
		<property name="url"><value>${hibernate.connection.url}</value></property>
		<property name="username"><value>${hibernate.connection.username}</value></property>
		<property name="password"><value>${hibernate.connection.password}</value></property>
	</bean>
</beans>
