<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="org.sakaiproject.api.section.facade.manager.Context"
        class="org.sakaiproject.tool.section.facade.impl.standalone.ContextStandaloneImpl"/>
    <bean id="org.sakaiproject.api.section.facade.manager.Authn"
        class="org.sakaiproject.tool.section.facade.impl.standalone.AuthnStandaloneImpl"/>
    <bean id="org.sakaiproject.api.section.facade.manager.UserDirectory"
        class="org.sakaiproject.tool.section.facade.impl.standalone.UserDirectoryStandaloneImpl">
        <property name="sessionFactory"><ref bean="sectionsSessionFactory"/></property>
    </bean>
    <bean id="org.sakaiproject.api.common.uuid.UuidManager"
        class="org.sakaiproject.component.common.uuid.UuidManagerCommonsImpl"/>

</beans>
        