<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- entity providers -->
	<bean
		parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider"
		class="org.sakaiproject.signup.tool.entityproviders.SignupEventEntityProvider">
		<property name="sakaiFacade"
			ref="org.sakaiproject.signup.logic.SakaiFacade" />
		<property name="signupMeetingService"
			ref="org.sakaiproject.signup.logic.SignupMeetingService" />
			<property name="eventProcessHandler"
			ref="org.sakaiproject.signup.tool.entityproviders.EventProcessHandler" />
	</bean>
	
	<bean
		class="org.sakaiproject.signup.tool.entityproviders.EventProcessHandler">
		<property name="sakaiFacade"
			ref="org.sakaiproject.signup.logic.SakaiFacade" />
		<property name="signupMeetingService"
			ref="org.sakaiproject.signup.logic.SignupMeetingService" />
		<property name="signupRESTfulSessionManager"
			ref="org.sakaiproject.signup.tool.entityproviders.SignupRESTfulSessionManager" />
	</bean>
	
	<bean
		class="org.sakaiproject.signup.tool.entityproviders.SignupRESTfulSessionManager">
	</bean>
</beans>