.idea
.project
.classpath
.settings
*.iml
*.swp
*.orig
*.rej
target
sakai-demo.tar.gz
sakai-demo.zip
.directory
.sass-cache
.metadata
.DS_Store
*nb-configuration.xml
velocity.log
node_modules
webcomponents/tool/src/main/frontend/dist
bower_components
rebel.xml
rsf/sakai-rsf-web/templates/overlays
rsf/sakai-rsf-web/test/overlays
.mvn/wrapper/maven-wrapper.jar
.checkstyle
assets
