#
#
# Tell Velocity which resource loader we are using
#
resource.loader=class

#
# Class resource loader information
#
class.resource.loader.description=Velocity Classpath Resource Loader
class.resource.loader.class=org.sakaiproject.portal.charon.test.TestClasspathResourceLoader
class.resource.loader.cache=true
class.resource.loader.modificationCheckInterval=0

#
# Other properties
#
input.encoding=UTF-8
output.encoding=UTF-8

runtime.log.logsystem.class=org.apache.velocity.runtime.log.SimpleLog4JLogSystem
runtime.log.logsystem.log4j.category=portal.vm
#runtime.log.logsystem.log4j.category=vm.none


#
# Velocity macro properties
#
velocimacro.permissions.allow.inline=true
velocimacro.permissions.allow.inline.override=true
