//////////////////////////////
// BASE: Base element styles 
//////////////////////////////

@import "_page_variables";

html {
  @include border-outline(border, $html__border-width, $html__border-style, $html__border-color);
  background-color: $html__background-color;
}
body {
  @include margin-padding(margin, $body__margin);
  @include margin-padding(padding, $body__padding);
  @include type-size($body__font-size, $body__line-height);
  color: $body__color;
  @include border-outline(border, $body__border-width, $body__border-style, $body__border-color);
  border-color: $body__border-color-rgba;
}

// use the border-box for responsive design http://paulirish.com/2012/box-sizing-border-box-ftw/
* { @include box-sizing($bs); }

// Fluid Media
img, 
video {
  max-width: 100%;
  height: auto;
}

// hide screen reader helper elements from visual design 
.skip {
  @extend %element-invisible;
}

// use to clear floats
.clear {
  @include clearfix($extend: true); // https://github.com/team-sass/toolkit#clearfix
}

.is-hidden {
  @extend %element-invisible;
}

.is-visible {
  display: block;
}

.box {
  display: block;
}

html {
  @include respond-to('full navigation') {
    @include type-size($body__font-size); // 16px
  }

  @include respond-to('narrow navigation') {
    @include type-size($body__font-size - 3); // 13px
  }
}

body {
  @include respond-to('full navigation') {
    @include type-size( 1rem, $body__line-height); // 16px/1.5em 
  }

  @include respond-to('narrow navigation') { 

    &.portalBody {
      @include type-size( 1rem, $body__line-height - .1); // 13px/1.4em
    }
  }
}

