//////////////////////////////
// BASE: Base element styles 
//////////////////////////////

@import "_page_variables";

html {
  @include border-outline(border, $html-border-width, $html-border-style, $html-border-color);
  background-color: $html-background-color;
}
body {
  @include margin-padding(margin, $body-margin);
  @include margin-padding(padding, $body-padding);
  @include type-size($body-font-size, $body-line-height);
  color: $body-color;
  @include border-outline(border, $body-border-width, $body-border-style, $body-border-color);
  border-color: $body-border-color-rgba;

  &.portalBody { // increase specificity to combat bootstrap!
    background-color: $body-background-color;
    background: $body-background-rgba;
    @include type-size($body-font-size, $body-line-height);
    color: $body-color;
  }
}

// use the border-box for responsive design http://paulirish.com/2012/box-sizing-border-box-ftw/
* { @include box-sizing($bs); }

// Fluid Media
img, 
video {
  max-width: 100%;
  height: auto;
}

// hide screen reader helper elements from visual design 
.skip {
  @extend %element-invisible;
}

// use to clear floats
.clear {
  @include clearfix($extend: true); // https://github.com/team-sass/toolkit#clearfix
}

.is-hidden {
  @extend %element-invisible;
}

.is-visible {
  display: block;
}

.box {
  display: block;
}

html {
  @include respond-to('full navigation') {
    @include type-size($body-font-size); // 16px
  }

  @include respond-to('narrow navigation') {
    @include type-size($body-font-size - 3); // 13px
  }
}

body {
  @include respond-to('full navigation') {
    @include type-size( 1rem, $body-line-height); // 16px/1.5em 
  }

  @include respond-to('narrow navigation') { 

    &.portalBody {
      @include type-size( 1rem, $body-line-height - .1); // 13px/1.4em
    }
  }
}

