<wicket:panel>


		<form wicket:id="adminForm">
  			<table border="0">
  			<tr>
  				<td><b>Learner:</b> </td><td><select wicket:id="learnerChoice"></select></td>
  			</tr>
  			<tr>
  				<td><b>Binding:</b> </td><td><input type="text" wicket:id="binding"/></td>
  			</tr>
  			<tr>
  				<td colspan="2"><span wicket:id="dataValue">[result]</span></td>
  			</tr>
  			<tr>
  				<td colspan="2" align="right"><input type="button" wicket:id="submitButton"/></td>
  			</tr>
  			</table>
  		</form>	

</wicket:panel>