<wicket:panel>

	<div wicket:id="sjaxContainer">
		<form wicket:id="sjaxForm">
			<input wicket:id="commitcall" type="hidden"/>
			<input wicket:id="getdiagnosticcall" type="hidden"/>
			<input wicket:id="geterrorstringcall" type="hidden"/>
			<input wicket:id="getlasterrorcall" type="hidden"/>
			<input wicket:id="getvaluecall" type="hidden"/>
			<input wicket:id="initializecall" type="hidden"/>
			<input wicket:id="setvaluecall" type="hidden"/>
			<input wicket:id="terminatecall" type="hidden"/>
		</form>
	</div>

</wicket:panel>