<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- handles configuration of internationalization messages -->
	<bean id="messageLocator"
		class="uk.org.ponder.springutil.SpringMessageLocator">
		<property name="messageSource">
			<bean
				class="org.sakaiproject.util.ResourceLoaderMessageSource"
				depends-on="TLABPostProcessorLoader">
				<property name="basename">
					<value>classpath:org.sakaiproject.accountvalidator.bundle/messages</value>
				</property>
				<property name="cacheSeconds">
					<value>10</value>
				</property>
			</bean>
		</property>
		<property name="localeGetter" ref="requestLocaleProxy" />
	</bean>

	<!-- Override the default style of user messages -->
	<bean id="messageTemplateContributor" parent="templateContributorParent">
		<property name="baseDirectory" value="component-templates/" />
		<property name="templateNames" value="Messages" />
	</bean>



	<!-- Control the location of the html templates (default: content/templates/) -->
	<bean id="templateResolverStrategy" parent="CRITemplateResolverStrategy">
		<property name="baseDirectory" value="templates/" />
	</bean>
   
   	<!-- For security purposes, only beans listed in the comma separated value list
			may be the target of EL operations coming in over the request -->
	<bean parent="requestAddressibleParent">
			<property name="value" value="accountValidationLocator, claimLocator"/>
	</bean>
   
   
   </beans>
