
# Note  - we cannot use the webapp loader in portlets directly
# because we do not have access to a ServletContext to hand to
# to the render engine.

#
# Tell Velocity which resource loader we are using
#
resource.loader=class

#
# Class resource loader information
#
class.resource.loader.description=Velocity Classpath Resource Loader
class.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
class.resource.loader.cache=true
class.resource.loader.modificationCheckInterval=0

#
# Other properties
#
input.encoding=UTF-8
output.encoding=UTF-8

runtime.log.logsystem.class=org.sakaiproject.velocity.util.SLF4JLogChute
# runtime.log.logsystem.slf4j.logger =
#
# Velocity macro properties
#
velocimacro.permissions.allow.inline=true
velocimacro.permissions.allow.inline.override=true
