//////////////////////////////
// VARIABLES: For Base styles 
//////////////////////////////

$fontstack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-name: 'Open Sans';
$font-name-lc: 'opensans';