<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>sakai-site-manage-tool</display-name>
    <description>sakai-site-manage-tool</description>

	<!-- Sakai request filter -->
    <filter>
        <filter-name>sakai.request</filter-name>
        <filter-class>org.sakaiproject.util.RequestFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>sakai.request</filter-name>
        <servlet-name>sakai.sitemanage</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>sakai.request</filter-name>
        <servlet-name>sakai.sitebrowser</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>sakai.request</filter-name>
        <servlet-name>sakai.sitesetup</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>sakai.request</filter-name>
        <servlet-name>sakai.siteinfo</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>sakai.request</filter-name>
        <servlet-name>sakai.membership</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>sakai.request</filter-name>
        <servlet-name>sakai.sitecopystatus</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

	<!-- the vm handling servlet : used direct by name, not by URL path -->
	<servlet>
		<servlet-name>
		   sakai.vm
		</servlet-name>
		<servlet-class>
			org.sakaiproject.vm.VelocityServlet
		</servlet-class>
		<init-param>
			<param-name> properties </param-name>
			<param-value> velocity.properties </param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

     <servlet>
        <servlet-name>
           sakai.sitemanage
        </servlet-name>
        <servlet-class>
            org.sakaiproject.site.tool.SiteAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>sitesetup/chef_site</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>

    <servlet>
        <servlet-name>
           sakai.sitebrowser
        </servlet-name>
        <servlet-class>
            org.sakaiproject.site.tool.SiteBrowserAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>sitebrowser/chef_sitebrowser</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>

    <servlet>
        <servlet-name>
           sakai.siteinfo
        </servlet-name>
        <servlet-class>
            org.sakaiproject.site.tool.SiteAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>sitesetup/chef_site</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>

    <servlet>
        <servlet-name>
           sakai.sitesetup
        </servlet-name>
        <servlet-class>
            org.sakaiproject.site.tool.SiteAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>sitesetup/chef_site</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>

    <servlet>
        <servlet-name>
           sakai.membership
        </servlet-name>
        <servlet-class>
            org.sakaiproject.site.tool.MembershipAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>membership/chef_membership</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>
     
     <servlet>
        <servlet-name>
           sakai.sitecopystatus
        </servlet-name>
        <servlet-class>
            org.sakaiproject.site.tool.SiteInfoToolServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
     </servlet>
    
    <servlet-mapping>
    	<servlet-name>sakai.sitecopystatus</servlet-name>
    	<url-pattern>/tool/*</url-pattern>
  	</servlet-mapping>

    <listener>
        <listener-class>org.sakaiproject.util.ToolListener</listener-class>
    </listener>

</web-app>
