//////////////////////////////
// MODULES: Styles that are layout independent 
//////////////////////////////

.pattern {
  clear: both;
  overflow: hidden;
  padding: 0 1em;

  .source {
    clear: both;
    margin: .5em 0 1.5em 0;
    
    .source__header {
      font-size: .875em;
      color: #999;
    }
    
    .source__link {
      float: right;
      margin: 0;
    }
    
    .plus {
      
      &:before {
          content:"Show ";
      }
    
      &:after {
          content:" +";
      }
    }
    
    .minus {
    
      &:after {
        content:" -";
      }

      &:before {
        content:"Hide ";
      }
    }
  }
  
  // hide source of elements that are for navigation only
  > .navigation  {
    
      + .source {
      display: none;
    } 
  }
}

// Table of Contents
.toc {
  @include no-bullets;
}

h3 {

  .toc.link {
    float: right;
    font-size: .75em;
  }
}

// prism line numbers wrapping due to conflict with <pre> style from normalize
code[class*="language-"],
pre[class*="language-"] {
  word-wrap: normal;
}
