/*
toggler needs
*/
h4.toggleAnchor {
    border: 1px solid #cef;
    background: #cef !important;
    padding: 5px !important;
    cursor: pointer;
    outline:none;
    color: black;
}
 .toggleAnchor:hover{
    border: 1px solid #9cf;
}
.toggledContent {
    margin: 0;
    border: 2px solid #cef;
    border-top: none;
    padding: .5em
}
#templateSettings, #siteTypeList, #archiveSettings{
    padding:.5em;
    background:#eee;
    width: 100%;
    -webkit-border-radius:5px;
   -moz-border-radius:5px; 
}
#siteTypeList p {
    border:none;
    padding:.1em 0;
    margin:5px !important
}
dl.defList{
	margin:0;padding:0;
}
dl.defList dt, dl.defList dd{
    padding:5px 0
}
dl.defList dd{
    padding:5px 1em
}
.getSiteDesc {
    margin-right: 20px;
    float: right;
}
.indnt3 .row {
    margin: 10px 0 0 0;
}
.indnt3 .row:first-child {
    margin-top: 0;
}

#templateSettings, #siteTypeList, #archiveSettings{
    padding:.5em;
    background:#eee;
    width: 100%;
    -webkit-border-radius:5px;
   -moz-border-radius:5px;
    border-radius:5px;
}
#siteTypeList p {
    border:none;
    padding:.1em 0;
    margin:5px !important
}

#templateList {
    margin: 0 !important;
    padding: 0;
    list-style: none;
}

 #templateList li {
    background:#fff;
    margin:0 5px!important;
    padding: 10px 5px;
    height:100%;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}
#templateList li.siteTypeRow {
    padding: 2px 5px;
}
#allTemplateSettings {
    margin: 15px 5px 0;
    height:100%;
    overflow: hidden;
    background: #fff;
    border:1px solid #eee;
}
.allTemplateSettingsHighlight {
    border:1px solid #aaa !important
}
#templateSettingsTitleTermContainer {
    padding:5px 8px;
    float:left;
}
#fromTemplateSettingsContainer {
    padding:5px 8px;
    float:left;
}

 #templateList li .templateName {
    float: left;
    width:25%;
    overflow: hidden;
    text-overflow: ellipsis;
}
#templateList li .templateDescription {
    float: right;
    width:68%;
    overflow: hidden;
    text-overflow: ellipsis;
}
#templateList li .templateDescription p:first-child {
    margin: 0;
}
#templateList li.selectedTemplate {
    background: #ffe
}

.templateSettingsPlaceholder {
    float: none;
    clear: both;
    height:100%;
    overflow: hidden;
}
#templateList li.siteTypeRow {
    background: #eee;
    outline: none;
    margin:5px 0 0 0 !important;
    border-bottom: none;
}
#templateList li.siteTypeRow h4 {
    margin:0 !important;
}
#templateList li.siteTypeRow h4 a{
    border: 1px solid #d6d7d9;
    background: #e3e4e5;
    background: -moz-linear-gradient(top, #e3e4e5 0%, #d9d9d9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e4e5), color-stop(100%,#d9d9d9));
    background: -webkit-linear-gradient(top, #e3e4e5 0%,#d9d9d9 100%);
    background: -o-linear-gradient(top, #e3e4e5 0%,#d9d9d9 100%);
    background: -ms-linear-gradient(top, #e3e4e5 0%,#d9d9d9 100%);
    background: linear-gradient(to bottom, #e3e4e5 0%,#d9d9d9 100%);
    text-decoration: none;
    padding: 5px;
    display: block;
    margin: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-transform: capitalize;
}
#templateList li.siteTypeRow h4 a em{
    font-style:normal;
}
#templateList li.siteTypeRow span.siteTypeRowBlurb {
    color: #555;
    padding: 5px;
    font-size: 85%;
    text-transform: none;
}
#templateList li.siteTypeRow h4 a .siteType {
    text-transform: capitalize;
    padding:2px 8px;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#templateList li.siteTypeRow h4 a:hover {
    border: 1px solid #cccdd1;
    background: #d9dadd;
    background: -moz-linear-gradient(top, #d9dadd 0%, #cccccc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9dadd), color-stop(100%,#cccccc));
    background: -webkit-linear-gradient(top, #d9dadd 0%,#cccccc 100%);
    background: -o-linear-gradient(top, #d9dadd 0%,#cccccc 100%);
    background: -ms-linear-gradient(top, #d9dadd 0%,#cccccc 100%);
    background: linear-gradient(to bottom, #d9dadd 0%,#cccccc 100%);
}

#templateList li.siteTypeRow h4 a.openDisc {
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#fromTemplateSettingsContainer_instruction_control {
    padding-left: 4em;
}
#fromTemplateSettingsContainer_instruction_body {
    position: absolute;
    background: #ffe;
    color: #000;
    border: 1px solid #9d9d9d;
    padding:3px;
    -webkit-box-shadow:  2px 2px 2px 2px #CECECE;
    box-shadow:  2px 2px 2px 2px #CECECE;
    font-size: 90%;
}
#fromTemplateSettingsContainer_instruction_body:hover {
    cursor: pointer;
}

#fromTemplateSettingsContainer_instruction_body p {
    padding:5px;
    margin:0;
}

#toolHolderW {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 5px 5px 5px 5px;
    padding: 0.5em;
    margin-bottom: 12px;
}

#toolSelectionList {
    margin: 0;
    line-height: 200%;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 0 0 0 0;
}

#toolSelectionList h4{
    margin:0 0 1em 0;
}
#toolSelectionList li:first-child {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#toolSelectionList li:last-child {
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#toolHolder, #toolHolder ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#toolHolder h4 {
    margin-top: 5px;
}

#toolHolder h4 a {
    border: 1px solid #d6d7d9;
    background: #e3e4e5;
    background: -moz-linear-gradient(top, #e3e4e5 0%, #d9d9d9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e4e5), color-stop(100%,#d9d9d9));
    background: -webkit-linear-gradient(top, #e3e4e5 0%,#d9d9d9 100%);
    background: -o-linear-gradient(top, #e3e4e5 0%,#d9d9d9 100%);
    background: -ms-linear-gradient(top, #e3e4e5 0%,#d9d9d9 100%);
    background: linear-gradient(to bottom, #e3e4e5 0%,#d9d9d9 100%);
    text-decoration: none;
    text-transform: capitalize;
    padding: 5px;
    display: block;
    margin: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#toolHolder h4 a:hover {
     border: 1px solid #cccdd1;
    background: #d9dadd;
    background: -moz-linear-gradient(top, #d9dadd 0%, #cccccc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9dadd), color-stop(100%,#cccccc));
    background: -webkit-linear-gradient(top, #d9dadd 0%,#cccccc 100%);
    background: -o-linear-gradient(top, #d9dadd 0%,#cccccc 100%);
    background: -ms-linear-gradient(top, #d9dadd 0%,#cccccc 100%);
    background: linear-gradient(to bottom, #d9dadd 0%,#cccccc 100%);
}
#toolHolder h4 a:before {
    content:"\25B8\0020\0020";
} 
#toolHolder h4 a.open:before {
    content:"\25BE\0020\0020";
}
#toolHolder h4 a.toggleNone:before {
    content:"";
}
#toolHolder h4 a.toggleNone:hover {
    border: 1px solid #d6d7d9;
    background: #e3e4e5;
    background: -moz-linear-gradient(top, #e3e4e5 0%, #d9d9d9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e4e5), color-stop(100%,#d9d9d9));
    background: -webkit-linear-gradient(top, #e3e4e5 0%,#d9d9d9 100%);
    background: -o-linear-gradient(top, #e3e4e5 0%,#d9d9d9 100%);
    background: -ms-linear-gradient(top, #e3e4e5 0%,#d9d9d9 100%);
    background: linear-gradient(to bottom, #e3e4e5 0%,#d9d9d9 100%);
    color: #555;
}
#toolHolder ul {
    padding: 5px 20px;
    display:none;
}
#toolHolder li:first-child ul {
    display: block
}
 #toolHolder ul li div.toolListDesc, #toolHolder ul li div.toolListControl {
    padding:5px
 }
 
 #toolHolder ul li div.toolListControl label {
    color:#555;
 }
#toolHolder ul li div.toolListDesc {
    padding:0px 30px 5px 30px;
 }

#toolHolder .checkedCount {
    color:#555;
    margin: 0;
    display:block;
    float:right;
    padding: 0 3px;
    text-align:center;
    min-width:10px;
    background: #eee;
    font-size:90%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.selectAll, #collExpContainer a {
    font-style: normal;
    margin-left: 10px;
    color: #0064CD;
    font-weight: bold;
    text-decoration: none;
    font-size:90%;
    text-transform:none;
}
.selectAll:hover {
    cursor: pointer
}

#toolSelectionList ul {
    list-style:none;
    margin:0;
    padding:0;
    position: relative;
    width: 100%
}
#toolSelectionList ul li {
    line-height: 1.4;
    position:static;
    border-top: 1px solid #ddd
}

#toolSelectionList ul li.highlightTool{
    background-color: #ffc
}
#toolSelectionList ul li:last-child {
    border-top: 0 none
}
.removeTool {
    text-decoration: none !important;
}


#alertBox {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position:absolute;
    padding:5px 10px;
    background: #c00;
    color: #fff;
    white-space: nowrap;
    z-index: 100
    
}
#alertBox a:first-child {
    margin-left: 20px;
}
#alertBox a{
    color:#fff;
    margin: 0 5px
} 

#moreInfoHolder img {
    width:100%;
}
#collExpContainer {
    text-align:right
}

#toolHolder h4.communication a {
    color: #fff;
    border: 1px solid #47a2ff;
    background: #7abcff;
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee));
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
    background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%);
}
#toolHolder h4.assessment a {
    color:#fff;
    border: 1px solid #a89e37;
    background: #bbb03d;
    background: -moz-linear-gradient(top, #bbb03d 0%, #928b36 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bbb03d), color-stop(100%,#928b36));
    background: -webkit-linear-gradient(top, #bbb03d 0%,#928b36 100%);
    background: -o-linear-gradient(top, #bbb03d 0%,#928b36 100%);
    background: -ms-linear-gradient(top, #bbb03d 0%,#928b36 100%);
    background: linear-gradient(to bottom, #bbb03d 0%,#928b36 100%);

}
#toolHolder h4.content a {
    color: #fff;
    border:1px solid #b80324;
    background: #d10329;
    background: -moz-linear-gradient(top, #d10329 0%, #bc0224 44%, #9e001d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d10329), color-stop(44%,#bc0224), color-stop(100%,#9e001d));
    background: -webkit-linear-gradient(top, #d10329 0%,#bc0224 44%,#9e001d 100%);
    background: -o-linear-gradient(top, #d10329 0%,#bc0224 44%,#9e001d 100%);
    background: -ms-linear-gradient(top, #d10329 0%,#bc0224 44%,#9e001d 100%);
    background: linear-gradient(to bottom, #d10329 0%,#bc0224 44%,#9e001d 100%);

}
#toolHolder h4.site_management a {
    color: #fff;
    border: 1px solid #754326;
    background: #884e2c;
    background: -moz-linear-gradient(top, #884e2c 0%, #6b3d21 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#884e2c), color-stop(100%,#6b3d21));
    background: -webkit-linear-gradient(top, #884e2c 0%,#6b3d21 100%);
    background: -o-linear-gradient(top, #884e2c 0%,#6b3d21 100%);
    background: -ms-linear-gradient(top, #884e2c 0%,#6b3d21 100%);
    background: linear-gradient(to bottom, #884e2c 0%,#6b3d21 100%);
}

#toolHolder h4.miscellaneous a {
}

.multitool {
    padding-left :30px !important
}

#newSiteAlert {
    position:absolute;
    top:25px;
    left:30%;
    right:30%;
    padding:15px;
    border:1px solid #ccc;
    background: #ffe;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow:2px 2px 2px #cccccc;
    vertical-align:middle;
}
#flashNotif .newSiteAlertActions {float:right;margin-right:10px}
#flashNotif .newSiteAlertActions a {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding:3px 6px;
    border: 1px solid #d6d7d9;
    background: #e3e4e5;
    background: -moz-linear-gradient(top, #e3e4e5 0%, #d9d9d9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e4e5), color-stop(100%,#d9d9d9));
    background: -webkit-linear-gradient(top, #e3e4e5 0%,#d9d9d9 100%);
    background: -o-linear-gradient(top, #e3e4e5 0%,#d9d9d9 100%);
    background: -ms-linear-gradient(top, #e3e4e5 0%,#d9d9d9 100%);
    background: linear-gradient(to bottom, #e3e4e5 0%,#d9d9d9 100%);
    text-decoration: none !important;
    margin:0px 0px 0 5px;
    font-size:12px;
    
    background: -moz-linear-gradient(center top , #F6F6F5 0%, #E0E0E0 93%, #E0E0E0 97%, #E9E9E9 100%) repeat scroll 0 0 transparent !important;
    border: 1px solid #E0E3E5 !important;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px 0 #999999 !important;
    color: #555555 !important;
    font-size: 11px !important;
    font-weight: bold !important;
    height: 24px !important;
    margin-left: 0 !important;
    margin-right: 3px;
    text-shadow: 0 2px 3px #FFFFFF !important;
    
}
#newSiteAlert  a.newSiteAlertClose {
    text-decoration: none;
    font-size:120%;
    position:absolute;
    top:5px;
    right:5px;
}

/* SAK-22384 Begin */
#toolSelectionListHeader
{
    position: relative;
    background-image: none;
    background-color: #eeeeee;
}
#toolSelectionList ul
{
    display:table;
    border-collapse:collapse;
}
#toolSelectionList #toolSelectionListHeader
{
    display:table-header-group;
    background-image: none;
}
#toolSelectionList h3
{
    display:table-cell;
    padding:0 8px;
}
#toolSelectionList h3#toolSelectionListToolHeader
{
    text-align:left;
}
#toolSelectionList li
{
    display:table-row;
    text-align:center;
}
#toolSelectionList li span
{
    display:table-cell;
    vertical-align:middle;
    text-align: center;
}

#toolSelectionList li span i{
	font-size: 0.9em;
}

#toolSelectionList li .selectedToolTitle
{
    padding: 6px 0 6px 30px;   
    text-align:left;    
    background-position: 8px 8px;
    background-repeat: no-repeat;
}
#toolSelectionList ul li:first-child
{
    border-top: none;
}
/* SAK-22384 End */

#joinLimitByAccountType
{
    margin-bottom: 1em;
}

/* SAK-29873 */
.unpublishedLabel {
    opacity:0.2;
}

/* SAK-30378 */
.actionsContainer {
    margin-top: 1em;
}

input#btnSearch {
	margin-left: 0.7em;
}
#summary {
	border:none;
}

#summary tr{
	background: transparent;
}

#summary td{
	border:none;
}

#summary th{
	font-weight: bold;
}

#removeClass{
	max-width: 800px;
}

#removeClass #remove{
	width: 5%;
}
