<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
  <div th:fragment="main (current)">
    <ul class="navIntraTool">
      <li role="presentation"><span th:class="${current}=='index' ? 'current'"><a href="#" th:href="@{/index}" th:text="#{menu.group.list}">Group List</a></span></li>
      <li role="presentation"><span th:class="${current}=='group' ? 'current'"><a href="#" th:href="@{/group}" th:text="#{menu.create}">Create New Group</a></span></li>
      <li role="presentation"><span th:class="${current}=='joinableset' ? 'current'"><a href="#" th:href="@{/joinableset}" th:text="#{menu.joinable.create}">Create New Joinable Set</a></span></li>
      <li role="presentation"><span th:class="${current}=='autogroups' ? 'current'"><a href="#" th:href="@{/autogroups}" th:text="#{menu.auto.groups}">Auto groups</a></span></li>
      <li role="presentation"><span th:class="${current}=='import' ? 'current'"><a href="#" th:href="@{/import}" th:text="#{menu.bulk.creation}">Bulk creation</a></span></li>
    </ul>
  </div>
</body>
</html>
