/*
	Essential styles that themes can inherit.
	In other words, works but doesn't look great.
*/



/**** 
		GENERIC PIECES 
 ****/

.dijitReset {
	/* Use this style to null out padding, margin, border in your template elements
		so that page specific styles don't break them.
		- Use in all TABLE, TR and TD tags.	
		- If there is more than one class on the tag, place this first so other classes override.
	*/
	margin:0px;
	border:0px;
	padding:0px;
	line-height:normal;
}

.dijitInline {
	/* MOW: similar to InlineBox below, but this has fewer side-effects in Moz.  
		Also, apparently works on a DIV as well as a FIELDSET.
		Consider abandoning inlineBox in favor of this.  ???
	*/
	display:-moz-inline-box;		/* gecko */
	display:inline-block;			/* webkit */
	border:0px;
	padding:0px;
	vertical-align:middle;
}
.dj_ie .dijitInline {
	display:inline;
	zoom: 1;
}

.dijitInlineBox {
	/* To inline block elements, surround them with <fieldset class="dijitInlineBox"> */
	display:inline-block;			/* webkit */
	display: -moz-inline-stack;		/* gecko  */
	#display:inline;				/* MSIE   */
	border:0px;
	padding:0px;
	vertical-align:middle;
}

.dijitTeeny {
	font-size:1px;
	line-height:1px;
}

/*
 * Popup items have a wrapper div (dijitPopup)
 * with the real popup inside, and maybe an iframe too
 */
.dijitPopup {
	position: absolute;
	background-color: transparent;
	margin: 0;
	border: 0;
	padding: 0;
}
.dijit_a11y .dijitPopup,
.dijit_ally .dijitPopup div,
.dijit_a11y .dijitPopup table {
	opacity: 1 !important;
	background-color: white !important;
}
.dj_ie .dijit_a11y .dijitPopup * {
	filter: none;
}

.dijitPositionOnly {
	/* Null out all position-related properties */
	padding: 0px !important;
	border: 0px !important;
	background-color: transparent !important;
	background-image: none !important;
	height: auto !important;
	width: auto !important;
}

.dijitNonPositionOnly {
	/* Null position-related properties */
	float: none !important;
	position: static !important;
	margin: 0px 0px 0px 0px !important;
	vertical-align: middle !important;
}

.dijitBackgroundIframe {
	/*
	 * iframe used for FF2 in high-contrast mode to prevent menu
	 * being transparent
	 */
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
	border: 0;
	padding: 0;
	margin: 0;
}

.dijitClickableRegion {
	/* a region we expect the user to click on */
	cursor : pointer;
}


.dijitDisplayNone {
	/* hide something.  Use this as a class rather than element.style so another class can override */
	display:none !important;
}

.dijitContainer {
	/* for all layout containers */
	overflow: hidden;	/* need on IE so something can be reduced in size, and so scrollbars aren't temporarily displayed */
}

/**** 
		A11Y 
 ****/
.dijit_a11y * {
	background-image:none !important;
	background-color:transparent !important;
}

.dijit_a11y .dijitCalendarIncrementControl .dijitA11ySideArrow { 
	padding-left:.2em; 
	visibility:visible !important; 
}

.dijitToolbar .dijitDropDownButton .dijitA11yDownArrow{
	/*make the arrow smaller in toolbar*/
	padding:0;
	margin:0;
}
.dj_ie6 .dijitToolbar .dijitDropDownButton .dijitA11yDownArrow{
	/*vertical-align: middle does not place the arrow in the middle of the toolbar in IE*/
	vertical-align: bottom;
}

.dijitA11ySideArrow {
	vertical-align:top;
	margin-right:0em; 
	margin-left:.2em; 
	line-height:2em;
	text-align:center; 
}

.dj_ie .dijitA11yDownArrow,
.dj_ie .dijitA11yUpArrow {
	font-size:.8em;
	vertical-align:middle;
	margin-right:.5em;
}




.dijit_a11y .dijitButton .dijitButtonNode,
.dijit_a11y .dijitDropDownButton .dijitButtonNode,
.dijit_a11y .dijitComboButton .dijitButtonNode,
.dijit_a11y .dijitComboBox .dijitComboBoxInput,
.dijit_a11y .dijitComboBox .dijitButtonNode {
	border:1px solid black !important;
	background:white !important;
	color:black !important;
}

.dijit_a11y .dijitButtonDisabled .dijitButtonNode,
.dijit_a11y .dijitDropDownButtonDisabled .dijitButtonNode,
.dijit_a11y .dijitComboButtonDisabled .dijitButtonNode,
.dijit_a11y .dijitComboBoxDisabled .dijitComboBoxInput,
.dijit_a11y .dijitComboBoxDisabled .dijitButtonNode,
.dijit_a11y .dijitSpinnerDisabled .dijitButtonNode,
.dijit_a11y .dijitSpinnerDisabled .dijitSpinnerInput {
	border:1px dotted #999999 !important;
	color:#999999 !important;
}

.dijit_a11y .dijitComboButton .dijitDownArrowButton,
.dijit_a11y .dijitComboBox .dijitDownArrowButton {
	border-left:0px !important;
}




/****
		3-element borders:  ( dijitLeft + dijitStretch + dijitRight ) 
 ****/
	
.dijitLeft {
	/* Left part of a 3-element border */
	background-position:left top;
	background-repeat:no-repeat;
}

.dijitStretch {
	/* Middle (stretchy) part of a 3-element border */
	white-space:nowrap;			/* MOW: move somewhere else */
	background-repeat:repeat-x;
}

.dijitRight {
	/* Right part of a 3-element border */
	#display:inline;				/* IE7 sizes to outer size w/o this */
	background-position:right top;
	background-repeat:no-repeat;
}


/****
		Right-to-left rules
 ****/
.dijitRTL .dijitRightArrow {
	/* it becomes a left arrow for LTR locales */
	/* MOW: TODO... */
	margin-left:-2.1em;
}





/****
		dijit.form.Button
		dijit.form.DropDownButton
		dijit.form.ComboButton
		dijit.form.ComboBox (partial)
 ****/
.dijitButton,
.dijitDropDownButton,
.dijitComboButton,
.dijitComboBox {
	/* outside of button */
	margin:.2em;
}

.dijitButtonNode {
	/* Node that is acting as a button -- may or may not be a BUTTON element */
	border:1px solid gray;
	margin:0px;
	padding:.2em .2em .1em .2em;
	overflow:visible;
	line-height:normal;
	font-family:inherit;
	font-size:inherit;
	color: inherit;
	cursor:pointer;
	vertical-align:middle;	
	text-align:center;
	white-space: nowrap;
}

.dijitDownArrowButton,
.dijitUpArrowButton {
	/* Node that is acting as a arrow button -- drop down (spinner has its own treatment).  Also gets dijitButtonNode */
	/* place AFTER dijitButtonNode so it overrides */
	padding:0em .4em;
	margin:0px;
}


.dijitButtonContents {
	color:inherit;
}

.dijitDropDownButton .dijitA11yDownArrow {
	margin-left:.8em;
}

.dijitComboButton TABLE {
	/* each cell in a combo-table should have its own separate border */
	border-collapse: separate;
	border:0px;
	padding:0px;
	margin:0px;
}

.dijitComboButton .dijitButtonContents {
	border-right-width:0px !important;
}


table .dijitButton .dijitButtonNode,
table .dijitComboButton .dijitButtonNode {
	#overflow:hidden; /* visible messes up if the button is inside a table on IE */
}



.dijitButtonNode IMG {
	/* make text and images line up cleanly */
	vertical-align:middle;
	margin-bottom:.2em;
}


/****
		dijit.form.NumberSpinner  (template: form/templates/Spinner.html)

		Note: works differently than other TextBox types:
			The outer fieldset element is the one that shows the border, etc.
			rather than the actual INPUT element. 

 ****/

.dijitSpinner {
	/* outer element - also has .dijitInline */
	vertical-align:middle;
	padding:0px !important;
	width:auto !important;
	height:auto !important;
}

.dijitSpinner TABLE {
	border-collapse: collapse;
}
.dijitSpinner .dijitButtonNode {
	padding: 0;
}

.dijitSpinnerInput {
	/* container for the input element */
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	border:1px inset gray;
	padding:.1em .2em .2em .2em;
}

.dijitSpinner INPUT {
	/* The .style assigned to the spinner dijit is actually copied 
		on to the INPUT element as well as the outer element.
		The below turns off things on the input that should apply to the outer element.
	*/
	display:inline;
	position:static !important;
	/* turn off the border on the actual input element */
	border:0px !important;
	
	padding:0px;
	margin:0px;
	vertical-align:middle !important;
	padding:0px !important;
	margin:auto !important;
	border:0px !important;
	visibility:visible !important;
	font-size:100% !important;
	background-color:transparent !important;
	background-image:none !important;
}

.dijitSpinner .dijitDownArrowButton,
.dijitSpinner .dijitUpArrowButton {
    padding: 0 .4em;
    border: 1px solid;
    line-height: .769em;
    /* TODO: as we use border-collapse, is this necessary? */
    border-left-style: none;
}
.dj_ie .dijitSpinner .dijitDownArrowButton,
.dj_ie .dijitSpinner .dijitUpArrowButton {
    padding: 0 .2em!important;
    text-align: center;
}
.dijitSpinner .dijitDownArrowButton div,
.dijitSpinner .dijitUpArrowButton div {
    text-align: center;
    font-size: .769em;
    line-height: 1em;
    vertical-align: baseline;
    margin: 0 auto;
}

/****
		dijit.form.ComboBox 

		Note: these works differently than other TextBox types:
			The outer fieldset element is the one that shows the border, etc.
			rather than the actual INPUT element. 

 ****/
.dijitComboBox {
	/* Allow user to specify width without messing up defaults; other attributes are put on parent node */
	width:auto !important;
}

.dijitComboBox TABLE {
	/* each cell in a combo-table should have its own separate border */
	border-collapse: separate;
	border:0px;
	padding:0px;
	margin:0px;
}

.dijitComboBoxInput {
	/* container for the input element */
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	border:1px inset gray;
	padding:.1em .2em .2em .2em;
	border-right-width:0px !important;
}

.dijitComboBox INPUT {
	/* turn off the border on the actual input element */
	border:0px !important;
	background-color:transparent;
}

.dijitComboBoxNoArrow .dijitDownArrowButton {
	display:none;
}

.dijitComboBoxNoArrow table {
	padding:0px;
	margin:0px;
}		 

.dijitComboBoxNoArrow INPUT {
	border:0px !important;
	background-color:transparent;
}		 

.dijitComboBoxNoArrow .dijitComboBoxInput {
	border-right-width:1px !important;
}

/*
.dj_safari .dijitComboBoxInput {
	padding:0px;
	border:0px !important;
}
*/

.dj_safari .dijitComboBox INPUT {
	margin:-2px -4px -3px -3px;
	line-height:2em;
	font-size:1em;
}


/****
		dijit.form.CheckBox
 	 & 
  		dijit.form.RadioButton 
 ****/

.dijitCheckBox,
.dijitRadio,
.dijitCheckBoxInput {
	padding: 0;
	border: 0;
	width: 16px;
	height: 15px;
	overflow:hidden;
}

.dijitCheckBox INPUT,
.dijitRadio INPUT {
	margin: 0; 
	padding: 0;
} 

.dijitCheckBoxInput {
	/* place the actual input on top, but all-but-invisible */
	opacity: 0.01;
}

.dj_ie .dijitCheckBoxInput {
	filter: alpha(opacity=0);
}

.dijit_a11y .dijitCheckBox,
.dijit_a11y .dijitRadio {
	width: auto;
	height: auto;
}
.dijit_a11y .dijitCheckBoxInput {
	opacity: 1;
	filter: none;
	width: auto;
	height: auto;
}


/****
		dijit.ProgressBar
 ****/
 
.dijitProgressBarEmpty{
	/* outer container and background of the bar that's not finished yet*/
	position:relative;overflow:hidden;
	border:1px solid black; 	/* a11y: border necessary for high-contrast mode */
	z-index:0;			/* establish a stacking context for this progress bar */
}

.dijitProgressBarFull {
	/* outer container for background of bar that is finished */
	position:absolute;
	overflow:hidden;
	z-index:-1;
	top:0;
	width:100%;
	height:100%;
}

.dijitProgressBarTile{
	/* inner container for finished portion */
	position:absolute;
	overflow:hidden;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	margin:0px;
	padding:0px;
	width:auto;
	height:auto;
	background-color:#aaa;
	background-attachment: fixed;
}

.dijit_a11y .dijitProgressBarTile{
	/* a11y:  The border provides visibility in high-contrast mode */
	border-width:4px;
	border-style:solid;
	background-color:transparent !important;
}

.dj_iequirks .dijitProgressBarTile{
	width:100%;
	height:100%;
}

.dj_ie6 .dijitProgressBarTile{
	/* width:auto works in IE6 with position:static but not position:absolute */
	position:static;
	/* height:auto does not work in IE6 */
	height:100%;
}

.dijitProgressBarIndeterminate .dijitProgressBarLabel{
	visibility:hidden;
}

.dijitProgressBarIndeterminate .dijitProgressBarTile{
	/* animated gif for 'indeterminate' mode */
}

.dijitProgressBarIndeterminateHighContrastImage{
	display:none;
}

.dijit_a11y .dijitProgressBarIndeterminate .dijitProgressBarIndeterminateHighContrastImage{
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	margin:0;
	padding:0;
	width:100%;
	height:auto;
}

.dijitProgressBarLabel{
	display:block;
	position:static;
	width:100%;
	text-align:center;
	background-color:transparent;
}

/* progress bar in vertical mode - TODO: remove? no longer supported? */
.dijitProgressBarVertical .dijitProgressBarFull{
	bottom:0px;		/* start at the bottom */
}

.dj_ie6 .dijitProgressBarVertical .dijitProgressBarTile{
	position:absolute;
	/* can't use position:static here -- need absolute positioning to place
	   the bar at the bottom of a vertical progressbar */
	width:100%;
}


/****
		dijit.Tooltip
 ****/

.dijitTooltip {
	position: absolute;
	z-index: 2000;
	display: block;
	/* make visible but off screen */
	left: 50%;
	top: -10000px;
	overflow: visible;
}
.dijitTooltipDialog {
	position: relative;
}
.dijitTooltipContainer {
	border: solid black 2px;
	background: #b8b5b5;
	color: black;
	font-size: small;
}

.dijitTooltipFocusNode {
	padding: 2px 2px 2px 2px;
}

.dijitTooltipConnector {
	position: absolute;
}

/* MOW: using actual images at this time
/* draw an arrow with CSS only * /
.dijitTooltipConnector {
	/* the border on the triangle * /
	font-size: 0px; line-height: 0%; width: 0px;
	border-top: none;
	border-bottom: 14px solid black;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	top: -14px;
	left: 3px;
	z-index: 2;
}

.dijitTooltipConnector div {
	/* the background of the triangle * /
	font-size: 0px; line-height: 0%; width: 0px;
	position: absolute;
	border-bottom: 10px solid #b8b5b5;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	top: 6px;
	left: -5px;
	z-index: 3;
}

*/



/* Layout widgets. This is essential CSS to make layout work (it isn't "styling" CSS)
   make sure that the position:absolute in dijitAlign* overrides other classes */

.dijitLayoutContainer{ 
	position: relative;
	display: block;
	overflow: hidden; 
}

body .dijitAlignTop,
body .dijitAlignBottom,
body .dijitAlignLeft,
body .dijitAlignRight {
	position: absolute;
	overflow: hidden; 
}

body .dijitAlignClient { position: absolute; }

.dijitAlignClient { overflow: auto; }



/* SplitContainer 

	'V' == container that splits vertically (up/down)
	'H' = horizontal (left/right)
*/
.dijitSplitContainer{
	position: relative;
	overflow: hidden;
	display: block;
}

.dijitSplitPane{
	position: absolute;
}

.dijitSplitContainerSizerH,
.dijitSplitContainerSizerV {
	position:absolute;
	font-size: 1px;
	cursor: move;
	cursor: w-resize;
	background-color: ThreeDFace;
	border: 1px solid;
	border-color: ThreeDHighlight ThreeDShadow ThreeDShadow ThreeDHighlight;
	margin: 0;
}

.dijitSplitContainerSizerV {
	cursor: n-resize;
}

.dijitSplitContainerSizerH .thumb {
	position:absolute;
	top:49%;
}

.dijitSplitContainerSizerV .thumb {
	position:absolute;
	left:49%;
}

.dijitSplitContainerVirtualSizerH,
.dijitSplitContainerVirtualSizerV {
	font-size: 1px;
	cursor: move;
	cursor: w-resize;
	background-color: ThreeDShadow;
	-moz-opacity: 0.5;
	opacity: 0.5;
	filter: Alpha(Opacity=50);
	margin: 0;
}

.dijitSplitContainerVirtualSizerV {
	cursor: n-resize;
}


/* ContentPane */

.dijitContentPane {
	display: block;
	overflow: auto;	/* if we don't have this (or overflow:hidden), then Widget.resizeTo() doesn't make sense for ContentPane */
}
/* TitlePane */
.dijitTitlePane {
	display: block;
	overflow: hidden;
}

/* Color Palette */
.dijitPaletteImg {
	width: 16px; /*This is the width of one color in the provided palettes. */
	height: 13px; /* Height of one color in the provided palettes. */
	position: absolute;
	overflow: hidden;
	cursor: default;
	z-index: 10;
	border-style: solid;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-color: #000000;		
}

.dijitPaletteImgHighlight {
	width: 14px; /*This is the width of one color in the provided palettes. */
	height: 12px; /* Height of one color in the provided palettes. */
	position: absolute;
	overflow: hidden;
	cursor: default;
	z-index: 10;
}

.dijitPaletteImg:hover, 
.dijitPaletteImgHighlight {
	width: 14px; /*This is the width of one color in the provided palettes. */
	height: 12px; /* Height of one color in the provided palettes. */
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
}


.dijitColorPaletteCell {
	width:16px;
	height:16px;
	border: 1px solid;
}

.dijitColorPaletteCell:hover {
	border-style: solid;
}

/* Accordion */

.dijitAccordionPane {
	overflow: hidden !important;	/* prevent spurious scrollbars */
}

.dijitAccordionPane .dijitAccordionBody {
	overflow: auto;
}

.dijitAccordionPane .dijitAccordionTitle:hover {
	cursor: pointer;
}

.dijitAccordionPane .dijitAccordionTitle .dijitAccordionArrow {
	float: right;
}

/* images off, high-contrast mode styles */
.dijitAccordionPane .dijitAccordionTitle .arrowTextUp,
.dijitAccordionPane .dijitAccordionTitle .arrowTextDown {
	display: none; 
	float: right;
	font-size: 0.65em; 
	font-weight: normal !important;
}

.dijit_a11y .dijitAccordionPane .dijitAccordionTitle .arrowTextUp { 
	display: inline; 
}

.dijit_a11y .dijitAccordionPane-selected .dijitAccordionTitle .arrowTextDown {
	display: inline; 
}

.dijit_a11y .dijitAccordionPane-selected .dijitAccordionTitle .arrowTextUp {
	display: none; 
}

/* Calendar */

.dijitCalendarContainer thead tr th, .dijitCalendarContainer thead tr td, .dijitCalendarContainer tbody tr td, .dijitCalendarContainer tfoot tr td { 
	padding: 0;
}

.dijitCalendarNextYear {
	margin:0 0 0 0.55em;
}

.dijitCalendarPreviousYear {
	margin:0 0.55em 0 0;
}

.dijitCalendarIncrementControl {
	cursor:pointer;
	cursor:hand;
	width:1em;
}

.dijitCalendarDisabledDate {
	color:gray !important;
}

.dijitCalendarBodyContainer tbody tr td {
	cursor:pointer;
	cursor:hand;
}

.dijitCalendarPreviousMonthDisabled {
	cursor:default !important
}

.dijitCalendarCurrentMonthDisabled {
	cursor:default !important
}

.dijitCalendarNextMonthDisabled {
	cursor:default !important;
}

.dijitCalendarDateTemplate {
	cursor:pointer;
}

.dijitCalendarSelectedYear {
	cursor:pointer;
}
.dijitCalendarNextYear, 
.dijitCalendarPreviousYear {
	cursor:pointer;
}

.dijitCalendarMonthLabelSpacer {
	/* don't display it, but make it affect the width */
  	position: relative;
  	height: 1px;
  	overflow: hidden;
  	visibility: hidden;
}


/* Menu */

.dijitMenu {
	border:1px solid black;
	background-color:white;
}
.dijitMenuTable {
	margin:1px 0px;
	border-collapse:collapse;
	border-width:0px;
	background-color:white;
}

.dijitMenuItem{
	white-space: nowrap;
	padding:.1em .2em;
}

.dijitMenuItemHover {
	cursor:pointer;
	cursor:hand;
	background-color:black;
	color:white;
}

.dijitMenuItemIcon {
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
}

.dijitMenuItemDisabled * {
	/* for a disabled menu item, just set it to mostly transparent */
	opacity:0.3;
	cursor:default;
}
.dj_ie .dijitMenuItemDisabled * {
	filter: alpha(opacity=30);
}

.dijitMenuItemLabel {
	position: relative;
	vertical-align: middle;
}

.dijit_a11y .dijitMenuItemHover .dijitMenuItemLabel {
	border-width: 1px;
	border-style: solid;
}

/* separator can be two pixels -- set border of either one to 0px to have only one */
.dijitMenuSeparatorTop {
	height: 50%;
	margin: 0px;
	margin-top:3px;
	font-size: 1px;
}

.dijitMenuSeparatorBottom {
	height: 50%;
	margin: 0px;
	margin-bottom:3px;
	font-size: 1px;
}



/* Tab */


.dijitTabContainer .dijitAlignTop {
/* position the tab labels row down by 1 px, and on top of the dijitTabPaneWrapper
	so the buttons can overlay the tab pane properly		*/
	top:1px !important;
	z-index:10;	
}

.dijitTabContainer .dijitAlignBottom {
/* position the tab labels row up by 1 px so they overlap	*/
	margin-top:-1px !important;
	z-index:10;	
}

.dijitTabContainer .dijitAlignLeft {
/* position the tab labels left by 1 px so they overlap		*/
	margin-right:-1px !important;
	z-index:10;	
}

.dijitTabContainer .dijitAlignRight {
/* position the tab labels row up by 1 px, and on top of the dijitTabPaneWrapper
	so the buttons can overlay the tab pane properly		*/
	margin-left:-1px !important;
	z-index:10;	
}

.dijitTabPaneWrapper {
	z-index:0;
	overflow: hidden;
}

.dijitTab {
	position:relative;
	float:left;
	cursor:pointer;
	white-space:nowrap;
	z-index:3;
}

.dijitTabContainer .dijitAlignLeft .dijitTab,
.dijitTabContainer .dijitAlignRight .dijitTab {
	float:none;
}

.dijitTabInnerDiv {
	position:relative;
}

.dijitTab .close {
	display: inline-block;
	cursor: default;
	font-size: small;
}

/* images off, high-contrast mode styles */
.dijitTab .closeText {
	display:none;
	padding: 0px 2px;
	margin: 0px 2px;
	border-left:thin solid;
	border-right:thin solid;
}
.dijit_a11y .dijitTab .closeImage {
	padding: 0px !important;
	margin: 0px !important;
	top: 0px !important;
	bottom: 0px !important;
}
.dijit_a11y .closeText { 
	display:inline; 
	margin-left:6px; 
} 
.dijit_a11y .closeText:hover { 
	border:thin solid;
} 



.dijitInlineEditor {
	/* span around an inline-editable value when in edit mode */
	position:relative;
	vertical-align:bottom;
}
.dj_ie .dijitInlineEditor {
	vertical-align:middle;
}

.dijitInlineValue {
	/* span around an inline-editable value when NOT in edit mode */
}

.dijitInlineEditor .dijitButtonContainer {
	/* div around the buttons -- makes them float below the field */
	position:absolute;
	right:0px;
	overflow:visible;
}

.dijitInlineEditor .saveButton,
.dijitInlineEditor .cancelButton {
}

/* Tree */

.dijitTreeExpando {
    float: left;
    display: inline;
    clear:both;
}

.dijitTreeExpand {
    float: left;
    display: inline;
}

.dijitTreeContent {
    cursor: default;
    /* can't make inline - multiline bugs */
}

.dijitExpandoText { 
	display: none; 
} 
 
.dijit_a11y .dijitExpandoText { 
	float: left; 
	display: inline; 
	padding-right: 3px; 
	font: 0.75em Arial; 
} 

/* Dialog */

.dijitDialog {
	position: absolute;
	z-index: 999;
	padding: 1px;
}

.dijitDialogUnderlayWrapper {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 998;
	display: none;
	background: transparent;
}

.dijitDialogUnderlay {
	background: #eeeeee;
	opacity: 0.5;
}

.dj_ie .dijitDialogUnderlay {
	filter: alpha(opacity=50);
}

/* images off, high-contrast mode styles */
.dijit_a11y .dijitDialog {
	opacity: 1 !important;
	background-color: white !important;
}

.dijitDialog .closeText {
	display:none;
	position:absolute;
}

.dijit_a11y .dijitDialog .closeText { 
	display:inline;
}

.dijitSliderMoveable {
	z-index:99;
	position:absolute !important;
	display:block;
	vertical-align:middle;
}

.dijitHorizontalSliderMoveable {
	right:0px;
}

.dijit_a11y div.dijitSliderImageHandle,
.dijitSliderImageHandle {
	margin:0px;
	padding:0px;
	position:absolute !important;
	border:8px solid gray;
	width:0px;
	height:0px;
}

.dijitVerticalSliderImageHandle {
	top:-8px;
	left:-6px;
}

.dijitHorizontalSliderImageHandle {
	left:-8px;
	top:-5px;
	vertical-align:top;
}

.dijitSliderBar {
	border-style:solid;
	border-color:black;
}

.dijitHorizontalSliderBar {
	height:4px;
	border-width:1px 0px;
}

.dijitVerticalSliderBar {
	width:4px;
	border-width:0px 1px;
}

.dijitSliderProgressBar {
	background-color:red;
	#z-index:0;
}

.dijitVerticalSliderProgressBar {
	position:static !important;
	height:0%;
	vertical-align:top;
	text-align:left;
}

.dijitHorizontalSliderProgressBar {
	position:absolute !important;
	width:0%;
	vertical-align:middle;
	overflow:visible;
}

.dijitSliderRemainingBar {
	overflow:hidden;
	background-color:transparent;
	#z-index:-1;
}

.dijitVerticalSliderRemainingBar {
	height:100%;
	text-align:left;
}

.dijitHorizontalSliderRemainingBar {
	width:100% !important;
}

/* the slider bumper is the space consumed by the slider handle when it hangs over an edge */
.dijitSliderBumper {
	overflow:hidden;
	#z-index:-1
}

.dijitVerticalSliderBumper {
	width:4px;
	height:8px;
	border-width:0px 1px;
}

.dijitHorizontalSliderBumper {
	width:8px;
	height:4px;
	border-width:1px 0px;
}

.dijitVerticalSliderBottomBumper,
.dijitHorizontalSliderLeftBumper {
	background-color:red;
}

.dijitVerticalSliderTopBumper,
.dijitHorizontalSliderRightBumper {
	background-color:transparent;
}

.dijitHorizontalSliderDecoration {
	text-align:center;
}

.dijitSlider .dijitSliderButton {
	font-family:monospace;
	margin:0px;
	padding:0px;
	display:block;
}

.dijitSlider .dijitVerticalSliderTopButton {
	vertical-align:bottom;
}

.dijitSlider .dijitVerticalSliderBottomButton {
	vertical-align:top;
}

.dijitSliderButtonContainer {
	text-align:center;
	height:0px;
}

.dijitSlider .dijitButtonNode {
	padding:0px;
	display:block;
}

.RuleContainer {
	position:relative;
	overflow:visible;
}

.VerticalRuleContainer {
	height:100%;
	line-height:0px;
	float:left;
	text-align:left;
}

.dj_opera .VerticalRuleContainer {
	line-height:2%;
}

.dj_ie .VerticalRuleContainer {
	line-height:normal;
}

.dj_gecko .VerticalRuleContainer {
	margin:0px 0px 1px 0px; /* mozilla bug workaround for float:left,height:100% block elements */
}

.RuleMark {
	position:absolute;
	border:1px solid black;
	line-height:0px;
	height:100%;
}

.HorizontalRuleMark {
	width:0px;
	border-top-width:0px !important;
	border-bottom-width:0px !important;
	border-left-width:0px !important;
}

.RuleLabelContainer {
	position:absolute;
}

.HorizontalRuleLabelContainer {
	text-align:center;
	display:inline-block;
}

.HorizontalRuleLabel {
	position:relative;
	left:-50%;
}

.VerticalRuleMark {
	height:0px;
	border-right-width:0px !important;
	border-bottom-width:0px !important;
	border-left-width:0px !important;
	width:100%;
	left:0px;
}

.dj_ie .VerticalRuleLabelContainer {
	margin-top:-.55em;
}

/* Toolbar A11y */
.dijit_a11y .dijitButtonContents .dijitButtonText {
	display: block !important;
}

.dj_ie .dijitTextArea p {
	margin-top:0px;
	margin-bottom:0px;
}

/* Editor */
.IEFixedToolbar {
	position:absolute;
	/* top:0; */
	top: expression(eval((document.documentElement||document.body).scrollTop));
}
