<?xml version="1.0"?>
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>IMS LTI 1.3 OIDC Servlet</display-name>

  <!-- This does not use the request filter because it needs full control of response headers.
       But this also means that no work that should be in a session should be done in this servlet.
       In particular, never use ThreadLocal in this servlet.
  -->

  <servlet>
    <servlet-name>OIDCServlet</servlet-name>
    <servlet-class>org.sakaiproject.lti13.OIDCServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>LTI11AnonymousServlet</servlet-name>
    <servlet-class>org.sakaiproject.lti11.LTI11AnonymousServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>OIDCServlet</servlet-name>
    <url-pattern>/lti13/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>LTI11AnonymousServlet</servlet-name>
    <url-pattern>/lti11/*</url-pattern>
  </servlet-mapping>

  <listener>
    <listener-class>org.sakaiproject.util.SakaiContextLoaderListener</listener-class>
  </listener>

</web-app>
