.#{$namespace}sakai-samigo{
	.navIntraTool{
		li {
		    display: inline-block;
		    margin: 0 0 0 0;
		    span{
		    	display: inline-block;
		    	a{
		    		display: block;
		    		padding: 0.5em 0.5em 0.6em 0.2em;
		    		margin: 0 0 0 0;
		    	}
		    }
		}
	}
}