/* zero out */
table {
    margin: 10px 0px;
    width: 95%;
    background-color: #eee;
    float: none;
    clear: both
}

table tr {
}

.focusedRow:hover td {
    background:#ffffbb;
}

.focusedRow:hover .activeCell{
    background:#09c;
}

.focusedRow:hover .activeCell a{
    color:#fff
    }
.focusedRow + tr.newRow td .results{
    border-color:#09c !important
}
table tr.even {
    background: #fff
}

table tr td {
    margin: 0;
    padding: 5px;
}
.tab{
    padding-left:15px;
    }
.activeCell{
    -webkit-border-top-right-radius: 7px;
    -webkit-border-top-left-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-topleft: 7px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
   background: #b3d9ff;
 
}
.activeCell, .results {
    margin-bottom:5px
}
 .results {
     border:2px  solid #b3d9ff;
 }
.newRow td {
    padding: 00;
    background: #fff;
}

table tr.even td {
}

table tr td a {
    color: #003399
}

table tr td.action {
    width: 17px;
}

table thead th {
    padding: 5px;
    text-align: left
}

table thead {
    position: absolute;
    left: -10000px; /*render off viewport*/
}

table tr:hover {
    
}

table tr.newRow:hover {
    background: #fff
}

.results {
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 90%;
    position:relative
}

.results hr {
    border: none 0;
    border-top: 1px solid #aaa;
    width: 100%;
    height: 1px;
}
.results h4 {
    color:#555;
    font-size:120%;
    margin:0;
    padding:0 0 10px 0;
    }
    
h3.withNav {
    float: left;
    margin: 10px 0 0 0;
    padding-top: 5px;
}

.pager {
    margin: 10px 0 0 0;
    padding: 3px;
    width: 95%;
    color: #aaa;
    text-align: right;
}

.pager > a, .pager > span {
    padding: 0 5px;
    text-align: center;
    margin: 2px;
    border: 1px solid #ccc;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.pager > span.linky, .pager > a {
    background: #eee;
    color: #666
}

.pager > span.linky:hover, .pager > a:hover {
    border: 1px solid #555;
    background: #333;
    color: #fff;
}

.pager > span.linky:hover a {
    color: #fff;
}

.pager a {
    text-decoration: none;
}

.actionPanelTrig {
    text-align: right;
    width:17px;
    float:right;
}

.actionPanelTrig a {
    display: block;
    width: 16px;
    height: 16px;
    background: transparent url(img/down.png) right top no-repeat;
}

.actionPanel {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #aaa;
    background: #ffe;
    font-size: 90%;
    font-weight:normal;
    z-index:10
}
.actionPanel li {
    margin: 0;
    padding: 0;
}

.actionPanel li a, .actionPanel li a:visited {
    display: block;
    color:#000;
    text-decoration: none;
    padding: 5px;
}

.actionPanel li a:hover {
    padding: 5px;
    background: #eee;
    text-decoration: none;
}
.metadataLine, .description{
    padding: 5px 0;
}

.metadataLine,.unknownType {
    font-size: 100%;
    font-weight:bold;
    list-style:none;
    margin:0;
}
.metadataLine .data{
    padding-right:5px;
    }

.metadataLine em, .unknownType em{
     font-style:normal;
     font-weight:normal;
 }   
    
.metadataLine  li{
    display:inline;
}
.description{
    margin-top:5px;
    border-top:1px solid #ccc;
}
.moreInfo {
    position:absolute;
    top:15px;
    right:10px;
    text-align: right;
    font-weight:bold;
}
.moreInfo a, .moreInfo a:visited{
    text-decoration:none;
    color:#000;
    background:#e6f2ff;
    padding:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    }
.moreInfo a:hover{
    background:#b3d9ff;
    }
.moreInfo a .size{
    font-size:9px;
}
ul.attachList li {
    background: transparent url(../../../../library/image/sakai/attachments.gif) center left no-repeat;
    padding-left: 20px;
    margin-left:10px;
}

/*file listings*/
a.itemLink {
    display: block;
    padding: 3px;
    padding-left: 21px;
    background: url(../../../../library/image/sakai/generic.gif) center left no-repeat;
}

/*file exensions to match*/
.doc, .rtf, .docx, .docm, .dotx, .dotm {
    background: url(../../../../library/image/sakai/word.gif) center left no-repeat !important
}

.ppt, .pps, .pptx, .pptm, .ppsx, .potx, .potm, .ppam {
    background: url(../../../../library/image/sakai/ppt.gif) center left no-repeat !important
}

.xls, .xlsx, .csv, .xlsx, .xlsm, .xltx, .xltm, .xlsb, .xlam {
    background: url(../../../../library/image/sakai/excel.gif) center left no-repeat !important
}

.mdb {
    background: url(../../../../library/image/sakai/access.gif) center left no-repeat !important
}

.gif, .jpg, .jpeg, .png {
    background: url(../../../../library/image/sakai/image.gif) center left no-repeat !important
}

.html, .htm {
    background: url(../../../../library/image/sakai/html.gif) center left no-repeat !important
}

.txt, .java {
    background: url(../../../../library/image/sakai/text.gif) center left no-repeat !important
}

.zip, .tar, .sit, .hqx {
    background: url(../../../../library/image/sakai/compressed.gif) center left no-repeat !important
}

.mov, .mpeg, .avi {
    background: url(../../../../library/image/sakai/movie.gif) center left no-repeat !important
}

.mp3, .wav, .aiff {
    background: url(../../../../library/image/sakai/audio.gif) center left no-repeat !important
}

.pdf {
    background: url(../../../../library/image/sakai/pdf.gif) center left no-repeat !important
}

.ai, .ps, .psd {
    background: url(../../../../library/image/sakai/postscript.gif) center left no-repeat !important
}

.ram, .rm {
    background: url(../../../../library/image/sakai/real.gif) center left no-repeat !important
}

.swf {
    background: url(../../../../library/image/sakai/shockwave.gif) center left no-repeat !important
}
#news td,#sched td{
    padding: 3px 3px 3px 21px;
}
#sched td.date,#news td.date{
    padding-left:5px;
    }
#news .newRow td,#sched .newRow td{
    padding:0
}
#news .one{
    display:none;
}

#sched .one,#news .two{
    width: 20%;
}
#sched .two, #sched .tab, #news .three,  #news .tab{
    width: 50%;
}

#sched .three,#news .four{
    width: 25%;
}

#sched .four,#news .five{
    width: 5%;
}    
