/* Typography*/

//Google family Fonts URL
//$font-family-url: "//fonts.googleapis.com/css?family=Noto+Sans" !default;
//$header-font-family-url: "//fonts.googleapis.com/css?family=Raleway:300" !default;

//Typography variables
//$font-family: "Noto Sans", "Helvetica Neue", Arial, sans-serif !default;
//$default-font-size: 15px !default;
//Font weight: 300, 400 or 700 as you wish, 300 is light, 700 is bold.
//$default-font-weight: 400 !default;										
//$header-font-family: "Raleway", Arial, sans-serif !default;
//Header font weight: 300, 400 or 700 as you wish, 300 is light, 700 is bold
//$header-font-weight: 300 !default;

/* Main Menu */
//$header-size : 3.1em !default;

/* Tool Menu */
//$tool-menu-width: 14.5em !default;

/* Golden Ratio width for 16px font http://www.pearsonified.com/typography/ */
//$measure: 960px !default;

/* Tool icons */
//$skin-with-icons: true !default;
//$icon-size: 20px !default;

//@import url( #{$font-family-url}    );
//@import url( #{$header-font-family-url} );

// Custom Theme

:root {
    /////////////////////////////////////////////////////////////
    // Color palette generation
    // Use defineColorHSL to generate an 11 shade palette for a color.
    // @include defineColorHSL(colorname, hue, saturation, lightness)
    // @param colorname
    //      Type: string
    //      expects a CSS custom property name starting with --
    // @param hue
    //      Type: integer
    //      expects an integer 0-255
    // @param saturation
    //      Type: percentage
    //      expects a percentage 0-100%
    // @param lightness
    //      Type: percentage
    //      expects a percentage 0-100%
    // @returns 11 CSS Custom Properties available in :root
    //      named colorname-0 through colorname-10
    //      The HSL you provide in the parameters will be in the
    //      middle of the range at -5.
    // Example 
    // @include defineColorHSL(--myschool-gray, 214, 3%, 55%);
    //      returns --myschool-gray-5: hsl(214, 3%, 55%;
    //
    // In addition to the primary branding color defined here, Sakai comes 
    // predefined with gray, blue, teal, gold, green, orange,
    // purple, and red palettes available for you to use.
    // More info about defineColorHSL in sass/themes/_base.scss

    // Uncomment below to define a custom color
    // @include defineColorHSL(--custom, 173, 46%, 35%);

    /////////////////////////////////////////////////////////////

    /////////////////////////////////////////////////////////////
    // Main theme definition
    // Start by defining the variables below to create
    // your theme. If advanced customization is necessary,
    // continue to the remaining variables.
    /////////////////////////////////////////////////////////////

    // Primary branding color. 
    // Suggested: Your institution's main branding color.
    // Used in the top header, action buttons, etc. Commonly used as the background
    // color with white text color.
    // Uncomment below to set --sakai-primary-color-1
    // --sakai-primary-color-1:var(--custom);

    // Default: A slightly darker shade of --sakai-primary-color-1
    // Used for hover effects and higher contrast with white text color
    // Uncomment below to set --sakai-primary-color-2
    // --sakai-primary-color-2: var(--custom--darker-2);

    // Default: A slightly darker shade of --sakai-primary-color-2
    // Used for active, focus, selected effects
    // Uncomment below to set --sakai-primary-color-3
    // --sakai-primary-color-3: var(--custom--darker-3);

    // Default: A very light tint of --sakai-primary-color-1. 
    // Suggested: A light tint of your institution's main branding color.
    // Used to highlight active/current site in favorites and active/current tool in toolmenu
    // Commonly used with white background color with white text color.
    // Uncomment below to set --sakai-active-color-1
    // --sakai-active-color-1: var(--custom--lighter-5);

    // Default: A slightly darker shade of --sakai-active-color-1
    // Used for hover effects and higher contrast with --sakai-text-color-3
    // Uncomment below to set --sakai-active-color-2
    // --sakai-active-color-2: var(--custom--lighter-5);

    // Default: A slightly darker shade of --sakai-active-color-2
    // Used for active, focus, selected effects with --sakai-text-color-3
    // Uncomment below to set --sakai-active-color-3
    // --sakai-active-color-3: var(--custom--lighter-4);

    // Primary background color. 
    // Suggested: white
    // Used on the body and main content containers
    // Uncomment below to set --sakai-background-color-1
    // --sakai-background-color-1: var(--sakai-color-white);

    // Default: A slightly darker shade of --sakai-background-color-1
    // Used in hover effects of white backgrounds, alternating table rows
    // Uncomment below to set --sakai-background-color-2
    // --sakai-background-color-2: var(--sakai-color-gray--lighter-6);

    // Default: A slightly darker shade of --sakai-primary-color-2
    // Used for active, focus, selected effects of white backgrounds
    // and hover effects of --sakai-background-color-2
    // Uncomment below to set --sakai-background-color-3
    // --sakai-background-color-3: var(--sakai-color-gray--lighter-5);

    // Default: A slightly darker shade of --sakai-primary-color-2
    // Used for active, focus, selected effects of --sakai-background-color-3
    // Uncomment below to set --sakai-background-color-4
    // --sakai-background-color-4: var(--sakai-color-gray--lighter-4);

    // Secondary branding color. 
    // Suggested: An alterate branding color distinct from
    // what you select for --sakai-primary-color-1
    // Used in new user tutorial, user profile image border
    // Uncomment below to set --sakai-secondary-color-1
    // --sakai-secondary-color-1: var(--custom--darker-2);

    // Tertiary branding color. 
    // Suggested: A third branding color distinct from
    // what you selected for --sakai-primary-color-1 and --sakai-secondary-color-1
    // Used in user profile image border
    // Uncomment below to set --sakai-tertiary-color-1
    // --sakai-tertiary-color-1: var(--sakai-color-orange--lighter-2);

    // Primary border color used across sakai. 
    // Suggested: light gray
    // Uncomment below to set --sakai-border-color
    // --sakai-border-color: var(--sakai-color-gray--lighter-6);

    // Primary text color used across sakai. 
    // Suggested: dark gray, near black
    // Most commonly used against --sakai-background-color-1
    // Uncomment below to set --sakai-text-color-1
    // --sakai-text-color-1: var(--sakai-color-gray--darker-2);

    // Default: A slightly darker shade of --sakai-text-color-1
    // Used in certain hover effects, but NOT a[href] elements
    // Uncomment below to set --sakai-text-color-2
    // --sakai-text-color-2: var(--sakai-color-gray--darker-3);

    // Default: A much darker shade of --sakai-primary-color-1
    // Used as text color of active site in favorites, active tool in toolmenu
    // Uncomment below to set --sakai-text-color-3
    // --sakai-text-color-3: var(--custom--darker-3);

    // Default: A lighter shade of --sakai-text-color-1
    // Used to make elements appear disabled or "grayed out"
    // Uncomment below to set --sakai-text-color-disabled
    // --sakai-text-color-disabled: var(--sakai-color-gray--lighter-1);

    // Default: --sakai-color-white
    // Used for text color on saturated color backgrounds like primary button, header bar icons
    // Uncomment below to set --sakai-text-color-inverted
    // --sakai-text-color-inverted: var(--sakai-background-color-1);

}

:root.sakaiUserTheme-dark {

}
