//////////////////////////////
// MODULES: Styles that are layout independent 
//////////////////////////////

@import "_chat_variables";

.Mrphs-{
	&footerApp{
		&__presence{
		  	background-color: $footerApp__chat__header__background;
		  	color: $footerApp__chat__header__color;
		    float: left;
		    text-align: left;
		    vertical-align: bottom;
		    width: 200px;
		    height: 30px;
		    padding: 5px 5px 0px 7px;
		    position: fixed;
		    bottom: 0px;
		    right: 20px;
		}&--toggle{
		 	display: inline;
    		padding: 6px 6px 5px 6px;
    		color: $footerApp__chat__header__color;
    		text-decoration: none;
    		height: 16px;
    		font-weight: bold;
		}
	}
	&portalChat{
		    width: 225px;
		    background-color: $footerApp__chat__background;
		    border-width: 1px 1px 0 1px;
		    position: fixed;
		    bottom: 0px;
		   
		    /* Needs to be to the right of the expanded presence block. See presenceArea. */
		    right: 18px;
		    z-index: 2001;
		    margin: 0px;
		    padding: 0px;
		    display: none;

		    @include box-shadow( 0 -2px 2px rgba( $text-color, 0.5 ) );
			
			h5{
				margin-bottom: 5px !important;
			}
			
			/* First generic styles*/
			&__list{
				list-style: none;
				margin: 3px 5px 0px 0px;
				padding: 0px;
			}
			&__list-item{
				clear: both;
				height: 100%;
				overflow: hidden;
				position: relative;
			}
			
			&__title{
				    font-weight: bold;
    				padding: 5px;
				    vertical-align: middle;
				    color: $footerApp__chat__header__color;
				    background-color: $footerApp__chat__header__background;
			}
			
			&__container {
    			 clear: both;
    			 
    			 h2{
    			 	background: none;
    			 	color: $footerApp__chat__color;
    			 	padding: 2px 0px;
    			 	font-size: 1em;
    			 	margin: 0px;
    			 }
    			 
			}
			&__wrapper{
				padding: 5px;
				clear: both;
				font-size: 95%;
				height: 100%;
				overflow: hidden;
			}
			&__options{
				overflow: hidden;
   				font-size: 90%;
    			padding: 5px;
    			margin: 0px 0px 10px 0px
			}
			&__users {
				border-top: solid 0.5em $footerApp__chat__header__background;
			}
			&__count{
				  border-radius: 50%;
				  background: #FFF;
				  width: 23px;
				  height: 23px;
				  display: inline-block;
				  float: right;
				  text-align: center;
				  vertical-align: middle;
			}
			&__close{
				padding: 0px !important;
				width: 16px;
				height: 16px;
				background: url("/library/image/sakai/cross.png") 0 0 no-repeat;
				float: right;
				text-align: right;
				margin-top: 5px;
			}
			&__siteusers,&__connections{
				a{
					
				}
				
			}
			&__user--link{
				  margin-left: 5px;
				  text-decoration: none !important;
				  height: 30px;
				  width: 140px;
				  float: left;
				  &:hover{
				  	text-decoration: none;
				  }
			}
			&__connection--bullet{
				float: left;
				display: inline-block;
				right: -3px;
				position: absolute;
				bottom: 0px;
			}
			&__user--image{
			  vertical-align: middle;
  			  float: left;
  			  width: 40px;
			}
			&__user--name{
  				float: left;
  				margin: 3px;
  				height: 30px;
			}

			&__checkbox--options{
				margin-right: 3px;
				margin-left: -1px;
			}
			&__connection--ping{
			 	display: none;
			    color: #fff;
			    padding: 2px;
			    position: absolute;
			    right: 30px;
			    top: 1px;
			    background: green;
			    -moz-border-radius: 3px;
			    -webkit-border-radius: 3px;
			    -khtml-border-radius: 3px;
			    border-radius: 3px;
			}
			&__message--new{
				background-color: #fcc6c6;
			    background: -webkit-gradient(linear, left top, left bottom, from(rgb(238, 238, 238)), to(rgb(252, 198, 198)));
			    background: -webkit-linear-gradient(top, rgb(238, 238, 238), rgb(252, 198, 198));
			    background: -moz-linear-gradient(top, rgb(238, 238, 238), rgb(252, 198, 198));
			    background: -o-linear-gradient(top, rgb(238, 238, 238), rgb(252, 198, 198));
			    background: -ms-linear-gradient(top, rgb(238, 238, 238), rgb(252, 198, 198));
			    background: linear-gradient(top, rgb(238, 238, 238), rgb(252, 198, 198));
			}
			
			/*Chat windows*/
			&__chat--{
				&window{
					height: 300px;
				    width: 256px;
				    float: right;
				    border: #ccc solid 1px;
				    border-bottom: 0;
				    bottom: 0;
				    margin-right: 5px;
				}
				&title{
						font-weight: bold;
						font-size: 0.8em;
						padding: 5px;
						vertical-align: middle;
						color: $footerApp__chat__header__color;
						background-color: $footerApp__chat__header__background;
						cursor: pointer;
	  					overflow: hidden;
						position: relative;
						height: 33px;
				}
				&container{
					 position: fixed;
				    /* The chats container is placed just to the left of the connections menu */
				    right: 225px;
				    bottom: 0px;
				    height: 300px;
				    width: auto;
				     position: fixed;
	    		}
	    		&maximised{
	    			margin-top: 0px;
	   				font-family: 'Helvetica Neue', Arial;
	    		}
	    		&minimised{
	    			margin-top: 260px;
	    		}
	    		&message{
	    		    width: 170px;
	    			overflow: hidden;
	    		}
	    		&displayname{
					display: block;
    				font-weight: bold;
    				font-size: 0.9em;
    				padding: 0 5% 5% 5%;
    				text-align: center;    		
	    		}
	    		&displayname{
					margin-left: -20px;
    				margin-top: 3px;    		
	    		}
	    		&messagedate{
	    			font-size: 90%;
				    color: #555;
				    position: absolute;
				    right: 3px;
				    top: 3px;
	    		}
	    		
	    		&editorwrapper {
				    padding: 5px 5px 0px 7px;
				    background: #f3f3f3;
				    border-top: 1px solid #ccc;
				    height: 200px;
				}
				&editor {
				    width: 236px;
				    margin-top: 2px;
				    padding: 1px;
				}
				&videocontent{
					  background-color: #000;
				}
				&messages{
					list-style: none;
					padding: 0px;
				    background: white;
				    height: 225px;
				    overflow: auto;
				    margin: 0;
				    
					li{
						margin: 2px 0px;
						vertical-align: text-top;
						position: relative;
						border-bottom: 1px solid #EEE;
						padding: 2px 35px 5px;
						min-height: 30px;
						
						img{
							vertical-align: text-top;
						    max-width: 10%;
						    max-height: 80%;
						    border: 1px solid #ccc;
						    margin-right: 5px;
						    margin-left: 2px;
						    position: absolute;
						    top: 2px;
						    left: 2px;
						    float: left;
						}
					
					}
				}
	    		&connections{
	    			list-style: none;
				    padding: 0;
				    margin: 0;
	    		}
	    		
	    		
			}
			
			/*Videochat controls */
			
			&__videochat--{
			
				&bar{
					font-size: 14px;
					font-weight: bold;
					color: $footerApp__chat__color;
				}
				
				&ctrlbar{
					font-size: 14px;
					font-weight: bold;
					color: $footerApp__chat__color;
					background: none repeat scroll 0% 0% $footerApp__chat__background;
					overflow: hidden;
					position: relative;
					height: 18px;
					border-bottom: 1px solid #CCC;
				}
				&answerelement{
					  font-size: 12px;
					  font-weight: bold;
					  float: left;
					  width: 75%;
					  text-align: left;
					  vertical-align: middle;
				}
				&leftelement{
					float: left;
  					width: 25%;				
				}
				&rightelement{
					font-size: 15px;
					font-weight: bold;
					float: right;
					width: 75%;
					text-align: right;
				}
				&remotevideo{
						background: black;
						position: relative;
				}
				&video{
					width: 100%;
  					height: 192px;
				}
				&statusbar{
					  position: relative;
					  top: 150px;
					  color: #DEDEDE;
					  font-weight: bold;
					  font-size: 10pt;
					  text-align: center;
					  width: 100%;
					  height: 0px;
				}
				&statusfailed{
					  color: #DEDEDE;
					  text-align: center;
					  height: 192px;
					  margin-left: auto;
					  margin-right: auto;
					  font-size: 36pt;
					  position: relative;
					  top: 20px;
				}
				&statusfinished{
					  height: 192px;
  					  background-image: url('/library/image/sakai/video_back_finish.png');
  					  background-repeat: no-repeat;
  					  background-position: 50% 30%;
				}
				
				&videobutton{
					width:16px;
					height:16px;
					margin-left: 2px;
					margin-top: 1px;
					text-decoration: none;
					border : 0px;
					cursor: hand; 
					display:inline-block;
					cursor: pointer;
					background-repeat:no-repeat;
					background-position: center;
					&:hover{
						 -moz-box-shadow: 0 0 6px #009DCE ;
    					 -webkit-box-shadow: 0 0 6px #009DCE;
    					  box-shadow: 0 0 6px #009DCE;
					}
				}
				&videocall{
					background-image: url('/library/image/sakai/video_call.png');
				}
				&videoclose{
					background-image: url('/library/image/sakai/video_hang.png');
				}
				&videomaxi{
					background-image: url('/library/image/sakai/video_maxi.png');
				}
				&videomicenabled{
					background-image: url('/library/image/sakai/video_mic_enable.png');
				}
				&videomicdisabled{
					background-image: url('/library/image/sakai/video_mic_disable.png');
				}
				&videocamenabled{
					background-image: url('/library/image/sakai/video_cam_enable.png');
				}
				&videocamdisabled{
					background-image: url('/library/image/sakai/video_cam_disable.png');
				}
				
				/*Bubbling effect*/
				&bubblingG{
					text-align: center;
					width:80px;
					height:192px;
					margin-left:auto;
					margin-right: auto;
					
					span{
						display: inline-block;
						vertical-align: middle;
						width: 10px;
						height: 10px;
						margin: 90px auto;
						background: #FFFFFF;
						-moz-border-radius: 50px;
						-moz-animation: Mrphs-portalChat__videochat--bubblingG 1.3s infinite alternate;
						-webkit-border-radius: 50px;
						-webkit-animation: Mrphs-portalChat__videochat--bubblingG 1.3s infinite alternate;
						-ms-border-radius: 50px;
						-ms-animation: Mrphs-portalChat__videochat--bubblingG 1.3s infinite alternate;
						-o-border-radius: 50px;
						-o-animation: Mrphs-portalChat__videochat--bubblingG 1.3s infinite alternate;
						border-radius: 50px;
						animation: Mrphs-portalChat__videochat--bubblingG 1.3s infinite alternate;
						
						&.Mrphs-portalChat__videochat--bubblingG_1 {
							-moz-animation-delay: 0s;
							-webkit-animation-delay: 0s;
							-ms-animation-delay: 0s;
							-o-animation-delay: 0s;
							animation-delay: 0s;
						}
						&.Mrphs-portalChat__videochat--bubblingG_2 {
							-moz-animation-delay: 0.39s;
							-webkit-animation-delay: 0.39s;
							-ms-animation-delay: 0.39s;
							-o-animation-delay: 0.39s;
							animation-delay: 0.39s;
						}
						&.Mrphs-portalChat__videochat--bubblingG_3 {
							-moz-animation-delay: 0.78s;
							-webkit-animation-delay: 0.78s;
							-ms-animation-delay: 0.78s;
							-o-animation-delay: 0.78s;
							animation-delay: 0.78s;
						}
					}
				} 
				
				@-moz-keyframes &bubblingG {
					0% {
						width: 10px;
						height: 10px;
						background-color:#FFFFFF;
						-moz-transform: translateY(0);
					}
					
					100% {
						width: 24px;
						height: 24px;
						background-color:#4D4D4D;
						-moz-transform: translateY(-21px);
					}
				
				}
				
				@-webkit-keyframes Mrphs-portalChat__videochat--bubblingG {
					0% {
						width: 10px;
						height: 10px;
						background-color:#FFFFFF;
						-webkit-transform: translateY(0);
					}
					
					100% {
						width: 24px;
						height: 24px;
						background-color:#4D4D4D;
						-webkit-transform: translateY(-21px);
					}
				}
				
				@-ms-keyframes Mrphs-portalChat__videochat--bubblingG {
					0% {
						width: 10px;
						height: 10px;
						background-color:#FFFFFF;
						-ms-transform: translateY(0);
					}
					
					100% {
						width: 24px;
						height: 24px;
						background-color:#4D4D4D;
						-ms-transform: translateY(-21px);
					}
				}
				
				@-o-keyframes Mrphs-portalChat__videochat--bubblingG {
					0% {
						width: 10px;
						height: 10px;
						background-color:#FFFFFF;
						-o-transform: translateY(0);
					}
					
					100% {
						width: 24px;
						height: 24px;
						background-color:#4D4D4D;
						-o-transform: translateY(-21px);
					}
				}

				@keyframes Mrphs-portalChat__videochat--bubblingG {
					0% {
						width: 10px;
						height: 10px;
						background-color:#FFFFFF;
						transform: translateY(0);
					}
					
					100% {
						width: 24px;
						height: 24px;
						background-color:#4D4D4D;
						transform: translateY(-21px);
					}
				}
				
			}
		
	}
	

}