#header(false ${adminModel.title})
    	<div class="portletBody">    		
    	
    <div class="navIntraTool">
	    <!-- Home Link -->
	    <a href="../index">Search</a>
	    #foreach( $option in ${adminModel.optons} )
	    			<a href="${option.url}" ${option.attributes} >${option.name}</a>
	    #end
    </div>
    

    <p>
 #set( $searchStatus = ${adminModel.getSearchStatus()} )
	Last loaded at ${adminModel.searchStatus.lastLoad} in ${searchStatus.loadTime} <br /> 
	Being indexed by ${searchStatus.currentWorker} expected fo finish before ${searchStatus.currentWorkerETC} <br /> 
	Index contains ${searchStatus.nDocuments} documents and ${searchStatus.pDocuments} pending
    </p>
	
	<table summary="Master Control Records that control all sites" >
	<tr><th colspan="4">Master Control Records</th></tr>
	<tr>
	 <td>Context</td>
	 <td>Operation</td>
	 <td>Current Status</td>
	 <td>Last Update</td>
	</tr>
#foreach( $record in ${adminModel.globalMasterRecords} )
	<tr>
		<td>${record.context}</td>
		<td>${record.operation}</td>
		<td>${record.status}</td>
		<td>${record.lastUpdate}</td>
	</tr>
#end
	</table>
	<table summary="Site Control records that control just this site">
	<tr><th colspan="4">Site Control Records</th></tr>
	<tr>
	 <td>Context</td>
	 <td>Operation</td>
	 <td>Current Status</td>
	 <td>Last Update</td>
	</tr>
#foreach( $record in ${adminModel.siteMasterRecords} )
	<tr>
		<td>${record.context}</td>
		<td>${record.operation}</td>
		<td>${record.status}</td>
		<td>${record.lastUpdate}</td>
	</tr>
#end
	</table>
	<table summary="A list of index workers" >
	<tr>
		<th colspan="3">Indexer Workers</th>
	</tr>
	<tr>
		<td>Worker Thread</td>
		<td>Due Before</td>
		<td>Status</td>
	</tr>
#foreach( $thread in ${adminModel.workerThreads} )
	<tr>
		<td>${thread.name}</td>
		<td>${thread.eta}</td>
		<td>${thread.status}</td>
	</tr>
#end
	</table>
	<table summary="A list index segments" >
	<tr>
		<th colspan="3">Segments</th>
	</tr>
	<tr>
		<td>Segment Name</td>
		<td>Size</td>
		<td>Last Update</td>
	</tr>
#foreach( $thread in ${adminModel.segments} )
	<tr>
		<td>${thread.name}</td>
		<td>${thread.size}</td>
		<td>${thread.lastUpdate}</td>
	</tr>
#end
	</table>
    </div>
#footer()