<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd   
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd   
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- FsService is often retrieved from HttpRequest -->
	<!-- while a static FsService is defined here -->
	<bean id="fsServiceFactory" class="org.sakaiproject.elfinder.impl.SakaiFsServiceFactory">
		<property name="fsService">
			<bean class="org.sakaiproject.elfinder.sakai.SakaiFsService">
				<property name="contentHostingService" ref="org.sakaiproject.content.api.ContentHostingService"/>
				<property name="siteService" ref="org.sakaiproject.site.api.SiteService"/>
				<property name="securityChecker">
					<bean class="org.sakaiproject.elfinder.impl.SakaiFsSecurityChecker"/>
				</property>
				<property name="toolVolume">
					<set>
						<bean class="org.sakaiproject.elfinder.sakai.content.ContentSiteVolumeFactory">
							<property name="contentHostingService" ref="org.sakaiproject.content.api.ContentHostingService"/>
							<property name="siteService" ref="org.sakaiproject.site.api.SiteService"/>
                        </bean>
						<bean class="org.sakaiproject.elfinder.sakai.content.DropboxSiteVolumeFactory">
                            <property name="contentHostingService" ref="org.sakaiproject.content.api.ContentHostingService"/>
                            <property name="siteService" ref="org.sakaiproject.site.api.SiteService"/>
						</bean>
						<bean class="org.sakaiproject.elfinder.sakai.msgcntr.MsgCntrSiteVolumeFactory">
							<property name="discussionForumManager" ref="org.sakaiproject.api.app.messageforums.ui.DiscussionForumManager"/>
							<property name="messageForumsForumManager" ref="org.sakaiproject.api.app.messageforums.MessageForumsForumManager"/>
							<property name="uiPermissionsManager" ref="org.sakaiproject.api.app.messageforums.ui.UIPermissionsManager"/>
							<property name="userDirectoryService" ref="org.sakaiproject.user.api.UserDirectoryService"/>
						</bean>
						<bean class="org.sakaiproject.elfinder.sakai.assignment.AssignmentSiteVolumeFactory">
							<property name="assignmentService" ref="org.sakaiproject.assignment.api.AssignmentService"/>
							<property name="userDirectoryService" ref="org.sakaiproject.user.api.UserDirectoryService"/>
						</bean>
					</set>
				</property>
			</bean>
		</property>
	</bean>
</beans>