<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="fsServiceFactory"
		  class="org.sakaiproject.elfinder.impl.SakaiFsServiceFactory">
		<property name="fsService" ref="org.sakaiproject.elfinder.impl.SakaiFsServiceAdapter"/>
	</bean>

	<bean id="org.sakaiproject.elfinder.impl.SakaiFsServiceAdapter"
		  class="org.sakaiproject.elfinder.impl.FsServiceAdapter">
		<property name="sakaiFsService" ref="org.sakaiproject.elfinder.SakaiFsService"/>
		<property name="securityChecker">
			<bean class="org.sakaiproject.elfinder.impl.SakaiFsSecurityChecker"/>
		</property>
		<property name="fsServiceConfig">
			<bean class="org.sakaiproject.elfinder.impl.SakaiFsServiceConfig"/>
		</property>
	</bean>
</beans>
