<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- The Sakai version that makes use of the ContentHostingHandlerResolver to unzip and serve content -->
	<bean id="org.sakaiproject.scorm.service.api.ScormResourceService"
		class="org.sakaiproject.scorm.service.chh.impl.CHHResourceService">
		
		<!-- Sakai API Service -->
		<lookup-method name="configurationService" bean="org.sakaiproject.component.api.ServerConfigurationService" />
		<lookup-method name="contentService" bean="org.sakaiproject.content.api.ContentHostingService" /> 
		<lookup-method name="toolManager" bean="org.sakaiproject.tool.api.ToolManager" />

		<lookup-method name="scormCHH" bean="org.sakaiproject.scorm.content.api.ScormCHH" />
	</bean>
	
	<bean id="org.sakaiproject.scorm.dao.api.SeqActivityTreeDao"
		class="org.sakaiproject.scorm.dao.standalone.StandaloneActivityTreeDaoImpl">
	</bean>

	<!-- This is just an ehcache for the content hosting handler below -->
	<bean id="org.sakaiproject.scorm.content.api.ZipCHH.cache" 
		class="org.springframework.cache.ehcache.EhCacheFactoryBean">
		<property name="cacheManager"><ref bean="org.sakaiproject.memory.api.MemoryService.cacheManager"/></property>
		<property name="cacheName"><value>org.sakaiproject.scorm.content.api.ZipCHH</value></property>
		<property name="maxElementsInMemory" ><value>10000</value></property>
		<property name="diskPersistent" ><value>false</value></property>
		<property name="eternal" ><value>false</value></property>
		<property name="timeToLive" ><value>300</value></property>
		<property name="timeToIdle" ><value>600</value></property>
	</bean>

	<!-- This is the content hosting handler that the component uses to manage content in the
		Sakai content repository so the zip files can be read as virtual file systems -->
	<bean id="org.sakaiproject.scorm.content.api.ScormCHH"
		class="org.sakaiproject.scorm.content.impl.ScormCHH"
		init-method="init">
		<lookup-method name="scormContentService" bean="org.sakaiproject.scorm.service.api.ScormContentService"/>
		<lookup-method name="contentService" bean="org.sakaiproject.content.api.ContentHostingService" /> 
		<property name="resolver"><ref bean="org.sakaiproject.content.api.ContentHostingHandlerResolver"/></property>
		<property name="resourceTypeRegistry"><ref bean="org.sakaiproject.content.api.ResourceTypeRegistry"/></property>
		<property name="cache"><ref bean="org.sakaiproject.scorm.content.api.ZipCHH.cache"/></property>
	</bean>
</beans>
