@font-face {
  font-family: 'pasystem-icons';
  src:url('../fonts/pasystem-icons.eot?-wa2nby');
  src:url('../fonts/pasystem-icons.eot?#iefix-wa2nby') format('embedded-opentype'),
    url('../fonts/pasystem-icons.woff?-wa2nby') format('woff'),
    url('../fonts/pasystem-icons.ttf?-wa2nby') format('truetype'),
    url('../fonts/pasystem-icons.svg?-wa2nby#pasystem-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.pasystem-banner-alert {
  background-color: #f7e084;
  color: #000;
  padding: 10px 0;
  position: relative;
  border-bottom: 1px solid rgba(165, 138, 29, 0.1);
}

.pasystem-banner-alert-message {
  display: inline-block;
  width: 92%;
}

.pasystem-banner-alert:before {
  font-family: 'pasystem-icons';
  float: left;
  margin: 0 10px;
  font-size: 20px;
  line-height: 24px;
}
.pasystem-banner-alert,
.pasystem-banner-alert.pasystem-banner-medium {
  background-color: #f7e084;
}
.pasystem-banner-alert:before,
.pasystem-banner-alert.pasystem-banner-medium:before {
  content: '\f071';
  color: #a9860c;
}
.pasystem-banner-alert.pasystem-banner-high {
  background-color: #f1d3d3;
}
.pasystem-banner-alert.pasystem-banner-high:before {
  content: '\f06a';
  color: #b30e0a;
}
.pasystem-banner-alert.pasystem-banner-timezone,
.pasystem-banner-alert.pasystem-banner-low {
  background-color: #c7e4f4;
}
.pasystem-banner-alert.pasystem-banner-timezone:before,
.pasystem-banner-alert.pasystem-banner-low:before {
  content: '\f05a';
  color: #144bae;
}
.pasystem-banner-alert .pasystem-banner-alert-close {
  position: absolute;
  top: 50%;
  right: 10px;
  text-decoration: none;
  margin-top: -10px;
  color: #666;
}
.pasystem-banner-alert .pasystem-banner-alert-close:before {
  font-family: 'pasystem-icons';
  content: '\f00d';
}
.pasystem-banner-alert-toggle {
  -webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  -ms-transition: background-color 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;

  background-color: #f7e084;
  color: #000 !important;
  text-align: center;
  padding: 6px 8px;
  border-radius: 3px;
  text-decoration: none;
}
.pasystem-banner-alert-toggle-list-item {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 13px;
  border: 1px solid #E0E0E0;
  z-index: 1000;
  display: inline-block;

  -webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  -ms-transition: background-color 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;

  background-color: #f7e084;
  color: #000 !important;
  text-align: center;
  padding: 6px 8px;
  border-radius: 3px;
  text-decoration: none;
}
.pasystem-banner-alert-toggle:before {
  font-family: 'pasystem-icons';
  content: '\f071';
}
.pasystem-banner-alert-toggle:hover {
  -webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  -ms-transition: background-color 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;

  background-color: #F7DB4D;
  text-decoration: none;
}
@media only screen and (max-width: 800px) {
  .pasystem-banner-alerts {
    display: none; /* Not working correctly on mobile yet */
    position: absolute;
    top: 50px;
    right: 0;
    width: 80%;
    max-width: 500px;
    z-index: 1;
  }
  .pasystem-banner-alerts .pasystem-banner-alert {
    display: none; /* Not working correctly on mobile yet */
    margin: 10px;
    border-radius: 5px;
  }
  .pasystem-banner-alert-toggle-list-item {
    display: none !important; /* Not working correctly on mobile yet, important needed as styles get set on the element */
    position: fixed;
    left: 100px;
    top: 16px;
  }
  .pasystem-banner-alert-toggle {
    padding: 8px;
  }
}

.featherlight .featherlight-content {
    min-width: 450px;
    max-width: 782px;
    max-height: 85%;
    padding: 40px;
    padding-bottom: 0;
}

.featherlight .featherlight-close {
    right: 5px;
    top: 5px;
}

.popup-container-footer {
  display: block;
  padding: 8px 0;
  line-height: 25px;
  text-align: right;
  font-size: 18px !important;

  margin-top: 2em;
}


.popup-dismiss-button {
    display: inline-block !important;
    margin-right: 4px !important;
    margin-bottom: 4px !important;
    padding: 3px 8px !important;

    text-decoration: none;
    cursor: pointer;
}

.popup-dismiss-button.permanent {
    border: 1px solid #DBDCDE !important;
    background: #E7E7EB !important;
    color: #444 !important;
}

.popup-dismiss-button.temporary {
    background: #3698DB !important;
    color: #FFF !important;
    border: 1px solid #3698DB !important;
}

.popup-dismiss-button:hover,
.popup-dismiss-button:focus {
    -webkit-transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    -moz-transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    -ms-transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    -o-transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;

    background: #FFF !important;
    color: #3698DB !important;
    border-color: #3698DB !important;
}

.popup-container-header {
  background: #57068c;
  padding: 10px 20px;
  color: #FFF;
  text-align: center;
  font-size: 2em;
  padding-right: 50px;
  position: relative;
  display: block;
}

.pasystem-body .alert li {
  list-style: none;
}
