/* scorm.css : Styles for scorm player */
body, div {
    margin: 0px;
    padding: 0px;
}

div.my-tree div.wicket-tree {
    height: auto;
    width: 100%;
    padding-right: 10px;
}

.pageIcon {
    vertical-align: middle;
}

.smalltext {
    font-size: 9px;
    color: lightgray;   
}

#scormButtonPanel {
    background: url(/sakai-scorm-tool/images/buttonBarBackground.gif) repeat-x;
    height: 40px;
    padding-top: 4px;
}


.scormPlayerPanel {
    width: 100%;
}

#scormMainPanel {
    width: 100%;
}
#scormNavPanel {
    position: absolute;
    top: 44px;
    left: 0px;
    width: 280px;
    overflow: auto;
}

#scormContentPanel {
    position: absolute;
    top: 44px;
    left: 280px;
    overflow: hidden;
}

#scormContent {
    width: 100%;
    overflow: auto;
}

#scormFooter {
}

.scormAdminPanel {
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
}

.scormActionButton {

}

.scormNotification {
        
}

.scormRoundbox{
    background: #6E6E6E;
    width: 400px;
    margin-bottom: 20px;
    color: #fff;
    text-align: left;
    clear: both;
}

.scormRoundbox h3{
    font-size: 1.55em;
    font-color: white;
    padding: 15px 15px 10px 15px;
    border-bottom: 1px dotted #e8e8e8;
    margin-bottom: 10px;
    clear: both;
}

.scormRoundbox p{
    font-size: 1.5em;
    padding: 0px 15px 15px 16px;
}

.scormRoundbox ul, .anchor ul{
    font-size: 1.5em;
    padding: 0px 15px 15px 16px;
}

.scormRoundbox ul li, .anchor ul li{
    list-style: circle inside;
    padding: 2px 0px;
}