//////////////////////////////
// VARIABLES: For Modules specific styles 
//////////////////////////////

$portletnav-icons: (
  help: '\f059', 
  edit: '\f044',
  tool-directurl: '\f0c1',
  reset: '\f015'
);