<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Account Validation</title>
<link rsf:id="scr=portal-matter" href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all" />
<link  rsf:id="scr=portal-matter" href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all" />
<script rsf:id="scr=portal-matter" type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
<script type="text/javascript" language="JavaScript" src="/library/js/jquery.js"></script>
</head>
<body>
<div class="portletBody">

  <div rsf:id="message-for:*">
	<span>Message for user here</span>
  </div>
  <h3>Account Validation</h3>
 
 	<form method="post" rsf:id="vaildationForm">
 		<input type="text" rsf:id="validationToken"/>
 		<input type="submit" name="submit" rsf:id="submit"/>
 	</form>
 
</div>
</body>
</html>
