<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title rsf:id="msg=passwordReset.title">Reset Password</title>
		<link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all" />
		<link href="../css/passwordReset.css" type="text/css" rel="stylesheet" media="all" />
		<script rsf:id="scr=portal-matter"></script>
		<script type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
		<script type='text/javascript'>includeLatestJQuery('accountvalidator');</script>
		
		<script type="text/javascript" language="JavaScript" src="../js/accountValidator.js"></script>
		<script type="text/javascript" language="JavaScript" rsf:id="passwordPolicyEnabled"></script>
	</head>
	<body id="body" class="passwordAccountStatus">
		<div class="wrapper">
			<div class="header">
				<div class="stylized">
					<h3 rsf:id="welcome1">Reset your password on Sakai</h3>
					<div rsf:id="welcome2" class="instruction">You have ... from the time of your original request to submit this form</div>
				</div>
			</div>
			<div class="centeredFeedback">
				<div rsf:id="message-for:*"><span>Message for user here</span></div>
			</div>
			<a rsf:id="redirectLink"> Reset your Sakai password / Accept your Sakai invitation</a>
			<div rsf:id="requestAnotherContainer:" class="instruction">
				<span rsf:id="request.another.label">Forgot your password?</span>&nbsp;<a rsf:id="request.another">Request again.</a>
			</div>
			<table class="myform">
				<tr>
					<td valign="top">
						<div class="myform stylized">
							<form rsf:id="setDetailsForm" id="form" name="form" method="post">
								<div class="usernameParent">
									<span rsf:id="username.new" class="info">Your username will be:</span>
									<span id="eid" rsf:id="eid" class="username">User ID</span>
								</div>
								<div rsf:id="passrow1:">
									<label><span rsf:id="msg=newpassword">Password</span> <span class="reqStar">*</span></label>
									<input id="passrow1::password1" type="password" class="inputBox required" rsf:id="password1" onkeyup="VALIDATOR.validatePassword();" oninput="VALIDATOR.validatePassword();" onblur="VALIDATOR.displayStrengthInfo();" onfocus="VALIDATOR.displayStrengthInfo();" required="required"/>
								</div>
								<div id="strongMsg" style="display:none" rsf:id="msg=password.strong"></div>
								<div id="moderateMsg" style="display:none" rsf:id="msg=password.moderate"></div>
								<div id="weakMsg" style="display:none" rsf:id="msg=password.weak"></div>
								<div id="failMsg" style="display:none" rsf:id="msg=password.fail"></div>
								<div id="strengthBar" style="display:none">
									<span id="strengthBarMeter" style="display:none"></span>
								</div>
								<div id="strengthInfo" style="display:none" rsf:id="msg=password.strengthInfo"></div>

								<div rsf:id="passrow2:">
									<label><span rsf:id="msg=password2">Confirm password</span> <span class="reqStar">*</span></label>
									<input id="passrow2::password2" type="password" class="inputBox required" rsf:id="password2" onkeyup="VALIDATOR.verifyPasswordsMatch();" oninput="VALIDATOR.verifyPasswordsMatch();" required="required"/>
								</div>

								<div id="matchMsg" rsf:id="msg=password.match" style="display:none;"></div>
								<div id="noMatchMsg" rsf:id="msg=password.noMatch" style="display:none"></div>

								<input id="addDetailsSub" class="submit" type="submit" rsf:id="addDetailsSub" />
							</form>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
