<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title rsf:id="msg=validate.title">Account Validation</title>
<link href="/library/skin/tool_base.css"
	type="text/css" rel="stylesheet" media="all" />
<link href="/library/skin/default/tool.css"
	type="text/css" rel="stylesheet" media="all" />
<link href="../css/accountvalidator.css" type="text/css"
	rel="stylesheet" media="all" />
<script rsf:id="scr=portal-matter"></script>
<script type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
<script type='text/javascript'>includeLatestJQuery('accountvalidator');</script>
<script type="text/javascript">
        $(document).ready(function() {
            if ($('form').length === 0) {
                $('table').remove();
                return false;
            }
            var css_invalidField = {'border':'1px solid red'};
            $("input.inputBox").bind('keyup', function(){
                $(this).removeAttr("style");
            });
            $("input[type=checkbox]").click(function() {
            	$(this).parents(".required").removeAttr("style");
            });
            $("input.submit").bind('click', function() {
                var that = $(this),
                        form = that.parents('form:eq(0)'),
                        errors = 0;
                $('form .required').removeAttr("style");
                $.each(form.find('.required'), function(i, _this) {
                    var field = $(_this);
                    if (field.attr('type') === 'text') {
                        if (_isEmpty(field)) {
                            field.css(css_invalidField);
                            errors ++;
                        }
                    } else if (field.attr('type') === 'password') {
                        if (field.attr('class').search('password2') === -1) {
                            if (_isEmpty(field)) {
                                field.css(css_invalidField);
                                errors ++;
                            }
                        }
                    // This is for the checkbox as we can't add a border to it.
                    } else if (field.is("div")) {
                        $("input[type=checkbox]", field).each(function(j, checkbox) {
                            if (!$(checkbox).is(":checked")) {
                                field.css(css_invalidField);
                                errors ++;
                            }
                        });
                    }
                });
                if (form.find('input.password2').length > 0) {
                    var p1 = form.find('input.password1'),
                            p2 = form.find('input.password2');
                    if (!_isEmpty(p1)) {
                        if (p1.val() !== p2.val()) {
                            p1.css(css_invalidField);
                            p2.css(css_invalidField);
                            errors ++;
                        }
                    }
                }
                return errors === 0;
            });
            var _isEmpty = function(field) {
                return field.val() === null || field.val().length === 0 ||
                       field.val().replace(/^\s*/, "").replace(/\s*$/, "") === "";
            };
        });
    </script>
</head>
<body>
<div class="wrapper">
<div class="header">
<a rsf:id="redirectLink">Reset your Sakai password / Accept your Sakai invitation</a>
<div rsf:id="message-for:*"><span>Message for user here</span></div>

<div class="stylized">
<h3 rsf:id="welcome1">first part</h3>

<span rsf:id="welcome" class="instruction">Welcome message goes here!</span>
<ul class="instruction">
	<li rsf:id="siteListItem:"><span rsf:id="siteName">Site</span></li>
</ul>
</div>
</div>
<table>
	<tr>
		<td valign="top">
		<div class="myform stylized">
		<h3 rsf:id="validate.imnew">I am new to Vula</h3>

		<form rsf:id="setDetailsForm" id="form" name="form" method="post">
		<p rsf:id="claim">Claim your new Vula account.</p>
		<div class="usernameParent">
			<span rsf:id="msg=username.new" class="info">Your new username will be:</span>
			<span rsf:id="eid" class="username">User ID</span>
		</div>
		<label rsf:id="msg=firstname">First name</label> <input type="text" class="inputBox required"
			rsf:id="firstName" id="firstName" /> 
		<label rsf:id="msg=lastname">Last name</label> <input
			type="text" class="inputBox required" rsf:id="surName" id="surname" />

		<div rsf:id="passrow1:"><label rsf:id="msg=password">Password</label> <input
			type="password" class="inputBox required password1"
			rsf:id="password1" id="password" /></div>
		<div rsf:id="passrow2:"><label rsf:id="msg=password2">Confirm password</label> <input
			type="password" class="inputBox required password2"
			rsf:id="password2" id="password2" /></div>
		<div class=" required terms" rsf:id="termsrow:">
			<input id="terms" type="checkbox" rsf:id="terms"/>
			<label rsf:id="termsLabel" for="terms">I accept the terms and conditions</label>
		</div>
		<input class="submit" type="submit" rsf:id="addDetailsSub" /></form>
		</div>
		</td>
		<td width="2px" valign="middle" align="center">
		<div class="spacerVertical"></div>

		<span rsf:id="validate.or" class="or">OR</span>
		<div class="spacerVertical"></div>
		</td>
		<td valign="top">
		<div class="myform stylized">
		<h3 rsf:id="validate.alreadyhave">I already have a Vula account</h3>

		<form rsf:id="claimAccountForm" name="form" method="post">
		<p rsf:id="validate.loginexisting">Login with your existing Vula account.</p>
		<label rsf:id="msg=username">Username</label> <input type="text" class="inputBox required"
			rsf:id="userName" name="userName" /> 
		<label rsf:id="msg=password">Password</label> <input
			type="password" class="inputBox required" rsf:id="password"
			name="userpass" /> <input class="submit" type="submit"
			rsf:id="submitClaim" /></form>
		</div>
		</td>
	</tr>
</table>
</div>


</body>
</html>
