.register-link-container {
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

.login-btn-container{
    padding-top: 50px;
    width: 100%;
    text-align: center;
}

.err-message-container {
    padding-top: 20px;
    width: 100%;
    text-align: center;
    color: red;
}

    