##
## the Page part of the standard view, with page navigation
##
<!-- START VM includePageWithNav.vm -->

    <nav class="Mrphs-siteHierarchy">

        <a href="${portalPath}" class="Mrphs-hierarchy-item Mrphs-hierarchy--serviceName">${bottomNavService}</a>
        <span class="Mrphs-hierarchy--serviceNameSeparator Mrphs-hierarchy--separator">/</span>
        
        #if ( $portalBreadCrumbs or $portalPwd ) 

                #set ($tabTotal = 0)

                #foreach ( $pwd in $portalPwd )

                    #set ($tabTotal = $tabTotal + 1)

                #end ## END of FOREACH ( $pwd in $portalPwd )
                
                #foreach ( $crumb in $portalBreadCrumbs )

                    #set ($tabTotal = $tabTotal + 1)

                #end ## END of FOREACH ( $crumb in $portalBreadCrumbs )
               
                #set ($tabCountBread = 0)
                
                #foreach ( $pwd in $portalPwd )

                    #set ($tabCountBread = $tabCountBread + 1)
                    <span class="Mrphs-hierarchy-item Mrphs-hierarchy--portalPwd Mrphs-hierarchy--$tabCountBread">
                        <a href="${pwd.siteUrl}" title="${pwd.fullTitle}" class="Mrphs-breadCrumbs--link"><span class="Mrphs-breadCrumbs--title">
                        #if ( ( ${tabDisplayLabel} == 2 ) && ( ${pwd.shortDescription} ) )${pwd.shortDescription}#else${pwd.siteTitle}#end
                        </span></a>
                    </span>
                    <span class="Mrphs-hierarchy--separator-$tabCountBread Mrphs-hierarchy--separator">/</span>

                #end ## END of FOREACH ( $pwd in $portalPwd )
                
                #foreach ( $pwd in $portalBreadCrumbs )

                    #set ($tabCountBread = $tabCountBread + 1)
                    <a href="${pwd.siteUrl}" title="${pwd.fullTitle}" class="Mrphs-breadCrumbs--link"><span class="Mrphs-breadCrumbs--title">
                        #if ( ( ${tabDisplayLabel} == 2 ) && ( ${pwd.shortDescription} ) )${pwd.shortDescription}#else${pwd.siteTitle}#end
                    </span></a>
                    <span class="Mrphs-hierarchy--separator-$tabCountBread Mrphs-hierarchy--separator">/</span>

                #end ## END of FOREACH ( $pwd in $portalBreadCrumbs )

        #end ## END of IF ( $portalBreadCrumbs or $portalPwd )
        
        #set($index = 0)
        #foreach( $page in $sitePages.pageNavTools )
            #if ( $index == 0 )
                <span class="Mrphs-hierarchy--siteName" title="${siteTitle}">
                    <a href="${page.pageResetUrl}">${siteTitleTruncated}</a>
                </span>
                <span class="Mrphs-hierarchy--siteNameSeparator Mrphs-hierarchy--separator">/</span>
            #end
            #set($index = $index + 1 )
        #end

        
        #foreach( $page in $sitePages.pageNavTools )
            #if (${page.current})
            <a href="${page.pageResetUrl}" class="Mrphs-hierarchy-item Mrphs-hierarchy--toolName">
                <span class="Mrphs-breadcrumb--icon ${page.menuClass} $!{page.menuClassOverride}"></span>
                <span>${page.pageTitle}</span>
            </a>
            #end
        #end
    </nav>

    <div id="pageBody">
    
    #if ( $sitePages.pageNavToolsCount > 1 || ! $sitePages.pageMaxIfSingle )

        #parse("/vm/morpheus/includePageNav.vm")

    #else 

        <!-- no page nav requested -->

    #end ## END of IF ( $sitePages.pageNavToolsCount > 1 || ! $sitePages.pageMaxIfSingle )

    <div class="Mrphs-pagebody">
       
        #parse("/vm/morpheus/includePageBody.vm")
        
        #parse("/vm/morpheus/includeFooter.vm")

    </div>
    
    </div>
    

</div>

    
<!-- END VM includePageWithNav.vm -->