<!-- START VM includePageNav.vm -->

#if (${sakai_nav_minimized} && ${portal_allow_minimize_tools})
    <div id="toolMenuWrap" class="container nav minimize-tool-nav">
#else
    <div id="toolMenuWrap" class="container nav">
#end
    
        <div id="togglebar" class="toogle-tools">
            #if ( $loggedIn ) 
                <a id="toggleToolMenu" onmouseup="blur()" href="#" title="#if (${sakai_nav_minimized})${rloader.sit_toggle_nav_exp}#else${rloader.sit_toggle_nav_min} #end">
                    <span id="toggleToolMax" class="show">
                        <em class="skip">${rloader.sit_toggle_nav_min}</em>
                    </span>
                    <span id="toggleNormal" class="hidden">
                        <em class="skip">${rloader.sit_toggle_nav_exp}</em>
                    </span>
                </a>
            #end    
        </div>
    
    #if ($sitePages.siteHTMLInclude)
        <div id="siteHTMLInclude">
            $sitePages.siteHTMLInclude
        </div>
    #end
    <h1 class="skip" id="totoolmenu">${rloader.sit_toolshead}</h1>
    
    ## Added Site name to the 
    #foreach ( $site in $tabsSites.tabsSites ) 
        #if (${site.isCurrentSite})
            <h2 title="${site.fullTitle}" class="selected current-site">${site.siteTitle}</h2>
        #end
    #end
    
    <nav id="toolMenu" role="navigation" aria-label="${rloader.sit_toolshead}">
        <ul>
            #foreach( $page in $sitePages.pageNavTools )
                #if (${page.current})
                    <li class="selectedTool">
                        <a class="toolMenuLink #if(${page.hidden})hidden#end" title="${page.pageTitle}" role="presentation" aria-disabled="true">
                            <span class="toolMenuIcon ${page.menuClass} $!{page.menuClassOverride}"> </span>
                            <span class="menuTitle">${page.pageTitle}</span>
                        </a>
                    </li>
                #else
                    #if (${page.toolpopup})
                        <li>
                            <a class="toolMenuLink #if(${page.hidden})hidden#end" href="${page.pageRefUrl}?sakai.popup=yes" title="${page.description}" onclick="window.open('${page.toolpopupurl}');">
                                <span class="toolMenuIcon ${page.menuClass} $!{page.menuClassOverride}"></span>
                                <span class="menuTitle">${page.pageTitle}</span>
                            </a>
                        </li>
                    #else
                        #if (${page.ispopup})
                            <li>
                                <a class="toolMenuLink #if(${page.hidden})hidden#end" href="javascript:;" title="${page.pageTitle}" onclick="window.open('${page.pagePopupUrl}${page.pageId}','${page.jsPageTitle}','resizable=yes,toolbar=no,scrollbars=yes, width=1024,height=768')">
                                    <span class="toolMenuIcon ${page.menuClass} $!{page.menuClassOverride}"> </span>
                                    <span class="menuTitle">${page.pageTitle}</span>
                                </a>
                            </li>
                        #else
                            <li>
                                <a class="toolMenuLink #if(${page.hidden})hidden#end" href="${page.pageRefUrl}" title="${page.description}">
                                    <span class="toolMenuIcon ${page.menuClass} $!{page.menuClassOverride}"></span>
                                    <span class="menuTitle">${page.pageTitle}</span>
                                </a>
                            </li>
                        #end
                    #end
                #end ## end of is current page
            #end ## end of for each page
            #if ( $subSites && $showSubsitesAsFlyout ) 
                <li>
                    <a id="toggleSubsitesLink" class="toolMenuLink" href="javascript:;" title="${rloader.subsitesTitle}" aria-haspopup="true">
                        <span  class="toolMenuIcon icon-sakai-subsite"> </span>
                        <span class="menuTitle">${rloader.subsites}</span>
                    </a>
                </li>
            #end
            #if (${sitePages.pageNavShowHelp})
                <li>
                    <a class="toolMenuLink" accesskey="6" href="${sitePages.pageNavHelpUrl}" target="_blank" 
                        onclick="openWindow('${sitePages.pageNavHelpUrl}', 
                        'Help', 'resizable=yes,toolbar=no,scrollbars=yes,menubar=yes,width=1024,height=768'); 
                        return false" title="${rloader.sit_help}">
                        <span  class="toolMenuIcon ${sitePages.helpMenuClass}"> </span>
                        <span class="menuTitle">${rloader.sit_help}</span>
                        <span class="skip">${rloader.site_newwindow}</span>
                    </a>
                </li>
            #end
            #if (${sitePages.pageNavCanAddMoreTools}) 
                <li>
                    <a class="toolMenuLink" href="${sitePages.pageNavAddMoreToolsUrl}">
                        <span class="toolMenuIcon icon-sakai-add-tool"> </span>
                        <span class="menuTitle">${rloader.sit_addmoretools}</span>
                    </a>
            #end
        </ul>
    </nav>
    <!-- Add subsite lists -->
    #if ( $subSites ) 
        <div id="subSites" #if ($showSubsitesAsFlyout) class="hidden"#end>
                <ul role="menu">
                    #foreach ( $site in $subSites ) 
                        <li>
                            <a href="${site.siteUrl}" title="${rloader.subsite} ${site.fullTitle}" role="menuitem">
                                <span class="toolMenuIcon ${sitePages.subsiteClass}"></span>
                                <span class="menuTitle">${rloader.subsite} ${site.siteTitle}</span>
                            </a>
                        </li>
                    #end
                </ul>
        </nav>
    #end
</div>

<!-- END VM includePageNav.vm -->