<!DOCTYPE html>
<html lang="$!{locale}">
    <head>
        <!-- START VM login.vm -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>${pageTitle}</title>
        <link href="${pageSkinRepo}/tool_base.css$!{portalCDNQuery}" rel="stylesheet">
        
        <link href="$!{portalCDNPath}/portal/styles/portalstyles.css$!{portalCDNQuery}" rel="stylesheet">
        <!--[if (lt IE 9)]>
          <link href="${pageSkinRepo}/${pageSkin}/portal-ie.css" rel="stylesheet">
        <![endif]-->
        ## downlevel revealed conditional comment - only loads for IE9+, IEMobile and Non IE browsers
        <!--[if (gte IE 9)|(IEMobile)|(!IE)]><!--> 
          <link href="${pageSkinRepo}/${pageSkin}/portal.css" rel="stylesheet">
        <!--<![endif]-->

        #if ( ${bufferedResponse} && ${responseHead} ) 
            <!-- Head material from Tool (will include title and headscripts) -->
            ${responseHead}
            <!-- End of Head material from Tool -->
            #if (  $pageColumn0Tools )
                #foreach ( $tool in $pageColumn0Tools ) 
                    #if ( $tool ) 
                        #if ( $tool.toolRenderResult ) 
                            ${tool.toolRenderResult.getTitle()}
                        #end
                    #end
                #end
            #end
            #if ($pageTwoColumn)
                #if (  $pageColumn1Tools )
                    #foreach ( $tool in $pageColumn1Tools ) 
                        #if ( $tool ) 
                            #if ( $tool.toolRenderResult ) 
                                ${tool.toolRenderResult.getTitle()}
                            #end
                        #end
                    #end
                #end
            #end
        #else 
            <title>${pageTitle}</title>
            <script src="${pageScriptPath}headscripts.js$!{portalCDNQuery}"></script>
            <script src="${pageScriptPath}jquery.js$!{portalCDNQuery}"></script>
        #end
        <script src="$!{portalCDNPath}/portal/scripts/portalscripts.js$!{portalCDNQuery}"></script>
    
        #if ( ${styleable} )
        <script src="$!{portalCDNPath}/sakai-preferable-tool/js/styleable.js$!{portalCDNQuery}" >
        </script>
        <script>
            window.onload = insertStyleAbleStyles;
        </script>
        #if ( ${styleableStyleSheet} )
            <style title="StyleAble">${styleableStyleSheet}</style>
        #end
        #if ( ${styleableJS} )
            <script>
                ${styleableJS} 
            </script>
        #end
    #end
    </head>
    <body class="portalBody">
        #if ( $pageTop )
            <script>
                var sakaiPortalWindow = "";
            </script>
        #end
        <!-- END Header -->
        <!-- login.vm -->
        
            #if (!${loginTopLogin})
            
                #parse("/vm/morpheus/snippets/loginImage-snippet.vm")
            
            #else

                #parse("/vm/morpheus/snippets/loginForm-snippet.vm")
                <script>
                    document.forms[0].eid.focus();
                </script>

            #end
        <!-- END VM login.vm -->
    </body>
</html>
