##<!-- START VM site.vm --> ## Comments seen before doctype. Internet Explorer will go into the quirks mode.
## Create a variable that is a dollar sign for later
#set ( $d = "$")

    #parse("/vm/morpheus/includeStandardHead.vm")

    <body #if( !${loggedIn} ) class="Mrphs-portalBody is-logged-out" #else class="Mrphs-portalBody ${logoSiteClass}" #end $pageSiteType>

        <noscript>
            <span id="portal_js_warn" class="Mrphs-noJs js-warn-no-js">${rloader.sit_noscript_message}</span>
        </noscript>

        <div #if( ${roleSwitchState} ) class="Mrphs-portalWrapper swapped-view" #else class="Mrphs-portalWrapper"#end>

            ## Skip Nav
            #parse("/vm/morpheus/snippets/skipNav-snippet.vm")

            <div #if ( ${tabsSites} ) class="Mrphs-mainHeader is-maximized" #else class="Mrphs-mainHeader is-minimized" #end>

                ## Header
                #parse("/vm/morpheus/snippets/header-snippet.vm")

                #if (${tabsSites})
                    ## tabs
                    #parse("/vm/morpheus/includeTabs.vm")

                #else

                    <nav class="Mrphs-loginNav Mrphs-loginNav--no-sites">
                        <!-- login component -->

                            #if (!${loginTopLogin})
                                #parse("/vm/morpheus/snippets/loginImage-snippet.vm")
                            #else
                                #parse("/vm/morpheus/snippets/loginForm-snippet.vm")
                                <script src="${pageScriptPath}caps-lock-checker.js$!{portalCDNQuery}"></script>
                            #end ## END of IF (!${loginTopLogin})

                        <!-- end login component -->
                    </nav>

                #end ## END of IF (${tabsSites})

            </div>

            #parse("/vm/morpheus/moresites.vm")

            #parse("/vm/morpheus/includePageWithNav.vm")

        </div> <!-- end Mrphs-portalWrapper -->
        <!-- END VM site.vm -->
        
        <script>
            ## SAK-16484 Allow Javascript to easily get at user details.
            ## SAK-13987, SAK-16162, SAK-19132 - Portal Logout Timer
            var portal = { 
                "chat": {
                    "enabled": $!{neoChat},
                    "pollInterval": $!{portalChatPollInterval},
            "video" : {
            "enabled": $!{neoChatVideo}
            }
                },
                "loggedIn": $!{loggedIn},
                "portalPath": "$!{portalPath}",
                "loggedOutUrl": "$!{loggedOutUrl}",
                "siteId": "$!{siteId}",
                "siteTitle": "$!{siteTitle}",
                "shortDescription" : "$!{shortDescription}",
                "locale": "$!{locale}",
                "user": {
                    "id": "$!{userId}",
                    "eid": "$!{userEid}"
                },
                "timeoutDialog" : {
                "enabled": $!{timeoutDialogEnabled},
                "seconds": $!{timeoutDialogWarningSeconds}
                },
                "toggle" : {
                    "allowauto": false,
                    "tools": false,
                    "sitenav": false // This is not allowed in morpheus
                }
            };
        </script>

        #if ( ${bufferedResponse} && ${responseHead} )
        #else 
            ${sakai_html_head_js}
        #end ## END of IF ( ${bufferedResponse} && ${responseHead} )

        ## Make sure we at least have a jQuery 1.9 or higher, log messages
    #set ( $d = "$")
    <script>
        var needJQuery = true;
        var secondJQuery = false;
        if ( window.jQuery ) {
            tver = jQuery.fn.jquery;
            if ( tver.indexOf('1.9.') == 0 ) {
                window.console && console.log('Using tool jQuery '+tver);
                needJQuery = false;
            } else {
                secondJQuery = true;
            }
        }
        if ( needJQuery ) {
            document.write('\x3Cscript src="${pageScriptPath}jquery/jquery-1.9.1.min.js$!{portalCDNQuery}">'+'\x3C/script>')
            document.write('\x3Cscript src="${pageScriptPath}jquery/jquery-migrate-1.2.1.min.js$!{portalCDNQuery}">'+'\x3C/script>')
        }
    </script>
    <script>
        ${d}PBJQ = jQuery; // The Portal's jQuery (also in $ for now)
        window.console && console.log('Portal scripts loading PBJQ='+${d}PBJQ.fn.jquery+' jQuery='+jQuery.fn.jquery+' ${d}='+${d}.fn.jquery);
    </script>

        #if ($loggedIn)
            <script src="$!{portalCDNPath}/portal/scripts/sessionstoragemanager.js$!{portalCDNQuery}"></script>
        #end ## END of IF ($loggedIn)
        
        <!--[if lt IE 9]>
            <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
<![endif]-->

        <script src="${pageScriptPath}trimpath-template-latest.js$!{portalCDNQuery}"></script>
        <script src="${pageScriptPath}jquery/bgiframe/jquery.bgiframe.min.js$!{portalCDNQuery}"></script>
        <script src="${pageScriptPath}jquery/cluetip/1.2.10/jquery.cluetip.min.js$!{portalCDNQuery}"></script>
        <script src="${pageSkinRepo}/${pageSkin}/js/morpheus.plugins.min.js$!{portalCDNQuery}"></script>
        <script src="${pageSkinRepo}/${pageSkin}/js/morpheus.scripts.min.js$!{portalCDNQuery}"></script>
        <script src="${pageScriptPath}jquery/notify/1.2.2/jquery.pnotify.min.js$!{portalCDNQuery}"></script>
        <script src="${pageScriptPath}jquery/qtip/jquery.qtip-latest.min.js$!{portalCDNQuery}"></script>
        <script src="${pageScriptPath}jquery/qtip/tutorial.js$!{portalCDNQuery}"></script>

        #if ( $tutorial && $loggedIn )
            <script>$(document).ready(function(){startTutorial({'showTutorialLocationOnHide': 'true'});});</script>
        #end ## END of IF ( $tutorial && $loggedIn )

        #parse("/vm/morpheus/snippets/portalChat-snippet.vm")

        #parse("/vm/morpheus/snippets/styleable-snippet.vm")

        #if ($pageTop)
            <script>
                var sakaiPortalWindow = "";
                $(document).ready(function() {
                    setupSkipNav();
                });
            </script>
        #end ## END of IF ($pageTop)

        <script>
        // If we loaded a second jQuery, revert $ and jQuery to the first jQuery
            if ( secondJQuery ) {
                ${d}PBJQ = jQuery.noConflict(true); // Safely return $ to the tool jQuery
        jQuery = ${d};  // Return jQuery to point at the tool jQuery
            }
            window.console && console.log('Portal scripts loaded PBJQ='+${d}PBJQ.fn.jquery+' jQuery='+jQuery.fn.jquery+' ${d}='+${d}.fn.jquery);

            ${d}PBJQ(document).ready(function() {
                setupSiteNav();
                ## Moved IE aria label code to sakai.portal.ie.js // SAK-22308 
            });
        </script>

        <!--[if lt IE 9]>
        <script src="${pageSkinRepo}/${pageSkin}/js/ie/sakai.portal.ie.js$!{portalCDNQuery}"></script>
<![endif]-->
 
        #parse("/vm/morpheus/includeAnalytics.vm")

        #parse("/vm/morpheus/includeCookieNotice.vm")

        ${includeExtraHead}
    </body>
</html>
