//////////////////////////////
// EXTENDABLES: For Base styles 
//////////////////////////////

%formstyle {
  background-color: $forms__background-color;
  font-family: inherit;
  font-size: inherit;
  @include border-outline(border, $forms__border-width, $forms__border-style, $forms__border-color);
  @include border-radius($forms__border-radius);

  &:focus {
    border-color: $forms--focus__border-color;
  }
}