//////////////////////////////
// VARIABLES: For Base styles 
//////////////////////////////




//////////////////////////////
// DEFAULT VARIABLES
//////////////////////////////

// Forms _forms.scss
$forms-input-width: 100% !default;
$forms-background-color: #fff !default;
$forms-padding: 0.125em !default; 
$forms-border-width: false !default; 
$forms-border-style: solid !default;
$forms-border-color: #ccc !default;
$forms-border-radius: 0.25em !default;
$forms-focus-border-color: #666 !default;
$forms-required-border-color: #999 !default;
