//////////////////////////////
// VARIABLES: For Base styles 
//////////////////////////////




//////////////////////////////
// DEFAULT VARIABLES
//////////////////////////////

// Forms _forms.scss
$forms__background-color: #fff !default;
$forms__padding: 0.125em !default; 
$forms__border-width: false !default; 
$forms__border-style: solid !default;
$forms__border-color: #ccc !default;
$forms__border-radius: 0.25em !default;
$forms--focus__border-color: #666 !default;
$forms--required__border-color: #999 !default;
$forms__label--focus__background-color: #faedab !default;