//////////////////////////////
// BASE: Base element styles 
//////////////////////////////

@import "_forms_variables";
@import "_forms_extendables";

label {
  cursor: pointer;
  
  @include respond-to('narrow navigation') {
    display: block;
  }
}

input[type],
textarea,
select {
  @extend %formstyle;
}

input[type="checkbox"],
input[type="radio"],
input[type="image"] {
  margin: .25em .25em 0 .05em;
  
  @include for-legacy-browser("ie", "8") {
    background: transparent;
  }
  
  + label {
    display: inline;
    margin-right: 1em;
  }
  // for accessibility
  &:focus + label {
    background: $forms-label-focus-background-color;
  }
  
  &[disabled] + label {
    color: #888;
  }
}

input[required],
textarea[required] {
  border-color: $forms-required-border-color;
}