<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script th:src="@{~/library/js/headscripts.js} + ${cdnQuery}"></script>
    <script type="module" th:src="@{~/webcomponents/rubrics/sakai-rubrics-manager.js} + ${cdnQuery}"></script>
  </head>
  <body>
    <div class="portletBody">
      <script th:inline="javascript">
          var sakaiSessionId = /*[[${sakaiSessionId}]]*/ null;
      </script>
      <sakai-rubrics-manager th:attr="token=${token}"></sakai-rubrics-manager>
    </div>
  </body>
</html>
