/* Global namespace */

@import "customization"; //it is copied from the user supplied file by maven

$namespace : "Mrphs-" !default;
$skin-name : "morpheus-default" !default; // This is used for bootstrap font behaviour.

$break-small-end: 	800px !default;
$break-medium-end: 	1030px !default;

$phone  :       "only screen and (max-width : #{$break-small-end})" !default;
$tablet :       "only screen and (max-width : #{$break-medium-end})" !default;
$desktop:       "only screen and (min-width : #{$break-medium-end + 1})" !default;
$nonPhone:      "only screen and (min-width : #{$break-small-end + 1})" !default;

// For the "More Sites" drawer, just use one column if there's not
// enough room to show two side-by-side.
$break-more-sites-single-column: 1200px !default;
$more-sites-single-column: "only screen and (max-width : #{$break-more-sites-single-column})" !default;

/* Typography*/

//Google family Fonts URL
$font-family-url: "//fonts.googleapis.com/css?family=Open Sans:400,500,700" !default;

//Typography variables
$font-family: "Open Sans", sans-serif !default;
$default-font-size: 14px !default;
$default-font-weight: 400 !default;										// 400 or 700 as you wish
$header-font-family: $font-family;
$header-font-weight: 700 !default;										// 400 or 700 as you wish

/* Color palette */
$background-color: 			 #FFFFFF !default;
$background-color-secondary: #3949AB !default;

$primary-color:    			 #005875 !default;
$primary-color-highContrast: darken( $primary-color, 4% ) !default;	// for use of primary on non-white light backgrounds, such as greys
$primary-color-shadow:			 adjust-hue( $primary-color, 5 ) !default;	// To give primary a darker shadow
$secondary-color:  			 #F00 !default;
$alt-colour: 				 #d36f00 !default;

$text-color:				 #212121 !default;

$body-background-color: #FAFAFA !default;

$portal-background-color: $background-color !default;

$tool-background-color:		 $background-color !default;
$tool-menu-background-color:			 $body-background-color !default;
$tool-menu-color: 			 #424242 !default;
$tool-tab-background-color: 			 #F8F8F8 !default;
$tool-border-color:			 #F0F0F0 !default;
$tool-tab-active-background-color: 			 $background-color !default;
$tool-tab-active-border-color: 	 $background-color !default;

$tool-nav-link-color: #666 !default;

$main-content-background: $background-color !default;
$top-header-background: $background-color-secondary !default;
$sites-nav-background: $tool-menu-background-color !default;

$breadcrumbs-color:			 $text-color !default;
$breadcrumbs-tool-color:		 #185878 !default;
$breadcrumbs-hover-color:		 #0F4461 !default;

/* Link colors */
$link-color: $primary-color !default;
$link-active-color: $primary-color !default;
$link-hover-color: $primary-color !default;
$link-background-color: transparent !default;
$link-active-background-color: transparent !default;
$link-hover-background-color: transparent !default;

/* Linknav button colors */
$button-text-color:	 #777 !default;
$button-border-color: #C0C0C0 !default;
$button-background-color: #F0F0F0 !default;
$button-background-secondary-color: #FFF !default;
/* General button colors */
$button-color-text-color: #FFF !default;
$button-color-border-color: #4a8db3 !default;
$button-color-background-color: $primary-color !default;
$button-color-background-secondary-color: #276488 !default;
/* ///////////// */

$info-color:                $primary-color  !default;
$info-background-color:     lighten($primary-color, 45%) !default;
$ok-color:                  #3c763d !default;
$ok-background-color:        lighten($ok-color, 45%) !default;
$warn-background-color:     #F6ECB7 !default;
$warn-color:                darken($warn-background-color, 35%) !default;
$error-background-color:    #f2dede !default;
$error-color:               darken($error-background-color, 30%) !default;

$swapped-view-primary: 		 #bf360c !default;
$swapped-view-text-color:	 #414141 !default;
$swapped-view-sites-nav-background: $swapped-view-primary !default;

/* This is the gradient in the header of the page */
$header-gradient-a: #fafafa !default;
$header-gradient-b: $header-gradient-a !default;
$header-gradient-c: $header-gradient-a !default;
$header-gradient-d: $header-gradient-a !default;

/* topNav Main Menu */
$header-size: 50px !default;
$topNav-text-color:                         #fff !default; /* used for links and text in the topNav */
$topNav-text-alt-color:                     #ccc !default;

/* Favorites */ 
/* Favorites - item */
$sites-nav-menu-item-background:            #FFFFFF !default;
$sites-nav-menu-item-color:                 #4C4C4C !default;
$sites-nav-menu-item-icon-color:            #666666 !default;
$sites-nav-menu-item-border-color:          #E5E5E5 !default;
$sites-nav-menu-item-border-top:            1px solid $sites-nav-menu-item-border-color !default;
$sites-nav-menu-item-border-right:          $sites-nav-menu-item-border-top !default;
$sites-nav-menu-item-border-bottom:         $sites-nav-menu-item-border-top !default;
$sites-nav-menu-item-border-left:           $sites-nav-menu-item-border-top !default;
/* Favorites - item hovered */
$sites-nav-menu-item-hover-background:      #FFFFFF !default;
$sites-nav-menu-item-hover-color:           #191919 !default;
$sites-nav-menu-item-hover-icon-color:      #424242 !default;
$sites-nav-menu-item-hover-border-color:    #7F7F7F !default;
$sites-nav-menu-item-hover-border-top:      1px solid $sites-nav-menu-item-hover-border-color !default;
$sites-nav-menu-item-hover-border-right:    $sites-nav-menu-item-hover-border-top !default;
$sites-nav-menu-item-hover-border-bottom:   $sites-nav-menu-item-hover-border-top !default;
$sites-nav-menu-item-hover-border-left:     $sites-nav-menu-item-hover-border-top !default;
/* Favorites - item selected */
$sites-nav-menu-item-selected-background:   #3966AB !default;
$sites-nav-menu-item-selected-color:        #FFFFFF !default;
$sites-nav-menu-item-selected-icon-color:   #FFFFFF !default;
$sites-nav-menu-item-selected-border-color: #326B97 !default;
$sites-nav-menu-item-selected-border-top:   1px solid $sites-nav-menu-item-selected-border-color !default;
$sites-nav-menu-item-selected-border-right: $sites-nav-menu-item-selected-border-top !default;
$sites-nav-menu-item-selected-border-bottom:$sites-nav-menu-item-selected-border-top !default;
$sites-nav-menu-item-selected-border-left:  $sites-nav-menu-item-selected-border-top !default;
/* Favorites - item selected and hovered */
$sites-nav-menu-item-selected-hover-background:   #3966AB !default;
$sites-nav-menu-item-selected-hover-color:        #FFFFFF !default;
$sites-nav-menu-item-selected-hover-icon-color:   #FFFFFF !default;
$sites-nav-menu-item-selected-hover-border-color: #326B97 !default;
$sites-nav-menu-item-selected-hover-border-top:   1px solid $sites-nav-menu-item-selected-hover-border-color !default;
$sites-nav-menu-item-selected-hover-border-right: $sites-nav-menu-item-selected-hover-border-top !default;
$sites-nav-menu-item-selected-hover-border-bottom:$sites-nav-menu-item-selected-hover-border-top !default;
$sites-nav-menu-item-selected-hover-border-left:  $sites-nav-menu-item-selected-hover-border-top !default;
/* Favorites - tool submenu */
$sites-nav-submenu-background:              #FFFFFF !default;
$sites-nav-submenu-topleft-border-color:    $sites-nav-menu-item-background !default;
$sites-nav-submenu-border-color:            $sites-nav-menu-item-hover-border-color !default;
/* Favorites - tool selected submenu */
$sites-nav-selected-submenu-border-color: $sites-nav-menu-item-selected-hover-border-color !default;
$sites-nav-selected-submenu-topleft-border-color: $sites-nav-menu-item-selected-background !default;
/* Favorites - tool submenu items */
$sites-nav-submenu-item-text-size:          13px !default;
$sites-nav-submenu-item-background:         #FFFFFF !default;
$sites-nav-submenu-item-color:              #4C4C4C !default;
$sites-nav-submenu-item-icon-color:         #666666 !default;
$sites-nav-submenu-item-divider-color:      #E5E5E5 !default;
$sites-nav-submenu-item-left-border-color:  #FFFFFF !default;
/* Favorites - tool submenu items hovered */
$sites-nav-submenu-item-hover-background:   #ECECEC !default;
$sites-nav-submenu-item-hover-color:        #191919 !default;
$sites-nav-submenu-item-hover-icon-color:   #424242 !default;
$sites-nav-submenu-item-hover-left-border-color: #7F7F7F !default;

/* Tool Menu */

/* Wide tool menu, icons on left */
$tool-menu-icon-on-left: true !default;
$tool-menu-width: 200px !default;
$tool-menu-width-collapsed: $tool-menu-width / 4 !default;

/* Narrow tool menu, icons centered */
@if not($tool-menu-icon-on-left) {
    $tool-menu-width: 8em;
    $tool-menu-width-collapsed: $tool-menu-width / 2;
}

$tool-menu-item-separator-color:                           #E5E5E5;
$tool-menu-item-text-color:                                #333333;
$tool-menu-item-icon-color:                                #666666;
$tool-menu-item-text-weight:                               normal;
$tool-menu-item-background-color:                          #FAFAFA;
$tool-menu-item-border-left:                               4px solid transparent;
$tool-menu-item-hover-text-color:                          #191919;
$tool-menu-item-hover-icon-color:                          #424242;
$tool-menu-item-hover-background-color:                    #ECECEC;
$tool-menu-item-hover-border-left:                         4px solid #7F7F7F;
$tool-menu-item-hidden-text-color:                         #9A9A9A;
$tool-menu-item-hidden-icon-color:                         #A9A9A9;
$tool-menu-item-hidden-background-color:                   #FAFAFA;
$tool-menu-item-hidden-border-left:                        4px solid transparent;
$tool-menu-item-hidden-hover-color:                        #808080;
$tool-menu-item-hidden-hover-icon-color:                   #929292;
$tool-menu-item-hidden-hover-background-color:             #ECECEC;
$tool-menu-item-hidden-hover-border-left:                  4px solid #7F7F7F;
$tool-menu-item-selected-text-color:                       #3966AB;
$tool-menu-item-selected-icon-color:                       #3966AB;
$tool-menu-item-selected-background-color:                 #FFFFFF;
$tool-menu-item-selected-border-left:                      4px solid #3966AB;
$tool-menu-item-selected-hover-text-color:                 #3966AB;
$tool-menu-item-selected-hover-icon-color:                 #3966AB;
$tool-menu-item-selected-hover-background-color:           #FFFFFF;
$tool-menu-item-selected-hover-border-left:                4px solid #3966AB;

$tool-menu-collapse-text-color:                            #4C4C4C;
$tool-menu-collapse-background-color:                      #FAFAFA;
$tool-menu-collapse-border-top:                            none;
$tool-menu-collapse-shadow:                                0 -1px 3px rgba(0,0,0,0.3);
$tool-menu-collapse-hover-text-color:                      #191919;
$tool-menu-collapse-hover-background-color:                #FAFAFA;
$tool-menu-collapse-hover-border-top:                      none;
$tool-menu-collapse-hover-shadow:                          0 -1px 3px rgba(0,0,0,0.3);
$tool-menu-collapse-active-text-color:                     #FFFFFF;
$tool-menu-collapse-active-background-color:               #3966AB;
$tool-menu-collapse-active-border-top:                     none;
$tool-menu-collapse-active-shadow:                         0 -1px 3px rgba(0,0,0,0.3);
$tool-menu-collapse-active-hover-text-color:               #FFFFFF;
$tool-menu-collapse-active-hover-background-color:         #3966AB;
$tool-menu-collapse-active-hover-border-top:               none;
$tool-menu-collapse-active-hover-shadow:                   0 -1px 3px rgba(0,0,0,0.3);

/* Tool sub menu */
$tool-sub-menu-border-color: darken( $tool-menu-background-color, 10% ) !default;
$tool-sub-menu-background-color: darken( $tool-menu-background-color, 10% ) !default;
$tool-sub-menu-hover-background-color: $primary-color !default;
$tool-sub-menu-hover-color: #FFF !default;
$tool-sub-menu-current-color: $primary-color !default;
$tool-sub-menu-current-background-color: $background-color !default;
$tool-sub-menu-current-hover-color: $tool-menu-color !default;
$tool-sub-menu-current-hover-background-color: $background-color !default;


/* Navigation Hierarchy */
$hierarchy-size: 3.5em !default;

/* Golden Ratio width for 16px font http://www.pearsonified.com/typography/ */
$measure: 960px !default;

$banner-height: 52px !default;

/* Logo location */
$logo: 'images/logo.png' !default;
$logo-height: 32px !default;
$logo-width: 70px !default;

/* Tool icons */
$skin-with-icons: true !default;
$icon-size: 20px !default;



/* Icon Overrides */
//$sakai-custom-icons : ( sakai-message-bundle-manager : ( extend : fa-edit ) );

/* Footer */
$footer-background-color: $tool-menu-background-color !default;
$footer-border-color: $tool-border-color !default;
$footer-color: $background-color-secondary !default;

// Overview page column widths. Total to add up to 96% as the columns have a margin.
$col1of2-width: 48% !default;
$col2of2-width: 48% !default;

/* From NYU 11 Skin */
$divider-shadow: 0 1px 5px rgba(0,0,0,.3) !default;
$overview-portlet-border-color: $tool-border-color !default;
$overview-portlet-shadow: 1px 1px 5px rgba(0,0,0,0.2) !default;
$overview-portlet-title-background-color: $tool-tab-background-color !default;

@import url(#{$font-family-url});
