@import "defaults";

@import "base/extendables";
@import "base/defaults";
@import "base/icons";
@import "modules/tool/menu";
@import "modules/navigation/breadCrumbs";

a[href]:after {
	content: none !important;
}

#toolMenuWrap, 
#mastLogin, 
#skipNav,
#linkNav,
#selectSiteModal,
#tutorial,
#connection-manager,
#profileImageUpload,
#siteStatus,
.pasystem-banner-alerts,
#footer,
.#{$namespace}siteHierarchy,
.#{$namespace}container--extras,
.#{$namespace}footer--details__build-info,
.#{$namespace}footer--details__server-time,
.#{$namespace}sitesNav__menuitem--myworkspace,
.#{$namespace}headerLogo,
.#{$namespace}toolTitleNav__button_container,
.#{$namespace}toolTitleNav__button_container *,
##{$namespace}footerApp__chat{
	display: none !important;
}

#{$namespace}toolTitleNav__title{
	font-size: 200%;
	a{
		text-decoration: none;
	}
}

.navIntraTool {
    font-size: 0.8em;
    margin: 0.5em 0 0 0 !important;
}

