.rubrics-lightbox {
  position: absolute;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5); }
  .rubrics-lightbox sakai-rubric-criterion-preview {
    display: block;
    padding-bottom: 20px; }
  .rubrics-lightbox .container {
    background: #fff;
    margin: 50px auto;
    position: relative; }
    .rubrics-lightbox .container > a {
      text-decoration: none;
      padding: 1px 7px 6px;
      font-weight: bold;
      font-size: 18px;
      background: #fff;
      border: 1px solid #555;
      border-radius: 30px;
      display: block;
      line-height: 1;
      position: absolute;
      top: -10px;
      right: -10px; }
