<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="head">
    <head>
        <meta charset="UTF-8"/>
        <script th:src="@{~/library/js/headscripts.js}"></script>
    </head>
</div>

<div th:fragment="menu (current)">
    <ul class="navIntraTool">
        <li>
        <span th:class="${current}=='list' ? 'current'">
          <span th:if="${current}=='list'" th:text="#{action_main}">Polls</span>
          <a th:href="@{/votePolls}" th:text="#{action_main}" th:unless="${current}=='list'">Polls</a>
        </span>
        </li>
        <li th:if="${canAdd}">
        <span th:class="${current}=='add' ? 'current'">
          <span th:if="${current}=='add'" th:text="#{action_add_poll}">Add</span>
          <a th:href="@{/voteAdd}" th:text="#{action_add_poll}" th:unless="${current}=='add'">Add</a>
        </span>
        </li>
        <li th:if="${isSiteOwner}">
        <span th:class="${current}=='permissions' ? 'current'">
          <span th:if="${current}=='permissions'" th:text="#{action_set_permissions}">Permissions</span>
          <a th:href="@{/votePermissions}" th:text="#{action_set_permissions}" th:unless="${current}=='permissions'">Permissions</a>
        </span>
        </li>
    </ul>
</div>
</body>
</html>
