//////////////////////////////
// EXTENDABLES: For Modules 
//////////////////////////////

@import "_icons_variables";

%ico-font-base {
  font-family: $icon-font-name;
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%ico-font-icons {  
  @extend %ico-font-base;
  margin: 0 .25em 0 0;
  padding: .25em;
}