//////////////////////////////
// MODULES: Styles that are layout independent 
//////////////////////////////

@import "_icons_variables";
@import "_icons_extendables";

// include icon font
@include web-font-face($icon__font-name, $icon__font-file-name, $icon__font-weight, $icon__font-style, $icon__inline-fonts);

@include generate-icons($fallback-icon, before, '', 'ico-font-icons');

@include generate-icons($tool-icons, before, '.icon-', 'ico-font-icons');