@import url(tool.css);
/* access.css : Styles for access servlet (/access/) directory listings */
/* line 4, sass/access.scss */
.directoryIndex a {
  text-decoration: none !important;
}

/* line 7, sass/access.scss */
.directoryIndex {
  margin-top: 2em;
  padding: 1em;
}

/* line 8, sass/access.scss */
.directoryIndex .textPanel {
  font-size: .95em;
  line-height: 150%;
  padding: 5px 5px  5px  21px;
}

/* line 13, sass/access.scss */
.directoryIndex ul {
  list-style: none;
  margin: .5em 0 0 0;
  padding: 0;
}

/* line 19, sass/access.scss */
.directoryIndex ul li {
  list-style: none;
  vertical-align: middle;
  padding: .3em 0;
  margin: 0;
}

/* line 26, sass/access.scss */
.directoryIndex ul li img {
  margin: 0 5px 0  0;
  vertical-align: top;
  border: none;
}

/* line 31, sass/access.scss */
.directoryIndex ul li a {
  font-weight: bold;
}

/* line 35, sass/access.scss */
.directoryIndex ul li.folder {
  padding: 3px;
}

/* line 38, sass/access.scss */
.directoryIndex ul li.folder a {
  padding-left: 21px;
  background: url(../../image/silk/folder.png) center left no-repeat !important;
}

/* line 43, sass/access.scss */
.directoryIndex ul li.folder a:hover {
  padding-left: 21px;
  background: url(../../image/silk/folder_go.png) center left no-repeat !important;
}

/* line 48, sass/access.scss */
.directoryIndex ul li.upfolder {
  position: absolute;
  top: 2px;
  left: 2px;
  margin-bottom: 2em;
}

/* line 54, sass/access.scss */
.directoryIndex ul li.upfolder a {
  border: 1px solid #ccc;
  padding: 3px;
  display: inline-block;
}

/* line 59, sass/access.scss */
.directoryIndex ul li.upfolder a:hover {
  border: 1px solid #aaa;
  background: #ffe;
}

/* line 64, sass/access.scss */
.directoryIndex ul li.file {
  padding: 3px;
}

/* line 68, sass/access.scss */
p#toggle {
  text-align: right;
  margin: 0 0 1em 0;
  font-weight: bold;
}

/*file listings*/
/* line 72, sass/access.scss */
.directoryIndex ul li.file a {
  padding: 6px;
  padding-left: 21px;
  background: url(../../image/sakai/generic.gif) center left no-repeat;
}

/*file exensions to match*/
/* line 78, sass/access.scss */
.doc, .rtf, .docx, .docm, .dotx, .dotm {
  background: url(../../image/sakai/word.gif) center left no-repeat !important;
}

/* line 81, sass/access.scss */
.ppt, .pps, .pptx, .pptm, .ppsx, .potx, .potm, .ppam {
  background: url(../../image/sakai/ppt.gif) center left no-repeat !important;
}

/* line 84, sass/access.scss */
.xls, .xlsx, .csv, .xlsx, .xlsm, .xltx, .xltm, .xlsb, .xlam {
  background: url(../../image/sakai/excel.gif) center left no-repeat !important;
}

/* line 87, sass/access.scss */
.mdb {
  background: url(../../image/sakai/access.gif) center left no-repeat !important;
}

/* line 90, sass/access.scss */
.gif, .jpg, .jpeg, .png {
  background: url(../../image/sakai/image.gif) center left no-repeat !important;
}

/* line 93, sass/access.scss */
.html, .htm {
  background: url(../../image/sakai/html.gif) center left no-repeat !important;
}

/* line 96, sass/access.scss */
.txt, .java {
  background: url(../../image/sakai/text.gif) center left no-repeat !important;
}

/* line 99, sass/access.scss */
.zip, .tar, .sit, .hqx {
  background: url(../../image/sakai/compressed.gif) center left no-repeat !important;
}

/* line 102, sass/access.scss */
.mov, .mpeg, .avi {
  background: url(../../image/sakai/movie.gif) center left no-repeat !important;
}

/* line 105, sass/access.scss */
.mp3, .wav, .aiff {
  background: url(../../image/sakai/audio.gif) center left no-repeat !important;
}

/* line 108, sass/access.scss */
.pdf {
  background: url(../../image/sakai/pdf.gif) center left no-repeat !important;
}

/* line 111, sass/access.scss */
.ai, .ps, .psd {
  background: url(../../image/sakai/postscript.gif) center left no-repeat !important;
}

/* line 114, sass/access.scss */
.ram, .rm {
  background: url(../../image/sakai/real.gif) center left no-repeat !important;
}

/* line 117, sass/access.scss */
.swf {
  background: url(../../image/sakai/shockwave.gif) center left no-repeat !important;
}
