<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html rsf:id="html" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE"/>
<script rsf:id="scr=portal-matter" type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
<link rsf:id="scr=portal-matter" href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all" />
<link rsf:id="scr=portal-matter" href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all" />
<link rel="stylesheet" rsf:id="scr=rewrite-url" href="../css/Simplepagetool.css" type="text/css"/>
<title rsf:id="msg=simplepage.blti.chooser"></title>
</head>
<body rsf:id="scr=sakai-body">
	<div class="portletBody">
		<div rsf:id="error-div" class="ui-widget">
			<div class="ui-state-error ui-corner-all" style="margin-bottom: 20px; margin-top:20px; padding: 0 .7em;"> 
				<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
				<span rsf:id="error"></span> </p>
			</div>
		</div>

		<h2 rsf:id="mainhead"></h2>

		<p rsf:id="blti-tools-text"></p>

		<div rsf:id="blti-create:" style="margin-left:2em">
		  <a href="#" rsf:id="blti-create-link"></a>
		</div>

		<p rsf:id="blti-add-instructions"></p>

		<h3 rsf:id="msg=simplepage.select_blti" style="margin-bottom:0.75em;margin-top:1em"></h3>
		<p rsf:id="select-blti-text"></p>
		<div rsf:id="no-blti-items" class="ui-widget" role="alert">
			<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; margin-bottom: 20px; padding: .5em .7em;">
				<span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
				<div rsf:id="no-blti-items-text" ></div>
			</div>
		</div>


		<form action="#" rsf:id="blti-picker">
		<input type="hidden" rsf:id="csrf"/>
		<span rsf:id="blti-span"/>
		<table id="list" border="0" role="list" class="listHier" cellpadding="0" cellspacing="0" style="width:auto">
			<tr rsf:id="blti:" role="listitem">
				<td><input type="radio" rsf:id="select"/></td>
				<td rsf:id="name"></td>
				<td><a href="#" rsf:id="link" target="_blank"></a></td>
			</tr>
		</table>

		<input type="hidden" rsf:id="item-id" id="item-id" />

		<!--
		<p rsf:id="format-explain"></p>
		<span rsf:id="format-select" />
		<div style="margin-bottom: 1em">
		<input rsf:id="format-window" type="radio" name="format" value="window" id="format-window" class="format"/>
		<label for="format-window"><span rsf:id="msg=simplepage.format.window"></span></label><br />
		<input rsf:id="format-inline" type="radio" name="format" value="inline" id="format-inline" class="format"/>
		<label for="format-inline"><span rsf:id="msg=simplepage.format.inline"></span></label><br />
		<input rsf:id="format-page" type="radio" name="format" value="page" id="format-page" class="format"/>
		<label for="format-page"><span rsf:id="msg=simplepage.format.page"></span></label><br />
		</div>
		-->
        <p class="act">
    		<input type="submit" class="bold" rsf:id="submit" />
    		<input type="submit" rsf:id="cancel" />
        </p>

	<div rsf:id="manageblti">
		<h3 rsf:id="msg=simplepage.blti.tools.manage"></h3>

		<p rsf:id="msg=simplepage.blti.tools.create"></p>

		<p><a class="usebutton" id="blti-main-link" href="#" rsf:id="blti-main-link"></a></p>

	</div>
		</form>

	</div>
</body>
</html>
