<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html rsf:id="html" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE"/>
<script rsf:id="scr=portal-matter" type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
<link rsf:id="scr=portal-matter" href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all" />
<link rsf:id="scr=portal-matter" href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all" />
<title rsf:id="msg=simplepage.blti.chooser"></title>
</head>
<body rsf:id="scr=sakai-body">
	<div class="portletBody" id="portletBody">
		<div rsf:id="error-div" class="ui-widget">
			<div class="messageError below-link-help">
				<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
				<span rsf:id="error"></span> </p>
			</div>
		</div>
		<div rsf:id="no-blti-tools" class="ui-widget" role="alert">
			<div class="instruction below-link-help">
				<div rsf:id="no-blti-tools-text" ></div>
			</div>
		</div>

		<a role="menuitem" class="usebutton" target="sakai-basiclti-admin-iframe" onclick="showIframe(this.title);" id="blti-main-link" href="#" rsf:id="blti-main-link"></a>

		<h2 rsf:id="mainhead" id="mainhead"></h2>

		<p rsf:id="blti-tools-text"></p>


		<div rsf:id="blti-create:" style="margin-left:2em">
		  <i class="" rsf:id="blti-create-icon"></i>
		  <a href="#" target="sakai-basiclti-admin-iframe" onclick="showIframe(this.title);" rsf:id="blti-create-link"></a>
		  <i class="fa fa-shopping-cart lessons-shopping-cart" rsf:id="blti-search-icon"></i>
		</div>

		<form action="#" rsf:id="blti-autosubmit" id="blti-autosubmit">
			<input type="hidden" rsf:id="csrf"/>
			<input type="hidden" rsf:id="item-id" id="item-id" />
			<input type="hidden" rsf:id="select"/>
			<input type="hidden" rsf:id="add-before" id="add-before" />
			<input type="hidden" class="bold" rsf:id="submit" />
		</form>

		<script>
		// If we have the blti-autosubmit form, submit it
		setTimeout(function(){
			var form = document.getElementById("blti-autosubmit");
			if ( form != null ) form.submit();
			}, 250);
		</script>

		<form action="#" rsf:id="blti-cancel" id="blti-cancel">
			<input type="hidden" rsf:id="csrf"/>
			<input type="hidden" rsf:id="cancel2"/>
			<input type="submit" rsf:id="cancel" class='cancelButton'/>
		</form>
		<div id="modal-iframe-div" style="display:none">
			<iframe name="sakai-basiclti-admin-iframe" id="sakai-basiclti-admin-iframe" src="/library/image/sakai/spinner.gif" style="height:400px"></iframe>
		</div>
	</div>

<script>
includeLatestJQuery('BltiPicker.html');
</script>

<script>
//<![CDATA[
function showIframe(title) {
	$("#modal-iframe-div").dialog({
		title: title,
		width: modalDialogWidth(),
		modal: true,
		draggable: false,
		open: function() {
			$('#sakai-basiclti-admin-iframe').attr('width', '100%');
		},
		close: function() {
			$('#sakai-basiclti-admin-iframe').attr('src','/library/image/sakai/spinner.gif');
		}
	});

	$(window).resize(function() {
		$("#modal-iframe-div").dialog("option", "width", modalDialogWidth());
		$('#sakai-basiclti-admin-iframe').attr('width', '100%');
	});
}

// Make sure to be careful to use .style.height or .height sepending on the iframe 
// tag you are working with.
window.addEventListener('message', function(e) {
	try {
		var message = JSON.parse(e.data);
		var idval = 'sakai-basiclti-admin-iframe';
		if ( message.subject == 'lti.frameResize' ) {
		var height = message.height;
			document.getElementById(idval).style.height = height;
			document.getElementById(idval).style.width = '100%';
			console.log('BltiPicker received lti.frameResize height='+height);
		}
	} catch (error) {
		console.log('BltiPicker lti.frameResize of '+idval+' failed height='+height);
		console.log(e.data);
	}
});
//]]>
</script>


</body>
</html>
