?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html rsf:id="html" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE"/>
<script rsf:id="scr=portal-matter" type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
<link rsf:id="scr=portal-matter" href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all" />
<link rsf:id="scr=portal-matter" href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all" />
<link href="/portal/styles/portalstyles.css" type="text/css" rel="stylesheet" media="all" />
<link href="/library/skin/default/portal.css" type="text/css" rel="stylesheet" media="all" />

<link rel="stylesheet" rsf:id="scr=rewrite-url" href="../css/Simplepagetool.css" type="text/css"/>
<title rsf:id="toptitle">Show Page</title>
</head>
<body class="portalBody" rsf:id="scr=sakai-body">
	<script type="text/javascript" language="JavaScript">
		var sakaiPortalWindow = "";
	</script>

	<div id="portalOuterContainer">
		<div id="portalContainer">
			<div id="container" class="project">
				<div id="contentFull">
					<div id="col1">
						<div class="portletTitleWrap">
							<div class="portletTitle">
								<h2 rsf:id="title">Insert Page Title Here</h2>
							</div>
						</div>
					
						<div class="portletMainWrap">
							<iframe
								name="SimplePageIFrame"
								class="portletMainIframe"
								frameborder="0"
								marginwidth="0"
								width="100%"
								marginheight="0"
								scrolling="auto"
								allowfullscreen="true"
								webkitallowfullscreen="true"
								mozallowfullscreen="true"
								allow="camera; microphone"
								rsf:id="iframe"
							>
							</iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
