<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html rsf:id="html" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE"/>
<script rsf:id="scr=portal-matter" type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
<link rsf:id="scr=portal-matter" href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all" />
<link rsf:id="scr=portal-matter" href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all" />
<link rel="stylesheet" rsf:id="scr=rewrite-url" href="../css/Simplepagetool.css" type="text/css"/>
<link type="text/css" href="$context/css/simplepage-theme/jquery-ui-1.8.17.custom.css" rel="stylesheet" />	
<title rsf:id="msg=simplepage.page.chooser"></title>
</head>
<body rsf:id="scr=sakai-body">

	<div class="portletBody" role="application">
		
		<div id="error" rsf:id="error" class="error" role="alert"></div>

		<div class="navIntraTool" rsf:id="return-div" role="navigation">
                <a href="#" rsf:id="return"></a> 
		</div>

		<div rsf:id="deleteAlert" class="ui-widget">
			<div class="ui-state-highlight ui-corner-all" style="margin-bottom: 10px; margin-top:10px; padding: 0 .7em;"> 
				<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
				<span rsf:id="msg=simplepage.delete-message"></span></p>
			</div>
		</div>

		<h2 rsf:id="title"></h2>

		<div rsf:id="onlyseen"><span rsf:id="msg=simplepage.page.onlyseen"></span></div>
		
		<form action="#" rsf:id="page-picker">
		<span rsf:id="page-span"/>
		<ul id="list" border="0" role="main">
			<li rsf:id="page:" style="list-style-type:none">
				<h2 rsf:id="heading"></h2><input type="radio" rsf:id="select" /><input type="checkbox" rsf:id="select-for-deletion" /><img class="status-image" alt="" rsf:id="status-image" height="18" width="18" style="margin-right:3px;vertical-align:-6px" /> <a href="#" rsf:id="link"><span rsf:id="link-note" class="offscreen"></span><span rsf:id="link-text"></span></a> 
			</li>
		</ul>
		
		<input type="hidden" rsf:id="item-id" id="item-id" />

		<hr rsf:id="hr" />
		<p rsf:id="options">
		<input type="checkbox" name="subpage-next" id="subpage-next" rsf:id="subpage-next" />
		<label for="subpage-next"><span rsf:id="msg=simplepage.subpage-next"></span></label><br />
		<input type="checkbox" name="subpage-button" id="subpage-button" rsf:id="subpage-button" />
		<label for="subpage-button"><span rsf:id="msg=simplepage.subpage-button"></span></label><br />
		</p>
		<p>
		<input type="submit" class="bold" rsf:id="submit" />
		<input type="submit" rsf:id="cancel" />
		</p>
		</form>
	</div>
</body>
</html>
