<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html rsf:id="html" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
<script rsf:id="scr=portal-matter" src="/library/js/headscripts.js"></script>
<link rsf:id="scr=portal-matter" href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all" />
<link rsf:id="scr=portal-matter" href="/library/skin/default-skin/tool.css" type="text/css" rel="stylesheet" media="all" />
<title rsf:id="msg=simplepage.page.chooser"></title>
</head>
<body rsf:id="scr=sakai-body">
  <div class="portletBody PagePicker" role="main">
    <h2 rsf:id="site-dropdown-title"></h2>
    <div id="sitePicker">
      <form action="#" rsf:id="site-picker">
        <input type="hidden" rsf:id="csrf2" />
        <select rsf:id="pick-site">
          <option rsf:id="pick-site-option:" />
        </select>
        <input type="submit" rsf:id="submitSite" />
      </form>
    </div>

    <h2 rsf:id="title"></h2>
    <p rsf:id="onlyseen" class="instructionPanel"><span rsf:id="msg=simplepage.page.onlyseen"></span></p>
    <p rsf:id="sharedpageexplanation" class="instructionPanel">
      <span rsf:id="msg=simplepage.sharedpage" class="page-picker-note"></span>
      <span rsf:id="msg=simplepage.sharedpageexplanation"></span>
    </p>

    <form action="#" rsf:id="page-picker">
      <input type="hidden" rsf:id="csrf" />
      <span rsf:id="page-span"></span>
      <ul id="active-pages" class="pageList">
        <li rsf:id="active-page:">
          <input type="radio" rsf:id="select" />
          <a href="#" rsf:id="link" class="page-picker-link">
            <span rsf:id="link-note" class="lb-offscreen"></span>
            <span rsf:id="link-text"></span>
          </a>
          <span rsf:id="shared" class="page-picker-note small"></span>
          <span rsf:id="page1">page1</span><span rsf:id="page2">page2</span>
          <span rsf:id="item1">item1</span><span rsf:id="item2">item2</span>
        </li>
      </ul>
      <section rsf:id="removed-section:" class="page-picker-section">
          <h3 rsf:id="heading" class="page-picker-section-heading"></h3>
          <ul id="removed-pages" class="pageList">
            <li rsf:id="removed-page:">
              <input type="radio" rsf:id="select" />
              <a href="#" rsf:id="link" class="page-picker-link">
                <span rsf:id="link-note" class="lb-offscreen"></span>
                <span rsf:id="link-text"></span>
              </a>
              <span rsf:id="shared" class="page-picker-note small"></span>
              <span rsf:id="page1">page1</span><span rsf:id="page2">page2</span>
              <span rsf:id="item1">item1</span><span rsf:id="item2">item2</span>
            </li>
          </ul>
      </section>

      <input type="hidden" rsf:id="item-id" id="item-id" />
      <hr rsf:id="hr" />
      <p rsf:id="options">
        <input type="checkbox" name="subpage-next" id="subpage-next" rsf:id="subpage-next" />
        <label for="subpage-next"><span rsf:id="msg=simplepage.subpage-next"></span></label><br />
        <input type="checkbox" name="subpage-button" id="subpage-button" rsf:id="subpage-button" />
        <label for="subpage-button"><span rsf:id="msg=simplepage.subpage-button"></span></label><br />
      </p>
      <p>
        <input type="hidden" rsf:id="addBefore" />
        <input type="submit" class="bold" rsf:id="submit" />
        <input type="submit" rsf:id="cancel" />
      </p>
    </form>
  </div>
</body>
</html>
