<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Reload Page</title>
    <script type="text/javascript" language="JavaScript">//<![CDATA[
        if(self == top) {
            var gourl = self.location.href;
            var pos = gourl.indexOf('/ReloadPage');
	    if ( pos < 0 ) {
                console.log('Cannot reload url '+gourl);
            } else {
                gourl = gourl.substring(0,pos);
                console.log('Switching to '+gourl);
                self.location.replace(gourl);
            }
	} else {
	    parent.location.replace(parent.location);
	}
    //]]></script>
</head>
<body>
</body>
</html>
