<table class="rosterPageHeader">
	<tbody>
		<tr>
			<td class="rosterPageHeaderLeft">
				<h3>{{tr 'roster' 'title_status'}}: {{siteTitle}}</h3>
			</td>
			<td class="rosterPageHeaderRight">
				<input id="export_button" type="button" value="{{tr 'roster' 'export_roster'}}"/>
				<input type="button" value="{{tr 'roster' 'print_roster'}}" onclick="window.print()" />
			</td>
		</tr>
	</tbody>
</table>
