<button class="roster-print-button">Print</button>
<div id="roster-members"></div>
<button class="roster-print-button">Print</button>
<div id="roster-loading-image"><img src="/sakai-roster2-tool/images/ajax-loader.gif" /></div>
