<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- DAO bean using standard Hibernate SessionFactory (no genericdao proxy) -->
    <bean id="org.sakaiproject.signup.dao.SignupMeetingDao"
          class="org.sakaiproject.signup.dao.SignupMeetingDaoImpl"
          init-method="init">
        <property name="sessionFactory"
                  ref="org.sakaiproject.springframework.orm.hibernate.GlobalSessionFactory"/>
    </bean>

</beans>
