# UpgradeSchema Control File (Default)
# Conversion needs the database connection details
dbDriver=oracle.jdbc.driver.OracleDriver
dbURL=PUT_YOUR_URL_HERE
dbUser=PUT_YOUR_USERNAME_HERE
dbPass=PUT_YOUR_PASSWORD_HERE

## If you want to add support for the new quota query and the resource-type query,
## but do not want to switch from XML serialization to binary-entity serialization,
## uncomment the below and use this file in place of "upgradeschema-oracle.config".
## NOTE: This is NOT recommended.
## FileSizeResourcesConversion adds columns for the new quota query and the resource-type query (used by OSP)

#convert.0=FileSizeResourcesConversion
#convert.0.handler.class=org.sakaiproject.content.impl.serialize.impl.conversion.FileSizeResourcesConversionHandler
#convert.0.create.migrate.table.count=3
#convert.0.create.migrate.table.0=create table CONTENT_RES_FSREGISTER ( id VARCHAR2(1024), status VARCHAR2(99) )
#convert.0.create.migrate.table.1=create index CONTENT_RES_FSREGISTER_id_idx on CONTENT_RES_FSREGISTER(id)
#convert.0.create.migrate.table.2=create index CONTENT_RES_FSREGISTER_st_idx on CONTENT_RES_FSREGISTER(status)
#convert.0.drop.migrate.table=drop table CONTENT_RES_FSREGISTER
#convert.0.check.migrate.table=select count(*) from CONTENT_RES_FSREGISTER where status <> 'done'
#convert.0.select.next.batch=select id from CONTENT_RES_FSREGISTER where status = 'pending' and rownum <= 100
#convert.0.complete.next.batch=update CONTENT_RES_FSREGISTER set status = 'done' where id = ?
#convert.0.mark.next.batch=update CONTENT_RES_FSREGISTER set status = 'locked' where id = ?
#convert.0.populate.migrate.table=insert into CONTENT_RES_FSREGISTER (id,status) select RESOURCE_ID, 'pending' from CONTENT_RESOURCE where resource_id not in (select id from CONTENT_RES_FSREGISTER)
#convert.0.select.record=select XML from CONTENT_RESOURCE where RESOURCE_ID = ?
#convert.0.select.validate.record=select XML from CONTENT_RESOURCE where RESOURCE_ID = ?
#convert.0.update.record=update CONTENT_RESOURCE set CONTEXT = ?, FILE_SIZE = ?, RESOURCE_TYPE_ID = ? where RESOURCE_ID = ? 
#convert.0.new.columns.names=CONTEXT,FILE_SIZE,RESOURCE_TYPE_ID
#convert.0.new.columns.types=VARCHAR2(99), NUMBER(18), VARCHAR2(255)
#convert.0.new.columns.qualifiers=default null, default null, default null
#convert.0.new.columns.add=alter table CONTENT_RESOURCE add <name> <type> <qualifier>
#convert.0.new.columns.test=select column_name from user_tab_columns where table_name = 'CONTENT_RESOURCE' and column_name = '<name>'
#convert.0.create.error.table=create table CONTENT_CONVERSION_ERRORS ( entity_id VARCHAR2(255), conversion VARCHAR2(255), error_description VARCHAR2(1024), report_time TIMESTAMP default LOCALTIMESTAMP )
#convert.0.report.error=insert into CONTENT_CONVERSION_ERRORS (entity_id,conversion,error_description) values (?,?,?)
#convert.0.verify.error.table=select column_name from user_tab_columns where table_name = 'CONTENT_CONVERSION_ERRORS'
#convert.0.early.termination.signal=quit.txt
