# whether to enable the option page for limited submission list view
assignment.enableViewOption=If true, no complete submission list would be shown. The list is generated only after selected group, and search criteria.

# letter grade options 
assignment.letterGradeOptions=The value will show up in the drop-down list for letter grade assignment.