# help text for property assignment.searchable_user_fields
assignment.searchable_user_fields=The list of user attribute(s) that instructor/grader can search in the list of submissions view in Assignments tool. If null, the default setting is the list of "eid", "email", and "sortname".

# whether to enable the option page for limited submission list view
assignment.enableViewOption=If true, no complete submission list would be shown. The list is generated only after selected group, and search criteria.