##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/sitesetup/chef_site-addParticipant-sameRole.vm,v 1.1 2005/04/14 20:22:06 ggolden.umich.edu Exp $ -->
## Add participants to the worksite with same role
<div class ="portletBody">
	<h3>
		$tlang.getString("adddif.choose")
	</h3>
	#if ($alertMessage)
		<div class="alertMessage">$tlang.getString("gen.alert") $validator.escapeHtml($alertMessage)</div>
		<div class="clear"></div>
	#end
	<p class="instruction">
		$tlang.getString("addsame.choose")	
	</p>
		<form action="#toolForm("SiteAction")" method="post">
		<h4>
			$tlang.getString("addsame.roles")
		</h4>
			<dl>
			#foreach ($role in $roles)
				<dt class="checkbox indnt1">
					<input type="radio" name="selectRole" id="selectRole_$role.Id" value="$role.Id"
						#if($form_selectedRole == $role.Id)
							checked="checked"
						#end
						/>
					<label for="selectRole_$role.Id">
						$role.Id
					</label>
				</dt>	
				<dd class="instruction indnt3">
						#set($description = "")
						#set($description = $role.Description)
						$!description
				</dd>		
			#end
			</dl>
    	<h4>
			$tlang.getString("addsame.participants")
		</h4>	
		<ul class="attachList indnt3">
			#foreach ($participant in $participantList)
				<li>
					$participant.getDisplayId()
					#set($name=$participant.name)
					#if($!name && $name.length()>0)
						$validator.escapeHtml(($name))
					#end
				</li>
			#end
		</ul>	
		<input type="hidden" name="continue" value="21" />
		<input type="hidden" name="back" value="$!backIndex" />
		<input type="hidden" name="templateIndex" value="$!templateIndex" />
		<p class ="act">
			<input type="submit" accesskey="s" class="active" name="eventSubmit_doContinue" value="$tlang.getString('gen.continue')" />
			<input type="submit" accesskey="b" name="eventSubmit_doBack" value="$tlang.getString('gen.back')" />
			<input type="submit" accesskey="x" name="eventSubmit_doCancel" value="$tlang.getString('gen.cancel')" />
		</p>
	</form>
</div>
