##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/sitesetup/chef_site-sitemanage-addParticipant.vm,v 1.1 2005/04/14 20:22:06 ggolden.umich.edu Exp $ -->
## Add a participant to ssite
<div class ="portletBody">
	<h3>
 		$tlang.getString("sitegen.addpart.add") $validator.escapeHtml($title)...
	</h3>
	#if ($alertMessage)
		<div class="alertMessage">Alert: $validator.escapeHtml($alertMessage)</div>
		<div class="clear"></div>
	#end
	<p class="instruction">
		$tlang.getString("sitegen.addpart.enter")
	</p>
	<form action="#toolForm("SiteAction")" method="post">
		<p class="longtext block">
			<label for="noEmailInIdAccount" class="block">
				$!noEmailInIdAccountLabel                                                          
			</label>
			<textarea id="noEmailInIdAccount" name="noEmailInIdAccount"  cols="30" rows="4" wrap="virtual">$!validator.escapeHtmlTextarea($!noEmailInIdAccountValue)</textarea><br />
			<span class="instruction">
				$tlang.getString("sitegen.addpart.multiple")
			</span>
		</p>
		<p class="longtext block">
			<label for="emailInIdAccount" class="block">
				$!emailInIdAccountLabel                                                          
			</label>
			<textarea id="emailInIdAccount" name="emailInIdAccount"  cols="30" rows="4" wrap="virtual">$!validator.escapeHtmlTextarea($!emailInIdAccountValue)</textarea><br />
			<span class="instruction">
				$tlang.getString("sitegen.addpart.multiple1")
			</span>
		</p>
		<h4>
			$tlang.getString("sitegen.addpart.partrol")
		</h4>
		<p class="checkbox">
			<input type="radio" id="same_role_true" name="same_role" value="true" 
				#if ($!form_same_role == "true")
					checked="checked"
				#end
			/>
			<label for="same_role_true">
				$tlang.getString("sitegen.addpart.assign")
			</label>
		</p>
		<p class="checkbox">
			<input type="radio" id="same_role_false" name="same_role" value="false" 
				#if ($!form_same_role == "false")
					checked="checked"
				#end
			/>
			<label for="same_role_false">
				$tlang.getString("sitegen.addpart.assign1")
			</label>
		</p>	
		<input type="hidden" name="back" value="$backIndex" />
		<input type="hidden" name="template-index" value="33" />
		<div class ="act">
			<input type="submit" class="active" name="eventSubmit_doContinue" value="$tlang.getString("sitegen.addpart.continue")" />
			<input type="submit" name="eventSubmit_doCancel" value="$tlang.getString("sitegen.addpart.cancel")" />
		</div>
	</form>
</div>
