##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/sitesetup/chef_site-siteInfo-editAccess.vm,v 1.3 2005/05/15 17:05:00 gsilver.umich.edu Exp $ -->
## Site list Sites list on worksite setup home page
<div class ="portletBody">
	#if($menu)#toolbar($menu)#end
	#if ($!site)
		<h3>
			$tlang.getString("ediacc.chaacc") <span class="highlight">$validator.escapeHtml($site.Title)</span>
		</h3>
	#else
		#if ($!isProjectSite)
			<h3>
				$tlang.getString("ediacc.project.setsitacc")
			</h3>
		#elseif ($!isCourseSite)
			<h3>
				$tlang.getString("ediacc.course.setsitacc")
			</h3>
		#else
			<h3>
				$tlang.getString("ediacc.other.setsitacc")
			</h3>
		#end
		<p class="step">
			$tlang.getString("ediacc.setacc")
		</p>
	#end
	#if ($alertMessage)
		<div class="alertMessage">$tlang.getString("ediacc.alert") $validator.escapeHtml($alertMessage)</div>
		<div class="clear"></div>
	#end
	<form name="editParticipantForm" action="#toolForm("SiteAction")" method="post">
		<h4>
			$tlang.getString("ediacc.sitsta")
		</h4>
		<p class="instruction">
			$tlang.getString("ediacc.pubyousit")
		</p>
		<p class="checkbox indnt1">
			#if ($!site)
				<input type="checkbox" name="publishunpublish" id="publishunpublish" value="publish" #if ($site.isPublished())checked="checked"#end />	
			#else
				<input type="checkbox" name="publishunpublish" id="publishunpublish" value="publish" #if ($!published)checked="checked"#end />	
			#end
			<label for="publishunpublish">
				$tlang.getString("ediacc.pubsit")
			</label>
		</p>	
		<h4>
			$tlang.getString("ediacc.gloacc")
		</h4>
		<p class="instruction">
			$tlang.getString("ediacc.gloacc1")
			#if(!$!site)$tlang.getString("ediacc.gloacc2")#end
			<br />
		</p>
		#if (!$!disableJoinable || $!publicChangeable)
			<p class="instruction">
				$tlang.getString("ediacc.yousitcan")
			</p>
		#else
			<p class="instruction">
				$tlang.getString("ediacc.notallow")
			</p>
		#end
		#if ($!publicChangeable)
			<p class="checkbox indnt1">
				<input type="radio" name="include" id="access_private" value="false" #if(!$!include)checked="checked"#end />
				<label for="access_private">
					$tlang.getString("ediacc.pri")
				</label>
			</p>
			<p class="checkbox indnt1" style="margin-bottom:2em">
				<input type="radio" name="include" id="access_public" value="true" #if($!include)checked="checked"#end
				/>
				<label for="access_public">
					$tlang.getString("ediacc.dismysit")
				</label>
	##			<tr>
	##				<td>
	##					<input type="radio" name="publicChoice" id="access" value="all" />
	##				</td>
	##				<td>
	##					Public - All Materials Shared
	##				</td>
	##			</tr>
			</p>
		#else
				$tlang.getString("ediacc.dismysit") <p />
		#end
		#if (!$!disableJoinable)
			## set site joinable and joiner role
			<p class="checkbox indnt1">
				<input type="checkbox" name="joinable" id="joinable" value="true" #if ($joinable) checked="checked"#end 
				onchange="this.checked ? document.getElementById('joinreqStar').style.visibility='visible':  document.getElementById('joinreqStar').style.visibility='hidden'"
				/>
				<label for="joinable">
					$tlang.getString("ediacc.canbejoi")
				</label>
			</p>
			<p class="checkbox indnt3">
				<label for="joinerRole">
						<span class="reqStar"   #if ($joinable) style="visibility:visible" #else style="visibility:hidden"  #end id="joinreqStar">*</span>
						#if ($alertMessage)<span class="highlight"> $tlang.getString("ediacc.rolforpep")</span> #else  $tlang.getString("ediacc.rolforpep") #end
				</label>
				<select name="joinerRole" id="joinerRole">
					<option value="">$tlang.getString("ediacc.plesel")</option>
					#foreach($r in $roles)
						<option value ="$r.Id"
							#if($r.Id == $joinerRole)
								selected="selected"
							#end
						>
							$r.Id
						</option>
					#end
				</select>
			</p>
		#else
			$tlang.getString("ediacc.other.setsitacc"): $tlang.getString("sitegen.siteinfolist.sitepar")<p />
		#end
		<input type="hidden" name="continue" value="$!continue" />
		<input type="hidden" name="back" value="$!backIndex" />
		<input type="hidden" name="templateIndex" value="$!templateIndex" />
		<div class ="act">
			#if($!site)
				<input type="submit" accesskey="s" class="active" name="eventSubmit_doUpdate_site_access" value="$tlang.getString("ediacc.upd")" />
				<input type="submit" accesskey="x"  name="eventSubmit_doCancel" value="$tlang.getString("ediacc.bac")" />
#else
				<input type="submit" accesskey="s" class="active" name="eventSubmit_doUpdate_site_access" value="$tlang.getString("ediacc.con")" />
				<input type="submit" accesskey="b" name="eventSubmit_doBack" value="$tlang.getString("ediacc.bac")" />
				<input type="submit" accesskey="x" name="eventSubmit_doCancel_create" value="$tlang.getString("ediacc.can")" />
			#end
		</div>
	</form>
</div>