##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/sitesetup/chef_site-siteInfo-editInfo.vm,v 1.3 2005/05/23 04:04:12 ggolden.umich.edu Exp $ -->
## Edit Site Information
<script language="JavaScript" type="text/javascript">
function LimitText(fieldObj,maxChars)
{
	var result = true;
  	if (fieldObj.value.length >= maxChars)
  	{
  		fieldObj.value = fieldObj.value.substring(0,maxChars);
		result = false;
   	}
  
  	if (window.event)
    	window.event.returnValue = result;
    
  	return result;
}

function submitRemoveSection(index){
		id = "removeSection"+index;
  removeSection = document.getElementById(id);
		removeSection.value="true";
		document.getElementById("option").value="removeSection";
		document.siteInfoForm.submit();
		return false;
}
</script>
  
<div class="portletBody">
	#if(!$existingSite)
		## adding new site
		#if ($!isProjectSite)
			<h3>
				$tlang.getString("sinfo.pi")
			</h3>
			<p class="step">
				$tlang.getString("sinfo.enter")
			</p>
		#elseif ($!isCourseSite)
			<h3>
				$tlang.getString("sinfo.class")
			</h3>
			<p class="step">
				$tlang.getString("sinfo.enter2")
			</p>
		#elseif ($type && $type=='portfolio')
			<h3>
				$tlang.getString("sinfo.portfolio")
			</h3>
			<p class="step">
				$tlang.getString("sinfo.enter3")
			</p>
		#else
			<h3>
				$tlang.getString("sinfo.other")
			</h3>
			<p class="step">
				$tlang.getString("sinfo.enter3")
			</p>
		#end
	#else
		## editing existing site
		<h3>
			$tlang.getString("sitediinf.rev") <span class="highlight">$validator.escapeHtml($title)</span>
		</h3>
	#end
	#if ($alertMessage)<div class="alertMessage">$tlang.getString("sitediinf.alert") $validator.escapeHtml($alertMessage)</div><div class="clear"></div>#end
	## adding a new course site
	#if ($!existingSite && $isCourseSite)
	<table class="listHier lines nolines indnt1" style="width:auto" summary="$tlang.getString("sinfo.rosterlist.summary")" border="0">
	
		#if ($!selectedProviderCourse)
			<tr class="exclude" id="selectedProviderCourse-head"><td colspan="2" style="padding:.4em 0">
				<h4><span class="instruction">$tlang.getString("sinfo.youare")</span></h4>
			</td></tr>
			#set ($selectedProviderCourse-num=0)
			#foreach ($item in $!selectedProviderCourseTitles)
				<tr>
					<td style="padding-left:1em">
					#set ($selectedProviderCourse-num=1)
					$item
					</td>
					<td>
					<!-- Remove Section -->
					
					##gsilver: am surprised this works at all, the ids may not be valid
					<span class="itemAction"><a href="#" onclick="javascript:submitRemoveSection('$item');">$tlang.getString("sinfo.removeSections")</a></span>
					<input type="hidden" id="removeSection$item" name="removeSection$item" value="" />
				</td></tr>
			#end
			<tr>
				<td style="height:0;display:none">
				## do it this way
					#if ($selectedProviderCourse-num ==0)
						<script type="text/javascript">document.getElementById('selectedProviderCourse-head').style.display='none'</script>
				</td>
			</tr>
			#end								
		#end
		#if ($!cmAuthorizerSections || $!cmRequestedSections || $!manualAddNumber)
			<tr class="exclude"><td colspan="2" style="padding:.4em 0">
			<h4><span class="instruction">$tlang.getString("sinfo.requestedSections")</span></h4>
			#foreach ($sect in $!cmRequestedSections)
				<tr>
					<td style="padding-left:1em">
						$sect.title
					</td>
					<td>
						<!-- Remove Section -->
						<span class="itemAction"><a href="#" onclick="javascript:submitRemoveSection('$sect.eid');">$tlang.getString("sinfo.removeSections")</a></span>
						<input type="hidden" id="removeSection$sect.eid" name="removeSection$sect.eid" value="" />
					</td>
				</tr>	
			#end
   #foreach ($sect in $!cmAuthorizerSections)
    <tr>
					<td style="padding-left:1em">
						$sect.eid: $sect.title, $sect.categoryDescription (Pending approval by $sect.authorizer)
					</td>
					<td>
						<span class="itemAction">
							<a href="#" onclick="javascript:submitRemoveSection('$sect.eid');">$tlang.getString("sinfo.removeSections")</a>
                            <input type="hidden" id="removeSection$sect.eid" name="removeSection$sect.eid" value="" />
						</span>	
					</td>
				</tr>	
			#end
			#foreach ($k in [0..$manualAddNumber])
					#set($courseFieldValues = $!fieldValues.get($k))
					#set($bound = $!form_requiredFields.size())
					#set($bound = $bound - 1)
					<tr><td colspan="2" style="padding-left:1em">
						#foreach ($fieldCount in [0..$!bound])
							$!courseFieldValues.get($fieldCount).getValue()
						#end
					</td></tr>
			#end
		#end
		</table>
	#end
	#if (!$!existingSite && $!isProjectSite)
		<p class="instruction">
			$tlang.getString("sinfo.simplea") <span class ="reqStarInline">*</span> $tlang.getString("sinfo.means")
		</p>
	#end
	<form name="classInformationForm" method="post" action="#toolForm("SiteAction")">
		<p class="shorttext required">
			<span class="reqStar">*</span>
			<label for="title">
				$tlang.getString("sitediinf.sittit")
			</label>
			#if ($!siteTitleEditable)
				<input type="text" name="title" id="title" size="20" maxlength="$!titleMaxLength" value="$validator.escapeHtml($!title)" />
			#else
				$validator.escapeHtml($!title)
			#end
		</p>
		#if ($displaySiteAlias)
		<div class="shorttext">
 			<label for="url">
 				$tlang.getString("sinfo.url_alias")
 			</label>
 				$!form_url_base
 				<input type="text" name="url_alias" id="url_alias" maxlength="40" size="20" value="$validator.escapeHtml($form_url_alias)" />
 		</div>
 		#end
		#if ($!isCourseSite)
			<p class="shorttext">
				<label for="term">
					$tlang.getString("sitediinf.term")
				</label>
				$!selectedTerm
			</p>	
		#end
		<div class="longtext">
			<label for="description" class="block">
				$tlang.getString("sitediinf.des")
				<span class="instruction textPanelFooter">
					$tlang.getString("sitediinf.dis")
				</span>
			</label>
			<table border="0" cellpadding="0" cellspacing="0" >
					<tr>
						<td>
							<textarea name="description" id="description" cols="65" rows="30" wrap="virtual">$validator.escapeHtmlFormattedTextarea($!description)</textarea>
							#chef_setupformattedtextarea("description")
						</td>
					</tr>
			</table>		
		</div>
		<div class="longtext">
			<label for="short_description" class="block">
				$tlang.getString("sitediinf.shodes") 
				<span class="instruction textPanelFooter">
					$tlang.getString("sitediinf.dis2")
				</span>
			</label>
			<textarea  name="short_description" id="short_description" tabindex="2" rows="2" cols="45" onkeyup="LimitText(this,80)">$validator.escapeHtmlTextarea($!short_description)</textarea>
		</div>	
		#if ($!isCourseSite)
			#if (!$!disableCourseSelection && $!skins.size() > 0)
			<p class ="shorttext">
				<label for="skin">
					$tlang.getString("sitediinf.app")
				</label>
					<select name="skin" id="skin">
						#foreach ($s in $skins)
							#set($url="")
							#set($url=$!s.Url)
							<option value="$url" #if ($url == $selectedIcon)selected="selected"#end>$s.Name</option>
						#end
					</select>
					</p>
					<div class="labelindnt"
						<span class="instruction textPanelFooter">
							$tlang.getString("sitediinf.sit")
						</span>
					</div>
				#end
			</div>
		#else
			<div class="shorttext">
				<label for="iconUrl">$tlang.getString("sitediinf.ico")</label>
				<input type="text" name="iconUrl" id="iconUrl" size="40" value="$!validator.escapeHtml($!iconUrl)" />
			</div>
		#end
		<p class="shorttext">
			<label for="siteContactName">
				$tlang.getString("sitediinf.sitconnam")
			</label>
			<input type="text" name="siteContactName" id="siteContactName" size="20" value="$!form_site_contact_name" />
		</p>				
		<p class="shorttext">
			<label for="siteContactEmail">
				$tlang.getString("sitediinf.sitconema")
			</label>	
			<input type="text" name="siteContactEmail" id="siteContactEmail" size="20" value="$!form_site_contact_email" />
		</p>
		<input type="hidden" name="back" value="$!backIndex" />
		<input type="hidden" name="templateIndex" value="$!templateIndex" />
		<input type="hidden" name="continue" value="$!continue" />
	<div class="act">
		<input type="submit" accesskey="s" class= "active" name="eventSubmit_doContinue" value="$tlang.getString("sitediinf.con")" />
		#if(!$existingSite)
			## have the back button for creating site wizard
			<input type="submit" accesskey="b" class= "active" name="eventSubmit_doBack" value="$tlang.getString("gen.back")" />
		#end
		<input type="submit" accesskey="x" name="eventSubmit_doCancel" value="$tlang.getString("sitediinf.can")" />
	</div>
</form>
	</div>
