##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/sitesetup/chef_site-newSiteInformation.vm,v 1.3 2005/05/23 04:04:12 ggolden.umich.edu Exp $ -->
## Creating a site
<script type="text/javascript">
  	focus_path = [ "title" ];

	function LimitText(fieldObj,maxChars)
	{
		var result = true;
	  	if (fieldObj.value.length >= maxChars)
	  	{
	  		fieldObj.value = fieldObj.value.substring(0,maxChars);
			result = false;
	   	}
	  
	  	if (window.event)
	    	window.event.returnValue = result;
	    
	  	return result;
	}
	
	function submitRemoveSection(index){
		id = "removeSection"+index;
  removeSection = document.getElementById(id);
		removeSection.value="true";
		document.getElementById("option").value="removeSection";
		document.siteInfoForm.submit();
		return false;
}
	
</script>
<div class="portletBody">
#if ($!isProjectSite)
		<h3>
			$tlang.getString("sinfo.pi")
		</h3>
		<p class="step">
			$tlang.getString("sinfo.enter")
		</p>
	#elseif ($!isCourseSite)
		<h3>
			$tlang.getString("sinfo.class")
		</h3>
		<p class="step">
			$tlang.getString("sinfo.enter2")
		</p>
	#elseif ($type && $type=='portfolio')
		<h3>
			$tlang.getString("sinfo.portfolio")
		</h3>
		<p class="step">
			$tlang.getString("sinfo.enter3")
		</p>
	#else
		<h3>
			$tlang.getString("sinfo.other")
		</h3>
		<p class="step">
			$tlang.getString("sinfo.enter3")
		</p>
	#end
	#if ($alertMessage)
		<div class="alertMessage">$tlang.getString("gen.alert") $validator.escapeHtml($alertMessage)</div>
		<div class="clear"></div>
	#end
	
	<form name="siteInfoForm" action="#toolForm("$action")" method="post">
		<input type="hidden" name="option" id="option" value="continue" />
		<input type="hidden" name="eventSubmit_doSite_information" value="x" />	
	#if ($isCourseSite)
	<table class="listHier lines nolines indnt1" style="width:auto" summary="$tlang.getString("sinfo.rosterlist.summary")" border="0">
	
		#if ($!selectedProviderCourse)
			<tr class="exclude" id="selectedProviderCourse-head"><td colspan="2" style="padding:.4em 0">
				<h4><span class="instruction">$tlang.getString("sinfo.youare")</span></h4>
			</td></tr>
			#set ($selectedProviderCourse-num=0)
			#foreach ($item in $!selectedProviderCourse)
				<tr>
					<td style="padding-left:1em">
					#set ($selectedProviderCourse-num=1)
					#set($pSection = false)
					#set($pSection = $!cms.getSection($item))
					#if ($!pSection)$pSection.getTitle()#end
					</td>
					<td>
					<!-- Remove Section -->
					
					##gsilver: am surprised this works at all, the ids may not be valid
					<span class="itemAction"><a href="#" onclick="javascript:submitRemoveSection('$item');">$tlang.getString("sinfo.removeSections")</a></span>
					<input type="hidden" id="removeSection$item" name="removeSection$item" value="" />
				</td></tr>
			#end
			<tr>
				<td style="height:0;display:none">
				## do it this way
					#if ($selectedProviderCourse-num ==0)
						<script type="text/javascript">document.getElementById('selectedProviderCourse-head').style.display='none'</script>
				</td>
			</tr>
#end								
		#end
		#if ($!cmAuthorizerSections || $!cmRequestedSections || $!manualAddNumber)
			<tr class="exclude"><td colspan="2" style="padding:.4em 0">
			<h4><span class="instruction">$tlang.getString("sinfo.requestedSections")</span></h4>
			#foreach ($sect in $!cmRequestedSections)
				<tr>
					<td style="padding-left:1em">
						$sect.title
					</td>
					<td>
						<!-- Remove Section -->
						<span class="itemAction"><a href="#" onclick="javascript:submitRemoveSection('$sect.eid');">$tlang.getString("sinfo.removeSections")</a></span>
						<input type="hidden" id="removeSection$sect.eid" name="removeSection$sect.eid" value="" />
					</td>
				</tr>	
			#end
            #foreach ($sect in $!cmAuthorizerSections)
            	<tr>
					<td style="padding-left:1em">
						$sect.eid: $sect.title, $sect.categoryDescription (Pending approval by $sect.authorizer)
					</td>
					<td>
						<span class="itemAction">
							<a href="#" onclick="javascript:submitRemoveSection('$sect.eid');">$tlang.getString("sinfo.removeSections")</a>
                            <input type="hidden" id="removeSection$sect.eid" name="removeSection$sect.eid" value="" />
						</span>	
					</td>
				</tr>	
			#end
			#foreach ($k in [0..$manualAddNumber])
					#set($courseFieldValues = $!fieldValues.get($k))
					#set($bound = $!form_requiredFields.size())
					#set($bound = $bound - 1)
					<tr><td colspan="2" style="padding-left:1em">
						#foreach ($fieldCount in [0..$!bound])
							$!courseFieldValues.get($fieldCount).getValue()
						#end
					</td></tr>
			#end
		#end
		</table>
	#end
	#if ($!isProjectSite)
		<p class="instruction">
			$tlang.getString("sinfo.simplea") <span class ="reqStarInline">*</span> $tlang.getString("sinfo.means")
		</p>
	 #end
		<p class="shorttext required">
			#if ($!siteTitleEditable)
			<span class="reqStar">*</span>
			<label for="title">
				$tlang.getString("sinfo.stitle")
			</label>
				<input type="text" name="title" class="req" id="title" maxlength="$!titleMaxLength" size="20" value="$validator.escapeHtml($form_title)" />
			#else
			<span>
				$tlang.getString("sinfo.stitle")
			</span>
			 &nbsp;&nbsp;$validator.escapeHtml($form_title)
			#end
		</p>
		<div class="longtext">
			<label  class="block" for="description">
				$tlang.getString("sinfo.descr") 
				<span class="instruction textPanelFooter">
				$tlang.getString("sinfo.display")
			</span>
			</label>
			<textarea name="description" id="description" cols="65" rows="30" wrap="virtual">$validator.escapeHtmlFormattedTextarea($!form_description)</textarea>
			#chef_setupformattedtextarea("description")
		</div>	
		<p class="longtext">
			<label for="short_description" class="block"> 
				$tlang.getString("sinfo.short") <span class="instruction textPanelFooter">$tlang.getString("sinfo.display2")</span>
			</label>
			<textarea  name="short_description" id="short_description" rows="2" cols="45" onkeyup="LimitText(this,80)" wrap="hard">$validator.escapeHtmlTextarea($form_short_description)</textarea>
			
		</p>
		#if ($!isCourseSite) 
			#if (!$!disableCourseSelection && $!skins.size() > 0)
			<p class="shorttext">
				<label for="skin">
					$tlang.getString("sinfo.appear")
				</label>
				<select name="skin" id="skin">
					#foreach($skin in $!skins)
						#set($url="")
						#set($url=$!skin.Url)
						<option value ="$url"
							#if($selectedIcon == $url)
								selected="selected"
							#end
						>
						$skin.Name
						</option>
					#end
				</select>
			</p>
			#end
		#else
			<div class="shorttext">
				<label for="iconUrl">$tlang.getString("newsc.icon")</label>
				<input type="text" name="iconUrl" id="iconUrl" size="40" value="$!validator.escapeHtml($iconUrl)" />
			</div>
		#end
		<p class="shorttext">
			<label for="siteContactName">
				$tlang.getString("sinfo.scontact")
			</label>
			<input type="text" name="siteContactName" id="siteContactName" size="20" value="$!form_site_contact_name" />
		</p>
		<p class="shorttext">
			<label for="siteContactEmail">
				$tlang.getString("sinfo.scontact2")
			</label>
			<input type="text" name="siteContactEmail" id="siteContactEmail" size="20" value="$!form_site_contact_email" />
		</p>
		<input type="hidden" name="back" value="$!backIndex" />
		<input type="hidden" name="templateIndex" value="$!templateIndex" />
		<input type="hidden" name="continue" value="3" />
		<p class="act">
				<input type="button" name="continueButton" id="continueButton"
						value="$tlang.getString('gen.continue')" 
						class="active" 
						accesskey="s" 
						onclick="document.siteInfoForm.option.value='continue'; document.siteInfoForm.submit(); return false;" />
				#if ($!siteTypes.size() > 1)
					<input type="button" name="Back" 
							value="$tlang.getString('gen.back')"
							accesskey="b"
							onclick="document.siteInfoForm.option.value='back'; document.siteInfoForm.submit(); return false;" />
				#end
				<input type="button" name="Cancel" 
						value="$tlang.getString('gen.cancel')"
						accesskey="x"
						onclick="document.siteInfoForm.option.value='cancel'; document.siteInfoForm.submit(); return false;" />
			</p>
	</form>
</div>

