##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/sitesetup/chef_site-siteInfo-importMtrlCopy.vm,v 1.2 2005/06/06 20:06:02 htripath.indiana.edu Exp $ -->
## Might want to get these dynamically 
<div class="portletBody">
	<h3>
	$tlang.getString("sitedicla.copy_materials")
	</h3>
	#if ($alertMessage)
		<div class="alertMessage">$tlang.getString("sitinfimp.alert") $alertMessage</div>
		<div class="clear"></div>
	#end
	<p class="step">
	$tlang.getString("sitedicla.choose_materials")
	</p>
	<p class="instruction">
	$tlang.getString("sitedicla.copy_message")
	</p>
	<form name="featuresForm" action="#toolForm("$action")" method="post" >

	  <br>
	  #if (($allZipSites.size()>0) ||($finalZipSites.size()>0)) 
	  <table width="90%" border=0 align=center cellpadding=0 cellspacing=0>
	  	<tr>
	  		<td width="35%" align="left">
	  		$tlang.getString("sitedicla.copying")
	  		<br>
					<select name="addImportSelected" class="indnt2" size="10" multiple="multiple" STYLE="width: 150px;">
						#foreach($item in $allZipSites)
							<option value ="$item.getId()"> $item.getLegacyTool() </option>
						#end
					</select>
				<br>	
				</td>    
				
				<td width="15%" align="left">		
				<strong>$tlang.getString("sitedicla.move")</strong>
				<br>
				<input type="submit" class= "active" name="eventSubmit_doAdd_MtrlSite" value=">" onclick="SPNR.disableControlsAndSpin( this, null );" />
				<br><br>
				<input type="submit" class= "active" name="eventSubmit_doRemove_MtrlSite" value="<" onclick="SPNR.disableControlsAndSpin( this, null );" />
				</td>
				
				<td width="30%">
				$tlang.getString("sitedicla.move_into")
	  		<br>
					<select name="removeImportSelected" class="indnt2" size="10" multiple="multiple" STYLE="width: 150px;">
					#foreach($item in $finalZipSites)
						<option value ="$item.getId()"> $item.getLegacyTool() </option>
					#end
					</select>
				<br>
			</tr>
		</table>
		#end
		<input type="hidden" name="back" value="$!backIndex" />
		<input type="hidden" name="templateIndex" value="$!templateIndex" />
		
		<p class="act">
			<input type="submit" class="active" name="eventSubmit_doCopyMtrlSite" value="$tlang.getString("sitedicla.copybtn")" accesskey="s" onclick="SPNR.disableControlsAndSpin( this, null );" />
			<input type="submit" class="active" name="eventSubmit_doCancel" value="$tlang.getString("sitedicla.cancel")" accesskey="x" onclick="SPNR.disableControlsAndSpin( this, null );" />
		</p>
		
					
		<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
	</form>
</div>
