##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/sitesetup/chef_site-siteInfo-addCourseConfirm.vm,v 1.1 2005/04/14 20:22:06 ggolden.umich.edu Exp $ -->
##Confirmation page for adding  classes
<div class ="portletBody">
	<h3 class ="insBor insBak insCol">
		$tlang.getString("sitegen.addcourse.adding") $validator.escapeHtml($siteTitle)...
	</h3>
	#if ($alertMessage)
		<div class="alertMessage">$tlang.getString("sitegen.addcourse.alert") $validator.escapeHtml($alertMessage)</div>
		<div class="clear"></div>
	#end
	<p class="instruction">
		$tlang.getString("sitegen.addcourse.please")
	</p>
	<form name = "addRemoveConfirmForm" method="post" action="#toolForm($action)">
	<h4>
		$tlang.getString("sitegen.addcourse.class")
	</h4>
	<p class="instruction">
		$tlang.getString("sitegen.addcourse.foll")<br />
	</p>
	<ul>
		#foreach($c in $providerCourseList)
			<li>
				$c
			</li>
		#end
		#foreach($c in $manualCourseList)
			<li>
				$c $tlang.getString("man.requested")
			</li>
		#end
	</ul>
	<p class="instruction">
		$tlang.getString("sitegen.addcourse.you")<br />
	</p>
	<ul>
		#foreach($c in $providerAddCourses)
			<li>
				$c
			</li>
		#end
	</ul>	
		#if ($!manualAddNumber)
			<ul>
				#foreach ($k in [0..$manualAddNumber])
						#set($courseFieldValues = $!fieldValues.get($k))
						#set($bound = $!form_requiredFields.size())
						#set($bound = $bound - 1)
						<li>
							#foreach ($fieldCount in [0..$!bound])
								$!courseFieldValues.get($fieldCount)
							#end
						</li>
				#end
			</ul>
		#end
		<input type="hidden" name="back" value="$backIndex" />
		<input type="hidden" name="template-index" value="44"/>
		<input type="hidden" name="continue" value="12" />
		<p class ="act">
			<input type="submit" accesskey="s"  class="active" name="eventSubmit_doContinue" value="$tlang.getString("sitegen.addcourse.add")" />
			<input type="submit" accesskey="b"  name="eventSubmit_doBack" value="$tlang.getString("sitegen.addcourse.back")" />
			<input type="submit" accesskey="x" name="eventSubmit_doCancel" value="$tlang.getString("sitegen.addcourse.cancel")" />
		</p>
	</form>
</div>
