##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/sitesetup/chef_site-addParticipant-differentRole.vm,v 1.3 2005/05/15 17:05:00 gsilver.umich.edu Exp $ -->
## Add participants to the worksite with different role
<div class ="portletBody">
	<h3>
			$tlang.getString("adddif.choose")
	</h3>
	#if ($alertMessage)<div class="alertMessage">$tlang.getString("gen.alert") $validator.escapeHtml($alertMessage)</div>#end
	<p class="instruction">
		$tlang.getString("adddif.chroles") <span class="reqStarInline"> *</span>. 
	</p>
	<dl title ="$tlang.getString("adddif.rolelist.summary")" >
		#foreach ($role in $roles)
			<dt  class="indnt1">
				$role.Id
			</dt>
			<dd class="instruction indnt3">
				#set($description = "")
				#set($description = $role.Description)
				$!description
			</dd>					
		#end
	</dl>
	<form action="#toolForm("SiteAction")" method="post">
	<table cellspacing="0" cellpadding="0" class ="listHier lines nolines" summary ="$tlang.getString("adddif.rolepicklist.summary")" style="width:50%">
			<tr>
				<th>
					$tlang.getString("addconf.username")
				</th>
				<th>
					$tlang.getString("addconf.role")
				</th>
			</tr>
			#set ($selectIDCount=0)
			#foreach ($participant in $participantList)
				#set ($selectIDCount=$selectIDCount +  1)
				#set($uniqname = $participant.getUniqname())
				<tr>
					<td>
						<label for="role$selectIDCount">$participant.getDisplayId()
						#set($name=$participant.name)
						#if($!name && $name.length()>0)
							($validator.escapeHtml($name))
						#end
						</label>
					</td>
					<td  class="required">
						<span class="reqStarInline">*</span>
						<select name="role$uniqname" id="role$selectIDCount">
							<option value="">$tlang.getString("adddif.please")</option>
							#foreach($role in $roles)
								<option value ="$role.Id"
									#if($role.Id == $!selectedRoles.get($uniqname))
										selected="selected"
									#end
								>
									$role.Id
								</option>
							#end
						</select>
					</td>
				</tr>
			#end
		</table>
		<input type="hidden" name="continue" value="21" />
		<input type="hidden" name="back" value="$!backIndex" />
		<input type="hidden" name="templateIndex" value="$!templateIndex" />
		<p class ="act">
			<input type="submit" accesskey="s" class="active" name="eventSubmit_doContinue" value="$tlang.getString('gen.continue')" />
			<input type="submit" accesskey="b" name="eventSubmit_doBack" value="$tlang.getString('gen.back')" />
			<input type="submit" accesskey="x" name="eventSubmit_doCancel" value="$tlang.getString('gen.cancel')" />
		</p>
	</form>
</div>
