##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/sitesetup/chef_site-addParticipant.vm,v 1.2 2005/05/13 16:19:44 gsilver.umich.edu Exp $ -->
## Add a participant to ssite
<div class ="portletBody">
	<h3>
 		$tlang.getString("add.addpart") $validator.escapeHtml($title)...
	</h3>
	#if ($alertMessage)
		<div class="alertMessage">$tlang.getString("gen.alert") $validator.escapeHtml($alertMessage)</div>
		<div class="clear"></div>
	#end
	</p>
	<p class="instruction">
		<h4>$tlang.getString("add.official")</h4>
	</p>
	<div class="indnt1">
		<p class="instruction">
			$tlang.getString("add.official1")
		</p>
		<p class="instruction">
			$tlang.getString("add.official.instruction")
		</p>
	</div>
	<p/>
	<p/>
	<form action="#toolForm("SiteAction")" method="post">
		<p class="instruction">
			<h4>$!officialAccountSectionTitle</h4>
		</p>
		<div class="indnt1">
			<label for="officialAccount" class="block">
				$!officialAccountLabel
			</label>
			<textarea id="officialAccount" name="officialAccount"  cols="35" rows="4" wrap="virtual">$!validator.escapeHtmlTextarea($!officialAccountValue)</textarea>
			<br /><span class="instruction">
				$tlang.getString("add.multiple")
			</span>
		</div>
		<p class="instruction">
			<h4>$!nonOfficialAccountSectionTitle</h4>
		</p>
		<div class="indnt1">
			<label for="nonOfficialAccount" class="block">
				$!nonOfficialAccountLabel
			</label>
			<textarea  id="nonOfficialAccount" name="nonOfficialAccount"  cols="35" rows="4" wrap="virtual">$!validator.escapeHtmlTextarea($!nonOfficialAccountValue)</textarea>
			<br /><span class="instruction">
				$tlang.getString("add.multiple")
			</span>
		</div>
		
		<h4>
			$tlang.getString("add.participants")
		</h4>
		<p class="checkbox">
			<input type="radio" id="same_role_true" name="same_role" value="true" 
				#if ($!form_same_role == "true")
					checked="checked"
				#end
			/>
			<label for="same_role_true">
				$tlang.getString("add.assign")
			</label>
		</p>
		<p class="checkbox">
			<input type="radio" id="same_role_false" name="same_role" value="false" 
				#if ($!form_same_role == "false")
					checked="checked"
				#end
			/>
			<label for="same_role_false">
				$tlang.getString("add.assign2")
			</label>
		</p>	
		<input type="hidden" name="back" value="$backIndex" />
		<input type="hidden" name="template-index" value="5" />
		<div class ="act">
			<input type="submit" accesskey="s" class="active" name="eventSubmit_doContinue" value="$tlang.getString('gen.continue')" />
			<input type="submit" accesskey="b" name="eventSubmit_doCancel" value="$tlang.getString('gen.back')" />
			<input type="submit" accesskey="x" name="eventSubmit_doCancel" value="$tlang.getString('gen.cancel')" />
		</div>
	</form>
</div>
