## Sitemanage Edit Site Information
<script language="JavaScript" type="text/javascript">
function LimitText(fieldObj,maxChars)
{
	var result = true;
  	if (fieldObj.value.length >= maxChars)
  	{
  		fieldObj.value = fieldObj.value.substring(0,maxChars);
		result = false;
   	}
  
  	if (window.event)
    	window.event.returnValue = result;
    
  	return result;
}
</script>
  
  
<div class="portletBody">
	#if($menu)#toolbar($menu)#end
##	<div class="chefToolBarWrapForm">
##	<a href="#" onclick="location='#toolLink("$action" "doSitemanage_saveas_request")';return false;" title ="Save as">Save as</a>
##	</div>
	<h3>
		#if ($!isCourseSite) $tlang.getString("sitmanedi.class") #end $tlang.getString("sitmanedi.sitinf")
	</h3>
	#if ($alertMessage)<div class="alertMessage">$tlang.getString("sitmanedi.alert") $validator.escapeHtml($alertMessage)</div>#end
	<form name = "site-form" method = "post" action="#toolForm("SiteAction")">
		<p class="shorttext  required">
			<span class="reqStar">*</span>
			<label for="title">
				$tlang.getString("sitmanedi.sittit")
			</label>
			#if ($!isSuperUser)
				<input type="text" name="title" id="title" maxlength="20" size="20" value="$validator.escapeHtml($!title)" />
			#else
				$validator.escapeHtml($!title)
			#end
		</p>
		<p class="shorttext required">
			<span class="reqStar">*</span>
			<label for="siteType">$tlang.getString("sitmanedi.sitityp")</label>
			<select name="type" id="siteType">
				#foreach ($type in $types)
					#if ($siteType == $type)
						<option value="$type" selected="selected">$type</option>
					#else
						<option value="$type">$type</option>
					#end
				#end
			</select>
		</p>
		<p class="longtext required">
			<span class="reqStar">*</span>
			<label for="description" class="block">                                        
				$tlang.getString("sitmanedi.des") 
			</label>
			<textarea id="description" name="description" rows="5" cols="40" tabindex="1" wrap="virtual">$validator.escapeHtmlTextarea($!description)</textarea>
			<div class="instruction">
				$tlang.getString("sitmanedi.dis")
			</div>
		</p>


		<p class="longtext">
			<label for="short_description" class="block">
				$tlang.getString("sitmanedi.shodes")
			</label>
			<textarea name="short_description" id="short_description" tabindex="2" rows="5" cols="40" onkeyup="LimitText(this,80)">$validator.escapeHtmlTextarea($!short_description)</textarea>
			<div class="instruction">	
				$tlang.getString("sitmanedi.dis2")
			</div>
		</p>	
		#if ($!siteType == "course")
			<div class="shorttext">
				<label for="skin">$tlang.getString("sitmanedi.app")</label>
				<select name="skin" id="skin">
					<option value="">$tlang.getString("sitmanedi.app.none")</option>
					#foreach ($s in $skins)
						#if ($s.Url == $skin)
							<option value="$s.Url" selected="selected">$s.Name</option>
						#else
							<option value="$s.Url">$s.Name</option>
						#end
					#end
				</select>
			</div>
		#else
##				<label for="logo">Choose Logo:</label>
##				<input type="file" name="filename" id="filename" class ="upload" />
		<p class="shorttext">
			<label for="icon">$tlang.getString("sitmanedi.ico")</label>
			<input type="text" name="icon" id="icon" size=40 #if($site) value="$!validator.escapeHtml($iconUrl)"#end />
		</p>
		#end
		<p class="shorttext required">
			<span class="reqStar">*</span>
			<label for="siteContactName">
				$tlang.getString("sitmanedi.sitconnam")
			</label>
			<input type="text" name="siteContactName" id="siteContactName" size="20" value="$!form_site_contact_name" />
		</p>
		<p class="shorttext required">
			<span class="reqStar">*</span>
			<label for="siteContactEmail">
				$tlang.getString("sitmanedi.sitconema")
			</label>	
			<input type="text" name="siteContactEmail" id="siteContactEmail" size="20" value="$!form_site_contact_email" />
		</p>
		<h4>Site size allowed</h4>
		<p class="instructions">
			$tlang.getString("sitmanedi.sitthi")	
		</p>
		<p class="checkbox indnt1">
			<input type="radio" name="size" id="size_set" #if ($!default_size_selected) checked="checked" #end value="1GB" />
			<label for="size_set">1 GB</label>
		</p>
		<p class="checkbox indnt1">
			<input type="radio" name="size" id="size_open" #if (!$default_size_selected) checked="checked" #end value="other" />
			<label for="size_open">
				$tlang.getString("sitmanedi.other")
			</label>
			<input type="text" name="otherSize" id="otherSize" /> $tlang.getString("sitmanedi.forexa")
		</p>
		<input type="hidden" name="back" value="31" />
		<input type="hidden" name="template-index" value="38" />
		<input type="hidden" name="continue" value="31" />
		<p class="act">
			<input type="submit" class= "active" name="eventSubmit_doContinue" value="$tlang.getString("sitmanedi.savcha")" />
			<input type="submit" name="eventSubmit_doCancel" value="$tlang.getString("sitmanedi.can")" />
		</p>
	</form>
</div>
