##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/sitesetup/chef_site-newSiteInformation.vm,v 1.3 2005/05/23 04:04:12 ggolden.umich.edu Exp $ -->
## Creating a site
<script type="text/javascript">
  	focus_path = [ "title" ];

	function LimitText(fieldObj,maxChars)
	{
		var result = true;
	  	if (fieldObj.value.length >= maxChars)
	  	{
	  		fieldObj.value = fieldObj.value.substring(0,maxChars);
			result = false;
	   	}
	  
	  	if (window.event)
	    	window.event.returnValue = result;
	    
	  	return result;
	}
</script>
<div class="portletBody">
	#if ($!isProjectSite)
		<h3>
			$tlang.getString("sinfo.pi")
		</h3>
		<p class="step">
			$tlang.getString("sinfo.enter")
		</p>
	#elseif ($!isCourseSite)
		<h3>
			$tlang.getString("sinfo.class")
		</h3>
		<p class="step">
			$tlang.getString("sinfo.enter2")
		</p>
	#else
		<h3>
			$tlang.getString("sinfo.other")
		</h3>
		<p class="step">
			$tlang.getString("sinfo.enter3")
		</p>
	#end
	#if ($alertMessage)
		<div class="alertMessage">$tlang.getString("gen.alert") $validator.escapeHtml($alertMessage)</div>
		<div class="clear"></div>
	#end
	#if ($isCourseSite)
		$tlang.getString("sinfo.youare")
		<ul>
			#foreach ($item in $!selectedProviderCourse)
				<li>$item </li>
			#end
		</ul>
		#if ($!manualAddNumber)
			<ul>
				#foreach ($k in [0..$manualAddNumber])
						#set($courseFieldValues = $!fieldValues.get($k))
						#set($bound = $!form_requiredFields.size())
						#set($bound = $bound - 1)
						<li>
							#foreach ($fieldCount in [0..$!bound])
								$!courseFieldValues.get($fieldCount)
							#end
						</li>
				#end
			</ul>
		#end
	#end
	<p class="instruction">
		$tlang.getString("sinfo.enter3")#if ($!isProjectSite) $tlang.getString("sinfo.simplea") <span class ="reqStarInline">*</span> $tlang.getString("sinfo.means") #end
	</p>
	<form action="#toolForm("$action")" method="post">
		<p class="shorttext required">
			#if ($!titleEditableSiteType.contains($!type))
			<span class="reqStar">*</span>
			<label for="title">
				$tlang.getString("sinfo.stitle")
			</label>
				<input type="text" name="title" class="req" id="title" maxlength="20" size="20" value="$validator.escapeHtml($form_title)" />
			#else
			<label for="title">
				$tlang.getString("sinfo.stitle")
			</label>
				$validator.escapeHtml($form_title)
			#end
		</p>
		<p class="longtext">
			<label for="description" class="block">
				$tlang.getString("sinfo.descr")
			</label>
			<textarea  name="description" id="description" rows="5" cols="40" wrap="virtual">$validator.escapeHtmlTextarea($form_description)</textarea>
			<br /><span class="instruction">
				$tlang.getString("sinfo.display")
			</span>
		</p>	
		<p class="longtext">
			<label for="short_description" class="block"> 
				$tlang.getString("sinfo.short")
			</label>
			<textarea  name="short_description" id="short_description" rows="2" cols="45" onkeyup="LimitText(this,80)" wrap="hard">$validator.escapeHtmlTextarea($form_short_description)</textarea>
			<br /><span class="instruction">
				$tlang.getString("sinfo.display2")
			</span>
		</p>
		#if ($!isCourseSite && $!skins.size() > 0)
			<p class="shorttext">
				<label for="skin">
					$tlang.getString("sinfo.appear")
				</label>
				<select name="skin" id="skin">
					#foreach($skin in $!skins)
						#set($url="")
						#set($url=$!skin.Url)
						<option value ="$url"
							#if($selectedSkin == $url)
								selected="selected"
							#end
						>
						$skin.Name
						</option>
					#end
				</select>
			</p>
		#else
			<div class="shorttext">
				<label for="iconUrl">$tlang.getString("newsc.icon")</label>
				<input type="text" name="iconUrl" id="iconUrl" size="40" value="$!validator.escapeHtml($iconUrl)" />
			</div>
		#end
		<p class="shorttext">
			<label for="siteContactName">
				$tlang.getString("sinfo.scontact")
			</label>
			<input type="text" name="siteContactName" id="siteContactName" size="20" value="$!form_site_contact_name" />
		</p>
		<p class="shorttext">
			<label for="siteContactEmail">
				$tlang.getString("sinfo.scontact2")
			</label>
			<input type="text" name="siteContactEmail" id="siteContactEmail" size="20" value="$!form_site_contact_email" />
		</p>
		<input type="hidden" name="back" value="$back" />
		<input type="hidden" name="template-index" value="2" />
		<input type="hidden" name="continue" value="3" />
		<p class="act">
			<input type="submit" accesskey="s" class="active" name="eventSubmit_doContinue" value="$tlang.getString('gen.continue')" />
			#if ($!siteTypes.size() > 1)
				<input type="submit" accesskey="b" name="eventSubmit_doBack" value="$tlang.getString('gen.back')" />
			#end
			<input type="submit" accesskey="x" name="eventSubmit_doCancel_create" value="$tlang.getString('gen.cancel')" />
		</p>
	</form>
</div>

