##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/sitesetup/chef_site-addParticipant-notification.vm,v 1.1 2005/04/14 20:22:06 ggolden.umich.edu Exp $ -->
## Add a participant to the worksite
<div class ="portletBody">
	#if ($alertMessage)<div class="alertMessage">$tlang.getString("gen.alert") $validator.escapeHtml($alertMessage)</div>#end
	<h3 class="insColor insBak insBor">
		$tlang.getString("add.addpart") $validator.escapeHtml($title)...
	</h3>
	<p class="instruction">
		$tlang.getString("addnoti.anemail")
	</p>
	<form action="#toolForm("SiteAction")" method="post">
		<p class="checkbox">
			<input type="radio" name="notify" value="true" id="notify_yes" 
				#if ($notify)
					checked="checked"
				#end
			/>
			<label for="notify_yes">
				$tlang.getString("addnoti.sendnow")
			</label>
		</p>
		<p class="checkbox">
			<input type="radio" name="notify" value="false" id="notify_no"
				#if (!$notify)
					checked="checked"
				#end
			/>
			<label for="notify_no">
				$tlang.getString("addnoti.dontsend")
			</label>
		</p>

		<input type="hidden" name="continue" value="22" />
		<input type="hidden" name="back" value="$backIndex" />
		<input type="hidden" name="template-index" value="21" />
		<p class ="act">
			<input type="submit" class="active"  name="eventSubmit_doContinue" value="$tlang.getString('gen.continue')" />
			<input type="submit" name="eventSubmit_doBack" value="$tlang.getString('gen.back')" />
			<input type="submit" name="eventSubmit_doCancel" value="$tlang.getString('gen.cancel')" />
		</p>
	</form>
</div>

