##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/sitesetup/chef_site-newSiteFeatures.vm,v 1.1 2005/04/14 20:22:06 ggolden.umich.edu Exp $ -->
<div class="portletBody">
	#if ($!isProjectSite)
		<h3>
			$tlang.getString("feat.project.tools")
		</h3>
	#elseif ($!isCourseSite)
		<h3>
			$tlang.getString("feat.course.tools")
		</h3>
	#else
		<h3>
			$tlang.getString("feat.other.tools")
		</h3>
	#end
	#if ($alertMessage)<div class="alertMessage">$tlang.getString("gen.alert") $validator.escapeHtml($alertMessage)</div>#end
	<p class="step">
		$tlang.getString("feat.choose")
	</p>
	<form name="featuresForm" action="#toolForm("$action")" method="post">
		<input type="hidden" name="option" value="add" />
		<input type="hidden" name="eventSubmit_doAdd_features" value="x" />                                     
			<table class="listHier lines nolines" cellspacing="0" summary="$tlang.getString("feat.tools.list.summary")"  style="width:auto">
				<tr #if($check_home) class="selectedSelected"  #end id="row-home">
					<td>
						<input type="checkbox" name="selectedTools" value="home" id="home"
							#if ($check_home)
								checked="checked"
							#end
							onchange="this.checked ? document.getElementById('row-home').className='selectedSelected':document.getElementById('row-home').className=''"
						/>
					</td>
					<td>
						<label for="home">
							$tlang.getString("java.home")
						</label>
					</td>	
					<td>
						$tlang.getString("feat.forv")
					</td>
				</tr>
				#set ($rowCount=0)
				#foreach($tool in $toolRegistrationList)
				#set ($rowCount=$rowCount + 1)
					#set($toolId = $tool.getId())
					#if ($!defaultTools.indexOf($toolId) != -1)
					<tr style="display:none">
						<td>
						<input type="hidden" name="selectedTools" value="$toolId" />
							
						</td>
					</tr>
					#end
					<tr	#if ($!defaultTools.indexOf($toolId) != -1) class="selectedSelected" #end
							#if($toolRegistrationSelectedList)
								#foreach($tId in $toolRegistrationSelectedList)
									#if ($tId.indexOf($toolId) != -1)
										class="selectedSelected"
									#end
								#end
							#end
						id="row-$rowCount">
						<td>	
							<input type="checkbox" name="selectedTools" value="$toolId" id="$toolId"
								#if ($!defaultTools.indexOf($toolId) != -1)
									checked="checked" disabled="disabled"
								#else
									onchange="this.checked ? document.getElementById('row-$rowCount').className='selectedSelected' :document.getElementById('row-$rowCount').className=''"
									#if($toolRegistrationSelectedList)
										#foreach($tId in $toolRegistrationSelectedList)
											#if ($tId.indexOf($toolId) != -1)
												checked="checked"
											#end
										#end
									#end
								#end
							/>
						</td>
						<td>
								<label for="$toolId">
									#if ($!multipleToolIdTitleMap.containsKey($toolId))
										$validator.escapeHtml($!multipleToolIdTitleMap.get($toolId))
									#else
										$validator.escapeHtml($tool.getTitle())
									#end
								</label>
						</td>
						<td>
								$tool.getDescription()
						</td>
					</tr>	
				#end
			</table>
		#if (!$existSite && $sites.size() > 0)	
			<h4>
				$tlang.getString("feat.reuse")
			</h4>
			<p class="checkbox">
				<input type="radio" id="import_no" name="import" value="FALSE" #if(!$import)checked="checked"#end onclick="document.featuresForm.importSites.disabled=true;" />
				<label for="import_no">
					$tlang.getString("feat.thanks")
				</label>
			</p>
			<p class="checkbox">
				<input type="radio" id="import_yes" name="import" value="TRUE" #if($import)checked="checked"#end onclick="document.featuresForm.importSites.disabled=false;" />
				<label for="import_yes">
					$tlang.getString("feat.yesfrom")
				</label>
			</p>
			<select name="importSites" class="indnt2" id="importSites" size="5" multiple="multiple" #if(!$import)disabled="disabled"#end >
				#foreach	($site in $sites)
					#set($siteSelected = false)
					#foreach($s in $importSites.keys())
						#if ($s.Id == $site.Id)
							#set($siteSelected = true)
						#end
					#end
					<option value="$site.getId()" #if ($siteSelected)selected="selected"#end>$validator.escapeHtml($site.getTitle())</option>
				#end
			</select>
			<p class="instruction">
				$tlang.getString("feat.note")
			</p>
		#end
		<input type="hidden" name="back" value="$!backIndex" />
		<input type="hidden" name="templateIndex" value="$!templateIndex" />
		<p class="act">
			<input type="button" name="Continue" 
					value="$tlang.getString('gen.continue')"
					accesskey="s"
					class="active"
					onclick="document.featuresForm.option.value='continue';javascript:document.featuresForm.submit();" />
			#if (!$!existSite)
			<input type="button" value="$tlang.getString('gen.back')" 
					name="Back" 
					accesskey="b"
					onclick="document.featuresForm.option.value='back';javascript:document.featuresForm.submit();" />
			#end
			<input type="button" value="$tlang.getString('gen.cancel')" 
					name="Cancel"
					accesskey="x"
					onclick="document.featuresForm.option.value='cancel';javascript:document.featuresForm.submit();" />
		</p>
	</form>
</div>
