##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/sitesetup/chef_site-siteInfo-editAccess-globalAccess-confirm.vm,v 1.1 2005/04/14 20:22:06 ggolden.umich.edu Exp $ -->
## Confirming global access for site
<div class ="chefPortletContainer">
	<h3>
 		$tlang.getString("ediacccon.conglo") $validator.escapeHtml($title)
	</h3>
	<div class ="chefPortletContent">
		#if ($alertMessage)<div class="alertMessage">$tlang.getString("ediacccon.alert") $validator.escapeHtml($alertMessage)</div>#end
		<div class="chefPageviewTitle">
			$tlang.getString("ediacccon.youhav")
			#if ($!form_joinable)
				$tlang.getString("ediacccon.joiwit") $!form_joinerRole
			#else
				$tlang.getString("ediacccon.unjoi")
			#end
			
			<br /><br />
			#if ($!form_joinable)
				$tlang.getString("ediacccon.makin")
			#else
				$tlang.getString("ediacccon.makin2")
			#end
		</div>
		<br />
		<form action="#toolForm("SiteAction")" method="post">
			<input type="hidden" name="back" value="23" />
			<input type="hidden" name="cancel" value="18">
			<input type="hidden" name="template-index" value="24" />
			<div class ="act">
				<input type="submit" name="eventSubmit_doSiteinfo_save_globalAccess" value="$tlang.getString("ediacccon.fin")" />
				<input type="submit" name="eventSubmit_doBack" value="$tlang.getString("ediacccon.bac")" />
				<input type="submit" name="eventSubmit_doCancel" value="$tlang.getString("ediacccon.can")" />
			</div>
		</form>
	</div>
</div>
