##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/sitesetup/chef_site-siteInfo-import.vm,v 1.4 2005/06/06 20:06:02 htripath.indiana.edu Exp $ -->
<div class="portletBody">
	<h3>
		$tlang.getString("sitinfimp.reuse")
	</h3>
	#if ($alertMessage)
		<div class="alertMessage">$tlang.getString("sitinfimp.alert") $alertMessage</div>
		<div class="clear"></div>
	#end
	<form name="featuresForm" action="#toolForm("$action")" method="post">
		## import is possible when use has maintain rights on at least one site other than the current one
		#if ($!sites && $sites.size()>1)
			<p class="step">
				$tlang.getString("sitinfimp.reuse")
			</p>
			<p class="instruction">
				$tlang.getString("sitinfimp.youcan")
			</p>
			#set ($siteIDCounter =0)
			#foreach($site in $sites)
			#set ($siteIDCounter = $siteIDCounter + 1)
				#if ($!currentSite && ($site.Id != $!currentSite.Id))
					<div class="checkbox">		
						<label for="site_$siteIDCounter">
							<input type="checkbox" name="importSites" id="site_$siteIDCounter" value="$site.getId()" 
								#if ($!importSiteList.containsKey($!site))
									checked="checked"
								#end
							 />
							$validator.escapeHtml($site.getTitle())
						</label>
					</div>	
				#end
			#end
			<input type="hidden" name="back" value="$!backIndex" />
			<input type="hidden" name="templateIndex" value="$!templateIndex" />
			<input type="hidden" name="templateIndex" value="28" />
			<input type="hidden" name="continue" value="27" />
			<p class="act">
				<input type="submit" accesskey="s" class="active" name="eventSubmit_doContinue" value="$tlang.getString("sitinfimp.con")" onclick="SPNR.disableControlsAndSpin( this, null );" />
				<input type="submit" accesskey="x" name="eventSubmit_doCancel" value="$tlang.getString("sitinfimp.can")" onclick="SPNR.disableControlsAndSpin( this, null );" />
			</p>
		#else
			## show "no site available warning"
			<p class="instruction">
				$tlang.getString("import.noOtherSite")
			</p>
			<p class="act">
				<input type="submit" accesskey="x" name="eventSubmit_doCancel" value="$tlang.getString("sitinfimp.can")" onclick="SPNR.disableControlsAndSpin( this, null );" />
			</p>
		#end
		<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
	</form>
</div>
