##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/sitesetup/chef_site-newSiteConfirm.vm,v 1.3 2005/05/23 04:04:12 ggolden.umich.edu Exp $ -->
<div class="portletBody">
	<h3>
		$tlang.getString("newsc.confirm")
	</h3>
	#if ($alertMessage)<div class="alertMessage">$tlang.getString("gen.alert") $validator.escapeHtml($alertMessage)</div>#end
	<p class="step">
		$tlang.getString("newsc.selection")
	</p>
	<p>
		$tlang.getString("newsc.please")
		#if ($!isCourseSite && $!manualAddNumber)
			$tlang.getString("newsc.ifthis") 
		#else
			$tlang.getString("newsc.ifthis2") 
		#end
		$tlang.getString("newsc.ifyou")
	</p>
	#if ($isCourseSite)
		$tlang.getString("newsc.youare")
		<ul>
			#foreach ($item in $!selectedProviderCourse)
				<li>$item </li>
			#end
		</ul>
		#if ($!manualAddNumber)
			<ul>
				#foreach ($k in [0..$manualAddNumber])
						#set($courseFieldValues = $!fieldValues.get($k))
						#set($bound = $!form_requiredFields.size())
						#set($bound = $bound - 1)
						<li>
							#foreach ($fieldCount in [0..$!bound])
								$!courseFieldValues.get($fieldCount)
							#end
						</li>
				#end
			</ul>
		#end
		<br />
	#end
	<form name="addSiteForm" action="#toolForm("$action")" method="post">
		<input type="hidden" name="eventSubmit_doAdd_site_option" value="x" />
		<input type="hidden" name="option" value="cancel" />
		<table class ="itemSummary" cellspacing="0" summary="$tlang.getString("newsc.list.summary")">
			<tr>
				<th>
					$tlang.getString("newsc.site")
				</th>
				<td>
					$validator.escapeHtml($title)
				</td>
			</tr>
			<tr>
				<th>
					$tlang.getString("newsc.descr")
				</th>
				<td>
					$validator.escapeHtml($description)
				</td>
			</tr>
			<tr>
				<th>
					$tlang.getString("newsc.short")
				</th>
				<td>
					$validator.escapeHtml($short_description)
				</td>
			</tr>
			<tr>
				<th>
				$tlang.getString("newsc.tools")
				</th>
				<td>
					#if ($check_home)
						$tlang.getString("java.home")<br />
					#end
					#foreach($tool in $toolRegistrationList)
						#set($toolId = $tool.Id)
						#if ($toolRegistrationSelectedList.contains($tool.Id))
							#if ($toolId.equals("sakai.mailbox"))
								$tool.Title: $emailId@$serverName <br />
							#elseif ($toolId.indexOf("sakai.news") != -1)
								$tool.Title: $validator.escapeHtml($!newsTitles.get($toolId)) <br />
							#elseif ($toolId.indexOf("sakai.iframe") != -1)
								$tool.Title: $validator.escapeHtml($!wcTitles.get($toolId)) <br />
							#else
								$tool.Title
								#foreach ($tId in $!importSiteTools.keys())
								#if ($tId == $toolId)
									(
										#set($importSiteIds = $importSiteTools.get($toolId))
										#foreach($importSiteId in $importSiteIds)
											#set($importSite = $siteService.getSite($importSiteId))
											$validator.escapeHtml($importSite.getTitle()),
										#end
									)
								#end
							#end
							<br />
							#end
						#end
					#end
				</td>
			</tr>
			<tr> 
				<th>
					$tlang.getString("newsc.avail")
				</th>
				<td>
					#if ($!published)
						#if ($!joinable)
							$tlang.getString("newsc.sitecan")
						#else
							$tlang.getString("newsc.sitepart")
						#end
					#else
						## unpublished site
						$tlang.getString("newsc.siteown")
					#end
				</td>
			</tr>
			<tr>
				<th>
					$tlang.getString("sitegen.siteinfolist.iclu")
				</th>
				<td>
					#if ($!published && $!include)
						$tlang.getString("newsc.yes")
					#else
						$tlang.getString("newsc.no")
					#end
				</td>
			</tr>
			#if ($!isCourseSite && $!skins.size() > 0)
				<tr>
					<th>
						$tlang.getString("newsc.appear")
					</th>
					<td>
						#set($selectedUrl="")
						#set($selectedUrl=$!selectedIcon)
						#foreach($skin in $!skins)
							#set($skinUrl="")
							#set($skinUrl=$!skin.Url)
							#if($selectedUrl == $skinUrl)
								$skin.Name
							#end
						#end
					</td>
				</tr>
			#else
				<tr>
					<th>
						$tlang.getString("newsc.icon")
					</th>
					<td>
						$!validator.escapeHtml($!iconUrl)
					</td>
				</tr>
			#end
			<tr>
				<th>
					$tlang.getString("newsc.sitecont")
				</th>
				<td>
					$validator.escapeHtml($!siteContactName)
				</td>
			</tr>
			<tr>
				<th>
					$tlang.getString("newsc.sitecont2")
				</th>
				<td>
					$validator.escapeHtml($!siteContactEmail)
				</td>
			</tr>
		</table>
		<input type="hidden" name="back" value="18" />
		<input type="hidden" name="template-index" value="10" />
		<input type="hidden" name="continue" value="0" />
		<div class="act">
			<input
				type="button"
				class="active"
				#if ($!isCourseSite && $!manualAddNumber)
					#set($name = "$tlang.getString('newsc.reqsite')")
				#else
					#set($name="$tlang.getString('newsc.crsite')")
				#end
				name="addSite"
				id="addSite" 
				accesskey="s"
				value="$!name"
				onclick="showNotif('submitnotif','addSite','addSiteForm'); document.addSiteForm.option.value='finish'; document.addSiteForm.submit(); return false;"
			/>
			<input
				class="disableme" 
				type="button" 
				name="back" 
				id="back" 
				accesskey="b"
				value="$tlang.getString('gen.back')"
				onclick="document.addSiteForm.option.value='back'; document.addSiteForm.submit(); return false;"
			/>
			<input
				class="disableme" 
				type="button" 
				name="cancel" 
				id="cancel" 
				accesskey="x"
				value="$tlang.getString('gen.cancel')"
				onclick="document.addSiteForm.option.value='cancel'; document.addSiteForm.submit(); return false;"
			/>
			<span id="submitnotif" style="visibility:hidden">$tlang.getString("gen.proces")</span>
		</div>
	</form>
</div>

