##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/sitesetup/chef_site-siteInfo-importMigrate.vm,v 1.0 2007/11/01 15:40:02 tnguyen.iupui.edu Exp $ -->
<div class="portletBody">
	#if($menu)#toolbar($menu)#end
	<h3>
		$tlang.getString("sitinfimp.reuse")
	</h3>
	#if ($alertMessage)
		<div class="sak-banner-error">$tlang.getString("sitinfimp.alert") $alertMessage</div>
	#end
	<form name="featuresForm" action="#toolForm("$action")" method="post">
		## import is possible when use has maintain rights on at least one site other than the current one
		#if ($!sites && $sites.size()>1)
			<p class="instruction">
				$tlang.getString("sitinfimp.replace")
			</p>
			<div class="panel-group" id="sitesAccordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#sitesAccordion" href="#mysites">$tlang.getString("sitinfimp.mysites") ($sites.size())</a>
						</h4>
					</div>
					<div id="mysites" class="panel-collapse collapse in">
						<div class="panel-body">
							#set ($siteIDCounter =0)
							#foreach($site in $sites)
								#set ($siteIDCounter = $siteIDCounter + 1)
								#if ($!currentSite && ($site.Id != $!currentSite.Id))
									<div class="radio">	
										<label for="site_$siteIDCounter">
											<input type="radio" name="importSites" id="site_$siteIDCounter" #if ($!importSiteList.containsKey($!site)) checked="checked"#end value="$site.getId()"/>
											$formattedText.escapeHtml($site.getTitle())
										</label>
									</div>
								#end
							#end
						</div>
					</div>
				</div>

			#if ($!hiddenSites && $hiddenSites.size() > 0)
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#sitesAccordion" href="#hiddenSites">$tlang.getString("sitinfimp.hiddensites") ($hiddenSites.size())</a>
						</h4>
					</div>
					<div id="hiddenSites" class="panel-collapse collapse">
						<div class="panel-body">
							<p class="instruction">
								tlang.getString("sitinfimp.hiddensites.info")
							</p>
							#foreach($hiddenSite in $hiddenSites)
								#set ($siteIDCounter = $siteIDCounter + 1)
								#if ($!currentSite && ($hiddenSite.Id != $!currentSite.Id))
									<div class="radio">	
										<label for="site_$siteIDCounter">
											<input type="radio" name="importSites" id="site_$siteIDCounter" #if ($!importSiteList.containsKey($!hiddenSite)) checked="checked" #end value="$hiddenSite.getId()"/>
											$formattedText.escapeHtml($hiddenSite.getTitle())
										</label>
									</div>
								#end
							#end
						</div>
					</div>
				</div>
			#end
			</div>

			<input type="hidden" name="back" value="58" />
			<input type="hidden" name="templateIndex" value="59" />
			<input type="hidden" name="continue" value="60" />
			<p class="act">
				<input type="submit" accesskey="s" class="active" name="eventSubmit_doContinue" value="$tlang.getString("sitinfimp.con")" onclick="SPNR.disableControlsAndSpin( this, null );" />
				<input type="submit" accesskey="b" name="eventSubmit_doBack" value="$tlang.getString('gen.back')" onclick="SPNR.disableControlsAndSpin( this, null );" />
				<input type="submit" accesskey="x" name="eventSubmit_doCancel" value="$tlang.getString("sitinfimp.can")" onclick="SPNR.disableControlsAndSpin( this, null );" />
			</p>
		#else
			## show "no site available warning"
			<p class="instruction">
				$tlang.getString("import.noOtherSite")
			</p>
			<p class="act">
				<input type="submit" accesskey="x" name="eventSubmit_doCancel" value="$tlang.getString("sitinfimp.can")" onclick="SPNR.disableControlsAndSpin( this, null );" />
			</p>
		#end
		<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
	</form>
</div>
