<script type="text/javascript">
      $(document).ready(function() {
          $(".listHier :checked").parents("tr").addClass("selectedSelected");
                    $(".listHier :checkbox").click(function(){
                        if (this.checked) {
                                        $(this).parents("tr").addClass("selectedSelected");
                        }
                                    else{
                                        $(this).parents("tr").removeClass("selectedSelected");
                                    }
                    });
        $('input[name="import"]').click (function(e){
            if ($(e.target).attr('id') === 'import_yes') {
                $('#importSitesReq').show();
                $('#importSites').attr('title', '$tlang.getString("feat.select.title") $tlang.getString("feat.select.title.req")')
            }
            else{
                $('#importSitesReq').hide();
                $('#importSites').attr('title', '$tlang.getString("feat.select.title")')
            }
        })
      });
</script>
            <table class="listHier lines nolines" cellspacing="0" summary="$tlang.getString("feat.tools.list.summary")"  style="width:auto">
                #if ($!defaultTools.indexOf($!homeToolId) != -1)
                    <tr style="display:none">
                        <td>
                        <input type="hidden" name="selectedTools" value="$!homeToolId" />
                        </td>
                    </tr>
                #end
                <tr id="row-home">
                    <td>
                        <input type="checkbox" name="selectedTools" value="$!homeToolId" id="home"
                            #if ($check_home)
                                checked="checked"
                            #end
                            #if ($!defaultTools.indexOf($!homeToolId) != -1)
                                checked="checked" disabled="disabled"
                            #end
                        />
                    </td>
                    <td>
                        <label for="home">
                            $tlang.getString("java.home")
                            ## only show when title is customized
                            #if ($!allowPageOrderHelper)
                                #set($currentTitle = $validator.escapeHtml($!toolRegistrationTitleList.get($!homeToolId)))
                                #if (!$currentTitle.equals($tlang.getString("java.home")))
                                    ($currentTitle)
                                #end
                            #end
                        </label>
                    </td>   
                    <td>
                        $tlang.getString("feat.forv")
                    </td>
                </tr>
                ## list those extra tools (added outside Site Info tool with tool id not listed as the allowed tool for current site type) as hidded input
                #foreach($tool in $!extraSelectedToolList)
                    <input type="hidden" name="selectedTools" value="$tool" />
                #end
                #set ($rowCount=0)
                #foreach($tool in $toolRegistrationList)
                    #set($toolId = $tool.getId())
                    #if (!$toolId.equals("sakai.web.168"))
                        ## SAK-22108: exclude the Basic LTI tools, since they would be listed separately down the list
                        #set ($rowCount=$rowCount + 1)
                        #if ($!defaultTools.indexOf($toolId) != -1)
                        <tr style="display:none">
                            <td>
                            <input type="hidden" name="selectedTools" value="$toolId" />
                                
                            </td>
                        </tr>
                        #end
                        <tr id="row-$rowCount">
                            <td>
                                <input type="checkbox" name="selectedTools" value="$toolId" id="$toolId"
                                    #if ($!defaultTools.indexOf($toolId) != -1)
                                        checked="checked" disabled="disabled"
                                    #else
    ##                                  onchange="this.checked ? document.getElementById('row-$rowCount').className='selectedSelected' :document.getElementById('row-$rowCount').className=''"
                                        #if($toolRegistrationSelectedList)
                                        #foreach($tId in $toolRegistrationSelectedList)
                                                #if ($tId == $toolId)
                                                    checked="checked"
                                                #end
                                            #end
                                        #end
                                    #end
                                />
                            </td>
                            <td>
                                    <label for="$toolId">
                                        #if ($!multipleToolIdTitleMap.containsKey($toolId))
                                            #set($title = $validator.escapeHtml($!multipleToolIdTitleMap.get($toolId)))
                                        #else
                                            #set($title=$validator.escapeHtml($tool.getTitle()))
                                        #end
                                        $title
                                        ## only shown then title is customized
                                        #if ($!allowPageOrderHelper)
                                            #set($currentTitle = $validator.escapeHtml($!toolRegistrationTitleList.get($toolId)))
                                            #if (!$currentTitle.equals($title))
                                                ($currentTitle)
                                            #end
                                        #end
                                    </label>
                            </td>
                            <td>
                                    $tool.getDescription()
                                    #if ($!multipleToolIdTitleMap.containsKey($toolId))
                                        #set($properties = $!multipleToolConfiguration.get($toolId))
                                        #if (!$properties.isEmpty())
                                            ## show configurations
                                            (#foreach ($property in $!properties.keySet())
                                                $property = $validator.escapeHtml($properties.get($property)) 
                                            #end)
                                        #end
                                    #end
                            </td>
                        </tr>   
                    #end
                #end
            #if ($!ltiTools && !$!ltiTools.isEmpty())
                <tr>
                    <td colspan="3">
                        <p class="step">
                            $tlang.getString("feat.choose.external")
                        </p>
                    </td>
                </tr>
                    #foreach($ltiTool in $ltiTools.entrySet())
                        #set($toolId=$ltiTool.getKey())
                        #set($toolValues=$ltiTool.getValue())
                        <tr id="row-$rowCount">
                            <td>
                                <input type="checkbox" name="selectedLtiTools" value="$toolId" id="lti_$toolId"
                                ## show checked if the user has selected the tool and navigated back
                                #if($!selectedLtiTools && $selectedLtiTools.containsKey($toolId))
                                    checked="checked"
                                #elseif ($toolValues.get("selected"))
                                    checked="checked"
                                #end
                                />
                            </td>
                            <td>
                                <label for="lti_$toolId">
                                    $toolValues.get("title")
                                    #if ($selectedLtiTools.containsKey($toolId))
                                     ($selectedLtiTools.get($toolId).get("title"))
                                    #end
                                </label>
                            </td>
                            <td>
                                #set($toolDescription=$toolValues.get("description"))
                                #set($toolUsage=$toolValues.get("toolCount"))
                                $!toolDescription
                            </td>
                        </tr>
                    #end
            #end
        </table>
