<script type="text/javascript">
      $(document).ready(function() {
            setupCategTools();
       });
</script>


<div id="toolHolderWW">
    <div id="toolHolderW">
        <div id="collExpContainer">
            <a id="expandAll" href="#">+ expand all</a>
            <a id="contractAll" style="display:none" href="#"> - collapse all</a>
        </div>
        <ol id="toolHolder">
            #set ($groupCount = 0)
            #foreach ($mapEntry in $toolsByGroup.entrySet())
                #set ($escapedKey = "")
                #set ($groupCount = $groupCount  + 1)
                #set ($escapedKey = $mapEntry.key.replaceAll(" ", "_"))
                    <li id="$escapedKey" class="">
                        <h4 class="$escapedKey specialLink">
                            <a  #if ($groupCount ==1) class="open toggleNone"#else href="#" #end>
                                <span class="catTitle">$mapEntry.key</span>
                                <span class="checkedCount"></span>
                                #if ($groupCount == 1)
                                    <span class="sel_unsel_core">
                                        <em id="selectAll" class="selectAll" href="#" style="display: none;"> - select all</em>
                                        <em id="unSelectAll" class="selectAll" href="#" style="display: none;"> - unselect all</em>
                                    </span>
                                #end
                            </a>
                        </h4>
                        <ul class="toolGroup">

                            ## list those extra tools (added outside Site Info tool with tool id not listed as the allowed tool for current site type) as hidded input
                            #foreach($tool in $!extraSelectedToolList)
                                <input type="hidden" name="selectedTools" value="$tool" />
                            #end
                            
                            #foreach($tool in $mapEntry.value)
                                #set ($rowCount=0)
                                    #set($toolId = $tool.getId())
                                    #if (!$toolId.equals("sakai.web.168"))
                                        ## SAK-22108: exclude the Basic LTI tools, since they would be listed separately down the list
                                        #set ($rowCount=$rowCount + 1)
                                        #if ($!defaultTools.indexOf($toolId) != -1)
                                            <li style="display:none">
                                                <input type="hidden" name="selectedTools" value="$toolId" />
                                            </li>
                                        #end
                                        <li id="row-$rowCount">                                            
                                   			 #if ($!toolId.equals($!homeToolId)
                                    			#parse("/vm/sitesetup/toolGroupHomeDisplay.vm")
                                            ## SAK-29132 - Don't do anything if this is an instance of a multi-tool, it's handled down below
                                            #elseif ($multipleToolIdTitleMap.containsKey($toolId))
                                            <!-- Multi tool $toolId is handled below -->
                                    		#else 
                                            <div class="toolListControl">
                                                <input type="checkbox" name="selectedTools" value="$toolId" id="$toolId"
                                                #if ($tools.isSelected())
                                                	checked="checked"
                                                #end
                                                #if ($tool.isRequired())
                                                    disabled="disabled"
                                                #
                                                />
                                                <label for="$toolId">
                                                        #set($title=$validator.escapeHtml($tool.getTitle()))
                                                    #end
                                                    $title
                                                    ## only shown then title is customized
                                                    #if ($!allowPageOrderHelper)
                                                        #set($currentTitle = $validator.escapeHtml($!toolRegistrationTitleList.get($toolId)))
                                                        #if (!$currentTitle.equals($title))
                                                            ($currentTitle)
                                                        #end
                                                    #end
                                                </label>
                                            </div>
                                            <div class="toolListDesc textPanelFooter specialLink">
                                                    $tool.getDescription()
                                                    #if ($!multipleToolIdTitleMap.containsKey($toolId))
                                                        #set($properties = $!multipleToolConfiguration.get($toolId))
                                                        #if (!$properties.isEmpty())
                                                            ## show configurations
                                                            (#foreach ($property in $!properties.keySet())
                                                                $property = $validator.escapeHtml($properties.get($property)) 
                                                            #end)
                                                        #end
                                                    #end
                                                    #if ($tool.getMoreInfo() && ($tool.getMoreInfo() != ""))
                                                        <a class="moreInfoTool" id="moreInfoLink" title='$tool.getTitle()' href="$tool.getMoreInfo()" target="_blank">More info</a>
                                                     #end
                                            </div>
                                            #end                                            
                                        </li>
                                        ## add multi if required
                                        #if ($tool.hasMultiples())
                                        	#set($toolMultipleList = $toolGroupMultples.get($toolId)
                                        	#if ($toolMultipleList.size() > 0)
                                            	#parse("/vm/sitesetup/toolGroupMultiples.vm")
                                            #end
                                        #end                                                                                    
                                    #end
                            #end
                        </ul> 
                    </li>
                #end
        </ol>
    </div>

</div>

    <div id="toolSelectionList">
    <h4>Selected tools</h4>
    <div id="toolSelectionListMessage" style="display:none" class="instruction">No tools selected</div>
    <ul>
    </ul>
</div>
<div id="moreInfoHolder" style="display:none; height:500px;width:700px;overflow:auto"><img src="" id="moreImageSrc"/></div>
        
