//////////////////////////////
// EXTENDABLES: For Modules 
//////////////////////////////

%feedback {
  @include margin-padding(padding, $feedback__padding);
  @include margin-padding(margin, $feedback__margin);
  color: $feedback__color;
  background-color: $feedback__background;
  @include border-outline(border, $feedback__border-width, $feedback__border-style, $feedback__border-color);
  @include border-radius($feedback__border-radius);
  background-clip: padding-box;

  a {
    color: $feedback__color;
    @include bold-italic-uppercase-variant($feedback__a__font-weight, $feedback__a__font-style, $feedback__a__text-transform, $feedback__a__font-variant);
    text-decoration: $feedback__a-text-decoration;
  }
}

%error {
  background-color: $feedback--error__background;
  color: $feedback--error__color;
  border-color: $feedback--error__border-color;

  a {
    color: $feedback--error__color;
    
    &:visited,
    &:focus {
      color: darken($feedback--error__color, 10%);
    }
    
    &:hover {
      color: lighten($feedback--error__color, 10%);
    }
  }
}

%warning {
  background-color: $feedback--warning__background;
  color: $feedback--warning__color;
  border-color: $feedback--warning__border-color;

  a {
    color: $feedback--warning__color;
    
    &:visited,
    &:focus {
      color: darken($feedback--warning__color, 10%);
    }
    
    &:hover {
      color: lighten($feedback--warning__color, 10%);
    }
  }
}

%validation {
  background-color: $feedback--validation__background;
  color: $feedback--validation__color;
  border-color: $feedback--validation__border-color;

  a {
    color: $feedback--validation__color;
    
    &:visited,
    &:focus {
      color: darken($feedback--validation__color, 10%);
    }
    
    &:hover {
      color: lighten($feedback--validation__color, 10%);
    }
  }
}

%success {
  background-color: $feedback--success__background;
  color: $feedback--success__color;
  border-color: $feedback--success__border-color;

  a {
    color: $feedback--success__color;
    
    &:visited,
    &:focus {
      color: darken($feedback--success__color, 10%);
    }

    &:hover {
      color: lighten($feedback--success__color, 10%);
    }
  }
}

%information {
  background-color: $feedback--information__background;
  color: $feedback--information__color;
  border-color: $feedback--information__border-color;

  a {
    color: $feedback--information__color;

    &:visited,
    &:focus {
      color: darken($feedback--information__color, 10%);
    }

    &:hover {
      color: lighten($feedback--information__color, 10%);
    }    
  }
}
