//////////////////////////////
// VARIABLES: For Modules 
//////////////////////////////

//////////////////////////////
// DEFAULT VARIABLES
//////////////////////////////

// Feedback
$feedback__background: #d9edf7 !default;
$feedback__padding: 0.125em 1em !default;
$feedback__margin: 1em !default;
$feedback__color: #3a87ad !default; 
$feedback__border-width: 1px !default; 
$feedback__border-style: solid !default;
$feedback__border-color: #bce8f1 !default;
$feedback__border-radius: 0.5em !default;
$feedback__a__font-weight: true !default; // bold
$feedback__a__font-style: false !default;
$feedback__a__text-transform: false !default;
$feedback__a__font-variant: false !default;
$feedback__a-text-decoration: underline !default;

/// feedback error
$feedback--error__background: #fbb !default;
$feedback--error__color: #b10804 !default;
$feedback--error__border-color: #c99 !default;

/// feedback warning
$feedback--warning__background: #fcf8e3 !default;
$feedback--warning__color: #A66208 !default;
$feedback--warning__border-color: mix($feedback--warning__color, $feedback--warning__background, 25%) !default;

$feedback--validation__color: #b54e4c !default;
$feedback--validation__background: #fee !default;
$feedback--validation__border-color: #fbb !default;

$feedback--success__color: #1e7b20 !default;
$feedback--success__background: #dff0d8 !default;
$feedback--success__border-color: #c4e4a3 !default;

$feedback--information__color: #396987 !default;
$feedback--information__background: #bce8f1 !default;
$feedback--information__border-color: #96e2f0 !default;