//////////////////////////////
// VARIABLES: For Modules 
//////////////////////////////
$feedback-border-width: 1px; 

$feedback-error-background: #fbb;
                                      
$feedback-warning-color: #A66208;
$feedback-warning-background: #fcf8e3;
$feedback-warning-border-color: mix($feedback-warning-color, $feedback-warning-background, 25%); // #fbeed5

$feedback-validation-color: #b54e4c;
$feedback-validation-background: #fee;
$feedback-validation-border-color: #fbb;

$feedback-success-color: #1e7b20;
$feedback-success-background: #dff0d8;
$feedback-success-border-color: #c4e4a3;

$feedback-information-color: #396987;
$feedback-information-background: #bce8f1;
$feedback-information-border-color: #96e2f0;


//////////////////////////////
// DEFAULT VARIABLES
//////////////////////////////

// Feedback
$feedback-background: #d9edf7 !default;
$feedback-padding: 0.125em 1em !default;
$feedback-margin: 1em !default;
$feedback-color: #3a87ad !default; 
$feedback-border-width: false !default; 
$feedback-border-style: solid !default;
$feedback-border-color: #bce8f1 !default;
$feedback-border-radius: 0.5em !default;
$feedback-a-font-bold: true !default; // bold
$feedback-a-font-italic: false !default;
$feedback-a-font-uppercase: false !default;
$feedback-a-font-variant: false !default;
$feedback-a-text-decoration: underline !default;

/// feedback error
$feedback-error-background: #fcc !default;
$feedback-error-color: #b10804 !default;
$feedback-error-border-color: #c99 !default;

/// feedback warning
$feedback-warning-background: #fff7bd !default;
$feedback-warning-color: #947d72 !default;
$feedback-warning-border-color: #947d72 !default;