<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd" >

<body>
<wicket:panel>
	<button type="submit" wicket:id="prev"><wicket:message key="pager_textPrev"></wicket:message></button>
	<div class="sakai-table-pagerPageSize">
		<span wicket:id="pageSize">
			<!--This span becomes a <select>-->
		</span>
	</div>
	<button type="submit" class="active" wicket:id="next"><wicket:message key="pager_textNext"></wicket:message></button>
</wicket:panel>
</body></html>
