<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd" >

<body>
<wicket:panel>
	<tr class="headers sakai-table-headers">
		<wicket:container wicket:id="headers">
			<th wicket:id="header"><span wicket:id="label"></span></th>
		</wicket:container>
		<th wicket:id="sortToggle" class="sakai-sortToggle">
			<button class="sakai-hideSortButton button-inline">Close</button>
			<button class="sakai-showSortButton button-inline">Sort By...</button>
		</th>
	</tr>
</wicket:panel>
</body></html>