.sakai-search-input {
  border: 1px var(--topNav-border-color) solid;
  background-color: var(--sakai-background-color);
  position: relative;
  height: 37px;
  border-radius: 4px;
  &.flat-bottom {
    border-radius: 4px 4px 0 0;
  }
  
  input {
    background-color: var(--sakai-background-color);
    color: var(--sakai-text-color);
    position: absolute;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 0;
    padding: 10px 10px 10px 34px;
    &::placeholder {
      color: var(--sakai-text-color);
    }
  }

  sakai-icon {
    position: absolute;
    left: 10px;
    top: 9px;
    color: var(--sakai-text-color);
  }

  a {
    display: inline-block;
    width: $top-header-icon-size;
    height: $top-header-icon-size;
    text-decoration: none;
    &:hover, &:focus {
      color: var(--topNav-text-color);
      background: rgba(0,0,0,.2);
      border-radius:50%;
    }
    &:active {
      background: rgba(0,0,0,.4);
    }
  }
}

.sakai-search-results {
  position: absolute;
  background-color: var(--sakai-background-color-1);
  color: var(--sakai-text-color-1);
  border: 1px solid var(--sakai-border-color);
  border-radius: 0 0 4px 4px;
  padding: 5px;
  z-index: 99;
  max-height: calc(100vh - 37px);
  width: calc(100% - 80px);
  left: 40px;
  margin: 0 8px 0 5px;
  overflow-y: scroll;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);

  .search-results-header {
    display: flex;
    border-bottom: 1px solid var(--sakai-border-color);
    margin-bottom: 7px;

    div:first-child {
      margin-right: auto;
      font-weight: bold;
      font-size: 18px;
    }

    div:last-child {
      margin-left: auto;
    }
  }

  .search-results-title {
    font-size: 16px;
    font-weight: bold;
  }

  a {
    color: var(--sakai-text-color-1);
    text-decoration: none;
  }

  .search-result-container {
    padding: 7px;
    padding-bottom: 12px;
    border-bottom: 2px solid var(--sakai-border-color);
    text-align: left;

    &.no-results {
      display: flex;
      font-weight: bold;
      justify-content: center;
    }

    a {
      display: inline-block;
      text-decoration: none;
      width: 100%;
    }

    .search-result-title-block {
        margin-bottom: 7px;
        margin-top: 7px;
    }

    .search-result-title-label {
      font-weight: bold;
      margin-right: 10px;
      color: var(--sakai-text-color);
      font-size: 16px;
    }

    .search-result-title {
      font-weight: bold;
      font-size: 16px;
    }

    .search-result-site-title {
      font-weight: bold;
    }

    .search-result-tool-icon {
      font-size: 1.5em;
      margin-right: 10px;
    }

    margin-bottom: 15px;

    .search-result {
      font-size: 14px;
      color: var(--sakai-text-color);

    }

    .search-result-toolname {
      font-weight: bold;
    }
  }

  .pager-previous-link {
    margin-right: 50px;
  }
}

#mastLogin sakai-search {
  width: 200px;
  background-color: var(--sakai-background-color);

  .sakai-search-input {
    height: 33px;
    border-radius: 0px;
    &.flat-bottom {
      border-radius: 0px;
    }
  }

  input {
    color: var(--topNav-text-color);
    &::placeholder {
      color: var(--topNav-text-color);
    }
  }

  .sakai-search-results {
    @media #{$phone} {
      width: 100%;
      left: 0px;
    }
  }

  sakai-icon {
    top: 3px;
  }
}

