<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app 
		xmlns="http://java.sun.com/xml/ns/j2ee" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd"
		version="2.5">

	<display-name>sakai.message.bundle.manager</display-name>

	<!-- Sakai Request Filter -->
	<filter>
		<filter-name>sakai.request</filter-name>
		<filter-class>org.sakaiproject.util.RequestFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sakai.request</filter-name>
		<servlet-name>sakai.message.bundle.manager</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	
	<!-- Dandelion filter definition and mapping -->
	<filter>
		<filter-name>dandelionFilter</filter-name>
		<filter-class>com.github.dandelion.core.web.DandelionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>dandelionFilter</filter-name>
		<servlet-name>spring-mvc</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
  	<filter-mapping>
		<filter-name>dandelionFilter</filter-name>
		<servlet-name>dandelionServlet</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	
	<!-- Sakai Tool Listener -->
	<listener>
		<listener-class>org.sakaiproject.util.ToolListener</listener-class>
	</listener>

	<!-- Sakai Spring Listener -->
	<listener>
		<listener-class>org.sakaiproject.util.SakaiContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>sakai.message.bundle.manager</servlet-name>
		<servlet-class>org.sakaiproject.mbm.servlet.SakaiToolServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
		<init-param>
			<param-name>index</param-name>
			<param-value>/index</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>spring-mvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring-mvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>

	<!-- Dandelion servlet definition and mapping -->
	<servlet>
		<servlet-name>dandelionServlet</servlet-name>
		<servlet-class>com.github.dandelion.core.web.DandelionServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dandelionServlet</servlet-name>
		<url-pattern>/dandelion-assets/*</url-pattern>
	</servlet-mapping>
</web-app>
