//////////////////////////////
// MODULES: Styles that are layout independent 
//////////////////////////////

@import "_skipNav_variables";

.Mrphs- {

   &skipNav {
    background: nth($dark-grey, 5);
    display: block;
    z-index: 10;
    position: relative;
    @include clearfix($extend: true); // https://github.com/team-sass/toolkit#clearfix

    &:before {
      font-size: $sakai-logo-mobile__font-size;
      position: absolute;
      left: calc( 50% - ( #{$sakai-logo-mobile__font-size} / 2 ) ); // http://caniuse.com/calc (this is only visible on mobile so no need to support old IE)
      padding: 0;
      color: nth($light-grey, 6);
    }

    &__menu {
      margin: 0;
      padding: 0;
      display: block;
      list-style-type: none;

      &item {
        display: inline-block;
        float: left;
        font-size: 2em;

        a {
          color: nth($secondary, 1);
          padding: 0;

          &:hover,
          &:focus {
            text-decoration: none;
            border: none;
          }
        }

        span {
          display: none;
        }

        &-__content {
          display: none; // hide
        }

        &--worksite {
          float: right;

          a:before {
            margin: 0;
          }

          .is-logged-out & {
            display: none;
          }
        }
      }
    }
  }
}

@include generate-icons($skipNav-icons, before, '.Mrphs-skipNav__menuitem--', 'ico-font-icons');

@include generate-icons($header-icon, before, '.Mrphs-', 'ico-font-icons');