//////////////////////////////
// VARIABLES: For Modules specific styles 
//////////////////////////////

$sakai-logo-mobile__font-size: 2em !default;

$skipNav-icons: (
  'tools a': '\f0ca', 
  'worksite a': '\f0c9'
);

$header-icon: (
  skipNav: '\e600'
);