<textarea id="commons-inplace-post-editor-{{postId}}" style="width: 100%; resize: none">{{{content}}}</textarea>
<div>
    <button id="commons-inplace-post-editor-post-button-{{postId}}">Post</button>
    <button onclick="commons.utils.cancelPostEdit('{{postId}}');">Cancel</button>
</div>
