    <li id="commons-main-link" role="menuitem"><span class="current"><a href="javascript:;">{{tr 'menu_main'}}</a></span></li>
    <li id="commons-permissions-link" role="menuitem"><span><a href="javascript:;">{{tr 'permissions'}}</a></span></li>
