//////////////////////////////
// EXTENDABLES: For Modules 
//////////////////////////////

%pagination {
  font-family: $pagination__font-family;
  li {
    display: $pagination__li__display;
    @include margin-padding(margin, $pagination__li__margin, $pagination__li__margin--position);
    text-indent: $pagination__text-indent;
  }
  a {
    display: $pagination__a__display;
    @include margin-padding(padding, $pagination__a__padding);
    line-height: $pagination__a__line-height;
    @include margin-padding(margin, $pagination__a__margin);
    @include border-outline(border, $pagination__a__border-width, $pagination__a__border-style, $pagination__a__border-color);
    @include border-radius($pagination__a__border-radius);
    background-clip: padding-box;
    &:link,
    &:visited {
      color: $pagination__a__color;
      background-color: $pagination__a__background-color;
    }
    &[href]:hover,
    &[href]:focus {
      color: $pagination__a--hover__color;
      background-color: $pagination__a--hover__background-color;
      @include border-outline(border, $pagination__a__border-width, $pagination__a__border-style, $pagination__a__border-color);
    }
    &:active {
      color: $pagination__a--active__color;
      background-color: $pagination__a--active__background-color;
      @include border-outline(border, $pagination__a__border-width, $pagination__a__border-style, $pagination__a__border-color);
    }
  }
}