//////////////////////////////
// VARIABLES: For Modules 
//////////////////////////////


//////////////////////////////
// DEFAULT VARIABLES
//////////////////////////////

// Pagination
$pagination__font-family: $secondary__font-family !default;
$pagination__text-indent: 0 !default;
/// Pagination li
$pagination__li__margin: 0 !default;
$pagination__li__margin--position: left !default;
$pagination__li__display: inline !default;
/// Pagination a
$pagination__a__display: inline-block !default;
$pagination__a__padding: 0.5em 1em !default;
$pagination__a__margin: 0.1em !default;
$pagination__a__border-radius: 0.25em !default;
$pagination__a__line-height: 1em !default;
$pagination__a__border-width: 1px !default;
$pagination__a__border-style: solid !default;
$pagination__a__border-color: #666 !default;
/// Pagination links
$pagination__a__color: #fff !default;
$pagination__a__background-color: nth($quadrary, 1) !default;
//// hover
$pagination__a--hover__color: $pagination__a__color !default;
$pagination__a--hover__background-color: nth($tertiary, 1) !default;
//// Active
$pagination__a--active__color: $pagination__a__color !default;
$pagination__a--active__background-color: #900 !default;