.#{$namespace}sakai-announcements{
	.portletBody{
		h4{
			padding: 0.75em 0 0.5em 0;
			margin: 0 0 0 0;
		}
	}	
	table.listHier{
		tr{
			&:first-child{
				td, th{
					font-size: #{$default-font-size * 1.1};
					font-family: $header-font-family;
					font-weight: 700;
					text-align: center;
					a{
						display: block;
					}
				}
			}
		}
	}

}
