.#{$namespace}sakai-announcements{
	table{
		h4 + div.itemAction {
			margin: 0.1em 0 0 0em;
		}
		.lightHighLightRow{
			border-top: 3px solid #ddd;
		}
	}
	.showHideDates{
		margin: 0 0 1em 3em;
		.form-group{
			margin: 6px 0 0px 0;
		}
		.checkbox{
			width: 95px;
		}
	}
	form[name="optionsForm"]{
		.act{
			margin: 1em 0 0 0;
		}
	}
	.act-outer{
		background: #FFF;
		padding: 0 1em 0.8em 1em;
	}
}
