@import "theme/warning/_warning";

#pc h5 {
    	margin-bottom: 5px !important;
}

#pc_people {
    display: none
}

#pc_connections {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pc_message_panel {
    padding: 0px;
    background: white;
    height: 225px;
    overflow: auto;
    margin: 0;
}
.pc_message_panel li {
    margin: 2px 0;
    vertical-align: text-top;
    position: relative;
    border-bottom: 1px solid #eee;
    padding: 2px 35px 5px 35px;
    /*TODO: min-height also will depend on server-scaled avatar;;
    * height: ;*/
    min-height: 30px;
}
.pc_message_panel li img {
    vertical-align: text-top;
    /*TODO: remove width here when using server-scaled avatar, add;;
    * height and width to chat.js to: ;
    * avoid jiggle: ;
    * */
    max-width: 10%;
    max-height: 80%;
    border: 1px solid #ccc;
    margin-right: 5px;
    margin-left: 2px;
    position: absolute;
    top: 2px;
    left: 2px;
    float: left;
}


/* if avatars are not being displayed, adjust message
 * positioning
   */

.pc_new_message {
    background-color: #fcc6c6;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(238, 238, 238)), to(rgb(252, 198, 198)));
    background: -webkit-linear-gradient(top, rgb(238, 238, 238), rgb(252, 198, 198));
    background: -moz-linear-gradient(top, rgb(238, 238, 238), rgb(252, 198, 198));
    background: -o-linear-gradient(top, rgb(238, 238, 238), rgb(252, 198, 198));
    background: -ms-linear-gradient(top, rgb(238, 238, 238), rgb(252, 198, 198));
    background: linear-gradient(top, rgb(238, 238, 238), rgb(252, 198, 198));
}
#pc_showoffline_connections_checkbox, #pc_go_offline_checkbox {
    margin-right: 3px;
    margin-left: -1px;
}
.pc_pinged_popup {
    display: none;
    color: #fff;
    padding: 2px;
    position: absolute;
    right: 30px;
    top: 1px;
    background: green;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
