/**
*   Print view styles
* 
*   **Note:** 
*   Styles for actually printing (via a printer) the page are at the bottom**
**/
strong {
  font-weight:bold;
}

em {
  font-style:italic;
}

blockquote {
  margin:1.12em 40px;
}

.hidden {
  display:none;
}

#qb_print {
	background-color:#eeeeee;
}
#qb_print #quizWrapper {
	border:1px solid #999999;
	background-color:#ffffff;
	margin:25px;
	padding:25px;
	font-size:16px;
}
#qb_print .quiz tr.part td {
	vertical-align:top;
	padding:5px 10px 5px 0;
}
#qb_print .col-printQNum {
	width:3em;
	text-align:right;
	vertical-align:top;
	padding-right:10px;
}
#qb_print .col-printQNum h3 {
	margin:0;
}
#qb_print #header {
	text-align:center;
	padding:2px;
}

#qb_print h1 {
	font-size:3em;
	margin:0 0 .25em 0;
}
#qb_print h2 {
	font-size:2em;
	margin:1.5em 0 .5em 0;
}
#qb_print h3 {
	font-size:2.5em;
	color:#cccccc;
}

#qb_print .col-printQNum h3 {
	margin:20px 0 0 0;
}
#qb_print .question {
	padding:25px 0 0 0;
}

#qb_print .assessment_intro {
	margin:1em;
	padding:1em;
}

#qb_print .assessment_meta {
  line-height:1.5em;
  margin-bottom:1em;
}

#qb_print .navModeAction {
	padding:5px;
	line-height:2.5em;
	background: #fff;
	margin: 0 1.5em;
	border: 1px solid #999;
}

#qb_print .item_inputTextBoxWrapper {
	width:98%;
	height:150px;
	padding:2em 0 1em 0;
	color:#000;
	font-weight:bold;
}
#qb_print .item_inputTextBox {
	width:98%;
	height:100px;
}

#qb_print .answerBlock {
  display:block;
}

.shortAnswerWritingArea {
  border:1px solid #000;  
  height:100px;
  margin:1em;
}

#qb_print #resourcesBlock {
	margin: 0 1em;
	padding: 1em;
	border: 1px solid orange;
	background: #ffffcc;
}
#qb_print #resourcesBlock h2 {
	margin: 0 0 .5em 0;
}
#qb_print #resourcesBlock ul {
	margin: 1em;
	list-style-type: disc;
}
#qb_print #resourcesBlock li {
	margin: 0 0 0 1em;
}

.points-wrapper {
  font-style:italic;
}


/**
* Print via printer
**/
@media print {
	#qb_print .navIntraTool {
		display:none;
	}
	
	#qb_print #header {
		display:none;
	}
	
	#qb_print #quizWrapper {
		margin:0;
		padding:0;
		border:none;
	}
	
	#qb_print #resourcesBlock {
		display: none;
	}
}
