/* **************************************************************** *
 *                      Gradebook Grades styles                     *
 * **************************************************************** */
 
 /* Fonts */
 @font-face {
    font-family:"gradebook-icons";
    src:url(../fonts/gradebook-icons.eot);
    src:url(../fonts/gradebook-icons.eot?#iefix) format("embedded-opentype"),url(../fonts/gradebook-icons.woff) format("woff"),url(../fonts/gradebook-icons.ttf) format("truetype"),url(../fonts/gradebook-icons.svg#gradebook-icons) format("svg");
    font-weight:400;
    font-style:normal
}
 
 
 /* Container */
 #gradebookGrades {
   margin-top: 10px;
 }

 /* Table */
#gradebookGrades th,
#gradebookGrades td {
  padding: 4px;
}
#gradebookGrades fieldset td {
  height: 2em;
  line-height: 2em;
}
#gradebookGrades td {
  height: 0px;
}
 
 /* Table Header */
#gradebookGrades th {
  vertical-align: top;
  background: #FAFAFA;
  text-shadow: 1px 1px 0 #FFF;
  font-weight: normal;
}
#gradebookGrades th .gb-title {
  font-weight: bold;
}
#gradebookGrades th .gb-average,
#gradebookGrades th .gb-due-date {
  font-size: 0.9em;
  color: #999;
}

/* Dropdown Menus */
#gradebookGrades th, 
#gradebookGrades td {
  position: relative;
  padding: 6px;
}
#gradebookGrades td .btn-group {
  position: absolute;
  bottom: 0;
  right: 0;
}
#gradebookGrades .gb-cell {
  cursor: pointer;
}
#gradebookGrades th .btn-group {
  position: absolute;
  right: 0;
  bottom: 0;
}
#gradebookGrades .btn.dropdown-toggle {
  padding: 0 8px;
  line-height: 14px;
}
#gradebookGrades .btn.dropdown-toggle:hover,
#gradebookGrades .btn.dropdown-toggle:focus {
  background-color: #DEF;
}
/* Table Cells */
#gradebookGrades tbody td.gb-cell {
  height: 34px;
}
#gradebookGrades .gb-item-grade {
  position: relative;
  text-align: center;
  white-space: nowrap;
}
#gradebookGrades .gb-item-grade span {
  display: block;
}
#gradebookGrades .gb-item-grade input {
  text-align: right;
  width: 40px;
  line-height: 1em;
}
#gradebookGrades .gb-item-grade .gb-out-of {
  display: inline;
  padding-left: 6px;
  font-size: 0.9em;
  color: #999;
}
/* Wicket Overrides */
div.wicket-modal div.w_content_3 {
	border: none; /** don't want border wrapping content inside the modal **/
}