/* **************************************************************** *
 *                      Gradebook Grades styles                     *
 * **************************************************************** */
 
 /* Fonts */
 @font-face {
    font-family:"gradebook-icons";
    src:url(../fonts/gradebook-icons.eot);
    src:url(../fonts/gradebook-icons.eot?#iefix) format("embedded-opentype"),url(../fonts/gradebook-icons.woff) format("woff"),url(../fonts/gradebook-icons.ttf) format("truetype"),url(../fonts/gradebook-icons.svg#gradebook-icons) format("svg");
    font-weight:400;
    font-style:normal
}

/* Add Gradebook Item */
.gb-add-gradebook-item-button:before {
  font-family: "gradebook-icons";
  content: "\f067";
  vertical-align: text-bottom;
  margin-right: 4px;
}

/* Container */
#gradebookGrades {
  margin-top: 10px;
  width: 100%;
  overflow: auto;
  position: relative;
}

/* Table */
#gradebookGrades table {
  width: 0; /* Foo-width to fix display issue in Morpheus */
  display: block;
  margin: 0;
}
#gradebookGrades th,
#gradebookGrades td {
  padding: 6px;
  min-width: 180px;
}
#gradebookGrades th input[type='text'],
#gradebookGrades th select {
  width: 100%;
  font-size: 0.8em;
}
#gradebookGrades fieldset td {
  height: 2em;
  line-height: 2em;
}
#gradebookGrades td {
  height: 0px;
}
 
 /* Table Header */
#gradebookGrades th {
  vertical-align: top;
  background: #EEE;
  text-shadow: 1px 1px 0 #FFF;
  font-weight: normal;
}
#gradebookGrades th .gb-title {
  font-weight: bold;
  max-height: 2.8em;
  overflow: hidden;
  line-height: 1.4em;
}
#gradebookGrades th .gb-average,
#gradebookGrades th .gb-due-date {
  font-size: 0.8em;
  color: #999;
  line-height: 1.4em;
}

/* Dropdown Menus */
#gradebookGrades td .btn-group {
  position: absolute;
  bottom: -5px;
  right: -5px;
}
#gradebookGrades .gb-cell {
  cursor: pointer;
}
#gradebookGrades th .btn-group {
  position: absolute;
  bottom: -5px;
  right: -5px;
}
#gradebookGrades .btn.dropdown-toggle {
  padding: 0 8px;
  line-height: 14px;
}
#gradebookGrades .btn.dropdown-toggle:hover,
#gradebookGrades .btn.dropdown-toggle:focus {
  background-color: #DEF;
}
#gradebookGrades #gradebookGradesTable tfoot .gb-cell-inner {
  /* ensure there's enough room at the bottom of the scrollable div
     so that the bottom-most menus display without being cropped */
  min-height: 40px;
}
/* Distinguish Fixed Columns */
#gradebookGrades table tr > :nth-child(2) {
  border-right: 2px solid #AAA;
}
/* Table Cells */
#gradebookGrades tbody td.gb-cell {
  height: 2.6em;
}
#gradebookGrades .gb-item-grade {
  text-align: center;
  white-space: nowrap;
}
#gradebookGrades .gb-item-grade span {
  display: block;
}
#gradebookGrades .gb-item-grade input {
  text-align: right;
  width: 40px;
  line-height: 1em;
}
#gradebookGrades .gb-item-grade .gb-out-of {
  display: inline;
  padding-left: 6px;
  font-size: 0.9em;
  color: #999;
}
#gradebookGrades .gb-cell .gb-cell-inner {
  width: 100%;
  position: relative;
  height: auto; /* will be overriden by the javascript */
}
#gradebookGrades .gb-due-date {
  margin-bottom: 1.2em;
}
/* Fixed header/column */
#gradebookGrades .gb-fixed-header-table,
#gradebookGrades .gb-fixed-columns-table,
#gradebookGrades .gb-fixed-column-headers-table {
  position: absolute;
  border-collapse: collapse;
  box-shadow: 0 1px 1px #AAA;
  width: auto;
}
#gradebookGrades .gb-fixed-columns-table,
#gradebookGrades .gb-fixed-column-headers-table {
  border-right: none;
  border-left-width: 3px;
}
#gradebookGrades .gb-fixed-column-headers-table {
  z-index: 30;
}
#gradebookGrades .gb-fixed-header-table {
  z-index: 20;
}
#gradebookGrades .gb-fixed-columns-table {
  z-index: 10;
  background-color: white;
}
#gradebookGrades .gb-fixed-columns-table.table-striped > tbody > tr:nth-of-type(even) {
  background-color: white;
}
#gradebookGrades .gb-fixed-columns-table.table-hover tr.hovered {
  background-color: #f5f5f5 !important;
}
/* Fix ghosting of the dragtable helper */
#gradebookGrades .dragtable-sortable {
  z-index: 10;
}
/* Grade Item Flags */
#gradebookGrades [class*="gb-flag"] {
  color: #999;
  font-family: 'gradebook-icons';
  display: inline-block;
}
#gradebookGrades .gb-grade-item-flags {
  position: absolute;
  bottom: -8px;
  left: 0;
}
#gradebookGrades .gb-grade-item-flags span {
  margin-right: 4px;
}
#gradebookGrades .gb-grade-item-flags .gb-flag-is-released,
#gradebookGrades .gb-grade-item-flags .gb-flag-is-counted {
  display: none; /* don't show these flags */
}
#gradebookGrades .gb-flag-not-counted:before {
  content: '\e600';
}
#gradebookGrades .gb-flag-not-released:before {
  content: '\e601';
}
#gradebookGrades .gb-flag-extra-credit:before {
  content: '\f0fe';
}
/* Toolbar */
#gradebookGrades {
  padding-top: 1.6em;
}
#gradebookGradesToolbar {
  background: #FAFAFA;
  font-size: 0.8em;
  overflow: hidden;
  padding: 0 0.4em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  white-space: nowrap; /* don't wrap so it stays on one line */
}
#gradebookGradesToolbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
#gradebookGradesToolbar li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
}
#toggleGradeItemsToolbarItem:after {
  font-family: 'gradebook-icons';
  content: '\f078';
  font-size: 0.9em;
  margin-left: 6px
}
#toggleGradeItemsToolbarItem.on:after {
  content: '\f077';
}
#toggleCategoriesToolbarItem:before {
  font-family: 'gradebook-icons';
  content: '\f096';
  font-size: 0.9em;
  margin-right: 6px
}
#toggleCategoriesToolbarItem.on {
  background: #ded;
  border-color: #9b9;
}
#toggleCategoriesToolbarItem.on:before {
  content: '\f046';
}
#filterByGroup {
  line-height: 1em;
}
/* Wicket Overrides */
div.wicket-modal div.w_content_3 {
	border: none; /** don't want border wrapping content inside the modal **/
}