//////////////////////////////
// LAYOUT: Layout dependent css and media queries only 
//////////////////////////////

@import "_portal_variables";

.Mrphs- {

  // Menus and Content area
  &container--site {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }
  // Responsive Menus 

  //// Jump/Skip Menu
  &skipNav {

    @include respond-to('full navigation') {
      display: none;
    }
  }


  //// Sites Menu
  &sitesNav {

    @include respond-to('narrow navigation') {
      margin-top: -100%;
      z-index: 9;
      position: relative;
        
     .nav-sites-displayed & {
        margin-top: 0;
      }
    }

    @include respond-to('full navigation') {
      display: block;
    }
  }


  //// Tools Menu
  &container--nav-tools {
    
      background: $nav-tools__background;
    @include respond-to('narrow navigation') {
      margin-left: -100%;
      float: left;

     .nav-tools-displayed & {
      margin-left: 0;
      }
    }

    @include respond-to('full navigation') {
      width: 20%;
      display: table-cell;
      vertical-align: top;
    }
  }

  // adds the title to the tool nav of the currently selected site
  &navTools__title--current-site {

    @include respond-to('narrow navigation') {
      font-size: 1.2em;
      margin: .25em;
      font-style: italic;
      padding: 0;
      max-width: 8em;
      overflow: hidden;
      display: inline;
    }

    // hide title in the full nav view
    @include respond-to('full navigation') {
      display: none;
    }
  }


  //// Main Content 
  &mainContent {

    @include respond-to('narrow navigation') {
      position: relative;
      float: left;
      width: 100%;
      margin-right: 0; 
    
      .nav-tools-displayed & {
        margin-right: -100%;
      }
    }

    @include respond-to('full navigation') {
      display: table-cell;
      vertical-align: top;
    }
  }


  //// Menu transitions
  .jump--tools,
  .nav-tools,
  .nav-sites,
  main {
    @include transition(.25s all ease-in-out);
  }

  &pageColumns {
   background: #fff;
  }

  // Columns

  @include respond-to('narrow navigation') {

    &pageColumns {
      width: calc(100% - 1em);
      margin: .5em;
    }
  }

  @include respond-to('full navigation') {

    &pageColumns {
      margin: 1em;

      &--first,
      &--second {
        width: calc(50% - 1.5em);
        float: left;
      }
      
      &--second {
        margin-left: 0;
      }

      &--single {
        width: calc(100% - 2em);
      }
    }
  }


  // Footer app tray
  //// hide for now 2014-09-25 
  .box.extras {
    //display: none;
  }

  ul.navIntraTool.actionToolBar {
    padding: 0;
    margin: .5em 0;
  }
}