<!--
#*
 $URL:https://source.sakaiproject.org/svn/citations/trunk/citations-tool/tool/src/webapp/vm/citation/import_citations.vm $
*#
 **********************************************************************************
 *
 * Copyright (c) 2006 The Sakai Foundation.
 * 
 * Licensed under the Educational Community License, Version 1.0 (the "License"); 
 * you may not use this file except in compliance with the License. 
 * You may obtain a copy of the License at
 * 
 *      http://www.opensource.org/licenses/ecl1.php
 * 
 * Unless required by applicable law or agreed to in writing, software 
 * distributed under the License is distributed on an "AS IS" BASIS, 
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. 
 * See the License for the specific language governing permissions and 
 * limitations under the License.
 *
 **********************************************************************************
-->
<script type="text/javascript" language="JavaScript">
doubleDeep = true;
</script>
<script type="text/javascript" src="#libraryLink('js/jquery-1.1.2.js')">
</script>
<script type="text/javascript" src="/sakai-citations-tool/js/citationscript.js">
</script>

Import Citations
<p />
directions here
<p />
<form name="$FORM_NAME" id="$FORM_NAME" action="#toolForm("CitationHelperAction")" method="post" 
	  enctype="multipart/form-data" >
    <input name="sakai_action" id="sakai_action" value="" type="hidden" />
	<input type="button" value="Import" id="import1"
	       onclick="importCitations('$FORM_NAME');"/>
	<input type="button" value="Cancel" id="cancel1" type="button" 
	       onclick="document.getElementById('sakai_action').value='doCancel';submitform('$FORM_NAME');"/>
	<p />
	<span id="risFileUpload">
	Import File From: <input name="risupload" id="risupload" type="file" /> 
	</span>
	<span id="importingMessage" style="display: none;">
	  <img src="/library/image/sakai/spinner.gif" alt="importing"> 
      Importing
	</span>

	<p />
	<span id="risTextUpload">
  	  Import RIS Formatted Data from the Following Text:
	  <p />
	  <textarea cols="80" rows="4" name="ristext" id="ristext"></textarea>
	</span>
    <p />
	<input type="button" value="Import" id="import2"
	       onclick="importCitations('$FORM_NAME');"/>
	<input type="button" value="Cancel" id="cancel2" type="button"
	       onclick="document.getElementById('sakai_action').value='doCancel';submitform('$FORM_NAME');"/>
	
</form>
