<div class="portletBody"> 
    #if ($isOnWorkspaceTab.equals("false"))
		#if($menu && $EnabledMenuItemExists)
			#if ($toolId == "sakai.synoptic.announcement")
				<ul class="navIntraTool actionToolBar" role="menu">
					<li class="firstToolBarItem" role="menuitem"><span><a href="#" title="$tlang.getString("gen.recopt")" onclick="location = '#toolLink("$action" "doOptions")';return false;">
						$tlang.getString("custom.options")
						<span class="skip">$toolTitle</span>
					</a></span></li>
				</ul>
			#else
				#toolbar($menu)
			#end
		#end
	#end

	<div class="page-header"><h3>$tlang.getString("merge.show")</h3></div>

	<form name="Options" action="#toolForm("$action")" method="post">
		#if ($alertMessage)<div class="alertMessage">$tlang.getFormattedMessage("gen.alert.message", $alertMessage)</div>#end
		<p class="instruction">
			$tlang.getString("merge.select")
		</p>
		<div class="tabl-responsive">
			<table class="table table-striped table-bordered table-hover merge-list" cellspacing="0" summary="$tlang.getString("merge.list.summary")">
		  		<tr> 
					<th id="announcementSite">$tlang.getString("gen.site")</th>
					<th id="checkbox">$tlang.getString("merge.showann")</th>
		  		</tr>
		  		#set ($siteNumber =1)
		  		#foreach ($announcementEntry in $mergedAnnouncementsCollection)
					#if ($announcementEntry.isVisible())
						<tr> 
							<td headers="announcementSite"><h5><label for="site$siteNumber">$validator.escapeHtml($announcementEntry.getDisplayName())</label></h5></td>
							<td headers="checkbox">
								<input type="checkbox" id="site$siteNumber" name="$announcementEntry.getReference()" value="$announcementEntry.getReference()"
								#if($announcementEntry.isMerged())
								checked
								#end
							/>
							</td>
				 		</tr>
				 	#set($siteNumber=$siteNumber + 1)
					#end
		  		#end
		 	</table>
		</div>
		<div class="act">
			<input type="submit" accesskey="s" class="active" name="eventSubmit_doUpdate" value="$tlang.getString("gen.save")" />
			<input type="submit" accesskey="x" name="eventSubmit_doCancel" value="$tlang.getString("gen.cancel")" />
		</div>
		<input type="hidden" name="state" value="$state" />
		<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
	</form>
</div>

