<div class="portletBody container-fluid">
	#if($menu && $EnabledMenuItemExists)
			#toolbar($menu)
	#end
	
	#set ($SiteColumnFlag = 0)
	#foreach ($item in $showMessagesList2)
		#set ($ref = $entityManager.newReference($item.Reference))
		#set ($origChannelRef = $service.channelReference($ref.Context,$ref.Container))
		#if (!$origChannelRef.equals($channel.Reference))
			#set ($SiteColumnFlag = $SiteColumnFlag + 1)
		#end
	#end
	<div class="page-header"><h3>$tlang.getString("reorder.title")</h3></div>
 	
	#if ($alertMessage)<div class="alertMessage">$tlang.getFormattedMessage("gen.alert.message", $alertMessage)</div><div class="clear"></div>#end
	<div class="navPanel">
			<span class="instruction">
				$tlang.getString('reorder.instruction.general')
				<span id="inputFieldMessage" style="display:none">$tlang.getString('reorder.instruction.input')</span>
				<span id="inputKbdMessage" class="skip">$tlang.getString('reorder.instruction.general.hidden')</span>
			</span>
			<br /><br />
	</div> ##end navPanel
	#if ($messageListVector.iterator().hasNext())	
		<ul class="itemAction noPrint">
			<li style="display:inline">
				<span id="undo-last-inact" style="padding:0 .3em 0 0;border:none">$tlang.getString('reorder.undo.last.label')</span>
				<a href="#" id="undo-last"  style="display:none">$tlang.getString('reorder.undo.last.label')</a>
			</li>
			<li style="display:inline;border-left:1px solid #ccc;padding-left:1em">
				<span id="undo-all-inact"  style="padding:0 .3em 0 0;border:none">$tlang.getString('reorder.undo.all.label')</span>
					<a id="undo-all" href="#"   style="display:none">$tlang.getString('reorder.undo.all.label')</a>
			</li>
			<li style="display:inline;color:#000">
				<span id="failedValidMessage" style="display:none">$tlang.getString('reorder.fail.valid.message')</span>
				<span id="messageHolder" class="messageSuccess" style="display:none"> </span>
			</li>
		</ul>	
		<span id="lastMoveArray" style="display:none"></span >
		<span id="lastMoveArrayInit" style="display:none"></span>
		<span id="lastItemMoved"  style="display:none"></span>
		<form name="announcementListForm" action="#toolForm("AnnouncementAction")" method="post">
			<div id="reorder-list-sortingToolBar" class="row itemAction">
				<div class="col-md-4 col-sm-4 col-xs-12">
					#if (!$currentSortedBy.equals("subject"))
						<a href="#" class="title" onclick="location='#toolLink("AnnouncementAction" "doSortbysubject")';return false;"  title ="$tlang.getString('gen.sortby')">$tlang.getString('gen.sortby')</a>
					#else
						#if ($currentSortAsc.equals("true"))
							<a href="#"  class="title"  onclick="location='#toolLink("AnnouncementAction" "doSortbysubject")';return false;"  title ="$tlang.getString('gen.sortbyasc')">$tlang.getString('gen.sortby') <img src = "#imageLink("sakai/sortascending.gif")" border="0" alt="$tlang.getString('gen.sortbyasc')" /></a>
						#else
							<a href="#"  class="title" onclick="location='#toolLink("AnnouncementAction" "doSortbysubject")';return false;"  title ="$tlang.getString('gen.sortbydesc')">$tlang.getString('gen.sortby') <img src = "#imageLink("sakai/sortdescending.gif")" border="0" alt="$tlang.getString('gen.sortbydesc')"/></a>
						#end
					#end
				</div>
				<div class="col-md-2 col-sm-2 col-xs-12">
					#if (!$currentSortedBy.equals("from"))
						<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbyfrom")';return false;"  title ="$tlang.getString('gen.sortbyauth')">$tlang.getString('gen.sortbyauth')</a>
					#else
						#if ($currentSortAsc.equals("true"))
							<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbyfrom")';return false;"  title ="$tlang.getString('gen.sortbyauthasc')">$tlang.getString('gen.sortbyauth') <img src = "#imageLink("sakai/sortascending.gif")" border="0" alt="$tlang.getString('gen.sortbyauthasc')" /></a>
						#else
							<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbyfrom")';return false;"  title ="$tlang.getString('gen.sortbyauthdesc')">$tlang.getString('gen.sortbyauth') <img src = "#imageLink("sakai/sortdescending.gif")" border="0" alt="$tlang.getString('gen.sortbyauthdesc')"/></a>
						#end
					#end
				</div>
				<div class="col-md-2 col-sm-2 col-xs-12">
					#if (!$currentSortedBy.equals("releasedate"))
						<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbyreleasedate")';return false;"  title="$tlang.getString('gen.sortbyreleasedate')">$tlang.getString('gen.sortbyreleasedate')</a>
					#else
						#if ($currentSortAsc.equals("true"))
							 <a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbyreleasedate")';return false;"  title="$tlang.getString('gen.sortbyreleasedateasc')">$tlang.getString('gen.sortbyreleasedate') <img src = "#imageLink("sakai/sortascending.gif")" border="0" alt="$tlang.getString('gen.sortbyreleasedateasc')" /></a>
						#else
							<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbyreleasedate")';return false;"  title="$tlang.getString('gen.sortbyreleasedatedesc')">$tlang.getString('gen.sortbyreleasedate') <img src = "#imageLink("sakai/sortdescending.gif")" border="0" alt ="$tlang.getString('gen.sortbyreleasedatedesc')" /></a>
						#end
					#end
				</div>
				<div class="col-md-2 col-sm-2 col-xs-12">
					#if (!$currentSortedBy.equals("retractdate"))
						<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbyretractdate")';return false;"  title="$tlang.getString('gen.sortbyretractdate')">$tlang.getString('gen.sortbyretractdate')</a>
					#else
						#if ($currentSortAsc.equals("true"))
							 <a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbyretractdate")';return false;"  title="$tlang.getString('gen.sortbyretractdateasc')">$tlang.getString('gen.sortbyretractdate') <img src = "#imageLink("sakai/sortascending.gif")" border="0" alt="$tlang.getString('gen.sortbyretractdateasc')" /></a>
						#else
							<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbyretractdate")';return false;"  title="$tlang.getString('gen.sortbyretractdatedesc')">$tlang.getString('gen.sortbyretractdate') <img src = "#imageLink("sakai/sortdescending.gif")" border="0" alt ="$tlang.getString('gen.sortbyretractdatedesc')" /></a>
						#end
					#end
				</div>
				<div class="col-md-2 col-sm-2 col-xs-12">
					#if (!$currentSortedBy.equals("date"))
						<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbydate")';return false;"  title="$tlang.getString('gen.sortbydate')">$tlang.getString('gen.sortbydate')</a>
					#else
						#if ($currentSortAsc.equals("true"))
							 <a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbydate")';return false;"  title="$tlang.getString('gen.sortbydateasc')">$tlang.getString('gen.sortbydate') <img src = "#imageLink("sakai/sortascending.gif")" border="0" alt="$tlang.getString('gen.sortbydateasc')" /></a>
						#else
							<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbydate")';return false;"  title="$tlang.getString('gen.sortbydatedesc')">$tlang.getString('gen.sortbydate') <img src = "#imageLink("sakai/sortdescending.gif")" border="0" alt ="$tlang.getString('gen.sortbydatedesc')" /></a>
						#end
					#end
				</div>
			</div>
				<ul id="reorder-list" class="styled-reorder-list">

				#set($count = 0)
				#foreach ($ann_item in $showMessagesList)
					#set($ann_item_props=$ann_item.getProperties())
					<li #rowTRconstruct($ann_item_props $displayOptions $ann_item.Header.draft true) id="listitem.orderable$count" tabindex="0">
						<span style="display:none" class="grabHandle">
							<input type="text" size="3" value="$count" id="index$count" style="z-index:5"/>
							<input type="hidden" size="3" id="holder$count"  value="$count"/>
						</span>	
						<span class="title col-md-4 col-sm-4 col-xs-12">
							$validator.escapeHtml($validator.limit($ann_item.Header.subject, 45))
						</span>
						<span class="author col-md-2 col-sm-2 col-xs-12">
							$validator.escapeHtml($ann_item.Header.From.DisplayName)
						</span>
						<span  class="date col-md-2 col-sm-2 col-xs-12"> 
							$ann_item.Header.Date.toStringLocalFull()
						</span>
						#set ($ref = $entityManager.newReference($ann_item.Reference))
						#set ($origChannelRef = $service.channelReference($ref.Context,$ref.Container))
						##For Re-ordering of Announcement Messages
							<span style="display:none"> 
								<input type="checkbox" id="check-$rowCount" name="selectedMembers2" checked="checked" value="$ann_item.Reference"/>
							</span>
					</li>
								#set($count = $count + 1)
				#end
		</ul>
	<p class="act">
		<input type="submit" class="active" name="eventSubmit_doReorderUpdate" value="$tlang.getString("gen.update")"  accesskey="s" />
		<input type="submit" accesskey="x" name="eventSubmit_doCancel" value="$tlang.getString("gen.cancel")" />
	</p>
		<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
	</form>	


 #else ##there are no announcements
		<div class="instruction clear">
			#if ($!view == "view.public")
				$tlang.getString("gen.therearepublic")
			#elseif ($!view == "view.bygroup")
				$tlang.getString("gen.therearegroup")
			#else
				$tlang.getString("gen.thereare")
			#end
		</div>
#end	##end of for each loop
</div>
