	## this is showing the list view of all announcement, and the home view of this tool

##(gsilver - remaining issues: trimming body, <p> in body when produced with WYS, the fact that how thing look in the synopsys is still undefined - and finally - the permissions nightmare as well as the ling to Remove...

############################################# Check if message hidden macro begin
#macro(rowTRconstruct $props $displayOptions $hidden $reorder)

	#set($now = $timeservice.newTime())
	#set($reldateset = false)
	#set($retdateset = false)

	#if (!$props.isEmpty() && $props.getProperty("releaseDate"))
		#set($releasedate = $props.getTimeProperty("releaseDate"))
		#set($reldateset = $now.before($releasedate))
	#end

	#if (!$props.isEmpty() && $props.getProperty("retractDate"))
		#set($retractdate = $props.getTimeProperty("retractDate"))
		#set($retdateset = $now.after($retractdate))
	#end

	#if ($reorder)
		#set($rowClass = "row")
	#end 
	
	## message marked as hidden, current date is before release date, or current date is after retract date
	#if ($hidden || $reldateset || $retdateset)
		#if ($displayOptions.isShowAnnouncementBody())
			class="lightHighLightRow inactive $rowClass"
		#else
			class="inactive $rowClass"
		#end
	#else
		#if ($displayOptions.isShowAnnouncementBody())
			class="lightHighLightRow $rowClass"
		#elseif ($reorder)
			class="$rowClass"
		#end	
	#end

#end
############################################# Check if message hidden macro end
		


	
<div class="portletBody container-fluid">
	#if ($isOnWorkspaceTab.equals("false"))
		#if($menu && $EnabledMenuItemExists)
			#if ($toolId == "sakai.synoptic.announcement")
				<ul class="navIntraTool actionToolBar" role="menu">
					<li class="firstToolBarItem" role="menuitem"><span><a href="#" title="$tlang.getString("gen.recopt")" onclick="location = '#toolLink("$action" "doOptions")';return false;">
						$tlang.getString("custom.options")
						<span class="skip">$toolTitle</span>
					</a></span></li>
				</ul>
			#else
				#toolbar($menu)
			#end
		#end
	#end
	
	#set ($SiteColumnFlag = 0)
	#foreach ($item in $showMessagesList2)
	#set ($ref = $entityManager.newReference($item.Reference))
	#set ($origChannelRef = $service.channelReference($ref.Context,$ref.Container))
	#if (!$origChannelRef.equals($channel.Reference))
		#set ($SiteColumnFlag = $SiteColumnFlag + 1)
	#end
	#end

	#set ($daysList = [$displayOptions.numberOfDaysInThePast])
	
	#if ($isOnWorkspaceTab.equals("true")) ##in workspace
		
		<div class="page-header">
		  <h3>$tlang.getString("gen.announcements") <br /><small>$tlang.getFormattedMessage("gen.viewing.days.phrase.brackets", $daysList.toArray())</small></h3>
		</div>

		#if ($alertMessage)<div class="alertMessage">$tlang.getFormattedMessage("gen.alert.message", $alertMessage)</div><div class="clear"></div>#end
##		#if ($messageListVector.iterator().hasNext())
		<div class="navPanel">
			<div class="viewNav">
				<form name="viewForm" class="inlineForm" method="post" action="#toolForm("AssignmentAction")">
					<input type="hidden" name="eventSubmit_doView" value="view" />
					<label for="view">
						$tlang.getString("view.label")
					</label>
					<span class="skip">$tlang.getString("gen.listnavselect")</span>
					<select id="view" name="view" size="1" onchange="document.viewForm.submit();">
						<option value="view.all" #if ($!view == "view.all")selected="selected"#end >$!tlang.getString('view.all')</option>
						<option value="view.public"  #if ($!view == "view.public")selected="selected"#end >$!tlang.getString('view.public')</option>
						##if ($!groups)
							<option value="view.bygroup" #if ($!view == "view.bygroup")selected="selected"#end >$!tlang.getString('view.bygroup')</option>
						##end 
					</select>
					<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
				</form>
			</div>
	##		#end
				#if ($messageListVector.iterator().hasNext())
					<div class="listNav">
						<div class="instruction">
						#####SAK-9116: to use Viewing {0} - {1} of {2} items
							$tlang.getFormattedMessage("gen.viewing.phrase", $announcementItemRangeArray)
						</div>
						#if ($pagesize != 0)
							#if ($goFPButton == "true")
								<form name="firstpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
									<fieldset><legend>$tlang.getString("gen.first")</legend><input type="submit" name="eventSubmit_doList_first" value="|&lt;" title="$tlang.getString("gen.first")" /></fieldset>
									<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
								</form>
							#else
								<form name="firstpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
									<fieldset><legend>$tlang.getString("gen.first")</legend><input type="submit" name="eventSubmit_doList_first" value="|&lt;" disabled="disabled" /></fieldset>
									<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
								</form>
							#end
							#if ($goPPButton == "true")
								<form name="prevpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
									<fieldset><legend>$tlang.getFormattedMessage('gen.previous.pagesize', $pagesize)</legend><input type="submit" name="eventSubmit_doList_prev" value="&lt;" title="$tlang.getFormattedMessage('gen.previous.pagesize', $pagesize)"  accesskey="p" /></fieldset>
									<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
								</form>
							#else
								<form name="prevpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
									<fieldset><legend>$tlang.getFormattedMessage('gen.previous.pagesize', $pagesize)</legend><input type="submit" name="eventSubmit_doList_prev" value="&lt;" disabled="disabled" /></fieldset>
									<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
								</form>
							#end
						#end
						<form name="pagesizeForm" class="inlineForm" method="post" action="#toolForm("$action")">
							<input type="hidden" name="eventSubmit_doChange_pagesize" value="changepagesize" />
							<span class="skip">$tlang.getString("gen.listnavselect")</span>
                            <label for="selectPageSize" class="skip">$tlang.getString("gen.select.label")</label>
							<select id="selectPageSize" name="selectPageSize" onchange="document.pagesizeForm.submit();">
								<option value="5" #if($pagesize == 5) selected="selected" #end>$tlang.getFormattedMessage("gen.show", "5")</option>
								<option value="10" #if($pagesize == 10) selected="selected" #end>$tlang.getFormattedMessage("gen.show", "10")</option>
								<option value="20" #if($pagesize == 20) selected="selected" #end>$tlang.getFormattedMessage("gen.show", "20")</option>
								<option value="50" #if($pagesize == 50) selected="selected" #end>$tlang.getFormattedMessage("gen.show", "50")</option>
								<option value="100" #if($pagesize == 100) selected="selected" #end>$tlang.getFormattedMessage("gen.show", "100")</option>
								<option value="200" #if($pagesize == 200) selected="selected" #end>$tlang.getFormattedMessage("gen.show", "200")</option>
							</select>
							<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
						</form>
						#if ($pagesize != 0)
							#if ($goNPButton == "true")
								<form name="nextpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
									<fieldset><legend>$tlang.getFormattedMessage('gen.next.pagesize', $pagesize)</legend><input type="submit" name="eventSubmit_doList_next" value="&gt;" title="$tlang.getFormattedMessage('gen.next.pagesize', $pagesize)"  accesskey="n" /></fieldset>
									<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
								</form>
							#else
								<form name="nextpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
									<fieldset><legend>$tlang.getFormattedMessage('gen.next.pagesize', $pagesize)</legend><input type="submit" name="eventSubmit_doList_next" value="&gt;" disabled="disabled" /></fieldset>
									<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
								</form>
							#end
							#if ($goLPButton == "true")
								<form name="lastpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
									<fieldset><legend>$tlang.getString('gen.last')</legend><input type="submit" name="eventSubmit_doList_last" value="&gt;|" title="$tlang.getString('gen.last')" /></fieldset>
									<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
								</form>
							#else
								<form name="lastpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
									<fieldset><legend>$tlang.getString('gen.last')</legend><input type="submit" name="eventSubmit_doList_last" value="&gt;|" disabled="disabled" /></fieldset>
									<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
								</form>
							#end
						#end
					</div>
				</div> ##end navPanel
				<form name="announcementListForm" action="#toolForm("AnnouncementAction")" method="post">
				<div class="table-responsive">
					<table class="table table-hover table-striped table-bordered" summary="$tlang.getString('gen.tablecaptionworksp')">
						<tr>
							<th id ="subject" scope="col">
								#if (!$currentSortedBy.equals("subject"))
									<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbysubject")';return false;"  title ="$tlang.getString('gen.sortby')">$tlang.getString('gen.subject')</a>
								#else
									#if ($currentSortAsc.equals("true"))
										<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbysubject")';return false;"  title ="$tlang.getString('gen.sortbyasc')">$tlang.getString('gen.subject') <img src = "#imageLink("sakai/sortascending.gif")" border="0" alt="$tlang.getString('gen.sortbyasc')" /></a>
									#else
										<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbysubject")';return false;"  title ="$tlang.getString('gen.sortbydesc')">$tlang.getString('gen.subject') <img src = "#imageLink("sakai/sortdescending.gif")" border="0" alt="$tlang.getString('gen.sortbydesc')"/></a>
									#end
								#end
							</th>
							<th id="author" scope="col" class="hidden-xs">
								#if (!$currentSortedBy.equals("from"))
									<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbyfrom")';return false;"  title ="$tlang.getString('gen.sortbyauth')">$tlang.getString('gen.from')</a>
								#else
									#if ($currentSortAsc.equals("true"))
										<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbyfrom")';return false;"  title ="$tlang.getString('gen.sortbyauthasc')">$tlang.getString('gen.from') <img src = "#imageLink("sakai/sortascending.gif")" border="0" alt="$tlang.getString('gen.sortbyauthasc')" /></a>
									#else
										<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbyfrom")';return false;"  title ="$tlang.getString('gen.sortbyauthdesc')">$tlang.getString('gen.from') <img src = "#imageLink("sakai/sortdescending.gif")" border="0" alt="$tlang.getString('gen.sortbyauthdesc')"/></a>
									#end
								#end
							</th>
							#if ($toolId.equals("sakai.announcements"))
								<th id="date" scope="col">
									#if (!$currentSortedBy.equals("date"))
										<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbydate")';return false;"  title="$tlang.getString('gen.sortbydate')">$tlang.getString('gen.date')</a>
									#else
										#if ($currentSortAsc.equals("true"))
											 <a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbydate")';return false;"  title="$tlang.getString('gen.sortbydateasc')">$tlang.getString('gen.date')<img src = "#imageLink("sakai/sortascending.gif")" border="0" alt="$tlang.getString('gen.sortbydateasc')" /></a>
										#else
											<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbydate")';return false;"  title="$tlang.getString('gen.sortbydatedesc')">$tlang.getString('gen.date') <img src = "#imageLink("sakai/sortdescending.gif")" border="0" alt ="$tlang.getString('gen.sortbydatedesc')" /></a>
										#end
									#end
								</th>
							#end
							#if ($SiteColumnFlag > 0) ## (there are anns from other sites so show what site they are from)
								<th id="Site" scope="col" class="hidden-xs">
									#if (!$currentSortedBy.equals("channel"))
										<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbychannel")';return false;"  title ="$tlang.getString('gen.sortchannel')">$tlang.getString('gen.site')</a>
									#else
										#if ($currentSortAsc.equals("true"))
											<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbychannel")';return false;"  title ="$tlang.getString('gen.sortchanasc')">$tlang.getString('gen.site') <img src = "#imageLink("sakai/sortascending.gif")" border="0" alt="$tlang.getString('gen.sortchanasc')" /></a>
										#else
											<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbychannel")';return false;"  title ="$tlang.getString('gen.sortchandesc')">$tlang.getString('gen.site') <img src = "#imageLink("sakai/sortdescending.gif")" border="0" alt="$tlang.getString('gen.sortchandesc')" /></a>
										#end
									#end
								</th>
							#end
							#if ($toolId.equals("sakai.announcements"))
								<th id="releaseDate" scope="col" class="hidden-xs">
									#if (!$currentSortedBy.equals("releasedate"))
										<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbyreleasedate")';return false;"  title="$tlang.getString('gen.sortbyreleasedate')">$tlang.getString("gen.releasedate")</a>
									#else
										#if ($currentSortAsc.equals("true"))
											 <a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbyreleasedate")';return false;"  title="$tlang.getString('gen.sortbyreleasedateasc')">$tlang.getString("gen.releasedate") <img src = "#imageLink('sakai/sortascending.gif')" border="0" alt="$tlang.getString('gen.sortbyreleasedateasc')" /></a>
										#else
											<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbyreleasedate")';return false;"  title="$tlang.getString('gen.sortbyreleasedatedesc')">$tlang.getString("gen.releasedate") <img src = "#imageLink('sakai/sortdescending.gif')" border="0" alt ="$tlang.getString('gen.sortbyreleasedatedesc')" /></a>
										#end
									#end
								</th>
								<th id="retractDate" scope="col" class="hidden-xs">
									#if (!$currentSortedBy.equals("retractdate"))
										<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbyretractdate")';return false;"  title="$tlang.getString('gen.sortbyretractdate')">$tlang.getString("gen.retractdate")</a>
									#else
										#if ($currentSortAsc.equals("true"))
											 <a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbyretractdate")';return false;"  title="$tlang.getString('gen.sortbyretractdateasc')">$tlang.getString("gen.retractdate") <img src = "#imageLink('sakai/sortascending.gif')" border="0" alt="$tlang.getString('gen.sortbydateasc')" /></a>
										#else 
											<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbyretractdate")';return false;"  title="$tlang.getString('gen.sortbyretractdatedesc')">$tlang.getString("gen.retractdate") <img src = "#imageLink('sakai/sortdescending.gif')" border="0" alt ="$tlang.getString('gen.sortbydatedesc')" /></a>
										#end
									#end
								</th>									
							#end
						</tr>
						#if ($!view == "view.all")
						#set ($rowCount=0)
						#foreach ($ann_item in $showMessagesList)
							#set ($rowCount =$rowCount + 1)
							#set($ann_item_props=$ann_item.getProperties())

							<tr #rowTRconstruct($ann_item_props $displayOptions $ann_item.Header.draft) >

								<th headers="subject" scope="row">
									<strong>
										## show the paperclip if existing
										#set ($size = 0)
										#if (!$ann_item.Header.Attachments.isEmpty())
											#set ($props = false)
											#set ($size = $ann_item.Header.Attachments.size())
											#foreach ($attachment in $ann_item.Header.Attachments)
												#set ($props = $attachment.Properties)
												#if (!$props)
														#if ($size > 0) #set ($size = $size - 1) #end
												#end
											#end
										#end
										#if ($size == 0)
										#else
											<i class="fa fa-paperclip"></i>
										#end

										#if ($ann_item.Header.draft)
										<a href="#toolLinkParam("AnnouncementAction" "doReviseannouncement" "itemReference=$validator.escapeUrl($ann_item.reference)")" title="$tlang.getString('gen.editdraft')">$tlang.getFormattedMessage("gen.draft.subject", $validator.escapeHtml($ann_item.Header.subject))</a>
										#else
											<a href="#toolLinkParam("AnnouncementAction" "doShowmetadata" "itemReference=$validator.escapeUrl($ann_item.reference)")" title="$tlang.getFormattedMessage('gen.viewann.subject', $validator.escapeHtml($ann_item.Header.subject))">
											$validator.escapeHtml($ann_item.Header.subject) <span class="skip">$validator.escapeHtml($ann_item.Header.subject)</span></a>
										#end
									</strong>	
								</th>
								<td headers="author" class="hidden-xs">
									$validator.escapeHtml($ann_item.AuthorDisplayName)
								</td>
								#if ($toolId.equals("sakai.announcements"))
									<td headers="date">
										$ann_item.Header.Date.toStringLocalFull()
									</td>
								#end
								#if ($SiteColumnFlag > 0)
									<td headers="channel" class="hidden-xs">
										$validator.escapeHtml($ann_item.channelDisplayName)
									</td>
								#end
								#if ($toolId.equals("sakai.announcements"))
									<td headers="releaseDate" class="hidden-xs">
										#if (!$ann_item_props.isEmpty() && $ann_item_props.getProperty("releaseDate"))
												$ann_item_props.getTimeProperty("releaseDate").toStringLocalFull()
										#else
											&nbsp;
										#end
									</td>
									<td headers="retractDate" class="hidden-xs">
										#if (!$ann_item_props.isEmpty() && $ann_item_props.getProperty("retractDate"))
											$ann_item_props.getTimeProperty("retractDate").toStringLocalFull()
										#else
											&nbsp;
										#end
									</td>
								#end
							</tr>
							#if ($displayOptions.isShowAnnouncementBody()) 
								<tr>	
										#if ($EnableItemCheckBoxes)
											#if ($SiteColumnFlag > 0)
												#set ($colspan="6")
											#else	
												#set ($colspan="5")
											#end	
										#else
											#if ($SiteColumnFlag > 0)
												#set ($colspan="4")
												#else	
													#set ($colspan="3")
												#end	
											#end	
										<td colspan="$colspan">
											<div class="textPanel">$ann_item.TrimmedBody</div>
										</td>
									</tr>	
								#end
							#end
						</table>
					</div>
					<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
				</form>
			#end
		#else
			</div> ##end navPanel						
			<div class="instruction clear">
				#if ($!view == "view.public")
					$tlang.getString("gen.therearepublic")
				#elseif ($!view == "view.bygroup")
					$tlang.getString("gen.therearegroup")
				#else 
					$tlang.getString("gen.thereare")
					#end
			</div>
		#end
	#else ## not in workspace
		#if ($toolId == "sakai.synoptic.announcement") 
		##in home portlet  - so reduce display to title, attach marker, body (if selected), author and date

			#if ($alertMessage)<div class="alertMessage">$tlang.getFormattedMessage("gen.alert.message", $alertMessage)</div><div class="clear"></div>#end

			<div class="page-header">
			  <h3>$tlang.getString("gen.announcements") <br /><small>$tlang.getFormattedMessage("gen.viewing.days.phrase.brackets", $daysList.toArray())</small></h3>
			</div>
			
			<form name="announcementListForm" action="#toolForm("AnnouncementAction")" method="post">
				#if (!$messageListVector.iterator().hasNext())
					<div class="instruction clear">
      					$tlang.getString("gen.thereare")
					</div>
				#else
					#set ($rowCount=0)
					<ul class="synopticList">
					#foreach ($ann_item in $showMessagesList)
					<li>
						#set ($rowCount =$rowCount + 1)
							#if ($ann_item.Header.draft)
							#else
							<h3 class="textPanelHeader">
								<a href="#toolLinkParam("AnnouncementAction" "doShowmetadata" "itemReference=$validator.escapeUrl($ann_item.reference)")" title="$tlang.getFormattedMessage('gen.viewann.subject', $validator.escapeHtml($ann_item.Header.subject))">
								$validator.escapeHtml($ann_item.Header.subject)</a>
								#set ($size = 0)
								#if (!$ann_item.Header.Attachments.isEmpty())
									#set ($props = false)
									#set ($size = $ann_item.Header.Attachments.size())
									#foreach ($attachment in $ann_item.Header.Attachments)
										#set ($props = $attachment.Properties)
										#if (!$props)
												#if ($size > 0) #set ($size = $size - 1) #end
										#end
									#end
								#end
								#if ($size == 0)
								#else
									<img src = "#imageLink("sakai/attachments.gif")" border="0" alt="$tlang.getString('gen.attach')" />
								#end
							</h3>	
							
							#set($ann_item_props=$ann_item.getProperties())
							<p class="textPanelFooter">
								($validator.escapeHtml($ann_item.Header.From.DisplayName) - 

								#if (!$ann_item_props.isEmpty() && $ann_item_props.getProperty("releaseDate"))
									$ann_item_props.getTimeProperty("releaseDate").toStringLocalFull())
								#else
									$ann_item.Header.Date.toStringLocalFull())
								#end
							</p>	
							#if ($displayOptions.isShowAnnouncementBody())
								<div class="textPanel">
									$ann_item.TrimmedBody
								</div>
							#end
						#end	
						</li>
					#end
					</ul>
				#end
				<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
			</form>

		#else ## not in workspace, not in home
			#if ($toolId == "sakai.announcements") ##In tool or admin MOTD...			

				#if ($displayOptions.isShowAllColumns())
					## <h3>$tlang.getString("gen.announcements")</h3>

					<div class="page-header">
					  <h3>$tlang.getString("gen.announcements") <br /><small>$tlang.getFormattedMessage("gen.viewing.days.phrase.brackets", $daysList.toArray())</small></h3>
					</div>

					#if ($alertMessage)<div class="alertMessage">$tlang.getFormattedMessage("gen.alert.message", $alertMessage)</div><div class="clear"></div>#end
					<div class="navPanel">
						<div class="viewNav">
							<form name="viewForm" class="inlineForm" method="post" action="#toolForm("$action")">
								<input type="hidden" name="eventSubmit_doView" value="view" />
								<label for="view">
									$tlang.getString("view.label")
								</label>
								<span class="skip">$tlang.getString("gen.listnavselect")</span>
								<select id="view" name="view" size="1" onchange="document.viewForm.submit();">
									<option value="view.all" #if ($!view == "'view.all")selected="selected"#end >$!tlang.getString('view.all')</option>
									<option value="view.public"  #if ($!view == "view.public")selected="selected"#end >$!tlang.getString('view.public')</option>
									##if ($!groups)
										<option value="view.bygroup" #if ($!view == "view.bygroup")selected="selected"#end >$!tlang.getString('view.bygroup')</option>
										##end 
								</select>
								<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
							</form>
						</div>
						#if ($messageListVector.iterator().hasNext())
							<div class="listNav">
								<div class="instruction">
									$tlang.getFormattedMessage("gen.viewing.phrase", $topMsgPos, $btmMsgPos, $allMsgNumber)
								</div>
								#if ($pagesize != 0)
									#if ($goFPButton == "true")
										<form name="firstpageForm" class="inlineForm"  method="post" action="#toolForm("$action")">
											<fieldset><legend>$tlang.getString("gen.first")</legend><input type="submit" name="eventSubmit_doList_first" value="|&lt;" title="$tlang.getString("gen.first")" /></fieldset>
											<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
										</form>
									#else
										<form name="firstpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
											<fieldset><legend>$tlang.getString("gen.first")</legend><input type="submit" name="eventSubmit_doList_first" value="|&lt;" disabled="disabled" /></fieldset>
											<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
										</form>
									#end
									#if ($goPPButton == "true")
										<form name="prevpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
											<fieldset><legend>$tlang.getFormattedMessage('gen.previous.pagesize', $pagesize)</legend><input type="submit" name="eventSubmit_doList_prev" value="&lt;" title="$tlang.getFormattedMessage('gen.previous.pagesize', $pagesize)"  accesskey="p" /></fieldset>
											<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
										</form>
									#else
										<form name="prevpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
											<fieldset><legend>$tlang.getFormattedMessage('gen.previous.pagesize', $pagesize)</legend><input type="submit" name="eventSubmit_doList_prev" value="&lt;" disabled="disabled" /></fieldset>
											<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
										</form>
									#end
								#end
							
								<form name="pagesizeForm" class="inlineForm" method="post" action="#toolForm("$action")">
									<input type="hidden" name="eventSubmit_doChange_pagesize" value="changepagesize" />
									<span class="skip">$tlang.getString("gen.listnavselect")</span>
                                    <label for="selectPageSize" class="skip">$tlang.getString("gen.select.label")</label>
									<select id="selectPageSize" name="selectPageSize" onchange="document.pagesizeForm.submit();">
										<option value="5" #if($pagesize == 5) selected="selected" #end>$tlang.getFormattedMessage("gen.show", "5")</option>
										<option value="10" #if($pagesize == 10) selected="selected" #end>$tlang.getFormattedMessage("gen.show", "10")</option>
										<option value="20" #if($pagesize == 20) selected="selected" #end>$tlang.getFormattedMessage("gen.show", "20")</option>
										<option value="50" #if($pagesize == 50) selected="selected" #end>$tlang.getFormattedMessage("gen.show", "50")</option>
										<option value="100" #if($pagesize == 100) selected="selected" #end>$tlang.getFormattedMessage("gen.show", "100")</option>
										<option value="200" #if($pagesize == 200) selected="selected" #end>$tlang.getFormattedMessage("gen.show", "200")</option>
									</select>
									<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
								</form>
								#if ($pagesize != 0)
									#if ($goNPButton == "true")
										<form name="nextpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
											<fieldset><legend>$tlang.getFormattedMessage('gen.next.pagesize', $pagesize)</legend><input type="submit" name="eventSubmit_doList_next" value="&gt;" title="$tlang.getFormattedMessage('gen.next.pagesize', $pagesize)"  accesskey="n" /></fieldset>
											<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
										</form>
									#else
										<form name="nextpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
											<fieldset><legend>$tlang.getFormattedMessage('gen.next.pagesize', $pagesize)</legend><input type="submit" name="eventSubmit_doList_next" value="&gt;" disabled="disabled" /></fieldset>
											<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
										</form>
									#end
									#if ($goLPButton == "true")
										<form name="lastpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
											<fieldset><legend>$tlang.getString("gen.last")</legend><input type="submit" name="eventSubmit_doList_last" value="&gt;|" title="$tlang.getString("gen.last")" /></fieldset>
											<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
										</form>
									#else
										<form name="lastpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
											<fieldset><legend>$tlang.getString("gen.last")</legend><input type="submit" name="eventSubmit_doList_last" value="&gt;|" disabled="disabled" /></fieldset>
											<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
										</form>
									#end
								#end
							</div>
						</div> ##end navPanel
						<form name="announcementListForm" action="#toolForm("AnnouncementAction")" method="post">
						<div class="table-responsive">
							<table class="table table-hover table-striped table-bordered" summary="$tlang.getString('gen.tablecaptionsite')">
								<tr>
								 <th id="subject" scope="col">
										#if (!$currentSortedBy.equals("subject"))
											<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbysubject")';return false;"  title ="$tlang.getString('gen.sortby')">$tlang.getString('gen.subject')</a>
										#else
											#if ($currentSortAsc.equals("true"))
												<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbysubject")';return false;"  title ="$tlang.getString('gen.sortbyasc')">$tlang.getString('gen.subject') <img src = "#imageLink("sakai/sortascending.gif")" border="0" alt="$tlang.getString('gen.sortbyasc')" /></a>
											#else
												<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbysubject")';return false;"  title ="$tlang.getString('gen.sortbydesc')">$tlang.getString('gen.subject') <img src = "#imageLink("sakai/sortdescending.gif")" border="0" alt="$tlang.getString('gen.sortbydesc')"/></a>
											#end
										#end
									</th>
									<th id="author" scope="col" class="hidden-xs">
										#if (!$currentSortedBy.equals("from"))
											<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbyfrom")';return false;"  title ="$tlang.getString('gen.sortbyauth')">$tlang.getString('gen.from')</a>
										#else
											#if ($currentSortAsc.equals("true"))
												<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbyfrom")';return false;"  title ="$tlang.getString('gen.sortbyauthasc')">$tlang.getString('gen.from') <img src = "#imageLink("sakai/sortascending.gif")" border="0" alt="$tlang.getString('gen.sortbyauthasc')" /></a>
											#else
												<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbyfrom")';return false;"  title ="$tlang.getString('gen.sortbyauthdesc')">$tlang.getString('gen.from') <img src = "#imageLink("sakai/sortdescending.gif")" border="0" alt="$tlang.getString('gen.sortbyauthdesc')"/></a>
											#end
										#end
									</th>
									<th id="date" scope="col">
										#if (!$currentSortedBy.equals("date"))
											<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbydate")';return false;"  title="$tlang.getString('gen.sortbydateasc')">$tlang.getString("gen.date")</a>
										#else
											#if ($currentSortAsc.equals("true"))
												 <a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbydate")';return false;"  title="$tlang.getString('gen.sortbydateasc')">$tlang.getString("gen.date") <img src = "#imageLink('sakai/sortascending.gif')" border="0" alt="$tlang.getString('gen.sortbydateasc')" /></a>
											#else
												<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbydate")';return false;"  title="$tlang.getString('gen.sortbydatedesc')">$tlang.getString("gen.date") <img src = "#imageLink('sakai/sortdescending.gif')" border="0" alt ="$tlang.getString('gen.sortbydatedesc')" /></a>
											#end
										#end
									</th>
									#if ($EnableItemCheckBoxes)
										#if ($SiteColumnFlag > 0) ## (there are anns from other sites so show what site they are from)
											<th id="Site" scope="col" class="hidden-xs">
												#if (!$currentSortedBy.equals("channel"))
													<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbychannel")';return false;"  title ="$tlang.getString("gen.sortchannel")">$tlang.getString("gen.site")</a>
												#else
													#if ($currentSortAsc.equals("true"))
														<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbychannel")';return false;"  title ="$tlang.getString("gen.sortchanasc")">$tlang.getString("gen.site") <img src = "#imageLink("sakai/sortascending.gif")" border="0" alt=$tlang.getString("gen.sortchanasc") /></a>
													#else
														<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbychannel")';return false;"  title ="$tlang.getString("gen.sortchandesc")">$tlang.getString("gen.site") <img src = "#imageLink("sakai/sortdescending.gif")" border="0" alt=$tlang.getString("gen.sortchandesc")/></a>
													#end
												#end
											</th>
										#end
									#end
									<th id="channel" scope="col" class="hidden-xs">
										#if (!$currentSortedBy.equals("for"))
											<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbyfor")';return false;"  title="$tlang.getString('gen.sortbyfor')">$tlang.getString("gen.visible")</a>
										#else
											#if ($currentSortAsc.equals("true"))
												 <a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbyfor")';return false;"  title="$tlang.getString('gen.sortbyforasc')">$tlang.getString("gen.visible") <img src = "#imageLink('sakai/sortascending.gif')" border="0" alt="$tlang.getString('gen.sortbyforasc')" /></a>
											#else
												<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbyfor")';return false;"  title="$tlang.getString('gen.sortbyfordesc')">$tlang.getString("gen.visible") <img src = "#imageLink('sakai/sortdescending.gif')" border="0" alt ="$tlang.getString('gen.sortbyfordesc')" /></a>
											#end
										#end
									</th>
									<th id="releaseDate" scope="col" class="hidden-xs">
										#if (!$currentSortedBy.equals("releasedate"))
											<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbyreleasedate")';return false;"  title="$tlang.getString('gen.sortbyreleasedate')">$tlang.getString("gen.releasedate")</a>
										#else
											#if ($currentSortAsc.equals("true"))
												 <a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbyreleasedate")';return false;"  title="$tlang.getString('gen.sortbyreleasedateasc')">$tlang.getString("gen.releasedate") <img src = "#imageLink('sakai/sortascending.gif')" border="0" alt="$tlang.getString('gen.sortbyreleasedateasc')" /></a>
											#else
												<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbyreleasedate")';return false;"  title="$tlang.getString('gen.sortbyreleasedatedesc')">$tlang.getString("gen.releasedate") <img src = "#imageLink('sakai/sortdescending.gif')" border="0" alt ="$tlang.getString('gen.sortbyreleasedatedesc')" /></a>
											#end
										#end
									</th>
									<th id="retractDate" scope="col" class="hidden-xs">
										#if (!$currentSortedBy.equals("retractdate"))
											<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbyretractdate")';return false;"  title="$tlang.getString('gen.sortbyretractdate')">$tlang.getString("gen.retractdate")</a>
										#else
											#if ($currentSortAsc.equals("true"))
												 <a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbyretractdate")';return false;"  title="$tlang.getString('gen.sortbyretractdateasc')">$tlang.getString("gen.retractdate") <img src = "#imageLink('sakai/sortascending.gif')" border="0" alt="$tlang.getString('gen.sortbydateasc')" /></a>
											#else 
												<a href="#" onclick="location='#toolLink("AnnouncementAction" "doSortbyretractdate")';return false;"  title="$tlang.getString('gen.sortbyretractdatedesc')">$tlang.getString("gen.retractdate") <img src = "#imageLink('sakai/sortdescending.gif')" border="0" alt ="$tlang.getString('gen.sortbydatedesc')" /></a>
											#end
										#end
									</th>
									
									##if ($!view != "view.bygroup") ## SAK-13850 The delete option must be there even when it is viewed by groups
										#if ($allow_delete)
											<th class="screenOnly" id="checkbox">
												 $tlang.getString("gen.remove_question")
											</th>
										#end
									
								</tr>
							 #set ($rowCount=0)
							 #foreach ($ann_item in $showMessagesList)
								#set ($rowCount =$rowCount + 1)
								#set($ann_item_props=$ann_item.getProperties())

								<tr #rowTRconstruct($ann_item_props $displayOptions $ann_item.Header.draft) >

									<th headers="subject" scope="row">
										<strong>

										## show the paperclip if existing
										#set ($size = 0)
										#if (!$ann_item.Header.Attachments.isEmpty())
											#set ($props = false)
											#set ($size = $ann_item.Header.Attachments.size())
											#foreach ($attachment in $ann_item.Header.Attachments)
												#set ($props = $attachment.Properties)
												#if (!$props)
														#if ($size > 0) #set ($size = $size - 1) #end
												#end
											#end
										#end
										#if ($size == 0)
										#else
											<i class="fa fa-paperclip"></i>
										#end

										#if ($ann_item.Header.draft)
											<a href="#toolLinkParam("AnnouncementAction" "doReviseannouncement" "itemReference=$validator.escapeUrl($ann_item.reference)")" title="$tlang.getString('gen.editdraft')">$tlang.getFormattedMessage("gen.draft.subject", $validator.escapeHtml($ann_item.Header.subject))</a>
										#else
											<a href="#toolLinkParam("AnnouncementAction" "doShowmetadata" "itemReference=$validator.escapeUrl($ann_item.reference)")" title="$tlang.getFormattedMessage('gen.viewann.subject', $validator.escapeHtml($ann_item.Header.subject))">
											$validator.escapeHtml($ann_item.Header.subject) <span class="skip">$validator.escapeHtml($ann_item.Header.subject)</span></a>
										#end
										</strong>
										#if ($channel.allowEditMessage($ann_item.Id))
											<div class="itemAction"><a href="#toolLinkParam("AnnouncementAction" "doReviseannouncement" "itemReference=$validator.escapeUrl($ann_item.reference)")" title="$tlang.getFormattedMessage('gen.editann.subject', $validator.escapeHtml($ann_item.Header.subject))"><i class="fa fa-lg fa-pencil-square-o"></i> $tlang.getString("gen.revise") <span class="skip">$validator.escapeHtml($ann_item.Header.subject)</span></a></div>
										#end
                                                                                                                                                                                                     
									</td>
									<td headers="author" class="hidden-xs">
										$validator.escapeHtml($ann_item.Header.From.DisplayName)
									</td>
									<td headers="date">
										#if (!$ann_item_props.isEmpty() && $ann_item_props.getProperty("modDate"))
											$ann_item_props.getTimeProperty("modDate").toStringLocalFull()
										#else
											$ann_item.Header.Date.toStringLocalFull()
										#end
									</td>
									#if ($EnableItemCheckBoxes)
										#if ($SiteColumnFlag > 0)
											<td headers="channel" class="hidden-xs">
												$validator.escapeHtml($ann_item.channelDisplayName)
											</td>
										#end
									#end
									<td class="hidden-xs">
										$validator.escapeHtml($!ann_item.getRange())
									</td>
																		
									<td headers="releaseDate" class="hidden-xs">
									#if (!$ann_item_props.isEmpty() && $ann_item_props.getProperty("releaseDate"))
											$ann_item_props.getTimeProperty("releaseDate").toStringLocalFull()
									#else
										&nbsp;
									#end
									</td>
									<td headers="retractDate" class="hidden-xs">
									#if (!$ann_item_props.isEmpty() && $ann_item_props.getProperty("retractDate"))
											$ann_item_props.getTimeProperty("retractDate").toStringLocalFull()
									#else
										&nbsp;
									#end
									</td>

									#set ($ref = $entityManager.newReference($ann_item.Reference))
									#set ($origChannelRef = $service.channelReference($ref.Context,$ref.Container))

									##if ($!view != "view.bygroup") ## SAK-13850 The delete option must be there even when it is viewed by groups
										#if ($channel.allowRemoveMessage($ann_item.Message))
											#if ($origChannelRef.equals($channel.Reference))
											<td headers="checkbox" class="screenOnly">
												<label for ="check-$rowCount" class="skip">$tlang.getString("gen.selectremove") $validator.escapeHtml($ann_item.Header.subject)</label>
												<input title="$tlang.getString("gen.selectremove")" type="checkbox" id="check-$rowCount" name="selectedMembers" value="$ann_item.Reference" />
											</td>
											#end
										#else
									 		#if ($allow_delete)
												#if ($origChannelRef.equals($channel.Reference))
												<td valign="top" headers="checkbox" class="screenOnly">
													<label for ="check-$rowCount" class="skip">$tlang.getString("gen.selectremove") $validator.escapeHtml($ann_item.Header.subject)</label>
													<input title="$tlang.getString("gen.selectremove")" type="checkbox" id="check-$rowCount" name="selectedMembers" value="$ann_item.Reference" disabled="disabled"/>
												</td>
												#end
											#end		
										#end
								</tr>
								#if ($displayOptions.isShowAnnouncementBody()) 
									<tr>
										<td colspan="7">
											<div class="textPanel">$ann_item.TrimmedBody</div>
										</td>
									</tr>	
									#end
							#end
						</table>
						</div>
						#else
							</div> ##end navPanel
							<div class="instruction clear">
								#if ($!view == "view.public")
									$tlang.getString("gen.therearepublic")
								#elseif ($!view == "view.bygroup")
									$tlang.getString("gen.therearegroup")
								#else
									$tlang.getString("gen.thereare")
								#end
							</div>
							<form name="announcementListForm" action="#toolForm("AnnouncementAction")" method="post">
								<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
							</form>
						#end	
						
						#if ($messageListVector.iterator().hasNext())
							#if ($isOnWorkspaceTab.equals("false"))
								##if ($EnableItemCheckBoxes)  ## SAK-14021. This checks for new ann permission, which is not a requirement to have update and cancel buttons
									#if ($allow_delete)
										<p class="act">
											<input type="submit" class="button_color active" name="eventSubmit_doDeleteannouncement" value="$tlang.getString("gen.delete")"  accesskey="s" />
											<input type="reset" class="button" name="reset" id="reset" value="$tlang.getString("gen.clearSelections")"  accesskey="x" />
										</p>
									#end
								##end
							#end
							<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
						</form>
					#end
				#else
					## <h3>$tlang.getString("gen.announcements")</h3>
					<h3>$tlang.getString("gen.announcements") <span class="textPanelFooter">$tlang.getFormattedMessage("gen.viewing.days.phrase.brackets", $daysList.toArray())</span></h3>
					#if ($alertMessage)<div class="alertMessage">$tlang.getFormattedMessage("gen.alert.message", $alertMessage)</div><div class="clear"></div>#end

						#if (!$messageListVector.iterator().hasNext())
							<p class="instruction">
            				$tlang.getString("gen.thereare")
							</p>
						#else
							<div class="navPanel">
								<div class="listNav">
									<div class="instruction">
										 $tlang.getFormattedMessage("gen.viewing.phrase", $topMsgPos, $btmMsgPos , $allMsgNumber)
									</div>
									#if ($pagesize != 0)
										#if ($goFPButton == "true")
											<form name="firstpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
												<fieldset><legend>$tlang.getString("gen.first")</legend><input type="submit" name="eventSubmit_doList_first" value="|&lt;" title="$tlang.getString("gen.first")" /></fieldset>
												<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
											</form>
										#else
											<form name="firstpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
												<fieldset><legend>$tlang.getString("gen.first")</legend><input type="submit" name="eventSubmit_doList_first" value="|&lt;" disabled="disabled" /></fieldset>
												<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
											</form>
										#end
										#if ($goPPButton == "true")
											<form name="prevpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
												<fieldset><legend>$tlang.getFormattedMessage('gen.previous.pagesize', $pagesize)</legend><input type="submit" name="eventSubmit_doList_prev" value="&lt;" title="$tlang.getFormattedMessage('gen.previous.pagesize', $pagesize)"  accesskey="p" /></fieldset>
												<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
											</form>
										#else
											<form name="prevpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
												<fieldset><legend>$tlang.getFormattedMessage('gen.previous.pagesize', $pagesize)</legend><input type="submit" name="eventSubmit_doList_prev" value="&lt;" disabled="disabled" /></fieldset>
												<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
											</form>									
										#end
									#end
									<form name="pagesizeForm" class="inlineForm" method="post" action="#toolForm("$action")">
										<input type="hidden" name="eventSubmit_doChange_pagesize" value="changepagesize" />
										<span class="skip">$tlang.getString("gen.listnavselect")</span>
                                        <label for="selectPageSize" class="skip">$tlang.getString("gen.select.label")</label>
										<select id="selectPageSize" name="selectPageSize" onchange="document.pagesizeForm.submit();">
											<option value="5" #if($pagesize == 5) selected="selected" #end>$tlang.getFormattedMessage("gen.show", "5")</option>
											<option value="10" #if($pagesize == 10) selected="selected" #end>$tlang.getFormattedMessage("gen.show", "10")</option>
											<option value="20" #if($pagesize == 20) selected="selected" #end>$tlang.getFormattedMessage("gen.show", "20")</option>
											<option value="50" #if($pagesize == 50) selected="selected" #end>$tlang.getFormattedMessage("gen.show", "50")</option>
											<option value="100" #if($pagesize == 100) selected="selected" #end>$tlang.getFormattedMessage("gen.show", "100")</option>
											<option value="200" #if($pagesize == 200) selected="selected" #end>$tlang.getFormattedMessage("gen.show", "200")</option>
										</select>
										<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
									</form>
									#if ($pagesize != 0)
										#if ($goNPButton == "true")
											<form name="nextpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
												<fieldset><legend>$tlang.getFormattedMessage('gen.next.pagesize', $pagesize)</legend><input type="submit" name="eventSubmit_doList_next" value="&gt;" title="$tlang.getFormattedMessage('gen.next.pagesize', $pagesize)"  accesskey="n" /></fieldset>
												<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
											</form>
										#else
											<form name="nextpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
												<fieldset><legend>$tlang.getFormattedMessage('gen.next.pagesize', $pagesize)</legend><input type="submit" name="eventSubmit_doList_next" value="&gt;" disabled="disabled" /></fieldset>
												<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
											</form>
										#end				
										#if ($goLPButton == "true")
											<form name="lastpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
												<fieldset><legend>$tlang.getString("gen.last")</legend><input type="submit" name="eventSubmit_doList_last" value="&gt;|" title="$tlang.getString("gen.last")" /></fieldset>
												<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
											</form>
										#else
											<form name="lastpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
												<fieldset><legend>$tlang.getString("gen.last")</legend><input type="submit" name="eventSubmit_doList_last" value="&gt;|" disabled="disabled" /></fieldset>
												<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
											</form>
										#end
									#end
##									<br />
								</div>
							</div>	
							<form name="announcementListForm" action="#toolForm("AnnouncementAction")" method="post">
							<table class="listHier" border="0" cellspacing="0" summary="$tlang.getString("gen.tablecaptionsitebody") ">
							 #set ($rowCount=0)
							 #foreach ($ann_item in $showMessagesList)
								#set ($rowCount =$rowCount + 1)
								<tr class="highLightRow">
									 <td>
									 	<h4>
											#if ($ann_item.Header.draft)
											<a href="#toolLinkParam("AnnouncementAction" "doReviseannouncement" "itemReference=$validator.escapeUrl($ann_item.reference)")" title="$tlang.getFormattedMessage("gen.editdraft.subject", $validator.escapeHtml($ann_item.Header.subject))">$tlang.getFormattedMessage("gen.draft.subject", $validator.escapeHtml($ann_item.Header.subject))</a>
											#else
												<a href="#toolLinkParam("AnnouncementAction" "doShowmetadata" "itemReference=$validator.escapeUrl($ann_item.reference)")" title="$tlang.getFormattedMessage("gen.viewann.subject", $validator.escapeHtml($ann_item.Header.subject))">
												$validator.escapeHtml($ann_item.Header.subject)</a>
											#end
											#set ($size = 0)
											#if (!$ann_item.Header.Attachments.isEmpty())
												#set ($props = false)
												#set ($size = $ann_item.Header.Attachments.size())
												#foreach ($attachment in $ann_item.Header.Attachments)
													#set ($props = $attachment.Properties)
													#if (!$props)
															#if ($size > 0) #set ($size = $size - 1) #end
													#end
												#end
											#end
											#if ($size == 0)
											#else
												<img src = "#imageLink("sakai/attachments.gif")" border="0" alt="attachment" />
											#end
											</h4>
										</td>
										#if (!$displayOptions.isShowAnnouncementBody())
											<td>
										/	($validator.escapeHtml($ann_item.Header.From.DisplayName) - $ann_item.Header.Date.toStringLocalFull())
											</td>
										#end
										<td 
										#if  ( ($channel.allowEditMessage($ann_item.Id)) || ($channel.allowRemoveMessage($ann_item.Message)) ) 
										#end
										>
										#if  ( ($channel.allowEditMessage($ann_item.Id)) && ($channel.allowRemoveMessage($ann_item.Message)) ) 
											#set($separator=" | ")
										#else
											#set($separator="")
										#end
											#if ($channel.allowEditMessage($ann_item.Id))
												<span class="itemAction"><a href="#toolLinkParam("AnnouncementAction" "doReviseannouncement" "itemReference=$validator.escapeUrl($ann_item.reference)")" title="$tlang.getFormattedMessage("gen.editann.subject", $validator.escapeHtml($ann_item.Header.subject))"><i class="fa fa-lg fa-pencil-square-o"></i> $tlang.getString("gen.revise") <span class="skip">$validator.escapeHtml($ann_item.Header.subject)</span></a>
											#end
											$separator 
											#set ($ref = $entityManager.newReference($ann_item.Reference))
											#set($origChannelRef=false)
											#set ($origChannelRef = $service.channelReference($ref.Context,$ref.Container)) 
											#if ($channel.allowRemoveMessage($ann_item.Message))
													#if ($origChannelRef.equals($channel.Reference))
														<a href="#toolLinkParam("AnnouncementAction" "doDelete_announcement_link" "itemReference=$validator.escapeUrl($ann_item.reference)")" 	title="$tlang.getFormattedMessage("gen.removeann.subject", $validator.escapeHtml($ann_item.Header.subject))">$tlang.getString("gen.delete") <span class="skip">$validator.escapeHtml($ann_item.Header.subject)</span></a>
													#end
												#end
											</span>
										</td>
									#if ($displayOptions.isShowAnnouncementBody())
										</tr>
										<tr>
											## need to test this with the WYSIWIG - if a <p> is created...										
											<td colspan="2">
													<p class="textPanelFooter">
														($validator.escapeHtml($ann_item.Header.From.DisplayName) - $ann_item.Header.Date.toStringLocalFull())
													</p>	
												<div class="textPanel">$ann_item.TrimmedBody</div>
											</td>
										</tr>
									#end
								#end
						</table>
							<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
						</form>
					#end
				#end
			#end
		#end
	#end	
</div>
