## $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/announcement/chef_announcements-customize.vm,v 1.8 2005/06/09 15:24:26 gsilver.umich.edu Exp $ 

<script type="text/javascript">
	focus_path = [ "$form-notify" ];
</script>
<div class="portletBody container-fluid">
    #if ($isOnWorkspaceTab.equals("false"))
		#if($menu && $EnabledMenuItemExists)
			#if ($toolId == "sakai.synoptic.announcement")
				<ul class="navIntraTool actionToolBar" role="menu">
					<li class="firstToolBarItem" role="menuitem"><span><a href="#" title="$tlang.getString("gen.recopt")" onclick="location = '#toolLink("$action" "doOptions")';return false;">
						$tlang.getString("custom.options")
						<span class="skip">$toolTitle</span>
					</a></span></li>
				</ul>
			#else
				#toolbar($menu)
			#end
		#end
	#end

	<div class="page-header"><h3>$tlang.getString("custom.options")</h3></div>

	#if ($alertMessage)<div class="alertMessage">$tlang.getFormattedMessage("gen.alert.message", $alertMessage)</div><div class="clear"></div>#end
	<p class="instruction indnt2">
		#if ($toolId == "sakai.announcements")
			$tlang.getString("custom.setoptions")
		#else
			$tlang.getString("custom.setoptionsrecent")
		#end
	</p>	
	<form action="#toolForm("$action")" method="post" name="optionsForm">
	#if ($toolId == "sakai.announcements")
	<!-- start of announcement options -->
         <fieldset>
             <legend>
               <h4>
                   $tlang.getString("custom.display")
               </h4>
               </legend>
		
		#set ($selected = $tlang.getString("custom.sortab"))
		#if ( $displayOptions.isShowAllColumns())
			#if ($displayOptions.isShowAnnouncementBody())
				#set ($selected = $tlang.getString("custom.sortabbod"))
			#else
				#set ($selected = $tlang.getString("custom.sortab"))
			#end
		#else
			#set ($selected = $tlang.getString("custom.lisvie"))
		#end

		<div class="checkbox">
			<label for="sortable">
				<input type="radio" id="sortable" name="VarNameDisplaySelection" value="sortable"
				#if ($selected == $tlang.getString("custom.sortab"))
					checked="checked" 
				#end
				/> 
				$tlang.getString("custom.sortab")
			</label>
		</div>
		
		<div class="checkbox">
			<label for="sortableWithBody">
				<input 	type="radio" id="sortableWithBody" name="VarNameDisplaySelection" value="sortableWithBody"
				#if ($selected == $tlang.getString("custom.sortabbod"))
					checked="checked" 
				#end
				/> 
				$tlang.getString("custom.sortabbod")
			</label>
		</div>
		
		<div class="checkbox">
			<label for="showList">
				<input 	type="radio" id="showList" name="VarNameDisplaySelection" value="list"
				#if ($selected == $tlang.getString("custom.lisvie"))
					checked="checked" 
				#end
				/> 
				$tlang.getString("custom.lisvie")
			</label>
		</div>
		
		<div class="form-inline" id="charDisplay"> 
			<div class="form-group">
				<label for="changeChars">
					$tlang.getString("custom.charbody")
				</label>
				#if ($displayOptions.isEnforceNumberOfCharsPerAnnouncement())
					#if ($displayOptions.NumberOfCharsPerAnnouncement == 50)
						#set ($selectedChars = $tlang.getString("custom.shofir"))
					#else 
						#if ($displayOptions.NumberOfCharsPerAnnouncement == 100)
							#set ($selectedChars = $tlang.getString("custom.shofirtwo"))
						#else
							#set ($selectedChars = $tlang.getString("custom.shoall"))
						#end
					#end
				#else
					#set ($selectedChars = $tlang.getString("custom.shoall"))
				#end
				
				<select id="changeChars"  name="changeChars" size="1">
				#foreach ($chars in ["$tlang.getString('custom.shofir')", "$tlang.getString('custom.shofirtwo')", "$tlang.getString('custom.shoall')"])
					#if ($selectedChars.equals($chars))
						<option value="$chars" selected="selected" >$chars</option>
					#else
						<option value="$chars" >$chars</option>
					#end
				#end
				</select>
			</div>
		</div>
		</fieldset>
        <fieldset>
            <legend>
        		<h4>
        			$tlang.getString("custom.rss_option.full") 
        		</h4>
            </legend>
            <br />
            <div class="form-group">
            	<label for="rssAlias" class="col-sm-2 control-label">
					$tlang.getString("custom.rss_alias")
            	</label>
            	<div class="col-sm-10">
					<input type="text" name="rssAlias" id="rssAlias" maxlength="40" value="$!rssAlias" />
            	</div>
          	</div>
            
            <div class="form-group">
				<label class="col-sm-2 control-label">
					$tlang.getString("custom.rss_url")
				</label>
				<div class="col-sm-10">
					<a target="_blank" href="$!rssUrl" class="url" target="_new_">$rssUrl</a>
				</div>
            </div>

		</fieldset>

	<!-- end of announcement options -->

	#else
	<!-- start of synoptic announcement options -->
           <fieldset>
             <legend>
               <h4>
                   $tlang.getString("custom.display")
               </h4>
               </legend>
               <br />
		<div class="checkbox indnt2">
			<label for="${displayOptions.getVarNameShowAnnouncementBody()}Check">
				<input 	type="checkbox"
						name="$displayOptions.getVarNameShowAnnouncementBody()" 
						id="${displayOptions.getVarNameShowAnnouncementBody()}Check" 
						value="true" 
						#if ($displayOptions.isShowAnnouncementBody()) 
							checked="checked"
						#end
				/> 		
				$tlang.getString("custom.showbody")
			</label>
		</div>
		
		<p class="shorttext indnt4" id="charDisplay"> 
			<label for="changeChars">
				$tlang.getString("custom.about")
			</label>
		
			#if ($displayOptions.isEnforceNumberOfCharsPerAnnouncement())
				#if ($displayOptions.NumberOfCharsPerAnnouncement == 50)
					#set ($selectedChars = $tlang.getString("custom.shofir"))
				#else 
					#if ($displayOptions.NumberOfCharsPerAnnouncement == 100)
						#set ($selectedChars = $tlang.getString("custom.shofirtwo"))
					#else
						#set ($selectedChars = $tlang.getString("custom.shoall"))
					#end
				#end
			#else
				#set ($selectedChars = $tlang.getString("custom.shoall"))
			#end
			
			<select id="changeChars" name="changeChars" size="1">
			#foreach ($chars in ["$tlang.getString('custom.shofir')", "$tlang.getString('custom.shofirtwo')", "$tlang.getString('custom.shoall')"])
				#if ($selectedChars.equals($chars))
					<option value="$chars" selected="selected" >$chars</option>
				#else
					<option value="$chars" >$chars</option>
				#end
			#end
			</select>
		</p>
        </fieldset>
	<!-- end of synoptic announcement options -->
	#end
        
        <fielset>
            <legend>
                <h4>
                    $tlang.getString("custom.dplimits")
                </h4>
            </legend>
            <br />
            <div class="row">
	            <div class="form-group">
					<label for="${displayOptions.getVarNameNumberOfDaysInPast()}EntryField" class="col-sm-2 control-label">
						$tlang.getString("custom.number") 
					</label>
					<div class="col-sm-10">
						<input type="text" id="${displayOptions.getVarNameNumberOfDaysInPast()}EntryField" name="$displayOptions.getVarNameNumberOfDaysInPast()" size="2"
							#if ($displayOptions.isEnforceNumberOfDaysInThePastLimit()) 
								value="$displayOptions.NumberOfDaysInThePast"
							#else
								value=""
							#end
						/>
					</div>
	            </div>
            </div>
		
            <div class="row">
				<div class="form-group">
					<label class="col-sm-2 control-label" for="${displayOptions.getVarNameNumberOfAnnouncements()}EntryField">
						$tlang.getString("custom.numbann") 
					</label>
					<div class="col-sm-10">
						<input type="text" 
							id="${displayOptions.getVarNameNumberOfAnnouncements()}EntryField"  size="2" 
							name="$displayOptions.getVarNameNumberOfAnnouncements()" 
							#if ($displayOptions.isEnforceNumberOfAnnouncementsLimit()) 
								value="$displayOptions.NumberOfAnnouncements"
							#else
								value=""
							#end
						/>
					</div>
				</div>
			</div>

        </fielset>

		<p class="act">
			<input type="submit" class="active" name="eventSubmit_doUpdate" value="$tlang.getString("gen.update")"  accesskey="s" />
			<input type="submit" name="eventSubmit_doCancel" value="$tlang.getString("gen.cancel")"  accesskey="x" />
		</p>
		<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
	</form>
</div>

