## $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/admin/chef_users_edit.vm,v 1.2 2005/05/24 19:36:12 gsilver.umich.edu Exp $

<script type="text/javascript" language="JavaScript">
	focus_path = [#if(!$user)"id"#else"first-name"#end];
</script>

<script language="javascript" type="text/javascript" src="/library/js/jquery/1.4.2/jquery-1.4.2.min.js"></script>

<script language="javascript" type="text/javascript">

function addOptionalAttributeBlock() {
	
	//set the html for the select list
	$("#optionalAttributes").append('#AddOptionalAttributeBlock($optionalAttributes)');
	
	//determine how many optional attribute select lists we currently have
	var count = $("#optionalAttributes > p > select").length;
	
	//update the attributes for both the select list and input field we just added
	$('select[name="SELECT_LIST_ATTR"]').attr("name", "optionalAttr_"+count);
	$('input[name="INPUT_ATTR"]').attr("name", "optionalAttrValue_"+count);
	
	//resize iframe
	setMainFrameHeight(window.name);
}

function removeOptionalAttributeBlock(elem) {

	$(elem).parent("p").remove();
}


</script>

<div class="portletBody">
#if($menu)
	#toolbar($menu)
#end
	

		<h3>
			$tlang.getString("useedi.revandmod")
		</h3>
		#if ($alertMessage)<div class="alertMessage">$tlang.getString("useconrem.alert") $validator.escapeHtml($alertMessage)</div>#end
		<form name="$form-name" id="useredit" action="#toolForm("$action")" method="post">
			<p class="shorttext  required">
				#if(!$user)<span class="reqStar">*</span>#end 
				<label #if(!$user) for="eid" #end>
					$tlang.getString("useconrem.useid")
				</label>
				#if($!user && !$valueEid)
					#set($valueEid=$user.Eid)
				#end
				#if(!$user)
					## creating new account
					<input type="text" name="eid" id="eid" #if($!valueEid)value="$validator.escapeHtml($!valueEid)"#end/>
				#else
					## modifying existing account
					#if($!superUser)
						## only admin type user can modify the eid field
						<input type="text" name="eid" id="eid" #if($!valueEid)value="$validator.escapeHtml($!valueEid)"#end/>
					#else
						$validator.escapeHtml($!valueEid)
					#end
				#end
			</p>	
			<p class="shorttext">
				<label for="first-name">
					$tlang.getString("usecre.firnam")
				</label>	
			#if ($service.allowUpdateUserName($user.Id) || !$user)
				<input type="text" name="first-name" id="first-name" #if($user)value="$validator.escapeHtml($user.FirstName)"#elseif($valueFirstName)value="$validator.escapeHtml($valueFirstName)"#end />
			#else
				#if($user)$validator.escapeHtml($user.FirstName)#elseif($valueFirstName)$validator.escapeHtml($valueFirstName)#end
			#end
			</p>
			<p class="shorttext">
				<label for="last-name">
					$tlang.getString("usecre.lasnam")
				</label>
			#if ($service.allowUpdateUserName($user.Id) || !$user)
				<input type="text" name="last-name" id="last-name" #if($user)value="$validator.escapeHtml($user.LastName)"#elseif($valueLastName)value="$validator.escapeHtml($valueLastName)"#end />
			#else
				#if($user)$validator.escapeHtml($user.LastName)#elseif($valueLastName)$validator.escapeHtml($valueLastName)#end
			#end
			</p>
			<p class="shorttext">
				<label for="email">
					$tlang.getString("useconrem.ema")
				</label>
			#if ($service.allowUpdateUserEmail($user.Id) || !$user)
				<input type="text" name="email" id="email"#if($user)value="$validator.escapeHtml($user.Email)"#elseif($valueEmail)value="$validator.escapeHtml($valueEmail)"#end />
			#else
				#if($user)$validator.escapeHtml($user.Email)#elseif($valueEmail)$validator.escapeHtml($valueEmail)#end
			#end
			</p>	
#if ($incPw)
  #if(!$!superUser)
      <p class="shorttext">
				<label for="pwcur">
					$tlang.getString("usecre.vercurpass")
				</label>
			#if ($service.allowUpdateUserPassword($user.Id) || !$user)
				<input type="password" name="pwcur" id="pwcur" />
			#else
				&nbsp;
			#end
			</p>
  #end
			<p class="shorttext">
				<label for="pw">
					$tlang.getString("usecre.crenewpass")
				</label>
			#if ($service.allowUpdateUserPassword($user.Id) || !$user)
				<input type="password" name="pw" id="pw" />
			#else
				&nbsp;
			#end
			</p>
			<p class="shorttext">
				<label for="pw0">
					$tlang.getString("usecre.vernewpass")
				</label>
			#if ($service.allowUpdateUserPassword($user.Id) || !$user)
				<input type="password" name="pw0" id="pw0" />
			#else
				&nbsp;
			#end
			</p>	
#end
#if ($incType)
			<p class="shorttext">
				<label for="type">
					$tlang.getString("usecre.typ")
				</label>
			#if ($service.allowUpdateUserType($user.Id) || !$user)
				<input type="text" name="type" id="type" #if($user)value="$validator.escapeHtml($user.Type)"#elseif($valueType)value="$validator.escapeHtml($valueType)"#end />
			#else
				#if($user)$validator.escapeHtml($user.Type)#elseif($valueType)$validator.escapeHtml($valueType)#end
			#end
			</p>	
#end
#if ($user)
			<p class="shorttext">
				<label>$tlang.getString("useedi.creby")</label>
				$validator.escapeHtml($user.CreatedBy.DisplayName)
			</p>
			<p class="shorttext">
				<label>$tlang.getString("useedi.cre")</label>
				$validator.escapeHtml($user.CreatedTime.toStringLocalFull())
			</p>
			<p class="shorttext">
				<label>$tlang.getString("useedi.modby")</label>
				$validator.escapeHtml($user.ModifiedBy.DisplayName)
			</p>	
			<p class="shorttext">
				<label>$tlang.getString("useedi.mod")</label>
				$validator.escapeHtml($user.ModifiedTime.toStringLocalFull())
			</p>	
			<p class="shorttext">
				<label>$tlang.getString("useconrem.useuid")</label>
				$validator.escapeHtml($user.Id)
			</p>
#end

		## optional attributes block
		#if (!$optionalAttributes.isEmpty())
			#if ($superUser)
				<p class="shorttext"></p>
				<div id="optionalAttributes">
					<p><strong>$tlang.getString("optional.attributes")</strong></p>
				
					#set($attrNum = 1)
				
					## for those attributes that are in the master list
					## print a select list for each  that is already set
					#foreach ($c_entry in $currentAttributes.entrySet())
						#if ($optionalAttributes.containsKey($c_entry.key))
							<p class="shorttext">
								#optionalAttributesSelectList($optionalAttributes, $c_entry.key, $c_entry.value)
							</p>						
							#set($attrNum = $attrNum+1)
						#end
					#end
				</div>
				##link to add a new attribute
				<p>
					<a href="#" onclick="javascript:addOptionalAttributeBlock();return false">$tlang.getString("optional.attributes.add")</a>
				</p>
			#end
		#end		

#set ($paramNames = $user.Properties.PropertyNames)
			
			<div class="act">
				#if($user)
					<input type="submit" class="active" name="eventSubmit_doSave" value="$tlang.getString("useedi.sav")" accesskey="s" />
				#else
					<input type="submit"  class="active" name="eventSubmit_doSave" value="$tlang.getString("useedi.sav2")" accesskey="s" />
				#end					
				<input type="submit" name="eventSubmit_doCancel" value="$tlang.getString("useedi.can")" accesskey="x" />
			</div>
			<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
		</form>
	</div>


## create a dropdown of existing attributes, takes the full list as an argument as well as a given attribute and the value so we can match them up
#macro( optionalAttributesSelectList $m $attr $val)
	
	<select name="optionalAttr_$attrNum">
		#foreach ($m_entry in $m.entrySet())
			<option value="$m_entry.key" #if($m_entry.key == $attr) selected="selected" #end>$m_entry.value</option>
		#end
	</select>
	&nbsp;
	<input type="text" name="optionalAttrValue_$attrNum" value="$val" />
	&nbsp;
	<a href="#" onclick="javascript:removeOptionalAttributeBlock(this);return false"><img src="/library/image/silk/cross.png" alt="$tlang.getString("optional.attributes.remove")" /></a>

#end

##default attribute form, used by javascript
## must be on one line
## contains placeholders for the values that will be replaced
#macro( AddOptionalAttributeBlock $map )<p class="shorttext"><select name="SELECT_LIST_ATTR">#foreach ($entry in $map.entrySet())<option value="$entry.key">$entry.value</option>#end</select>&nbsp;<input type="text" name="INPUT_ATTR" />&nbsp;<a href="#" onclick="javascript:removeOptionalAttributeBlock(this);return false"><img src="/library/image/silk/cross.png" alt="$tlang.getString("optional.attributes.remove")" /></a></p>#end
