<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- The id of this bean needs to match the param 'applicationBean' under your web.xml -->
	<bean id="profileApplication" class="org.sakaiproject.profile2.tool.ProfileApplication">
		<!--  
		<property name="sakaiProxy" ref="org.sakaiproject.profile2.logic.SakaiProxy" />
		<property name="profileLogic" ref="org.sakaiproject.profile2.logic.ProfileLogic" />
		<property name="profileImageService" ref="org.sakaiproject.profile2.service.ProfileImageService" />
		-->
	</bean>
	
	<!-- ENTITY PROVIDERS START -->
	
	<bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider" 
		class="org.sakaiproject.profile2.tool.entityprovider.ProfileEntityProvider">
		<property name="profileLogic" ref="org.sakaiproject.profile2.logic.ProfileLogic" />
		<property name="sakaiProxy" ref="org.sakaiproject.profile2.logic.SakaiProxy" />
		<property name="imageLogic" ref="org.sakaiproject.profile2.logic.ProfileImageLogic" />
		<property name="connectionsLogic" ref="org.sakaiproject.profile2.logic.ProfileConnectionsLogic" />
		<property name="linkLogic" ref="org.sakaiproject.profile2.logic.ProfileLinkLogic" />
	</bean>
	
	
	<bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider" 
		class="org.sakaiproject.profile2.tool.entityprovider.ProfileEventsEntityProvider" />
		
	<bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider" 
		class="org.sakaiproject.profile2.tool.entityprovider.ProfileLinkEntityProvider">
		<property name="linkLogic" ref="org.sakaiproject.profile2.logic.ProfileLinkLogic" />
	</bean>
	
	<bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider" 
		class="org.sakaiproject.profile2.tool.entityprovider.ProfileStatusEntityProvider">
		<property name="statusLogic" ref="org.sakaiproject.profile2.logic.ProfileStatusLogic" />
		<property name="sakaiProxy" ref="org.sakaiproject.profile2.logic.SakaiProxy" />
	</bean>
	
	<bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider" 
		class="org.sakaiproject.profile2.tool.entityprovider.ProfileMessagingEntityProvider">
		<property name="messagingLogic" ref="org.sakaiproject.profile2.logic.ProfileMessagingLogic" />
		<property name="sakaiProxy" ref="org.sakaiproject.profile2.logic.SakaiProxy" />
	</bean>
	
	<!-- ENTITY PROVIDERS END -->
       
</beans>
