<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- The id of this bean needs to match the param 'applicationBean' under your web.xml -->
	<bean id="profileApplication" class="org.sakaiproject.profile2.tool.ProfileApplication">
		<property name="sakaiProxy" ref="org.sakaiproject.profile2.logic.SakaiProxy" />
		<property name="profileLogic" ref="org.sakaiproject.profile2.logic.ProfileLogic" />
		<property name="profileImageService" ref="org.sakaiproject.profile2.service.ProfileImageService" />
	</bean>
	   
       
</beans>