<div class="portletBody">
<script type="text/javascript" src="/library/js/headscripts.js"></script>
<script>
	includeLatestJQuery('lti_content_insert.vm');
	includeWebjarLibrary("fontawesome-iconpicker");
</script>
	<h3>
#if ( $oldContentId )
		$tlang.getString("update.tool.link")
#else
		$tlang.getString("add.tool.to.site")
#end
	</h3>
	#if ($messageSuccess)<div class="sak-banner-success">$tlang.getString("gen.success") $formattedText.escapeHtml($messageSuccess)</div>#end
	#if ($alertMessage)<div class="sak-banner-error">$tlang.getString("gen.alert") $formattedText.escapeHtml($alertMessage)</div>#end
<!-- Flow: $flow -->
	<form action="#toolForm("")" method="post" name="customizeForm" >
## Let admins still see stealthed tools in the list
#if ( !$isAdmin && $tool_id && $tool_visible == 1 )
   <input type="hidden" id="tool_id" name="tool_id" value="$tool_id" />
#else
#if ($tools && $tools.size() > 0)
        <p style="clear:all;">
            <label for="tool_id" style="display:block;float:none;">
                <span style="color:#903;font-weight:bold" title="Tool Title">*</span>
		$tlang.getString("content.select.tool")
            </label>
   <select id="tool_id" name="tool_id" onchange="customizeForm.submit();">
      <option value="--none--">$tlang.getString("content.select.one")</option>
	#foreach ($tool in $tools)
		#set( $selected = "" )
		#if ( $tool_id && $tool_id.toString().equals($tool.get("id").toString()))
			#set( $selected = "selected" )
		#end
               <option value="$tool.get("id")" $selected > $tool.get("title")</option>
	#end
   </select>
</p>
   #if ( $tool_description )
   <p>$formattedText.escapeHtml($tool_description)</p>
   #end
#else
<p>$tlang.getString("content.no.tools")</p>
#end
#end
#if ( $formInput )
		$formInput
<div id="input-add-site-link">
<input #if($placement) disabled="disabled" checked="checked" #end type="checkbox" name="add_site_link"/> $tlang.getString("bl_addlink")
</div>
#else
#if ( $oldContentId )
$tlang.getString("add.tool.select")
<input name="id" type="hidden" value="$oldContentId">
#end
#end
                <input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
		<p class="act">
			<input type="submit" accesskey ="s" class="active" name="$doAction"
				value="$tlang.getString('gen.save')" />
            <input type="submit" accesskey ="x" name="$doCancel" value="$tlang.getString('gen.cancel')"
                 onclick="location = '$sakai_ActionURL.setPanel("ToolSite")';return false;">
		</p>
	</form>
<script type="text/javascript">$(document).ready(function () { fontawesome_icon_picker('#fa_icon'); });</script>
#if ( $isAdmin )
$tlang.getString("content.admin.note")
#end
#if ( ! $isAdmin )
<script>
$(document).ready( function() {
        ## Does nothing if we are not in a frame of the right name
        setMainFrameHeight('sakai-basiclti-admin-iframe');
        $(window).resize( function() {
                setMainFrameHeight('sakai-basiclti-admin-iframe');
        });
});
</script>
#end
</div>
