<div class="portletBody">
<script type="text/javascript" src="/library/js/headscripts.js"></script>
<script>
	includeLatestJQuery('lti_tool_insert.vm');
	includeWebjarLibrary('fontawesome-iconpicker');
</script>
    <h3>
        $tlang.getString("tool.put")
    </h3>
    #if ($messageSuccess)<div class="sak-banner-success">$tlang.getString("gen.success") $formattedText.escapeHtml($messageSuccess)</div>#end
    #if ($alertMessage)<div class="sak-banner-error">$tlang.getString("gen.alert") $formattedText.escapeHtml($alertMessage)</div>#end
    <form action="#toolForm("")" method="post" name="customizeForm" >
#if ($isEdit && $isAdmin && $autoStartUrl )
        <div style="float:right" id="lti-advantage-div"><a href="$autoStartUrl" class="btn btn-primary" target="sakai-basiclti-admin-iframe"
        title="$tlang.getString("tool.lti13.auto.title")" role="button"
        onclick="showIframe(this.title, false);">$tlang.getString("tool.lti13.auto.button")</a></div>
#end
        $formInput
                <input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
        <p class="act">
            <input type="submit" accesskey ="s" class="active" name="$doToolAction"
                value="$tlang.getString('gen.save')" />
            <input type="submit" accesskey ="x" name="$doCancel" value="$tlang.getString('gen.cancel')"
                 onclick="location = '$sakai_ActionURL.setPanel("ToolSystem")';return false;">
        </p>
    </form>

#if ($isEdit && $isAdmin && $autoStartUrl )
    <div id="modal-iframe-div" style="display:none" tabindex="-1" role="dialog">
        <iframe name="sakai-basiclti-admin-iframe" id="sakai-basiclti-admin-iframe" src="/library/image/sakai/spinner.gif" style="min-height: 80vh;" tabindex="0"></iframe>
    </div>
<script>
//<![CDATA[
function showIframe(title, doreload) {
    $("#modal-iframe-div").dialog({
        title: title,
        width: modalDialogWidth(),
        height: modalDialogHeight(),
        modal: true,
        draggable: false,
        open: function() {
            $("#modal-iframe-div").dialog("option", "width", modalDialogWidth());
            $("#modal-iframe-div").dialog("option", "height", modalDialogHeight());
            $('#sakai-basiclti-admin-iframe').attr('width', '100%');
            $('#sakai-basiclti-admin-iframe').attr('height', '100%');
            // https://stackoverflow.com/questions/1202079/prevent-jquery-ui-dialog-from-setting-focus-to-first-textbox
            $(this).parent().focus();
        },
        close: function() {
            if ( doreload ) {
                location.reload();
            } else {
                $('#sakai-basiclti-admin-iframe').attr('src','/library/image/sakai/spinner.gif');
            }
        }
    });

    $(window).resize(function() {
        $("#modal-iframe-div").dialog("option", "width", modalDialogWidth());
        $("#modal-iframe-div").dialog("option", "height", modalDialogHeight());
        $('#sakai-basiclti-admin-iframe').attr('width', '100%');
        $('#sakai-basiclti-admin-iframe').attr('height', '100%');
    });
}
//]]>
</script>
#end

<script type="text/javascript">$(document).ready(function () { fontawesome_icon_picker('#fa_icon'); });</script>
#if ( ! $isAdmin )
<script>
$(document).ready( function() {
        ## Does nothing if we are not in a frame of the right name
        setMainFrameHeight('sakai-basiclti-admin-iframe');
        $(window).resize( function() {
                setMainFrameHeight('sakai-basiclti-admin-iframe');
        });
});
</script>
#end
<div id="radioDialog" title="$tlang.getString("tool.patch.title")" style="display:none">
<p>
$tlang.getString("tool.patch.body")
</p>
</div>
<div id="contentItemDialog" title="$tlang.getString("tool.content.title")" style="display:none">
<p>
$tlang.getString("tool.content.body")
</p>
</div>
<script>
## Create a variable that is a dollar sign for later
#set ( $d = "$")  
function checkRadioSettings() {
    if ($('#pl_linkselection').is(":checked") ) {
        var changed = false;
        if ( $("input[name='allowtitle']:checked").val() == 0 ||
             $("input[name='allowlaunch']:checked").val() == 0 ) {
            $("#allowtitle_allow-input").click();
            $("#allowlaunch_allow-input").click();
            $( "#radioDialog" ).dialog();
        }
    }
}

function checkCheckboxCombos() {
   var launch = $d("#pl_launch").is(":checked");
   var deeplink = $d("#pl_linkselection").is(":checked");
   var importitem = $d("#pl_importitem").is(":checked");
   var file = $d("#pl_fileitem").is(":checked");

   if ( (file || importitem ) && ! deeplink ) {
      $( "#contentItemDialog" ).dialog();
   }
}

$(document).ready( function() {

    $("#pl_importitem").change(function(){
        checkCheckboxCombos();
    });
    $("#pl_fileitem").change(function(){
        checkCheckboxCombos();
    });
    $("#pl_linkselection").change(function(){
        checkRadioSettings();
    });
    $("#pl_contenteditor").change(function(){
        checkRadioSettings();
    });

    var toolorderspinner = $("#toolorder").spinner({min:0,max:99});

    var issuerURL = '$issuerURL';

    $( "#lti13-input" ).after(
            '<p class="foorm-text" id="lti13_issuer_url">' +
            '<b>$tlang.getString('lti13_issuer_url')</b><br/>$issuerURL</p>' +
            '</p>');

});

#if ($isEdit && $isAdmin && $autoStartUrl )
function importLTI13Config() {

    var importUrl = '$autoRegistrationUrl';
    console.log(importUrl);

    jQuery.getJSON( importUrl, function(data) {
        console.log(data);
        if ( data.initiate_login_uri ) jQuery("#lti13_oidc_endpoint").val(data.initiate_login_uri);
        if ( data.jwks_uri ) jQuery("#lti13_tool_keyset").val(data.jwks_uri);
        if ( data.client_id ) jQuery("#lti13_client_id").val(data.client_id);
        if ( data.oidcRedirect ) jQuery("#lti13_oidc_redirect").val(data.oidcRedirect);
        if ( data.redirect_uris && Array.isArray(data.redirect_uris) ) {
            var uris = '';
            for(i=0; i<data.redirect_uris.length; i++) {
                if ( uris.length > 0 ) uris = uris + ',';
                uris = uris + data.redirect_uris[i];
            }
            if ( uris.length > 0 ) jQuery("#lti13_oidc_redirect").val(uris);
        }
        if ( data.client_name ) {
            let doTitle = confirm("$tlang.getString("tool.import.title") "+data.client_name);
            if ( doTitle ) {
                jQuery("#title").val(data.client_name);
                jQuery("#pagetitle").val(data.client_name);
            }
        }
        if ( data.description ) {
            let doDescription = confirm("$tlang.getString("tool.import.description") "+data.description);
            if ( doDescription ) {
                jQuery("#description").val(data.description);
            }
        }

        if ( data.scope && typeof data.scope == "string" ) {
            var scope = data.scope;
            if ( scope.includes("https://purl.imsglobal.org/spec/lti-ags/scope/score") ) {
                jQuery("#allowoutcomes").prop("checked", true);
            }

            if ( scope.includes("https://purl.imsglobal.org/spec/lti-ags/scope/lineitem") ) {
                jQuery("#allowlineitems").prop("checked", true);
            }
            if ( scope.includes("https://purl.imsglobal.org/spec/lti-nrps/scope/contextmembership.readonly") ) {
                jQuery("#allowroster").prop("checked", true);
            }
        }

        if ( data['https://purl.imsglobal.org/spec/lti-tool-configuration'] ) {
            var tool = data['https://purl.imsglobal.org/spec/lti-tool-configuration'];
            console.log('tool', tool);
            console.log('tool.claims', tool.claims);
            if ( tool.claims && Array.isArray(tool.claims) ) {
                if ( tool.claims.includes('name') || tool.claims.includes('given_name') ||
                    tool.claims.includes('given_name') ) {
                    jQuery("#sendname").prop("checked", true);
                }
                if ( tool.claims.includes('email') ) {
                    jQuery("#sendemailaddr").prop("checked", true);
                }
            }

            // TODO: Issue #59 - top level target_link_uri should be removed
            // Grab top level target_link_uri - The first per message uri will replace this
            var default_target_link_uri = false;
            if ( tool.target_link_uri ) {
                default_target_link_uri = tool.target_link_uri;
                jQuery("#launch").val(tool.target_link_uri);
            }

            var uri_found = false;
            if ( tool.messages && Array.isArray(tool.messages) ) {
                for(i=0; i<tool.messages.length; i++) {
                    var message = tool.messages[i];
                    console.log('message', message);
                    if ( message.target_link_uri && ! uri_found ) {
                        jQuery("#launch").val(message.target_link_uri);
                        uri_found = true;
                    }
                    if ( message.type == 'LtiDeepLinkingRequest' ) {
                        jQuery("#lti13_on-input").prop("checked", true);
                        jQuery("#allowtitle_allow-input").prop("checked", true);
                        jQuery("#allowlaunch_allow-input").prop("checked", true);
                        jQuery("#pl_linkselection").prop("checked", true);
                        jQuery("#pl_launch").prop("checked", false);
                        jQuery("#pl_lessonsselection").prop("checked", true);
                    }
                    if ( message.type == 'DataPrivacyLaunchRequest' ) {
                        jQuery("#pl_privacy").prop("checked", true);
                    }
                    if ( message.placements && Array.isArray(message.placements) ) {
                        if ( message.placements.includes("link_selection") ) jQuery("#pl_lessonsselection").prop("checked", true);
                        if ( message.placements.includes("assignment_selection") ) jQuery("#pl_assessmentselection").prop("checked", true);
                        if ( message.placements.includes("editor_button") ) jQuery("#pl_contenteditor").prop("checked", true);
                        if ( message.placements.includes("migration_selection") ) jQuery("#pl_importitem").prop("checked", true);
                    }
                }
            }
        }
        console.log("closing the modal");
        $("#modal-iframe-div").hide();
        $("#modal-iframe-div").dialog('close');
        $("#lti-advantage-div").hide();
        alert("$tlang.getString("tool.import.success")");
    })
    .fail(function() {
        alert("$tlang.getString("tool.import.error")" );
    });

}

window.addEventListener('message', function (e) {
    console.log(window.location.href + " got message");
    var message = e.data;
    if ( typeof message == 'string' ) message = JSON.parse(message)
    console.log(message);

    switch (message.subject) {
        case 'org.imsglobal.lti.close':
            importLTI13Config();
            break;
    }
});
#end

</script>
</div>
