<div class="portletBody">
	<h3>
		$tlang.getString("mapping.title")
	</h3>
	#if ($messageSuccess)<div class="messageSuccess">$tlang.getString("gen.success") $validator.escapeHtml($messageSuccess)</div><div class="clear"></div>#end
	#if ($alertMessage)<div class="alertMessage">$tlang.getString("gen.alert") $validator.escapeHtml($alertMessage)</div><div class="clear"></div>#end
	<form action="#toolForm("")" method="post" name="customizeForm" >
		<p class="act">
			<input type="submit" accesskey ="i" value="$tlang.getString('mapping.add')" 
 				onclick="location = '$sakai_ActionURL.setPanel("MappingInsert")';return false;">
			<input type="submit" accesskey ="x" value="$tlang.getString('content.tools')" 
 				onclick="location = '$sakai_ActionURL.setPanel("Main")';return false;">
		</p>
#if ($mappings.size() > 0)
			<table class="listHier lines" cellspacing="0" summary ="$tlang.getString("mapping.table")">
				<tr>
					<th id="matchpattern">$tlang.getString("bl_matchpattern")</th>
					<th id="toolurl">$tlang.getString("bl_toolurl")</th>
					<th id="action">Action</th>
				</tr>
	#foreach ($mapping in $mappings)
	<tr>
	<td headers="matchpattern">$mapping.get("matchpattern")</td>
	<td headers="toolurl">$mapping.get("toolurl")</td>
	<td headers="action"><a href="$sakai_ActionURL.setPanel("MappingEdit")&id=$mapping.get("id")">Edit</a> / 
	<a href="$sakai_ActionURL.setPanel("MappingDelete")&id=$mapping.get("id")">Delete</a></td>
	<tr>
	#end
	</table>
#else
<p>$tlang.getString("mapping.none")</p>
#end
	</form>
</div>
