<div class="portletBody">
	<h3>
		$tlang.getString("tool.post.insert")
	</h3>

    <p class="foorm-text" id="lti13_issuer_url">
    <b>$tlang.getString('lti13_issuer_url')</b><br/>$issuerURL
    <button onclick="copyToClipboardNoScroll(this, '$issuerURL');return false;">
    <i class="fa fa-clipboard" aria-hidden="true"></i> $tlang.getString('gen.clipboard')</button>
    </p>

    <p class="foorm-text" id="lti13_client_id">
    <b>$tlang.getString('lti13_client_id')</b><br/>$clientId
    <button onclick="copyToClipboardNoScroll(this, '$clientId');return false;">
    <i class="fa fa-clipboard" aria-hidden="true"></i> $tlang.getString('gen.clipboard')</button>
    </p>

    <p class="foorm-text" id="lti13_keyset_url">
    <b>$tlang.getString('lti13_keyset_url')</b><br/>$keySetUrl
    <button onclick="copyToClipboardNoScroll(this, '$keySetUrl');return false;">
    <i class="fa fa-clipboard" aria-hidden="true"></i> $tlang.getString('gen.clipboard')</button>
    </p>

    <p class="foorm-text" id="lti13_token_url">
    <b>$tlang.getString('lti13_token_url')</b>
    <br/>$tokenUrl
    <button onclick="copyToClipboardNoScroll(this, '$tokenUrl');return false;">
    <i class="fa fa-clipboard" aria-hidden="true"></i> $tlang.getString('gen.clipboard')</button>
    </p>

    <p class="foorm-text" id="lti13_oidc_auth">
    <b>$tlang.getString('lti13_oidc_auth')</b><br/>$authOIDC
    <button onclick="copyToClipboardNoScroll(this, '$authOIDC');return false;">
    <i class="fa fa-clipboard" aria-hidden="true"></i> $tlang.getString('gen.clipboard')</button>
    </p>

    <p class="foorm-text" id="lti13_deployment_id">
    <b>$tlang.getString('lti13_deployment_id')</b><br/>$deploymentId
    <button onclick="copyToClipboardNoScroll(this, '$deploymentId');return false;">
    <i class="fa fa-clipboard" aria-hidden="true"></i> $tlang.getString('gen.clipboard')</button>
    </p>

    <p>
    <b>$tlang.getString('lti13_sakai_config')</b><br/>
#if ($configUrlShort)
<span id="configUrl" style="display:none;">$configUrl</span>
<span id="configUrlShort">$configUrlShort
<button onclick="$('#configUrl').show();$('#configUrlShort').hide();return false;">$tlang.getString('lti13_show')</button>
</span>
#else
$configUrl
#end
    <button onclick="copyToClipboardNoScroll(this, '$configUrl');return false;">
    <i class="fa fa-clipboard" aria-hidden="true"></i> $tlang.getString('gen.clipboard')</button>
    </p>


<p>
<a class="btn btn-primary" accesskey="x" href="$sakai_ActionURL.setPanel("ToolSystem")">$tlang.getString('gen.done')</a>
</p>
</div>
