<div class="portletBody">
	<h3>
		$tlang.getString("deploy.activate")
	</h3>
	#if ($messageSuccess)<div class="messageSuccess">$tlang.getString("gen.success") $validator.escapeHtml($messageSuccess)</div><div class="clear"></div>#end
	#if ($alertMessage)<div class="alertMessage">$tlang.getString("gen.alert") $validator.escapeHtml($alertMessage)</div><div class="clear"></div>#end
	<p>
		$tlang.getString("deploy.activate.note")
	</p>
	<form action="#toolForm("")" method="post" name="customizeForm" >
		$!formStatus
		$formOutput
		<p class="act">
 			<input type="submit" accesskey ="r" class="active" name="$tlang.getString('gen.activate')" 
				value="$tlang.getString('gen.activate')" onclick="location = '$activateURL';return false;"/>
			<input type="submit" accesskey ="x" name="$tlang.getString('gen.cancel')" value="$tlang.getString('gen.cancel')" 
 				onclick="location = '$sakai_ActionURL.setPanel("DeploySystem")';return false;">
		</p>
	</form>
</div>
