<div class="portletBody">
#if ($messageSuccess)<div class="sak-banner-success">$tlang.getString("gen.success") $formattedText.escapeHtml($messageSuccess)</div>#end
#if ($alertMessage)<div class="sak-banner-error">$tlang.getString("gen.alert") $formattedText.escapeHtml($alertMessage)</div>#end
<script type="text/javascript"><!--
if(self == top) {
	whereToGo = '$sakai_ActionURL.setPanel("ToolSite")';
	window.console && console.log("We should not be redirecting to "+whereToGo);
	setTimeout('window.top.location="'+whereToGo+'";', 3000);
} else {
	setTimeout('window.top.location.reload(true);', 3000);
}
// -->
</script>
<h4>$tlang.getString("operation.refreshing")</h4>
</div>
