<div>
    {{#if viewProfile}}
    <a href="javascript:;" class="profile" rel="{{formattedProfileUrl}}">
    {{/if}}
    <img class="rosterPicture" src="{{profileImageUrl}}" title="{{translate 'profile_picture_alt'}} {{displayName}}" />
    {{#if viewProfile}}
    </a>
    {{/if}}
</div>
