//////////////////////////////
// MODULES: Styles that are layout independent 
//////////////////////////////

@import "_toggleNav_variables";
@import "../toolsNav/_toolsNav_variables";

.Mrphs- {

  &toggleNav {
    display: block;
    text-align: right;
    background: $toolsNav__background;
    padding-top: .25em;
    
    &:hover,
    &:focus {
      border: none;
      text-decoration: none;
    }

    &:before {
      color: $toggleNav__color;
      background: $toolsNav__color;
      padding: $toggleNav__padding;
      display: inline-block;
      text-align: center;
      border-radius: $toggleNav__border-radius;
    }

    span {
      @extend %element-invisible;
    }

    .workspace & {
      background: $toolsNav--workspace__background-color;

      &:before {
        background: $toolsNav--workspace__color;
      }
    }
  }
}

@include generate-icons($toggleNav-icons, before, '.Mrphs-toggleNav', 'ico-font-icons');