<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/calendar/chef_calendar_viewWeek.vm,v 1.8 2005/06/07 18:47:22 gsilver.umich.edu Exp $ -->
<div class="portletBody">
	#if($menu)#toolbar($menu)#end

#set ($i=0)
#set ($todayIsVisible = false)
#set($todayIndex = -1)
#foreach ($dayName in $dayOfWeekNames)
    ## --- get the local date of today
    #set ($today = $realDate.breakdownLocal())
    
    ## --- if the current date is today's date:
    #if ($today.Day == $week.getWeek($i).Day && $today.Month == $week.getWeek($i).Month && $today.Year == $week.getWeek($i).Year)
		#set ($todayIsVisible = true)
        #set ($todayIndex = $i)
    #end

    #set ($i=$i+1)
#end
	<div class="page-header">
		<h1>$tlang.getString("view.calweek")</h1>
		<div class="sakai-sideHeading">
			<a href="$printableVersionUrl" title="$!tlang.getString('java.print')" target="_blank" rel="noreferrer">$!tlang.getString('java.print')</a>
		</div>
	</div>
	#if ($alertMessage)<div class="sak-banner-warn">$tlang.getString('gen.alert') $formattedText.escapeHtml($alertMessage)</div>#end
	<div class="sakai-table-toolBar">
		<div class="sakai-table-filterContainer">
			#calendarView()
		</div>
		<div class="sakai-table-pagerContainer">
			<div class="sakai-table-pagerLabel">$beginWeek - $endWeek $timezone</div>
			<form name="weekform" action="#toolForm("$action")" method="post" class="inlineForm">
				<input type="submit" name="eventSubmit_doPrev" value="$tlang.getString('vieww.laswk')" title="$tlang.getString('vieww.gotop')" />
				<input type="submit" name="eventSubmit_doToday" value="$tlang.getString('view.today')" title ="$tlang.getString('view.gotoday')" #if ($todayIsVisible) disabled="disabled" #end />
				<input type="submit" name="eventSubmit_doNext" value="$tlang.getString('vieww.nexwk')" title="$tlang.getString('vieww.goton')" />
				<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
			</form>
		</div>
	</div>

	## the same part in 3 pages for calendar rendering
	#macro (same)

#foreach($n in [0..6])
    #set ($mm = $week.getWeek($n))
    #set($m = $mm.getEventsBerWeek($nx))
    #set ($k=$n*2+1)
    #if ($hm.put($n, 0)) #end ##to record how many sub-columns filled for each cell

    #if($m.isEmpty()) ## if this cell has no event
        #if ($n==$todayIndex)
            #if ($nx==$numberOfSections)
                <td class="borderTodayBottom" colspan="$vec.elementAt($k)">&nbsp;</td>
            #else
                <td class="borderTodayCenter" colspan="$vec.elementAt($k)">&nbsp;</td>
            #end
        #else
            <td class="borderFullGray" colspan="$vec.elementAt($k)">&nbsp;</td>
        #end
        #if ($hm.put($n, $vec.elementAt($k))) #end
    #else
        #if($m.size()>1)
            #set($emptycounter = 0)
            #set($nonemptycounter = 0)
            #foreach ($x in $m)
                    #if($x== "")
                        #set($emptycounter = $emptycounter+1)
                    #else
                        #set($nonemptycounter = $nonemptycounter + 1)
                    #end
            #end
            #set($result = $nonemptycounter - $emptycounter)

            #foreach ($x in $m)
                #set($event = $x.getEvent())
                #set($eventD = $x)

                #if($result >=1)
                    #if ($eventD.getFlag()==false)
                        #if ($n==$todayIndex)
                            #set ($tempCol = $hm.get($n) + 1)

                            #if ($hm.get($n)==0) ## the leftmost conflict sub-cell
                            #set ($LeftRight = "Left")
                            #elseif ($tempCol == $vec.elementAt($k)) ## the rightmost conflict sub-cell
                            #set ($LeftRight = "Right")
                            #else   ## if this subcell in the middle, its borders are all gray
                            #set ($LeftRight="Middle")
                            #end
                            #if ($nx==$numberOfSections) #set ($BottomCenter="Bottom") #else #set ($BottomCenter="Center") #end

                            ## to calculate how many rows should be spanned
                            #rowspans($event)
                            #if ($event.getRange().isSingleTime())
                                    <td rowspan="1" colspan="1" class="borderGrayToday$LeftRight$BottomCenter event">
                                    <div class="calendarWeekView-event">
                            #else  
                                    <td rowspan="$rowspan" colspan="1" class="borderGrayToday$LeftRight$BottomCenter event">
                                    <div class="calendarWeekView-event">
                            #end
                            #if ($hm.put($n, $tempCol)) #end
                        #else ## if ($n==$todayIndex) -> n != today
                            #set ($colspan = 1)
                            #if ($event.getRange().isSingleTime())
                                <td rowspan="1" colspan="1" class="borderGrayDayWeek event">
                                <div class="calendarWeekView-event">
                            #else
                                ## to calculate how many rows should be spanned
                                #rowspans($event)
                                <td rowspan="$rowspan" colspan="$colspan" class="borderGrayBackground event">
                                <div class="calendarWeekView-event">
                            #end
                            #set ($tempCol = $hm.get($n) + $colspan)
                            #if ($hm.put($n, $tempCol)) #end
                        #end ## if ($n==$todayIndex)

                        <a href="#" 
                           onclick="location='#toolLinkParam("$action" "doDescription" "eventReference=$formattedText.escapeUrl($event.getReference())")';return false;" 
                           title="$formattedText.escapeHtml($event.getDisplayName()) - $formattedText.escapeHtml($event.getSiteName())">
                        <span class="icon $eventIconMap.get($event.getType())" title="$localizedEventTypes.get($event.getType())"></span>
                        $formattedText.escapeHtml($event.getDisplayName())</a></div></td>

                    #else   ## -> flag == true
                            ## this cell is just expanding the above event
                            #if ($n==$todayIndex)
                                #if ($x=="")
                                    #if ($hm.get($n)==0) ## the leftmost conflict sub-cell
                                    #set ($LeftRight = "Left")
                                    #elseif ($tempCol == $vec.elementAt($k)) ## the rightmost conflict sub-cell
                                    #set ($LeftRight = "Right")
                                    #else   ## if this subcell in the middle, its borders are all gray
                                    #set ($LeftRight="Middle")
                                    #end
                                    #if ($nx==$numberOfSections) #set ($BottomCenter="Bottom") #else #set ($BottomCenter="Center") #end
                                    <td class="borderGrayToday$LeftRight$BottomCenter">&nbsp;</td>
                                #else
                                    ## no cell to be rendered 
                                #end
                            #else
                                    ## 2 conditions to get here
                                    ## 1st is there are multiple columns, although no event in this cell at this column
                                    ## 2nd is extanding the above event, which has rowspaned. so this cell no need to be displayed
                                    #if ($x == "")
                                        <td class="borderGrayDayWeek">&nbsp;</td>
                                    #else
                                        ## expanding the above event
                                    #end
                            #end
                            #set ($tempCol = $hm.get($n) + 1)
                            #if ($hm.put($n, $tempCol)) #end
                    #end
                #else ## if($result >=1) -> result<1
                                #if ($n==$todayIndex)
                                    #if ($x == "")
                                        #if ($hm.get($n)==0) ## the leftmost conflict sub-cell
                                        #set ($LeftRight = "Left")
                                        #elseif ($tempCol == $vec.elementAt($k)) ## the rightmost conflict sub-cell
                                        #set ($LeftRight = "Right")
                                        #else   ## if this subcell in the middle, its borders are all gray
                                        #set ($LeftRight="Middle")
                                        #end
                                        #if ($nx==$numberOfSections) #set ($BottomCenter="Bottom") #else #set ($BottomCenter="Center") #end
                                        <td class="borderGrayToday$LeftRight$BottomCenter">&nbsp;</td>
                                    #else
                                        #if ($eventD.Flag == false)
                                            #if ($event.getRange().isSingleTime())
                                                <td rowspan="1" colspan="$colspan" class="borderGrayDayWeek">&nbsp;</td>
                                            #else
                                                ## to calculate how many rows should be spanned
                                                #rowspans($event)
                                                <td rowspan="$rowspan" colspan="1">&nbsp;</td>
                                            #end  ## if ($event.getRange().isSingleTime())
                                        #else   
                                            ## no cell to be rendered, because of the above rowspan. but counter++
                                        #end    ## if ($eventD.Flag == false)
                                    #end    ## if x==""

                                #else ## if n == today index -> not today
                                    ## 3 conditions to get here
                                    ## 1st is there are multiple columns, although no event in this cell at this column
                                    ## 2nd is extanding the above event, which has rowspaned. so this cell no need to be displayed
                                    ## 3rd is result < 0

                                    #if ($x == "")
                                        <td class="borderGrayDayWeek">&nbsp;</td>
                                    #else
                                        #if ($eventD.Flag == false)
                                            #if ($event.getRange().isSingleTime())
                                                <td rowspan="1" colspan="$colspan" class="borderGrayDayWeek">&nbsp;</td>
                                            #else
                                                ## to calculate how many rows should be spanned
                                                #rowspans($event)
                                                <td rowspan="$rowspan" colspan="1">&nbsp;</td>
                                            #end  ## if ($event.getRange().isSingleTime())
                                        #else
                                            ## no cell rendered, but counter++
                                        #end
                                    #end
                                #end    ## if ($n==$todayIndex)

                                #set ($tempCol = $hm.get($n) + 1)
                                #if ($hm.put($n, $tempCol)) #end

                    #end    ## if($result >=1)
            #end ## the 2nd foreach x in m
        #else ## corresponding to if($m.size()>1) -> m.size <=1
                #foreach ($x in $m)
                    #set($eventclass = $x)
                    #set($event = $x.getEvent())
                #end

                #if($eventclass.getFlag()==false)
                        ## to calculate how many columns should be spanned
                        ## #colspan($conflictVec $eventclass $vec $k $hm $n)
                        #set ($noConflict = "true")
                        #foreach ($item in $conflictVec.iterator())
                            #if ($eventclass.getEvent().Reference.equals($item))
                            #set ($noConflict = "false")
                            #set ($colspan = 1)
                            #end
                        #end
                        #if ($noConflict == "true")
                            #set ($colspan = $vec.elementAt($k))
                        #end
                        #set ($tempCol = $hm.get($n) + $colspan)

                        #if ($n==$todayIndex)
                            #if ($event.getRange().isSingleTime())
                                    #if ($nx==$numberOfSections) #set ($BottomCenter="Bottom") #else #set ($BottomCenter="Center") #end
                                    <td rowspan="1" colspan="$colspan" class="borderGrayToday$BottomCenter event">
                                    <div class="calendarWeekView-event">
                            #else
                                    #if ($noConflict == "true")
                                            #set ($LeftRight = "")
                                    #else
                                        #if ($hm.get($n)==0) ## the leftmost conflict sub-cell
                                        #set ($LeftRight = "Left")
                                        #elseif ($tempCol == $vec.elementAt($k)) ## the rightmost conflict sub-cell
                                        #set ($LeftRight = "Right")
                                        #end
                                    #end
                                    #if ($nx==$numberOfSections) #set ($BottomCenter="Bottom") #else #set ($BottomCenter="Center") #end

                                    ## to calculate how many rows should be spanned
                                    #rowspans($event)
                                    <td rowspan="$rowspan" colspan="$colspan" class="borderGrayToday$LeftRight$BottomCenter event">
                                    <div class="calendarWeekView-event">
                            #end

                        #else
                            #if ($event.getRange().isSingleTime())
                                <td rowspan="1" colspan="$colspan" class="borderGrayDayWeek event">
                                <div class="calendarWeekView-event"> 
                            #else
                                ## to calculate how many rows should be spanned
                                #rowspans($event)
                                <td rowspan="$rowspan" colspan="$colspan" class="borderGrayBackground event">
                                <div class="calendarWeekView-event">
                            #end
                        #end
                        #if ($hm.put($n, $tempCol)) #end

                        <a href="#" 
                           onclick="location='#toolLinkParam("$action" "doDescription" "eventReference=$formattedText.escapeUrl($eventclass.getEvent().getReference())")';return false;" 
                           title="$formattedText.escapeHtml($event.getDisplayName()) - $formattedText.escapeHtml($event.getSiteName())">
                        <span class="icon $eventIconMap.get($event.getType())" title="$localizedEventTypes.get($event.getType())"></span>
                        $formattedText.escapeHtml($event.getDisplayName())</a></div></td>
            #else ## corresponding to if($eventD.getFlag()==false)
                    ## no cell to be rendered, because of the above rowspan. but column counter++
                    ## to calculate how many rols should be spanned
                    #set ($noConflict = "true")
                    #foreach ($item in $conflictVec.iterator())
                        #if ($eventclass.getEvent().Reference.equals($item))
                            #set ($noConflict = "false")
                            #set ($colspan = 1)
                        #end
                    #end
                    #if (!($noConflict == "false"))
                        #set ($colspan = $vec.elementAt($k))
                    #end

                    #set ($tempCol = $hm.get($n) + $colspan)
                    #if ($hm.put($n, $tempCol)) #end
            #end ## corresponding to if($eventD.getFlag()==false)
        #end
    #end ## if($m.isEmpty)

    #set ($left = $vec.elementAt($k)-$hm.get($n))
    #if ($left > 0)
        #foreach ($ii in [1..$left])
            #if ($n==$todayIndex)
                #if ($ii == $left) ## rightmost subcell
                #set ($LeftRight = "Right")
                #else ## middle subcell
                #set ($LeftRight = "Middle")
                #end
                #if ($nx==$numberOfSections) #set ($BottomCenter="Bottom") #else #set ($BottomCenter="Center") #end
                <td class="borderGrayTodayEmpty$LeftRight$BottomCenter">&nbsp;</td>
            #else
                <td class="borderGrayDayWeek">&nbsp;</td>
            #end
        #end
    #end
#end ## foreach($n in [0..6])

#end ## end of macro #same


## to calculate how many rows need to be spanned
#macro (rowspans $event)
    #set ($startTime = $event.getRange().firstTime())
    #if ($startTime.before($dStart.get($n)))
        ## use the page start time as event's first time temporarily
        #set ($startTime = $dStart.get($n))
	#end

    #set ($endTime = $event.getRange().lastTime(0))

    #if ($endTime.after($dEnd.get($n)))
        ## use the page end time as event's first time temporarily
        #set ($endTime = $dEnd.get($n))
	#end

    #set ($du = $endTime.getTime().intValue() - $startTime.getTime().intValue())
    #set($dhour = $helper.getduration($du.longValue(),3600000))
    #set($dminute = $helper.getFractionIn($du.longValue(),$dhour))

    ## if the duration minute ends with "9"
    ## it needs to be formatted
    #if ($dminute == 9) #set ($dminute = 10)
    #elseif ($dminute == 19) #set ($dminute = 20)
    #elseif ($dminute == 29) #set ($dminute = 30)
    #elseif ($dminute == 39) #set ($dminute = 40)
    #elseif ($dminute == 49) #set ($dminute = 50)
    #elseif ($dminute == 59)  #set ($dminute = 0)
    #if ($dhour == 12) #set ($dhour = 1) 
    #else #set ($dhour = $dhour + 1) #end
    #end

    #set ($duMin = $dhour*60 + $dminute)

    #set ($rowspan = 1)
    #set ($startMinInt = $startTime.breakdownLocal().getMin())
	## $event.getDisplayName():$startTime:$endTime:$startMinInt:$duMin<br>
    #if ($startMinInt <30)
    #set ($rowspan = $rowspan + (($duMin - (30 - $startMinInt))/30))
    #set ($oneMore = ($duMin - (30 - $startMinInt))%30)
    #else ## 60> startMinInt >=30
    #set ($rowspan = $rowspan + (($duMin - (60 - $startMinInt))/30))
    #set ($oneMore = ($duMin - (60 - $startMinInt))%30)

    #end
    ###set ($oneMore = ($duMin - (30 - $startMinInt))%30)
    #if ($oneMore > 0)
    	#set ($rowspan = $rowspan + 1)
    #end
    
#end    ## endof macro-rowspan


## to calculate how many columns need to be spanned
#macro (colspan $conflictVec $eventclass $vec $k $hm $n)
#set ($noConflict = "true")
#foreach ($item in $conflictVec.iterator())
    #if ($eventclass.getEvent().Reference.equals($item))
    #set ($noConflict = "false")
    #set ($colspan = 1)
    #end
#end
#if ($noConflict == "true"))
    #set ($colspan = $vec.elementAt($k))
#end
#set ($tempCol = $hm.get($n) + $colspan)
#if ($hm.put($n, $tempCol)) #end
#end

#set ($weekCopy = $week)
#foreach($day_span in [0..6])
    #set ($colspan = 1)
    #set ($mm_span = $weekCopy.getWeek($day_span))
    #foreach($nx_span in [0..$numberOfSections])
            #set($m_span = $mm_span.getEventsBerWeek($nx_span))
## to work out how many sub-columns in each day column
            #if ($m_span.size() > $colspan)
                #set ($colspan = $m_span.size())
            #end
## if an event is part of a conflict, put its id into conflict vector
            #if($m_span.size()>1)
                #foreach ($x in $m_span)
                    #set($event = $x.getEvent())
                    ##""$event.Reference""
                    #if($conflictVec.addElement($event.Reference)) #end
                    
                #end
            #end
    #end
## use vector vec to record [which-day, how many columns] relationship
    #if ($vec.addElement($day_span)) #end
    #if ($vec.addElement($colspan)) #end
#end

## create a hashmap variables to recorder duration start & end times
#set ($dStart = $hm.clone())
#set ($dEnd = $hm.clone())


## get the start & end time for each page
#set ($dayCounter = 6)
#foreach ($single in $pageStartTime)
#if ($dStart.put($dayCounter, $single)) #end
#set ($dayCounter = $dayCounter - 1)
#end
#set ($dayCounter = 6)
#foreach ($single in $pageEndTime)
#if ($dEnd.put($dayCounter, $single)) #end
#set ($dayCounter = $dayCounter - 1)
#end

<!-- how to draw a week-->
<table class="calendar calendar-week" summary="$tlang.getString("vieww.summary")">
<tr>
<th class="timeCellsHeading">
    <div class="viewLinkControl">
    #if($page != "first")
        <button onclick="location='#toolLink("$action" "doPpagew")';return false;" title="$tlang.getString('vieww.gotoe')">$tlang.getString("vieww.gotoe")</a>
    #end
    </div>
</th>
#set ($i=0)
#foreach ($dayName in $dayOfWeekNames)
    ## --- if the current date is today's date, 
    ## --- then indicate the date
    #if ($todayIndex == $i)
        #set ($border = "borderTodayTop" )
    #else
        #set ($border = "borderWhite")
    #end

    #set ($j=2*$i+1) 
    <th class="$border" colspan="$vec.elementAt($j)" scope="col">
        <a href="#toolLinkParam("$action" "doDay" "day=$week.getWeek($i).getDay()&month=$week.getWeek($i).getMonth()&year=$week.getWeek($i).getYear()")">$dayName $week.getWeek($i).getDay()</a>
    </th>
    #set ($i=$i+1)
#end
</tr>

#if($page== "second")
        #set($timer = 8)
        #set($fractiontime ="false")

        #set($e = $timer - 3)
        #set($e = $e * 2)
        #set($e = $e + 4)

        #foreach($nx in [0..$numberOfSections])
            <tr>
            #if($fractiontime == "false")
                #set($temp = $timer)
                #set($temp2 = $timer % 24)
                #set($timer = $temp2 % 12)
                <th class="timeCells" rowspan="2" scope="row">
                #foreach ($format in $timeFormat)
                    #if ($format == "h")
                        #if ($timer == 0) #set($timer=12) #end
                        $timer
                    #elseif ($format == "a")
                        #if ($temp2 >= 12) $pmString
                        #else $amString
                        #end
                    #elseif ($format == "H")
                        ${temp2}:00
                    #end
                #end
                </th>
                #set($timer = $temp)
                #set($fractiontime ="true")
            #else
                #set($fractiontime = "false")
                #set($timer = $timer+1)
            #end
##            #same()
#foreach($n in [0..6])
    #set ($mm = $week.getWeek($n))
    #set($m = $mm.getEventsBerWeek($nx))
    #set ($k=$n*2+1)
    #if ($hm.put($n, 0)) #end ##to record how many sub-columns filled for each cell

    #if($m.isEmpty()) ## if this cell has no event
        #if ($n==$todayIndex)
            #if ($nx==$numberOfSections)
                <td class="borderTodayBottom" colspan="$vec.elementAt($k)">&nbsp;</td>
            #else
                <td class="borderTodayCenter" colspan="$vec.elementAt($k)">&nbsp;</td>
            #end
        #else
            <td class="borderFullGray" colspan="$vec.elementAt($k)">&nbsp;</td>
        #end
        #if ($hm.put($n, $vec.elementAt($k))) #end
    #else
        #if($m.size()>1)
            #set($emptycounter = 0)
            #set($nonemptycounter = 0)
            #foreach ($x in $m)
                    #if($x== "")
                        #set($emptycounter = $emptycounter+1)
                    #else
                        #set($nonemptycounter = $nonemptycounter + 1)
                    #end
            #end
            #set($result = $nonemptycounter - $emptycounter)

            #foreach ($x in $m)
                #set($event = $x.getEvent())
                #set($eventD = $x)

                #if($result >=1)
                    #if ($eventD.getFlag()==false)
                        #if ($n==$todayIndex)
                            #set ($tempCol = $hm.get($n) + 1)

                            #if ($hm.get($n)==0) ## the leftmost conflict sub-cell
                            #set ($LeftRight = "Left")
                            #elseif ($tempCol == $vec.elementAt($k)) ## the rightmost conflict sub-cell
                            #set ($LeftRight = "Right")
                            #else   ## if this subcell in the middle, its borders are all gray
                            #set ($LeftRight="Middle")
                            #end
                            #if ($nx==$numberOfSections) #set ($BottomCenter="Bottom") #else #set ($BottomCenter="Center") #end

                            ## to calculate how many rows should be spanned
                            #rowspans($event)
                            #if ($event.getRange().isSingleTime())
                                    <td rowspan="1" colspan="1" class="borderGrayToday$LeftRight$BottomCenter event">
                                    <div class="calendarWeekView-event">
                            #else  
                                    <td rowspan="$rowspan" colspan="1" class="borderGrayToday$LeftRight$BottomCenter event">
                                    <div class="calendarWeekView-event">
                            #end
                            #if ($hm.put($n, $tempCol)) #end
                        #else ## if ($n==$todayIndex) -> n != today
                            #set ($colspan = 1)
                            #if ($event.getRange().isSingleTime())
                                <td rowspan="1" colspan="1" class="borderGrayDayWeek event">
                                <div class="calendarWeekView-event">
                            #else
                                ## to calculate how many rows should be spanned
                                #rowspans($event)
                                <td rowspan="$rowspan" colspan="$colspan" class="borderGrayBackground event">
                                <div class="calendarWeekView-event">
                            #end
                            #set ($tempCol = $hm.get($n) + $colspan)
                            #if ($hm.put($n, $tempCol)) #end
                        #end ## if ($n==$todayIndex)

                        <a href="#" 
                           onclick="location='#toolLinkParam("$action" "doDescription" "eventReference=$formattedText.escapeUrl($event.getReference())")';return false;" 
                           title="$formattedText.escapeHtml($event.getDisplayName()) - $formattedText.escapeHtml($event.getSiteName())">
                        <span class="icon $eventIconMap.get($event.getType())" title="$localizedEventTypes.get($event.getType())"></span>
                        $formattedText.escapeHtml($event.getDisplayName())</a></div></td>

                    #else   ## -> flag == true
                            ## this cell is just expanding the above event
                            #if ($n==$todayIndex)
                                #if ($x=="")
                                    #if ($hm.get($n)==0) ## the leftmost conflict sub-cell
                                    #set ($LeftRight = "Left")
                                    #elseif ($tempCol == $vec.elementAt($k)) ## the rightmost conflict sub-cell
                                    #set ($LeftRight = "Right")
                                    #else   ## if this subcell in the middle, its borders are all gray
                                    #set ($LeftRight="Middle")
                                    #end
                                    #if ($nx==$numberOfSections) #set ($BottomCenter="Bottom") #else #set ($BottomCenter="Center") #end
                                    <td class="borderGrayToday$LeftRight$BottomCenter">&nbsp;</td>
                                #else
                                    ## no cell to be rendered 
                                #end
                            #else
                                    ## 2 conditions to get here
                                    ## 1st is there are multiple columns, although no event in this cell at this column
                                    ## 2nd is extanding the above event, which has rowspaned. so this cell no need to be displayed
                                    #if ($x == "")
                                        <td class="borderGrayDayWeek">&nbsp;</td>
                                    #else
                                        ## expanding the above event
                                    #end
                            #end
                            #set ($tempCol = $hm.get($n) + 1)
                            #if ($hm.put($n, $tempCol)) #end
                    #end
                #else ## if($result >=1) -> result<1
                                #if ($n==$todayIndex)
                                    #if ($x == "")
                                        #if ($hm.get($n)==0) ## the leftmost conflict sub-cell
                                        #set ($LeftRight = "Left")
                                        #elseif ($tempCol == $vec.elementAt($k)) ## the rightmost conflict sub-cell
                                        #set ($LeftRight = "Right")
                                        #else   ## if this subcell in the middle, its borders are all gray
                                        #set ($LeftRight="Middle")
                                        #end
                                        #if ($nx==$numberOfSections) #set ($BottomCenter="Bottom") #else #set ($BottomCenter="Center") #end
                                        <td class="borderGrayToday$LeftRight$BottomCenter">&nbsp;</td>
                                    #else
                                        #if ($eventD.Flag == false)
                                            #if ($event.getRange().isSingleTime())
                                                <td rowspan="1" colspan="$colspan" class="borderGrayDayWeek">&nbsp;</td>
                                            #else
                                                ## to calculate how many rows should be spanned
                                                #rowspans($event)
                                                #set ($heightPct = 5 * $rowspan)
                                                <td rowspan="$rowspan" colspan="1">&nbsp;</td>
                                            #end  ## if ($event.getRange().isSingleTime())
                                        #else   
                                            ## no cell to be rendered, because of the above rowspan. but counter++
                                        #end    ## if ($eventD.Flag == false)
                                    #end    ## if x==""

                                #else ## if n == today index -> not today
                                    ## 3 conditions to get here
                                    ## 1st is there are multiple columns, although no event in this cell at this column
                                    ## 2nd is extanding the above event, which has rowspaned. so this cell no need to be displayed
                                    ## 3rd is result < 0

                                    #if ($x == "")
                                        <td class="borderGrayDayWeek">&nbsp;</td>
                                    #else
                                        #if ($eventD.Flag == false)
                                            #if ($event.getRange().isSingleTime())
                                                <td rowspan="1" colspan="$colspan" class="borderGrayDayWeek">&nbsp;</td>
                                            #else
                                                ## to calculate how many rows should be spanned
                                                #rowspans($event)
                                                <td rowspan="$rowspan" colspan="1"&nbsp;</td>
                                            #end  ## if ($event.getRange().isSingleTime())
                                        #else
                                            ## no cell rendered, but counter++
                                        #end
                                    #end
                                #end    ## if ($n==$todayIndex)

                                #set ($tempCol = $hm.get($n) + 1)
                                #if ($hm.put($n, $tempCol)) #end

                    #end    ## if($result >=1)
            #end ## the 2nd foreach x in m
        #else ## corresponding to if($m.size()>1) -> m.size <=1
                #foreach ($x in $m)
                    #set($eventclass = $x)
                    #set($event = $x.getEvent())
                #end

                #if($eventclass.getFlag()==false)
                        ## to calculate how many columns should be spanned
                        ## #colspan($conflictVec $eventclass $vec $k $hm $n)
                        #set ($noConflict = "true")
                        #foreach ($item in $conflictVec.iterator())
                            #if ($eventclass.getEvent().Reference.equals($item))
                            #set ($noConflict = "false")
                            #set ($colspan = 1)
                            #end
                        #end
                        #if ($noConflict == "true")
                            #set ($colspan = $vec.elementAt($k))
                        #end
                        #set ($tempCol = $hm.get($n) + $colspan)

                        #if ($n==$todayIndex)
                            #if ($event.getRange().isSingleTime())
                                    #if ($nx==$numberOfSections) #set ($BottomCenter="Bottom") #else #set ($BottomCenter="Center") #end
                                    <td rowspan="1" colspan="$colspan" class="borderGrayToday$BottomCenter event">
                                    <div class="calendarWeekView-event">
                            #else
                                    #if ($noConflict == "true")
                                            #set ($LeftRight = "")
                                    #else
                                        #if ($hm.get($n)==0) ## the leftmost conflict sub-cell
                                        #set ($LeftRight = "Left")
                                        #elseif ($tempCol == $vec.elementAt($k)) ## the rightmost conflict sub-cell
                                        #set ($LeftRight = "Right")
                                        #end
                                    #end
                                    #if ($nx==$numberOfSections) #set ($BottomCenter="Bottom") #else #set ($BottomCenter="Center") #end

                                    ## to calculate how many rows should be spanned
                                    #rowspans($event)
                                    <td rowspan="$rowspan" colspan="$colspan" class="borderGrayToday$LeftRight$BottomCenter event">
                                    <div class="calendarWeekView-event">
                            #end

                        #else
                            #if ($event.getRange().isSingleTime())
                                <td rowspan="1" colspan="$colspan" class="borderGrayDayWeek event">
                                <div class="calendarWeekView-event">
                            #else
                                ## to calculate how many rows should be spanned
                                #rowspans($event)
                                <td rowspan="$rowspan" colspan="$colspan" class="borderGrayBackground event">
                                <div class="calendarWeekView-event">
                            #end
                        #end
                        #if ($hm.put($n, $tempCol)) #end

                        <a href="#toolLinkParam("$action" "doDescription" "eventReference=$formattedText.escapeUrl($eventclass.getEvent().getReference())")" 
                           title="$formattedText.escapeHtml($eventclass.getEvent().getDisplayName()) - $formattedText.escapeHtml($eventclass.getEvent().getSiteName())">
                        <span class="icon $eventIconMap.get($event.getType())" title="$localizedEventTypes.get($event.getType())"></span>
                        $formattedText.escapeHtml($event.getDisplayName())</a></div></td>
            #else ## corresponding to if($eventD.getFlag()==false)
                    ## no cell to be rendered, because of the above rowspan. but column counter++
                    ## to calculate how many rols should be spanned
                    #set ($noConflict = "true")
                    #foreach ($item in $conflictVec.iterator())
                        #if ($eventclass.getEvent().Reference.equals($item))
                            #set ($noConflict = "false")
                            #set ($colspan = 1)
                        #end
                    #end
                    #if (!($noConflict == "false"))
                        #set ($colspan = $vec.elementAt($k))
                    #end

                    #set ($tempCol = $hm.get($n) + $colspan)
                    #if ($hm.put($n, $tempCol)) #end
            #end ## corresponding to if($eventD.getFlag()==false)
        #end
    #end ## if($m.isEmpty)

    #set ($left = $vec.elementAt($k)-$hm.get($n))
    #if ($left > 0)
        #foreach ($ii in [1..$left])
            #if ($n==$todayIndex)
                #if ($ii == $left) ## rightmost subcell
                #set ($LeftRight = "Right")
                #else ## middle subcell
                #set ($LeftRight = "Middle")
                #end
                #if ($nx==$numberOfSections) #set ($BottomCenter="Bottom") #else #set ($BottomCenter="Center") #end
                <td class="borderGrayTodayEmpty$LeftRight$BottomCenter">&nbsp;</td>
            #else
                <td class="borderGrayDayWeek">&nbsp;</td>
            #end
        #end
    #end
#end ## foreach($n in [0..6])



            #set($e = $e +1)
            </tr>
    #end ## #foreach($nx in [0..$numberOfSections])

#elseif($page== "third" )
        #set($timer = $thirdPageStartHour)

        #set($fractiontime ="false")
        #set($e = $timer - 3)
        #set($e = $e * 2)
        #set($e = $e + 4)

        #foreach($nx in [0..$numberOfSections])
            <tr>
            #if($fractiontime == "false")
                #set($temp = $timer)
                #set($temp2 = $timer % 24)
                #set($timer = $temp2 % 12)
                <th align="right" rowspan="2" class="borderWhite timeCells" scope="row">
                #foreach ($format in $timeFormat)
                    #if ($format == "h")
                        #if ($timer == 0) #set($timer=12) #end
                        $timer
                    #elseif ($format == "a")
                        #if ($temp2 >= 12) $pmString
                        #else $amString
                        #end
                    #elseif ($format == "H")
                        ${temp2}:00
                    #end
                #end
                </th>
                #set($timer = $temp)
                #set($fractiontime ="true")
            #else
                #set($fractiontime = "false")
                #set($timer = $timer+1)
            #end
            #same()
                #set($e = $e +1)
            </tr>
        #end

#elseif($page== "first" )
        #set($timer = 0)
        #set($e = 24 - 3)
        #set($e = $e * 2)
        #set($e = $e + 4)
        #set($fractiontime ="false")

        #foreach($nx in [0..$numberOfSections])
            <tr>
            #if($fractiontime == "false")
                #set($temp = $timer)
                #set($temp2 = $timer % 24)
                #set($timer = $temp2 % 12)
                <th align="right" rowspan="2" class="borderWhite timeCells" scope="row">
                #foreach ($format in $timeFormat)
                    #if ($format == "h")
                        #if ($timer == 0) #set($timer=12) #end
                        $timer
                    #elseif ($format == "a")
                        #if ($temp2 >= 12) $pmString
                        #else $amString
                        #end
                    #elseif ($format == "H")
                        ${temp2}:00
                    #end
                #end
                </th>
                #set($timer = $temp)
                #set($fractiontime ="true")
            #else
                #set($fractiontime = "false")
                #set($timer = $timer+1)
            #end
            #same()
            #if($e == 47)
                #set($e = 0)
            #else
                #set($e = $e +1)
            #end
            </tr>
        #end
#end ## if the page is second, third or first
</table>
#if($page != "third")
<div class="viewLinkControl">
		<button onclick="location='#toolLink("$action" "doNpagew")';return false;" title="$tlang.getString('vieww.gotol')">$tlang.getString("vieww.gotol")</a>
</div>
#end

## include the Legend:
#calendarLegend()

</div>
