## $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/calendar/chef_calendar-opaqueUrl2.vm,v 1.5 2005/05/28 03:04:35 ggolden.umich.edu Exp $
<div class="portletBody"> 
	#if($menu)#toolbar($menu)#end
	<div class="page-header">
		<h1>$tlang.getString('ical_opaqueurl_header_existing')</h1>
	</div>
		<p class = "instruction">
			$icalInfoStr
		</p>
		<p class="sak-banner-warn">
			$tlang.getString('ical_opaqueurl_explanation_existing')
		</p>
	#if (!$isMyWorkspace)
		<p class="sak-banner-info">
			$tlang.getString('ical_opaqueurl_myworkspace')
		</p>
	#end
	<div class="well">
		<p>$tlang.getString("ical_opaqueurl_webcal")<br/>
			<a href="$!webcalUrl" target="_new_">$webcalUrl</a>
		</p>
		<p>$tlang.getString("ical_opaqueurl_http")<br/>
			<a href="$!opaqueUrl" target="_new_">$opaqueUrl</a>
		</p>
	</div>
	<form action="#toolForm($action)" method="post">
		<div class="act">
			<input type="submit" class="active" accesskey="r" name="$form-regenerate" value="$tlang.getString('ical_opaqueurl_regenerate')" />
			<input type="submit" accesskey="d" name="$form-delete" value="$tlang.getString('ical_opaqueurl_delete')" />
			<input type="submit" accesskey="x" name="$form-cancel" value="$tlang.getString("gen.cancel")" />
			<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
		</div>
		<input type="hidden" name="state" value="$state" />
	</form>
</div>
