#**
calendar Portlet
@author 
@version 1.1 

*#

#* Calendar Event Legend macro
*#

#macro (eventLegend $tlang)
	<h4>$tlang.getString('view.legend')</h4>
	<ul class="calendarLegend">
		<li><span class="icon icon-calendar-academic-calendar"></span> $tlang.getString('legend.key1')</li>
		<li><span class="icon icon-calendar-activity"></span> $tlang.getString('legend.key2')</li>
		<li><span class="icon icon-calendar-cancellation"></span> $tlang.getString('legend.key3')</li>
		<li><span class="icon icon-calendar-class-section-discussion"></span> $tlang.getString('legend.key4')</li>
		<li><span class="icon icon-calendar-class-section-lab"></span> $tlang.getString('legend.key5')</li>
		<li><span class="icon icon-calendar-class-section-lecture"></span> $tlang.getString('legend.key6')</li>
		<li><span class="icon icon-calendar-class-section-small-group"></span> $tlang.getString('legend.key7')</li>
		<li><span class="icon icon-calendar-class-session"></span> $tlang.getString('legend.key8')</li>
		<li><span class="icon icon-calendar-computer-session"></span> $tlang.getString('legend.key9')</li>
		<li><span class="icon icon-calendar-deadline"></span> $tlang.getString('legend.key10')</li>
		<li><span class="icon icon-calendar-exam"></span> $tlang.getString('legend.key11')</li>
		<li><span class="icon icon-calendar-formative-assessment"></span> $tlang.getString('legend.key17')</li>
		<li><span class="icon icon-calendar-meeting"></span> $tlang.getString('legend.key12')</li>
		<li><span class="icon icon-calendar-multidisciplinary-conference"></span> $tlang.getString('legend.key13')</li>
		<li><span class="icon icon-calendar-quiz"></span> $tlang.getString('legend.key14')</li>
		<li><span class="icon icon-calendar-special-event"></span> $tlang.getString('legend.key15')</li>
		<li><span class="icon icon-calendar-submission-date"></span> $tlang.getString('legend.key18')</li>
		<li><span class="icon icon-calendar-tutorial"></span> $tlang.getString('legend.key19')</li>
		<li><span class="icon icon-calendar-web-assignment"></span> $tlang.getString('legend.key16')</li>
		<li><span class="icon icon-calendar-workshop"></span> $tlang.getString('legend.key20')</li>
	</ul>
	<div class="clear"></div>
#end

#* Calendar Event Icons macro
*#

#macro (iconImage $eventType)
#if ($eventType=="Academic Calendar")
<span class="icon icon-calendar-academic-calendar" title="$tlang.getString('legend.key1')" ></span>
#elseif ($eventType =="Activity")
<span class="icon icon-calendar-activity" title="$tlang.getString('legend.key2')" ></span>
#elseif ($eventType =="Cancellation")
<span class="icon icon-calendar-cancellation" title="$tlang.getString('legend.key3')" ></span>
#elseif ($eventType =="Class section - Discussion")
<span class="icon icon-calendar-class-section-discussion" title="$tlang.getString('legend.key4')" ></span>
#elseif ($eventType =="Class section - Lab")
<span class="icon icon-calendar-class-section-lab" title="$tlang.getString('legend.key5')" ></span>
#elseif ($eventType =="Class section - Lecture")
<span class="icon icon-calendar-class-section-lecture" title="$tlang.getString('legend.key6')" ></span>
#elseif ($eventType =="Class section - Small Group")
<span class="icon icon-calendar-class-section-small-group" title="$tlang.getString('legend.key7')" ></span>
#elseif ($eventType =="Class session")
<span class="icon icon-calendar-class-session" title="$tlang.getString('legend.key8')" ></span>
#elseif ($eventType =="Computer Session")
<span class="icon icon-calendar-computer-session" title="$tlang.getString('legend.key9')" ></span>
#elseif ($eventType =="Deadline")
<span class="icon icon-calendar-deadline" title="$tlang.getString('legend.key10')" ></span>
#elseif ($eventType =="Exam")
<span class="icon icon-calendar-exam" title="$tlang.getString('legend.key11')" ></span>
#elseif ($eventType =="Formative Assessment")
<span class="icon icon-calendar-formative-assessment" title="$tlang.getString('legend.key17')" ></span>
#elseif ($eventType =="Meeting")
<span class="icon icon-calendar-meeting" title="$tlang.getString('legend.key12')" ></span>
#elseif ($eventType =="Multidisciplinary Conference")
<span class="icon icon-calendar-multidisciplinary-conference" title="$tlang.getString('legend.key13')" ></span>
#elseif ($eventType =="Quiz")
<span class="icon icon-calendar-quiz" title="$tlang.getString('legend.key14')" ></span>
#elseif ($eventType =="Special event")
<span class="icon icon-calendar-special-event" title="$tlang.getString('legend.key15')" ></span>
#elseif ($eventType =="Submission Date")
<span class="icon icon-calendar-submission-date" title="$tlang.getString('legend.key18')" ></span>
#elseif ($eventType =="Tutorial")
<span class="icon icon-calendar-tutorial" title="$tlang.getString('legend.key19')" ></span>
#elseif ($eventType =="Web Assignment")
<span class="icon icon-calendar-web-assignment" title="$tlang.getString('legend.key16')" ></span>
#elseif ($eventType =="Workshop")
<span class="icon icon-calendar-workshop" title="$tlang.getString('legend.key20')" ></span>
#end
#end


#if ($message=='new')
        #parse("/vm/calendar/chef_calendar_new.vm")
#elseif ($message=='icalEx')
        #parse("/vm/calendar/chef_calendar_icalexport.vm")
#elseif ($message=='scheduleImport')
        #parse("/vm/calendar/chef_calendar_import_wizard.vm")
#elseif ($message=='month')
        #parse("/vm/calendar/chef_calendar_viewMonth.vm")
#elseif ($message=='year')
	#parse("/vm/calendar/chef_calendar_viewYear.vm")
#elseif ($message=='day')
	#parse("/vm/calendar/chef_calendar_viewDay.vm")
#elseif ($message=='week')
	#parse("/vm/calendar/chef_calendar_viewWeek.vm")
#elseif ($message=='description')
	#parse("/vm/calendar/chef_calendar_viewActivity.vm")
#elseif ($message=='revise')
	#parse("/vm/calendar/chef_calendar_revise.vm")
#elseif ($message=='delete')
	#parse("/vm/calendar/chef_calendar_delete.vm")
#elseif ($message=='list')
	#parse("/vm/calendar/chef_calendar_viewList.vm")
#elseif ($message=='calendarSubscriptions')
	#parse("/vm/calendar/chef_calendar-subscriptions.vm")
#elseif ($message=='customizeCalendar')
		#parse("/vm/calendar/chef_calendar-customize_fields.vm")
#elseif ($message=='mergeCalendars')
		#parse("/vm/calendar/chef_calendar-merge.vm")
#elseif ($message=='setFrequency')
        #parse("/vm/calendar/chef_calendar_setFrequency.vm")
#elseif ($message=='opaqueUrlClean')
        #parse("/vm/calendar/chef_calendar-opaqueUrlClean.vm")
#elseif ($message=='opaqueUrlExisting')
        #parse("/vm/calendar/chef_calendar-opaqueUrlExisting.vm")
#end

