## $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/calendar/chef_calendar-opaqueUrl1.vm,v 1.5 2005/05/28 03:04:35 ggolden.umich.edu Exp $
<div class="portletBody"> 
	#if($menu)#toolbar($menu)#end
	<h3>
		$tlang.getString('ical_opaqueurl_header')
	</h3>
	<p class="instruction">
		$tlang.getString('ical_opaqueurl_explanation')
	</p>
	<p class = "instruction">
		$icalInfoStr
	</p>
	#if (!$isMyWorkspace)
		<p class="instruction">
			<em>$tlang.getString('ical_opaqueurl_myworkspace')</em>
		</p>
	#end
	<form action="#toolForm($action)" method="post">
		<div class="act">
			<input type="submit" class="active" accesskey="g" name="$form-generate" value="$tlang.getString('ical_opaqueurl_generate')" />
			<input type="submit" accesskey="x" name="$form-cancel" value="$tlang.getString("gen.cancel")" />
		  <input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
		</div>
		<input type="hidden" name="state" value="$state" />
	</form>
</div>
