body {
	background:#cccccc;
	font-family:'Helvetica Neue',Arial,'Nimbus Sans L','Liberation Sans',sans-serif;
}
p, h1, form, button {
    border: 0;
    margin: 0;
    padding: 0;
}

.spacer {
    clear: both;
    height: 1px;
}

/* ----------- Activate Form ----------- */
.activateForm {
	border: 2px solid #DDDDDD;
	margin: 0 auto;
	padding: 1em;
}

.activateLegend
{
	padding: 0 0.5em;
}


/* ----------- wrapper ------------*/
.wrapper {
	border:2px solid #336699;
	padding:10px 20px 20px 20px;
	background:#fff;
	margin: 2em auto;
	width:50em;
}

.stylized .topheading {
    text-align: center;
    margin-bottom: 12px;
}

.stylized .logo {
    background: #444 url(/library/skin/morpheus-default/images/logo.png) no-repeat center center;
    width: 100%;
    height: 64px;
    margin: 0 auto;
    overflow: hidden;
@include border-radius( 0px );
}

.stylized .logo h3 {
    position: relative;
    top: 18px;
    left: 220px;
}

/* ----------- stylized ----------- */
.stylized {
	word-wrap: break-word;
}

.stylized h1 {
    font-weight: bold;
    margin-bottom: 8px;
}

.stylized h3 {
	text-align:center;
}

.stylized .instruction {
	text-align:left;
}

.stylized div.instruction {
	display:block;
	margin:0 auto;
	line-height: 200%;
}

.stylized ul.instruction {
	display:block;
	width:50%;
}

.stylized p {
    color: #666666;
    border-bottom: solid 1px #E4E4E4;
    padding-bottom: 10px;
	margin-bottom:20px;
}

.stylized label {
    display:block;
    float:left;
    font-weight: bold;
    text-align: right;
    width: 21em;
    margin-right: 1em;
}

.siteList
{
	display: block;
	text-align:left;
	margin: auto;
}

.inputDiv label
{
    position: relative;
    top: 5px;
}

.stylized span.reqStar {
	/* needed to override tool.css */
	float:none;
	margin-left:2px;
	border:0 none;
	font-weight:bold;
}

.stylized .info {
	background:transparent url(/library/image/sakai/information.png) no-repeat scroll 0 0;
	color:#666666;
	padding-left:20px;
	padding-bottom:20px;
}

.stylized > form {
	position:relative;
	text-align:center;
}


.stylized .small {
    color: #666666;
    display: block;
    font-size: 11px;
    font-weight: normal;
    text-align: right;
    width: 110px;
}

.stylized .inputBox {
    display: block;
    float: left;
    padding: 4px 2px;
    border: 1px solid #aacfe4;
    width: 17em;
    margin: 0 0 6px 1em;
}

.stylized .terms input {
	float: left;
	margin-left: 1em;
	margin-bottom: 1em;
	vertical-align: middle;
}

.stylized input[type=submit] {
	display: block;
	position: relative;
	margin: 1em auto 0 auto;
	clear: both;
	text-align: center;
}

.username {
	color:#336699;
	font-weight:bold;
}

.usernameParent {
	display:block;
	margin-bottom: 5px;
	text-align:center;
	word-break:break-all;
}

.inputDiv, .required
{
	height: 2.5em;
}

.validationMsgContainer
{
	margin-left: 20em;
	width: 20em;
}

.centeredFeedback span
{
	margin: auto;
}

.yellowBackground
{
	background-color: #FFFFCC;
	border: 1px solid #EEEEEE;
	display: inline-block;
	margin: 1em auto;
	padding: 1em 6.5em;
}

form p 
{
	text-align:left;
}

#strengthInfo
{
	display: block;
	color: #000;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
	padding: 1em;
	position: relative;
	margin: 0px auto 20px;
	top: 10px;
	width: 80%;

}

#strengthInfo:before
{
	top: -15px;
	left: 27em;
	position: absolute;
	content: "";
	width: 0;
	height: 0;
    border-bottom: 15px solid #ccc;
    border-left: 15px solid rgba(0, 0, 0, 0);
    border-right: 15px solid rgba(0, 0, 0, 0);
}

#matchMsg, #strongMsg, #noMatchMsg, 
#weakMsg, #failMsg, #moderateMsg
{
    display: block;
    vertical-align: top;
    line-height: 1.4em;
	margin: 30px 0 5px 40px;
	padding: 0 0 0 20px;
	text-align: left;
}

#noMatchMsg, #failMsg
{
    background: transparent url("/library/image/silk/cancel.png") no-repeat left center;
    color: #000;
}

#matchMsg, #strongMsg, 
#moderateMsg, #weakMsg
{
    background: transparent url("/library/image/silk/accept.png") no-repeat left center;
    color: #000;    
}

#strengthBar
{
	background-color: #ccc;
	width: 17em;
	height: 5px;
	margin: 5px 5px 5px 2em;
	text-align: left;
}

/*#strengthBar
{
	margin: 5px 0px 5px 5em;
}*/

#strengthBarMeter
{
	display: inline-block;
	width: 0%;
	height: 100%;
	background-color: #900;
}
