<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="org.sakaiproject.service.gradebook.GradebookService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref bean="gradebookTransactionManager"/></property>
		<property name="target"><ref bean="org_sakaiproject_component_gradebook_GradebookServiceHibernateImpl"/></property>
		<property name="transactionAttributes">
			<props>
	            <prop key="add*">PROPAGATION_REQUIRED</prop>
	            <prop key="update*">PROPAGATION_REQUIRED</prop>
	            <prop key="remove*">PROPAGATION_REQUIRED</prop>
	            <prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>

	<bean id="org.sakaiproject.service.gradebook.shared.GradebookArchiveService"
		class="org.sakaiproject.component.gradebook.GradebookArchiveServiceSakaiLegacyImpl">
		<property name="contextManagement">
			<ref bean="org_sakaiproject_tool_gradebook_facades_ContextManagement"/>
		</property>
		<property name="gradebookService">
			<ref bean="org.sakaiproject.service.gradebook.GradebookService" />
		</property>
		<property name="gradebookManager">
			<ref bean="org_sakaiproject_tool_gradebook_business_GradebookManager" />
		</property>
		<property name="gradableObjectManager">
			<ref bean="org_sakaiproject_tool_gradebook_business_GradableObjectManager" />
		</property>
	</bean>
</beans>
