<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="gradebookPropertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:/hibernate.properties</value>
			</list>
		</property>
	</bean>

	<bean id="gradebookTransactionManager" class="org.springframework.orm.hibernate.HibernateTransactionManager">
		<property name="sessionFactory"><ref bean="gradebookSessionFactory"/></property>
	</bean>

	<bean id="gradebookTxTemplate" lazy-init="true" abstract="true" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref bean="gradebookTransactionManager"/></property>
		<property name="transactionAttributes">
			<props>
				<!-- Do not apply transactions during testing. -->
			</props>
		</property>
	</bean>

</beans>
