properties.name.1=siteinfo.default_joiner_role
properties.type.1=getStrings
properties.tool.1=siteinfo
properties.version.1=2.8
properties.configurable.1=Y
properties.rule.1=url
properties.qualifier.1=none
properties.nullable.1=Y
properties.default.1=.anon,access,member,student

properties.name.2=siteinfo.prohibited_permission_for_joiner_role
properties.type.2=getStrings
properties.tool.2=siteinfo
properties.version.2=2.8
properties.configurable.2=Y
properties.rule.2=url
properties.qualifier.2=none
properties.nullable.2=Y
properties.default.2=site.upd

properties.name.3=site.override.hide.pageorder.site.types
properties.type.3=getStrings
properties.tool.3=siteinfo
properties.version.3=2.9
properties.configurable.3=Y
properties.rule.3=url
properties.qualifier.3=none
properties.nullable.3=Y
properties.default.3=false

properties.name.4=wsetup.skipCourseSectionSelection
properties.type.4=getBoolean
properties.tool.4=sitesetup
properties.version.4=2.6
properties.configurable.4=Y
properties.rule.4=url
properties.qualifier.4=none
properties.nullable.4=Y
properties.default.4=false

properties.name.5=wsetup.skipManualCourseCreation
properties.type.5=getBoolean
properties.tool.5=sitesetup
properties.version.5=10
properties.configurable.5=Y
properties.rule.5=url
properties.qualifier.5=none
properties.nullable.5=Y
properties.default.5=false

properties.name.6=wsetup.group.support.summary
properties.type.6=getBoolean
properties.tool.6=sitesetup
properties.version.6=10
properties.configurable.6=Y
properties.rule.6=url
properties.qualifier.6=none
properties.nullable.6=Y
properties.default.6=true

properties.name.7=wsetup.sectionfield.required_fields_subject.max
properties.type.7=getInt
properties.tool.7=sitesetup
properties.version.7=10
properties.configurable.7=Y
properties.rule.7=url
properties.qualifier.7=none
properties.nullable.7=Y
properties.default.7=true

properties.name.8=wsetup.sectionfield.required_fields_course.max
properties.type.8=getInt
properties.tool.8=sitesetup
properties.version.8=10
properties.configurable.8=Y
properties.rule.8=url
properties.qualifier.8=none
properties.nullable.8=Y
properties.default.8=true

properties.name.9=wsetup.sectionfield.required_fields_section.max
properties.type.9=getInt
properties.tool.9=sitesetup
properties.version.9=10
properties.configurable.9=Y
properties.rule.9=url
properties.qualifier.9=none
properties.nullable.9=Y
properties.default.9=true



