<a role="button" tabindex="0" aria-pressed="false" data-title-expand="Expand tool navigation" class="Mrphs-toggleNav js-toggle-nav max" title="Minimize tool navigation"><span class="accessibility-btn-label">Minimize tool navigation</span></a>