## login component

<nav id="mastLogin" class="Mrphs-loginNav">

    #if (!${loginTopLogin})

        #if (${userIsLoggedIn})
            #if ($viewAsStudentLink)
                #parse("/vm/morpheus/snippets/roleSwitch-snippet.vm")
            #end ## END of IF ($viewAsStudentLink)

            #if (${useBullhornAlerts})
            <div class="Mrphs-sitesNav__menuitem portal-bullhorns-buttons">
                <a id="Mrphs-academic-bullhorn" href="javascript:void(0);" title="${rloader.sit_academic_bullhorn_title}" aria-haspopup="true">
                    <span class="icon-sakai--academic-bullhorn"></span>
                </a>
                <a id="Mrphs-social-bullhorn" href="javascript:void(0);" title="${rloader.sit_social_bullhorn_title}" aria-haspopup="true">
                    <span class="icon-sakai--social-bullhorn"></span>
                </a>
            </div>
            #end
        #end

        #if ($quickLinks)
            <ul id="quickLinks" class="Mrphs-quickLinksNav">
                <li class="Mrphs-quickLinksNav__popup">
                    <a href="javascript:void(0);" class="js-toggle-quick-links-nav" title="${rloader.sit_quick_links_title}" aria-haspopup="true">
                        <i class="fa fa-th fa-external-link-square" aria-hidden="true"></i><span class="quicklinks-label">${rloader.sit_quick_links}</span>
                    </a>
                </li>

                <ul class="Mrphs-quickLinksNav__subnav is-hidden" role="menu">
                    <li id="quickLinks-header" class="Mrphs-quickLinksNav__submenuitem">
                        <span class="Mrphs-quickLinks-header--info">${quickLinksInfo}</span>
                        <a id="quickLinks-close" href="javascript:void(0);"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </li>
                    <div id="selectQuickLink">
                        <div class="tab-box">
                            #foreach($quickLink in $quickLinks)
                                <li class="Mrphs-quickLinksNav__submenuitem">
                                    <a role="menuitem" href="${quickLink.url}" title="$quickLink.title" target="_blank">
                                        #if(${quickLink.iconType} == "image")
                                            <span id="quicklink-icon" style="background-image:url(${quickLink.imageURI})"></span>
                                        #elseif (${quickLink.iconType} == "icon")
                                            <span id="quicklink-icon" class="${quickLink.iconClass}"></span>
                                        #end
                                        <span class="Mrphs-quickLinks__submenuitem--title">${quickLink.name}</span>
                                    </a>
                                </li>
                            #end
                        </div>
                    </div>
                </ul>
            </ul>
        #end

        #if (${userIsLoggedIn})
            <div class="Mrphs-sitesNav__menuitem view-all-sites-btn">
                <a href="javascript:void(0);" title="${rloader.sit_allsites}" aria-haspopup="true">
                    <i class="fa fa-th all-sites-icon" aria-hidden="true"></i> <span class="all-sites-label">${rloader.sit_worksites}</span>
                </a>
            </div>
        #end

        <ul id="loginLinks" class="Mrphs-userNav">

                #foreach ( $site in $tabsSites.tabsSites )

                    #if (${site.isMyWorkspace})

                        <li class="Mrphs-userNav__popup js-toggle-user-nav">

                                #if (${displayUserloginInfo})

                                    #if (${tabsSites.mrphs_profileToolUrl})

                                        <div id="loginUser" class="has-avatar Mrphs-userNav__submenuitem--userlink #if (${site.isCurrentSite}) current-site #end">
                                            <a href="javascript:void(0);" class="Mrphs-userNav__drop-btn Mrphs-userNav__submenuitem--profilepicture" style="background-image:url(/direct/profile/${loginUserId}/image/thumb)" tabindex="-1"></a>
                                            <a href="javascript:void(0);" class="Mrphs-userNav__drop-btn Mrphs-userNav__submenuitem--username" aria-haspopup="true">${loginUserFirstName}</a>
                                        </div>

                                    #else

                                        <a id="loginUser" href="javascript:void(0);" class="Mrphs-userNav__drop-btn no-avatar Mrphs-userNav__submenuitem--userlink #if (${site.isCurrentSite}) current-site #end">
                                            <span class="Mrphs-userNav__submenuitem--username">${loginUserFirstName}</span>
                                            <span class="Mrphs-userNav__submenuitem--userid">${loginUserDispId}</span>
                                        </a>

                                    #end ## END of IF (${tabsSites.mrphs_profileToolUrl})

                                #end ## END of IF (${displayUserloginInfo})

                            <ul class="Mrphs-userNav__subnav is-hidden" role="menu">

                                <li class="Mrphs-userNav__submenuitem Mrphs-userData">
                                    <div class="Mrphs-userNav__submenuitem--profile-and-image">
                                        #if (${tabsSites.mrphs_profileToolUrl})
                                            <div class="has-avatar">
                                                <a role="menuitem" class="Mrphs-userNav__submenuitem--profilelink" href="${tabsSites.mrphs_profileToolUrl}">
                                                    <span class="Mrphs-userNav__submenuitem--profilepicture Mrphs-userNav__pic-changer" style="background-image:url(/direct/profile/${loginUserId}/image/thumb)" tabindex="-1"></span>
                                                </a>
                                            </div>
                                            <div class="Mrphs-userNav__submenuitem--profile">
                                                <a role="menuitem" href="${tabsSites.mrphs_profileToolUrl}">
                                                    <span>${rloader.sit_profile}</span>
                                                </a>
                                            </div>
                                        #end
                                    </div>
                                    <div class="Mrphs-userNav__submenuitem--fullname-and-id">
                                        <div class="Mrphs-userNav__submenuitem--fullname">
                                            ${loginUserDispName}
                                        </div>
                                        <div class="Mrphs-userNav__submenuitem--displayid">
                                            ${loginUserDispId}
                                        </div>
                                    </div>
                                </li>

                                <li class="Mrphs-userNav__submenuitem Mrphs-userNav__submenuitem-indented">
                                    <a role="menuitem" href="javascript:;" id="Mrphs-userNav__submenuitem--connections">
                                        <span>${rloader.sit_connections}</span>
                                    </a>
                                </li>

                                    #if (${tabsSites.calendarToolUrl})
            
                                        <li class="Mrphs-userNav__submenuitem Mrphs-userNav__submenuitem-indented">
                                            <a role="menuitem" href="${tabsSites.calendarToolUrl}" class="Mrphs-userNav__submenuitem--calendar">
                                                <span>${rloader.sit_calendar}</span>
                                            </a>
                                        </li>
            
                                    #end ## END of IF (${tabsSites.calendarToolUrl})

                                    #if (${tabsSites.prefsToolUrl})

                                        <li class="Mrphs-userNav__submenuitem Mrphs-userNav__submenuitem-indented">
                                            <a role="menuitem" href="${tabsSites.prefsToolUrl}" class="Mrphs-userNav__submenuitem--prefs">
                                                <span>${rloader.sit_preferences}</span>
                                            </a>
                                        </li>

                                    #end ## END of IF (${tabsSites.prefsToolUrl})

                                    #if (${tabsSites.tutorial})

                                        <li class="Mrphs-userNav__submenuitem Mrphs-userNav__submenuitem-indented">
                                            <a id="tutorialLink" role="menuitem" href="#" onclick="startTutorial({});" class="Mrphs-userNav__submenuitem--tutorial">
                                                <span>${rloader.sit_tutorial}</span>
                                            </a>
                                        </li>

                                    #end ## END of IF (${tabsSites.tutorial})

                            #end ## END of IF (${site.isMyWorkspace})

                        #end ## END of FOREACH ( $site in $tabsSites.tabsSites )

                            <li class="Mrphs-userNav__logout Mrphs-userNav__submenuitem-indented">
                                #parse("/vm/morpheus/snippets/loginImage-snippet.vm")
                            </li>

                        </ul>

            </li>

        </ul> <!-- end of nav#loginLinks-->

        ## parse("/vm/morpheus/snippets/loginImage-snippet.vm")
    #else ## ELSE of IF (!${loginTopLogin})

        #parse("/vm/morpheus/snippets/loginForm-snippet.vm")

    #end ## END of IF (!${loginTopLogin})

</nav>
