## Standard Header used by all portal views
## Don't put anything before the <!DOCTYPE>
<!DOCTYPE html>
<html lang="$!{locale}" dir="$!{dir}" class="Mrphs-html $!{userTheme}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        <link rel="manifest" href="/manifest.json">

        <script>
            var portal = {
                "i18n": {
                    "theme_switch_to_light": "$rloader.sit_theme_switch_to_light",
                    "theme_switch_to_dark": "$rloader.sit_theme_switch_to_dark",
                },
                "loggedIn": $!{loggedIn},
                "portalPath": "$!{portalPath}",
                "loggedOutUrl": "$!{loggedOutUrl}",
                "siteId": "$!{siteId}",
                "toolsCollapsed": #if ($toolsCollapsed) true #else false #end,
                "locale": "$!{locale}" || "en-US",
                "serverTimeMillis": "$!{serverTimeMillis}",
                "user": {
                    "id": "$!{userId}",
                    "eid": "$!{userEid}",
                    "userType": "$!{userType}",
                    "siteRole": "$!{userSiteRole}",
                    "impersonatorDisplayId": "$!{impersonatorDisplayId}",
                    "timezone": "$!{userTimezone}",
                    "offsetFromServerMillis": "$!{userTimezoneOffsetMillis}"
                },
                "timeoutDialog" : {
                "enabled": $!{timeoutDialogEnabled},
                "seconds": $!{timeoutDialogWarningSeconds}
                },
                "pageScriptPath" : "$!{pageScriptPath}",
                "editor" : {
                    "type": "$!{editorType}",
                },
                "portalCDNQuery" : "$!{portalCDNQuery}",
                "sakaiSkin" : "$!{pageSkin}",
                "userTheme" : "$!{userTheme}",
                #if ($themesAutoDetectDark)
                "userThemeAutoDetectDark" : true,
                #end
                "mathJaxConfig" : {
                    "format" : [#foreach( $format in $mathJaxFormat )"${format}",#end]
                },
                "hasNotifications" : #if ($hasNotifications) true #else false #end,
                toolTitles : {#foreach ($entry in $toolTitles.entrySet())"$entry.key": "$entry.value",#end},
            };
        </script>

        <script type="module" src="/webcomponents/bundles/base.js$!{portalCDNQuery}"></script>

        #parse("/vm/morpheus/snippets/title-snippet.vm")

        #parse("/vm/morpheus/snippets/portalCSS-snippet.vm")

        <link href="${pageWebjarsPath}jquery-ui/1.12.1/jquery-ui.min.css$!{portalCDNQuery}" rel="stylesheet" />
        <link href="${pageScriptPath}jquery/cluetip/1.2.10/css/jquery.cluetip.css$!{portalCDNQuery}" rel="stylesheet">
        <link href="${pageWebjarsPath}qtip2/3.0.3-1/jquery.qtip.min.css$!{portalCDNQuery}" rel="stylesheet">
        <link href="${pageWebjarsPath}cropper/4.1.0/dist/cropper.min.css$!{portalCDNQuery}" rel="stylesheet">
        <script src="/library/js/modernizr.js$!{portalCDNQuery}"></script>
        <script src="/library/js/BreakpointManager.js$!{portalCDNQuery}"></script>
        <script src="/library/js/sakai-lti-advantage.js$!{portalCDNQuery}"></script>
        <script src="${pageWebjarsPath}momentjs/2.29.4/min/moment-with-locales.min.js$!{portalCDNQuery}"></script>
        <script src="${pageWebjarsPath}popper.js/2.9.3/umd/popper.min.js$!{portalCDNQuery}"></script>
        <script src="${pageWebjarsPath}bootstrap/5.2.0/js/bootstrap.min.js$!{portalCDNQuery}"></script>
        <script src="${pageWebjarsPath}dompurify/2.3.6/dist/purify.min.js$!{portalCDNQuery}"></script>
        <script type="module" src="/vuecomponents/js/sakai.min.js$!{portalCDNQuery}"></script>
        <script src="/library/js/trimpath-template-latest.js$!{portalCDNQuery}"></script>
        <script>
            moment.locale(window.portal.locale);
        </script>
        #parse("/vm/morpheus/snippets/portalScripts-snippet.vm")

        <!-- inlined tool header contribution -->
        ## if any of the tools requested an inline render, their header content gets aggregated here
        #foreach ( $tool in $pageColumn0Tools )
        	#if (${tool.hasRenderResult})
        		${tool.toolRenderResult.getHead()}
        	#end
        #end
        #foreach ( $tool in $pageColumn1Tools )
        	#if (${tool.hasRenderResult})
        		${tool.toolRenderResult.getHead()}
        	#end
        #end
        <!-- end inlined tool header contribution -->

        #parse("/vm/morpheus/includeGoogleTM-Script.vm")
        #if ($faviconURL && !$faviconURL.empty)
                <link rel="icon" href="$!{faviconURL}" type="image/x-icon">
        #end
    </head>
