## TODO: This file contains some placeholder text and content that needs to be revisited later
## to populate the contents and to internationalize. Work-in-progress.
<ul class="sakai-systemIndicators nav flex-nowrap align-items-center">
#*
For opening help sidebar
  <li class="d-none d-md-inline">
    <a class="sak-sysInd-help nav-link text-white" data-bs-toggle="offcanvas" href="#sakai-contextualHelpPanel" role="button" aria-controls="sakai-contextualHelpPanel">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16" role="img" aria-label="View contextual help for this page" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Help">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
      </svg>
    </a>
  </li>
*#

  #if ($pageColumn0Tools && !$pageColumn0Tools.isEmpty())
      #set ($helpLink = $pageColumn0Tools.get(0).toolHelpActionUrl)
  #elseif ($pageColumn1Tools && !$pageColumn1Tools.isEmpty())
      #set ($helpLink = $pageColumn1Tools.get(0).toolHelpActionUrl)
  #end
  #if ($helpLink)
    <li class="d-none d-md-inline">
      <a class="sak-sysInd-help nav-link text-white" href="${helpLink}" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16" role="img" aria-label="View contextual help for this page" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Help">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
        </svg>
      </a>
    </li>
  #end

  #if (${usePortalSearch})
    <li class="d-none d-md-inline">
      <a class="sak-sysInd-search nav-link text-white" data-bs-toggle="offcanvas" href="#sakai-searchPanel" role="button" aria-controls="sakai-searchPanel">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" role="img" aria-label="Search Sakai" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Search">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </a>
    </li>
  #end

  #if ($quickLinks)
    <li class="d-none d-md-inline">
      <a class="sak-sysInd-quicklinks nav-link text-white position-relative" data-bs-toggle="offcanvas" href="#sakai-quickLinksPanel" role="button" aria-controls="sakai-quickLinksPanel">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16" role="img" data-bs-toggle="tooltip" data-bs-placement="bottom" title="${rloader.sit_quick_links}">
          <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
          <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
        </svg>
      </a>
    </li>
  #end

  #if (${useBullhornAlerts})
    <li class="d-none d-md-inline">
      <a class="sak-sysInd-notifications nav-link text-white position-relative" data-bs-toggle="offcanvas" href="#sakai-notificationsPanel" role="button" aria-controls="sakai-notificationsPanel">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16" role="img" aria-label="View notifications" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Notifications">
          <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
        </svg>
        <span class="portal-notifications-indicator p-1 bg-danger rounded-circle">
          <span class="visually-hidden">There are new notifications available</span>
        </span>
      </a>
    </li>
    <li>
      <a class="sak-sysInd-account nav-link text-white" data-bs-toggle="offcanvas" href="#sakai-accountPanel" role="button" aria-controls="sakai-accountPanel" title="Account">
        <img class="sakai-accountProfileImage rounded-circle" width="50" src="/direct/profile/${loginUserId}/image/thumb" alt="Profile image">
      </a>
    </li>
  #end
</ul>
