## This file controls which buttons appear in the mobile footer bar in narrow view, separate of links in the header in wide view

<nav class="portal-mobilebar bg-dark d-flex d-md-none align-items-center justify-content-between">
  <ul class="nav flex-nowrap align-items-center justify-content-around w-100">
    <li>
      <button class="btn icon-button responsive-allsites-button"
          data-bs-toggle="offcanvas"
          data-bs-target="#portal-nav-sidebar"
          aria-controls="portal-nav-sidebar"
          aria-label="$rloader.sit_navigation"
          aria-expanded="false"
          title="$rloader.sit_navigation">
        <span class="bi bi-grid-3x3-gap-fill" aria-hidden="true"></span>
      </button>
    </li>

    #if (!${loginTopLogin})
    <li>
      <button class="btn icon-button"
          data-bs-toggle="offcanvas"
          data-bs-target="#sakai-calendar-panel"
          aria-controls="sakai-calendar-panel"
          aria-label="$rloader.sit_calendar"
          title="$rloader.sit_calendar">
        <span class="si si-calendar" aria-hidden="true"></span>
      </button>
    </li>
    #end


    #if (${useBullhornAlerts} && !${loginTopLogin})
    <li>
      <button class="portal-notifications-button btn icon-button"
          data-bs-toggle="offcanvas"
          data-bs-target="#sakai-notifications-panel"
          aria-controls="sakai-notifications-panel"
          aria-label="$rloader.sit_notifications"
          title="$rloader.sit_notifications">
        <span class="bi bi-bell" aria-hidden="true"></span>
        <span class="portal-notifications-indicator p-1 rounded-circle#if (!$hasNotifications) d-none#end">
          <span class="visually-hidden">$rloader.sit_new_notifications_label</span>
        </span>
      </button>
    </li>
    #end 

    #if (!${loginTopLogin})
    <li>
      <a class="btn icon-button"
          href="/portal"
          title="$rloader.portal_home">
        <span class="bi bi-house" aria-hidden="true"></span>
      </a>
    </li>
    #end

    #if (${usePortalSearch} && !${loginTopLogin})
    <li>
      <button class="btn icon-button portal-search-button"
      		data-bs-toggle="offcanvas"
          data-bs-target="#sakai-search-panel"
          aria-controls="sakai-search-panel"
          aria-label="$rloader.sit_search_for_content"
          title="$rloader.sit_search_for_content">
        <span class="bi bi-search" aria-hidden="true"></span>
      </button>
    </li>
    #end

#* Quick links doesn't look good in mobile view right now so we're hiding it
  #if ($quickLinks)
    <li>
      <button class="btn icon-button"
          data-bs-toggle="offcanvas"
          data-bs-target="#sakai-quickLinksPanel"
          aria-controls="sakai-quickLinksPanel"
          aria-label="$rloader.sit_quick_links"
          aria-expanded="false"
          title="$rloader.sit_quick_links">
        <span class="bi bi-link-45deg" aria-hidden="true"></span>
      </button>
    </li>
  #end
*#  

    #if ($pageColumn0Tools && !$pageColumn0Tools.isEmpty())
        #set ($helpLink = $pageColumn0Tools.get(0).toolHelpActionUrl)
    #elseif ($pageColumn1Tools && !$pageColumn1Tools.isEmpty())
        #set ($helpLink = $pageColumn1Tools.get(0).toolHelpActionUrl)
    #end
    #if ($helpLink)
      <li>
        <a class="sak-sysInd-help nav-link text-white responsive-help-icon" href="${helpLink}">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16" role="img" aria-label="View contextual help for this page" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Help">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
          </svg>
        </a>
      </li>
    #end
  #*
    For opening help offcanvas
    <li>
      <a class="sak-sysInd-help nav-link text-white" data-bs-toggle="offcanvas" href="#sakai-contextualHelpPanel" role="button" aria-controls="sakai-contextualHelpPanel">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16" role="img" aria-label="View contextual help for this page" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Help">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
        </svg>
      </a>
    </li>
  *#
  </ul>
</nav>


