@import "base/compass";

//.#{$namespace}
.is-logged-out{
	#content, .#{$namespace}container--footer{
		margin: 0 0 0 0;
		@media #{$phone}{
			margin: 6.5em 0 0 0;
		}
	}
	.#{$namespace}topHeader {
		@media #{$phone}{
			&.moving{
	    		top: -12em;
	    	}
	    }
    }
}

.#{$namespace}portalWrapper {
	position: relative;
}

#pageBody{
	@include align-items(stretch);
	@include display-flex(flex);
	@include flex-direction(row);
	> .#{$namespace}pagebody{
		width: 100%;
	}
	@media #{$phone}{
		padding: 12px;
	}
}
.#{$namespace}container--footer
{
	background-color: $footer-background-color;
}
#content, .#{$namespace}container--footer{
	margin: 0 0 0 0;
	width: 100%;

	@media #{$phone}{
		margin: 6.5em 0 0 0;
	}
	
	#col1of2, #col2of2{
		display: inline-block;
		margin: 0 0 0 1%;
		vertical-align: top;
		width: 48%;
		@media #{$phone}{
			display: block;
			width: 100%;
		}
	}
}

.#{$namespace}mainContent{
  background: $main-content-background;
}

.#{$namespace}pageColumns--single
{
	margin: 0 1em 1em 1em;
	clear: both;
	@media #{$phone}
	{
		margin: 0 0 0 0;
	}
}

.#{$namespace}footer
{
	@include display-flex( flex );
	@include align-items( center );
	@include flex-direction( column );
	padding: 1em;
	font-size: 0.857em;
	color: $footer-text-color;
	text-align:center;
	
	#footer-links
	{
		display: flex;
		justify-content: center;
		list-style: none;
		margin: 0;
		padding: 0;
		
		li
		{
			display: inline-block;
			padding: 0 1.5em;
			border-right: 1px solid $footer-text-color;
		}
		li:last-child
		{
			border-right: 0 none;
		}
		a
		{
			color: $footer-text-color;
			text-decoration: none;
		}
		a:hover, a:active
		{
			color: $footer-text-color-secondary;
			text-decoration: underline;
		}
	}
}
.#{$namespace}footer--nav.Mrphs-footer--nav__project 
{
	margin-bottom: 0;
	padding: 0;
	list-style: none;
}
.#{$namespace}footer--nav__build__panel 
{
	margin: 0;
}
.#{$namespace}footer--nav__project--poweredby
{
	color: $footer-text-color-secondary;
	text-decoration: underline; /* to pick up this font's color */
}
##{$namespace}footer--nav__project--sakai
{
	display: block;
	margin: 2em;
	text-align: center;
	
	a
	{
		text-decoration: none;
	}
}
.#{$namespace}footer--nav__project--copyright 
{
	margin-bottom: 1.5em;
}
.#{$namespace}footer--nav__build__panel 
{
	margin: 0;
}