@import "base/compass";

//.#{$namespace}
.is-logged-out{
	#content, .#{$namespace}container--footer{
		margin: 0 0 0 0;
		@media #{$phone}{
			margin: 6em 0 0 0;
		}
	}
	.#{$namespace}topHeader {
		@media #{$phone}{
			&.moving{
	    		top: -12em;
	    	}
	    }
    }
}

.#{$namespace}portalWrapper {
	position: relative;
}

#pageBody{
	@include align-items(stretch);
	@include display-flex(flex);
	@include flex-direction(row);
	> .#{$namespace}pagebody{
		width: 100%;
	}
	@media #{$phone}{
		padding: 12px;
	}
}

#content, .#{$namespace}container--footer{
	margin: 0 0 0 0;
	width: 100%;

	@media #{$phone}{
		margin: 5.6em 0 0 0;
	}
	
	#col1of2, #col2of2{
		display: inline-block;
		margin: 0 0 0 1%;
		vertical-align: top;
		width: 48%;
		@media #{$phone}{
			display: block;
			width: 100%;
		}
	}
}

.#{$namespace}pageColumns--single, .#{$namespace}footer{
	margin: 0 1em 1em 1em;
	clear: both;
	@media #{$phone}{
		margin: 0 0 0 0;
	}
}

.#{$namespace}footer{
	color: $background-color-secondary;
	padding: 0.8em;
	font-size: 0.8em;
	#footer-links{
		li{
			display: inline-block;
		}
	}
}
