//.#{$namespace}
#toolMenuWrap{
	background: $text-color;
	display: block;
	position: absolute;
	top: $header-size;
	width: $tool-menu-width;
	padding: #{$header-size / 2 } 0 0 0;

	@include border-radius( 0 0 10px 0 );
	@include transition(left 0.25s linear);
	
	@media #{$phone}{
		left: -#{$tool-menu-width}
	}
}

.#{$namespace}toolsNav__title--current-site{
	position: absolute;
	margin: #{55px - ( $header-size / 2 ) } 0 0 234px;
	font-size: 1.5em;
	max-width: $measure;
	min-width: #{$measure / 2};
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	@media #{$phone}{
		display: none;
	}
}

#toolMenu{
	ul{
		padding: 0.8em 0;
		li{
			.#{$namespace}toolsNav__menuitem--icon{
				vertical-align: bottom;
			}
			a{
				border-bottom: 1px solid lighten( $text-color, 5% );
				color: $background-color;
				display: block;
				font-family: $header-font-family;
				padding: 0.6em 1em;
				text-decoration: none;
				&:hover{
					background: $primary-color;
				}
			}
			&.is-current{
				background: $background-color;
				a{
					color: $primary-color;
					span{
						font-weight: 700;
					}
					&:hover{
						background: $background-color;
					}
				}
			}
			.#{$namespace}toolsNav__subnav{
				background: lighten( $text-color, 3% );
			}
			.#{$namespace}toolsNav__subnav li {
				border-bottom: 1px solid lighten( $text-color, 5% );
			  	padding-left: 0.5em;
			}
			.#{$namespace}toolsNav__category::after {
			   	content: url('images/arrow-down.png');
				float: right;
				margin-top : 2px;
			
			}
		}
	}
}
