//.#{$namespace}
body.is-logged-out{
	#toolMenuWrap{
		//top: 0;
		@media #{$phone}{
			//top: $header-size;
		}
	}
	.#{$namespace}mainHeader.is-maximized ~ #container #toolMenuWrap{
		top: $header-size;
	}
}

body.#{$namespace}toolMenu-collapsed{

	#content, .Mrphs-container--footer {
	    margin: 0 0 0 0;
	}

	#toolMenuWrap{
		max-width: #{ $tool-menu-width / 2 };
		min-width: #{ $tool-menu-width / 2 };
		width: #{ $tool-menu-width / 2 };
	}
	#toolMenu, ul#subSites{
		.img_site_toolmenu{
			display: none;
		}
		ul{
			li{
				a{
					min-height: 1.7em;
					&:hover{
						.#{$namespace}toolsNav__menuitem--title{
							position: absolute;
						    display: block;
						    float: right;
						    margin: -2.1em 0em 0em 3.2em;
						    background: $primary-color;
						    padding: 0.71em;
						    border-left: 1px solid $primary-color;
						    max-width: 7.5em;
						    z-index: 10;
						}
					}
					&.is-invisible {
						&:after {
							display: none;
						}
					}
				}
				.#{$namespace}toolsNav__menuitem--title{
					display: none;
				}
				&.#{$namespace}collapseTools{
					i{
						@include transform( scaleX(-1) ); /* flip horizontally */
					}
				}
			}
		}
	}
}

#toolMenuWrap .img_site_toolmenu{
  width: 100%;
  max-width: $tool-menu-width;
  height: auto;
  margin: 0 auto; 
}

#toolMenuWrap{
	background: $toolMenuBGColor;
	display: block;
	min-width: $tool-menu-width;
	width: $tool-menu-width;
	@include flex-basis( 7.5em );
	margin: 0 0 0 0;
	text-align: center;
	@include transition( left 0.25s linear 0s );
	
	@media #{$phone}{
		left: -100%;
		position: fixed;
		top: 5.5em;
		z-index: 9999;
		padding: 0 0 2em 0;
		margin: 0 0 0;
		height: 100%;
		@if $skin-with-icons {
			.#{$namespace}toolsNav__menuitem--title{
				display: none;
			}	
		} @else {
			.#{$namespace}toolsNav__menuitem--title{
				display: inline-block;
				width:   #{$icon-size - 5px };
				height:  $icon-size;
				letter-spacing: 2em;
				padding: 0px 0 0 5px;
				overflow: hidden;
				@include border-radius( $icon-size );
				box-shadow:  0 0 5px rgba( $background-color ,0.5);
			}
		}
	}
	&.openedLinkNav{
		margin: 0 0 0 0;
	}
}

.#{$namespace}toolsNav__title--current-site{
	display: none;
	@media #{$phone}{
		color: $tool-background-color;
		background: darken( $primary-color, 10% );
		display: block;
		font-size: 1.1em;
		width: 100%;
		max-width: 100%;
		text-align: left;
		padding: 12px 16px;
		position: fixed;
		top: 1.8em;
		left: 0;
		z-index: 99;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		box-shadow: inset 0 0 8px rgba( $background-color ,0.15);
		@include transition( top 0.25s linear 0s );
		&.moving{
			top: -3.3em;
		}
	}
}

#subSites{
	background: darken( $toolMenuBGColor, 10% );
	ul{
		list-style: none;
		padding: 0 0 0 0;
	}
}

nav#subSites{
	max-width: #{$tool-menu-width * 2 };
	z-index: 9999;
	&.floating{
		margin: 0 0 0 7px;
		&:after{
			right: 100%;
			top: 25%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba( darken( $toolMenuBGColor, 10% ) , 0);
			border-right-color: darken( $toolMenuBGColor, 10% );
			border-width: 7px;
			margin-top: -7px;
		}
	}
}

#toolMenu, #subSites{
	ul{
		padding: 0;
		margin:  0;
		li{
			&.#{$namespace}collapseTools
			{
				display:flex;
				align-items:center;
				justify-content:flex-end; /* right-align the arrows when expanded */
				height:3em;
				padding: 0 1em;
				border-right: 1px solid $toolMenuBGColor;
				border-bottom: 1px solid darken( $toolMenuBGColor, 10% );
				cursor:pointer;
				font-size: 1.2em;
				background-color: $toolTabBGColor;
				&:hover
				{
					background: $primary-color;
					color: $tool-background-color;
				}
				&.min
				{
					justify-content:center; /* center the arrows when collapsed */
				}
				
				i
				{
					@include transition( transform, 0.25s, ease-out, 0s ); /* animate the arrow direction change */
				}
				
				@media #{$phone}{
					display: none;
				}
			}
			@media #{$phone}{
				border-left: 2px solid darken( $toolMenuBGColor, 10% );
				margin: -4px -4px 0px 0; //FIX for inline-block extra space.
				width: calc( 25% - 1px );
			}
			.#{$namespace}toolsNav__menuitem--icon{
				margin: 0 0.25em 0 0;
			}
			a{
				border-bottom: 1px solid darken( $toolMenuBGColor, 10% );
				color: $toolMenuColor;
				display: block;
				font-family: $header-font-family;
				font-weight: 300;
				font-size: 0.85em;
			    line-height: 1.25;
			    min-height: 3em;
				padding: 0.5em 0.25em;
				text-align: center;
				text-decoration: none;
				&:hover{
					background: $primary-color;
					color: $tool-background-color;
				}
				@media #{$phone}{
					height:  5.5em;
					overflow: hidden;
					padding: 0.85em 0.25em 0.1em;
				}
				.#{$namespace}toolsNav__menuitem--title{
					display: block;
					max-width: 100%;
					width: 100%;
					text-overflow: ellipsis;
					white-space: pre-wrap;
					overflow: hidden;
				}
				&.is-invisible {
					color: #AAAAAA;
					font-style: italic;
					position: relative;
					&:after {
						@extend .fa-lg;
						@extend .fa;
						content: '\f070';
						position: absolute;
						top: 4px;
						right: 4px;
					}
					.#{$namespace}toolsNav__menuitem--icon{
						font-style: italic;
					}
				}
			}
			&.is-current{
				background: $background-color;
				a{
					border-left: 4px solid $primary-color;
					border-bottom: 1px solid $primary-color;
					color: $primary-color;
					.#{$namespace}toolsNav__menuitem--title{
						font-weight: 700;
					}
					&:hover{
						background: $primary-color;
						color: $tool-background-color;
					}
					@media #{$phone}{
						border: 1px solid $primary-color;
						border-left: 1px solid $primary-color;
					}
				}
			}
			.#{$namespace}toolsNav__subnav{
				padding: 0 0 0 0;
				li{
					border-bottom: 1px solid lighten( $text-color, 5% );
					a{
			  			padding: 0.6em 0 0.6em 2em;
						background: lighten( $text-color, 5% );
						&:hover{
							background: $primary-color;
							color: #{$toolMenuColor};
						}
						@media #{$phone}{
							padding: 0.6em 0.6em;
						}
					}
					&.is-current{
						a{
							background: $background-color;
							color: $primary-color;
							.#{$namespace}toolsNav__menuitem--title{
								font-weight: 700;
							}
							&:hover{
								background: $background-color;
								color: #{$toolMenuColor};
							}
						}
					}
				}
			}
			.#{$namespace}toolsNav__category {
				background-color: darken( $text-color, 5% );
				&::after{
				   	content: url('images/arrow-down.png');
					float: right;
					margin-top : 2px;
				}
				@media #{$phone}{
					display: none;
				}
			}
		}
	}
}
