//.#{$namespace}
body.is-logged-out{
	#toolMenuWrap{
		top: 0;
		@media #{$phone}{
			top: $header-size;
		}
	}
}
#toolMenuWrap{
	background: $toolMenuColor;
	display: block;
	position: absolute;
	top: $header-size;
	width: $tool-menu-width;
	margin: 4em 0 0 0;

	// @include border-radius( 0 0 10px 0 );
	@include transition(all 0.5s linear);
	
	@media #{$phone}{
		left: 0;
		width: #{$icon-size * 2};
		@if $skin-with-icons {
			.#{$namespace}toolsNav__menuitem--title{
				display: none;
			}	
		} @else {
			.#{$namespace}toolsNav__menuitem--title{
				display: inline-block;
				width:   #{$icon-size - 5px };
				height:  $icon-size;
				letter-spacing: 2em;
				padding: 0px 0 0 5px;
				overflow: hidden;
				@include border-radius( $icon-size );
				@include box-shadow(  0 0 5px rgba( $background-color ,0.5) );
			}
		}
	}
	&.openedLinkNav{
		margin: 0 0 0 0;
	}
}

.#{$namespace}toolsNav__title--current-site{
	display: none;
	@media #{$phone}{
		color: $tool-background-color;
		display: block;
		font-size: 1.2em;
		margin: 0 0 0 15px;
	}
}

#toolMenu{
	ul{
		padding: 0;
		li{
			.#{$namespace}toolsNav__menuitem--icon{
				margin: 0 0.25em 0 0;
			}
			a{
				border-bottom: 1px solid lighten( $text-color, 5% );
				color: $background-color;
				display: block;
				font-family: $header-font-family;
				padding: 0.6em 1em;
				text-decoration: none;
				&:hover{
					background: $primary-color;
					color: #{$toolMenuColor};
				}
				@media #{$phone}{
					padding: 0.6em 0.6em;
				}
			}
			&.is-current{
				background: $background-color;
				a{
					color: $toolMenuColor;
					.#{$namespace}toolsNav__menuitem--title{
						font-weight: 700;
					}
					&:hover{
						background: $background-color;
					}
				}
			}
			.#{$namespace}toolsNav__subnav{
				padding: 0 0 0 0;
				li{
					border-bottom: 1px solid lighten( $text-color, 5% );
					a{
			  			padding: 0.6em 0 0.6em 2em;
						background: lighten( $text-color, 5% );
						&:hover{
							background: $primary-color;
							color: #{$toolMenuColor};
						}
						@media #{$phone}{
							padding: 0.6em 0.6em;
						}
					}
					&.is-current{
						a{
							background: $background-color;
							color: $primary-color;
							.#{$namespace}toolsNav__menuitem--title{
								font-weight: 700;
							}
							&:hover{
								background: $background-color;
								color: #{$toolMenuColor};
							}
						}
					}
				}
			}
			.#{$namespace}toolsNav__category {
				background-color: darken( $text-color, 5% );
				&::after{
				   	content: url('images/arrow-down.png');
					float: right;
					margin-top : 2px;
				}
				@media #{$phone}{
					display: none;
				}
			}
		}
	}
}
