<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- The Sakai version that makes use of the ContentHostingHandlerResolver to unzip and serve content -->
	<bean id="org.sakaiproject.scorm.service.api.ScormResourceService"
		class="org.sakaiproject.scorm.service.chh.impl.CHHResourceService"
		singleton="true">
		
		<!-- Sakai API Service -->
		<lookup-method name="contentService" bean="org.sakaiproject.content.api.ContentHostingService" /> 
		<lookup-method name="toolManager" bean="org.sakaiproject.tool.api.ToolManager" />
		
		<lookup-method name="scormCHH" bean="org.sakaiproject.scorm.content.api.ScormCHH" />
	</bean>
	
</beans>