<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- Grab the learner information from Sakai -->
	<bean id="org.sakaiproject.scorm.service.api.LearningManagementSystem"
		class="org.sakaiproject.scorm.service.sakai.impl.SakaiStatefulService"
		singleton="true">
		
		<lookup-method name="sessionManager" bean="org.sakaiproject.tool.api.SessionManager" />
		<lookup-method name="toolManager" bean="org.sakaiproject.tool.api.ToolManager" />
		
	</bean>
	
</beans>