//////////////////////////////
// THEMES: Styles that override the default styles to create a different "theme" i.e. light vs. dark theme.
//////////////////////////////

// morpheus-examp-u overrides to go here

$debug-breakpoints: false;

$primary-color:  #009dce;
$grey-value: #80808c;

$old-ie-8: false !default;

// Icon fonts
$icon__font-name: 'Sakai-Icon-Font';
$icon__font-file-name: 'Sakai-Icon-Font';
$icon__inline-fonts: false;
$icon__font-weight: normal;
$icon__font-style: normal;

$cs-primary:    $primary-color;
// Primary color, can be any color you can use in CSS, plus CMYK from Color Schemer
$cs-scheme:     triad;
// Options: mono, complement, triad, tetrad, analogic, accented-analogic
$cs-hue-offset: 60;

$colour-stack-amounts: 25%, 50%, 75%, 85%, 90%;

$light-grey:    tint-stack($grey-value);
$primary:       tint-stack(cs-primary());
$secondary:     tint-stack(cs-secondary());
$tertiary:      tint-stack(cs-tertiary());
$quadrary:      tint-stack(cs-quadrary());
$dark-grey:     shade-stack($grey-value);