//////////////////////////////
// THEMES: Styles that override the default styles to create a different "theme" i.e. light vs. dark theme.
//////////////////////////////

// morpheus-rtl overrides to go here
$debug-breakpoints: false;

$primary-color:  #009dce;

// Icon fonts
$icon__font-name: 'Sakai-Icon-Font';
$icon__font-file-name: 'Sakai-Icon-Font';
$icon__inline-fonts: false;
$icon__font-weight: normal;
$icon__font-style: normal;