<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
	"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- This wraps our DAOs so that the transactions are managed -->
	<bean id="org.sakaiproject.scorm.dao.api.ActivityTreeHolderDao"
			class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="org.sakaiproject.springframework.orm.hibernate.GlobalTransactionManager" />
		<property name="target">
			<bean class="org.sakaiproject.scorm.dao.hibernate.ActivityTreeHolderDaoImpl">
				<property name="sessionFactory">
					<ref bean="org.sakaiproject.springframework.orm.hibernate.GlobalSessionFactory" />
				</property>
			</bean>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

	<bean id="org.sakaiproject.scorm.dao.api.AttemptDao"
			class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="org.sakaiproject.springframework.orm.hibernate.GlobalTransactionManager" />
		<property name="target">
			<bean class="org.sakaiproject.scorm.dao.hibernate.AttemptDaoImpl">
				<property name="sessionFactory">
					<ref bean="org.sakaiproject.springframework.orm.hibernate.GlobalSessionFactory" />
				</property>
			</bean>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

	<bean id="org.sakaiproject.scorm.dao.api.ContentPackageDao"
			class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="org.sakaiproject.springframework.orm.hibernate.GlobalTransactionManager" />
		<property name="target">
			<bean class="org.sakaiproject.scorm.dao.hibernate.ContentPackageDaoImpl">
				<property name="sessionFactory">
					<ref bean="org.sakaiproject.springframework.orm.hibernate.GlobalSessionFactory" />
				</property>
			</bean>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

	<bean id="org.sakaiproject.scorm.dao.api.ContentPackageManifestDao"
			class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="org.sakaiproject.springframework.orm.hibernate.GlobalTransactionManager" />
		<property name="target">
			<bean class="org.sakaiproject.scorm.dao.hibernate.ContentPackageManifestDaoImpl">
				<property name="sessionFactory">
					<ref bean="org.sakaiproject.springframework.orm.hibernate.GlobalSessionFactory" />
				</property>
			</bean>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

	<bean id="org.sakaiproject.scorm.dao.api.DataManagerDao"
			class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="org.sakaiproject.springframework.orm.hibernate.GlobalTransactionManager" />
		<property name="target">
			<bean class="org.sakaiproject.scorm.dao.hibernate.DataManagerDaoImpl">
				<property name="sessionFactory">
					<ref bean="org.sakaiproject.springframework.orm.hibernate.GlobalSessionFactory" />
				</property>
			</bean>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
</beans>
