## $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/admin/chef_users_view.vm,v 1.2 2005/05/24 19:36:12 gsilver.umich.edu Exp $

#css("/admin-tools/css/sakai-user-tool.css" 'media="screen"')
#javascript("/library/js/spinner.js")
<div class="portletBody">
#if($menu)
	#toolbar($menu)
#end
	
		<h3>
			$tlang.getString("usevie.revandmod")
		</h3>
		#if ($alertMessage)
			<div class="sak-banner-error">
				$tlang.getString("useconrem.alert") $formattedText.escapeHtml($alertMessage)
			</div>
		#end

		<form name="$form-name" id="userViewForm" action="#toolForm("$action")" method="post">
            <fieldset>
            	<legend>
					$tlang.getString("usevie.use")
				</legend>
                <table class="table table-striped table-hover table-bordered">
                    <tbody>
                        <tr>
                            <td><label>$tlang.getString("useconrem.useid")</label></td>
                            <td>$formattedText.escapeHtml($user.Eid)</td>
                        </tr>
                        <tr>
                            <td><label>$tlang.getString("usecre.firnam")</label></td>
                            <td>$formattedText.escapeHtml($user.FirstName)</td>
                        </tr>
                        <tr>
                            <td><label>$tlang.getString("usecre.lasnam")</label></td>
                            <td>$formattedText.escapeHtml($user.LastName)</td>
                        </tr>
                        <tr>
                            <td><label>$tlang.getString("usevie.ema")</label></td>
                            <td>$formattedText.escapeHtml($user.Email)</td>
                        </tr>
                        <tr>
                            <td><label>$tlang.getString("usecre.typ")</label></td>
                            <td>$formattedText.escapeHtml($user.Type)</td>
                        </tr>
                        #if($enableEdit)
                            <tr>
                                <td><label>$tlang.getString("disabled")</label></td>
                                #set($disabled = $user.Properties.getProperty("disabled"))
                                <td>#if ($disabled != 'true')$tlang.getString("false") #else $tlang.getString("true") #end</td>
                            </tr>
                            <tr>
                                <td><label>$tlang.getString("useedi.creby")</label></td>
                                <td>$formattedText.escapeHtml($user.CreatedBy.DisplayName)</td>
                            </tr>
                            <tr>
                                <td><label>$tlang.getString("useedi.cre")</label></td>
                                <td>$userTimeService.dateTimeFormat($user.CreatedDate, $tlang.Locale, 2)</td>
                            </div>
                            <tr>
                                <td><label>$tlang.getString("useedi.modby")</label></td>
                                <td>$formattedText.escapeHtml($user.ModifiedBy.DisplayName)</td>
                            </tr>
                            <tr>
                                <td><label>$tlang.getString("useedi.mod")</label></td>
                                <td>$userTimeService.dateTimeFormat($user.ModifiedDate, $tlang.Locale, 2)</td>
                            </tr>
                        #end
                    </tbody>
                </table>

			#if($enableEdit)
				<div class="act">
					<input type="submit" id="eventSubmit_doModify" name="eventSubmit_doModify" class="active" value="$tlang.getString("usevie.mod2")" accesskey="s" onclick="SPNR.disableControlsAndSpin( this, null );" />
				</div>
			#end

				<input type="hidden" id="id" name="id" value="$formattedText.escapeHtml($user.Id)" />
				<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
            </fieldset>
		</form>
	</div>
