//////////////////////////////
// MODULES: Styles that are layout independent 
//////////////////////////////

@import "_toolsNav_variables";

#siteType {
  @extend %element-invisible;
}

// Override !important statement in sitemanage.css TODO file Jira about this.
[class*="icon-"] {
  background-image: none !important;
}

.Mrphs- {

  &toolsNav__menu {
    background: $toolsNav__background;
    padding-bottom: 1em;

    .workspace & { 
      background: $toolsNav--workspace__background-color;
    }

    ul {
      display: block;
      margin: 0;
      padding: 0;

      li {
        display: block;
        width: 100%;
        font-size: $toolsNav__font-size;
        line-height: $toolsNav__line-height;

        a {
          display: block;
          padding: $toolsNav__padding;
          width: 100%;
          border-top: transparent 1px solid;
          border-bottom: transparent 1px solid;
          color: $toolsNav__color;
          text-shadow: $toolsNav__text-shadow;
          text-indent: 0;
          letter-spacing: $toolsNav__letter-spacing;
          @extend %break-word;
          @include transition-property(( border-color ));
          @include transition-duration(250ms);
          @include transition-timing-function(ease-in);

          span:before {
            background: $toolsNav--icon__background-color;
            color: $toolsNav__color;
            text-shadow: $toolsNav__text-shadow;
            width: 1.5em;
            text-align: center;
            height: 1.5em;
            display: inline-block;
            vertical-align: baseline;
            line-height: inherit;
            margin: 0;
            padding: 0;
            @include border_radius(50%);
            @include transition-property(( color, background, text-shadow ));
            @include transition-duration(250ms);
            @include transition-timing-function(ease-in);
          }

          &:hover, 
          &:focus,
          &:active {
            background: $toolsNav__hover__background-color;
            border-top: $toolsNav__hover__border-top;
            border-bottom: $toolsNav__hover__border-bottom;
            text-decoration: none;
            color: $toolsNav__hover__color;

            span:before {
              background: $toolsNav--icon__background-color;
              color: $toolsNav__hover__color;
              text-shadow: $toolsNav__hover__text-shadow;
            }
          }
        }

        .workspace & { 
          background: $toolsNav--workspace__background-color;

          a {
            background: $toolsNav--workspace__background-color;
            color: $toolsNav--workspace__color;
            border-top: $toolsNav--workspace__border-top;
            border-bottom: $toolsNav--workspace__border-bottom;
            text-shadow: $toolsNav--workspace__text-shadow;
            font-weight: normal;

            span:before {
              color: $toolsNav--workspace__color;
              background: $toolsNav--workspace__background-color;
              text-shadow: $toolsNav--workspace__text-shadow;
            }

            &:hover, 
            &:focus,
            &:active {
              border-top: $toolsNav--workspace__hover__border-top;
              border-bottom: $toolsNav--workspace__hover__border-bottom;
              color: $toolsNav--workspace__hover__color;
              background: $toolsNav--workspace__hover__background-color;
            }
          }

           &.is-current {

             a {
               background: $toolsNav--workspace--current__background-color;
               border-top: $toolsNav--workspace__hover__border-top;
               border-bottom: $toolsNav--workspace__hover__border-bottom;

               span:before {
                 color: $toolsNav--workspace--current__color;
                 background: $toolsNav--workspace--current__background-color;
                 text-shadow: $toolsNav--workspace__text-shadow;
               }
             }
           }
        }

        &.is-current {

          a {
            background: $toolsNav--current__background-color;
            color: $toolsNav--current__color;
            border-top: $toolsNav--current__border-top;
            border-bottom: $toolsNav--current__border-bottom;
            text-shadow: $toolsNav--current__text-shadow;
            font-weight: normal;

            span:before {
              color: $toolsNav--current__color;
              background: $toolsNav--current__background-color;
              text-shadow: $toolsNav--current__text-shadow;
            }

            &:hover, 
            &:focus,
            &:active {
              border-top: $toolsNav--current__border-top;
              border-bottom: $toolsNav--current__border-bottom;
              color: $toolsNav--current__color;
            }
          }
        } 
      } 
    }
  }
}

.Mrphs- {

  &toolsNav__menu {

    .is-invisible {

      &:after {
        // adds an invisiblity icon after the item (eye with slash)
        @extend %ico-font-base;
        margin: 0 .25em 0 0;
        padding: .25em;
        color: nth($light-grey,3);
      }
    }
  }
}

.Mrphs- {

  &toolsNav {


    // Adds a site title to the tools nav
    &__title--current-site {

      //not needed on the larger sizes
      @include respond-to('full navigation') {
        display: none;
      }

      @include respond-to('narrow navigation') {

        margin: 0;
        padding: 0 .25em 0 .5em;
        font-size: 1.2em;
        background: $toolsNav__background;

        .workspace & { 
          background: $toolsNav--workspace__background-color;
        }

        // hide when minimized
        .toggleNav--minimized & {
          display: none;
        }
      }
    }
  }
}

.Mrphs- {

  &container--nav-tools  {
    
    .toggleNav--minimized &  {
      width: 2em;
    }
  }

  &toolsNav__menuitem--title {

    .toggleNav--minimized &  {
      display: none;
    }
  }
}