//////////////////////////////
// VARIABLES: For Modules specific styles 
//////////////////////////////

$toolsNav__color: nth($primary, 1);
$toolsNav__gradient-position: top;
$toolsNav__gradient-stop-1: shade(nth($light-grey, 5), 5%);
$toolsNav__gradient-stop-2: shade(nth($light-grey, 5), 7%);
$toolsNav__background: nth($light-grey, 4);

$toolsNav__font-size: 1em;
$toolsNav__padding: 0.25em 0.25em 0.15em .5em;
$toolsNav__line-height: 1.5em;

$toolsNav__text-shadow: none;
$toolsNav__letter-spacing: .015em;
$toolsNav--icon__background-color: tint(nth($light-grey, 6), 40%);

$toolsNav--current__color: nth($dark-grey, 6);
$toolsNav--current__background-color: rgba(nth($primary, 1), 1);
$toolsNav--current__background-gradient-stop-1: shade(nth($primary, 1), 5%);
$toolsNav--current__background-gradient-stop-2: tint(nth($primary, 1), 5%);
$toolsNav--current__border-top: shade($toolsNav--current__background-color, 20%) 1px solid;
$toolsNav--current__border-bottom: tint($toolsNav--current__background-color, 20%) 1px solid;
$toolsNav--current__text-shadow: $toolsNav__text-shadow;
 
$toolsNav__hover__background-color: shade(nth($light-grey, 4), 5%);
$toolsNav__hover__color: $toolsNav--current__color;
$toolsNav__hover__text-shadow: $toolsNav--current__text-shadow;
$toolsNav__hover__border-top: 1px solid lighten($toolsNav__hover__background-color, 10%);
$toolsNav__hover__border-bottom: 1px solid lighten($toolsNav__hover__background-color, 10%);

$toolsNav--workspace__color: nth($secondary, 1);
$toolsNav--workspace__background-color: nth($dark-grey, 4);
$toolsNav--workspace__background-gradient-stop-1: shade(nth($primary, 1), 5%);
$toolsNav--workspace__background-gradient-stop-2: tint(nth($primary, 1), 5%);
$toolsNav--workspace__border-top: transparent 1px solid;
$toolsNav--workspace__border-bottom: transparent 1px solid;
$toolsNav--workspace__hover__border-top: nth($dark-grey, 6) 1px solid;
$toolsNav--workspace__hover__border-bottom: tint($toolsNav--workspace__background-color, 10%) 1px solid;
$toolsNav--workspace__text-shadow: $toolsNav__text-shadow;
$toolsNav--workspace__hover__color: $toolsNav--workspace__color;
$toolsNav--workspace__hover__background-color: shade(nth($dark-grey, 4), 25%);

$toolsNav--workspace--current__background-color: $toolsNav--workspace__color;
$toolsNav--workspace--current__color: $toolsNav--workspace__background-color;
