.pollEditorSmall{
	width: 60em;;
    min-height: 35em;
}

/*skinned sortable header - sort icons*/
thead tr .header a {
	padding-right: 25px;
}
thead tr div .reset-order a {
	background-image: url(/library/image/sakai/sortdescending.gif);
	background-repeat: no-repeat;
}
thead tr .headerSortUp a {
	background-image: url(/library/image/sakai/sortdescending.gif);
	background-repeat: no-repeat;
	background-position: 90% center;
	padding-right: 25px;
}
thead tr .headerSortDown a {
	background-image: url(/library/image/sakai/sortascending.gif);
	background-repeat: no-repeat;
	background-position: 90% center;
	padding-right: 25px;
}
.portletBody #sortableTable .reset-order {
	background-image: url(/library/image/sakai/expand-collapse.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 15px;
	width: 25px;
	border: none;
	cursor: hand;
}
.portletBody #sortableTable .reset-order #reset-order-link span {
	display: none;
}
.addItem {
background:transparent url(/library/image/silk/add.png) no-repeat scroll left center;
padding-left:2em;
}


/* chart styles */
#chart-selector {
	margin-top: 20px;
	margin-bottom: 10px;
	display:block;
}

.icon {
	background-position: center left;
    background-repeat: no-repeat;
    padding-left: 18px;
}

.refresh {
	background-image: url(/library/image/silk/arrow_refresh.png);
 }
