:root {
  --sakai-course-card-gradient-start: rgba(0, 0, 0, 0.5);
  --sakai-course-card-gradient-end: rgba(0, 0, 0, 0.5);
}

sakai-course-card {
  display: block;
  width: 100%;

  a {
    text-decoration: none;
  }

  .info-block {
    height: 110px;
    background: no-repeat;
    background-color: var(--sakai-background-color-2);
    background-size: cover;
    background-position: center;
    color: var(--sakai-text-color-inverse, white);
    font-weight: bold;
    padding: 1rem;
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius);
    border: solid 1px var(--sakai-border-color);

    a {
      color: var(--sakai-text-color-inverse, white);
      &:hover {
        color: var(--sakai-text-color-inverse, white);
      }

      &.no-background {
        color: var(--link-color);
        &:hover {
          color: var(--link-color);
        }
      }
    }

    i {
      font-size: 20px;
    }
  }
  .code-block {
    color: var(--sakai-text-color-inverse);
    font-size: 12px;
  }

  .tool-alerts-block {
    height: 40px;
    border-color: var(--sakai-border-color);
    color: var(--sakai-text-color-1);
    background-color: var(--sakai-background-color-3);
    display: flex;
    align-items: center;
    border-bottom-right-radius: var(--bs-border-radius);
    border-bottom-left-radius: var(--bs-border-radius);
    padding: 0.5rem;

    .portal-notifications-indicator {
      top: 2px;
      right: 2%;
      padding: 0.25rem;
      border-radius: 50%;
    }
  }
}
