//////////////////////////////
// MODULES: Component styles that are layout independent 
//////////////////////////////

.Mrphs- {

  &loginForm {
    display: inline-block;

    label {
      padding: .3333em 0 .25em 0;
    }

    input[type="submit"] {
      @extend %button-action;
    }

    @include respond-to('narrow navigation') {
      margin: 0 auto;
      padding: 0 1em .5em 1em;
      text-align: left;

      label {
        padding: .5em 0 .25em 0;
        color: nth($light-grey, 6);
      }

      input[type="submit"] {
        display: block;
        margin: 1em 0 .5em 0;
      }
    }

    @include respond-to('full navigation') {
      margin: 0;
      padding: .5em;

      label {
        display: inline;
        margin-left: .5em;
        line-height: 1.8em;
        color: nth($light-grey, 6);
      }

      input[type="submit"] {
        margin-left: .25em;
      }
    }
  }
}