//////////////////////////////
// VARIABLES: For Base styles 
//////////////////////////////

$h1__border-width: false;
$h2__border-width: false;
$h3__border-width: false;

$article__first-letter__float: none;
$article__first-letter__font-family: inherit;
$article__first-letter__font-weight: false; // normal
$article__first-letter__font-size: inherit;
$article__first-letter__line-height: inherit;
$article__first-letter__letter-spacing: inherit;
$article__first-letter__margin: 0;
$article__first-letter__margin--position: false;
$article__first-letter__color: inherit;

$li__margin: 0;
$li__margin--position: false;
$li__text-indent: 0;


//////////////////////////////
// DEFAULT VARIABLES
//////////////////////////////

/// Headers
//// h1
$h1__font-weight: false !default; // normal
$h1__font-style: false !default; // normal
$h1__text-transform: false !default; // normal
$h1__font-variant: false !default; // normal
$h1__font-size: 2.5em !default;
$h1__line-height: 1.125em !default;
$h1__padding: 1em !default;
$h1__padding--position: top !default;
$h1__margin: 0.3em !default;
$h1__margin--position: bottom !default;
$h1__color: #444 !default;
$h1__border-width: 0 0 0.2em 0 !default; 
$h1__border-style: solid !default;
$h1__border-color: #693 !default;
//// h2
$h2__font-weight: false !default; // normal
$h2__font-style: false !default; // normal
$h2__text-transform: false !default; // normal
$h2__font-variant: false !default; // normal
$h2__font-size: 1.875em !default;
$h2__line-height: 1.5em !default;
$h2__padding: 0.8333em !default;
$h2__padding--position: top !default;
$h2__margin: 0.7em !default;
$h2__margin--position: bottom !default;
$h2__color: #555 !default; 
$h2__border-width: 0 0 0.13333em 0 !default; 
$h2__border-style: solid !default;
$h2__border-color: #693 !default;
//// h3
$h3__font-weight: false !default; // normal
$h3__font-style: false !default; // normal
$h3__text-transform: false !default; // normal
$h3__font-variant: false !default; // normal
$h3__font-size: 1.5625em !default;
$h3__line-height: 1.4em !default;
$h3__padding: 1em !default;
$h3__padding--position: top !default;
$h3__margin: 0.7em !default;
$h3__margin--position: bottom !default;
$h3__color: #666 !default;
$h3__border-width: 0 0 0.1em 0 !default; 
$h3__border-style: solid !default;
$h3__border-color: #693 !default;
//// h4
$h4__font-weight: false !default; // normal
$h4__font-style: false !default; // normal
$h4__text-transform: false !default; // normal
$h4__font-variant: false !default; // normal
$h4__font-size: 1.25em !default;
$h4__line-height: 1.5em !default;
$h4__padding: 1em !default;
$h4__padding--position: top !default;
$h4__margin: 1em !default;
$h4__margin--position: bottom !default;
$h4__color: #777 !default; 
$h4__border-width: false !default; 
$h4__border-style: solid !default;
$h4__border-color: #693 !default;
//// h5
$h5__font-weight: false !default; // normal
$h5__font-style: false !default; // normal
$h5__text-transform: false !default; // normal
$h5__font-variant: false !default; // normal
$h5__font-size: 1.125em !default;
$h5__line-height: 1.6667em !default;
$h5__padding: 1.1111em !default;
$h5__padding--position: top !default;
$h5__margin: 0 !default;
$h5__margin--position: false !default;
$h5__color: #888 !default;
$h5__border-width: false !default; 
$h5__border-style: solid !default;
$h5__border-color: #693 !default;
//// h6
$h6__font-weight: false !default; // normal
$h6__font-style: false !default; // normal
$h6__text-transform: false !default; // normal
$h6__font-variant: false !default; // normal
$h6__font-size: inherit !default;
$h6__line-height: inherit !default;
$h6__padding: 1em !default;
$h6__padding--position: top !default;
$h6__margin: 0 !default;
$h6__margin--position: false !default;
$h6__color: #999 !default; 
$h6__border-width: false !default; 
$h6__border-style: solid !default;
$h6__border-color: #693 !default;
/// hr 
$hr__border-width: false !default; 
$hr__border-style: solid !default;
$hr__border-color: #333 !default;
$hr__height: 0.1em !default;
$hr__background: #ccc !default;
$hr__background--rgba: rgba(0,0,0,0.2) !default;
/// p, ul, ol, hr, table, form, fieldset
$element-margin: 1.25em 0 !default;
/// li
$li__list-style-position: inside !default;
$li__margin: 1em !default;
$li__margin--position: left !default;
$li__text-indent: -1em !default;
/// blockquote
$blockquote__margin: 1em !default;
$blockquote__font-family: $body__font-family !default;
$blockquote__padding: 0 1em !default;
$blockquote__font-weight: false !default; // normal
$blockquote__font-style: true !default; // italic
$blockquote__text-transform: false !default; // normal
$blockquote__font-variant: false !default; // normal
$blockquote__font-size: 1.25em !default;
$blockquote__line-height: 1.5em !default;
$blockquote__letter-spacing: 0.05em !default;
$blockquote__color: #888 !default;
$blockquote__border-width: 0.1em 0 0.1em 0 !default;
$blockquote__border-style: solid !default;
$blockquote__border-color: #ccc !default;
$blockquote__border-rgba: rgba(0,0,0,0.2) !default;
$blockquote__border-radius: 0.25em !default;
/// blockquote em
$blockquote__em__font-weight: false !default; // normal
$blockquote__em__font-style: false !default; // normal
$blockquote__em__text-transform: false !default; // normal
$blockquote__em__font-variant: false !default; // normal
/// figcaption
$figcaption__font-family: $body__font-family !default;
$figcaption__font-weight: false !default; // normal
$figcaption__font-style: true !default; // italic
$figcaption__text-transform: false !default; // normal
$figcaption__font-variant: false !default; // normal
$figcaption__font-size: 0.857em !default;
$figcaption__line-height: 1.4286em !default;
$figcaption__color: #666 !default;
/// time
$time__display: block !default;
$time__text-align: right !default;
$time__font-family: $body__font-family !default;
$time__font-weight: false !default; // normal
$time__font-style: false !default; // normal
$time__text-transform: true !default; // uppercase
$time__font-variant: false !default; // normal
$time__font-size: 0.75em !default;
$time__line-height: 1.6667em !default;
$time__letter-spacing: 0.2em !default;
$time__color: #888 !default;
$time__content: '—' !default;