//////////////////////////////
// BASE: Base element styles 
//////////////////////////////

@import "_typography_variables";

h1 {
  font-family: $headings__font-family;
  @include bold-italic-uppercase-variant($h1__font-weight, $h1__font-style, $h1__text-transform, $h1__font-variant);
  @include type-size($h1__font-size, $h1__line-height);
  @include margin-padding(padding, $h1__padding, $h1__padding--position);
  @include margin-padding(margin, $h1__margin, $h1__margin--position);
  color: $h1__color;
  @include border-outline(border, $h1__border-width, $h1__border-style, $h1__border-color);
}
h2 {
  font-family: $headings__font-family;
  @include bold-italic-uppercase-variant($h2__font-weight, $h2__font-style, $h2__text-transform, $h2__font-variant);
  @include type-size($h2__font-size, $h2__line-height);
  @include margin-padding(padding, $h2__padding, $h2__padding--position);
  @include margin-padding(margin, $h2__margin, $h2__margin--position);
  color: $h2__color;
  @include border-outline(border, $h2__border-width, $h2__border-style, $h2__border-color);
}
h3 {
  font-family: $headings__font-family;
  @include bold-italic-uppercase-variant($h3__font-weight, $h3__font-style, $h3__text-transform, $h3__font-variant);
  @include type-size($h3__font-size, $h3__line-height);
  @include margin-padding(padding, $h3__padding, $h3__padding--position);
  @include margin-padding(margin, $h3__margin, $h3__margin--position);
  color: $h3__color;
  @include border-outline(border, $h3__border-width, $h3__border-style, $h3__border-color);
}
h4 {
  font-family: $headings__font-family;
  @include bold-italic-uppercase-variant($h4__font-weight, $h4__font-style, $h4__text-transform, $h4__font-variant);
  @include type-size($h4__font-size, $h4__line-height);
  @include margin-padding(padding, $h4__padding, $h4__padding--position);
  @include margin-padding(margin, $h4__margin, $h4__margin--position);
  color: $h4__color;
  @include border-outline(border, $h4__border-width, $h4__border-style, $h4__border-color);
}
h5 {
  font-family: $headings__font-family;
  @include bold-italic-uppercase-variant($h5__font-weight, $h5__font-style, $h5__text-transform, $h5__font-variant);
  @include type-size($h5__font-size, $h5__line-height);
  @include margin-padding(padding, $h5__padding, $h5__padding--position);
  @include margin-padding(margin, $h5__margin, $h5__margin--position);
  color: $h5__color;
  @include border-outline(border, $h5__border-width, $h5__border-style, $h5__border-color);
}
h6 {
  font-family: $headings__font-family;
  @include bold-italic-uppercase-variant($h6__font-weight, $h6__font-style, $h6__text-transform, $h6__font-variant);
  @include type-size($h6__font-size, $h6__line-height);
  @include margin-padding(padding, $h6__padding, $h6__padding--position);
  @include margin-padding(margin, $h6__margin, $h6__margin--position);
  color: $h6__color;
  @include border-outline(border, $h6__border-width, $h6__border-style, $h6__border-color);
}
b, strong {
  font-weight: bold;
}
i, em {
  font-style: italic;
}
hr {
  @include border-outline(border, $hr__border-width, $hr__border-style, $hr__border-color);
  height: $hr__height;
  background: $hr__background;
  background-color: $hr__background--rgba;
}
p, ul, ol, hr, table, form, fieldset {
  @include margin-padding(margin, $element-margin);
}
// removed by Meyer reset! why?
ol {
  list-style-type: decimal;
}
ul {
  list-style-type: disc;
}
li {
  list-style-position: $li__list-style-position;
  @include margin-padding(margin, $li__margin, $li__margin--position);
  text-indent: $li__text-indent;
}
blockquote {
  @include margin-padding(margin, $blockquote__margin);
  @include border-outline(border, $blockquote__border-width, $blockquote__border-style, $blockquote__border-color);
  @include margin-padding(padding, $blockquote__padding);
  font-family: $blockquote__font-family;
  @include bold-italic-uppercase-variant($blockquote__font-weight, $blockquote__font-style, $blockquote__text-transform, $blockquote__font-variant);
  @include type-size($blockquote__font-size, $blockquote__line-height);
  letter-spacing: $blockquote__letter-spacing;
  color: $blockquote__color;
  border-color: $blockquote__border-rgba;
  @include border-radius($blockquote__border-radius);
  em {
    @include bold-italic-uppercase-variant($blockquote__em__font-weight, $blockquote__em__font-style, $blockquote__em__text-transform, $blockquote__em__font-variant);
  }
}
figcaption {
  font-family: $figcaption__font-family;
  @include bold-italic-uppercase-variant($figcaption__font-weight, $figcaption__font-style, $figcaption__text-transform, $figcaption__font-variant);
  @include type-size($figcaption__font-size, $figcaption__line-height);
  color: $figcaption__color;
}
time {
  display: $time__display;
  text-align: $time__text-align;
  font-family: $time__font-family;
  @include bold-italic-uppercase-variant($time__font-weight, $time__font-style, $time__text-transform, $time__font-variant);
  @include type-size($time__font-size, $time__line-height);
  letter-spacing: $time__letter-spacing;
  color: $time__color;
  @include content-before-after($time__content);
}