table.calendar{
	font-size: 0.8em;
	tr{
		border-bottom: 1px solid lighten($text-color, 10%);
		td{
			text-align: center;
		}
	}
}

.viewLinkControl{
	@extend .button;
}

.calendarLegend{
	font-size: 0.8em;
	margin: 0 0 1.5em 0;
}

#calendarForm{
	.sectionContainerNav{
		width: 93% !important;
	}
}
