<div class="portletBody specialLink container-fluid">
    #if($menu)#toolbar($menu)#end

    <div class="membershipContent">

        #if ($alertMessage)
            <div class="sak-banner-error">$formattedText.escapeHtml( $alertMessage )</div>
        #end

        <div class="sak-banner-info">
            #if( $hasBlurb )<p>$enrolmentsBlurb</p>#end
            <p>$tlang.getString( "mb.enrolments.instructions" )</p>
        </div>

        <div class="sakai-table-toolBar">
            <div class="sakai-table-filterContainer">
                #if( !$enrolments.isEmpty() || !$search.isEmpty() )
                    #searchFilterPanel("searchFilter1", $search, "doSearch", "doSearch_clear")
                #end
            </div>

            <div class="sakai-table-pagerContainer">
                #pagerPanel("pager1")
            </div>
        </div>

        <form action="#toolForm( "$action" )" method="post">
            <div class="table-responsive">
                <table id="enrolments" class="table table-responsive table-bordered table-striped table-hover" summary="$summary" >
                    <thead>
                        <tr>
                            <th id="term">
                                <a href="#toolLinkParam( "$action" "doToggle_sortEnrolments" "sortParam=use_term_sort" )" title="$tlang.getString( "mb.enrolments.sortByTerm" )">
                                    $tlang.getString( "mb.enrolments.columnHeader.term" )
                                    #if( $sortMode.equals( "use_term_sort" ) )
                                        #if( $currentSortAsc )
                                            <img src="#imageLink( "sakai/sortascending.gif" )" border="0" title="$tlang.getString('mb.enrolments.sortByTerm.asc')" alt="$tlang.getString( 'mb.enrolments.sortByTerm.asc' )" />
                                        #else
                                            <img src="#imageLink( "sakai/sortdescending.gif" )" border="0" title="$tlang.getString('mb.enrolments.sortByTerm.desc')" alt="$tlang.getString( 'mb.enrolments.sortByTerm.desc' )" />
                                        #end
                                    #end
                                </a>
                            </th>
                            <th id="section">
                                <a href="#toolLinkParam( "$action" "doToggle_sortEnrolments" "sortParam=use_section_sort" )" title="$tlang.getString( "mb.enrolments.sortBySection" )">
                                    $tlang.getString( "mb.enrolments.columnHeader.section" )
                                    #if( $sortMode.equals( "use_section_sort" ) )
                                        #if( $currentSortAsc )
                                            <img src="#imageLink( "sakai/sortascending.gif" )" border="0" title="$tlang.getString('mb.enrolments.sortBySection.asc')" alt="$tlang.getString( 'mb.enrolments.sortBySection.asc' )" />
                                        #else
                                            <img src="#imageLink( "sakai/sortdescending.gif" )" border="0" title="$tlang.getString('mb.enrolments.sortBySection.desc')" alt="$tlang.getString( 'mb.enrolments.sortBySection.desc' )" />
                                        #end
                                    #end
                                </a>
                            </th>
                            <th id="worksite">
                                <a href="#toolLinkParam( "$action" "doToggle_sortEnrolments" "sortParam=use_site_sort" )" title="$tlang.getString( "mb.enrolments.sortBySite" )">
                                    $tlang.getString( "mb.enrolments.columnHeader.courseSite" )
                                    #if( $sortMode.equals( "use_site_sort" ) )
                                        #if( $currentSortAsc )
                                            <img src="#imageLink( "sakai/sortascending.gif" )" border="0" title="$tlang.getString('mb.enrolments.sortBySite.asc')" alt="$tlang.getString( 'mb.enrolments.sortBySite.asc' )" />
                                        #else
                                            <img src="#imageLink( "sakai/sortdescending.gif" )" border="0" title="$tlang.getString('mb.enrolments.sortBySite.desc')" alt="$tlang.getString( 'mb.enrolments.sortBySite.desc' )" />
                                        #end
                                    #end
                                </a>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        #foreach( $enrolment in $enrolments )
                            <tr>
                                <td headers="term" class="grayText">$sessionHelper.getSessionByEID( $enrolment.getSessionEID() ).getTitle()</td>
                                <td headers="section">$enrolment.getSectionTitle()</td>
                                <td headers="worksite">
                                    #if ($enrolment.siteWrappers.size() > 0)
                                        #if ($enrolment.siteWrappers.size() == 1)
                                            #set ($site = $enrolment.siteWrappers.get(0))
                                            <a href="$site.getSiteURL()" target="_top" title="$tlang.getString( "mb.gotosite" ) $formattedText.escapeHtml( $site.getSiteTitle() )">
                                                $formattedText.escapeHtml( $site.getSiteTitle() )
                                            </a>
                                        #else
                                            <ul>
                                            #foreach( $site in $enrolment.siteWrappers )
                                                <li>
                                                    <a href="$site.getSiteURL()" target="_top" title="$tlang.getString( "mb.gotosite" ) $formattedText.escapeHtml( $site.getSiteTitle() )">
                                                        $formattedText.escapeHtml( $site.getSiteTitle() )
                                                    </a>
                                                </li>
                                            #end
                                            </ul>
                                        #end
                                    #else
                                        $tlang.getString('mb.enrolments.siteNotAvailable')
                                    #end
                                </td>
                            </tr>
                        #end
                    </tbody>
                </table>

                #if( !$search.isEmpty() && $enrolments.isEmpty() )
                    <div class="sakai-table-noResultsMessage">$tlang.getString( "mb.enrolments.noMatchingEnrolments" )${validator.escapeHtml( $search )}$tlang.getString( "mb.list.nosearchsites2" )</div>
                #elseif( $enrolments.isEmpty() )
                    <div class="sakai-table-noResultsMessage">$noEnrolments</div>
                #end
            </div>
            <input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
        </form>

        #if( $enrolments.size() > 10 && $pagesizeInt > 10 )
            <div class="sakai-table-toolBar sakai-table-toolBar-bottom">
                <div class="sakai-table-filterContainer">
                    #searchFilterPanel("searchFilter2", $search, "doSearch", "doSearch_clear")
                </div>
                <div class="sakai-table-pagerContainer">
                    #pagerPanel("pager2")
                </div>
            </div>
        #end
    </div>
</div>
