#set ( $currentRWikiObject = ${requestScope.currentRWikiObject} )
#set ( $editBean = ${requestScope.editBean} )
#set ( $renderBean = ${requestScope.renderBean} )
#set ( $rlb = ${requestScope.resourceLoaderBean} )		
#set ( $currentContent = ${currentRWikiObject.content} )
#set ( ${currentRWikiObject.content} = ${editBean.previousContent} ) 	    
${renderBean.previewPage}<br/>

