/* Reset tool styles ========================================*/

.reqStar{
	float: none;
	margin-left: 0;
}

table.listHier{
	width: 100%;
}



/* Nav ========================================*/

.navIntraTool li, .itemAction li {
	display: inline;
	margin: 0;
	margin-left: -.5em;
	padding: 0 1em;
}

.navIntraTool li span.separator {
    margin-left: 1em;
    margin-right: -1.5em;
}

.itemAction li {
	margin-left: 0;
	padding: 0 .3em;
}

.navIntraTool a, .navIntraTool a:link{
	margin: 0;
	padding: 0;
}

li.last {
	border: 0 none;
}


.pagerDiv {
	float: right;	
	position: relative;
	top: -4em;
}

h3 {
	height: 2.5em;
}


/* Forms ========================================*/

fieldset {
	background-color: #fff;
	margin: 20px 0;
	padding: 0;
}

legend {
	color: #000;
	font-weight: bold;
	margin-left: 0;
	padding: 0;
}

form ol {
	margin:0;
	padding:0;
}

form li {
	list-style: none;
	margin: 0 .5em .5em 15px;
	padding: 2px;
}

form li.activefield {
   background-color: #f1f5f8;
}

form li label {
	display: block;
	float: left;
	margin-right: .5em;
	margin-top: .3em;
	text-align: left;
	width: 14em;
}

li label.block {
	display: block;
	float: none;
	width: auto;
}

fieldset fieldset {
	background: transparent;
	border: none;
	margin: 0;
	padding: 0;
}

fieldset fieldset legend {
	color: #333;
	font-weight: normal;
	margin-left: 0;
}

form fieldset fieldset li {
	margin-bottom: 0;
	padding: 0;
}

form fieldset fieldset label {
	display: inline;
	float: none;
	margin: 5px 0 0 5px;
	text-align: left;
	width: auto;
}

.textarea {
	width: 100%;
}

.submit {
	border-style: none;
	padding: 0;
	background: none;
}

.indent {
	margin-left: 3em;
}

li p.instruction {
	margin-left: 14.5em;
}



/* Errors/Notifications ========================================*/

.messages {
	background: url("/sakai-gradebook-tool/content/images/error-arrow.png") no-repeat .5em 0;
	color: #fff;
	display: block;
	margin: 0;
	xpadding: .5em .5em .5em 2em;
}

.messages li {
	background: url("/sakai-gradebook-tool/content/images/error-arrow.png") no-repeat .5em 0;
	padding: .5em .5em .5em 2em;
}

li.error {
	background-color: #ba0005;
}

li.info {
	background-color: #00ba05;
}

.error input[type="text"] {
	border: 1px solid #ba0005;
}

.error p,
.error ul {
	background: #ba0005 url("/sakai-gradebook-tool/content/images/error-arrow.png") no-repeat .5em 0;
	color: #fff;
	display: block;
	margin: 0;
	padding: .5em .5em .5em 2em;
}

.error ul {
	list-style: none;
}

li .error p {
	margin-left: 12.5em;
}

.error a {
	color: #fff;
}

.pointer {
	cursor: pointer;
}