<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link href="${pageSkinRepo}/tool_base.css" type="text/css" rel="stylesheet" media="all" />
	    <link href="${pageSkinRepo}/${pageSkin}/tool.css" type="text/css" rel="stylesheet" media="all" />
	    <meta http-equiv="Content-Style-Type" content="text/css" />
	    <title>${uiService}</title>
	    <script type="text/javascript" language="JavaScript" src="${pageScriptPath}headscripts.js"></script>
		<meta name="viewport" content="width=device-width"/>
	</head>
	<body>
		
		<!-- choice.vm -->
		<table id="login-choice" class="login">
			<tr>
    			<th id="login-choice-header" colspan="2">${choiceRequired}</th>
    		</tr>
    		<tr>
    			<td class="form" id="login-choice-container">
					<p>
						<a href="${containerLoginUrl}">
    						#if("$containerLoginChoiceIcon" != "")
    							<img src="${containerLoginChoiceIcon}" alt="${containerLoginChoiceText}" />
    						#end
    						${containerLoginChoiceText}
    					</a>
					</p>
					
				</td>
				
				<td class="form" id="login-choice-xlogin">
					<p>
						<a href="${xloginUrl}">
    						#if("$xloginChoiceIcon" != "")
    							<img src="${xloginChoiceIcon}" alt="${xloginChoiceText}" />
    						#end
    						${xloginChoiceText}
						</a>
					</p>
					
				</td>
    		</tr>
		</table>
		<!-- end choice.vm -->
				
	</body>
</html>
