<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
	"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- This 'dao' actually just wraps the content hosting service -->
	<bean id="org.sakaiproject.scorm.dao.api.ContentPackageManifestDao"
		class="org.sakaiproject.scorm.dao.sakai.ContentPackageManifestDaoImpl"
		singleton="true">
		
		<!-- Sakai API Service -->
		<lookup-method name="contentService" bean="org.sakaiproject.content.api.ContentHostingService" />
	</bean>
	
</beans>