
#headerMax{
	overflow:visible;
}

div.skinselection {
    position: absolute;
    top: 400px;
    left: 2px;
    z-index: 1;
}

div.portletpresence {
    position: absolute;
    top: 30px;
    right: 5px;
    z-index: 2;
}

div.portletpresencewrapper {
    background-color:#F0F0F0; 
    layer-background-color:F0F0F0;
    visibility: hidden;
}

div.portletpresencebutton {
    position: absolute;
    top: 0px;
    right: 5px;
    z-index: 1;
}

div.portletloginarea {

}
