#headerMax{
	overflow:visible;
 }

/*pda portal*/
/*the menu*/
#pda-portlet-menu{
	background:#fff url(images/pda-menu-back.gif) top left repeat-x;
	list-style: none;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	color:#fff;
	margin:0;
	clear: both;
	height: 120%;
	overflow: hidden;
	padding: 2px 0;
	line-height: 1.2em;
}
#pda-portlet-menu li {
	margin-left: 0;
	padding: 3px 3px 3px 15px;
	list-style: none;
	float: left;
	display: inline;
	background: transparent  url(images/pda-menu-arrow.gif) top left no-repeat;
	float:left
}
/*the first item in the menu - may contain an instance string "CamTools" or "OnCourse"*/
#pda-portlet-menu li.instanceNote  {
	background: none;
	padding: 3px;
}
#pda-portlet-menu li.sitesLink  {
	background: none;
	padding: 3px;
}
/*put non site links to the right*/
#pda-portlet-menu li.loginLink, #pda-portlet-menu li.logoutLink, #pda-portlet-menu li.helpLink  {
	background: none;
	float:right;
}
#pda-portlet-menu li span a{
	color:#fff;
	text-decoration:none !important;
}	
#pda-portlet-menu li span a:hover{
	text-decoration: underline !important;
}
/*all types of links in the breadcrumb are addressed in the markup and can be styled here*/
.currentSiteParentLink{}
.currentSiteChildLink{}
.currentSiteChildLink{}
.currentToolTitle{}
.helpLink{}
.logoutLink{}
.loginLink{}
/*the list menu (gateway sites, site lists, tool lists, may want to differentiate between them, if so can*/
#pda-portlet-page-menu, #pda-portlet-site-menu{
	font-size:1.2em;
	margin:.5em;
	padding:0;	
	list-style:none;
	line-height:1.3em;
	font-family: Helvetica, Arial, sans-serif;
}

#pda-portlet-site-menu a, #pda-portlet-page-menu a{
	color:#07b;
	text-decoration:none;
}	

#pda-portlet-site-menu a:hover, #pda-portlet-page-menu a:hover{
	text-decoration:none;
}
/*sub site listings in a ite list*/
#pda-portlet-page-menu li.subSites ul li{
	margin:0;
	padding-left:0;
	list-style: url(images/pda-list-arrow.gif);
}
div.skinselection {
    position: absolute;
    top: 400px;
    left: 2px;
    z-index: 1;
}

div.portletpresence {
    position: absolute;
    top: 20px;
    left: -4000px;
    z-index: 2;
}

/* gsilver: comment out - it is hiding from all UA, not just pda */
#presenceTitle{
	/* display:none; */
}

div.portletpresencewrapper {
	background-color:#F0F0F0; 
	border:1px solid #bbb;
    layer-background-color:F0F0F0;
}

div.portletpresencebutton {
    position: absolute;
    top: 3px;
    right: 5px;
    z-index: 1;
}

div.portletloginarea {

}
.toolSubMenuHolder {
	/*background-color:#F0F0F0;*/ 
	position: relative;
	top: 4px;
	border:1px solid #c0c0c0;
	margin-top: 3px;
	margin-bottom: 3px;
}
.toolSubMenuHolder_top {
}
.toolSubMenuHolder_bottom {
}
.toolSubMenuHolder_bottom div {
}
.toolSubMenuHolder_content {
}

.toolSubMenuHolder_top div,.toolSubMenuHolder_top,
.toolSubMenuHolder_bottom div, .toolSubMenuHolder_bottom {
	width: 100%;
	height: 8px;
	font-size: 1px;
}
.toolSubMenuHolder_content, .toolSubMenuHolder_bottom {
	margin-top: -5px;
}
.toolSubMenuHolder_content { padding: 0px; }

.toolSubMenuHeading {
	text-align: left;
	padding-left: 2px;
   background-color:#F0F0F0;
   margin: 3px;
}
.toolSubMenuHolder_tools {
	padding-left: 7px;
	padding-right: 3px;
}
.toolSubMenuSpacer {
	/* Uncomment the following if curvyCorners are not used */
	display: none;
	line-height: 6px;
}



