#headerMax{
	overflow:visible;
 }

#pda-portlet-menu{
	background-color:#698199;
	color:#ffffff;
	font-size:100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14pt;
	padding:3px;
}
#pda-portlet-menu a{
	color:#ffffff;
	text-decoration:none;
}	
#pda-portlet-menu a:hover{
	color:#ff0;
}
#pda-portlet-menu a:hover{
	color:#ff0;
}	
#pda-portlet-site-menu, #pda-portlet-page-menu{
	font-size:100%;
	margin:1em;
	padding:1em;	
	list-style:none;
	line-height:1.5em;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14pt;
}

#pda-portlet-site-menu a, #pda-portlet-page-menu a{
	color:#698199;
	text-decoration:none;
}	

#pda-portlet-site-menu a:hover, #pda-portlet-page-menu a:hover{
	text-decoration:underline;
}

div.skinselection {
    position: absolute;
    top: 400px;
    left: 2px;
    z-index: 1;
}

div.portletpresence {
    position: absolute;
    top: 20px;
    left: -4000px;
    z-index: 2;
}

/* gsilver: comment out - it is hiding from all UA, not just pda */
#presenceTitle{
	/* display:none; */
}

div.portletpresencewrapper {
	background-color:#F0F0F0; 
	border:1px solid #bbb;
    layer-background-color:F0F0F0;
}

div.portletpresencebutton {
    position: absolute;
    top: 3px;
    right: 5px;
    z-index: 1;
}

div.portletloginarea {

}
.toolSubMenuHolder {
	/*background-color:#F0F0F0;*/ 
	position: relative;
	top: 4px;
	border:1px solid #c0c0c0;
	margin-top: 3px;
	margin-bottom: 3px;
}
.toolSubMenuHolder_top {
}
.toolSubMenuHolder_bottom {
}
.toolSubMenuHolder_bottom div {
}
.toolSubMenuHolder_content {
}

.toolSubMenuHolder_top div,.toolSubMenuHolder_top,
.toolSubMenuHolder_bottom div, .toolSubMenuHolder_bottom {
	width: 100%;
	height: 8px;
	font-size: 1px;
}
.toolSubMenuHolder_content, .toolSubMenuHolder_bottom {
	margin-top: -5px;
}
.toolSubMenuHolder_content { padding: 0px; }

.toolSubMenuHeading {
	text-align: left;
	padding-left: 2px;
   background-color:#F0F0F0;
   margin: 3px;
}
.toolSubMenuHolder_tools {
	padding-left: 7px;
	padding-right: 3px;
}
.toolSubMenuSpacer {
	/* Uncomment the following if curvyCorners are not used */
	display: none;
	line-height: 6px;
}



