// Configuration
@import "bootstrap/scss/mixins";

html {
  --sakai-dashboard-container-padding: 40px;
  --sakai-dashboard-welcome-font-size: 32px;
  --sakai-motd-font-size: 16px;
  --sakai-motd-font-weight: bold;
  --sakai-motd-margin-top: 10px;
  --sakai-motd-padding: 12px;
  --sakai-motd-message-font-size: 12px;
}

@include media-breakpoint-down(md) {
  sakai-course-dashboard-template-picker {
    padding: 2rem;
  }
}

#course-dashboard-container {
  padding: var(--sakai-dashboard-container-padding);
  background-color: var(--sakai-tool-bg-color);
}

#course-dashboard-programme {
  font-style: italic;
  font-weight: bold;
  font-size: small;
  margin: -0.5em 0 0.5em 0;
}

@include media-breakpoint-up(lg) {
  .sakai-course-list {
    border-right: solid 1px var(--sakai-border-color);
  }
}

#course-dashboard-widgets {
  flex: 1;
}

#course-dashboard-header-and-edit-block {
  display: flex;
}

#course-dashboard-header-block {
  flex: 2;
}

#course-dashboard-edit-block {
  flex: 1;
  text-align:right;
}

#course-dashboard-edit-block div {
  display: inline-block;
}

#dashboard-motd-title-block {
  background-color: var(--sakai-title-bar-bg-color, rgb(244, 244, 244));
  font-weight: var(--sakai-title-bar-font-weight, bold);
}

sakai-editor div {
  padding: 0 0 20px 0;
}

#course-dashboard-title-and-edit-block {
  display: flex;
  margin-bottom: 20px;
}

#course-dashboard-title-and-edit-block h2 {
  margin-top: 0px;
}

#course-dashboard-l1-widgets {
  flex: 1;
}

#course-dashboard-l2-widgets {
  flex: 3;
}

@include media-breakpoint-down(lg) {
  #course-dashboard-l1-overview-and-widgets-block {
    display: block;
  }
  #course-dashboard-l1-overview-block {
    margin-bottom: 16px;
  }

  #course-dashboard-l3-overview-and-widgets-block {
    display: block;
  }
  #course-dashboard-l3-overview-block {
    margin-bottom: 16px;
  }
}
@include media-breakpoint-up(lg) {
  #course-dashboard-l1-overview-and-widgets-block {
    display: flex;
  }
  #course-dashboard-l1-overview-block {
    flex: 2;
    margin-right: 16px;
  }

  #course-dashboard-l3-overview-and-widgets-block {
    display: flex;
  }
  #course-dashboard-l3-overview-block {
    flex: 2;
    margin-right: 16px;
  }
}

#course-dashboard-l3-widgets {
  flex: 2;
}


@include media-breakpoint-up(sm) {
  #course-dashboard-l2-header-block {
    flex: 1;
  }

  #course-dashboard-l2-overview-block {
    flex: 3;
  }
}

.course-dashboard-container sakai-editor {
  display: block;
  margin-top: 29px;
}

#course-dashboard-l2-header-and-overview-block sakai-editor {
  margin-top: 0px;
}

@include media-breakpoint-down(lg) {

  .course-dashboard-template-picker-selected {
    margin-bottom: 1rem;
  }

  .course-dashboard-template-picker-thumbnail {
    width: 149px;
    height: 99px;
  }
}

@include media-breakpoint-up(lg) {

  #course-dashboard-template-picker-instruction {
    width: 745px;
  }

  #course-dashboard-template-picker-template-block {
    display: flex;
  }

  #course-dashboard-template-picker-template-block div {
    flex: 1;
  }

  .course-dashboard-template-picker-thumbnail {
    width: 199px;
    height: 132px;
  }
}

#course-dashboard-template-picker-template-block div {
  text-align: center;
  padding-top: 1rem;
}

#course-dashboard-template-picker-instruction {
  margin-bottom: 20px;
}

.course-dashboard-template-picker-selected {
  border: 3px black solid;
}
