## Get the tool title: replace the spaces with hyphens and make it lowercase so that we have a unique class http://stackoverflow.com/questions/2932392/java-how-to-replace-2-or-more-spaces-with-single-space-in-string-and-delete-lead
#set($toolTitleClass = ${tool.toolTitle.trim().replaceAll(" +", '-').toLowerCase()})

#if (${tool.hasRenderResult})
    <div class="portlet portlet-main wrapper ${toolTitleClass}">
        ${tool.toolRenderResult.getContent()}
    </div>
#else
    <div class="portlet portlet-main portlet-iframe-wrapper wrapper ${toolTitleClass}">
        <iframe name="${tool.toolPlacementIDJS}" id="${tool.toolPlacementIDJS}" title="${tool.toolTitle}" class ="portlet-main portlet-iframe ${tool.toolTitle}" height="475" width="100%" src="${tool.toolUrl}?panel=Main">
        </iframe>
    </div>
#end