body {
background-color: #fff;
color: #000;
font-family: "Times New Roman", Garamond, serif;
}

img,
.addAttendee,
.addWaiter,
.disabledAddAttendee,
.instruction,
.emailTable,
input[type="submit"],
a.button,
#modifyMeeting\:print
{
	display: none !important;
}

table.signupTable{
  border: solid;
  border-width: thin;	
}

label#meeting\:imageOpen_publishedSiteGroup,
label#meeting\:imageClose_publishedSiteGroup
{
  display: none !important;
}
#meeting\:publishedSiteGroups {
  display: inline-block !important;
}
span[id^="meeting:timeslots:"][id$=":editAttendeesList"] {
  display: block !important;
}
a[title="Email all participants"] {
  display: none;
}

@media print {
  .hidden-print {
    display : none !important;
  }
}
