/* sakai chat tool CSS */
#chatLeft {
    float:left;
    width:82%;
    clear:none;
}
.chat-post-warning {
    max-height: 2em;
    width: 80%;
}
.chat-block,.chat-select-date {

}
.chatList {
    width:93%
}
LABEL.chat-date-label {
    width: 10em;
    text-align: right;
    display: inline-block;
    padding-right: 1em;
}

#chatList, .chatList, .presenceList {
    list-style: none;
}
#chatList li, .chatList li{
    line-height: 1.2em;
}
.chat-block label {
    display: inline;
}
.chat-block select {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
h3 {
   padding-top: 0px;
}
/* for presence list. I'm using .information to get color and
   style consistent with overall design, but have to undo some
   padding and margin */
.chatListHeadWrapper {
    padding:0px !important;
    margin:0px !important;
    margin-bottom:0.25em !important;
    margin-left:0.5em !important;
}
#chatPresenceWrapper{
   background-image:none;
   display:inline-block;
   clear: none;
   float:right;
   width:16%;
   padding:0px !important;
   margin:0px !important;
   padding-top:0.5em !important;
   padding-bottom:0.5em !important;
   max-height: 40em; 
   overflow-y: auto;
   overflow-x: hidden;
}
#chatPresenceWrapper:before {
   content:none;
}
#chatListWrapper {
   display:inline-block;
   float:left;
   clear:none;
}
.presence {
   height: calc(20em);
}
h3.chatListHeadWrapper{
   font-size: 100% !important;
}
.presenceList {
    list-style: none;
    padding:0px;
    margin:0px;
    padding-left: 1em;
    padding-bottom: 1em;
}
.presenceList li {
    line-height: 1.2em;
    font-size: 75%;
    width:100%;
    text-indent:0em;
}
@media screen and (max-width: 1000px) {
  #chatPresenceWrapper {
     display:none;
  }
  #chatLeft {
     width:auto;
  }
}
