<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="sectionsSessionFactory" class="org.springframework.orm.hibernate.LocalSessionFactoryBean"
		parent="org.sakaiproject.springframework.orm.hibernate.SessionFactoryBase">
		<property name="mappingResources">
		    <list>
                <value>org/sakaiproject/component/section/sakai20/LearningContextImpl.hbm.xml</value>
                <value>org/sakaiproject/component/section/sakai20/ParticipationRecordImpl.hbm.xml</value>
			</list>
		</property>
	</bean>

	<bean id="sectionsTransactionManager" class="org.springframework.orm.hibernate.HibernateTransactionManager">
		<property name="sessionFactory"><ref bean="sectionsSessionFactory"/></property>
	</bean>

    <bean id="org.sakaiproject.api.section.SectionAwareness" parent="sectionsTxTemplate">
        <property name="target">
            <bean class="org.sakaiproject.component.section.sakai20.SectionAwarenessHibernateImpl">
                <property name="sessionFactory"><ref bean="sectionsSessionFactory"/></property>
                <property name="sectionCategoryList">
                    <list>
                        <value>section.category.lecture</value>
                        <value>section.category.discussion</value>
                        <value>section.category.lab</value>
                    </list>
                </property>
            </bean>
        </property>
    </bean>
	
    <bean id="org.sakaiproject.api.section.SectionManager" parent="sectionsTxTemplate">
        <property name="target">
            <bean class="org.sakaiproject.component.section.sakai20.SectionManagerHibernateImpl">
                <property name="sessionFactory"><ref bean="sectionsSessionFactory"/></property>
                <property name="authn">
                    <ref bean="org.sakaiproject.api.section.facade.manager.Authn"/>
                </property>
                <property name="context">
                    <ref bean="org.sakaiproject.api.section.facade.manager.Context"/>
                </property>
                <property name="uuidManager">
                    <ref bean="org.sakaiproject.api.common.uuid.UuidManager"/>
                </property>
                <property name="sectionCategoryList">
                    <list>
                        <value>section.category.lecture</value>
                        <value>section.category.discussion</value>
                        <value>section.category.lab</value>
                    </list>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="org.sakaiproject.api.section.CourseManager" parent="sectionsTxTemplate">
        <property name="target">
            <bean class="org.sakaiproject.component.section.sakai20.CourseManagerHibernateImpl">
                <property name="sessionFactory"><ref bean="sectionsSessionFactory"/></property>
            </bean>
        </property>
    </bean>

	<bean id="org.sakaiproject.api.section.facade.manager.Authn"
		class="org.sakaiproject.component.section.facade.impl.sakai20.AuthnSakaiImpl"/>

    <bean id="org.sakaiproject.api.section.facade.manager.Authz" parent="sectionsTxTemplate">
        <property name="target">
            <bean class="org.sakaiproject.component.section.facade.impl.sakai20.AuthzSakaiImpl">
                    <property name="sessionFactory"><ref bean="sectionsSessionFactory"/></property>
            </bean>
        </property>
    </bean>

	<bean id="org.sakaiproject.api.section.facade.manager.Context"
		class="org.sakaiproject.component.section.facade.impl.sakai20.ContextSakaiImpl"/>

</beans>
