<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="sectionsSessionFactory" class="org.springframework.orm.hibernate.LocalSessionFactoryBean"
		parent="org.sakaiproject.springframework.orm.hibernate.SessionFactoryBase">
		<property name="mappingResources">
		    <list>
                <value>org/sakaiproject/tool/section/LearningContextImpl.hbm.xml</value>
                <value>org/sakaiproject/tool/section/ParticipationRecordImpl.hbm.xml</value>
                <value>org/sakaiproject/tool/section/UserImpl.hbm.xml</value>
			</list>
		</property>
	</bean>

	<bean id="sectionsTransactionManager" class="org.springframework.orm.hibernate.HibernateTransactionManager">
		<property name="sessionFactory"><ref bean="sectionsSessionFactory"/></property>
	</bean>

	<bean id="org.sakaiproject.api.section.SectionAwareness" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref bean="sectionsTransactionManager"/></property>
		<property name="target">
			<bean class="org.sakaiproject.component.section.SectionAwarenessHibernateImpl">
				<property name="sessionFactory"><ref bean="sectionsSessionFactory"/></property>
		        <property name="sectionCategoryList">
					<list>
		                <value>section.category.lecture</value>
		                <value>section.category.discussion</value>
		                <value>section.category.lab</value>
					</list>
		        </property>
			</bean>
		</property>
		<property name="transactionAttributes">
			<props>
	            <prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>
	
	<bean id="org.sakaiproject.tool.section.manager.SectionManager" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref bean="sectionsTransactionManager"/></property>
		<property name="target">
			<bean class="org.sakaiproject.tool.section.manager.SectionManagerHibernateImpl">
				<property name="sessionFactory"><ref bean="sectionsSessionFactory"/></property>
				<property name="authn">
					<ref bean="org.sakaiproject.api.section.facade.manager.Authn"/>
				</property>
                <property name="context">
                    <ref bean="org.sakaiproject.api.section.facade.manager.Context"/>
                </property>
                <property name="uuidManager">
                    <ref bean="org.sakaiproject.api.common.uuid.UuidManager"/>
                </property>
                <property name="sectionCategoryList">
                    <list>
                        <value>section.category.lecture</value>
                        <value>section.category.discussion</value>
                        <value>section.category.lab</value>
                    </list>
                </property>
			</bean>
		</property>
		<property name="transactionAttributes">
			<props>
	            <prop key="join*">PROPAGATION_REQUIRED</prop>
                <prop key="switch*">PROPAGATION_REQUIRED</prop>
	            <prop key="drop*">PROPAGATION_REQUIRED</prop>
                <prop key="add*">PROPAGATION_REQUIRED</prop>
                <prop key="create*">PROPAGATION_REQUIRED</prop>
                <prop key="set*">PROPAGATION_REQUIRED</prop>
                <prop key="update*">PROPAGATION_REQUIRED</prop>
                <prop key="remove*">PROPAGATION_REQUIRED</prop>
	            <prop key="disband*">PROPAGATION_REQUIRED</prop>
	            <prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>

	<bean id="org.sakaiproject.api.section.facade.manager.Authn"
		class="org.sakaiproject.component.section.facade.impl.sakai.AuthnSakaiImpl"/>

    <bean id="org.sakaiproject.api.section.facade.manager.Authz"
        class="org.sakaiproject.component.section.facade.impl.sakai.AuthzSakaiImpl"/>

	<bean id="org.sakaiproject.api.section.facade.manager.Context"
		class="org.sakaiproject.component.section.facade.impl.sakai.ContextSakaiImpl"/>

</beans>
