.#{$namespace}sakai-siteinfo
{
	.groups-site{
		list-style: none;

		li {
			min-height: 4em;
			&:nth-child(odd){
				background: var(--sakai-color-gray--lighter-7);
			}
		}
	}

	#example {
		width: 340px;
	}

	#groupfile, #groupuploadtextarea {
		display: inline-block;
	}
	#groupuploadtextarea {
		padding-right: 30px;
	}
	#groupfile {
		vertical-align: top;
	}

	#siteMembers-selection, #groupMembers-selection
	{
		min-width: 100%;
		padding-right: 0.5em;
	}
	#date-manager-form {
		.panel-heading {
			padding: 0;

			.panel-title {
				padding: 0;

				a {
					padding: 13.2px 15px;
					display: block;
					text-decoration: none;

					&::before {
						font-family: FontAwesome;
						margin-right: 5px;
						width: 15px;
						display: inline-block;
					}
					&[aria-expanded=true] {
						&::before {
							content: "\f063";
						}
					}
					&:not([aria-expanded=true]) {
						&::before {
							content: "\f061";
						}	
					}

					span {
						text-decoration: underline;
					}
				}
			}
		}

		.panel-body {
			> p:last-of-type {
				margin-bottom: 0;
			}
		}

		.table-datemanager {
			margin-bottom: 0;
			table-layout: fixed;

			td {
				&.ajax-error {
					background-color: var(--errorBanner-bgcolor);
				}

				> div {
					position: relative;
				}

				.datepicker {
					width: calc(100% - 35px);
					display: inline-block;
					min-width: initial !important;
				}

				.ui-datepicker-trigger {
					position: absolute;
					top: 0;
					right: 0;
				}

				.day-of-week {
					text-transform: capitalize;
				}

			}

		}

		.modal {
			.modal-header {
				.close {
					opacity: 1;
				}
			}
			.modal-body {
				#modified-dates {
					margin-bottom: 0;
				}
			}
			.modal-footer {
				&.act {
					margin-top: 0;
					margin-bottom: 0;
				}
			}
		}
	}

	#dateShifterDays {
		box-sizing: content-box;
		width: 5ch;
	}

  /*Start of Site Group Manager*/
  .wizard-step-active {
    background-color: var(--sakai-primary-color-1);
    color: var(--button-primary-text-color);
  }

  .optGroupSelect {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: none repeat scroll 0 0 var(--sakai-background-color-2);
    padding: 0.5em;
  }

  .optGroupSelectSelected {
    background: none repeat scroll 0 0 var(--sakai-active-color-1);
  }

  .group-locked-info.collapsed::before {
    content: '\f0da';
    font-family: 'FontAwesome';
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }

  .group-locked-info::before {
    content: '\f0d7';
    font-family: 'FontAwesome';
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }

  .group-locked-info + .collapsing {
    transition: none !important;
  }

  .selectSectionDiv {
     padding-left: 21px;
   }
  /*End of Site Group Manager*/

}

#toolSelectionList{
	ul{
		padding: 0 0 0 0;
	}
}
