<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider" 
		class="org.sakaiproject.announcement.entityprovider.AnnouncementEntityProviderImpl">
	
		<property name="siteService"><ref bean="org.sakaiproject.site.api.SiteService"/></property>
		<property name="securityService"><ref bean="org.sakaiproject.authz.api.SecurityService"/></property>
		<property name="sessionManager"><ref bean="org.sakaiproject.tool.api.SessionManager"/></property>
		<property name="announcementService"><ref bean="org.sakaiproject.announcement.api.AnnouncementService"/></property>
		<property name="userDirectoryService"><ref bean="org.sakaiproject.user.api.UserDirectoryService"/></property>
		<property name="timeService"><ref bean="org.sakaiproject.time.api.TimeService"/></property>
		<property name="toolManager"><ref bean="org.sakaiproject.tool.api.ToolManager"/></property>
		<property name="entityManager"><ref bean="org.sakaiproject.entity.api.EntityManager"/></property>
		
	</bean>
	
</beans>

