<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Site Page Order</title>
	<link href="/library/skin/tool_base.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all"/>
	<link href="/library/skin/default/tool.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all"/>
	<link href="../css/PageList.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" rsf:id="resize"/>
	<script type="text/javascript" src="/library/js/fluid/1.5/MyInfusion.js"></script>
	<script type="text/javascript" src="../js/orderUtil.js" rsf:id="scr=rewrite-url"></script>
	<script type="text/javascript" src="/library/js/headscripts.js"></script>
	<script type="text/javascript" src="/library/js/spinner.js"></script>
</head>

<body>
 	<div id="page-order-body" class="portletBody">
		<a href="#" rsf:id="redirect">go back</a>
		<div rsf:id="content:">
			<h3 rsf:id="msg=page_title">page_title</h3>
			<div class="alertMessageContainer">
				<div class="alert alert-info" id="call-results" role="alert">
					<span rsf:id="msg=welcome">Note: Changes to page ordering will not take effect until you click 'Save'. Deleting, Adding or Editing a Page is saved immediately</span>
				</div>
			</div>
			<form rsf:id="pages-form" class="order_action_form">
	 			<table id="page-list">
	  				<tr><td>
						<div class="tool_list">
							<div id="list-label">
								<strong rsf:id="msg=curr_pages">Current Pages</strong>
							</div>
							<ul tabIndex="2" class="sortable" id="sort1">
								<li rsf:id="page-row:" id="content:::page-row::" class="sortable_item" title="Click And Drag Pages Into The Order That You Want" >
									<div rsf:id="tool-icon"></div>
									<div class="item_edit_box" style="display: none;">
										<div>
											<label rsf:id="page-name-label"for="page-name-input">Title</label>
											<input rsf:id="page-name-input" class="new_title" id="page-name-input"></input>
										</div>
										<div>
											<label rsf:id="msg=url" for="page-config-input">URL</label>
											<input rsf:id="page-config-input" id="page-config-input" class="new_config" ></input>
											<a href="#" onclick="doBrowseLocalContent(this)" rsf:id="browse-link">Browse</a>
										</div>
										<a href="#" rsf:id="save-edit-link" onclick="doSaveEdit(this); return false;" title="Save Changes To This Page" alt="Save">
											<img src="../images/accept.gif" alt="Save changes" /></a>
										<a href="#" rsf:id="cancel-edit-link" onclick="doCancelEdit(this); return false;" title="Cancel Editing This Page" alt="Cancel">
											<img src="../images/cancel.gif" alt="Cancel changes" /></a>
									</div>
									<div class="item_label_box" rsf:id="page-name"></div>
									<div class="item_flags_box">
										<span rsf:id="page-hidden-flag" class="item-hidden-flag glyphicon glyphicon-eye-close" title="Page is hidden from normal users"></span>
										<span rsf:id="page-locked-flag" class="item-locked-flag glyphicon glyphicon-lock"  title="Page is disabled for normal users"></span>
									</div>
									<div class="item_control_box dropdown">
										<a data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
											<span class="glyphicon glyphicon-cog"></span>
										</a>
										<ul class="dropdown-menu dropdown-menu-right">
											<li>
												<a href="#" rsf:id="edit-link" class="item_control" title="Edit This Item" alt="Edit This Page" onclick="showEditPage(this); return false;">
													<span class="glyphicon glyphicon-pencil"></span>
													<span rsf:id="msg=menu_edit_page_title">Edit Page Title</span>
												</a>
											</li>
											<li>
												<a href="#" rsf:id="hide-link" class="item_control hide_link" title="Hide This Page From Normal Users" alt="hide this page" onclick="doHidePage(this); return false;">
													<span class="glyphicon glyphicon-eye-close"></span>
													<span rsf:id="msg=menu_hide_page">Make Page Invisible to Students</span>
												</a>
												<a href="#" rsf:id="show-link" class="item_control show_link" title="Show This Page To Normal Users" alt="show this page" onclick="doShowPage(this); return false;">
													<span class="glyphicon glyphicon-eye-open"></span>
													<span rsf:id="msg=menu_show_page">Make Page Visible to Students</span>
												</a>
											</li>
											<li>
												<a href="#" rsf:id="hide-link-off" class="item_control hide_link" style="display: none" title="Hide This Page From Normal Users" alt="hide this page" onclick="doHidePage(this); return false;">
													<span class="glyphicon glyphicon-eye-close"></span>
													<span rsf:id="msg=menu_hide_page">Make Page Invisible to Students</span>
												</a>
												<a href="#" rsf:id="show-link-off" class="item_control show_link" style="display: none" title="Show This Page To Normal Users" alt="show this page" onclick="doShowPage(this); return false;">
													<span class="glyphicon glyphicon-eye-open"></span>
													<span rsf:id="msg=menu_show_page">Make Page Visible to Students</span>
												</a>
											</li>
											<li>
												<a href="#" rsf:id="disable-link" class="item_control disable_link" title="Disable This Page For Normal Users" alt="disable this page" onclick="doDisablePage(this); return false;">
													<span class="glyphicon glyphicon-lock"></span>
													<span rsf:id="msg=menu_lock_page">Lock Access to this Page</span>
												</a>
												<a href="#" rsf:id="enable-link" class="item_control enable_link" title="Enable This Page For Normal Users" alt="enable this page" onclick="doEnablePage(this); return false;">
													<span class="glyphicon glyphicon-thumbs-up"></span>
													<span rsf:id="msg=menu_enable_page">Enable Access to this Page</span>
												</a>
											</li>
											<li>
												<a href="#" rsf:id="disable-link-off" class="item_control disable_link" style="display: none" title="Disable This Page For Normal Users" alt="disable this page" onclick="doDisablePage(this); return false;">
													<span class="glyphicon glyphicon-lock"></span>
													<span rsf:id="msg=menu_lock_page">Lock Access to this Page</span>
												</a>
												<a href="#" rsf:id="enable-link-off" class="item_control enable_link" style="display: none" title="Enable This Page For Normal Users" alt="enable this page" onclick="doEnablePage(this); return false;">
													<span class="glyphicon glyphicon-thumbs-up"></span>
													<span rsf:id="msg=menu_enable_page">Enable Access to this Page</span>
												</a>
											</li>
											<li>
												<a href="#" rsf:id="del-link" class="item_control del-link" title="Remove This Page" alt="remove this page" onclick="doRemovePage(this); return false;">
													<span class="glyphicon glyphicon-trash"></span>
													<span rsf:id="msg=menu_remove_page">Delete this Page</span>
												</a>
											</li>
										</ul>
									</div>
								</li>
							</ul>
							<div id="new-page-buffer" style="display: none;">Nothing at first</div>
						</div>
					</td></tr>
				</table>
				<input rsf:id="state-init" id="content:::state-init" type="hidden"/>
				<span id="del-message"><strong rsf:id="msg=del_message" class="hidden"/></span>
				<span id="exit-message"><strong rsf:id="msg=exit_message" class="hidden"/></span>
				<span id="reset-message"><strong rsf:id="msg=confirm_reset_message" class="hidden"/></span>
				<div class="alertMessageContainer">
					<div class="alert alert-warning" id="call-results">
						<span rsf:id="msg=warning">Warning: Hiding tools does not prevent access to their items through links. If you want them inaccessible to students, you must configure them directly in the tool.</span>
					</div>
				</div>
				<p class="act">
					<input accesskey ="s" class="active" rsf:id="save" value="Save" type="submit" onclick="SPNR.disableControlsAndSpin( this, null ); serialize('sort1');"/>
					<input accesskey ="x" rsf:id="revert" value="Cancel" type="submit" onclick="SPNR.disableControlsAndSpin( this, null );"/>
					<input accesskey ="r" rsf:id="reset" value="Reset" type="submit" onclick="SPNR.disableControlsAndSpin( this, null ); return checkReset();"/>
					<input accesskey ="a" rsf:id="sort_alpha" value="Sort" type="button" onclick="return sortByTitle();"/>
				</p>					
			</form>
		</div>
	</div>


<script type="text/javascript">
var fluidList;
var reorder=false;
//Called by Producer
function enableReorder() {
    reorder=true;
}
jQuery(document).ready(function () {
    var opts = {
        selectors: {
            movables: ".sortable_item"
        }
    };
    if (reorder == true) {
        fluidList = fluid.reorderList("ul#sort1", opts);
    }
});
</script>

<script type="text/javascript" rsf:id="jsreorder">
</script>
</body>
</html>
