<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="org.sakaiproject.section.api.facade.manager.Context"
        class="org.sakaiproject.component.section.facade.impl.standalone.ContextTestImpl"/>
    <bean id="org.sakaiproject.section.api.facade.manager.Authn"
        class="org.sakaiproject.component.section.facade.impl.standalone.AuthnTestImpl"/>

    <bean id="org.sakaiproject.section.api.facade.manager.Authz"
        class="org.sakaiproject.component.section.facade.impl.standalone.AuthzStandaloneImpl">
        <property name="sessionFactory"><ref bean="sectionsSessionFactory"/></property>
    </bean>
</beans>
