/* Global namespace */

@import "customization"; //it is copied from the user supplied file by maven

$namespace : "Mrphs-" !default;
$skin-name : "morpheus-default" !default; // This is used for bootstrap font behaviour.

$break-small-end: 	800px !default;
$break-medium-end: 	1030px !default;

$phone  :       "only screen and (max-width : #{$break-small-end})" !default;
$tablet :       "only screen and (max-width : #{$break-medium-end})" !default;
$desktop:       "only screen and (min-width : #{$break-medium-end + 1})" !default;
$nonPhone:      "only screen and (min-width : #{$break-small-end + 1})" !default;

// For the "More Sites" drawer, just use one column if there's not
// enough room to show two side-by-side.
$break-more-sites-single-column: 1200px !default;
$more-sites-single-column: "only screen and (max-width : #{$break-more-sites-single-column})" !default;

/* Typography*/

//Google family Fonts URL
$font-family-url: "//fonts.googleapis.com/css?family=Noto Sans:400,700" !default;

//Typography variables
$font-family: "Noto Sans", "Helvetica Neue", Arial, sans-serif !default;
$default-font-size: 14px !default;
$default-font-weight: 400 !default;										// 400 or 700 as you wish
$header-font-family: $font-family;
$header-font-weight: 700 !default;										// 400 or 700 as you wish

/* Color palette */
$background-color: 			 #FFFFFF !default;
$background-color-secondary: #444444 !default;

$primary-color:    			 #247fa6 !default;
$primary-color-highContrast: darken( $primary-color, 4% ) !default;	// for use of primary on non-white light backgrounds, such as greys
$primary-color-shadow:			 adjust-hue( $primary-color, 5 ) !default;	// To give primary a darker shadow
$secondary-color:  			 #F00 !default;
$alt-colour: 				 #d36f00 !default;

$text-color:				 #212121 !default;

$portal-background-color: $background-color !default;

$tool-background-color:		 $background-color !default;
$tool-menu-background-color:			 #EBEBEB !default;
$tool-menu-color: 			 #424242 !default;
$tool-tab-background-color: 			 #F8F8F8 !default;
$tool-border-color:			 #E0E0E0 !default;
$tool-tab-active-background-color: 			 $background-color !default;
$tool-tab-active-border-color: 	 $background-color !default;
$tool-menu-hover-color: $tool-background-color !default;
$tool-menu-hover-background-color: $primary-color !default;
$tool-menu-current-background-color: $background-color !default;
$tool-menu-current-color: $primary-color !default;
$tool-menu-current-border-color: $primary-color !default;
$tool-sub-menu-border-color: darken( $tool-menu-background-color, 10% ) !default;
$tool-sub-menu-background-color: darken( $tool-menu-background-color, 10% ) !default;
$tool-sub-menu-hover-background-color: $primary-color !default;
$tool-sub-menu-hover-color: #FFF !default;
$tool-sub-menu-current-color: $primary-color !default;
$tool-sub-menu-current-background-color: $background-color !default;
$tool-sub-menu-current-hover-color: $tool-menu-color !default;
$tool-sub-menu-current-hover-background-color: $background-color !default;

$tool-nav-link-color: #666 !default;

$main-content-background: $background-color !default;
$top-header-background: $background-color-secondary !default;
$sites-nav-background: $top-header-background !default;

$breadcrumbs-color:			 $text-color !default;
$breadcrumbs-tool-color:		 #185878 !default;
$breadcrumbs-hover-color:		 #0F4461 !default;

/* Link colors */
$link-color: $primary-color !default;
$link-active-color: $primary-color !default;
$link-hover-color: $primary-color !default;
$link-background-color: transparent !default;
$link-active-background-color: transparent !default;
$link-hover-background-color: transparent !default;

/* Linknav button colors */
$button-text-color:	 #777 !default;
$button-border-color: #C0C0C0 !default;
$button-background-color: #F0F0F0 !default;
$button-background-secondary-color: #FFF !default;
/* General button colors */
$button-color-text-color: #FFF !default;
$button-color-border-color: #4a8db3 !default;
$button-color-background-color: $primary-color !default;
$button-color-background-secondary-color: #276488 !default;
/* ///////////// */

$info-color:                $primary-color  !default;
$info-background-color:     lighten($primary-color, 45%) !default;
$ok-color:                  #3c763d !default;
$ok-background-color:        lighten($ok-color, 45%) !default;
$warn-background-color:     #F6ECB7 !default;
$warn-color:                darken($warn-background-color, 35%) !default;
$error-background-color:    #f2dede !default;
$error-color:               darken($error-background-color, 30%) !default;

$swapped-view-primary: 		 #bf360c !default;
$swapped-view-text-color:	 #414141 !default;
$swapped-view-sites-nav-background: $swapped-view-primary !default;

/* This is the gradient in the header of the page */
$header-gradient-a: #b6c3d4 !default;
$header-gradient-b: #d9cdcd !default;
$header-gradient-c: #c4ccd7 !default;
$header-gradient-d: #a6c2df !default;

/* topNav Main Menu */
$header-size : 50px !default;
$topNav-text-color:                         #fff !default; /* used for links and text in the topNav */
$topNav-text-alt-color:                     #ccc !default;

$sites-nav-menu-item-background:            #666 !default;
$sites-nav-menu-item-color:                 #fff !default;
$sites-nav-menu-item-color-hover:           $sites-nav-menu-item-color !default;
$sites-nav-menu-item-border-top:            1px solid transparent !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-border-right:          none !default;
$sites-nav-menu-item-border-bottom:         $sites-nav-menu-item-border-top !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-border-left:           none !default;
$sites-nav-menu-item-selected-background:   $primary-color !default;
$sites-nav-menu-item-selected-color:        #fff !default;
$sites-nav-menu-item-selected-color-hover:  $sites-nav-menu-item-selected-color !default;
$sites-nav-menu-item-selected-border-top:   $sites-nav-menu-item-border-top !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-selected-border-right: none !default;
$sites-nav-menu-item-selected-border-bottom:$sites-nav-menu-item-selected-border-top !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-selected-border-left:  none !default;
$sites-nav-submenu-background:              $sites-nav-menu-item-background !default;
$sites-nav-submenu-item-background:         $sites-nav-menu-item-background !default;
$sites-nav-submenu-item-background-hover:   $sites-nav-menu-item-background !default;
$sites-nav-submenu-item-color:              $sites-nav-menu-item-color !default;
$sites-nav-submenu-item-color-hover:        $sites-nav-submenu-item-color !default;
$sites-nav-submenu-item-border:             none !default;
$sites-nav-submenu-item-border-hover:       none !default;
$sites-nav-submenu-selected-background:     $sites-nav-menu-item-selected-background !default;
$sites-nav-submenu-item-selected-background:$sites-nav-menu-item-selected-background !default;
$sites-nav-submenu-item-selected-color:     $sites-nav-menu-item-selected-color !default;
$sites-nav-submenu-item-selected-border:    none !default;

/* Tool Menu */
$tool-menu-width: 7.5em !default;
$tool-menu-width-collapsed: $tool-menu-width / 2 !default;

/* Navigation Hierarchy */
$hierarchy-size: 3.5em !default;

/* Golden Ratio width for 16px font http://www.pearsonified.com/typography/ */
$measure: 960px !default;

/* Logo location */
$logo: 'images/logo.png' !default;
$logo-height: 30px !default;
$logo-width: 50px !default;

/* Tool icons */
$skin-with-icons: true !default;
$icon-size: 20px !default;
$tool-menu-icon-on-left: false !default;

/* Footer */
$footer-background: transparent !default;
$footer-color: $background-color-secondary !default;

@import url(#{$font-family-url});
