/* Global namespace */

$namespace : "Mrphs-";
$skin-name : "morpheus-default"; // This is used for bootstrap font behaviour.

$break-small-end: 	800px;
$break-medium-end: 	1030px;

$phone  :       "only screen and (max-width : #{ $break-small-end })";
$tablet :       "only screen and (max-width : #{ $break-medium-end })";
$desktop:       "only screen and (min-width : #{ $break-medium-end + 1 })";

// For the "More Sites" drawer, just use one column if there's not
// enough room to show two side-by-side.
$break-more-sites-single-column: 1200px;
$more-sites-single-column: "only screen and (max-width : #{ $break-more-sites-single-column })";

/* Typography*/

//Google family Fonts URL
$font-family-url: "//fonts.googleapis.com/css?family=Noto Sans:400,700" !default;

//Typography variables
$font-family: "Noto Sans", "Helvetica Neue", Arial, sans-serif !default;
$default-font-size: 14px !default;
$default-font-weight: 400 !default;										// 300, 400 or 700 as you wish
$header-font-family: $font-family;
$header-font-weight: 700 !default;										// 300, 400 or 700 as you wish

/* Color palette */
$background-color: 			 #FFFFFF !default;
$background-color-secondary: #444444 !default;

$tool-background-color:		 $background-color !default;
$toolMenuBGColor:			 #EBEBEB !default;
$toolMenuColor: 			 #424242 !default;
$toolTabBGColor: 			 #F8F8F8 !default;
$toolBorderColor:			 #E0E0E0 !default;

$primary-color:    			 #2a94c0 !default;
$secondary-color:  			 #F00 !default;
$alt-colour: 				 #d36f00 !default;

$text-color:				 #212121 !default;

/* Linknav button colors */
$button-text-color:	 #777 !default;
$button-border-color: #C0C0C0 !default;
$button-background-color: #F0F0F0 !default;
$button-background-secondary-color: #FFF !default;
/* General button colors */
$button-color-text-color: #FFF !default;
$button-color-border-color: #4a8db3 !default;
$button-color-background-color: $primary-color !default;
$button-color-background-secondary-color: #276488 !default;
/* ///////////// */

$okcolor: 					 #dff0d8 !default;
$errorcolor: 			 	 #f2dede !default;
$warncolor: 			 	 #fcf8e3 !default;

$swapped-view-primary: 		 #bf360c !default;
$swapped-view-text-color:	 #414141 !default;

/* This is the gradient in the header of the page */
$header-gradient-a: #b6c3d4 !default;
$header-gradient-b: #d9cdcd !default;
$header-gradient-c: #c4ccd7 !default;
$header-gradient-d: #a6c2df !default;

/* Main Menu */
$header-size : 3.8em !default;

/* Tool Menu */
$tool-menu-width: 7.5em !default;

/* Navigation Hierarchy */
$hierarchy-size: 3.5em;

/* Golden Ratio width for 16px font http://www.pearsonified.com/typography/ */
$measure: 960px !default;

/* Logo location */
$logo: 'images/logo.png' !default;
$logo-height: 30px !default;
$logo-width: 50px !default;

/* Tool icons */
$skin-with-icons: true !default;
$icon-size: 20px !default;

@import "customization"; //it is created on-the-fly by maven.

@import url(#{$font-family-url});
