@import "defaults";

@import "base/extendables";
@import "base/defaults";
//@import "base/icons";

a[href]:after {
	content: none !important;
}

#toolMenuWrap, 
#mastLogin, 
.#{$namespace}sitesNav__menuitem--myworkspace,
.#{$namespace}headerLogo,
.#{$namespace}toolTitleNav__button_container,
.#{$namespace}toolTitleNav__button_container *,
##{$namespace}footerApp__chat{
	display: none !important;
}

.#{$namespace}topHeader{
	border-bottom:1px solid $background-color-secondary;
}

