@import "defaults";

@import "base/bootstrap-defaults";
@import "base/extendables";
@import "base/defaults";
@import "base/responsive";
@import "base/icons";


@import "modules/main";
@import "modules/navigation/base";
@import "modules/navigation/skipnav";
@import "modules/toolmenu";
@import "modules/tool/base";
@import "modules/tool/menu";
@import "modules/tool/table";

@import "modules/tool/calendar/calendar";
@import "modules/tool/chat/chat";
@import "modules/tool/lessons/lessons";
@import "modules/tool/sitemanage/sitemanage";
@import "modules/tool/announcements/announcements";

@import "base/rtl";

@import "modules/access/base";
@import "modules/more-sites/base";
@import "modules/timeout-alert/base";
@import "modules/swapped-view/base";
@import "modules/cookies/base";
