<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
  "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

  <!-- Each Transactionmanager must have its own DataSource -->
  <bean id="sakai-sam.javax.sql.DataSource"
    parent="javax.sql.DataSource">

    <!-- The default auto-commit state of connections created by this pool. -->
    <property name="defaultAutoCommit">
      <!-- This is a hack to get SAMigo working properly -->
      <value>true</value>
    </property>

  </bean>

  <!-- Use the Sakai session factory, pre-configured, instead of one local to Samigo -->
  <bean id="sakai-sam.sessionFactory"
    class="org.springframework.orm.hibernate.LocalSessionFactoryBean"
    parent="org.sakaiproject.springframework.orm.hibernate.SessionFactoryBase">

    <property name="dataSource">
      <ref local="sakai-sam.javax.sql.DataSource" />
    </property>

    <property name="mappingResources">
      <list>
        <value>
          /org/sakaiproject/tool/assessment/data/dao/assessment/AssessmentBase.hbm.xml
        </value>
        <value>
          /org/sakaiproject/tool/assessment/data/dao/assessment/ItemData.hbm.xml
        </value>
        <value>
          /org/sakaiproject/tool/assessment/data/dao/shared/TypeData.hbm.xml
        </value>
        <value>
          /org/sakaiproject/tool/assessment/data/dao/questionpool/QuestionPoolData.hbm.xml
        </value>
        <value>
          /org/sakaiproject/tool/assessment/data/dao/assessment/PublishedAssessment.hbm.xml
        </value>
        <value>
          /org/sakaiproject/tool/assessment/data/dao/assessment/PublishedItemData.hbm.xml
        </value>
        <value>
          /org/sakaiproject/tool/assessment/data/dao/grading/GradingData.hbm.xml
        </value>
        <value>
          /org/sakaiproject/tool/assessment/data/dao/grading/MediaData.hbm.xml
        </value>
        <value>
          /org/sakaiproject/tool/assessment/data/dao/authz/AuthorizationData.hbm.xml
        </value>
      </list>
    </property>

  </bean>

  <bean id="sakai-sam.transactionManager"
    class="org.springframework.orm.hibernate.HibernateTransactionManager">
    <property name="sessionFactory">
      <ref local="sakai-sam.sessionFactory" />
    </property>
  </bean>

</beans>



