<!-- JavaScript from the top of includeStandardHead.vm -->

## Make sure we at least have a jQuery 1.9 or higher, log messages
## This one won't trigger unless the tool markup messed up our version
${includeLatestJQuery}

<script type="text/javascript" src="${pageScriptPath}/trimpath-template-latest.js$!{portalCDNQuery}"></script>
<script type="text/javascript" src="${pageScriptPath}jquery/bgiframe/jquery.bgiframe.min.js$!{portalCDNQuery}"></script>
<script type="text/javascript" src="${pageScriptPath}jquery/cluetip/1.2.10/jquery.cluetip.min.js$!{portalCDNQuery}"></script>
<script type="text/javascript" src="$!{portalCDNPath}/portal/scripts/neoscripts.js$!{portalCDNQuery}"></script>
<script type="text/javascript" src="${pageScriptPath}jquery/notify/1.2.2/jquery.pnotify.min.js$!{portalCDNQuery}"></script>
<script type="text/javascript" src="${pageScriptPath}jquery/qtip/jquery.qtip-latest.min.js$!{portalCDNQuery}"></script>
<script type="text/javascript" src="${pageScriptPath}jquery/qtip/tutorial.js$!{portalCDNQuery}"></script>
#if ( $tutorial && $loggedIn )
	<script type="text/javascript">$(document).ready(function(){startTutorial({'showTutorialLocationOnHide': 'true'});});</script>
#end
#if ($portal_use_global_alert_message)
    <script type="text/javascript" language="JavaScript" src="/globalalerts/js/gam.js"></script>
#end

#if ( $neoChat && $loggedIn )
<script type="text/javascript" src="$!{portalCDNPath}/portal/scripts/jquery.idle-timer.js$!{portalCDNQuery}"></script>
<script type="text/javascript" src="$!{portalCDNPath}/portal/scripts/chat.js$!{portalCDNQuery}"></script>
#if ( $neoChatVideo )
<script type="text/javascript">

    portal.chat.video.enabled = true;
    portal.chat.video.timeout = ${portalVideoChatTimeout};
    portal.chat.video.messages = {
        "pc_video_status_setup": "${rloader.pc_video_status_setup}",
        "pc_video_status_user_hung": "${rloader.pc_video_status_user_hung}",
        "pc_video_status_hangup": "${rloader.pc_video_status_hangup}",
        "pc_video_status_user_refused": "${rloader.pc_video_status_user_refused}",
        "pc_video_status_incoming_call": "${rloader.pc_video_status_incoming_call}",
        "pc_video_status_call_timeout": "${rloader.pc_video_status_call_timeout}",
        "pc_video_status_waiting_peer": "${rloader.pc_video_status_waiting_peer}",
        "pc_video_status_call_accepted": "${rloader.pc_video_status_call_accepted}",
        "pc_video_status_call_not_accepted": "${rloader.pc_video_status_call_not_accepted}",
        "pc_video_status_call_in_progress": "${rloader.pc_video_status_call_in_progress}",
        "pc_video_status_answer_timeout": "${rloader.pc_video_status_answer_timeout}",
        "pc_video_status_connecting": "${rloader.pc_video_status_connecting}",
        "pc_video_status_connection_established": "${rloader.pc_video_status_connection_established}",
        "pc_video_status_call_failed": "${rloader.pc_video_status_call_failed}",
        "pc_video_status_you_ignored": "${rloader.pc_video_status_you_ignored}",
        "pc_video_status_connection_established": "${rloader.pc_video_status_connection_established}"
    };
</script>
<script type="text/javascript" src="/portal/scripts/webrtc-adapter.js"></script>
<script type="text/javascript" src="/portal/scripts/videocall.js"></script>
#end
#end
#if ( ${styleable} )
    <script type="text/javascript" 
    	src="$!{portalCDNPath}/sakai-preferable-tool/js/styleable.js$!{portalCDNQuery}" >
    </script>
    <script type="text/javascript">
    $(document).ready(function() {
            insertStyleAbleStyles();
    }
    </script>
    #if ( ${styleableJS} )
	<script type="text/javascript">
	${styleableJS} 
	</script>
    #end
#end
<script type="text/javascript">
document.write('<!-- jquery version '+jQuery.fn.jquery+' -->\n');
</script>

