#if ( ${googleAnalyticsId} ) 
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '${googleAnalyticsId}']);
  _gaq.push(['_setDomainName', '${googleAnalyticsDomain}']);
#if ( ${googleAnalyticsDetail} )
  if ( window.portal ) {
    _gaq.push(['_setCustomVar', 1, 'eid', portal.user.eid, 1]);
    _gaq.push(['_setCustomVar', 2, 'siteId', portal.siteId, 3]);
  }
#end
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
#end
