<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" language="JavaScript" src="${pageScriptPath}headscripts.js"></script>
	<script type="text/javascript" language="JavaScript">
		portalWindowRefresh('$redirectUrl');
	</script>
</head>
<body>
	<!-- Only seen by people without Javascript, but this won't break out of frames. -->
	<a href="$redirectUrl">$redirectUrl</a>
	</body>
</html>