#parse("/vm/neoskin/includeStandardHead.vm")
<body class="portalBody">
  <noscript><div id="portal_js_warn">${rloader.sit_noscript_message}</div></noscript>
#if (${portal_add_mobile_link})<div  id="mobile-portal-link"><a href="/portal/pda/?force.login=yes">${rloader.sit_switch_mobile}</a></div>#end
#if ( $pageTop )
<script type="text/javascript">
	var sakaiPortalWindow = "";
	$(document).ready(function() {
			setupSkipNav();
	});
	</script>
#end
#if (!${loginTopLogin})
#if ( ${portal_allow_minimize_tools} || ${portal_allow_minimize_navigation} ) 
<script type="text/javascript">
	$(document).ready(function() {

		var toggleClass=""
		#if (${portal_allow_minimize_tools})
			toggleClass="toggleTools"
		#end
		#if (${portal_allow_minimize_navigation})	
			toggleClass= toggleClass + "toggleNav"
		#end
				setupToolToggle(toggleClass);
	});
</script>
#end
#end
<!-- site.vm -->

<!-- start includeSiteNav -->
<div id="portalOuterContainer">
		<div id="portalContainer" #if (${sakai_nav_minimized} && ${portal_allow_minimize_navigation}) class="sakaiMinimizeSiteNavigation" #end >
		#if (${tabsSites} )
		<div id="headerMax">
			<div id="skipNav">
			#if ($siteNavHasAccessibilityURL)
				<a href="$siteNavAccessibilityURL" class="skip" title="${rloader.sit_accessibility}" accesskey="0">
					${rloader.sit_accessibility}
				</a>
			#end

				<a href="#tocontent"  class="skip internalSkip" title="${rloader.sit_jumpcontent}" accesskey="c">
				${rloader.sit_jumpcontent}
				</a>
				<a href="#totoolmenu"  class="skip internalSkip" title="${rloader.sit_jumptools}" accesskey="l">
					${rloader.sit_jumptools}
				</a>
				<a href="#sitetabs" class="skip internalSkip" title="${rloader.sit_jumpworksite}" accesskey="w">
					${rloader.sit_jumpworksite}
				</a>
			</div>

			<div id="siteNavWrapper" class="${logoSiteClass}">
				<div id="mastHead" role="banner">
					<div id="mastLogo">
						<img title="Logo" alt="Logo" src="${logoSkinRepo}/${logoSkin}/images/logo_inst.gif" />
					</div>
					<div id="mastBanner">
						<img title="Banner" alt="Banner" src="${logoSkinRepo}/${logoSkin}/images/banner_inst.gif" />
					</div>
				</div>
#parse("/vm/neoskin/includeTabs.vm")
	  </div>
			

		</div>
		#else

		<div id="headerMin">
			<div id="skipNav">
			#if ($siteNavHasAccessibilityURL)
				<a href="$siteNavAccessibilityURL" class="skip" title="${rloader.sit_accessibility}" accesskey="0">
					${rloader.sit_accessibility}
				</a>
			#end

				<a href="#tocontent"  class="skip internalSkip" title="${rloader.sit_jumpcontent}" accesskey="c">
				${rloader.sit_jumpcontent}
				</a>
				<a href="#totoolmenu"  class="skip internalSkip" title="${rloader.sit_jumptools}" accesskey="l">
					${rloader.sit_jumptools}
				</a>
			</div>
			
			<div id="siteNavWrapper" class="${logoSiteClass}">
				<div id="mastHead" role="banner">
					<div id="mastLogo">
						<img title="Logo" alt="Logo" src="${logoSkinRepo}/${logoSkin}/images/logo_inst.gif" />
					</div>
					<div id="mastBanner">
						<img title="Banner" alt="Banner" src="${logoSkinRepo}/${logoSkin}/images/banner_inst.gif" />
					</div>
					<!-- login component -->
					<div id="mastLogin">
					#if (!${loginTopLogin})
						<div id="loginLinks">
					#if (${loginHasImage1}) 
							<a href="${loginLogInOutUrl}" title="${loginMessage}" id="loginLink1" ><img src="${loginImage1}" alt="${loginMessage}"/></a>
					#else
							<a href="${loginLogInOutUrl}" title="${loginMessage}" id="loginLink1" >${loginMessage}</a>
					#end
					#if (${loginHasLogInOutUrl2})
					#if (${loginHasImage2}) 
							<a href="${loginLogInOutUrl2}" title="${loginMessage2}" id="loginLink2" ><img src="${loginImage2}" alt="${loginMessage2}"/></a>
					#else
							<a href="${loginLogInOutUrl2}" title="${loginMessage2}" id="loginLink2" >${loginMessage2}</a>
					#end
					#end
						</div>
					#else
						<form id="loginForm" method="post" action="${loginPortalPath}/xlogin" enctype="application/x-www-form-urlencoded">
							<label for="eid">${loginEidWording}</label>
							<input name="eid" id="eid" type="text" />
							<label for="pw">${loginPwWording}</label>
							<input name="pw" type="password" id="pw" />
							<input name="submit" type="submit" id="submit" value="${loginWording}" />
						</form>
						<script type="text/javascript" src="${pageScriptPath}caps-lock-checker.js$!{portalCDNQuery}"></script>
					#end
					</div>
					<!-- end login component -->
				</div>
			</div>
			<div class="divColor" id="tabBottom">
				<br />
			</div>
		</div>

		#end

#parse("/vm/neoskin/includePageWithNav.vm")

#parse("/vm/neoskin/includeAnalytics.vm")

	</div>
</div>
<!-- end includeSiteNav -->
<!-- end site.vm -->
	</body>
</html>
