<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<title>Polls: Vote!</title>
<link rsf:id="scr=portal-matter" href="https://vula.uct.ac.za/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
<link rsf:id="scr=portal-matter" href="https://vula.uct.ac.za/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all"/>
<script rsf:id="scr=portal-matter" type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
</head>

<body rsf:id="scr=sakai-body">
<div class="portletBody container-fluid">
  <div rsf:id="message-for:*">
	<span>Message for user here</span>
  </div>

  <div class="nav-holder">
    <ul class="navIntraTool actionToolBar" rsf:id="navintra:">
      <li class="firstToolBarItem">
        <span>
          <a href="modify_email.html" rsf:id="actions-add">New Template</a>
        </span>
      </li>
    </ul>
  </div>

<div class="table-responsive clear">
  <table class="table table-striped" rsf:id="table:">
    <tbody>
      <tr>
        <th rsf:id="msg=mainview.key">Template key</th>
        <th rsf:id="msg=mainview.locale">Locale</th>
        <th rsf:id="msg=mainview.edit">edit</th>
        <!-- <th rsf:id="msg=mainview.delete">delete</th> -->
      </tr>
      <tr rsf:id="template-row:">
        <td rsf:id="template-key">Template key</td>
        <td rsf:id="template-locale">Locale</td>
        <td><a href="edit.html" rsf:id="template-edit">edit</a></td>
        <td rsf:id="template-delete">delete</td>
      </tr>
    </tbody>
  </table>
</div>

</div>
</body>
</html>
