//////////////////////////////
// VARIABLES: For Base styles 
//////////////////////////////

/// Search 
$search__border-radius: 1em !default;
$search__background-color: #fff !default;
$search__padding: 0 0.75em !default;
$search__border-width: false !default; 
$search__border-style: solid !default;
$search__border-color: #ccc !default;
//// Search Input
$search__input__border-width: false !default; 
$search__input__border-style: solid !default;
$search__input__border-color: #ccc !default;
$search__input__border-radius: 0 !default;
//// Search Input Image
$search__image__background-color: $search__background-color !default;
$search__image__width: 0.9375em !default;
$search__image__top: 0.2em !default;
$search__image__right: 0.6em !default;
$search__image__padding: 0.2em 0.2em !default;