<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>sakai-content-tools</display-name>
    <description>Sakai content tools</description>

	<!-- Sakai request filter -->
    <filter>
        <filter-name>sakai.request</filter-name>
        <filter-class>org.sakaiproject.util.RequestFilter</filter-class>
    </filter>

   <filter-mapping>
       <filter-name>sakai.request</filter-name>
       <servlet-name>sakai.filepicker</servlet-name>
       <dispatcher>REQUEST</dispatcher>
       <dispatcher>FORWARD</dispatcher>
       <dispatcher>INCLUDE</dispatcher>
   </filter-mapping>

    <filter-mapping>
        <filter-name>sakai.request</filter-name>
        <servlet-name>sakai.resources</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>sakai.request</filter-name>
        <servlet-name>sakai.dropbox</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

   <filter-mapping>
        <filter-name>sakai.request</filter-name>
        <servlet-name>sakai.resource.type.helper</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

	<!-- the vm handling servlet : used direct by name, not by URL path -->
	<servlet>
		<servlet-name>
		   sakai.vm
		</servlet-name>
		<servlet-class>
			org.sakaiproject.vm.VelocityServlet
		</servlet-class>
		<init-param>
			<param-name> properties </param-name>
			<param-value> velocity.properties </param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

   <servlet>
       <servlet-name>
          sakai.filepicker
       </servlet-name>
       <servlet-class>
           org.sakaiproject.content.tool.FilePickerAction
       </servlet-class>
       <init-param>
           <param-name>template</param-name>
           <param-value>helper/chef_attachment</param-value>
       </init-param>
       <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>
           sakai.resources
        </servlet-name>
        <servlet-class>
            org.sakaiproject.content.tool.ResourcesAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>content/chef_resources</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>

    <servlet>
        <servlet-name>
           sakai.dropbox
        </servlet-name>
        <servlet-class>
            org.sakaiproject.content.tool.ResourcesAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>content/chef_resources</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>

   <servlet>
       <servlet-name>
          sakai.resource.type.helper
       </servlet-name>
       <servlet-class>
           org.sakaiproject.content.tool.ResourcesHelperAction
       </servlet-class>
       <load-on-startup>1</load-on-startup>
    </servlet>

    <listener>
        <listener-class>org.sakaiproject.util.ToolListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.sakaiproject.util.SakaiContextLoaderListener</listener-class>
    </listener>
	<!-- Convert template for metadata into actual template files -->
	<context-param>
		<param-name>meta_display_string</param-name>
		<param-value>vm/metadata/meta_display_string.vm</param-value>
	</context-param>
	<context-param>
		<param-name>meta_display_group</param-name>
		<param-value>vm/metadata/meta_display_group.vm</param-value>
	</context-param>
	<context-param>
		<param-name>meta_display_user</param-name>
		<param-value>vm/metadata/meta_display_user.vm</param-value>
	</context-param>
	<context-param>
		<param-name>meta_display_list</param-name>
		<param-value>vm/metadata/meta_display_list.vm</param-value>
	</context-param>
	<context-param>
		<param-name>meta_display_duration</param-name>
		<param-value>vm/metadata/meta_display_duration.vm</param-value>
	</context-param>
	<context-param>
		<param-name>meta_display_boolean</param-name>
		<param-value>vm/metadata/meta_display_boolean.vm</param-value>
	</context-param>
	<context-param>
		<param-name>meta_display_number</param-name>
		<param-value>vm/metadata/meta_display_number.vm</param-value>
	</context-param>
	<context-param>
		<param-name>meta_display_date</param-name>
		<param-value>vm/metadata/meta_display_date.vm</param-value>
	</context-param>

	<context-param>
		<param-name>meta_edit_enum</param-name>
		<param-value>vm/metadata/meta_edit_enum.vm</param-value>
	</context-param>
	<context-param>
		<param-name>meta_edit_group</param-name>
		<param-value>vm/metadata/meta_edit_group.vm</param-value>
	</context-param>
	<context-param>
		<param-name>meta_edit_user</param-name>
		<param-value>vm/metadata/meta_edit_user.vm</param-value>
	</context-param>
	<context-param>
		<param-name>meta_edit_list</param-name>
		<param-value>vm/metadata/meta_edit_list.vm</param-value>
	</context-param>
	<context-param>
		<param-name>meta_edit_string</param-name>
		<param-value>vm/metadata/meta_edit_string.vm</param-value>
	</context-param>
	<context-param>
		<param-name>meta_edit_duration</param-name>
		<param-value>vm/metadata/meta_edit_duration.vm</param-value>
	</context-param>
	<context-param>
		<param-name>meta_edit_boolean</param-name>
		<param-value>vm/metadata/meta_edit_boolean.vm</param-value>
	</context-param>
	<context-param>
		<param-name>meta_edit_number</param-name>
		<param-value>vm/metadata/meta_edit_number.vm</param-value>
	</context-param>
	<context-param>
		<param-name>meta_edit_date</param-name>
		<param-value>vm/metadata/meta_edit_date.vm</param-value>
	</context-param>
</web-app>
