/* Profile2 styles */

#pageWrapper { 
	width: 750px;
	position: relative;
	left: 5px;
	top: 5px;
	min-height: 400px; /*iframe will be tiny if there is no content in their profile */
	margin-bottom: 100px;
}

#leftPanel {
	position:absolute;
	top: 0;
	left:0;
	width:200px;
}

#mainPanel {
	position: relative;
	top: 0;
	left: 200px;
	width: 500px;
	padding-left: 20px;
}

#rightPanel {
	position:absolute;
	width: 50px;
	left: 700px;
	top: 0;
}

div#footer {
	width: 750px;
	clear: both;
	position: relative;
}


#fullWidth {
	float:left;
	margin-left: 5px;
	margin-right: 165px;
	padding: 8px;
}

#leftPanel, #rightPanel, #mainPanel, #fullWidth { 
	/*padding-bottom: 32767px;
	margin-bottom: -32767px;*/

}



#myPhoto {
	max-width: 200px;
	position: relative;	
	/* centre the image inside this div */
	text-align:center;
    margin-top:0;
    margin-bottom:0;
    padding:0;
    /* alternatively, 
    display:block;
   	margin:auto;
   	*/
    /* end of centreing the image */
}

#myPhoto img {
	max-width: 200px;
	width: expression(Math.min(parseInt(this.offsetWidth), 200 ) + "px"); /* ie6 max-width hack */
	background-color: transparent;
	text-align:center;
}




.editImageButton {
	position:absolute;
	right:0;
	top:0;
	/*height:20px;*/
	background-color: #ffffff;
	text-decoration: none;
	font-size: x-small;
	padding-left: 24px;
	padding-bottom: 4px;
	padding-top: 4px;
	padding-right: 2px;
	margin-top: 0;
	margin-right: 0;
	background-repeat: no-repeat;
	background-position: 4px center;
	background-image: url("/library/image/silk/picture_edit.png");
	border-top: thin solid #09c;
	border-right: thin solid #09c;
	border-bottom: thin solid #09c;
	border-left: thin solid #09c;
}

.editImageButton:hover {
	background-color: #ffff77;
}


.editButton {
	float:right;
	clear: none;
	display:block;
	text-decoration: none;
	font-size: x-small;
	padding-left: 24px;
	padding-bottom: 4px;
	padding-top: 4px; 
	padding-right: 2px;
	margin-top: 0;
	margin-right: 10px;
	background-repeat: no-repeat;
	background-position: 4px center;
	background-image: url("/library/image/silk/pencil.png");
	border-left: thin solid #09c;
	border-right: thin solid #09c;
	border-bottom: thin solid #09c;
}

.editButton:hover {
	background-color: #ffff77;
}




.unreadMessagesCount {
	padding-left: 4px;
	font-weight: bold;
}




/* profile heading styles */
#profileHeading {
	margin-left: -10px;
}

#profileHeadingName {
	font-size: 140%;
	font-weight: bold;
}




/* generic styles */
.tiny {
	font-size: 70%;
}

.small {
	font-size: 90%;
}

.right {
	float:right;
}
.instruction {
	color: #5D5D5D;
}
.clear {
	clear:both;
}
h2 {
	margin-top: 0;
}


/* sideLink styles */
#sideLink ul {
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
	list-style-type:none !important;
}

#sideLink li {
	border-bottom-style: solid;
	border-bottom-color: #09c;
	border-bottom-width: thin;
	padding-top: 2px;
	margin-left: -40px;
	padding-left: 5px;
	list-style-type: none !important;
}

#sideLink li a {
	text-decoration: none !important;
	display:block; /* makes whole li clickable */
}

#sideLink li:hover {
	background-color: #D1ECF6;
}

#sideLink li#selected {
	background-color: #D1ECF6;
}
  
  
  
  
  
/* sideBox styles */
.sideBox {
	margin-top: 4px;
	border-top: 1px solid #09c;
	border-right: 1px solid #d0d0df;
	
}

.sideBoxHeading {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	display:block;
	font-weight: bold;
	background-color: #B8D5F8;
}
	
.sideBoxContent {
	display:block;	
	margin-bottom: 4px;
}

.sideBoxLabels {
	display: block;
	position: relative;
	/*border-bottom: thin solid #d0d0df;*/
	height: 1.0em;
	padding-top: 2px;
	margin-bottom: 2px;
}

.sideBoxItemCount, .sideBoxMoreLink  {
	font-size: 70%;
	position: absolute;
	width: 50%;
}

.sideBoxItemCount {
   	left: 0;
   	padding-left: 2px;
}

.sideBoxMoreLink {
   right: 0;
   text-align: right; /* depends on element width */
   padding-right: 2px;
}





/* mainSection styles */
.mainSection {
	padding-bottom: 10px;
	display: block;
}

.mainSectionHeading {
	display:block;
	font-weight: bold;
	border-bottom: thin solid #09c;
	margin-bottom: 0;
	margin-top: 8px;
	padding-bottom: 0;
	width: 100%;
}

.mainSectionContent {
	padding-top: 5px;
	padding-right: 80px; /* keep it in a block and out of the edit button's way */
}

.mainSectionContentForm {
}



/* profile and preferences information sections */
.profileContent, preferencesContent{
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 90%;
	border: none;
}

.preferencesContent {
	margin-top: 6px;
	margin-bottom: 12px;
}

.profileContent .label,
.preferencesContent .label {
	width: 120px;
	float: left;
	color: #5D5D5D;
	/*color: #444444;*/
	vertical-align: top;
	font-weight: normal;
}

.preferencesContent .label {
	width: 170px;
}

.profileContent .content,
.preferencesContent .content {
	padding-left: 2px;
	/*padding-right: 40px;*/
}

.preferencesContent .item  {
	padding-left: 4px;
	padding-right: 4px;
	text-align: center;
	font-size: 80%;
}

.profileContent .toolTip,
.preferencesContent .toolTip {
	padding-left: 8px;
	vertical-align: top;
	/*padding-right: 40px;*/
	
}


.profileForm, .statusForm {
	background-color: #e9edff;
	border: 1px solid #d0d0df;
}

.profileForm {
	margin-bottom: 12px;
}

.statusForm {
	padding: 4px;
	margin-bottom: 4px;
}

.profileFormButtons {
	margin-top: 10px;
}

.modalWindowButtons {
	margin-top: 20px;
}

.pageFormButtons {
	margin-top: 10px;
}

.profileFormButtons,
.modalWindowButtons {
	text-align:center;
}

.profileFormButtons input,
.modalWindowButtons input {
	margin-left: 6px;
	margin-right: 6px;
	
	/*
	background-color:#348DD3;
	border-color:#A3C8E9 #4379C0 #4379C0 #A3C8E9;
	border-style:solid;
	border-width:1px;
	color:#FFFFFF;
	*/
}

.profileFormButtons input[type="submit"],
.modalWindowButtons input[type="submit"] {
	color: rgb(34, 119, 221);
}
	
.grayed {
	background-color:#EEEEEE;
	border-color:#E5E5E5 #AAAAAA #AAAAAA #E5E5E5;
	border-style:solid;
	border-width:1px;
	color:#666666;
}
	



.disabled {
	color: #5D5D5D !important;
}


.statusForm {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.statusField {
	color: #5D5D5D;
}
	

.formInputField {
	padding-left: 2px;
	border: 1px solid #AAAAAA;
	margin: .2em;
}

.formInputField:focus {
	border-color: black;
	background: #ffc;
}

.formInputField.invalid {
    border: 2px solid red;
    color: red;
}

.formInputField.valid {
    /*color: green;*/
}

.feedbackLabel {
	display:block;
    font-weight: bold;
}

.formSectionHeading {
	font-weight: bold;
	padding-left: 0;
	padding-top: 2px;
}

.formSectionText {
	font-weight: normal;
	font-size: 0.9em;
	padding-left: 2px;
	margin-top: 4px;
	font-style: italic;	
}


/* Style for wicket's feedback message panel */
.alertMessage ul {
	list-style-type: none !important;
	margin-left: -40px;
	margin-bottom: 0px;
	margin-top: 0px;
}


/* friends feed styles */
#friendsFeed {
	display: block;
	border: none;
	margin: auto;
	padding:auto;
}
	
.friendsFeedItem {
	vertical-align: top;
	width: 55px;
	max-width: 55px;
	overflow: hidden;
	margin: 1px;
	text-align: center;
}
	
.friendsFeedPhoto {
	max-width: 55px;
	width: expression(Math.min(parseInt(this.offsetWidth), 55 ) + "px"); /* ie6 max-width hack */
	/* centre the image inside this cell */
	display:block;
   	margin:auto;
   	/* end centreing */
   	cursor: pointer;
}


.friendsFeedCaption {
	margin-top: 0;
	font-size: 60%;
	overflow: hidden;
	color: #3355BB;
	cursor: pointer;
	/*border: 1px solid green;*/
}

.friendsFeedItemCaption:hover {
	color: #33f;
}


/* friends list styles */
.friendsList {
	/*border: 1px solid red;*/
	margin-bottom: 12px;
	border-left: 1px solid #d0d0df;
	border-right: 1px solid #d0d0df;
	border-top: 1px solid #d0d0df;
}

.friendsListItem {
	display:block;
	border-bottom: 1px solid #d0d0df;
	width: 500px;
	height: 120px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}


.friendsListItem:hover {
	/*background-color: #ffc;*/
	/*background-color: #FFFFE6;*/
	/*background-color: #fafdff; */
	background-color: #FFFFE6;
}


.friendsListPhoto {
	float:left;
	max-width: 100px;
	width: expression(Math.min(parseInt(this.offsetWidth), 100 ) + "px"); /* ie6 max-width hack */
	border: 1px solid #666666;
	padding: 2px;
}


.friendsListInfo {
	margin-left: 5px;
	float:left;
	/*border:1px solid blue;*/
	vertical-align: top;
}


.friendsListInfoName {
	display: inline;
	font-weight: bold;
}


.friendsListInfoStatus {
	display:inline;
	font-weight: normal;
	font-size: 90%;
}

.friendsListInfoStatusDate {
	display:inline;
	color: #5D5D5D;
	font-size: 90%;
}



/* search result styles */
.searchResultActions {
	width: 120px;
	float:right;
	/*border:1px solid yellow;*/
	font-size: 90%;
	padding: 0;
}

.searchResultActionIcon {
	float:right;
	margin-left: 2px;
}

.searchResultItems ul {
	margin-bottom: 0;
	margin-top: 0;
	margin-left: 0;
	list-style-type:none !important;
}

.searchResultItems li {
	border-bottom-style: solid;
	border-bottom-color: #09c;
	border-bottom-width: thin;
	padding-top: 2px;
	margin-left: -40px;
	padding-left: 5px;
	list-style-type: none !important;
	vertical-align: top;
}

.searchResultItems li a {
	text-decoration: none !important;
	display:block; /* makes whole li clickable */
}

.searchResultItems li:hover {
	background-color: #D1ECF6;
}

.searchResultItems li#selected {
	background-color: #D1ECF6;
}







.iconAdd, .iconRemove {
	width:18px;
	height:18px;
	background-repeat: no-repeat;
	background-position: 4px center;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

.iconAdd {
	background-image: url("/library/image/silk/user_add.png");
}

.iconRemove {
	background-image: url("/library/image/silk/user_delete.png");
}


.connectionStatus {
	color: #5D5D5D;
	font-size: 90%;
}

/* fix this so the image is in the style, NOT in wicket */
.rssLink {
	margin: 0;
	padding: 0;
	/*float: right;*/
	display: inline;
	/*background: url(/library/image/feed.png) center right no-repeat;*/
}

.rssLink img {
	vertical-align: middle;
}


/* page navigation links */
.profile_pageLinks a:link,
.profile_pageLinks a:visited {
    background-position: center left;
    background-repeat: no-repeat;
    padding-left: 18px;
}

.profileIcon {
	background-image: url(/library/image/silk/vcard.png);
}
.friendsIcon {
	background-image: url(/library/image/silk/group.png);
}
.requestsIcon {
	background-image: url(/library/image/silk/user_add.png);
}
.searchIcon {
	background-image: url(/library/image/silk/magnifier.png);
}
.privacyIcon {
	background-image: url(/library/image/silk/lock.png);
}
.preferencesIcon {
	background-image: url(/library/image/silk/cog.png);
}





/* overrides cluetip's text color */
#cluetip-inner {
	color: #5D5D5D;
}


/* heading for pages and items */
.itemHeader {
	background-position: center left;
    background-repeat: no-repeat;
	font-size: 1.1em;
	font-weight: bold;
	border-bottom: thin solid #5D5D5D;
	margin-bottom: 8px;
	padding-bottom: 3px;
	padding-left: 19px;
	width: 500px;
}



.resultsHeader {
	font-weight: normal;
}


/* modal window styles (also modalWindowButtons above) */
.modalWindowWrapper {
	display: block;
	position: relative;
	left: 5px;
	top: 5px;
	width: 450px; /* must be smaller than the actual modal window */
	height: 120px;
}
.modalWindowImage {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100px;
	width: expression(Math.min(parseInt(this.offsetWidth), 100 ) + "px"); /* ie6 max-width hack */
	border: 1px solid #666666;
	padding: 2px;
}



.modalWindowMain {
	position: relative;
	top: 0;
	left: 120px;
	width: 300px;
}

.modalWindowText {
	margin-top: 5px;
}

/* style the indicator for form submits that use an IndicatingAjaxButton as the button */
span.wicket-ajax-indicator img { 
	padding-left: 2px; 
	display: inline; 
	white-space: nowrap; 
	vertical-align: middle;
}





		