/* Profile2 styles */


#leftPanel {
	float: left;
	width: 200px;
}

#mainPanel {
	margin-left:215px;
	margin-right:215px;
	padding:8px;
	width: 500px;
}

#rightPanel {
	float:right;
	width:200px;
	padding:8px;
}
#fullWidth {
	float:left;
	margin-left: 5px;
	margin-right: 215px;
	padding: 8px;
}

#leftPanel, #rightPanel, #mainPanel, #fullWidth { 
	padding-bottom: 32767px;
	margin-bottom: -32767px;
}
#pageWrapper { 
	margin-top: 5px;
	overflow:hidden;
}

#myPhoto {
	max-width: 200px;
	position: relative;	
	/* centre the image inside this div */
	text-align:center;
    margin-top:0;
    margin-bottom:0;
    padding:0;
    /* end of centreing the image */
}

#myPhoto img {
	max-width: 200px;
	background-color: transparent;
	text-align:center;
}




.editImageButton {
	position:absolute;
	right:0;
	top:0;
	/*height:20px;*/
	background-color: #ffffff;
	text-decoration: none;
	font-size: x-small;
	padding-left: 24px;
	padding-bottom: 4px;
	padding-top: 4px;
	padding-right: 2px;
	margin-top: 0;
	margin-right: 0;
	background-repeat: no-repeat;
	background-position: 4px center;
	background-image: url("/library/image/silk/picture_edit.png");
	border-top: thin solid #09c;
	border-right: thin solid #09c;
	border-bottom: thin solid #09c;
	border-left: thin solid #09c;
}

.editImageButton:hover {
	background-color: #ffff77;
}


.editButton {
	float:right;
	clear: none;
	display:block;
	text-decoration: none;
	font-size: x-small;
	padding-left: 24px;
	padding-bottom: 4px;
	padding-top: 4px; 
	padding-right: 2px;
	margin-top: 0;
	margin-right: 10px;
	background-repeat: no-repeat;
	background-position: 4px center;
	background-image: url("/library/image/silk/pencil.png");
	border-left: thin solid #09c;
	border-right: thin solid #09c;
	border-bottom: thin solid #09c;
}

.editButton:hover {
	background-color: #ffff77;
}

/* when component is created, this should go in there and have a unique class name */
.closeButton {
	float:right;
	clear: none;
	text-align: right;
}
.closeButton:hover {
	background-color: #ffcccc;
}


.instruction {
	color: #5D5D5D;
}

.unreadMessagesCount {
	padding-left: 4px;
	font-weight: bold;
}





/* profile heading styles */
#profileHeading {
	margin-left: -10px;
}

#profileHeadingName {
	font-size: 140%;
	font-weight: bold;
}




/* generic styles */
.tiny {
	font-size: 70%;
}

.small {
	font-size: 90%;
}

.right {
	float:right;
}




/* sideLink styles */
#sideLink ul {
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
	list-style-type:none !important;
}

#sideLink li {
	border-bottom-style: solid;
	border-bottom-color: #09c;
	border-bottom-width: thin;
	padding-top: 2px;
	margin-left: -40px;
	padding-left: 5px;
	list-style-type: none !important;
}

#sideLink li a {
	text-decoration: none !important;
	display:block; /* makes whole li clickable */
}

#sideLink li:hover {
	background-color: #D1ECF6;
}

#sideLink li#selected {
	background-color: #D1ECF6;
}
  
  
  
  
  
/* sideBox styles */
.sideBox {
	margin-top: 4px;
	border-top: thin solid #09c;
	border-right: thin solid #d0d0df;
	
}

.sideBoxHeading {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	display:block;
	font-weight: bold;
	background-color: #B8D5F8;
}
	
.sideBoxContent {
	display:block;	
	margin-bottom: 4px;
}

.sideBoxLabels {
	display: block;
	position: relative;
	/*border-bottom: thin solid #d0d0df;*/
	height: 1.0em;
	padding-top: 2px;
	margin-bottom: 2px;
}

.sideBoxItemCount, .sideBoxMoreLink  {
	font-size: 70%;
	position: absolute;
	width: 50%;
}

.sideBoxItemCount {
   	left: 0;
   	padding-left: 2px;
}

.sideBoxMoreLink {
   right: 0;
   text-align: right; /* depends on element width */
   padding-right: 2px;
}





/* mainSection styles */
.mainSection {
	margin-top: 10px;
	display: block;
}


.mainSectionHeading {
	display:block;
	font-weight: bold;
	border-bottom: thin solid #09c;
	margin-bottom: 0;
	padding-bottom: 0;
}

.mainSectionContent {
	padding-top: 5px;
	width: 420px;
	
}

.mainSectionContentForm {
	padding-top: 5px;
	width: 500px;
}



/* profile information sections */
.profileContent{
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 90%;
	border: none;
}

.profileContent .label {
	width: 120px;
	float: left;
	color: #5D5D5D;
	vertical-align: top;
	font-weight: normal;
}

.profileContent .content {
	padding-left: 2px;
	/*padding-right: 40px;*/
}

.profileContent .toolTip {
	padding-left: 8px;
	vertical-align: top;
	/*padding-right: 40px;*/
	
}


.profileForm, .statusForm {
	background-color: #e9edff;
	border: 1px solid #d0d0df;
}

.profileForm {
	margin-bottom: 12px;
}

.profileFormButtons {
	margin-top:8px;
	text-align:center;
}

.profileFormButtons input {
	margin-left: 6px;
	margin-right: 6px;
}

.profileFormButtons input[type="submit"] {
	color: #09c;
}

.statusForm {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.statusField {
	color: #5D5D5D;
}
	

.formInputField {
	padding-left: 2px;
	border: 1px solid #aaa;
	margin: .2em;
}

.formInputField:focus {
	border-color: black;
	background: #ffc;
}

.formInputField.invalid {
    border: 2px solid red;
    color: red;
}

.formInputField.valid {
    /*color: green;*/
}

.feedbackLabel {
	display:block;
    font-weight: bold;
}


/* Style for wicket's feedback message panel */
.alertMessage ul {
	list-style-type: none !important;
	margin-left: -40px;
	margin-bottom: 0px;
	margin-top: 0px;
}


/* friends feed styles */
#friendsFeed {
	display: block;
}
	
.friendsFeedItem {
	vertical-align: top;
	width: 60px;
	max-width: 60px;
	overflow: hidden;
}
	
.friendsFeedItem img {
	max-width: 50px;
}

.friendsFeedItemCaption {
	margin-top: 0;
	font-size: 60%;
	text-align: left;
	overflow: hidden;
}


/* friends list styles */
.friendsList {
	border: 1px solid red;
}

.friendsListItem {
	display:block;
	border: 1px solid green;
	width: 500px;
	height: 120px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}

.friendsListPhoto {
	float:left;
	max-width: 100px;
	max-height: 100px;
	overflow: hidden;
	border:1px solid red;
}

.friendsListPhoto img {
	/* constrain the width but the height is variable so the image stays proportional,
	however it will still be cropped via parent class overflow property
	
	TODO - position the image a few pixels off to the left and a few pixels above the container
	so we get more of the middle of the picture.
	
	 */
	
	max-width: 90px; 
}

.friendsListInfo {
	margin-left: 5px;
	float:left;
	border:1px solid blue;
	vertical-align: top;
}


.friendsListInfoName {
	display: inline;
	font-weight: bold;
}


.friendsListInfoStatus {
	display:inline;
	font-weight: normal;
	font-size: 90%;
}

.friendsListInfoStatusDate {
	display:block;
	color: #5D5D5D;
	font-size: 90%;
}


.friendsListActions {
	width: 120px;
	float:right;
	border:1px solid yellow;
	font-size: 90%;
}

.searchAddFriend, .searchConfirmFriend, .searchRemoveFriend {
	font-size: 70%;
	padding-left: 24px;
	padding-bottom: 4px;
	padding-top: 4px; 
	padding-right: 2px;
	background-repeat: no-repeat;
	background-position: 4px center;
}

.searchAddFriend {
	background-image: url("/library/image/silk/user_add.png");
}
.searchConfirmFriend {
	background-image: url("/library/image/silk/user_add.png");
}
.searchRemoveFriend {
	background-image: url("/library/image/silk/user_delete.png");
}

.searchFriendLabel {
	color: #5D5D5D;
	font-size: 90%;
}


.rssLink {
	margin: 0;
	padding: 0;
}

.rssLink img {
	vertical-align: middle;
}

h2 {
	margin-top: 0;
}

/* overrides cluetip's text color */
#cluetip-inner {
	color: #5D5D5D;
}


.itemHeader {
	font-size: 100%;
	font-weight: bold;
	border-bottom: thin solid #5D5D5D;
	margin-bottom: 4px;
}

.resultsHeader {
	font-weight: normal;
}




	

		