<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="org.sakaiproject.api.section.SectionManager"
        class="org.sakaiproject.component.section.sakai21.SectionManagerImpl">
        <property name="siteService">
            <ref bean="org.sakaiproject.site.api.SiteService"/>
        </property>
        <property name="authzGroupService">
            <ref bean="org.sakaiproject.authz.api.AuthzGroupService"/>
        </property>
        <property name="securityService">
            <ref bean="org.sakaiproject.authz.api.SecurityService"/>
        </property>
        <property name="userDirectoryService">
            <ref bean="org.sakaiproject.user.api.UserDirectoryService"/>
        </property>
        <property name="entityManager">
            <ref bean="org.sakaiproject.entity.api.EntityManager"/>
        </property>
        <property name="sessionManager">
            <ref bean="org.sakaiproject.tool.api.SessionManager"/>
        </property>
        <property name="eventTrackingService">
            <ref bean="org.sakaiproject.event.api.EventTrackingService"/>
        </property>
    </bean>
</beans>
