.#{$namespace}sakai-signup {

	.form-required{
		&:after{
			content: "*";
			color: darken($errorcolor, 30%);
			position: relative;
			top: 3px;
		}		
	}
	
	#meeting{
		input{
			margin-right: 0.5em;
		}

		&\:startTime\.minutes, &\:endTime\.minutes{
			margin-left: 0.5em;
		}
	
		&\:startTime select, &\:endTime select{
			margin-right: 0.5em;
		}
		
		&\:startTime, &\:endTime{
			@media #{$phone}{
				input,select{
					margin-top: 0.5em;
				}
			}
		}		
	
		&\:meeting-participants{
			margin-bottom: 0;
			td{
				border:none;
			}
		}
		
		&\:utilCalendar{
			input{
				margin-top: 0.5em;
			}
		}
		
		&\:until\.year{
			margin-left: 0.5em;
		}
		
		&\:emailAttendeeOnly{
			margin-top: 0.5em;
			margin-left: 0.5em;
		}
	}

	#userdef-add{
		position:relative;
		top: -40px;
	}

	.calendarImageIcon{
		vertical-align: middle;
		margin-left: 3px;
		margin-right: 7px;
	}

	#imageOpen_otherSites,#imageClose_otherSites{
		margin-right: 0.3em;
	}	
}
