properties.name.2=assignment.enableViewOption
properties.type.2=getString
properties.tool.2=assignment
properties.version.2=2.8
properties.configurable.2=Y
properties.rule.2=url
properties.qualifier.2=none
properties.nullable.2=Y
properties.default.2=true

properties.name.3=assignment.letterGradeOptions
properties.type.3=getString
properties.tool.3=assignment
properties.version.3=2.8
properties.configurable.3=Y
properties.rule.3=url
properties.qualifier.3=none
properties.nullable.3=Y
properties.default.3=A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,E,F
