<div class="portletBody">
#if ($alertMessage)<div class="sak-banner-error">$tlang.getString("gen.alert") $alertMessage</div>#end
## See also assignment/tool/src/webapp/vm/assignment/chef_assignments_view_launch.vm
#if ($!newpage)
<script type="module" src="/webcomponents/sakai-lti-popup.js"></script>
<p>
<sakai-lti-popup
  launch-url="$!source"
/>
</p>
#else
<script type="module" src="/webcomponents/sakai-lti-iframe.js"></script>
<p>
<sakai-lti-iframe
  allow-resize="yes"
  launch-url="$!source"
/>
</p>
#end
</div>
