<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html  
      xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:wicket="http://wicket.sourceforge.net"  
      xml:lang="en"  
      lang="en">
<body>
<wicket:panel>

<script type="text/css">
.closeButton {
	float:right;
	clear: none;
	text-align: right;
}
.closeButton:hover {
	background-color: #ffcccc;
}
</script>
	
<div class="closeButton" wicket:id="closeButton">
	<img class="closeButton" src="" wicket:id="img"/>
</div>

</wicket:panel>
</body>
</html>
	