//////////////////////////////
// EXTENDABLES: For Modules 
//////////////////////////////

%controls {
  font-family: $controls__font-family;
  display: inline-block;
  font-size: $controls__font-size;
  @include margin-padding(padding, $controls__padding);
  line-height: 1;
  @include border-outline(border, $controls__border-width, $controls__border-style, $controls__border-color);
  @include border-radius($controls__border-radius);
  background-clip: padding-box;

  &:link,
  &:visited {
    @include simple-background-gradient($controls--visited__color, $controls--visited__gradient-position, $controls--visited__gradient-stop-1, $controls--visited__gradient-stop-2);
  }

  &:hover,
  &:focus {
    outline: none;
    @include simple-background-gradient($controls--hover__color, $controls--hover__gradient-position, $controls--hover__gradient-stop-1, $controls--hover__gradient-stop-2);
  }

  &:active {
    @include simple-background-gradient($controls--active__color, $controls--active__gradient-position, $controls--active__gradient-stop-1, $controls--active__gradient-stop-2);
  }
}