//////////////////////////////
// VARIABLES: For Modules 
//////////////////////////////


//////////////////////////////
// DEFAULT VARIABLES
//////////////////////////////

// Controls
$controls__font-family: $secondary__font-family !default;
$controls__font-size: 1.5em !default;
$controls__padding: 0.5em 0.75em !default; 
$controls__border-width: false !default; 
$controls__border-style: solid !default;
$controls__border-color: #666 !default;
$controls__border-radius: 0.25em !default;
/// Visited
$controls--visited__color: $button__color !default;
$controls--visited__gradient-position: $button__gradient-position !default;
$controls--visited__gradient-stop-1: #47a !default;
$controls--visited__gradient-stop-2: #258 !default;
/// Hover
$controls--hover__color: $button__color !default;
$controls--hover__gradient-position: $button__gradient-position !default;
$controls--hover__gradient-stop-1: #d04 !default;
$controls--hover__gradient-stop-2: #b02 !default;
/// Active
$controls--active__color: $button__color !default;
$controls--active__gradient-position: $button__gradient-position !default;
$controls--active__gradient-stop-1: #800 !default;
$controls--active__gradient-stop-2: #a00 !default;