<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Site Add Participant</title>
	<link href="/library/skin/tool_base.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all"/>
	<link href="/library/skin/default/tool.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all"/>
	<script type="text/javascript" rsf:id="resize"/>
	<link type="text/css" href="/library/webjars/jquery-ui/1.12.1/jquery-ui.min.css" rel="stylesheet" media="screen" />
	<script type="text/javascript" src="/library/js/headscripts.js"></script>
	<script type="text/javascript">includeLatestJQuery('site-manage');</script>
	<script type="text/javascript" src="/library/js/spinner.js"></script>
</head>

<body rsf:id="scr=sakai-body">
<div class="portletBody">
	<!-- alert message -->
	<div rsf:id="error-row:">
		<div class="alertMessage" rsf:id="error">We Have Errors!</div>
	</div>
	<div rsf:id="info-row:">
		<div class="information" rsf:id="info">We Have Infos!</div>
	</div>
	<div rsf:id="content:">
		<h3 rsf:id="msg=adddif.choose">Choose a Role for Participants</h3>
		<form rsf:id="differentRole-form">
			<input rsf:id="csrfToken" name="csrfToken" id="csrfToken" type="hidden"/>
			<div class="table-responsive">
				<table class="table table-bordered table-hover table-striped" summary="">
					<tr rsf:id="role-row:">
						<td rsf:id="role-id"></td>
						<td rsf:id="role-description"></td>		
					</tr>
				</table>
			</div>
			<div class="table-responsive">
				<table class="table table-bordered table-hover table-striped" border="0" cellspacing="0">
					<thead>
						<tr>
							<th rsf:id="msg=addconf.username">UserName</th>
							<th rsf:id="msg=addconf.role">Role</th>
						</tr>
					</thead>
					<tbody>
						<tr rsf:id="user-row:">
							<td rsf:id="user-name"></td>
							<td width="10%">
								<select size="1" rsf:id="role-select" id="role-select" style="valign:top">
									<option value="" selected="selected">Please choose a role:</option>
									<option value="access" >access</option>
									<option value="maintain">maintain</option>
								</select>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<p class="act">
				<input accesskey ="s" rsf:id="continue" class="active" value="Save" type="submit" onclick="SPNR.disableControlsAndSpin( this, null );" />
				<input accesskey ="b" rsf:id="back" value="Back" type="submit" onclick="SPNR.disableControlsAndSpin( this, null );" />
				<input accesskey ="x" rsf:id="cancel" value="Cancel" type="submit" onclick="SPNR.disableControlsAndSpin( this, null );" />
			</p>			
		</form>
	</div>
</div>
</body>
</html>
