.progress-label-wrapper.progress-bar {
	background: transparent;
	transition: none;
	line-height: 3rem;
	font-size: 16px;
	font-weight: 550;
}

#timerBlock .progress-label-wrapper .progress-label,
#timerBlock .progress-label-wrapper {
	width: 100%;
}

#timerBlock .progress-wrapper {
	display: flex;
}

#timerBlock .progress:first-child {
	width: 100px;
	margin-right: 0px;
}
#timerBlock .progress {
	margin: 12px;
	margin-bottom: 0;
	height: 3rem;
	width: 100%;
}

#timerBlock .progress-label {
	width: 100%;
	padding: 3px;
}

.progress-bar {
	transition: all 0.6s ease;
}

.progress-label {
	font-weight: bold;
	color: var(--sakai-text-color-1);
}

#dialog-timeout {
	display: none;
}

#timeoutWarning {
	display: none;
	margin: 10px 15px 20px 15px;
}

#timerBlock {
	position: absolute;
	top: 0px;
	width: 75%;
	background-color: var(--sakai-primary-color-1);
	margin: 0;
	margin-left: 15px;
	padding: 0;
	z-index: 2;
}

#timerBlank {
	height: 110px;
	border: 0;
	padding: 0;
	margin: 0;
}

#showHide {
	background-color: transparent;
	border:none;
	display: flex;
	margin: 5px auto ;
}

#showHideText {
	padding-right: 3px;
	padding-left: 3px;
	color: var(--sakai-text-color-inverted);
	font-weight: bold;
}

.showHideSym {
	color: var(--sakai-text-color-inverted);
}

.ajaxImg {
	vertical-align: middle;
}

.ui-progressbar .ui-progressbar-value {
	margin: 0px !important;
}

.timerSubmissionInfoCol1 {
	width: 240px;
	vertical-align: top;
	padding-top: 2px;
	padding-left: 2px;
}

.timerSubmissionInfoCol2 {
	width: 240px;
	vertical-align: top;
}

tr.timerSubmission:nth-child(even) {
	background-color: var(--sakai-background-color-2);
}

@media only screen and (max-width: 770px) {
	#timerBlock {
		position: absolute;
		top: 0px;
		width: 100%;
		margin: 0;
		padding: 0;
		z-index: 2;
		left: 0px;
	}
}
