.ui-progressbar {
	position: relative;
	background: var(--sakai-color-gray--darker-2);
	margin-bottom: 15px;
}

.progress-label {
	position: absolute;
	width: 100%;
	font-weight: bold;
	text-align: center;
	color: var(--sakai-color-white);
	background: rgba(0, 0, 0, 0.2);
	height: 26px;
	line-height: 26px;
}

#dialog-timeout {
	display: none;
}

#timeoutWarning {
	display: none;
	background-color: var(--errorBanner-bgcolor);
	border-color: var(--errorBanner-bordercolor);
	color: var(--errorBanner-color);
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	margin: 10px 15px 0px 15px;
}

#progressbar {
	width: 98%;
	margin: auto;
	margin-top: 10px;
	background-color: var(--sakai-color-gray--darker-2);
	border-color: var(--sakai-color-gray--darker-2);
}

#timerBlock {
	position: absolute;
	top: 0px;
	width: 75%;
	background-color: var(--sakai-primary-color-1);
	margin: 0;
	margin-left: 15px;
	padding: 0;
	z-index: 2;
}

#timerBlank {
	height: 110px;
	border: 0;
	padding: 0;
	margin: 0;
}

#showHide {
	text-align: center;
	margin-top: 8px;
	margin-bottom: 5px;
	cursor: pointer;
}

/* Un-Comment this block to enable a more visible keyboard focus indicator
div#showHide:focus {
	outline: 3px solid #fff;
	margin: 14px;
}
*/

#showHideText {
	padding-right: 3px;
	padding-left: 3px;
	color: var(--sakai-text-color-inverted);
	font-weight: bold;
}

.showHideSym {
	color: var(--sakai-text-color-inverted);
}

.ajaxImg {
	vertical-align: middle;
}

#warnClose {
	float: right;
	text-decoration: underline;
	cursor: pointer;
}

.ui-progressbar .ui-progressbar-value {
	margin: 0px !important;
}

.timerSubmissionInfoCol1 {
	width: 240px;
	vertical-align: top;
	padding-top: 2px;
	padding-left: 2px;
}

.timerSubmissionInfoCol2 {
	width: 240px;
	vertical-align: top;
}

tr.timerSubmission:nth-child(even) {
	background-color: var(--sakai-background-color-2);
}

@media only screen and (max-width: 770px) {
	#timerBlock {
		position: absolute;
		top: 0px;
		width: 100%;
		background-color: var(--sakai-active-color-2);
		margin: 0;
		padding: 0;
		z-index: 2;
		left: 0px;
	}
}
