 /*NOTE: This file is linked to after the tool_base.css file inside of tools. It provides for skinning.*/

/*PART 1:GENERIC SELECTORS*/
body{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:80%;background: #F0F0F0;}
.toolTitle{width:100%;background: url(images/titleback.gif) repeat-x top  left}
/*for ie:  does not understand negative margins very well*/
.portletBody table.toolTitle{
	position:relative;
	left:-2em;
	top:-.3em;
	right:-2em;
	margin:-.3em -2em;
	}
	/*for moz*/
html>body .portletBody table.toolTitle{
	left:0;
	top:0;
	margin:-.3em -2em;
}

/*jsf creates form node as first child, ie puts margins on forms unless...*/
.portletBody form{margin-top:0}
.toolTitle td.title img{margin:0;vertical-align: text-bottom;/*border:1px solid red;*/width:16px !important;}
.toolTitle td.title{
padding: 2px 4px 2px 22px;
background:url(images/titleleft.gif) top left no-repeat;
height:22px;
font: normal bold 12px Arial, sans-serif;
color: #5A6D95;
text-transform: uppercase;
}
.toolTitle td.title a {background:url(images/reload.gif) top left no-repeat;}
.toolTitle td.title a:hover{background:url(images/reload_h.gif) top left no-repeat;}

.toolTitle td.action{
background:url(images/titleright.gif) top right no-repeat;
padding:3px 22px 2px 2px;
text-align:right;
vertical-align:middle;
}
.toolTitle td.action img{margin:0;vertical-align: text-bottom;/*border:1px solid red;*/width:16px !important;}
.toolTitle td.action a {background:url(images/help.gif) top right no-repeat;}
.toolTitle td.action a:hover{background:url(images/help_h.gif) top right no-repeat;}

.chefPresenceListItem{font-size:.8em;margin-left:3px;white-space:nowrap;}
.presenceList{background-color:#F0F0F0; margin: 0px;}

/*calendar selectors*/
table.calendar{}
table.calendar th{background-color:#DDDFE4;font-weight:normal;text-align:center}
.bgActivity{background-color:#E9ECF3;border:1px solid #E9ECF3;text-align:right}
.bgWithoutActivity{background-color:#fff;border:1px solid #E9ECF3;text-align:right}
.borderGrayYear{background-color:#C2CADD;border:1px solid #E9ECF3;text-align:right}
.borderGrayDayWeek{border-bottom:none;border-collapse:collapse;border-left:1px solid #E9ECF3;border-right:1px solid #E9ECF3;border-top:1px solid #E9ECF3}
.borderGrayBackground{background-color:#E3EAF4;border-bottom:none;border-left:1px solid #E9ECF3;border-right:1px solid #E9ECF3;border-top:1px solid #E9ECF3}
.borderGrayTodayBgCenter{background-color:#E9ECF3;border-left:1px solid #000;border-right:1px solid #000;border-top:1px solid #E9ECF3}
.borderGrayTodayEmptyMiddleBottom{background-color:white;border:1px solid #E9ECF3}
.borderGrayTodayEmptyMiddleCenter{background-color:white;border-left:1px solid #E9ECF3;border-right:1px solid #E9ECF3;border-top:1px solid #E9ECF3}
.borderGrayTodayLeftBottom{border-bottom:1px solid #E9ECF3;border-left:1px solid #000;border-right:1px solid #E9ECF3;border-top:1px solid #E9ECF3}
.borderGrayTodayLeftCenter{border-left:1px solid #000;border-right:1px solid #E9ECF3;border-top:1px solid #E9ECF3}
.borderGrayTodayMiddleCenter{border-left:1px solid #E9ECF3;border-right:1px solid #E9ECF3;border-top:1px solid #E9ECF3}
.borderGrayTodayRightBottom{border-bottom:1px solid #E9ECF3;border-left:1px solid #E9ECF3;border-right:1px solid #000;border-top:1px solid #E9ECF3}
.borderGrayTodayRightCenter{border-left:1px solid #E9ECF3;border-right:1px solid #000;border-top:1px solid #E9ECF3}
.borderOnlyLeftDay{background-color:#E3EAF4;border-left:1px solid #E9ECF3}
.borderOnlyLeft{border-left:1px solid #E9ECF3}
.borderToday{border:1px solid #000}
.borderTodayCenter{border-bottom:1px solid #E9ECF3;border-left:1px solid #000;border-right:1px solid #000;border-top:1px solid #E9ECF3}
.borderTodayTop{border-bottom:1px solid #E9ECF3;border-left:1px solid #000;border-right:1px solid #000;border-top:1px solid #000}
.borderTodayWithActivity{background-color:#E9ECF3;border:1px solid #000;text-align:right}
.borderTodayWithoutActivity{background-color:#FFF;border:1px solid #000;text-align:right}
.borderTopLeft{background-color:#E3EAF4;border-left:1px solid #E9ECF3;border-right:1px solid  #E9ECF3;border-top:1px solid #E9ECF3}
.borderTopLeftWhite{border-left:1px solid #E9ECF3;border-right:1px solid  #E9ECF3;border-top:1px solid #E9ECF3}
.borderWhiteYear{background-color:#E9ECF3;border:1px solid #fff;text-align:center}
.borderWhite{border-bottom:none;border-left:1px solid #fff;border-right:1px solid #fff;border-top:1px solid #fff}
.borderGrayTodayCenter,.borderOnlyLeftTodayCenter{border-left:1px solid #000;border-right:1px solid #000;border-top:1px solid #E9ECF3}
.borderGrayTodayEmptyRightBottom,.borderGrayTodayEmptyRightCenter{background-color:white;border-left:1px solid #E9ECF3;border-right:1px solid #000;border-top:1px solid #E9ECF3}
.borderGrayTodayMiddleBottom,.borderFullGray,.borderGrayMonth{border:1px solid #E9ECF3}
.borderTodayBottom,.borderGrayTodayBottom,.borderOnlyLeftTodayBottom{border-bottom:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;border-top:1px solid #E9ECF3}


/*layout*/
.gbContent, .portletBody{padding:.3em 2em;}
table {font-size:1em;}
a:link{color:#369;text-decoration:none}
a:visited{color:#9ad;text-decoration:none}
a:hover{color:#5168D6 !important;text-decoration:underline;background-color:transparent}
.syllabusTable, .listHier{font-size:1em;}
.syllabusTable th, .listHier th{background-color:#DDDFE4;}
.syllabusTable td,.listHier td{vertical-align:top;padding:.4em !important}
.listHier td.line{border-bottom:1px dashed gray}
.listHier td .itemAction  a {text-decoration:underline !important}
/*a table that emulates the layout of the label-input pairs when tabular info and inputs are mixed int he view*/
.chefEditItem, .itemSummaryForm {margin-left:.7em}
.chefEditItem th,.itemSummaryForm th{color:#000;font-weight: normal !important ;font-family: Arial, Helvetica, sans-serif;width:15.3em;text-align:left}
.chefEditItem td, .itemSummaryForm td{padding:.5em 0;vertical-align:top}	
legend{font-size:110%;color:#000;padding-bottom:.3em;font-weight:normal;margin:.5em 0;}


/*hierarchy*/
h2{font-size: 130%;color:#52698C;padding:.3em;font-weight:normal;margin:.5em -.3em;background-color:transparent !important}
.chefPortletToolBarMessage, h3{font-size: 130%;color:#084A87;padding:.3em;font-weight:normal;margin:.5em -.3em;background-color:transparent !important}
h4{font-size:110%;color:#000;padding-bottom:.3em;font-weight:normal;margin:.5em 0;}
h5{font-size:100%;color:#084A87;font-weight:normal;margin:.5em 0;background-color:transparent}

/*inputs*/
.chefButtonRow, .act {padding:1em 0}
.chefButtonRow input, .act input{	background-color:#eee;
	border-width:1px;
	border-color: #90A1C6 #5A6D95 #5A6D95 #90A1C6;
	border-style: solid;}

.chefButtonRow input:hover, .act input:hover{	background-color:#DDDFE4;
	border-width:1px;
	border-color: #5A6D95 #90A1C6 #90A1C6 #5A6D95;
	border-style: solid}
.chefButtonRow input:active,.act input.active{border-width:1px;
	border-color: #444;
	border-style: solid}
.chefButtonRow input.active:hover, .act input.active:hover{border-width:1px;
	border-color: #5A6D95 #90A1C6 #90A1C6 #5A6D95;
	border-style: solid}

/*toolbar*/
.chefToolBarWrap, .chefToolBarWrapForm, .navIntraTool{
	background-color:#DDDFE4;
	color: #000;
	padding:.3em;
	margin:-.3em -2.2em;
	text-align:center;
	font-size: .9em;
	line-height:1.2em}
.navIntraTool a:link, .navIntraTool a, .chefToolBarWrap a:link, .chefToolBarWrap a, .chefToolBarWrapForm a, .chefToolBarWrapForm a:link  {
	border-bottom: 1px dashed #90A1C6;
	background: #DDDFE4;
	padding: 0px 2px 0px 3px;
	color: #000;
	text-decoration:none;
	margin-right:1em}
.navIntraTool a:hover,.chefToolBarWrap a:hover, .chefToolBarWrapForm a:hover {
	border:none;
	text-decoration: none !important;
	color: #084A87 !important;
	padding: 0px 2px 0px 3px;
	border-bottom: 1px solid #FFF !important; 
	 }
.navIntraTool a:visited, .chefToolBarWrap a:visited, .chefToolBarWrapForm a:visited  {
	border-bottom: 1px dashed #90A1C6;
	background: #DDDFE4;
	padding: 0px 2px 0px 3px;
	color: #000;
	text-decoration:none;
}

/*messages -moved to base. override as needed here */

/*navigation*/
.leftNav{font-size:1em}
.leftNav form{display:inline}
.rightNav  {font-size:1em}
.righNav form{display:inline}
.rightNav span.instruction  {display:block;padding-bottom:.5em;}
.rightNav input[type="submit"]{font-size:90%;padding:.3em;}
.rightNav input[type="button"]{font-size:90%;padding:.3em;}
.rightNav input{}

/*label input pair selectors that are overriding base for this skin*/
label{color:#000;font-weight: normal;font-family: Arial, Helvetica, sans-serif;margin-top:.3em}
.shorttext .reqStar{color:#c00;width:auto;margin:0 0 0 -1em;font-weight:bold;font-size:1em;padding:0;}
.labelindnt{font-size:1em;margin:0 0 0 15.5em}
.shorttext input{padding:.1em .3em;border:1px solid #90A1C6}
textarea{padding:.1em .3em;border:1px solid #90A1C6;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:100%;}
label.block{display:block}
/*when a form needs to share hspace with other block elements*/
.toolbarForm{margin:0px;padding:0px;display:inline}
.toolbarForm a{border:none;background-color:transparent}

hr  {height:0}
img {border:0px;}
fieldset  {
	border:none;
	padding:0px;
	margin-top:1em;
}
legend  {}
fieldset table {}
fieldset p {}
/*
	If the current view is in the application menu, highlight it.
*/
.currentView {font-weight:normal}
/*
	Make the currently sorted column header text bold, and make all sort headers
	not underlined
*/
.currentSort {
    font-weight:bold;
    text-decoration:none;
}

.notCurrentSort {
	font-weight:normal;
    text-decoration:none;
}
