
.treefolder {
 background-repeat: no-repeat;
 height: 17px;
 width: 26px;
}

.treedoc {
 background-image: url(../images/file.gif);
 background-repeat: no-repeat;
 height: 17px;
 width: 26px;
}

.actionHeader{ 
  overflow: hidden;
  width:100%;
  background:#eec;
  padding:0

 }
.actionHeader h3 h4 h5{ 
  float:left;
  margin:.3em
 }

.actionHeader div{ 
  float:right;
  padding:.3em
}

/*
.navModeQuestion
{background-color:#CCC;text-align:left;padding:.3em;vertical-align:middle font-size:1.2ems}
*/
.navViewAction {
background-color:#CCC;
text-align:left;
padding:.3em;
vertical-align: bottom;
font-size:1.2em
}

.textTable
{vertical-align:top;margin-left:2em}

.number {
  width:23px;
  height:23px;
        FONT-WEIGHT: bold;
        COLOR:#FFFFFF;
        background-image: url(../images/circle.gif);
        vertical-align: middle;
        background-repeat: no-repeat;
        padding-left: 5px;
        height: 32px;
        width: 32px;
        float: left;
}


/* moved h#text,alignRight from main.css  */
.h3text {
 font-size: 1.2em;
 font-weight: bold;
}
.h4text {
 font-size: 1.0em;
 font-weight: bold;
}
.h5text {
 font-size: 0.8em;
 font-weight: bold;
}


.navList{
        text-align: right;
}
.navView{
        text-align: left;
}

.validate{
	color:red;
}

.toggle_link_container{
	text-align:right;
}
.toggle_link{
	font-size:85%;
	border-right:1px solid #ddd;
	border-left:1px solid #ddd;
	border-top:1px solid #ddd;		
	margin-bottom:0px;
}

.simple_text_area{
	margin-top:0px;
}
/*
	OVERRIDE NAV CONTROL SAKAI CSS DEFINITIONS FOR NOW.
	They don't handle our situation, with search filters bottom-aligned
	on the left and paging controls on the right.
*/
.samLeftNav  {
	vertical-align:bottom;
    text-align:left;
}
.samRightNav  {
	vertical-align:bottom;
    text-align:right;
}

/* added gopalrc - Jan 2008  */
.detailedStatsCorrectAnswerText {
    font-weight: bold;
}

.new_assessment label
{
	color: #555555;
	font-weight: bold;
}

/* added gopalrc - Jan 2008  */
.detailedStatsCorrectAnswerText {
    font-weight: bold;
}

.prePopulateText 
{
	color:gray;
}

.textBelowHeader {
	padding: .5em 0 0 0;
}

