<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
	"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="scorm.ActivityTreeHolderDaoTarget"
		class="org.sakaiproject.scorm.dao.hibernate.ActivityTreeHolderDaoImpl">
		<property name="sessionFactory">
				<ref bean="org.sakaiproject.springframework.orm.hibernate.GlobalSessionFactory" />
		</property>
	</bean>

	<bean id="scorm.AttemptDaoTarget"
		class="org.sakaiproject.scorm.dao.hibernate.AttemptDaoImpl">
		<property name="sessionFactory">
				<ref bean="org.sakaiproject.springframework.orm.hibernate.GlobalSessionFactory" />
		</property>
	</bean>
	

	<bean id="scorm.ContentPackageDaoTarget"
		class="org.sakaiproject.scorm.dao.hibernate.ContentPackageDaoImpl">
		<property name="sessionFactory">
				<ref bean="org.sakaiproject.springframework.orm.hibernate.GlobalSessionFactory" />
		</property>
	</bean>

	<bean id="scorm.ContentPackageManifestDaoTarget"
		class="org.sakaiproject.scorm.dao.hibernate.ContentPackageManifestDaoImpl">
		<property name="sessionFactory">
				<ref bean="org.sakaiproject.springframework.orm.hibernate.GlobalSessionFactory" />
		</property>
	</bean>


	<bean id="scorm.DataManagerDaoTarget"
		class="org.sakaiproject.scorm.dao.hibernate.DataManagerDaoImpl">
		<property name="sessionFactory">
				<ref bean="org.sakaiproject.springframework.orm.hibernate.GlobalSessionFactory" />
		</property>
	</bean>
	
	<!-- COMMENTTED THIS OUT IN FAVOR OF ActivityTreeHolderDao, which serializes the object
	<bean id="scorm.SeqActivityDaoTarget"
		class="org.sakaiproject.scorm.dao.hibernate.SeqActivityDaoImpl">
		<property name="sessionFactory">
				<ref bean="org.sakaiproject.springframework.orm.hibernate.GlobalSessionFactory" />
		</property>
	</bean>

	
	<bean id="scorm.SeqActivityTreeDaoTarget"
		class="org.sakaiproject.scorm.dao.hibernate.SeqActivityTreeDaoImpl">
		<property name="sessionFactory">
				<ref bean="org.sakaiproject.springframework.orm.hibernate.GlobalSessionFactory" />
		</property>
	</bean>
	-->	
	
	<!-- This wraps our DAOs so that the transactions are managed -->
	<bean id="org.sakaiproject.scorm.dao.api.ActivityTreeHolderDao"
			class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" 
			ref="org.sakaiproject.springframework.orm.hibernate.GlobalTransactionManager" />
		<property name="target" 
			ref="scorm.ActivityTreeHolderDaoTarget" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	
	<bean id="org.sakaiproject.scorm.dao.api.AttemptDao"
			class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" 
			ref="org.sakaiproject.springframework.orm.hibernate.GlobalTransactionManager" />
		<property name="target" 
			ref="scorm.AttemptDaoTarget" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	
	<bean id="org.sakaiproject.scorm.dao.api.ContentPackageDao"
			class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" 
			ref="org.sakaiproject.springframework.orm.hibernate.GlobalTransactionManager" />
		<property name="target" 
			ref="scorm.ContentPackageDaoTarget" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	
	<bean id="org.sakaiproject.scorm.dao.api.ContentPackageManifestDao"
			class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" 
			ref="org.sakaiproject.springframework.orm.hibernate.GlobalTransactionManager" />
		<property name="target" 
			ref="scorm.ContentPackageManifestDaoTarget" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	
	<bean id="org.sakaiproject.scorm.dao.api.DataManagerDao"
			class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" 
			ref="org.sakaiproject.springframework.orm.hibernate.GlobalTransactionManager" />
		<property name="target" 
			ref="scorm.DataManagerDaoTarget" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	
	<!-- COMMENTED THIS OUT TO USE THE SAKAI VERSION THAT SERIALIZES TO CONTENT REPOSITORY
	<bean id="org.sakaiproject.scorm.dao.api.SeqActivityDao"
			class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" 
			ref="org.sakaiproject.springframework.orm.hibernate.GlobalTransactionManager" />
		<property name="target" 
			ref="scorm.SeqActivityDaoTarget" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	
	<bean id="org.sakaiproject.scorm.dao.api.SeqActivityTreeDao"
			class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" 
			ref="org.sakaiproject.springframework.orm.hibernate.GlobalTransactionManager" />
		<property name="target" 
			ref="scorm.SeqActivityTreeDaoTarget" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	-->
	
	
	
	
</beans>
