<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider" 
		class="org.sakaiproject.portal.chat.entity.PCServiceEntityProvider" init-method="init" destroy-method="destroy">
		<property name="developerService"><ref bean="org.sakaiproject.entitybroker.DeveloperHelperService"/></property>
		<property name="userDirectoryService"><ref bean="org.sakaiproject.user.api.UserDirectoryService"/></property>
		<property name="emailService"><ref bean="org.sakaiproject.email.api.EmailService"/></property>
		<property name="serverConfigurationService"><ref bean="org.sakaiproject.component.api.ServerConfigurationService"/></property>
		<property name="presenceService"><ref bean="org.sakaiproject.presence.api.PresenceService"/></property>
		<property name="profileConnectionsLogic"><ref bean="org.sakaiproject.profile2.logic.ProfileConnectionsLogic"/></property>
		<property name="profileMessagingLogic"><ref bean="org.sakaiproject.profile2.logic.ProfileMessagingLogic"/></property>
		<property name="portalChatPermittedHelper"><ref bean="org.sakaiproject.portal.api.PortalChatPermittedHelper"/></property>
	</bean>
</beans>
