<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.sourceforge.net/" xml:lang="en" lang="en">
<wicket:panel>
    <div class="card mb-4">
        <div class="card-body">
	    <h4 class="card-title"><wicket:message key="label.title"/></h4>
            <dl class="row">
	        <dt class="col-sm-3">
                    <wicket:message key="label.learner.name"></wicket:message>
		</dt>
		<dd class="col-sm-9"><span class="d-inline-block" wicket:id="name" /></dd>

	        <dt class="col-sm-3">
                    <wicket:message key="label.learner.id"></wicket:message>
		</dt>
		<dd class="col-sm-9"><span class="d-inline-block" wicket:id="id" /></dd>
            </dl>
        </div>
    </div>
</wicket:panel>
</html>
