<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    [(${sakaiHtmlHead})]
  </head>
  <body onload="setMainFrameHeight('Mainmercuryx710');setFocus(focus_path);"   class="Mrphs-container Mrphs-sakai-plus">
    <div class="portletBody">
        <h1><span th:text="#{plus.tool.contexts.title}">Contexts for:</span> <span th:text="${tenant.title}">Sakai</span></h1>
        <a th:href="@{/}" th:text="#{plus.tool.all.tenants}" class="btn btn-secondary">All Tenants</a></p>
        <ul>
        <li th:each="context: ${contexts}">
            <a th:href="@{/context/{id}(id=${context.id})}">
            <span th:text="${context.title}">Sakai</span></a>
        </li>
        </ul>
    </div>
  </body>
</html>
