#portalMask{
	/*background: rgba(0,0,0,0.45);
	position: fixed;*/
}
#selectSite{
	position: fixed;
	@include transition( left 0.4s linear );
	&.dhtml_more_tabs{
		background: $toolMenuBGColor;
		display: block;
		position: fixed;
		top: 0;
		left: 40%;
		width: 60% ;
		height: 100% ;
		padding: 1em;
		overflow-y: auto;
		overflow-x: hidden;
		z-index: 1005;
		@include box-shadow( 5px 0 50px 0px rgba(0,0,0,0.5) );
		@media #{$phone}{
			width: 100%;
			left: 0;
			top: 2.7em;
			overflow: visible;
			position: absolute;
			@include box-shadow( 0px 0 0px 0px rgba(0,0,0,0) );
			@include transition( left 0.26s linear );
			&:after {
				bottom: 100%;
				left: 75%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(255, 255, 255, 0);
				border-bottom-color: $toolMenuBGColor;
				border-width: 7px;
				margin-left: -7px;
				outline: 0;
			}
		}
	}
	&.outscreen{
		left: -120%;
		max-width: 100%;
	}
	h4{
		font-size: 1.8em;
  		margin: 1.5em 0 0.4em 0;
	}
}

ul#otherSitesMenu{
	float: right;
	li{
		display: inline-block;
		a{
			@extend .button;
		}
	}
}

ul.otherSitesCategorList{
	li{
		display: inline-block;
		border: 1px solid darken( $background-color, 30% );
		background: darken( $background-color, 5% );
		@include border-radius( 4px );
		margin: 0.3em;
		padding: 0.1em 0.5em 0.1em 0.5em;
		a{
			@extend .userNav_link;
			font-weight: 700;
			&.toolMenus{
				display: inline-block;
			}
		}
		&.is-selected{
			background: $primary-color;
			border: 1px solid $primary-color;
			a{
				color: $background-color;
				.fullTitle{
					color: $background-color;
				}
			}
		}
	}
}

#otherSiteSearch{
	border-bottom: 1px solid darken( $background-color, 15% );
	margin: 0 0 1em 0;
	padding: 0.8em 0 1em 0;
	#imgSearch{
		img{
			vertical-align: middle;
		}
	}
}

#otherSiteCloseW{
	background: none;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	border: 0px none;
	display: block;
	position: absolute;
	top: 0;
	left: 95%;
	font-size: 2em;
	@media #{$phone}{
		left: 90%;
	}
	.toggler{
		text-decoration: none;
		color: darken($errorcolor, 50%);
	}
}
