body.active-more-sites{
        overflow: hidden;
}

#portalMask{
	background: rgba(0,0,0,0.45);
	position: fixed;
}

#selectSiteModal{
	position: fixed;
        z-index: 1005;
	overflow:visible;
	@include transition( left 0.4s linear );
	&.dhtml_more_tabs{
		background: $toolMenuBGColor;
		display: block;
		position: fixed;
		width: 60% ;
		max-height: 100%;
		padding: 0 1em 1em 1em;
		@include box-shadow( 5px 0 50px 0px rgba(0,0,0,0.5) );
		@media #{$phone}{
			width: 100%;
			height: 100%;
			top: 2.7em;
			left: 0;
			overflow: visible;
			position: absolute;
			padding: 0;
			@include box-shadow( 0px 0 0px 0px rgba(0,0,0,0) );
			@include transition( left 0.26s linear );
			&:after {
				bottom: 100%;
				left: 75%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(255, 255, 255, 0);
				border-bottom-color: $toolMenuBGColor;
				border-width: 7px;
				margin-left: -7px;
				outline: 0;
			}
		}
	}
	&.outscreen{
		left: 110%;
		max-width: 100%;
		@media #{$phone}{
			display: none;
		}
	}
	&:after{
	        bottom: 100%;
		left: 97%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: $toolTabBGColor;
		border-width: 7px;
		margin-left: -7px;
		outline: 0;
	}
}

#selectSite{
	h4{
		font-size: 1.8em;
  		margin: 1.5em 0 0.6em 0;
	}
	.tab-pane{
		overflow-y: auto;
		overflow-x: hidden;
	}
	.tab-box{
		border: 1px solid $toolBorderColor;
		padding: 5px 5px 5px 1em;

                background-color: $tool-background-color;
	}
	.tab-bar .tab-btn{
		display: inline-block;
		padding: 5px 2em 5px 2em;
		border: 1px solid $toolBorderColor;
		border-bottom:  0;
		margin: 0;
		background-color: darken( $tool-background-color, 20% );
	}

	.tab-bar .tab-btn:hover{
		cursor: pointer;
	}

	.tab-bar .tab-btn.active{
		cursor: default;
		background-color: $tool-background-color;
	}

	.tab-bar .tab-btn.tab-disabled{
		color: lighten( $text-color, 50% );
	}

	.tab-bar .tab-btn.tab-disabled:hover{
		cursor:default;
	}

	.tab-bar{
		margin: 5px 0 0 0;
		position: relative;
		top: 1px;
		z-index: 2;
	}

        #selectSite-navbar{
		overflow: hidden;
		margin: 0;
		padding: 0;
        }
}

ul#otherSitesMenu{
	margin: 0;
	@media #{$desktop}{
		float: right;
	}
	@media #{$phone}{
		margin-left: 5px;
	}
	display: inline-block;
	li{
		display: inline-block;
		a{
			@extend .button;
			@media #{$phone}{
				padding: 0.3em;
			}
		}
	}
}

#otherSitesCategorWrap{
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;

	.moresites-left-col{
 		display: inline-block;
		width: 49%;
		float: left;
		margin-right: 1%;
		@media #{$more-sites-single-column}{
			width: 100%;
			float: none;
		}
		.fav-sites-term:first-child h4{
			margin-top: 0;
		}
	}
	.moresites-right-col{
		display: inline-block;
		width: 49%;
		float: left;
		@media #{$more-sites-single-column}{
			width: 100%;
			float: none;
		}
		.fav-sites-term:first-child h4{
			margin-top: 0;
		}
	}
}



ul.otherSitesCategorList{
	li{
		display: inline-block;
		border: 1px solid darken( $background-color, 30% );
		background: darken( $background-color, 5% );
		@include border-radius( 4px );
		margin: 0.3em;
		padding: 0.1em 0.5em 0.1em 0.5em;
		a{
			@extend .userNav_link;
			font-weight: 700;
			&.toolMenus{
				display: inline-block;
			}
		}
		&.is-selected{
			border: 1px solid darken( $toolBorderColor, 30% );
		}
	}
}

#otherSiteSearch{
	display: block;

	@media #{$more-sites-single-column}{
		text-align: left;
		margin-bottom: 1em;
	}

	@media #{$desktop}{
		text-align: right;
	}

	label{
		color: $text-color;
	}

	margin: 1em 1em 0 0;

	#txtSearch{
		width: 18em;
		min-height: 2em;
	}

        .other-site-search-clear{
		position: relative;
		text-decoration: none;
	}

	.other-site-search-clear:before{
		position: relative;
		top: 1px;
		right: 25px;
		content: '\f057';
		font-family: 'FontAwesome';
		color: #ccc;
		font-size: 1.2em;
		line-height: 1.5em;
		text-align: right;
	}
}

.otherSiteToolIcon{
	padding-right: 0.5em;
}

ul#otherSiteTools{
	padding-bottom: 5px;

	li{
		padding: 0 0 5px 5px;
		font-family: $header-font-family;
		border: 0;
		display: block;

		a{
			color: $text-color;
			text-decoration: none;
		}

                .otherSiteToolIcon{
			display: inline-block;
                }

                .icon-sakai-see-all-tools{
			display: none;
		}
	}
}

ul.favoriteSiteList > li{
	display: block;
	border: 1px solid $toolBorderColor;
	@include border-radius( 4px );
	width: 305px;
	white-space: nowrap;
	overflow: hidden;
	margin: 0.3em;
	padding: 0.3em 0.5em 0.3em 0.5em;
}

.fav-title{
	width: 240px;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	a{
		@extend .userNav_link;
		font-weight: 700;
		vertical-align: middle;
	}
	&.toolMenus{
		display: inline-block;
	}
}

#organizeFavorites{
	padding-left: 1em;
	@media #{$phone}{
		.heading{
			display: none;
		}
	}
}

.tab-btn.organizeFavorites{
	.favorites-desktop{
		display: inline;
	}
	.favorites-mobile{
		display: none;
	}

	@media #{$phone}{
		.favorites-desktop{
			display: none;
		}
		.favorites-mobile{
			display: inline;
		}
	}
}

.organizeFavoritesList{
	.fav-drag-handle{
		display: inline-block;
		position: relative;
		right: -4px;
		color: $toolBorderColor;
		cursor: move; /* fallback if grab cursor is unsupported */
		cursor: grab;
		cursor: -moz-grab;
		cursor: -webkit-grab;

		@media #{$phone}{
			display: none;
		}
	}
	.fav-drag-handle:active{
		cursor: grabbing;
		cursor: -moz-grabbing;
		cursor: -webkit-grabbing;
	}
	.site-favorite-btn{
		padding-right: 0.5em;
	}
}

#organizeFavoritesPurgatoryList{
	.fav-drag-handle{
		display: none;
	}
	a{
		color: darken($background-color-secondary, 10%);
		.fullTitle{
			color: darken($background-color-secondary, 10%);
		}
	}
}

.site-nonfavorite{
	color: #CDCDCD;
}

.site-favorite{
	color: #F49D08;
}

.site-favorite-icon{
	font-size: 1.3em;
	display: inline-block;
	position: relative;
	top: 2px;
}

.my-workspace .site-favorite{
	color: #000;
}

.moresites-refresh-notification{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 13px;
	border: 1px solid $toolBorderColor;
	z-index: 1000;
	display: inline-block;

	-webkit-transition: background-color 0.2s, color 0.2s;
	-moz-transition: background-color 0.2s, color 0.2s;
	-ms-transition: background-color 0.2s, color 0.2s;
	-o-transition: background-color 0.2s, color 0.2s;
	transition: background-color 0.2s, color 0.2s;

	background-color: #f7e084;
	color: #000 !important;
	text-align: center;
	padding: 6px 8px;
	border-radius: 3px;
	text-decoration: none;

	a{
		color: $primary-color;
	}

	@media #{$phone}{
		display: none;
	}
}
