//////////////////////////////
// MODULES: Styles that are layout independent
//////////////////////////////

//@import "_loginUser_variables";
@import "../../base/buttons/_buttons";

.Mrphs- {

  &loginUser {
    display: table-cell;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;

    &__info {
      display: none;
    }

    &__menuitem {
      @extend %button-action;
      display: inline-block;
      margin: .5em;

      a {
        color: $button--light__color;

        &:hover,
        &:focus {
          border: none;
          text-decoration: none;
        }
      }
    }
  }
}