# UpgradeSchema Control File (Default)
# Conversion needs the database connection details

# Derby
#dbDriver=org.apache.derby.jdbc.EmbeddedDriver
#dbURL=jdbc:derby:target/testdb;create=true
#dbUser=sa
#dbPass=manager
#create.statement=create table test_blob_table ( id int, bdata blob )
#insert.statement=insert into test_blob_table (  bdata, id ) values ( ?,?)
#select.statement=select bdata from test_blob_table where id = ?
#drop.statement=drop table test_blob_table


#MYSQL
#dbURL=jdbc:mysql://127.0.0.1:3306/sakai22?useUnicode=true&amp;characterEncoding=UTF-8
#dbDriver=com.mysql.jdbc.Driver
#dbUser=sakai22
#dbPass=sakai22
#create.statement=create table test_blob_table ( id int, bdata longblob )
#insert.statement=insert into test_blob_table (  bdata, id ) values ( ?,?)
#select.statement=select bdata from test_blob_table where id = ?
#drop.statement=drop table test_blob_table


# Oracle
dbDriver=oracle.jdbc.OracleDriver
dbURL=jdbc:oracle:thin:@10.211.55.4:1521:ORCL
dbUser=SAKAI22
dbPass=SAKAI22
create.statement=create table test_blob_table ( id number, bdata blob )
insert.statement=insert into test_blob_table (  bdata, id ) values ( ?,?)
select.statement=select bdata from test_blob_table where id = ?
drop.statement=drop table test_blob_table

