.profile-popup {
    background-color: $tool-tab-background-color;
    width: 250px;

    .profile-popup-display-name {
        font-weight: bold;
        padding-bottom: 5px;
        font-size: larger;
    }
    .profile-popup-email {
        padding-bottom: 10px;
        font-weight: bold;
    }
    .profile-connection-button {
        background-color: $primary-color;

        .profile-popup-action-label {
            color: #fff;
            font-weight: bold;
            font-family: $font-family;
            font-size: smaller;
            padding-left: 5px;
        }
    }
}
