.profile-popup {
    background-color: $tool-tab-background-color;

    .profile-connection-button {
        background-color: $button-color-background-color;
        width: 100%;
        font-weight: bold;
        color: $button-color-text-color;
    }

    .profile-popup-table {
        display: table;
        width: 100%;
        text-align: center;
        .profile-popup-row {
            display: table-row;
            .profile-popup-cell {
                display: table-cell;
                padding: 10px;
            }
        }
    }
}
