<!-- resources/sakai_edit_text.vm, use with org.sakaiproject.tool.content.ResourcesHelperAction.java -->
<div class="portletBody specialLink">
	<h3>
		$tlang.getString("revise.text")
	</h3>
	#if ($itemAlertMessage)
		<div class="alertMessage">$tlang.getString("label.alert") $validator.escapeHtml($itemAlertMessage)</div>
		<div style="display:block;clear:both" ></div>
	#end
	<form name="addContentForm" id="addContentForm" method="post" action="#toolForm("ResourcesHelperAction")" >
		<input type="hidden" name="pipe-init-id" id="pipe-init-id" value="$!{pipe-init-id}" />
		<input type="hidden" name="requestStateId" id="requestStateId" value="$!{requestStateId}" />
		#if($!{item.isMissing("content")})
			<p class="longtext validation"  style="margin-bottom:1em">
		#else
			<p class="longtext"   style="margin-bottom:1em">
		#end
			<textarea name="content" id="content" rows="10" cols="60" wrap="virtual">$!validator.escapeHtmlTextarea($!{pipe.contentstring})</textarea>
		</p>
		#if ($hasNotificationDialog)
			#if($item.isDropbox())
				## SAK-18932 show email checkbox only when possible to use it
				#if($dropboxNotificationAllowed)
					<p class="act">
						<input type="checkbox" name="notify_dropbox" id="notify_dropbox" value="true" /> 
						<label for="notify_dropbox">
							#if($model.isCourseSite())
								#if($model.userIsMaintainer())
									$tlang.getString("notify.student")
								#else
									$tlang.getString("notify.instructor")
								#end
							#else
								#if($model.userIsMaintainer())
									$tlang.getString("notify.access")
								#else
									$tlang.getString("notify.maintain")
								#end
							#end
						</label>
					</p>
				#end
			#elseif($item.isUserSite())
			#else
				<p class="shorttext">
					<label for="notify">
						$tlang.getString("gen.email1")
					</label>	
					<select name="notify" id="notify">
						#if ($noti)
							<option value="r" #if($noti=="r") selected="selected" #end>$tlang.getString("gen.email2")</option>
							<option value="o" #if($noti=="o") selected="selected" #end>$tlang.getString("gen.email3")</option>
							<option value="n" #if($noti=="n") selected="selected" #end>$tlang.getString("gen.email4")</option>
						#else
							<option value="r">$tlang.getString("gen.email2")</option>
							<option value="o">$tlang.getString("gen.email3")</option>
							<option value="n" selected="selected">$tlang.getString("gen.email4")</option>
						#end							
					</select>
				</p>	
			#end
		#end
		<p class="act">
			<input type="button" class="active" name="savechanges" id="saveChanges" onclick="showNotif('submitnotifxxx','saveChanges','addContentForm');document.getElementById('addContentForm').action='#toolLink("ResourcesHelperAction" "doContinue")';submitform('addContentForm');" value="$tlang.getString("label.continue")" accesskey="s" />
			<input type="button" name="cancel" onclick="document.getElementById('addContentForm').action='#toolLink("ResourcesHelperAction" "doCancel")';submitform('addContentForm');" value="$tlang.getString("label.cancel")"  accesskey="x" />
			<span id="submitnotifxxx"  class="messageProgress"  style="visibility:hidden">$tlang.getString("processmessage.save.text")</span>
		</p>
		<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
	</form>
</div>
<script type="text/javascript">
	<!--
	function submitform(id)
	{
		var theForm = document.getElementById(id);
		if(theForm && theForm.onsubmit)
		{
			theForm.onsubmit();
		}
		if(theForm && theForm.submit)
		{
			theForm.submit();
		}
	}
	-->
</script>
