<!-- resources/sakai_create_uploads.vm, use with org.sakaiproject.tool.content.ResourcesHelperAction.java -->
<div class="portletBody specialLink">
	<h3>
		$tlang.getString("create.url")
	</h3>
	#if ($itemAlertMessage)
		<div class="alertMessage">$tlang.getString("label.alert") $validator.escapeHtml($itemAlertMessage)</div>
		<div style="display:block;clear:both" ></div>
	#end
	<ol class="breadcrumb">
		<li><span>
		$tlang.getString("gen.location")
		</span></li>
		##<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0"  alt="$tlang.getString("gen.folder")" />
		#foreach ($folder in $model.collectionPath)
			<li><span>$validator.escapeHtml($folder.name)</span></li>
		#end
	</ol>

	<p class="instruction">
		$tlang.getString("instr.urls")
	</p>
	#if($ezproxyPrefix) 
	  <p class="instruction">
	    $tlang.getString("instr.ezproxy")
	  </p>
	#end

	<form name="addContentForm" id="addContentForm" method="post" action="#toolForm("ResourcesHelperAction")"  enctype="multipart/form-data">
		<input type="hidden" name="pipe-init-id" id="pipe-init-id" value="$!{pipe-init-id}" />
		<input type="hidden" name="requestStateId" id="requestStateId" value="$!{requestStateId}" />
		<input type="hidden" name="fileCount" id="fileCount" value="$pipes.size()" />
		#set($lastIndex = $pipes.size() - 1)
		<input type="hidden" name="lastIndex" id="lastIndex" value="$lastIndex" />
		<div id="fileInputDiv" style="outline 1px solid red;">
			#set($i = -1)
			#foreach($pipe in $pipes)
				
				#set($prev = $i)
				#set($i = $i + 1)
				#set($next = $i + 1)
				
				<div id="contentDiv${DOT}$i" class="well">
					<input type="hidden" name="exists${DOT}$i" id="exists${DOT}$i" value="true" />
					<input type="hidden" name="extension${DOT}$i" id="extension${DOT}$i" value=".URL" />
					<div class="form-group">
						<label for="content${DOT}$i">$tlang.getString("label.urls")</label>
						## TODO add onchange event handler to seed file-name into displayName field
						<input type="text" name="content${DOT}$i" id="content${DOT}$i" class="form-control" maxlength="512"/>
						#if($ezproxyPrefix)
						  <a class="indnt2" href="#" id="ezproxyTrigger${DOT}$i" title="$tlang.getString("label.ezproxy")">$tlang.getString("label.ezproxy")</a>
						#end
					</div>
					<div class="form-group">
						<label for="displayName${DOT}$i">$tlang.getString("label.website")</label> 
						<input type="text" id="displayName${DOT}$i" name="displayName${DOT}$i" class="form-control" maxlength="512"/> 
						<a href="#" id="propsTrigger${DOT}$i">$tlang.getString("edit.show")</a>
						<a class="remove" style="display: none" href="#" id="removeTrigger${DOT}$i" title="$tlang.getString("edit.remove")" >
							<img src="#imageLink("sakai/cross.png")" alt="x" />
						</a>
						<input type="hidden" id="prev${DOT}$i" name="prev${DOT}$i" value="#if($prev >= 0)${prev}#end" />
						<input type="hidden" id="next${DOT}$i" name="next${DOT}$i" value="#if($next < $pipes.size())${next}#end" />
					</div>
					<div id="propertiesDiv${DOT}$i" style="display:none;">
						#parse("/vm/resources/sakai_properties.vm")
						<hr class="itemSeparator" />
					</div>

				</div>
			#end
		</div>
		<!-- Disabled - See SAK-31520
		<p><a href="#" onclick="addFileInput();return false">$tlang.getString("label.addurl")</a><br></p>
		-->

		#if ($model.resourceTypeDef.hasNotificationDialog())
			#if($model.isDropbox())
			    ## SAK-18932 show email checkbox only when possible to use it
				#if($dropboxNotificationAllowed)
					<p class="act">
						<input type="checkbox" name="notify_dropbox" id="notify_dropbox" value="true" /> 
						<label for="notify_dropbox">
							#if($model.isCourseSite())
								#if($model.userIsMaintainer())
									$tlang.getString("notify.student")
								#else
									$tlang.getString("notify.instructor")
								#end
							#else
								#if($model.userIsMaintainer())
									$tlang.getString("notify.access")
								#else
									$tlang.getString("notify.maintain")
								#end
							#end
						</label>
					</p>
				#end
			#elseif($model.isUserSite())
			#else
				<div class="form-group">
					<label for="notify">
						$tlang.getString("gen.email1")
					</label>	
					<select name="notify" id="notify" class="form-control">
						<option value="r">$tlang.getString("gen.email2")</option>
						<option value="o">$tlang.getString("gen.email3")</option>
						<option value="n" selected="selected">$tlang.getString("gen.email4")</option>
					</select>
				</p>	
			#end
		#end
		
		<p class="act">
			<input type="button" class="active" name="savechanges" id="saveChanges" onclick="showNotif('submitnotifxxx','saveChanges','addContentForm');document.getElementById('addContentForm').action='#toolLink("ResourcesHelperAction" "doAddUrls")&flow=save';submitform('addContentForm');" value="$tlang.getString("label.urlnow")" accesskey="s" />
			<input type="button" name="cancel" onclick="document.getElementById('addContentForm').action='#toolLink("ResourcesHelperAction" "doCancel")';submitform('addContentForm');" value="$tlang.getString("label.cancel")" accesskey="x" />
			<span id="submitnotifxxx"  class="messageProgress"  style="visibility:hidden">$tlang.getString("processmessage.url")</span>
		</p>
		<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
	</form>
</div>
#parse("/vm/resources/sakai_properties_scripts.vm")
