<!-- beginning of sakai_properties.vm (loop counter: $i) -->
<div id="propertiesDiv$i" class="descriptionDiv">
	<p class="shorttext">
		<label for="description$i">
			$tlang.getString("edit.descr") 
		</label>
		<textarea id="description$i" name="description$i" rows="5" cols="80" wrap="virtual"></textarea>
	</p>
	#if($item.resourceTypeDef.hasRightsDialog()) 
		#if ($!copyrightTypes)
			<p class="shorttext">
				<span class="reqStar">*</span>
				<label for="copyright$i">
					$tlang.getString("cright.status")
				</label>	
				<select name="copyright$i" id ="copyright$i" onchange="javascript:updateCopyright(this, '$i');">
					#foreach ($copyright in $copyrightTypes)
						<option value="$copyright"#if($item.copyrightStatus == $copyright) selected="selected"#end>$copyright</option>
					#end
				</select>
				#if ($!fairuseurl)
					(<a href="$fairuseurl" target="_blank" title="[$tlang.getString('cright.newwin')]"><span class="skip"> [$tlang.getString('cright.newwin')]</span>$tlang.getString("cright.fairuse")</a>)
				#end
			</p>
			<div id="copyright_status$i">
				#if($item.copyrightStatus == $USE_THIS_COPYRIGHT)
					<p class="shorttext">
						<span class="reqStar">*</span>
						<label for="newcopyright">
							$tlang.getString("cright.info")
						</label>	
						<textarea name="newcopyright$i" id="newcopyright$i" rows="2" cols="40" wrap="virtual" >$validator.escapeHtmlTextarea("$!item.copyrightInfo")</textarea>
					</p>	
				#else
					<input type="hidden" name="newcopyright$i" id="newcopyright$i" value="$!item.copyrightInfo" />
				#end
			</div>
			<table border="0">
				<tr>
					<td style="width:180px;padding-left:1em;vertical-align:top">
						<label for="copyrightAlert$i">
							$tlang.getString("cright.alert")
						</label>
					</td>
					<td style="vertical-align:top">
						<input type="checkbox" name="copyrightAlert$i" id ="copyrightAlert$i" value="true" #if($item.hasCopyrightAlert())checked="checked"#end style="border:none" />
						$tlang.getString("cright.display") 
						(<a href="#" onclick="javascript:openSampleCopyrightWindow();"   title="[$tlang.getString('cright.newwin')]"><span class="skip">[$tlang.getString('cright.newwin')]</span>$tlang.getString("cright.show")</a>)
					</td>
				</tr>
			</table>
		#end
	#end
#*	
	<p class="shorttext">
		<label for="copyright">
			$tlang.getString("edit.cstatus")
		</label>	
		<select name="copyright$i" id="copyright$i" onchange="javascript:updateCopyright(this,'copyright_status$i');">
			#foreach ($copyright in $copyrightTypes)
				<option value="$copyright"#if($item.copyrightStatus == $copyright) selected="selected"#end>$copyright</option>
			#end
		</select>
		## TODO 
		(<a href="http://fairuse.stanford.edu" target="_blank" title="[New window]"> <span class="skip">[New window]</span> more info</a>)
	</p>
	<div id="copyright_status$i">
		<input name="newcopyright$i" id="newcopyright$i" value="" type="hidden">
	</div>
	<p class="shorttext">
		<label for="copyrightAlert">
			$tlang.getString("edit.calert")
		</label>
		## TODO id the stayle attribute needed in the following??
		<input name="copyrightAlert$i" id="copyrightAlert$i" value="true" style="border: medium none ;" type="checkbox">
		$tlang.getString("edit.display")
		(<a href="#" onclick="javascript:openSampleCopyrightWindow();" title="[$tlang.getString("edit.newwin")]"><span class="skip">[$tlang.getString("edit.newwin")]</span> $tlang.getString("edit.what")</a>)
	</p>
*#
	<p class="instruction">$tlang.getString("edit.who")</p>
	######### begin access section ##########
	## Should initial access to this resource or collection be determined
	## for "site" (standard sakai permissions), "grouped" or "public"?
	## do not show any access options if in dropbox
	#if(!$dropboxMode)
		#set ($listDisplay="none")
		## show access options only if public view is allowed or there are groups in the site
		#if($item.isPubviewInherited())
			<h4>$tlang.getString("access.title2")</h4>
			<input type="hidden" name="access_mode" id="access_mode_hidden" value="$INHERITED_ACCESS" />
		#elseif($item.isSingleGroupInherited())
			<h4>$item.singleGroupTitle</h4>
			<input type="hidden" name="access_mode" id="access_mode_hidden" value="$INHERITED_ACCESS" />
		#elseif($item.isSiteOnly())
			<h4>$tlang.getString("access.title3")</h4>
			<input type="hidden" name="access_mode" id="access_mode_hidden" value="$INHERITED_ACCESS" />
		#elseif(!$item.isSitePossible())
			<h4>$tlang.getString("access.title5")</h4>
			#set ($listDisplay="block")
		#else
			<div  class="labelindnt">
				#if($item.isPubviewPossible())
					<p class="checkbox">
						<input type="radio" name="access_mode" id="access_mode_public" value="public" #if($!item.isPubview()) checked="checked"#end  style="border:none" onclick="javascript:document.getElementById('groupTable').style.display='none';"  />
						<label for="access_mode_public">$tlang.getString("access.public2")</label>
					</p>
				#end
				<p class="checkbox">
					<input type="radio" name="access_mode" id="access_mode_$INHERITED_ACCESS" value="$INHERITED_ACCESS" #if(!$item.isPubview() && ("$!item.access" == "$SITE_ACCESS" || "$!item.access" == "$INHERITED_ACCESS")) checked="checked"#end  style="border:none" onclick="javascript:document.getElementById('groupTable').style.display='none';"  />
					<label for="access_mode_site">$tlang.getString("access.site2")</label>
				</p>
				
				#if($item.isGroupPossible())
					#if("$!item.access" == "$GROUP_ACCESS")
						#set ($listDisplay="block")
					#else
						#set ($listDisplay="none")
					#end
					<p class="checkbox">
						<input type="radio" name="access_mode" id="access_mode_$GROUP_ACCESS" value="$GROUP_ACCESS" #if("$!item.access" == "$GROUP_ACCESS") checked="checked"#end  style="border:none" onclick="javascript:document.getElementById('groupTable').style.display='block';"  />
						<label for="access_mode_$GROUP_ACCESS">$tlang.getString("access.group4")</label>
					</p>
				#end
			</div>
		#end
		#if($item.isGroupPossible())
			<table id="groupTable" class="listHier lines labelindnt" border="0" style="width:80%;display:$listDisplay" cellspacing="0" summary="$tlang.getString("edit.group3")">
				<caption class="skip" style="display:none">$tlang.getString("edit.access4")</caption>
				<tr>
					<th id="selectAllGroups" style="width:2em;padding-left:.4em">
						<input type="checkbox" id="selectall" title="toggle select all" onclick="javascript:toggleSelectAll(this, 'access_groups')"  />
					</th>
					<th id="groupname">
						$tlang.getString("edit.group1")
					</th>
					<th id ="groupdescription">
						$tlang.getString("edit.group2")
					</th>
				</tr>
				#set($theGroups = $item.possibleGroups)
				#foreach ($group in $!{theGroups})
					#if($item.isPossible($group))
						<tr>
							<td headers="selected" style="padding-bottom:0;" style="width:2em">
								#if($item.allowedRemove($group))
									<input type="checkbox" name="access_groups" id="access_groups_$group.Id" title="$group.title" value="$group.Id" #if($item.isLocal($group) || $item.isGroupInherited()) checked="checked"#end />
								#else
									<img src="#imageLink("sakai/checkon.gif")" border="0" width="17" height="13" align="top" />
								#end
							</td>
							<td headers="name" style="padding-bottom:0;" class="checkbox">
								<label for="access_groups_$group.Id">
									$group.Title
								</label>	
							</td>
							<td headers="description" width="100%"> ##mozilla does not resize table children dynamically , so set here
								#set($description = "")
								#if($group.Description)
									#set($description = $group.Description)
								#end
								$!description
							</td>
						</tr>
					#end
				#end
			</table>
		#end
	#end
	######### end access section ##########

	######### begin availability section ##########
	#if($availability_is_enabled && !$item.isInWorkspace() && !$dropboxMode)
		<p class="instruction">
			$tlang.getString("instr.access") 
		</p>
		<h4>$tlang.getString("avail.title")</h4>
		<div  class="labelindnt">
			<table>
				<tr>
					<td>
						<input type="radio" name="hidden$i" id="hidden_false$i" value="false" #if(!$item.isHidden())checked="checked" #end/>
					</td>
					<td colspan="4">
						<label for="hidden_false$i">
							$tlang.getString("avail.show1")
						</label>
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>
						<input type="checkbox" name="use_start_date$i" id="use_start_date$i" value="true" #if($item.useReleaseDate())checked="checked" #end/>
					</td>
					<td colspan="3">
						<label for="use_start_date$i">
							$tlang.getString("avail.start1")
						</label>
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>
					</td>
					<td>
					</td>
					<td>
						<label for="release_year$i">$tlang.getString("label.date")</label>
					</td>
					<td>
						<label for="release_hour$i">$tlang.getString("label.time")</label>
					</td>
				</tr>
				#set($yearX = $item.releaseDate.breakdownLocal().year)
				#set($year0 = $yearX - 4)
				#set($yearN = $yearX + 4)
				#set($monthX = $item.releaseDate.breakdownLocal().month)
				#set($dayX = $item.releaseDate.breakdownLocal().day)
				<tr>
					<td>
					</td>
					<td>
					</td>
					<td>
					</td>
					<td>
						#custom_dateselectionwidget("release_year$i" "release_month$i" "release_day$i" $year0 $yearN $yearX $monthX $dayX "document.getElementById('hidden_true').checked=false;document.getElementById('hidden_false$i').checked=true;document.getElementById('use_start_date$i').checked=true;")
					</td>
					<td>
						#custom_timeSelectionWidget("release$i" $item.releaseDate "document.getElementById('hidden_true$i').checked=false;document.getElementById('hidden_false$i').checked=true;document.getElementById('use_start_date$i').checked=true;")
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>
						<input type="checkbox" name="use_end_date$i" id="use_end_date$i" value="true" #if($item.useRetractDate())checked="checked" #end/>
					</td>
					<td colspan="4">
						<label for="use_end_date$i">
							$tlang.getString("avail.end1")
						</label>
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>
					</td>
					<td>
					</td>
					<td>
						<label for="retract_year$i">Date:</label>
					</td>
					<td>
						<label for="retract_time$i">Time:</label>
					</td>
				</tr>
				#set($yearX = $item.retractDate.breakdownLocal().year)
				#set($year0 = $yearX - 4)
				#set($yearN = $yearX + 4)
				#set($monthX = $item.retractDate.breakdownLocal().month)
				#set($dayX = $item.retractDate.breakdownLocal().day)
				<tr>
					<td>
					</td>
					<td>
					</td>
					<td>
					</td>
					<td>
						#custom_dateselectionwidget("retract_year$i" "retract_month$i" "retract_day$i" $year0 $yearN $yearX $monthX $dayX "document.getElementById('hidden_true$i').checked=false;document.getElementById('hidden_false$i').checked=true;document.getElementById('use_end_date$i').checked=true;")
					</td>
					<td>
						#custom_timeSelectionWidget("retract" $item.retractDate "document.getElementById('hidden_true$i').checked=false;document.getElementById('hidden_false$i').checked=true;document.getElementById('use_end_date$i').checked=true;")
					</td>
				</tr>
				<tr>
					<td>
						<input type="radio" name="hidden$i" id="hidden_true$i" value="true" #if($item.isHidden())checked="checked" #end/>
					</td>
					<td colspan="4">
						<label for="hidden_true$i">
							$tlang.getString("avail.hide1")
						</label>
					</td>
				</tr>
			</table>
		</div>
	#end
	######### end availability section ##########	
	<hr class="itemSeparator" />
</div>
<!-- end of sakai_properties.vm (loop counter: $i) -->
	