//////////////////////////////
// MODULES: Styles that are layout independent 
//////////////////////////////

@import "_toolTitleNav_variables";
@import "../content/_content_variables";

.Mrphs- {

  &container--toolTitleNav { 
    display: table;
    width: 100%;
    background: $tools__background;
    
    a {
      
      &:hover, 
      &:focus {
        border: none;
        text-decoration: none;
      }
    }

    h2 {
      @extend %break-word;
    }
    
    @include respond-to('full navigation') {
      border-top: .5em $toolTitleNav__border-top--color solid;
    
      h2 {
        padding: 0 0 0 .5em;
        margin: 0;
      }
    }

    @include respond-to('narrow navigation') {

      border-top: .25em $toolTitleNav__border-top--color solid;

      h2 {
        padding: .25em 0 0 .5em;
        margin: 0;
        line-height: 1.2em;
      }
    }

    > .Mrphs-toolTitleNav__link {
     width: 5%;
     max-width: 2em;
     text-align: right;

     &:after  {
       font-size: 1.5em;
     }
   }
  }

   &toolTitleNav__title {
    padding: 0 0 0 .5em;
    margin: 0
  }

  &toolTitleNav__title,
  &toolTitleNav__link {
    display: table-cell;
  }

  &directUrl__dropDown {
    display: none;
  }
}

.portletBody {
  padding: 0 1em;
}

.portlet-main {
  border-bottom: 1em $main__background solid; // creates a fake bottom margin between tools. Needs to blend with the background so it's the same color
}

@include generate-icons($toolTitleNav-icons, after, '.Mrphs-toolTitleNav__link--', 'ico-font-icons');