##
##                    m.put("isPage",Boolean.valueOf(true));
##                    m.put("current", Boolean.valueOf(current));
##                    m.put("ispopup", Boolean.valueOf(p.isPopUp()));
##                    m.put("pagePopupUrl", pagePopupUrl);
##                    m.put("pageTitle", Web.escapeHtml(p.getTitle()));
##                    m.put("jsPageTitle", Web.escapeJavascript(p.getTitle()));
##                    m.put("pageId", Web.escapeUrl(p.getId()));
##                    m.put("jsPageId", Web.escapeJavascript(p.getId()));
##                    m.put("pagerefUrl", pagerefUrl);
##
##                    m.put("isPage",Boolean.valueOf(false));
##                    m.put("toolId", Web.escapeUrl(placement.getId()));
##                    m.put("jsToolId", Web.escapeJavascript(placement.getId()));
##                    m.put("toolTitle", Web.escapeHtml(placement.getTitle()));
##                    m.put("jsToolTitle", Web.escapeJavascript(placement.getTitle()));
##                    m.put("toolrefUrl", toolrefUrl);
##
#start_response()
<!-- portlet.vm -->
<div class="portlet">
        <a href="${portalTopUrl}" title="need title here">Sites</a> 
#if ($currentSite)
         -> <a href="${currentSite.siteUrl}" title="${currentSite.siteTitle}">
<span>${currentSite.siteTitle}</span></a>
#end
#if ($currentPlacement)
         -> <a href="${currentPlacement.toolResetActionUrl}" target="${currentPlacement.toolPlacementIDJS}"
               >${currentPlacement.toolTitle}</a>
#end
#if (${currentPlacement.toolShowHelpButton})
             &nbsp;(<a accesskey="h" href="${currentPlacement.toolHelpActionUrl}" title="${sitHelp}"
                target="_blank" onclick="openWindow('${currentPlacement.toolHelpActionUrl}', 'Help',
                'resizable=yes,toolbar=no,scrollbars=yes,menubar=yes,width=800,height=600'); return false">?</a>)
#end
#if ($currentPlacement)
#includeToolBody ( $currentPlacement )
#else
#if ($currentSite)
<ul>
#foreach ( $page in $pageNavTools ) 
#if ($page.isPage)
## This must be a popup - so we treat it as a popup
<li><a href="javascript:;" onclick="window.open('${page.pagePopupUrl}${page.pageId}','${page.jsPageTitle}','resizable=yes,toolbar=no,scrollbars=yes, width=800,height=600')">
${page.pageTitle}</a></li>
#else
<li><a href="${page.toolrefUrl}" title="${page.toolTitle}">${page.toolTitle}</a>
#end
#end
</ul>
#else
<ul>
#foreach ( $site in $allSites ) 
  <li><a href="${site.siteUrl}" title="${site.siteTitle}">
  <span>${site.siteTitle}</span>
  </a></li>
#end 
</ul>
#end
#end
#if ($currentSite)
#if (${pageNavShowPresenceLoggedIn})
<div class="portletpresence" id="portletletprecense" >
                <div class="portletpresencewrapper" id="portletpresencewrapper">
                        <div id="presenceTitle">${pageNavSitPresenceTitle}</div>
                        <iframe name="presenceIframe" id="presenceIframe" title="${pageNavSitPresenceTitle}"
                                frameborder="0" marginwidth="0" marginheight="0" scrolling="auto" src="${pageNavPresenceUrl}" >
                        </iframe>
                </div>
</div>
<script>
function togglePresence()
{
    if ( window.document.getElementById('portletpresencewrapper').style.visibility == 'hidden' ) {
	showPresence();
    } else {
	hodePresence();
    }
}

function showPresence()
{
	window.document.getElementById('portletpresencewrapper').style.visibility = 'visible';
}

function hidePresence()
{
	window.document.getElementById('portletpresencewrapper').style.visibility = 'hidden';
}
</script>
<div class="portletpresencebutton" >
<a href-"#" onMouseOver="showPresence();" onMouseOut="hidePresence();">Users Present</a>
</div>
#end
#end
</div>
<!-- end portlet.vm -->
#end_response()
