<?xml version="1.0"?>

<!-- Upgraded to Servlet Spec 2.4 - PAFH 8/24/2006 -->
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 
    <display-name>messageforums</display-name>
    <description>Sakai Message Forums</description>
    <context-param>
    	<!-- Changed ordering - PAFH 8/24/2006 -->
        <description> Set this flag to true if you want the JavaServer 
                      Faces Reference Implementation to validate the
                      XML in your faces-config.xml resources against 
                      the DTD. Default value is false. </description>
        <param-name>com.sun.faces.validateXml</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
    	<!-- Changed ordering - PAFH 8/24/2006 -->
        <description> Set this flag to true if you want the JavaServer 
                      Faces Reference Implementation to verify that all
                      of the application objects you have configured (components, 
                      converters, renderers, and validators) can be successfully 
                      created. Default value is false. </description>
        <param-name>com.sun.faces.verifyObjects</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/local.xml</param-value>
    </context-param>
    
    <!-- Sakai Request Filter -->
    <filter>
        <filter-name>sakai.request</filter-name>
        <filter-class>org.sakaiproject.util.RequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sakai.request</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
	
	<!--  Message Forums File Picker Filter -->
    <filter>
        <filter-name>org.sakaiproject.util.RequestFilter</filter-name>
        <filter-class>org.sakaiproject.util.RequestFilter</filter-class>
        <init-param>
            <param-name>upload.enabled</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>org.sakaiproject.util.RequestFilter</filter-name>
        <servlet-name>sakai.messagecenter</servlet-name>
        <dispatcher>REQUEST</dispatcher> 
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
 
	<!-- filter for synoptic tool -->       
    <filter-mapping>
        <filter-name>org.sakaiproject.util.RequestFilter</filter-name>
        <servlet-name>sakai.synoptic.messagecenter</servlet-name>
        <dispatcher>REQUEST</dispatcher> 
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
       
   <!--  filter for just Messages -->
   <filter-mapping>
        <filter-name>org.sakaiproject.util.RequestFilter</filter-name>
        <servlet-name>sakai.messages</servlet-name>
        <dispatcher>REQUEST</dispatcher> 
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
 
   <!--  filter for just Forums -->
   <filter-mapping>
        <filter-name>org.sakaiproject.util.RequestFilter</filter-name>
        <servlet-name>sakai.forums</servlet-name>
        <dispatcher>REQUEST</dispatcher> 
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
 
 	<!-- filter for synoptic tool -->       
    <filter-mapping>
        <filter-name>org.sakaiproject.util.RequestFilter</filter-name>
        <servlet-name>sakai.messagecenter.helper</servlet-name>
        <dispatcher>REQUEST</dispatcher> 
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
        
    <!-- Faces Servlet -->
    <!-- 
    <servlet>
        <servlet-name>sakai.messagecenter</servlet-name>
        <servlet-class>org.sakaiproject.jsf.util.JsfTool</servlet-class>
        <init-param>
            <param-name>default</param-name>
            <param-value>main</param-value>
        </init-param>
        <init-param>
            <param-name>path</param-name>
            <param-value>/messageforums</param-value>
        </init-param>
        <init-param>
            <param-name>default.last.view</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    -->

	<!-- Dispatcher for Messages tool -->    
    <servlet>
        <servlet-name>sakai.messages</servlet-name>
 	    <servlet-class>org.sakaiproject.tool.messageforums.MessageForumsFilePickerServlet</servlet-class>
        <init-param>
            <param-name>default</param-name>
            	<param-value>privateMsg/pvtMsgHpView</param-value>
        </init-param>
        <init-param>
            <param-name>path</param-name>
            <param-value>/jsp</param-value>
        </init-param>
        <init-param>
            <param-name>default.last.view</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
	<!-- Dispatcher for Forums tool -->    
    <servlet>
        <servlet-name>sakai.forums</servlet-name>
 	    <servlet-class>org.sakaiproject.tool.messageforums.MessageForumsFilePickerServlet</servlet-class>
        <init-param>
            <param-name>default</param-name>
            	<param-value>discussionForum/forumsOnly/dfForums</param-value>
        </init-param>
        <init-param>
            <param-name>path</param-name>
            <param-value>/jsp</param-value>
        </init-param>
        <init-param>
            <param-name>default.last.view</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
	<!-- Dispatcher for synpotic tool -->    
    <servlet>
        <servlet-name>sakai.synoptic.messagecenter</servlet-name>
        <servlet-class>org.sakaiproject.jsf.util.JsfTool</servlet-class>
        <init-param>
            <param-name>default</param-name>
            	<param-value>wait</param-value>
        </init-param>
        <init-param>
            <param-name>path</param-name>
            <param-value>/jsp/synoptic</param-value>
        </init-param>
        <init-param>
            <param-name>default.last.view</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
	<!-- Dispatcher for helper tool -->    
    <servlet>
        <servlet-name>sakai.messageforums.helper</servlet-name>
        <servlet-class>org.sakaiproject.tool.messageforums.MessageForumsFilePickerServlet</servlet-class>
        <init-param>
            <param-name>default</param-name>
            <param-value>pvtMsg</param-value>
        </init-param>
        <init-param>
            <param-name>path</param-name>
            <param-value>/jsp</param-value>
        </init-param>
        <init-param>
            <param-name>default.last.view</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    
    <!-- Faces Servlet -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

	<!--  Message Forums File Picker Servler -->
    <servlet>
      <servlet-name>sakai.messagecenter</servlet-name>
       <!--<servlet-class>org.sakaiproject.jsf.util.JsfTool</servlet-class>-->
     <servlet-class>org.sakaiproject.tool.messageforums.MessageForumsFilePickerServlet</servlet-class>
        <init-param>
            <param-name>path</param-name>
            <param-value>/jsp</param-value>
        </init-param>
        <init-param>
            <param-name>default</param-name>
            <param-value>main</param-value>
        </init-param>
        <init-param>
            <param-name>default.last.view</param-name>
            <param-value>true</param-value>
        </init-param>
    	<!-- Changed ordering - PAFH 8/24/2006 -->
        <load-on-startup>2</load-on-startup>
    </servlet>
    
    
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    
    <!-- Sakai Listeners -->
    <listener>
        <listener-class>org.sakaiproject.util.ToolListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.sakaiproject.util.SakaiContextLoaderListener</listener-class>
    </listener>
</web-app>
