citations-api/api/.classpath
citations-api/api/.project
citations-api/api/.settings/
citations-impl/impl/.classpath
citations-impl/impl/.project
citations-impl/impl/.settings/
citations-impl/pack/.classpath
citations-impl/pack/.project
citations-impl/pack/.settings/
citations-osid/web2bridge/.classpath
citations-osid/web2bridge/.project
citations-osid/web2bridge/.settings/
citations-osid/xserver/.classpath
citations-osid/xserver/.project
citations-osid/xserver/.settings/
citations-servlet/servlet/.classpath
citations-servlet/servlet/.project
citations-servlet/servlet/.settings/
citations-tool/tool/.classpath
citations-tool/tool/.project
citations-tool/tool/.settings/
citations-util/util/.classpath
citations-util/util/.project
citations-util/util/.settings/
