<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Grab the learner information from Sakai -->
	<bean id="org.sakaiproject.scorm.service.api.LearningManagementSystem"
		class="org.sakaiproject.scorm.service.sakai.impl.MockLearningManagementSystem">
	</bean>

	<!-- Mock entity provider to enable tests to run -->
	<bean id="org.sakaiproject.scorm.entity.ScormEntityProvider" 
		class="org.sakaiproject.scorm.entity.MockScormEntityProviderImpl">
	</bean>

	<!-- Mock SCS to enable tests to run -->
	<bean id="org.sakaiproject.component.api.ServerConfigurationService"
		class="org.sakaiproject.scorm.service.sakai.impl.MockServerConfigurationService">
	</bean>
</beans>
