//Portal grid
/*
  In Mobile view (xxs + xs + sm breakpoints) all grid areas are stacked on top of each other and
  "mobilebar" is included additionally. For wider devices paBanner, jumpLinks and header areas
  occupy the whole width, while sidebar shares space with mainContainer. The mainContainer area
  is jsut a small grid itself including the rendered tool and the footer. 
*/
.portal-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto var(--portal-header-height) 1fr var(--portal-header-height);
  grid-template-areas:
      "paBanner"
      "jumpLinks"
      "header"
      "mainContainer"
      "mobilebar";
}

@include media-breakpoint-up(md) {

  .portal-container {
    grid-template-columns: var(--portal-nav-sidebar-width) 1fr;
    grid-template-rows: auto auto var(--portal-header-height) 1fr;
    grid-template-areas:
        "paBanner paBanner"
        "jumpLinks jumpLinks"
        "header header"
        "sidebar mainContainer";
    &.sidebar-collapsed {
      grid-template-areas:
          "paBanner paBanner"
          "jumpLinks jumpLinks"
          "header header"
          "mainContainer mainContainer";
    }
  }
  #portal-nav-sidebar {
    visibility: visible;
    box-shadow: none;
    transform: none;
    &.sidebar-collapsed {
      display: none;
    }
    a {
      text-decoration: none;
    }
  }
  .portal-jump-links {
    padding-left: var(--portal-nav-sidebar-width);
  }
}

.portal-pasystem {
  grid-area: paBanner;
}
.portal-header {
  grid-area: header;
  background-color: var(--top-header-background);
}

.portal-header-breadcrumb-separator, .portal-header-breadcrumb-item > a {
  font-size: 16px;
  color: var(--sakai-text-color-inverted) !important;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.portal-header-breadcrumb-separator {
  font-size: 14px;
}

#header-site-title {
  padding-bottom: 2px;

  > a {
    font-size: 20px;
  }
}

/* 
 * WARNING: This CSS uses deprecated properties because there's currently no alternative way
 * to achieve multi-line text truncation. 
 * These properties are:
 * - display: -webkit-box;
 * - -webkit-line-clamp: 2;
 * - -webkit-box-orient: vertical;
 * 
 * These may break in future browser versions, so monitor this and update if a more standardized 
 * approach becomes available.
 */
 @media (min-width: 767px) {
  .sidebar-site-title {
    width: 128px;
    display: -webkit-box;  /* Deprecated, but necessary for multi-line text truncation */
    -webkit-line-clamp: 2; /* Deprecated, but necessary for multi-line text truncation */
    line-clamp: 2;
    -webkit-box-orient: vertical;  /* Deprecated, but necessary for multi-line text truncation */
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    text-overflow: ellipsis;
    max-height: 47px; /* Fallback: Setting max-height as a fallback measure */
  }
}

@media #{$phone} {
  .sidebar-site-title {
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
  }
}

// Responsive header for mobile
@media (max-width: 767px) {
  .portal-header {
    background-color: rgba(var(--bs-primary-rgb), 1.0) !important;
    justify-content: space-between !important;
  }
}

@media screen and (max-width: 560px) {
  .portal-header-logo img {
    width: 26vw;
    height: auto;
  }
}

#sakai-system-indicators {

  button {
    color: #fff;
    margin: 0px 3px;
    i {
      font-size: 22px;
    }
  }

  .sakai-accountProfileImage {
    width: 40px;
  }
}

.portal-main-content {
  grid-area: main;
}

.portal-main-container {
  grid-area: mainContainer;
  display: grid;
  grid-template-areas: 
      "main"
      "footer";
  grid-template-rows: 1fr auto;
  align-content: space-between;
  overflow-x: auto;
  overflow-y: auto;
}

#sakai-account-panel {
  #sakai-profile-image-block > button {
    border: 1px transparent;
    #sakai-profile-image-change {
        display: none;
    }
    &:hover, &:focus {
      #sakai-profile-image-change {
          display: block;
      }
    }
    &:focus {
      outline: 1px solid;
    }
  }
}

.offcanvas {
  background-color: var(--sakai-background-color-2);
  .offcanvas-header {
    background-color: var(--sakai-offcanvas-header-bg);
    color: var(--sakai-offcanvas-header-color);
    .btn-close {
      background-color: var(--sakai-offcanvas-close-btn-bg);
    }
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--sakak-breadcrumb-color);
}

.search-result-link {

  &:focus, &:hover {
    text-decoration: none;

    .card {
      background-color: var(--button-primary-active-background);
      color: var(--button-primary-active-text-color);
    }
  }
}

.portal-footer {
  grid-area: footer;
}
.portal-mobilebar {
  grid-area: mobilebar;
  position: sticky;
  bottom: 0;
  z-index: 1050;
  color: white;
  button, a {
    color: white;
    i {
      font-size: 24px;
    }
  }
}
.portal-jump-links {
  grid-area: jumpLinks;
}
.portal-jump-links a {
  color: #fff;
}
.portal-header-logo {
  height: var(--portal-header-height);
}
@include media-breakpoint-up(md) {
  .portal-header-logo {
    width: var(--portal-nav-sidebar-width);
  }
}
.portal-header-logo img {
  max-height: 3rem;
}
.portal-notifications-button {
  position: relative;
}
.portal-notifications-indicator, .portal-notifications-no-permissions-indicator {
  position: absolute;
  top: 10px;
  right: 20%;
}

.portal-notifications-no-permissions-indicator {
  top: 0px;
  right: 23%;
  color: red;
}

// make offcanvas header match Sakai's header:
.offcanvas-header {
  flex-shrink: 0;
  height: var(--portal-header-height);
  color: #fff;
  background-color: var(--bs-primary);
}
// change offcanvas close button's colour to white:
.offcanvas-header .btn-close {
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}
// for narrow views, take up the full width of the screen:
@media (max-width: $offcanvas-horizontal-width) {
  .offcanvas-start,
  .offcanvas-end {
    max-width: 100vw;
  }
}
@include media-breakpoint-down(md) {
  .offcanvas-start,
  .offcanvas-end {
    bottom: var(--portal-header-height);
  }
}

.sakai-sitesAndToolsNav .active .list-group-item-action {
  font-weight: 700;
  color: #fff;
}

.portal-footer .nav-link {
  padding-top: 0;
  padding-bottom: 0;
}

@mixin focus-outline($color) {
  &:focus {
    box-shadow: 0 0 0 $input-focus-width rgba($color, .5);
  }
}

@each $color, $value in $theme-colors {
  .focus-#{$color} {
    @include focus-outline($value);
  }
}

.btn-sidebar-collapse, .btn-logo-button {
  border: none;
  @include button-variant($primary, $light);

  > span {
    font-size: 28px;
    color: white;
  }
}

.modal-content {
  background: var(--sakai-modal-content-bg);
  .modal-header {
    background: var(--sakai-modal-header-bg);
    color: var(--sakai-modal-header-color);
    .btn-close {
      background-color: var(--sakai-modal-close-btn-bg);
    }
  }
}

#sakai-login-dialog .modal-header {
  background: var(--sakai-modal-content-bg);
  color: var(--sakai-text-color-1);
}

.wicket-modal .w_caption {
  cursor: move;
  background: var(--sakai-modal-header-bg) !important;
  color: var(--sakai-modal-header-color) !important;
}

#portal-nav-sidebar {

  grid-area: sidebar;

  .si-pin {
    color: transparent;
  }

  .si-pin-fill {
    color: var(--sakai-pin-hover-color);
  }

  .si-eye-slash-fill {
    color: var(--sakai-text-color-1)
  }

  .site-page-list .selected-page {
    opacity: 0.7;
    &:hover {
      opacity: 0.8;
    }
  }

  li.site-list-item {

    .site-list-item-head {
      button {
        border: 0px;
        &:focus, &:hover {
          border: solid 1px var(--site-nav-btn-current-hover-color);
        }
      }

      > button {
        color: var(--sakai-text-color-1);
      }

      .si-pin {
        color: transparent;
      }

      &:hover {
        background-color: var(--site-nav-btn-hover-bg);
        color: var(--site-nav-btn-current-hover-color);
        .si-pin, a, button {
          color: var(--sakai-text-color-1);
        }
      }
    }

    &.is-current-site {

      .site-list-item-head {
        background-color: var(--sakai-selected-page-bg-color);
        opacity: 0.9;

        .si-pin {
          color: transparent;
        }

        .si-eye-slash-fill {
          color: var(--sakai-selected-page-color);
        }

        button {
          border: 0px;
          &:focus, &:hover {
            border: solid 1px var(--sakai-selected-page-color);
          }
        }

        a, button {
          font-size: 16px;
          color: var(--sakai-selected-page-color);
        }

        &:hover {
          opacity: 1.0;
          .si-pin, a , button {
            color: var(--sakai-selected-page-color);
          }
        }
      }
    }
  }

  .btn-nav,
  .btn-site-opt {
    @include button-variant($white, $black);
    --bs-btn-color: var(--site-nav-btn-color);
    --bs-btn-bg: var(--site-nav-btn-bg);
    --bs-btn-border-color: var(--site-nav-btn-border-color);
    --bs-btn-hover-color: var(--site-nav-btn-hover-color);
    --bs-btn-hover-bg: var(--site-nav-btn-hover-bg);
    --bs-btn-hover-border-color: var(--site-nav-btn-hover-border-color);
    --bs-btn-focus-shadow-rgb: 249, 250, 251;
    --bs-btn-active-color: var(--site-nav-btn-active-color);
    --bs-btn-active-bg: var(--site-nav-btn-active-bg);
    --bs-btn-active-border-color: var(--site-nav-btn-active-border-color);
    --bs-btn-disabled-color: var(--site-nav-btn-disabled-color);
    --bs-btn-disabled-bg: var(--site-nav-btn-disabled-bg);
    --bs-btn-disabled-border-color: var(--site-nav-btn-disabled-border-color);
    --bs-btn-focus-shadow-rgb: 38, 88, 129;
    &:hover {
      --bs-btn-color: var(--site-nav-btn-active-color);
    }
  }

  .sakai-sitesAndToolsNav {
    background-color: var(--site-nav-bg);
  }

  .sites-section-heading {
    @extend .mb-0, .pb-2, .pt-3, .ps-3;
    font-size: 16px;
    background-color: var(--site-nav-list-item-bg);
  }

  .sakai-sitesAndToolsNav {
    padding-bottom: 96px;
    overflow-y: scroll;
    position: sticky;
    top: 0;
  }

  .btn-nav {
    color: var(--site-nav-btn-color);
    &:hover,
    &:focus {
      outline: none;
      color: var(--site-nav-btn-current-hover-color);
    }

    &.selected-page {
      background-color: var(--sakai-selected-page-bg-color);
      border-color: var(--sakai-selected-page-bg-color);
      color: var(--sakai-selected-page-color);
      font-weight: 600;
    }

    span {
      margin-left: 5px;
    }
    border-radius: 0;
  }

  .btn-site-carret {
    &::before {
      display: inline-flex;
      width: 1.25em;
      margin-inline-end: 0.25rem;
      line-height: 0;
      content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
      transition: transform 0.35s ease;
      transform-origin: 0.5em 50%;
      @extend .bi;
    }
  }

  .btn-subsite {
    &[aria-expanded="true"] .btn-site-carret::before {
      transform: rotate(90deg);
    }
  }

  &.portal-nav-sidebar-mobile {
    .btn-site-opt {
      color: var(--sakai-text-color-dimmed);
    }
    .site-list-item-collapse {
      background-color: var(--sakai-background-color-3);
    }
  }

  &.portal-nav-sidebar-desktop {
    background-color: var(--sakai-background-color-3);
    .site-list-item-collapse {
      background-color: var(--sakai-background-color-2);
    }
  }

  .fa-tool-menu-icon {
    margin-top: 5px;
  }
}

.site-list-item .site-link-block .img_site_toolmenu {
  max-height: 1.2em;
  width: auto;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.site-opt-pin {
  color: var(--sakai-pin-hover-color);
}

.sakai-sitesAndToolsNav * {
  text-decoration: none;
}

#create-task {
  @media (max-width: 460px) {
    width: 100%;
  }
}

.sticky-footer {
  position: sticky;
  bottom: 0;
  background-color: var(--sticky-footer-bg);
  color: var(--sticky-foooter-color);

  &:hover {
    background-color: var(--sticky-footer-bg);
    color: var(--sticky-foooter-color);
  }

  @media (max-width: 767px) {
    background-color: var(--sakai-background-color-5);
  }
}

.minimised {
  width: fit-content;
}

.portal-nav-sidebar {
  overflow-y: hidden !important;
}

.toast-header {
  color: var(--sakai-text-color-1);
  background-color: var(--sakai-background-color-3);
}

.toast-body {
  color: var(--sakai-text-color-1);
  background-color: var(--sakai-background-color-2);
}
