.#{$namespace}sakai-syllabus {

  @media print {
    .noprint {
      display: none;
    }
  }

  /* css for timepicker */
  .ui-timepicker-div {
    .ui-widget-header {
      margin-bottom: 8px;
    }
    dl {
      text-align: left;
      dt {
        height: 25px;
        margin-bottom: -25px;
      }
      dd {
        margin: 0 10px 10px 65px;
      }
    }
    td {
      font-size: 90%;
    }
  }

  .ui-tpicker-grid-label {
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
  }

  .ui-timepicker-rtl {
    direction: rtl;
    dl {
      text-align: right;
      dd {
        margin: 0 65px 10px 10px;
      }
    }
  }

  .editItem:hover {
    background-image: url("/library/image/silk/pencil.png");
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 22px;
  }

  .bodyInput {
    padding-left: 22px !important;
    background-position: left top !important;
    padding-right: 0 !important;
  }

  div.ui-tooltip {
    max-width: 8000px;
  }

  a.draft {
    color: grey !important;
  }

  .ui-accordion .ui-accordion-header {
    overflow: auto !important;
    background-color: #D9EEF7;
  }

  .ui-state-active a {
    color: #454545 !important;
    font-weight: bold;
  }

  /* IE has layout issues when sorting (see #5413) */
  .group {
    zoom: 1;
  }

  .actionIcon {
    padding-right: .5em;
  }

  .editItemTitle, .draftTitlePrefix {
    padding-left: .5em;
  }

  .startTimeInput, .endTimeInput {
    padding-right: 22px;
  }

  .popupMessage {
    background-color: #ffe;
    position: absolute;
    top: 20px;
    z-index: 1000;
    left: 30%;
    right: 30%;
    width: auto;
  }

  .editable-pre-wrapped {
    white-space: normal;
  }
}
