#* @vtlmacrolibrary path="../resources/sakai_metadata-edit.vm" *#
#* @vtlvariable name="item" type="org.sakaiproject.content.tool.ListItem" *#
#* @vtlvariable name="site_id" type="java.lang.String" *#
#* @vtlvariable name="metadataType" type="org.sakaiproject.content.metadata.model.MetadataType" *#
#* @vtlvariable name="metadataValue" type="java.lang.Object" *#
#* @vtlvariable name="multipleMetadataType" type="java.util.List<java.lang.String>" *#
#* @vtlvariable name="groupMetadataLevel" type="int" *#
#* @vtlvariable name="groupMetadataValue" type="java.util.List<java.lang.Object>" *#
#* @vtlvariable name="groupMetadataType" type="java.util.List<org.sakaiproject.content.metadata.model.MetadataType>" *#
#* @vtlvariable name="suffix" type="java.lang.String" *#

<label for="${metadataType.uniqueName}${suffix}">#printMetadataName($metadataType)</label>

#if($multipleMetadataType.contains($metadataType.uniqueName))
  #foreach($value in $metadataValue)
    #if($metadataType.longText)
    <textarea class="form-control" name="${metadataType.uniqueName}${suffix}" id="${metadataType.uniqueName}${suffix}">$value</textarea>
    #else
    <input class="form-control" type="text" size="40" name="${metadataType.uniqueName}${suffix}" id="${metadataType.uniqueName}${suffix}"
           value="$value"/>
    #end
  #end
#else
  #if($metadataType.longText)
  <textarea class="form-control" name="${metadataType.uniqueName}${suffix}" id="${metadataType.uniqueName}${suffix}">$metadataValue</textarea>
  #else
  <input class="form-control" type="text" size="40" name="${metadataType.uniqueName}${suffix}" id="${metadataType.uniqueName}${suffix}"
         value="$metadataValue"/>
  #end
#end
