#* @vtlmacrolibrary path="../resources/sakai_metadata-edit.vm" *#
#* @vtlvariable name="item" type="org.sakaiproject.content.tool.ListItem" *#
#* @vtlvariable name="site_id" type="java.lang.String" *#
#* @vtlvariable name="metadataType" type="org.sakaiproject.content.metadata.model.MetadataType" *#
#* @vtlvariable name="metadataValue" type="java.lang.Object" *#
#* @vtlvariable name="multipleMetadataType" type="java.util.List<java.lang.String>" *#
#* @vtlvariable name="groupMetadataLevel" type="int" *#
#* @vtlvariable name="groupMetadataValue" type="java.util.List<java.lang.Object>" *#
#* @vtlvariable name="groupMetadataType" type="java.util.List<org.sakaiproject.content.metadata.model.MetadataType>" *#
#* @vtlvariable name="suffix" type="java.lang.String" *#

<label for="${metadataType.uniqueName}${suffix}">#printMetadataName($metadataType)</label>

#if($multipleMetadataType.contains($metadataType.uniqueName))
  #foreach($value in $metadataValue)
    <input class="form-control" type="number" name="${metadataType.uniqueName}${suffix}" id="${metadataType.uniqueName}${suffix}" value="$value"
    	#if($metadataType.width)style='width:${metadataType.width}'#end 
    	#if($metadataType.minimumValue)min=${metadataType.minimumValue}#end
    	#if($metadataType.maximumValue)max=${metadataType.maximumValue}#end
    	#if($metadataType.step)step=${metadataType.step}#else step=1#end
    />
  #end
#else
  <input class="form-control" type="number" name="${metadataType.uniqueName}${suffix}" id="${metadataType.uniqueName}${suffix}" value="$metadataValue"
    #if($metadataType.width)style='width:${metadataType.width}'#end 
	#if($metadataType.minimumValue)min=${metadataType.minimumValue}#end
    #if($metadataType.maximumValue)max=${metadataType.maximumValue}#end
    #if($metadataType.step)step=${metadataType.step}#else step=1#end
  />
#end
