<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html rsf:id="polls-html" xmlns="http://www.w3.org/1999/xhtml" xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<title>Polls: Add/edit options</title>
<link  rsf:id="scr=portal-matter" href="../css/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
<link rsf:id="scr=portal-matter" href="../css/default/tool.css" type="text/css" rel="stylesheet" media="all"  />
<script rsf:id="scr=portal-matter" type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
</head>

<body rsf:id="scr=sakai-body">
<div class="portletBody">
<ul rsf:id="actions:" class="navIntraTool">
    <li><span><a href="votePolls.html" rsf:id="actions-main">Polls</a></span></li>
    <li><span class="current" rsf:id="actions-add">Add</span></li>
    <li><span><a href="votePermissions.html" rsf:id="actions-permissions">Permissions</a></span></li>
</ul>

<div class ="page-header">
  <h1 rsf:id="new-option-title">Add/Edit Options</h1>
</div>

<p><span rsf:id="poll-question">Poll</span>: <span rsf:id="poll_text">poll_text</span></p>

<div rsf:id="error-row:">
  <div class="alertMessage" rsf:id="error">We Have Errors!</div>
</div>
		
<form rsf:id="opt-form">
<label class="label" rsf:id="msg=new_poll_option" for="optText:1:input">Option:</label>

	<div class="pollEditorSmall">
    <div rsf:id="optText:">
    <textarea name="Instructions" cols="50" rows="3"></textarea>
    </div>
    <textarea rsf:id="optText_mobile" name="Instructions" cols="50" rows="3"></textarea>
	</div>
<p class="act">
 <input type="submit" value="Save" rsf:id="submit-new-option" class="active" />
 <input type="submit" value="Save and add option" rsf:id="submit-option-add" />
 <input name="_cancel" type="submit" value="Cancel" rsf:id="cancel" />
</p>
</form>
</div>
</body>
</html>
