<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html rsf:id="polls-html" xmlns="http://www.w3.org/1999/xhtml" xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<title>Polls: Vote!</title>
<link rsf:id="scr=portal-matter" href="https://vula.uct.ac.za/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
<link rsf:id="scr=portal-matter" href="https://vula.uct.ac.za/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all"/>
<script rsf:id="scr=portal-matter" type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
</head>

<body rsf:id="scr=sakai-body">
<div class="portletBody">
<ul rsf:id="actions:" class="navIntraTool">
    <li><span class="current" rsf:id="actions-main">Polls</span></li>
    <li><span><a href="voteAdd.html" rsf:id="actions-add">Add</a></span></li>
    <li><span><a href="votePermissions.html" rsf:id="actions-permissions">Permissions</a></span></li>
</ul>

<div class ="page-header">
  <h1 rsf:id="poll-vote-title">Results</h1>
</div>

<div rsf:id="message-for:*" class="alertMessage">
	<span>Message for user here</span>
</div>

<p><strong rsf:id="poll-text">Poll question</strong></p>

<p rsf:id="poll-description">More information about the poll</p>
<form rsf:id="options-form">
<!-- Do not delete this! it is needed by RSF -->
<span rsf:id="optionform" />
<table>
	<tr rsf:id="option:radio">
		<td valign="middle"><input type="radio" rsf:id="option-radio" id="option-radio-id"/><label rsf:id="option-label" for="option-radio-id">options</label></td>
	</tr>
	
	<tr rsf:id="option:select">
		<td valign="middle"><input type="checkbox" rsf:id="option-radio" id="option-radio-id"/><label rsf:id="option-label" for="option-radio-id">options</label></td>
	</tr>
</table>

<p class="act">
  <input name="submit" type="submit" id="submit" value="Vote!" rsf:id="submit-new-vote" class="active"/>
  <input name="reset" type="reset" value="Reset" rsf:id="reset"/> 
  <input name="cancel" type="submit" value="Cancel" rsf:id="cancel"/>   
</p>
</form>
</div>
</body>
</html>
