<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html rsf:id="polls-html" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<title>Polls: Add/edit a poll</title>
<link rsf:id="scr=portal-matter"
	href="https:https://vula.uct.ac.za/library/skin/tool_base.css"
	type="text/css" rel="stylesheet" media="all" />
<link href="https://vula.uct.ac.za/library/skin/default/tool.css"
	type="text/css" rel="stylesheet" media="all" rsf:id="scr=portal-matter" />
<script rsf:id="scr=portal-matter" type="text/javascript"
	language="JavaScript" src="/library/js/headscripts.js"></script>
	<script type="text/javascript">includeLatestJQuery('polls');</script>
	<link href="/library/webjars/jquery-ui/1.12.1/jquery-ui.min.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/library/js/lang-datepicker/lang-datepicker.js"></script>

	<script type="text/javascript">
		$( document ).ready(function() {
			localDatePicker({
				input:'#opendate',
				useTime:1,
				parseFormat: 'YYYY-MM-DD HH:mm:ss',
				getval: '#openDate-iso8601',
				ashidden: { iso8601: 'openDate-iso8601' }
			});

			localDatePicker({
				input:'#closedate',
				useTime:1,
				parseFormat: 'YYYY-MM-DD HH:mm:ss',
				getval: '#closeDate-iso8601',
				ashidden: { iso8601: 'closeDate-iso8601' }
			});
		});
	</script>
</head>

<body rsf:id="scr=sakai-body">
<div class="portletBody container-fluid">
<h3 rsf:id="new_poll_title">Add/Edit a poll</h3>
  <div rsf:id="message-for:*">
	<span>Message for user here</span>
  </div>
<form rsf:id="add-poll-form">

<div class="form-group row"> 
	<label for="pollName" class="col-md-4 col-lg-2 form-control-label">
		<span class="reqStarInline">*</span>
		<span rsf:id="new-poll-question-label">Question</span>
	</label>
	<div class="col-md-2">
		<input name="Question" type="text" size="50" rsf:id="new-poll-text" id="pollName" />
	</div>
</div>

<p>
<div class="pollEditorSmall">
<div rsf:id="newpolldescr:"><textarea name="Instructions"
	cols="50" rows="3"></textarea></div>
<textarea rsf:id="newpolldescr_mobile" name="Instructions"
	cols="50" rows="3"></textarea>
</div>
</p>

<div class="form-group row">
	<label for="openDate:1:date-field" class="col-md-4 col-lg-2 form-control-label">
		<span class="reqStarInline">*</span>
		<span rsf:id="msg=new_poll_open_label">Opening</span>
	</label>
	<div class="col-md-4">
		<input rsf:id="openDate-iso8601" type="hidden"
				id="voteOpen" name="voteOpen" value="MM/DD/YYYY"
				size="25" maxlength="25" /> 
				<input type="text" id="opendate" name="opendate"/>
	</div>
</div>			

<div class="form-group row">
	<label for ="closeDate:1:date-field" class="col-md-4 col-lg-2 form-control-label">
		<span class="reqStarInline">*</span>
		<span	rsf:id="msg=new_poll_close_label">Closing Date</span>
	</label>
	<div class="col-md-4">
		<input rsf:id="closeDate-iso8601" type="hidden"
				id="voteClose" name="voteClose" value="MM/DD/YYYY"
				size="25" maxlength="25" />
				<input type="text" id="closedate" name="closedate"/>
	</div>
</div>


<div rsf:id="option-headers:">
<p><strong rsf:id="options-title">Answer Options:</strong><br />
<a rsf:id="option-add" href="pollOption.html">Add Option</a></p>


<table class="listHier lines" cellspacing="0" border="0">
	<tr>
		<th rsf:id="msg=add_option">Option</th>
		<th rsf:id="msg=add_actions">actions</th>
	</tr>
	<tr rsf:id="options-row:">
		<td rsf:id="options-name">Option Name</td>
		<td valign="middle">
		<p>&nbsp;<a rsf:id="option-edit">edit</a>&nbsp;&nbsp;<a
			rsf:id="option-delete">delete</a></p>
		</td>
	</tr>
</table>
</div>
<p><strong rsf:id="new-poll-limits">Limits:</strong></p>
<div class="form-group row">
	<label for="min-votes-selection" class="col-md-4 col-lg-2 form-control-label">
		<span class="reqStarInline">*</span>
		<span rsf:id="msg=new_poll_min_limits">What is the minimum number of Answer Options that can be selected?</span>
	</label>
	<div class="col-md-4">
		<select name="minOptions" rsf:id="min-votes" id="min-votes">
			<option value="0">0</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
			<option value="13">13</option>
			<option value="14">14</option>
			<option value="15">15</option>
		</select>
	</div>
</div>		
<div class="form-group row">
	<label for="max-votes-selection" class="col-md-4 col-lg-2 form-control-label">
		<span class="reqStarInline">*</span>
		<span rsf:id="msg=new_poll_max_limits">What is the maximum number of Answer Options that can be selected?</span>
	</label>
	<div class="col-md-4">
		<select name="maxOptions" rsf:id="max-votes" id="max-votes">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
			<option value="13">13</option>
			<option value="14">14</option>
			<option value="15">15</option>
		</select>
	</div>
</div>

<p><strong rsf:id="poll_access_label">Access:</strong></p>
<div>
	<input type="checkbox" rsf:id="access-public" id="access-public" />
	<label rsf:id="new_poll_access_public_label" for="access-public">This poll is publically viewable</label>
</div>

<p><strong rsf:id="add_results_label">Release results: </strong><br />
</p>

<span rsf:id="release-select" />
<div rsf:id="releaserow:"><input type="radio" rsf:id="release" id="release-id" />
<label rsf:id="releaseLabel">Open</label></div>

<!--<input name="immediately" type="radio" value="" checked="checked" rsf:id="" /> Immediately--><br />

<p class="act"><input type="submit" value="Post"
	rsf:id="submit-new-poll" class="active" /> <input name="_cancel"
	type="submit" value="Cancel" rsf:id="cancel" /></p>
</form>
</div>
</body>
</html>
