/* ********************************************************************* *
 *                      Gradebook Settings styles                        *
 * ********************************************************************* */

 @font-face {
  font-family:"gradebook-icons";
  src:url(../fonts/gradebook-icons.eot);
  src:url(../fonts/gradebook-icons.eot?#iefix) format("embedded-opentype"),url(../fonts/gradebook-icons.woff) format("woff"),url(../fonts/gradebook-icons.ttf) format("truetype"),url(../fonts/gradebook-icons.svg#gradebook-icons) format("svg");
  font-weight:400;
  font-style:normal;
}
.gb-inline-wrap {
  margin-bottom: 10px;
}
.gb-inline-checkbox {
  display: inline !important;
}
.gb-category-sort-column {
  width: 45px;
}
.gb-category-sort-handle,
.gb-category-sort-handle:hover {
  text-decoration: none !important;
  color: #BBB !important;
}
.gb-category-sort-handle:before {
  font-family: "gradebook-icons";
  content: "\f0c9";
  font-size: 2em;
}
.gb-category-sort-placeholder {
  border: 3px dashed #CCC;
  height: 45px;
}

/* Bootstrap > Morpheus overrides */
.checkbox input[type="checkbox"][disabled],
.radio input[type="radio"][disabled]{
  background-color: #eee;
}
.checkbox input[type="checkbox"][disabled]+span,
.radio input[type="radio"][disabled]+span,
.checkbox input[type="checkbox"][disabled]+label,
.radio input[type="radio"][disabled]+label{
  color: #999;
}

/* reset the padding and add to link instead, to make whole div clickable. See #3756 */
.panel-heading {
    padding:0 !important;
}

.panel-heading > .panel-title > a {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 10px 15px;
}

.gb-schema-chart {
	margin-left: 4em;
	margin-top: 2em;
}
