<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- providers which are supplied as part of the entity broker itself are defined here -->

    <bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider" 
            class="org.sakaiproject.entitybroker.providers.UserEntityProvider">
        <property name="userDirectoryService" ref="org.sakaiproject.user.api.UserDirectoryService" />
        <property name="developerHelperService" ref="org.sakaiproject.entitybroker.DeveloperHelperService"/>
        <property name="serverConfigurationService" ref="org.sakaiproject.component.api.ServerConfigurationService"/>
        <property name="siteService" ref="org.sakaiproject.site.api.SiteService"/>
    </bean>

    <bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider"
            class="org.sakaiproject.entitybroker.providers.SiteEntityProvider"
            init-method="init">
        <property name="siteService" ref="org.sakaiproject.site.api.SiteService" />
		<property name="authzGroupService" ref="org.sakaiproject.authz.api.AuthzGroupService" />
		<property name="functionManager" ref="org.sakaiproject.authz.api.FunctionManager" />
		<property name="securityService" ref="org.sakaiproject.authz.api.SecurityService" />
        <property name="userEntityProvider" ref="org.sakaiproject.entitybroker.providers.UserEntityProvider" />
        <property name="serverConfigurationService" ref="org.sakaiproject.component.api.ServerConfigurationService" />
        <property name="maxDepth" value="8"/>
    </bean>

    <bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider"
            class="org.sakaiproject.entitybroker.providers.SessionEntityProvider">
        <property name="sessionManager" ref="org.sakaiproject.tool.api.SessionManager" />
        <property name="authenticationManager" ref="org.sakaiproject.user.api.AuthenticationManager"/>
        <property name="userDirectoryService" ref="org.sakaiproject.user.api.UserDirectoryService" />
        <property name="securityService" ref="org.sakaiproject.authz.api.SecurityService" />
        <property name="authzGroupService" ref="org.sakaiproject.authz.api.AuthzGroupService"/>
        <property name="eventTrackingService" ref="org.sakaiproject.event.api.EventTrackingService" />
    </bean>

    <bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider"
            class="org.sakaiproject.entitybroker.providers.ServerConfigEntityProvider">
        <property name="serverConfigurationService" ref="org.sakaiproject.component.api.ServerConfigurationService" />
        <property name="clusterService" ref="org.sakaiproject.cluster.api.ClusterService" />
    </bean>

    <bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider"
            class="org.sakaiproject.entitybroker.providers.MembershipEntityProvider"
            init-method="init">
        <property name="siteService" ref="org.sakaiproject.site.api.SiteService" />
		<property name="authzGroupService" ref="org.sakaiproject.authz.api.AuthzGroupService" />
        <property name="userEntityProvider" ref="org.sakaiproject.entitybroker.providers.UserEntityProvider" />
        <property name="emailService" ref="org.sakaiproject.email.api.EmailService" />
        <property name="privacyManager" ref="org.sakaiproject.api.privacy.PrivacyManager" />
        <property name="securityService" ref="org.sakaiproject.authz.api.SecurityService" />
        <property name="userDirectoryService" ref="org.sakaiproject.user.api.UserDirectoryService" />
        <property name="userAuditRegistration" ref="org.sakaiproject.userauditservice.api.UserAuditRegistration.direct" />
    </bean>

    <bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider"
            class="org.sakaiproject.entitybroker.providers.ToolEntityProvider">
        <property name="toolManager" ref="org.sakaiproject.tool.api.ToolManager" />
    </bean>

    <bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider"
            class="org.sakaiproject.entitybroker.providers.NotificationEntityProvider"
            init-method="init">
        <property name="userDirectoryService" ref="org.sakaiproject.user.api.UserDirectoryService" />
        <property name="notificationService" ref="org.sakaiproject.event.api.NotificationService" />
        <property name="eventTrackingService" ref="org.sakaiproject.event.api.EventTrackingService" />
    </bean>

    <bean id="org.sakaiproject.user.api.UserNotificationPreferencesRegistration.external"
      parent="org.sakaiproject.user.api.UserNotificationPreferencesRegistration"
      class="org.sakaiproject.entitybroker.providers.user.prefs.ExternalEmailUserNotificationPreferencesRegistrationImpl"
      init-method="init">
      <property name="bundleLocation"><value>notify</value></property>
      <property name="sectionTitleBundleKey"><value>prefs_title</value></property>
      <property name="sectionDescriptionBundleKey"><value>prefs_description</value></property>
      <property name="overrideSectionTitleBundleKey"><value>prefs_title_override</value></property>
      <property name="defaultValue"><value>3</value></property>
      <property name="type"><value>sakai:external</value></property>
      <property name="prefix"><value>ext</value></property>
      <property name="toolId"><value>sakai.externalnoti</value></property>
      <property name="rawOptions">
        <map>
          <entry key="1"><value>prefs_opt1</value></entry>
          <entry key="2"><value>prefs_opt2</value></entry>
          <entry key="3"><value>prefs_opt3</value></entry>
        </map>
      </property>
      <property name="overrideBySite"><value>false</value></property>
      <property name="expandByDefault"><value>true</value></property>
      <property name="developerHelperService" ref="org.sakaiproject.entitybroker.DeveloperHelperService"/>
    </bean>

</beans>
