body {
  background-color: white; 
  color: black; 
  font-family: Arial,Helvetica,sans-serif;
  margin-left: 48; 
  margin-right: 48; 
  margin-top:16; 
  font-size:80%;
}

a            { font-size: 100%; 
					letter-spacing: 1;
				 }


acronym { 
  font-weight:bold;
}      

a:link       { 
  color:darkgreen; 
}

a:visited    { color : #336633; 
					}
a:active   {
 color :green; 
}

a:hover,
a:visited:hover {
}

p            { text-indent: 0; margin-top: 4; margin-bottom: 8 }
p.indent   {}

p.publication  { text-indent: 0; margin-top: 4; margin-bottom: 8 }
li.publication { line-spacing: 0; 
                 margin-top: 0; 
                 margin-bottom: 16;
					  font-size: 90%; }
pre,
blockquote {margin-left:16; font-size:90%; text-indent:0; }
pre.xml {background:gray; color:white; font-weight:bold; padding=8;  }
pre.copyright { font-size: 80%; text-align: left;text-indent: 0 }

code {font-size:100%; }

td         { font-size: 80%;}

h1,h2,h3,h4 {
  margin-bottom:0;
  letter-spacing:2;
}
p,h1,h2,h3,h4 {
  margin-left:8;
}

p,h2,h3 {
}

h1 {
  font-size:200%;
  font-weight:normal;
}

h2 {
  font-size:130%;
  font-weight:bold;
  margin-top:16;
}

h3 {
  font-size:100%;
  letter-spacing:0;
  margin-top:8;
}

hr         {color:gray}

img        {border: 0}

ul,li       { line-spacing: 0; list-style-type: square; 
               margin-top: 0; 
               margin-bottom: 8; }
li       { line-spacing: 0; 
               margin-top: 0; 
               margin-bottom: 2; }
