.#{$namespace}toolBody--sakai-iframe-site, .#{$namespace}toolBody--sakai-iframe-service {
	padding: $standard-spacing;
	
	img{
		max-width: 100%;
		height: auto;
	}
}

.#{$namespace}multipleTools .#{$namespace}sakai-iframe {
	margin: -1em 0 0 0;
}

.#{$namespace}toolBody--sakai-iframe-myworkspace iframe {
	padding: $standard-spacing;
}
