<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Repository beans using annotated JPA classes and AdditionalHibernateMappings registered in WEB-INF/hibernate-hbms.xml -->
    <bean id="org.sakaiproject.poll.api.repository.PollRepository" class="org.sakaiproject.poll.impl.repository.PollRepositoryImpl">
        <property name="sessionFactory" ref="org.sakaiproject.springframework.orm.hibernate.GlobalSessionFactory" />
    </bean>
    <bean id="org.sakaiproject.poll.api.repository.OptionRepository" class="org.sakaiproject.poll.impl.repository.OptionRepositoryImpl">
        <property name="sessionFactory" ref="org.sakaiproject.springframework.orm.hibernate.GlobalSessionFactory" />
    </bean>
    <bean id="org.sakaiproject.poll.api.repository.VoteRepository" class="org.sakaiproject.poll.impl.repository.VoteRepositoryImpl">
        <property name="sessionFactory" ref="org.sakaiproject.springframework.orm.hibernate.GlobalSessionFactory" />
    </bean>
</beans>
