<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	    <!-- define the list of HBM mapping files -->
    <bean id="org.sakaiproject.poll.hbmMappingList" class="java.util.ArrayList">
        <constructor-arg>
            <list>
            	<value>org/sakaiproject/poll/hbm/Poll.hbm.xml</value>
				<value>org/sakaiproject/poll/hbm/Option.hbm.xml</value>
				<value>org/sakaiproject/poll/hbm/Vote.hbm.xml</value>
            </list>
        </constructor-arg>
    </bean>
    
    <!-- DAO bean (no proxy). Transactions are declared at the service layer via @Transactional. -->
    <bean id="org.sakaiproject.poll.dao.PollDao" class="org.sakaiproject.poll.dao.impl.PollDaoHibernateImpl">
        <property name="sessionFactory" ref="org.sakaiproject.springframework.orm.hibernate.GlobalSessionFactory" />
    </bean>
</beans>
