body {
  background-color: var(--tool-background-color);
  color: var(--sakai-text-color-1);
}

a,
a.sakai-link {
  color: var(--link-color);
}

a.sakai-link:focus {
  outline: 3px solid var(--focus-outline-color);
}

ul.meetings-list > li {
  list-style-type: none;
}

ul.meetings-list {
  padding: 0;
  margin: 0;
}

a.tool-heading,
.section-heading > h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.25rem;
  text-decoration: none;
  color: var(--sakai-font-size);
}

.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
  white-space: nowrap;
}

.header-menu button {
  width: 100%;
}
