:root {
  /*ADDED VARS*/
  --sakai-record-color: var(--sakai-color-red);

  /*ADDED VARS*/

  /*UNCHANGED VARS*/
  --sakai-theme-color-interval: 9;
  --sakai-color-contrast-threshold: 60%;
  --sakai-theme-switch-ease: background-color 0.6s
    cubic-bezier(0.76, 0, 0.24, 1);
  --sakai-color-white: hsl(0, 0%, 100%);
  --sakai-color-black: hsl(0, 0%, 0%);
  --sakai-color-gray--lighter-7: #f3f3f4;
  --sakai-color-gray--lighter-6: #e3e4e5;
  --sakai-color-gray--lighter-5: #d3d4d6;
  --sakai-color-gray--lighter-4: #c3c5c7;
  --sakai-color-gray--lighter-3: #b3b5b8;
  --sakai-color-gray--lighter-2: #a3a6a9;
  --sakai-color-gray--lighter-1: #93969a;
  --sakai-color-gray: #898c90;
  --sakai-color-gray--darker-1: #7c7f83;
  --sakai-color-gray--darker-2: #6a6c6f;
  --sakai-color-gray--darker-3: #58595c;
  --sakai-color-gray--darker-4: #454749;
  --sakai-color-gray--darker-5: #333435;
  --sakai-color-gray--darker-6: #202122;
  --sakai-color-gray--darker-7: #0e0e0e;
  --sakai-color-blue--lighter-7: #e9f5fc;
  --sakai-color-blue--lighter-6: #cce7f8;
  --sakai-color-blue--lighter-5: #afdaf4;
  --sakai-color-blue--lighter-4: #92ccf0;
  --sakai-color-blue--lighter-3: #75bfec;
  --sakai-color-blue--lighter-2: #58b1e8;
  --sakai-color-blue--lighter-1: #3ba3e4;
  --sakai-color-blue: #289ae2;
  --sakai-color-blue--darker-1: #248ccd;
  --sakai-color-blue--darker-2: #1f78af;
  --sakai-color-blue--darker-3: #196390;
  --sakai-color-blue--darker-4: #144e72;
  --sakai-color-blue--darker-5: #0f3953;
  --sakai-color-blue--darker-6: #092435;
  --sakai-color-blue--darker-7: #040f17;
  --sakai-color-teal--lighter-7: #e6f5f5;
  --sakai-color-teal--lighter-6: #c3e7e7;
  --sakai-color-teal--lighter-5: #a1d9d9;
  --sakai-color-teal--lighter-4: #7ecbcb;
  --sakai-color-teal--lighter-3: #5cbebe;
  --sakai-color-teal--lighter-2: #39b0b0;
  --sakai-color-teal--lighter-1: #17a2a2;
  --sakai-color-teal: #099;
  --sakai-color-teal--darker-1: #008b8b;
  --sakai-color-teal--darker-2: #077;
  --sakai-color-teal--darker-3: #006262;
  --sakai-color-teal--darker-4: #004d4d;
  --sakai-color-teal--darker-5: #003939;
  --sakai-color-teal--darker-6: #002424;
  --sakai-color-teal--darker-7: #000f0f;
  --sakai-color-gold--lighter-7: #fbf8e6;
  --sakai-color-gold--lighter-6: #f6eec3;
  --sakai-color-gold--lighter-5: #f1e4a1;
  --sakai-color-gold--lighter-4: #ecda7f;
  --sakai-color-gold--lighter-3: #e7d05d;
  --sakai-color-gold--lighter-2: #e2c63a;
  --sakai-color-gold--lighter-1: #debd18;
  --sakai-color-gold: #dab601;
  --sakai-color-gold--darker-1: #c7a601;
  --sakai-color-gold--darker-2: #a98d01;
  --sakai-color-gold--darker-3: #8c7401;
  --sakai-color-gold--darker-4: #6e5c01;
  --sakai-color-gold--darker-5: #514300;
  --sakai-color-gold--darker-6: #332b00;
  --sakai-color-gold--darker-7: #161200;
  --sakai-color-green--lighter-7: #e6f6ed;
  --sakai-color-green--lighter-6: #c5ead6;
  --sakai-color-green--lighter-5: #a3debe;
  --sakai-color-green--lighter-4: #82d2a6;
  --sakai-color-green--lighter-3: #60c68e;
  --sakai-color-green--lighter-2: #3fba76;
  --sakai-color-green--lighter-1: #1dae5f;
  --sakai-color-green: #07a64f;
  --sakai-color-green--darker-1: #069748;
  --sakai-color-green--darker-2: #05813d;
  --sakai-color-green--darker-3: #046b32;
  --sakai-color-green--darker-4: #045428;
  --sakai-color-green--darker-5: #033e1d;
  --sakai-color-green--darker-6: #022713;
  --sakai-color-green--darker-7: #011108;
  --sakai-color-orange--lighter-7: #fbf1e6;
  --sakai-color-orange--lighter-6: #f6ddc5;
  --sakai-color-orange--lighter-5: #f1caa4;
  --sakai-color-orange--lighter-4: #ecb782;
  --sakai-color-orange--lighter-3: #e6a461;
  --sakai-color-orange--lighter-2: #e1903f;
  --sakai-color-orange--lighter-1: #dc7d1e;
  --sakai-color-orange: #d97008;
  --sakai-color-orange--darker-1: #c56607;
  --sakai-color-orange--darker-2: #a85706;
  --sakai-color-orange--darker-3: #8b4805;
  --sakai-color-orange--darker-4: #6d3904;
  --sakai-color-orange--darker-5: #502a03;
  --sakai-color-orange--darker-6: #331a02;
  --sakai-color-orange--darker-7: #160b01;
  --sakai-color-purple--lighter-7: #ededfe;
  --sakai-color-purple--lighter-6: #d4d4fe;
  --sakai-color-purple--lighter-5: #bbbbfd;
  --sakai-color-purple--lighter-4: #a3a3fc;
  --sakai-color-purple--lighter-3: #8a8afb;
  --sakai-color-purple--lighter-2: #7171fb;
  --sakai-color-purple--lighter-1: #5858fa;
  --sakai-color-purple: #4848f9;
  --sakai-color-purple--darker-1: #4141e3;
  --sakai-color-purple--darker-2: #3838c1;
  --sakai-color-purple--darker-3: #2e2ea0;
  --sakai-color-purple--darker-4: #24247e;
  --sakai-color-purple--darker-5: #1b1b5c;
  --sakai-color-purple--darker-6: #11113b;
  --sakai-color-purple--darker-7: #070719;
  --sakai-color-red--lighter-7: #fae6e7;
  --sakai-color-red--lighter-6: #f3c3c5;
  --sakai-color-red--lighter-5: #eca1a4;
  --sakai-color-red--lighter-4: #e57e83;
  --sakai-color-red--lighter-3: #de5c62;
  --sakai-color-red--lighter-2: #d73941;
  --sakai-color-red--lighter-1: #d11720;
  --sakai-color-red: #cc000a;
  --sakai-color-red--darker-1: #ba0009;
  --sakai-color-red--darker-2: #9e0008;
  --sakai-color-red--darker-3: #830007;
  --sakai-color-red--darker-4: #670005;
  --sakai-color-red--darker-5: #4b0004;
  --sakai-color-red--darker-6: #300002;
  --sakai-color-red--darker-7: #140001;
  --sakai-lessons-navy--lighter-7: #eceef0;
  --sakai-lessons-navy--lighter-6: #d3d7db;
  --sakai-lessons-navy--lighter-5: #b9c0c6;
  --sakai-lessons-navy--lighter-4: #a0a8b2;
  --sakai-lessons-navy--lighter-3: #86919d;
  --sakai-lessons-navy--lighter-2: #6d7a88;
  --sakai-lessons-navy--lighter-1: #536374;
  --sakai-lessons-navy: #425466;
  --sakai-lessons-navy--darker-1: #3c4c5d;
  --sakai-lessons-navy--darker-2: #34414f;
  --sakai-lessons-navy--darker-3: #2b3541;
  --sakai-lessons-navy--darker-4: #222a33;
  --sakai-lessons-navy--darker-5: #191f26;
  --sakai-lessons-navy--darker-6: #101418;
  --sakai-lessons-navy--darker-7: #07080a;
  --sakai-brand--lighter-7: #e7edf1;
  --sakai-brand--lighter-6: #c7d5dd;
  --sakai-brand--lighter-5: #a6bcca;
  --sakai-brand--lighter-4: #86a4b7;
  --sakai-brand--lighter-3: #668ca4;
  --sakai-brand--lighter-2: #457490;
  --sakai-brand--lighter-1: #255b7d;
  --sakai-brand: #0f4b70;
  --sakai-brand--darker-1: #0e4466;
  --sakai-brand--darker-2: #0c3a57;
  --sakai-brand--darker-3: #0a3048;
  --sakai-brand--darker-4: #082639;
  --sakai-brand--darker-5: #061c2a;
  --sakai-brand--darker-6: #04121a;
  --sakai-brand--darker-7: #02080b;
  --logo-background-color: var(--sakai-primary-color-1);
  --sakai-primary-color-1: var(--sakai-brand);
  --sakai-primary-color-2: var(--sakai-brand--darker-2);
  --sakai-primary-color-3: var(--sakai-brand--darker-3);
  --sakai-active-color-1: var(--sakai-brand--lighter-6);
  --sakai-active-color-2: var(--sakai-brand--lighter-5);
  --sakai-active-color-3: var(--sakai-brand--lighter-4);
  --sakai-passive-color-1: var(--sakai-color-gray--lighter-6);
  --sakai-passive-color-2: var(--sakai-color-gray--lighter-5);
  --sakai-passive-color-3: var(--sakai-color-gray--lighter-4);
  --sakai-background-color-1: var(--sakai-color-white);
  --sakai-background-color-2: var(--sakai-color-gray--lighter-7);
  --sakai-background-color-3: var(--sakai-color-gray--lighter-6);
  --sakai-background-color-4: var(--sakai-color-gray--lighter-5);
  --sakai-secondary-color-1: var(--sakai-color-blue--darker-2);
  --sakai-tertiary-color-1: var(--sakai-color-orange--darker-4);
  --sakai-border-color: var(--sakai-color-gray--lighter-6);
  --sakai-text-color-1: var(--sakai-color-gray--darker-5);
  --sakai-text-color-2: var(--sakai-color-gray--darker-6);
  --sakai-text-color-3: var(--sakai-brand--darker-3);
  --sakai-text-color-dimmed: var(--sakai-color-gray--darker-4);
  --sakai-text-color-disabled: var(--sakai-color-gray--darker-2);
  --sakai-text-color-inverted: var(--sakai-background-color-1);
  --elevation-0dp: none;
  --elevation-1dp: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  --elevation-2dp: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  --elevation-3dp: 0 3px 3px -2px rgba(0, 0, 0, 0.2),
    0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  --elevation-4dp: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
    0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  --elevation-5dp: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
  --elevation-6dp: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  --elevation-7dp: 0 4px 5px -2px rgba(0, 0, 0, 0.2),
    0 7px 10px 1px rgba(0, 0, 0, 0.14), 0 2px 16px 1px rgba(0, 0, 0, 0.12);
  --elevation-8dp: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  --portal-background-color: var(--sakai-background-color-1);
  --portal-mask-background: rgba(0, 0, 0, 0.5);
  --tool-background-color: var(--sakai-background-color-1);
  --tool-menu-background-color: var(--sakai-background-color-1);
  --tool-menu-hover-background-color: var(--sakai-background-color-2);
  --tool-menu-color: var(--sakai-text-color-1);
  --tool-border-color: var(--sakai-border-color);
  --tool-tab-text-color: var(--tool-menu-color);
  --tool-tab-background-color: var(--tool-menu-background-color);
  --tool-tab-border-color: var(--sakai-border-color);
  --tool-tab-hover-text-color: var(--sakai-text-color-3);
  --tool-tab-hover-background-color: var(--sakai-background-color-3);
  --tool-tab-hover-highlight-color: var(--sakai-active-color-2);
  --tool-tab-active-text-color: var(--sakai-text-color-3);
  --tool-tab-active-background-color: var(--sakai-background-color-1);
  --tool-tab-active-highlight-color: var(--sakai-active-color-3);
  --top-header-background: var(--sakai-color-gray--darker-7);
  --top-header-profile-border-color-top: var(--sakai-secondary-color-1);
  --top-header-profile-border-color-right: var(--sakai-secondary-color-1);
  --top-header-profile-border-color-bottom: var(--sakai-tertiary-color-1);
  --top-header-profile-border-color-left: var(--sakai-tertiary-color-1);
  --top-header-profile-border-color-inner: var(--sakai-background-color-1);
  --sites-nav-background: var(--sakai-background-color-1);
  --breadcrumbs-color: var(--sakai-text-color-1);
  --breadcrumbs-tool-color: var(--sakai-primary-color-1);
  --breadcrumbs-hover-color: var(--sakai-primary-color-1);
  --link-color: var(--sakai-primary-color-1);
  --link-active-color: var(--sakai-primary-color-3);
  --link-hover-color: var(--sakai-primary-color-2);
  --link-visited-color: var(--sakai-color-purple);
  --link-background-color: transparent;
  --link-active-background-color: transparent;
  --link-hover-background-color: transparent;
  --button-text-color: var(--sakai-text-color-2);
  --button-background: var(--sakai-passive-color-1);
  --button-border-color: var(--sakai-passive-color-2);
  --button-shadow: none;
  --button-hover-text-color: var(--button-text-color);
  --button-hover-background: var(--sakai-passive-color-2);
  --button-hover-border-color: var(--sakai-passive-color-3);
  --button-hover-shadow: none;
  --button-active-text-color: var(--button-text-color);
  --button-active-background: var(--sakai-passive-color-3);
  --button-active-border-color: var(--button-active-background);
  --button-active-shadow-color: rgba(0, 0, 0, 0);
  --button-active-shadow: none;
  --button-disabled-text-color: var(--sakai-text-color-disabled);
  --button-disabled-background: var(--sakai-background-color-2);
  --button-disabled-border-color: var(--sakai-border-color);
  --button-disabled-shadow: none;
  --button-primary-text-color: var(--sakai-text-color-inverted);
  --button-primary-background: var(--sakai-primary-color-1);
  --button-primary-border-color: var(--button-primary-background);
  --button-primary-shadow: var(--elevation-2dp);
  --button-primary-hover-text-color: var(--button-primary-text-color);
  --button-primary-hover-background: var(--sakai-primary-color-2);
  --button-primary-hover-border-color: var(--button-primary-hover-background);
  --button-primary-hover-shadow: var(--elevation-4dp);
  --button-primary-active-text-color: var(--button-primary-text-color);
  --button-primary-active-background: var(--sakai-primary-color-3);
  --button-primary-active-border-color: var(--button-primary-active-background);
  --button-primary-active-shadow: var(--elevation-4dp);
  --instruction-color: var(--sakai-text-color-disabled);
  --infoBanner-bordercolor: var(--sakai-color-blue--lighter-2);
  --infoBanner-bgcolor: var(--sakai-color-blue--lighter-7);
  --infoBanner-color: var(--sakai-color-blue--darker-3);
  --successBanner-bordercolor: var(--sakai-color-green--lighter-2);
  --successBanner-bgcolor: var(--sakai-color-green--lighter-7);
  --successBanner-color: var(--sakai-color-green--darker-3);
  --warnBanner-bordercolor: var(--sakai-color-gold--lighter-2);
  --warnBanner-bgcolor: var(--sakai-color-gold--lighter-7);
  --warnBanner-color: var(--sakai-color-gold--darker-4);
  --errorBanner-bordercolor: var(--sakai-color-red--lighter-2);
  --errorBanner-bgcolor: var(--sakai-color-red--lighter-7);
  --errorBanner-color: var(--sakai-color-red--darker-2);
  --swapped-view-primary: var(--warnBanner-bgcolor);
  --become-user-primary: var(--sakai-color-purple--darker-1);
  --topNav-text-color: var(--sakai-text-color-inverted);
  --topNav-border-color: var(--sakai-border-color);
  --sites-nav-background: var(--sakai-background-color-1);
  --sites-nav-menu-item-background: var(--sakai-passive-color-1);
  --sites-nav-menu-item-color: var(--sakai-text-color-1);
  --sites-nav-menu-item-border-color: var(--sites-nav-menu-item-background);
  --sites-nav-menu-item-hover-background: var(--sakai-passive-color-2);
  --sites-nav-menu-item-hover-color: var(--sakai-text-color-2);
  --sites-nav-menu-item-hover-border-color: var(
    --sites-nav-menu-item-hover-background
  );
  --sites-nav-menu-item-hover-icon-background: var(--sakai-passive-color-3);
  --sites-nav-menu-item-hover-icon-border-color: var(
    --sites-nav-menu-item-hover-icon-background
  );
  --sites-nav-menu-item-active-background: var(--sakai-passive-color-3);
  --sites-nav-menu-item-active-border-color: var(
    --sites-nav-menu-item-active-background
  );
  --sites-nav-menu-item-active-icon-background: var(
    --sites-nav-menu-item-active-background
  );
  --sites-nav-menu-item-active-icon-border-color: var(
    --sites-nav-menu-item-active-background
  );
  --sites-nav-submenu-border-color: transparent;
  --sites-nav-submenu-background: var(--sites-nav-menu-item-background);
  --sites-nav-submenu-item-color: var(--sites-nav-menu-item-color);
  --sites-nav-submenu-item-divider-color: var(--sites-nav-submenu-item-color);
  --sites-nav-submenu-item-hover-background: var(
    --sites-nav-menu-item-hover-background
  );
  --sites-nav-submenu-item-hover-color: var(--sites-nav-menu-item-hover-color);
  --sites-nav-submenu-item-hover-icon-color: var(
    --sites-nav-menu-item-hover-color
  );
  --sites-nav-submenu-item-active-background: var(
    --sites-nav-menu-item-active-background
  );
  --sites-nav-menu-item-selected-background: var(--sakai-active-color-1);
  --sites-nav-menu-item-selected-color: var(--sakai-text-color-3);
  --sites-nav-menu-item-selected-border-color: var(
    --sites-nav-menu-item-selected-background
  );
  --sites-nav-menu-item-selected-hover-background: var(--sakai-active-color-2);
  --sites-nav-menu-item-selected-hover-color: var(--sakai-text-color-3);
  --sites-nav-menu-item-selected-hover-border-color: var(
    --sites-nav-menu-item-selected-hover-background
  );
  --sites-nav-menu-item-selected-hover-icon-background: var(
    --sakai-active-color-3
  );
  --sites-nav-menu-item-selected-hover-icon-border-color: var(
    --sites-nav-menu-item-selected-hover-icon-background
  );
  --sites-nav-menu-item-selected-active-background: var(--sakai-active-color-3);
  --sites-nav-menu-item-selected-active-border-color: var(
    --sites-nav-menu-item-selected-active-background
  );
  --sites-nav-menu-item-selected-active-icon-background: var(
    --sites-nav-menu-item-selected-active-background
  );
  --sites-nav-menu-item-selected-active-icon-border-color: var(
    --sites-nav-menu-item-selected-active-background
  );
  --sites-nav-submenu-selected-border-color: transparent;
  --sites-nav-submenu-selected-background: var(
    --sites-nav-menu-item-selected-background
  );
  --sites-nav-submenu-item-selected-divider-color: var(
    --sites-nav-menu-item-selected-color
  );
  --sites-nav-submenu-item-selected-hover-background: var(
    --sites-nav-menu-item-selected-hover-background
  );
  --sites-nav-submenu-item-selected-hover-color: var(
    --sites-nav-menu-item-selected-hover-color
  );
  --sites-nav-submenu-item-selected-hover-icon-color: var(
    --sites-nav-menu-item-selected-hover-color
  );
  --sites-nav-submenu-item-selected-active-background: var(
    --sites-nav-menu-item-selected-active-background
  );
  --all-sites-background-color: var(--sakai-background-color-1);
  --all-sites-drop-shadow: var(--elevation-8dp);
  --all-sites-tab-text-color: var(--tool-menu-color);
  --all-sites-tab-background-color: var(--tool-tab-background-color);
  --all-sites-tab-border-color: var(--tool-tab-border-color);
  --all-sites-tab-hover-text-color: var(--tool-tab-hover-text-color);
  --all-sites-tab-hover-background-color: var(
    --tool-tab-hover-background-color
  );
  --all-sites-tab-hover-highlight: var(--tool-tab-hover-highlight-color);
  --all-sites-tab-active-text-color: var(--tool-tab-active-text-color);
  --all-sites-tab-active-background-color: var(
    --tool-tab-active-background-color
  );
  --all-sites-tab-active-highlight-color: var(
    --tool-tab-active-highlight-color
  );
  --all-sites-title-text-color: var(--sakai-text-color-1);
  --all-sites-button-text-color: var(--sakai-text-color-1);
  --all-sites-button-background-color: var(--sakai-background-color-2);
  --all-sites-button-border-color: var(--sakai-border-color);
  --all-sites-button-star-full-color: var(--sakai-color-gold);
  --all-sites-button-star-empty-color: var(--sakai-text-color-1);
  --all-sites-button-selected-text-color: var(--sakai-text-color-3);
  --all-sites-button-selected-background-color: var(--sakai-active-color-1);
  --all-sites-button-selected-border-color: var(
    --all-sites-button-selected-background-color
  );
  --all-sites-button-selected-dropdown-color: var(
    --all-sites-button-selected-text-color
  );
  --all-sites-button-selected-star-full-color: var(
    --all-sites-button-star-full-color
  );
  --all-sites-button-selected-star-empty-color: var(
    --all-sites-button-star-empty-color
  );
  --all-sites-button-hover-text-color: var(--sakai-text-color-1);
  --all-sites-button-hover-background-color: var(--sakai-background-color-3);
  --all-sites-button-hover-border-color: var(
    --all-sites-button-hover-background-color
  );
  --all-sites-button-hover-dropdown-color: var(
    --all-sites-button-hover-text-color
  );
  --all-sites-button-hover-star-full-color: var(
    --all-sites-button-star-full-color
  );
  --all-sites-button-hover-star-empty-color: var(
    --all-sites-button-star-empty-color
  );
  --all-sites-button-drag-icon-color: var(--sakai-text-color-1);
  --all-sites-button-drag-icon-hover-color: var(--sakai-text-color-1);
  --all-sites-tool-menu-divider-color: var(--sakai-border-color);
  --all-sites-tool-menu-background-color: var(
    --all-sites-button-background-color
  );
  --all-sites-tool-menu-text-color: var(--all-sites-button-text-color);
  --all-sites-tool-menu-icon-color: var(--all-sites-button-text-color);
  --all-sites-tool-menu-left-border-color: var(
    --all-sites-tool-menu-background-color
  );
  --all-sites-tool-menu-hover-background-color: var(
    --all-sites-button-hover-background-color
  );
  --all-sites-tool-menu-hover-text-color: var(
    --all-sites-button-hover-text-color
  );
  --all-sites-tool-menu-hover-icon-color: var(
    --all-sites-button-hover-text-color
  );
  --all-sites-tool-menu-hover-left-border-color: var(
    --all-sites-tool-menu-hover-background-color
  );
  --all-sites-close-action-color: var(--button-text-color);
  --all-sites-close-action-hover-color: var(--button-hover-text-color);
  --tool-menu-item-separator-color: transparent;
  --tool-menu-item-text-color: var(--sakai-text-color-2);
  --tool-menu-item-icon-color: var(--sakai-text-color-1);
  --tool-menu-item-background-color: var(--sakai-background-color-1);
  --tool-menu-item-hover-text-color: var(--tool-menu-item-text-color);
  --tool-menu-item-hover-icon-color: var(--tool-menu-item-icon-color);
  --tool-menu-item-hover-background-color: var(--sakai-background-color-2);
  --tool-menu-item-active-text-color: var(--tool-menu-item-text-color);
  --tool-menu-item-active-icon-color: var(--tool-menu-item-icon-color);
  --tool-menu-item-active-background-color: var(--sakai-background-color-3);
  --tool-menu-item-hidden-text-color: var(--tool-menu-item-text-color);
  --tool-menu-item-hidden-icon-color: var(--tool-menu-item-icon-color);
  --tool-menu-item-hidden-background-color: var(
    --tool-menu-item-background-color
  );
  --tool-menu-item-hidden-hover-text-color: var(
    --tool-menu-item-hover-text-color
  );
  --tool-menu-item-hidden-hover-icon-color: var(
    --tool-menu-item-hover-icon-color
  );
  --tool-menu-item-hidden-hover-background-color: var(
    --tool-menu-item-hover-background-color
  );
  --tool-menu-item-hidden-active-text-color: var(
    --tool-menu-item-active-text-color
  );
  --tool-menu-item-hidden-active-icon-color: var(
    --tool-menu-item-active-icon-color
  );
  --tool-menu-item-hidden-active-background-color: var(
    --tool-menu-item-active-background-color
  );
  --tool-menu-item-selected-text-color: var(--sakai-text-color-3);
  --tool-menu-item-selected-icon-color: var(--sakai-text-color-3);
  --tool-menu-item-selected-background-color: var(--sakai-active-color-1);
  --tool-menu-item-selected-hover-text-color: var(
    --tool-menu-item-selected-text-color
  );
  --tool-menu-item-selected-hover-icon-color: var(
    --tool-menu-item-selected-icon-color
  );
  --tool-menu-item-selected-hover-background-color: var(--sakai-active-color-2);
  --tool-menu-item-selected-active-text-color: var(
    --tool-menu-item-selected-text-color
  );
  --tool-menu-item-selected-active-icon-color: var(
    --tool-menu-item-selected-icon-color
  );
  --tool-menu-item-selected-active-background-color: var(
    --sakai-active-color-3
  );
  --tool-menu-collapse-text-color: var(--tool-menu-item-text-color);
  --tool-menu-collapse-icon-color: var(--tool-menu-item-text-color);
  --tool-menu-collapse-background-color: var(--tool-menu-item-background-color);
  --tool-menu-collapse-shadow: var(--elevation-4dp);
  --tool-menu-collapse-hover-text-color: var(--tool-menu-item-hover-text-color);
  --tool-menu-collapse-hover-background-color: var(
    --tool-menu-item-hover-background-color
  );
  --tool-menu-collapse-hover-shadow: var(--elevation-6dp);
  --tool-menu-collapse-active-text-color: var(
    --tool-menu-item-active-text-color
  );
  --tool-menu-collapse-active-background-color: var(
    --tool-menu-item-active-background-color
  );
  --tool-menu-collapse-active-shadow: var(--elevation-5dp);
  --tool-menu-collapse-min-text-color: var(--tool-menu-collapse-text-color);
  --tool-menu-collapse-min-background-color: var(
    --tool-menu-collapse-background-color
  );
  --tool-menu-collapse-min-shadow: var(--tool-menu-collapse-shadow);
  --tool-menu-collapse-min-hover-text-color: var(
    --tool-menu-collapse-hover-text-color
  );
  --tool-menu-collapse-min-hover-background-color: var(
    --tool-menu-collapse-hover-background-color
  );
  --tool-menu-collapse-min-hover-shadow: var(--tool-menu-collapse-hover-shadow);
  --tool-menu-collapse-min-active-text-color: var(
    --tool-menu-collapse-active-text-color
  );
  --tool-menu-collapse-min-active-background-color: var(
    --tool-menu-collapse-active-background-color
  );
  --tool-menu-collapse-min-active-shadow: var(
    --tool-menu-collapse-active-shadow
  );
  --tool-sub-menu-border-color: var(--sakai-border-color);
  --tool-sub-menu-background-color: var(--tool-menu-item-background-color);
  --tool-sub-menu-hover-color: var(--tool-menu-item-hover-text-color);
  --tool-sub-menu-hover-background-color: var(
    --tool-menu-item-hover-background-color
  );
  --tool-sub-menu-current-color: var(--tool-menu-item-selected-text-color);
  --tool-sub-menu-current-background-color: var(
    --tool-menu-item-selected-background-color
  );
  --tool-sub-menu-current-hover-color: var(
    --tool-menu-item-selected-hover-text-color
  );
  --tool-sub-menu-current-hover-background-color: var(
    --tool-menu-item-selected-hover-background-color
  );
  --tool-lessons-toplevel-menu-selected-background-color: var(
    --tool-menu-item-background-color
  );
  --tool-lessons-toplevel-menu-expanded-background-color: var(
    --tool-menu-item-background-color
  );
  --tool-lessons-toplevel-menu-expanded-hover-background-color: var(
    --tool-menu-item-hover-background-color
  );
  --tool-lessons-toplevel-menu-expanded-selected-background-color: var(
    --tool-menu-item-selected-background-color
  );
  --tool-lessons-toplevel-menu-expanded-selected-color: var(
    --tool-menu-item-selected-color
  );
  --tool-lessons-toplevel-menu-sliding-background-color: var(
    --tool-menu-item-background-color
  );
  --tool-lessons-subpage-menu-selected-background-color: var(
    --tool-menu-item-selected-background-color
  );
  --tool-lessons-subpage-menu-selected-parent-background-color: var(
    --tool-menu-item-background-color
  );
  --tool-lessons-subpage-menu-expanded-background-color: var(
    --tool-menu-item-background-color
  );
  --lessons-item-border-top-color: var(--sites-nav-menu-item-background);
  --lessons-column-border-color: var(--sakai-border-color);
  --lessons-item-hover-background: var(--sakai-background-color-2);
  --lessons-item-hover-shadow: var(--elevation-4dp);
  --siteUnpublish-background: var(--warnBanner-bgcolor);
  --siteUnpublish-color: var(--warnBanner-color);
  --siteUnpublish-border-color: var(--warnBanner-bordercolor);
  --siteDelete-background: var(--infoBanner-bgcolor);
  --siteDelete-color: var(--infoBanner-color);
  --siteDelete-border-color: var(--infoBanner-bordercolor);
  --footer-background-color: var(--sakai-background-color-1);
  --footer-border-color: var(--tool-border-color);
  --footer-color: var(--sakai-text-color-1);
  --footer-link-separator: var(--sakai-border-color);
  --divider-shadow: var(--elevation-2dp);
  --divider-shadow-fixed: 0 1px 0 var(--tool-border-color);
  --overview-portlet-shadow: var(--elevation-2dp);
  --overview-portlet-title-background-color: var(--tool-tab-background-color);
  --focus-outline-color: var(--sakai-color-blue--lighter-3);
  --sakai-dashboard-widget-bg-color: var(--sakai-background-color-1);
  --sakai-dashboard-widget-border-color: var(--sakai-border-color);
  --sakai-title-bar-bg-color: var(--sakai-background-color-2);
  --sakai-close-icon-color: var(--errorBanner-color);
  --sakai-table-even-color: var(--sakai-background-color-2);
  --sakai-separator-color: var(--sakai-border-color);
  --sakai-calendar-button-background-color: #ffffff;
  --sakai-calendar-button-color: var(--button-text-color);
  --sakai-calendar-button-disabled-color: var(--button-disabled-text-color);
  --sakai-calendar-button-disabled-bg-color: var(--button-disabled-background);
  --sakai-calendar-today-bg-color: var(--sakai-primary-color-1);
  --sakai-calendar-today-fg-color: var(--sakai-text-color-inverted);
  --sakai-calendar-has-events-bg-color: var(--sakai-color-green--darker-4);
  --sakai-calendar-has-events-fg-color: var(--sakai-text-color-inverted);
  --sakai-grades-count-color: var(--sakai-text-color-dimmed);
  --sakai-options-menu-background-color: #d4ebf9;
  --sakai-options-menu-color: black;
  --sakai-user-status-online: var(--sakai-color-green--lighter-2);
  --sakai-popover-background: var(--sakai-background-color-1);
  --sakai-popover-title-background: var(--sakai-background-color-1);
  --sakai-hightlight-color: var(--errorBanner-color);
  --progress-bar-bg: var(--infoBanner-bordercolor);
}
.sakaiUserTheme-dark:root {
  /*ADDED VARS*/

  --sakai-record-color: var(--sakai-color-red--lighter-3);
  /*ADDED VARS*/

  /*UNCHANGED VARS*/
  --sakai-greyblue--lighter-7: #f3f4f5;
  --sakai-greyblue--lighter-6: #e2e5e8;
  --sakai-greyblue--lighter-5: #d2d6db;
  --sakai-greyblue--lighter-4: #c1c7ce;
  --sakai-greyblue--lighter-3: #b0b8c1;
  --sakai-greyblue--lighter-2: #a0a9b4;
  --sakai-greyblue--lighter-1: #8f9aa7;
  --sakai-greyblue: #84909f;
  --sakai-greyblue--darker-1: #788390;
  --sakai-greyblue--darker-2: #666f7b;
  --sakai-greyblue--darker-3: #555c65;
  --sakai-greyblue--darker-4: #434950;
  --sakai-greyblue--darker-5: #31353b;
  --sakai-greyblue--darker-6: #1f2225;
  --sakai-greyblue--darker-7: #0d0e10;
  --sakai-primary-color-1: var(--sakai-brand);
  --sakai-primary-color-2: var(--sakai-brand--lighter-1);
  --sakai-primary-color-3: var(--sakai-brand--lighter-2);
  --sakai-active-color-1: var(--sakai-brand--darker-1);
  --sakai-active-color-2: var(--sakai-brand);
  --sakai-active-color-3: var(--sakai-brand--lighter-1);
  --sakai-passive-color-1: var(--sakai-greyblue--darker-5);
  --sakai-passive-color-2: var(--sakai-greyblue--darker-4);
  --sakai-passive-color-3: var(--sakai-greyblue--darker-3);
  --sakai-background-color-1: var(--sakai-greyblue--darker-6);
  --sakai-background-color-2: var(--sakai-greyblue--darker-5);
  --sakai-background-color-3: var(--sakai-greyblue--darker-4);
  --sakai-background-color-4: var(--sakai-greyblue--darker-3);
  --sakai-secondary-color-1: var(--sakai-color-blue--lighter-2);
  --sakai-tertiary-color-1: var(--sakai-color-orange--lighter-2);
  --sakai-border-color: var(--sakai-greyblue--darker-4);
  --sakai-text-color-1: var(--sakai-color-gray--lighter-5);
  --sakai-text-color-2: var(--sakai-color-gray--lighter-6);
  --sakai-text-color-3: var(--sakai-brand--lighter-6);
  --sakai-text-color-dimmed: var(--sakai-color-gray--lighter-4);
  --sakai-text-color-disabled: var(--sakai-color-gray--lighter-2);
  --sakai-text-color-inverted: var(--sakai-color-gray--lighter-6);
  --sakai-image-invert: grayscale(100%) invert(100%);
  --top-header-background: var(--sakai-background-color-1);
  --breadcrumbs-tool-color: var(--sakai-text-color-color-3);
  --breadcrumbs-hover-color: var(--sakai-primary-color-3);
  --link-color: var(--sakai-text-color-3);
  --link-active-color: var(--sakai-text-color-2);
  --link-hover-color: var(--sakai-text-color-2);
  --link-visited-color: var(--sakai-color-purple--lighter-2);
  --infoBanner-bordercolor: var(--sakai-color-blue--darker-4);
  --infoBanner-bgcolor: var(--sakai-color-blue--darker-6);
  --infoBanner-color: var(--sakai-color-blue--lighter-4);
  --successBanner-bordercolor: var(--sakai-color-green--darker-4);
  --successBanner-bgcolor: var(--sakai-color-green--darker-6);
  --successBanner-color: var(--sakai-color-green--lighter-4);
  --warnBanner-bordercolor: var(--sakai-color-gold--darker-4);
  --warnBanner-bgcolor: var(--sakai-color-gold--darker-6);
  --warnBanner-color: var(--sakai-color-gold--lighter-4);
  --errorBanner-bordercolor: var(--sakai-color-red--darker-4);
  --errorBanner-bgcolor: var(--sakai-color-red--darker-6);
  --errorBanner-color: var(--sakai-color-red--lighter-4);
  --progress-bar-bg: var(--infoBanner-bgcolor);
  --footer-PoweredBy-bg: var(--sakai-color-gray--darker-1);
  --sakai-hightlight-color: var(--sakai-color-red--lighter-6);
  --sakai-calendar-button-color: var(--button-text-color);
  --sakai-calendar-button-disabled-background-color: var(
    --button-disabled-background
  );
  --sakai-calendar-today-background-color: yellow;
  --sakai-calendar-today-color: black;
  --sakai-calendar-has-events-color: white;
  --sakai-calendar-has-events-background-color: green;
}