	.toggleAnchor{
		border:1px solid #cef;
		background:#cef  !important;
		padding:5px!important;
		cursor:pointer
	}
	.toggleAnchor:hover,	.toggleAnchorOpen:hover{
		border:1px solid #9cf;
	}

	.toggleAnchorOpen{
		border:1px solid #cef;
		background:#cef !important;
		padding:5px!important;
		cursor:pointer
	}
	a.toggleAnchor {
		display: block;
		text-decoration: none !important;
	}
	a.toggleAnchor > h3 {
		display: inline;
	}
	.discTria > a {
		text-decoration: none !important;
	}
	.toggledContent{
		margin:0;
		border:2px solid #cef;
		border-top:none;
		padding: 1em
	}
	.toggledContent h4{
		color:#000 !important;
		width:40em;
		margin:.5em 0 !important;
		padding:.3em 0;
		border-bottom:2px solid #ccc
	}
.smallCol{
    width:25px
}
#allowResubmission_shownInner{padding:1em}
#allowResubmission_shownInner p {border:none}
.highLightBlock{
    background:#eee;
}
.group_icon {
            padding: 0 16px 0 6px;
            white-space: nowrap;
            background: url(/library/image/silk/group.png) center no-repeat;
}
.user_icon {
            padding: 0 16px 0 6px;
            white-space: nowrap;
            background: url(/library/image/silk/user.png) center no-repeat;
}
.section_icon {
            padding: 0 16px 0 6px;
            white-space: nowrap;
            background: url(/library/image/silk/group_key.png) center no-repeat;
}