.toggleAnchor{
    border:1px solid #cef;
    background:#cef  !important;
    padding:5px!important;
    cursor:pointer
}
.toggleAnchor:hover,	.toggleAnchorOpen:hover{
    border:1px solid #9cf;
}

.toggleAnchorOpen{
    border:1px solid #cef;
    background:#cef !important;
    padding:5px!important;
    cursor:pointer
}
a.toggleAnchor {
    display: block;
    text-decoration: none !important;
}
a.toggleAnchor > h3 {
    display: inline;
}

a.toggleAnchor > h4 {
    display: inline;
}

.discTria > a {
    text-decoration: none !important;
}
.toggledContent{
    margin:0;
    border:2px solid #cef;
    border-top:none;
    padding: 1em
}
.toggledContent h4{
    color:#000 !important;
    width:40em;
    margin:.5em 0 !important;
    padding:.3em 0;
    border-bottom:2px solid #ccc
}
.smallCol{
    width:25px
}
#allowResubmission_shownInner,#sendFeedback_shownInner {padding:1em}
#allowResubmission_shownInner,#sendFeedback_shownInner p {border:none}
.highLightBlock{
    background:#eee;
}
.group_icon {
            padding: 0 16px 0 6px;
            white-space: nowrap;
            background: url(/library/image/silk/group.png) center no-repeat;
}
.user_icon {
            padding: 0 16px 0 6px;
            white-space: nowrap;
            background: url(/library/image/silk/user.png) center no-repeat;
}
.section_icon {
            padding: 0 16px 0 6px;
            white-space: nowrap;
            background: url(/library/image/silk/group_key.png) center no-repeat;
}

.popupMessage{
    background-color: #ffffcb !important;
    border: 1px solid lightgray;
    padding: 0.4em;
    width: 475px;
    position: absolute;
    z-index: 1000;
}

.reportIcon
{
    display:inline-block;
    width:20px;
}

.disclosureTriangle
{
    vertical-align:top;
}

.assignmentUnsubmittable
{
    background-color: #900;
    color: #fff;
}

.assignmentUnsubmittableAttachments
{
    background-color: #fdd;
}

.assignmentUnsubmittable, .assignmentUnsubmittableAttachments
{
    border: 1px solid #900;
    padding: 0 10px 10px;
    margin: 1em 0;
}

.assignmentUnsubmittable h3
{
    color: #fff;
}

.assignmentUnsubmittable .assignmentInline
{
    background-color: #fff;
    border: 1px solid #eee;
    color: #000;
    margin-top: 10px;
    max-height: 300px;
    overflow-y: auto;
    padding: 0 10px;
}

.assignmentWarning
{
    background: url('/library/skin/images/error.png') no-repeat left;
    padding-left: 2em;
}

.assignmentAttachRadio
{
    margin: 2px;
    padding: 0 1em;
}

.assignmentAttachRadio input, .assignmentAttachRadio img, .assignmentAttachRadio span
{
    line-height: 2.5em;
    vertical-align: middle;
}

.assignmentAttachRadio input[type=file]
{
    line-height: 2.5em;
    vertical-align: middle;
}

.assignmentAttachmentHighlight
{
    background-color: #ffe;
}

.assignmentAttachBox
{
    background-color: #eee;
    padding: 10px;
}

.assignmentAttachBox h3
{
    margin: 0;
}

.assignmentRosette
{
    vertical-align: middle;
}

/* SAK-26349 */
.groupsContainer strong {
    font-weight: normal;
    cursor: pointer;
    padding-left: 1em !important;
}

.groupsContainer .expand {
    background: url('/library/image/sakai/collapse.gif') no-repeat left !important;
}

.groupsContainer .collapse {
    background: url('/library/image/sakai/expand.gif') no-repeat left !important;
}

.groupsContainer .collapse{
    display: block !important;
}

label.disabled {
    color: #aaa;
}

/* start SAK-29314 */
.navigator {
    width: 100%;
    display: table;
}

.navigator fieldset.roundedBorder {
    border: 2px solid #c8c8c8;
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 1em;
}

.navigator fieldset.roundedBorder legend
{
    padding-left: 6px;
    padding-right: 6px;
    background: rgba(255, 255, 255, 0);
    color: #444444;
}

td.specialLink a:link, td.specialLink a:visited {
    color: #197FA8;
}

.gradingHeader {
    width: 100%;
    line-height: 1.4em;
    padding: 3px;
}
/* end SAK-29314 */

select.selectSet {
    display: none;
}

#extraNodeLinkList{
    max-width:1200px;
}

.extraNode {
    border:1px solid #69d;
    padding: 0  1.5em 1em 1.5em;
    width:100%;
    max-width:1200px;
}

.extraNode legend{
    margin-bottom: 1em;
}

.extraNodeLink {
    cursor:pointer;
}

.extraNode legend {
    padding:0 .5em;
    color:#555
}

.members{
    font-size: 0.9em;
}

.userList {
    margin-left:36px !important
}

.userList .selectedItem {
    background:#def;
    color:#000;
    font-weight:bold
}

.userList li label:hover {
    cursor:pointer;
    background:#ffe
}

fieldset .alertMessageInline,fieldset .alertMessage {
    border:none
}

.smallMatches {
    background-color: lightyellow;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    padding: 1em 1em 1em 2em;
}

.itemAction.spinnerBesideContainer a {
    margin: 0 4px;
}

.itemAction a:link {
    border: 1px solid transparent;
}
