<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <tx:advice id="entityBrokerDaoTxAdvice"
               transaction-manager="org.sakaiproject.springframework.orm.hibernate.GlobalTransactionManager">
        <tx:attributes>
            <tx:method name="find*"  propagation="REQUIRED" read-only="true"/>
            <tx:method name="get*"   propagation="REQUIRED" read-only="true"/>
            <tx:method name="can*"   propagation="REQUIRED" read-only="true"/>
            <tx:method name="check*" propagation="REQUIRED" read-only="true"/>
            <tx:method name="count*" propagation="REQUIRED" read-only="true"/>
            <tx:method name="*"      propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:advisor
                advice-ref="entityBrokerDaoTxAdvice"
                pointcut="execution(* org.sakaiproject.entitybroker.dao.EntityBrokerDao.*(..))
                       || execution(* org.sakaiproject.genericdao.api.GenericDao.*(..))"/>

    </aop:config>

    <bean id="org.sakaiproject.entitybroker.dao.EntityBrokerDao"
        class="org.sakaiproject.entitybroker.dao.impl.EntityBrokerDaoImpl">
        <property name="dataSource" ref="javax.sql.DataSource" />
        <property name="autoDDL" ref="sakaiAutoDDL" />
        <property name="databaseType" ref="sakaiDatabaseType" />
        <property name="dataMappers">
            <list>
                <bean class="org.sakaiproject.genericdao.springjdbc.SimpleDataMapper">
                    <property name="persistentClassname"
                        value="org.sakaiproject.entitybroker.dao.EntityProperty" />
                    <property name="tableName" value="ENTITY_PROPERTIES" />
                    <property name="usePropertyNamesForColumns" value="true" />
                    <property name="DBTypeToFile">
                        <map>
                            <entry key="HSQLDB" value="hsqldb/entityProperty.sql" />
                            <entry key="MYSQL" value="mysql/entityProperty.sql" />
                            <entry key="ORACLE" value="oracle/entityProperty.sql" />
                        </map>
                    </property>
                </bean>
                <bean class="org.sakaiproject.genericdao.springjdbc.SimpleDataMapper">
                    <property name="persistentClassname"
                        value="org.sakaiproject.entitybroker.dao.EntityTagApplication" />
                    <property name="tableName" value="ENTITY_TAG_APPLICATIONS" />
                    <property name="usePropertyNamesForColumns" value="true" />
                    <property name="DBTypeToFile">
                        <map>
                            <entry key="HSQLDB" value="hsqldb/entityTagApplication.sql" />
                            <entry key="MYSQL" value="mysql/entityTagApplication.sql" />
                            <entry key="ORACLE" value="oracle/entityTagApplication.sql" />
                        </map>
                    </property>
                </bean>
            </list>
        </property>
    </bean>
</beans>
