##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/admin/chef_sites_list.vm,v 1.4 2005/06/06 19:42:22 gsilver.umich.edu Exp $ -->
<script type="text/javascript" language="JavaScript">
	focus_path = ["search"];
</script>
<div class="portletBody">
#if($menu)
	#toolbar($menu)
#end
	<h3>
		$tlang.getString("sitlis.sites")
	</h3>	
		#if ($alertMessage)<div class="alertMessage">$tlang.getString("sitlis.alert") $validator.escapeHtml($alertMessage)</div>#end
		<div class="instruction">
			$tlang.getString("sitlis.theare") 
		</div>
		
##paging widget
		<div class="listNav">
						#if($totalNumber>0)
						<div class="instruction">	
						$tlang.getString("sitedipag.list.youare") $startNumber - $endNumber $tlang.getString("sitedipag.list.of") $totalNumber $tlang.getString("sitedipag.list.results")
						</div>
						#end
						#if ($pagesize != 0)
							#if ($goFPButton == "true")
								<form name="firstpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
									<input type="submit" name="eventSubmit_doList_first" value="|&lt;" title="$tlang.getString("sitedipag.first")" />
								</form>
							#else
								<form name="firstpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
									<input type="submit" name="eventSubmit_doList_first" value="|&lt;" disabled="disabled" />
								</form>
							#end
							#if ($goPPButton == "true")
								<form name="prevpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
									<input type="submit" name="eventSubmit_doList_prev" value="&lt;" title="$tlang.getString('sitedipag.previous') $pagesize"  accesskey="p" />
								</form>
							#else
								<form name="prevpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
									<input type="submit" name="eventSubmit_doList_prev" value="&lt;" disabled="disabled" />
								</form>
							#end
						#end
						<form name="pagesizeForm" class="inlineForm" method="post" action="#toolForm("$action")">
							<input type="hidden" name="eventSubmit_doChange_pagesize" value="changepagesize" />
							<span class="skip">$tlang.getString("sitedipag.listnavselect")</span>
							<select name="selectPageSize" onchange="blur();document.pagesizeForm.submit();">
								<option value="5" #if($pagesize == 5) selected="selected" #end>$tlang.getString("sitedipag.show5")</option>
								<option value="10" #if($pagesize == 10) selected="selected" #end>$tlang.getString("sitedipag.show10")</option>
								<option value="20" #if($pagesize == 20) selected="selected" #end>$tlang.getString("sitedipag.show20")</option>
								<option value="50" #if($pagesize == 50) selected="selected" #end>$tlang.getString("sitedipag.show50")</option>
								<option value="100" #if($pagesize == 100) selected="selected" #end>$tlang.getString("sitedipag.show100")</option>
								<option value="200" #if($pagesize == 200) selected="selected" #end>$tlang.getString("sitedipag.show200")</option>
							</select>
						</form>
						#if ($pagesize != 0)
							#if ($goNPButton == "true")
								<form name="nextpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
									<input type="submit" name="eventSubmit_doList_next" value="&gt;" title="$tlang.getString('sitedipag.next') $pagesize"  accesskey="n" />
								</form>
							#else
								<form name="nextpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
									<input type="submit" name="eventSubmit_doList_next" value="&gt;" disabled="disabled" />
								</form>
							#end
							#if ($goLPButton == "true")
								<form name="lastpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
									<input type="submit" name="eventSubmit_doList_last" value="&gt;|" title="$tlang.getString('sitedipag.last')" />
								</form>
							#else
								<form name="lastpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
									<input type="submit" name="eventSubmit_doList_last" value="&gt;|" disabled="disabled" />
								</form>
							#end
						#end
					</div>
				</div> ##end navPanel
				
		
#if ($sites.size() > 0)
	#set ($siteCount = 0)
		<table class="listHier lines" cellspacing="0" summary ="$tlang.getString("sitlis.list.summary")">
			<tr>
				<th id="Id">$tlang.getString("sitlis.sitid")</th>
				<th id="Title">$tlang.getString("sitlis.tit")</th>
				<th id="Published">$tlang.getString("sitlis.pub")</th>
				<th id="Joinable">$tlang.getString("sitlis.joi")</th>
				<th id="Type">$tlang.getString("sitlis.typ")</th>
				<th id="Description">$tlang.getString("sitlis.des")</th>
			</tr>
	#foreach ($site in $sites)
##		#set ($realm = $realms.getAuthzGroup($site.Reference))
			<tr>
				<td headers="Id">
					#if ($service.allowUpdateSite($site.Id))
						<a href="#toolLinkParam("$action" "doEdit" "id=$validator.escapeUrl($site.Id)")">
							$validator.escapeHtml($site.Id)
						</a>
					#else
						$validator.escapeHtml($site.Id)
					#end
				</td>
				<td headers="Title">$validator.escapeHtml($site.Title)</td>
				<td headers="Published">#if($site.isPublished())<img src="#imageLink("sakai/checkon.gif")" border="0" alt="$tlang.getString("sitlis.pub")" />#end</td>
				<td  headers="Joinable">#if($site.isJoinable())<img src="#imageLink("sakai/checkon.gif")" border="0" alt="$tlang.getString("sitlis.joi")" />#end</td>
				<td headers="Type">$validator.escapeHtml($site.Type)</td>
				<td headers="Description">
					#if ($site.ShortDescription && $site.ShortDescription !="")
						<div class="instruction">
							$tlang.getString("sitlis.shodes")
						</div>
						<div class="indnt2">
							$validator.escapeHtml($site.ShortDescription)
						</div>
					#end	
					#if ($site.Description && $site.Description !="")
						<div class="instruction">
							$tlang.getString("sitlis.des2")
						</div>
						<div class="indnt2">
							$site.Description
						</div>
					#end	
					#if ($site.IconUrl && $site.IconUrl !="")
						<div class="instruction">
							$tlang.getString("sitlis.ico")
						</div>
						<div class="indnt2">
							$validator.escapeHtml($site.IconUrl)
						</div>
					#end
					#if ($site.InfoUrl  && $site.InfoUrl !="")
						<div class="instruction">
							$tlang.getString("sitlis.sitinf")
						</div>
						<div class="indnt2">
							$validator.escapeHtml($site.InfoUrl)
						</div>						
					#end
						<div class="instruction">
							$tlang.getString("sitlis.cre")
						</div>
						<div class="indnt2">
							#if ($site.CreatedTime) $site.CreatedTime.toStringLocalFull() #end
							#if ($site.CreatedBy) $validator.escapeHtml($site.CreatedBy.DisplayName) #end
						</div>
##					#if ($realm.ProviderGroupId)
##						<div class="instruction">
##							Authorization Group External Group Id:
##						</div>
##						<div class="indnt2">
##							$realm.ProviderGroupId
##						</div>
##					#end
					&nbsp;
				</td>
			</tr>
	#end
		</table>
#else
		<div class="instruction">
			$tlang.getString("sitlis.nosit")
		</div>
#end
	</div>

