.left {
	vertical-align: top;
	text-align: left;
	padding: 0px;
}

.right {
	vertical-align: bottom;
	text-align: right;
	padding: 0px;
}

/* SAK-29637 */
div#sitelistform\:headerContainer1, div#sitelistform\:headerContainer2 {
	margin-top: 1em;
}

div.headerWrapper {
	display: inline-block;
	background-color: var(--sakai-background-color-2) !important;
	padding: 1em 1em 1em 0.5em;
}

div#sitelistform\:headerContainer1 span.collapsed, div#sitelistform\:headerContainer1 span.expanded,
div#sitelistform\:headerContainer2 span.collapsed, div#sitelistform\:headerContainer2 span.expanded {
	cursor: pointer;
	padding-left: 13px;
}

div#sitelistform\:headerContainer1 span.collapsed, div#sitelistform\:headerContainer2 span.collapsed {
	background: url('/library/image/sakai/expand.gif') no-repeat left !important;
}

div#sitelistform\:headerContainer1 span.expanded, div#sitelistform\:headerContainer2 span.expanded {
	background: url('/library/image/sakai/collapse.gif') no-repeat left !important;
}

div#sitelistform\:actionContainer1, div#sitelistform\:actionContainer2 {
	display: none;
	background-color: var(--sakai-background-color-2);
	padding: 1em;
}

div#sitelistform\:actionContainer1 div, div#sitelistform\:actionContainer2 div {
	display: inline-block;
}

div#sitelistform\:actionContainer1 input, div#sitelistform\:actionContainer2 input {
	display: block;
	margin: 0.25em 0;
	width: 100%;
	text-align: left;
	text-shadow: none !important;
	background-color: var(--button-background) !important;
	color: var(--button-text-color) !important;
	box-shadow: var(--button-shadow) !important;
	border: 1px solid var(--button-border-color);
}

div#sitelistform\:actionContainer1 input:disabled, div#sitelistform\:actionContainer2 input:disabled {
	background-color: var(--button-disabled-background) !important;
	color: var(--button-disabled-text-color) !important;
	box-shadow: var(--button-disabled-shadow) !important;
	border: 1px solid var(--button-disabled-border-color);
}

div#sitelistform\:actionContainer1 input:hover:enabled, div#sitelistform\:actionContainer2 input:hover:enabled {
	background-color: var(--button-hover-background) !important;
	color: var(--button-hover-text-color) !important;
	box-shadow: var(--button-hover-shadow) !important;
	border: 1px solid var(--button-hover-border-color);
}

div#sitelistform\:actionContainer1 input:active:enabled, div#sitelistform\:actionContainer2 input:active:enabled {
	background-color: var(--button-active-background) !important;
	color: var(--button-active-text-color) !important;
	box-shadow: var(--button-active-shadow) !important;
	border: 1px solid var(--button-active-border-color);
}

div#sitelistform\:actionContainer1 div.column2, div#sitelistform\:actionContainer1 div.column3,
div#sitelistform\:actionContainer2 div.column2, div#sitelistform\:actionContainer2 div.column3 {
	border-left: 2px solid var(--sakai-border-color);
	padding-left: 1em;
	margin-left: 1em;
	vertical-align: top;
}
/* end SAK-29637 */
