@import "_sakai-topic-list.scss";
@import "_sakai-topic-summary.scss";
@import "_sakai-add-topic.scss";
@import "_sakai-topic.scss";
@import "_sakai-post.scss";
@import "_sakai-conversations-tag-manager.scss";
@import "_sakai-conversations-settings.scss";
@import "_statistics.scss";
//@import "svg-arrow.scss";

.#{$namespace}sakai-conversations {

  #conv-no-topics-wrapper {
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #conv-no-topics-message {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 40px;

    span:nth-child(2) {
        margin-left: 5px;
    }
  }

  #conv-nothing-selected {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 24px;
    height: 400px;
  }

  #conv-desktop {
    display: flex;
  }

  #conv-settings {
    width: 254px;
    background: #F1F2F3;
    padding: 20px;
  }

  #conv-settings > div {
    margin-bottom: 20px;
  }

  #conv-settings > div > a {
    text-decoration: none;
    font-weight: normal;
    font-size: 15px;
    color: #666666;
  }

  #conv-settings > div.setting-active > a {
    font-weight: 550;
    color: #262626;
  }

  #conv-back-button-block {
    display: flex;
    align-items: center;
    height: 60px;
  }

  #conv-back-button-block > div {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }

  #conv-back-button-block > div > div:nth-child(2) {
    margin-left: 8px;
  }

  #conv-back-button-block a {
    text-decoration: none;
  }

  #conv-topbar-and-content {
    flex: 1;
  }

  .conv-topbar {
    height: 60px;
    display: grid;
    grid-template-columns: 1fr min-content;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
  }

  .conv-search-field {
    max-width: 519px;
    min-width: 300px;
    height: 34px;
    border-radius: 4px;
    padding-left: 20px;
  }

  #conv-settings {
    font-weight: bold;
    font-size: 12px;
    color: #666666;
    white-space: nowrap;
  }

  .conv-settings-and-create {
    display: flex;
    align-items: center;

    .conv-settings-link {
      white-space: nowrap;
      margin-left: 4px;

      a {
        font-weight: bold;
        font-size: 12px;
        text-align: center;
        color: #666666;
        text-decoration: none;
      }
    }
  }

  .conv-add-topic {
    white-space: nowrap;
    border-radius: 100px;
    padding: 6px 12px;
    background: #0F4B6F;
    color: white;
    margin-left: 14px;

    a {
      font-size: 14px;
      text-decoration: none;
      color: white;
    }
  }

  #conv-topic-list-and-content {
    display: flex;
  }

  #conv-topic-list-wrapper {
    width: 432px;
  }

  #conv-content {
    border-left: #E0E0E0 1px solid;
    padding: 20px;
    flex: 1;
  }

  .topic-tags > .tag:nth-child(1) {
    margin-left: 0;
  }

  .tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #F1F2F3;
    border-radius: 100px;
    font-size: 12px;
    text-align: center;
    color: #262626;
    padding: 2px 6px;
  }

  #permissions-title {
    margin-bottom: 40px;
  }

  .tag sakai-icon {
    pointer-events: none;
  }

  @media (max-width: 1200px) {
    #conv-settings-label {
      display: none;
    }
    .conv-search input {
      min-width: 150px;
      width: 150px;
    }
    #conv-topic-list-wrapper {
      width: 350px;
    }
  }

  @media (min-width: 801px) {
    #conv-mobile {
      display: none;
    }
    .add-topic-text {
      display: inline;
    }
    .add-topic-icon {
      display: none;
    }
  }

  @media (max-width: 800px) {

    #conv-desktop {
      display: none;
    }
    #conv-mobile {
      display: block;
    }
    .add-topic-text {
      display: none;
    }
    .add-topic-icon {
      display: inline;
      color: green;
    }

    #conv-topic-list-wrapper {
      width: 100%;
    }

    .topic-list {
      width: 100%;
    }

    #topic-list-topics {
      border: inherit;
    }

    .conv-add-topic {
      border-radius: inherit;
      padding: inherit;
      background: inherit;
      margin-left: 14px;
    }

    .topic-status-text {
      display: none;
    }

    .topic-summary.selected {
      border: 1px solid #E0E0E0;
      background: inherit;
    }

    .author-details {
      flex-wrap: wrap;
    }

    .topic-message-bottom-bar {
      display: flex;
      flex-wrap: wrap;
    }

    .conv-topbar {
      display: flex;
    }

    .conv-instructors-answer {
      display: none;
    }

    #settings-grid {
      grid-template-columns: 1fr min-content;
    }

    #settings-grid > div {
      white-space: inherit;
    }

    #tag-creation-field {
      width: 200px;
    }

    .tag-editor input[type=text] {
      width: 100px;
    }
  }

}
