.#{$namespace}sakai-conversations {

  sakai-search {
    width: 200px;
    z-index: 3;
  }

  #overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

  #conv-no-topics-wrapper {
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #conv-no-topics-message {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 40px;

    span:nth-child(2) {
        margin-left: 5px;
    }
  }

  #conv-nothing-selected {
    display: flex;
    margin-top: 60px;
    justify-content: center;
    font-weight: 300;
    font-size: 24px;
  }

  #conv-desktop {
    display: flex;
  }

  #conv-settings {
    font-weight: bold;
    font-size: 12px;
    white-space: nowrap;
    width: 254px;
    background: var(--sakai-background-color);
    padding: 20px;
    border-right: 1px solid var(--sakai-border-color);
    border-top: 1px solid var(--sakai-border-color);
  }

  #conv-settings > div {
    margin-bottom: 20px;
  }

  #conv-settings > div > a {
    text-decoration: none;
    font-weight: normal;
    font-size: 15px;
    color: var(--link-color);
  }

  #conv-settings > div.setting-active > a {
    font-weight: 550;
  }

  #conv-back-button-block {
    display: flex;
    align-items: center;
    height: 64px;
  }

  #conv-back-button-block > a {
    display: flex;
    align-items: center;

    &.left-aligned {
      margin-left: 0;
    }

    div:nth-child(2) {
      margin-left: 10px;
    }
  }

  #conv-back-button-block a {
    text-decoration: none;
  }

  #conv-topbar-and-content {
    flex: 1;
  }

  .conv-topbar {
    height: 65px;
    display: grid;
    grid-template-columns: 1fr min-content;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--sakai-border-color);
  }


  .conv-settings-and-create {
    display: flex;
    margin-left: auto;
    align-items: center;

    a {
      text-decoration: none;
    }

    .conv-settings-link {
      white-space: nowrap;
      margin-left: 4px;

      a {
        font-weight: bold;
        font-size: 12px;
        text-align: center;
        color: var(--link-color);
        text-decoration: none;

        #conv-settings-label-wrapper {
          display: flex;
          align-items: center;
          div:first-child {
            margin-top: 4px;
            margin-right: 5px;
          }
        }
      }
    }
  }

  .conv-add-topic {
    white-space: nowrap;
    border-radius: 100px;
    padding: 6px 12px;
    background: #0F4B6F;
    color: white;
    margin-left: 14px;

    a {
      font-size: 14px;
      text-decoration: none;
      color: white;
    }
  }

  #conv-topic-list-and-content {
    display: flex;
  }

  #conv-topic-list-wrapper {
    width: 432px;
  }

  #conv-content {
    padding: 20px;
    flex: 1;
    color: var(--sakai-text-color);
  }

  .topic-tags > .tag:nth-child(1) {
    margin-left: 0;
  }

  .tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--sakai-background-color-4);
    border-radius: 100px;
    font-size: 12px;
    text-align: center;
    color: var(--sakai-text-color);
    padding: 2px 6px;
  }

  #permissions-title {
    margin-bottom: 40px;
  }

  .tag sakai-icon {
    pointer-events: none;
  }

  @media (max-width: 1200px) {
    #conv-settings-label {
      display: none;
    }
    #conv-topic-list-wrapper {
      width: 350px;
    }
  }

  @media (min-width: 801px) {
    #conv-mobile {
      display: none;
    }
    .add-topic-text {
      display: inline;
    }
    .add-topic-icon {
      display: none;
    }
  }

  @media (max-width: 800px) {

    #conv-desktop {
      display: none;
    }
    #conv-mobile {
      display: block;
    }
    .add-topic-text {
      display: none;
    }
    .add-topic-icon {
      display: inline;
      color: green;
    }

    #conv-topic-list-wrapper {
      width: 100%;
    }

    .topic-list {
      width: 100%;
    }

    #topic-list-topics {
      border: inherit;
    }

    .conv-add-topic {
      border-radius: inherit;
      padding: inherit;
      background: inherit;
      margin-left: 14px;
    }

    .topic-status-text {
      display: none;
    }

    .author-details {
      flex-wrap: wrap;
    }

    .topic-message-bottom-bar {
      display: flex;
      flex-wrap: wrap;
    }

    .conv-topbar {
      display: flex;
    }

    .conv-instructors-answer {
      display: none;
    }

    #settings-grid {
      grid-template-columns: 1fr min-content;
    }

    #settings-grid > div {
      white-space: inherit;
    }

    #tag-creation-field {
      width: 200px;
    }

    .tag-editor input[type=text] {
      width: 100px;
    }
  }

  .options-menu {
    background-color: var(--sakai-background-color-2);
    border-color: 1px solid var(--sakai-border-color);
    border-radius: 8px;
    text-transform: none;
    padding: 8px;
  }

  .options-menu > div {
    margin: 5px;
    font-size: 12px;
    white-space: nowrap;
  }

  .options-menu a {
    color: var(--link-color);
    text-decoration: none;
  }

  .author-details {
    display: flex;
    align-items: center;

    .draft {
      margin-left: 5px;
    }
  }
  .author-details div {
    word-wrap: nowrap;
  }

  .draft {
    font-style: italic;
    color: var(--errorBanner-color);
    font-size: 15px;
  }
}

@import "_sakai-topic-list.scss";
@import "_sakai-topic-summary.scss";
@import "_sakai-add-topic.scss";
@import "_sakai-topic.scss";
@import "_sakai-post.scss";
@import "_sakai-conversations-tag-manager.scss";
@import "_sakai-conversations-settings.scss";
@import "_statistics.scss";
