.#{$namespace}sakai-conversations {

  .topic-summary-link {
    text-decoration: none;
    color: inherit;
  }

  .topic-summary {
    display: grid;
    width: 100%;
    grid-template-columns: 25px 1fr 50px;
    grid-gap: 6px;
    padding: 8px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
  }

  .topic-summary .topic-status {
      margin-left: 4px;
  }

  .topic-summary-title-wrapper {
    display: flex;
    color: #0F4B6F;
    font-size: 15px;
    align-items: center;
  }

  .topic-summary-title {
    font-weight: 500;
  }

  .draft {
    font-style: italic;
    color: #CB2148;
    font-size: 15px;
  }

  .unanswered {
    background: #F1F2F3;
  }

  .unread {
    border-color: #6CBBEB;
  }

  .unread-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    sakai-icon {
      color: #176EA3;
    }
  }

  .topic-summary-title {
    color: #0F4B6F;
    font-size: 15px;
    font-weight: 500;
  }

  .answered-icon {
    color: green;
  }

  .unanswered-icon {
    color: white;
  }

  .question-icon {
    color: #D97008;
  }

  .discussion-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7335C4;
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 12px;
  }

  .topic-summary > div:nth-child(3n) {
    display: flex;
    justify-content: center;
  }

  .type-and-read-icons > div {
    display: inline-block;
  }

  .topic-summary-creator-block {
    font-size: 12px;
    color: #666666;
    display: flex;
    .conv-date-separator {
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  .topic-summary-posts-indicator {
    display: flex;
    justify-content: end;

    div:nth-child(2) {
        margin-left: 4px;
    }
  }

  .post-numbers {
      white-space: nowrap;
  }

  .post-number {
    font-size: 12px;
    font-weight: bold;
  }

  .new-posts-number {
    font-size: 10px;
    font-weight: 500;
    color: #176EA3;
  }

  .selected {
    background: #D4EBF9;
    border: 1px solid #D4EBF9;
  }
  .selected * {
    color: #666666;
  }

  @media (max-width: 1200px) {
    .conv-date-separator {
      display: none;
    }
    .topic-summary-creator-block {
      display: block;
    }
  }

}
