<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!--
		This Spring configuration file wires the external service interface.
	-->

	<!-- Gradebook Service -->
	<bean id="org_sakaiproject_service_gradebook_GradebookService"
		class="org.sakaiproject.component.gradebook.GradebookServiceHibernateImpl"
		name="org.sakaiproject.service.gradebook.GradebookService">
		<property name="sessionFactory"><ref bean="gradebookSessionFactory"/></property>
		<property name="sectionAwareness">
			<ref bean="org.sakaiproject.api.section.SectionAwareness" />
		</property>
		<property name="authn">
			<ref bean="org_sakaiproject_tool_gradebook_facades_Authn" />
		</property>
		<property name="authz">
			<ref bean="org_sakaiproject_tool_gradebook_facades_Authz" />
		</property>
	</bean>

</beans>
