//////////////////////////////
// VARIABLES: For Modules specific styles 
//////////////////////////////

@import "layout/portal/_portal_variables";

$sitesNav__font-size: 1em;
$sitesNav__line-height: 2.5em;

$sitesNav__color: #fff;
$sitesNav__nav__background: nth($light-grey, 4);

$sitesNav__a__color: nth($secondary-color, 1);
$sitesNav__a--visited__color: darken($sitesNav__a__color, 2.2%);
$sitesNav__background: tint(nth($dark-grey, 3), 5%);

$sitesNav__a--hover__color: lighten(nth($secondary-color, 1), 2%);

$sitesNav__a--active__color: nth($dark-grey, 3);
$sitesNav--active__background: shade(nth($secondary-color, 1), 4%);

$sitesNav__border-bottom: 0px $sitesNav--active__background solid;

$sitesNav__full-nav-padding: .25em .5em .3333em .5em;

$repeating-linear-gradient: repeating-linear-gradient($sitesNav__nav__background, $sitesNav__nav__background 45px, $sitesNav--active__background 45px, $sitesNav--active__background 50px);

$sakai-logo: (
  '[role="menubar"]': '\e600'
);