//////////////////////////////
// VARIABLES: For Modules specific styles 
//////////////////////////////

@import "layout/portal/_portal_variables";

$sitesNav__font-size: 1em !default;
$sitesNav__line-height: 2.5em !default;

$sitesNav__color: #fff !default;
$sitesNav__nav__background: nth($dark-grey, 3) !default;

$sitesNav__a__color: nth($secondary-color, 1) !default;
$sitesNav__background: tint(nth($dark-grey, 2), 0%) !default;

$sitesNav__a--active__color: nth($dark-grey, 3) !default;
$sitesNav--active__background: shade(nth($secondary-color, 1), 4%) !default;

$sitesNav__border-bottom: 0px $sitesNav--active__background solid !default;

$sitesNav__nav__padding: 0 !default;
$sitesNav__nav--link__padding: 0 .5em !default;

$repeating-linear-gradient: repeating-linear-gradient($sitesNav__nav__background, $sitesNav__nav__background 2.75em, $sitesNav--active__background 2.75em, $sitesNav--active__background 3em) !default;
