<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Here's our 'facade' bean that we can inject a reference with -->
	<bean id="org.sakaiproject.sitestats.tool.facade.SakaiFacade"
		class="org.sakaiproject.sitestats.tool.facade.SakaiFacadeImpl">
		<!-- SiteStats services -->
		<property name="statsManager" ref="org.sakaiproject.sitestats.api.StatsManager" />
        <property name="statsAuthz" ref="org.sakaiproject.sitestats.api.StatsAuthz" />
        <property name="eventRegistryService" ref="org.sakaiproject.sitestats.api.event.EventRegistryService" />
        <property name="chartService" ref="org.sakaiproject.sitestats.api.chart.ChartService" />
        <property name="reportManager" ref="org.sakaiproject.sitestats.api.report.ReportManager" />
        <property name="statsUpdateManager" ref="org.sakaiproject.sitestats.api.StatsUpdateManager" />
        <property name="serverWideReportManager" ref="org.sakaiproject.sitestats.api.ServerWideReportManager" />
		<!-- Sakai services -->
		<property name="sessionManager" ref="org.sakaiproject.tool.api.SessionManager" />
        <property name="toolManager" ref="org.sakaiproject.tool.api.ToolManager" />
        <property name="siteService" ref="org.sakaiproject.site.api.SiteService" />
		<property name="authzGroupService" ref="org.sakaiproject.authz.api.AuthzGroupService" />
        <property name="userDirectoryService" ref="org.sakaiproject.user.api.UserDirectoryService" />
        <property name="contentHostingService" ref="org.sakaiproject.content.api.ContentHostingService" />
        <property name="timeService" ref="org.sakaiproject.time.api.TimeService" />
	</bean>

	<!-- The id of this bean needs to match the param 'applicationBean' under your web.xml -->
	<bean id="siteStatsApplication" class="org.sakaiproject.sitestats.tool.wicket.SiteStatsApplication">
    	<property name="facade" ref="org.sakaiproject.sitestats.tool.facade.SakaiFacade"/>
    </bean>

    <!-- The id of this bean needs to match the param 'applicationBean' under your web.xml -->
    <bean id="siteStatsAdminApplication" class="org.sakaiproject.sitestats.tool.wicket.SiteStatsAdminApplication">
        <property name="facade" ref="org.sakaiproject.sitestats.tool.facade.SakaiFacade"/>
    </bean>

	<!-- SiteStatsMetricsEntityProvider ___________________________________________________________________ -->
    <bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider"
        class="org.sakaiproject.sitestats.tool.entityproviders.SiteStatsMetricsEntityProvider">
    	<property name="statsUpdateManager" ref="org.sakaiproject.sitestats.api.StatsUpdateManager"/>
    </bean>

	<!-- SiteStatsProvider ___________________________________________________________________ -->
    <bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider"
        class="org.sakaiproject.sitestats.tool.entityproviders.SiteStatsEntityProvider">
        <property name="reportManager" ref="org.sakaiproject.sitestats.api.report.ReportManager"/>
        <property name="statsManager" ref="org.sakaiproject.sitestats.api.StatsManager"/>
    </bean>
    
</beans>
