<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- SiteStatsMetricsEntityProvider ___________________________________________________________________ -->
    <bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider"
        class="org.sakaiproject.sitestats.tool.entityproviders.SiteStatsMetricsEntityProvider">
    	<property name="statsUpdateManager" ref="org.sakaiproject.sitestats.api.StatsUpdateManager"/>
    </bean>

	<!-- SiteStatsProvider ___________________________________________________________________ -->
    <bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider"
        class="org.sakaiproject.sitestats.tool.entityproviders.SiteStatsEntityProvider">
        <property name="reportManager" ref="org.sakaiproject.sitestats.api.report.ReportManager"/>
        <property name="statsManager" ref="org.sakaiproject.sitestats.api.StatsManager"/>
    </bean>
    
</beans>
