.reqPrompt {
    position : relative;
    left : 2px;
}

.indnt1 {
    position : relative;
    left : 15px;
}

.indnt2 {
    position : relative;
    left : 18px;
}

.indnt3 {
    position : relative;
    left : 37px;
}

.podcatcher_popup {
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 5px 5px 5px 5px;
  color: inherit;
  background-color: #ffffcc;
  border: 1px dotted #003366;
  line-height: 100%;
}

span.active {
  color: #0099cc;
}

.podDateFormat {
	position: relative;
	top: 10px;
	font-size: 13pt;
}

.podTitleFormat {
	position: relative;
	top: 15px;
	font-size: 11pt;
}

.podDescFormat {
	padding: 0px 0px 5px 0px;
}

.posted {
	font-size: 8pt;
}

.podPosition {
	position: relative;
	top: 18px;
}

.podLinksPosition {
	position: relative;
	top: 22px;
}