body {
	width: 98%;
}

.indnt1 {
    position: relative;
    left: 15px;
}

.indnt2 {
    position: relative;
    left: 18px;
}

.podDateFormat {
	position: relative;
	top: 10px;
	font-size: 13pt;
}

.podTitleFormat {
	position: relative;
	top: 15px;
	font-size: 11pt;
}

.podDescFormat {
	position: relative;
	top: 18px;
}

.podLinksPosition {
	position: relative;
	top: 22px;
}

.rssIcon {
	position: relative;
	top: 6px;
}

.posted {
	position: relative;
	top: 13px;
	font-size: 8pt;
}

.podDelTitleFormat {
	position: relative;
	top: 12px;
	font-size: 11pt;
}

.podDelDescPosition {
	position: relative;
	top: 12px;
}

.podDelButtonsPosition {
	position: relative;
	top: 30px;
}

.podcatcher_popup {
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 5px 5px 5px 5px;
  color: inherit;
  background-color: #ffffcc;
  border: 1px dotted #003366;
  line-height: 100%;
}
