//////////////////////////////
// THEMES: Styles that override the default styles to create a different "theme" i.e. light vs. dark theme.
//////////////////////////////

@import 'toolkit';  // tint-stack, shade-stack etc 
@import 'color-schemer';

//$debug-breakpoints: true;


$primary-color:  #1999cc;
$secondary-color: #ffc80f;
$grey-value: #808080;
// $grey-value: #8c8080; // Warm Grey
// $grey-value: #80808c; // Cool Grey


$cs-primary:            $primary-color;
// Primary color, can be any color you can use in CSS, plus CMYK from Color Schemer
$cs-scheme:             triad;
// Options: mono, complement, triad, tetrad, analogic, accented-analogic
$cs-hue-offset:         80;
// Options: 0-100;
$cs-brightness-offset:  0;
// Options: 0-100;
$cs-color-model:        ryb;
// Options: rgb, ryb

$colour-stack-amounts: 25%, 50%, 75%, 85%, 90% !default;
$primary:     tint-stack(cs-primary());
//$secondary:   tint-stack(cs-secondary());
$secondary:   tint-stack($secondary-color);
$tertiary:    tint-stack(cs-tertiary());
$quadrary:    tint-stack(cs-quadrary());
$light-grey:  tint-stack($grey-value);
$dark-grey:   shade-stack($grey-value);



$icon__font-name: 'Sakai-Icon-Font';
$icon__font-file-name: 'Sakai-Icon-Font';
$icon__inline-fonts: false;
$icon__font-weight: normal;
$icon__font-style: normal;


$body__background-color: darken(nth($dark-grey , 3), 25%); 
$body__background--rgba: rgba($body__background-color, 1);
