a.ui-link:link, a.ui-link:visited {
    text-decoration: none;
    outline: none;
    border: none;
}

a.ui-link:link .flink, .flink {
    color: #2B5FAB !important;
    text-decoration: none;
}

a.ui-link:visited .flink, .flink {
    color: #2B5FAB;
    text-decoration: none;
}

.notALink {
    color: #000;
    text-decoration: none !important;
    outline: none !important;
    border: none !important;
}

.spacer {
    padding: 3px
}

.ctheader {
}

.tabbify {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #b3b3b3;
    background: -moz-linear-gradient(top, #b3b3b3 0%, #a1a1a1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b3b3b3), color-stop(100%,#a1a1a1));
    background: -webkit-linear-gradient(top, #b3b3b3 0%,#a1a1a1 100%);
    background: -o-linear-gradient(top, #b3b3b3 0%,#a1a1a1 100%);
    background: -ms-linear-gradient(top, #b3b3b3 0%,#a1a1a1 100%);
    background: linear-gradient(to bottom, #b3b3b3 0%,#a1a1a1 100%);
    text-decoration:none !important;
    color:#fff !important;
}

.tabnav .ui-btn-inner {
    border: 0;
}

.tabnav .ui-grid-a > *:nth-child(n){
    margin-right:0;
} 
.tabnav {
    border-bottom: 5px solid #003e8f;
}
.itemHeader .tabnav {
    border-bottom: none;
}

.tabnav .ui-btn-active, .navtop {
    background: #004c9f !important;
    background: -moz-linear-gradient(top, #004c9f 0%, #003e8f 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#004c9f), color-stop(100%,#003e8f)) !important;
    background: -webkit-linear-gradient(top, #004c9f 0%,#003e8f 100%) !important;
    background: -o-linear-gradient(top, #004c9f 0%,#003e8f 100%) !important;
    background: -ms-linear-gradient(top, #004c9f 0%,#003e8f 100%) !important;
    background: linear-gradient(to bottom, #004c9f 0%,#003e8f 100%) !important;
}
 .navtop {
     padding:10px;
}
.navtopTitle {
    text-align:center;
    width:100% !important;
}
.navtopTitleHeader {
    margin: 0 !important;text-align:center !important;
}
#activ .navtop, #events .navtop {
    margin-bottom:3px

}
.starLink, .starLinked {
    background-color: #eee;
    box-shadow: none;
}
.starLink .ui-icon-star {
    background-color: #ddd;
}
.starLinked .ui-icon-star{
    background-color: #EFCF5E;
}
.fileBlock {
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    margin:0 -15px;
    padding:15px 15px;
}
.textBlob {
    overflow:visible;
    white-space:normal;
    line-height:20px;
}
a.listLink.tap {
    
}

.itemFooter, .itemFooterFiles {
    position:fixed;
    width:100%;
    bottom:0;
    text-align:center;
    background:#ffe;
    border-top:1px solid #ccc;
    margin: 0 -15px;
    padding: 10px;
}
.itemFooterFiles {
    color:#fff;
    background: #004c9f !important;
    z-index:1;
    text-shadow:0 0 0 #FFFFFF;
}
h3 {
    font-size:13px !important;
    margin: 5px 0 15px 0 !important
}
.bottompad {
    padding-bottom:50px
}
.slideMenuPanel {
    background:#000;margin-top:-5px;
}
.slideMenuPanel a {
    color:#fff;text-decoration:none
}
.slideMenuControlWrap{
    float:right;width:23px;text-align:right;position:absolute;top:8px;right:10px
}
.slideMenuControlWrap .menuControl{
    color:#fff !important
}
.tabnav .activeTab {
    background: #173E8F
}
.starContainer{height: 34px;width: 26px;}
.itemHeaderBack {position:absolute;top:10px;left:10px;width:20px !important;text-decoration:none}

.listHeader {
    display:none;
}
.pagerCell {
     display:none;
}
#messagePanel, #messageError {
    z-index:10;
}
.ui-content {
    padding:0
}

/* message that there are no items of this type*/
#schedPanel > div > p, #newsPanel > div > p{
    padding:10px;
}
#schedPanel .row-fluid {
    border-bottom:1px solid #ccc;
    padding:10px;
    position:relative;
    height:115px;
}

/*
components of an item in the schedule view
*/

/* title */
#schedPanel .row-fluid  > div, #newsPanel .row-fluid  > div {
    /* to help positioning the elements
     outline:1px solid #ccc;
     */
    }
#schedPanel .row-fluid .two {
    position:absolute;
    top:10px;
    left:10px;
    padding:0 25px 0 30px;
    text-indent:-25px

}
/* title label*/
#schedPanel .row-fluid .two .itemLabel, #schedPanel .row-fluid .activeCell .itemLabel{
    display:block;
    margin-top:9px;
    font-weight:bold;
}

.itemLabel:before {
    content: "";
}
/* date */
#schedPanel .row-fluid .one {
    position:absolute;
    top:95px;
    left:10px;
    font-weight:bold
}
/* site link */
#schedPanel .row-fluid .three {
    position:absolute;
    top:69px;
    left:10px;
}
/* star and hide controls */
#schedPanel .row-fluid .four {
    position:absolute;
    top:15px;
    right:10px;
}
#schedPanel .row-fluid .four a {
    margin: 0 15px;
}

/*
components of an item in the event view
*/
#newsPanel .row-fluid {
    border-bottom:1px solid #ccc;
    padding:10px;
    position:relative;
    height:85px;
}


/* title */
#newsPanel .row-fluid .two {
    position:absolute;
    top:68px;
    left:10px;
    font-weight: bold;
}
/* site link */
#newsPanel .row-fluid .three {
    position:absolute;
    top:10px;
    left:10px;
    padding:0 25px 0 30px;
    text-indent:-25px
}
#newsPanel .row-fluid .four {
    position:absolute;
    top:42px;
    left:10px;
}
/* star and hide controls */
#newsPanel .row-fluid .five {
    position:absolute;
    top:15px;
    right:10px;
}
#newsPanel .row-fluid .five a{
    
}

#itemHolder .row-fluid {
    position:relative;
    padding:10px;
    border-bottom:1px solid #ccc;
}

#itemHolder .row-fluid a {
    font-weight:bold;
    text-decoration:none
}

#itemHolder .row-fluid div.action{
    position:absolute;
    top:15px;
    right:15px;
}

#itemHolder .row-fluid div.action a{

}
.siteLink {
    text-transform:uppercase;
    font-weight:normal !important
}
.row-fluid a, #itemHolder a {
    color:#173E8F !important;
    text-decoration:none
}

.activeCell {
    background:transparent;
}

.itemCollection .newRow > div{
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: 10px;
    margin-bottom: 0;
    font-size: 100%;
    position:relative;
    border:1px solid #fff;
    border-bottom:1px solid #ddd !important;
    margin-top:0;
    background:#fff;
    margin-left: 0;
}

.results {
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid #DDDDDD;
    font-size: 100%;
    margin-bottom: 5px;
    padding: 10px;
    width:100%;
    position: relative;
}

.moreInfo a,.getMore a {
    font-size:11px;
    padding:7px 5px 6px 5px;
    color:#173E8F !important;
    font-weight:bold;
    background: #f6f6f5 !important;
    background: -moz-linear-gradient(top, #f6f6f5 0%, #e0e0e0 93%, #e0e0e0 97%, #e9e9e9 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f5), color-stop(93%,#e0e0e0), color-stop(97%,#e0e0e0), color-stop(100%,#e9e9e9)) !important;
    background: -webkit-linear-gradient(top, #f6f6f5 0%,#e0e0e0 93%,#e0e0e0 97%,#e9e9e9 100%) !important;
    background: -o-linear-gradient(top, #f6f6f5 0%,#e0e0e0 93%,#e0e0e0 97%,#e9e9e9 100%) !important;
    background: -ms-linear-gradient(top, #f6f6f5 0%,#e0e0e0 93%,#e0e0e0 97%,#e9e9e9 100%) !important;
    background: linear-gradient(top, #f6f6f5 0%,#e0e0e0 93%,#e0e0e0 97%,#e9e9e9 100%) !important;
    border: 1px solid #E0E3E5 !important;
    box-shadow: 0 1px 1px 0 #999999 !important;
    border-radius: 3px;
}
#itemHolder .results .moreInfo > li > a {
    position: absolute;
    right: 15px;
    top: -20px;
    white-space: nowrap;
}
#itemHolder .itemCollection .results .moreInfo > li > a {
    position: absolute;
    right: 5px;
    top: -10px;
    white-space: nowrap;
}
.results .block, .attachList {
    line-height:130%;
}
.results .block +.metadataLine, .results .attachList +.metadataLine {
    border-top:1px solid #ccc;
    padding:15px 0 3px 44px;
    text-align:center;
    margin:0 -10px
}
/* hiding "hide" and "view in site" controls*/
.action a:nth-child(2), a.hideThis, a[href*="directtool"] {
    display:none
}

/*file exensions to match*/
ul.attachList li {
    background: none;
    line-height:135%;
    margin: 5px 0;
    padding: 0 15px;
}
ul.attachList li a{
    padding:7px 0 0 25px;
    line-height:200%;
    background: url(/library/image/silk/page.png) left center no-repeat
}

.attachList a[href$=".doc"], .attachList a[href$=".rtf"], .attachList a[href$=".docx"], .attachList a[href$=".docm"], .attachList a[href$=".dotx"], .attachList a[href$=".dotm"] {
    background: url(/library/image/silk/page_white_word.png) center left no-repeat !important
}

.attachList a[href$=".ppt"], .attachList a[href$=".pps"], .attachList a[href$=".pptx"], .attachList a[href$=".pptm"], .attachList a[href$=".ppsx"], .attachList a[href$=".potx"], .attachList a[href$=".potm"], .attachList a[href$=".ppam"]{
    background: url(/library/image/silk/page_white_powerpoint.png) left center no-repeat !important
}

.attachList a[href$=".xls"], .attachList a[href$=".xlsx"], .attachList a[href$=".csv"], .attachList a[href$=".xlsx"], .attachList a[href$=".xlsm"], .attachList a[href$=".xltx"], .attachList a[href$=".xltm"], .attachList a[href$=".xlsb"], .attachList a[href$=".xlam"] {
    background: url(/library/image/silk/page_white_excel.png) center left no-repeat !important
}

.attachList a[href$=".gif"], .attachList a[href$=".jpg"], .attachList a[href$=".jpeg"], .attachList a[href$=".png"] {
    background: url(/library/image/silk/page_white_picture.png) center left no-repeat !important
}

.attachList a[href$=".pdf"] {
    background: url(/library/image/sakai/pdf.gif) center left no-repeat !important
}

.attachList a[href$=".html"], .attachList a[href$=".htm"] {
    background: url(/library/image/silk/page_code.png) center left no-repeat !important
}

.attachList a[href$=".txt"], .attachList a[href$=".java"] {
    background: url(/library/image/sakai/text.gif) center left no-repeat !important
}

.attachList a[href$=".zip"], .attachList a[href$=".tar"], .attachList a[href$=".sit"], .attachList a[href$=".hqx"] {
    background: url(/library/image/silk/page_white_zip.png) center left no-repeat !important
}

.attachList a[href$=".mov"], .attachList a[href$=".mpeg"], .attachList a[href$=".avi"] {
    background: url(/library/image/sakai/movie.gif) center left no-repeat !important
}

.attachList a[href$=".mp3"], .attachList a[href$=".wav"], .attachList a[href$=".aiff"] {
    background: url(/library/image/sakai/audio.gif) center left no-repeat !important
}
.itemList {
    margin-bottom:100px;
}

#newsMoreDummyButton, #calendarMoreDummyButton{
    position:absolute;
    left:25%;
    right:25%;
    bottom:-45px;
    width:50%;
    margin:0 auto;
    text-align:center;
    z-index:1000;
    text-decoration:none
}
.action a {
    display:none
}

ul.itemList .itemLink {
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:5px 50px;
    height:85px;
}

ul.itemCollection li {
    position:relative;
}
ul.itemCollection .itemLink {
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:10px;
    height:24px;

}


.span6 {
    width:100%
}

ul.itemList .activeCell, ul.itemCollection  .activeCell {
    margin:0 !important;
    padding:0 !important;
}
ul.itemList .activeCell .itemLink{
    height:75px !important;
    padding:15px 33px;
}
ul.itemCollection .activeCell {
    height:24px;
}
ul.itemCollection .activeCell .itemLink{
    height:24px !important;
    padding:10px 10px;
}
#activ ul.itemList .span6 .muted, ul.itemCollection .span6 .muted{
    visibility:hidden;
}


.row-fluid a.siteLink {
    cursor:text;
    color:#000 !important;
}
/* Hide Sakai navigation while in mobile dashboard */
#pda-portlet-menu, #pda-footer {
    display: none;
}
