#bullhorn-counter {
    color: var(--sakai-text-color-1);
    font-weight: bold;
    font-size: $default-font-size - 4px;
    position: absolute;
    padding: 0px 2px;
    margin-top: 18px;
    margin-left: -6px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    line-height: 1.5em;
}

#bullhorn-counter.bullhorn-counter-red {
    @extend .sakai-colorize--sakai-color-red--darker-2;
}

.portal-bullhorns.qtip {
    border: 0 none;
    box-shadow: var(--elevation-8dp);
    background-color: var(--tool-tab-background-color);
    font-family: $font-family;
    font-size: $default-font-size;
    color: var(--tool-tab-background-color);
    max-width: 450px;
    z-index: 100003 !important;

    .qtip-content {
        background-color: var(--tool-tab-background-color);
        padding: 0;
        color: var(--sakai-text-color-1);
    }
}

#portal-bullhorn-alerts {
    padding-bottom: 5px;

    button {
      margin: 2px;
      text-align: left;
      &:focus { outline: 0; }

      .portal-bullhorn-bunch-title {
          white-space: normal;
          display: inline-block;
      }
    }

    @media #{$nonPhone} {
        width: 450px;
        button { width: 446px; }
    }
    @media #{$phone} {
        width: 240px;
        button {
          width: 236px;

          .portal-bullhorn-icon {
            margin-bottom: 10px;
          }
        }
    }

    .portal-bullhorn-alert {
        display: flex;
        border: solid var(--sakai-border-color);
        border-width: 0px 0px 1px 0px;
        padding: 5px;
        margin-right: 5px;
        padding-left: 20px;

        .portal-bullhorn-photo {
          flex: 0;
          min-width: 32px;
          max-width: 32px;
          height: 32px;
          background-position: 50%;
          background-size: auto 100%;
          border-radius: 50%;
        }
        .portal-bullhorn-icon {
          flex: 1;
          min-width: 24px;
          max-width: 24px;
        }

        .portal-bullhorn-message {

            flex: auto;
            margin-left: 7px;
            line-height: 110%;
            font-size: $default-font-size - 2px;

            .portal-bullhorn-display-name {
                font-weight: bold;
                padding-bottom: 3px;
            }
            .portal-bullhorn-time {
                margin-top: 5px;
                font-size: $default-font-size - 3px;
                white-space: nowrap;
                font-style: italic;
            }
            .portal-bullhorn-options {
                padding-left: 5px;
                margin-top: 5px;

                a {
                    padding-left: 3px;
                    font-size: $default-font-size - 3px;
                    font-weight: bold;
                }
            }
        }

        .portal-bullhorn-clear {
            flex: initial;
            width: 5px;
            margin-left: 5px;
            padding-right: 2px;
        }
    }
}


#portal-bullhorn-clear-all {
    padding: 5px;
}

#portal-bullhorn-no-alerts {
    font-weight: bold;
    padding: 5px;
}

#portal-bullhorns-label {
    @extend .all-sites-label;
    padding-top: 3px;
    @media #{$phone} {
        display: none;
    }
}
