<!--- ********************************************************************** -->
<!--- Re-defined Tags  --->
<!--- ********************************************************************** -->

BODY
{
	font-family : Verdana;
	font-size : 10pt;
	font-weight : normal;
	font-style : normal;
	background-color : #FBFAF4;
	width : 500px;
}

LI
{
	font-family : Verdana;
	font-size : 10pt;
	font-weight : normal;
	font-style : normal;
}

TD
{
	font-family : Verdana;
	font-size : 10pt;
	font-weight : normal;
	font-style : normal;
}

a:link 
{ 
	font-weight: bold; 
	text-decoration: underline; 
	color: #363C54;
}

a:visited 
{ 
	font-weight: bold; 
	text-decoration: underline; 
	color: #566B87;
}

a:hover, a:active 
{ 
	text-decoration: underline; 
	color: #E7BC68;
}


<!--- ********************************************************************** -->
<!--- Classes  --->
<!--- ********************************************************************** -->

.font_two
{
	font-face: Verdana;
	font-size: 10pt;
	color: black;
	font-weight: normal;
	font-style : normal;
}

.font_header
{
	font-face: Verdana;
	font-size: 12pt;
	color: #890C08;
	font-weight: bold;
	font-style : normal;
}

.font_header2
{
	font-size: 36pt;
	font-weight: normal;
	font-style : normal;
}

.page_title 
{
	font-face: Verdana;
	font-size: 12pt;
	color: #890C08;
	font-weight: bold;
	font-style : normal;
}

.font_four
{
	font-face: Verdana;
	font-size: 14pt;
	color: #566B87;
	font-weight: normal;
	font-style : normal;
}

.white_text
{
	font-family : Verdana;
	font-size : 10pt;
	color: #fff;
	font-weight : normal;
	font-style : normal;
	border:1px solid #F7C555;
	background-color: #363C54;
}

.darkBlue_text
{
	font-family : Verdana;
	font-size : 10pt;
	color: #566B87;
	font-weight : bold;
	font-style : normal;
}

.main_window_text
{
	font-family : Verdana;
	font-size : 10pt;
	color: #566B87;
	font-weight : bold;
	font-style : normal;
}

.red_text
{
	font-family : Verdana;
	font-size : 10pt;
	color: #890C08;
	font-weight : normal;
	font-style : normal;
}

.orange_text
{
        font-family : Verdana;
        font-size : 10pt;
        color: #FF7F00;
        font-weight : normal;
        font-style : normal;
}

.font_four_black
{
	font-face: Verdana;
	font-size: 14pt;
	font-weight: normal;
	font-style : normal;
}


<!--- ********************************************************************** -->
<!--- IDs  --->
<!--- ********************************************************************** -->

#topNav
{
	background-color : #363C54;
	font : Verdana;
	color: #E7BC68;
	width: 400px;
}

#login_col1
{
	float: left;
	font : Verdana;
	font-size: 10pt;
	color: #566B87;
	font-weight:bold;
	width : 80px;
	padding : 2px;
}

#login_col1a
{
	float: left;
	font : Verdana;
	font-size: 10pt;
	color: #566B87;
	font-weight:bold;
	width : 80px;
	padding : 3px;
}

#login_col2
{
	float: left;
	font : Verdana;
	font-size: 10pt;
	color: #566B87;
	padding : 0px 5px;
	width : 50px;
}

#login_page
{
	float: left;
	width : 400px;
}

#main_page
{
	width : 400px;
}

#code_jsp
{
	background-color : #FFFFFF;
	font : normal Verdana;
	color: black;
    width: 400 px;
}
