<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="${pageSkinRepo}/${pageSkin}/portal.css" type="text/css" rel="stylesheet" media="all" />
<!-- this caises problems for layout nneds investihating -->
    <link href="/portal/styles/portalstyles.css" type="text/css" rel="stylesheet" media="all" />
<!--[if gte IE 5]><![if lt IE 7]>
    <link href="/portal/styles/portalstyles-ie5.css" type="text/css" rel="stylesheet" media="all" />
<![endif]><![endif]-->

    <meta http-equiv="Content-Style-Type" content="text/css" />
#if (! $currentPlacement && $isPDA )
    <meta name="viewport" content="width=320, user-scalable=no" />
#end
#if ( ${bufferedResponse} && ${responseHead} ) 
<!-- Head material from Tool (will include title and headscripts) -->
${responseHead}
<!-- End of Head material from Tool -->
	#if (  $pageColumn0Tools )
		#foreach ( $tool in $pageColumn0Tools ) 
			#if ( $tool ) 
				#if ( $tool.toolRenderResult ) 
${tool.toolRenderResult.getTitle()}
				#end
			#end
		#end
	#end
	#if ($pageTwoColumn)
		#if (  $pageColumn1Tools )
			#foreach ( $tool in $pageColumn1Tools ) 
				#if ( $tool ) 
					#if ( $tool.toolRenderResult ) 
${tool.toolRenderResult.getTitle()}
					#end
				#end
			#end
		#end
	#end
#else 
    <title>${pageTitle}</title>
     <script type="text/javascript" language="JavaScript" src="${pageScriptPath}headscripts.js"></script>
     <script type="text/javascript" language="JavaScript" src="${pageScriptPath}jquery.js"></script>
#end
<script type="text/javascript" language="JavaScript" src="/portal/scripts/portalscripts.js"></script>

#if ( ${styleable} )
<script type="text/javascript" 
    	language="JavaScript" 
    	src="/sakai-preferable-tool/js/styleable.js" >
    </script>
    
    <script type="text/javascript" 
            language="JavaScript">
    window.onload = insertStyleAbleStyles;
    </script>
    #if ( ${styleableStyleSheet} )
	<style type="text/css" title="StyleAble">${styleableStyleSheet}</style>
    #end
    #if ( ${styleableJS} )
	<script type="text/javascript" language="JavaScript">
	${styleableJS} 
	</script>
    #end
#end
</head>
<body class="portalBody">
#if ( $pageTop )
	<script type="text/javascript" language="JavaScript">
	var sakaiPortalWindow = "";
	</script>
#end
<!-- END Header -->

<!-- page.vm -->
<div id="container" $pageSiteType >
<!-- start includePageBody -->		
	#if ( $sitePages.pageMaxIfSingle )
		#if ( $sitePages.pageNavToolsCount > 1 ) 
	<div id="$pageWrapperClass">
		#end
	#else
	<div id="$pageWrapperClass">
	#end
		<div id="$pageColumnLayout">
	#foreach ( $tool in $pageColumn0Tools ) 
		#if ( $tool ) 
			<!-- start include tool -->
			<!-- start Tool Col2 -->
				#if (${tool.hasRenderResult})
					<div class="portletTitleWrap">
						<div class="portletTitle">
							<div class="title">
				#if (${tool.toolShowResetButton})
				                <a href="${tool.toolResetActionUrl}" target="${tool.toolPlacementIDJS}" title="${rloader.sit_reset}">
				                        <img src="/library/image/transparent.gif" alt="${rloader.sit_reset}" border="1" /></a>
				#end
								<h2>${tool.toolRenderResult.getTitle()}</h2>
							</div>
							<div class="action">
				#if (${tool.toolJSR168Edit} )
				            <a accesskey="e" id="jsr-edit" href="${tool.toolJSR168Edit}" 
				                   title="${rloader.sit_edit}"><img src="/library/image/transparent.gif"  
				                    alt="${rloader.sit_edit}" border="0"></a>
				#end 
				#if (${tool.toolShowHelpButton})
					#if (${tool.toolJSR168Help} )
				             <a accesskey="h" href="${tool.toolJSR168Help}" title="${rloader.sit_help}">
					#else
						<a accesskey="h" href="${tool.toolHelpActionUrl}" title="${rloader.sit_help}" 
						 target="_blank" onclick="openWindow('${tool.toolHelpActionUrl}', 'Help',
						  'resizable=yes,toolbar=no,scrollbars=yes,menubar=yes,width=800,height=600'); return false">
					#end
							<img src="/library/image/transparent.gif"  alt="${rloader.sit_help}" border="0" /></a>
				#end
							</div>
						</div>
					</div>
				#else
					<div class="portletTitleWrap">
						<div class="portletTitle">
							<div class="title">
				#if (${tool.toolShowResetButton})
				                <a href="${tool.toolResetActionUrl}" target="${tool.toolPlacementIDJS}" title="${sitReset}">
				                        <img src="/library/image/transparent.gif" alt="${sitReset}" border="1" /></a>
				#end	
								<h2>${tool.toolTitle}</h2>
							</div>
							<div class="action">
				#if (${tool.toolShowHelpButton})
						<a accesskey="h" href="${tool.toolHelpActionUrl}" title="${rloader.sit_help}" 
						 target="_blank" onclick="openWindow('${tool.toolHelpActionUrl}', 'Help',
						  'resizable=yes,toolbar=no,scrollbars=yes,menubar=yes,width=800,height=600'); return false">
							<img src="/library/image/transparent.gif"  alt="${rloader.sit_help}" border="0" /></a>
				#end
							</div>
						</div>
					</div>
				#end
			<!-- end Tool Col2 -->
			<!-- start Tool Body -->
				#if (${tool.hasRenderResult})
					<div class="portletMainWrap">
					    ${tool.toolRenderResult.getContent()}
					</div>
				#else
					<div class="portletMainWrap">
						<iframe	name="${tool.toolPlacementIDJS}" id="${tool.toolPlacementIDJS}" title="${tool.toolTitle}" 
							class ="portletMainIframe"
							height="50"
							width="100%"
							frameborder="0"
							marginwidth="0"
							marginheight="0"
							scrolling="auto"	
							src="${tool.toolUrl}?panel=Main">
						</iframe>
					</div>
				#end											
			<!-- end Tool Body -->												
			<!-- end include tool -->
		#end
	#end
		</div>
	#if ($pageTwoColumn)
		<div id="col2of2">
			#foreach ( $tool in $pageColumn1Tools ) 
				#if ( $tool ) 
					<!-- start include tool -->
					<!-- start Tool Col2 -->
						#if (${tool.hasRenderResult})
							<div class="portletTitleWrap">
								<div class="portletTitle">
									<div class="title">
						#if (${tool.toolShowResetButton})
						                <a href="${tool.toolResetActionUrl}" target="${tool.toolPlacementIDJS}" title="${rloader.sit_reset}">
						                        <img src="/library/image/transparent.gif" alt="${rloader.sit_reset}" border="1" /></a>
						#end
										<h2>${tool.toolRenderResult.getTitle()}</h2>
									</div>
									<div class="action">
						#if (${tool.toolJSR168Edit} )
						            <a accesskey="e" id="jsr-edit" href="${tool.toolJSR168Edit}" 
						                   title="${rloader.sit_edit}"><img src="/library/image/transparent.gif"  
						                    alt="${rloader.sit_edit}" border="0"></a>
						#end 
						#if (${tool.toolShowHelpButton})
							#if (${tool.toolJSR168Help} )
						             <a accesskey="h" href="${tool.toolJSR168Help}" title="${rloader.sit_help}">
							#else
								<a accesskey="h" href="${tool.toolHelpActionUrl}" title="${rloader.sit_help}" 
								 target="_blank" onclick="openWindow('${tool.toolHelpActionUrl}', 'Help',
								  'resizable=yes,toolbar=no,scrollbars=yes,menubar=yes,width=800,height=600'); return false">
							#end
									<img src="/library/image/transparent.gif"  alt="${rloader.sit_help}" border="0" /></a>
						#end
									</div>
								</div>
							</div>
						#else
							<div class="portletTitleWrap">
								<div class="portletTitle">
									<div class="title">
						#if (${tool.toolShowResetButton})
						                <a href="${tool.toolResetActionUrl}" target="${tool.toolPlacementIDJS}" title="${sitReset}">
						                        <img src="/library/image/transparent.gif" alt="${sitReset}" border="1" /></a>
						#end	
										<h2>${tool.toolTitle}</h2>
									</div>
									<div class="action">
						#if (${tool.toolShowHelpButton})
								<a accesskey="h" href="${tool.toolHelpActionUrl}" title="${rloader.sit_help}" 
								 target="_blank" onclick="openWindow('${tool.toolHelpActionUrl}', 'Help',
								  'resizable=yes,toolbar=no,scrollbars=yes,menubar=yes,width=800,height=600'); return false">
									<img src="/library/image/transparent.gif"  alt="${rloader.sit_help}" border="0" /></a>
						#end
									</div>
								</div>
							</div>
						#end
					<!-- end Tool Col2 -->
					<!-- start Tool Body -->
						#if (${tool.hasRenderResult})
							<div class="portletMainWrap">
							    ${tool.toolRenderResult.getContent()}
							</div>
						#else
							<div class="portletMainWrap">
								<iframe	name="${tool.toolPlacementIDJS}" id="${tool.toolPlacementIDJS}" title="${tool.toolTitle}" 
									class ="portletMainIframe"
									height="50"
									width="100%"
									frameborder="0"
									marginwidth="0"
									marginheight="0"
									scrolling="auto"	
									src="${tool.toolUrl}?panel=Main">
								</iframe>
							</div>
						#end											
					<!-- end Tool Body -->												
					<!-- end include tool -->
				#end
			#end
		</div>
	#end
#if ( $sitePages.pageMaxIfSingle )
#if ( $sitePages.pageNavToolsCount > 1 ) 
	</div>
#end
#else
	</div>
#end
<!-- end includePageBody -->
</div>



#if (!$pagepopup)
<div id="footer">
	<div class="footerExtNav" align="center">
		|
	#foreach ( $bn in $bottomNav )
		${bn}  | 
	#end
	</div>
	<div id="footerInfo">
	#foreach ( $pb in $bottomNavPoweredBy )
		<span class="skip">${rloader.site_newwindow}</span>	
		<a href="${pb.poweredByUrl}" target="_blank">
				<img border="0" src="${pb.poweredByImage}" alt="${pb.poweredByAltText}" /></a>
	#end
	</div>
	<div class="sakaiCopyrightInfo">${bottomNavCopyright}<br />
	${bottomNavService} - ${bottomNavServiceVersion} - Sakai ${bottomNavSakaiVersion} - Server ${bottomNavServer}
	</div>
</div>
#else
<!-- dont compact -->
#end
<!-- end page.vm -->
	</body>
</html>
