##
##        rcontext.put("loggedIn",Boolean.value(session.getUserId() != null));
##
##                    m.put("isPage",Boolean.valueOf(true));
##                    m.put("current", Boolean.valueOf(current));
##                    m.put("ispopup", Boolean.valueOf(p.isPopUp()));
##                    m.put("pagePopupUrl", pagePopupUrl);
##                    m.put("pageTitle", Web.escapeHtml(p.getTitle()));
##                    m.put("jsPageTitle", Web.escapeJavascript(p.getTitle()));
##                    m.put("pageId", Web.escapeUrl(p.getId()));
##                    m.put("jsPageId", Web.escapeJavascript(p.getId()));
##                    m.put("pagerefUrl", pagerefUrl);
##
##                    m.put("isPage",Boolean.valueOf(false));
##                    m.put("toolId", Web.escapeUrl(placement.getId()));
##                    m.put("jsToolId", Web.escapeJavascript(placement.getId()));
##                    m.put("toolTitle", Web.escapeHtml(placement.getTitle()));
##                    m.put("jsToolTitle", Web.escapeJavascript(placement.getTitle()));
##                    m.put("toolrefUrl", toolrefUrl);
##
#start_response()
<!-- pda.vm -->
<div class="portlet">
	<div id="pda-portlet-menu">
        <a href="${portalTopUrl}" title="need title here">Sites</a> 
		  #if ($currentSite)
			 	> <a href="${currentSite.siteUrl}" title="${currentSite.siteTitle}">
				<span>${currentSite.siteTitle}</span>
				</a>
			#end
			#if ($currentPlacement)
#if ( ${bufferedResponse} && ${responseBody} ) 
          > ${currentPlacement.toolTitle}
#else
          > <a href="${currentPlacement.toolResetActionUrl}" target="${currentPlacement.toolPlacementIDJS}" 
		>${currentPlacement.toolTitle}</a>
#end
			#end
			#if (${currentPlacement.toolShowHelpButton})
				#if (${currentPlacement.toolJSR168Help} )
             &nbsp;(<a accesskey="h" href="${currentPlacement.toolJSR168Help}" title="${rloader.sit_help}">?</a>)
				#else
             &nbsp;(<a accesskey="h" href="${currentPlacement.toolHelpActionUrl}" title="${rloader.sit_help}"
                target="_blank" onclick="openWindow('${currentPlacement.toolHelpActionUrl}', 'Help',
                'resizable=yes,toolbar=no,scrollbars=yes,menubar=yes,width=800,height=600'); return false">?</a>)
				#end
			#end
			#if (${currentPlacement.toolJSR168Edit} )
             &nbsp;(<a accesskey="e" href="${currentPlacement.toolJSR168Edit}" title="${rloader.sit_edit}">*</a>)
			#end
			<div class="portletpresencebutton" >
				#if (${currentSite.sitePages.pageNavShowPresenceLoggedIn})
					#if ($currentSite)
						#if ( ! $currentSite.isMyWorkspace )
							<a href="#" onClick="hidePresense();" onMouseOver="showPresence();" onMouseOut="hidePresence();">Users Present</a> | 
						#end
					#end
				#end
				#if ( $loggedIn ) 
				<a href="${portalTopUrl}?force.logout=yes">Log Out</a>
				#else
				<a href="${portalTopUrl}?force.login=yes">Log In</a>
				#end
			</div>
		</div> <!--end of menu bar -->
	#if ($currentPlacement)
#if ( ${bufferedResponse} && ${responseBody} ) 
<!-- Buffered Body Tool Content -->
${responseBody}
<!-- End Buffered Body Tool Content -->
#else
		#includeToolBody ( $currentPlacement )
#end
	#else
		#if ($currentSite)
			<ul id="pda-portlet-page-menu"> 
  			#foreach ( $page in $currentSite.sitePages.pageNavTools ) 
				#if ($page.isPage)
					## This must be a popup - so we treat it as a popup
					<li>
						<a href="javascript:;" onclick="window.open('${page.pagePopupUrl}${page.pageId}','${page.jsPageTitle}','resizable=yes,toolbar=no,scrollbars=yes, width=800,height=600')">
							${page.pageTitle}
						</a>
					</li>
				#else
					<li>
						<a href="${page.toolrefUrl}" title="${page.toolTitle}">${page.toolTitle}</a>
					</li>
				#end
			#end
			</ul>
		#else
			<ul id="pda-portlet-site-menu"> 
			#foreach ( $site in $allSites ) 
			  <li>
					<a href="${site.siteUrl}" title="${site.siteTitle}">
						<span>${site.siteTitle}</span>
				  </a>
			  </li>
			#end 
		</ul>
		#end
	#end
	#if ($currentSite)
		#if (${currentSite.sitePages.pageNavShowPresenceLoggedIn})
			<script type="text/javascript" language="JavaScript">
                        function showPresence()
                        {
                                window.document.getElementById('presdiv').style.position = 'absolute';
                                window.document.getElementById('presdiv').style.top = '20px';
                                window.document.getElementById('presdiv').style.right = '5px';
                                window.document.getElementById('presdiv').style.left = 'auto';
                        }

                        function hidePresence()
                        {
                                window.document.getElementById('presdiv').style.position = 'absolute';
                                window.document.getElementById('presdiv').style.top = '20px';
                                window.document.getElementById('presdiv').style.right = 'auto';
                                window.document.getElementById('presdiv').style.left = '-4000px';
                        }
			</script>
			<div class="portletpresence" id="presdiv" >
				 <div class="portletpresencewrapper" id="portletpresencewrapper">
					<iframe name="presenceIframe" id="presenceIframe" 
						frameborder="0" marginwidth="0" marginheight="0" scrolling="auto" 
						src="${currentSite.sitePages.pageNavPresenceUrl}" >
					</iframe>
				 </div>
			 </div>
		#end
	#end
</div>
<!-- end pda.vm -->
#end_response()
