
/*
 * Styles for our confirmation dialogs using JQuery UI Dialog
 */


.ui-dialog {
	border: solid 1px #525252;
	background-color: white;
	padding: 10px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
  position: fixed !important;
  top: 10% !important;
  left: 10% !important;
  width: 80% !important;
  height: 80% !important;
}

#dialogDiv{
  height: 100% !important;
}
 
.ui-dialog-container {

}

.ui-dialog-content {  

}


.ui-dialog-titlebar-close {
    display: none;
}

.ui-dialog-titlebar {
    display: none;
}

.ui-dialog-buttonpane {
    display: none;
}

.ui-dialog-msg-list {
	margin:0;
	padding:0;
	list-style-type:none;
	list-style-position: outside; 
	list-style: none;
}

/* The default settings on jQuery UI Dialog 1.7 cause the overlay to appear
 * under the regular body content and cause major resizing issues when coupled
 * with our Sakai-RSF DOM Page Resizer. Copying these style settings from the
 * older version.
 */
.ui-widget-overlay {
  border-width: 0pt;
  margin: 0pt;
  padding: 0pt;
  position: fixed;
  top: 0pt;
  left: 0pt;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
/*  width: 1390px;
  height: 899px; */
  opacity: 0.50;
  filter:alpha(opacity=50);
  -moz-opacity: 0.50;
  background-color: rgb(238, 238, 238);
  /* z-index: 1001;*/
}
