/*PART 1 - FORUM AND TOPIC LISTINGS*/
.forumHeader{
	/*panel holding all forum metadata in forum list view*/
	width: 100%;
    background: var(--sakai-background-color-2);
    border: 1px solid var(--sakai-border-color);
    margin-bottom: 0;
    margin-top: 1em;
}
.forumHeader td{
	/*inner container forum metadata in forum list view*/
	padding: .25em .5em;
	vertical-align: text-top;
}
.forumHeader td .title{
	/*forum title in forum list view*/
	font-weight: bold;
	font-size: 1.3em;
}
.forumHeader .actionLinks,.topicBloc .actionLinks{
	/*a spacer between title + metadata and the links*/
	padding-left: 1em;
}
.topicBloc a.show,.topicBloc a.hide,.forumHeader a.show,.forumHeader a.hide,.singleMessage a.show,.singleMessage a.hide, .singleMessageReply a.show,.singleMessageReply a.hide{
	/*show and hide descr links in various places*/
/*	color: #f55 !important;*/
	font-size: 95%;
	text-decoration: none !important;
	margin: .4em 0;
	vertical-align: middle;
}
.topicBloc a.show img,.topicBloc a.hide img,.forumHeader a.show img,.forumHeader a.hide img, .singleMessage a.show img,.singleMessage a.hide img,  .singleMessageReply a.show img,.singleMessageReply a.hide img{
	/*image associated with show and hide descr links in various places*/
	vertical-align: middle;
	padding: 2px 0;
}
.toggle{
/*	long description toggled container*/
	padding-left:0;
	font-size: .92em;
	line-height: 1.5em;
}
.toggle .textPanel {
    -ms-word-break: break-word;
     word-break: break-word;
}
.topicBloc{
	/*inner container topic metadata in forum list view, or single topic view*/
	width: 80%;
	padding: 0 .5em;
	margin: 0;
}
.topicBloc td{
	padding-left: .5em;
	padding-top: .5em;

}
.topicBloc td td{
	padding-left: 0;
}

.singleMessage .title, .singleMessageReply .title, .topicBloc .title,.pendingApproval .title{
	/*	title for all the above cases*/
	margin-right: 4px;
	font-weight: bold;
	font-size: 1.2em;
}
.forumHeader .shortDescription,.topicBloc .shortDescription{
	/*	short description whenever one occurs - do not use padding */
	display: block;
	margin: .5em 0;
    font-size:.85em;
    -ms-word-break: break-word;
     word-break: break-word;
}
.messageNew{
	color: var(--warnBanner-color);
	font: .84em/1em;
	background: var(--warnBanner-bgcolor);
	outline:1px solid var(--warnBanner-bordercolor);
	padding: 1px 2px;
	margin-right: 5px;
	/*	display:none; - uncomment to hide the "new" message */
}
.childrenNewNumber{
	margin-left: 5px;
}
.childrenNew{
	color: var(--warnBanner-color);
	background: var(--warnBanner-bgcolor);
	font-size:87%;
	font-weight:bold;
	padding: 1px 2px;
	/*	display:none; - uncomment to hide the message associated with parents of new messages*/
}

.childrenNewZero {
	margin-left: 5px;
}

.childrenZero{
	color: var(--sakai-text-color-2);
	font-size: 85%;
	font-weight: normal;
	margin-left: 5px;
}

#messNavHolder{
	float:none;
	display:block;
	line-height: 2em;
	height:100%;
	overflow:hidden;
	padding:2px 0;
	margin:.3em 0;
	clear:both;
	}
.jumpToNew{
	padding:2px;
}
.jumpToNew a {
	border:1px solid var(--sakai-border-color);
	padding:3px;
	padding-left:25px;
	background-color: var(--sakai-background-color-2);
	position: relative;
}

.jumpToNew a::before {
	content: "\F129";
	font-family: bootstrap-icons;
	position: absolute;
	left: 5px;
	top: 50%;
	transform: translateY(-50%);
}

.topicIcon{
/*	display:none; 	comment to hide blue or orange speech balloons by topics in Forum list view */
}
/* PART 2 - TOPIC/THREAD VIEWS*/
.messagePending{
	background: var(--successBanner-bgcolor);
	font: .84em/1em;
	color: var(--successBanner-color);
	outline:1px solid var(--successBanner-bordercolor);
	padding: 1px 2px;
	margin-right: 5px;
}
.messageDenied{
	color: var(--errorBanner-color);
	font: .84em/1em;
	background: var(--errorBanner-bgcolor);
	outline:1px solid var(--errorBanner-bordercolor);
	padding: 1px 2px;
	margin-right: 5px;
}

.Mrphs-sakai-forums #msgForum a.button.markAsNotReadIcon{
	cursor: pointer;
	padding-left: 25px;
	position:relative;
}

.Mrphs-sakai-forums #msgForum a.button.markAsNotReadIcon::before{
	content: "\F32C";
	font-family: bootstrap-icons;
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
}

.Mrphs-sakai-forums #msgForum a.markAsNotReadIcon:hover::before{
	content: "\F32C";
	font-family: bootstrap-icons;
}
.messagesFlat,.messagesThreaded{
	margin: 10px 0;
	table-layout: fixed;
	width: 100%;
}
.messagesFlat  tbody tr div,.messagesThreaded tbody tr div{
	border: none
}
.messagesFlat tbody tr td div.hierItemBlock,.messagesThreaded tbody tr td div.hierItemBlock{
	padding: 0 10px;
	border-left: 2px solid var(--sakai-tertiary-color-1) !important;
	margin: 10px;
}
.messagesThreaded tbody tr td{
	padding-top: 0;
	padding-bottom: 0;
}
.messagesThreaded tbody tr td div.hierItemBlock .textPanel{
	clear: both;
	overflow-x: auto;
}
.messagesFlat div.textPanel {
	overflow-x: auto;
}
.titleBarBorder{
	/*create an underline under message title + metadata in view body thread view*/
	background: var(--sakai-background-color-1);
	margin: 2px 0 0 0;
}
.messagesThreaded tbody tr.hierItemBlock td.bogus:first-child{
	/*first message in thread in visible body view*/
	border-left: 2px solid var(--sakai-secondary-color-1);
	width: 100%;
}
.messagesThreaded tbody tr.hierItemBlock td.bogus:first-child > div{
	margin: 0;
	border: none !important;
}
.messagesFlat tbody .title,.messagesThreaded tbody .title{
	font-weight: bold;
	font-size: 1.1em;
}

.allMessages .messageTitle .firstChild{
	/*first post in a thread in topic listing (no body)*/
}
.allMessages .hierItemBlock .messageTitle .firstChild{
	/*first post in a thread in topic listing ( + body) */
}

.allMessages td.attach{
	vertical-align:middle;
}
.allMessages .anonymousAuthor{
	font-size:1.2em;
}
.pendingApproval{
	/*listing of a message pending aproval*/
	border-left: 2px solid var(--sakai-border-color);
	margin: 0;
}
/*PART 3 - SINGLE MESSAGE DISPLAY*/
.singleMessage{
	/*title + metadata block of a single message display*/
	border-left: 2px solid var(--sakai-secondary-color-1);
	background: var(--sakai-background-color-2);
	margin-top: 1em;
	padding:.3em  .5em;
}
.singleMessage .textPanel {
	/* so non-breaking wide message content doesn't stretch the page */
	overflow-x: auto;
}
.singleMessageReply{
	/*title + metadata block of a single message display*/
	border:1px solid var(--sakai-border-color);
	background: var(--sakai-background-color-2);
	margin-top: 1em;
	padding:.3em  .5em;
}
table.messageActions {
	/*single message action links top container*/
	background: var(--sakai-background-color-2);
}
table.messageActions td{
	/*single message action links inner container*/
	padding: 6px;
	vertical-align: middle;
	background: var(--sakai-background-color-2);
}
.messageActions a{
	/*single message action links*/
	text-decoration: none !important;
	border: 1px solid var(--sakai-border-color) !important;
	background: var(--sakai-background-color-1);
	padding: 2px 5px;
	vertical-align: middle;
	margin: 0 .3em .3em 0;
	display: inline-block;
}
.messageActions a span{
	white-space: nowrap;
}
.messageActions a:hover{
	border: 1px solid var(--sakai-border-color)  !important;
	text-decoration: none !important;
}
#permalinkHolder{
	border:1px solid var(--sakai-border-color);
	display:none;
	background:var(--sakai-background-color-2);
	position:absolute;
	padding:5px;
	z-index: 1;
}

#permalinkHolder a{
	font-weight:bold;
	top:0;right:4px;
	outline:none;
	padding:0;
	display:block;
	float:right;
}

#permalinkHolder textarea{
	width: 100%;
	height: 200px;
}
.messageActions td.otherOtherActions {
	/*rightmost column of single message action links - not used*/
	text-align: right;
}
.messageActions a img{
	vertical-align: middle;
}
/*PART $ MESSAGE TYPES */
.messageAlert{
    list-style: none;
	background: var(--errorBanner-bgcolor) url(../images/exclamation.gif) 5px 5px no-repeat;
	border: 1px solid var(--errorBanner-bordercolor);
	color: var(--errorBanner-color);
	margin: .5em 0;
	padding: 4px 0 4px 2em;
}
.messageInformation{
	background: var(--warnBanner-bgcolor) url(../images/asterisk_yellow.gif) 5px 5px no-repeat;
	border: 1px solid var(--warnBanner-bordercolor);
	color: var(--warnBanner-color);
	margin: .5em 0;
	padding: 4px 0 4px 2em;
}
.messageComfirm{
	background: var(--successBanner-bgcolor) url(../images/accept.gif) 5px 5px no-repeat;
	border: 1px solid var(--successBanner-bordercolor);
	color: var(--successBanner-color);
	margin: .5em 0;
	padding: 4px 0 4px 2em;
}
span.messageAlert,span.messageInformation,.messageComfirm{
	padding-right: 1em;
}
/*utils, special cases, sakai overrides*/
.upLevel{
	/*go up one level link, uncomment to show*/
	/*display:none*/
}
td.attach{
	vertical-align: middle;
	padding: 2px 0;
}
td div.title{
	font-weight: bold;
	font-size: 1.3em;
}
.unreadMsg a:link,.unreadMsg a:visited{
	color:var(--errorBanner-color) !important;
	text-decoration: none;
}
.selChanged{
	/*flag an item as changed in organize view*/
	border: 1px solid var(--warnBanner-bordercolor);
	background-color: var(--warnBanner-bgcolor);
}
.attachPanel{
/*panel listing attachmetns when in edit mode for forum/topic/message*/
	border: 1px solid var(--sakai-border-color);
	background: var(--sakai-background-color-1);
	font-size: 1em;
}
.attachPanel tr:hover{
	background: none !important;
}
.attachPanel th{
	background: var(--sakai-background-color-2);
	border-bottom: 1px solid var(--sakai-border-color);
	text-align: left;
	font-weight: normal;
	padding: .2em .5em;
}
.attachPanel td{
	padding: .2em .5em;
	vertical-align: top;
}
.attachPanel td.attach{
	width: 2em;
}
.permissionTable {
	width: 675px;
}
.permissionRoleLabel {
	display:inline-block;
	width:14em;
}

.permissionPanel > table {
	padding-top: .3em;
}

.permissionPanel td{
	padding-left: 1em;
	vertical-align:top;
}

.permissionPanel .checkbox {
	display:block;
	border: none;
}

.permissionRadioGroup {
	border: 1px solid var(--sakai-border-color);
	display:block;
	padding:.3em;
}

.permissionRow .ui-icon { display: inline-block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; vertical-align:bottom; }
.permissionRow .ui-icon { width: 16px; height: 16px; background-image: url(ui-lightness/images/ui-icons_222222_256x240.png); }
.permissionRow .ui-icon-triangle-1-s { background-position: -64px -16px; }
.permissionRow .ui-icon-triangle-1-e { background-position: -32px -16px; }
.permissionRow .ui-accordion-content { background: var(--sakai-background-color-2); border: 1px solid var(--sakai-border-color); }
.permissionRow span.ui-accordion-header {
	margin: 0 0 0.5em 4em;
	display:inline-block;
}
.permissionRow .ui-accordion-header.ui-state-active {
	border-bottom:none;
}

table.discTria{
	/*some adjustments to sakai discTria - to make whole clickable looking*/
	background: var(--sakai-background-color-3);
	border:1px solid var(--sakai-border-color);
}
table.discTria h2{
	display: inline;
	margin: 0;
	padding: 3px;
}
table.discTria img {
	vertical-align: middle;
}
table.discTria:hover{
	cursor: pointer;
	border:1px solid var(--sakai-border-color)
}
.discTria{
	background: transparent;
}
.inactive{
	color: var(--sakai-text-color-disabled);
}
.printBlock{
	/*top  most parent of any printable block - used in print previews/pretty prints*/
	margin: 1em;
	padding: .5em;
	font-size: 93%;
	line-height:1.5em;
}
.printBlock .textPanel  a:after{
	content: " (" attr(href) ")";
}


.printTable td .title{
	font-weight: bold;
}
.printBlock .bordered{
	border-color: var(--sakai-border-color);
}
.printBlock .messagePending{
	background: var(--sakai-background-color-1);
	color: var(--sakai-text-color-1);
	padding: 2px;
	margin-right: 5px;
	border: 1px solid var(--successBanner-bordercolor);
}
.printBlock .messageDenied{
	color: var(--sakai-text-color-1);
	background: var(--sakai-background-color-1);
	border: 1px solid var(--errorBanner-bordercolor);
	padding: 3px;
	margin-right: 5px;
}

.messageMetadata{
	padding:1px 0;
}

a .textPanelFooter{
	color: inherit;
}

.lastRevise{
	margin:.3em 0;
	padding:.3em 0;
}
form{margin-bottom:0;}

.messageCommentWrap{
	border:1px solid var(--warnBanner-bordercolor) !important;
	background: var(--warnBanner-bgcolor);
	color: var(--warnBanner-color);
	padding:3px 5px;
	margin-bottom:10px
}
.messageCommentMD{
	font-size:.9em;
	text-decoration: underline;
	margin-bottom:3px
}
.threadMovedMsg{
    font-size:1em;
    color: var(--sakai-text-color-2);
}
.calWidget{
    vertical-align:middle;
}
.calWidget img{
     vertical-align:middle;
     margin-right:3em
}
.authorImage {
	float: left;
	display: block;
	text-align: center;
	padding-right: .25em;
	padding-bottom: .3em;
}
.authorImage img{
	max-width: 8em;
	max-height: 5em;
}
.singleMessage .authorImage img{
	max-width: 5em;
	max-height: 4em;
}
img.authorImage {
	display: inline-block;
	float: none;
	max-width: 3.5em;
	max-height: 2.5em;
	width: auto !important;
	vertical-align: bottom !important;
}
.anonymousAuthor {
	font-family: Consolas,monaco,"Lucida Console","Lucida Sans Typewriter","Bitstream Vera Sans Mono","Andale Mono",AndaleMono,monospace;
	font-size: 1.2em;
}
.createTopicsForGroupsPanel {
    margin-left: 3em;
    margin-top: 0.3em;
    display: block;
}

.createForumsForGroupsPanel {
    margin-left: 3em;
    margin-top: 0.3em;
    display: block;
}

.navIntraTool li span a img,.navIntraTool li {
    vertical-align: middle;
}

#buttonBlocker,.buttonBlocker {
    z-index:2;
    display:none;
    padding:0 8px;
    background: transparent url(../images/trans.gif) top left repeat;
    opacity:0;
    position:absolute
}
#buttonBlocker:hover, .buttonBlocker:hover {
    cursor:progress;
}

.forumsRank {
    min-height: 35px;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    }

.forumsRank .rankImage {
    width: 35px;
    height: 35px;
    display: block;
    float: left;
    margin:0 5px 0 0;
    }

.forumsRank .forumsRankNameContainer {
    display: inline-block;
}

.forumsRank .forumsRankNameContainer .forumsRankName {
    color: var(--sakai-text-color-1);
    font-size: 0.95em;
    padding: 0 !important;
    text-align: left;
    margin: 0;
    display: block;
}

.disable_a_href{
    pointer-events: none;
}

#msgForum\:grade-message-options{
	width: 100%;
}

#msgForum\:grade-message-options label{
	width: 25%;
	display:inline-block;
}
#msgForum\:assignment{
	margin-right: 0.5em;
}

 /* Styles for synoptic */
#synopticForm\:myWorkspaceUnread\:myWorkspaceTable{
	width:auto;
	table-layout:fixed;
}

#synopticForm\:myWorkspaceUnread\:myWorkspaceTable th{
	white-space: normal;
	vertical-align: initial;
}

#synopticForm\:myWorkspaceUnread\:myWorkspaceTable .messagesHeader{
	width:20%;
}

#synopticForm\:myWorkspaceUnread\:myWorkspaceTable .forumsHeader{
	width:20%;
}

#synopticForm\:myWorkspaceUnread\:myWorkspaceTable .siteHeader{
	width:60%;
}

/* Styles for modal */
.close-button {
	float: right;
	cursor: pointer;
	font-size: 20px !important;
}

#revise\:closeDateSpan #revise\:closeDate, #revise\:openDateSpan #revise\:openDate {
	width: auto;
	margin-left: 10px;
}

.openDateSpan {
	display: block;
}

/* Draft forum topic styling - topics in draft forums appear unavailable to students */
.draft-forum-topic {
	color: #666;
	opacity: 0.6;
}

.draft-forum-topic a {
	color: #666 !important;
	text-decoration: none;
}

.draft-forum-topic a:hover {
	color: #333 !important;
}

/* Style the header: fixed position (always stay at the top) */
.headerBar {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  color : var(--sakai-text-color-1);
  height: 3rem;
  margin-top: 1rem;
}

/* The progress container (grey background) */
.Mrphs-sakai-forums .progress-container {
  width: 100%;
  height: 8px;
  background: var(--sakai-color-gray);
}

/* The progress bar (scroll indicator) */
.Mrphs-sakai-forums .progress-bar {
  height: 8px;
  background: var(--sakai-brand);
  width: 0%;
}

.Mrphs-sakai-forums #progress-value {
  float: right;
  background: var(--sakai-background-color-1);
}
