 .forumsColumn{font-size:100%;color:#084A87;font-weight:normal;margin:.5em 0;background:transparent}

/*#navIntraTool: text left aligned*/

div.forumsRow{margin-left:0;color:#000;text-align:left; width:95%; line-height:1.3em;background:#DDDFE4}

/* .forumsRow a:link,.navIntraTool a{border-bottom:1px dashed #90A1C6;background:#DDDFE4;padding:0px 2px 0px 3px;color:#000;text-decoration:none;margin:0 .5em}
.forumsRow a:hover{border:none;text-decoration:none !important;color:#084A87 !important;padding:0px 2px 0px 3px;border-bottom:1px solid #FFF !important}
.forumsRow a:visited{border-bottom:1px dashed #90A1C6;background:#DDDFE4;padding:0px 2px 0px 3px;color:#000;text-decoration:none}
*/

div.forumsRowLeft{float:left;text-align:left; width:65%;background:#DDDFE4}

div.forumsRowRight{float:right;color:#000; text-align:right; width:35%;line-height:1.3em;background:#DDDFE4}

div.topicRows{border:true; margin: 0; margin-left:15px; padding: 0; text-align:left; width=95%;}

.alertMsg{background-color:#FFF8DF;border:1px solid #B8B88A;color:#663300;font-size:x-small;margin:5px 0px 5px 0px;padding:5px 5px 5px 25px;}

.rightAlign{text-align:right;float:right;vertical-align:top;}

div.right-header-section {border: none; float: right; margin: 0; padding: 0; width: 19%; text-align:right;}

div.left-header-section {border: none; float: left; margin: 0; padding: 0; width: 79%;text-align:left;}

div.header-section{margin-top: 0; margin-right: auto; margin-bottom: 0; margin-left: auto; padding: 0; text-align:left; width: 100%;}

div.base-div{margin-top: 0; margin-right: auto; margin-bottom: 0; margin-left: auto; padding: 0; text-align:left; height:300px; width: 100%;}

.HEADING {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: black;
  background-color: silver;
  text-align: center;
}
.ROW1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: black;
  background-color: white;
  text-indent: 20px;
}
.ROW2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: white;
  background-color: black;
  text-indent: 20px;
}
