.forumsColumn{font-size:100%;color:#084A87;font-weight:normal;margin:.5em 0;background:transparent}
/*#navIntraTool: text left aligned*/
.forumsRow{color:#000;padding:.3em;text-align:left;font-size:.9em;line-height:1.3em;background:#DDDFE4}
/* .forumsRow a:link,.navIntraTool a{border-bottom:1px dashed #90A1C6;background:#DDDFE4;padding:0px 2px 0px 3px;color:#000;text-decoration:none;margin:0 .5em}
.forumsRow a:hover{border:none;text-decoration:none !important;color:#084A87 !important;padding:0px 2px 0px 3px;border-bottom:1px solid #FFF !important}
.forumsRow a:visited{border-bottom:1px dashed #90A1C6;background:#DDDFE4;padding:0px 2px 0px 3px;color:#000;text-decoration:none}
*/
.topicRows{
  border: none; float: right; margin: 0; padding: 0; width: 97%;text-align:left;
}
.alertMsg{
  background-color:#FFF8DF;border:1px solid #B8B88A;color:#663300;font-size:x-small;margin:5px 0px 5px 0px;padding:5px 5px 5px 25px;
}

div.left-header-section {
  border: none; float: left; margin: 0; padding: 0; width: 79%;text-align:left;
}

div.right-header-section {
  border: none; float: right; margin: 0; padding: 0; width: 19%; text-align:left;
}
div.base-div {
  
  margin-top: 0; margin-right: auto; margin-bottom: 0; margin-left: auto;
  padding: 0; text-align:left; height:300px; width: 100%;
}

.HEADING {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: black;
  background-color: silver;
  text-align: center;
}
.ROW1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: black;
  background-color: white;
  text-indent: 20px;
}
.ROW2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: white;
  background-color: black;
  text-indent: 20px;
}