<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!--
		This Spring configuration file wires the external service interface.
	-->

	<!-- Gradebook Service -->
	<bean id="org_sakaiproject_service_gradebook_GradebookService" parent="gradebookTxTemplate"
		name="org.sakaiproject.service.gradebook.GradebookService">
		<property name="target">
			<bean class="org.sakaiproject.component.gradebook.GradebookServiceSecurityProxy">
				<property name="serviceImpl">
					<bean class="org.sakaiproject.component.gradebook.GradebookServiceHibernateImpl">
						<property name="sessionFactory"><ref bean="gradebookSessionFactory"/></property>
						<property name="gradebookManager">
							<ref bean="org_sakaiproject_tool_gradebook_business_GradebookManager" />
						</property>
						<property name="gradeManager">
							<ref bean="org_sakaiproject_tool_gradebook_business_GradeManager" />
						</property>
						<property name="courseManagement">
							<ref bean="org_sakaiproject_tool_gradebook_facades_CourseManagement" />
						</property>
						<property name="authn">
							<ref bean="org_sakaiproject_tool_gradebook_facades_Authn" />
						</property>
						<property name="authz">
							<ref bean="org_sakaiproject_tool_gradebook_facades_Authz" />
						</property>
					</bean>
				</property>
			</bean>
		</property>
	</bean>

</beans>
