<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- disable propagation of the base localeSetter, Sakai tracks the Locale in a standard location in the session. -->
	<bean id="sessionLocaleScope" class="java.lang.String" />

	<bean id="textEvolvers" class="uk.org.ponder.springutil.StringListFactory">
		<property name="strings" value="plainTextInputEvolver, sakaiFCKTextEvolver" />
	</bean>

	<bean id="componentsTemplateResourceBase" class="java.lang.String">
		<constructor-arg value="/" />
	</bean>

</beans>