<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Support for overridable plug-in beans. -->
	<bean id="configurationBean" class="org.sakaiproject.tool.gradebook.ui.ConfigurationBean">
		<property name="pluginDefaults">
			<map>
				<entry key="gradebook.coursegrades.converter"
					value="org.sakaiproject.tool.gradebook.ui.CourseGradesToSpreadsheetConverterDefault"/>
			</map>
		</property>
		<property name="serverConfigurationService"
			ref="org.sakaiproject.component.api.ServerConfigurationService"/>
	</bean>

	<!--
		This Spring configuration file specifies a Sakai + SectionAwareness implementation of the facades.
	-->

	<!-- External User Directory Service -->
	<bean id="org_sakaiproject_tool_gradebook_facades_UserDirectoryService"
		class="org.sakaiproject.tool.gradebook.facades.sakai2impl.UserDirectoryServiceSakai2Impl">
	</bean>

	<!-- External Authn Service -->
	<bean id="org_sakaiproject_tool_gradebook_facades_Authn"
		class="org.sakaiproject.tool.gradebook.facades.sakai2impl.AuthnSakai2Impl">
	</bean>

	<!-- External Authz Service -->
	<bean id="org_sakaiproject_tool_gradebook_facades_Authz"
		class="org.sakaiproject.tool.gradebook.facades.sakai2impl.AuthzSakai2Impl"
		init-method="init">
		<property name="sectionAwareness"><ref bean="org.sakaiproject.section.api.SectionAwareness"/></property>
		<property name="authn"><ref bean="org_sakaiproject_tool_gradebook_facades_Authn"/></property>
		<property name="gradebookPermissionService"><ref bean="org_sakaiproject_service_gradebook_GradebookPermissionService"/></property>
	</bean>

	<!-- External Context Management Service -->
	<bean id="org_sakaiproject_tool_gradebook_facades_ContextManagement"
		class="org.sakaiproject.tool.gradebook.facades.sakai2impl.ContextManagementSakai2Impl">
	</bean>

</beans>
