<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!--
		This Spring configuration file sets up implementation-specific Hibernate database
		properties.
	-->

	<!-- An application consumer without a component. -->

	<bean id="gradebookSessionFactory" parent="org.sakaiproject.springframework.orm.hibernate.GlobalSessionFactory">
		<property name="mappingResources">
		    <list>
  				<value>org/sakaiproject/tool/gradebook/Gradebook.hbm.xml</value>
	  			<value>org/sakaiproject/tool/gradebook/GradableObject.hbm.xml</value>
		  		<value>org/sakaiproject/tool/gradebook/GradeRecord.hbm.xml</value>
			  	<value>org/sakaiproject/tool/gradebook/GradingEvent.hbm.xml</value>
				  <value>org/sakaiproject/tool/gradebook/GradingScale.hbm.xml</value>
  				<value>org/sakaiproject/tool/gradebook/GradebookProperty.hbm.xml</value>
	  			<value>org/sakaiproject/tool/gradebook/GradeMapping.hbm.xml</value>
          <value>org/sakaiproject/tool/gradebook/Spreadsheet.hbm.xml</value>                
          <value>org/sakaiproject/tool/gradebook/Comment.hbm.xml</value>   
          <value>org/sakaiproject/tool/gradebook/Category.hbm.xml</value>
          <value>org/sakaiproject/tool/gradebook/LetterGradePercenteMapping.hbm.xml</value>
          <value>org/sakaiproject/tool/gradebook/Permission.hbm.xml</value>
        </list>
		</property>
	</bean>

<!-- This elegant approach only works if we share (i.e., pollute) the Sakai component beans namespace. -->
<!--
	<alias name="org.sakaiproject.springframework.orm.hibernate.GlobalSessionFactory" alias="gradebookSessionFactory"/>
-->

<!-- This doesn't work; we get a FileNotFoundException:
		<property name="mappingJarLocations">
			<list>
				<value>WEB-INF/lib/sakai-gradebook-component-data-2.0.0.jar</value>
			</list>
		</property>
-->
<!-- This works in Spring 1.1.5 but not in Spring 1.2.6:
		<property name="mappingLocations">
		    <value>classpath*:org/sakaiproject/tool/gradebook/*.hbm.xml</value>
		</property>
-->
<!-- This works:
		<property name="mappingResources">
		    <list>
				<value>org/sakaiproject/tool/gradebook/Gradebook.hbm.xml</value>
				<value>org/sakaiproject/tool/gradebook/GradableObject.hbm.xml</value>
				<value>org/sakaiproject/tool/gradebook/GradeRecord.hbm.xml</value>
				<value>org/sakaiproject/tool/gradebook/GradingEvent.hbm.xml</value>
				<value>org/sakaiproject/tool/gradebook/GradeMapping.hbm.xml</value>
			</list>
		</property>
-->

</beans>
