<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>dojox.layout.FloatPane - simplest extension on TitlePane ... ever.</title>
		
	<script type="text/javascript" src="../../../dojo/dojo.js" djConfig="isDebug:true, parseOnLoad: true" ></script>
	<script type="text/javascript" src="../FloatingPane.js"></script>
	<script type="text/javascript">
		// dojo.require("dojox.layout.FloatingPane"); 
		dojo.require("dijit.form.ComboBox"); 
		dojo.require("dijit.form.Button"); 
		dojo.require("dojo.parser"); // scan page for widgets
	</script>
	<style type="text/css">
		@import "../../../dojo/resources/dojo.css";
		@import "../../../dijit/themes/dijit.css";
		@import "../../../dijit/themes/tundra/tundra.css";
		@import "../../../dijit/tests/css/dijitTests.css";
		@import "../resources/FloatingPane.css"; 

	/* body { background:url('gridUnderlay.png') top left; }  */

		.alternateDock {
			position:absolute; 
			background-color:#ededed; 
			right:0px; top:0px; 
			border-left:1px solid #ccc; 
			height:100%; 
		
		}
		#alternateDock ul.dojoxDockList { display:block; }

	</style>
	<script>

		function makeFloater() {

			var tmp = new dojox.layout.FloatingPane({  
				title: "dynamically created ...",
				id:"floater3",
				closeable:true,
				resizable:true,
				dockable: false
			},"nonFloater");
			tmp.startup(); 
		}

		var vpx, vpy = null;
		dojo.addOnLoad(function(){

			 makeFloater();
			vpx = dojo.byId('vpX');
			vpy = dojo.byId('vpY');
			// no publish in dnd.move, nevermind this... 

		});

	</script>

</head>
<body class="tundra">


		<a href="javascript:dijit.byId('floater1').hide()">hide first pane</a> |
		<a href="javascript:dijit.byId('floater1').show()">show first pane</a> |
		<a href="javascript:dijit.byId('floater1').minimize()">minimize 'uncloseable, dockable' pane pane</a>

		<div dojoType="dojox.layout.FloatingPane" title="Floater test ... " resizable="true" id="floater1" style="width:300px;" duration="300">
		<p>I am the content to be floated around</p>
		</div>

		<div dojoType="dojox.layout.FloatingPane" title="un-closable, dockable" style="width:200px; float:left; " closable="false" id="floater2">

		I am dockable, though I have no dockTo="" attribute. I will create or use an existing dock 
		on the bottom of the screen.
		<br><br>
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In porta. Etiam mattis libero nec ante. Nam 
		porta lacus eu ligula. Cras mauris. Suspendisse vel augue. Vivamus aliquam orci ut eros. Nunc 
		eleifend sagittis turpis. purus purus in nibh. Phasellus in nunc.
		</div> 
		
		<div id="nonFloater" style="width:340px; float:left; " duration="750" >
		I am made into a FloatingPane in dojo.addOnLoad();<br><br>
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In porta. Etiam mattis libero nec ante. Nam 
		porta lacus eu ligula. Cras mauris. Suspendisse vel augue. Vivamus aliquam orci ut eros. Nunc eleifend 
		sagittis turpis. purus purus in nibh. Phasellus in nunc.
		<br /><br />
		x:<span id="vpX"></span> y:<span id="vpY"></span>

		</div>

		<div title="Alt Dock 1" style="width:200px; height:200px; float:left;" dojoType="dojox.layout.FloatingPane" duration="350" resizable="true">
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In porta. Etiam mattis libero nec ante. Nam 
		porta lacus eu ligula. Cras mauris. Suspendisse vel augue. Vivamus aliquam orci ut eros. Nunc eleifend 
		sagittis turpis. purus purus in nibh. Phasellus in nunc.
		</div>
		<div title="Alt Dock 2" dojoType="dojox.layout.FloatingPane" resizable="true" style="width:200px; float:left;" duration="350" dockTo="alternateDock">
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In porta. Etiam mattis libero nec ante. Nam 
		porta lacus eu ligula. Cras mauris. Suspendisse vel augue. Vivamus aliquam orci ut eros. Nunc eleifend 
		sagittis turpis. purus purus in nibh. Phasellus in nunc.
		</div>

		
		<div dojoType="dojox.layout.FloatingPane" 
resizeable="false" style="width:200px; background:#ccc; " title="foobar" 
closable="false" dockable="false">
		This is just a pane. You cannot close me, you cannot resize me, you cannot minimize me.
		</div> 

		<div dojoType="dojox.layout.FloatingPane" 
			title="remote pane" href="../../../dijit/tests/layout/doc0.html"
			style="width:250px; height:250px; background:#fff;"
		></div>


		<div dojoType="dojox.layout.Dock" id="alternateDock" class="alternateDock"></div>


</body>
</html>
