.#{$namespace}sakai-sitestats{
  .widget {
    .header {
      @include display-flex;
      @include flex-direction(column);
      @include align-items(center);
      @include justify-content(center);
    }

    .ministatContainer {
      @include display-flex;
      @include flex-direction(row);

      @media #{$phone}{
        @include flex-direction(column);
      }
    }
  }

  #prefsForm .halfSize{
    @media #{$phone}{
      display: block;
      width:100%;
    }
  }

  .widgets-row {
    .ministatContainer {
      @include display-flex;
      @include flex-wrap(wrap);

      .panel.panel-sitestats-widget {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
        background: #fafafa;
        margin-bottom: 15px;
        margin-right: 15px;
        border: 0;

        @media #{$desktop} {
          width: calc(25% - 11.25px);

          &:nth-child(2n):last-of-type {
            margin-right: 0;
          }
        }

        @media #{$tablet} {
          width: calc(50% - 7.5px);

          &:nth-child(2n) {
            margin-right: 0;
          }
        }

        @media #{$phone} {
          width: calc(100%);
          margin-right: 0;
        }

        .panel-body {
          padding: 15px 25px;
          height: 100%;
          @include display-flex;
          @include flex-direction(row);
          @include align-items(center);

          .panel-body-left-col {
            margin-right: 15px;
            @include display-flex;
            @include flex-direction(column);
            @include justify-content(center);

            .panel-widget-value {
              font-size: 20px;
              line-height: 30px;
              margin-bottom: 10px;
            }
          }

          .panel-icon {
            margin-left: auto;
            font-size: 30px;
          }
        }
      }
    }
  }
}
