body {
  background: var(--sakai-background-color-2);
}

p,
h1,
form,
button {
  border: 0;
  margin: 0;
  padding: 0;
}

.spacer {
  clear: both;
  height: 25px;
}

/* ----------- wrapper ------------ */
.wrapper {
  border: 2px solid var(--sakai-active-color-1);
  padding: 10px 40px 20px 40px;
  background: var(--sakai-background-color-1);
  margin: 2em auto;
  max-width: 40%;
  min-width: fit-content;
  border-radius: 8px;
}

.topheading {
  margin-bottom: 12px;
  text-align: center;
}

.header {
  padding: 5px 0 15px;
  border-bottom: 1px solid var(--sakai-border-color);
  margin-bottom: 10px;
  text-align: center;
}

.logo {
  background: var(--sakai-passive-color-1) url(/library/skin/morpheus-default/images/logo-jewel.png) no-repeat center center;
  background-size: 160px 45px;
  width: 100%;
  height: 64px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 5px;
}

h1 {
  font-weight: bold;
  margin-bottom: 8px;
}

h3 {
  text-align: center;
}

.logo h3 {
  position: relative;
  top: 18px;
  left: 220px;
}

div.instruction {
  display: block;
  margin: 0.5em auto;
  line-height: 200%;
  font-size: 13px;
}

ul.instruction {
  display: block;
  width: 50%;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 0.5em;
  width: fit-content;
}

.siteList {
  display: block;
  text-align: left;
  margin: auto;
}

span.reqStar {
  /* needed to override tool.css */
  float: none;
  margin-left: 2px;
  border: 0 none;
  font-weight: bold;
}

.username {
  color: var(--infoBanner-color);
  font-weight: bold;
}

input {
  margin-bottom: 5px;
}

.terms label {
  width: auto;
  height: auto;
  float: none;
  font-weight: normal;
  display: inline;
}

.terms {
  padding-bottom: 10px;
}

form p {
  text-align: left;
}

#strengthInfo {
  display: block;
  color: var(--sakai-text-color-1);
  background-color: var(--sakai-background-color-1);
  border: 1px solid var(--sakai-border-color);
  border-radius: 4px;
  box-shadow: var(--elevation-2dp);
  left: 20em;
  padding: 1em;
  position: absolute;
  margin-top: -4.5em;
  width: 50%;
}

#strengthInfo::before {
  border-bottom: 15px solid var(--sakai-background-color-1);
  border-right: 15px solid var(--sakai-border-color);
  border-top: 15px solid var(--sakai-background-color-1);
  position: absolute;
  content: "";
  left: -15px;
  top: 3px;
  width: 0;
  height: 0;
}

#matchMsg,
#strongMsg,
#noMatchMsg,
#weakMsg,
#failMsg,
#moderateMsg {
  display: block;
  font-size: 0.8em;
}

#strengthBar {
  background-color: var(--sakai-background-color-2);
  height: 5px;
  text-align: left;
  margin-bottom: 3px;
}

#strengthBarMeter {
  display: inline-block;
  width: 0%;
  height: 100%;
  background-color: var(--errorBanner-color);
}

/* Modal Background */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 20%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.2);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.linkStyle {
  color: var(--link-color);
  text-decoration: underline;
  cursor: pointer;
}

.sak-banner-error,
.sak-banner-success {
  margin: 16px 0 0;
}
