/*
Polyfill for Sakai 22 - Definitions of B5 utility classes, for use in B5 to make migration to master easier
When needed, add more classes as needed below, just make sure they equal what we expect from the B5
Usage - Use other, non bootstrap classes first, add the "b5" class, and then the added B5 class:
<div class="any-other-class b5 d-flex flex-wrap">...</div>

TODO Master merge: Remove this file
*/

@mixin flex-nowrap {
  flex-wrap: nowrap !important;
}

.b5 {
  &.d-flex {
    display: flex !important;
  }

  &.flex-wrap {
    flex-wrap: wrap !important;
  }

  &.flex-nowrap {
    @include flex-nowrap();
  }

  &.flex-column {
    flex-direction: column !important;
  }

  &.justify-content-between {
    justify-content: space-between !important;
  }

  &.align-items-center {
    align-items: center !important;
  }

  &.me-0 {
    margin-right: 0;
  }

  /* https://getbootstrap.com/docs/5.2/utilities/spacing/#maps */
  &.mb-1 {
    margin-bottom: $standard-spacing * 0.25 !important;
  }

  &.gap-1 {
    gap: $standard-spacing * 0.25 !important;
  }

  &.form-text {
    margin-top: $standard-spacing * 0.25;
    font-size: .875em;
  }

  &.text-break {
    word-wrap: break-word !important;
    word-break: break-word !important;
  }

  &.text-nowrap {
    white-space: nowrap;
  }

  // SM
  @media (min-width: 576px) {
    &.flex-sm-nowrap {
      @include flex-nowrap();
    }
  }

}
