@import "base/compass";

//.#{$namespace}
.is-logged-out{
	.#{$namespace}topHeader {
		@media #{$phone}{
			&.moving{
	    		top: -12em;
	    	}
	    }
    }
}

.#{$namespace}portalWrapper {
	position: relative;
	background: var(--sakai-background-color-1);
	transition:var(--sak-theme-switch-ease);

}

#pageBody{
	@include align-items(stretch);
	@include display-flex;
	@include flex-direction(row);
	
	> .#{$namespace}pagebody{
		@include display-flex;
		@include flex-direction(column);
		width: 100%;
	}
}

#content {
	@include display-flex();
	@include flex-wrap(wrap);		// allows the site unpublished banner to be on its own line at 100%
	margin: 0;
	width: 100%;

	@media #{$tablet} {
		@include flex-direction(column);
	}
	
	@media #{$phone}{
		margin: 0;
		padding-top: $standard-spacing; // make way for the button container
	}

	#col1of2, #col2of2{
		@include flex-shorthand(1, 1, 0); 	// flex: 1 1 0; vs flex: 1; because of IE11 bug
		display: inline-block;
		margin: 0 0 $standard-spacing $standard-spacing;
		vertical-align: top;

		@media #{$tablet} {
			display: block;
			margin-right: $standard-spacing; 	// space on the right of the column view
		}
	}
	#col1of2 {
		min-width: $col1of2-width;
	}
	#col2of2 {
		margin-right: $standard-spacing;		// space on the end
	}
}

.#{$namespace}mainContent{
	background: var(--sakai-background-color-1);
	transition:var(--sak-theme-switch-ease);
}

//Allow theme switching to work in iframes
body.#{$namespace}container {
	background:var(--tool-background-color);
}

.#{$namespace}pageColumns--single {
	margin: 0;
	clear: both;
	width: 100%;
	
	@media #{$phone}{
		margin: 0;
	}
			
	.#{$namespace}container {
		margin: 0 $standard-spacing;
	}
}

// Note: this is the footer container; see _footer.scss for the rest of the design of the footer
.#{$namespace}container--footer {
	margin-top: auto; 	// push the footer to the bottom of the page
	background-color: var(--sakai-background-color-1);
	border-top: 1px solid var(--sakai-border-color);
	transition:var(--sak-theme-switch-ease);
}

.#{$namespace}noJs.js-warn-no-js {
	position: fixed;
	bottom: 0;
	left: 10%;
	width: 80%;
	padding: 1em;
	z-index: 200;
	border: 1px solid var(--errorBanner-bordercolor);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: none;
	background-color: var(--errorBanner-bgcolor);
	font-size: 1.143em;
	text-align: center;
	color: var(--errorBanner-color);
}
