<header class="popup-container-header">
    Popup Title
</header>
<section>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    <div style="text-align: center">
        <img src="/library/image/pasystem_template.png" title="This is just an image for the template" alt="This is a sample image with the text Sakai Learning Management System with a picture of a female for use in the template">
    </div>

    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</section>
