<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!--
		This Spring configuration file specifies a standalone implementation of the facades.
	-->

	<!-- This bean definition should ideally be included from the component JAR instead. -->
	<bean id="org.sakaiproject.api.section.SectionAwarenessImpl"
		class="org.sakaiproject.component.section.SectionAwarenessHibernateImpl">
		<property name="sessionFactory"><ref bean="gradebookSessionFactory"/></property>
		<property name="sectionCategoryList">
			<list>
				<value>section.category.lecture</value>
				<value>section.category.discussion</value>
				<value>section.category.lab</value>
			</list>
		</property>
	</bean>

	<!-- External Course Management Service -->

	<bean id="org_sakaiproject_tool_gradebook_facades_CourseManagement"
		class="org.sakaiproject.tool.gradebook.facades.sections.CourseManagementSectionsImpl">
		<property name="sectionAwareness"><ref bean="org.sakaiproject.api.section.SectionAwarenessImpl"/></property>
	</bean>

	<!-- External User Directory Service -->

	<bean id="org_sakaiproject_tool_gradebook_facades_UserDirectoryService"
		class="org.sakaiproject.tool.gradebook.facades.sections.UserDirectoryServiceStandaloneSectionsImpl">
		<property name="sessionFactory"><ref bean="gradebookSessionFactory"/></property>
	</bean>

	<!-- External Authn Service -->

	<bean id="org_sakaiproject_tool_gradebook_facades_Authn"
		class="org.sakaiproject.tool.gradebook.facades.standalone.AuthnStandaloneImpl">
	</bean>

	<!-- External Authz Service -->

	<bean id="org_sakaiproject_tool_gradebook_facades_Authz"
		class="org.sakaiproject.tool.gradebook.facades.sections.AuthzSectionsImpl">
		<property name="sectionAwareness"><ref bean="org.sakaiproject.api.section.SectionAwarenessImpl"/></property>
	</bean>

	<!-- External ContextManagement Service -->
	<bean id="org_sakaiproject_tool_gradebook_facades_ContextManagement"
		class="org.sakaiproject.tool.gradebook.facades.standalone.ContextManagementStandaloneImpl">
	</bean>

	<!-- No Framework Manager for SectionAwareness integration -->

</beans>
