<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd" >

<wicket:panel>

<table>
<tbody>
  <tr wicket:id="rows">
    <td wicket:id="cols" class="my-connections-cell">
    <a wicket:id="img" class="rounded" />
        <div>
            <a wicket:id="name" />
            <div class="widget-sitemember-role"><span wicket:id="role"></span></div>
            <div wicket:id="online_status"></div>
        </div>
    </td>
  </tr>
</tbody>
</table>

</wicket:panel>

</html>
