# Auto detect text files and perform LF normalization
* text=auto

# Known text files
*.css           text diff=css
*.java          text diff=java
*.js            text
*.json          text
*.jsp           text
*.jspf          text
*.jspx          text
*.htm           text diff=html
*.html          text diff=html
*.properties    text
*.sh            text
*.md            text
*.txt           text
*.xml           text
*.yml           text

# Known binary files
*.class         binary
*.gif           binary
*.ico           binary
*.jar           binary
*.jpg           binary
*.jpeg          binary
*.png           binary
*.war           binary
