## $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/chef_header.vm,v 1.1 2005/04/13 19:20:45 ggolden.umich.edu Exp $
## This is here so that we can add extra bits to the <head> of the page.

#header_prepend('<link href="/sakai-assignment-tool/css/assignment.css" type="text/css" rel="stylesheet" media="all" />')
#header_append('<script type="text/javascript" src="/library/js/jquery/jquery-1.9.1.min.js"></script>')
#header_append('<script type="text/javascript"  src="/sakai-assignment-tool/js/assignments.js"></script>')

#chef_start()
