## $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/chef_header.vm,v 1.1 2005/04/13 19:20:45 ggolden.umich.edu Exp $
## This is here so that we can add extra bits to the <head> of the page.
#set($quote ='"')

#header_append("<script type=${quote}text/javascript${quote}>includeLatestJQuery(${quote}assignment_chef_header${quote});</script>")
#header_append("<script type=${quote}text/javascript${quote} src=${quote}/sakai-assignment-tool/js/assignments.js$!{portalCdnQuery}${quote}></script>")
#header_append("<script type=${quote}text/javascript${quote} src=${quote}/library/js/spinner.js$!{portalCdnQuery}${quote}></script>")

#chef_start()
