body.is-logged-out{
	.#{$namespace}loginUser{
		li{
			a{
				.login-Icon{
					display: none;
				}
			}
		}
	}
	.Mrphs-mainHeader .Mrphs-headerLogo .Mrphs-headerLogo--institution{
		//margin: 0.6em 1.5em 0 1em;
	}
	.#{$namespace}topHeader{
		@media #{$phone}{
			min-height:4.2em;
		}
	}
}

.#{$namespace}mainHeader{
	
	.#{$namespace}headerLogo{
		overflow: 	hidden;
		padding: 0 1em;
		text-align: left;
		width: 		auto;
		@include flex-shrink( 0 );
		@include transition(width 0.5s linear);
		.#{$namespace}headerLogo--institution{
			background: url($logo) no-repeat center center;
			width: 		50px;
			height: 	30px;
			display:	inline-block;
			@media #{$phone}{
				margin: 0.2em 0 0 0.2em;
				float: none;
			}
		}
	}
	
	.#{$namespace}loginUser{
		display: inline-flex;
		li{
			display: inline-block;
			margin: 0 0.8em 0 0;
			@media #{$phone}{
				margin: 0 0.2em 0 0;
			}
			.#{$namespace}loginUser__message{
			    display: inline-block;
			    margin: 0 1em 0 0;
			}
			a{
				.login-Icon{
					@extend .fa-power-off;
					@extend .fa;
					@extend .fa-lg;
					margin: 0 0.6em 0 0;
					@media #{$phone}{
						font-size: 1.7em;
						position: relative;
						left: 0.4em;
					}
				}
			}
		}
		p{
			margin: 0.05em 1.5em 0 0;
		}
	}

	&.is-maximized{
		.siteNavWrap{
			@include flex-grow( 1 );
			@media #{$phone}{
				display: none;
			}
		}
	}
	&.is-minimized{
		.#{$namespace}headerLogo{
			padding: 0.5em 1em 0 1em;
		}
	}
	@media #{$phone}{
		background: $primary-color;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 20;
	}
}

.userNav_link{
	color: $text-color;
	font-family: $header-font-family;
	font-size: 0.9em;
	font-weight: $header-font-weight;
	padding: 0 0.5em 0 0;
	text-decoration: none;
}

.is-logged-out{
	.userNav__subnav{
		position: inherit;
	}
}

.userNav__subnav{
	font-family: $header-font-family;
	position: absolute;
	right: 0.5em;
	width: #{ $tool-menu-width * 2.5 };
	z-index: 99;
	@include box-shadow( 0 0 4px rgba( $text-color ,0.35) );
	li{
		display: block;
		border: 0px none;
		@include border-radius( 0 );
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		min-height: 15px;
		a{
			display: block;
			padding: 0.5em 0.65em;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
			.toolMenuIcon{
				vertical-align: sub;
				margin: 0 0.5em 0 0;
			}
		}
	}
	&.is-visible{
		display: block;
		margin: 0.4em 0 0 -0.55em;
	}
	&.is-hidden{
		display: none;
	}
	.Mrphs-userNav__submenuitem--fullname-and-id{
		padding-top: 1em;
		color: $text-color;
		display: inline-block;
		margin-bottom: 5px;
		width: 10em;
		word-wrap: break-word;
		vertical-align: top;

		.Mrphs-userNav__submenuitem--fullname{
			font-weight: $header-font-weight;
			font-size: 120%;
		}

		.Mrphs-userNav__submenuitem--displayid{
			font-weight: normal;
		}

	}
	.#{$namespace}userData{
		border-bottom: 1px solid $toolBorderColor;
		margin-bottom: 0.5em;
	}

	.#{$namespace}userNav__submenuitem--profile-and-image{
		display: inline-block;
		vertical-align: top;
		padding: 0.5em 0 0 1em;
		.#{$namespace}userNav__submenuitem--profilepicture{
                    width: 64px;
                    height: 64px;
                }

		.#{$namespace}userNav__submenuitem--profile{
			display: block;
			margin-top: -0.85em;
			margin-left: 0.5em;
		}
	}
}

.#{$namespace}topHeader{
	background: $background-color-secondary;
	color: $background-color;
	font-size: 0.9em;
	min-height: 45px;
	width: 100%;
	@include display-flex(inline-flex);
	@include align-items(center);
	@include justify-content( space-between );
	@include transition( top 0.25s linear );
	a{
		color: $background-color;
		font-weight: 300;
	}
	> * {
		@media #{$phone}{
			display: inline;
		}
	}
	.#{$namespace}loginNav{
		float: right;
		margin: 0 1em 0 0px;
		@include flex-shrink( 0 );
		@include align-self( flex-start );
	}

	@media #{$phone}{
		display: block;
		position: fixed;
		width: 100%;
		top: 0;
		&.moving{
			top: -4.2em;
			#mastLogin #loginLinks ul.#{$namespace}userNav__subnav{
				display: none;
			}
		}
	}

}

#mastLogin{
	
	@media #{$phone}{
		margin: 0 0 0 0;
		width: auto;
	}

	ul{
		display: inline-block;
		text-align: left;
		padding: 0 0.5em;
		margin-bottom:0px;
	}


	.is-hidden{
		display: none;
	}


	#loginForm{
		margin: 0.15em 0.8em 0 0;
		@media #{$phone}{
			margin: 0 0 0 0;
		}
		label{
			@media #{$phone}{
				display: none;
			}
		}
		input[type="text"],input[type="password"],input[type="email"]{
			margin: 0 0.3em 0 0.15em;
			padding: 0.15em 0.15em;
			font-size: 12px;
			border: 0px none;
			@media #{$phone}{
				max-width: 31%;
			}
		}
		#submit{
			font-size: 12px;
			padding: 0.3em 0.5em;
			color: #333333;
			position: relative;
			top: 1px;
			left: 9px;
			letter-spacing: 1.5px;
			@media #{$phone}{
				left: 0px;
				letter-spacing: 1px;

			}
		}
		.#{$namespace}loginForm__button{
			@extend .button;
		}
	}

	.has-avatar, .no-avatar{
		display: inline-block;
		padding: 0em 1.5em 0.2em 0px;
		position: relative;
		margin-top: -0.8em;
		.#{$namespace}userNav__submenuitem--username, .#{$namespace}userNav__submenuitem--userid{
			display: inline-block;
			max-width: 100px;
			overflow: hidden;
			position: relative;
			text-overflow: ellipsis;
			text-decoration: none;
			top: 0.6em;
			white-space: nowrap;
			@media #{$phone}{
				display: none;
			}
		}
	}

	.no-avatar{
		padding-top: 1em;
	}

	.has-avatar{
		.#{$namespace}userNav__submenuitem--profilelink{
			padding: 0 !important;
		}
		.#{$namespace}userNav__submenuitem--profilepicture{
			width:32px;
			height:32px;
			display:inline-block;
			background-size: auto 100%;
			background-position: 50%;
			border-radius:50%;
			margin:5px auto 0px;
			position: relative;
			top: 0.8em;
		}
	}

	#loginUser{
		display: block;
	}

	.#{$namespace}loginUser{
		padding: 0.9em 0.5em;
	}

	.#{$namespace}userNav__dropdown, .#{$namespace}userNav__drop{
		float: right;
		position: relative;
		margin-top: -2.5em;
		padding: 18px 22px 27px 14px;
		display: block;
		left: 12px;
		&.is-clicked{
			@include transform( rotate(180deg) );
			position: relative;
			top: 0px;
		}
		@media #{$phone}{
			padding: 18px 22px 10px 14px;
		}
	}

	#loginLinks{
		font-family: $header-font-family;
		font-weight: $header-font-weight;
		margin-left: 0.5em;
		ul{
			background-color: $toolTabBGColor;
			text-align: left;
			padding: 0 0 0 0;
			margin: 0.18em 0 0 0.9em;
			@extend .userNav__subnav;
			&:after {
				bottom: 100%;
				left: 78%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(255, 255, 255, 0);
				border-bottom-color: $toolTabBGColor;
				border-width: 7px;
				margin-left: -7px;
				outline: 0;
			}
			.#{$namespace}userNav__submenuitem-indented{
				padding-left: 1.5em;
			}
			@media #{$phone}{
				margin: 3.3em 0 0 -9.8em;
				position: fixed;
			    top: 0.3em;
			    z-index: 21;
			}
			.Mrphs-loginUser{
				padding: 0 0 0 0;
				width: 100%;
				p{
					width: 100%;
				}
			}
			.#{$namespace}userData{
				@media #{$phone}{
					border-top: 7px solid $primary-color;
					background-color: $toolMenuBGColor;
					color: $text-color;
					display: block;
					font-weight: 400;
					padding: 0.7em 0.65em;
				}
			}
			a{
				color: $primary-color;
				padding: 0.25em 0.25em;
				&:hover{
					color: lighten( $primary-color, 10% );
				}
			}
		}
	}
	
	.#{$namespace}userNav__submenuitem--userid{
		font-style: italic;
	}
}
.#{$namespace}sitesNav__menu{
	margin-bottom:0px;
}
.#{$namespace}sitesNav__menuitem--myworkspace{
	font-size: 0.95em;
	@media #{$phone}{
		background: $primary-color;
		border-right: 1px solid darken( $primary-color, 5% );
	 	height:3.1em;
		position: fixed;
		top: 0;
		z-index: 1000;
		@include transition(top 0.25s linear);
		&.moving{
			top: -4.5em;
		}
	}
	span{
		display: none;
	}
	.#{namespace}sitesNav__drop{
		display: none;
	}
	&.is-selected{
		@media #{$phone}{
			background: $primary-color;
		}
		a{
			color: $primary-color;
		}
	}
	a{
		display: inline-block;
		border-right: 0px none;
		color: $background-color;
		@media #{$phone}{
			color: $background-color-secondary;
		}
		padding: 0.6em 0.8em;
		i{
			font-size: 1.7em;
		}
		&:hover{
			/*color: $background-color-secondary;*/
			@include box-shadow( inset 0 9px 10px rgba(0,0,0,0.25) );
		}
	}
}

.view-all-sites-btn{
	position: relative;
	display: inline-block;
	padding-right: 1em;
	border-right: 1px solid $toolBorderColor;

	@media #{$phone}{
		display: none;
	}
}

.view-all-sites-btn a{
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}

.all-sites-icon, .all-sites-label{
	display: inline-block;
	vertical-align: middle;
}

.all-sites-icon{
	font-size: 16pt;
	padding-right: 2px;
}

#linkNav{
	ul{
		font-family: $header-font-family;
		margin: 0 0 0 0;
		li.#{$namespace}sitesNav__menuitem{
			display: inline-block;
			margin: 0.5em 0 0 0;
			padding: 0.4em;
			a{
				background: $background-color;
				color: $text-color;
				display: block;
				padding: 0.35em 0.45em 0.35em 0.55em;
				position: relative;
				text-decoration: none;
				top: -3px;
				&:hover{
					color: $primary-color;
				}
			}
			.#{$namespace}sitesNav__drop, .#{$namespace}sitesNav__dropdown{
				@extend .fa-angle-down;
				@extend .fa;
				@extend .fa-lg;
				@extend .sitesNav__drop;
				&.is-clicked{
					@include transform( rotate(180deg) );
					position: relative;
					top: 3px;
				}
			}
			ul{
				background: darken( $background-color-secondary, 5% );
				display: none;
				@extend .userNav__subnav;
			}
			&.is-selected{
				a{
					background: $primary-color;
					color: $background-color;
					//padding: 0.8em 0.9em 0.8em 0.9em;
					.#{$namespace}sitesNav__dropdown{
						display: none;
					}
				}
				ul{
					background: $background-color;
				}
			}
			&.#{$namespace}sitesNav__menuitem--myworkspace{
				font-size: 0.95em;
				margin: 0 0 0 0;
				span{
					display: none;
				}
				.#{namespace}sitesNav__drop{
					display: none;
				}
				&.is-selected{
					a{
						color: $primary-color;
					}
				}
				a{
					background: transparent;
					border-right: 0px none;
					color: $background-color;
					top: 0;
					i{
						font-size: 1.7em;
					}
				}
			}
		}
	}
	&.opened{
		@media #{$desktop}{
			max-height: 100%;
			overflow: visible;
			#how-many-hidden{
				display: none;
			}
		}
	}
	@media #{$phone}{
		display: none;
	}
}

body.is-logged-out{
	#linkNav{
		ul{
			li.#{$namespace}sitesNav__menuitem{
				.#{$namespace}sitesNav__drop, .#{$namespace}sitesNav__dropdown{
					display: none;
				}
			}
		}
	}
}

#show-all-sites{
	display: none;
}

#show-all-sites-mobile{
	color: $background-color-secondary;
	background: lighten( $background-color, 5% );
	display: none;
	cursor: pointer;
	position: absolute;
	text-align: center;
	font-size: 1.5em;
	top: 0em;
	right: 0em;
	width:2.5em;
	border-left: 1px solid darken( $background-color-secondary, 10% );
	padding: 0 9px;
	outline: 0;
	> div{
		display: inline-block;
	}
	#how-many-hidden-mobile{
		font-size: 0.8em;
		vertical-align: middle;
		margin: 0 4px 2px 2px;
		display: inline-block;
	}
	&.opened{
		right: 10px;
		border-left: 0px none;
		> div {
			color: $secondary-color;
			@include transform( rotateZ(45deg) );
		}
	}
}
.#{$namespace}sitesNav__doubledrop{
	@extend .fa-angle-double-down;
	@extend .fa;
	@extend .fa-lg;
	padding-left:5px;
}

.#{$namespace}siteStatus{
	&.is-unpublished{
		margin-left:1em;
		width: calc( 100% - 2em);
		padding: 3px;
		color :$background-color-secondary;
		display:block;
		text-align:center;
		h4{
			padding: 3px;
		}
		button{
			@extend .button;
		}
	}
}

