body.is-logged-out{
	.#{$namespace}loginUser{
		li{
			a{
				.login-Icon{
					display: none;
				}
			}
		}
	}
	.#{$namespace}topHeader{
		@media #{$phone}{
			min-height: $header-size;
		}
	}
}

.#{$namespace}mainHeader{
	
	.#{$namespace}headerLogo{
		@include display-flex( flex );
		@include justify-content( center );
		overflow: hidden;
		padding: 0 1em;
		text-align: center;
		width: $tool-menu-width;
		@include flex-shrink( 0 );
		@include transition( width 0.5s linear 0s );
		.#{$namespace}headerLogo--institution{
			background: url($logo) no-repeat center center;
			width: 		$logo-width;
			height: 	$logo-height;
			display:	inline-block;
		}
	}
	
	.#{$namespace}loginUser{
		@include display-flex( inline-flex );
		li{
			display: inline-block;
			margin: 0 0.8em 0 0;
			@media #{$phone}{
				margin: 0 0.2em 0 0;
			}
			.#{$namespace}loginUser__message{
				display: inline-block;
				margin: 0 1em 0 0;
			}
			a{
				.login-Icon{
					@extend .fa-power-off;
					@extend .fa;
					@extend .fa-lg;
					margin: 0 0.6em 0 0;
					@media #{$phone}{
						font-size: 1.7em;
						position: relative;
						left: 0.4em;
					}
				}
			}
		}
		p{
			margin: 0.05em 1.5em 0 0;
		}
	}

	&.is-maximized{
		.siteNavWrap{
			@include display-flex(flex);
			@include align-items(center);
			@include flex-grow( 1 );
			@media #{$phone}{
				display: none;
			}
			background: $sites-nav-background;
		}
	}
	@media #{$phone}{
		background: $primary-color;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 20;
	}
}

.userNav_link{
	color: $text-color;
	font-family: $header-font-family;
	font-size: 0.9em;
	font-weight: $header-font-weight;
	padding: 0 0.5em 0 0;
	text-decoration: none;
}

.is-logged-out{
	.userNav__subnav{
		position: inherit;
	}
}

.userNav__subnav{
	font-family: $header-font-family;
	position: absolute;
	right: 0em;
	width: 20em;
	z-index: 99;
	box-shadow: 0 0 4px rgba( $text-color ,0.35);
	list-style: none;
	padding: 0 0 0 0;
	li{
		display: block;
		border: 0px none;
		@include border-radius( 0 );
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		min-height: 15px;
		a{
			display: block;
			padding: 0.5em 0.65em;
			text-decoration: none;
			&:hover, &:active
			{
				text-decoration: underline;
			}
			.toolMenuIcon{
				@extend .fa-fw;
				vertical-align: sub;
				margin: 0 0.5em 0 0;
			}
		}
	}
	&.is-visible{
		display: block;
		margin: 0.4em 0 0 -0.55em;
	}
	&.is-hidden{
		display: none;
	}
	.#{$namespace}userNav__submenuitem--fullname-and-id{
		padding-top: 1em;
		color: $text-color;
		display: inline-block;
		margin-bottom: 5px;
		width: 10em;
		word-wrap: break-word;
		vertical-align: top;

		.#{$namespace}userNav__submenuitem--fullname{
			font-weight: $header-font-weight;
			font-size: 120%;
			line-height: 1.2;
			padding: 2px 0;
		}

		.#{$namespace}userNav__submenuitem--displayid{
			font-weight: normal;
		}

	}
	.#{$namespace}userData{
		border-bottom: 1px solid $tool-border-color;
		margin-bottom: 0.5em;
		background-color: $tool-menu-background-color;
	}

	.#{$namespace}userNav__submenuitem--profile-and-image{
		display: inline-block;
		vertical-align: top;
		padding: 1em 1em 0 1em;
		
		.#{$namespace}userNav__submenuitem--profilepicture{
			width: 64px;
			height: 64px;
			margin: 0; /* to override, within the dropdown panel */
		}

		.#{$namespace}userNav__submenuitem--profile{
			display: block;
			margin-left: 0.5em;
		}
	}
}

.#{$namespace}topHeader{
	background: $top-header-background;
	color: $background-color;
	font-size: 1em;
	min-height: $header-size;
	width: 100%;
	@include display-flex(inline-flex);
	@include align-items(center);
	@include justify-content( space-between );
	@include transition( top 0.25s linear 0s );
	
	a
	{
		@include display-flex( flex );
		@include align-items( center );
		
		color: $topNav-text-color;
	}
	> * {
		@media #{$phone}{
			display: inline;
		}
	}
	.#{$namespace}loginNav{
		float: right;
		margin: 0 1em 0 0px;
		@include flex-shrink( 0 );
		@include display-flex( flex );
		@include align-items( center );
		@include justify-content( flex-end );
	}

	@media #{$phone}{
		@include display-flex( flex );
		position: fixed;
		width: 100%;
		top: 0;
		font-size: 12px;
		min-height: $header-size;
		
		&.moving{
			top: -4.2em;
			#mastLogin #loginLinks ul.#{$namespace}userNav__subnav{
				display: none;
			}
		}
	}

}

#mastLogin{
	
	@media #{$phone}{
		width: 50%;
	}

	ul{
		display: inline-block;
		text-align: left;
		padding: 0 0.5em;
		margin-bottom:0px;
	}


	.is-hidden{
		display: none;
	}


	#loginForm{
		
		@include display-flex( flex );
		@include align-items( center );
		@include justify-content( flex-end );

		label{
			margin: 0 0.5em 0 0;
			font-weight: normal;
			text-transform: capitalize;
						
			@media #{$phone}{
				display: none;
			}
		}
		input[type="text"],input[type="password"],input[type="email"]{
			margin: 0 1em 0 0;
			padding: 0.25em;
			border: 0px none;
			@media #{$phone}{
				width: 40%;
				margin-right: 0.6em;
				font-size: $default-font-size - 2px;
			}
		}
		#submit{
			margin: 0;
			padding: 0.4em 1em;
			font-size: $default-font-size;
			color: #333333;
			position: relative;
			
			@media #{$phone}
			{
				font-size: $default-font-size - 2px;
				padding: 0.25em 1em;
			}
		}
		.#{$namespace}loginForm__button{
			@extend .button;
		}
	}

	#loginUser{
		@include display-flex( flex );
		@include align-items( center );
		
		&.has-avatar:hover .#{$namespace}userNav__submenuitem--profilepicture,
			&.has-avatar:active .#{$namespace}userNav__submenuitem--profilepicture
		{
			box-shadow: 0px 0px 5px 1px rgba(165, 165, 165, 0.95);
		}
		
		&.has-avatar:hover .#{$namespace}userNav__submenuitem--username, 
			&.has-avatar:hover .has-avatar .#{$namespace}userNav__submenuitem--userid
		&.has-avatar:active .#{$namespace}userNav__submenuitem--username, 
			&.has-avatar:active .has-avatar .#{$namespace}userNav__submenuitem--userid,
		&.has-avatar .#{$namespace}userNav__submenuitem--username:hover,
			&.has-avatar .#{$namespace}userNav__submenuitem--username:active
		{
			color: $topNav-text-color;
			text-decoration: underline;
		}
	}


	.has-avatar, .no-avatar{
		position: relative;
		
		.#{$namespace}userNav__submenuitem--username, .#{$namespace}userNav__submenuitem--userid{
			display: inline-block;
			max-width: 100px;
			overflow: hidden;
			position: relative;
			text-overflow: ellipsis;
			text-decoration: none;
			white-space: nowrap;
		}
	}

	.no-avatar
	{
		text-decoration: none;
				
		&::after
		{
			content: "\f0d7"; /* fa-carrot-down */			
			margin-top: 2px;
			margin-left: 0.5em;
			font-family: FontAwesome;
			font-size: 1em;
			color: $topNav-text-color;
		}

		span
		{
			line-height: 1.2;
		}

		&:hover .#{$namespace}userNav__submenuitem--username, &:active .#{$namespace}userNav__submenuitem--username
		{
			text-decoration: none;
			color: $topNav-text-color;
		}
		
		.#{$namespace}userNav__submenuitem--userid
		{
			display: none;
		}		
		
		@media #{$phone}
		{
			padding: 1em; /* provide a bigger hit area for this link */
		}
	}

	.has-avatar{
		.#{$namespace}userNav__submenuitem--profilelink{
			padding: 0 !important;
		}
		.#{$namespace}userNav__submenuitem--profilepicture{
			width:32px;
			height:32px;
			display:inline-block;
			background-size: auto 100%;
			background-position: 50%;
			border-radius:50%;
			margin: 0 4px 0 0;
			position: relative;

			&:hover, &:active 
			{
				box-shadow: 0px 0px 5px 1px rgba(165, 165, 165, 0.95);
			}
			@media #{$phone}
			{
				margin-right: 1em;
			}
		}
		.#{$namespace}userNav__submenuitem--username, .#{$namespace}userNav__submenuitem--userid{
			@media #{$phone}{
				display: none;
			}
		}
	}

	.#{$namespace}loginUser{
		padding: 0.9em 0.5em;
	}

	.#{$namespace}userNav__dropdown, .#{$namespace}userNav__drop{
		float: right;
		position: relative;
		margin-top: -2.5em;
		padding: 18px 22px 27px 14px;
		display: block;
		outline: 0;
		left: 12px;
		&.is-clicked{
			@include transform( rotate(180deg) );
			position: relative;
			top: -0.2em;
			left: 1.3em;
			outline: 0;
		}
		@media #{$phone}{
			padding: 18px 22px 3px 14px;
		}
	}

	#loginLinks{
		font-family: $header-font-family;
		margin: 0;
		list-style: none;
		padding: 0 0 0 1em;
		
		@media #{$phone}
		{
			border: 0 none;
		}
		
		.no-avatar ~ ul:after
		{
			left: 91.5%;
			
			@media #{$phone}
			{
				margin-top: 3.3em;
				left: auto;
				right: 1.65em;
			}
		}
		
		ul{
			background-color: $tool-tab-background-color;
			text-align: left;
			padding: 0 0 0 0;
			margin: 0.48em 0 0 0.9em;
			@extend .userNav__subnav;
			&:after {
				bottom: 100%;
				left: 85%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: transparent;
				border-bottom-color: $tool-menu-background-color;
				border-width: 7px;
				outline: 0;
				@media #{$phone}{
					left: auto;
					right: 2.65em;
				}
			}
			li:last-of-type
			{
				margin-bottom: 0.5em; /* to match the top of the dropdown */
			}			
			.#{$namespace}userNav__submenuitem-indented{
				padding-left: 1.5em;
				
				@media #{$phone}
				{
					padding-left: 2em;
				}
			}
			@media #{$phone}{
				margin: 3.9em 0 0 -9.8em;
				position: fixed;
				top: 0.3em;
				z-index: 61;
			}
			.#{$namespace}loginUser{
				padding: 0 0 0 0;
				width: 100%;
				p{
					width: 100%;
				}
			}
			.#{$namespace}userData{
				@media #{$phone}{
					color: $text-color;
					display: block;
					font-weight: 400;
					padding: 0.7em 0.65em;
				}
			}
			a{
				color: $primary-color;
				padding: 0.25em 0.25em;
				&:hover, &:active
				{
					color: lighten( $primary-color, 10% );
				}
			}
		}
		.#{$namespace}userNav__drop-btn{
			i {
				position: relative;
				top: -0.6em;
				left: 0.4em;
			}
		}
	}
	
	.#{$namespace}userNav__submenuitem--userid{
		font-style: italic;
	}
}

/* because #loginLinks appears on the Gateway page when two log-in links are available (e.g. for CAS), the following applies only when you are logged in: */
.is-maximized #loginLinks
{
	border-left: 1px solid $tool-border-color; 
}

.#{$namespace}sitesNav__menu{
	list-style: none;
	padding: 0 0 0 0;
	margin-bottom:0px;
}

.view-all-sites-btn{
	position: relative;
	display: inline-block;
	padding: 0 1em;

	@media #{$phone}{
		display: none;
	}
}

.view-all-sites-btn a{
	text-decoration: none;
	&:hover, &:active
	{
		text-decoration: none;
		color: $topNav-text-color;
		
		i
		{
			text-shadow: 0 0 5px rgba(165, 165, 165, 0.95); /* same as profile picture hover */
		}
		
		span.all-sites-label
		{
			text-decoration: underline; /* just underline the text */
		}
	}
}

.all-sites-icon, .all-sites-label{
	display: inline-block;
	vertical-align: middle;
}

.all-sites-icon, .tools-icon
{
	/* Using !important here because CKEditor pulls in its own
		fontawesome.css which adjusts the size of our icon unless
		we override it. */
	font-size: 16pt !important;
	padding-right: 4px;
}
#topnav_container
{
	@include display-flex(flex);
}

#linkNav{
	ul{
		@include display-flex(flex);
		@include flex-wrap( wrap );
		font-family: $header-font-family;
		margin: 0.5em 0 0 0;
		padding: 0;
		li.#{$namespace}sitesNav__menuitem{
			margin: 0 0.5em 0.5em 0;
			padding: 0;
			
			> a{
				@include display-flex(flex);
				@include align-items(center);
				@include justify-content( space-between );
				padding: 0.5em;
				position: relative;
				border-top: $sites-nav-menu-item-border-top; /* to balance bottom border for vertical centering */
				border-right: $sites-nav-menu-item-border-right;
				border-bottom: $sites-nav-menu-item-border-bottom; /* to pre-allocate space for dropdown top border needed for illusion */
				border-left: $sites-nav-menu-item-border-left;
				background: $sites-nav-menu-item-background; /* color */
				color: $sites-nav-menu-item-color;
				text-decoration: none;
			}
				
			&:not(.dropdown-is-visible) > a:hover, &:not(.dropdown-is-visible) > a:active /* hover for sites when tool quick-menu isn't open */
			{
				box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.1) inset;
				color: $sites-nav-menu-item-color-hover;
			}
			
			span
			{
				line-height: 1;
			}
			.#{$namespace}sitesNav__drop, .#{$namespace}sitesNav__dropdown{
				outline: 0;
				text-align: right;
				margin-left: 0.2em;
				
				@extend .fa-angle-down;
				@extend .fa;
				@extend .fa-lg;
				@extend .sitesNav__drop;
				
				&.is-clicked{
					@include transform( scaleY(-1) );
					position: relative;
				}
			}
			ul{
				background: $sites-nav-menu-item-background;
				display: none;
				font-family: $header-font-family;
				position: absolute;
				border-top: 1px solid black;
				margin-top: -1px;
				width: 26rem;
				z-index: 99;
				box-shadow: 0 3px 2px rgba( $text-color, 0.35);
				li{
					display: block;
					border: 0px none;
					@include border-radius( 0 );
					margin: 0 0 0 0;
					padding: 0 0 0 0;
					min-height: 15px;
					
					&:hover a, &:active a
					{
						text-decoration: underline;
					}
					
					a{
						display: block;
						padding: 0.5em 0.65em;
						text-decoration: none;
						color: $sites-nav-submenu-item-color;
						&:hover, &:active
						{
							color: $sites-nav-submenu-item-color; /* to override default link hover color */
							text-decoration: underline;
						}
						.toolMenuIcon{
							vertical-align: sub;
							margin: 0;
						}
					}
					.#{$namespace}sitesNav__submenuitem-icon {
						display: inline-block;
						vertical-align: top;
					}
					.#{$namespace}sitesNav__submenuitem-title {
						margin-bottom: 2px;
						display: inline-block;
						width: 80%;
					}
				}
				&.is-visible{
					display: block;
				}
				&.is-hidden{
					display: none;
				}

			}
			&.is-selected{
				a{
					background: $sites-nav-menu-item-selected-background;
					color: $sites-nav-menu-item-selected-color;
					border-top: $sites-nav-menu-item-selected-border-top; /* to balance bottom border for vertical centering */
					border-right: $sites-nav-menu-item-selected-border-right;
					border-bottom: $sites-nav-menu-item-selected-border-bottom; /* to pre-allocate space for dropdown top border needed for illusion */
					border-left: $sites-nav-menu-item-selected-border-left;
				}
				ul{
					background: $sites-nav-menu-item-selected-background;
					
					a:hover, a:active
					{
						color: $sites-nav-menu-item-selected-color; /* to override default link hover color */
					}
				}
			}

			&.#{$namespace}sitesNav__menuitem--myworkspace{
				.#{$namespace}sitesNav__drop{
					display: none;
				}

				a{
					i{
						margin-top: 1px; /* to compensate for an issue with the icon */
						margin-bottom: -1px; /* to compensate for an issue with the icon */
						margin-right:0.35em;
						font-size: 1em;
					}
				}
			}

			&.dropdown-is-visible {
				> a{
					border-bottom: 1px solid $sites-nav-menu-item-background;
					z-index: 150;
				}
			}

			&.dropdown-is-visible.is-selected {
				> a{
					border-bottom: 1px solid $sites-nav-menu-item-selected-background;
				}
			}

			ul.#{$namespace}sitesNav__submenu{
				background: $sites-nav-submenu-background;
				li.#{$namespace}sitesNav__submenuitem{
					a {
						background: $sites-nav-submenu-item-background;
						color: $sites-nav-submenu-item-color;
						border: $sites-nav-submenu-item-border;
						
						&:hover, &:active 
						{
							background: $sites-nav-submenu-item-background-hover;
							color: $sites-nav-submenu-item-color-hover;
							border: $sites-nav-submenu-item-border-hover;
						}
					}
				}
			}

			&.is-selected {
				ul.#{$namespace}sitesNav__submenu{
					background: $sites-nav-submenu-selected-background;
					li.#{$namespace}sitesNav__submenuitem{
						a {
							background: $sites-nav-submenu-item-selected-background;
							color: $sites-nav-submenu-item-selected-color;
							border: $sites-nav-submenu-item-selected-border;
							
							&:hover, &:active
							{
								color: $sites-nav-menu-item-selected-color-hover;
							}
						}
					}
				}
			}
		}
	}
	&.opened{
		@media #{$desktop}{
			max-height: 100%;
			overflow: visible;
			#how-many-hidden{
				display: none;
			}
		}
	}
	@media #{$phone}{
		display: none;
	}
}

.sitenav-dropdown-overlay{
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 20;
}

body.is-logged-out{
	#linkNav{
		ul{
			li.#{$namespace}sitesNav__menuitem{
				.#{$namespace}sitesNav__drop, .#{$namespace}sitesNav__dropdown{
					display: none;
				}
			}
		}
	}
}

#show-all-sites{
	display: none;
}

#show-all-sites-mobile{
	color: $background-color-secondary;
	background: lighten( $background-color, 5% );
	display: none;
	cursor: pointer;
	position: absolute;
	text-align: center;
	font-size: 1.5em;
	top: 0em;
	right: 0em;
	width:2.5em;
	border-left: 1px solid darken( $background-color-secondary, 10% );
	padding: 0 9px;
	outline: 0;
	> div{
		display: inline-block;
	}
	#how-many-hidden-mobile{
		font-size: 0.8em;
		vertical-align: middle;
		margin: 0 4px 2px 2px;
		display: inline-block;
	}
	&.opened{
		right: 10px;
		border-left: 0px none;
		> div {
			color: $secondary-color;
			@include transform( rotateZ(45deg) );
		}
	}
}
.#{$namespace}sitesNav__doubledrop{
	@extend .fa-angle-double-down;
	@extend .fa;
	@extend .fa-lg;
	padding-left:5px;
}

.#{$namespace}siteStatus{
	&.is-unpublished{
		margin-left:0em;
		width: 100%;
		padding: 3px;
		color :$background-color-secondary;
		display:block;
		text-align:center;
		background-color: $warn-background-color;
		border-bottom: 1px solid $warn-color;
		h4{
			padding: 3px;
			display: inline-block;
			vertical-align: top;
		}
		button{
			@extend .button;
		}
	}
}

.user-dropdown-overlay{
	height: 100%; 
	position: fixed; 
	width: 100%; 
	z-index: 20;
}
