.#{$namespace}mainHeader{
	background: $background-color-secondary;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	@include box-shadow( 0 0 2px rgba( $text-color ,0.5) );

	> * {
		display: inline-block;
		vertical-align: middle;
	}
	
	.#{$namespace}headerLogo{
		background: $primary-color;
		height: 	$header-size;
		overflow: 	hidden;
		width: 		$tool-menu-width;

		@include transition(width 0.5s linear);
		@media #{$phone}{
			width: 0px;
		}
		.#{$namespace}headerLogo--institution{
			background: url($logo) no-repeat top left;
			width: 		50px;
			height: 	30px;
			display:	block;
			margin:		0.6em 1.5em 0 1.5em;
		}
	}
	
	.#{$namespace}loginUser{
		display: inline-flex;
		li{
			display: inline-block;
			margin: 0 0.8em 0 0;
			a{
				@include sakai-button( $primary-color, darken( $primary-color, 2% ), $primary-color, $background-color );
			}
		}
	}

	&.is-maximized{
		.siteNavWrap{
			height: calc( #{$header-size} - 1em);
			padding: 0.6em 0 0.4em 0;
			width: calc( 100% - 100px - #{$tool-menu-width} );
			overflow: auto;

			background-color: $background-color-secondary; // Old browsers
			@include filter-gradient($background-color-secondary, darken($background-color-secondary, 5%), horizontal); // IE6-8
			// IE9 SVG, needs conditional override of 'filter' to 'none'
			$experimental-support-for-svg: true;
			@include background-image(linear-gradient(left, $background-color-secondary 78%, darken($background-color-secondary, 5%) 100%));
			@media #{$phone}{
				background: $background-color-secondary;
			}
		}
	}

	&.is-minimized{
		.#{$namespace}loginNav{
			width: calc(100% - #{$tool-menu-width * 1.1 } );
			text-align: right;
			form{
				font-size: 0.9em;
				input[type="submit"]{
					@include sakai-button( $primary-color, darken( $primary-color, 2% ), $primary-color, $background-color );
				}
				input[type="text"],input[type="password"]{
					margin: 0 0 0 0.5em;
					padding: 0.25em;
					@media #{$phone}{
						width: 20%;
					}
				}
				@media #{$phone}{
					position: absolute;
					top: 0px;
					right: 5px;
				}
			}
			@media #{$phone}{
				width: 100%;
				float: right;
				margin: 0.5em 0 0 0;
				label[for="pw"]{
					&:before {
					    content:"\a";
					    white-space: pre;
					}
				}
			}
		}
	}
	@media #{$phone}{
		position: fixed;
		z-index: 20;
	}
}

#roleSwitch{
	position: absolute;
	margin: 1em 1em;
	top: calc( #{$header-size} - 0.5em);
	z-index: 99;
	a{
		color: $background-color;
		font-family: $header-font-family;
		position: relative;
		top: 4px;
		@media #{$phone}{
			color: $primary-color;
			font-size: 1.1em;
		}
	}
	select{
		border: 1px solid darken( $primary-color, 10% );
	}
	@media #{$phone}{
		right: 0;
		z-index: 0;
		select{
			max-width: 120px;
		}
	}
}

.userNav_link{
	color: darken( $background-color-secondary, 50% );
	font-family: $header-font-family;
	font-size: 0.9em;
	font-weight: $header-font-weight;
	padding: 0 0.5em 0 0;
	text-decoration: none;
}

.userNav__subnav{
	background: $background-color-secondary;
	position: absolute;
	width: $tool-menu-width;
	z-index: 99;
	@include border-radius( 4px );
	@include box-shadow( 0 0 4px rgba( $text-color ,0.35) );
	li{
		display: block;
		border: 0px none;
		@include border-radius( 0 );
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		min-height: 15px;
		a{
			@extend .userNav_link;
			display: block;
			padding: 0.85em 0.65em;
			&:hover{
				background:  darken( $background-color-secondary, 15% );
				font-weight: bold;
			}
			.toolMenuIcon{
				vertical-align: sub;
				margin: 0 0.5em 0 0;
			}
		}
	}
	&.is-visible{
		display: block;
		margin: 0.4em 0 0 0.4em;
	}
	&.is-hidden{
		display: none;
	}
}

#mastLogin{

	font-size: 0.8em;

	.is-hidden{
		display: none;
	}
	.#{$namespace}loginUser{
		position: absolute;
		top: 10px;
		right: 10px;
		.#{$namespace}loginUser__info{
			display: none;
		}
		a{
			@include sakai-button( $primary-color, darken( $primary-color, 2% ), $primary-color, $background-color );
		}
	}
	.#{$namespace}loginUser__menuitem{
		display: inline-block;
	}
	.#{$namespace}userNav__drop{
		background: url( 'images/arrow.png') no-repeat top left;
		@extend .sitesNav__drop;
	}
	#loginLinks{
		background: $primary-color;
		color: $background-color;
		font-family: $header-font-family;
		font-weight: $header-font-weight;
		left: $tool-menu-width;
		padding: 0.2em;
		position: absolute;
		top: $header-size;
		width: calc(100% - #{$tool-menu-width} - 0.4em);

		@include box-shadow( 0 0 2px rgba( $text-color ,0.5) );

		li{
			text-align: right;
			min-height: 41px;
		}

		.#{$namespace}userNav__drop{
			&.is-clicked{
				@include transform( rotate(180deg) );
				position: relative;
				top: 3px;
			}
		}

		a#loginUser{
			color: $background-color;
			display: inline-block;
			vertical-align:middle;
			text-decoration: none;
			&.has-avatar{
				.#{$namespace}userNav__submenuitem--username{
					position:relative;
					top:-15px;
				}
				.#{$namespace}userNav__submenuitem--userid{
					position:relative;
					top:-15px;
				}
				.#{$namespace}userNav__submenuitem--profilepicture{
					width:32px;
					height:32px;
					display:inline-block;
					background-size: auto 100%;
					background-position: 50%;
					border-radius:50%;
					margin:5px auto 0px;
				
				}
			}
			&.no-avatar{
				padding: 1em 0;
			}
		}

		ul{
			text-align: left;
			right: 11px;
			@extend .userNav__subnav;
		}
		.#{$namespace}userNav__submenuitem--userid{
			font-style: oblique;
			&:before{
				content: '(';
				font-style: normal;
			}
			&:after{
				content: ')';
				font-style: normal;
			}
		}
		
		@media #{$phone}{
			font-size: 1em;
			background: transparent;
			color: $text-color;
			right: 90px;
			top: 7px;
			left: auto;
			width: auto;

			@include box-shadow( 0 0 rgba( $text-color ,0) );

			a#loginUser{
				color: $primary-color;
				display: inline-block;
				vertical-align:middle;
				text-decoration :none;
				&.has-avatar{
					.#{$namespace}userNav__submenuitem--username{
						display:none;
					}
					.#{$namespace}userNav__submenuitem--userid{
						display:none;
					}
					.#{$namespace}userNav__submenuitem--profilepicture{
						margin:auto 0px;
					}
				}
				&.no-avatar{
					top: 7px;
				}
			}
		}
	}
}

#linkNav{
	ul{
		li{
			display: inline-block;
			border: 1px solid darken( $background-color-secondary, 10% );
			background: darken( $background-color-secondary, 5% );
			@include border-radius( 4px );
			margin: 0 0.7em 0 0;
			padding: 0.1em 0.5em 0.1em 0.5em;
			a{
				@extend .userNav_link;
				font-weight: 700;
			}
			&.is-selected{
				background: lighten($background-color, 10%);
			}
			.#{$namespace}sitesNav__drop{
				background: url( 'images/arrow.png') no-repeat top left;
				@extend .sitesNav__drop;
				&.is-clicked{
					@include transform( rotate(180deg) );
					position: relative;
					top: 3px;
				}
			}
			ul{
				display: none;
				@extend .userNav__subnav;
			}
			@media #{$phone}{
				display: block;
				border: 0px none;
				font-size: 1.2em;
				margin: 0.8em 1em;
				@include border-radius( 0 );
				ul{
					width: 80%;
					li{
						font-size: 0.85em;
					}
				}
			}
		}
		@media #{$phone}{
			margin: 4em 0 0 0;
		}
	}
	@media #{$phone}{
		background: $background-color-secondary;
		padding: 0 1.5em 0 0;
		left: -110%;
		top: 0;
		position: fixed;
		min-height: 100%;
		width: 80%;
		overflow-x: hidden;
		overflow-y: auto;
		@include transition(left 0.5s linear);
	}
}
