body.is-logged-out{
	.#{$namespace}loginUser{
		li{
			a{
				.login-Icon{
					display: none;
				}
			}
		}
	}
	.Mrphs-mainHeader .Mrphs-headerLogo .Mrphs-headerLogo--institution{
		margin: 0.6em 1.5em 0 1em;
	}
	.#{$namespace}topHeader{
		@media #{$phone}{
			min-height:4.2em;
		}
	}
}

.#{$namespace}mainHeader{
	
	.#{$namespace}headerLogo{
		background: $primary-color;
		overflow: 	hidden;
		text-align: left;
		width: 		$tool-menu-width;

		@include transition(width 0.5s linear);
		@media #{$phone}{
			width: 0px;
		}
		.#{$namespace}headerLogo--institution{
			background: url($logo) no-repeat center center;
			width: 		50px;
			height: 	30px;
			display:	inline-block;
			margin:		0.6em 1.5em 0 4em;
			@media #{$phone}{
				display: none;
			}
		}
	}
	
	.#{$namespace}loginUser{
		display: inline-flex;
		li{
			display: inline-block;
			margin: 0 0.8em 0 0;
			@media #{$phone}{
				margin: 0 0.2em 0 0;
			}
			a{
				.login-Icon{
					@extend .fa-power-off;
					@extend .fa;
					@extend .fa-lg;
					margin: 0 0.6em 0 0;
					@media #{$phone}{
						font-size: 1.7em;
						position: relative;
						left: 0.4em;
					}
				}
			}
		}
	}

	&.is-maximized{
		.siteNavWrap{
			overflow: hidden;
			background-color: $background-color-secondary; // Old browsers
			@include filter-gradient($background-color-secondary, darken($background-color-secondary, 5%), horizontal); // IE6-8
			// IE9 SVG, needs conditional override of 'filter' to 'none'
			$experimental-support-for-svg: true;
			@include background-image(linear-gradient(left, $background-color-secondary 78%, darken($background-color-secondary, 5%) 100%));
			@media #{$phone}{
				background: $background-color-secondary;
			}
		}
	}
	@media #{$phone}{
		background: $primary-color;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 20;
	}
}

.userNav_link{
	color: $text-color;
	font-family: $header-font-family;
	font-size: 0.9em;
	font-weight: $header-font-weight;
	padding: 0 0.5em 0 0;
	text-decoration: none;
}

.userNav__subnav{
	position: absolute;
	width: $tool-menu-width;
	z-index: 99;
	@include box-shadow( 0 0 4px rgba( $text-color ,0.35) );
	li{
		display: block;
		border: 0px none;
		@include border-radius( 0 );
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		min-height: 15px;
		a{
			display: block;
			padding: 0.85em 0.65em;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
			.toolMenuIcon{
				vertical-align: sub;
				margin: 0 0.5em 0 0;
			}
		}
	}
	&.is-visible{
		display: block;
		margin: 0.4em 0 0 0.4em;
	}
	&.is-hidden{
		display: none;
	}
}

.#{$namespace}topHeader{
	background: $primary-color;
	color: $background-color-secondary;
	font-size: 0.9em;
	text-align: right;
	a{
		color: $background-color-secondary;
	}
	> * {
		display: inline-block;
		vertical-align: middle;
		@media #{$phone}{
			display: inline;
		}
	}

}

#mastLogin{

	width: calc( 100% - #{$tool-menu-width} - 4px ); //Fix for inline-block margin.
	@media #{$phone}{
		width: auto;
	}

	ul{
		display: inline-block;
		text-align: left;
		border-left: 1px solid darken( $primary-color, 5% );
		padding: 0 0.5em;
		margin-bottom:0px;
	}


	.is-hidden{
		display: none;
	}


	#loginForm{
		margin: 0 0.8em 0 0;
		@media #{$phone}{
			margin: 0 0.3em 0 0;
		}
		input[type="text"],input[type="password"],input[type="email"]{
			padding: 0.35em 0.3em;
		}
		.#{$namespace}loginForm__button{
			@extend .button;
		}
		div{
			display:inline-block;
			@media #{$phone}{
				max-width:260px;
			}
		}
	}

	#loginUser{
		display: block;
		padding: 0.9em 1.5em 0.9em 0.9em;
		margin: 0 0.8em 0 0;
		&.has-avatar{
			padding: 0em 1.5em 0.8em 0px;
			position: relative;
			margin-top: -0.8em;
			.#{$namespace}userNav__submenuitem--username{
				color: $background-color-secondary;
				text-decoration: underline;
				@media #{$phone}{
					display: none;
				}
			}
			.#{$namespace}userNav__submenuitem--userid{
				@media #{$phone}{
					display: none;
				}
			}
			.#{$namespace}userNav__submenuitem--profilepicture{
				width:32px;
				height:32px;
				display:inline-block;
				background-size: auto 100%;
				background-position: 50%;
				border-radius:50%;
				margin:5px auto 0px;
				position: relative;
				top: 0.8em;
			}
		}
	}

	.#{$namespace}loginUser{
		padding: 0.9em 0.5em;
	}

	.#{$namespace}userNav__drop{
		@extend .fa-angle-down;
		@extend .fa;
		@extend .fa-lg;
		@extend .sitesNav__drop;
		float: right;
		position: relative;
		margin-top: -2.5em;
		padding: 18px 22px 27px 14px;
		display: block;
		left: 12px;
		&.is-clicked{
			@include transform( rotate(180deg) );
			position: relative;
			top: 0px;
		}
	}

	#loginLinks{
		font-family: $header-font-family;
		font-weight: $header-font-weight;
		ul{
			background-color: $primary-color;
			text-align: left;
			padding: 0.5em;
			margin: -0.5em 0 0 2.6em;
			@extend .userNav__subnav;
			@media #{$phone}{
				margin: -0.5em 0 0 -9em;
			}
		}
	}
	
	.#{$namespace}userNav__submenuitem--userid{
		font-style: oblique;
		&:before{
			content: '(';
			font-style: normal;
		}
		&:after{
			content: ')';
			font-style: normal;
		}
	}
}
.#{$namespace}sitesNav__menu{
	margin-bottom:0px;
}
.#{$namespace}sitesNav__menuitem--myworkspace{
	@media #{$phone}{
		background: $primary-color;
	}
	border-right:  1px solid darken( $background-color-secondary, 10% );
	font-size: 0.95em;
	left: 0;
	height:3.3em;
	@media #{$phone}{
	 	height:3.1em;
		border-right: 1px solid darken( $primary-color, 5% );
	}
	position: absolute;
	background: darken( $background-color-secondary, 5% );
	@media #{$phone}{
		top: 0;
	}
	span{
		display: none;
	}
	.#{namespace}sitesNav__drop{
		display: none;
	}
	&.is-selected{
		background: $background-color;
		@media #{$phone}{
			background: $primary-color;
		}
		a{
			color: $background-color-secondary;
			@include box-shadow( inset 0 9px 10px rgba(0,0,0,0.25) );
		}
	}
	a{
		display: inline-block;
		border-right: 0px none;
		color: $primary-color;
		@media #{$phone}{
			color: $background-color-secondary;
		}
		padding: 0.6em 0.8em;
		i{
			font-size: 1.7em;
		}
		&:hover{
			/*color: $background-color-secondary;*/
			@include box-shadow( inset 0 9px 10px rgba(0,0,0,0.25) );
		}
	}
}

#linkNav{
	background: darken( $background-color-secondary, 5% );
	max-height: $header-size;
	min-height: $header-size;
	overflow: hidden;
	left: 3.1em;
	width: calc(100% - 3em);
	padding-left:3em;
	// @include transition(height 0.5s linear);
	ul{
		font-family: $header-font-family;
		font-weight: $header-font-weight;
		margin: 0 0 0 0;
		li.#{$namespace}sitesNav__menuitem{
			display: inline-block;
			margin: 1px 0 0 -4px; //Fix for inline-block space items;
			a{
				border-right: 1px solid darken( $background-color-secondary, 10% );
				color: $text-color;
				display: block;
				padding: 0.8em 0.7em 0.8em 1.1em;
				text-decoration: none;
				&:hover{
					color: $primary-color;
					@include box-shadow( inset 0 0 15px rgba(100,100,100,0.5) );
				}
			}
			.#{$namespace}sitesNav__drop{
				@extend .fa-angle-down;
				@extend .fa;
				@extend .fa-lg;
				@extend .sitesNav__drop;
				&.is-clicked{
					@include transform( rotate(180deg) );
					position: relative;
					top: 3px;
				}
			}
			ul{
				background: darken( $background-color-secondary, 5% );
				display: none;
				@extend .userNav__subnav;
			}
			&.is-selected{
				background: $background-color;
				color: $background-color-secondary;
				a{
					border-right: 0px none;
					color: $background-color-secondary;
					padding: 0.8em 0.9em 0.8em 0.9em;
					.#{$namespace}sitesNav__drop{
						display: none;
					}
					&:hover{
						@include box-shadow( inset 0 9px 10px rgba(0,0,0,0.25) );
					}
				}
				ul{
					background: $background-color;
				}
			}
			&.#{$namespace}sitesNav__menuitem--myworkspace{
				background: $primary-color;
				border-right: 1px solid darken( $primary-color, 5% );
				font-size: 0.95em;
				left: 0;
				position: absolute;
				top: 0;
				span{
					display: none;
				}
				.#{namespace}sitesNav__drop{
					display: none;
				}
				&.is-selected{
					background: $primary-color;
					a{
						@include box-shadow( inset 0 9px 10px rgba(0,0,0,0.25) );
					}
				}
				a{
					border-right: 0px none;
					color: $background-color-secondary;
					padding: 0.6em 0.8em;
					i{
						font-size: 1.7em;
					}
					&:hover{
						color: $background-color-secondary;
					}
				}
			}
		}
	}
	&.scrolled-sites{
		@media #{$desktop}{
			ul{
				width: calc(100% - 4.1em);
			}
			#show-all-sites{
				background: darken( $background-color-secondary, 5% );
				display: inline-block;
				cursor: pointer;
				position: absolute;
				text-align: center;
				font-size: 1.1em;
				color: $primary-color;
				/*top: 1.5em;*/
				right: 0em;
				width:6.5em;
				height: 2.8em;
				border-left: 1px solid darken( $background-color-secondary, 10% );
				padding: 0.7em 0.5em 0 0.4em;
				outline: 0;
				i {
					font-size: 1.3em;
					padding-right : 5px;
				}
				> div{
					display: inline-block;
				}
				#how-many-hidden{
					font-size: 0.6em;
					vertical-align: middle;
					margin: 0 0 2px 2px;
				}
				&.opened{
					right: 10px;
					border-left: 0px none;
					> div {
						color: $secondary-color;
						@include transform( rotateZ(45deg) );
					}
				}
			}
		}
	}
	&.opened{
		@media #{$desktop}{
			max-height: 100%;
			overflow: visible;
			#how-many-hidden{
				display: none;
			}
		}
	}
	@media #{$phone}{
		display: none;
	}
}

#show-all-sites{
	display: none;
}

#show-all-sites-mobile{
	color: $background-color-secondary;
	background: lighten( $background-color, 5% );
	display: none;
	cursor: pointer;
	position: absolute;
	text-align: center;
	font-size: 1.5em;
	top: 0em;
	right: 0em;
	width:2.5em;
	border-left: 1px solid darken( $background-color-secondary, 10% );
	padding: 0 9px;
	outline: 0;
	> div{
		display: inline-block;
	}
	#how-many-hidden-mobile{
		font-size: 0.8em;
		vertical-align: middle;
		margin: 0 4px 2px 2px;
		display: inline-block;
	}
	&.opened{
		right: 10px;
		border-left: 0px none;
		> div {
			color: $secondary-color;
			@include transform( rotateZ(45deg) );
		}
	}
}
.#{$namespace}sitesNav__doubledrop{
	@extend .fa-angle-double-down;
	@extend .fa;
	@extend .fa-lg;
	padding-left:5px;
}

.#{$namespace}breadCrumbs{
	margin:auto;
	max-width: calc( 50% - 3em);
}

.#{$namespace}siteStatus{
	&.is-unpublished{
		margin-left:1em;
		width: calc( 100% - 2em);
		padding: 3px;
		color :$background-color-secondary;
		display:block;
		text-align:center;
		h4{
			padding: 3px;
		}
		button{
			@extend .button;
		}
	}
}

