.#{$namespace}siteHierarchy{
	$svg-gradient-shim-threshold: 1 !global;
	background: linear-gradient( to right, $header-gradient-a, $header-gradient-b, $header-gradient-c, $header-gradient-d);
	box-shadow: inset 0px -1px 5px rgba(0,0,0,0.1);
	min-height: $hierarchy-size;
	padding: 1em;
	h1{
		color: $background-color;
		font-weight: 300;
		margin: 0 0 0 0;
	}
    a{
    	color: $text-color;
	    border-bottom: 1px solid #888888;
	    margin: 0 0.5em 0 0.5em;
	    padding: 0em 0em 0.2em 0em;
	    text-decoration: none;
	    &:hover{
	    	border-bottom: 1px solid #B0B0B0;
		    text-decoration: none;
	    }
    }
	@media #{$phone}{
		background-color: $primary-color;
		background-image: none;
	    color: $background-color;
		position: fixed;
	    top: 5.5em;
	    width: 100%;
	    z-index: 25;
	    @include transition( top 0.25s linear 0s );
		&.moving{
  			top: -22.2em;
  		}
	    h1{
	    	color: $background-color;
	    }
	    a{
	    	border-bottom: 0px none;
	    	color: $background-color;
	    	font-size: 0.9em;
	    	.#{$namespace}breadcrumb--icon{
	    		font-size: 0.95em;
	    		vertical-align: 15%;
	    	}
	    }
	    .#{$namespace}hierarchy--serviceName, .#{$namespace}hierarchy--serviceNameSeparator{
	    	display: none;
	    }
	}
}

.#{$namespace}breadCrumbs{
	margin:auto;
	max-width: calc( 50% - 3em);
}
