.#{$namespace}skipNav__menu{
	position: absolute;
	top:  -30em;
	left: -30em;
	list-style: none;
	padding: 0 0 0 0;
	a{
		&:focus{
			@media #{$desktop}{
				background-color: $primary-color;
				border: 1px solid $background-color;
				color: $background-color;
				display: block !important;
				font-size: 0.9em;
				left: 5px;
				line-height: 1;
				padding: 7px 5px;
				position: fixed;
				text-decoration: none;
				top: 9px;
				z-index: 100000;
			}
		}
		.accesibility_key{
			margin: 0 0 0 0.2em;
		}
	}
	@media #{$phone}{
		position: fixed;
		z-index: 20;
		top: 3.2em;
		left: 0;
		background: lighten($toolMenuColor, 15% );
		width: 100%;
		margin:  0 0 0 0;

		@include align-items(center);
		box-shadow: inset 0 0 5px rgba(0,0,0,0.25);
		@include display-flex(inline-flex);
		@include flex-direction(row);
		@include justify-content(space-between);
		@include transition( top 0.25s linear 0s );
		&.moving{
			top: -4.2em;
		}
		.accesibility_key{
			display: none;
		}
		li{
			@include flex-basis( 50% );
			&.#{$namespace}skipNav__menuitem--content{
				display: none;
			}
			&.#{$namespace}skipNav__menuitem--tools{
				border-right: 1px solid #999;
			}
			a{
				color: $background-color;
				display: block;
				text-align: center;
				font-size: 11px;
				padding: 0.7em 0.5em;
				text-decoration: none;
				text-transform: uppercase;
				white-space: nowrap;
				max-width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}
