#skipNav{
	display: none;
	@media #{$phone}{
		display: block;
		.js-toggle-tools-nav{
			position: absolute;
			top: 36px;
			left: 10px;
			display: block;
			color: $background-color;
			font-size: 2.7em;
			z-index: 10;
			text-decoration: none;
			@include transition( left 0.5s linear );
			span{
				display: none;
			}
			&:after{
				top: 5px;
			}
			&:before{
				top: -10px;
			}
		}
		.js-toggle-sites-nav{
			display: block;
			height: 32px;
			left:5px;
			position: fixed;
			text-decoration: none;
			top: 5px;
			width: 32px;
			overflow: hidden;
			z-index: 30;
			@include transition(left 0.5s linear);
			span{
				display: none;
				&.hamburger{
					width: 32px;
					height: 32px;
					font-size: 2.7em;
					@include display-flex(inline-flex);
			  		@include flex-direction(column);
			  		@include align-items(flex-end);
			  		@include justify-content(space-between);
				  	@include transition( all 0.5s linear );
			  		> span{
			  			display: block;
			  			height: 8px;
			  			color: $primary-color;
				  		@include transition( all 0.5s linear );
			  			&.top{
			  				position: relative;
			  				top: -25px;
			  			}
			  			&.middle{
			  				position: relative;
			  				top: -27px;
			  				opacity: 1;
			  			}
			  			&.bottom{
			  				position: relative;
			  				top: -29px;
			  			}
			  		}
				}
			}
		}
	}
}