#skipNav{
	display: none;
	@media #{$phone}{
		display: block;
		.js-toggle-tools-nav{
			position: fixed;
			top: -6px;
			left:5px;
			display: block;
			color: $primary-color;
			font-size: 2.7em;
			z-index: 1;
			text-decoration: none;
			@include transition( left 0.25s linear );
			span{
				display: none;
			}
			&:after{
				top: 5px;
			}
			&:before{
				top: -10px;
			}
		}
		.js-toggle-sites-nav{
			background: $primary-color;
			display: block;
			height: 32px;
			left:50px;
			position: fixed;
			text-decoration: none;
			top: 12px;
			width: 32px;
			z-index: 1;
			@include border-radius(32px);
			&:after{
				content: "S";
				color: $background-color;
				font-size: 1.1em;
				left: 11px;
				position: relative;
				top: 3px;
			}
			span{
				display: none;
			}
		}
	}
}