#skipNav{
	display: none;
	@media #{$phone}{
		display: block;
		.js-toggle-tools-nav{
			position: absolute;
			top: 2em;
			left: 0em;
			height:1.5em;
			width:2em;
			display: block;
			color: $background-color-secondary;
			background: lighten( $background-color, 5% );
			font-size: 1.5em;
			padding-left:15px;
			padding-bottom:4px;
			padding-right:5px;		
			z-index: 10;
			text-decoration: none;
			@include transition( left 0.5s linear );
			span{
				display: none;
			}
		}
		.js-toggle-sites-nav{
			display: block;
			height: 42px;
			right: 0px;
			position: absolute;
			text-decoration: none;
			top: 46px;
			width: 50px;
			overflow: hidden;
			z-index: 0;
			@include transition(left 0.5s linear);
			span{
				display: none;
				&.hamburger{
					width: 32px;
					height: 32px;
					font-size: 2.7em;
					/*@include display-flex(inline-flex);*/
			  		@include flex-direction(column);
			  		@include align-items(flex-end);
			  		@include justify-content(space-between);
				  	@include transition( all 0.5s linear );
			  		> span{
			  			display: block;
			  			height: 8px;
			  			color: $background-color-secondary;
				  		@include transition( all 0.5s linear );
			  			&.top{
			  				position: relative;
			  				top: -25px;
			  			}
			  			&.middle{
			  				position: relative;
			  				top: -27px;
			  				opacity: 1;
			  			}
			  			&.bottom{
			  				position: relative;
			  				top: -29px;
			  			}
			  		}
				}
			}
		}
	}
}
body.is-logged-out{
	#skipNav{
		@media #{$phone}{
			.js-toggle-tools-nav{
				top:3em;
			 }
		}
	}
	&.toolsNav--displayed{
			#skipNav{
				.js-toggle-tools-nav{
					top:3em;
				}
			}
	}
}
