.#{$namespace}skipNav__menu{
	display: none;
	@media #{$phone}{
		position: fixed;
		z-index: 20;
		top: 3.2em;
		left: 0;
		background: lighten($toolMenuColor, 15% );
		width: 100%;
		margin:  0 0 0 0;

		@include align-items(center);
		box-shadow: inset 0 0 5px rgba(0,0,0,0.25);
		@include display-flex(inline-flex);
		@include flex-direction(row);
		@include justify-content(space-between);
		@include transition( top 0.25s linear 0s );
		&.moving{
			top: -4.2em;
		}
		li{
			@include flex-basis( 50% );
			&.#{$namespace}skipNav__menuitem--content{
				display: none;
			}
			&.#{$namespace}skipNav__menuitem--tools{
				border-right: 1px solid #999;
			}
			a{
				color: $background-color;
				display: block;
				text-align: center;
				font-size: 11px;
				padding: 0.7em 0.5em;
				text-decoration: none;
				text-transform: uppercase;
				white-space: nowrap;
				max-width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}
