<div class="portletBody">
	
	<h3>
		$tlang.getString("archive.download.heading")
	</h3>
	
	#if($archives.size() == 0)
		<p>$tlang.getString("archive.download.none")</p>
	#else
		
	
		<table class="listHier lines" cellspacing="0">
		<tr>
			<th>
				$tlang.getString("archive.download.site")
			</th>
			<th>
				$tlang.getString("archive.download.date")
			</th>
			<th>
				$tlang.getString("archive.download.size")
			</th>
			<th>
				$tlang.getString("archive.download.hash")
			</th>
		</tr>
			
    	#foreach($archive in $archives)
    		<tr>
    			<td>
					<a href="/admin-tools/download/?archive=#chef_html($!archive.filename)" class="downloadLink">
        				#if ($archive.siteTitle)
        					#chef_html($!archive.siteTitle) <small>(#chef_html($!archive.siteId))</small>
        				#else 
        					#chef_html($!archive.siteId)
						#end
					</a>
    			<td>
    				$!archive.dateCreated
    			</td>
    			<td>
    				$!archive.size
    			</td>
    			<td>
    				$!archive.hash
    			</td>
    		</tr>
		
		#end
		
	</table>
	#end
		
	
</div>