<title>LTI site deployments</title>

<!-- jQuery -->
${includeLatestJQuery}

<script type="text/javascript" src="/library/webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
<link type="text/css" href="/library/webjars/jquery-ui/1.12.1/jquery-ui.min.css" rel="stylesheet" media="screen" />

<script type="text/javascript">includeWebjarLibrary('datatables');</script>
<script id="js">
    sakaiDataTables.onReady(function() {
        sakaiDataTables.init('#tool_site_table', {
            pageLength: 50,
            lengthMenu: [[10, 50, 100, 200], [10, 50, 100, 200]],
            order: [[0, 'asc']],
            columnDefs: [{ targets: 'no-sort', orderable: false, searchable: false }]
        });
    });
</script>
<script>
    // Ensure the script runs after the DOM is fully loaded
    document.addEventListener('DOMContentLoaded', function() {
        // Check if the current window is not the top-level window (meaning it's inside an iframe)
        if (window.self !== window.top) {
            // Hide the div with id "deployment-done-div"
            const deploymentDiv = document.getElementById('deployment-done-div');
            if (deploymentDiv) {
                deploymentDiv.style.display = 'none';
            }
            const titleDiv = document.getElementById('title');
            if (titleDiv) {
                titleDiv.style.display = 'none';
            }
            const launchDiv = document.getElementById('launch');
            if (launchDiv) {
                launchDiv.style.display = 'none';
            }
        }
    });
</script>

<div class="portletBody">
    <div class="lti_tool_site_deploy">
        <h3>
            $tlang.getString("tool.site.deploy")
        </h3>

        #if ($messageSuccess)<div class="sak-banner-success">$tlang.getString("gen.success") $formattedText.escapeHtml($messageSuccess)</div>#end
        #if ($alertMessage)<div class="sak-banner-error">$tlang.getString("gen.alert") $formattedText.escapeHtml($alertMessage)</div>#end

        $formOutput

        #if ($isAdmin)
            <div align="right" style="padding:10px">
                <a href="" class="btn btn-primary"  title="$tlang.getString("add.tool.site")" onclick="location = '$sakai_ActionURL.setPanel("ToolSiteInsert")&tool_id=$toolId';return false;"> $tlang.getString("add.tool.site")</a>
            </div>
        #end

        <div>
            #if ($!ltiToolSites && ($ltiToolSites.size() > 0))
                <div>$tlang.getString("tool.site.description")</div>

                <table id="tool_site_table" class="table table-striped table-hover" cellspacing="0" summary ="$tlang.getString("tool.site.table")">
                    <thead>
                        <tr>
                            <th id="site_id" data-placeholder="$tlang.getString('search.siteid')">$tlang.getString("bl_site")</th>
#if ($showDeploymentGroup)
                            <th id="deployment_group" data-placeholder="$tlang.getString('tool.site.search.deployment_group')">$tlang.getString("tool.site.table.deployment_group")</th>
#end
                            <th id="site_notes" data-placeholder="$tlang.getString('search.notes')">$tlang.getString("bl_notes")</th>
                            #if ($isAdmin) <th id="action" class="no-sort">$tlang.getString("bl_action")</th>#end
                        </tr>
                    </thead>

                    <tbody>
                        #foreach($toolSite in $ltiToolSites)
                            <tr>
                                <td headers="site_id">
                                    #set($siteId="<span style='display:none;'>Nothing here</span>")
                                    #set($siteId=$toolSite.siteId)
                                    $!siteId
                                </td>
#if ($showDeploymentGroup)
                                <td headers="deployment_group">$formattedText.escapeHtml($!toolSite.deploymentGroup)</td>
#end
                                <td headers="site_notes">$formattedText.escapeHtml($toolSite.notes)</td>

                                #if ($isAdmin)
                                    <td headers="action">
                                        <ul style="list-style: none;">
                                            <li style="display:inline"><a href="$sakai_ActionURL.setPanel("ToolSiteEdit")&id=$toolSite.id">$tlang.getString("gen.edit")</a></li>
                                            <li style="display:inline"><span aria-hidden="true"> / </span> <a href="$sakai_ActionURL.setPanel("ToolSiteDelete")&id=$toolSite.id">$tlang.getString("gen.delete")</a> </li>
                                        </ul>
                                    </td>
                                #end
                            </tr>
                        #end
                    </tbody>

                </table>

            #else
                <p>$tlang.getString("tool.site.none")</p>
            #end

            <div id="deployment-done-div">
                <p class="act">
                    <input type="submit" accesskey ="x" name="doDone" value="$tlang.getString('gen.done')"
                           onclick="location = '$sakai_ActionURL.setPanel("ToolSystem")';return false;" class="active">
                </p>
            </div>

        </div>

    </div>

</div>
