<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>ContentPane Test</title>

		<script type="text/javascript" src="../testBidi.js"></script>

	<script type="text/javascript" src="../../../dojo/dojo.js" 
		djConfig="isDebug: true, parseOnLoad: true"></script>
		<script type="text/javascript">
			dojo.require("dijit.layout.ContentPane");
			dojo.require("dojo.data.ItemFileReadStore");
			dojo.require("dijit.form.ComboBox");
			dojo.require("dijit.form.InlineEditBox");
			dojo.require("dojo.parser");	// scan page for widgets and instantiate them
		</script>
		<style>
			@import "../../../dojo/resources/dojo.css";
			@import "../../themes/tundra/tundra.css";
			@import "../css/dijitTests.css";


			body {
				margin: 1em;
				padding: 1em;
			}

			.box {
			  position: relative;
				background-color: white;
				border: 2px solid black;
				padding: 8px;
				margin: 4px;
			}
		</style>
	</head>
	<body class="tundra">
		<h2>Dijit layout.ContentPane tests</h2>
		<p>pre-container paragraph</p>

		<div dojoType="dijit.layout.ContentPane" class="box">
			some text (top-level container)

			<div dojoType="dijit.layout.ContentPane" class="box">

				text in the inner container (1)

				<div dojoType="dijit.layout.ContentPane" class="box" href="tab2.html" hasShadow="true">
					hi
				</div>

				text in the inner container (2)

				<div dojoType="dijit.layout.ContentPane" class="box">
					inner-inner 2
				</div>

				text in the inner container (3)

				<div dojoType="dijit.layout.ContentPane" class="box">
					inner-inner 3
				</div>

				text in the inner container (4)

			</div>

			some more text (top-level container)
		</div>

		<p>mid-container paragraph</p>

		<div dojoType="dijit.layout.ContentPane" class="box" hasShadow="true">
			2nd top-level container
		</div>

		<p>post-container paragraph</p>

		<div id="ContentPane3" class="box" hasShadow="true">
			some content pane blah blah blah
		</div>
		<div dojoType="dijit.layout.ContentPane" class="box" href="combotab.html" hasShadow="true" id="test">
			<p style='background-color:yellow;border:1px solid red;text-align:center;'>This text should automatically be replaced by downloaded content from combotab.html</p>
		</div>
		<input type="button" value="Change pane in 3 seconds" onClick='setTimeout("dijit.byId(\"test\").setHref(\"tab2.html\")", 3000);'>
		<script type="text/javascript">
			dojo.addOnLoad(function(){
				var tmp = new dijit.layout.ContentPane({}, dojo.byId("ContentPane3"));
				tmp.startup();
				console.debug('created ' + tmp);	
			});
		</script>
	</body>
</html>
