<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    
   <bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider"  
       class="org.sakaiproject.user.tool.entity.UserPrefsEntityProvider" init-method="init">
       <property name="preferencesService" ref="org.sakaiproject.user.api.PreferencesService" />
       <property name="sessionManager" ref="org.sakaiproject.tool.api.SessionManager" />
    </bean>

</beans>