<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- the i18n messages source -->
    <bean id="messageSource" class="org.sakaiproject.adminsiteperms.tool.ResourceLoaderMessageSource">
        <property name="basename" value="classpath:i18n/Messages"/>
    </bean>

    <bean id="sitePermsService" class="org.sakaiproject.adminsiteperms.service.SitePermsService">
        <property name="authzGroupService" ref="org.sakaiproject.authz.api.AuthzGroupService" />
        <property name="functionManager" ref="org.sakaiproject.authz.api.FunctionManager" />
        <property name="securityService" ref="org.sakaiproject.authz.api.SecurityService" />
        <property name="serverConfigurationService" ref="org.sakaiproject.component.api.ServerConfigurationService" />
        <property name="sessionManager" ref="org.sakaiproject.tool.api.SessionManager" />
        <property name="siteService" ref="org.sakaiproject.site.api.SiteService" />
        <property name="userDirectoryService" ref="org.sakaiproject.user.api.UserDirectoryService" />
        <property name="messageSource" ref="messageSource" />
    </bean>

</beans>
