<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:jaxrs="http://cxf.apache.org/jaxrs"
  xmlns:jaxws="http://cxf.apache.org/jaxws"
  xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxrs
http://cxf.apache.org/schemas/jaxrs.xsd
http://cxf.apache.org/jaxws
http://cxf.apache.org/schemas/jaxws.xsd">

  <import resource="classpath:META-INF/cxf/cxf.xml" />
  <!--import resource="classpath:META-INF/cxf/cxf-extension-jaxrs-binding.xml" /-->
  <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

    <!-- JAX-RS -->
    <jaxrs:server id="SakaiLoginRS" address="/login">
        <jaxrs:serviceBeans>
            <ref bean="org.sakaiproject.webservices.SakaiLogin"/>
        </jaxrs:serviceBeans>
    </jaxrs:server>

    <jaxrs:server id="SakaiScriptRS" address="/sakai">
        <jaxrs:serviceBeans>
            <ref bean="org.sakaiproject.webservices.SakaiScript"/>
        </jaxrs:serviceBeans>
    </jaxrs:server>

    <jaxrs:server id="AssignmentsRS" address="/assignments">
        <jaxrs:serviceBeans>
            <ref bean="org.sakaiproject.webservices.Assignments"/>
        </jaxrs:serviceBeans>
    </jaxrs:server>

    <jaxrs:server id="ContentHostingRS" address="/contenthosting">
         <jaxrs:serviceBeans>
             <ref bean="org.sakaiproject.webservices.ContentHosting"/>
         </jaxrs:serviceBeans>
     </jaxrs:server>


    <jaxws:endpoint id="SakaiJob"
                    implementor="#org.sakaiproject.webservices.SakaiJob"
                    address="/SakaiJob"/>

    <jaxws:endpoint id="SakaiLogin"
                    implementor="#org.sakaiproject.webservices.SakaiLogin"
                    address="/Login"/>

    <jaxws:endpoint id="SakaiScript"
                    implementor="#org.sakaiproject.webservices.SakaiScript"
                    address="/Sakai"/>

    <jaxws:endpoint id="Assignments"
                    implementor="#org.sakaiproject.webservices.Assignments"
                    address="/Assignments"/>

    <jaxws:endpoint id="ContentHosting"
                    implementor="#org.sakaiproject.webservices.ContentHosting"
                    address="/ContentHosting"/>

    <jaxws:endpoint id="MessageForums"
                    implementor="#org.sakaiproject.webservices.MessageForums"
                    address="/MessageForums"/>

    <bean id="org.sakaiproject.webservices.AbstractWebService" class="org.sakaiproject.webservices.AbstractWebService" init-method="init">
        <property name="serverConfigurationService" ref="org.sakaiproject.component.api.ServerConfigurationService"/>
        <property name="sessionManager" ref="org.sakaiproject.tool.api.SessionManager"/>
        <property name="usageSessionService" ref="org.sakaiproject.event.api.UsageSessionService"/>
        <property name="userDirectoryService" ref="org.sakaiproject.user.api.UserDirectoryService"/>
        <property name="authzGroupService" ref="org.sakaiproject.authz.api.AuthzGroupService"/>
        <property name="calendarService" ref="org.sakaiproject.calendar.api.CalendarService"/>
        <property name="contentHostingService" ref="org.sakaiproject.content.api.ContentHostingService"/>
        <property name="entityManager" ref="org.sakaiproject.entity.api.EntityManager"/>
        <property name="eventTrackingService" ref="org.sakaiproject.event.api.EventTrackingService"/>
        <property name="securityService" ref="org.sakaiproject.authz.api.SecurityService"/>
        <property name="siteService" ref="org.sakaiproject.site.api.SiteService"/>
        <property name="toolManager" ref="org.sakaiproject.tool.api.ToolManager"/>
        <property name="assignmentService" ref="org.sakaiproject.assignment.api.AssignmentService"/>
        <property name="gradebookService" ref="org.sakaiproject.service.gradebook.GradebookService"/>
        <property name="discussionForumManager" ref="org.sakaiproject.api.app.messageforums.ui.DiscussionForumManager"/>
        <property name="messageForumsForumManager" ref="org.sakaiproject.api.app.messageforums.MessageForumsForumManager"/>
        <property name="messageForumsMessageManager" ref="org.sakaiproject.api.app.messageforums.MessageForumsMessageManager"/>
        <property name="messageForumsTypeManager" ref="org.sakaiproject.api.app.messageforums.MessageForumsTypeManager"/>
        <property name="areaManager" ref="org.sakaiproject.api.app.messageforums.AreaManager"/>
        <property name="threadLocalManager" ref="org.sakaiproject.thread_local.api.ThreadLocalManager"/>
        <property name="schedulerManager" ref="org.sakaiproject.api.app.scheduler.SchedulerManager"/>
    </bean>

    <bean id="org.sakaiproject.webservices.Assignments" class="org.sakaiproject.webservices.Assignments" init-method="init" parent="org.sakaiproject.webservices.AbstractWebService" />
    <bean id="org.sakaiproject.webservices.ContentHosting" class="org.sakaiproject.webservices.ContentHosting" init-method="init" parent="org.sakaiproject.webservices.AbstractWebService" />
    <bean id="org.sakaiproject.webservices.MessageForums" class="org.sakaiproject.webservices.MessageForums" init-method="init" parent="org.sakaiproject.webservices.AbstractWebService" />
    <bean id="org.sakaiproject.webservices.SakaiJob" class="org.sakaiproject.webservices.SakaiJob" init-method="init" parent="org.sakaiproject.webservices.AbstractWebService" />
    <bean id="org.sakaiproject.webservices.SakaiLogin" class="org.sakaiproject.webservices.SakaiLogin" init-method="init" parent="org.sakaiproject.webservices.AbstractWebService" />
    <bean id="org.sakaiproject.webservices.SakaiScript" class="org.sakaiproject.webservices.SakaiScript" init-method="init" parent="org.sakaiproject.webservices.AbstractWebService" />

</beans>
