.#{$namespace}sakai-assignment-grades {
	#req-new_assignment_grade_points{
		color: darken($errorcolor, 30%);
	    margin: 9px 0 0 -13px;
		position: absolute;
	}
	.assignment-pager {
		max-width: 350px;
		text-align: center;
		.panel-heading {
			padding: 5px 10px;
		}
		input {
			margin: 0;
		}

		button{
			margin: 0;
		}
	}

	.form-required{
		label{
			&:after{
				content: "*";
				color: darken($errorcolor, 30%);
				position: relative;
				top: 3px;
			}
		}
	}

	#gradeOverridePanel{
		margin-left: 50px;
		width:100%;
		background-color: $tool-background-color;		
		.row-override:nth-child(odd){
			background: darken($tool-background-color, 5%);
		}
		.row-override{
			padding: 0.5em 0 0.5em;
		}
		.shorttext{
			display: block;
		}
		.assignment-checkbox-inline{
			display: inline-block;
		}		
	}
	
	#reorder-list-sortingToolBar, #reorder-list{
		max-width: 1200px;
	}
	
	label.innerRadio{
		margin-left: 20px;
	}
	
	#sendFeedbackPanel, #allowResubmissionPanel{
		.discTria{
			font-weight: bold;
			background-color: #cef;
		}
	}

}
