.#{$namespace}sakai-assignment-grades {
	#req-new_assignment_grade_points{
		color: darken($errorcolor, 30%);
	    margin: 9px 0 0 -13px;
		position: absolute;
	}
	.assignment-pager {
		margin-top: 1em;
		max-width: 350px;
		text-align: center;
		.panel-heading {
			padding: 5px 10px;
		}
		input {
			margin: 0;
		}
	}

	.form-required{
		label{
			&:after{
				content: "*";
				color: darken($errorcolor, 30%);
				position: relative;
				top: 3px;
			}
		}
	}
}
