// Preview plugin
.cke {
	.cke_button__sakaipreview {
		.cke_button__sakaipreview_icon {
			background: url(/library/webjars/ckeditor/4.14.0/full/skins/moono-lisa/icons_hidpi.png) no-repeat 0 -1632px !important;
			background-size: 16px !important;
		}
	}
}
#ckeditorPreview.modal {
	.modal-dialog {
		width: 94%;
		max-width: 1200px;
	}

	.sakaipreview-print {
		@extend .fa;
		@extend .fa-print;
	}

	.sakaipreview-close {
		@extend .fa;
		@extend .fa-times;
	}
}

.cke_inner.cke_reset.cke_maximized {
	position: fixed !important;
}
.cke_button_label.cke_button__templates_label {
	display: inline;
}
.cke_dialog_contents_body .cke_tpl_list {
	height: 430px !important;
}
.cke_tpl_preview .cke_tpl_preview_img {
	width: 50px !important;
}
.cke_tpl_preview span{
	&.template-icon{
		font-family: FontAwesome;
		font-size: 3em;
		width: 50px;
		float: left;
		padding: 0px 5px 10px 0px;
		text-align: center;
	}
}

.cke_dialog_container {
	z-index: 100010 !important;
}
