<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- define the list of HBM mapping files -->
    <bean id="hierarchy.hbmMappingList" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <value>org/sakaiproject/hierarchy/dao/hbm/HierarchyPersistentNode.hbm.xml</value>
                <value>org/sakaiproject/hierarchy/dao/hbm/HierarchyNodeMetaData.hbm.xml</value>
                <value>org/sakaiproject/hierarchy/dao/hbm/HierarchyNodePermission.hbm.xml</value>
            </list>
        </constructor-arg>
    </bean>

    <!-- DAO bean (no proxy) -->
    <bean id="org.sakaiproject.hierarchy.dao.HierarchyDao"
        class="org.sakaiproject.hierarchy.dao.HierarchyDaoHibernateImpl">
        <property name="sessionFactory" 
            ref="org.sakaiproject.springframework.orm.hibernate.GlobalSessionFactory" />
    </bean>

</beans>
