<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Grab the learner information from Sakai -->
	<bean id="org.sakaiproject.scorm.service.api.LearningManagementSystem"
		class="org.sakaiproject.scorm.service.sakai.impl.SakaiStatefulService">

		<!-- Sakai API Services -->
		<lookup-method name="configurationService" bean="org.sakaiproject.component.api.ServerConfigurationService" />
		<lookup-method name="securityService" bean="org.sakaiproject.authz.api.SecurityService" />
		<lookup-method name="sessionManager" bean="org.sakaiproject.tool.api.SessionManager" />
		<lookup-method name="siteService" bean="org.sakaiproject.site.api.SiteService" />
		<lookup-method name="toolManager" bean="org.sakaiproject.tool.api.ToolManager" />
		<lookup-method name="userDirectoryService" bean="org.sakaiproject.user.api.UserDirectoryService" />
		<lookup-method name="scormContentService" bean="org.sakaiproject.scorm.service.api.ScormContentService" />
		<lookup-method name="scormResultService" bean="org.sakaiproject.scorm.service.api.ScormResultService" />
		<lookup-method name="learnerDao" bean="org.sakaiproject.scorm.dao.LearnerDao" />

		<property name="userTimeService" ref="org.sakaiproject.time.api.UserTimeService" />
	</bean>
</beans>
