body {
	font:	12px/1.4 Arial, Helvetica, sans-serif;
	background:#ddd;
	padding:0px;
	margin:0px;
	}
	
table.dec {
			border-collapse:separate;
			border-spacing: 1px;
			background-color: #ffffff;
			}

		
.topr {	
		vertical-align: top;
		text-align: right;
		padding:6px;
		margin: 0px;
		background-color: #ffffff;
		}
.line	{border-bottom-style: solid;	
		}
	
 div {
padding: 0px;
 	font-family:  Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
   	line-height: 1.4;
	text-align: left;
	vertical-align: top;
	}

td {	
 	font-family:  Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
   	line-height: 1.4;
	text-align: left;
	vertical-align: top;
	}
	
tr {
	border-style: solid;
	border-width: 1;
	border-color: black;
	}
	
pre {
	font-size:12px;
	line-height: 16px;
	font-family: courier new, verdana, arial, helvetica, sans-serif;
	color:#552200;
	margin: 5px 0px 5px 30px;
	padding: 0px 0px 5px 15px;
	border-left: dotted 1px #552200;
	}
	
.command, .filename {
    	font-size:12px;
    	font-family: courier new, verdana, arial, helvetica, sans-serif;
	color:#552200;
	font-weight:normal;
}
	
	
.note {
	background:#e0e5f0;
	padding-left: 20px;
	margin-left: 20px;
	padding-right: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	}

.term {
    font-weight: bold;
    vertical-align: middle;

    }
	
p {
	padding-top: 0px;
	padding-bottom: 0px;  
	margin-top: 12px;
	margin-bottom: 0px;
	padding-left: 5px;
	margin-left: 5px;
		}
		
td p, ul p {
	padding-top: 0px;
	padding-bottom: 0px;  
	margin-top: 0px;
	margin-bottom: 0px;
}

em {
	font-weight: bold;
}
		
ol   	{
		margin-left: 20px;
		padding-left: 20px;
		margin-top: 3px;
		margin-bottom: 7px;
		}	
			
		
ul   	{
		margin-left:1em;
		padding-left:1em;
		}	

ul.n  	{
		margin-top: 5px;
		margin-left:11em;
		padding-left:11em;
		}	
	
h1 		{
		color: #999;
 		font-family: Arial, Helvetica, sans-serif;
		font-size: 25px;
		margin-top: 0px;
 		margin-bottom: 5px;
		padding-bottom: 0px;
		white-space: nowrap;
		}		
		
h2 		{
		color: #337766;
 		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 20px;
		margin-top: 30px;
 		margin-bottom: 10px;
		padding-bottom: 0;
		margin-left: 0px;
		}

h3 		{
		color:#552200;;
 		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
 		margin-bottom: 10px;
 		margin-top: 30px;
		}
		
h4 		{
		color:#333;
 		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px;
		margin-top: 20px;
		margin-left: 5px;
		padding-left: 5px;
 		margin-bottom: 5px;
		}
		
a:link, a:visited {
		font-size: 11px;
 		color: #336699;
 		text-decoration: none;
		font-family:  Verdana, Arial, Helvetica, sans-serif;
		}
	
a:hover {
	color: #0000dd;
	text-decoration: underline;
	}	
	
a.red:link, a.red:visited {
		font-size: 11px;
 		color: #cc0000;
 		text-decoration: none;
		font-family:  Verdana, Arial, Helvetica, sans-serif;
		}	

				
.left
		{
		text-align:left;	
		}
td.cols {colspan: 2;}

.top 	{vertical-align: top;
		}	

.line {	line-height: 3px;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		}
		

.topw {	
		vertical-align: top;
		padding:6px;
		width:22%;
		margin: 0px;
		background-color: #e3e9e6;
		}	

.topb {	
		vertical-align: top;
		padding:6px;
		width:22%;
		margin: 0px;
		background-color: #ffffff;
		}			
.topr {	
		vertical-align: top;
		text-align: right;
		padding:6px;
		margin: 0px;
		background-color: #ffffff;
		}

		
.topbl {
		background-color:#d0e0e0;
		vertical-align: top;
		padding:6px;
		width:22%;
		margin: 0px;
}	

.bottom {
		vertical-align: bottom;
		text-align: left;
		}	

border
	{
	border-style:solid;
	border-color: #ccddff;
	border-width: 1px;
	width: 645px;
	padding: 4px;
	}
