
body {
	font:	12px/1.4 Arial, Helvetica, sans-serif;
	background:#ddd;
	padding:0px;
	margin:0px;
	}
	
table.dec {
		border-collapse:separate;
		border-spacing: 1px;
		background-color: #ffffff;
		}

.topr {	
		vertical-align: top;
		text-align: right;
		padding:6px;
		margin: 0px;
		background-color: #ffffff;
		}
.line	{border-bottom-style: solid;
		

		}
	
 div {
	padding: 0px;
 	font-family:  Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
   	line-height: 1.4;
	text-align: left;
	vertical-align: top;
	}

td, tr {	
	padding: 0px;
 	font-family:  Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
   	line-height: 1.4;
	text-align: left;
	vertical-align: top;
	}
	
th {
	white-space: nowrap;
	}
	
pre {
	font-size:12px;
	line-height: 16px;
	font-family: courier new, verdana, arial, helvetica, sans-serif;
	color:#552200;
	margin: 5px 0px 5px 30px;
	padding: 0px 0px 5px 15px;
	border-left: dotted 1px #552200;
	}
	
dd {
	margin-left:0em;
	padding-left:0em;
}
	
.cheat {
	float: left;
	display: block;
	font-size:10px;
	font-family: verdana, arial, helvetica, sans-serif;


	}
	
p {
	padding-top: 0px;
	padding-bottom: 0px;  
	margin-top: 12px;
	margin-bottom: 0px;
		}
	
ol   	{
		margin-left: 1.5em;
		padding-left: 1.5em;
		margin-top: 3px;
		margin-bottom: 7px;
		}	
		
ol.n  	{
		margin-left: 11em;
		padding-left: 11em;
		margin-top: 3px;
		margin-bottom: 7px;
		}	
		
ol.first   	{
		margin-left: 20px;
		padding-left: 20px;
		margin-top: 3px;
		margin-bottom: 7px;
		}	
			
		
ul   	{
		margin-top: 5px;
		margin-left:1em;
		padding-left:1em;
		}	

ul.n  	{
		margin-top: 5px;
		margin-left:11em;
		padding-left:11em;
		}	
	
h1 		{
		color: #999;
 		font-family: Arial, Helvetica, sans-serif;
		font-size: 25px;
		margin-top: 0px;
 		margin-bottom: 5px;
		padding-bottom: 0px;
		white-space: nowrap;
		}		
		
h2 		{
		color: #337766;
 		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 14px;
 		margin-bottom: 5px;
		padding-bottom: 0;
		margin-left: 0px;
		}

h3 		{
		color: #333;
 		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 16px;
 		margin-bottom: 5px;
		}
		
a:link, a:visited {
		font-size: 11px;
 		color: #336699;
 		text-decoration: none;
		font-family:  Verdana, Arial, Helvetica, sans-serif;
		}
	
a:hover {
	color: #0000dd;
	text-decoration: underline;
	}	
	
a.red:link, a.red:visited {
		font-size: 11px;
 		color: #cc0000;
 		text-decoration: none;
		font-family:  Verdana, Arial, Helvetica, sans-serif;
		}	

.important {
padding: .1em 5em 0em 1.75em;
margin: .1em 5em 0em 20em; 
		color:#660000;
		background-image:url(../images/importantex.gif);
		background-position: 0px 3px;
		background-repeat:no-repeat;
		/*border-left-style: solid; */
		border-color: #aa0000; 
		border-width: 1px; 
		}
		
	.important h3 {
		margin-bottom:.2em;
		margin-top:.2em;
		padding-bottom: 0;
		padding-top: 0;
		font-size: 11px;
		color: #aa2200;
		color: #aa0000;
		padding-right: 15px;
		}

.aside {
		padding: .1em 1em 1em 3.5em;
		margin: .5em 1em 1em 18em; 
		color:#666666;
		width: 55%;
		background-image:url(../images/tip.gif);
		background-position: 0px 0px;
		background-repeat:no-repeat;
		background-color:#f8f8f8;
		border-style: dashed;
		border-color: #e0f0f0; 
		border-width: 1px;
		}
	
.aside h3 {margin-top: 0;
				padding-top:0;
				background:#ffffff;
			font-size: 11px;
			color: #aa2200;
			color: #aaaaaa;
			white-space: nowrap;
}
		
.aside2 {
float: right;
width: 15em;
margin-top:5em;
padding: .3em .3em .3em 2em;
		color:#666666;
		background-image:url(../images/tip.gif);
		background-position: 5px 5px;
		background-repeat:no-repeat;
		background-color:#f8f8f8;
		border-style: dashed;
		border-color: #e0f0f0; 
		border-width: 1px;
		}
	
.aside2 h3 {
			font-size: 11px;
			color: #aa2200;
			color: #aaaaaa;
			padding-left: 1.5em;}
	
.aside pre {
	font-size:12px;
	line-height: 16px;
	font-family: courier new, verdana, arial, helvetica, sans-serif;
	color:#552200;
	margin:3px 0px 2px 30px;
	padding: 0px 0px 2px 15px;
	border-left: dotted 1px #552200;
	}
	

		
.edges: { background-color: #cdf; }
.white 	{ background-color: #fff;
		padding:5px;
		 }

				
.left
		{
		text-align:left;	
		}
td.cols {colspan: 2;}

.top 	{vertical-align: top;
		}	

.line {	line-height: 3px;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		}
		

.topw {	
		vertical-align: top;
		padding:6px;
		width:22%;
		margin: 0px;
		background-color: #e3e9e6;
		}	

.topb {	
		vertical-align: top;
		padding:6px;
		width:22%;
		margin: 0px;
		background-color: #ffffff;
		}			
.topr {	
		vertical-align: top;
		text-align: right;
		padding:6px;
		margin: 0px;
		background-color: #ffffff;
		}

		
.topbl {
		background-color:#d0e0e0;
		vertical-align: top;
		padding:6px;
		width:22%;
		margin: 0px;
}	

.bottom {
		vertical-align: bottom;
		text-align: left;
		}	

#border
	{
	border-style:solid;
	border-color: #ccddff;
	border-width: 1px;
	width: 645px;
	padding: 4px;
	}
	
em.note {
	color:red;
	}
