# the default roles for joiner of the site
siteinfo.default_joiner_role=List of default roles for site joiner for various site types. If any role in the site matches one entry here, the role will be listed as the default chosen role for joiner in Site Info "Manage Access" page.

# the roles for site joiner should have those permissions
siteinfo.prohibited_permission_for_joiner_role=List of permissions that shouldn't be possessed by roles for site joiner.

# the site property setting to override the system "hide.pageorder.site.types" settings
site.override.hide.pageorder.site.types=true then PageOrder tab will show in Site Info tool.