.checklistForm {
    margin-left: 1em;
}
#checklistItems {
    display: inline-block;
    width: 90%;
    max-width: 500px;
}
#createdChecklistItems {
    margin-bottom: 1em;
    list-style: none;
}
#createdChecklistItems li {
    background: #eee;
    margin: 0 3px 3px 3px;
    padding: 0.2em 0.4em 0.2em 1.5em;
    font-size: 1.4em;
}
#createdChecklistItems li span {
    position: absolute;
    margin-left: -1.3em;
    margin-top: .3em;
}
#createdChecklistItems li:hover {
    cursor: move;
    border-color: #0074D9;
    background-color: #ddd;
}
.checklist-item-name {
    line-height: 1.7em;
    width: 90%;
    max-width: 500px;
}
.checklistDescription {
    display: block;
}
#description{
    height: 80px;
    width: 90%;
    max-width: 500px;
}
.deleteItemLink {
    float: right;
    margin-top: -3px;
}
#addChecklistItemButton { /** Have to use important because tool.css overrides **/
    display: block !important;
}
#addChecklistItemButton:hover { /** Have to use important because tool.css overrides **/
    display: block !important;
}
.titleBorder {
    border-bottom: 1px solid #ccc;
}
#name{
    vertical-align: middle;
}
.checklistFormInput input, .checklistFormInput textarea {
    margin-left: 2em;
    margin-top: .5em;
}
.checklistFormInput label{
    margin-left: 0;
    font-weight: bold;
    color: #555;
    font-size: 110%;
}
p.edit-group {
    margin-top: 2em;
}
.checklist-checkbox {
    /** Hide from sighted users **/
    position: absolute;
    left:-10000px;
    top:auto;
}
.checklist-checkbox + span {
    background-image: url("../images/gray_unchecked.png");
    background-position: left center;
    background-repeat: no-repeat;
}
.checklist-checkbox:checked + span {
    background-image: url("../images/green_checkmark.png");
    background-position: left center;
    background-repeat: no-repeat;
}
.checklist-checkbox-label {
    padding: 0.5em 0.5em 0.5em 22px;
}
.checklist-checkbox + span:hover {
    background-image: url("../images/gray_checkmark.png");
    background-position: left center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.checklist-checkbox:checked + span:hover {
    background-image: url("../images/green_checkmark.png");
}
.checklistLabel {
    line-height: 2em;
}
.hideNameCheckbox {
    margin: 1em .5em 0 4em !important;
}
.hideNameCheckboxLabel {
    font-size: 100% !important;
}
h3.checklistTitle {
    display: inline-block;
}
legend.no-border {
    border: none;
    margin: 0;
    padding: 0;
}
#additionalSettings {
    margin: 1em 0;
    max-width: 600px;
}
/* Override the jquery ui optional settings stylings. */
.ui-accordion-header.ui-state-default.ui-state-active {
    border-color: #c5c5c5;
    background-color: #ededed;
    color: #212121;
}