.checklistForm {
    margin-left: 1em;
}
#checklistItems {
    display: inline-block;
    width: 90%;
    max-width: 500px;
}
#createdChecklistItems {
    margin-bottom: 1em;
    list-style: none;
}
#createdChecklistItems li {
    background: var(--sakai-background-color-2);
    margin: 0 3px 3px 3px;
    padding: 0.2em 0.4em 0.2em 1.5em;
    font-size: 1.4em;
}
.handle {
    margin-left: -1em;
}

.checklist-icons {
    margin-top: .3em;
}
#createdChecklistItems li:hover {
    border-color: var(--sakai-active-color-1);
    background: var(--sakai-background-color-3);
}
.checklist-item-name {
    line-height: 1.7em;
    width: 85%;
    max-width: 500px;
}
.checklistDescription {
    display: block;
}
#description{
    width: 90%;
    max-width: 500px;
}
.actionContainer {
    float: right;
}
.deleteItemLink {
    margin-top: -3px;
}

ul#createdChecklistItems .handle, ul#createdChecklistItems .handle:hover {
    cursor: move;
}

#addChecklistItemButton { /** Have to use important because tool.css overrides **/
    display: block !important;
}
#addChecklistItemButton:hover { /** Have to use important because tool.css overrides **/
    display: block !important;
}
.titleBorder {
    border-bottom: 1px solid var(--sakai-border-color);
}
#name{
    vertical-align: middle;
}
.checklistFormInput input, .checklistFormInput textarea {
    margin-left: 2em;
    margin-top: .5em;
}
.checklistFormInput label{
    margin-left: 0;
    font-weight: bold;
    color: var(--sakai-text-color-2);
    font-size: 110%;
}

.hideNameCheckbox {
    margin: 1em .5em 0 4em !important;
}
.hideNameCheckboxLabel {
    font-size: 100% !important;
}
h3.checklistTitle {
    display: inline-block;
    margin-top: 0;
}
legend.no-border {
    border: none;
    margin: 0;
    padding: 0;
}
#additionalSettings {
    margin: 1em 0;
    max-width: 600px;
}
/* Override the jquery ui optional settings stylings. */
.ui-accordion-header.ui-state-default.ui-state-active {
    border-color: var(--sakai-border-color);
    background-color: var(--sakai-background-color-2);
    color: var(--sakai-text-color-2);
}

.checklistList {
    display: inline;
}

.checklistList-item {
    display:flex;
}

.checklistList-radio {
    margin-right: 4px;
}

.external-link, .external-unlink {
    cursor: pointer;
}

.dialogs {
    display: none;
}

#additionalSettings h3.checklist-settings-header {
    padding-left: calc(.5em + 16px);
}

.checklistLabel.disabled:hover .externally-linked, .link-broken {
    margin-right: -22px;
    display: inline-block;
    vertical-align: 20px;
    margin-top: 8px;
}

.tooltip-content {
    display: none;


span.externally-linked, label input.checklist-checkbox:checked + span.externally-linked {
    display: none;
}

h3.ui-accordion-header span:last-child {
	margin-left: 1.5em;
}
