/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.portletBody .lb-button {
  font-size: 90%;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.portletBody .lb-button-default {
  color: #058abc;
  border: 1px solid #89b859;
  background-color: #89b859;
  background: #89b859;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #89b859), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #89b859, #ffffff);
  background: -moz-linear-gradient(center bottom, #89b859 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #89b859);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#89b859', GradientType=0);
}
.portletBody .lb-button-default:hover,
.portletBody .lb-button-default:active {
  color: #046184;
  border: 1px solid #639531;
  background-color: #89b859;
  background: #89b859;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffffff), color-stop(1, #89b859));
  background: -ms-linear-gradient(bottom, #ffffff, #89b859);
  background: -moz-linear-gradient(center bottom, #ffffff 0%, #89b859 100%);
  background: -o-linear-gradient(#89b859, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#89b859', endColorstr='#ffffff', GradientType=0);
}
.portletBody .lb-button-primary {
  color: #ffffff;
  border: 1px solid #058abc;
  background-color: #1999cc;
  background: #1999cc;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, none), color-stop(1, none));
  background: -ms-linear-gradient(bottom, none, none);
  background: -moz-linear-gradient(center bottom, none 0%, none 100%);
  background: -o-linear-gradient(none, none);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='none', endColorstr='none', GradientType=0);
}
.portletBody .lb-button-primary:hover,
.portletBody .lb-button-primary:active {
  color: #ffffff;
  border: 1px solid #046184;
  background-color: #058abc;
  background: #058abc;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, none), color-stop(1, none));
  background: -ms-linear-gradient(bottom, none, none);
  background: -moz-linear-gradient(center bottom, none 0%, none 100%);
  background: -o-linear-gradient(none, none);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='none', endColorstr='none', GradientType=0);
}
.portletBody .portletTitle {
  height: 50px;
}
.portletBody .portletTitle .title {
  margin-top: 6px;
}
.portletBody .portletTitle .title h2 {
  color: #058abc;
  font-size: 150%;
  font-weight: bold;
}
.portletBody .action {
  margin-top: 12px;
}
.portletBody .action a {
  margin-right: 10px;
}
.portletBody .action .gradingarea {
  background-color: #66bdde;
  margin-left: 1em;
  padding: 1px 5px;
  display: inline-block;
  font-size: 90%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.portletBody .action .gradingarea .grading-nextprev {
  margin-right: 2px;
}
.portletBody .action .gradingarea .statusImg {
  height: 16px;
  width: 16px;
}
.portletBody .action .gradingarea .comments-points {
  vertical-align: 13%;
}
.portletBody .action .gradingarea .uuidBox,
.portletBody .action .gradingarea .pointsSpan {
  display: none;
}
.portletBody .action .gradingarea .student-points-box {
  font-size: 100%;
}
.portletBody .action .gradingarea .usebutton {
  background: none;
  width: auto;
  *vertical-align: 13%;
  margin-right: 0.5em;
}
.portletBody .action .nextprev {
  width: auto !important;
}
.portletBody .action .nextprev a {
  width: auto !important;
}
.portletBody .lb-toolbar {
  clear: both;
  z-index: 100000;
}
.portletBody .lb-toolbar #toolbar {
  padding: 2px;
  margin: 0;
}
.portletBody .lb-alerts .lb-alert .lb-alert-highlight {
  margin-top: 20px;
  padding: 0.5em 0.7em;
}
.portletBody .lb-alerts .lb-alert .lb-alert-highlight .lb-alert-icon {
  float: left;
  margin-right: 0.3em;
}
