/* portal.css currently sets label to display:block. reverse it but only for our content. have to
   do iframe and inline separately, and for some reason popups  */
#content label,.ui-dialog label,body[onload] label{
  display: inline;
}

/* override for jquery ui */
.ui-state-highlight{
   border: 1px solid #2e83ff;
   background: #f8fcff;
   color: #184993;
}
.ui-front {
	z-index: 100001;
}

/* override portal.css, which sets no background for icon- */

.ui-wrapper .ui-icon-gripsmall-diagonal-se {
   background-image: url("simplepage-theme/images/ui-icons_222222_256x240.png") !important;
}

/* end override */

.title-tools h2{
	padding-top: 0px;
}
.firstColumn {
	width: 5%;
	text-align: center;
}
.secondColumn {
	width: 65%;
	text-align: left;
}
.thirdColumn {
	width: 10%;
	text-align: center;
}
.fourthColumn {
	width: 20%;
	text-align: left;
}
.firstHeader {
	text-align: center;
	font-size: 20px;
}
.secondtHeader {
	text-align: left
}
.thirdHeader {
	text-align: center
}
.fourthHeader {
	text-align: left
}
.bold {
	font-weight: bold
}
.error {
	font-weight: bold;
	font-size: 16px;
	border-style: dotted;
	border-width: 2px;
	background-color: #fdd;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	text-align: center;
}
.expert {
	margin-top: 10px;
	background-color: #eee;
	padding: 5px;
}
.nextprev {
	font-size: 95% !important
}
#error {
	left: 10px;
	margin: 20px;
}
.neoPortletTitleWrap {
	padding-bottom: 4px;
}
.portletTitle .title, .portletTitle .action {
	padding-bottom: 0px !important;
}
.breadcrumbs a[title="Reset"] {

}
.breadcrumbs span {
	display: inline-block;
}
.breadcrumbs span > span {
    margin-left: 5px;
    margin-right:5px    
}
.breadcrumbs span > span.bold {
    margin-left:0;
}
.breadcrumbs + .singlePageTitle {
    display:none
}
.italic {
	font-style: italic
}
.indent {
	margin-left: 20px
}
.indent2 {
	margin-left: 50px
}
.indent3 {
	margin-left: 70px
}
.lessons-messages{
	white-space: pre-line;
}
.hidden {
	visibility: hidden
}
.rightJustify {
	position: absolute;
	right: 0;
}
.fullwidth {
	position: relative;
	text-align: left;
	width: 100%;
}
.border {
	border-style: solid;
	border-width: 2px;
}
.border2 {
	border-style: solid;
	border-width: 2px;
}
.instructionPanel,.controlsPanel {
    border:1px solid #ccc;
    font-size:12px;
    background: #eee;
    padding:5px;
    margin:5px 0
}
.controlsPanel {
    padding:0;
    background:none;
    border: 1px solid transparent;
}
.controlsPanel .shorttext, .controlsPanel .longtext, .controlsPanel .filepicker{
    margin:.4em 0
}
.controlsPanel .act {
    margin:1em 0;
}
.controlsPanel .act .deleteButton, .act .deleteButton {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    color: #c00 !important;    
    text-shadow:none !important;

}
.act .deleteButton {
    float: none
}
.controlsPanel .act .deleteButton:hover, .act .deleteButton:hover {
    background: none !important;
    cursor: pointer;
}
.inset-text {
	margin-top: 1em;
	border-style: solid;
	padding-left: .5em;
	border-width: 2px;
	width: 97%;
}
.fake-disabled {
	color: #999 !important;
	text-decoration: underline;
}
.disabled:link {
	color: #cccccc
}
.disabled-multimedia-item {
	color: #cccccc;
    margin-top:4px;
    display: inline-block;
    /*padding-left: 8px !important;*/
}
.disabled-text-item {
	color: #cccccc;
    margin-top:4px;
}
.disabled:visited {
	color: #cccccc
}
.disabled:active {
	color: #cccccc
}
.disabled:hover {
	color: #cccccc
}
a.ui-button:link, a.ui-button:visited {
	color: black;
	text-decoration: none !important;
}
.gradingTable a.ui-button .ui-button-text{
    font-size:10px;
    font-weight:normal;
}
.ui-buttonset .ui-button {
    margin-right: 3px !important;
}

/* ff2, buttons don't work */
a.edit-link:link, a.edit-link:visited, a.itemLink:link, a.itemLink:visited, a.multimedia-edit:link, a.multimedia-edit:visited, a.edit-youtube:link, a.edit-youtube:visited, a.edit-movie:link, a.edit-movie:visited {
	text-decoration: none !important;
	background-color: #eee;
}
#edit-title {
	margin-left: 1em
}
.ui-button-text {
	padding: 0.25em 0.8em !important
}
.itemclass {
	margin-top: 1.0em;
	margin-bottom: 1.0em;
}
.rowdescription {
	margin: 2px  0px  0px 30px;
}
.description {
    margin-top: 0.5em;
	margin-bottom: 1em;
}
.youtubeWidth {
	width: 100%
}
.shorttext textarea {
	width: 95%
}
#cc-dialog-label {
	width: 95%;
	margin-bottom: 0.5em;
}

.mainList {
    margin: 0;
    padding:0;
    list-style:none;
}
.mainList li {
    position: relative;
/*
    border:1px solid transparent
    padding:26px;
    margin: 15px 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
*/
}
/*.mainList li:hover {
    border: 1px solid #B3B3B3;
}
.mainList li.canEdit > div {
    position: relative;
    padding-left: 40px
}*/
.mainList li.canEdit > div.edit-col, .mainList li.canEdit > div.group-col {
/*    float:left; */
    display: inline-block;
    vertical-align:top;
    padding-top: 0.35em;
    padding-left: 0;
    z-index:4
}
.mainList li.question, .mainList li.studentContentType  {
    margin-top: 10px;
    margin-bottom: 20px;
}
.mainList li.commentsType {
    margin-top: 10px;
    margin-bottom: 0px;
}
.mainList li.textType, .mainList li.multimediaType {
    margin-top: 10px;
    margin-bottom: 10px;
} 
.mainList li.question .multipleChoiceAnswer {
/*    margin:10px 25px; */
}
.mainList li.question .multipleChoiceForm input.bold {
/*    margin:5px 0px 0px 20px !important */
}
.questionStatusText {
/*    padding: 15px 20px; */
}
.mainList li .textbox {

}
/*maybe a universal selector, instead of a p*/
.mainList li .textbox p:first-child{
    margin-top:0;
}
/*maybe a universal selector, instead of a p*/
.mainList li .textbox p:last-child{
    margin-bottom:0;
}

.statusCol {
    vertical-align: top
}

.statusCol,.contentCol {
 display: inline-block;
/*
    position: absolute;
    top:2px;
    left:2px;
    z-index:2;
*/
}
.contentCol {
    width:95%;
}
.link-div h3.link-div-head {
    display:inline;
    font-size:100%;
}

.ui-button-text {
	font-weight: bold;
	padding: 0px 4px !important;
}
.edit-col .ui-button-text, .group-col .ui-button-text, #submit-grading .ui-button-text, .portalmenu .ui-button-text {
	font-size: 60%;
	/*vertical-align: middle;*/
}
.buttonItem {
	padding-left: 20px
}
.offscreen {
	/* from drupal */
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
.columnSetup2 {
    padding:5px;
    float:none;height:100%;overflow:hidden;margin:1em 0
}

.layoutReorderer-module-content {
    padding: 6px;
    width: 95%;
    overflow: auto;
}

.flc-reorderer-module {
    border: 1px solid #ccc;
    margin:5px 0;
    position:relative;
    padding:5px;
}
.flc-reorderer-module:focus {
    outline:1px dashed #000
} 
.flc-reorderer-module:hover {
    border:1px solid #000;
}
.reordSeqContainer {
    position: absolute;
    width:50px;
    top:5;
    left:0;
    padding:5px;
    
}
.reordItemContainer {
     padding: 5px 20px 5px 30px;
}
.reordItemContainerDesc {
    margin-top:5px;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;    
}
.highlightEl {
    background:#ffa
}

.col2 .reordItemContainer {
     padding: 5px;
}
.col2 .reordSeqContainer, .col2 .reordDeleteContainer {
    display: none
}

.reordDeleteContainer {
    position: absolute;
    width:17px;
    top:5px;
    right:5px;

}
/**
 * Interaction styling.
 */

.layoutReorderer-movable-selected {
    border: 1px solid #fff;
}

.layoutReorderer-avatar {
    background-color:#ccc;
    outline: 2px solid #000;
    opacity: 0.5;
    filter: alpha(opacity=50); /* ie opacity fix */
}
.layoutReorderer-avatar .layoutReorderer-module-dragbar, 
.layoutReorderer-avatar .layoutReorderer-module-content {
    /* hide contents of the module's avatar, while dragging. */
    visibility: hidden;
}

.layoutReorderer-movable-dragging {
    margin: 6px 2px 6px 12px;
}

.layoutReorderer-movable-mousedrag {
    /* hide the original module while being dragged. */
    display:none;
}

.layoutReorderer-dropMarker {
    background: #9f9 url("/library/image/silk/arrow_right.png")  1% 50% no-repeat;
    height: 20px;
    padding: 0 0 0 0;
    margin-left: 1em;
    margin-right: 1em;
}

.col1 {
    min-width:60%;
    width:60%;
    min-height:50px;
}
.col2 {
    border: 1px solid #CCCCCC;
    margin-left: 16px;
    margin-top: 4px;
    min-height: 50px;
    min-width: 30%;
    padding: 5px 5px 5px;
    width: 30%;
}
.col1, .col2{
    float:left;
    background:#fff;
}
.deleteListMessage {
    padding:5px;
    padding-left: 25px;
    background: #fff url(/library/image/silk/bin.png) 5px 5px no-repeat;
}
.deleteListMessageEmpty {
    padding:5px;
    padding-left: 25px;
    background: #fff url(/library/image/silk/bin_empty.png) 5px 5px no-repeat;
    
}
.afterheader {
	margin-top: 1em
}
/* also uses nextprev. this is specific for ShowItem */
.returnheader a:link, .returnheader a:visited {
	background-color: #fee !important
}
.returnheader a:hover, returnheader  a:active {
	background-color: #edd !important
}
/* Comments */
h3.author {
	margin-right: 10px;
	font-weight: bold;
	color: #039;
	display: inline;
}
.replaceWithComments {
  margin:5px 5px 5px 20px; 
}
.commentPageTitle {
	margin: 0 10px;
	color: #906;
}
.commentDiv {
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #e4edff;
	padding: 5px 10px;
}
.gradingTable .commentDiv {
    padding:5px;
    margin-top:5px;
    outline:1px solid #ccc;
}
.commentBody {
	margin-top: 3px
}
.commentsCell {
	margin-bottom: 0px;
}
.specialCommenter {
	background-color: white;
	padding: 0 3px 1px 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-right: 12px !important;
}
/* Commenter looking at their own comment */
.personalComment {
	background-color: white !important
}
/* Site Owner Comment */
.ownerComment {
	background-color: #CCCEED !important;
	color: black !important;
}
.item-group-titles {
	font-style: italic;
	color: #930;
	padding-left: 1em;
}
.page-picker-note {
	font-style: italic;
	color: #930;
	padding-left: 0.5em;
	padding-right: 0.25em;
}
.returnwarning {
	font-size: 110%
}
.nextprev .usebutton span {
	font-size: inherit
}
.commentDiv .editLink, .commentDiv .deleteLink,  .commentDiv .replyLink {
    padding:5px;
}
.commentGradePanel {
float:right;
vertical-align:top;
/*
    position: absolute;
    top: 10px;
    right: 0;
*/
}
.commentDiv .editLink:hover, .commentDiv .deleteLink:hover,  .commentDiv .replyLink:hover {
    cursor:pointer;
}
.link-div .usebutton {
	font-size: 160%
}
.add-comment-button {
	margin: 7px 0px 2px 0px
}
.add-peereval-button {
	margin: 0px 0px 2px 0px
}
.add-comment-button span, .add-peereval-button span {
	padding: 2px 8px 2px 8px
}
a.peer-eval-stats {
        font-size:75% !important
}
.peer-eval-title-student {
        font-size:110%;			 
}
.noDisplay {
	display: none
}
.imgCell {
/*
	height: 10px;
	width: 10px;

*/}
.studentCell {
	padding-left: 7px
}
.studentTitle {
	color: black;
	margin-top: 0px;
}
.studentContentTitle, .mainList li.question .questionText, h3.author {
/*	margin:0 2px 5px 3px; 
    display:inline;*/
    font-size:110%;
}
.studentContentTitle {
    display:block;
    margin-bottom: 0.25em;
    margin-top: 15px;
    font-size: 110%;
}
.studentContentTable {
	border: none;
/*	background-color: #e4edff; */
	padding: 4px;
	padding-top: 0.0em;
	padding-left: 8px;
}
.studentContentTable .studentRow{
/*    padding:5px 0; */
}

.duecol {
	padding-left: 2em !important
}
/* Dropdown Menu */
ul#toolbar li {
	display: inline;
	position: relative;
}
ul#toolbar li.dropdown a {
    text-decoration:none
}
ul#toolbar li em {
    font-style:normal;
}
.dropDownDiv {
	position: absolute;
	width: 350px;
	margin-top: 0;
	margin-left: 0.5em;
	background-color: #EEE;
	padding: 5px !important;
	background: #eeeeee !important;
	background: -moz-linear-gradient(top, #eeeeee 0%, #e4e4e4 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#e4e4e4)) !important;
	background: -webkit-linear-gradient(top, #eeeeee 0%,#e4e4e4 100%) !important;
	background: -o-linear-gradient(top, #eeeeee 0%,#e4e4e4 100%) !important;
	background: -ms-linear-gradient(top, #eeeeee 0%,#e4e4e4 100%) !important;
	background: linear-gradient(top, #eeeeee 0%,#e4e4e4 100%) !important;
    border: 1px solid #d1d1d1 !important;
    z-index: 10;
    -webkit-box-shadow: 1px 1px 3px 2px #eeeeee;
    box-shadow: 1px 1px 3px 2px #eeeeee;
}
.dropDownDiv  ul {
    margin:0;
    padding: 0;
}
.dropDownDiv li {
    border-top:1px solid #ccc !important;
    background: #fff !important;
    padding:5px !important;
    margin:0;
    display:block;
}
.dropDownDiv li:first-child {
    border-top:none !important;
}
.dropDownDiv li a {
    display:block;
    padding: 5px 0 !important;
}
.dropDownDiv li div {
    font-size: .85em !important
}
span.nextprev {
	/*
margin-left: 20px;
*/

}
a.nextprev {
	margin-left: 5px;
}
img {
	z-index: 1
}
.statusImg {
	vertical-align: middle;
	margin-right: 1px;
}
.icon-image, .item-image {
	height:16px;
	width:16px;
}
.comment-image, .student-image, .question-image {
       display:none;
}
.unsubmitted {
	background-color: #FFC9D7
}
.gradingPaneLink span, .showPollGraph span {
	font-size: 70%;
	font-weight: normal;
}
.gradingTable {
	border-collapse: collapse;
	margin-top: 20px;
	width:auto !important;
}
.gradingTable th {
       padding-right: 2em;
}
.bottomBorder {
	border-bottom: 1px solid black
}
.topBorder td {
	border-top: 3px solid white
}
.first-row {
   /*
background-color: #e8e8e8
*/
}
.first-row td {
   padding: 0px;
}
.details-row td {
   padding-left: 2em
}
.details-row td:hover {
    background: #fff
}
.gradingarea {
	margin-left: 1em;
	padding: 1px 5px;
	display: inline-block;
	font-size: 90%;
	background-color: #acf;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.backgroundHighlight {
	border: 2px solid black;
	background-color: #F8F8F8;
}
.linkCell {
	margin-top: 0.5em
}
.itemcopylink {
	display: none;
	border: 1px solid black;
	padding: 2px;
	margin-left: 2px;
	text-decoration: none !important;
	background-color: #ffc;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color: black !important;
}
#peer-eval-create-table td, #peer-eval-create-table th {
	padding:5px;
	border: 1px solid black !important;
}
#peer-eval-create-table thead{
	background-color: grey;
	color: white;
}
/* #peer-eval-create-table tbody tr td:first-of-type{ padding-left:30px; } */
#question-correct-text, #question-incorrect-text {
	width: 400px;
	height: 55px;
}
.questionText, .questionStatusText {
	white-space:pre-wrap;
	margin-bottom: 0.5em;
	margin-top: 0em;
}

#question-text-input {
	width: 400px;
}
.question-multiplechoice-answer, .question-shortanswer-answer {
	width: 250px;
}

input[type="submit"].question-submit {
   height:auto !important;
   box-shadow: none !important;
   border: solid 1px #d3d3d3 !important;
}

.questionDiv .contentCol {
 margin-top:5px;
 padding: 5px;
 padding-left: 10px;
 padding-right: 30px;
 background-color: #e4edff;
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 border-radius: 10px;
}

.questionDivControl {
 margin-top: 5px;
 margin-bottom: 10px;
}

div[role="dialog"] {
    -webkit-box-shadow: 1px 1px 2px 1px #ccc;
     box-shadow: 1px 1px 2px 1px #ccc;
}
.commentsType div[role="dialog"] {
    -webkit-box-shadow: 0px 0px 0px 0px #ccc;
     box-shadow: 0px 0px 0px 0px #ccc;
    
}
#multipleChoiceAnswers, #copyableShortanswerDiv {
    line-height:30px;
}

.controlsPanel fieldset {
    margin: 10px 0 
}

.deleteCandidate td:first-child {
    background: transparent url('/library/image/silk/delete.png') 2px 3px no-repeat;
}
.deleteCandidate td:first-child div {
    margin-left: 25px;
}
/* dialog is open, hide all edit links till it closes */
.mainList .edit-colHidden {
    display:none;
}
#hide-items {
    display: none;
}
.pageList {
    padding: 0 10px;
    list-style:none;
}
.pageList li {
    padding-left:5px;
}
.pageList img {
    vertical-align:middle;   
}
.itemListContainer {
    padding-top: 5px;
}
.itemList {
    padding-left: 0px;
    margin-left: 20px;
    display: none;
    list-style:none;
    background-color: #F3F3F3;
    padding-bottom: 1.0em;
    margin-bottom: 0.5em;
}
.text-item-placeholder {
	font-style: italic;
}
.mm-test-text {
    margin-top:0.5em;
    margin-bottom:1.0em;
}

.mm-test-text-p {
    margin-top:0.5em;
    margin-bottom:1.0em;
}

/* neeeded by LB for skinning - goes in tool.css so that the
 * portlet title looks like the rest in the system.
 * 
 * if adopter wants to include overrides in their tool.css these are the 
 * minimal adjustments (to be added [edited] to tool.css so that the title bar looks
 * like the rest of the tools) below:
 * 
    .neoPortletTitleWrap {
        border-bottom: 2px solid #555 !important;
    }
    .portletTitle .action a.help {
        background: url(images/help.gif) center right no-repeat  !important;
    } 
    .portletTitle .action a.help:hover, .portletTitle .action a.help:focus {
        background: url(images/help_h.gif) center right no-repeat  !important;
    }
    .portletTitle .title a.reload {
        background: url(images/reload.png) center left no-repeat !important;
    }
    .portletTitle .title a.reload:hover, .portletTitle .title a.reload:focus {
        background: url(images/reload_h.png) center left no-repeat !important
    }
    
*/
.neoPortletTitleWrap {
    border-radius:0
}
.portletTitle {
    width: 100%;
    height: 100%;
/*    overflow: hidden; */
}
.portletTitle .action {
    padding: 2px -1px 6px 2px;
    float: right;
    vertical-align: middle;
}
.Mrphs-toolTitleNav .action {
    display: inline-block;
}			      
.portletTitle .action a#jsr-edit {
    padding: 2px;
    background: url(../images/page_edit.gif) center right no-repeat;
}
.portletTitle .action a#jsr-edit:hover {
    background: url(../images/page_edit.gif) center right no-repeat
}
.portletTitle .action img {
    margin: 0;
    vertical-align: text-bottom;
    width: 18px;
    border: none;
    height: 18px;
}
.portletTitle .action a.help{
    background: url(../images/help.gif) center right no-repeat;
    text-align: left;
    padding: 0;
    text-decoration: none !important;
    width: 1em;
    height: 1.5em;
    outline: none;
}
.portletTitle .title a:focus, .portletTitle .action a:focus {
    outline: black dotted thin
}
.portletTitle .action a.help:hover, .portletTitle .action a.help:focus img {
    background: url(../images/help_h.gif) center right no-repeat
}
.portletTitle .action a.tool-directurl{
    text-decoration:none;
}
.portletTitle .action a.tool-directurl{
    padding:2px;
    background: url(/library/image/silk/link.png) center right no-repeat;
}
.portletTitle .action a.tool-directurl:hover{
    background: url(/library/image/silk/link_go.png) center right no-repeat;
}
.portletTitle .action a.Mrphs-toolTitleNav__link--directurl{
    background: none;
    display:inline
}
.portletTitle .action a.Mrphs-toolTitleNav__link--directurl:hover{
    background: none
}
a.Mrphs-toolTitleNav__link--help-popup {
    display:inline
}
a.Mrphs-toolTitleNav__link--reset {
    display:inline;
    border:none !important
}
.direct-url-wrap {
    font-size: 85%;
    color: #555;
}
.direct-url-wrap textarea {
    color: #000;
    overflow:auto;
    width:250px;
    display:block;
}
.portletTitle .title {
/*    padding: 2px 4px 6px 0; */
/*    height: 1em; */
    float: left;
/*    color: #000; */
}
.portletTitle .title img {
    margin: 0;
    vertical-align: text-bottom;
    width: 18px;
    border: none;
    height: 18px;
}
.portletTitle .title h2 {
    display: inline;
    margin: 0;
    padding: 0;
/*    color: #444; */
/*    font-weight: bold; */
/*    font-family: 'Helvetica Neue', Arial, sans-serif; */
/*    font-size: 1.2em !important; */
}
.portletTitle .title h2 a {
    text-decoration: none;    
}
.portletTitle .title h2 .siteTitle {
    color: #333
}
.portletTitle .title a.reload {
    background: url(../images/reload.gif) center left no-repeat;
    text-decoration: none !important;
    border: 1px solid #fff;
    height: 1.5em;
    outline: none;
}
.portletTitle .title a.reload:hover, .portletTitle .title a.reload:focus {
    background: url(../images/reload_h.gif) center left no-repeat
}

/*
 alternate treatment for list - can go in tool.css
*/
.edit-col {
/* top: 0.35em; */
}
.right-col {
 display: inline-block;
 position:relative;
 left:5px;
 width:85%
}
.right-col2 {
 position:relative;
 left:5px;
}
.right-col3 {
 position:relative;
 left:10px;
}

/*
.edit-col {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    top: -1px;
    right:-2px;
    z-index:3;
    padding:0;
    float:none;
}

.mainList li:hover .edit-col{
    display:block;
    clip:auto;    
}
.mainList li:hover .edit-colHidden {
    display:none;
}
.mainList li.canEdit > div {
    padding: 0 !important
}

.mainList li .edit-col a.ui-button:link, .mainList li .edit-col a.ui-button:visited,.mainList li .group-col a.ui-button:link, .mainList li .group-col a.ui-button:visited {
    text-decoration: none !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
    width:30px;
    height:30px;
    background-image: url(/library/image/silk/application_edit.png);
    background-position:center center;
    background-repeat: no-repeat;
}

.mainList li .edit-col a span {
    display: none;
}
.mainList li.canEdit:hover {
    border:1px solid #ccc;
}
.mainList li.assessmentType  .edit-col, 
    .mainList li.commentsType  .edit-col, 
    .mainList li.studentContentType  .edit-col, 
    .mainList li.resourceType  .edit-col, 
    .mainList li.assignmentType  .edit-col, 
    .mainList li.forumType   .edit-col, 
    .mainList li.pageType  .edit-col, 
    .mainList li.assessmentType  .edit-col,  
    .mainList li.studentContentType  .edit-col, 
    .mainList li.resourceType  .edit-col, 
    .mainList li.assignmentType  .edit-col, 
    .mainList li.forumType   .edit-col, 
    .mainList li.pageType  .edit-col {
}
.editInProgress {
    background:#eee !important;
    border:1px dashed #aaa !important;
}
.editInProgress * {
    opacity:.50;    
}

*/
 /*
end alternate treatment for list
*/

.Mrphs-toolTitleNav__title {
  width: auto !important;
}
.Mrphs-container--toolTitleNav {
  text-align:right;
}
.Mrphs-toolTitleNav__title {
  float:left;
  text-align:left;
}
.returnwarning, .returnheader, .Mrphs-toolTitleNav__addLeft .usebutton span {
  font-size: .75em;
}
.Mrphs-toolTitleNav__addRight {
  display:inline-block
}
#content, #outer, nav.Mrphs-toolTitleNav {
  xbackground-color:#e8e8e8;
  xbackground-color:#f0f0f0;
}
#content{
  padding-top: 1px;
  padding-bottom: 20px;
}
div.navIntraTool {
  border-top:none;
  xborder-top-color:#e8e8e8;
  xborder-top-color:#f0f0f0;
}

/* temporary, to avoid changing old stuff for the moment */
.edit-col, .group-col {
  padding-top: 0px !important;
}
.mainList > li {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.image-col {
 display: inline-block;
}

/* now formatting for grouped content */

.group-col {
margin-right: 8px;
margin-left:8px;
clear:left;
display:inline-block;
position: relative;
bottom: 13px;
}
.group-col img {
padding-top:1px;
padding-bottom:1px;
border:1px solid #d0d0d0;
background-color:white;
}
.toprow img {
border:1px solid transparent;
background-color:transparent;
}
.edit-col {

display:inline-block;

}
.right-col {
postion:static;
margin-top: 0px !important;
margin-left: 0px;
width:calc(100% - 40px);
}

/* default content */
.right-col {
  left: 12px;
  background-color: #f6f6f6;
  background-color: white;
  border-left: solid #c8c8c8 1px;
  border-right: solid #c8c8c8 1px;
  padding-top:3px;
  padding-bottom:3px;
  padding-left: 15px;
  padding-right: 15px;
}

.edit-col + .right-col {
left:0px;
width:calc(100% - 10em);
}

/* links should be spaced as close as possible to each other, so override padding */
li.resourceType .right-col {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* separation between areas */
.right-col-top .right-col {
 border-top: solid #c8c8c8 1px;
 margin-top: 10px; 
 padding-top:10px;
 border-top-left-radius:5px;
 border-top-right-radius:5px;
}
.right-col-bottom .right-col {
 padding-bottom:10px;
 border-bottom: solid #c8c8c8 1px;
 margin-bottom: 10px;
 border-bottom-left-radius:5px;
 border-bottom-right-radius:5px;
}
.edit-col a:link,.group-col .ui-button {
 background:none;
 border:none;
}
.itemclass {
 margin-top:2.0em !important;
}

@media only screen and (max-width: 1000px) {
.group-col {
margin-right: 1px;
margin-left:1px;
}
.right-col{
  padding-top:2px;
  padding-bottom:2px;
  padding-left: 10px;
  padding-right: 3px;
}
.edit-col + .right-col {
width:calc(100% - 80px);
}
}
@media only screen and (max-width: 800px) {
.contentButton {
  display:none !important;
}
#content {
  margin-right:10px !important;
  margin-left: 30px !important;
  width: calc(100% - 21px) !important;
}}
@media only screen and (max-width: 600px) {
div.group-col {
  display:none !important;
}
.edit-col + .right-col {
width:calc(100% - 50px);
}
}

.lessonsToolButton {
  border-radius:15px !important;
}
.contentButton span {
  padding: 0px !important;
}
