//////////////////////////////
// MODULES: Styles that are layout independent 
//////////////////////////////

@import "_toolnav_variables";

#siteType {
  @extend %element-invisible;
}

// Override !important statement in sitemanage.css TODO file Jira about this.
[class*="icon-"] {
  background-image: none !important;
}

.nav-tools {

  ul {
    display: block;
    margin: 0;
    padding: 0;
    @include no-bullets;

    li {
      display: block;
      width: 100%;
      font-size: $toolnav__font-size;
      line-height: $toolnav__line-height;
      
      a {
        display: block;
        padding: $toolnav__padding;
        width: 100%;
        border-top: transparent 1px solid;
        border-bottom: transparent 1px solid;
        color: $toolnav__color;
        text-shadow: $toolnav__text-shadow;
        text-indent: 0;
        letter-spacing: $toolnav__letter-spacing;
        @extend %break-word;
        @include transition-property(( border-color ));
        @include transition-duration(250ms);
        @include transition-timing-function(ease-in);

        &:before {
          background: transparent;
          color: $toolnav__color;
          text-shadow: $toolnav__text-shadow;
          @include border_radius(1.5em);
          @include transition-property(( color, background, text-shadow ));
          @include transition-duration(250ms);
          @include transition-timing-function(ease-in);
        }
 
        &:hover, 
        &:focus,
        &:active {
          border-top: $toolnav__hover__border-top;
          border-bottom: $toolnav__hover__border-bottom;
          text-decoration: none;

          &:before {
            background: $toolnav__hover__background-color;
            color: $toolnav__hover__color;
            text-shadow: $toolnav__hover__text-shadow;
            display: inline-block;
          }
        }
      }
      
      .workspace & { 
        text-shadow: $toolnav__selected__text-shadow;

        & a:before {
          color: $toolnav__selected__color;
          text-shadow: $toolnav__selected__text-shadow;
        }
      }
      
      &.selectedTool {
      
        a {
          background: $toolnav__selected__background-color;
          color: $toolnav__selected__color;
          border-top: $toolnav__selected__border-top;
          border-bottom: $toolnav__selected__border-bottom;
          text-shadow: $toolnav__selected__text-shadow;
          font-weight: normal;
        
          &:before {
            color: $toolnav__selected__color;
            text-shadow: $toolnav__selected__text-shadow;
          }
        
          &:hover, 
          &:focus,
          &:active {
            border-top: $toolnav__selected__border-top;
            border-bottom: $toolnav__selected__border-bottom;
            color: $toolnav__selected__color;
          }
        }
      } 
    } 
  }
   
   // fixes margins on the toolnav in my workspace area when minimized
  .workspace.sakaiMinimizePageNavigation & ul { 
    margin: 0 .1em;
  }
}

.nav-tools {

  .hidden {

    &:after {
      // adds an invisiblity icon after the item (eye with slash)
      @extend %ico-font-base;
      margin: 0 .25em 0 0;
      padding: .25em;
      color: nth($light-grey,3);
      content: '\e607';
    }
  }
  // fix rendering bug on help icon weird whitespace issue on chrome/safari/firefox
  // check other browsers to see if this the case
  .icon-sakai-help {

    span {
      margin-left: -5px;
    }
  }
}

