<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="templateResolverStrategy" parent="CRITemplateResolverStrategy">
		<property name="baseDirectory" value="templates/" />
	</bean>

	<bean parent="requestAddressibleParent">
		<property name="value" value="beginAssessmentDeliveryBean" />
	</bean>

	<bean id="messageSource"
		class="org.sakaiproject.util.ResourceLoaderMessageSource">
		<property name="basename" value="classpath:org/sakaiproject/tool/assessment/bundle/DeliveryMessages"/>
	</bean>

	<bean class="org.sakaiproject.tool.assessment.rsf.bean.PublishedAssessmentVPInferrer">
	</bean>
	
	<bean id="ignoreFossilizedValues" class="uk.org.ponder.springutil.BooleanFactory">
    	<property name="value" value="true" />
  	</bean>

</beans>
 
