<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="messageSource"
		class="org.sakaiproject.util.ResourceLoaderMessageSource">
		<property name="basename" value="classpath:org/sakaiproject/tool/assessment/bundle/DeliveryMessages"/>
	</bean>

	<!-- Question Search Service -->
	<bean id="org.sakaiproject.tool.assessment.services.question.QuestionSearchService"
		  class="org.sakaiproject.tool.assessment.services.question.QuestionSearchServiceImpl">
		<property name="elasticSearchService"><ref bean="org.sakaiproject.search.elasticsearch.ElasticSearchService" /></property>
		<property name="siteService"><ref bean="org.sakaiproject.site.api.SiteService" /></property>
		<property name="questionPoolService"><ref bean="org.sakaiproject.tool.assessment.services.QuestionPoolService" /></property>
		<property name="assessmentService"><ref bean="org.sakaiproject.tool.assessment.services.assessment.AssessmentService" /></property>
	</bean>

	<context:component-scan base-package="org.sakaiproject.tool.assessment"/>
</beans>
 
