<?xml version="1.0" encoding="UTF-8"?>
         <web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd"
	version="2.5">
  <!-- $Id: web.xml,v 1.8 2005/06/08 03:06:41 daisyf.stanford.edu Exp $ -->
  <display-name>SAM</display-name>
  <description>Sakai Assessment Manager</description>


  <!-- BEGIN SAMIGO JSF CONTEXT PARAM-->
    <context-param>
        <description>
            Set this flag to true if you want the JavaServer Faces
            Reference Implementation to validate the XML in your
            faces-config.xml resources against the DTD.  Default
            value is false.
        </description>
        <param-name>com.sun.faces.validateXml</param-name>
        <param-value>false</param-value>
    </context-param>

    <context-param>
    	<!--  Ordering change required - PAFH 9/7/2006 -->
        <description>
            Set this flag to true if you want the JavaServer Faces
            Reference Implementation to verify that all of the application
            objects you have configured (components, converters,
            renderers, and validators) can be successfully created.
            Default value is false.
        </description>
        <param-name>com.sun.faces.verifyObjects</param-name>
        <param-value>false</param-value>
    </context-param>
   
	<!-- begin SAMIGO RSF context params --> 
   	<context-param>
		<param-name>resourceurlbase</param-name> 
		<param-value>/sakai-samhelper-tool/</param-value>
	</context-param>

	<context-param>
	  <param-name>contextConfigLocation</param-name>
	  <param-value>
	  	classpath:/org/sakaiproject/spring/integrationContext.xml,
	    classpath:/org/sakaiproject/spring/samigoApi.xml,
	    classpath:conf/rsf-config.xml,
	    classpath:conf/blank-applicationContext.xml,
	    classpath:conf/sakai-applicationContext.xml,
	    classpath:conf/sakai-entitybroker-applicationContext.xml,
	    /WEB-INF/applicationContext.xml
      </param-value>
	</context-param>

	<context-param>
	  <param-name>requestContextConfigLocation</param-name>
	  <param-value>
	    classpath:conf/rsf-requestscope-config.xml,
	    classpath:conf/blank-requestContext.xml,
	    classpath:conf/sakai-requestContext.xml,
	    classpath:conf/sakai-entitybroker-requestContext.xml,
	    /WEB-INF/requestContext.xml
	  </param-value>
	</context-param>
    
  <!-- END SAMIGO JSF CONTEXT PARAM-->


  <!-- Filters  -->

  <filter>
    <filter-name>sakai.request</filter-name>
    <filter-class>org.sakaiproject.util.RequestFilter</filter-class>
    <init-param>
      <param-name>remote.user</param-name>
      <param-value>true</param-value>
    </init-param>
    <!--
         Don't use Sakai's built-in upload handling.
         Samigo has its own upload filter below.
    -->
    <init-param>
      <param-name>upload.enabled</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>

  <filter>
    <filter-name>Upload Filter</filter-name>
    <filter-class>com.corejsf.UploadFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>sakai.request</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>

  <filter-mapping>
    <filter-name>Upload Filter</filter-name>
    <url-pattern>/jsf/delivery/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>

  <filter-mapping>
    <filter-name>Upload Filter</filter-name>
    <url-pattern>/jsf/qti/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>

<!--
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
-->

  <filter-mapping>
    <filter-name>Upload Filter</filter-name>
    <url-pattern>/jsf/author/item/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>

  <!-- *******************************************************************  -->

  <!-- Listeners are used to bootstrap application runtime configuration -->
  <!-- Register Samigo with Sakai2 -->
  <listener>
    <listener-class>org.sakaiproject.util.ToolListener</listener-class>
  </listener>

  <!-- PathInfo -->
<!--
  <listener>
    <listener-class>org.sakaiproject.tool.assessment.settings.PathInfoInitListener</listener-class>
  </listener>
-->

  <!-- Spring Locator -->
  <!--  Don't use Spring's, use Sakai's!  This allows sharing of Spring across webapps -->
  <listener>
    <listener-class>org.sakaiproject.util.SakaiContextLoaderListener</listener-class>
  </listener>

  <!-- OKI OSID -->
<!--
  <listener>
    <listener-class>org.sakaiproject.tool.assessment.settings.OkiOsidConfigListener</listener-class>
  </listener>
-->

  <!-- *******************************************************************  -->

  <servlet>
    <servlet-name>sakai.samigo</servlet-name>
    <servlet-class>org.sakaiproject.jsf.util.SamigoJsfTool</servlet-class>
    <init-param>
      <param-name>default</param-name>
      <param-value>jsf/index/mainIndex</param-value>
    </init-param>
    <init-param>
      <param-name>path</param-name>
      <param-value>/</param-value>
    </init-param>
    <init-param>
      <param-name>default.last.view</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
   	<!--  Ordering change required - PAFH 9/7/2006 -->
    <description>Handle on the fly login.</description>
    <display-name>Login</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>org.sakaiproject.tool.assessment.ui.servlet.delivery.LoginServlet</servlet-class>
  </servlet>

  <!--  ShowQTIServlet not used right now, could handle XML exports later on -->
  <servlet>
   	<!--  Ordering change required - PAFH 9/7/2006 -->
    <description>Show QTI XML from XMLDisplay bean.</description>
    <display-name>QTIXML</display-name>
    <servlet-name>ShowQTIServlet</servlet-name>
    <servlet-class>org.sakaiproject.tool.assessment.ui.servlet.qti.ShowQTIServlet</servlet-class>
  </servlet>

  <servlet>
   	<!--  Ordering change required - PAFH 9/7/2006 -->
    <description>Show uploaded media file.</description>
    <display-name>Show Media</display-name>
    <servlet-name>ShowMediaServlet</servlet-name>
    <servlet-class>org.sakaiproject.tool.assessment.ui.servlet.delivery.ShowMediaServlet</servlet-class>
  </servlet>

  <servlet>
   	<!--  Ordering change required - PAFH 9/7/2006 -->
    <description>Download all uploaded media files.</description>
    <display-name>Download All Media</display-name>
    <servlet-name>DownloadAllMediaServlet</servlet-name>
    <servlet-class>org.sakaiproject.tool.assessment.ui.servlet.delivery.DownloadAllMediaServlet</servlet-class>
  </servlet>

  <servlet>
   	<!--  Ordering change required - PAFH 9/7/2006 -->
    <description>Upload audio file from client stream.</description>
    <display-name>UploadAudio</display-name>
    <servlet-name>UploadAudioMediaServlet</servlet-name>
    <servlet-class>org.sakaiproject.tool.assessment.ui.servlet.delivery.UploadAudioMediaServlet</servlet-class>
  </servlet>

  <servlet>
    <description>Download Content Packaging Zip</description>
    <display-name>Download Content Packaging Zip</display-name>
    <servlet-name>DownloadCPServlet</servlet-name>
    <servlet-class>org.sakaiproject.tool.assessment.ui.servlet.cp.DownloadCPServlet</servlet-class>
  </servlet>

  <servlet>
    <description>Show attachment media file.</description>
    <display-name>Show Attachment Media</display-name>
    <servlet-name>ShowAttachmentMediaServlet</servlet-name>
    <servlet-class>org.sakaiproject.tool.assessment.ui.servlet.delivery.ShowAttachmentMediaServlet</servlet-class>
  </servlet>

  <servlet>
    <description>Export Markup Text Assessment</description>
    <servlet-name>ExportMarkupTextServlet</servlet-name>
    <servlet-class>org.sakaiproject.tool.assessment.ui.servlet.export.ExportMarkupTextServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ShowMediaServlet</servlet-name>
    <url-pattern>/servlet/ShowMedia</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>DownloadAllMediaServlet</servlet-name>
    <url-pattern>/servlet/DownloadAllMedia</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ExportMarkupTextServlet</servlet-name>
    <url-pattern>/servlet/ExportMarkupText</url-pattern>
  </servlet-mapping>

  <!-- RSF direct access servlet -->
  <servlet>
    <!-- servlet name must match tool.id in tools xml file -->
    <servlet-name>sakai.samhelper</servlet-name>
    <servlet-class>org.sakaiproject.rsf.servlet.ReasonableSakaiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sakai.samhelper</servlet-name>
    <url-pattern>/rsfaces/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>UploadAudioMediaServlet</servlet-name>
    <url-pattern>/servlet/UploadAudio</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>DownloadCPServlet</servlet-name>
    <url-pattern>/servlet/DownloadCP</url-pattern>
  </servlet-mapping>

    <servlet-mapping>
    <servlet-name>ShowAttachmentMediaServlet</servlet-name>
    <url-pattern>/servlet/ShowAttachmentMedia</url-pattern>
  </servlet-mapping>

  <!-- initialization servlets -->
  <servlet>
   	<!--  Ordering change required - PAFH 9/7/2006 -->
    <description>This servlet stores the Spring application context in memory.</description>
    <servlet-name>storeApplicationContext</servlet-name>
    <servlet-class>org.sakaiproject.tool.assessment.ui.servlet.StoreApplicationContext</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
   	<!--  Ordering change required - PAFH 9/7/2006 -->
    <description>This servlet loads the Facade Queries in memory.</description>
    <servlet-name>initAction</servlet-name>
    <servlet-class>org.sakaiproject.tool.assessment.ui.web.action.InitAction</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <servlet>
   	<!--  Ordering change required - PAFH 9/7/2006 -->
    <description>Set Mime Types File Type Map in memory.</description>
    <servlet-name>initMimeTypes</servlet-name>
    <servlet-class>org.sakaiproject.tool.assessment.ui.servlet.InitMimeTypes</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <!-- BEGIN FACES SERVLET SECTION-->

  <!-- Faces Servlet -->
  <servlet>
      <servlet-name>Faces Servlet</servlet-name>
      <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
      <load-on-startup> 1 </load-on-startup>
  </servlet>

  <!-- Faces Servlet Mappings -->
  <servlet-mapping>
      <servlet-name>Faces Servlet</servlet-name>
      <url-pattern>*.faces</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
      <servlet-name>Faces Servlet</servlet-name>
      <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
      <servlet-name>Faces Servlet</servlet-name>
      <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
      <servlet-name>Faces Servlet</servlet-name>
      <url-pattern>*.xml</url-pattern>
  </servlet-mapping>

  <!-- BEGIN APACHE AXIS SECTION-->
  <!-- 

  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>
        org.apache.axis.transport.http.AxisServlet
    </servlet-class>
  </servlet>

  <servlet>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>
        org.apache.axis.transport.http.AdminServlet
    </servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>

  <servlet>
    <display-name>SOAPMonitorService</display-name>
    <servlet-name>SOAPMonitorService</servlet-name>
    <servlet-class>
        org.apache.axis.monitor.SOAPMonitorService
    </servlet-class>
    <init-param>
      <param-name>SOAPMonitorPort</param-name>
      <param-value>5001</param-value>
    </init-param>
    <load-on-startup>100</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SOAPMonitorService</servlet-name>
    <url-pattern>/SOAPMonitor</url-pattern>
  </servlet-mapping>

-->
 
  <!-- BEGIN SAMIGO JSF SECTION-->

  <!-- JSF TAGLIBS -->
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/include/header.inc</include-prelude>
      <!-- <include-coda>/include/footer.inc</include-coda> -->
    </jsp-property-group>
   	<!--  end jsp-config tag was moved - PAFH 9/7/2006 -->
  </jsp-config>

<!-- END SAMIGO JSF -->
<!-- The taglibs are unnecessary - PAFH 9/7/2006 -->
 <!-- taglib>
    <taglib-uri>http://www.sakaiproject.org/samigo</taglib-uri>
    <taglib-location>/WEB-INF/samigo.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>http://java.sun.com/jsf/core</taglib-uri>
    <taglib-location>/WEB-INF/jsf_core.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>http://java.sun.com/jsf/html</taglib-uri>
    <taglib-location>/WEB-INF/html_basic.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>http://java.sun.com/upload</taglib-uri>
    <taglib-location>/WEB-INF/upload.tld</taglib-location>
  </taglib-->

</web-app>
