#
#  DO NOT TRANSLATE!
#
#  This file defines icon images in the Schedule tool's event legend
#
# Instructions for changing calendar event types:
# 1) update text associated with legend.key1 .. legend.key16 in calendar.properties
# 2) update the corresponding images below
#

legend.icon1  = sakai/academic_calendar.gif
legend.icon2  = sakai/activity.gif
legend.icon3  = sakai/cancelled.gif
legend.icon4  = sakai/class_dis.gif
legend.icon5  = sakai/class_lab.gif
legend.icon6  = sakai/class_lec.gif
legend.icon7  = sakai/class_sma.gif
legend.icon8  = sakai/class_session.gif
legend.icon9  = sakai/computersession.gif
legend.icon10 = sakai/deadline.gif
legend.icon11 = silk/accept.png
legend.icon12 = sakai/meeting.gif
legend.icon13 = sakai/multi-conference.gif
legend.icon14 = silk/star.png
legend.icon15 = sakai/special_event.gif
legend.icon16 = sakai/webassignment.gif
