<!--

    Copyright 2009 The Sakai Foundation

    Licensed under the Educational Community License, Version 1.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.opensource.org/licenses/ecl1.php

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>feedback-tool</display-name>
    
    <description>Sakai Feedback</description>
    
    <servlet>
        <servlet-name>sakai.feedback</servlet-name>
        <servlet-class>org.sakaiproject.feedback.tool.FeedbackTool</servlet-class>
        <load-on-startup>1</load-on-startup>
     </servlet>
     
    <!--sakai-->
    <filter>
        <filter-name>sakai.request</filter-name>
        <filter-class>org.sakaiproject.util.RequestFilter</filter-class>
		<init-param>
			<param-name>http.session</param-name> 
			<param-value>tool</param-value> 
		</init-param>        
    </filter>
    
     <filter-mapping>
       <filter-name>sakai.request</filter-name>
       <servlet-name>sakai.feedback</servlet-name>
       <dispatcher>REQUEST</dispatcher>
       <dispatcher>FORWARD</dispatcher>
       <dispatcher>INCLUDE</dispatcher>
   </filter-mapping>
   
    <listener>
        <listener-class>org.sakaiproject.util.ToolListener</listener-class>
    </listener>  
    
  	<listener>
    	<listener-class>org.sakaiproject.util.SakaiContextLoaderListener</listener-class>
  	</listener>

	<welcome-file-list>
	  <welcome-file>feedback.html</welcome-file>
	</welcome-file-list>

</web-app>

		
