<!-- note: this is used both as a separate HTML page and as a fragment, so don't include BODY, etc. -->

<link rel="stylesheet" type="text/css" media="all" href="/library/skin/tool_base.css"/>
<link rel="stylesheet" type="text/css" media="all" href="/library/skin/default/tool.css"/>


<style type="text/css">
 hr {border:none; border-top: dotted black 2px; margin-left:1em; margin-right: 1em}
</style>

<table cellspacing="15">
<tr>
<td valign="top" width="75%">

<p style="color:#00c">
[If the menu is missing from the top,, use the <b> reset icon</b> at the left end of the title above.]
<p>

<h2> STARTING OUT</h2>
<p>We suggest that you start out by using <b>Add Text</b> to put material on this page. 
<p>Alternatively, you can use <b> Add Multimedia</b> for a Flash presentation, movie, etc.
<p> Then you can put links to additional resources, assignments for the unit, etc, by using the other buttons. If you place the mouse over a button you'll get a brief description of what it does. 
<p> Once you've added content, you'll find <b>Edit</b> buttons next to each item. They can be used to adjust the size of multimedia objects, to change the title, to add descriptive text, etc. They can also activate features that you can use to control the sequence in which items are available. 
<hr>

<h2> Creating Multiple Pages</h2>
<p> If you want to use multiple pages, there are two ways to do it. 
<ol>
<li>You can go to <b>Edit Tools</b> in Site Info and add multiple copies of Lesson Builder. Each copy will appear separately in the left margin. You might create an instance for each unit of your course.
<li> If you want several pages in one unit, you can create a main page for each unit, and then use <b>Add Subpage</b> several times. Once you've created the pages, click on each one to go to the page and add content. 
</ol>

<h2> Other documentation </h2>
<ul>
<li>The <b>Sakai help system</b> has additional details. Use the Help icon 
<img src="/library/skin/default/images/help.gif"> at the upper right of every
Sakai tool.
<li>The <a href="/sakai-lessonbuildertool-tool/templates/instructions/multimedia.html">Adding Multimedia Content</a> has specifics on
including multimedia content in your page.
<li>The <a href="/sakai-lessonbuildertool-tool/templates/instructions/accessibility.html">accessibility introduction</a> 
has a brief description of tools in Lesson Builder to help create accessible content, and pointer to some online
information on Web Accessibility.
</ul>

<hr>

<h2> MORE INFORMATION </h2>

<h2> Going to other pages </h2>

<p> The section above talked about "subpages." These are pages where readers are
expected to the current page when they are finished. 

<p> However it's also possible to add pages to which readers will go next.
You can put a single "Next" button at the bottom, or ask a question
and send the reader to a different page depending upon their answer.
An example to the right shows this.


</td>

<td valign="top" width="25%">
<p style="margin-top:1em">
<img src="/sakai-lessonbuildertool-tool/templates/lb1.gif" style="border: 1px solid black" width="279" height="218">
<br>
<p>Sample page with <b> Add Text</b>,then <b>Assignment</b> and <b>Quiz</b>. The image was inserted in the web editor in <b>Add Text</b>.
<hr>
<p>
<img src="/sakai-lessonbuildertool-tool/templates/lb2.gif" width="201" height="99" style="border: 1px solid black">
<br>
<p>Sample of a unit with several sections: a small <b>Add Text</b>and three <b>subpages</b>, one for each section.
Click on each subpage to add content to it.
<p>
<hr>
<p>
<img src="/sakai-lessonbuildertool-tool/templates/lb3.gif" width="187" height="82" style="border: 1px solid black">
<br>
<p> Going to a different page depending upon an answer.. The two answers are added using <b>Add subpage</b>.
However two options are checked: "Next page" and "Show as button". Note that <b>Add subpage</b> lets
you create a new page or refer to an existing one.

</td>
</tr>
</table>

