<html>
  <head>
    <meta http-equiv="Content-Style-Type" content="text/css" /> 
    <title>general.html</title>
    <link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all" />
    <script type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
    <style>body { padding: 5px !important; }</style>
  </head>
  <body>
<style type="text/css">
 hr {border:none; border-top: dotted black 2px; margin-left:1em; margin-right: 1em}
.textblock {
-moz-border-radius: 1em;
-webkit-border-radius: 1em;
border-radius: 1em;
padding:0em 1em 1em 1em;
border: solid black 1px;
background-color: #ffffdd;
}
.textblock2 {
background-color: #eeeeee;
}

</style>
<table cellspacing="15" role="presentation">
    <tbody>
        <tr>
            <td width="75%" valign="top">
            <h3>Funcionament b&agrave;sic de l'eina Lli&ccedil;ons</h3>
            <div class="textblock">
            <p>Fent &uacute;s de les eines del men&uacute; de la part superior es poden afegir continguts a la p&agrave;gina. Les m&eacute;s usades s&oacute;n:
	      <ul>
		<li> <b>Afegeix text</b> - Permet introduir text mitjan&ccedil;ant un editor. 
		<li> <b>Afegeix un recurs</b> - Permet pujar un recurs o afegir un enlla&ccedil; a un espai web.
		<li> <b>Afegeix contingut multim&egrave;dia</b> - Permet afegir elements que es mostraran a la p&agrave;gina com ara una presentaci&oacute; Flash o un v&iacute;deo.
	      </ul>

            <p>Recomanem comen&ccedil;ar fent clic sobre <b>Afegeix text.</b> Despr&eacute;s podreu <strong>afegir</strong> enlla&ccedil;os a continguts de l'eina de Recursos, a activitats de l'eina Activitats, a proves de l'eina Tests o a temes de l'eina Debat. Feu clic a <b>Afegeix contingut multimèdia</b> per afegir presentacions Flash, v&iacute;deos, enlla&ccedil;os a Youtube, etc. <br />
            <br />
            Al passar el ratol&iacute; per sobre les opcions del men&uacute; es mostra una descripci&oacute; breu del que permet fer l'element. </p>
            <p>Un cop hagueu afegit contingut veureu botons d'edici&oacute; per poder ajustar la mida dels objectes multim&egrave;dia, canviar els t&iacute;tols, afegir text descriptiu, etc. Tamb&eacute; podreu <b>editar </b> els elements de manera que la informaci&oacute; es publiqui seq&uuml;encialment.</p>
            </div>

            <h2>Altres elements que podeu incloure en una p&agrave;gina (si no apareixen directament al men&uacute; els podreu veure fent clic sobre &quot;Altres eines&quot;)</h2>
            <div class="textblock textblock2">
            <ul>
                <li> <b>Afegeix un espai web</b> - Permet pujar un fitxer ZIP amb els continguts. Permet els formats Camtasia, Wimba Create i Articulate, per&ograve; en general es pot pujar qualsevol fitxer ZIP tenint en compte certes precaucions (trobareu m&eacute;s informaci&oacute; m&eacute;s endavant).
  	        <li> <b>Afegeix una subp&agrave;gina</b> - Crea una p&agrave;gina secund&agrave;ria que tamb&eacute; pot contenir tot tipus d'elements i que estar&agrave; enlla&ccedil;ada a l'original.  
	        <li> <b>Afegeix una activitat de l'eina Activitats</b> - Permet seleccionar una activitat de l'eina &quot;Activitats&quot; de Sakai i incloure-la a la p&agrave;gina.
	        <li> <b>Afegeix una prova de l'eina Tests</b> - Permet seleccionar una prova de l'eina &quot;Tests&quot; de Sakai i incloure-la a la p&agrave;gina.
	        <li> <b>Afegeix un tema d'un f&ograve;rum de debat </b> - Permet seleccionar un tema de l'eina &quot;Debat&quot; de Sakai i incloure'l a la p&agrave;gina. 
	        <li> <b>Afegeix una eina externa</b> - Quan sigui necessari usar aquesta funci&oacute;, rebreu la informaci&oacute; apropiada.
	        <li> <b>Afegeix comentaris</b> - Permet que els estudiants afegeixin comentaris.
	        <li> <b>Afegeix continguts dels estudiants</b> - Permet que els estudiants cre&iuml;n les seves p&agrave;gines amb contingut propi. La resta d'estudiants les podran comentar.  
	    </ul>
	    <p>El bot&oacute; "Par&agrave;metres", a la part superior dreta, permet afegir funcionalitats suplement&agrave;ries que s'aplicaran a tota la p&agrave;gina. El bot&oacute; d'edici&oacute; que apareix al costat de cada element permet controlar els par&agrave;metres espec&iacute;fics d'aquell element. </div>

            <h2>M&eacute;s informaci&oacute;</h2>
            <div class="textblock textblock2">
            <ul>
                <li><a href="multimedia_ca.html">Contingut Multim&egrave;dia</a> Instruccions detallades i consells t&egrave;cnics relatius a diferents navegadors. </li>
                <li><a href="accessibility_ca.html">Accessibilitat Web</a> Per crear contingut accessible amb l'eina Lli&ccedil;ons.</li>
                <li><a href="sequencing_ca.html">Seq&uuml;enciaci&oacute;</a> Requerir que es completin tasques abans de publicar-ne de noves.</li>
            </ul>
            </div>
            <h2>Usos habituals</h2>
            <div class="textblock textblock2">
            <p><strong>Lli&ccedil;ons</strong> es pot usar de diverses maneres. Les m&eacute;s habituals s&oacute;n les seg&uuml;ents : </p>
            <ul>
                <li><b> Organitzar els documents per tema o unitat  </b> - Pels temes principals, que segurament voldreu que apareguin al marge esquerra, aneu a <b>Informaci&oacute; de l'espai</b> i creeu una inst&agrave;ncia nova de l'eina Lli&ccedil;ons usant l'opci&oacute; <b>Edita les eines</b>. Aquest proc&eacute;s us requerir&agrave; de posar un t&iacute;tol a la unitat nova. El podreu canviar despr&eacute;s usant el bot&oacute; per editar el t&iacute;tol. </li>
                <li><b> Organitzar els continguts nous  </b> -  Trobareu un exemple a la part dreta de la p&agrave;gina. Hem creat p&agrave;gines que contenen informaci&oacute; sobre tres subtemes espec&iacute;fics, tots ells accessibles des de la p&agrave;gina original mitjan&ccedil;ant enlla&ccedil;os. Per crear una p&agrave;gina com aquesta feu &uacute;s de l'opci&oacute; <b>Afegeix una subp&agrave;gina</b> del men&uacute; de la part superior.
                  <p>Noteu que  &quot;Afegeix una subp&agrave;gina&quot; us ubica dins d'aquesta p&agrave;gina nova per poder afegir-hi continguts. Podeu tornar a la p&agrave;gina original fent &uacute;s dels enlla&ccedil;os que hi ha a la part superior. </p></li></ul></div>
            <h2>&Uacute;s avan&ccedil;at</h2>
            <div class="textblock textblock2">
            <p>Per la majoria de casos n'hi haur&agrave; prou amb els dos m&egrave;todes descrits. Tot i aix&ograve; &eacute;s possible usar <strong>Lli&ccedil;ons</strong> per crear estructures molt m&eacute;s complexes. Presentem altres m&egrave;todes possibles : </p>
            <ul>
                <li><b> Construir una seq&uuml;&egrave;ncia de p&agrave;gines </b> - Algun cop cal que els estudiants segueixin una seq&uuml;&egrave;ncia concreta de p&agrave;gines,  
                  <p>Per afegir una <b>p&agrave;gina seg&uuml;ent</b>, useu <b> Afegeix una subp&agrave;gina</b> seleccionant l'opci&oacute;  &quot;p&agrave;gina seg&uuml;ent&quot;. T&iacute;picament tamb&eacute; voldreu escollir &quot;mostra com a bot&oacute;&quot;. </p>
                  <p>Marcar l'opci&oacute; &quot;p&agrave;gina seg&uuml;ent&quot; crea una p&agrave;gina des de la qual no cal retornar a l'actual.  (Els estudiants sempre poden accedir a qualsevol p&agrave;gina des de l'&iacute;ndex, si no &eacute;s que heu restringit l'acc&eacute;s a la p&agrave;gina.)</p>
                  <p>L'opci&oacute; &quot;mostra com a bot&oacute;&quot; crea un bot&oacute; enlloc d'un enlla&ccedil;.</p>
                </li>
                <li><b> Accedir a p&agrave;gines diferents depenent de l'elecci&oacute; de l'estudiant </b>  - Al marge dret en podeu veure un exemple (cas 3). De vegades segons la resposta a una pregunta es vol que els estudiants accedeixin a p&agrave;gines diferents. Per fer-ho, introduïu la pregunta fent &uacute;s de l'opci&oacute; <b> Afegeix text </b>, i afegiu a sota dos elements <b>p&agrave;gina seg&uuml;ent</b> que apuntin a p&agrave;gines diferents. Per fer-ho, feu &uacute;s <b> Afegeix una subp&agrave;gina </b> dues vegades.
                  <p>L'elecci&oacute; de les opcions de &quot;Afegeix una p&agrave;gina&quot; depenen de com es vulgui organitzar l'espai. Podeu veure a l'exemple 3 com s'empren &quot;Mostra com a bot&oacute;&quot; i &quot;P&agrave;gina seg&uuml;ent&quot;. </p>
                </li>
            </ul>
            </div>
            </td>
            <td width="25%" valign="top">
            <p style="margin-top:1em"><img src="lbimages/LB_Help_General_Lesson_fr.jpg" width="350" height="328"><br><br>
            </p>
            <p>Exemple 1. P&agrave;gina de mostra constru&iuml;da amb <b>Afegeix text</b>,<b>Afegeix una prova</b>, <b>Afegeix una </b><b>activitat</b> i <b>Afegeix un tema d'un f&ograve;rum</b>. La imatge s'ha afegit amb l'editor web que apareix a <b>Afegeix text</b>.</p>
            <hr />
            <p><img src="lbimages/LB_Help_General_Subpage_fr.jpg" alt="Subpages Example " width="339" height="120" border="1" align="center" /></p>
            <p>Exemple 2. Exemple d'una unitat amb diverses seccions: un text curt amb <b>Afegeix text</b> i tres <b>sub-p&agrave;gines</b>, una per cada secci&oacute;. Per afegir continguts a les subp&agrave;gines nom&eacute;s cal fer clic sobre l'enlla&ccedil; corresponent.</p>
            <hr />
            <p><img width="347" height="160" border="1" alt="Buttons Example" src="lbimages/LB_Help_General_Buttons_fr.jpg" /><br />
              <br />
              Exemple 3. Exemple de navegaci&oacute; a p&agrave;gines diferents depenent d'all&ograve; que escullen els estudiants. Les dues respostes s'afegeixen fent &uacute;s de <b>Afegeix una subp&agrave;gina</b>. Hi ha dues opcions marcades: &quot;P&agrave;gina seg&uuml;ent&quot; i &quot;Mostra com un bot&oacute;&quot;. Cal adonar-se que <b>Afegeix una subp&agrave;gina</b> permet crear-ne una de nova o b&eacute; fer refer&egrave;ncia a una d'existent.<br />
  &nbsp;</p>
            </td>
        </tr>
    </tbody>
</table>
  </body>
</html>
