<html>
  <head>
    <meta http-equiv="Content-Style-Type" content="text/css" /> 
    <title>multimedia_es.html</title>
    <link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all" />
    <link href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all" />
    <script type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
    <style>body { padding: 5px !important; }</style>
  </head>
  <body>
<style type="text/css">
<style type="text/css">
 hr {border:none; border-top: dotted black 2px; margin-left:1em; margin-right: 1em}
.textblock {
-moz-border-radius: 1em;
-webkit-border-radius: 1em;
border-radius: 1em;
padding:0em 1em 1em 1em;
border: solid black 1px;
background-color: #ffffdd;
margin-right:345px;
}
</style>
<blockquote>
<p>[<a id="return"  href="general_es.html"> Volver a la p&aacute;gina de ayuda principal </a>]</p>
<script>
   var a = document.getElementById('return');
   if (window.location.search != '')
      a.href=window.location.search.substring(1);
</script>
<h2>A&Ntilde;ADIENDO CONTENIDO MULTIMEDIA</h2>
<div>
<div style="width:335px; float: right; margin-left: 20px; valign:top">
<p style="margin-top:1em">&nbsp; <img width="346" height="260" border="1" src="lbimages/LB_Help_Multimedia_Lesson.png" alt="Ejemplo de unidad con contenido multimedia" /></p>
<p>P&aacute;gina sencilla en la que se ha usado <b>A&ntilde;adir contenido multimedia</b> para a&ntilde;adir un v&iacute;deo de Youtube. Para insertar v&iacute;deos de Youtube, deber&iacute;a ir a la p&aacute;gina que muestre el v&iacute;deo que le interese insertar y, simplemente, copiar la URL desde la barra de direcciones en la parte superior del navegador. No utilice la opci&oacute;n de insertar c&oacute;digo embebido.</p>
<hr />
<p><img width="275" height="290" border="1" alt="Youtube Edit Dialog Box Example" src="lbimages/LB_Help_Multimedia_Youtube_Edit.png" /></p>
<p>Ejemplo del cuadro de di&aacute;logo que se muestra al hacer clic en el bot&oacute;n <b>Editar</b>.</p>
</div>
<div style="valign:top">
<div class="textblock">
<p>Puede insertar en su p&aacute;gina v&iacute;deos, presentaciones Flash, v&iacute;deos en Youtube, otras p&aacute;ginas web, etc.</p>
<p>Si utiliza <b>A&ntilde;adir recurso</b>, &eacute;ste aparecer&aacute; como un enlace que los alumnos podr&aacute;n pulsar.</p>
<p>Si utiliza <b>A&ntilde;adir contenido multimedia</b>, quedar&aacute; insertado en un marco dentro de su p&aacute;gina. Puede ver un ejemplo en la parte derecha de esta p&aacute;gina.</p>
<p>La herramienta reconocer&aacute; el tipo de fichero que est&aacute; usando y pondr&aacute; en la p&aacute;gina un reproductor adecuado para ese tipo de fichero.</p>
<p>Una vez que haya a&ntilde;adido un elemento multimedia, puede usar el bot&oacute;n <b>Editar</b> para ajustar el tama&ntilde;o del marco. La herramienta no es capaz de detectar autom&aacute;ticamente el tama&ntilde;o del v&iacute;deo u otro contenido, as&iacute; que emplea un tama&ntilde;o por defecto. Mostrar&aacute; un marco negro alrededor del elemento multimedia insertado, de forma que pueda ver si el elemento ocupa el tama&ntilde;o indicado. Los alumnos no ver&aacute;n ese marco.</p>
</div>
<h2>Accesibilidad</h2>
<div class="textblock">
<p>Si quiere tener en cuenta en su p&aacute;gina la <b>accesibilidad</b> para alumnos discapacitados, por favor, aseg&uacute;rese de usar el bot&oacute;n <b>Editar</b> para insertar una descripci&oacute;n para las im&aacute;genes y objetos multimedia. Considere la opci&oacute;n de crear una p&aacute;gina solo para presentar el contenido multimedia de una manera accesible y proporcione un enlace a dicha p&aacute;gina. Una forma de hacer esto ser&iacute;a usando <b>A&ntilde;adir subp&aacute;gina</b>.</p>
</div>
<h2>FAQ SOBRE CONTENIDO MULTIMEDIA</h2>
<h2>Precauci&oacute;n al usar Internet Explorer</h2>
<div class="textblock">
<p>NOTA: Aunque &quot;Dise&ntilde;o de unidades&quot; es compatible con Internet Explorer, recomendamos usar otro navegador (p.e. Firefox) cuando prepare una p&aacute;gina con contenido multimedia. Debido a la forma en que Internet Explorer gestiona la seguridad, es posible acceder a una p&aacute;gina que IE luego no le permitir&aacute; editar.</p>
<p>(Si IE tiene alg&uacute;n problema con la p&aacute;gina, a veces no termina de cargarla, y no se mostrar&aacute;n los cuadros de di&aacute;logo que le permitir&iacute;an editarla).</p>
<p>Aseg&uacute;rese tambi&eacute;n, si trabaja con IE, de que todas las URLs usadas en su p&aacute;gina comienzan con &quot;https:&quot;. Si no es as&iacute;, a sus alumnos les aparecer&aacute;n diversos mensajes de aviso, y no podr&aacute;n acceder a algunos de los contenidos multimedia. Si hacer esto no le resulta posible, use Firefox.</p>
</div>
<h2>Formatos recomendados</h2>
<div class="textblock">
<p>Por el momento recomendamos el uso de v&iacute;deos en formato FLV, mientras no sea necesario soportar dispositivos Apple como, por ejemplo, un iPad. &quot;Dise&ntilde;o de unidades&quot; utiliza un reproductor Flash.</p>
<p>Si necesita dar soporte a dispositivos Apple, la mejor opci&oacute;n ser&iacute;a utilizar contenidos en formato MP4. Aun as&iacute; los ficheros MP4 requerir&iacute;an una preparaci&oacute;n especial. El formato MP4 tiene muchas opciones, y no todas las soportan los dispositivo iPad e iPhone. Tampoco todos los conversores generan ficheros que se reproduzcan inmediatamente en el reproductor, sin esperar a que se haya descargado el fichero completo. Puede utilizar Quicktime Pro y usar la opci&oacute;n &quot;exportar&quot; usando el perfil &quot;Movie to iPhone&quot;. Cambie la extensi&oacute;n del fichero de .m4v a .mp4.</p>
<p>Desgraciadamente, las pruebas realizadas con ficheros MP4 en Windows dan diversos resultados al usar los reproductores inclu&iacute;dos en el sistema operativo. Por ese motivo la herramienta se ha configurado para reproducir los ficheros MP4 usando Flash, siempre que est&eacute; disponible. Recomendamos que adviertan a los alumnos que deben instalar Flash para acceder correctamente a los contenidos multimedia. Quicktime y Windows Media a veces pueden reproducir ficheros MP4, pero no siempre con buenos resultados en Windows. Concretamente, suele haber problemas para que los ficheros sean reproducidos inmediatamente cuando Flash no est&aacute; instalado.</p>
</div>
<h2>Problemas con el tama&ntilde;o de las im&aacute;genes</h2>
<div class="textblock">
<p>Despu&eacute;s de <b>A&ntilde;adir contenido multimedia</b>, puede usar el bot&oacute;n <b>Editar</b> para ajustar el tama&ntilde;o. Por defecto, a la imagen se le asigna un alto de 300 pixels y la anchura de la ventana como ancho. Ese tama&ntilde;o deber&iacute;a permitir ver el contenido, pero puede ajustarlo al tama&ntilde;o exacto de su v&iacute;deo o Flash.</p>
<p>Algunos reproductores deformar&aacute;n o cortar&aacute;n la imagen si no fija correctamente su tama&ntilde;o. Versiones antiguas de Windows Media Player (p.e. en Windows XP) son especialmente propensas a hacer eso. As&iacute; que para insertar v&iacute;deos , es mejor ajustar el tama&ntilde;o para que coincida con el del v&iacute;deo.</p>
</div>
<h2>Ubicaci&oacute;n de los ficheros cargados</h2>
<div class="textblock">
<p>La funcionalidad &quot;Subir fichero&quot; normalmente pone los ficheros en carpetas separadas para cada una de las unidades de la herramienta (es decir, para cada uno de los enlaces del margen izquierdo). Si prefiere organizar los ficheros de otra forma, puede subir sus ficheros usando la herramienta &quot;Recursos&quot; y organizarlos a su antojo. Puede entonces usar &quot;Seleccionar un fichero existente&quot; para insertar sus ficheros en sus diversas unidades.</p>
<p>Las URLs se almacenan como ficheros en una carpeta, dentro de la de la unidad correspondiente, llamada <b>urls</b>.</p>
</div>
<h2>Ayudando a sus alumnos</h2>
<div class="textblock">
<p>Desgraciadamente, la reproducci&oacute;n de v&iacute;deos, Flash, etc. suele variar entre diferentes navegadores. Puede crear unidades diferentes para diferentes tipos de fichero que vaya a usar; de esa forma, sus alumnos pueden estar seguros de que tienen instalados los plug-ins necesarios para seguir cada unidad.</p>
</div>
<h2>Problemas conocidos</h2>
<div class="textblock">
<ol>
    <li>La versi&oacute;n para Mac de Windows Media Player a veces muestra una imagen negra aunque el fichero sea p&uacute;blico. Puede hacer que un fichero sea p&uacute;blico usando la herramienta <b>Recursos</b> con la opci&oacute;n <b>Revisar propiedades</b>. Si tiene varios ficheros que quiere hacer p&uacute;blicos, puede agruparlos en una carpeta y hacer &eacute;sta p&uacute;blica.</li>
    <li>Usando el navegador Safari en Macintosh, si edita un v&iacute;deo de Youtube y cambia la URL, cuando la p&aacute;gina se actualice no se mostrar&aacute; el reproductor. Debe refrescar la p&aacute;gina para que el reproductor se muestre de nuevo. Los alumnos no observar&aacute;n ning&uacute;n problema.</li>
    <li>Internet Explorer mostrar&aacute; mensajes de aviso a no ser que todas las URLs de la p&aacute;gina usen https. Los ficheros almacenados en Sakai se enlazar&aacute;n autom&aacute;ticamente con la URL apropiada, pero si define manualmente alguna, debe tener cuidado.&nbsp;</li>
    <li>En Windows puede ser necesario que los usuarios tengan que ajustar la configuraci&oacute;n de seguridad de Internet Explorer. Para algunos reproductores, es necesario activar ActiveX. Puede incluso que no aparezca ning&uacute;n mensaje de que hay alg&uacute;n tipo de problema, solo un recuadro vac&iacute;o en el lugar donde deber&iacute;a mostrarse su contenido.</li>
    <li>Algunos reproductores no mostrar&aacute;n su contenido si est&aacute; usando https y la p&aacute;gina a la que est&aacute; enlazando no tiene un certificado instalado.</li>
    <li>Si un plugin necesita mostrar un cuadro de di&aacute;logo al usuario, puede fallar. P.e., despu&eacute;s de instalar Acrobat, la primera vez que se ejecuta hace falta aceptar la licencia. Con Firefox se le mostrar&aacute; el cuadro de di&aacute;logo para hacer esto, pero con Internet Explorer solo aparecer&aacute; un recuadro vac&iacute;o.</li>
</ol>
</div>
</div>
</div>
</blockquote>
  </body>
</html>
