<html>
  <head>
    <meta http-equiv="Content-Style-Type" content="text/css" /> 
    <title>general.html</title>
    <link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all" />
    <script type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
    <style>body { padding: 5px !important; }</style>
  </head>
  <body>
<style type="text/css">
 hr {border:none; border-top: dotted black 2px; margin-left:1em; margin-right: 1em}
.textblock {
-moz-border-radius: 1em;
-webkit-border-radius: 1em;
border-radius: 1em;
padding:0em 1em 1em 1em;
border: solid black 1px;
background-color: #ffffdd;
}
.textblock2 {
background-color: #eeeeee;
}
li {
}

</style>
<body>
  <div class="textblock">
<h3>How to add content to this page</h3>

You can add content in two ways:
<ul>
<li> The <b>"Add Content +" button</b> at the top will add a new item at the bottom of the page.
<li> The <b>"+" icon</b> to the right of each existing item will add a new item above that one.
</ul>

Both of these will bring up the Add Content dialog. The most commonly used options in that dialog are

<ul>
<li><b> Add Text </b> - Add text with a rich text editor.
<li><b> Add Content Links </b> - Add links to files, web pages, or images.
<li><b> Embed Content on Page </b> - Place images or video on the page.
<li><b> Add Assignment </b> - Link to an assignment in the Assignments tool.
<li><b> Add Forum or Topic </b> - Link to a forum or topic in the Forums tool.
<li><b> Add Subpage </b> - Add a new page. A link to it will appear on this page.
</ul>

<p>
You can add other types of content as well. For more information, see <a href="general.html"> Getting Started with Lessons </a>
</div>
</body>

