<html>
  <head>
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <title>Primers passos per crear continguts</title>
    <link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all" />
    <link href="/library/skin/default-skin/tool.css" type="text/css" rel="stylesheet" media="all" />
    <script type="text/javascript" src="/library/js/headscripts.js"></script> 
  </head>
  <body>
    <div class="card">
      <div class="card-header">
        Primers passos per crear continguts
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 mb-4">
            <h2>Primers passos per crear continguts</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="d-flex align-items-start mb-3">
              <div class="me-3">
                <img src="lesson_getting_started_img/add-content.png" class="img-fluid" style="max-width: 100px;" alt="Add Content">
              </div>
              <p class="flex-grow-1 mt-2">Fes clic a la pestanya "Afegir contingut" per afegir contingut al final de la p&agrave;gina.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="d-flex align-items-start mb-3">
              <div class="me-3">
                <img src="lesson_getting_started_img/plus-bottom.png" class="img-fluid" style="max-width: 100px;" alt="Add Content at Bottom">
              </div>
              <p class="flex-grow-1 mt-2">Fes clic al bot&oacute; "+" al final d'una secci&oacute; per afegir contingut nou al final de la secci&oacute;.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="d-flex align-items-start mb-3">
              <div class="me-3">
                <img src="lesson_getting_started_img/plus-up-right.png" class="img-fluid" style="max-width: 100px;" alt="Add Content Above">
              </div>
              <p class="flex-grow-1 mt-2">Fes clic al bot&oacute; "+^" a la part dreta d'un element per afegir nou contingut a sobre d'aquest element.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-4">
            <h2>Afegir seccions / columnes</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="d-flex align-items-start mb-3">
              <div class="me-3">
                <img src="lesson_getting_started_img/plus-section-break.png" class="img-fluid" style="max-width: 100px;" alt="Add Section Break">
              </div>
              <p class="flex-grow-1 mt-2">Fes clic al bot&oacute; "+" o "+^" a la part dreta d'un element per afegir una secci&oacute; a sobre d'aquest element.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="d-flex align-items-start mb-3">
              <div class="me-3">
                <img src="lesson_getting_started_img/plus-column-break.png" class="img-fluid" style="max-width: 100px;" alt="Add Column Break">
              </div>
              <p class="flex-grow-1 mt-2">Fes clic al bot&oacute; "+" o "+^" a la part dreta d'un element per afegir una columna a sobre d'aquest element.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  </html>
