<html>
  <head>
    <meta http-equiv="Content-Style-Type" content="text/css" /> 
    <title>sequencing.html</title>
    <link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all" />
    <script type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
    <style>body { padding: 5px !important; }</style>
  </head>
  <body>
<style type="text/css">
 hr {border:none; border-top: dotted black 2px; margin-left:1em; margin-right: 1em}
.textblock {
-moz-border-radius: 1em;
-webkit-border-radius: 1em;
border-radius: 1em;
padding:0em 1em 1em 1em;
border: solid black 1px;
background-color: #ffffdd;
}

</style>

<blockquote>
<p>[<a href="general_ca.html"> Retorna a la p&agrave;gina d'ajuda principal</a>]</p>
<h3>COM SEQ&Uuml;ENCIAR AMB L'EINA LLI&Ccedil;ONS</h3>
<table role="presentation">
    <tbody>
        <tr>
            <td width="75%" valign="top" style="padding-right: 15px">
            <div class="textblock">
            <p>Pot ser que hi hagi usuaris amb la necessitat de controlar l'ordre en qu&egrave; els estudiants segueixen la unitat. Hi ha casos en que aquesta necessitat &eacute;s un requeriment de grups externs, particularment en el cas de material usat en certificacions.</p>
            <p>L'eina Lli&ccedil;ons intenta evitar el for&ccedil;ar els usuaris a seguir una ruta espec&iacute;fica al treballar els materials. Permet declarar requeriments espec&iacute;fics per&ograve; deixant als estudiants la llibertat de consultar qu&egrave; hi ha m&eacute;s endavant si aquest fet no viola els requeriments.</p>
            <p>La seq&uuml;&egrave;ncia s'estableix especificant alguns elements com a obligatoris. Si &eacute;s necessari podeu declarar que certs elements no es poden veure fins que s'hagin completat uns altres que en s&oacute;n requeriment.</p>
            </div>
            </td>
            <td width="25%" valign="top">
            <p style="margin-top:1em"><img width="275" height="101" border="1" src="lbimages/LB_Help_Sequencing_Sequence.png" alt="Sequence Example" /></p>
            <p><i>Exemple 1.</i> P&agrave;gina de mostra amb dos elements obligatoris i un examen que es publicar&agrave; si es cumpleix certa condici&oacute;. L'activitat de F&ograve;rums amb la marca verda est&agrave; completada. L'activitat amb l'estrella negra encara s'ha de completar. L'examen est&agrave; enfosquit perqu&egrave; no ser&agrave; p&uacute;blic pels estudiants fins que hagin completat els elements anteriors.</p>
            </td>
        </tr>
    </tbody>
</table>
<h3>Un exemple</h3>
<div class="textblock">
<p>Un escenari t&iacute;pic podria ser:</p>
<ul>
    <li>Cada unitat cont&eacute; materials de lectura i un examen de control. Una ag&egrave;ncia posa com a requeriment que els estudiants no obtindran uns cr&egrave;dits si no han llegit part del material.</li>
    <li>Un cop els estudiants hagin completat totes les unitats poden fer l'examen final de certificaci&oacute;.</li>
</ul>
<p>Per dur a terme tot aix&ograve; podeu organitzar el material en unitats, amb un examen com a darrer element en cada una. Amb el bot&oacute; <b>Edita</b> podeu marcar com a &quot;Obligatoris&quot; els elements. En el cas de l'examen de la unitat cal que marqueu &quot;No el publiquis fins que s'hagin completat tots els prerequisits&quot;. Mentre estigui marcat &quot;No el publiquis..&quot; l'element corresponent es mostrar&agrave; de color gris fins que tots els elements anterior marcats com a &quot;Obligatoris&quot; s'hagin completat.</p>
<p>Podeu declarar unitats senceres com a &quot;Obligatori&quot;, fent &uacute;s del bot&oacute; <b> Configuraci&oacute; </b> que apareix al costat del <b>T&iacute;tol</b> de la unitat.</p>
<p>En aquest exemple, totes les unitats es poden configurar com a &quot;Obligatori.&quot; Hi haur&agrave; una unitat final que contindr&agrave; nom&eacute;s l'examen de certificaci&oacute; final. Es configuraria &quot;No el publiquis fins que s'hagin completat tots els prerequisits&quot;.</p>
</div>
<h3>Com for&ccedil;ar un ordre espec&iacute;fic</h3>
<div class="textblock">
<p>Recomanem que no especifiqueu m&eacute;s requeriments dels necessaris. Si feu tots els elements obligatoris i hi restringiu l'acc&eacute;s &eacute;s possible for&ccedil;ar els estudiants a treballar els elements en un ordre fixat. Normalment, per&ograve;, no hi ha necessitat de fer-ho.</p>
<p>Per exigir que els elements es treballin en un cert ordre els podeu configurar tots com a obligatoris i també configurar-los tots menys el primer com a &quot;No el publiquis fins que s'hagin completat tots els prerequisits&quot;. Com que els &quot;no el publiquis&quot; nom&eacute;s publica un element quan tots els anteriors s'han completat, aquesta configuraci&oacute; els for&ccedil;a a fer-los en una seq&uuml&egrave;ncia.</p>
</div>
<h3>Activitats i proves obligat&ograve;ries</h3>
<div class="textblock">
<p>Fer que activitats i proves siguin obligat&ograve;ries &eacute;s una mica m&eacute;s complicat que en el cas de les lectures. Podeu posar simplement com a requeriment que els estudiants els facin. Per&ograve; tamb&eacute; podeu demanar una puntuaci&oacute; m&iacute;nima.</p>
<p>Si es posa una puntuaci&oacute; m&iacute;nima cal pensar qu&egrave; fer si l'estudiant no l'assoleix. Podeu voler permetre que l'estudiant pugui tornar a presentar la prova o l'activitat. Aquest fet es controla a les eines corresponents, Activitats i Tests.</p>
<p>Cal adonar-se que &eacute;s possible dins d'una unitat declarar m&eacute;s d'un element com a  &quot;No el publiquis ...&quot;. D'aquesta manera &eacute;s possible que hi hagi diverses lectures obligat&ograve;ries, una activitat que no estar&agrave; disponible fins que s'hagin completat les lectures, algunes lectures m&eacute;s i una prova o una activitat final. Un element marcat com a &quot;No el publiquis &quot; estar&agrave; disponible quan tots els elements obligatoris <b>anteriors</b> s'hagin completat.</p>
<p>Tot aix&ograve; vol dir que podeu for&ccedil;ar els estudiants a anar seguint els materials d'una unitat en un ordre fent que siguin tots ells obligatoris, i configurant-los tots menys el primer com a &quot;No el publiquis&quot;. Tanmateix, cal dir que l'eina Lli&ccedil;ons no es va dissenyar seguint aquesta idea i pot ser que no sigui la millor eina per elaborar seq&uuml;&egrave;ncies estrictament lineals.</p>
</div>
</blockquote>
  </body>
</html>
