<html>
<head >
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
<script src="/library/js/headscripts.js" language="JavaScript" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" media="all" href="/library/skin/tool_base.css"/>
<style type="text/css">
 hr {border:none; border-top: dotted black 2px; margin-left:1em; margin-right: 1em}
.textblock {
-moz-border-radius: 1em;
-webkit-border-radius: 1em;
border-radius: 1em;
padding:0em 1em 1em 1em;
border: solid black 1px;
background-color: #ffffdd;
}

</style>

<body  onload="setMainFrameHeight('Main3d9c20bexcbc5x45c7x85a4xdf613b41b603')">

<p>
[<a href="general_en_US_DEBUG.html"> Back to main help screen</a>]
</p>

<p>You are using the en_US_DEBUG locale. This file is 'lessonbuilder/tool/src/webapp/templates/instructions/accessibility_en_US_DEBUG.html'. The File you have to translate is 'lessonbuilder/tool/src/webapp/templates/instructions/accessibility.html'. You have to add your locale to the file name for your translation. If your locale was 'ca', the translated file name would be 'lessonbuilder/tool/src/webapp/templates/instructions/accessibility_ca.html'.</p>

</body>
</html>
