<!-- note: this is used both as a separate HTML page and as a fragment, so don't include BODY, etc. -->

<link rel="stylesheet" type="text/css" media="all" href="/library/skin/tool_base.css"/>


<style type="text/css">
 hr {border:none; border-top: dotted black 2px; margin-left:1em; margin-right: 1em}
.textblock {
-moz-border-radius: 1em;
-webkit-border-radius: 1em;
border-radius: 1em;
padding:0em 1em 1em 1em;
border: solid black 1px;
background-color: #ffffdd;
}

</style>

<p>You are using the en_US_DEBUG locale. This file is 'lessonbuilder/tool/src/webapp/templates/instructions/student_en_US_DEBUG.html'. The File you have to translate is 'lessonbuilder/tool/src/webapp/templates/instructions/general.html'. You have to add your locale to the file name for your translation. If your locale was 'es_ES', the translated file name would be 'lessonbuilder/tool/src/webapp/templates/instructions/student_es_ES.html'.</p>

<p><a href="/lessonbuilder-tool/templates/instructions/multimedia_en_US_DEBUG.html">Adding Multimedia Content</a></p>
<p><a href="/lessonbuilder-tool/templates/instructions/accessibility_en_US_DEBUG.html">accessibility introduction</a></p>
<p><a href="/lessonbuilder-tool/templates/instructions/sequencing_en_US_DEBUG.html">sequencing introduction</a></p>
