<html>
<head >
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
<script src="/library/js/headscripts.js" language="JavaScript" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" media="all" href="/library/skin/tool_base.css"/>
<link rel="stylesheet" type="text/css" media="all" href="/library/skin/default/tool.css"/>
<style type="text/css">
 hr {border:none; border-top: dotted black 2px; margin-left:1em; margin-right: 1em}
.textblock {
-moz-border-radius: 1em;
-webkit-border-radius: 1em;
border-radius: 1em;
padding:0em 1em 1em 1em;
border: solid black 1px;
background-color: #ffffdd;
margin-right:345px;
}

</style>

<body  onload="setMainFrameHeight('Main3d9c20bexcbc5x45c7x85a4xdf613b41b603')">
<blockquote>
<p>
[<a href="general.html"> Back to main help screen</a>]

<h2> ADDING CONTENT FROM PACKAGES SUCH AS CAMTASIA, WIMBA CREATE AND ARTICULATE</h2>

<p>
The "Add website" dialog allows you to upload content contained in a ZIP file.
There is specific support for Camtasia, Wimba Create, and Articulate, but
any ZIP file containing resources may be uploaded.

<p> For formats that we recognize, including Camtasia, Wimba Create, and Articulate, 
an item will be created in Lesson Builder that will lead to the content.

<p> This will also work for ZIP files containing a file index.html or index.htm at
the top level. The Lesson Builder item will point to that file.

<p> In other cases, Lesson Builder will upload the content, but it will not add
an item. You may use "Add Resource" with "Choose Existing File" to locate and add any files that you want to appear in
your Lesson Builder page.


</body>
</html>
