## $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/news/chef_news-customize.vm,v 1.4 2005/05/24 20:13:51 suiyy.umich.edu Exp $

<script type="text/javascript" language="JavaScript">
  focus_path = ["$formfield_channel_title"];
</script>
<div class="portletBody">
	<h3>
		$tlang.getString("cus.cus")
	</h3>

#if ($alertMessage)
		<div class="alertMessage">$tlang.getString("gen.alert") $validator.escapeHtml($alertMessage)</div>
		<div class="clear" />
#end
<p class="instruction">
	$tlang.getString("revise.required")  <span class="reqStarInline">*</span>
</p>
		<form name="customize" id="customize" action="#toolForm("$action")" method="post">
			<p class="shorttext">
				<span class="reqStar">*</span>
				<label for="$formfield_channel_title">
					$tlang.getString("cus.franam")
				</label>
				<input 
					type="text" 
					name="$formfield_channel_title" 
					id="$formfield_channel_title" 
					value="$validator.escapeHtml($!current_channel_title)"
					size="50" />
			</p>
#if ($!pageTitleEditable)
			<p class="shorttext">
				<span class="reqStar">*</span>
				<label for="$formfield_page_title">
					$tlang.getString("cus.pagnam")
				</label>
				<input 
					type="text" 
					name="$formfield_page_title" 
					id="$formfield_page_title" 
					value="$validator.escapeHtml($!current_page_title)"
					size="50" />
			</p>
#end
			<p class="instruction labelindnt">$tlang.getString("cus.sugleg")</p>
			<p class="shorttext">
				<span class="reqStar">*</span>
				<label for="$formfield_channel_url">
					$tlang.getString("cus.intadd")
				</label>
				<input 
					type="text" 
					name="$formfield_channel_url" 
					id="$formfield_channel_url" 
					value="$validator.escapeHtml($!current_channel_url)"
					size="50" />
			</p>
			<p class="act">
				<input type="submit" class="active" name="$form-submit" value="$tlang.getString("gen.sav")" accesskey="s" />
				<input type="submit" name="$form-cancel" value="$tlang.getString("gen.can")" accesskey="x" />
			</p>
			<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
		</form>
	</div>
