## $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/news/chef_news-Layout.vm,v 1.3 2005/05/25 17:42:01 gsilver.umich.edu Exp $
## chef_news-Layout.vm, use with org.chefproject.NewsAction.java
##     context: $panel-monitor: String list panel url addition
##              $panel-control: String controls panel url addition
##
<div class="portletBody">
	#if($menu)#toolbar($menu)#end
	#if ($alertMessage)
		<div class="alertMessage">
			$tlang.getString("gen.alert") $validator.escapeHtml($alertMessage)
		</div>
		<div class="clear" />
	#end
		#if($channel.ImageUrl)
			<div style="text-align: center;margin-top:1em;float:right">
					<a href="$channel.ImageLink" target="_blank">
						<img src="$channel.ImageUrl" border="0" alt="$channel.ImageTitle" alt="$channel.ImageDescription" /> ##omit size info - ie will assume 0 if not present
					</a>
			</div>
		#end
		#if($channel.Title)
			<h3>
			#if($channel.Link)
				<a href="$channel.Link" target="_blank" title="$channel.Title">
			#end
				$channel.Title
			#if($channel.Link)
				</a>
			#end
			</h3>
		#end
		#if($channel.Description)
			<p class="textPanel">
				$channel.Description 
			</p>
		#end
		<p class="textPanelFooter">

		#if($channel.Copyright)
			- $channel.Copyright
		#end
		#if($channel.Lastbuilddate)
			 - $dateFormat.format($channel.LastbuilddateInDateFormat)
		#end
		</p>

		<hr class="itemSeparator" />
		
		## List of feed items
		<div class="portletBody">
		#foreach ($item in $news_items)
			#if($item.Title)
				<h4 class="textPanelHeader">
					#if($item.Link)
						<a href="$item.Link" target="_blank" title="$tlang.getString("goto.item")">
					#end
					$item.Title
					#if($item.Link)
						</a>
					#end
				</h4>
			#end
			#if($item.Description)
				<div class="textPanel">
					$item.Description
				</div>	
				<p class="textPanelFooter">
			#if($item.Link)
				 <a href="$item.Link" target="_blank" title="$tlang.getString("goto.item")">($full_story)</a>
			 #end
			#foreach ($enc in $item.Enclosures)
			 	<a href="$enc.Url" target="_blank" title="$enc.Ur)">$enc.Url</a> ($enc.Type, $enc.Length Bytes) <br>
			#end
			 #if($item.Pubdate)
				($dateFormat.format($item.PubdateInDateFormat))
			#end
			</p>

		#end	
		#end
	</div>
</div>

