.navIntraTool{
	font-size: 0.8em;
	border-top: 1px solid $background-color-secondary;
	padding: #{$default-font-size / 2} 0 0 0;
	margin: 0 0 0.75em 0;
	li{
		display: inline-block;
		margin: 0.4em 0.5em 0.4em 0 !important;
		span{
			margin:  0 0 0 0;
			padding: 0 0 0 0;
			border-left: 0px none;
			a{
				@include sakai-button( $background-color, darken( $background-color, 10% ), darken( $background-color, 10% ), $text-color );
			}
			&.current{
				a{
					@include sakai-button( $primary-color, darken( $primary-color, 5% ), $primary-color, $background-color );
				}
			}
			&.inactive{
				border-left: 0px none;
			}
		}
		a{
			@include sakai-button( $background-color, darken( $background-color, 10% ), darken( $background-color, 10% ), $text-color );
			&.current{
				@include sakai-button( $primary-color, darken( $primary-color, 5% ), $primary-color, $background-color );
			}
		}
		.searchField{
			margin: 0 0 0 0.8em;
			padding: 0.35em 0.55em;
		}
	}
}

.instruction{
	font-size: 0.8em;
	background: $warncolor;
	border: 1px solid darken($warncolor, 15%);
	padding: 0.7em 0.8em;
}

.listNav{
	.instruction{
		float: left;
		font-size: 0.8em !important;
		margin: 0 0.5em 0 0;
	}
}