.navIntraTool{
	margin: -14px -14px 0 -14px;
	background: $tool-background-color;
	border-bottom: 1px solid $toolBorderColor;
	padding: 0 170px 0 1em;
	//max-width: calc(100% - 170px);
	@media #{$phone}{
		padding: 0.3em 0.7em;
		//max-width: 100%;
	}
	&:after{
		content: " ";
		display: block;
		width: 100%;
	}
	li{
		display: inline-block;
		margin: 0 0 0 0;
		span{
			display: inline;
			a{
				background: $toolTabBGColor;
				border-top: 1px solid $toolBorderColor;
				border-left: 1px solid $toolBorderColor;
				border-right: 1px solid $toolBorderColor;
				color: #666;
				display: block;
				font-size: 0.8em;
				margin: 2px 0.25em 0 0;
				letter-spacing: 1.2px;
				padding: 6px 10px;
				text-decoration: none;
				text-transform: uppercase;
				@media #{$phone}{
					@include sakai_button( $button-background-color, $button-border-color, $button-text-color, $button-background-secondary-color );
				}
			}
			&.current{
				background: $tool-background-color;
				border-top: 1px solid $toolBorderColor;
				border-left: 1px solid $toolBorderColor;
				border-right: 1px solid $toolBorderColor;
				display: block;
				font-size: 0.8em;
				letter-spacing: 1.2px;
				margin: 2px 0.25em 0 0;
				padding: 7px 10px 6px 10px;
				position: relative;
				text-transform: uppercase;
				top: 1px;
				a{
				}
			}
			&.inactive{
				border-left: 0px none;
			}
		}
		a{
			
			&.current{
			}
		}
		.searchField{
			
		}
	}
}

.instruction{
	@include bs-callout($primary-color, lighten($primary-color, 45%));
}

.listNav{
	margin: 1em 0;
	.inlineForm{
		display: inline-block;
		@media #{$phone}{
			display: table-cell;
			padding: 0.1em !important;
			&[name="pagesizeForm"]{
				text-align: center;
			}
			select{
				width: 100%;
			}
			input[type="submit"]{
				margin: 0 0 0 0;
				&[disabled="disabled"]{
					display: none;
				}
			}
		}
		legend{
			display: none;
		}
	}
}
.viewNav{

}
