.navIntraTool{
	li{
		display: inline-block;
		margin: 0 0 0.5em 0;
		span{
			display: inline;
			a{
				@extend .button;
			}
			&.current{
				@extend .button_color;
				a{
					@extend .button_color;
				}
			}
			&.inactive{
				border-left: 0px none;
			}
		}
		a{
			@extend .button;

			&.current{
				@extend .button_color;
			}
		}
		.searchField{
			
		}
	}
}

.instruction{
	font-size: 0.8em;
	background: $warncolor;
	border: 1px solid darken($warncolor, 15%);
	padding: 0.7em 0.8em;
	display: inline-block;
}

.listNav{
	margin: 1em 0;
	.instruction{
		display: block;
		float: none;
		font-size: 0.8em !important;
		margin: 0 0.5em 1em 0;
	}
	.inlineForm{
		display: inline-block;
		@media #{$phone}{
			display: table-cell;
			&[name="pagesizeForm"]{
				text-align: center;
			}
			select{
				width: 100%;
			}
			input[type="submit"]{
				margin: 0 0 0 0;
				&[disabled="disabled"]{
					display: none;
				}
			}
		}
		legend{
			display: none;
		}
	}
}
.viewNav{

}