.sakai-pager {

  .pager-previous-link {
    display: inline-block;
    margin-right: 5px;
  }

  .pager-next-link {
    display: inline-block;
  }

  .pager-page-link {
    display: inline-block;
    margin-right: 5px;
  }
}
