//////////////////////////////
// VARIABLES: For Modules 
//////////////////////////////




//////////////////////////////
// DEFAULT VARIABLES
//////////////////////////////

// Options 
$options-border-width: 1px 0 0 0!default;
$options-border-style: solid !default;
$options-border-color: #ccc !default;
$options-list-style: none !default;
/// Options li
$options-li-font-family: $secondary-font !default;
$options-li-text-indent: 0 !default;
$options-li-text-transform: uppercase !default;
$options-li-letter-spacing: 0.15em !default;
$options-li-font-weight: bold !default;
$options-li-margin: 0 !default;
$options-li-padding: 0.3125em 0.625em !default;
$options-li-border-width: 0 0 1px 0 !default;
$options-li-border-style: solid !default;
$options-li-border-color: #ccc !default;
/// Options a
$options-a-border-width: false !default;
$options-a-border-style: solid !default;
$options-a-border-color: #ccc !default;