//////////////////////////////
// EXTENDABLES: For Modules 
//////////////////////////////

%options {
  list-style: $options__list-style;
  @include border-outline(border, $options__border-width, $options__border-style, $options__border-color);

  li {
    text-indent: $options__li__text-indent;
    font-family: $options__li__font-family;
    text-transform: $options__li__text-transform;
    letter-spacing: $options__li__letter-spacing;
    font-weight: $options__li__font-weight;
    @include margin-padding(margin, $options__li__margin);
    @include margin-padding(padding, $options__li__padding);
    @include border-outline(border, $options__li__border-width, $options__li__border-style, $options__li__border-color);
  }

  a {
    display: block;
    @include border-outline(border, $options__a__border-width, $options__a__border-style, $options__a__border-color);
  }
}