#feedback-technical-item {
    display: none;
}
#feedback-report-technical-wrapper {
    display: none;
}
#feedback-suggest-feature-item {
    display: none;
}
#feedback-suggest-feature-wrapper {
    display: none;
}
#feedback-technical-setup-instruction {
    margin-top: 10px;
    margin-bottom: 10px;
}
#feedback-overview {
    margin-bottom: 5px;
}
#feedback-help-wrapper {
    margin-bottom: 10px;
}
#feedback-siteupdaters-wrapper {
    display: none;
}
#feedback-sender-address {
    display: none;
}
#feedback-supplementary-info {
    display: none;
}
#feedback-help-wrapper {
    display: none;
}

.feedback-link {
    margin-bottom: 10px;
}

#feedback-error-message-wrapper, #feedback-info-message-wrapper {
    display: none;
    text-align: center;
    margin-top: 10px;
}

#feedback-error-message-wrapper > div {
    display: inline-block;
    padding: 5px;
    border: 1px red solid;
    border-radius: 1em 1em 1em 1em;
    color: red;
}

#feedback-error-message-wrapper > div:before {
	content: "\f06a"; /* fa-exclamation-circle */
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: red;
    font-size: 18px;
}

#feedback-info-message-wrapper > div{
    display: inline-block;
    padding: 5px;
    border: 1px green solid;
    border-radius: 1em 1em 1em 1em;
    color: green;
}

#feedback-info-message-wrapper > div:before {
	content: "\f05a"; /* fa-info-circle */
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: green;
    font-size: 18px;
}

#feedback-error-message-wrapper span, #feedback-info-message-wrapper span {
    margin-right: 12px;
    margin-left: 0px;
}

#feedback-error-message-wrapper a, #feedback-info-message-wrapper a {
    margin-right: 0px;
    padding: 0px;
    text-decoration: none;
}

#feedback-error-message-wrapper a:before, #feedback-info-message-wrapper a:before {
    content: "\f00d"; /* fa-times */
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: red;
    font-size: 18px;
}

.feedback-explanation {
    display: none;
    width: 50%;
    border: 1px black solid;
    border-radius: 1em 1em 1em 1em;
    margin: 10px 0px 10px 20px;
    padding: 5px;
    background-color: #FFFFDD;
}

#feedback-recaptcha-block {
    margin-top: 5px;
}

#feedback-attachments-label {
    margin-top: 5px;
    clear:left;
}

.feedback-form-field{
	clear: left;
}

.feedback-form-field label{
	float:left;
	text-align:right;
	display:block;
	width:155px;
	padding: 2px 5px;
}

#feedback-recaptcha-wrapper {
    display: none;
}

#feedback-max-attachments-label {
    color: red;
    font-weight: bold;
    clear:left;
}

.feedback-box {
    background: linear-gradient(center top , #FDFDFD, #F7F7F7) repeat scroll 0% 0% transparent;
    background: -moz-linear-gradient(center top , #FDFDFD, #F7F7F7) repeat scroll 0% 0% transparent;
    border: 1px solid #DFE2E4;
    border-bottom-width: 3px;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 5px;
    display: block;
    float: left;
    list-style: none outside none;
    margin: 2px;
    height: 25em;
    padding: 2px 8px;
    width: 175px;
}

.feedback-box ul.list  {
    margin-left: 8px;
    padding-left: 8px;
}

.feedback-box h3 {
	padding-left: 25px;
    position:relative;
}

#feedback-content-problem h3:before, #feedback-no-panels h3:before {
    content: "\f071"; /* fa-exclamation-triangle */
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: red;
    font-size: 18px;
    position: absolute;
    top: 10px;
    left: 0;
}

#feedback-ask-help h3:before {
    content: "\f0e5"; /* fa-comment-o */
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: blue;
    font-size: 18px;
    position: absolute;
    top: 0px;
    left: 0;
}

#feedback-tech-problem h3:before {
    content: "\f188"; /* fa-bug */
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: green;
    font-size: 18px;
    position: absolute;
    top: 10px;
    left: 0;
}

#feedback-improvement h3:before {
    content: "\f0eb"; /* fa-lightbulb-o */
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: orange;
    font-size: 18px;
    position: absolute;
    top: 10px;
    left: 0;
}

#feedback-supplemental-a h3:before {
    content: "\f044"; /* fa-pencil-square-o */
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: purple;
    font-size: 18px;
    position: absolute;
    top: 10px;
    left: 0;
}

#feedback-supplemental-b h3:before {
    content: "\f02d"; /* fa-book */
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: brown;
    font-size: 18px;
    position: absolute;
    top: 10px;
    left: 0;
}

#feedback-toolbar {
    border-bottom: none;
    padding: 0 !important;
}

.clear {
    clear: both;
}
#feedback-no-panels ul {
	padding-left:10px;
}
#feedback-no-panels {
	width:240px;
}