################################
#    READ ME!!
################################
#  For translators:
#
#       You should not translate this properties file.  
#		The only properties you should translate are the ones that are in TutorialMessages.properties.  Leave the rest of the properties alone.
#                                                                                                       ---------------------------------------
#
#  For people creating new panels:
#  
#  		You can create new panels simply by adding a new set of properties.  For instance, to add a panel, define a set of properties like:
#
#  		{prefix}.selection=(either a jquery selection query or leave it blank if this is a dialog and isn't pointing to a specific part in the panel)
#  		{prefix}.previousUrl=({prefix} of the previous panel or leave blank if there isn't one)
#  		{prefix}.nextUrl=({prefix} of the next panel or leave blank if there isn't one)
#  		{prefix}.dialog=(true or blank if it isn't a dialog)
#  		{prefix}.positionTarget=(area of the target you want the tool tip to point to.  eg. bottomRight, rightMiddle, etc.  http://craigsworks.com/projects/qtip/docs/tutorials/#position)
#  		{prefix}.positionTooltip=(area of the target you want to tip of the dialog to show up. eg. bottomRight, rightMiddle, etc http://craigsworks.com/projects/qtip/docs/tutorials/#position)
#  		{prefix}.fadeout=(true if you want the dialog to fadeout otherwise blank)
#
#		When you have added the panel's properties to this properties file, then you can add the .title and .body properties in TutorialMessages.properties
#


# Welcome panel
introToSakai_p1.selection=
introToSakai_p1.previousUrl=
introToSakai_p1.nextUrl=/direct/tutorial/introToSakai_sitenav.json
introToSakai_p1.dialog=true
introToSakai_p1.positionTarget=
introToSakai_p1.fadeout=

# Site Navigation panel (Desktop View Only)
introToSakai_sitenav.selection=#toolMenu:visible
introToSakai_sitenav.previousUrl=/direct/tutorial/introToSakai_p1.json
introToSakai_sitenav.nextUrl=/direct/tutorial/introToSakai_sitenavResponsive.json
introToSakai_sitenav.dialog=
introToSakai_sitenav.positionTooltip=leftTop
introToSakai_sitenav.positionTarget=rightTop
introToSakai_sitenav.fadeout=

# Site Navigation panel (Responsive View Only)
introToSakai_sitenavResponsive.selection=.responsive-sidebar-button:visible
introToSakai_sitenavResponsive.previousUrl=/direct/tutorial/introToSakai_sitenav.json
introToSakai_sitenavResponsive.nextUrl=/direct/tutorial/introToSakai_currentSite.json
introToSakai_sitenavResponsive.dialog=
introToSakai_sitenavResponsive.positionTooltip=leftTop
introToSakai_sitenavResponsive.positionTarget=rightBottom
introToSakai_sitenavResponsive.fadeout=

# Current Site Panel (Desktop View Only)
introToSakai_currentSite.selection=#header-site-title:visible
introToSakai_currentSite.previousUrl=/direct/tutorial/introToSakai_sitenavResponsive.json
introToSakai_currentSite.nextUrl=/direct/tutorial/introToSakai_currentSiteResponsive.json
introToSakai_currentSite.dialog=
introToSakai_currentSite.positionTooltip=topMiddle
introToSakai_currentSite.positionTarget=bottomMiddle
introToSakai_currentSite.fadeout=

# Current Site Panel (Responsive View Only)
introToSakai_currentSiteResponsive.selection=.Mrphs-hierarchy--siteName:visible
introToSakai_currentSiteResponsive.previousUrl=/direct/tutorial/introToSakai_currentSite.json
introToSakai_currentSiteResponsive.nextUrl=/direct/tutorial/introToSakai_currentTool.json
introToSakai_currentSiteResponsive.dialog=
introToSakai_currentSiteResponsive.positionTooltip=topLeft
introToSakai_currentSiteResponsive.positionTarget=rightMiddle
introToSakai_currentSiteResponsive.fadeout=

# Current Tool Panel (Desktop View Only)
introToSakai_currentTool.selection=.header-tool-title:visible
introToSakai_currentTool.previousUrl=/direct/tutorial/introToSakai_currentSiteResponsive.json
introToSakai_currentTool.nextUrl=/direct/tutorial/introToSakai_currentToolResponsive.json
introToSakai_currentTool.dialog=
introToSakai_currentTool.positionTooltip=topMiddle
introToSakai_currentTool.positionTarget=bottomMiddle
introToSakai_currentTool.fadeout=

# Current Tool Panel (Responsive View Only)
introToSakai_currentToolResponsive.selection=.Mrphs-breadcrumb--toolNameText:visible
introToSakai_currentToolResponsive.previousUrl=/direct/tutorial/introToSakai_currentTool.json
introToSakai_currentToolResponsive.nextUrl=/direct/tutorial/introToSakai_allsites.json
introToSakai_currentToolResponsive.dialog=
introToSakai_currentToolResponsive.positionTooltip=topLeft
introToSakai_currentToolResponsive.positionTarget=rightMiddle
introToSakai_currentToolResponsive.fadeout=

# Sites panel (Desktop View Only)
introToSakai_allsites.selection=.si-all-sites:visible
introToSakai_allsites.previousUrl=/direct/tutorial/introToSakai_currentToolResponsive.json
introToSakai_allsites.nextUrl=/direct/tutorial/introToSakai_allsitesResponsive.json
introToSakai_allsites.dialog=
introToSakai_allsites.positionTooltip=topMiddle
introToSakai_allsites.positionTarget=bottomMiddle
introToSakai_allsites.fadeout=

# Sites panel (Responsive View Only)
introToSakai_allsitesResponsive.selection=.responsive-allsites-button:visible
introToSakai_allsitesResponsive.previousUrl=/direct/tutorial/introToSakai_allsites.json
introToSakai_allsitesResponsive.nextUrl=/direct/tutorial/introToSakai_pinSites.json
introToSakai_allsitesResponsive.dialog=
introToSakai_allsitesResponsive.positionTooltip=bottomLeft
introToSakai_allsitesResponsive.positionTarget=topMiddle
introToSakai_allsitesResponsive.fadeout=

# Pinned Sites Panel (Desktop View Only)
introToSakai_pinSites.selection=.pinned-site-section:visible
introToSakai_pinSites.previousUrl=/direct/tutorial/introToSakai_allsitesResponsive.json
introToSakai_pinSites.nextUrl=/direct/tutorial/introToSakai_toolMenu.json
introToSakai_pinSites.dialog=
introToSakai_pinSites.positionTooltip=leftBottom
introToSakai_pinSites.positionTarget=rightMiddle
introToSakai_pinSites.fadeout=

#Tool Menu panel (Desktop View Only)
introToSakai_toolMenu.selection=.site-page-list:visible
introToSakai_toolMenu.previousUrl=/direct/tutorial/introToSakai_pinSites.json
introToSakai_toolMenu.nextUrl=/direct/tutorial/introToSakai_helpIcon.json
introToSakai_toolMenu.dialog=
introToSakai_toolMenu.positionTooltip=leftMiddle
introToSakai_toolMenu.positionTarget=rightMiddle
introToSakai_toolMenu.fadeout=

# Help Icon panel (Desktop View Only)
introToSakai_helpIcon.selection=.desktop-help-icon:visible
introToSakai_helpIcon.previousUrl=/direct/tutorial/introToSakai_toolMenu.json
introToSakai_helpIcon.nextUrl=/direct/tutorial/introToSakai_helpIconResponsive.json
introToSakai_helpIcon.dialog=
introToSakai_helpIcon.positionTooltip=topRight
introToSakai_helpIcon.positionTarget=bottomMiddle
introToSakai_helpIcon.fadeout=

# Help Icon panel (Responsive View Only)
introToSakai_helpIconResponsive.selection=.responsive-help-icon:visible
introToSakai_helpIconResponsive.previousUrl=/direct/tutorial/introToSakai_helpIcon.json
introToSakai_helpIconResponsive.nextUrl=/direct/tutorial/introToSakai_pTutorialLocation.json
introToSakai_helpIconResponsive.dialog=
introToSakai_helpIconResponsive.positionTooltip=bottomRight
introToSakai_helpIconResponsive.positionTarget=topMiddle
introToSakai_helpIconResponsive.fadeout=

# Return to Tutorial panel/Account Menu
introToSakai_pTutorialLocation.selection=.sak-sysInd-account
introToSakai_pTutorialLocation.previousUrl=/direct/tutorial/introToSakai_helpIconResponsive.json
introToSakai_pTutorialLocation.nextUrl=
introToSakai_pTutorialLocation.dialog=
introToSakai_pTutorialLocation.positionTooltip=topRight
introToSakai_pTutorialLocation.positionTarget=bottomMiddle
introToSakai_pTutorialLocation.fadeout=
