################################
#    READ ME!!
################################
#  For translators:
#
#       You should not translate this properties file.  
#		The only properties you should translate are the ones that are in TutorialMessages.properties.  Leave the rest of the properties alone.
#                                                                                                       ---------------------------------------
#
#  For people creating new panels:
#  
#  		You can create new panels simply by adding a new set of properties.  For instance, to add a panel, define a set of properties like:
#
#  		{prefix}.selection=(either a jquery selection query or leave it blank if this is a dialog and isn't pointing to a specific part in the panel)
#  		{prefix}.previousUrl=({prefix} of the previous panel or leave blank if there isn't one)
#  		{prefix}.nextUrl=({prefix} of the next panel or leave blank if there isn't one)
#  		{prefix}.dialog=(true or blank if it isn't a dialog)
#  		{prefix}.positionTarget=(area of the target you want the tool tip to point to.  eg. bottomRight, rightMiddle, etc.  http://craigsworks.com/projects/qtip/docs/tutorials/#position)
#  		{prefix}.positionTooltip=(area of the target you want to tip of the dialog to show up. eg. bottomRight, rightMiddle, etc http://craigsworks.com/projects/qtip/docs/tutorials/#position)
#  		{prefix}.fadeout=(true if you want the dialog to fadeout otherwise blank)
#
#		When you have added the panel's properties to this properties file, then you can add the .title and .body properties in TutorialMessages.properties
#
#


#Welcome panel
introToSakai_p1.selection=
introToSakai_p1.previousUrl=
introToSakai_p1.nextUrl=/direct/tutorial/introToSakai_sitenav.json
introToSakai_p1.dialog=true
introToSakai_p1.positionTarget=
introToSakai_p1.fadeout=

#Site Navigation panel
introToSakai_sitenav.selection=#linkNav:visible ul#topnav li:first i
introToSakai_sitenav.previousUrl=/direct/tutorial/introToSakai_p1.json
introToSakai_sitenav.nextUrl=/direct/tutorial/introToSakai_allsites.json
introToSakai_sitenav.dialog=
introToSakai_sitenav.positionTooltip=topLeft
introToSakai_sitenav.positionTarget=bottomMiddle
introToSakai_sitenav.fadeout=

#Sites panel (narrow view only)
introToSakai_allsites.selection=.Mrphs-skipNav__menu:visible .Mrphs-skipNav__menuitem--worksite a
introToSakai_allsites.previousUrl=/direct/tutorial/introToSakai_sitenav.json
introToSakai_allsites.nextUrl=/direct/tutorial/introToSakai_moreButton.json
introToSakai_allsites.dialog=
introToSakai_allsites.positionTooltip=topRight
introToSakai_allsites.positionTarget=bottomMiddle
introToSakai_allsites.fadeout=

#Sites panel
introToSakai_moreButton.selection=.view-all-sites-btn:visible i
introToSakai_moreButton.previousUrl=/direct/tutorial/introToSakai_allsites.json
introToSakai_moreButton.nextUrl=/direct/tutorial/introToSakai_toolMenu.json
introToSakai_moreButton.dialog=
introToSakai_moreButton.positionTooltip=topRight
introToSakai_moreButton.positionTarget=bottomMiddle
introToSakai_moreButton.fadeout=

#Tool Menu panel
introToSakai_toolMenu.selection=#toolMenu ul:first:has(li.js-toggle-nav:visible)
introToSakai_toolMenu.previousUrl=/direct/tutorial/introToSakai_moreButton.json
introToSakai_toolMenu.nextUrl=/direct/tutorial/introToSakai_toolMenuNarrowView.json
introToSakai_toolMenu.dialog=
introToSakai_toolMenu.positionTooltip=leftMiddle
introToSakai_toolMenu.positionTarget=rightMiddle
introToSakai_toolMenu.fadeout=

#Tool Menu panel (for narrow view)
introToSakai_toolMenuNarrowView.selection=.Mrphs-skipNav__menu:visible .Mrphs-skipNav__menuitem--tools a
introToSakai_toolMenuNarrowView.previousUrl=/direct/tutorial/introToSakai_toolMenu.json
introToSakai_toolMenuNarrowView.nextUrl=/direct/tutorial/introToSakai_refreshTool.json
introToSakai_toolMenuNarrowView.dialog=
introToSakai_toolMenuNarrowView.positionTooltip=topLeft
introToSakai_toolMenuNarrowView.positionTarget=bottomMiddle
introToSakai_toolMenuNarrowView.fadeout=

#Breadcrumbs panel
#formerly the Refresh Tool panel
introToSakai_refreshTool.selection=.Mrphs-hierarchy--toolName
introToSakai_refreshTool.previousUrl=/direct/tutorial/introToSakai_toolMenuNarrowView.json
introToSakai_refreshTool.nextUrl=/direct/tutorial/introToSakai_helpIcon.json
introToSakai_refreshTool.dialog=
introToSakai_refreshTool.positionTooltip=topLeft
introToSakai_refreshTool.positionTarget=bottomMiddle
introToSakai_refreshTool.fadeout=

#Help Icon panel
introToSakai_helpIcon.selection=.Mrphs-toolTitleNav__link--help-popup
introToSakai_helpIcon.previousUrl=/direct/tutorial/introToSakai_refreshTool.json
introToSakai_helpIcon.nextUrl=/direct/tutorial/introToSakai_profileTool.json
introToSakai_helpIcon.dialog=
introToSakai_helpIcon.positionTooltip=topRight
introToSakai_helpIcon.positionTarget=bottomMiddle
introToSakai_helpIcon.fadeout=

#Account Tool panel
#formerly the Profile Tool panel
introToSakai_profileTool.selection=#loginLinks
introToSakai_profileTool.previousUrl=/direct/tutorial/introToSakai_helpIcon.json
introToSakai_profileTool.nextUrl=
introToSakai_profileTool.dialog=
introToSakai_profileTool.positionTooltip=topRight
introToSakai_profileTool.positionTarget=bottomMiddle
introToSakai_profileTool.fadeout=

#Return to Tutorial panel
introToSakai_pTutorialLocation.selection=#loginLinks
introToSakai_pTutorialLocation.previousUrl=
introToSakai_pTutorialLocation.nextUrl=
introToSakai_pTutorialLocation.dialog=
introToSakai_pTutorialLocation.positionTooltip=topRight
introToSakai_pTutorialLocation.positionTarget=center
introToSakai_pTutorialLocation.fadeout=true
