<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- setup wicket application -->
	<bean id="toolWicketApplication" class="org.sakaiproject.scorm.tool.ScormTool">
		<property name="clientFacade">
			<ref bean="org.sakaiproject.scorm.client.api.ScormClientFacade"/>
		</property>
    </bean>
    
    <bean id="helperWicketApplication" class="org.sakaiproject.scorm.helper.ScormHelper">
		<property name="clientFacade">
			<ref bean="org.sakaiproject.scorm.client.api.ScormClientFacade"/>
		</property>
    </bean>
    
    <bean id="zipHelperWicketApplication" class="org.sakaiproject.ziparchive.helper.ZipArchiveHelper">
		<property name="clientFacade">
			<ref bean="org.sakaiproject.scorm.client.api.ScormClientFacade"/>
		</property>
    </bean>
    

</beans>
