<?xml version="1.0" encoding="UTF-8"?>
<web-app id="SCORMPlayerWebApp" version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>sakai-scorm-tool</display-name>
	<description>Sakai SCORM Player</description>

	<distributable />

	<context-param>
	  <param-name>CONFIGURATION</param-name>
	  <param-value>DEPLOYMENT</param-value>
	</context-param>

	<filter>
	    <filter-name>sakai.request</filter-name>
	    <filter-class>org.sakaiproject.util.RequestFilter</filter-class>
	</filter>

	<filter>
	    <filter-name>sakai.ziparchive.helper.filter</filter-name>
	    <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
	    <init-param>
	      	<param-name>applicationFactoryClassName</param-name>
	      	<param-value>org.apache.wicket.spring.SpringWebApplicationFactory</param-value>
	    </init-param>
	    <init-param>
			<param-name>applicationBean</param-name>
			<param-value>zipHelperWicketApplication</param-value>
		</init-param>
  	</filter>

	<filter>
	    <filter-name>sakai.scorm.helper.filter</filter-name>
	    <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
	    <init-param>
	      	<param-name>applicationFactoryClassName</param-name>
	      	<param-value>org.apache.wicket.spring.SpringWebApplicationFactory</param-value>
	    </init-param>
	    <init-param>
			<param-name>applicationBean</param-name>
			<param-value>helperWicketApplication</param-value>
		</init-param>
  	</filter>
  	  	 	
  	<filter>
	    <filter-name>sakai.scorm.tool.filter</filter-name>
	    <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
	    
	    <init-param>
	      	<param-name>applicationFactoryClassName</param-name>
	      	<param-value>org.apache.wicket.spring.SpringWebApplicationFactory</param-value>
	    </init-param>
	    <init-param>
			<param-name>applicationBean</param-name>
			<param-value>toolWicketApplication</param-value>
		</init-param>
  	</filter>
		
	<filter-mapping>
	    <filter-name>sakai.request</filter-name>
	    <servlet-name>sakai.ziparchive.helper</servlet-name>
	    <dispatcher>REQUEST</dispatcher>
	    <dispatcher>FORWARD</dispatcher>
	    <dispatcher>INCLUDE</dispatcher>
	</filter-mapping>	
		
	<filter-mapping>
    	<filter-name>sakai.ziparchive.helper.filter</filter-name>
    	<servlet-name>sakai.ziparchive.helper</servlet-name>
    	<dispatcher>REQUEST</dispatcher>
	    <dispatcher>FORWARD</dispatcher>
	    <dispatcher>INCLUDE</dispatcher>
  	</filter-mapping>	
	
	<filter-mapping>
	    <filter-name>sakai.request</filter-name>
	    <servlet-name>sakai.scorm.helper</servlet-name>
	    <dispatcher>REQUEST</dispatcher>
	    <dispatcher>FORWARD</dispatcher>
	    <dispatcher>INCLUDE</dispatcher>
	</filter-mapping>	
	
	<filter-mapping>
    	<filter-name>sakai.scorm.helper.filter</filter-name>
    	<servlet-name>sakai.scorm.helper</servlet-name>
    	<dispatcher>REQUEST</dispatcher>
	    <dispatcher>FORWARD</dispatcher>
	    <dispatcher>INCLUDE</dispatcher>
  	</filter-mapping>
  	
  	<filter-mapping>
	    <filter-name>sakai.request</filter-name>
	    <servlet-name>sakai.scorm.tool</servlet-name>
	    <dispatcher>REQUEST</dispatcher>
	    <dispatcher>FORWARD</dispatcher>
	    <dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
  	
  	<filter-mapping>
    	<filter-name>sakai.scorm.tool.filter</filter-name>
    	<servlet-name>sakai.scorm.tool</servlet-name>
    	<dispatcher>REQUEST</dispatcher>
	    <dispatcher>FORWARD</dispatcher>
	    <dispatcher>INCLUDE</dispatcher>
  	</filter-mapping>	
  	
  	<servlet>
  		<servlet-name>sakai.scorm.tool</servlet-name>
  		<servlet-class>org.sakaiproject.scorm.tool.ToolServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
  		<servlet-name>sakai.scorm.helper</servlet-name>
  		<servlet-class>org.sakaiproject.scorm.helper.HelperServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
  		<servlet-name>sakai.ziparchive.helper</servlet-name>
  		<servlet-class>org.sakaiproject.ziparchive.helper.ZipArchiveHelperServlet</servlet-class>
  	</servlet>

	<!--  The ToolListener causes this tool to be registered with Sakai.  -->
  	<listener>
    	<listener-class>org.sakaiproject.util.ToolListener</listener-class>
  	</listener>
  	<listener>
    	<listener-class>org.sakaiproject.util.ContextLoaderListener</listener-class>
  	</listener>

	<!--  session-config>
		<session-timeout>15</session-timeout>
	</session-config-->
	
	<welcome-file-list>
	<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
