.#{$namespace}sakai-samigo{
	.samigo-inline-form {
		td {
			label{
				display: inline;
				margin: 0 0 0 0.3em;
			}
		}
	}

	legend.samigo-legend {
		margin-bottom: 1em;
		font-size: 1.2em;
		font-weight: normal;
		color: inherit;
	}

	#samigo-create-new-box, #samigo-create-import-box {
		margin-bottom: $standard-spacing;
		padding: $standard-spacing;
		border: 1px solid var(--sakai-border-color);
		background: var(--sakai-background-color-2);

		h2 {
			margin: 0 0 15px 0; 	// to match the .form-group's spacing
		}

		label, input[type="radio"] {
			margin-right: $standard-space;
		}

		& > .form-group:last-of-type {
			margin-bottom: 0;
		}
	}

	#samigo-create-or-box {
		margin: $standard-spacing 0;	// give it space on the bottom for column layout
		font-size: 20px;		// to match h2 default size
		line-height: 1.05;
		text-align: center;
	}

	.samigo-question-callout {
			border-left: 5px solid var(--tool-border-color);
			margin: 2em 0;
			padding: 1.5em 2.5em 1.5em 1.5em;
			input[type="checkbox"], input[type="radio"] {
				margin-right: 0.25em;
			}
	}

	.samigo-question-cancelled {
		opacity: 0.7;

		.sak-banner-info {
			margin-bottom: 0;
		}
	}

	.cancelled-question-link {
		opacity: 0.7;
		text-decoration: line-through;
		font-style: oblique;

		&:hover {
			text-decoration: line-through underline;
		}
	}

	.question-cancel-modal {
		input[type="checkbox"] {
			margin-right: $standard-space;
		}

		.act {
			margin: unset;
		}
	}

	.listNav {
		.inlineForm {
			@extend .panel;
			@extend .panel-default;
			.pager-instruction {
				@extend .panel-heading;
				@extend .small;
				text-align: center;
			}
			display: inline-block;
			fieldset {
				display: inline-block;
			}
			legend {
				display: none;
			}
		}
	}

	.samigo-inline-radio {
		label,
		&.fa {
			margin-right: $standard-spacing;
		}
	}
	
	.samigo-checkbox {
		label {
			margin: 0 0 0 $standard-space;
		}
	}
	
	.matrixSurvey{
		padding: 0 1em 0 1em;
	}
	
	.feedBackCheck, .feedBackCross, .feedBackNone{
		min-width: 20px;
		margin-right: 0.2em;
	}
	
	.feedBackNone{
		visibility: hidden;
	}
	
	.feedBackCheck{
		color: var(--successBanner-color);
	}
	
	.feedBackCross{
		color: var(--errorBanner-color);
	}
	
	.feedBackMultipleChoice{
		width: 2em;
	}
	
	.disabledField{
		color: var(--errorBanner-color);
		text-decoration: line-through;
	}

	#assessmentSettingsAction,#itemForm{
		ul{
			list-style: none;
			padding: 0 0 0 0;
		}
	}
	ul.ulTimed{
		list-style: none;
		padding: 0 0 0 0;
	}
	.mcscFixUp > ul,.question-wrapper{
		list-style: none;
		padding: 0 0 0 0;
	}

	#itemForm\:partialCredit_toggle.tier3,
	#itemForm\:mcms_credit_toggle.tier3,
	#itemForm\:discountDiv.tier3{
		margin-left: 3em  !important;
	}

	.divContainer {
		clear: right;
	}

	.divLeft {
		margin-top: 0.5em;
	}

	.divRight{
		text-align: right;
		@media #{$phone}{
			text-align: left;
		}
	}
	
	#itemForm\:discountDiv #itemForm\:answerdsc{
		margin-left: 10px;
		width: 45px;
		@media #{$phone}{
			margin-left: 0px;
		}
	}
	
	.indent1{
		margin-left: 2em;
	}
	
	//This is for jsf labels and checkboxes	
	#itemForm\:chooseAnswerTypeForMC input[type="radio"]{
		@media #{$phone}{
			float:left;
			& + label {
				overflow:auto;
				display:block;
			}
		}
	}
	
	#assessmentSettingsAction .layout-navigation input[type="radio"]{
		@media #{$nonPhone}{
			float:left;
			& + label {
				overflow:auto;
				display:block;
				margin-left: 1.5em;
			}
		}
	}
	
	#assessmentSettingsAction input[type="radio"],
	#assessmentSettingsAction input[type="checkbox"],
	.ulTimed input[type="radio"]{
		margin-right: $standard-space; 
		
		@media #{$tablet}{
			float:left;
			& + label {
				overflow:auto;
				display:block;
			}
		}
	}

	#assessmentSettingsAction input#assessmentSettingsAction\:selTimeAssess {
		float: none;
	}

	#assessmentSettingsAction input[name="assessmentSettingsAction\:userOrGroup"] {
		margin-right: $standard-space;
	}
	
	#assessmentSettingsAction input[type="checkbox"]{
		@media #{$tablet}{
			& + label {
			margin-left: 1.5em;
			}
		}
	}

	table{
		td {
			input[type="checkbox"],input[type="radio"] {
				margin-right: $standard-space;
			}
		}
		&.samigo-question-info td.navList,
		&.samigo-question-info td.navView {
			border-bottom-width: 0;
			border-top-width: 1px;
		}
		&.listHier td:empty {
			padding: 0;
		}
		@media #{$phone} {
			overflow-x: auto;
			display: block;
		}
	}
	
	#samLiteEntryForm\:data{
		margin-top: 1.2em;
	}
	
	#templateCreateForm{
		label[for="templateCreateForm:tempName"]{
			margin-right: 1em;
		}
	}
	
	.toolTipLink{
		color: var(--link-color);
		background-color: var(--link-background-color);
		text-decoration: underline;
		cursor: pointer;
		&:hover{
			color: var(--link-hover-color);
			background-color: var(--link-hover-background-color);
			text-decoration:underline;
		}
	}

	.extendedTimeDataTable {
		margin-bottom: .5em;

		select {
			max-width: 150px;
		}

		thead tr th {
			border-bottom: 1px solid var(--sakai-border-color);
		}

		tr {
			border-bottom: 1px solid var(--sakai-border-color);
		}

		.extendedTime-user, .extendedTime-group {
			max-width: 160px;
		}

		.extendedTime-mins {
			min-width: 70px;
		}
	}
	
	.navIntraTool {
		margin: 0px !important;
	}

	.ui-autocomplete-input {
		@extend .form-control;

		width: initial;
		max-width: initial;
		display: inline-block;
	}

	.ui-corner-right {
		height: 34px;
		margin-top: -3px;
		margin-left: -3px;
	}

	.navIntraToolLink {
		margin-bottom: 15px;
	}

	.dataTables_wrapper {
		.dataTables_length {
			float: left;

			@media #{$phone}{
				float: initial;
			}
		}

		.dataTables_filter {
			float: right;
			text-align: right;

			@media #{$phone}{
				float: initial;
				text-align: initial;
			}

			input {
				@extend .form-control;

				width: initial;
				max-width: initial;
				display: inline-block;
				margin-left: 6px;
			}
		}

		.dataTables_info {
			clear: both;
			float: left;
		}

		.dataTables_paginate {
			float: right;
			text-align: right;

			> a.paginate_button {
				@extend input, [type="submit"];

				&.disabled {
					@extend input, [type="submit"], [disabled="disabled"];
				}
			}

			span {
				.paginate_button {
					color: var(--sakai-text-color-1) !important;

					@extend button;

					&:hover {
						color: var(--sakai-text-color-1) !important;
					}

					&.current {
						@extend .btn-default, :active, :hover;
					}
				}

				a.paginate_button {
					@extend .btn-default;
				}
			}

			.active > .page-link {
				border-color: unset !important; /* Use  of !important to override Bootstrap's styles. */
			}

			.ellipsis {
				margin-right: 10px;
			}
		}

		span:focus, th:focus {
			outline: 3px solid var(--focus-outline-color);			
			border-radius: 2px;
		}
		th:focus {
			outline-offset: -3px;
		}
	}

	.dataTable {
		thead {
			.sorting_asc, .sorting_desc {
				a {
					position: relative;
					margin-right: 11px;

					&::after {
						content: " ";
						width: 11px;
						height: 11px;
						position: absolute;
						bottom: 2px;
						right: -14px;
					}
				}
			}
		}
	}

	#{'#authorIndexForm\\:remove-selected'} {
		@extend button;

		&.disabled {
			@extend input, [type="submit"], [disabled="disabled"];
			background: var(--button-disabled-background);
			border-color: var(--button-disabled-border-color);
			color: var(--button-disabled-text-color) !important;

			&:hover {
				background: var(--button-disabled-background);
				border-color: var(--button-disabled-border-color);
				color: var(--button-disabled-text-color) !important;
			}
		}
	}

	.parts-table {
		label.notbold {
			font-weight: normal;
		}
	}

	.timerTableColumn {
		text-align: center
	}

	.timerTableColumnLeft {
		text-align: left
	}

	.matrixTable {
		border-style: dotted;
		border-width: 1px;
		border-color: var(--sakai-border-color);
	}

	#delivAssessmentWrapper {
		width: calc(100% - 56px);
	}

	.downloanQuestionCheckbox label {
		display: none;
	}

	.exit-preview-button {
		margin: $standard-spacing 0 0 0;
	}

	.jqplot-target {
		color: var(--sakai-text-color-1);
		font-family: var(--sakai-font-family);
	}

	.disabled.awesomplete {
		background-color: transparent;
		color: var(--sakai-text-color-disabled);
	}

	.display-flex {
		display: flex;
		margin-bottom: 5px;
		label {
			padding-top: 3px;
		}
	}

	sakai-user-photo {
		margin-right: 7px;
	}

	.mcAnswerText {
		display:inline;
		float:unset;

		label, .samigo-answer-label, .samigo-answer-text {
			font-weight: normal;
		}

		/* Someone put a paragraph in a multiple choice answer */
		p:first-child {
			display: inline;
			margin: 0 0 1em 0;
		}
	}

	.tableTF label {
		font-weight: normal;
	}

	.time-bar-container {
		margin-top: 1em;
	}
	
	.time-bar-button-container{
		margin-top: 1em;
		margin-bottom: 1em;
	}

	.tableofcontents {
		label {
			padding-left: 5px;
			cursor:pointer;
		}
	}

	.gradeAssessment, .reviewAssessment {
		.input-group {
			&:first-of-type {
				.input-group-addon {
					@include border-radius($button-radius 0 0 0);
				}

				.form-control {
					@include border-radius(0 $button-radius 0 0);
				}
				.form-control-center {
					@include border-radius(0);
				}
			}

			p.input-group-addon.input-group-addon-right {
				@include border-radius(0 $button-radius 0 0);
			}
			&:last-of-type {
				.input-group-addon {
					@include border-radius(0 0 $button-radius $button-radius);
					border-left: 1px solid var(--sakai-border-color);
					border-right: 1px solid var(--sakai-border-color);
					border-top: 0;
					line-height: $line-height-base;
					white-space: initial;
				}
			}
		}
	}

	table.table-bordered.dataTable {
	    border-right-width: 0;
	    border: 1px solid #dee2e6 !important;
	    border-collapse: collapse !important;
		tr table.checkboxTable td {
			border: 0;
		}
	}

	.input-group-addon, .samigo-input-group-addon, .samigo-input-group-text {
	    padding: 6px 12px;
	    font-size: 14px;
	    font-weight: normal;
	    color: var(--sakai-text-color-1);
	    text-align: center;
	    background-color: var(--sakai-background-color-2);
	    border: 1px solid var(--sakai-border-color);
	    border-radius: 4px;
	}

	.input-group-addon, .samigo-input-group-addon, .samigo-input-group-text, .input-group input {
	    height: 35px;
	}

	.samigo-input-group-addon {
	    width: inherit;
	}

	.text-danger {
	    background-color: transparent;
	}

	.or-line {
	    text-align: center;
	    border-bottom: 1px solid #000;
	    line-height: 0.1em;
	    margin: 10px 0 20px;
	}

	.or-line span {
	    background:#fff;
	    padding:0 10px;
	}

	.samigo-breadcrumb {
		background-color: var(--sakai-background-color-2);
		border-radius: 4px;
		padding: 8px 15px;
	}

	div#questionProgressPanel {
		a {
			color: var(--sakai-text-color-3);
			text-decoration: none;
		}
		& > div {
			&.tier1 {
				& > table {
					& > tbody {
						& > tr {
							border-bottom: solid var(--sakai-border-color) 1px;
						}
					}
				}
			}
		}
		div {
			&.tier1 {
				margin-left: 12px;
			}
		}
	}
	#questionProgressPanel {
		min-height: 220px;
		max-height: auto;
		width: 300px;
		background: var(--sakai-background-color-2);
		right: 0px;
		display: none;
		position: absolute;
		padding-bottom: 1em;
		top: 20px;
		color: var(--sakai-text-color-1);
		border: 1px solid var(--sakai-border-color);
		border-bottom-left-radius: 4px;
		z-index: 3;
		img {
			padding-bottom: 1px;
		}
		a[href]:hover {
			text-decoration: none;
		}
	}
	table {
		&.table {
			&.stat-table {
				margin-bottom: 0;
			}
			&.panel-body {
				&.stats-bod {
					td {
						background-color: var(--sakai-background-color-1);
						padding: 4px;
					}
				}
			}
		}
		&.presentation {
			p {
				margin: 0;
			}
		}
		&.settings {
			border: 1px solid var(--sakai-border-color);
		}
		&.simpleBorder {
			border-bottom: 1px solid var(--sakai-border-color);
			background-color: var(--sakai-background-color-1);
			vertical-align: top;
			td {
				padding: 4px;
				border-top: 1px solid var(--sakai-border-color);
				background-color: var(--sakai-background-color-1);
				vertical-align: top;
			}
		}
		&.noBorder {
			background-color: var(--sakai-background-color-1);
			vertical-align: top;
			border: 1px solid var(--sakai-background-color-1);
			td {
				padding: 4px;
				background-color: var(--sakai-background-color-1);
				vertical-align: top;
				border: 1px solid var(--sakai-background-color-1);
			}
		}
	}
	div {
		&.progress-stat {
			overflow: hidden;
			height: 20px;
			background-color: var(--sakai-background-color-2);
			border-radius: 0;
		}
		&.audio-visual-container {
			button {
				height: 56px;
				width: 60px;
				padding-top: 32px;
				margin-top: 2px;
				color: var(--sakai-text-color-1);
			}
		}
		&.attempts-remaining {
			font-weight: bold;
		}
		&.expanded {
			background: url('/library/image/sakai/collapse.gif') no-repeat left !important;
		}
		&.collapsed {
			background: url('/library/image/sakai/expand.gif') no-repeat left !important;
		}
		&.multiple_editor {
			float: right;
			clear: left;
		}
		&.question-text {
			&.panel-heading {
				background-color: var(--infoBanner-bgcolor);
			}
		}
	}
	span {
		&.progress-num {
			padding-left: 2px;
			color: var(--sakai-text-color-1);
			font-weight: bold;
			float: left;
			width: 110px;
			background-color: var(--sakai-background-color-2);
			border-right: 1px solid var(--sakai-border-color);
			font-size: 12px;
			line-height: 20px;
			text-align: center;
		}
		&.author_mcLabelText {
			padding-right: 0.2em;
		}
	}
	ul {
		&.question-with-progress {
			list-style: none;
			padding: 0;
		}
		&.ui-tabs-nav {
			border-bottom: 2px solid var(--sakai-border-color);
			li {
				span {
					&.samigo-tab-sub {
						text-decoration: none !important;
						font-weight: normal !important;
						color: var(--sakai-text-color-1);
					}
				}
				a {
					text-decoration: none !important;
					color: var(--link-color);
				}
				&.ui-tabs-selected {
					a {
						color: var(--sakai-text-color-1);
					}
				}
			}
		}
		&.groupList {
			display: block;
			list-style-type: disc;
			margin: 1em 0 1em 0;
			padding-left: 40px;
		}
		&.no-list {
			list-style-type: none;
			padding-left: 4px;
		}
		&.feedback-delivery {
			label {
				display: inline-block;
				max-width: 600px;
			}
			input {
				vertical-align: top;
				margin-top: 2px;
			}
		}
	}
	.question-with-progress {
		li {
			padding-bottom: 4px;
		}
	}
	.progress {
		margin-bottom: 0;
	}
	.progress-bar {
		background-color: var(--sakai-active-color-1);
	}
	.samigo-subheading, .samigo-sub-subheading {
		font-weight: 400;
		margin: 8px 0;
	}
	.samigo-subheading {
		font-size: 1.2em;
		border-bottom: 1px solid var(--sakai-border-color);
	}
	.samigo-sub-subheading {
		font-size: 1.1em;
	}
	h4 {
		&.samigo-category-subhead {
			font-weight: bold;
			padding-bottom: 8px;
			color: var(--sakai-text-color-1);
		}
		&.samigo-category-subhead-2 {
			font-weight: bold;
			margin-top: -2px;
			color: var(--sakai-text-color-1);
		}
	}
	.treefolder, .treefolder-open, .treedoc {
		position: relative;
		margin-right: 2px;
		padding: 1px 8px;
		border-radius: 4px;
		--link-hover-background-color: var(--sakai-background-color-3);
	}
	.treefolder {
		&:before {
			content: "\f0da";
			position: absolute;
			top: 0;
			font-family: FontAwesome;
		}
	}
	.treefolder-open {
		&:before {
			content: "\f0d7";
			position: absolute;
			top: 0;
			font-family: FontAwesome;
		}
	}
	.actionHeader {
		overflow: hidden;
		width: 100%;
		background: var(--warnBanner-bgcolor);
		padding: 0;
		h3 {
			h4 {
				h5 {
					float: left;
					margin: .3em;
				}
			}
		}
		div {
			float: right;
			padding: .3em;
		}
	}
	.navViewAction {
		background-color: var(--sakai-background-color-4);
		text-align: left;
		padding: 16px;
		vertical-align: bottom;
		font-size: 1.2em;
	}
	.textTable {
		vertical-align: top;
		margin-left: 2em;
	}
	.number {
		width: 23px;
		height: 23px;
		font-weight: bold;
		color: var(--sakai-text-color-inverted);
		background-image: url(#{$skin-path}images/circle.gif);
		vertical-align: middle;
		background-repeat: no-repeat;
		padding-left: 7px;
		padding-right: 2px;
		height: 32px;
		width: 32px;
		float: left;
	}
	.h3text {
		font-size: 1.2em;
		font-weight: bold;
	}
	.h4text {
		font-size: 1.0em;
		font-weight: bold;
	}
	.h5text {
		font-size: 0.8em;
		font-weight: bold;
	}
	.navList {
		text-align: right;
	}
	.navView {
		text-align: left;
	}
	.validate {
		color: var(--errorBanner-color);
		background-color: var(--errorBanner-bgcolor);
	}
	.toggle_link_container {
		text-align: right;
	}
	.toggle_link_container_for_richtextarea {
		text-align: left;
	}
	.toggle_link {
		font-size: 85%;
		border-right: 1px solid var(--sakai-border-color);
		border-left: 1px solid var(--sakai-border-color);
		border-top: 1px solid var(--sakai-border-color);
		margin-bottom: 0px;
	}
	.simple_text_area {
		margin-top: 0px;
	}
	.samLeftNav {
		vertical-align: bottom;
		text-align: left;
	}
	.samLeftTopNav {
		vertical-align: top;
		text-align: left;
	}
	.samRightNav {
		vertical-align: bottom;
		text-align: right;
	}
	.detailedStatsCorrectAnswerText {
		font-weight: bold;
	}
	.new_assessment {
		color: var(--sakai-text-color-2);
		font-weight: bold;
	}
	.boldText {
		font-weight: bold;
	}
	.textBelowHeader {
		padding: .3em 0 0 0;
	}
	.selectAction {
		width: 10%;
	}
	.titlePending {
		width: 27%;
		border-right: 0 !important;
	}
	.titleActions {
		width: 1px;
		border-left: 0 !important;
	}
	@media screen and (max-width: 991px) {
		.titlePending {
			width: 40%;
		}
	}
	.titlePub {
		width: 28%;
	}
	.downloanQuestionCheckbox {
		vertical-align: top;
	}
	.listAssessments {
		th {
			background-color: var(--sakai-background-color-4);
			border: 1px solid var(--sakai-border-color);
		}
	}
	.makeInfo {
		border: 1px solid var(--sakai-border-color);
		background-color: var(--warnBanner-bgcolor);
		position: absolute;
		top: 0px;
		left: 30px;
		text-indent: 0em;
		margin-top: 0.4em;
		margin-left: -1.2em;
		max-height: 250px;
		white-space: nowrap;
	}
	.makeLogInfo {
		border: 1px solid var(--warnBanner-bordercolor);
		background-color: var(--warnBanner-bgcolor);
		left: 30px;
		position: absolute;
		top: -10px;
		height: auto !important;
		padding: 6px;
		font-size: 1.1em;
		color: var(--warnBanner-color);
		text-indent: 0em;
		margin-top: 0.6em;
		margin-left: -1.5em;
		max-height: 250px;
		white-space: nowrap;
		overflow: scroll;
		overflow-x: auto;
		overflow-y: hidden;
	}
	.itemLogInfo {
		border: 1px solid var(--warnBanner-bordercolor);
		background-color: var(--warnBanner-bgcolor);
		position: absolute;
		top: -10px;
		left: 20px;
		height: auto !important;
		padding: 3px 3px 3px 3px;
		text-indent: 0em;
		margin-top: 0.6em;
		margin-left: -2.5em;
		max-height: 100px;
		max-width: 100px;
		white-space: nowrap;
		overflow: auto;
	}
	.scrollDescription {
		height: 700px;
		overflow: scroll;
		overflow-x: auto;
		overflow-y: scroll;
	}
	.info {
		position: relative;
	}
	.whiteSpaceNoWrap {
		white-space: nowrap;
	}
	.notification {
		color: var(--sakai-text-color-1);
		font-size: 110%;
		font-weight: bold;
	}
	.itemAction {
		li {
			display: inline;
			margin: 0;
			margin-left: -.5em;
			padding: 0 1em;
			margin-left: 0;
			padding: 0 .3em;
		}
	}
	li {
		&.last {
			border: 0 none;
		}
	}
	#samigo-create-container {
		margin-bottom: 20px;
		h4 {
			margin: 0 0 8px;
		}
	}
	#samigo-create-new {
		display: table-cell;
		background-color: var(--sakai-background-color-2);
		width: 40%;
		padding: 12px;
	}
	#samigo-create-or {
		display: table-cell;
		width: 10%;
		text-align: center;
		vertical-align: middle;
		line-height: 140px;
	}
	#samigo-create-import {
		display: table-cell;
		background-color: var(--sakai-background-color-2);
		width: 40%;
		padding: 20px;
	}
	#tabs {
		padding: 0;
		min-height: 300px;
		overflow: auto;
		#assessment-status-limiter {
			a {
				&.active {
					font-weight: bold;
					text-decoration: none !important;
					color: var(--sakai-text-color-1);
				}
			}
		}
	}
	tr.list-row-even td, tr.list-row-odd td {
		border-bottom: 1px solid var(--sakai-border-color);
		padding-top: 8px;
	}
	#assessment-status-limiter {
		margin-bottom: 12px;
	}
	#assessment-link-status-all, #assessment-link-status-active, #assessment-link-status-inactive {
		cursor: pointer;
	}
	#assessment-link-status-all.active, #assessment-link-status-active.active, #assessment-link-status-inactive.active {
		cursor: text;
	}
	#tabs, #tabs .ui-widget-content {
		border-width: 0;
		background: none;
	}
	.table-assessments {
		width: 100% !important;
		.itemAction {
			display: block;
			li {
				&::after {
					content: "|";
					margin: 0 -5px 0 5px;
				}
			}
			& > span {
				margin: 0 .3em;
				display: inline-block;
				&::after {
					content: "|";
					margin: 0 0 0 1px;
				}
			}
			& > ul {
				padding: 0;
			}
		}
	}
	.table-assessments .itemAction li:last-child::after, .table-assessments .itemAction > span:last-child::after {
		content: "";
	}
	.table-sent-assessments {
		padding: 15px;
	}
	#divider {
		background: none repeat scroll 0 0 var(--sakai-active-color-1);
		height: 150px;
		width: 1px;
		margin-left: 2px;
		margin-right: 5px;
	}
	.greyBox {
		background: none repeat-x scroll 50% 50% var(--sakai-background-color-2);
		border: 1px solid var(--sakai-border-color);
		padding: 8px;
	}
	.alignTop {
		vertical-align: top;
		vertical-align: top;
	}
	tbody {
		tr {
			td {
				&.center {
					text-align: center;
				}
			}
		}
	}
	a {
		&.hideDivision {
			color: inherit;
			text-decoration: none;
		}
	}
	.answerkeyFeedbackCommentLabel {
		font-weight: bold;
		color: var(--errorBanner-color);
		margin-right: 5px;
	}
	.saCharCount {
		border: 1px solid var(--sakai-border-color);
	}
	.samigo-linear-access-warning {
		background-color: var(--warnBanner-bgcolor);
		border: 1px solid var(--warnBanner-bordercolor);
		margin: 0px 10px 10px 10px;
		padding: 5px;
		border-radius: 5px;
		color: var(--warnBanner-color);
	}
	.placeholder, form#assessmentSettingsAction label.placeholder {
		color: var(--sakai-text-color-dimmed);
	}
	.submissionInfoCol1 {
		width: 200px;
	}
	.submissionInfoCol2 {
		width: 650px;
	}
	.samigo-question-answer {
		margin-bottom: 12px;
		&:hover {
			margin-bottom: 12px;
		}
	}
	.mcColumn1 {
		width: 40px;
	}
	#jqueryui-accordion {
		.ui-accordion-content {
			background-color: var(--sakai-background-color-2);
		}
		.ui-accordion-header {
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			border: 1px solid var(--sakai-border-color);
		}
	}
	.html {
		overflow: hidden;
		height: 100%;
	}
	.body {
		overflow: auto;
		height: 100%;
	}
	.downloanQuestionDescription {
		vertical-align: top;
	}
	.alignBottom {
		vertical-align: bottom;
	}
	.submissionAllowed {
		margin-top: 3px;
	}
	.groupTable {
		margin-top: 4px;
		margin-left: 269px;
	}
	label {
		&.inactive {
			color: var(--sakai-text-color-disabled) !important;
		}
		&:has(pre) {
			display: inline;
		}
	}
	#modifyPartForm {
		margin-top: 1em;
		fieldset {
			padding: 1em 0 1em 0;
			margin: 0;
			&.roundedBorder {
				border: 2px solid var(--sakai-border-color);
				border-radius: 5px;
				padding: 1em;
				margin-bottom: 1em;
				legend {
					padding-left: 6px;
					padding-right: 6px;
					background: transparent;
					color: var(--sakai-text-color-1);
				}
				input[type="text"] {
					box-sizing: content-box;
					width: 5ch;
					text-align: center;
					margin-left: 5px;
					margin-right: 5px;
				}
			}
			&.addEditPartOptions {
				padding: 1em 0 0 0;
				margin: 0;
			}
		}
	}
	#modifyPartForm\:pointsOption, #modifyPartForm\:drawOption, #modifyPartForm\:fixedOption {
		margin-bottom: 0.5em;
	}
	#modifyPartForm select, #modifyPartForm\:drawOption span.multiselect-native-select {
		margin-left: 5px;
	}
	.titleEditor label, .infoEditor label, .titleEditor input, .infoEditor input {
		display: block;
	}
	.infoEditor {
		width: 50%;
		textarea {
			width: 100%;
			min-width: 200px;
		}
	}
	.titleEditor {
		label {
			width: 100%;
		}
		input {
			margin: 0.4em 0 0.4em 0;
			width: 50%;
			min-width: 200px;
		}
	}
	.titleEditor label, .infoEditor label {
		font-weight: bold;
		color: var(--sakai-text-color-1);
		font-size: 100%;
		margin-left: 0px;
		padding-left: 0px;
	}
	.titleEditor, .infoEditor {
		margin: 0.4em 1em 1em 0;
	}
	.attachmentEditor {
		.act {
			margin-bottom: 0;
			padding: 0;
		}
	}
	div.expanded, div.collapsed {
		cursor: pointer !important;
		padding-left: 1em !important;
	}
	#questionpool .tier0,
	#editform .tier0,
	#transferPool .tier0 {
		margin-left: 0;
	}
	#questionpool .tier1,
	#editform .tier1,
	#transferPool .tier1 {
		margin-left: 1em;
	}
	#questionpool .tier2,
	#editform .tier2,
	#transferPool .tier2 {
		margin-left: 2em;
	}
	#partialCredit_toggle .tier3,
	#mcms_credit_toggle .tier3,
	#questionpool .tier3,
	#editform .tier3,
	#transferPool .tier3 {
		margin-left: 3em;
	}
	#questionpool .tier4,
	#editform .tier4,
	#transferPool .tier4 {
		margin-left: 4em;
	}
	#questionpool .tier5,
	#editform .tier5,
	#transferPool .tier5 {
		margin-left: 5em;
	}
	#questionpool .tier6,
	#editform .tier6,
	#transferPool .tier6 {
		margin-left: 6em;
	}
	#questionpool .tier7,
	#editform .tier7,
	#transferPool .tier7 {
		margin-left: 7em;
	}
	#questionpool .tier8,
	#editform .tier8,
	#transferPool .tier8 {
		margin-left: 8em;
	}
	#questionpool .tier9,
	#editform .tier9,
	#transferPool .tier9 {
		margin-left: 9em;
	}
	#questionpool .tier10,
	#editform .tier10,
	#transferPool .tier10 {
		margin-left: 10em;
	}
	td {
		&.releaseTo {
			div {
				&.alertMessage {
					width: auto;
				}
			}
		}
		&.feedbackColumn2 {
			vertical-align: bottom;
			padding-bottom: 4px;
		}
		&.stats-info-column {
			width: 300px;
			vertical-align: top;
			td {
				font-size: .95em;
				padding-top: 6px;
				padding-bottom: 6px;
			}
		}
		&.stats-correctness {
			width: 7%;
			padding-left: 10px;
		}
	}
	.qtipBodyContent {
		font-size: 1.3em !important;
		min-width: 800px !important;
	}
	.qtip {
		font-size: inherit !important;
		line-height: inherit !important;
		font-family: inherit !important;
	}
	#questionProgressClick {
		height: 200px;
		width: 40px;
		background: var(--sakai-background-color-2);
		border: 1px solid var(--sakai-border-color);
		color: var(--sakai-text-color-1);
		border-right: none;
		right: 299px;
		margin-top: 200px;
		position: absolute;
		display: none;
		font-weight: bold;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		cursor: pointer;
		top: 20px;
		z-index: 3;
	}
	.currentQuestion {
		a {
			border: 1px solid var(--sakai-active-color-3);
			background-color: var(--sakai-active-color-1);
			color: var(--sakai-text-color-3);
		}
	}
	.questionProgressTable {
		td {
			.progressItem {
				&:hover {
					background-color: var(--sakai-background-color-3);
					cursor: pointer;
					border-radius: 4px;
				}
			}
		}
		a {
			text-decoration: none;
			font-size: 100%;
			padding: 8px;
			border-radius: 4px;
			display: inline-block;
			img {
				vertical-align: middle;
			}
		}
	}
	.questionProgressTable td, .questionProgressTable_linear td {
		border: 0;
		text-align: right;
		background-color: transparent;
	}
	img {
		&.bublecenter {
			vertical-align: middle;
		}
	}
	p {
		&.progressItem {
			padding: 0;
			margin: 0 8px 8px 0;
			line-height: 1.5em;
			img {
				vertical-align: middle;
			}
		}
	}
	.rotateQP {
		color: var(--sakai-text-color-1);
		white-space: nowrap;
		margin-top: 154px;
		transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	}
	.partLink {
		margin: 0;
		border: none;
		padding: 1px;
		display: inline-block;
		outline: none;
		outline-offset: 0;
		line-height: 1;
		overflow: hidden;
		text-align: left;
		width: 160px;
		text-overflow: ellipsis;
	}
	button {
		&.partLink {
			&::-moz-focus-inner {
				border: none;
				padding: 0;
			}
		}
	}
	div[id^='partTable'] {
		display: none;
	}
	.numberOfQuestionsInPart {
		position: absolute;
		right: 20px;
	}
	.partTitle {
		display: inline-block;
		width: 270px;
		padding-bottom: 8px;
		padding-top: 8px;
		line-height: 1;
	}
	input[type='reset'].linearButton {
		background: none transparent;
		margin: 2px !important;
		border: none !important;
		padding: 0 !important;
		outline: none;
		outline-offset: 0;
		box-shadow: none !important;
		height: 100% !important;
	}
	.linearPastQuestion {
		opacity: 0.4;
		filter: alpha(opacity=40);
		background-color: inherit;
	}
	.arrow {
		vertical-align: middle;
		position: inherit;
		right: 280px;
	}
	.hiddenArrow {
		display: none;
	}
	#itemForm\3A {
		pairs {
			max-width: 1200px;
		}
	}
	.sam-leftSep {
		border-left: 1px solid var(--sakai-border-color);
		padding-left: 10px;
		margin-left: 10px;
	}
	.sam-reviewHeaderTabs {
		display: -webkit-flex;
		display: flex;
		line-height: 1;
	}
	.sam-reviewHeaderTabs span, .sam-reviewHeaderTabs a {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}
	.submission-container {
		margin-bottom: 20px;
	}
	.sam-asterisks-row {
		padding: 0.5em 1em;
		border-top: 1px solid var(--sakai-border-color);
	}
	.sam-submittedPanel {
		margin-top: 10px;
	}
	.honor-container {
		display: table-row;
		label {
			display: table-cell;
			padding-left: .5em;
		}
	}
	.table-borderless tbody tr td,
	.table-borderless tbody tr th,
	.table-borderless thead tr th,
	.table-borderless thead tr td,
	.table-borderless tfoot tr th,
	.table-borderless tfoot tr td {
		border: none !important;
	}
	.collection {
		font-size: x-small;
		color: var(--sakai-text-color-1);
		font-style: italic;
	}
	.mathjax-warning.alert, .mathjax-warning .alert {
		margin: 0;
		padding: 6px 12px;
	}
	.MathJax_Display {
		text-align: left !important;
	}
	.input-group-btn {
		button {
			&.multiselect-clear-filter {
				padding: 6px 12px;
				font-size: 14px;
				line-height: 1.42857143;
				background-color: var(--sakai-background-color-2);
			}
		}
	}
	.multiselect-container {
		&.dropdown-menu {
			z-index: 999;
		}
	}
	label#itemForm\:noFeedbackMsg {
		font-weight: normal;
		margin-left: 1em;
		font-style: italic;
	}
	.eventLogDeleted {
		color: var(--sakai-text-color-disabled);
	}
	input#eventLogId\:previousEventPage,
	input#eventLogId\:search {
		margin-right: 4px;
	}
	input#eventLogId\:clear {
		margin-right: 8px;
	}
	div#eventSearchContainer {
		margin-top: 4px;
	}
	.noListStyle {
		list-style: none;
		padding-left: 0;
	}
	.extraCreditLabel {
		font-weight: bold;
		color: var(--successBanner-color);
	}
	.categorySelect {
		margin-left: 8px;
	}
	.attachment-table {
		width: 40% !important;
	}
	table.stats-bar, table.stats-tracking {
		margin-bottom: 0px;
	}
	table.stats-bar th, table.stats-tracking th {
		border: 0px;
		background-color: var(--sakai-background-color-2);
	}
	#chartdiv {
		.jqplot-point-label {
			font-weight: bold;
			font-size: 12pt;
		}
	}
	.stats-info-column {
		caption {
			background-color: var(--sakai-background-color-2);
			padding: 0;
			border-bottom: 0;
			color: var(--sakai-text-color-1);
		}
	}
	td.stats-answers, td.stats-track-answers {
		width: 43%;
		padding-left: 10px;
	}
	.sam-data-discrepancy-ol {
		margin-top: 10px;
	}
	.feedbackByDatePanel {
		padding-left: 2em;
	}
	#autosave-msg {
		visibility: hidden;
	}
	#autosave-lasttime-msg {
		display: none;
	}
	fieldset {
		&.short-summary-box {
			padding: 2px;
			border: 1px #d9d7d7 solid;
			& > legend {
				&.summary-title {
					font-size: 18px;
				}
			}
		}
	}
	input[type="submit"].print_button {
		font-size: 14px;
	}
	
}

/*
SAK-51750 - Since featherlight is no longer inside sakai-samigo namespace
we check if body has a children with samigo class and apply it then.
*/
body:has(.#{$namespace}sakai-samigo) {
	[class^=audioRecordingPopup].featherlight-inner {
		display: block !important;
	}
	.featherlight {
		.featherlight-content {
			max-width: initial !important;
			max-height: 95% !important;
			background-color: var(--sakai-background-color-1) !important;
		}
		.featherlight-close-icon {
			color: var(--sakai-text-color-1) !important;
		}
	}
	.audio-recorder-header {
		text-align: center;
		border-bottom: 1px solid var(--sakai-border-color);
		font-size: 1.1em;
		padding: 4px 0;
		margin-bottom: 8px;
	}
	.audio-recorder-container {
		padding: 0 8px;
	}
	.audio-popup-question {
		font-size: 1.1em;
		font-weight: bold;
		padding-bottom: 12px;
	}
	.audio-popup-question-text {
		padding-bottom: 12px;
	}
	.audio-recorder-intro {
		div {
			padding-bottom: 12px;
		}
	}
	.audio-visual-container {
		width: 778px;
		padding: 2px;
		border: 1px solid var(--sakai-border-color);
		background-color: var(--sakai-background-color-2);
		.audio-upload {
			background-color: var(--sakai-active-color-3);
			margin-left: 50px;
			width: 140px;
			border-radius: 5px;
			height: 40px;
			padding: 0;
			margin-top: 8px;
			vertical-align: top;
		}
	}
	.audio-analyzer {
		height: 128px;
		width: 100%;
		background-color: black;
	}
	.playback-analyzer {
		height: 128px;
		width: 100%;
		background-color: var(--sakai-color-black);
	}
	.audio-timer-wrapper {
		width: auto;
		height: 60px;
		background-color: var(--sakai-color-gray--darker-4);
		margin: 0 auto;
		position: relative;
		color: var(--sakai-color-white);
	}
	.audio-scrubber {
		width: 704px;
		height: 12px;
		border-radius: 4px;
		background-color: var(--sakai-color-gray--lighter-2);
		border: 1px solid var(--sakai-color-gray);
		position: absolute;
		top: 30px;
		right: 50px;
	}
	.audio-timer {
		position: absolute;
		top: 10px;
		left: 12px;
		width: 30px;
		height: 20px;
		background-color: var(--sakai-color-gray--darker-2);
		border: 1px solid var(--sakai-color-gray--darker-4);
		border-radius: 3px;
		text-align: center;
		font-size: 0.9em;
		z-index: 999;
		&:after {
			border-color: transparent;
			border-top-color: var(--sakai-color-gray--darker-2);
			border-width: 4px;
			left: 50%;
			margin-left: -4px;
		}
		&:before {
			border-color: transparent;
			border-top-color: var(--sakai-color-gray--darker-2);
			border-width: 5px;
			left: 50%;
			margin-left: -5px;
		}
	}
	.audio-timer:after, .audio-timer:before {
		top: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		margin-top: 1px;
	}
	.audio-max-time {
		position: absolute;
		right: 8px;
		top: 30px;
		width: 30px;
		text-align: right;
		font-size: 0.9em;
	}
	div.audio-controls button {
		padding-top: 2.25rem;
	}
	div.audio-controls button.audio-record, div.audio-controls button.audio-record:hover {
		background: transparent url(/library/image/record.png) no-repeat center 2px;
	}
	div.audio-controls button.audio-stop, div.audio-controls button.audio-stop:hover {
		background: transparent url(/library/image/stop.png) no-repeat center 2px;
	}
	div.audio-controls button.audio-play, div.audio-controls button.audio-play:hover {
		background: transparent url(/library/image/play.png) no-repeat center 2px;
	}
	.audio-posting, .audio-finished, .audio-browser-plea {
		font-size: 28px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 15px;
		width: 100%;
	}
	.audio-mic-check {
		padding: 8px 0;
	}
	.audio-last-attempt {
		font-style: italic;
		font-weight: normal;
		padding-left: 100px;
	}
	#mic-check {
		background: transparent url(/library/image/mic-check.png) no-repeat center center;
	}
	#squaresWaveG {
		position: relative;
		width: 124px;
		height: 15px;
		margin-left: auto;
		margin-right: auto;
	}
	.squaresWaveG {
		position: absolute;
		top: 0;
		background-color: var(--errorBanner-color);
		width: 15px;
		height: 15px;
		-moz-animation-name: bounce_squaresWaveG;
		-moz-animation-duration: 1.9s;
		-moz-animation-iteration-count: infinite;
		-moz-animation-direction: linear;
		-webkit-animation-name: bounce_squaresWaveG;
		-webkit-animation-duration: 1.9s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-direction: linear;
		-ms-animation-name: bounce_squaresWaveG;
		-ms-animation-duration: 1.9s;
		-ms-animation-iteration-count: infinite;
		-ms-animation-direction: linear;
		-o-animation-name: bounce_squaresWaveG;
		-o-animation-duration: 1.9s;
		-o-animation-iteration-count: infinite;
		-o-animation-direction: linear;
		animation-name: bounce_squaresWaveG;
		animation-duration: 1.9s;
		animation-iteration-count: infinite;
		animation-direction: linear;
	}
	#squaresWaveG_1 {
		left: 0;
		-moz-animation-delay: 0.76s;
		-webkit-animation-delay: 0.76s;
		-ms-animation-delay: 0.76s;
		-o-animation-delay: 0.76s;
		animation-delay: 0.76s;
	}
	#squaresWaveG_2 {
		left: 16px;
		-moz-animation-delay: 0.95s;
		-webkit-animation-delay: 0.95s;
		-ms-animation-delay: 0.95s;
		-o-animation-delay: 0.95s;
		animation-delay: 0.95s;
	}
	#squaresWaveG_3 {
		left: 32px;
		-moz-animation-delay: 1.14s;
		-webkit-animation-delay: 1.14s;
		-ms-animation-delay: 1.14s;
		-o-animation-delay: 1.14s;
		animation-delay: 1.14s;
	}
	#squaresWaveG_4 {
		left: 48px;
		-moz-animation-delay: 1.33s;
		-webkit-animation-delay: 1.33s;
		-ms-animation-delay: 1.33s;
		-o-animation-delay: 1.33s;
		animation-delay: 1.33s;
	}
	#squaresWaveG_5 {
		left: 64px;
		-moz-animation-delay: 1.52s;
		-webkit-animation-delay: 1.52s;
		-ms-animation-delay: 1.52s;
		-o-animation-delay: 1.52s;
		animation-delay: 1.52s;
	}
	#squaresWaveG_6 {
		left: 80px;
		-moz-animation-delay: 1.71s;
		-webkit-animation-delay: 1.71s;
		-ms-animation-delay: 1.71s;
		-o-animation-delay: 1.71s;
		animation-delay: 1.71s;
	}
	#squaresWaveG_7 {
		left: 96px;
		-moz-animation-delay: 1.9s;
		-webkit-animation-delay: 1.9s;
		-ms-animation-delay: 1.9s;
		-o-animation-delay: 1.9s;
		animation-delay: 1.9s;
	}
	#squaresWaveG_8 {
		left: 112px;
		-moz-animation-delay: 2.09s;
		-webkit-animation-delay: 2.09s;
		-ms-animation-delay: 2.09s;
		-o-animation-delay: 2.09s;
		animation-delay: 2.09s;
	}
}