<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd" >
    <head>
        <title></title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    </head>
    <body>
    <wicket:panel xmlns:wicket="http://wicket.apache.org">
        <ul class="eventDetailsList">
            <li wicket:id="detailsList">
                <span class="eventDetailsKey"><span wicket:id="key">key</span>:</span><span wicket:id="details" class="eventDetailsDescription">value</span>
            </li>
        </ul>
    </wicket:panel>

    <wicket:fragment wicket:id="text">
        <span wicket:id="displayValue">Display Value</span>
    </wicket:fragment>

    <wicket:fragment wicket:id="link">
        <a wicket:id="displayLink">Display Link</a>
    </wicket:fragment>
    </body>
</html>
