<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- ENTITY PROVIDERS START -->
	<bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider" 
		class="org.sakaiproject.blti.entityprovider.BLTIEventsEntityProvider">
	</bean>
	<bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider" 
		class="org.sakaiproject.lti.entityprovider.LTIEntityProvider">
	        <property name="siteService" ref="org.sakaiproject.site.api.SiteService" />
	        <property name="ltiService" ref="org.sakaiproject.lti.api.LTIService" />
	</bean>
	<!-- ENTITY PROVIDERS END -->
       
</beans>
