<?xml version="1.0"?>
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>IMS Services Servlet</display-name>

  <servlet>
    <servlet-name>ServiceServlet</servlet-name>
    <servlet-class>org.sakaiproject.blti.ServiceServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>LTI2Service</servlet-name>
    <servlet-class>org.sakaiproject.lti2.LTI2Service</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>SampleServlet</servlet-name>
    <servlet-class>org.tsugi.lti2.LTI2Servlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ServiceServlet</servlet-name>
    <url-pattern>/service/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>LTI2Service</servlet-name>
    <url-pattern>/lti2/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SampleServlet</servlet-name>
    <url-pattern>/sample/*</url-pattern>
  </servlet-mapping>
  
  <listener>
    <listener-class>org.sakaiproject.util.SakaiContextLoaderListener</listener-class>
  </listener>

</web-app>
