//////////////////////////////
// EXTENDABLES: For Base styles 
//////////////////////////////

%btn-all {
  width: auto;
  text-align: center;
  font-family: $button__font-family;
  font-size: inherit;
  font-weight: normal;
  font-style: normal;
  @include border-outline(border, $button__border-width, $button__border-style, $button__border-color);
  cursor: pointer;
  @include margin-padding(padding, $button__padding);
  line-height: 1;
  @include border-radius($button__border-radius);
}

%button {
  @extend %btn-all;
  @include button-theme($button__color, $button__background-color, $button__gradient-position, $button__background-color-offset);
}

%button-action {
  @extend %btn-all;
  @include button-theme($button--light__color, $button--action__background-color, $button__gradient-position, $button__background-color-offset);
}

%button-cancel {
  @extend %btn-all;
  @include button-theme($button--light__color, $button--cancel__background-color, $button__gradient-position, $button__background-color-offset);
}

%button-disabled {
  @extend %btn-all;
  @include button-theme($button__color, $button--disabled__background-color, $button__gradient-position, $button__background-color-offset, true, $button--disabled__opacity);
}