//////////////////////////////
// MIXINS: For Base 
//////////////////////////////

@mixin button-theme($button__color, $button__background-color, $button__gradient-position: top, $button__background-color--offset: 3%, $button__text-shadow: false, $button__text-shadow--values: 0 -1px 0, $disabled: false, $button--disabled__opacity: false) {

  // Globals
  $button__gradient-stop-2: shade($button__background-color, $button__background-color--offset) !global;
  $button--hover__gradient-stop-2: tint($button__background-color, $button__background-color--offset)  !global;
  $button--active__gradient-stop-1: shade($button__background-color, $button__background-color--offset) !global;
  $button--dark__color: shade($button__gradient-stop-2, 15%) !global;

  $button__text-shadow--color: rgba( mix( invert($button__color), $button__background-color, 75%), .75) !global;
  $button--disabled__opacity: .75 !global;

  @include simple-background-gradient($button__color, $button__gradient-position, $button__background-color, $button__gradient-stop-2);

  @if $button__text-shadow {
    text-shadow: $button__text-shadow--values $button__text-shadow--color;
  } 
  @if $button__text-shadow == false {
    text-shadow: none;
  }
  
      border-color: $button--dark__color;
  @if $disabled { opacity: $button--disabled__opacity; }

  @if $disabled == false {

    &:hover,
    &:focus {  
      @include simple-background-gradient($button__color, $button__gradient-position, $button__background-color, $button--hover__gradient-stop-2);
    }  

    &:active {  
      @include simple-background-gradient($button__color, $button__gradient-position, $button--active__gradient-stop-1, $button__background-color);
    }
  } 
}