//////////////////////////////
// EXTENDABLES: For Base styles 
//////////////////////////////

%btn-all {
  width: auto;
  text-align: center;
  font-family: $button-font-family;
  font-size: inherit;
  font-weight: normal;
  font-style: normal;
  @include border-outline(border, $button-border-width, $button-border-style, $button-border-color);
  cursor: pointer;
  @include margin-padding(padding, $button-padding);
  line-height: 1;
  @include border-radius($button-border-radius);
}

%button {
  @extend %btn-all;
  @include button-theme($button-color, $button-background, $button-gradient-pos, $button-background-color-offset);
}

%button-action {
  @extend %btn-all;
  @include button-theme($button-light-color, $button-action-background, $button-gradient-pos, $button-background-color-offset);
}

%button-cancel {
  @extend %btn-all;
  @include button-theme($button-light-color, $button-cancel-background, $button-gradient-pos, $button-background-color-offset);
}

%button-disabled {
  @extend %btn-all;
  @include button-theme($button-color, $button-disabled-background, $button-gradient-pos, $button-background-color-offset, true, $button-disabled-opacity);
}