##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/admin/chef_presence-List.vm,v 1.3 2005/05/24 20:00:39 gsilver.umich.edu Exp $ -->
<div class="portletBody">
#if($menu)
	#toolbar($menu)
#end
	<h3>
	$tlang.getString("presence.list1.user")
	</h3>
	#if ($alertMessage)
		<div class="alertMessage">
			$tlang.getFormattedMessage("presence.list1.alert.message", $validator.escapeHtml($alertMessage))
		</div>
	#end
	<table class="table table-hover table-striped table-bordered" summary ="$tlang.getString("presence.list1.tablesummary")" border="0">
		#foreach ($location in $locations)
			#set($list = $service.getPresence($location))
			<tr class="highLightRow">
				<td>
					$list.size()
				</td>
				<td colspan="5">
					$tlang.getFormattedMessage("presence.list1.location.value", $validator.escapeHtml($location))
				</td>
			</tr>
			#foreach($entry in $list)
				<tr>
					<td>
					</td>
					<td>
						<span title="$tlang.getString("presence.session.name")">$validator.escapeHtml($entry.UserDisplayId)</span>
					</td>
					<td class="hidden-xs">
						<span title="$tlang.getString("presence.session.session")">$validator.escapeHtml($entry.Id)</span>
					</td>
					<td>
						<span title="$tlang.getString("presence.session.adress")">$validator.escapeHtml($entry.IpAddress)</span>
					</td>
					<td class="hidden-xs">
						<span title="$tlang.getString("presence.session.agent")" class="textPanelFooter">$validator.escapeHtml($entry.UserAgent)</span>
					</td>
					<td>
						<span title="$tlang.getString("presence.session.started")">$validator.escapeHtml($entry.getStart().toStringLocalFull())</span>
					</td>
				</tr>
			#end
		#end
	</table>
</div>

#sakai_courier()
