<!-- sakai_make_site_page.vm, use with org.sakaiproject.tool.content.ResourcesAction.java -->
<div class="portletBody specialLink">
	<h3>
		$tlang.getString("make.site.page")
	</h3>
	#if ($alertMessage)
		<div class="alertMessage">$tlang.getString("label.alert") $validator.escapeHtml($alertMessage)</div>
		<div style="display:block;clear:both" ></div>
	#end
	<p class="instruction">
		$tlang.getString("instr.makesitepage")
	</p>
	<form name="addContentForm" id="addContentForm" method="post" action="#toolForm("ResourcesAction")" >
		<input type="hidden" name="pipe-init-id" id="pipe-init-id" value="$!{pipe-init-id}" />
		<input type="hidden" name="requestStateId" id="requestStateId" value="$!{requestStateId}" />
		<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
		#if($!{item.isMissing("content")})
			<p class="shorttext validation">
		#else
			<p class="form-group">
		#end
			<label for="content">$tlang.getString("label.page")</label>
			<input class="form-control" type="text" name="page" id="page" value="$!validator.escapeHtml("$!page")" />
		</p>
		<p class="act">
			<input type="submit" class="active" name="savechanges" id="saveChanges" onclick="showNotif('submitnotif','saveChanges','addContentForm');document.getElementById('addContentForm').action='#toolLink("ResourcesAction" "doMakeSitePage")';submitform('addContentForm');" value="$tlang.getString("button.addpage")" accesskey="s" />
			<input type="button" name="cancel" onclick="document.getElementById('addContentForm').action='#toolLink("ResourcesAction" "doCancel")';submitform('addContentForm');" value="$tlang.getString("label.cancel")" accesskey="x" />
			<span id="submitnotif" style="visibility:hidden">$tlang.getString("label.proces")</span>
		
		</p>
		
	</form>
</div>
<script type="text/javascript">
	<!--
	focus_path = ["page"];
	function submitform(id)
	{
		var theForm = document.getElementById(id);
		if(theForm && theForm.onsubmit)
		{
			theForm.onsubmit();
		}
		if(theForm && theForm.submit)
		{
			theForm.submit();
		}
	}
	-->
</script>
