<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd" >

<body>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<label wicket:for="spinnerSelect" aria-hidden="true" class="sakai-spinner-label"><wicket:label /></label>
	<span class="sakai-spinner-internal-use">
	<select wicket:id="spinnerSelect">
	<option value="1">Option 1</option>
	<option value="2">Option 2</option>
	</select>
</span>
</wicket:panel>
</body></html>
