<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<title rsf:id="basic-page-title">Sakai Skin for FlowTalk</title>
<link  rsf:id="scr=portal-matter" href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
<link href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all" rsf:id="scr=portal-matter" />
<script type="text/javascript" language="JavaScript" src="/library/js/headscripts.js" rsf:id="scr=portal-matter"></script>
</head>

<body rsf:id="scr=sakai-body">
<div class="portletBody">
<h3 rsf:id="msg=mainTitle">reset your password</h3>

	<div rsf:id="error-row:">
		<div class="alertMessage" rsf:id="error">We Have Errors!</div>
		</div>
		<p rsf:id="main">Some</p>
		<p rsf:id="instructions">If you are a UCT student, please use the <a href="http://password.uct.ac.za" target="_blank">password self service tool</a> or visit a computer lab on campus to have your account reset. If you are a staff member, please log a call with the <a href="http://www.icts.uct.ac.za/modules.php?name=blocks" target="_blank">ICTS helpdesk.</a></p>
<form rsf:id="form">
<P>
<span rsf:id="output"> </span>
</P>
<P>
<span rsf:id="msg=formLabel"> Your email address</span> <input type="text" rsf:id="input" />
<input type="submit" value="Post" rsf:id="submit"/>
</P>
</form>

</div>
</body>
</html>
