application/binary=true
application/andrew-inset=true
application/applefile=true
application/astound=true
application/atomicmail=true
application/cals-1840=true
application/ccv=true
application/commonground=true
application/cybercash=true
application/dca-rft=true
application/dec-dx=true
application/envoy=true
application/fastman=true
application/fractals=true
application/futuresplash=true
application/hdf=true
application/ims-cp=true
application/java=false
application/mac-binhex40=true
application/macwriteii=true
application/mbedlet=true
application/ms-excel=true
application/ms-powerpoint=true
application/mspowerpoint=true
application/x-mspowerpoint=true
application/msppt=true
application/vnd.ms-powerpoint=true
application/x-powerpoint=true
application/powerpoint=true
application/vnd.ms-access=true
application/msaccess=true
application/msword=true
application/news-message-id=true
application/news-transmission=true
application/octet-stream=true
application/oda=true
application/pdf=true
application/postscript=true
application/remote-printing=true
application/riscos=true
application/rtf=true
application/sgml=true
application/x-shockwave-flash=true
application/slate=true
application/vnd.artgalry=true
application/vnd.framemaker=true
application/vnd.koan=true
application/vnd.mif=true
application/vnd.ms-excel=true
application/vnd.ms-powerpoint=true
application/vnd.ms-project=true
application/vnd.ms-tnef=true
application/vnd.ms-works=true
application/vnd.music-niff=true
application/vnd.svd=true
application/vnd.truedoc=true
application/wita=true
application/wordperfect5.1=true
application/x-alpha-form=true
application/x-asap=true
application/x-bcpio=true
application/x-chat=true
application/x-cpio=true
application/x-csh=true
application/x-director=true
application/x-dvi=true
application/x-gtar=true
application/x-javascript=true
application/x-koan=true
application/x-latex=true
application/x-msexcel=true
application/x-net-install=true
application/x-ns-proxy-autoconfig=true
application/x-oleobject=true
application/x-olescript=true
application/x-osp=false
application/x-pcn=true
application/x-pdf=true
application/x-perl=true
application/x-pn-realaudio=true
application/x-pointplus=true
application/x-rad-powermedia=true
application/x-sh=true
application/x-shar=true
application/x-sprite=true
application/x-stuffit=true
application/x-tar=true
application/x-tcl=true
application/x-tex=true
application/x-troff=true
application/x-troff-man=true
application/x-troff-me=true
application/x-troff-ms=true
application/x-ustar=true
application/x-wais-source=true
application/x-webbasic=true
application/x-wingz=true
application/x-www-form-urlencoded=true
application/x-www-local-exec=true
application/x-zip-compressed=true
application/x400-bp=true
application/xhtml+xml=false
application/zip=true
application/x-mspublisher=
audio/basic=true
audio/echospeech=true
audio/voxware=true
audio/x-aiff=true
audio/x-wav=true
audio/wav=true
audio/mpeg=true
audio/mp3=true
audio/x-mp3=true
audio/mpeg3=true
audio/x-mpeg3=true
audio/mpg=true
audio/x-pn-realaudio=true
audio/x-realaudio=true
audio/x-mpg=true
audio/x-mpegaudio=true
audio/x-mpeg=true
audio/x-mpeg-2=true
folder=true
image/bitmap=true
image/bmp=true
image/cgm=true
image/fif=true
image/g3fax=true
image/gif=true
image/png=true
image/ief=true
image/jpeg=true
image/photoshop=true
image/naplps=true
image/rgb=true
image/tiff=true
image/vnd.dwg=true
image/vnd.dxf=true
image/vnd.svf =true
image/wavelet=true
image/x-cals=true
image/x-cmu-raster=true
image/x-cmx=true
image/x-dwg=true
image/x-dxf =true
image/x-mgx-dsf=true
image/x-ms-bmp=true
image/x-photo-cd=true
image/x-pict=true
image/x-png=true
image/x-portable-anymap=true
image/x-portable-bitmap=true
image/x-portable-graymap=true
image/x-portable-pixmap=true
image/x-rgb=true
image/x-xbitmap=true
image/x-xpixmap=true
image/x-xwindowdump=true
text/rtf=false
text/css=false
text/html=false
text/javascript=true
text/plain=false
text/richtext=true
text/sgml=false
text/tab-separated-values=true
text/vbscript=true
text/x-enriched=false
text/x-setext=false
text/x-speech=false
text/xml=false
vector/x-svf =true
video/mpeg=true
video/mpeg-2=true
video/quicktime=true
video/vdo=true
video/vivo=true
video/vnd.vivo=true
video/x-msvideo=true
video/x-sgi-movie=true
workbook/formulaone=true
x-conference/x-cooltalk=true
x-form/x-openscape=true
x-music/x-midi=true
x-script/x-wfxclient =true
text/url=false
image/pjpeg=true
x-world/x-vrml=true
model/vrml=true
application/x-blaxxunCC3D=true
application/x-blaxxunCC3Dpro=true
application/x-CC3D=true
x-msdos-program=true
application/x-msdos-program=true

