<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- create a DAO bean, use the hibernate implementation -->
	<bean id="org.sakaiproject.accountvalidator.dao.impl.ValidationLogicDaoTarget"
			class="org.sakaiproject.accountvalidator.dao.impl.ValidationLogicDao">
		<property name="sessionFactory" 
			ref="org.sakaiproject.springframework.orm.hibernate.GlobalSessionFactory" />
		<property name="persistentClasses">
			<list>
				<value>org.sakaiproject.accountvalidator.model.ValidationAccount</value>
			</list>
		</property>
	</bean>

	<!-- This wraps our DAO so that the transactions are managed -->
	<bean id="org.sakaiproject.accountvalidator.dao.ValidationLogicDao"
			 class="org.sakaiproject.genericdao.springutil.CurrentClassLoaderTxProxyFactoryBean">
		
		<property name="transactionManager" 
			ref="org.sakaiproject.springframework.orm.hibernate.GlobalTransactionManager" />
		<property name="target" 
			ref="org.sakaiproject.accountvalidator.dao.impl.ValidationLogicDaoTarget" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>


</beans>
