<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean
		id="org.sakaiproject.gradebookng.business.GradebookNgBusinessService"
		class="org.sakaiproject.gradebookng.business.GradebookNgBusinessService">
		<property name="assignmentService" ref="org.sakaiproject.assignment.api.AssignmentService" />
		<property name="courseManagementService" ref="org.sakaiproject.coursemanagement.api.CourseManagementService" />
		<property name="userDirectoryService" ref="org.sakaiproject.user.api.UserDirectoryService" />
		<property name="serverConfigService" ref="org.sakaiproject.component.api.ServerConfigurationService" />
		<property name="siteService" ref="org.sakaiproject.site.api.SiteService" />
		<property name="toolManager" ref="org.sakaiproject.tool.api.ToolManager" />
		<property name="gradingService" ref="org.sakaiproject.grading.api.GradingService" />
		<property name="gradingPermissionService" ref="org.sakaiproject.grading.api.GradingPermissionService" />
		<property name="sectionManager" ref="org.sakaiproject.section.api.SectionManager"/>
		<property name="groupProvider" ref="org.sakaiproject.authz.api.GroupProvider"/>
		<property name="securityService" ref="org.sakaiproject.authz.api.SecurityService" />
		<property name="rubricsService" ref="org.sakaiproject.rubrics.api.RubricsService" />
		<property name="formattedText" ref="org.sakaiproject.util.api.FormattedText" />
		<property name="userTimeService" ref="org.sakaiproject.time.api.UserTimeService" />
		<property name="taskService" ref="org.sakaiproject.tasks.api.TaskService" />
	</bean>

	<bean
		parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider"
		class="org.sakaiproject.gradebookng.rest.GradebookNgEntityProvider">
		<property name="authzGroupService" ref="org.sakaiproject.authz.api.AuthzGroupService" />
		<property name="emailService" ref="org.sakaiproject.email.api.EmailService" />
		<property name="siteService" ref="org.sakaiproject.site.api.SiteService" />
		<property name="sessionManager" ref="org.sakaiproject.tool.api.SessionManager" />
		<property name="securityService" ref="org.sakaiproject.authz.api.SecurityService" />
		<property name="businessService" ref="org.sakaiproject.gradebookng.business.GradebookNgBusinessService" />
		<property name="gradingService" ref="org.sakaiproject.grading.api.GradingService" />
		<property name="serverConfigurationService" ref="org.sakaiproject.component.api.ServerConfigurationService" />
		<property name="userDirectoryService" ref="org.sakaiproject.user.api.UserDirectoryService" />
		<property name="formattedText" ref="org.sakaiproject.util.api.FormattedText" />
	</bean>
	
	<bean
		id="org.sakaiproject.gradebookng.framework.GradebookNgEntityProducer"
		class="org.sakaiproject.gradebookng.framework.GradebookNgEntityProducer"
		init-method="init">
		<property name="entityManager" ref="org.sakaiproject.entity.api.EntityManager" />
		<property name="gradingService" ref="org.sakaiproject.grading.api.GradingService" />
		<property name="businessService" ref="org.sakaiproject.gradebookng.business.GradebookNgBusinessService" />
		<property name="siteService" ref="org.sakaiproject.site.api.SiteService" />
		<property name="threadLocalManager" ref="org.sakaiproject.thread_local.api.ThreadLocalManager"/>
	</bean>

</beans>
