<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean
		id="org.sakaiproject.gradebookng.business.GradebookNgBusinessService"
		class="org.sakaiproject.gradebookng.business.GradebookNgBusinessService">
		<property name="siteService" ref="org.sakaiproject.site.api.SiteService" />
		<property name="userDirectoryService" ref="org.sakaiproject.user.api.UserDirectoryService" />
		<property name="serverConfigService" ref="org.sakaiproject.component.api.ServerConfigurationService" />
		<property name="toolManager" ref="org.sakaiproject.tool.api.ToolManager" />
		<property name="gradebookService" ref="org.sakaiproject.service.gradebook.GradebookService" />
		<property name="gradebookPermissionService" ref="org.sakaiproject.service.gradebook.GradebookPermissionService" />
		<property name="gradebookFrameworkService" ref="org.sakaiproject.service.gradebook.GradebookFrameworkService"/>
		<property name="preferencesService" ref="org.sakaiproject.user.api.PreferencesService"/>
		<property name="sectionManager" ref="org.sakaiproject.section.api.SectionManager"/>
		<property name="securityService" ref="org.sakaiproject.authz.api.SecurityService" />
		<property name="rubricsService" ref="org.sakaiproject.rubrics.logic.RubricsService" />
		<property name="gradebookExternalAssessmentService" ref="org.sakaiproject.service.gradebook.GradebookExternalAssessmentService"/>
		<property name="formattedText" ref="org.sakaiproject.util.api.FormattedText" />
	</bean>

	<bean
		parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider"
		class="org.sakaiproject.gradebookng.rest.GradebookNgEntityProvider">
		<property name="authzGroupService" ref="org.sakaiproject.authz.api.AuthzGroupService" />
		<property name="emailService" ref="org.sakaiproject.email.api.EmailService" />
		<property name="siteService" ref="org.sakaiproject.site.api.SiteService" />
		<property name="sessionManager" ref="org.sakaiproject.tool.api.SessionManager" />
		<property name="securityService" ref="org.sakaiproject.authz.api.SecurityService" />
		<property name="businessService" ref="org.sakaiproject.gradebookng.business.GradebookNgBusinessService" />
		<property name="gradebookService" ref="org.sakaiproject.service.gradebook.GradebookService" />
		<property name="serverConfigurationService" ref="org.sakaiproject.component.api.ServerConfigurationService" />
		<property name="userDirectoryService" ref="org.sakaiproject.user.api.UserDirectoryService" />
	</bean>
	
	<bean
		id="org.sakaiproject.gradebookng.framework.GradebookNgEntityProducer"
		class="org.sakaiproject.gradebookng.framework.GradebookNgEntityProducer"
		init-method="init">
		<property name="entityManager" ref="org.sakaiproject.entity.api.EntityManager" />
		<property name="gradebookService" ref="org.sakaiproject.service.gradebook.GradebookService" />
		<property name="gradebookFrameworkService" ref="org.sakaiproject.service.gradebook.GradebookFrameworkService" />	
	</bean>
	
	<bean
		id="org.sakaiproject.gradebookng.framework.GradebookNgContextObserver"
		class="org.sakaiproject.gradebookng.framework.GradebookNgContextObserver"
		parent="org.sakaiproject.gradebookng.framework.GradebookNgEntityProducer">
	</bean>	

</beans>
