sakai-grader {

  div.grader-nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--sakai-border-color);
    padding: 5px;

    .left-block {
      flex: 0 0 auto;
      #grader-settings-wrapper {
        display: inline-block;
        margin-left: 20px;
      }
    }
    .assessment-info { display: inline-block; font-weight: bold; }
    .assessment-title { font-size: larger; }

    .settings {
      white-space: nowrap;
      display: none;
      position: absolute;
      border: 1px solid var(--sakai-border-color);
      padding: 7px;
      background-color: var(--sakai-background-color-1);
      z-index: 100000;
      input {
        margin-right: 8px;
      }
    }

    .grader-groups {
      margin-top: 10px;

      span {
        font-weight: bold;
      }
    }

    .total-block {
      flex: 1 1 auto;
      font-weight: bold;
      text-align: center;
      div { display: inline-block; }
    }

    .grader-navigator {
      flex: 0 0 auto;
      text-align: center;
      text-decoration: none;
      select {
        display: inline-block;
        margin: 0px 0px 0px 8px;
        &:focus { outline: 0;}
      }
      .grader-navigator a { text-decoration: none; font-weight: bold; }
      .profile-image {
        margin-right: 6px;
        img {
          height: 26px;
        }
      }
    }
  }

  .grader-container {
    display: flex;
  }

  .gradable {
    flex: 1;
    padding: 5px;

    #grader-feedback-text {
      padding-bottom: 8px;
      border-bottom: 1px var(--sakai-border-color) solid;
    }

    .inline-feedback-button {
      margin-top: 8px;
    }
    .preview {
      padding: 5px;
      margin-top: 12px;

      sakai-document-viewer {
        .document-link { margin-bottom: 8px; font-weight: bold; }

        .preview-outer {
          background: var(--sakai-background-color-3);
          text-align: center;
          padding: 30px;
          .preview-middle {
            background: var(--sakai-background-color-1);
          }
          .preview-inner {
            width: 75%;
            background: var(--sakai-background-color-1);
            margin-top: 20px;
            margin-bottom: 20px;
            display: inline-block;
            padding: $standard-space-2x $standard-space-4x;
            text-align: left;
          }
          .nomargins {
            width: 100%;
            margin-top: 0px;
            margin-bottom: 0px;
          }
        }
      }
    }
  }

  #grader-rubric-link {
    margin-left: 10px;
  }

  span.saved {
    color: var(--successBanner-color);
    font-size: 1.8em;
    margin-right: 5px;
    vertical-align: middle;
  }

  span.failed {
    color: var(--errorBanner-color);
  }


  a#peer-info {
    color: var(--infoBanner-color);
    font-size: 1.5em;
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
  }

  .grader {
    flex: 0 0 auto;
    padding: 10px;
    width: 400px;
    background-color: var(--sakai-title-bar-bg-color);

    .draft-submission {
        margin-left: 8px;
        color: var(--errorBanner-color);
    }

    .rubric-active {
      color: var(--successBanner-color);
    }

    .points-input {
      width: 60px;
    }

    .profile-image {
      margin-right: 6px;
      img { width: 64px; }
    }

    .active-indicator {
      display: inline-block;
      background: var(--successBanner-color);
      width: 18px;;
      height: 18px;
      border-radius: 50%;
      margin-left: 5px;
      &.unsaved {
        background: var(--warnBanner-color);
      }
    }

    .resubmission-checkbox {
      margin-top: 12px;
    }
    .resubmission-block {
      padding: 5px;
      margin-bottom: 10px;

      select {
        margin-right: 10px;
      }

      span {
        font-weight: bold;
      }

      sakai-date-picker {
        display: inline-block;
      }
    }

    #grader-submission-history-wrapper {
      border: 1px solid var(--sakai-border-color);
      border-radius: 5px;
      padding: 5px;
      margin-top: 20px;

      #grader-submission-history-toggle {
        margin: 3px 0px 3px 10px;
        a {
          text-decoration: none;
          font-weight: bold;
        }
      }

      #grader-submission-history {
        margin-left: 5px;
        h4 { font-size: 13px; margin-top: 15px;}
        .grader-history-title {
          font-weight: bold;
          margin-top: 10px;
          a {
          }
        }
        .grader-history-block {
          margin-left: 5px;
          div,p {
            font-size: 12px;
            margin-bottom: 10px;
          }
        }
        #grader-history-grades-wrapper {
          border-top: 1px solid var(--sakai-border-color);
        }
      }
    }
  }

  .feedback-attachments-block {
    .feedback-attachments-title {
      font-weight: bold;
      margin-bottom: 10px;
    }

    .feedback-attachment-remove {
      margin-left: 7px;
    }

    .current-feedback-attachments {
      margin-bottom: 7px;
      background-color: var(--sakai-background-color-2);

      .feedback-attachments-row {
        display: flex;
        border: 1px solid var(--sakai-border-color);
        border-radius: 3px;
        padding: 3px;
        margin-bottom: 3px;

        .feedback-attachment {
          display: flex;
          flex: 2 75%;
        }
        .feedback-attachment-remove {
          font-weight: bold;
          display: flex;
          flex: 1 25%;
        }
      }
    }

    sakai-grader-file-picker {

      .sakai-file-picker-list {
        margin-top: calc(#{$standard-spacing} / 4);
        padding-left: calc(#{$standard-spacing} / 2);
        .sakai-file-picker-list-title {
          margin-bottom: calc(#{$standard-spacing} / 4);
          font-style: italic;
        }
        .file-row {
          display: flex;
          width: 100%;
          padding: calc(#{$standard-spacing} / 4);
          margin-bottom: calc(#{$standard-spacing} / 4);
          margin-left: calc(#{$standard-spacing} / 2);

          .file {
            flex: 2 75%;
            margin-right: calc(#{$standard-spacing} / 4);
            overflow-wrap: anywhere;
          }
          .file-remove {
            display: flex;
            flex: 1 25%;
          }
        }
      }
    }
  }

  .submitter-name {
    font-weight: bold;
  }

  .submitted-time {
    font-style: italic;
    display: flex;
    flex-direction: column;
  }

  .draft-time {
    color: var(--errorBanner-color);
  }

  .attachments-header {
    margin-top: 7px;
    font-weight: bold;
  }

  .attachment-link {
    margin-left: 7px;
  }

  .grade-block {

    padding-top: 15px;

    span {
      font-weight: bold;
    }

    input {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .grader-label {
    margin-bottom: 5px;
    margin-top: 20px;
  }
  .feedback-label span, .private-notes-label span {
    margin-right: 7px;
  }

  .content-button-block {
    display: flex;
    align-items: center;
  }

  .attachments, .private-notes-block { margin-bottom: 10px; margin-top: 10px;}

  .action-button-block {
    margin-top: 20px;
  }

  div.gradables-tabs {

    li {
      list-style: none;

      a {
        text-decoration: none;
        float: left;
        height: 20px;
        line-height: 20px;
        padding: 0 5px;
        margin: 0 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: var(--successBanner-bgcolor);
        font-size: 14px;
        color: var(--successBanner-color);
      }
    }
  }

  .grader-late {
    margin-left: 5px;
    font-weight: bold;
    color: var(--errorBanner-color);
  }

  .grader-returned {
    font-size: 24px;
    font-weight: bold;
    color: var(--successBanner-color);
    margin-top: auto;
  }

  .action-button-block {
    button {
      padding: 7px 9px;
    }
  }
}

.grader-panel {

  button {
    margin-top: 8px;
  }
}

/* Needs to be outside sakai-grader as it's launched by jquery */
#feedback-panel {

  .grader-label {
    font-weight: bold;
  }

  .feedback-label {
    font-weight: bold;
  }

  .feedback-title {
    font-weight: bold;
  }

  .media-feedback {

    display: none;

    margin-top: 10px;
    margin-bottom: 10px;

    .media-feedback-label {
      margin-right: 10px;
      font-weight: bold;
    }
    .fa-video-camera { margin-left: 10px; margin-right: 10px; }
    .fa-microphone { margin-left: 10px; }
  }
}
