<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider"
		class="org.sakaiproject.commons.tool.entityprovider.CommonsEntityProvider">
		<property name="commonsManager"><ref bean="org.sakaiproject.commons.api.CommonsManager"/></property>
        <property name="commonsSecurityManager"><ref bean="org.sakaiproject.commons.api.CommonsSecurityManager"/></property>
        <property name="sakaiProxy"><ref bean="org.sakaiproject.commons.api.SakaiProxy"/></property>
        <property name="emailService"><ref bean="org.sakaiproject.email.api.EmailService"/></property>
        <property name="siteService"><ref bean="org.sakaiproject.site.api.SiteService"/></property>
        <property name="userDirectoryService"><ref bean="org.sakaiproject.user.api.UserDirectoryService"/></property>
        <property name="serverConfigurationService" ref="org.sakaiproject.component.api.ServerConfigurationService" />
    </bean>

</beans>
