<?xml version="1.0"?>
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Commons</display-name>

    <!--sakai-->
    <filter>
        <filter-name>sakai.request</filter-name>
        <filter-class>org.sakaiproject.util.RequestFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>sakai.request</filter-name>
        <servlet-name>sakai.commons</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

    <servlet>
        <servlet-name>sakai.commons</servlet-name>
        <servlet-class>org.sakaiproject.commons.tool.CommonsTool</servlet-class>
        <load-on-startup>1</load-on-startup>        
     </servlet>

    <listener>
        <listener-class>org.sakaiproject.util.ToolListener</listener-class>
    </listener>  

    <listener>
        <listener-class>org.sakaiproject.util.SakaiContextLoaderListener</listener-class>
    </listener>

    <welcome-file-list>
        <welcome-file>commons.html</welcome-file>
    </welcome-file-list>

</web-app>
