##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/admin/chef_archive-batch.vm,v 1.2 2005/05/24 19:36:12 gsilver.umich.edu Exp $ -->
<script type="text/javascript" language="JavaScript">
  focus_path = ["archive-id"];
</script>
<div class="portletBody">
	#if($menu)
		#toolbar($menu)
	#end

	<h3>
		$tlang.getString("archive.vm.import")
	</h3>
	#if ($alertMessage)<div class="alertMessage">$tlang.getString("archive.vm.alert") $validator.escapeHtml($alertMessage)</div>#end
	<form 
		name="batchImportForm" 
		id="batchImportForm" 
		action="#toolForm("$action")&special=upload" 
		method="post" 
		enctype="multipart/form-data">
		<p class="shorttext">
			<label for="importFile">
				$tlang.getString("archive.vm.filebatchimport")
			</label>	
			<input type="file" name="importFile"   id="importFile"  />
		</p>	
		<p class="act">
			<input type="submit"class="active"  name="eventSubmit_doBatch_Import" value="$tlang.getString("archive.vm.import")" accesskey="s" />
		</p>	
		<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
	</form>
</div>

