##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/admin/chef_realms_list.vm,v 1.2 2005/05/19 19:53:01 gsilver.umich.edu Exp $ -->
#javascript("/library/js/spinner.js")
<script type="text/javascript">
	focus_path = ["search"];
</script>
<div class="portletBody">
#if($menu)
	#toolbar($menu)
#end
			#if ($alertMessage)<div class="alertMessage">$tlang.getString("realm.list.alert") $validator.escapeHtml($alertMessage)</div>#end
		<div class="instruction clear">
			$tlang.getString("realm.list.these")
		</div>
				
		<div class="listNav">
						#if ($realms.size() > 0)
						<div class="instruction" id="pagingHeader">
						$tlang.getString("realm.list.youare") $topMsgPos - $btmMsgPos $tlang.getString("realm.list.of") $allMsgNumber $tlang.getString("realm.list.results")
						</div>
						#end
						#if ($pagesize != 0)
							<form name="firstpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
								<input type="submit" name="eventSubmit_doList_first" value="|&lt;" title="$tlang.getString("gen.first")" 
									#if ($goFPButton != "true") disabled="disabled" #end onclick="SPNR.disableControlsAndSpin( this, null );" />
								<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
							</form>
							<form name="prevpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
								<input type="submit" name="eventSubmit_doList_prev" value="&lt;" title="$tlang.getString('gen.previous') $pagesize" accesskey="p"
									#if ($goPPButton != "true") disabled="disabled" #end onclick="SPNR.disableControlsAndSpin( this, null );" />
								<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
							</form>
						#end
						<form name="pagesizeForm" class="inlineForm" method="post" action="#toolForm("$action")">
							<input type="hidden" name="eventSubmit_doChange_pagesize" value="changepagesize" />
							<span class="skip">$tlang.getString("gen.listnavselect")</span>
							<select name="selectPageSize" onchange="SPNR.insertSpinnerAfter( this, null, 'pagingHeader' ); document.pagesizeForm.submit();">
								<option value="5" #if($pagesize == 5) selected="selected" #end>$tlang.getString("gen.show5")</option>
								<option value="10" #if($pagesize == 10) selected="selected" #end>$tlang.getString("gen.show10")</option>
								<option value="20" #if($pagesize == 20) selected="selected" #end>$tlang.getString("gen.show20")</option>
								<option value="50" #if($pagesize == 50) selected="selected" #end>$tlang.getString("gen.show50")</option>
								<option value="100" #if($pagesize == 100) selected="selected" #end>$tlang.getString("gen.show100")</option>
								<option value="200" #if($pagesize == 200) selected="selected" #end>$tlang.getString("gen.show200")</option>
							</select>
							<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
						</form>
						#if ($pagesize != 0)
							<form name="nextpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
								<input type="submit" name="eventSubmit_doList_next" value="&gt;" title="$tlang.getString('gen.next') $pagesize" accesskey="n"
									#if ($goNPButton != "true") disabled="disabled" #end onclick="SPNR.disableControlsAndSpin( this, null );" />
								<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
							</form>
							<form name="lastpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
								<input type="submit" name="eventSubmit_doList_last" value="&gt;|" title="$tlang.getString('gen.last')"
									#if ($goLPButton != "true") disabled="disabled" #end onclick="SPNR.disableControlsAndSpin( this, null );" />
								<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
							</form>
						#end
				</div> ##end navPanel
				
				
#if ($realms.size() > 0)
	#set ($realmCount = 0)
		<table class="listHier lines" cellspacing="0" summary ="$tlang.getString("realm.list.summary")">
			<tr>
				<th id="Id">$tlang.getString("realm.list.realmid")</th>
##				<th id="Description">$tlang.getString("realm.list.used")</th>
				<th id="Provider">$tlang.getString("realm.list.provide")</th>
				<th id="Maintain">$tlang.getString("realm.list.maintain")</th>
			</tr>
	#foreach ($realm in $realms)
			<tr>
				<td headers="Id">
					<h4>
						#if ($service.allowUpdate($realm.Id))
							<a href="#toolLinkParam("$action" "doEdit" "id=$validator.escapeUrl($realm.Id)")" title="$tlang.getString("realm.edit.edit") $validator.escapeHtml($realm.Id)">
								$validator.escapeHtml($realm.Id)
							</a>
						#elseif ($viewAllowed)
							<a href="#toolLinkParam("$action" "doView" "id=$validator.escapeUrl($realm.Id)")" title="$tlang.getString("realm.view.view") $validator.escapeHtml($realm.Id)">
								$validator.escapeHtml($realm.Id)
							</a>
						#else
							$validator.escapeHtml($realm.Id)
						#end
					</h4>	
				</td>
##				<td headers="Description">$!validator.escapeHtml($!realm.Description)</td>
				<td headers="Provider">$!validator.escapeHtml($!realm.ProviderGroupId)</td>
				<td headers="Maintain">$!validator.escapeHtml($!realm.MaintainRole)</td>
			</tr>
	#end
		</table>
#else
		<div class="instruction">
			$tlang.getString("realm.list.norealms")
		</div>
#end
	</div>
