// Rubrics variables

$rubrics-manager-bg:            #f9f9f9 !default;
$rubrics-manager-border-color:  #ddd !default;

$rubrics-title-bg:              #f2f2f4 !default;
$rubrics-title-active-bg:       #ced5e0 !default;
$rubrics-title-border-color:    #e4e4e6 !default;
$rubrics-title-border-size:     1px !default;

$rubrics-icon-bg:               #6e757d !default;
$rubrics-icon-active-bg:        #e7e7e7 !default;
$rubrics-icon-color:            #f2f2f4 !default;

$rubrics-lightbox-bg:           #fff !default;
$rubrics-lightbox-border-color: #555 !default;
$rubrics-lightbox-border-size:  1px !default;

$rubrics-crit-border-color:     #d3d3d3 !default;
$rubrics-crit-border-size:      1px !default;
$rubrics-crit-detail-bg:        #f2f2f4 !default;
$rubrics-crit-detail-color:     #414141 !default;
$rubrics-crit-actions-bg:       #f2f2f4 !default;
$rubrics-crit-title-color:      #2f2f2f !default;
$rubrics-crit-item-title-color: #3a3a3a !default;

$rubrics-item-color:            #747474 !default;
$rubrics-item-points-color:     #444444 !default;

$rubrics-rating-hover-bg:       #D7E1E7 !default;
$rubrics-rating-selected-bg:    #bed8e7 !default;

$rubrics-link-color:            #0093b8 !default;
$rubrics-empty-bg:              #fff !default;
$rubrics-disabled-label-color:  #ccc !default;
$rubrics-popover-cancel-color:  #777 !default;