#
#
# Tell Velocity which resource loader we are using
#
resource.loader = webapp, class

webapp.resource.loader.description = Velocity Webapp Resource Loader
webapp.resource.loader.class = org.apache.velocity.tools.view.servlet.WebappLoader
webapp.resource.loader.modificationCheckInterval = 0
webapp.resource.loader.cachingOn = true

#
# Class resource loader information
#
class.resource.loader.description=Velocity Classpath Resource Loader
class.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
class.resource.loader.cache=true
class.resource.loader.modificationCheckInterval=0

#
# Other properties
#
input.encoding=UTF-8
output.encoding=UTF-8

runtime.log.logsystem.class=org.sakaiproject.velocity.util.SLF4JLogChute
# runtime.log.logsystem.slf4j.logger = velocity.sakai.search

#
# Velocity macro properties
#
velocimacro.permissions.allow.inline=true
velocimacro.permissions.allow.inline.override=true
