#
#
# Tell Velocity which resource loader we are using
#
resource.loader=file, class
#



file.resource.loader.description=Velocity File Resource Loader
file.resource.loader.class=org.sakaiproject.search.tool.WebappLoader
file.resource.loader.cache=true
file.resource.loader.modificationCheckInterval=60
#file.resource.loader.path=/WEB-INF/velocity

#

#
# Class resource loader information
#
class.resource.loader.description=Velocity Classpath Resource Loader
class.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
class.resource.loader.cache=true
class.resource.loader.modificationCheckInterval=0

#
# Other properties
#
input.encoding=UTF-8
output.encoding=UTF-8

runtime.log.logsystem.class=org.apache.velocity.runtime.log.SimpleLog4JLogSystem
#runtime.log.logsystem.log4j.category=vm.search
runtime.log.logsystem.log4j.category=vm.none


#
# Velocity macro properties
#
velocimacro.permissions.allow.inline=true
velocimacro.permissions.allow.inline.override=true
