/* Section Manager specific CSS definitions. */

/* Global style classes */
.available {width:210px; text-align:left; vertical-align:top;}
.transferButtons {width:100px; text-align:center; vertical-align:middle;}
.selected {width:210px; text-align:right; vertical-align:top;}

.transferButtonTable {text-align:center; font-weight:bold;}
.studentSectionInfo {font-weight:bold;}
.deleteButtons {margin-top:40px;}
.verticalPadding {margin-top:20px;}

/* Headings display close to their instructions */
.instructions {margin-bottom:2em;}
h3.instructions {margin-bottom:0em !important;}

/* Student View section table */
tr.member td {font-weight:bold;}
tr.memberPadRow td {font-weight:bold; padding-bottom:2em !important;}
tr.nonmember td {font-weight:normal;}
tr.nonmemberPadRow td {font-weight:normal; padding-bottom:2em !important;}

/* Keep space between section categories in section tables */
tr.firstCategoryHeader td {font-weight:bold; padding-bottom:0em !important;}
tr.categoryHeader td {padding-top:2em !important; font-weight:bold; padding-bottom:0em !important;}
tr.sectionRow td {padding-bottom:0em !important; vertical-align:top !important;}

/* Pad the rows when adding or editing sections */
tr.paddedSectionRow td {padding-top:0em !important; padding-bottom:1em !important; vertical-align:top !important;}
tr.paddedSectionRow td  table {padding-top:0 !important; padding-bottom:1em !important; vertical-align:top !important;}

.paddedMeetingRow {padding-top:0 !important; padding-bottom:3px !important; }
.meetingFirstCol  {padding-top:10px !important; }
.meetingSecondCol {padding-top:3px !important;}
.meetingDay {display:inline-block;margin-right: 15px;}
.meetingDay label {padding-left: 4px;}


/* Form labels should be bold */
label.formLabel {font-weight:bold;}

/* Right margin for the text input in Student Membership */
#rosterForm\3A search {
    margin-right: 1em;
}

/* Item property editing. THIS SHOULD BE MOVED INTO SAKAI CSS. */
table.itemSummary td.itemName {
    font-weight:bold;
    white-space:nowrap;
    vertical-align:top;
    text-align:left;
    padding:.3em 1em .3em .3em
}

/* Create a container for filter/paging controls to enable bottom-alignment. */
/* THIS SHOULD BE MOVED INTO SAKAI CSS. */
table.sectionContainerNav {
    width:100%;
}
/*
    OVERRIDE NAV CONTROL SAKAI CSS DEFINITIONS FOR NOW.
    They don't handle our situation, with search filters bottom-aligned
    on the left and paging controls on the right.
*/
.sectionLeftNav  {
    vertical-align:bottom;
    text-align:left;
    white-space:nowrap;
}
.sectionRightNav  {
    text-align:right;
    white-space:nowrap;
}

/* Table columns change alignmnet depending on their data type (numbers vs. letters) */
td.left {text-align:left; vertical-align:top;}
td.leftIndent {padding-left:2em !important; text-align:left; vertical-align:top;}
td.center {text-align:center; vertical-align:top;}
td.right {text-align:right; vertical-align:top; padding-right:2em !important;}
td.rightLabel {font-weight:bold; text-align:right; vertical-align:top; padding-right:2em !important;}
td.rightpadded {text-align:right; vertical-align:top; padding-right:5em !important;}

/* Most but not all tables are shown 100% width in the spec. */
table.wideTable {
    width:100%;
}
table.narrowTable {
    width:auto;
}

/* Tables displaying sections have thin internal borders */
table.sectionTable{border:none; border-collapse:collapse;}
table.sectionTable tr td {border-color:gray !important; border-top:solid; border-width:1px; border-collapse:collapse;}

/* Show lines between sections in "add sections", but don't allow inheritance */
table tr.nextSectionRow td {border-color:gray !important; border-top:solid; border-width:1px; border-collapse:collapse; padding-top:4em; padding-bottom:2em}
table tr.nextSectionRow table tr td {border-top:none; padding-top:0em; padding-bottom:2em;}

/* Student roster table styling */
table.rosterTable {border:none; border-collapse:collapse;width:auto;}
table.rosterTable th {padding-right:1.5em !important;}
table.rosterTable tr td {padding-right:1.5em !important;border-color:gray !important; border-top:solid; border-width:1px; border-collapse:collapse;}
/*styling for download and print button */
table.rosterPageHeader {
	width:100%;
}

.rosterPageHeaderLeft  {
	vertical-align:top;
    text-align:left;
}

.rosterPageHeaderRight  {
	vertical-align:top;
    text-align:right;
}

/*
    It would be better to use margin-right in a div or to apply this to specific
    columns, but JSF can't manage either of those.
*/
table.narrowTable tr th {
    padding-right:2em;
}

/* Show text in a thin-bordered box */
.borderBox {border:1px solid;}

/* Indent options checkboxes */
.indent {text-indent: 1em;}



