<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd"
	version="2.5">
    <display-name>sakai-syllabus</display-name>
    <description>Sakai Syllabus Tool</description>

<!--sakai-->
    <context-param>
        <param-name>com.sun.faces.validateXml</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.verifyObjects</param-name>
        <param-value>true</param-value>
    </context-param>
    
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/local.xml</param-value>
    </context-param>
    
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup> 2 </load-on-startup>
    </servlet>
    
    <servlet>
<!--      <servlet-name>sakai.syllabus.filepicker</servlet-name>-->
      <servlet-name>sakai.syllabus</servlet-name>
      <servlet-class>org.sakaiproject.tool.syllabus.SyllabusFilePickerServlet</servlet-class>
<!--      <init-param>
            <param-name>default</param-name>
            <param-value>listStructuredArtifactDefinitions</param-value>
        </init-param>-->
        <init-param>
            <param-name>path</param-name>
            <param-value>/syllabus</param-value>
        </init-param>

        <init-param>
            <param-name>default</param-name>
            <param-value>main</param-value>
        </init-param>
         <init-param>
            <param-name>default.last.view</param-name>
            <param-value>true</param-value>
        </init-param>
	  <!-- Ordering changed to meet DTD - PAFH 8/30/2006 -->
      <load-on-startup>2</load-on-startup>
   </servlet>
    <filter>
        <filter-name>org.sakaiproject.util.RequestFilter</filter-name>
        <filter-class>org.sakaiproject.util.RequestFilter</filter-class>
        <init-param>
            <param-name>upload.enabled</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>org.sakaiproject.util.RequestFilter</filter-name>
<!--    <servlet-name>sakai.syllabus.filepicker</servlet-name>-->
        <servlet-name>sakai.syllabus</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>


    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>

<!--sakai2: take out dispatch and components servlet.-->
<!--sakai2: add new servlet and listeners-->
    <filter>
        <filter-name>sakai.request</filter-name>
        <filter-class>org.sakaiproject.util.RequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sakai.request</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    
    
    <listener>
        <listener-class>org.sakaiproject.util.SakaiContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.sakaiproject.util.ToolListener</listener-class>
    </listener>

<!--filepicker    <servlet>
        <servlet-name>sakai.syllabus</servlet-name>
        <servlet-class>org.sakaiproject.jsf.util.JsfTool</servlet-class>
        <init-param>
            <param-name>default</param-name>
            <param-value>main</param-value>
        </init-param>
        <init-param>
            <param-name>path</param-name>
            <param-value>/syllabus</param-value>
        </init-param>
         <init-param>
            <param-name>default.last.view</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup> 1 </load-on-startup>
    </servlet>-->

  	<welcome-file-list>
	    <welcome-file>index.html</welcome-file>
  	</welcome-file-list>

</web-app>
