/*NOTE:This file is linked to after the tool_base.css file inside of tools. It provides for skinning.*/
/*PART 1:GENERIC SELECTORS*/
body{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:80%}
a:link{color:#369;text-decoration:none}
a:visited{color:#52AAD6;text-decoration:none}
a:hover{color:#5168D6 !important;text-decoration:underline;background-color:transparent}
hr{height:0}
img{border:0px}
fieldset{border:none;padding:0px;margin-top:1em}
/*PART 2:TOOL TITLE SELECTORS and other PORTAL THINGS*/
.toolTitle{width:100%}
.toolTitle td.title{background-color:#52AAD6;color:#FFF;padding:2px 4px;background:url(images/topleft-p-title.gif) top left no-repeat #52AAD6;font:1em;border-bottom:3px solid #52AAD6}
.toolTitle td.title h2{font:normal 1em Verdana,sans-serif;margin:0;padding:0;display:inline;color:#fff}
.toolTitle td.action{background:url(images/topright-p-title.gif) top right no-repeat #52AAD6;color:#FFF;padding:3px 4px 2px 2px;text-align:right;vertical-align:top}
.toolTitle td.title img{margin:0;vertical-align:text-bottom;width:16px !important}
.toolTitle td.title a{background:url(images/reload.gif) top left no-repeat}
.toolTitle td.title a:hover{background:url(images/reload_h.gif) top left no-repeat}
.toolTitle td.action img{margin:0;vertical-align:text-bottom;width:16px !important}
.toolTitle td.action a{background:url(images/help.gif) top right no-repeat}
.toolTitle td.action a:hover{background:url(images/help_h.gif) top right no-repeat}
.presenceList{font-size:.8em;
	list-style: none;
	margin: 0;
	padding-left: .1em;
}
.presenceList li {
	padding:0 0 0 .7em;
	margin-bottom:.2em;
/*	white-space: nowrap;*/
	}

.presenceList li.inChat {
	background:url(images/chatpresicon.gif) -.1em center no-repeat;
	}/*PART 3:CALENDAR SELECTORS*/
table.calendar{}
table.calendar th{background-color:#FFFFCC;font-weight:normal;text-align:center}
.bgActivity{background-color:#FFFFCA;border:1px solid #dadada;text-align:right}
.bgWithoutActivity{background-color:#fff;border:1px solid #dadada;text-align:right}
.borderGrayYear{background-color:#ccc;border:1px solid #dadada;text-align:right}
.borderGrayDayWeek{border-bottom:none;border-collapse:collapse;border-left:1px solid #dadada;border-right:1px solid #dadada;border-top:1px solid #dadada}
.borderGrayBackground{background-color:#FFFF99;border-bottom:none;border-left:1px solid #dadada;border-right:1px solid #dadada;border-top:1px solid #dadada}
.borderGrayTodayBgCenter{background-color:#FFFFCA;border-left:1px solid #000;border-right:1px solid #000;border-top:1px solid #dadada}
.borderGrayTodayEmptyMiddleBottom{background-color:white;border:1px solid #dadada}
.borderGrayTodayEmptyMiddleCenter{background-color:white;border-left:1px solid #dadada;border-right:1px solid #dadada;border-top:1px solid #dadada}
.borderGrayTodayLeftBottom{border-bottom:1px solid #dadada;border-left:1px solid #000;border-right:1px solid #dadada;border-top:1px solid #dadada}
.borderGrayTodayLeftCenter{border-left:1px solid #000;border-right:1px solid #dadada;border-top:1px solid #dadada}
.borderGrayTodayMiddleCenter{border-left:1px solid #dadada;border-right:1px solid #dadada;border-top:1px solid #dadada}
.borderGrayTodayRightBottom{border-bottom:1px solid #dadada;border-left:1px solid #dadada;border-right:1px solid #000;border-top:1px solid #dadada}
.borderGrayTodayRightCenter{border-left:1px solid #dadada;border-right:1px solid #000;border-top:1px solid #dadada}
.borderOnlyLeftDay{background-color:#FFFF99;border-left:1px solid #dadada}
.borderOnlyLeft{border-left:1px solid #dadada}
.borderToday{border:1px solid #000}
.borderTodayCenter{border-bottom:1px solid #dadada;border-left:1px solid #000;border-right:1px solid #000;border-top:1px solid #dadada}
.borderTodayTop{border-bottom:1px solid #dadada;border-left:1px solid #000;border-right:1px solid #000;border-top:1px solid #000}
.borderTodayWithActivity{background-color:#FFFFCA;border:1px solid #000;text-align:right}
.borderTodayWithoutActivity{background-color:#FFF;border:1px solid #000;text-align:right}
.borderTopLeft{background-color:#FFFF99;border-left:1px solid #dadada;border-right:1px solid  #dadada;border-top:1px solid #dadada}
.borderTopLeftWhite{border-left:1px solid #dadada;border-right:1px solid  #dadada;border-top:1px solid #dadada}
.borderWhiteYear{background-color:#FFFFCA;border:1px solid #fff;text-align:center}
.borderWhite{border-bottom:none;border-left:1px solid #fff;border-right:1px solid #fff;border-top:1px solid #fff}
.borderGrayTodayCenter,.borderOnlyLeftTodayCenter{border-left:1px solid #000;border-right:1px solid #000;border-top:1px solid #dadada}
.borderGrayTodayEmptyRightBottom,.borderGrayTodayEmptyRightCenter{background-color:white;border-left:1px solid #dadada;border-right:1px solid #000;border-top:1px solid #dadada}
.borderGrayTodayMiddleBottom,.borderFullGray,.borderGrayMonth{border:1px solid #dadada}
.borderTodayBottom,.borderGrayTodayBottom,.borderOnlyLeftTodayBottom{border-bottom:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;border-top:1px solid #dadada}
table.calendar .event{background-color:#FFFF99}
/*PART 4:LAYOUT*/
.portletBody{padding:.3em 2em 1em 2em}
table{font-size:1em}
.listHier{font-size:1em}
.listHier th{background-color:#FFFFCC}
.listHier td{vertical-align:top;padding:.4em !important}
.listHier th h3,.listHier th h4,.listHier th h5,.listHier th h6,.listHier td h3,.listHier td h4,.listHier td h5,.listHier td h6{margin:0;padding:0;font-size:1em;background:none;font-weight:normal}
table.lines tr:hover{background-color:#f8f8f8}
table.lines tr.exclude:hover{background:transparent}
table.lines{border-collapse:collapse}
table.lines td{border-bottom:1px solid #D7D7D7;border-top:1px solid #D7D7D7}
tr.selectedCopy{background:#eff;border-bottom:1px solid #D7D7D7;border-top:1px solid #D7D7D7}
tr.selectedMove{color:#8A8A8A;background:#F8F8F8;border-bottom:1px solid #D7D7D7;border-top:1px solid #D7D7D7}
tr.selectedMove a:link,tr.selectedMove a:visited{color:#8A8A8A}
tr.highLightRow{background:#DDDFE4}
.currentSort{font-weight:bold;text-decoration:none}
.notCurrentSort{font-weight:normal;text-decoration:none}
.listHier td .itemAction  a{text-decoration:underline !important}
.chefEditItem,.itemSummaryForm{margin-left:.7em}
.chefEditItem th,.itemSummaryForm th{color:#000;font-weight:normal !important;font-family:Arial,Helvetica,sans-serif;width:15.3em;text-align:left}
.chefEditItem td,.itemSummaryForm td{padding:.5em 0;vertical-align:top}
legend{font-size:110%;color:#000;padding-bottom:.3em;font-weight:normal;margin:.5em 0}
/*PART 5:HIERARCHY*/
h2{font-size:130%;color:#52AAD6;padding:.3em;font-weight:normal;margin:.5em -.3em;background-color:transparent !important}
h3{font-size:130%;color:#52AAD6;padding:.3em;font-weight:normal;margin:.5em -.3em;background-color:transparent !important}
h4{font-size:110%;color:#000;padding-bottom:.3em;font-weight:normal;margin:.5em 0}
h5{font-size:100%;color:#52AAD6;font-weight:normal;margin:.5em 0;background-color:transparent}
h6{font-size:100%;color:#52AAD6;font-weight:normal;margin:.5em 0;background-color:transparent}
/*PART 6:INPUTS*/
.act{padding:1em 0}
.act input{background-color:#eee;border:1px solid silver}
.act input:hover{background-color:#BCD;border-width:1px;border-color:silver gray gray silver;border-style:solid}
.act input.active{border:1px solid #000}
.act input.active:hover{border-width:1px;border-color:silver gray gray silver;border-style:solid}
.leftNav{font-size:1em}
.leftNav form{display:inline}
.rightNav{font-size:1em}
.righNav form{display:inline}
.rightNav span.instruction{display:block;padding-bottom:.5em}
.rightNav input[type="submit"]{font-size:90%;padding:.3em}
.rightNav input[type="button"]{font-size:90%;padding:.3em}
.rightNav input{}
label{color:#000;font-weight:normal;font-family:Arial,Helvetica,sans-serif;margin-top:.3em}
.shorttext .reqStar{color:#c00;width:auto;margin:0 0 0 -1em;font-weight:bold;font-size:1em;padding:0}
.labelindnt{font-size:1em;margin:0 0 0 15.5em}
.shorttext input{padding:.1em .3em;border:1px solid #52AAD6}
textarea{padding:.1em .3em;border:1px solid #52AAD6;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:100%}
label.block{display:block}
.inlineForm{margin:0px;padding:0px;display:inline}
.inlineForm a{border:none;background-color:transparent}
/*PART 7:TOOLBAR*/
.navIntraTool{background-color:#ffc;padding:.3em;margin:-.3em -2em;text-align:center;line-height:1.5em}
.navIntraTool a:link,.navIntraTool a{border:none;text-decoration:underline;margin:0 .5em}
.navIntraTool a:hover{border:none;text-decoration:underline;color:#000}
.navIntraTool a:visited{border:none;text-decoration:underline;background-color:transparent;color:#369}
.navIntraTool input{padding:0;border:none;background:transparent}
.currentView{font-weight:normal}
