##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/assignment/chef_assignments_instructor_preview_grading_submission.vm,v 1.5 2005/05/16 02:26:05 zqian.umich.edu Exp $ -->
<div class="portletBody" xmlns:wairole="http://www.w3.org/2005/01/wai-rdf/GUIRoleTaxonomy#"  xmlns:aaa="http://www.w3.org/2005/07/aaa">
	<ul class="navIntraTool actionToolBar" role="menu">
		#set($prevAction=false)
		#if ($allowAddAssignment)
				#set($prevAction=true)
				<li  class="firstToolBarItem" role="menuitem">
					<span><a href="#toolLink("$action" "doNew_assignment")" title="$!tlang.getString("new")">$!tlang.getString("new")</a></span>
				</li>
				<li role="menuitem">
					<span><a href="#toolLinkParam("$action" "doView" "view=lisofass1")" title = "$!tlang.getString('lisofass1')">$!tlang.getString("lisofass1")</a></span>
				</li>	
				#if ($withGrade && $!allowGradeSubmission)
					<li role="menuitem">
						<span><a href="#toolLinkParam("$action" "doView" "view=grarep")" title="$!tlang.getString("gen.grarep")">$!tlang.getString("gen.grarep")</a></span>
					</li>	
				#end
			<li #if ($prevAction==false) class="firstToolBarItem" #set($prevAction=true)  #end role="menuitem">
				<span><a href="#toolLinkParam("$action" "doView" "view=stuvie")" title="$!tlang.getString("gen.stuvie")">$!tlang.getString("gen.stuvie")</a></span>
			</li>
		#end
		#if (($allowAllGroups) && ($assignmentscheck))
			<li #if ($prevAction==false) class="firstToolBarItem" #set($prevAction=true)  #end role="menuitem">
				<span><a href="#toolLink("$action" "doReorder")" title="$tlang.getString('gen.reorder')">$tlang.getString('gen.reorder')</a></span>
			</li>	
		#end
		#if ($allowUpdateSite)
			<li #if ($prevAction==false) class="firstToolBarItem" #set($prevAction=true)  #end role="menuitem">			
				<span><a href="#toolLink("$action" "doPermissions")" title="$tlang.getString('permis')">$tlang.getString('permis')</a></span>
			</li>	
		#end
	</ul>
		<h3>$tlang.getString("gen.pre") $tlang.getString("gen.instrcomment") 	$tlang.getString("gen.to") 				$tlang.getString("gen.openquote")$validator.escapeHtml($assignment.title)$tlang.getString("gen.closequote")</h3>
		#if ($alertMessage)<div class="alertMessage">$tlang.getString("gen.alert") $validator.escapeHtml($alertMessage)</div><div class="clear"></div>#end		
		<form action="#toolForm("AssignmentAction")" method="post" >   
			<table class="itemSummary" summary="layout">
				<tr>
					<th>
						$tlang.getString("gen.student")
					</th>
					<td>
						#set ($submitterNames = "")
						## start with recorded submitter id first
						#set ($count = 1)
						#foreach ($userId in $submission.SubmitterIds)
							#if ($count > 1)
								#set ($submitterNames = $submitterNames.concat(", "))
							#end
							#set ($submitterNames = $submitterNames.concat($!userId))
							#set ($count = $count + 1)
						#end
						## replace it with submitter sort names
						#set ($count = 1)
						#foreach ($submitter in $submission.submitters)
							#set($submitterName = $submitter.getSortName())
							#if ($!submitterName)
								#if ($count == 1)
									#set ($submitterNames = $!submitterName)
								#else
									#set ($submitterNames = $submitterNames.concat(", ").concat($!submitterName))
								#end
							#end
							#set ($count = $count + 1)
						#end
						$!submitterNames
					</td>
				</tr>
				#if ($!submissionType != 4)
					## exclude non-electronic type of submission
					<tr>
						<th>
							$tlang.getString("gen.subm5") 
						</th>
						<td>
							## get submission time
							#set($timeSubmitted=false)
							#set($timeSubmitted=$submission.TimeSubmitted)
							#if ($!timeSubmitted)
								$!timeSubmitted.toStringLocalFull()
							#end
							#if ($!timeSubmitted && $timeSubmitted.after($assignment.DueTime))
								<span class="highlight">$tlang.getString("gen.late2")</span>
							#end
						</td>
					</tr>
				#end
				<tr>
					<th>
						$tlang.getString("gen.status2") 
					</th>
					<td>
						#if ($!grade && $grade.length()>0 && $grade!="ungraded")
							$tlang.getString("gen.gra3")
						#else
							$tlang.getString("gen.ung1")
						#end
					</td>
				</tr>
			</table>
			<h4>
				$tlang.getString("gen.instr")
			</h4>	
			#if ($assignment.getContent().getInstructions().length()>0)
				<div class="textPanel">$validator.escapeHtmlFormattedText($assignment.getContent().getInstructions())</div>
			#else
			#end

			#set ($size = 0)
			#set ($props = false)
			#foreach ($attachment in $assignment.getContent().Attachments) 
				#set ($props = $attachment.Properties) 
				#if ($!props)
					#set ($size = $size + 1)
				#end
			#end
			#if ($size == 0)
			#else
				<h4>
					$tlang.getString("gen.addres2")
				</h4>
				<ul class="attachList indnt1">
					#foreach ($attachment in $assignment.getContent().Attachments) 
						#set ($props = false)
						#set ($props = $attachment.Properties) 
						#if ($!props)
							<li>
								#if ($props.getBooleanProperty($props.NamePropIsCollection))
									<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")" />
								#else
									<img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
								#end
								<a href="$attachment.Url" target="_blank">$validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>						
								#if (!$props.getBooleanProperty($props.NamePropIsCollection))
									($props.getPropertyFormatted($props.NamePropContentLength))
								#end
							</li>
						#end
					#end
				</ul>
			#end	
			#if ($!feedback_text.length()>0)
				<h4>
					$tlang.getString("gen.orisub2")
				</h4>
				<div class="textPanel">$cheffeedbackhelper.escapeAssignmentFeedback($feedback_text)</div>
			 #end
			#set ($size = 0)
			#set ($props = false)
			#foreach ($attachment in $submission.SubmittedAttachments) 
				#set ($props = $attachment.Properties) 
				#if ($!props)
					#set ($size = $size + 1)
				#end
			#end
			#if ($size == 0)
			#else
				<h4> 
					$tlang.getString("gen.stuatt")
				</h4>	
				<ul class="attachList indnt1">
					#foreach ($attachment in $submission.SubmittedAttachments) 
						#set ($props = false)
						#set ($props = $attachment.Properties) 
						#if ($!props)
							<li>
								#if ($props.getBooleanProperty($props.NamePropIsCollection))
									<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")" />
								#else
									<img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
								#end
								<a href="$attachment.Url" target="_blank">$validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>						
								#if (!$props.getBooleanProperty($props.NamePropIsCollection))
									($props.getPropertyFormatted($props.NamePropContentLength))
								#end
							</li>
						#end
					#end
				</ul>
			#end	
			#if ($!feedback_comment.length()>0)
				<h4>$tlang.getString("gen.sumcom")</h4>	
				<div class="textPanel">$validator.escapeHtmlFormattedText($feedback_comment)</div>
			#else
			#end
				#set ($size = 0)
				#set ($props = false)
				#foreach ($attachment in $feedback_attachment) 
					#set ($props = $attachment.Properties) 
					#if ($!props)
						#set ($size = $size + 1)
					#end
				#end
				#if ($size == 0)
				#else
					<h4>$tlang.getString("gen.attfprgra")</h4>
					<ul class="attachList indnt1">
						#foreach ($attachment in $feedback_attachment) 
							#set ($props = false)
							#set ($props = $attachment.Properties) 
							#if ($!props)
								<li>
									#if ($props.getBooleanProperty($props.NamePropIsCollection))
										<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")" />
									#else
										<img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
									#end
									<a href="$attachment.Url" target="_blank">$validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>						
									#if (!$props.getBooleanProperty($props.NamePropIsCollection))
										($props.getPropertyFormatted($props.NamePropContentLength))
									#end
								</li>
							#end
						#end
					</ul>
				#end	
			<div class="highlightPanel">
				$tlang.getString("gen.gra2")
				#if ($!grade && $grade.length()>0 && $grade!="ungraded")
					<span class="highlight">$grade</span>
				#else
					<span class="highlight">$tlang.getString("gen.ung1")</span>
				#end
			</div>
			<br />
			<p>
				$tlang.getString("allow.resubmit.number"): $!allowResubmitNumber
			</p>
			#if ($!allowResubmitCloseTime)
				<p>
					$tlang.getString("gen.acesubunt"): $!allowResubmitCloseTime
				</p>
			#end
			<p class="act">
				<input accesskey="d" name="eventSubmit_doSave_preview_grade_submission" type="submit" value="$tlang.getString("gen.sav")" title="$tlang.getString("gen.savdratit")" class="active" />
				<input accesskey="s" name="eventSubmit_doReturn_preview_grade_submission" type="submit" value="$tlang.getString("gen.retustud")" title="$tlang.getString("gen.retustudtit")" />
				<input accesskey="r" name="eventSubmit_doCancel_preview_grade_submission" type="submit" value="$tlang.getString("gen.revi")" />
				<input accesskey="x" name="eventSubmit_doCancel_preview_to_list_submission" type="submit" value="$tlang.getString("gen.can")" />
			</p>											
		</form>
</div>
