## showing the submission confirmation page
<div class="portletBody">
	<h3>
		$tlang.getString('confirm.submission.title')
	</h3>
		<form name="addSubmissionForm" action="#toolForm($action)" method="post" onsubmit="return true;">
		<h4>$tlang.getString('confirm.submission.success')</h4>
			<table class="itemSummary" border="0" cellspacing="0" summary="$tlang.getString('confirm.submission.title')">
				## user
				<tr>
					<th>
						$tlang.getString('confirm.submission.label.user')
					</th>
					<td>
						$!user_name#if($!user_id)($!user_id)#end
					</td>
				</tr>
				##site
				<tr>
					<th>
						$tlang.getString('confirm.submission.label.classsite')
					</th>
					<td>
						$!site_title
					</td>
				</tr>
				##assignment title
				<tr>
					<th>
						$tlang.getString('confirm.submission.label.assignment')
					</th>
					<td>
						$!assignment_title
					</td>
				</tr>
				##submission id
				<tr>
					<th>
						$tlang.getString('confirm.submission.label.submission.id')
					</th>
					<td>
						$!submission_id
					</td>
				</tr>
				##submit time
				<tr>
					<th>
						$tlang.getString('confirm.submission.label.submittedon')
					</th>
					<td>
						$!submit_time
					</td>
				</tr>
			</table>
			<h4>$tlang.getString('confirm.submission.inclue')</h4>
			## submission text
			<div class="longtext">
						#if ($!submit_text)
							<p class="indnt1">
								$!submit_text
								##$validator.escapeHtmlFormattedText($!submit_text)
							</p>
						#else
							$tlang.getString('confirm.submission.notext')
						#end
			</div>
				##submission attachment
			<h4>$tlang.getString('confirm.submission.attachments')</h4>
						#set ($size = 0)
						#set ($props = false)
						#foreach ($attachment in $!submit_attachments) 
							#set ($props = $attachment.Properties) 
							#if ($!props)
								#set ($size = $size + 1)
							#end
						#end 
						#if ($size == 0)
							 $tlang.getString("gen.noatt")
						#else
							#foreach ($attachment in $!submit_attachments) 
									#set ($props = false)
									#set ($props = $attachment.Properties) 
									#if ($!props)
										$validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))						
										#if (!$props.getBooleanProperty($props.NamePropIsCollection))
											($props.getPropertyFormatted($props.NamePropContentLength))
										#end
										<br/>
									#end
								#end
							</ul>
						#end
		#if ($!email_confirmation)
			<h4>$tlang.getString('confirm.submission.email')</h4>
		#end
		<p class="act">
			<input type="submit" accesskey="x" name="eventSubmit_doConfirm_assignment_submission" value="$tlang.getString('confirm.submission.button')" />
		</p>
	</form>
</div>

