<!-- $Id$ -->
<!-- start: chef_assignments_list_assignments.vm  -->
##<!-- $Header: Exp $ -->
## Assignments - list view
#parse("/vm/assignment/assignment_macros.vm")
<link href="/sakai-assignment-tool/css/assignment.css" type="text/css" rel="stylesheet" media="all" />
<script type="text/javascript" src="/library/js/jquery-ui-latest/js/jquery.min.js"></script>
<script type="text/javascript" src="/sakai-assignment-tool/js/assignments.js"></script>

<script type="text/javascript">
  focus_path = ["search"];
</script>
<script type='text/javascript'>
var linkFlag = true;

function allowClick(object)
{
		object.onclick='';
	 object.style.color='#000';
	 var rv = linkFlag;
	 ## set the flag to be false
	 linkFlag = false;
	 ##return the current flag status
	 return rv;
}
</script>
<div class="portletBody">
	#if ($allowAddAssignment || ($withGrade && $!allowGradeSubmission))
	## for user who cannot create assignment nor grade submission, no need to show "Assignment List" link at all since there is really no other toolbar choices
	<ul class="navIntraTool actionToolBar">
		#set($prevAction=false)
		#if ($allowAddAssignment)
			#set($prevAction=true)
			<li  class="firstToolBarItem"><span><a href="#toolLink("$action" "doNew_assignment")" title="$!tlang.getString("new")">$!tlang.getString("new")</a></span></li>
		#end
		<li #if ($prevAction==false) class="firstToolBarItem" #set($prevAction=true)  #end 
			#if (!$!view.equals('lisofass1'))
				>
				<span><a href="#toolLinkParam("$action" "doView" "view=lisofass1")" title="$!tlang.getString('lisofass1')">$!tlang.getString('lisofass1')</a></span>
			#else
				 >
				<span class="current">$!tlang.getString("lisofass1")</span>
			#end
		</li>	
		
		#if ($withGrade && $!allowGradeSubmission)
			<li#if ($prevAction==false) class="firstToolBarItem" #set($prevAction=true)  #end>
				<span><a href="#toolLinkParam("$action" "doView" "view=grarep")" title="$!tlang.getString("gen.grarep")">$!tlang.getString("gen.grarep")</a></span>
			</li>
		#end
	
		#if ($allowAddAssignment)
			<li  #if ($prevAction==false) class="firstToolBarItem" #set($prevAction=true)  #end 
				#if (!$!view.equals('stuvie'))
					>
					<span><a href="#toolLinkParam("$action" "doView" "view=stuvie")" title="$!tlang.getString("gen.stuvie")">$!tlang.getString("gen.stuvie")</a></span>
				#else
					>
					<span class="current">$!tlang.getString("gen.stuvie")</span>
				#end
			</li>	
		#end
		#if (($allowAllGroups) && ($assignmentscheck))
			<li #if ($prevAction==false) class="firstToolBarItem" #set($prevAction=true)  #end>
				<span><a href="#toolLink("$action" "doReorder")" title="$tlang.getString('gen.reorder')">$tlang.getString('gen.reorder')</a></span>
			</li>
		#end
		#if ($allowUpdateSite)
			<li #if ($prevAction==false) class="firstToolBarItem" #set($prevAction=true)  #end>
				<span><a href="#toolLink("$action" "doPermissions")" title="$tlang.getString('permis')">$tlang.getString('permis')</a></span>
			</li>
			#if ($enableViewOption)		
				<li #if ($prevAction==false) class="firstToolBarItem" #set($prevAction=true)  #end>
					<span><a href="#toolLink("$action" "doOptions")" title="$tlang.getString('options')">$tlang.getString('options')</a></span>
				</li>
			#end	
		#end
	</ul>
	#end
	#if ($alertMessage)<div class="alertMessage">$tlang.getString("gen.alert") $alertMessage</div><div class="clear"></div>#end
	<h3>
		$!tlang.getString('lisofass1')
	</h3>
	#if (!$!assignments.hasNext())
		<p class="instruction">
			$tlang.getString("gen.thearecur1")
		</p>
	#else
	<div class="navPanel">
		#if ($allowAddAssignment)
			#if (!$!view.equals('stuvie'))
			<div class="viewNav">
				<form name="viewForm" class="inlineForm" method="post" action="#toolForm("AssignmentAction")">
					<input type="hidden" name="eventSubmit_doView" value="view" />
					<label for="view">
						$tlang.getString("gen.view2")
					</label>
					<span class="skip">$tlang.getString("newassig.selectmessage")</span>
					<select id="view" name="view" size="1" tabindex="3" onchange="document.viewForm.submit();">
						<option value="lisofass1" #if($!view.equals('lisofass1'))selected="selected"#end >$!tlang.getString('lisofass1')</option>
						<option value="lisofass2" #if($!view.equals('lisofass2'))selected="selected"#end >$!tlang.getString('lisofass2')</option>
					</select>
					<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
				</form>
			</div>
			#else
				<div class="viewNav" style="width:50%">
				<div class="instruction">	$tlang.getString("stulistassig.selanass1")</div> 
			</div>
			#end
		#else
			<div class="viewNav" style="width:50%">
				<div class="instruction">$tlang.getString("stulistassig.selanass")</div>
			</div>
		#end
		<div class="listNav">
			<div  class="instruction">
				$tlang.getString("gen.viewing") $topMsgPos - $btmMsgPos $tlang.getString("gen.of") $allMsgNumber $tlang.getString("gen.items")
			</div>
			#if ($pagesize != 0)
				#if ($goFPButton == "true")
					<form name="firstpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
						<fieldset><legend>$tlang.getString("gen.first")</legend><input type="submit" name="eventSubmit_doList_first" value="|&lt;" title="$tlang.getString("gen.first")" /></fieldset>
						<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
					</form>
				#else
					<form name="firstpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
						<fieldset><legend>$tlang.getString("gen.first")</legend><input type="submit" name="eventSubmit_doList_first" value="|&lt;" disabled="disabled" /></fieldset>
						<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
					</form>
				#end
				#if ($goPPButton == "true")
					<form name="prevpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
						<fieldset><legend>$tlang.getString('gen.previous') $pagesize</legend><input type="submit" name="eventSubmit_doList_prev" value="&lt;" title="$tlang.getString('gen.previous') $pagesize" accesskey="p" /></fieldset>
						<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
					</form>
				#else
					<form name="prevpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
						<fieldset><legend>$tlang.getString('gen.previous') $pagesize</legend><input type="submit" name="eventSubmit_doList_prev" value="&lt;" disabled="disabled" /></fieldset>
						<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
					</form>
				#end
			#end	
			<form name="pagesizeForm" class="inlineForm" method="post" action="#toolForm("$action")">
				<input type="hidden" name="eventSubmit_doChange_pagesize" value="changepagesize" />
				<label for="selectPageSize" class="skip">$tlang.getString("newassig.selectmessage")</label>
				<select id="selectPageSize" name="selectPageSize" onchange="document.pagesizeForm.submit();">
					#foreach ($i in $!pagesizes)
						<option value="$i" #if($pagesize == $i) selected="selected" #end>$tlang.getString("list.show") $i $tlang.getString("list.itemsper")</option>
					#end
				</select>
				<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
			</form>
			#if ($pagesize != 0)
				#if ($goNPButton == "true")
					<form name="nextpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
						<fieldset><legend>$tlang.getString('gen.next') $pagesize</legend><input type="submit" name="eventSubmit_doList_next" value="&gt;" title="$tlang.getString('gen.next') $pagesize" accesskey="n" /></fieldset>
						<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
					</form>
				#else
					<form name="nextpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
						<fieldset><legend>$tlang.getString('gen.next') $pagesize</legend><input type="submit" name="eventSubmit_doList_next" value="&gt;" disabled="disabled" /></fieldset>
						<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
					</form>
				#end
				#if ($goLPButton == "true")
					<form name="lastpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
						<fieldset><legend>$tlang.getString('gen.last')</legend><input type="submit" name="eventSubmit_doList_last" value="&gt;|" title="$tlang.getString('gen.last')" /></fieldset>
						<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
					</form>
				#else
					<form name="lastpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
						<fieldset><legend>$tlang.getString('gen.last')</legend><input type="submit" name="eventSubmit_doList_last" value="&gt;|" disabled="disabled" /></fieldset>
						<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
					</form>
				#end
			#end
		</div>
	</div>
		<form name="listAssignmentsForm" action="#toolForm("$action")" method="post">
			<input type="hidden" name="source" value="0" />			
			<table class="listHier lines nolines" border="0" cellspacing="0" summary="$tlang.getString("gen.ass.lis.sum")">
				<tr> 
					<th id="attachments" class="attach"> 
						&nbsp;
					</th>
					<th id="title">
						<a href="#" onclick="location='#toolLinkParam("$action" "doSort" "criteria=title")'; return false;"   title="$tlang.getString("listassig.sorbytit")">
							$tlang.getString("gen.asstit")
							#if ($sortedBy.equals("title")) 
								#if ($sortedAsc.equals("true")) 
									<img id="sortascendingtitle" src = "#imageLink("sakai/sortascending.gif")" border="0" alt="$tlang.getString("gen.sorasc")" /> 
								#else 
									<img id="sortdescendingtitle" src = "#imageLink("sakai/sortdescending.gif")" border="0" alt="$tlang.getString("gen.sordes")" /> 
								#end 
							#end 
						</a>
					</th>
                                        
					#if ($!allowGradeSubmission)
						<th id="$tlang.getString('gen.visible')">
							#if (!$sortedBy.equalsIgnoreCase("$tlang.getString('gen.visible')"))
								<a href="#" onclick="location='#toolLinkParam("$action" "doSort" "criteria=for")'; return false;"   title="$tlang.getString('gen.sortbyfor')">$tlang.getString("gen.visible")</a>
							#else
								#if ($sortedAsc.equals("true"))
									<a href="#" onclick="location='#toolLinkParam("$action" "doSort" "criteria=for")'; return false;"    title="$tlang.getString('gen.sortbyforasc')">$tlang.getString("gen.visible") <img src = "#imageLink('sakai/sortascending.gif')" border="0" alt="$tlang.getString('gen.sortbyforasc')" /></a>
								#else
									<a href="#" onclick="location='#toolLinkParam("$action" "doSort" "criteria=for")'; return false;"    title="$tlang.getString('gen.sortbyfordesc')">$tlang.getString("gen.visible") <img src = "#imageLink('sakai/sortdescending.gif')" border="0" alt ="$tlang.getString('gen.sortbyfordesc')" /></a>
								#end
							#end
						</th>
					#end
					<th id="status">
						<a href="#" onclick="location='#toolLinkParam("$action" "doSort" "criteria=assignment_status")'; return false;"   title="$tlang.getString("list.sorbysta")">
							$tlang.getString("gen.status")
							#if ($sortedBy.equals("assignment_status")) 
								#if ($sortedAsc.equals("true")) 
									<img id="sortascendingstatus" src = "#imageLink("sakai/sortascending.gif")" border="0" alt="$tlang.getString("gen.sorasc")" /> 
								#else 
									<img id="sortdescendingstatus" src = "#imageLink("sakai/sortdescending.gif")" border="0" alt="$tlang.getString("gen.sordes")" /> 
								#end 
							#end 
						</a>
					</th>
					<th id="openDate">
						<a href="#" onclick="location='#toolLinkParam("$action" "doSort" "criteria=opendate")'; return false;"  title="$tlang.getString("listassig.sorbyope")">
							$tlang.getString("gen.open")
							#if ($sortedBy.equals("opendate")) 
								#if ($sortedAsc.equals("true")) 
									<img id="sortascendingopendate" src = "#imageLink("sakai/sortascending.gif")" border="0" alt="$tlang.getString("gen.sorasc")" /> 
								#else 
									<img id="sortdescendingopendate" src = "#imageLink("sakai/sortdescending.gif")" border="0" alt="$tlang.getString("gen.sordes")" /> 
								#end 
							#end 
						</a>
					</th>
					<th id="dueDate">
						<a href="#" onclick="location='#toolLinkParam("$action" "doSort" "criteria=duedate")'; return false;"  title="$tlang.getString("gen.sorbydue")">
							$tlang.getString("gen.due")
							#if ($sortedBy.equals("duedate")) 
								#if ($sortedAsc.equals("true")) 
									<img id="sortascendingduedate" src = "#imageLink("sakai/sortascending.gif")" border="0" alt="$tlang.getString("gen.sorasc")" /> 
								#else 
									<img id="sortdescendingduedate" src = "#imageLink("sakai/sortdescending.gif")" border="0" alt="$tlang.getString("gen.sordes")" /> 
								#end 
							#end 
						</a>
					</th>
					#if ($!allowGradeSubmission)
						#if ($!view.equals('lisofass1'))
						#if ($!showNumSubmissionColumn)
						<th id="num_submissions">
							<a href="#" onclick="location='#toolLinkParam("$action" "doSort" "criteria=num_submissions")'; return false;"   title="$tlang.getString("listassig.sorbynum1")">$tlang.getString("gen.in")</a>
								#if ($sortedBy.equals("num_submissions")) 
									<a href="#" onclick="location='#toolLinkParam("$action" "doSort" "criteria=num_submissions")'; return false;"   title="$tlang.getString("listassig.sorbynum1")">
										#if ($sortedAsc.equals("true")) 
											<img id="sortascendingtotalsubmissions" src = "#imageLink("sakai/sortascending.gif")" border="0" alt="$tlang.getString("gen.sorasc")" />
										#else 
											<img id="sortdescendingtotalsubmissions" src = "#imageLink("sakai/sortdescending.gif")" border="0" alt="$tlang.getString("gen.sordes")" />
										#end 
									</a>
								#end
								/
							<a href="#" onclick="location='#toolLinkParam("$action" "doSort" "criteria=num_ungraded")'; return false;"  title="$tlang.getString("listassig.sorbynum2")">$tlang.getString("gen.new")</a>
								#if ($sortedBy.equals("num_ungraded")) 
									<a href="#" onclick="location='#toolLinkParam("$action" "doSort" "criteria=num_ungraded")'; return false;"   title="$tlang.getString("listassig.sorbynum2")">
										#if ($sortedAsc.equals("true")) 
											<img id="sortascendingungradedsubmissions" src = "#imageLink("sakai/sortascending.gif")" border="0" alt="$tlang.getString("gen.sorasc")" />
										#else 
											<img id="sortdescendingungradedsubmissions" src = "#imageLink("sakai/sortdescending.gif")" border="0" alt="$tlang.getString("gen.sordes")" />
										#end 
									</a>	
								#end
						</th>
						#end
						#end
					#end
					#if ($withGrade && $!allowGradeSubmission)
						<th id="maxgrade">
							<a href="#" onclick="location='#toolLinkParam("$action" "doSort" "criteria=max_grade")'; return false;"   title="$tlang.getString("gen.sorbymax")">
								$tlang.getString("gen.sca")
								#if ($sortedBy.equals("max_grade")) 
									#if ($sortedAsc.equals("true")) 
										<img id="sortascendingungraded" src = "#imageLink("sakai/sortascending.gif")" border="0" alt="$tlang.getString("gen.sorasc")" /> 
									#else 
										<img id="sortdescendingungraded" src = "#imageLink("sakai/sortdescending.gif")" border="0" alt="$tlang.getString("gen.sordes")" /> 
									#end 
								#end 
							</a>
						</th>
					#end
					#if ($!allowRemoveAssignment && $!view.equals('lisofass1'))
						<th id="remove" class="screenOnly"> 
							$tlang.getString("gen.remove.q")
						</th>
					#end
				</tr>
				#set ($assignmentCount = 0)
				#foreach ($assignment in $assignments)
                                        #set ($assignmentContent = $assignment.getContent())
					#set ($assignmentReference = $assignment.Reference)
					#set($assignmentProperties=$!assignment.getProperties())
					## all allow function results
					#set($allowUpdateAssignment=$!service.allowUpdateAssignment($assignmentReference))
					#if (!($!allowAddAssignment && $!view.equals('lisofass1')))
						## get submission instance only if 1) not an instructor type user or 2) is an instructor type user but in student view
						#set($submission=false)
						#set($submission=$service.getSubmission($assignment.Reference, $user))
						#set($submissionReturned=$!submission.returned)
						#set($submissionSubmitted=$!submission.submitted)
						#set($submissionProperties=$!submission.getProperties())
						#set($submitTime=false)
						#set ($submitTime = $submission.getTimeSubmitted())
					#end
					## no need to do permission check again, since it was done when the list was constructed
						#set ($assignmentCount = $assignmentCount + 1)
						<tr> 
							<td headers="attachments" class="attach">
								#set ($attachments = $assignmentContent.getAttachments())
								#set ($size = 0)
								#set ($props = false)
								#if (!$!attachments.isEmpty())
									#foreach ($attachment in $attachments)
										#set ($props = $attachment.Properties) 
										#if ($!props)
											#set ($size = $size + 1)
										#end
									#end
								#end
								#if ($size > 0)
									<img id="attachment$assignmentCount" src="#imageLink("sakai/attachments.gif")" alt="$tlang.getString("gen.att")" width="13" height="11" border="0" /> 
								#else
									&nbsp;
								#end
							</td>
							<td headers="title">
									#if (($!allowAddAssignment || $!allowUpdateAssignment || $!service.allowGradeSubmission($assignment.getReference())) && $!view.equals('lisofass1'))
										<h4>
                                                                                        #assignmentTitleIcon($assignment)
											## normal instructor view
											#if ($assignment.draft && $!allowUpdateAssignment )
												<a href="#toolLinkParam("$action" "doEdit_assignment" "assignmentId=$validator.escapeUrl($assignmentReference)")">
											#else
												<a href="#toolLinkParam("$action" "doView_assignment" "assignmentId=$validator.escapeUrl($assignmentReference)")">
											#end
											#if ($!assignment.draft)
												<span class="highlight">$tlang.getString("gen.dra2") </span>
											#end
												$validator.escapeHtml($validator.limit($!assignment.getTitle(), 64))
												
											#if ($assignmentContent.getAllowReviewService())
												<img alt="$reviewIndicator" title="$reviewIndicator" src="/library/image/silk/rosette.png" />
											#end
											</a>
										</h4>
										<div class="itemAction">
											#set($prevAction=false)
											#if ($!allowUpdateAssignment)#set($prevAction=true)<a href="#toolLinkParam("$action" "doEdit_assignment" "assignmentId=$validator.escapeUrl($assignmentReference)")">$!tlang.getString("gen.revi") <span class="skip">$validator.escapeHtml($validator.limit($!assignment.getTitle(), 64))</span></a>#end
											#if ($allowAddAssignment&&$!allowUpdateAssignment)#if($prevAction) | #else#set($prevAction=true)#end<a href="#toolLinkParam("$action" "doDuplicate_assignment" "assignmentId=$validator.escapeUrl($assignmentReference)")">$!tlang.getString("dupli") <span class="skip">$validator.escapeHtml($validator.limit($!assignment.getTitle(), 64))</span></a>#end
											#if ($taggable && $allowAddAssignment)
												#foreach ($provider in $providers)
													#set ($helperInfo = false)
													#set ($activity = $producer.getActivity($assignment))
													#set ($helperInfo = $provider.getActivityHelperInfo($activity.reference))
													#if ($helperInfo)
														#if($prevAction)
															| 
														#else
															#set($prevAction=true)
														#end
															<a href="#toolLinkParam("$action" "doHelp_activity" "activityRef=$validator.escapeUrl($activity.reference)&providerId=$validator.escapeUrl($provider.id)")" title="$!helperInfo.description">$!helperInfo.name</a>
													#end
												#end
											#end
											#if (!$assignment.draft && $!service.allowGradeSubmission($assignment.getReference()))#if($prevAction) | #end
											#set ($gradeScale = $assignmentContent.getTypeOfGrade())
											## show "view submissions" link for ungraded type of assignment
												<a href="#" onclick="if(allowClick(this)){window.location='#toolLinkParam("$action" "doGrade_assignment" "assignmentId=$validator.escapeUrl($assignmentReference)")';}" >#if ($withGrade && $gradeScale != 1)$!tlang.getString("gen.assign.gra")#else$!tlang.getString("viewsubmissions")#end <span class="skip">: $validator.escapeHtml($validator.limit($!assignment.getTitle(), 64))</span></a>#end										
										</div>
									#else
										#if ($!allowAddAssignment)
											## still for instructor, different view
											#if ($!submission && $!submitTime)
												#set($allowResubmitNumber=$!submissionProperties.getProperty($!allowResubmitNumberProp))
												#if(!$!allowResubmitNumber.equals("0"))
													#set($allowResubmitCloseTimeString=$!submissionProperties.getProperty($!allowResubmitCloseTimeProp))
													#if($!allowResubmitCloseTimeString)
														#set($allowResubmitCloseTime=$!TimeService.newTime($!LongObject.parseLong($!allowResubmitCloseTimeString)))
													#end
												#end
												## if not submitted or returned and still allowed to submit within the due time
                                                                                                #assignmentTitleIcon($assignment)
                                                                                                #if ($service.canSubmit($assignment.getContext(), $assignment))
													## go to view submission page when (1) submission has been returned and allow for resubmit;(2)submission has not been posted yet.
													<a href="#toolLinkParam("AssignmentAction" "doView_submission" "assignmentReference=$validator.escapeUrl($assignment.Reference)")">
												#else
													<a href="#toolLinkParam("AssignmentAction" "doView_grade" "submissionId=$validator.escapeUrl($submission.Reference)")">
												#end
												$validator.escapeHtml($validator.limit($assignment.getTitle(), 40))</a>                                     
											#else
                                                                                                #assignmentTitleIcon($assignment)
												$validator.escapeHtml($validator.limit($assignment.getTitle(), 40))
												#if ($!allowSubmit)
													<div class="itemAction">
														<a href="#toolLinkParam("AssignmentAction" "doView_submission" "assignmentReference=$validator.escapeUrl($assignment.Reference)")">
															$tlang.getString("subasstudent")<span class="skip">: $validator.escapeHtml($validator.limit($assignment.getTitle(), 40))</span>
														</a>
													</div>	
												#end
											#end
										#else
											## SAK-21525 START
											## If this assignment has groups, their access controls must take precedence
											#set($groupIds='')
											#set($groupIds=$assignment.getGroups())
											#if($groupIds != '' && $groupIds.size() > 0)
												#set($allowSubmit=false)
												## If asn.submit is set on at least one of the assignment's authz groups, set allowSubmit to true
												#foreach($groupId in $groupIds)
													#if($AuthzGroupService.isAllowed($user.getId(),'asn.submit',$groupId))
														#set($allowSubmit=true)
													#end
												#end
											#end
											## SAK-21525 END
											#if($!allowSubmit)
												## for those who can submit
												#if ($!submission && ($!submitTime || $!submissionReturned))
													## is there a submission already?
													#set($allowResubmitNumber=$!submissionProperties.getProperty($!allowResubmitNumberProp))
													#if(!$!allowResubmitNumber.equals("0"))
														#set($allowResubmitCloseTimeString=$!submissionProperties.getProperty($!allowResubmitCloseTimeProp))
														#if($!allowResubmitCloseTimeString)
															#set($allowResubmitCloseTime=$!TimeService.newTime($!LongObject.parseLong($!allowResubmitCloseTimeString)))
														#end
													#end
													## if not submitted or returned and still allowed to submit within the due time
													#if ($service.canSubmit($assignment.getContext(), $assignment))
														## go to view submission page when (1) submission has been returned and allow for resubmit;(2)submission has not been posted yet.
														<h4>#assignmentTitleIcon($assignment)
                                                                                                                <a href="#toolLinkParam("AssignmentAction" "doView_submission" "assignmentReference=$validator.escapeUrl($assignment.Reference)")">$validator.escapeHtml($validator.limit($assignment.getTitle(), 40))</a>
                                                                                                                </h4>
												#else
														<h4>#assignmentTitleIcon($assignment)
                                                                                                                <a href="#toolLinkParam("AssignmentAction" "doView_grade" "submissionId=$validator.escapeUrl($submission.Reference)")">$validator.escapeHtml($validator.limit($assignment.getTitle(), 40))</a>
                                                                                                                </h4>														
													#end
												#else
												 <h4>#assignmentTitleIcon($assignment)
                                                                                                    <a href="#toolLinkParam("AssignmentAction" "doView_submission" "assignmentReference=$validator.escapeUrl($assignment.Reference)")">$validator.escapeHtml($validator.limit($assignment.getTitle(), 40))</a>
                                                                                                 </h4>
												#end
												#if ($taggable && $allowAddAssignment)
													<div class="itemAction">
														#set($prevAction=false)
														#foreach ($provider in $providers)
															#set ($activityHelperInfo = false)
															#set ($activity = $producer.getActivity($assignment))
															#set ($activityHelperInfo = $provider.getActivityHelperInfo($activity.reference))
															#if ($activityHelperInfo)
																#if($prevAction)
																	| 
																#else
																	#set($prevAction=true)
																#end
																<a href="#toolLinkParam("$action" "doHelp_activity" "activityRef=$validator.escapeUrl($activity.reference)&providerId=$validator.escapeUrl($provider.id)")" title="$!activityHelperInfo.description">$!activityHelperInfo.name</a>
															#end
															#if ($!submission)
																#set ($itemHelperInfo = false)
																#set ($item = $producer.getItem($submission, $user.getId()))
																#set ($itemHelperInfo = $provider.getItemHelperInfo($item.reference))
																#if ($itemHelperInfo)
																	#if($prevAction)
																		| 
																	#else
																		#set($prevAction=true)
																	#end
																	<a href="#toolLinkParam("$action" "doHelp_item" "itemRef=$validator.escapeUrl($item.reference)&providerId=$validator.escapeUrl($provider.id)")" title="$!itemHelperInfo.description">$!itemHelperInfo.name</a>
																#end
															#end
														#end
													</div>
												#end
											#else
												<a href="#toolLinkParam("AssignmentAction" "doView_assignment_as_student" "assignmentId=$assignment.Reference")">$validator.escapeHtml($validator.limit($assignment.getTitle(), 40))</a></h4>
											#end
										#end
										#set ($deleted = false)
										#set ($deleted = $assignmentProperties.getProperty($assignmentProperties.getNamePropAssignmentDeleted()))
										#if ($!deleted.equalsIgnoreCase("true"))
											<span class="highlight">$tlang.getString("stulistassig.asshasbee1")</span>
										#end
									#end
							</td>
						#if ($!allowGradeSubmission)
							<td style="padding-bottom:0" headers="for">
								#set( $groupTitleList = [] )
								#set( $siteRelease = $assignment.Access.toString().equals("site") )
								#if( !$siteRelease )
									#foreach( $groupID in $assignment.Groups )
										#set( $group = $!site.getGroup( $groupID ) )
										#if( $!group )
											#set( $success = $groupTitleList.add( $validator.escapeHtml( $group.Title ) ) )
											#set( $group = false )
										#end
									#end
								#end

								#if( $siteRelease )
									$tlang.getString("gen.viewallgroupssections")
								#elseif( $groupTitleList.size() > 0 )
									<div class="groupsContainer">
										<h4 class="collapse" onclick="toggleGroups( this ); resizeFrame();">
											$groupTitleList.size()
											#if( $groupTitleList.size() == 1 )
												$tlang.getString( "selected.group" )
											#else
												$tlang.getString( "selected.groups" )
											#end
										</h4>

										<div id="groupsPanel" style="display: none;">
											<ul>
												#foreach( $title in $groupTitleList )
													<li>$title</li>
												 #end
											</ul>
										</div>
									</div>
								#else
									<div class="alertMessage">
										$tlang.getString( "assignment.inaccessible" )
									</div>
								#end
							</td>
							#end
							<td headers="status">
								#if ($allowAddAssignment && $!view.equals('lisofass1'))
								   $!assignment.getStatus()
								#else
									#if ($!submission)
										$submission.getStatus()
										#if ($submission.getSubmitted()) 
											#if ($assignment.getDueTime() && $submission.getTimeSubmitted() && $submission.getTimeSubmitted().after($assignment.getDueTime()))
                                            	<span class="highlight">$tlang.getString("gen.late2")</span>
											#end
										#end
									#else
										$tlang.getString("gen.notsta")
									#end
								#end
							</td>
							<td headers="openDate">
								$!assignment.openTime.toStringLocalFull()
							</td>
							<td headers="dueDate">
							#if ($assignmentContent.getHideDueDate() != "true" || $!allowUpdateAssignment)

                                ##Instructors can still see the due date
                                <span class="highlight">$!assignment.dueTime.toStringLocalFull()</span>
                            #end

							</td>

							#if ($!allowGradeSubmission)
								#if ($!view.equals('lisofass1'))
								#if ($!showNumSubmissionColumn)
								<td headers="num_submissions" class="specialLink">
								## not show the link for draft assignment
								#if (!$assignment.Draft && $!service.allowGradeSubmission($assignment.getReference()))
									## 1- text only; 2-attachment only; 3-text and attachment; 4-Non-electronic
									#set($ungradedNumber = $!service.getUngradedSubmissionsCount($assignment.Reference))
									#set($totalNumber = $!service.getSubmittedSubmissionsCount($assignment.Reference))
									#set ( $submissionType = $assignmentContent.TypeOfSubmission)
									#if ($!submissionType == 4)
										## non-electronic assignment
										#set ($allowSubmitUsers = $!service.allowAddSubmissionUsers($!assignment.getReference()))
										#if($totalNumber == 0)
											## in case there is no submission object for any reason
											#set($ungradedNumber = $allowSubmitUsers.size())
											#set($totalNumber = $ungradedNumber)
										#end
									#end
									<a href="#" onclick="if(allowClick(this)){window.location='#toolLinkParam("$action" "doGrade_assignment" "assignmentId=$validator.escapeUrl($assignmentReference)")';}" >
									<span class="skip"> #if ($withGrade && $gradeScale != 1)$!tlang.getString("gen.assign.gra")#else$!tlang.getString("viewsubmissions")#end : $validator.escapeHtml($validator.limit($!assignment.getTitle(), 64)). </span> <span class="skip">$!tlang.getString("gen.subm2"): </span>$!totalNumber/<span class="skip">$!tlang.getString("ungra"): </span>$!ungradedNumber</a>
								#end
								</td>
								#end
								#end
							#end
							#if ($withGrade && $!allowGradeSubmission)
							<td headers="maxgrade">
									#set ($gradeScale = $assignmentContent.getTypeOfGrade())
									#if ($gradeScale == -1)
										## Grade type not set 
										$tlang.getString("gen.notset")
									#elseif ($gradeScale == 1)
										## Ungraded grade type
										$tlang.getString("gen.nograd")
									#elseif ($gradeScale == 2)
										## Letter grade type 
										A-F
									#elseif ($gradeScale == 3)
										## Score based grade type
										0-$assignmentContent.getMaxGradePointDisplay()
									#elseif ($gradeScale == 4)
										## Pass/fail grade type 
										$tlang.getString("gen.pf")
									#elseif ($gradeScale == 5)
										## Grade type that only requires a check
										<img src="#imageLink("sakai/checkon.gif")" border="0" alt="Checkmark" />
									#end
							</td>
							#end
							#if ($!allowRemoveAssignment && $!view.equals('lisofass1'))
								<td headers="remove" class="screenOnly">
										<input type="checkbox" name="selectedAssignments" value="$assignmentReference" id="check_$assignmentCount" />
										<label for="check_$assignmentCount" class="skip">$tlang.getString("gen.remove"): $validator.escapeHtml($validator.limit($!assignment.getTitle(), 64))</label>
								</td>
							#end
						</tr>
						<!-- Peer assessment rows -->
						#if($assignment.getAllowPeerAssessment() && !($allowAddAssignment && $!view.equals('lisofass1')))
							#set($reviews = $peerAssessmentItemsMap.get($assignment.id))
							<!-- only show to "students" -->
							<!-- peer assessment overview row -->
							<tr>
								<!-- attachments col -->
								<td></td>
								<!-- title col -->
								<td>
									<span class="indnt1">
										$tlang.getString("peerAssessmentName")
									</span>
								</td>
								#if ($!groups && $!allowGradeSubmission)
									<!-- groups col -->
									<td></td>
								#end
								<!-- status col -->
								<td>
									#if ($!submission)
										#if($assignment.isPeerAssessmentPending())
											<!-- peer review hasn't opened and user submitted -->
											#if ($submission.getSubmitted())
												$tlang.getString("peerassessment.notOpen")
											#else
												<!-- user has only submitted a draft, tell the user submission is required to encourage submission (although technically it isn't) -->
												$tlang.getString("peerassessment.submissionReq")
											#end
										#else
											<!-- peer review is open (or over) and user submitted 
												status will be "not started", "incomplete", or "submitted"
											-->
											
											#if(!$reviews || $reviews.size() == 0)
												<!-- something is wrong here, don't show anything to the user, just show not open -->
												$tlang.getString("peerassessment.notOpen")
											#else
												#set($completedReviews = true)
												#set($anyDraftReviews = false)
												#set($anyCompleteReviews = false)
												#foreach ($review in $reviews)
													#if(!$review.isSubmitted())
														#set($completedReviews = false)		
														#if($review.isDraft())
															#set($anyDraftReviews = true)
														#end
													#else
														#set($anyCompleteReviews = true)	
													#end
												#end
												#if($completedReviews)
													<!-- all reviews are completed -->
													$tlang.getString("peerassessment.submitted")
												#elseif($anyDraftReviews || $anyCompleteReviews)
													<!-- some are still in draft -->
													$tlang.getString("peerassessment.incomplete")
												#else
													<!-- user hasn't started -->
													$tlang.getString("peerassessment.notStarted")
												#end												
											#end
										#end
									#else
										<!-- submission required -->
										$tlang.getString("peerassessment.submissionReq")
									#end
								</td>
								<!-- open col -->
								<td>
									$!assignment.closeTime.toStringLocalFull()
								</td>
								<!-- due col -->
								<td>
									$!assignment.peerAssessmentPeriod.toStringLocalFull()
								</td>
								<!-- the following are empty columns as place holders -->
								#if ($!allowGradeSubmission)
									#if ($!view.equals('lisofass1'))
									#if ($!showNumSubmissionColumn)
										<!-- num submissions col -->
										<td></td>
									#end
									#end
								#end
								#if ($withGrade && $!allowGradeSubmission)
									<!-- grade scale col -->
									<td></td>
								#end
								#if ($!allowRemoveAssignment && $!view.equals('lisofass1'))
									<!-- remove col -->
									<td></td>
								#end
							</tr>
						
							<!-- end peer assessment overview row -->
							<!-- peer assessment items rows->
							#if ($!submission && $assignment.isPeerAssessmentOpen() && $!reviews)
								<!-- peer assessment is open and user has submitted, show item details
								#set ($reviewCount = 0)
								#foreach ($review in $reviews)
									#set ($reviewCount = $reviewCount + 1)
									<tr>
										<!-- attachments col -->
										<td></td>
										<!-- title col -->
										<td>
											<span class="indnt2">
												#if($review.isSubmitted())
													$tlang.getFormattedMessage("peerassessment.student", $reviewCount)&nbsp;<img src="/library/image/silk/accept.png"/>
												#else
													<a href="#toolLinkParam("$action" "doEdit_review" "assignmentId=$validator.escapeUrl($assignmentReference)&submissionId=$validator.escapeUrl($review.getSubmissionId())")">
														$tlang.getFormattedMessage("peerassessment.student", $reviewCount)
													</a>
												#end
											</span>
										</td>
										#if ($!groups && $!allowGradeSubmission)
											<!-- groups col -->
											<td></td>
										#end
										<!-- status col -->
										<td>
											#if($review.isSubmitted())
												$tlang.getString("peerassessment.submitted")
											#elseif($review.isDraft())
												$tlang.getString("peerassessment.draftInProgress")
											#else
												$tlang.getString("peerassessment.notStarted")
											#end
										</td>
										<!-- open col -->
										<td>
										</td>
										<!-- due col -->
										<td>
										</td>
										<!-- the following are empty columns as place holders -->
										#if ($!allowGradeSubmission)
											#if ($!view.equals('lisofass1'))
											#if ($!showNumSubmissionColumn)
												<!-- num submissions col -->
												<td></td>
											#end
											#end
										#end
										#if ($withGrade && $!allowGradeSubmission)
											<!-- grade scale col -->
											<td></td>
										#end
										#if ($!allowRemoveAssignment && $!view.equals('lisofass1'))
											<!-- remove col -->
											<td></td>
										#end
									</tr>
								#end
							#end
						<!-- End peer assessment items rows->
						
						<!-- End Peer assessment rows -->
						#end
				#end
			</table>
			#if ($!allowRemoveAssignment && $!view.equals('lisofass1'))
				<p class="act">
					<input type="submit" class="active" name="eventSubmit_doDelete_confirm_assignment" value="$tlang.getString("removeSelected")" accesskey="s" />
				</p>
			#end
			<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
		</form>
	#end
</div>
<!-- end: chef_assignments_list_assignments.vm  -->
