<div id="roster_type_selector">
    {{#if viewOfficialPhoto}}
    <input type="radio" name="roster_picture_type" value="official" id="roster_official_picture_button" {{#if roster.rosterOfficialPictureMode}}checked{{/if}}/><span>{{translate 'roster_show_official_pictures'}}</span>
    <input type="radio" name="roster_picture_type" value="profile" id="roster_profile_picture_button" {{#unless roster.rosterOfficialPictureMode}}checked{{/unless}}/><span>{{translate 'roster_show_profile_pictures'}}</span>
    {{/if}}
</div>
<div id="roster_pics"></div>
