<table class="rosterPageHeader">
	<tbody>
		<tr>
			<td class="rosterPageHeaderLeft">
				<h3>{{translate 'title_pictures'}}: {{siteTitle}}</h3>
			</td>
			<td class="rosterPageHeaderRight">
				<input type="button" value="{{translate 'print_roster'}}" onclick="window.print()" />
			</td>
		</tr>
	</tbody>
</table>
