<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="org.sakaiproject.section.api.SectionAwareness" parent="sectionsTxTemplate">
        <property name="target">
            <bean class="org.sakaiproject.component.section.SectionAwarenessHibernateImpl">
        		<property name="sessionFactory"><ref bean="sectionsSessionFactory"/></property>
            </bean>
        </property>
	</bean>

    <bean id="org.sakaiproject.section.api.CourseManager" parent="sectionsTxTemplate">
        <property name="target">
            <bean class="org.sakaiproject.component.section.CourseManagerHibernateImpl">
                <property name="sessionFactory"><ref bean="sectionsSessionFactory"/></property>
            </bean>
        </property>
    </bean>

	<bean id="org.sakaiproject.section.api.SectionManager" parent="sectionsTxTemplate">
        <property name="target">
            <bean class="org.sakaiproject.component.section.SectionManagerHibernateImpl">
        		<property name="sessionFactory"><ref bean="sectionsSessionFactory"/></property>
                <property name="authn">
                    <ref bean="org.sakaiproject.section.api.facade.manager.Authn"/>
                </property>
                <property name="context">
                    <ref bean="org.sakaiproject.section.api.facade.manager.Context"/>
                </property>
            </bean>
        </property>
	</bean>

</beans>
