.headerAlignment {
	text-align: center !important;
}
ul.not_sortabl
{
	list-style: none;
	margin: 4px;
	padding: 6px;	
}
ul.sortable
{
	list-style: none;
	padding: 0;
}
ul.sortable a
{
	text-decoration: none !important;
}
ul.sortable li
{
	position: relative;
}
.fl-reorderer-avatar .tool-icon,
ul.sortable li .tool-icon
{
	color: var(--sakai-text-color-1);
	padding-right: 4px;
	line-height: 1em;
	display: inline-block;
}
li.sortable_item
{
	margin: 5px 0;
	padding: 5px 0 5px 5px;
	border: 1px solid var(--sakai-border-color);
	background-color: var(--sakai-background-color-2);
}
li.sortable_item:hover
{
	background-color: var(--sakai-background-color-3);
}
li.sortable_item:before
{
	font-family: 'Glyphicons Halflings';
	content: "\e236";
	color: var(--sakai-text-color-2);
	margin: 0 6px 0 2px;
	font-size: 0.8em;
}
li.editable_item
{
	width: 100%;
	margin: 2px;
	padding: 4px;
	border: 3px solid var(--focus-outline-color);
}
li.sortable_active
{
	width: 100%;
	margin: 2px;
	padding: 4px;
	border: 1px solid var(--sakai-active-color-3);
	background-color: var(--sakai-active-color-1);
}
li.sortable_hover
{
	width: 100%;
	margin: 2px;
	padding: 4px;
	background-color: var(--sakai-background-color-3);
}
.sort_helper
{
	list-style: none;
	border: 1px dotted var(--sakai-border-color);
}
.item_control_box.dropdown
{	
	position: absolute;
	right: 0;
	top: 0;
}
.item_control_box.dropdown > a
{
	display: block;
	padding: 5px 10px;
	border: 1px solid transparent;
	color: var(--sakai-text-color-1);
}
.item_control_box.dropdown.open > a,
.item_control_box.dropdown > a:hover
{
	background-color: var(--button-hover-background);
	border-color: var(--button-hover-border-color);
}
.item_control.del-link
{
	color: var(--errorBanner-color);
	background: var(--errorBanner-bgcolor);
}
.item_flags_box
{
	float: right;
	margin-right: 35px;
	margin-top: 2px;
	color: var(--sakai-text-color-1);
}
.item_flags_box .glyphicon
{
	float: left;
	margin-right: 10px;
}
.item_control_box .dropdown-menu>li>a
{
	padding-left: 10px;
}
.item_control_box .dropdown-menu>li>a .glyphicon
{
	padding-right: 5px;
}
.item_label_box
{
	display: inline;
}
.hidden
{
	display: none;
}
.option_list
{
	padding: 10px;
	border: 1px solid var(--sakai-border-color);
}
#list-label
{
	padding: 10px;
	display: none;
	border: 1px solid var(--successBanner-bordercolor);
	background-color: var(--successBanner-bgcolor);
	color: var(--successBanner-color);
}
#option-label
{
	padding: 10px;
	border: 1px solid var(--infoBanner-bordercolor);
	background-color: var(--inforBanner-bgcolor);
	color: var(--infoBanner-color);

}
#page-list{
	width: 100%;
	max-width: 600px;
}
#page-list td
{
	padding: 5px;
	vertical-align: top;	
}
.fl-reorderer-avatar
{
	background-color: var(--sakai-background-color-4) !important;
}
.alertMessageContainer {
	min-height: 60px;
}
.item_edit_box
{
	margin-top: 10px;
	padding: 10px;
	border-top: 1px dotted var(--sakai-border-color);
}
.item_edit_box label
{
	min-width: 60px;
}
