<!-- start:  assignment_macros.vm -->
#macro( propertyDetails $props )
    <span class="textPanelFooter">(
    #if (!$props.getBooleanProperty($props.NamePropIsCollection))
        $props.getPropertyFormatted($props.NamePropContentLength);
    #end
    $props.getPropertyFormatted($props.NamePropCreationDate)
    )</span>
#end

##defines a macro to display attachment details
#macro( attachmentDetails )
    #if ($props.getBooleanProperty($props.NamePropIsCollection))
        <img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")"/>
    #else
        <img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
    #end
    <a href="$attachment.Url" target="_blank">$formattedText.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>
    #propertyDetails($props)
#end

#macro( assignmentIcons $assignment )
    #if ($!assignment.IsGroup)
        <span class="bi bi-people" aria-hidden="true" aria-label="$tlang.getString('gen.groupassignment')"></span>
    #end
    #if (!$assignment.getAttachments().isEmpty())
        <span class="si si-attachment" aria-hidden="true"></span>
        <span class="sr-only">$tlang.getString("gen.has.att")</span>
    #end
    #if ($assignment.getContentReview())
        <span class="bi bi-award" aria-hidden="true"></span> <span class="sr-only">$reviewIndicator</span>
    #end
#end

## Defining macro to repeat buttons at the top and bottom of the page
#macro( buttonBar )
    <div class="act">
        <input accesskey="s" type="button" class="active" name="post" value="$tlang.getString("gen.pos")" onclick="SPNR.disableControlsAndSpin( this, null ); ASN.submitForm( 'newAssignmentForm', 'post', null, null ); return false;" />
        <input accesskey="v" type="button" name="preview" value="$tlang.getString("gen.pre")" onclick="SPNR.disableControlsAndSpin( this, null ); ASN.submitForm( 'newAssignmentForm', 'preview', null, null ); return false;" />
        #if (!($!assignment && !$assignment.draft))
            <input accesskey="d" type="button" name="save" value="$tlang.getString("gen.savdra")" onclick="SPNR.disableControlsAndSpin( this, null ); ASN.submitForm( 'newAssignmentForm', 'save', null, null ); return false;" />
        #end
        <input accesskey="x" type="button" name="cancel" value="$tlang.getString("gen.can")" onclick="SPNR.disableControlsAndSpin( this, null ); ASN.submitForm( 'newAssignmentForm', 'canceledit', null, null ); return false;" />
    </div>
#end

## Macro for the paginator
#macro( paginator $topMsgPos $btmMsgPos $allMsgNumber $pagesize $goFPButton $goPPButton $goNPButton $goLPButton $sakai_csrf_token $pagesizes )
    <nav class="assignment-pager panel panel-default">
        <div class="card text-center" id="pagingHeader">
            $tlang.getString( "gen.viewing" ) $topMsgPos - $btmMsgPos $tlang.getString( "gen.of" ) $allMsgNumber $tlang.getString( "gen.items" )
        </div>
        <div class="card-body">
        #if( $pagesize != 0 )
            <form name="firstpageForm" class="inlineForm" method="post" action="#toolForm("$action")">
                    <span class="skip">$tlang.getString( "gen.first" )</span>
                    <input type="submit" name="eventSubmit_doList_first" value="|&lt;" title="$tlang.getString("gen.first")"
                        onclick="SPNR.disableControlsAndSpin( this, null ); ASN.resizeFrame();"
                        #if( $goFPButton != "true" ) disabled="disabled" #end />
                    <span class="skip">$tlang.getString( "gen.previous" ) $pagesize</span>
                    <input type="submit" name="eventSubmit_doList_prev" value="&lt;" title="$tlang.getString( "gen.previous" ) $pagesize" accesskey="p"
                        onclick="SPNR.disableControlsAndSpin( this, null ); ASN.resizeFrame();"
                        #if( $goPPButton != "true" ) disabled="disabled" #end />
                <input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
            </form>
        #end
        <form id="pagesizeForm" name="pagesizeForm" class="inlineForm" method="post" action="#toolForm("$action")">
            <input type="hidden" name="eventSubmit_doChange_pagesize" value="changepagesize" />
            <label for="selectPageSize" class="skip">$tlang.getString("newassig.selectmessage")</label>
            <select id="selectPageSize" name="selectPageSize" onchange="SPNR.insertSpinnerAfter( this, null, 'pagingHeader' ); ASN.submitForm( 'pagesizeForm', null, null, null );">
                #foreach( $i in $!pagesizes )
                    <option value="$i" #if( $pagesize == $i ) selected="selected" #end>$tlang.getString( "list.show" ) $i $tlang.getString( "list.itemsper" )</option>
                #end
            </select>
            <input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
        </form>
        #if( $pagesize != 0 )
            <form name="nextpageForm" class="inlineForm" method="post" action="#toolForm( "$action" )">
                    <span class="skip">$tlang.getString( "gen.next" ) $pagesize</span>
                    <input type="submit" name="eventSubmit_doList_next" value="&gt;" title="$tlang.getString( "gen.next" ) $pagesize" accesskey="n"
                        onclick="SPNR.disableControlsAndSpin( this, null ); ASN.resizeFrame();"
                        #if( $goNPButton != "true" ) disabled="disabled" #end />
                    <span class="skip">$tlang.getString( "gen.last" )</span>
                    <input type="submit" name="eventSubmit_doList_last" value="&gt;|" title="$tlang.getString( "gen.last" )"
                        onclick="SPNR.disableControlsAndSpin( this, null ); ASN.resizeFrame();"
                        #if( $goLPButton != "true" ) disabled="disabled" #end />
                <input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
            </form>
        #end
        </div>
    </nav>
#end

## Macro for the top nav bar HREF and #toolLink/#toolLinkParam
#macro( navBarHREF $allowAddAssignment $allowGradeSubmission $allowAddAssignment $allowRecoverAssignment $allowAllGroups $assignmentscheck $allowUpdateSite $enableViewOption $view $current )
    <div class="dropdown-toggle dropdown-navIntraTool">$!tlang.getString( "toolOptions" )</div>
	<ul class="navIntraTool actionToolBar navIntraToolMobile">
        #set( $prevAction = false )
        <li #if( $prevAction == false ) class="firstToolBarItem" #set( $prevAction = true ) #end>
            #if( !$!view.equals( "lisofass1" ) )
                <span>
                    <a href="#toolLinkParam( "$action" "doView" "view=lisofass1" )" title="$!tlang.getString( "lisofass1" )">$!tlang.getString( "lisofass1" )</a>
                </span>
            #else
                <span class="current">$!tlang.getString( "lisofass1" )</span>
            #end
        </li>
        #if( $allowAddAssignment )
            #set( $prevAction = true )
            <li class="firstToolBarItem">
                <span>
                    <a href="#toolLink( "$action" "doNew_assignment" )" title="$!tlang.getString( "new" )">$!tlang.getString( "new" )</a>
                </span>
            </li>
        #end
        <li>
            #if( !$!view.equals( "lisofass2" ) )
                <span>
                    <a href="#toolLinkParam( "$action" "doView" "view=lisofass2" )" title="$!tlang.getString( "lisofass2" )">$!tlang.getString( "lisofass2" )</a>
                </span>
            #else
                <span class="current">$!tlang.getString( "lisofass2" )</span>
            #end
        </li>

        #if($!allowGradeSubmission )
            <li #if( $prevAction == false ) class="firstToolBarItem" #set( $prevAction = true ) #end>
                #if( !$!view.equals( "grarep" ) )
                    <span>
                        <a href="#toolLinkParam( "$action" "doView" "view=grarep" )" title="$!tlang.getString( "gen.grarep" )">$!tlang.getString( "gen.grarep" )</a>
                    </span>
                #else
                    <span class="current">$!tlang.getString( "gen.grarep" )</span>
                #end
            </li>
        #end

        #if( $allowAddAssignment )
            <li #if( $prevAction == false ) class="firstToolBarItem" #set( $prevAction = true ) #end>
                #if( !$!view.equals( "stuvie" ) )
                    <span>
                        <a href="#toolLinkParam( "$action" "doView" "view=stuvie" )" title="$!tlang.getString( "gen.stuvie" )">$!tlang.getString( "gen.stuvie" )</a>
                    </span>
                #else
                    <span class="current">$!tlang.getString( "gen.stuvie" )</span>
                #end
            </li>
        #end
        #if( ($allowAllGroups) && ($assignmentscheck) )
            <li #if( $prevAction == false ) class="firstToolBarItem" #set( $prevAction = true ) #end>
                #if( !$!current.equals( "reorder" ) )
                    <span>
                        <a href="#toolLink( "$action" "doReorder" )" title="$tlang.getString( "gen.reorder" )">$tlang.getString( "gen.reorder" )</a>
                    </span>
                #else
                    <span class="current">$!tlang.getString( "gen.reorder" )</span>
                #end
            </li>
        #end
        #if( $allowUpdateSite && $enableViewOption)
            <li #if( $prevAction == false ) class="firstToolBarItem" #set( $prevAction = true ) #end>
                #if( !$!current.equals( "options" ) )
                    <span>
                        <a href="#toolLink( "$action" "doOptions" )" title="$tlang.getString( "options" )">$tlang.getString( "options" )</a>
                    </span>
                #else
                    <span class="current">$!tlang.getString( "options" )</span>
                #end
            </li>
        #end
        #if( $allowRecoverAssignment )
            <li #if( $prevAction == false ) class="firstToolBarItem" #set( $prevAction = true ) #end>
                #if( !$!current.equals("Assignment.mode_list_removed_assignments"))
                    <span>
                        <a href="#toolLinkParam( "$action" "doView" "view=Assignment.mode_list_removed_assignments" )" title="$!tlang.getString( "removedAssignmentList" )">$!tlang.getString( "removedAssignmentList" )</a>
                    </span>
                #else
                    <span class="current">$!tlang.getString( "removedAssignmentList" )</span>
                #end
            </li>
        #end
        #if( $allowUpdateSite )
            <li #if( $prevAction == false ) class="firstToolBarItem" #set( $prevAction = true ) #end>
                <span>
                    <a href="#toolLink( "$action" "doPermissions" )" title="$tlang.getString( "permis" )">$tlang.getString( "permis" )</a>
                </span>
            </li>
        #end
    </ul>
#end

## Macro for Timesheet tabs
#macro( navBarTimesheet $current )
    <ul class="navIntraTool actionToolBar">
        <li class="firstToolBarItem">
        #if( $current == "Assignment" )
            <span id="tabAssignmentCurrent" class="current">$!tlang.getString( "ts.tab.assignment" )</span>
            <span id="tabAssignmentRef" class="d-none">
                <a href="javascript:void(0)" title="$!tlang.getString( "ts.tab.assignment" )" onclick="ASN.switchTimesheetTab( 'tabAssignment' ); return false;">
                $!tlang.getString( "ts.tab.assignment" ) </a>
            </span>
        #else
            <span id="tabAssignmentCurrent" class="current d-none">$!tlang.getString( "ts.tab.assignment" )</span>
            <span id="tabAssignmentRef" class="">
                <a href="javascript:void(0)" title="$!tlang.getString( "ts.tab.assignment" )" onclick="ASN.switchTimesheetTab( 'tabAssignment' ); return false;">
                $!tlang.getString( "ts.tab.assignment" )</a>
            </span>
        #end
        </li>
        <li class="firstToolBarItem">
        #if( $current == "timeSheet" )
            <span id="tabTimeSheetCurrent" class="current">$!tlang.getString( "ts.tab.timesheet" )</span>
            <span id="tabTimeSheetRef" class="d-none">
                <a href="javascript:void(0)" title="$!tlang.getString( "ts.tab.timesheet" )" onclick="ASN.switchTimesheetTab( 'tabTimeSheet' ); return false;">
                $!tlang.getString( "ts.tab.timesheet" )</a>
            </span>
        #else
            <span id="tabTimeSheetCurrent" class="current d-none">$!tlang.getString( "ts.tab.timesheet" )</span>
            <span id="tabTimeSheetRef" class="">
                <a href="javascript:void(0)""$!tlang.getString( "ts.tab.timesheet" )" onclick="ASN.switchTimesheetTab( 'tabTimeSheet' ); return false;">
                $!tlang.getString( "ts.tab.timesheet" )</a>
            </span>
        #end
        </li>
    </ul>
#end

## Macro for the top nav bar using onclick JavaScript
#macro( navBarOnClick $allowAddAssignment $allowGradeSubmission $allowAddAssignment $allowRecoverAssignment $allowAllGroups $assignmentscheck $allowUpdateSite $enableViewOption $view $formID $current )
    <ul class="navIntraTool actionToolBar">
        #set( $prevAction = false )
        #if( !$!view.equals( "lisofass1" ) )
            #set( $prevAction = true )
            <li #if( $prevAction == false ) class="firstToolBarItem" #set( $prevAction = true ) #end>
                <span>
                    <a href="javascript:void(0)" title="$!tlang.getString( "lisofass1" )" onclick="ASN.submitForm( '$formID', 'view', null, 'lisofass1' ); return false;">
                        $!tlang.getString( "lisofass1" )
                    </a>
                </span>
            </li>
        #elseif( $current == "list" )
            <li>
                <span class="current">$!tlang.getString( "lisofass1" )</span>
            </li>
        #else
            <li>
                <span class="disabled">$!tlang.getString( "lisofass1" )</span>
            </li>
        #end
        #if( $allowAddAssignment )
            #set( $prevAction = true )
            <li class="firstToolBarItem">
                #if( $current == "new" )
                    <span class="current">$!tlang.getString( "new" )</span>
                #else
                    <span>
                        <a href="javascript:void(0)" title="$!tlang.getString( "new" )" onclick="ASN.submitForm( '$formID', 'new', null, 'new' ); return false;">
                            $!tlang.getString( "new" )
                        </a>
                    </span
                #end
            </li>
        #end
        #if( !$!view.equals( "lisofass2" ) )
            <li>
                <span>
                    <a href="javascript:void(0)" title="$!tlang.getString( "lisofass2" )" onclick="ASN.submitForm( '$formID', 'view', null, 'lisofass2' ); return false;">
                        $!tlang.getString( "lisofass2" )
                    </a>
                </span>
            </li>
        #elseif( $current == "list" )
            <li>
                <span class="current">$!tlang.getString( "lisofass2" )</span>
            </li>
        #else
            <li>
                <span class="disabled">$!tlang.getString( "lisofass2" )</span>
            </li>
        #end
        #if( $!allowGradeSubmission )
            <li #if( $prevAction == false ) class="firstToolBarItem" #set( $prevAction = true ) #end>
                #if( $current == "gradeReport" )
                    <span class="current">$!tlang.getString( "gen.grarep" )</span>
                #else
                    <span>
                        <a href="javascript:void(0)" title="$!tlang.getString( "gen.grarep" )" onclick="ASN.submitForm( '$formID', 'view', null, 'grarep' ); return false;">
                            $!tlang.getString( "gen.grarep" )
                        </a>
                    </span>
                #end
            </li>
        #end
        #if( $allowAddAssignment )
            <li #if( $prevAction == false ) class="firstToolBarItem" #set( $prevAction = true ) #end>
                #if( !$!view.equals( "stuvie" ) )
                    <span>
                        <a href="javascript:void(0)" title="$!tlang.getString( "gen.stuvie" )" onclick="ASN.submitForm( '$formID', 'view', null, 'stuvie' ); return false;">
                            $!tlang.getString( "gen.stuvie" )
                        </a>
                    </span>
                #elseif( $current == "studentView" )
                    <span class="current">$!tlang.getString( "gen.stuvie" )</span>
                #else
                    <span class="disabled">$!tlang.getString( "gen.stuvie" )</span>
                #end
            </li>
        #end
        #if( ($allowAllGroups) && ($assignmentscheck) )
            <li #if( $prevAction == false ) class="firstToolBarItem" #set( $prevAction = true ) #end>
                #if( $current == "reorder" )
                    <span class="current">$tlang.getString( "gen.reorder" )</span>
                #else
                    <span>
                        <a href="javascript:void(0)" title="$tlang.getString( "gen.reorder" )" onclick="ASN.submitForm( '$formID', 'reorderNavigation', null, null ); return false;">
                            $tlang.getString( "gen.reorder" )
                        </a>
                    </span>
                #end
            </li>
        #end
        #if( $allowUpdateSite && $enableViewOption)
            <li #if( $prevAction == false ) class="firstToolBarItem" #set( $prevAction = true ) #end>
                <span>
                    <a href="javascript:void(0)" title="$tlang.getString( "options" )" onclick="ASN.submitForm( '$formID', 'options', null, null ); return false;">
                        $tlang.getString( "options" )
                    </a>
                </span>
            </li>
        #end
        #if( $allowRecoverAssignment )
            <li #if( $prevAction == false ) class="firstToolBarItem" #set( $prevAction = true ) #end>
                #if( $current == "Assignment.mode_list_removed_assignments")
                    <span class="current">$tlang.getString( "removedAssignmentList" )</span>
                #else
                    <span>
                        <a href="javascript:void(0)" title="$tlang.getString( "removedAssignmentList" )" onclick="ASN.submitForm( '$formID', 'view', null, 'Assignment.mode_list_removed_assignments' ); return false;">
                            $tlang.getString( "removedAssignmentList" )
                        </a>
                    </span>
                #end
            </li>
        #end
        #if( $allowUpdateSite )
            <li #if( $prevAction == false ) class="firstToolBarItem" #set( $prevAction = true ) #end>
                <span>
                    <a href="javascript:void(0)" title="$tlang.getString( "permis" )" onclick="ASN.submitForm( '$formID', 'permissions', null, null ); return false;">
                        $tlang.getString( "permis" )
                    </a>
                </span>
            </li>
        #end
    </ul>
#end

## macro for rendering attachment ui
#macro( attachmentFragment $attachmentsSet $attachmentReferencesMap $decoratedUrlMap $forSubmission )
    #if (!$forSubmission)
        <h4>$tlang.getString("gen.addres2")</h4>
    #end
    #if ($attachmentsSet)
        #set ($size = $attachmentsSet.size())
        #if ($size < 1)
            <p class="instruction">
                #if ($submissionType == 5)
                    $tlang.getString("gen.noatt.single")
                #else
                    $tlang.getString("gen.noatt")
                #end
            </p>
        #else
            #if ($forSubmission)
                <h4>
                    #if ($submissionType == 5)
        				$tlang.getString("gen.att.single")
			        #else
                        $tlang.getString("gen.att")
                    #end
                </h4>
            #end
            <ul class="attachList">
                #foreach ($attachmentReference in $attachmentsSet)
                    #set ($reference = false)
                    #set ($reference = $attachmentReferencesMap.get($attachmentReference))
                    #if ($reference)
                        #set ($props = false)
                        #set ($props = $reference.Properties)
                        #if ($!props && !$!props.isEmpty())
                            <li>
                                #if ($props.getBooleanProperty($props.NamePropIsCollection))
                                    <img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")" />
                                #else
                                    <img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
                                #end
                                #if ($decoratedUrlMap)
                                    <a href="$decoratedUrlMap.get($reference.Url)" target="_blank">$formattedText.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>
                                #else
                                    <a href="$reference.Url" target="_blank">$formattedText.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>
                                #end
                                #propertyDetails($props)
                            </li>
                        #end
                    #end
                #end
            </ul>
        #end
    #end
#end

## macro to display content review results; assumes they're visible (caller must do the required checks / provide appropriate messaging)
#macro(contentReviewReports $submission $inTable $displayUrkundOptOut)
	#set($reviewResults=$!service.getSortedContentReviewResults($!submission))
	#if ($reviewResults.size() >= 3)
		#if (!$inTable)
			<div class="contentReviewDisclosure discTria">
		#else
			<div class="contentReviewDisclosure">
		#end
			<a href="#" class="contentReviewDisclosure" onclick="ASN.handleReportsTriangleDisclosure(this, this.children[0], this.parentNode.parentNode.children[1], '$tlang.getString('review.report.expand')', '$tlang.getString('review.report.collapse')'); return false;" aria-label="$tlang.getString('review.report.expand')" aria-expanded="false" aria-controls="reportsDiv_$submission.id" >
				<img class="disclosureTriangle" src="#imageLink("sakai/expand.gif")" alt="" />
				$tlang.getFormattedMessage("review.reports", $reviewResults.size())
			</a>
		</div>
		<div id="reportsDiv_$submission.id" style="display:none;">
	#end
	#foreach($reviewResult in $reviewResults)
	<div>
		<div class="contentReviewDisclosure">
			#set ($props = $reviewResult.getContentResource().Properties)
			#set ($hasScore = !$reviewResult.getReviewReport().equals("Error"))
			<span class="reportIcon">
				#if ($hasScore)
					<a href="$reviewResult.getReviewReport()" target="_blank" rel="noreferrer">
				#end
				<span class="$reviewResult.getReviewIconCssClass()" title="#if(!$hasScore)$reviewResult.getReviewError()#{else}$reviewResult.getReviewScore()#end"></span>
				#if ($hasScore)
					</a>
				#end
			</span>
			#if ($hasScore)
				$tlang.getFormattedMessage("content_review.score.display", $reviewResult.getReviewScore())
			#else
				<a href="#" class="contentReviewDisclosure" onclick="ASN.handleReportsTriangleDisclosure(this, this.children[0], this.parentNode.parentNode.children[1], '$tlang.getString('review.report.error.expand')', '$tlang.getString('review.report.error.collapse')'); return false;" aria-label="$tlang.getString('review.report.error.expand')" aria-expanded="false" aria-controls="contentReviewMessage_$reviewResult.id">
					<img class="disclosureTriangle" src="#imageLink("sakai/expand.gif")" alt="" />
					#if ($reviewResult.isPending())
						$tlang.getString("content_review.disclosure.pending")
					#else
						$tlang.getString("content_review.disclosure.error")
					#end
				</a>
			#end
			$tlang.getString("content_review.delimiter")
			#if ($reviewResult.isInline())
				$tlang.getString("submission.inline")
			#else
				$formattedText.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))
			#end
			#if ($displayUrkundOptOut && $hasScore && $reviewResult.contentReviewItem.Properties.get($NamePropContentReviewOptoutUrl))
					(<a href="$!reviewResult.contentReviewItem.Properties.get($NamePropContentReviewOptoutUrl)" target="_blank" rel="noreferrer">$tlang.getString("review.report.urkund.optoutlink")</a>)
			#end
		</div>
	#if (!$hasScore)
		<div id="contentReviewMessage_$reviewResult.id" class="contentReviewMessage" style="display:none;">
			$reviewResult.getReviewError()
		</div>
	#end
	</div>
	#end
	#if ($reviewResults.size() >= 3)
		</div>
	#end
#end

## macro for rendering supplement items ui
#macro( supplementItems $!allowViewModelAnswer $!allowReadAssignmentNoteItem $!allowViewAllPurposeItem $!assignmentModelAnswerItem $!assignmentNoteItem $!assignmentAllPurposeItem )
	<script>
		$(document).ready(function(){
			ASN.setupToggleAreas('toggleAnchor', 'toggledContent', false, 'fast');
		});
	</script>
	## Model Answer
	#if($!allowViewModelAnswer)
		<h4 id="toggleModel" class="toggleAnchor specialLink">
			<img alt="expand" class="expand" src="/library/image/sakai/expand.gif" />
			<img alt="collapse" class="collapse" src="/library/image/sakai/collapse.gif" />
			$tlang.getString('modelAnswer')
		</h4>
		<div class="toggledContent model">
			<p>$formattedText.escapeHtml($!assignmentModelAnswerItem.getText())</p>
			#set ($mAttachments = $!assignmentModelAnswerItem.getAttachmentObjectSet())
			<ul class="attachList">
				#set ($size = 0)
				#set ($props = false)
				#foreach ($attachment in $!mAttachments) 
					#set ($props = $attachment.Properties) 
					#if ($!props)
						#set ($size = $size + 1)
					#end
				#end
				#if ($size > 0)
					#foreach ($attachment in $mAttachments)
						#set ($props = false)
						#set ($props = $attachment.Properties) 
						#if ($!props)
							<li>
								#if ($props.getBooleanProperty($props.NamePropIsCollection))
									<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")" />
								#else
									<img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
								#end
								<a href="$attachment.Url" target="_blank">$formattedText.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>						
								#propertyDetails($props)
							</li>
						#end
					#end
				#end
			</ul>
		</div>
	#end
	## Private Note	
	#if ($!allowReadAssignmentNoteItem)
		<h4 id="toggleNotes" class="toggleAnchor specialLink">
			<img alt="expand" class="expand" src="/library/image/sakai/expand.gif" />
			<img alt="collapse" class="collapse" src="/library/image/sakai/collapse.gif" />
			$tlang.getString('note.label')
		</h4>
		<div class="toggledContent notes">
			$formattedText.escapeHtml($!assignmentNoteItem.getNote())
		</div>
	#end
	## All Purpose
	#if ($!allowViewAllPurposeItem)
		<h4 id="toggleAllPurpose" class="toggleAnchor specialLink">
			<img alt="expand" class="expand" src="/library/image/sakai/expand.gif" />
			<img alt="collapse" class="collapse" src="/library/image/sakai/collapse.gif" />
			$tlang.getString('allPurpose')
		</h4>
		<div class="toggledContent allPurpose">
			<p>$formattedText.escapeHtml($!assignmentAllPurposeItem.getTitle())</p>
			<p>$formattedText.escapeHtml($!assignmentAllPurposeItem.getText())</p>
			#set ($aAttachments = $!assignmentAllPurposeItem.getAttachmentObjectSet())
			<ul class="attachList">
				#set ($size = 0)
				#set ($props = false)
				#foreach ($attachment in $!aAttachments) 
					#set ($props = $attachment.Properties) 
					#if ($!props)
						#set ($size = $size + 1)
					#end
				#end
				#if ($size > 0)
					#foreach ($attachment in $aAttachments)
						#set ($props = false)
						#set ($props = $attachment.Properties) 
						#if ($!props)
							<li>
								#if ($props.getBooleanProperty($props.NamePropIsCollection))
									<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")" />
								#else
									<img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
								#end
								<a href="$attachment.Url" target="_blank">$formattedText.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>						
								#propertyDetails($props)
							</li>
						#end
					#end
				#end
			</ul>
		</div>
	#end
#end
#macro( rubricsRequirements )
    #module("/webcomponents/bundles/rubric-association-requirements.js")
#end

## macro for rendering peer reviewers info in the instructor grading screen
#macro( reviewersInfo $!peerReviews $!hasAssociatedRubric $!assignment $ownerGroupId $submitterId )
    ## Show reviewer feedback from peer review (if exist and the peer review is closed)
    #if ($peerReviews)
        <div class="mt-4 mb-5">
            <h3 class="mb-3">$tlang.getString("gen.peerReviews")</h3>
            <div class="accordion" id="peer-reviews">
                #foreach($review in $peerReviews)
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="peer-heading-$review.id.assessorUserId">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#peer-collapse-$review.id.assessorUserId" aria-expanded="true" aria-controls="peer-collapse-$review.id.assessorUserId">
                                $review.assessorDisplayName
                            </button>
                        </h2>
                        <div id="peer-collapse-$review.id.assessorUserId" class="accordion-collapse collapse" aria-labelledby="peer-heading-$review.id.assessorUserId" data-bs-parent="#peer-reviews">
                            <div class="accordion-body">
                                #if ($!hasAssociatedRubric)
                                    <sakai-rubric-student
                                        site-id="$!assignment.Context"
                                        tool-id="sakai.assignment.grades"
                                        entity-id="$assignment.Id"
                                        evaluated-item-id="$review.id.assessorUserId"
                                        instructor
                                        is-peer-or-self
                                        #if ($!assignment.isGroup)
                                            evaluated-item-owner-id="$ownerGroupId"
                                        #else
                                            evaluated-item-owner-id="$submitterId"
                                        #end
                                    ></sakai-rubric-student>
                                    <hr class="itemSeparator" />
                                #end
                                <div class="mt-2 mb-3">
                                    <span class="me-2">$tlang.getFormattedMessage("gen.score.display", $review.getScoreDisplay())</span>
                                </div>
                                #if($!review.getComment() && $review.getComment().length()>0)
                                    <div class="mt-2 mb-2 fw-bold">$tlang.getString("gen.comments")</div>
                                    <div class="textPanel borderPanel">$formattedText.escapeHtmlFormattedText($review.getComment())</div>
                                #end
                            </div>
                        </div>
                    </div>
                #end
            </div>
        </div>
    #end
#end

<!-- end: assignment_macros.vm -->
