<!-- start: check_assignments_instructor_grading_submission.vm  -->
<script type="text/javascript">
	focus_path = [ '$fField' ];
	$(document).ready(function(){
		ASN.setupPeerReviewAttachment();
     });
</script>
<div class="portletBody">
	#navBarOnClick( $allowAddAssignment $withGrade $allowGradeSubmission $allowAddAssignment $allowRecoverAssignment $allowAllGroups $assignmentscheck $allowUpdateSite $enableViewOption $view "gradeForm" "" )
	## confirmation
	#if ($!gradingDone)
		<div class="success">
			#if($view_only)
				#if($itemRemoved)
					$!tlang.getString("peerassessment.removed")
				#else
					$!tlang.getString("peerassessment.restored")
				#end
			#else
				#if($gradingSubmit)
					$!tlang.getString("peerAssessmentSavedSubmission")
				#else
					$!tlang.getString("peerAssessmentSavedGrading")
				#end
			#end
		</div>
	#end
	#if ($alertMessage)<div class="sak-banner-error"><strong>$tlang.getString("gen.alert")</strong> $alertMessage</div>#end
	
	## the form
    <form name="gradeForm" id="gradeForm" action="#toolForm("AssignmentAction")" method="post" onsubmit="return true;" enctype="multipart/form-data">
		<input type="hidden" name="eventSubmit_doAssignment_form" value="" />
		<input type="hidden" name="option" id="option" value="" />
		<input type="hidden" name="view" id="view" value="" />
		<input type="hidden" name="currentAttachment" value="" />
		<input type="hidden" name="submissionId" id="submissionId" value="$submissionReference" />
		
		<div class="navPanel">
		   <div class="viewNav highlight"
		         style="width:70%;line-height:1.4em">
				 		
				<h3>
                    #assignmentTitleIcon($assignment)
					$formattedText.escapeHtml($!assignment.title)
					<span class="highlight"> -
					$tlang.getString("gen.reviewing"):&nbsp;
					#if(!$view_only && $assignment.getPeerAssessmentAnonEval())
						$tlang.getString("gen.student")
					#elseif ($value_CheckAnonymousGrading)
						$formattedText.escapeHtml($!submission.Id) $tlang.getString("grading.anonymous.title")
					#else
						$!submitterNames
					#end
					#if($view_only)
						<br/>
						$tlang.getFormattedMessage("gen.reviewer.who", $formattedText.escapeHtml($reviewer.getDisplayName()), $formattedText.escapeHtml($reviewer.getDisplayId()))
					#else
						($reviewNumber $tlang.getString("gen.of") $totalReviews)
						<br/>
						$tlang.getFormattedMessage("peerassessment.peerReviewDueDateWithDate", $!service.getUsersLocalDateTimeString($!assignment.PeerAssessmentPeriodDate))
					#end
					</span>
				</h3>
				#if(!$view_only)
					<strong> $tlang.getString("grading.reminder")</strong>
					$tlang.getString("grading.reminder.body")
				#end
		   </div>
			<div class="itemNav highlightPanel" style="float:right;text-align:right;clear:right">
				## prev button
				<input type="button" name="prevsubmission1" class="prevsubmission" value="$tlang.getString("nav.prev")" #if (!$!goPTButton) disabled="disabled" #end onclick="ASN.submitForm( 'gradeForm', 'prevsubmission_review', '$formattedText.escapeUrl($submissionReference)', null ); return false;"/>
				## back to list button
				<input type="button" name="cancelgradesubmission1" class="cancelgradesubmission" value="$tlang.getString("nav.list")" onclick="ASN.submitForm( 'gradeForm', 'cancelgradesubmission_review', '$formattedText.escapeUrl($submissionReference)', null ); return false;"/>
				## next button
				<input type="button" name="nextsubmission1" class="nextsubmission" value="$tlang.getString("nav.next")" #if (!$!goNTButton)disabled="disabled"#end onclick="ASN.submitForm( 'gradeForm', 'nextsubmission_review', '$formattedText.escapeUrl($submissionReference)', null ); return false;"/>
				#if(!$view_only)
					<div class="instruction textPanelFooter" style="text-align:center">$tlang.getString("nav.message")</div>
				#end
			</div>
		</div>
		
		## show or hide assignment instruction and attachment
		<div id="assignamentInstructionPanel">
			<p class="discTria">
				<a href="javascript:void(0)" onclick="ASN.toggleAssignamentInstructionPanel();">
					<img id="expandAssignamentInstruction" src="#imageLink("sakai/expand.gif")" alt="$tlang.getString("gen.clocli")" border="0" width="13" height="13" align="top"/>
					<img id="collapseAssignamentInstruction" style="display: none;" src="#imageLink("sakai/collapse.gif")" alt="$tlang.getString("gradingsub.opecliass")" border="0" width="13" height="13" align="top"/>
					$tlang.getString("gen.assinf")
				</a>
			</p>
			<div id="assignamentInstructionPanelContent" style="display: none;">
				<p>$formattedText.escapeHtmlFormattedText($assignment.Instructions)</p>
				## Assignment Attachments
				#attachmentFragment($assignment.Attachments $assignmentAttachmentReferences $!decoratedUrlMap false)
				##end
				## show the assignment content
			</div>
		</div>
			
			#supplementItems($!allowViewModelAnswer $!allowReadAssignmentNoteItem $!allowViewAllPurposeItem $!assignmentModelAnswerItem $!assignmentNoteItem $!assignmentAllPurposeItem)
			
			#if($!peerAssessmentInstructions.length() > 0)
				<h3>$tlang.getString("peerassessment.instructions.reviewer")</h3>
				<br/>
				<div>
					$!peerAssessmentInstructions
				</div>
			#end
			
			<h3>$tlang.getString("gen.subm")</h3>
				#if ($value_feedback_text && !$value_feedback_text.isEmpty())
					<table border="0"><tr><td>
					$value_feedback_text
					</td></tr></table>
				#else
					<p class="instruction">$tlang.getString("gradingsub.nosubmittedtext")</p>
				#end
				## for returned submission, show the instructor comment as well
				#if ($!prevFeedbackText)
					<h4  id="toggleInline" class="toggleAnchor specialLink"><img alt="expand" class="expand" src="/library/image/sakai/expand.gif" /><img alt="collapse" class="collapse" src="/library/image/sakai/collapse.gif" />$tlang.getString("gradingsub.prefeetex3")</h4>
					<div class="inlinecoms toggledContent">
						$cheffeedbackhelper.escapeAssignmentFeedback($!prevFeedbackText)
					</div>
					#end

				## submitted attachment
				
			 #if ($submissionType!=1 && $submissionType!=4) ## do not show attach messages if no attach are allowed...
					<h3>$tlang.getString("gen.stuatt")</h3>
					#set ($attachments = $submission.Attachments)
					#if ($attachments)
						#set ($size = $attachments.size())
						#if ($size == 0)
							<p class="instruction">$tlang.getString("gen.noattsubmitted")</p>
						#else
							<ul class="attachList indnt1">
								#foreach ($attachmentReference in $attachments)
									#set ($reference = $submissionAttachmentReferences.get($attachmentReference))
									#if ($reference)
										#set ($props = false)
										#set ($props = $reference.Properties)
										#if ($!props)
											<li>
												#if ($props.getBooleanProperty($props.NamePropIsCollection))
													<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")" />
												#else
													<img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
												#end
												<a href="$reference.Url" target="_blank">$formattedText.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>
												#propertyDetails($props)
											</li>
										#end
									#end
								#end
							</ul>
						#end
					#end
				#end

						#if ($withGrade)
							<div class="highlightPanel" style="width:80%">
								#set ($gradeType = $assignment.TypeOfGrade.ordinal())
								<p class="shorttext">
									<label for="grade">$tlang.getString("gen.gra2")</label>
									#if($view_only)
										#if($!display_grade.length() > 0)
											<span class="highlight">$!display_grade</span>
										#else
											<span class="instruction">$tlang.getString("peerassessment.noscore")</span>
										#end
									#else
										<input type="text" name="$name_grade" size="5" maxlength="11" value="$!value_grade" id="grade" onkeypress="return ASN.handleEnterKeyPress(event);" />
									#end
									<span class="instruction">($tlang.getString("grade.max") $!service.getMaxPointGradeDisplay($!assignment.ScaleFactor, $!assignment.MaxGradePoint))</span>
								</p>	
							</div>	
						#end
						<h4>
							$tlang.getString("peerassessment.reviewerComments")
						</h4>
						#if(!$view_only)
							<p class="instruction">
								#if ($submissionType==2)
									$tlang.getString("gradingsub.usethebel2")
								#else
									$tlang.getString("gradingsub.usethebel1")
								#end
								#if($assignment.getPeerAssessmentAnonEval())
									<div class="highlight">
										&nbsp;$tlang.getString("grading.reminder.anon")	
									</div>
								#end
							</p>
						#end
						<table border="0"><tr><td>
						#if(!$view_only)
							<textarea name="$name_feedback_comment" id="$name_feedback_comment" rows="30" wrap="virtual" cols="80">#if($!value_feedback_comment)$formattedText.escapeHtmlFormattedTextarea($!value_feedback_comment)#end</textarea>
							#chef_setupformattedtextarea($name_feedback_comment)
						#else
							#if($!value_feedback_comment && $!value_feedback_comment.length() > 0)
								<div class="textPanel">$formattedText.escapeHtmlFormattedText($!value_feedback_comment)</div>
							#else
								<span class="instruction">$tlang.getString("peerassessment.nocomments")</span>
							#end
						#end
						</td></tr></table>
        <h4>
			$tlang.getString("peerassessment.reviewerAttachments")
        </h4>
		#if(!$view_only)
            <div class="highlightPanel" style="background:#ffe">
                <h3 style="margin-top:0;margin-bottom:.5em">
					$tlang.getString("gen.att")
                </h3>
				#set ($size = 0)
				#set ($props = false)
				#foreach ($attachment in $peer_attachments)
					#set ($props = $attachment.Properties)
					#if ($!props)
						#set ($size = $size + 1)
					#end
				#end
				#if ($size == 0)
                    <p class="instruction">$tlang.getString("gen.noatt")</p>
				#else
                    <table class="attachList listHier indnt1 centerLines" style="margin-bottom:.5em;margin-top:0; width:auto" summary="$tlang.getString("stuviewsubm.listsummary")">
						#foreach ($attachment in $peer_attachments)
							#set ($props = false)
							#set ($props = $attachment.Properties)
							#if ($!props)
                                <tr>
                                    <td>
										#if ($props.getBooleanProperty($props.NamePropIsCollection))
                                            <img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")" />
										#else
                                            <img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
										#end
                                        <a href="$attachment.Url" target="_blank">$formattedText.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>
                                    </td>
                                    <td>
										#propertyDetails($props)
                                    </td>
                                    <td class="itemAction">
                                        <a href="#" onclick="document.gradeForm.option.value='removeAttachment_review'; document.gradeForm.currentAttachment.value='$attachment.id'; document.gradeForm.submit(); return false;">
											$tlang.getString("stuviewsubm.removeatt")<span class="skip"> $formattedText.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</span>
                                        </a>
                                    </td>
                                </tr>
							#end
						#end
                    </table>
				#end
                <div class="highlightPanel specialLink" style="margin:0;padding-bottom:.5em;">
					#if ($size==0)
						#set($howManySubAtts=$tlang.getString("stuviewsubm.attfromcomputerlabel"))
						#set($howManySubAttsLinks=$tlang.getString("stuviewsubm.attfromserverlabel"))
					#else
						#set($howManySubAtts=$tlang.getString("stuviewsubm.attfromcomputerlabelmore"))
						#set($howManySubAttsLinks=$tlang.getString("stuviewsubm.attfromserverlabelmore"))
					#end
                    <input type="hidden" name="submissionFileCount" id="submissionFileCount" value="1"/>
                    <table border="0" cellpadding="0" cellspacing="0" class="listHier  centerLines" style="width:auto;margin:0">
                        <tr>
                            <td>
                                <span>$howManySubAtts</span>
                            </td>
                            <td>
                                <div id="clonableUpload spinnerBesidesContainer">
									<input type="file" name="upload" class="upload" id="clonableUpload" onchange="SPNR.insertSpinnerAfter(this, null, null);ASN.submitPeerReviewAttachment('gradeForm', '#toolLinkParam("AssignmentAction" "doAttachUpload" "")');""/>
                                </div>
                            </td>
                            <td>
                                <span class="navIntraToolLink">
                                    <input class="disableme enabled" type="button" value="$howManySubAttsLinks" name="attach" id="attach" accesskey="a" 
                                        onclick="SPNR.disableControlsAndSpin( this, null ); ASN.submitForm( 'gradeForm', 'attach', null, null, 'attachmentspanel' ); return false;" />
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td id="clonedHolder"></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
		#else
			#if($peer_attachments)
                <ul class="attachList">
					#foreach($attachment in $peer_attachments)
						#set ($props = false)
						#set ($props = $attachment.Properties)
						#if ($!props)
                            <li>
								#if ($props.getBooleanProperty($props.NamePropIsCollection))
                                    <img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")" />
								#else
                                    <img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
								#end
								#if ($decoratedUrlMap)
                                    <a href="$decoratedUrlMap.get($attachment.Url)" target="_blank">$formattedText.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>
								#else
                                    <a href="$attachment.Url" target="_blank">$formattedText.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>
								#end
								#propertyDetails($props)
                            </li>
						#end
					#end
                </ul>
			#else
                <div class="tier1 highlightPanel">
                    <p class="instruction">$tlang.getString("peerassessment.reviewerNoAttachments")</p>
                </div>
			#end
		#end

            #if (($submissionType==2) || ($submissionType==3) || ($submissionType==5 && $size < 2))
                <div id="attachmentspanel" class="highlightPanel">
                    <h3>
                        #if ($submissionType == 5)
                            $tlang.getString("gen.att.single")
                        #else
                            $tlang.getString("gen.att")
                        #end
                    </h3>
                    #if ($size == 0)
                        <p class="instruction">
                            #if ($submissionType == 5)
                                $tlang.getString("gen.noatt.single")
                            #else
                                $tlang.getString("gen.noatt")
                            #end
                        </p>
                    #else
                        <table class="attachList listHier indnt1 centerLines" summary="$tlang.getString("stuviewsubm.listsummary")">
                            #foreach ($attachment in $attachments)
                                #set ($props = false)
                                #set ($props = $attachment.Properties)
                                #if ($!props)
                                    <tr>
                                        <td>
                                            #if ($props.getBooleanProperty($props.NamePropIsCollection))
                                                <img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")" />
                                            #else
                                                <img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
                                            #end
                                            <a href="$attachment.Url" target="_blank">$formattedText.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>
                                        </td>
                                        <td>
                                            #propertyDetails($props)
                                        </td>
                                        <td class="itemAction">
                                            <div class="spinnerBesideContainer">
                                                <a href="javascript:void(0)" onclick="SPNR.insertSpinnerAfter( this, null, null ); ASN.doStudentViewSubmissionAction( 'addSubmissionForm', 'removeAttachment', '$attachment.id', 'attachmentspanel' ); return false;">
                                                    $tlang.getString("stuviewsubm.removeatt")<span class="skip"> $formattedText.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                #end
                            #end
                        </table>
                    #end
                    #if (($submissionType==2) || ($submissionType==3))
                        <div class="highlightPanel specialLink" style="margin:0;padding-bottom:.5em;">
                            #if ($!deleted.equalsIgnoreCase("true"))
                                ##if the assignment has been deleted, disable the action button
                                <input type="submit" name="eventSubmit_doAttachments" value="Attachment" accesskey="a" disabled="disabled" />
                            #else
                                #if ($!canSubmit)
                                    #if ($size==0)
                                        #set($howManySubAtts=$tlang.getString("stuviewsubm.attfromcomputerlabel"))
                                        #set($howManySubAttsLinks=$tlang.getString("stuviewsubm.attfromserverlabel"))
                                    #else
                                        #set($howManySubAtts=$tlang.getString("stuviewsubm.attfromcomputerlabelmore"))
                                        #set($howManySubAttsLinks=$tlang.getString("stuviewsubm.attfromserverlabelmore"))
                                    #end
                                    <input type="hidden" name="submissionFileCount" id="submissionFileCount" value="1"/>
                                    <table border="0" cellpadding="0" cellspacing="0" class="listHier  centerLines" style="width:auto;margin:0">
                                        <tr>
                                            <td>
                                                <span><label for="clonableUpload">$howManySubAtts</label></span>
                                            </td>
                                            <td>
                                                <div id="clonableUploadW spinnerBesideContainer">
                                                    <input type="file" name="upload" class="upload" id="clonableUpload" #if($content_review_acceptedMimeTypes) accept="$content_review_acceptedMimeTypes" #end onchange="SPNR.insertSpinnerAfter( this, null, null ); document.getElementById('addSubmissionForm').action='#toolLinkParam("AssignmentAction" "doAttachUpload" "sakai_csrf_token=$formattedText.escapeUrl($sakai_csrf_token)")';ASN.submitForm( 'addSubmissionForm', null, null, null, 'attachmentspanel' );"/>
                                                </div>
                                                </td>
                                                ##Only show for inline and attachments
                                                #if ($submissionType == 3)
                                                <td>
                                                    <span class="navIntraToolLink">
                                                        <input class="disableme enabled" type="button" value="$howManySubAttsLinks" name="attach" id="attach" accesskey="a" #if(!$allowSubmit) disabled="disabled"#end
                                                            onclick="SPNR.disableControlsAndSpin( this, null ); ASN.submitForm( 'addSubmissionForm', 'attach', null, null, 'attachmentspanel' ); return false;" />
                                                    </span>
                                                </td>
                                                #end
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td id="clonedHolder"></td>
                                            <td></td>
                                        </tr>
                                    </table>

                                #end
                            #end
                        </div>
                    #end
                    ## for single file upload case
                    #if ($submissionType==5 && $attachments && $attachments.size() == 0)
                        <div class="highlightPanel">
                            <table border="0" cellpadding="0" cellspacing="0" class="listHier centerLines">
                                <tbody>
                                    <tr>
                                        <td>
                                            <label for="upload">$tlang.getString("att.upl")</label>
                                        </td>
                                        <td>
                                            <div class="spinnerBesideContainer">
                                                <input type="file" name="upload" class="upload" id="clonableUpload" #if($content_review_acceptedMimeTypes) accept="$content_review_acceptedMimeTypes" #end onchange="SPNR.insertSpinnerAfter( this, null, null ); document.getElementById('addSubmissionForm').action='#toolLinkParam("AssignmentAction" "doAttachUploadSingle" "sakai_csrf_token=$formattedText.escapeUrl($sakai_csrf_token)")';ASN.submitForm( 'addSubmissionForm', null, null, null, 'attachmentspanel' );"/>
                                            </div>
                                            <input type="hidden" name="submissionFileCount" id="submissionFileCount" value="1"/>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    #end
                </div>
            #end
						
		<div class="navPanel">
		  <div class="viewNav highlight" style="width:70%;line-height:1.4em;padding-top:.75em;">
				<span class="act">
					#if($view_only)
						#if($item_removed)
							<input type="button" accesskey="s" name="return" value="$tlang.getString('peerassessment.restorereview')" onclick="SPNR.disableControlsAndSpin( this, null ); ASN.submitForm( 'gradeForm', 'toggleremove_review', '$formattedText.escapeUrl($submissionReference)', null ); return false;" title="$tlang.getString("peerassessment.restorereview")" />
						#else
							<input type="button" accesskey="s" name="return" value="$tlang.getString('peerassessment.removereview')" onclick="SPNR.disableControlsAndSpin( this, null ); ASN.submitForm( 'gradeForm', 'toggleremove_review', '$formattedText.escapeUrl($submissionReference)', null ); return false;" title="$tlang.getString("peerassessment.removereview")" />
						#end
					#else
						<input type="button" id="post" name="returnSubmit" value="$tlang.getString('gen.subm3')" class="active" onclick="SPNR.disableControlsAndSpin( this, null ); ASN.submitForm( 'gradeForm', 'submitgrade_review', '$formattedText.escapeUrl($submissionReference)', null ); return false;" title="$tlang.getString("gen.subm3")" />
						<input type="button" accesskey="s" name="return" value="$tlang.getString('gen.sav')" onclick="SPNR.disableControlsAndSpin( this, null ); ASN.submitForm( 'gradeForm', 'savegrade_review', '$formattedText.escapeUrl($submissionReference)', null ); return false;" title="$tlang.getString("gen.sav")" />
						<input type="button" accesskey="x" name="cancel" value="$tlang.getString('cancel_changes')" onclick="SPNR.disableControlsAndSpin( this, null ); ASN.submitForm( 'gradeForm', 'cancelgrade_review', null, null ); return false;" />
					#end
					#if ($!prevSubmissionId)
						<input type="hidden" name="prevSubmissionId" value = "$!prevSubmissionId" />
						<input type="hidden" name="prevAssessorId" value = "$!prevAssessorId" />
					#end
					#if ($!nextSubmissionId)
						<input type="hidden" name="nextSubmissionId" value = "$!nextSubmissionId" />
						<input type="hidden" name="nextAssessorId" value = "$!nextAssessorId" />
					#end
				</span>		
			</div>				
			<div class="itemNav highlightPanel" style="float:right;text-align:right;clear:right;margin-top:0">
				## prev button				
				<input type="button" name="prevsubmission2" class="prevsubmission" value="$tlang.getString("nav.prev")" #if (!$!goPTButton) disabled="disabled" #end onclick="SPNR.disableControlsAndSpin( this, null ); ASN.submitForm( 'gradeForm', 'prevsubmission_review', '$formattedText.escapeUrl($submissionReference)', null ); return false;"/>
				## back to list button
				<input type="button" name="cancelgradesubmission2" class="cancelgradesubmission" value="$tlang.getString("nav.list")" onclick="SPNR.disableControlsAndSpin( this, null ); ASN.submitForm( 'gradeForm', 'cancelgradesubmission_review', '$formattedText.escapeUrl($submissionReference)', null ); return false;"/>
				## next button
				<input type="button" name="nextsubmission2" class="nextsubmission" value="$tlang.getString("nav.next")" #if (!$!goNTButton)disabled="disabled"#end onclick="SPNR.disableControlsAndSpin( this, null ); ASN.submitForm( 'gradeForm', 'nextsubmission_review', '$formattedText.escapeUrl($submissionReference)', null ); return false;"/>
				#if(!$view_only)
					<div class="instruction textPanelFooter" style="text-align:center">$tlang.getString("nav.message")</div>
				#end
			</div>
		</div>	
		<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
	</form>
</div>
<!-- end: check_assignments_instructor_grading_submission.vm  -->
