<!-- start: chef_assignments_instructor_list_submissions.vm  -->
#rubricsRequirements
#set( $H = '-' )
#set( $T = 'T' )
<script>includeLatestJQuery('assignments');</script>
#module("/webcomponents/bundles/assignments.js")

<script>
function printView(url) {
    var i = url.indexOf("/site/");
    if (i < 0)
	return url;
    var j = url.indexOf("/tool/");
    if (j < 0)
	return url;
    return url.substring(0, i) + url.substring(j);
}
</script>

#set ($submissionType = $assignment.TypeOfSubmission.ordinal())
## prohibit instructor from grading during student peer assessment
#set ($disableGrading = $!typeOfGrade > 1 && $assignment.AllowPeerAssessment && !$!isPeerAssessmentClosed)

<div class="portletBody container-fluid">
    #navBarHREF( $allowAddAssignment $allowGradeSubmission $allowAddAssignment $allowRecoverAssignment $allowAllGroups $assignmentscheck $allowUpdateSite $enableViewOption $view "" )
	<div id="assignment-header">
		<div class="page-header">
			<h1>
			$formattedText.escapeHtml($assignment.Title)
			<small>
			#if ($!assignment.IsGroup )
				<i class="fa fa-users" aria-hidden="true" title="$tlang.getString('gen.groupassignment')"></i>
			#end
			  - $tlang.getString('gen.subm2')
			</small>
			</h1>
		</div>
		<div>
			<sakai-grader-toggle #if(!$useGraderByDefault)unchecked-by-default#end tool="assignments"></sakai-grader-toggle>
		</div>
	</div>

	#if ($alertMessage)<div class="sak-banner-error"><strong>$tlang.getString("gen.alert")</strong> $alertMessage</div>#end
	## reminder of submission download url
	#if ($download_url_reminder) 
		<div class="sak-banner-info">
			<h4>$download_url_reminder</h4>
			<p>
				<a target="_blank" href="$download_url_link">$download_url_link_label</a>
			</p>
		</div>
	#end

	<div class="sakai-asn-controlRow">
		#set ($showMsg = false)
		#set ($showMsg = $!allMsgNumber)
		#if ($!showMsg || $showMsg != 0)
		#if ($!typeOfGrade != 1)
			#if(!$disableGrading)
				<div class="navPanel">
					<div class="viewNav">
						<form id="defaultGradeForm" name="defaultGradeForm" class="inlineForm" method="post" action="#toolForm($action)">
							<input type="hidden" name="$!form_action" value="setScore" />
							<fieldset>
								<legend class="textPanelFooter">$!form_label</legend>
								##for non-point-based grading, choose the default grade from drop-down
								<div class="form-group">
									<label class="textPanelFooter">
										<input type="checkbox" name="notGrade" value="true" /> $tlang.getString("defaultGrade.notGrade")&nbsp;
									</label>
									<label class="textPanelFooter">
										<input type="checkbox" name="notSubmit" value="true" /> $tlang.getString("defaultGrade.notSubmit")<br />
									</label>
									#if ($assignment.AllowPeerAssessment)
										<label class="textPanelFooter">
											<input type="checkbox" name="notPeerReview" value="true" /> $tlang.getString("defaultGrade.notPeerReview")<br />
										</label>
									#end
								</div>
								<div class="flex-wrap">
									#if ($!typeOfGrade != 3)
										<select id="defaultGrade_1" name="defaultGrade" size="1">
											<option value="">$tlang.getString("non.submission.grade.select")</option>
											#if ($!typeOfGrade == 1)
												<option value="gen.nograd" #if($!defaultGrade && $!defaultGrade.equals("gen.nograd"))selected="selected"#end>$tlang.getString(
													"gen.nograd")</option>
											#elseif ($!typeOfGrade == 2)
												#foreach ($i in $letterGradeOptions)
													<option value="$i" #if($!defaultGrade && $!defaultGrade.equals($i))selected="selected"#end>$i</option>
												#end
											#elseif ($!typeOfGrade == 4)
												#foreach ($i in ["Pass", "Fail"])
													<option value="$i" #if($!defaultGrade && $!defaultGrade.equals($i))selected="selected"#end>#if ($i=="Pass") $tlang.getString(
														"pass") #elseif ($i=="Fail") $tlang.getString("fail") #end</option>
												#end
											#elseif ($!typeOfGrade == 5)
												<option value="Checked" #if($!defaultGrade && $!defaultGrade.equals("Checked"))selected="selected"#end>$tlang.getString(
													"gen.checked")</option>
											#end
										</select>
									#else
										## instructor needs to type in default points in point-based-grading
										<input type="text" id="defaultGrade_2" name="defaultGrade" value="$!defaultGrade" placeholder="$tlang.getString('gen.gra')" size="6" />
									#end
									<input type="button" accesskey="a" class="active" name="apply" value="$tlang.getString(
										'gen.applygrade')" onclick="SPNR.disableControlsAndSpin( this, null ); ASN.submitForm( 'defaultGradeForm', null, null, null );" title="$tlang.getString(
										"gen.applygrade")" />
									<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
								</div>
							</fieldset>
						</form>
					</div>
					#if ($peerReviewDraftSkippedMessage)
						<div class="sak-banner-info">$formattedText.escapeHtml($peerReviewDraftSkippedMessage)</div>
					#end
				</div>
			#end
		#end
		<form name="viewForm" id="viewForm" class="inlineForm" method="post" action="#toolForm("AssignmentAction")">
			<input type="hidden" name="assignmentId" id = "assignmentId" value=$formattedText.escapeUrl($!assignmentReference) />
			<input type="hidden" name="option" id="option" value="x" />
			<input type="hidden" name="eventSubmit_doView_submission_list_option" value="x" />
			#set ($showMsg = false)
			#set ($showMsg = $!allMsgNumber)
			#if (!$!showMsg || $showMsg == 0)
				<div class="allPurpose">
					$tlang.getString("nostudent_searchview")
				</div>
			#else
				<div class="listNav">
						## download all
						<a href="#toolLinkParam("$action" "doPrep_download_all" "view=$!view")" class="assignment-item" id="downloadAll" title="$!tlang.getString('downall')">$!tlang.getString('downall')</a>
						#if (!$disableGrading)
							## upload all
							<a href="#toolLinkParam("$action" "doPrep_upload_all" "view=$view")" class="assignment-item" id="uploadAll" title="$!tlang.getString('uploadall.title')">$!tlang.getString('uploadall.title')</a>
							#if ($!typeOfGrade == 1)
								## release commented
								<a href="#" class="assignment-item" id="releaseCommented" title="$!tlang.getString('relcommented')">$!tlang.getString('relcommented')</a>
							#else
								## release grades
								<a href="#" class="assignment-item" id="releaseGrades" title="$!tlang.getString('relgrad')">$!tlang.getString('relgrad')</a>
							#end
						#end
						#if ($taggable)
							#foreach ($provider in $providers)
								#set ($helperInfo = false)
								#set ($helperInfo = $provider.provider.getItemsHelperInfo($activity.Reference))
								#if ($helperInfo)
									<a id="helpItems" class="button" onclick="SPNR.insertSpinnerAfter( this, escapeList, null );" href="#toolLinkParam("$action" "doHelp_items" "activityRef=$formattedText.escapeUrl($activity.Reference)&providerId=$formattedText.escapeUrl($provider.provider.id)")" title="$!helperInfo.description">$!helperInfo.name</a>
								#end
							#end
						#end
				</div>
			#end
			<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
		</form>
	</div>
		<form id="listSubmissionForm" name= "listSubmissionsForm" action="#toolForm("AssignmentAction")" method="post" class="d-grid">
			<input type="hidden" name="assignmentId" value="$assignmentReference" />

			#supplementItems($!allowViewModelAnswer $!allowReadAssignmentNoteItem $!allowViewAllPurposeItem $!assignmentModelAnswerItem $!assignmentNoteItem $!assignmentAllPurposeItem)

			<div class="form-group">
			<div id="sendFeedbackPanel">
				<p class="discTria">
					<a href="javascript:void(0)" onclick="ASN.toggleSendFeedbackPanel();">
						<img id="expandSendFeedback" src="#imageLink("sakai/expand.gif")" alt="$tlang.getString("sendFeedback.show")" border="0" width="13" height="13" align="top" />
						<img id="collapseSendFeedback" style="display: none;" src="#imageLink("sakai/collapse.gif")" alt="$tlang.getString("sendFeedback.hide")" border="0" width="13" height="13" align="top" />
						$tlang.getString("sendFeedback.label")
					</a>
				</p>
				#if ($!savedFeedback)
					#if ($!overwriteFeedback)
						<div class="sak-banner-success">
							$!tlang.getString("sendFeedback.savedow")
						</div>
					#else
						<div class="sak-banner-success">
							$!tlang.getString("sendFeedback.saved")
						</div>
					#end
				#end
				#if ($!returnedFeedback)
					<div class="sak-banner-success">
						$!tlang.getString("sendFeedback.returned")
					</div>
				#end
				<div id="sendFeedbackPanelContent" style="display:none;">
					<p>$tlang.getString("sendFeedback.instruction")</p>
					<textarea cols=40 rows=5 name="commentFeedback"></textarea>
					<div class="form-group">
						<label>$tlang.getString("sendFeedback.options"):</label>
						<div>
							<input type="checkbox" name="overWrite"/> $tlang.getFormattedMessage("sendFeedback.overwrite",$tlang.getString("gen.instrcomment") )<br/>
						</div>
					</div>
					<div class="act">
						<input type="submit" class="active" name="eventSubmit_doSave_send_feedback" value="$tlang.getString("update")" accesskey="s" />
					</div>
				</div>
			</div>
			<input type="hidden" name = "allowResToggle" id = "allowResToggle" value="" />
			#if ($!value_SubmissionType != 4)
			<div id="allowResubmissionPanel">
				<p class="discTria">
				<a href="javascript:void(0)" onclick="ASN.toggleAllowResubmissionPanel();">
					<img id="expandAllowResub" src="#imageLink("sakai/expand.gif")" alt="$tlang.getString("allowResubmission.show")" border="0" width="13" height="13" align="top" />
					<img id="collapseAllowResub" style="display: none;" src="#imageLink("sakai/collapse.gif")" alt="$tlang.getString("allowResubmission.hide")" border="0" width="13" height="13" align="top" />
						#if ($assignment.IsGroup)
							$tlang.getString("allowResubmission.groups.label")
						#else
						$tlang.getString("allowResubmission.label")
						#end
					</a>
				</p>
				<div id="allowResubmissionPanelContent" style="display:none; overflow: hidden;">
				<p>
				#if ($assignment.IsGroup)
					$tlang.getString("allowResubmission.groups.instruction")
				#else
					$tlang.getString("allowResubmission.instruction")
				#end
				</p>
							<p id="allowResubmitNumber">
								<label for="allowResubmitNumberSelect">
									$tlang.getString("allow.resubmit.number")
								</label>
								<select name="$name_allowResubmitNumber" id="allowResubmitNumberSelect" onchange="ASN.toggleResubmitTimePanel();">
									#foreach ($i in [1..10])
										<option value="$i" #if($i==$!value_allowResubmitNumber)selected="selected"#end>
											$i
										</option>
									#end
									<option value="-1" #if($!value_allowResubmitNumber == -1)selected="selected"#end>$tlang.getString("allow.resubmit.number.unlimited")</option>
								</select>
							</p>
							<p id="allowResubmitTime" style="$!resubmitStyle">
								## only show date selection when allowed to resubmit
								<label>
									$tlang.getString("gen.acesubunt")
								</label>
								<sakai-date-picker
									label="$tlang.getString("gen.acesubunt")"
									iso-date="$value_ResubmitYear$H$value_ResubmitMonth$H$value_ResubmitDay$T$value_ResubmitHour:$value_ResubmitMin"
									hidden-prefix="allow_resubmit_close_"
									add-hidden-fields>
								</sakai-date-picker>
								## for save the resubmission choice
								<div class="act">
									<input type="submit" class="active" onclick="SPNR.disableControlsAndSpin( this, escapeList );" name="eventSubmit_doSave_resubmission_option" value="$tlang.getString("update")" accesskey="s" />
								</div>
							</p>
						</div> <!-- allowResubmissionPanelContent -->
			</div>
			#end

			#if ($!isAdditionalNotesEnabled && !$assignment.IsGroup)
				<a href="#" onclick="window.open(printView('#toolLinkParam("$action" "doGrade_assignment" "assignmentId=$formattedText.escapeUrl($assignmentReference)&grade_showStudentDetails=true")'));return false"><span alt="$tlang.getString("assignment.print")" class="fa fa-print"></span><span> $tlang.getString("assignment.print") $tlang.getString("assignment.additional.notes.export.title")</span></a>
			#end

			#if($disableGrading)
				<div class="highlight">$tlang.getFormattedMessage("peerassessment.cantgradewithdate", $!service.getUsersLocalDateTimeString($assignment.PeerAssessmentPeriodDate))</div>
			#end
			</div>
			<div class="sakai-table-toolBar">
				<div class="sakai-table-filterContainer">
					#if (!$assignment.IsGroup)
						#if (!$value_CheckAnonymousGrading && $!groups.hasNext())
							#define($viewSelectOptions)
								#if (!$showSubmissionByFilterSearchOnly)
									<option value="all" #if($!view.equals("all"))selected="selected"#end >$tlang.getString('gen.viewallgroupssections')</option>
								#else
									<option value="" >$tlang.getString('please_select_group')</option>
								#end
								#foreach($aGroup in $groups)
									<option value="$!aGroup.Reference" #if($!view.equals($!aGroup.Reference))selected="selected"#end >$formattedText.escapeHtml($aGroup.Title)</option>
								#end
							#end
							#viewFilterPanel("viewFilterForm", "view", $viewSelectOptions, "doChange_submission_list_option")
						#end
						#if (!$value_CheckAnonymousGrading)
							#searchFilterPanel("$form_search", $searchString, "doView_submission_list_search", "doView_submission_list_search_clear")
						#end
					#end
				</div>
				<div class="sakai-table-pagerContainer">
					#pagerPanel("pager1")
				</div>
			</div>

			## show all submission
			<table class="listHier lines nolines" id ="submissionList" cellpadding="0" cellspacing="0" summary="$tlang.getString("gen.viewassliststudentsummary")">
				<tr>
					<th id="selectResubmit" class="smallCol">
						<input type="checkbox" name="toggleAllSelectAllowResubmit" value="" id="toggleAllSelectAllowResubmit" onclick="ASN.toggleSelectAll(this, 'selectedAllowResubmit')" />
						<label for="toggleAllSelectAllowResubmit" class="skip">$tlang.getString("allowResubmission.toggleall")</label>
					</th> 
					<th id="attachment" class="attach">
						<span class="si si-attachment" aria-label="$tlang.getString("gen.att")" />
					</th>
					<th id="studentname">
						<a href="javascript:void(0)" onclick="location='#toolLinkParam("AssignmentAction" "doSort_grade_submission" "criteria=$!sort_lastName")'; return false;"   title="$tlang.getString("gen.sorbylas")">
							#if ($assignment.IsGroup)
								$tlang.getString("gen.group")
							#else
								$tlang.getString("gen.student")
							#end
							#if ($sortedBy.equals($!sort_lastName)) 
								#if ($sortedAsc.equals("true")) 
									<i id="sortascendinglastname" class="fa fa-sort-asc" aria-hidden="true" tittle="$tlang.getString("gen.sorasc")"></i>
								#else 
									<i id="sortdescendinglastname" class="fa fa-sort-desc" aria-hidden="true" tittle="$tlang.getString("gen.sordes")"></i>
								#end 
							#end 
						</a>
					</th>
					#if($!isAdditionalNotesEnabled && !$assignment.IsGroup)
					<th id="notes">
						$tlang.getString("gen.notes")
					</th>
					#end
					<th id="submitted">
						<a href="javascript:void(0)" onclick="location='#toolLinkParam("AssignmentAction" "doSort_grade_submission" "criteria=$!sort_submitTime")'; return false;"  title="$tlang.getString("listsub.sorbysub")">
							$tlang.getString("gen.subm5")
							#if ($sortedBy.equals($!sort_submitTime)) 
								#if ($sortedAsc.equals("true")) 
									<i id="sort_ascending_submittime" class="fa fa-sort-asc" aria-hidden="true" tittle="$tlang.getString("gen.sorasc")"></i>
								#else 
									<i id="sort_descending_submit_time" class="fa fa-sort-desc" aria-hidden="true" tittle="$tlang.getString("gen.sordes")"></i>
								#end 
							#end 
						</a>
					</th>
					<th id="status">
						<a href="javascript:void(0)" onclick="location='#toolLinkParam("AssignmentAction" "doSort_grade_submission" "criteria=$!sort_submitStatus")'; return false;"  title="$tlang.getString("list.sorbysta")">
							$tlang.getString("gen.status")
							#if ($sortedBy.equals($!sort_submitStatus)) 
								#if ($sortedAsc.equals("true")) 
									<i id="sort_ascending_status" class="fa fa-sort-asc" aria-hidden="true" tittle="$tlang.getString("gen.sorasc")"></i>
								#else 
									<i id="sort_descending_status" class="fa fa-sort-desc" aria-hidden="true" tittle="$tlang.getString("gen.sordes")"></i>
								#end
							#end 
						</a>
					</th>
					#if ($assignment.AllowPeerAssessment)
						<th id="peerAssessment">
							$tlang.getString("peerassessment.reviewedby")
						</th>
						<th id="peerAssessmentGrade">
							$tlang.getString("peerassessment.reviewergrade")
						</th>
					#end
					#if ($gradeTypeTable.get($!typeOfGrade) != $!tlang.getString("gen.nograd"))
						<th id="grade">
							<a href="javascript:void(0)" onclick="location='#toolLinkParam("AssignmentAction" "doSort_grade_submission" "criteria=$!sort_submitGrade")'; return false;"  title="$tlang.getString("gen.sorbygra")">
								$tlang.getString("gen.gra")
								#if ($sortedBy.equals($!sort_submitGrade))
									#if ($sortedAsc.equals("true"))
										<i id="sort_ascending_grade" class="fa fa-sort-asc" aria-hidden="true" tittle="$tlang.getString("gen.sorasc")"></i>
									#else
										<i id="sort_descending_grade" class="fa fa-sort-desc" aria-hidden="true" tittle="$tlang.getString("gen.sordes")"></i>
									#end
								#end
							</a>
						</th>
					#end
					#if ($isTimesheet && $assignment.Estimate && !$assignment.Estimate.equals(""))
						<th id="estimate">
							<a href="javascript:void(0)" onclick="location='#toolLinkParam("AssignmentAction" "doSort_grade_submission" "criteria=$!sort_estimate")'; return false;"  title="$tlang.getString("gen.sorbyspenttime")">
								$tlang.getString("gen.spenttime")
								#if ($sortedBy.equals($!sort_estimate)) 
									#if ($sortedAsc.equals("true")) 
										<i id="sort_ascending_estimate" class="fa fa-sort-asc" aria-hidden="true" tittle="$tlang.getString("gen.sorasc")"></i>
									#else 
										<i id="sort_descending_estimate" class="fa fa-sort-desc" aria-hidden="true" tittle="$tlang.getString("gen.sordes")"></i>
									#end 
								#end 
							</a>
						</th>
					#end
					#if ($allowReviewService && $assignment.ContentReview)
						<th id="reviewService" class="contentReviewColumn">
							<a href="javascript:void(0)" onclick="location='#toolLinkParam("AssignmentAction" "doSort_grade_submission" "criteria=$!sort_submitReview")'; return false;" onkeypress="location='#toolLinkParam("AssignmentAction" "doSort_grade_submission" "criteria=$!sort_submitReview")'; return false;" title="$tlang.getString("gen.sorbyreview")">
								$reviewServiceName
								#if ($sortedBy.equals($!sort_submitReview)) 
									#if ($sortedAsc.equals("true")) 
										<i id="sort_ascending_review" class="fa fa-sort-asc" aria-hidden="true" tittle="$tlang.getString("gen.sorasc")"></i>
									#else 
										<i id="sort_descending_review" class="fa fa-sort-desc" aria-hidden="true" tittle="$tlang.getString("gen.sordes")"></i>
									#end 
								#end 
							</a>
						</th>
					#end
					<th id="gradereleased">
						<a href="javascript:void(0)" onclick="location='#toolLinkParam("AssignmentAction" "doSort_grade_submission" "criteria=$!sort_submitReleased")'; return false;"  title="$tlang.getString("listsub.sorbyrel")">
							$tlang.getString("gen.relea")
							#if ($sortedBy.equals($!sort_submitReleased))
								#if ($sortedAsc.equals("true"))
									<i id="sort_ascending_released" class="fa fa-sort-asc" aria-hidden="true" tittle="$tlang.getString("gen.sorasc")"></i>
								#else
									<i id="sort_descending_released" class="fa fa-sort-desc" aria-hidden="true" tittle="$tlang.getString("gen.sordes")"></i>
								#end
							#end
						</a>
					</th>
				</tr>
				#foreach ($userSubmission in $userSubmissions)
					## userSubmission is a AssignmentAction.SubmitterSubmission and kind of backing bean
					#set($submission=false)
					#set($submission = $userSubmission.Submission)
					## submission is the real AssignmentSubmission
					#set($siteUser=false)
					#set($submittedBy=false)
					#set($submittedBy=$userSubmission.SubmittedBy)
					#if ($assignment.IsGroup)
						#set($siteUser = $userSubmission.Group)
						#set($submitterName=$!siteUser.title)
						#set($gusers = $submission.getSubmitters())
					#else
						#set($siteUser = $userSubmission.User)
						#set($submitterSortName=$!siteUser.sortName) 
						#set($submitterName=$!submitterSortName) 
						#set($submitterDisplayId=$!siteUser.getDisplayId())
					#end
					#set($submitterId = $!siteUser.getId())
					#if ($!submitterDisplayId)
						##attach the displayId
						#set($submitterName=$submitterName.concat(" (").concat($submitterDisplayId).concat(")"))
					#end
					#if ($!submission)## && $submission.submitted)
						## SAK-17606
						#set($submissionId = $submission.Id)
						#set($anonymousSubmissionId = $submission.getId() + ' ' + ($tlang.getString("grading.anonymous.title")))

						<tr>
							<td headers="allowResubmit" class="screenOnly smallCol">
								#set($userId = $!siteUser)
								<input type="checkbox" name="selectedAllowResubmit" value="$!submitterId" id="check_$submitterDisplayId" />
								<label for="check_$submitterDisplayId" class="skip">$tlang.getString("allowResubmission.select.student") #if($value_CheckAnonymousGrading)$anonymousSubmissionId#else$formattedText.escapeHtml($submitterName)#end</label>
							</td>
							<td headers="attachment" class="attach">
								#if ($!userSubmission.hasVisibleAttachments)
									<span class="si si-attachment" aria-label="$tlang.getString("gen.att")" />
								#end
							</td>
							<td headers="studentname">
								<div class="student-name">
									<div>
										#if ($value_CheckAnonymousGrading || $assignment.IsGroup)
										<sakai-user-photo user-id="blank"></sakai-user-photo>
										#else
										<sakai-user-photo
											user-id="$userSubmission.User.Id"
											label="$tlang.getFormattedMessage("grading.userphoto", $userSubmission.User.DisplayName)"
											profile-popup="on">
										</sakai-user-photo>
										#end
									</div>
									<div>
									#if ($taggable)
										#if ($value_CheckAnonymousGrading)
											$anonymousSubmissionId
										#else
											$formattedText.escapeHtml($submitterName)
										#end

										#if ($gusers)
											<div class="badge bg-primary fs-6"> 
											#foreach ($user in $gusers)
												#if($velocityCount > 1), #end
												#set($is_user_duplicate=false)
												#if($usersinmultiplegroups)
													#foreach ($userin in $usersinmultiplegroups)
														#if ($userin.indexOf($user.getDisplayName()) > -1)#set($is_user_duplicate=true)#end
													#end
												#end
												#if($is_user_duplicate)<em class="error alertMessage"><abbr title="$tlang.getString("group.user.duplicate.error")">#end$user.getDisplayName()#if($is_user_duplicate)</abbr></em>#end
													#set ($group_value_grade = "")
													#set ($group_value_grade = $value_grades.get($user.getId()))
													#if ($!group_value_grade.length() > 0)
														<abbr title="$tlang.getFormattedMessage("group.user.grade.override", $user.getDisplayName())">($!group_value_grade)</abbr>
													#end
											#end
											</div>
										#end
										#if(!$disableGrading)
											<div class="itemAction">
												<a href="#toolLinkParam("AssignmentAction" "doGrade_submission" "assignmentId=$formattedText.escapeUrl($assignmentReference)&submissionId=$formattedText.escapeUrl($userSubmission.Reference)")" title="$tlang.getString("listsub.grasub")">$!tlang.getString("gen.assign.gra")<span class="skip">:#if($value_CheckAnonymousGrading)$anonymousSubmissionId#else$formattedText.escapeHtml($submitterName)#end</span></a>
												#foreach ($provider in $providers)
													#set ($item = $producer.getItem($submission, $siteUser.getId()))
													#set ($helperInfo = false)
													#set ($helperInfo = $provider.provider.getItemHelperInfo($item.reference))
													#if ($helperInfo)
														| <a href="#toolLinkParam("$action" "doHelp_item" "itemRef=$formattedText.escapeUrl($item.reference)&providerId=$formattedText.escapeUrl($provider.provider.id)")" title="$!helperInfo.description">$!helperInfo.name</a>
													#end
												#end
											</div>
										#end
									#else
										#if(!$disableGrading)
											<a href="#toolLinkParam("AssignmentAction" "doGrade_submission" "assignmentId=$formattedText.escapeUrl($assignmentReference)&submissionId=$formattedText.escapeUrl($userSubmission.Reference)")" title="$tlang.getString("listsub.grasub")">
												#if ($value_CheckAnonymousGrading)
													$anonymousSubmissionId
												#else
													$formattedText.escapeHtml($submitterName)
												#end

											</a>
										#else
											#if ($value_CheckAnonymousGrading)
												$anonymousSubmissionId
											#else
												$formattedText.escapeHtml($submitterName)
											#end
										#end
									#end
									</div>
								</div>
							</td>
							#if($!isAdditionalNotesEnabled && !$assignment.IsGroup)
							<td headers="notes">
								#set($notes = [])
								#set($notes = $notesMap.get($siteUser.id))
								<ul>
								#foreach($note in $notes)
									#if($!note) <li>$!note</li> #end
								#end
								</ul>
							</td>
							#end
							<td headers="submitted">
									#if ($!submission && $submission.DateSubmitted && $submission.submitted)
										#set($submitTime = $submission.DateSubmitted)
										#if ($!submitTime) $!service.getUsersLocalDateTimeString($submitTime) #end
										#if ($!submitTime && $submitTime.isAfter($assignment.DueDate))
											<span class="highlight">$tlang.getString("gen.late2")</span> 
										#end
									#end
									#if ($!submittedBy && $submission.submitted)
									<br /> $tlang.getString("listsub.submitted.by") $!submittedBy.sortName ($tlang.getString("listsub.submitted.on.behalf") $formattedText.escapeHtml($submitterSortName))
									#end
							</td>
							<td headers="status">
								$!service.getSubmissionStatus($!submissionId, true)

								#if ($!submission && $submission.properties.get("auto_submitted").equalsIgnoreCase("true"))
									<br/>
									<span class="badge bg-info" title="$tlang.getString('auto.submit.indicator.label')">
										<span class="bi bi-clock-history me-1" aria-hidden="true"></span>
										$tlang.getString("auto.submit.indicator.label")
									</span>
								#end
							</td>
							#if ($assignment.AllowPeerAssessment)
								<td>
									#if($!submission)
										#foreach($item in $peerAssessmentItems.get($userSubmission.Submission.Id))
											<a href='#toolLinkParam("$action" "doView_submissionReviews" "submissionId=${userSubmission.Submission.Id}&assessorId=$item.getId().getAssessorUserId()&assignmentId=$formattedText.escapeUrl($!assignmentReference)")'>
											#if($item.Removed)
												<span style="text-decoration: line-through">
											#else
												<span>
											#end
											#if($assignment.isGroup)
												#if($groupsReviewersMap.containsKey($item.getId().getAssessorUserId()))
													$formattedText.escapeHtml($!groupsReviewersMap.get($item.getId().getAssessorUserId()).title)
												#else
													$formattedText.escapeHtml($!item.getId().getAssessorUserId())
												#end
											#else
												#if($reviewersMap.containsKey($item.getId().getAssessorUserId()))
													$formattedText.escapeHtml($!reviewersMap.get($item.getId().getAssessorUserId()).sortName)
												#else
													$formattedText.escapeHtml($!item.getId().getAssessorUserId())
												#end
											#end
											</span>
											</a>
											#if ($rubricId)
											<sakai-rubric-student-button
												tool-id="sakai.assignment.grades"
												evaluated-item-id="$!item.getId().getAssessorUserId()"
												entity-id="$assignment.Id"
												evaluated-item-owner-id="$!submitterId"
												instructor="true">
											</sakai-rubric-student-button>
											#end
											#if($!item.getScoreDisplay().length() > 0 || ($!item.getComment() && $!item.getComment().trim().length() > 0))
												<span class="highlight" #if($item.Removed) style="text-decoration: line-through" #end>
													#if($item.isDraft())
														-&nbsp;$tlang.getString("gen.dra1")
													#else
														<span class="bi bi-check" aria-hidden="true"></span>
													#end
												</span>
											#end
											<br/>
										#end
									#end
								</td>
								<td>
									#if($!submission)
										#foreach($item in $peerAssessmentItems.get($userSubmission.Submission.Id))
											#if($item.Removed)
												<span style="text-decoration: line-through">
											#else
												<span>
											#end
											$!service.getGradeDisplay($item.score.toString(), $assignment.TypeOfGrade, $assignment.ScaleFactor)<br/>
											</span>
										#end
									#end
								</td>
							#end
						    #if ($gradeTypeTable.get($!typeOfGrade) != $!tlang.getString("gen.nograd"))
								<td headers="grade">
									#if ($assignment.IsGroup)
										$!service.getGradeDisplay($submission.Grade, $assignment.TypeOfGrade, $assignment.ScaleFactor)
									#else
										$!service.getGradeForSubmitter($submission, $userSubmission.User.Id)
									#end
									#if ($rubricId)
									<sakai-rubric-student-button
										class="ms-1"
										rubric-id="$rubricId"
										site-id="$assignment.context"
										dont-check-association
										tool-id="sakai.assignment.grades"
										evaluated-item-id="$submission.Id"
										evaluated-item-owner-id="$!submitterId"
										entity-id="$assignment.Id"
										instructor="true">
									</sakai-rubric-student-button>
									#end
								</td>
							#end
							#if ($isTimesheet && $assignment.Estimate && !$assignment.Estimate.equals(""))
								<td headers="estimate">
									$!userSubmission.getTimeSpent()
								</td>
							#end
							#if ($allowReviewService && $assignment.ContentReview)
								<td headers="reviewService">
									#if ($!service.isContentReviewVisibleForSubmission($!submission))
										#contentReviewReports($submission true false)
									#end
								</td>
							#end
							<td headers="gradereleased">
								#if ($submission.getGradeReleased())
									<span class="si si-check fs-3" aria-label="$tlang.getString("gen.open")" />
								#end
							</td>
						</tr>
					#else
						## no submission for the user yet
						<tr> 
							<td headers="attachment" class="attach">
								&nbsp;
							</td>
							<td headers="studentname">
								$!siteUser.sortName
							</td>
							<td headers="submitted">
								&nbsp;
							</td>
							<td headers="status">
								$tlang.getString("listsub.nosub")
							</td>
						    #if ($gradeTypeTable.get($!typeOfGrade) != $!tlang.getString("gen.nograd"))
								<td headers="grade"></td>
							#end
							#if ($isTimesheet && $assignment.Estimate && !$assignment.Estimate.equals(""))
								<td headers="estimate">
									&nbsp;
								</td>
							#end
							#if ($gradeTypeTable.get($!typeOfGrade) != $!tlang.getString("gen.nograd"))
								<td headers="gradereleased">&nbsp;</td>
							#end
						</tr>
					#end
				#end
			</table>
			<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
		</form>
	#end
	
	## assignment details
	<a id="toggleModel" href="javascript:;" class="toggleAnchor specialLink"><img alt="expand" class="expand" src="/library/image/sakai/expand.gif" /><img alt="collapse" class="collapse" src="/library/image/sakai/collapse.gif" /><h4>$tlang.getString("gen.assdet")</h4></a>
	<div class="toggledContent">
	<table class="itemSummary" summary="$tlang.getString("gen.theassinf")">
		<tr> 
			<th>
				$tlang.getString("gen.asstit")
			</th>
			<td>
					$formattedText.escapeHtml($assignment.Title)
					#assignmentIcons($assignment)
			</td>
		</tr>
		<tr>
			<th>
				$tlang.getString("gen.creby")
			</th>
			<td>
				$formattedText.escapeHtml($!creator) ($!service.getUsersLocalDateTimeString($assignment.DateCreated))
			</td>
		</tr>
		<tr>
			<th>
				$tlang.getString("gen.mod")
			</th>
			<td>
				$!service.getUsersLocalDateTimeString($assignment.DateModified)
			</td>
		</tr>
		<tr> 
			<th>
				$tlang.getString("gen.open")
			</th>
			<td>
				$!service.getUsersLocalDateTimeString($assignment.OpenDate)
			</td>
		</tr>
		<tr> 
			<th>
					$tlang.getString("gen.due.header")
			</th>
			<td>
				$!service.getUsersLocalDateTimeString($assignment.DueDate)
			</td>
		</tr>
		#set ($closeDate = $assignment.CloseDate)
		#if ($!closeDate)
			<tr> 
				<th>
					$tlang.getString("gen.acesubunt")
				</th>
				<td>
					$!service.getUsersLocalDateTimeString($closeDate)
				</td>
			</tr>
		#end
		<tr> 
			<th>
				$tlang.getString("gen.stusub")
			</th>
			<td>
				$submissionTypeTable.get($submissionType)
			</td>
		</tr>
		<tr valign="top"> 
			<th>
				$tlang.getString("gen.grasca")
			</th>
			<td>
				## get gradeScale
				#set ($gradeScale = $typeOfGradeString)
				$gradeScale
				#if ($gradeTypeTable.get($!typeOfGrade) == $!tlang.getString("points"))
					($tlang.getString("grade.max") $maxGradePointString)
				#end
			</td>
		</tr>
		#if ($isTimesheet && $assignment.Estimate && !$assignment.Estimate.equals(""))
			<tr>
				<th>
					$tlang.getString("gen.estimatedselfempl")
				</th>
				<td>
					$formattedText.escapeHtml($!assignment.Estimate)
				</td>
			</tr>
		#end
		<tr> 
			<th>
				$tlang.getString("gen.honple")
			</th>
			<td> 
				#if ($assignment.HonorPledge)
					$tlang.getString("gen.yes")
				#else
					$tlang.getString("gen.no")
				#end
			</td>
		</tr>
	</table>	
	
	#if ($assignment.Instructions && !$assignment.Instructions.isEmpty())
		<h4>$tlang.getString("gen.assinf")</h4>
		<div class="textPanel">$formattedText.escapeHtmlFormattedText($assignment.Instructions)</div>
	#end
	#set ($size = 0)
	#set ($attachments = $assignment.Attachments)
	#set ($props = false)
	#foreach ($attachment in $attachments) 
		#set ($props = $attachment.Properties) 
		#if ($!props)
			#set ($size = $size + 1)
		#end
	#end
	#if ($size == 0)
	#else
		<h4>
			#if ($submissionType == 5)
				$tlang.getString("gen.att.single")
			#else
				$tlang.getString("gen.att")
			#end
		</h4>
		<ul class="attachList indnt1">
			#foreach ($attachment in $attachments) 
				#set ($props = false)
				#set ($props = $attachment.Properties) 
				#if ($!props)
					<li>
						#if ($props.getBooleanProperty($props.NamePropIsCollection))
							<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")" />
						#else
							<img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
						#end
						<a href="$attachment.Url" target="_blank">$formattedText.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>						
						#propertyDetails($props)
					</li>
				#end
			#end
		</ul>
	#end
	#if ($taggable)
		#parse ("/vm/assignment/chef_assignments_tags_list.vm")
	#end
	</div>	
</div>
<script>
	var escapeList = [ 'toggleModel' ];
	$(document).ready(function () {

		$('#submissionList input:checkbox').click(function () {

			var feedbackPanel = document.getElementById("sendFeedbackPanelContent");
			var resubPanel = document.getElementById("allowResubmissionPanelContent");
			var checkedCount = $("#submissionList input:checked").length;

			if ( (checkedCount === 0 && feedbackPanel.style.display !== "none")
				|| (checkedCount !== 0 && feedbackPanel.style.display === "none") ) {
				ASN.toggleSendFeedbackPanel();
			}

			if ( resubPanel != null && ((checkedCount === 0 && resubPanel.style.display !== "none")
				|| (checkedCount !== 0 && resubPanel.style.display === "none") )) {
				ASN.toggleAllowResubmissionPanel();
			}
		});
	}); // document.ready
</script>

<!-- end: chef_assignments_instructor_list_submissions.vm  -->
