<!-- start: chef_assignments_instructor_new_edit_assignment.vm  -->
#set( $H = '-' )
<script type="text/javascript">
	$(document).ready(function() {
		ASN.setupAssignNew();
		#if($turnitin_forceSingleAttachment)
		 	$("#new_assignment_use_review_service").click(function (){
		 		var checked = this.checked;
		 		if(checked){
		 			$("#subType").val(5);
		 		}
		 		$("#subType > option").each(function(){
		 			if(checked){
		 				if($(this).val() != 5){
		 					$(this).prop('disabled', 'disabled');
		 				}
		 			}else{
		 				$(this).removeProp('disabled');

		 			}
		 		});
		 	});
		#end
		if ($("#generalAlert").length <= 0) {
			SetMaxPoint(document.getElementById('$name_GradeType'), document.getElementById('$name_GradePoints'));
		}
		window.onload = function() {
			if( $('#new_assignment_group_submit').is(':checked') ) {
				ASN.toggleAddOptions('GROUP');
			}
		}
	});

    function SetMaxPoint(obj_option, obj_textfield)
    {
		if (obj_option === null || obj_textfield === null)
		{
			return;
		}

		if(obj_option.value==3)
		{
			obj_textfield.disabled = false;
			obj_textfield.style.backgroundColor = 'white';
			document.forms[0].new_assignment_grade_points.focus();
			obj_textfield.style.backgroundColor = '#ffe';
			document.getElementById('req-$name_GradePoints').style.display="inline";
		}
		else
		{
			obj_textfield.disabled = true;
			obj_textfield.style.backgroundColor = '#eee';
			document.getElementById('req-$name_GradePoints').style.display="none";
			document.getElementById('new_assignment_grade_points').value="";
		}
	}

	## handles the Student Submissions dropdown
	function switchAssignmentSubmissionType()
	{
		var useReview = document.getElementById('$name_UseReviewService');
		var lblUseReview=document.getElementById('lblReviewService');
		var reviewSwitchNe1 = document.getElementById('review.switch.ne.1');
		var reviewSwitchNe2 = document.getElementById('review.switch.ne.2');
		if(document.getElementById('subType').value != 4)
		{
			#if ($allowReviewService)
				reviewSwitchNe1.style.display='none';
				lblReviewService.className='';
				reviewSwitchNe2.style.display='none';
				useReview.disabled=false;
				lblUseReview.style.display = 'block';
			#end
			document.getElementById('tempAllowRes').parentNode.parentNode.style.display = 'block';
			if (document.getElementById('allowResToggle').checked)
			{
				document.getElementById('allowResubmitNumber').style.display = 'block';
				document.getElementById('allowResubmitTime').style.display = 'block';
				document.getElementById('resubmitNotification').style.display = 'block';
				ASN.resizeFrame();
			}
		}
		else
		{
			#if ($allowReviewService)
				if (useReview.checked)
				{
					reviewSwitchNe2.style.removeProperty('display');
					ASN.toggleReviewServiceOptions(this.checked);
				}
				useReview.checked=false;
				useReview.disabled=true;
				lblUseReview.className='';
				reviewSwitchNe1.style.removeProperty('display');
				lblUseReview.style.display = 'none';
			#end
			document.getElementById('tempAllowRes').parentNode.parentNode.style.display = 'none';
			document.getElementById('allowResubmitNumber').style.display = 'none';
			document.getElementById('allowResubmitTime').style.display = 'none';
			document.getElementById('resubmitNotification').style.display = 'none';
		}
	}
	focus_path = [ '$fField' ];
</script>
#javascript("/library/js/lang-datepicker/lang-datepicker.js")

<div class="portletBody container-fluid">
	#navBarOnClick( $allowAddAssignment $withGrade $allowGradeSubmission $allowAddAssignment $allowRecoverAssignment $allowAllGroups $assignmentscheck $allowUpdateSite $enableViewOption $view "newAssignmentForm" "new" )

	<div class="page-header">
		<h1>
		#if($validator.escapeHtml($!value_title) && $validator.escapeHtml($!value_title) !='')
			$validator.escapeHtml($!value_title) <span class="highlight">	$tlang.getString("edit")</span>
		#else
			$tlang.getString("new.title")
		#end
		</h1>
	</div>

	#if ($alertMessage)
		<div class="alertMessage" id="generalAlert">
			<strong>$tlang.getString("gen.alert")</strong> <small> $alertMessage </small>
		</div>
	#end

	#set($submitnotif="submitnotifTop")

	<form name="newAssignmentForm" id="newAssignmentForm" action="#toolForm("AssignmentAction")" method="post" onsubmit="return true;">
		<input type="hidden" name="assignmentId" value="$!assignmentId" />
		<input type="hidden" name="eventSubmit_doAssignment_form" value="" />
		<input type="hidden" name="option" id="option" value="" />
		<input type="hidden" name="view" id="view" value="" />
		<input type="hidden" name="$name_order" id="$name_order" value="$!value_position_order" />

		<div class="form-group row form-required">
			<label for="$name_title" class="col-sm-12 form-control-label block">
				$tlang.getString("gen.title")
			</label>
			<div class="col-sm-6">
				<input name="$name_title" id="$name_title" type="text" value="$validator.escapeHtml($!value_title)" size="30" maxlength="100" class="form-control" placeholder="$tlang.getString("gen.title")" />
			</div>
		</div>

		<div class="longtext form-group row form-required">
			<label for="new_assignment_instructions" class="block control-label col-sm-12">
				$tlang.getString("gen.assinf")
			</label>
			<div class="col-sm-12">
				<table border="0" style="margin:0"><tr><td>
					<textarea name="$name_Description" id="$name_Description" cols="80" rows="30" wrap="virtual">$validator.escapeHtmlFormattedTextarea($value_Description)</textarea>
					#chef_setupformattedtextarea($name_Description)
					</td></tr>
				</table>
			</div>
		</div>

		<div class="checkbox">
			<label for="$name_CheckAddHonorPledge">
				<input id="$name_CheckAddHonorPledge" name="$name_CheckAddHonorPledge" type="checkbox" value="true"
					#if ($!value_CheckAddHonorPledge)
                       checked="checked"
					#end
				/>
				$tlang.getString("gen.addhonple")
			</label>
		</div>

		## attachments
		<h4>
			$tlang.getString("gen.att")
		</h4>
		#set ($size = 0)
		#set ($props = false)
		#foreach ($attachment in $attachments)
			#set ($props = $attachment.Properties)
			#if ($!props)
				#set ($size = $size + 1)
			#end
		#end
		#if ($size == 0)
			<p class="text-info">
                            #if ($value_SubmissionType == 5)
                                $tlang.getString("gen.noatt.single")
                            #else
                                $tlang.getString("gen.noatt")
                            #end
                        </p>

			<div class="act">
				<input type="button" name="attach" value="$tlang.getString('gen.addatt')" onclick="javascript:document.newAssignmentForm.onsubmit();document.getElementById('option').value='attach';document.newAssignmentForm.submit();return false;"/>
			</div>
		#else
			<ul class="attachList indnt1">
				#foreach ($attachment in $attachments)
					<input type="hidden" name="attachments" id="attachments" value="$attachment.Reference" />
					#set ($props = false)
					#set ($props = $attachment.Properties)
					#if ($!props)
						<li>
							#if ($props.getBooleanProperty($props.NamePropIsCollection))
								<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")" />
							#else
								<img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
							#end
							<a href="$attachment.Url" target="_blank">$validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>
							#propertyDetails($props)
						</li>
					#end
				#end
			</ul>
			<div class="act">
				<input type="button" name="attach" value="$tlang.getString('gen.adddroatt')" onclick="javascript:document.newAssignmentForm.onsubmit();document.getElementById('option').value='attach';document.newAssignmentForm.submit();return false;" />
			</div>
		#end

		<h4>
			$tlang.getString("gen.availability")
		</h4>
		#if ($visible_date_enabled)
		<div class="form-group row visible-date">
 			<div id="tempVisibleDate" >
				<label for="allowVisibleDateToggle" class="col-sm-2 control-label">
                    $tlang.getString("allowVisibleDate")
				</label>
				<div class="col-sm-10">
					<input type="checkbox" id="allowVisibleDateToggle" name="allowVisibleDateToggle" #if($!new_assignment_visibletoggle)checked="checked"#end onclick="if(checked){jQuery('.visibleDatePanel').show();ASN.resizeFrame();}else{jQuery('.visibleDatePanel').hide();}" />
				</div>
			</div>
		</div>
		<div class="form-group row visibleDatePanel" #if(!$!new_assignment_visibletoggle)style="display:none;"#end>
			<label class="col-sm-2 form-control-label">
				$tlang.getString("gen.visible.date")
			</label>
			<div class="col-sm-6 form-inline">
				<input type="text" id="visibledate" name="visibledate" class="form-control datepicker" value="">
				<p class="text-muted small visibleDatePanel" #if(!$!new_assignment_visibletoggle)style="display:none;"#end>
					$tlang.getString("gen.stuwonsee")
				</p>
			</div>

			<script type="text/javascript">
				localDatePicker({
					input:'#visibledate',
					useTime:1,
					val:"$value_VisibleYear$H$value_VisibleMonth$H$value_VisibleDay $value_VisibleHour:$value_VisibleMin",
					parseFormat: 'YYYY-MM-DD HH:mm',
					ashidden:{
						month:"new_assignment_visiblemonth",
						day:"new_assignment_visibleday",
						year:"new_assignment_visibleyear",
						hour:"new_assignment_visiblehour",
						minute:"new_assignment_visiblemin"
					}
				});
			</script>

		</div>
		#end

		<div class="form-group row form-required">
			<label for="opendate" class="col-sm-2 form-control-label">
				$tlang.getString("newassig.opedat")
			</label>
			<div class="col-sm-6 form-inline">
				<input type="text" id="opendate" name="opendate" class="form-control datepicker" value="">
				<p class="text-muted small">
					$tlang.getString("gen.stucantdo")
				</p>
			</div>

			<script type="text/javascript">
			      localDatePicker({
			      	input:'#opendate',
			      	useTime:1,
			      	val:"$value_OpenYear$H$value_OpenMonth$H$value_OpenDay $value_OpenHour:$value_OpenMin",
			      	parseFormat: 'YYYY-MM-DD HH:mm',
			      	ashidden:{
			      		month:"new_assignment_openmonth",
			      		day:"new_assignment_openday",
			      		year:"new_assignment_openyear",
			      		hour:"new_assignment_openhour",
			      		minute:"new_assignment_openmin"
			      	}
			      });
			</script>

		</div>

		<div class="form-group row form-required">
			<label for="duedate" class="col-sm-2 form-control-label">
				$tlang.getString("gen.duedat")
			</label>
			<div class="col-sm-6 form-inline">
				<input type="text" id="duedate" name="duedate" class="form-control datepicker" value="">
			</div>

			<script type="text/javascript">
			      localDatePicker({
			      	input:'#duedate',
			      	useTime:1,
			      	val:"$value_DueYear$H$value_DueMonth$H$value_DueDay $value_DueHour:$value_DueMin",
			      	parseFormat: 'YYYY-MM-DD HH:mm',
			      	ashidden:{
			      		month:"new_assignment_duemonth",
			      		day:"new_assignment_dueday",
			      		year:"new_assignment_dueyear",
			      		hour:"new_assignment_duehour",
			      		minute:"new_assignment_duemin"
			      	}
			      });
			</script>
 		</div>

		<div class="form-group row form-required">
			<label for="closedate" class="col-sm-2 form-control-label">
				$tlang.getString("gen.acesubunt")
			</label>
			#if ($value_EnableCloseDate)
			<div class="col-sm-6 form-inline">
				<input type="text" id="closedate" name="closedate" class="form-control datepicker" value="">
				<p class="text-muted small">
					$tlang.getString("gen.noasscan")
				</p>
			</div>

			<script type="text/javascript">
			      localDatePicker({
			      	input:'#closedate',
			      	useTime:1,
			      	val:"$value_CloseYear$H$value_CloseMonth$H$value_CloseDay $value_CloseHour:$value_CloseMin",
			      	parseFormat: 'YYYY-MM-DD HH:mm',
			      	ashidden:{
			      		month:"new_assignment_closemonth",
			      		day:"new_assignment_closeday",
			      		year:"new_assignment_closeyear",
			      		hour:"new_assignment_closehour",
			      		minute:"new_assignment_closemin"
			      	}
			      });
			</script>

 			#else
				<select name="$name_CloseMonth" id="$name_CloseMonth" title="$tlang.getString("dateselectionwidget.month")" disabled="disabled">
					#foreach ($i in [1..12])
						#if ($i == $value_CloseMonth)
							<option value="$i" selected="selected">$monthTable.get($i)</option>
						#else
							<option value="$i">$monthTable.get($i)</option>
						#end
					#end
				</select>
                <label class="skip" for="$name_CloseDay">$tlang.getString("dateselectionwidget.day")</label>
				<select name="$name_CloseDay" id="$name_CloseDay" title="$tlang.getString("dateselectionwidget.day")" disabled="disabled">
					#foreach ($i in [1..31])
						#if ($i == $value_CloseDay)
							<option value="$i" selected="selected">$i</option>
						#else
							<option value="$i">$i</option>
						#end
					#end
				</select>
                <label class="skip" for="$name_CloseYear">$tlang.getString("dateselectionwidget.year")</label>
				<select name="$name_CloseYear" id="$name_CloseYear" title="$tlang.getString("dateselectionwidget.year")" disabled="disabled">
					#foreach ($i in [$!value_year_from..$!value_year_to])
						#if ($i == $value_CloseYear)
							<option value="$i" selected="selected">$i</option>
						#else
							<option value="$i">$i</option>
						#end
					#end
				</select>
				&nbsp;$tlang.getString("gen.at")&nbsp;
                <label class="skip" for="$name_CloseHour">$tlang.getString("dateselectionwidget.hour")</label>
				<select name="$name_CloseHour" id="$name_CloseHour" title="$tlang.getString("dateselectionwidget.hour")" disabled="disabled">
					#foreach ($i in [1..12])
						#if ($i == $value_CloseHour)
							<option value="$i" selected="selected">$i</option>
						#else
							<option value="$i">$i</option>
						#end
					#end
				</select>
                <label class="skip" for="$name_CloseMin">$tlang.getString("dateselectionwidget.minute")</label>
				<select name="$name_CloseMin" id="$name_CloseMin" title="$tlang.getString("dateselectionwidget.minute")" disabled="disabled">
					#foreach ($i in [00, 05, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55])
						<option value="$i" #if($i == $value_CloseMin)selected="selected"#end>#if($i ==0)00#elseif($i == 5)05#else$i#end</option>
					#end
				</select>
                <label class="skip" for="$name_CloseAMPM">$tlang.getString("dateselectionwidget.ampm")</label>
				<select name="$name_CloseAMPM" id="$name_CloseAMPM" title="$tlang.getString("dateselectionwidget.ampm")" disabled="disabled">
					#foreach ($i in ["AM", "PM"])
						#if ($i == $value_CloseAMPM)
							<option value="$i" selected="selected">$i</option>
						#else
							<option value="$i">$i</option>
						#end
					#end
				</select>
			#end
		</div>

		<div class="checkbox">
			<label for="$name_CheckHideDueDate">
				<input id="$name_CheckHideDueDate" name="$name_CheckHideDueDate" type="checkbox" value="true"
				#if ($!value_CheckHideDueDate)
                       checked="checked"
				#end
                />
				$tlang.getString("gen.hideduedate")
			</label>
		</div>

		#if ($!name_CheckAddDueDate)
			<div class="checkbox">
				<label for="$name_CheckAddDueDate">
				#if ($value_CheckAddDueDate.equals("true"))
					<input id="$name_CheckAddDueDate" name="$name_CheckAddDueDate" type="checkbox" value="true" checked="checked" />
				#else
					<input id="$name_CheckAddDueDate" name="$name_CheckAddDueDate" type="checkbox" value="true" />
				#end
					$tlang.getString("gen.addduedat")
				</label>
			</div>
		#end

		#if ($!name_CheckAutoAnnounce)
			<div class="checkbox">
				<label for="$name_CheckAutoAnnounce">
				#if ($value_CheckAutoAnnounce.equals("true"))
					<input id="$name_CheckAutoAnnounce" name="$name_CheckAutoAnnounce" type="checkbox" value="true" checked="checked" onclick="ASN.toggleAutoAnnounceOptions(this.checked)" />
				#else
					<input id="$name_CheckAutoAnnounce" name="$name_CheckAutoAnnounce" type="checkbox" value="true" onclick="ASN.toggleAutoAnnounceOptions(this.checked)" />
				#end
					$tlang.getString("gen.anntheope")
				</label>
			</div>

			#if ($!$value_CheckAutoAnnounce.equals("true"))
			<div id="selectAutoAnnounceOptions" class="indnt3">
			#else
			<div id="selectAutoAnnounceOptions" style="display:none" class="indnt3">
			#end
				<div class="col-sm-offset-1">
					<select name="$name_OpenDateNotification" id="$name_OpenDateNotification">
						<option value="$value_opendate_notification_none" #if($value_OpenDateNotification.equals($value_opendate_notification_none)) selected="selected" #end>$tlang.getString('send.notification.opendate.email.none')</option>
						<option value="$value_opendate_notification_low" #if($value_OpenDateNotification.equals($value_opendate_notification_low)) selected="selected" #end>$tlang.getString('send.notification.opendate.email.low')</option>
						<option value="$value_opendate_notification_high" #if($value_OpenDateNotification.equals($value_opendate_notification_high)) selected="selected" #end>$tlang.getString('send.notification.opendate.email.high')</option>
					</select>
				</div>
			</div>
		#end

		## group/section support
                <h4>$!tlang.getString('access')</h4>
                #set( $class = "" )
                #if( !$!groupsList )
                    #set( $class = "disabled" )
                #end

                #if( $allowAddSiteAssignment )
                    #set( $selectedGroupsNotFound = true )
                    #foreach( $group in $!groupsList )
                        #foreach( $aGroupRef in $assignmentGroups )
                            #set( $aGroup = $!site.getGroup( $!aGroupRef ) )
                            #if( $!group.Id == $!aGroup.Id )
                                #set( $selectedGroupsNotFound = false )
                            #end
                        #end
                    #end

                    <div id="messages">
                    #if( $!range == "GROUP" && $selectedGroupsNotFound )
                        #if( $!groupsList.size() > 0 )
                            <div id="msgSelectedGroupsGoneOtherGroupsPresent" class="messageInformation indnt2" style="width: 80% !important;">$tlang.getString( "settings.access.selectedGroupsGoneOtherGroupsPresent" )</div>
                        #else
                            <div id="msgSelectedGroupsGoneNoGroups" class="messageInformation indnt2" style="width: 80% !important;">$tlang.getString( "settings.access.selectedGroupsGoneNoGroups" )</div>
                        #end
                    #elseif( !$!groupsList )
                        <div id="msgNoGroupsPresent" class="messageInformation indnt2" style="width: 80% !important;">$tlang.getString( "settings.access.noGroupsPresent" )</div>
                    #end
                    </div>

		<div class="radio">
			<label for="site">
			#if( !$!allowGroupAssignmentsInGradebook )
				<input type="radio" name="range" id="site" value="SITE" onclick="if (document.getElementById('addToGradebook') !=null){$('#addToGradebook').fadeOut('slow'); ASN.showOrHideAccessMessages( false ); ASN.resizeFrame()};$('#groupTable').fadeOut('slow'); ASN.showOrHideAccessMessages( false ); ASN.resizeFrame();"
				#if( $!range == "SITE" || $selectedGroupsNotFound )
					checked="checked"
				#end
				#if($!assignment && !$assignment.draft && $!value_additionalOptions.equals("GROUP"))
					disabled="disabled"
				#end
				/>
			#else
				<input type="radio" name="range" id="site" value="SITE" onclick="$('#groupTable').fadeOut('slow'); ASN.showOrHideAccessMessages( false ); ASN.resizeFrame();"
				#if( $!range == "SITE" || $selectedGroupsNotFound )
					checked="checked"
				#elseif (($!value_CheckIsGroupSubmission.equals("1") && $!groupsList) || ($!assignment && !$assignment.draft && $!value_additionalOptions.equals("GROUP")))
					disabled="disabled"
				#end
				/>
			#end
				$tlang.getString("displayto.site")
				#if($!assignment && !$assignment.draft && $!value_additionalOptions.equals("GROUP"))
					$tlang.getString("gen.cant.change.setting.after.draft")
				#end
			</label>
		</div>
		#elseif( $allowAddAssignment )
			#if ($!groupsList.size() >1)
                        <label class="$class" for="groups">$tlang.getString("groups")</label>
			#else
                        <label class="$class" for="groups">$tlang.getString("group")</label>
			#end
		#end

		## added group awareness
		<div class="radio">
			<label class="$class" for="groups">
			#if( !$!allowGroupAssignmentsInGradebook )
				<input type="radio" name="range" id="groups" value="GROUP" onclick="if (document.getElementById('addToGradebook') != null){document.getElementById('addToGradebook').style.display = 'none';document.getElementById('$!name_Addtogradebook').checked=false};$('#groupTable').fadeIn('slow'); ASN.showOrHideAccessMessages( true ); ASN.resizeFrame();"
				#if( ($!range == "GROUP" && !$selectedGroupsNotFound) || !$allowAddSiteAssignment )
					checked="checked"
				#elseif( !$!groupsList )
					disabled="disabled"
				#end
				/>
			#else
				<input type="radio" name="range" id="groups" value="GROUP" onclick="$('#groupTable').fadeIn('slow'); ASN.showOrHideAccessMessages( true ); ASN.resizeFrame();"
				#if( ($!range == "GROUP" && !$selectedGroupsNotFound) || !$allowAddSiteAssignment)
					checked="checked"
				#elseif( !$!groupsList )
					disabled="disabled"
				#end
				/>
			#end
			$tlang.getString("displayto.selected")
			</label>
                </div>

                #set( $selectGroupsDisplay = "block" )
                #if( (($!range == "GROUP" || $!assignment.TypeOfAccess == $groupAccess) && !$selectedGroupsNotFound) || $selectedGroupsNotFound || $!range == "SITE" )
                    #set( $selectGroupsDisplay = "none" )
                #end
                #if( (($!range == "GROUP" || $!assignment.TypeOfAccess == $groupAccess) && !$selectedGroupsNotFound) || !$allowAddSiteAssignment )
                    #set( $listDisplay = "block" )
			#else
                    #set( $listDisplay = "none" )
			#end

			<div class="row">
				<div class="col-sm-offset-1 col-sm-9">
					<div id="msgSelectGroups" class="messageInformation" style="display: $selectGroupsDisplay">$tlang.getString( "settings.access.selectGroups" )</div>
					<table id="groupTable" style="display:$listDisplay" class="table table-striped table-condensed" summary="$tlang.getString('group.list.summary')">
						<tr>
							<th id ="selectAllGroups" style="width:2em;padding-left:.4em">
								<input type="checkbox" name="selectall" id="selectall" title="$tlang.getString('gen.toggle')" onclick="ASN.toggleSelectAll(this, 'selectedGroups'); ASN.showOrHideSelectGroupsMessage();"  />
							</th>
							<th id="groupname">
								$tlang.getString('gen.title')
							</th>
							<th id="groupdescription">
								$tlang.getString('group.list.descr')
							</th>
						</tr>
						#foreach ($group in $!groups)
							<tr>
								<td headers="selected">
									#set($selected=false)
									#foreach($aGroupRef in $assignmentGroups)
										#set($aGroup = $!site.getGroup($!aGroupRef))
										#if ($!group.Id == $!aGroup.Id)
											#set($selected = true)
										#end
									#end
									<input type="checkbox" name="selectedGroups" id="id-$group.Id" title="$group.Id" value="$group.Id" #if($selected) checked="checked"#end onclick="ASN.showOrHideSelectGroupsMessage();" />
								</td>
								<td headers="name">
									<label for="id-$group.Id">
										$validator.escapeHtml($group.Title)
									</label>
								</td>
								<td headers="description">
									#set($description = "")
									#set($description = $group.Description)
									$validator.escapeHtml($!description)
								</td>
							</tr>
						#end
					</table>
				</div>
			</div>

		<h4>
			$tlang.getString("gen.stusub")
		</h4>
		<div class="form-group row form-required">
			<label for="subType" class="col-sm-2 form-control-label">
				$tlang.getString("gen.submissionType")
			</label>
			<div class="col-sm-6">
				<select name="$name_SubmissionType" id="subType" onchange="switchAssignmentSubmissionType();" class="assignment-submission-type">
				#foreach ($i in [1..$!value_totalSubmissionTypes])
					#if ($i == $value_SubmissionType)
						<option value="$i" selected="selected">$submissionTypeTable.get($i)</option>
					#else
						<option value="$i">$submissionTypeTable.get($i)</option>
					#end
				#end
				</select>
			</div>
			<div id="review.switch.ne.2" class="information" style="display:none;">$reviewSwitchNe2</div>
		</div>

		##show it only for those assignments not of type non-electronic submission
		#if($!value_allowResubmitNumber && $value_SubmissionType != 4)
			#set($resubmitStyle="display:block")
		#else
			#set($resubmitStyle="display:none")
		#end

		<div class="form-group row">
			<label class="col-sm-2 control-label" for="allowResToggle">
				$tlang.getString("allowResubmit")
			</label>
			<div class="col-sm-10">
				<div id="tempAllowRes" #if ($value_SubmissionType == 4) style = "display:none"#end>
					<input type="checkbox" id="allowResToggle" name ="allowResToggle" #if($!value_allowResubmitNumber) checked="checked"#end onclick="if(checked){document.getElementById('allowResubmitNumber').style.display = 'block';document.getElementById('allowResubmitTime').style.display = 'block';document.getElementById('resubmitNotification').style.display = 'block';ASN.resizeFrame();}else{document.getElementById('allowResubmitNumber').style.display = 'none';document.getElementById('allowResubmitTime').style.display = 'none';document.getElementById('resubmitNotification').style.display = 'none';}" />
				</div>
			</div>
		</div>

		<div class="form-group row" id="allowResubmitNumber" style="$!resubmitStyle">
			<label for="allowResubmitNumber" class="col-sm-offset-1 col-sm-2 control-label">
				$tlang.getString("allow.resubmit.number")
			</label>
			<div class="col-sm-9">
				<select name="$name_allowResubmitNumber" id="allowResubmitNumber" title="$tlang.getString("allow.resubmit.number")">
					#foreach ($i in [1..10])
						<option value="$i" #if($i==$!value_allowResubmitNumber)selected="selected"#end>
							$i
						</option>
					#end
					<option value="-1" #if($!value_allowResubmitNumber == -1)selected="selected"#end>$tlang.getString("allow.resubmit.number.unlimited")</option>
				</select>
			</div>
		</div>

		## only show date selection when allowed to resubmit
		<div class="form-group row" id="allowResubmitTime" style="$!resubmitStyle">
			<label for="$name_ResubmitMonth" class="col-sm-offset-1 col-sm-2 control-label">
				$tlang.getString("gen.resubmission") $tlang.getString("gen.acesubunt")
			</label>
			<div class="col-sm-6 form-inline">
				<input type="text" id="resubmit" name="resubmit" class="datepicker" value="">
			</div>

			<script type="text/javascript">
			      localDatePicker({
			      	input:'#resubmit',
			      	useTime:1,
			      	val:"$value_ResubmitYear$H$value_ResubmitMonth$H$value_ResubmitDay $value_ResubmitHour:$value_ResubmitMin",
			      	parseFormat: 'YYYY-MM-DD HH:mm',
			      	ashidden:{
			      		month:"allow_resubmit_closeMonth",
			      		day:"allow_resubmit_closeDay",
			      		year:"allow_resubmit_closeYear",
			      		hour:"allow_resubmit_closeHour",
			      		minute:"allow_resubmit_closeMin"
			      	}
			      });
			</script>
		</div>

		<div class="col-sm-offset-1 row" id="resubmitNotification" style="$!resubmitStyle">
			<label>
				$tlang.getString("send.submission.releasereturn.email.options")
			</label>
			## whether to notify student about released grade and resubmission is available
			<div class="radio">
				<label>
					<input type="radio" name="$!name_assignment_releasereturn_notification" id="notsendreleasereturnnotif" value="$!value_assignment_releasereturn_notification_none" #if($!value_assignment_releasereturn_notification.equals($!value_assignment_releasereturn_notification_none))checked="checked" #end />
					$tlang.getString('send.submission.releasereturn.email.none')
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="$!name_assignment_releasereturn_notification" id="sendreleasereturnnotif" value="$!value_assignment_releasereturn_notification_each" #if($!value_assignment_releasereturn_notification.equals($!value_assignment_releasereturn_notification_each))checked="checked" #end />
					$tlang.getString('send.submission.releasereturn.email')
				</label>
			</div>
		</div>

		## whether to show the instructor notification choices
		#if ($!name_assignment_instructor_notifications)
		<fieldset>
			<h4>
				$tlang.getString("receive.confirm.submission.email.options")
			</h4>
			<div class="radio">
    				<label for="notsendnotif">
				<input type="radio" name="$!name_assignment_instructor_notifications" id="notsendnotif" value="$!value_assignment_instructor_notifications_none" #if($!value_assignment_instructor_notifications.equals($!value_assignment_instructor_notifications_none))checked="checked" #end />
					$tlang.getString('receive.confirm.submission.email.none')
				</label>
    			</div>
			<div class="radio">
    				<label for="sendnotif">
    				<input type="radio" name="$!name_assignment_instructor_notifications" id="sendnotif" value="$!value_assignment_instructor_notifications_each" #if($!value_assignment_instructor_notifications.equals($!value_assignment_instructor_notifications_each))checked="checked" #end />
					$tlang.getString('receive.confirm.submission.email.each')
				</label>
    			</div>
			<div class="radio">
    				<label for="sendnotifsummary">
    				<input type="radio" name="$!name_assignment_instructor_notifications" id="sendnotifsummary" value="$!value_assignment_instructor_notifications_digest" #if($!value_assignment_instructor_notifications.equals($!value_assignment_instructor_notifications_digest))checked="checked" #end />
					$tlang.getString('receive.confirm.submission.email.digest')
				</label>
    			</div>
		</fieldset>
		#end

		#if ($allowReviewService)
			<h4> $reviewServiceTitle </h4>
			<div>
				#if (4 == $value_SubmissionType)
					<div id="review.switch.ne.1" class="information">$reviewSwitchNe1</div>
					<div class="checkbox  indnt2">
						<label id="lblReviewService" for="$name_UseReviewService" class="instruction">
						<input id="$name_UseReviewService" name="$name_UseReviewService" type="checkbox" value="true" onclick="ASN.toggleReviewServiceOptions(this.checked)" disabled="disabled"/>

							$reviewServiceUse
						</label>
					</div>
				#else
					<div id="review.switch.ne.1" class="information" style="display:none;">$reviewSwitchNe1</div>
					<div class="checkbox">
						<label id="lblReviewService" for="$name_UseReviewService">
						#if($!value_UseReviewService == true)
							<input id="$name_UseReviewService" name="$name_UseReviewService" type="checkbox" value="true" checked="checked" onclick="ASN.toggleReviewServiceOptions(this.checked)"/>
						#else
							<input id="$name_UseReviewService" name="$name_UseReviewService" type="checkbox" value="true" onclick="ASN.toggleReviewServiceOptions(this.checked)"/>
						#end

							$reviewServiceUse
						</label>
					</div>
				#end

				#if ($!value_UseReviewService && $!value_SubmissionType != 4)
					<div id="reviewServiceOptions" class="indnt3">
				#else
					<div id="reviewServiceOptions" style="display:none" class="indnt3">
				#end
					<div class="checkbox">
						<label for="$name_AllowStudentView">
						#if ($!value_AllowStudentView.equals("true"))
							<input id="$name_AllowStudentView" name="$name_AllowStudentView" type="checkbox" value="true" checked="checked" />
						#else
							<input id="$name_AllowStudentView" name="$name_AllowStudentView" type="checkbox" value="true" />
						#end
							$tlang.getString("review.allow")
						</label>
					</div>

					<!-- Start TII custom options -->
					#if($reviewServiceProviderId == $turnitinProviderId)

					#if ($content_review_note)
						$content_review_note
					#end

					<h4>
						$tlang.getString("review.submit.papers.repository")
					</h4>

					<div class="radio">
						#if($show_NEW_ASSIGNMENT_REVIEW_SERVICE_SUBMIT.contains($name_NEW_ASSIGNMENT_REVIEW_SERVICE_SUBMIT_NONE))
							<label><input type="radio" name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_SUBMIT_RADIO" value="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_SUBMIT_NONE" #if($value_NEW_ASSIGNMENT_REVIEW_SERVICE_SUBMIT_RADIO.equals("$name_NEW_ASSIGNMENT_REVIEW_SERVICE_SUBMIT_NONE"))checked#end/>$tlang.getString("review.submit.papers.repository.none")</label>
						#end
						#if($show_NEW_ASSIGNMENT_REVIEW_SERVICE_SUBMIT.contains($name_NEW_ASSIGNMENT_REVIEW_SERVICE_SUBMIT_STANDARD))
							<label><input type="radio" name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_SUBMIT_RADIO" value="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_SUBMIT_STANDARD" #if($value_NEW_ASSIGNMENT_REVIEW_SERVICE_SUBMIT_RADIO.equals("$name_NEW_ASSIGNMENT_REVIEW_SERVICE_SUBMIT_STANDARD"))checked#end/>$tlang.getString("review.submit.papers.repository.standard")</label>
						#end
						#if($show_NEW_ASSIGNMENT_REVIEW_SERVICE_SUBMIT.contains($name_NEW_ASSIGNMENT_REVIEW_SERVICE_SUBMIT_INSITUTION))
							<label><input type="radio" name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_SUBMIT_RADIO" value="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_SUBMIT_INSITUTION" #if($value_NEW_ASSIGNMENT_REVIEW_SERVICE_SUBMIT_RADIO.equals("$name_NEW_ASSIGNMENT_REVIEW_SERVICE_SUBMIT_INSITUTION"))checked#end/>$tlang.getString("review.submit.papers.repository.institution")</label>
						#end
					</div>

					<h4>
						$tlang.getString("review.originality.reports")
					</h4>

					<div class="radio">
						#if($show_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT.contains($name_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_IMMEDIATELY))
							<label><input type="radio" name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_RADIO" value="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_IMMEDIATELY" #if($value_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_RADIO.equals("$name_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_IMMEDIATELY"))checked#end/>$tlang.getString("review.originality.reports.immediately")</label>
						#end
						#if($show_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT.contains($name_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_DUE))
							<label><input type="radio" name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_RADIO" value="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_DUE" #if($value_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_RADIO.equals("$name_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_DUE"))checked#end/>$tlang.getString("review.originality.reports.due")</label>
						#end
					</div>

					<br/>
					#if($show_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_BIBLIOGRAPHIC || $show_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_QUOTED || $show_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_SMALL_MATCHES)
						<h4>
							$tlang.getString("review.exclude.matches.header")
						</h4>
					#end

					<!-- Exclude Bibliographic materials -->
					#if($show_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_BIBLIOGRAPHIC)
					<div class="checkbox">
						<label for="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_BIBLIOGRAPHIC">
							#if ($!value_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_BIBLIOGRAPHIC.equals("true"))
								<input id="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_BIBLIOGRAPHIC" name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_BIBLIOGRAPHIC" type="checkbox" value="true" checked="checked" />
							#else
								<input id="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_BIBLIOGRAPHIC" name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_BIBLIOGRAPHIC" type="checkbox" value="true" />
							#end
								$tlang.getString("review.exclude.bibliographic")
						</label>
					</div>
					#end
					<!-- Exclude Quoted materials -->
					#if($show_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_QUOTED)
					<div class="checkbox">
						<label for="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_QUOTED">
							#if ($!value_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_QUOTED.equals("true"))
								<input id="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_QUOTED" name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_QUOTED" type="checkbox" value="true" checked="checked" />
							#else
								<input id="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_QUOTED" name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_QUOTED" type="checkbox" value="true" />
							#end
								$tlang.getString("review.exclude.quoted")
						</label>
					</div>
					#end
					<!-- Exclude small matches -->

					#if($show_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_SMALL_MATCHES)
						<div class="checkbox">
							<label for="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_TYPE">
							#if ($value_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_TYPE == 1 || $value_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_TYPE == 2)
								<input type="checkbox" value="true" name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_SMALL_MATCHES" checked="checked" onclick="ASN.toggleSmallMatchesOptions(this.checked)"/>
							#else
								<input type="checkbox" value="true" name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_SMALL_MATCHES" onclick="ASN.toggleSmallMatchesOptions(this.checked)"/>
							#end
								$tlang.getString("review.exclude.smallMatches")
							</label>
							<br/>
								#if ($value_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_TYPE == 1 || $value_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_TYPE == 2)
									<div id="smallMatchesOptions" class="indnt2 smallMatches" style="display:inline-block;">
								#else
									<div id="smallMatchesOptions" class="indnt2 smallMatches" style="display:none;">
								#end
								$tlang.getString("review.exclude.matches.by")<span class="reqStar">*</span>
								<br/>
								<input onchange="ASN.toggleSmallMatchesDisabled()" type="radio" name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_TYPE" id="wordCount" value="1" #if ($value_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_TYPE ==  1) checked="checked" #end/>
								<label for="wordCount">
									$tlang.getString("review.exclude.matches.wordmax")
								</label>
								<input type="text" size="3" maxlength="3" id="tiiExcludeValueWords" name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_VALUE" #if ($value_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_TYPE ==  1) value="$value_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_VALUE" #else disabled="disabled" #end/>
								<br/>

								<input onchange="ASN.toggleSmallMatchesDisabled()" type="radio" name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_TYPE" id="percentage" value="2" #if ($value_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_TYPE == 2) checked="checked" #end/>
								<label for="percentage">
									$tlang.getString("review.exclude.matches.percentage")
								</label>
								<input type="text" size="3" maxlength="3" id="tiiExcludeValuePercentages" name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_VALUE" #if ($value_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_TYPE == 2) value="$value_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_VALUE" #else disabled="disabled" #end/>
								%
								<!--end div for smallMatchesOptions -->
								</div>
						</div>
					#end

					<h4>
						$tlang.getString("review.originality.check")
					</h4>
					<div class="indnt1">
						#if($show_NEW_ASSIGNMENT_REVIEW_SERVICE_CHECK_TURNITIN)
						<div class="checkbox">
							<label for="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_CHECK_TURNITIN">
							#if ($!value_NEW_ASSIGNMENT_REVIEW_SERVICE_CHECK_TURNITIN.equals("true"))
								<input id="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_CHECK_TURNITIN" name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_CHECK_TURNITIN" type="checkbox" value="true" checked="checked" />
							#else
								<input id="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_CHECK_TURNITIN" name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_CHECK_TURNITIN" type="checkbox" value="true" />
							#end
								$tlang.getString("review.originality.check.turnitin")
							</label>
						</div>
						#end
						#if($show_NEW_ASSIGNMENT_REVIEW_SERVICE_CHECK_INTERNET)
						<div class="checkbox">
							<label for="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_CHECK_INTERNET">
							#if ($!value_NEW_ASSIGNMENT_REVIEW_SERVICE_CHECK_INTERNET.equals("true"))
								<input id="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_CHECK_INTERNET" name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_CHECK_INTERNET" type="checkbox" value="true" checked="checked" />
							#else
								<input id="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_CHECK_INTERNET" name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_CHECK_INTERNET" type="checkbox" value="true" />
							#end
								$tlang.getString("review.originality.check.internet")
							</label>
						</div>
						#end
						#if($show_NEW_ASSIGNMENT_REVIEW_SERVICE_CHECK_PUB)
						<div class="checkbox">
							<label for="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_CHECK_PUB">
							#if ($!value_NEW_ASSIGNMENT_REVIEW_SERVICE_CHECK_PUB.equals("true"))
								<input id="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_CHECK_PUB" name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_CHECK_PUB" type="checkbox" value="true" checked="checked" />
							#else
								<input id="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_CHECK_PUB" name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_CHECK_PUB" type="checkbox" value="true" />
							#end
								$tlang.getString("review.originality.check.pub")
							</label>
						</div>
						#end
						#if($show_NEW_ASSIGNMENT_REVIEW_SERVICE_CHECK_INSTITUTION)
						<div class="checkbox">
							<label for="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_CHECK_INSTITUTION">
							#if ($!value_NEW_ASSIGNMENT_REVIEW_SERVICE_CHECK_INSTITUTION.equals("true"))
								<input id="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_CHECK_INSTITUTION" name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_CHECK_INSTITUTION" type="checkbox" value="true" checked="checked" />
							#else
								<input id="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_CHECK_INSTITUTION" name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_CHECK_INSTITUTION" type="checkbox" value="true" />
							#end
								$tlang.getString("review.originality.check.institution")
							</label>
						</div>
						#end
					</div>
				<!-- End TII custom options -->
					#elseif($reviewServiceName.equals("VeriCite"))
                        <div class="well">
                            <h5>$tlang.getString("review.advancedSettings.vericite")</h5>

                            <!-- Exclude Quoted materials -->
							#if($show_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_QUOTED)
                                <div class="checkbox">
                                    <label for="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_QUOTED">
										#if ($!value_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_QUOTED.equals("true"))
                                            <input id="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_QUOTED"
                                                   name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_QUOTED"
                                                   type="checkbox" value="true" checked="checked"/>
										#else
                                            <input id="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_QUOTED"
                                                   name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_QUOTED"
                                                   type="checkbox" value="true"/>
										#end
										$tlang.getString("review.exclude.quoted")
                                    </label>
                                    <div class="info-text help-block small">$tlang.getString(
										"review.exclude.quoted.help")</div>
                                </div>
							#end

                            <!-- Exclude Self Plag -->
							#if($show_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_SELF_PLAG)
                                <div class="checkbox">
                                    <label for="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_SELF_PLAG">
										#if ($!value_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_SELF_PLAG.equals("true"))
                                            <input id="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_SELF_PLAG"
                                                   name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_SELF_PLAG"
                                                   type="checkbox" value="true" checked="checked"/>
										#else
                                            <input id="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_SELF_PLAG"
                                                   name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_SELF_PLAG"
                                                   type="checkbox" value="true"/>
										#end
										$tlang.getString("review.exclude.self.plag")
                                    </label>
                                    <div class="info-text help-block small">$tlang.getString(
										"review.exclude.self.plag.help")</div>
                                </div>
							#end

                            <!-- Store Inst Index -->
							#if($show_NEW_ASSIGNMENT_REVIEW_SERVICE_STORE_INST_INDEX)
                                <div class="checkbox">
                                    <label for="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_STORE_INST_INDEX">
										#if ($!value_NEW_ASSIGNMENT_REVIEW_SERVICE_STORE_INST_INDEX.equals("true"))
                                            <input id="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_STORE_INST_INDEX"
                                                   name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_STORE_INST_INDEX"
                                                   type="checkbox" value="true" checked="checked"/>
										#else
                                            <input id="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_STORE_INST_INDEX"
                                                   name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_STORE_INST_INDEX"
                                                   type="checkbox" value="true"/>
										#end
										$tlang.getString("review.store.inst.index")
                                    </label>
                                    <div class="info-text help-block small">$tlang.getString(
										"review.store.inst.index.help")</div>
                                </div>
							#end

                            <!-- Student Preview -->
							#if($show_NEW_ASSIGNMENT_REVIEW_SERVICE_STUDENT_PREVIEW)
                                <div class="checkbox">
                                    <label for="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_STUDENT_PREVIEW">
                                        <input id="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_STUDENT_PREVIEW"
                                               name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_STUDENT_PREVIEW"
                                               type="checkbox" value="true"
											#if ($!value_NEW_ASSIGNMENT_REVIEW_SERVICE_STUDENT_PREVIEW.equals("true"))
                                               checked="checked"
											#end
                                        />
										$tlang.getString("review.studentPreview")
                                    </label>
                                    <div class="info-text help-block small">$tlang.getString(
										"review.studentPreview.help")</div>
                                </div>
							#end
                        </div>

                        <!-- End VeriCite custom options -->
					#elseif($reviewServiceProviderId == $turnitinOCProviderId)
						<!-- Start TurnitinOC custom options -->
						
						#if($show_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_BIBLIOGRAPHIC || $show_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_QUOTED)
							<br/>
							<div>
								<label>$tlang.getString("turnitinoc.exclude.header"):</label>
							</div>
							<div style="display:inline-block">
								<!-- Exclude Bibliographic materials -->
								#if($show_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_BIBLIOGRAPHIC)
									<div class="checkbox">
										<label for="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_BIBLIOGRAPHIC">
											#if ($!value_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_BIBLIOGRAPHIC.equals("true"))
												<input id="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_BIBLIOGRAPHIC" name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_BIBLIOGRAPHIC" type="checkbox" value="true" checked="checked" />
											#else
												<input id="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_BIBLIOGRAPHIC" name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_BIBLIOGRAPHIC" type="checkbox" value="true" />
											#end
											$tlang.getString("turnitinoc.exclude.bibliography")
										</label>
									</div>
								#end
								<!-- Exclude Quoted materials -->
								#if($show_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_QUOTED)
		                            <div class="checkbox">
		                                <label for="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_QUOTED">
											#if ($!value_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_QUOTED.equals("true"))
		                                        <input id="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_QUOTED"
		                                               name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_QUOTED"
		                                               type="checkbox" value="true" checked="checked"/>
											#else
		                                        <input id="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_QUOTED"
		                                               name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_EXCLUDE_QUOTED"
		                                               type="checkbox" value="true"/>
											#end
											$tlang.getString("turnitinoc.exclude.quoted")
		                                </label>
		                            </div>
								#end
							</div>
						#end
						
						#if($show_NEW_ASSIGNMENT_REVIEW_SERVICE_STORE_INST_INDEX)
							<br/><br/>
							<div>
								<label>$tlang.getString("turnitinoc.index.header"):</label>
								<p class="text-muted small">
									$tlang.getString("turnitinoc.index.info")
								</p>
							</div>
							<div style="display:inline-block">
		                        <!-- Store Inst Index -->
								#if($show_NEW_ASSIGNMENT_REVIEW_SERVICE_STORE_INST_INDEX)
		                            <div class="checkbox">
		                                <label for="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_STORE_INST_INDEX">
											#if ($!value_NEW_ASSIGNMENT_REVIEW_SERVICE_STORE_INST_INDEX.equals("true"))
		                                        <input id="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_STORE_INST_INDEX"
		                                               name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_STORE_INST_INDEX"
		                                               type="checkbox" value="true" checked="checked"/>
											#else
		                                        <input id="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_STORE_INST_INDEX"
		                                               name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_STORE_INST_INDEX"
		                                               type="checkbox" value="true"/>
											#end
											$tlang.getString("turnitinoc.index.all")
		                                </label>
		                             </div>
								#end
							</div>
						#end
						
						
						#if($show_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT)
						 	<br/><br/>
							<div>
								<label>$tlang.getString("turnitinoc.generate.header"):</label>
							</div>
							<div style="display:inline-block">
								#if($show_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT.contains($name_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_IMMEDIATELY))
									<div class="radio">
										<label><input type="radio" name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_RADIO" value="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_IMMEDIATELY" #if($value_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_RADIO.equals("$name_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_IMMEDIATELY"))checked#end/>$tlang.getString("review.originality.reports.immediately")</label>
									</div>
								#end
								#if($show_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT.contains($name_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_DUE))
									<div class="radio">
										<label><input type="radio" name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_RADIO" value="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_DUE" #if($value_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_RADIO.equals("$name_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_DUE"))checked#end/>$tlang.getString("review.originality.reports.due")</label>
									</div>
								#end
								#if($show_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT.contains($name_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_IMMEDIATELY_AND_DUE))
									<div class="radio">
										<label><input type="radio" name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_RADIO" value="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_IMMEDIATELY_AND_DUE" #if($value_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_RADIO.equals("$name_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_IMMEDIATELY_AND_DUE"))checked#end/>$tlang.getString("review.originality.reports.immediately_and_due")</label>
									</div>
								#end
							</div>
						#end
						<br/><br/>
						<p class="text-muted small">
							<a href="https://guides.turnitin.com/03_Integrations/Turnitin_Partner_Integrations/Sakai" target="_blank">$tlang.getString("turnitinoc.instructions")</a>
						</p>
                        <!-- End TurnitinOC custom options -->
				#elseif($reviewServiceName.equals("Compilatio"))
						#if ($content_review_note)
							$content_review_note
						#end
						<h4>
							$tlang.getString("review.originality.reports")
						</h4>
						<div class="radio">
							#if($show_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT.contains($name_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_IMMEDIATELY))
								<label for="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_RADIO">
									<input type="radio" name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_RADIO" value="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_IMMEDIATELY" #if($value_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_RADIO.equals("$name_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_IMMEDIATELY"))checked#end/>$tlang.getString("review.originality.reports.immediately")<br/>
								</label>
								<br/>
							#end
							#if($show_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT.contains($name_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_DUE))
								<label for="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_RADIO">
									<input type="radio" name="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_RADIO" value="$name_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_DUE" #if($value_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_RADIO.equals("$name_NEW_ASSIGNMENT_REVIEW_SERVICE_REPORT_DUE"))checked#end/>$tlang.getString("review.originality.reports.due")<br/>
								</label>
							#end
						</div>
				<!-- End Compilatio custom options -->
				#elseif($reviewServiceName.equals("Urkund"))
						#if ($content_review_note)
							$content_review_note
						#end
				<!-- End Urkund custom options -->
				#end
			</div>
			</div>
		#end
		#if(($!withGrade && $!withGradebook) || ($enableAnonGrading || $value_CheckAnonymousGrading))
			<h4>$!tlang.getString('grading')</h4>
		#end

		#if ($withGrade)
			<div class="form-group row form-required">
				<label for="$name_GradeType" class="col-sm-2 control-label">
					$tlang.getString("gen.grasca")
				</label>
				<div class="col-sm-6">
					<span class="skip">$tlang.getString("newassig.selectmessage")</span>
					<select id="$name_GradeType" 
					name="$name_GradeType" title="$tlang.getString("gen.grasca")" onchange="SetMaxPoint(this, $name_GradePoints)">
					#foreach ($i in [1..5])
						#if ($i == $value_GradeType)
							<option value="$i" selected="selected">$gradeTypeTable.get($i)</option>
						#else
							<option value="$i"
								#if(($!assignment && !$assignment.draft) && $!value_additionalOptions.equals("peerreview"))
									disabled="disabled" 
								#end
							>$gradeTypeTable.get($i)</option>
						#end
					#end
					</select>
					#if(($!assignment && !$assignment.draft) && $!value_additionalOptions.equals("peerreview"))
						$tlang.getString("gen.cant.change.setting.after.draft")
					#end
				</div>
			</div>

			## enable the maxfield when it is points grade type
			<div class="form-group row">
				<label for="$name_GradePoints" class="col-sm-2 control-label">
					$tlang.getString("gen.forpoi")
				</label>
				<div class="col-sm-2">
					<span class="reqStar" style="display:none" id="req-new_assignment_grade_points">*</span>
				#if ($value_GradeType == 3)
					<input name="$name_GradePoints" id="$name_GradePoints" value="$!value_GradePoints" type="text" size="5" maxlength="11" class="form-control"/>
				#else
					<input name="$name_GradePoints" id="$name_GradePoints"  value="$!value_GradePoints" type="text" size="5" maxlength="11" disabled="disabled" style="background-color:#eee;border:1px solid gray" class="form-control"/>
				#end
				</div>
			</div>
		#end

		#if ($!withGrade && $!withGradebook)
			## show the "Add to Gradebook" choices or not
			#if(!$!allowGroupAssignmentsInGradebook)
				#set ($addToGBDisplay="none")
			#else
				#set ($addToGBDisplay="block")
			#end
				<div style="display:$!addToGBDisplay">
				<div class="checkbox indnt2" style="display:$!addToGBDisplay">
					<div class="radio">
						## hide the assignment list from Gradebook when clicked
						<label for="$!gradebookChoice_no">
							<input type="radio" name="$!name_Addtogradebook" id="$!gradebookChoice_no" value="$!gradebookChoice_no" #if($!gradebookChoice.equals("$!gradebookChoice_no"))checked#end onclick="if (document.getElementById('gradebookList')) {$('#gradebookList').fadeOut('slow');$('#categoryList').fadeOut('slow');}" >
							#if(!$!noAddToGradebookChoice)$tlang.getString("grading.no")#else$tlang.getString("grading.no2")#end
						</label>
					</div>
					#if (!$!noAddToGradebookChoice)
					<div class="radio">
						## hide the assignment list from Gradebook when clicked
						<label for="$!gradebookChoice_add">
						<input type="radio" name="$!name_Addtogradebook" id="$!gradebookChoice_add" value="$!gradebookChoice_add" #if($!gradebookChoice.equals("$!gradebookChoice_add"))checked#end
							onclick="
							if ($('#new_assignment_grade_points').prop('value'))
							{
								if (document.getElementById('categoryList'))
								{
									## show the gradebook assignment list
									if (document.getElementById('gradebookList'))
										$('#gradebookList').fadeOut('slow');
									if($!value_totalCategories > 1)
										$('#categoryList').fadeIn('slow');
								}
								else
								{
									if (document.getElementById('gradebookList'))
										$('#gradebookList').fadeOut('slow');
									if (document.getElementById('associate'))
										$('#associate').prop('checked',false);
								}
							}
							else
							{
								## show alert since gradebook integration is only allowed for point-based assignment
								$('#no').prop('checked',true);
								if (document.getElementById('categoryList'))
									$('#categoryList').fadeOut('slow');
								if (document.getElementById('gradebookList'))
									$('#gradebookList').fadeOut('slow');
								if (document.getElementById('associate'))
									$('#associate').prop('checked',false);
								if (document.getElementById('gradebookListWarnAssoc'))
								{
					       	 		$('#gradebookListWarnAssoc' ).fadeIn('slow');
					        		$('#gradebookListWarnAssoc').animate({opacity: 1.0}, 2500)
					  				$('#gradebookListWarnAssoc' ).fadeOut('slow',function ()
					  				{
										$('#new_assignment_grade_type').focus();
							      	});
							     }
							}" >
						$tlang.getString("grading.add")</label>
						<span id="gradebookListWarnAssoc" class="alertMessageInline" style="display:none;border:none">$tlang.getString("grading.associate.warn")</span>
					</div>
					#end
					## if there exists properiate assignment entries in Gradebook
					#if (!$!gradebookAssignmentsLabel.isEmpty())
					<div class="radio">
						## show the assignment list from Gradebook when clicked
						<label for="$!gradebookChoice_associate">
							<input
								type="radio"
								name="$!name_Addtogradebook"
								id="$!gradebookChoice_associate"
								value="$!gradebookChoice_associate"
								#if($!gradebookChoice.equals("$!gradebookChoice_associate"))checked#end
								onclick="if( document.getElementById('gradebookList') )
								{
									if ($('#new_assignment_grade_points').prop('value'))
									{
										## show the gradebook assignment list
										$('#categoryList').fadeOut('slow');
										$('#gradebookList').fadeIn('slow');
									}
									else
									{
										## show alert since gradebook integration is only allowed for point-based assignment
										$('#no').prop('checked',true);
										$('#categoryList').fadeOut('slow');
										$('#gradebookList').fadeOut('slow');
										$('#associate').prop('checked',false);
						       	 		$('#gradebookListWarn' ).fadeIn('slow');
						        		$('#gradebookListWarn').animate({opacity: 1.0}, 2500)
						  				$('#gradebookListWarn' ).fadeOut('slow',function ()
						  				{
											$('#new_assignment_grade_type').focus();
								      	});
									}
								}" >
						$tlang.getString("grading.associate")</label>
						<span id="gradebookListWarn" class="alertMessageInline" style="display:none;border:none">$tlang.getString("grading.associate.warn")</span>
					</div>
					#end
				</div>
			</div>
			## if there exists properiate assignment entries in Gradebook
			#if (!$!gradebookAssignmentsLabel.isEmpty())
				## show the "Gradebook Assignment list" choices or not
				#if($!allowGroupAssignmentsInGradebook && $!gradebookChoice.equals("$!gradebookChoice_associate"))
					#set ($gbListDisplay="block")
				#else
					#set ($gbListDisplay="none")
				#end
				<div id="gradebookList" class="col-sm-offset-1 form-group row" style="display:$gbListDisplay">
					<select name="$!name_AssociateGradebookAssignment" >
						<option  value="">$tlang.getString("grading.select")</option>
						#set($gAssignmentSet = $!gradebookAssignmentsLabel.keySet())
						#foreach ($gaId in $!gAssignmentSet.iterator())
							<option  value="$gaId"
								#if($!gradebookAssignmentsSelectedDisabled.get($gaId).equals("disabled"))
									disabled="disabled"
								#elseif($!gradebookAssignmentsSelectedDisabled.get($gaId).equals("selected"))
									selected="selected"
								#end>
									$validator.escapeHtml($!gradebookAssignmentsLabel.get($gaId))
							</option>
						#end
					</select>
				</div>
			#end
			#if (!$!categoryTable.isEmpty())
				## show the "Category list" choices or not
				<p id="categoryList" class="checkbox  indnt4" #if($!gradebookChoice.equals("$!gradebookChoice_add"))style="display:block" #else style="display:none" #end>
					<label for="category">
						$tlang.getString("grading.categorylist")
					</label>
					<select name="$name_Category" id="category">
						#foreach ($i in $categoryKeys)
							<option value="$i" #if ($i == $!value_Category)selected="selected"#end>$categoryTable.get($i)</option>
						#end
					</select>
				</p>
			#end
		#end

		## SAK-17606 - Show the anonymous grading checkbox if enabled
		#if( $enableAnonGrading || $value_CheckAnonymousGrading)
			#set ($anonDisabled = !$enableAnonGrading || $forceAnonGrading)
			<div class="checkbox">
				<label for="$name_CheckAnonymousGrading" #if($anonDisabled) class="disabled" #end>
					<input id="$name_CheckAnonymousGrading" name="$name_CheckAnonymousGrading" type="checkbox" value="true"
					#if ($forceAnonGrading || $value_CheckAnonymousGrading)
						checked="checked"
					#end
					#if($anonDisabled)
						disabled="disabled"
					#end
					/>
					$tlang.getString("grading.anonymous")
				</label>
			</div>
		#end
		## end anonymous check

		## whether to notify student about released grade
		<fieldset>
			<h4>
				$tlang.getString("send.submission.releasegrade.email.options")
			</h4>
			<div class="radio">
				<label for="notsendreleasegradenotif">
				<input type="radio" name="$!name_assignment_releasegrade_notification" id="notsendreleasegradenotif" value="$!value_assignment_releasegrade_notification_none" #if($!value_assignment_releasegrade_notification.equals($!value_assignment_releasegrade_notification_none))checked="checked" #end />
					$tlang.getString('send.submission.releasegrade.email.none')
				</label>
			</div>
			<div class="radio">
				<label for="sendreleasegradenotif">
				<input type="radio" name="$!name_assignment_releasegrade_notification" id="sendreleasegradenotif" value="$!value_assignment_releasegrade_notification_each" #if($!value_assignment_releasegrade_notification.equals($!value_assignment_releasegrade_notification_each))checked="checked" #end />
					$tlang.getString('send.submission.releasegrade.email')
				</label>
			</div>
		</fieldset>

		<h4>
			$tlang.getString("additionalOptionsName")
		</h4>
		<p class="text-muted small">
			$tlang.getString("gen.cant.change.after.draft")
		</p>
		<div class="radio">
			<label for="$name_noAdditionalOptionsName">
				<input id="$name_noAdditionalOptionsName" name="$name_additionalOptions" type="radio" value="1"
					#if ($!value_additionalOptions.equals("none"))
						checked="checked"
					#elseif($!assignment && !$assignment.draft)
						disabled="disabled"
					#end
					onclick="ASN.toggleAddOptions('none');" />
					$tlang.getString("noAdditionalOptionsName")
			</label>
		</div>

		## Peer Assessment
		#if ($allowPeerAssessment)
			<div class="peerAssessmentContainer">
				<div class="radio">
					<label for="$name_UsePeerAssessment">
						<input id="$name_UsePeerAssessment" name="$name_additionalOptions" type="radio" value="peerreview"
						#if ($!value_additionalOptions.equals("peerreview"))
							checked="checked"
						#elseif($!assignment && !$assignment.draft)
							disabled="disabled"
						#end
						onclick="ASN.toggleAddOptions('peerreview')"/>
						$tlang.getString("peerAssessmentUse")
					</label>
				</div>

				#if ($!value_additionalOptions.equals("peerreview"))
					<div id="peerAssessmentOptions" class="col-sm-offset-1">
				#else
					<div id="peerAssessmentOptions" style="display:none" class="col-sm-offset-1">
				#end
					<div class="messageInformation">
						$tlang.getString("peerassessment.note")
					</div>
					<div id="peerperiod-finish">
						$tlang.getString("peerassessment.periodfinishes")
						<input type="text" id="new_assignment_peerperiod" name="new_assignment_peerperiod" class="datepicker" value="">
					</div>

						<script type="text/javascript">
						      localDatePicker({
						      	input:'#new_assignment_peerperiod',
						      	useTime:1,
						      	val:"$value_PeerPeriodYear$H$value_PeerPeriodMonth$H$value_PeerPeriodDay $value_PeerPeriodHour:$value_PeerPeriodMin",
						      	parseFormat: 'YYYY-MM-DD HH:mm',
						      	ashidden:{
						      		month:"$name_PeerPeriodMonth",
						      		day:"$name_PeerPeriodDay",
						      		year:"$name_PeerPeriodYear",
						      		hour:"$name_PeerPeriodHour",
						      		minute:"$name_PeerPeriodMin"
						      	}
						      });
						</script>
					##Anonymous Eval
					#if ($!value_PeerAssessmentAnonEval)
						<input id="$name_PeerAssessmentAnonEval" name="$name_PeerAssessmentAnonEval" type="checkbox" value="true" checked="checked"/>
					#else
						<input id="$name_PeerAssessmentAnonEval" name="$name_PeerAssessmentAnonEval" type="checkbox" value="true"/>
					#end
					<label for="$name_PeerAssessmentAnonEval">
						$tlang.getString("peerassessment.anonymousEvaluation")
					</label>
					<br/>
					##Students View Reviews
					#if ($!value_PeerAssessmentStudentViewReviews)
						<input id="$name_PeerAssessmentStudentViewReviews" name="$name_PeerAssessmentStudentViewReviews" type="checkbox" value="true" checked="checked"/>
					#else
						<input id="$name_PeerAssessmentStudentViewReviews" name="$name_PeerAssessmentStudentViewReviews" type="checkbox" value="true"/>
					#end
					<label for="$name_PeerAssessmentStudentViewReviews">
						$tlang.getString("peerassessment.studentViewReviews")
					</label>
					<br/>
					##Number of Submissions for review
					<span class="reqStar">*</span>
					<input name="$name_PeerAssessmentNumReviews" id="$name_PeerAssessmentNumReviews" value="$!value_PeerAssessmentNumReviews" type="text" size="5" maxlength="11"/>
					<label for="$name_PeerAssessmentNumReviews">
						$tlang.getString("peerassessment.numSubmissions")
					</label>
					<br/>
					<br/>
					$tlang.getString("peerassessment.reviewInstructions")
					<br/>
					<table border="0" style="margin:0"><tr><td>
						<textarea name="$name_PeerAssessmentInstructions" id="$name_PeerAssessmentInstructions" cols="80" rows="30" wrap="virtual">$validator.escapeHtmlTextarea($!value_PeerAssessmentInstructions)</textarea>
						#chef_setupformattedtextarea($name_PeerAssessmentInstructions)
					</td</tr></table>
				</div>
			</div>
		#end

		#if ($group_submissions_enabled)
			<div class="radio">
				<label for="$name_CheckIsGroupSubmission" class="$class">
					<input id="$name_CheckIsGroupSubmission" name="$name_additionalOptions" type="radio" value="GROUP" onclick="ASN.toggleAddOptions('GROUP');"
					#if ($!value_additionalOptions.equals("GROUP") && $!groupsList)
						checked="checked"
					#elseif( !$!groupsList || ($!assignment && !$assignment.draft))
						disabled="disabled"
					#end
					/>
					$tlang.getString("group.issubmit")
				</label>
			</div>
		#end

		#if ($multipleGroupUsers)
			<p class="checkbox indnt2">
			<div class="text-warning">$tlang.getString("group.user.multiple.warning")</div>
			<div class="text-warning">
			#foreach($duser in $!multipleGroupUsers)
				#if ($velocityCount > 1), #end
				$duser
			#end
		</div>
		</p>
		#end

	<a name="extraNodesTop"></a>
	<h4>
		$tlang.getString("additional_information")
	</h4>

	<div class="col-sm-12 row table-reponsive">
		<table class="table table-striped" id="extraNodeLinkList">
			<caption style="border-bottom:1px solid #ccc;text-align:left; margin-top:1em;padding-bottom:.3em">$tlang.getString("supplement")</caption>
			<tr>
				<td>
					$tlang.getString("modelAnswer")
				</td>
				<td class="itemAction" style="white-space:nowrap">
					<div id="nomodelanswer"  #if(!$!modelanswer) style="display:block"#else style="display:none" #end>
						<a id="modelanswer_add" class="extraNodeLink" href="javascript:void(0)">$tlang.getString("new")<span class="skip"> $tlang.getString("modelAnswer")</span></a>
					</div>
					<div id="hasmodelanswer"  #if($!modelanswer) style="display:block"#else style="display:none" #end>
						<a id="modelanswer_edit" class="extraNodeLink" href="javascript:void(0)">$tlang.getString("gen.revi")<span class="skip"> $tlang.getString("modelAnswer")</span></a> | <a id="modelanswer_delete" class="extraNodeLink" href="javascript:void(0)">$tlang.getString("delet")<span class="skip"> $tlang.getString("modelAnswer")</span></a>
						<input id = "modelanswer_to_delete" name = "modelanswer_to_delete" type= "hidden" value = "false" />
					</div>
				</td>
			</tr>
			## show the private note section if only the user can view or edit the item
			#if ($!allowEditAssignmentNoteItem || $!allowReadAssignmentNoteItem)
				<tr>
					<td>
						$tlang.getString("note")
					</td>
					<td class="itemAction" style="white-space:nowrap">
						<div id="nonote"  #if(!$!note) style="display:block"#else style="display:none" #end>
							<a id="note_add" class="extraNodeLink" href="javascript:void(0)">$tlang.getString("new")<span class="skip"> $tlang.getString("note")</span></a>
						</div>
						<div id="hasnote"  #if($!note) style="display:block"#else style="display:none" #end>
							#if ($!allowEditAssignmentNoteItem)
								<a id="note_edit" class="extraNodeLink" href="javascript:void(0)">$tlang.getString("gen.revi")<span class="skip"> $tlang.getString("note")</span></a> | <a id="note_delete" class="extraNodeLink" href="javascript:void(0)">$tlang.getString("delet")<span class="skip"> $tlang.getString("note")</span></a>
							#else
								#if ($!allowReadAssignmentNoteItem)
									<a id="note_edit" class="extraNodeLink" href="javascript:void(0)">$tlang.getString("gen.view2")</a>
								#end
							#end
						</div>
						<input id = "note_to_delete" name = "note_to_delete" type= "hidden" value = "false" />
					</td>
				</tr>
			#end
			<tr>
				<td>
					$tlang.getString("allPurpose")
				</td>
				<td class="itemAction" style="white-space:nowrap">
					<div id="noallPurpose" #if(!$!allPurpose) style="display:block"#else style="display:none" #end>
						<a id="allPurpose_add" class="extraNodeLink" href="javascript:void(0)">$tlang.getString("new")<span class="skip"> $tlang.getString("allPurpose")</span></a>
					</div>
					<div id="hasallPurpose" #if($!allPurpose) style="display:block"#else style="display:none" #end>
						<a id="allPurpose_edit" class="extraNodeLink" href="javascript:void(0)">$tlang.getString("gen.revi")<span class="skip"> $tlang.getString("allPurpose")</span></a> | <a id="allPurpose_delete" class="extraNodeLink" href="javascript:void(0)">$tlang.getString("delet")<span class="skip"> $tlang.getString("allPurpose")</span></a>
					</div>
					<input type="hidden" name="value_allPurpose" #if($!allPurpose) value="true" #else value="false" #end />
					<input id = "allPurpose_to_delete" name = "allPurpose_to_delete" type= "hidden" value = "false" />
				</td>
			</tr>
		</table>
	</div>

		<a name="extraNodesBoxTop"></a>
		<input type="hidden" name = "attachments_for" id="attachments_for" value="$!attachments_for" />
		<fieldset class="extraNode" id="modelanswer-node" style="display:none">## the panel for model answer
			<legend>$tlang.getString("modelAnswer")</legend>
			<div class="form-group row form-required">
				<label for="modelanswer_text" class="col-lg-2 form-control-label">
					$tlang.getString("modelAnswer.instruction")
				</label>
				<div class="col-lg-8">
					<div class="validationError alertMessage" id="modelanswer_text_message">
						$tlang.getString("extraNodesRequired")
					</div>
					<textarea name="modelanswer_text" id="modelanswer_text" cols="60" rows="10" wrap="virtual">$validator.escapeHtmlTextarea($!modelanswer_text)</textarea>
					<textarea name="modelanswer_text_holder" id="modelanswer_text_holder" style="display:none" cols="60" rows="2" wrap="virtual">$validator.escapeHtmlTextarea($!modelanswer_text)</textarea>
				</div>
				###chef_setupformattedtextareaparams("modeltext" "200" "365" "small")
			</div>
			## attachments
			<label for="modelAnswerAttach" class="block">
					$tlang.getString("gen.att")
			</label>
			#set ($size = 0)
			#set ($props = false)
			#foreach ($attachment in $modelanswer_attachments)
				#set ($props = $attachment.Properties)
				#if ($!props)
					#set ($size = $size + 1)
				#end
			#end
			#if ($size == 0)
				<p>
                                    #if ($value_SubmissionType == 5)
                                        $tlang.getString("gen.noatt.single")
                                    #else
                                        $tlang.getString("gen.noatt")
                                    #end
                                </p>
			#else
				<ul class="attachList indnt1">
					#foreach ($attachment in $modelanswer_attachments)
						#set ($props = false)
						#set ($props = $attachment.Properties)
						#if ($!props)
							<li>
								#if ($props.getBooleanProperty($props.NamePropIsCollection))
									<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")" />
								#else
									<img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
								#end
								<a href="$attachment.Url" target="_blank">$validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>
								#propertyDetails($props)
							</li>
						#end
					#end
				</ul>
			#end
			<div class="act">
				<input type="button" name="modelAnswerAttach" value="$tlang.getString('gen.addatt')" onclick="javascript:document.newAssignmentForm.onsubmit();document.getElementById('option').value='modelAnswerAttach';document.newAssignmentForm.submit();return false;"/>
			</div>

			<div class="form-group row form-required">

				<label for="modelanswer_to" class="col-lg-2 form-control-label">
					$tlang.getString("modelAnswer.show_to_student.prompt")
				</label>
				## show to student time option
				<div class="col-lg-8">
					<select id="modelanswer_to" name="modelanswer_showto" title="$tlang.getString("modelAnswer.show_to_student.tooltip")">
						#foreach ($k in ["0", "1", "2", "3", "4"])
							#set($string = "modelAnswer.show_to_student.")
							#set($string = $string.concat($k))
							<option value="$k" #if($k.equals($!modelanswer_showto))selected="selected" #set( $modelanswer_to_val = $k) #end> $tlang.getString($string) </option>
						#end
					</select>
					<span class="validationError alertMessageInline" id="modelanswer_to_message">
						$tlang.getString("extraNodesRequired")
					</span>

					<input type="text" id="modelanswer_to_holder"  style="display:none"  value="$modelanswer_to_val" />
				</div>
			</div>
			<p class="act">
				<input class="extraNodeInput" type="button" id="modelanswer_save" value="$tlang.getString('gen.sav')" class="active" />
				<input class="extraNodeInput" type="button" id="modelanswer_cancel" value="$tlang.getString('gen.can')" />
			</p>
		</fieldset>
		#*the panel for grading guideline
			<fieldset class="extraNode" id="gradingguidelines-node" style="display:none">
				<legend>Grading guidelines</legend>
					<div class="validationError alertMessage" id="gradingguidelines-message">
					</div>
				<div class="longtext" style="margin:.2em">
					<span class="reqStar">*</span>
					<label for="ggtext" class="block">
						Provide grading rationale. You can choose to whom and when this will display.
					</label>
						<textarea name="ggtext" id="ggtext" cols="60" rows="10" wrap="virtual"></textarea>
						###chef_setupformattedtextareaparams("ggtext" "200" "365" "small")
				</div>
				<div class="act">
						<input type="button" name="attach" value="$tlang.getString('gen.addatt')" onclick="javascript:document.newAssignmentForm.onsubmit();document.getElementById('option').value='attach';document.newAssignmentForm.submit();return false;"/>
					</div>
				<p class="longtext"  style="margin:.2em">
					<span class="reqStar">*</span>
					<label for="ggwho" class="block">
						Show
					</label>
					<select id="ggwho">
						<option value="ggwhodefault"> --select one-- </option>
						<option value="ggwho1">Only to instructors</option>
						<option value="ggwho2">also to students (after grading)</option>
						<option value="ggwho3">also to students (after accept until date)</option>
					</select>
				</p>
				<p class="act">
					<input class="extraNodeInput"  type="button" value="Save" class="active"/><input class="extraNodeInput"  type="button" value="Cancel" />
				</p>
			</fieldset>
		*#
		<fieldset class="extraNode" id="note-node" style="display:none">## the panel for private note
			<legend>$tlang.getString("note")</legend>
			<div class="row form-group form-required " >
				<label for="note_text" class="col-lg-2 form-control-label">
					$tlang.getString("note.instruction")
				</label>
				<div class="col-lg-8">
					<div class="validationError alertMessage" id="note_text_message">
						$tlang.getString("extraNodesRequired")
					</div>
					#if ($!note && $!allowEditAssignmentNoteItem || !$!note)
						<textarea name="note_text" id="note_text" cols="60" rows="10" wrap="virtual">$validator.escapeHtmlTextarea($!note_text)</textarea>
						<textarea name="note_text_holder" id="note_text_holder"  style="display:none"  cols="60" rows="2" wrap="virtual">$validator.escapeHtmlTextarea($!note_text)</textarea>
					#else
						#if ($!allowReadAssignmentNoteItem)
					 		<div class="notes">$validator.escapeHtml($!note_text)</div>
				 		#end
					#end
					###chef_setupformattedtextareaparams("assigntext" "200" "365" "small")
				</div>
			</div>
			<div class="row form-group form-required">
				<label for="note_to" class="col-lg-2 form-control-label">
					$tlang.getString("note.to.prompt")
				</label>
				<div class="col-lg-8">
					#if ($!note && $!allowEditAssignmentNoteItem || !$!note)
						<select id="note_to" name="note_to" title="$tlang.getString("note.to.tooltip")">
							#foreach ($k in ["0", "1", "2", "3"])
								#set($string = "note.to.")
								#set($string = $string.concat($k))
								<option value="$k" #if($k.equals($!note_to)) selected="selected" #set ($note_to_val=$k) #end> $tlang.getString($string) </option>
							#end
						</select>
					#else
						#if ($!allowReadAssignmentNoteItem)
							#foreach ($k in ["0", "1", "2", "3"])
								#set($string = "note.to.")
								#set($string = $string.concat($k))
								#if($k.equals($!note_to))
									$tlang.getString($string)
								#end
							#end
						#end
					#end
					<span class="validationError alertMessageInline" id="note_to_message">
						$tlang.getString("extraNodesRequired")
					</span>
					<input type="text" id="note_to_holder"  style="display:none"  value="$note_to_val" />
				</div>
			</div>
			#if ($!note && $!allowEditAssignmentNoteItem || !$!note)
				<p class="act">
					## can only edit if there is no note item, or if there is a note item and the current user can edit it.
					<input class="extraNodeInput" type="button" id="note_save" value="$tlang.getString('gen.sav')" class="active" />
					<input class="extraNodeInput" type="button" id="note_cancel" value="$tlang.getString('gen.can')" />
				</p>
			#end
		</fieldset>
		<fieldset class="extraNode" id="allPurpose-node" style="display:none">## the panel for allPurpose type of object
			<legend>$tlang.getString('allPurpose')</legend>
			<div class="form-group row form-required">
				<label  for="allPurpose_title" class="form-control-label col-lg-2">
					$validator.escapeHtml($tlang.getString("gen.title"))
				</label>
				<div class="col-lg-8">
					<input id="allPurpose_title" name="allPurposeTitle" type="text" size="20" maxlength="30" value="$!value_allPurposeTitle" class="form-control"/>
					<input id="allPurpose_title_holder"  style="display:none"  name="allPurposeTitle" type="text" size="2" maxlength="30" value="$!value_allPurposeTitle" />
					<span class="validationError alertMessageInline" id="allPurpose_title_message">
						$tlang.getString("extraNodesRequired")
					</span>
				</div>
			</div>

			<div class="form-group row form-required">
				<label for="allPurpose_text" class="form-control-label col-lg-2">
					$tlang.getString("allPurpose.instruction")
				</label>
				<div class="col-lg-8">
					<div class="validationError alertMessage" id="allPurpose_text_message">
						$tlang.getString("extraNodesRequired")
					</div>
					<textarea name="allPurposeText" id="allPurpose_text" cols="60" rows="10" wrap="virtual">$validator.escapeHtmlTextarea($!value_allPurposeText)</textarea>
					<textarea name="allPurposeTextHolder"  id="allPurpose_text_holder"  style="display:none"  cols="60" rows="2" wrap="virtual">$validator.escapeHtmlTextarea($!value_allPurposeText)</textarea>
				</div>
			</div>
			## attachments for allpurpose item
			<label for="allPurposeAttach" class="block">
					$tlang.getString("gen.att")
			</label>
			#set ($size = 0)
			#set ($props = false)
			#foreach ($attachment in $allPurpose_attachments)
				#set ($props = $attachment.Properties)
				#if ($!props)
					#set ($size = $size + 1)
				#end
			#end
			#if ($size == 0)
				<p>
                                    #if ($value_SubmissionType == 5)
                                        $tlang.getString("gen.noatt.single")
                                    #else
                                        $tlang.getString("gen.noatt")
                                    #end
                                </p>
			#else
				<ul class="attachList indnt1">
					#foreach ($attachment in $allPurpose_attachments)
						#set ($props = false)
						#set ($props = $attachment.Properties)
						#if ($!props)
							<li>
								#if ($props.getBooleanProperty($props.NamePropIsCollection))
									<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")" />
								#else
									<img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
								#end
								<a href="$attachment.Url" target="_blank">$validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>
								#propertyDetails($props)
							</li>
						#end
					#end
				</ul>
			#end

			<div class="act">
				<input type="button" name="allPurposeAttach" id="allPurposeAttach" value="$tlang.getString('gen.addatt')" onclick="javascript:document.newAssignmentForm.onsubmit();document.getElementById('option').value='allPurposeAttach';document.newAssignmentForm.submit();return false;"/>
			</div>
			<div class="validationError alertMessage" id="allPurpose_release_after_retract_message">
				$tlang.getString("allPurpose.alert.release.afer.retract")
			</div>
			## Show This Item Checkbox
			<div class="form-group row">

				<div class="col-sm-3">
					<label for="allPurposeHide1">
						<input name="allPurposeHide" id="allPurposeHide1" value="false" #if(!$!value_allPurposeHide)checked="checked"#end type="radio" />
						$tlang.getString("allPurpose.show")
					</label>
				</div>

				<div class="col-sm-9">
					<div class="form-group row">
						<label for="allPurposeShowFrom" class="col-sm-2">
							<input name="allPurposeShowFrom" id="allPurposeShowFrom" value="true" type="checkbox" #if ($value_allPurposeShowFrom) checked="checked" #end />
							$tlang.getString("allPurpose.show.from")
						</label>
						<div class="col-sm-10">
							<input type="text" id="allPurposeRelease" name="allPurposeRelease" class="datepicker" value="">

							<script type="text/javascript">
										localDatePicker({
										input:'#allPurposeRelease',
										useTime:1,
										val:"$value_allPurposeReleaseYear$H$value_allPurposeReleaseMonth$H$value_allPurposeReleaseDay $value_allPurposeReleaseHour:$value_allPurposeReleaseMin",
										parseFormat: 'YYYY-MM-DD HH:mm',
										ashidden:{
											month:"allPurpose_releaseMonth",
											day:"allPurpose_releaseDay",
											year:"allPurpose_releaseYear",
											hour:"allPurpose_releaseHour",
											minute:"allPurpose_releaseMin"
										}
									});
							</script>
						</div>
					</div>
					<div class="form-group row">
						<label for="allPurposeShowTo" class="col-sm-2">
							<input name="allPurposeShowTo" id="allPurposeShowTo" value="true" type="checkbox" #if ($!value_allPurposeShowTo) checked="checked" #end />
							$tlang.getString("allPurpose.show.util")
						</label>
						<div class="col-sm-10">
							<input type="text" id="allPurposeRetract" name="allPurposeRetract" class="datepicker" value="">

							<script type="text/javascript">
									localDatePicker({
									input:'#allPurposeRetract',
									useTime:1,
									val:"$value_allPurposeRetractYear$H$value_allPurposeRetractMonth$H$value_allPurposeRetractDay $value_allPurposeRetractHour:$value_allPurposeRetractMin",
									parseFormat: 'YYYY-MM-DD HH:mm',
									ashidden:{
										month:"allPurpose_retractMonth",
										day:"allPurpose_retractDay",
										year:"allPurpose_retractYear",
										hour:"allPurpose_retractHour",
										minute:"allPurpose_retractMin"
									}
								});
							</script>
						</div>
					</div>
				</div>
			</div>
			## Hide This Item Checkbox
			<label for="allPurposeHide2">
				<input name="allPurposeHide" id="allPurposeHide2" value="true" #if($!value_allPurposeHide)checked="checked"#end type="radio" />
				$tlang.getString("allPurpose.show.hide")
			</label>
			<h4><span class="reqStar">*</span>$tlang.getString("allPurpose.show.to")</h4>
			<div class="validationError alertMessage" id="allPurpose_userselect">
				$tlang.getString("extraNodesRequired")
			</div>
			<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover" id="allPurposeGroupLists">
				<tbody>
					#set ($roleCount=0)
					#foreach ($role in $!roleUsers.keySet())

						#set ($roleCount=$roleCount + 1)
						#set($expandString=$tlang.getString("allPurpose.show.expand").concat(" ").concat($role).concat(" ").concat($tlang.getString("allPurpose.show.list")))
						#set($collapseString=$tlang.getString("allPurpose.show.collapse").concat(" ").concat($role).concat(" ").concat($tlang.getString("allPurpose.show.list")))
						#set($expandId = "expand_")
						#set($expandId = $expandId.concat($role))
						#set($collapseId="collapse_")
						#set($collapseId=$collapseId.concat($role))
						#set($roleDivString = $role.concat("Div"))
						#set($showInputString = "allPurpose_")
						#set($showInputString = $showInputString.concat($role))
						<tr>
							<td class="groupCell">
								<a href="javascript:void(0)" id="collapse_$roleCount" class="toggleRoleLink" style="display:none;" title="$collapseString">
									<img src="/library/image/sakai/collapse.gif" alt="$collapseString" /><span class="members"><i class="icon-sakai--sakai-membership"></i></span>
								</a>
								<a href="javascript:void(0)" id="expand_$roleCount" class="toggleRoleLink" style="display:inline" title="$expandString">
									<img src="/library/image/sakai/expand.gif"  alt="$expandString"/><span class="members"><i class="icon-sakai--sakai-membership"></i></span>
								</a>
								<input id="$showInputString" name="showInputString_$roleCount" #if ($!value_allPurposeAccessList.contains($role)) checked="checked" #end type="checkbox" name="allPurpose_$role" class="selectAllMembers"/>
								<label for="showInputString_$roleCount">
									$role
								</label>
								(<span class="highlight countDisplay"></span> <span class="highlight">$tlang.getString("allPurpose.user.selection.count")</span>)
								<ul id="roleDiv_$roleCount"  style="display:none;" class="attachList userList">
									#set($userCount=0)
									#foreach($user in $!roleUsers.get($role))
										#set($showInputString = "allPurpose_")
										#set($showInputString = $showInputString.concat($user.getId()))
										<li>
											<label for="$showInputString" style="white-space:nowrap;padding:2px;width:90%;display:block" #if ($!value_allPurposeAccessList.contains($user.getId())) class="selectedItem" #end>
												<input id="$showInputString" name="$showInputString" #if ($!value_allPurposeAccessList.contains($user.getId())) class="selectedItem" checked="checked" #set($userCount=$userCount + 1) #end type="checkbox" value="$user.Id"/>
												$validator.escapeHtml($user.getDisplayName())
											</label>
										</li>
									#end
									<li class="countHolder" class="skip" style="display:none">$userCount</li>
								</ul>
							</td>
						</tr>
					#end
				</tbody>
			</table>
			</div>
			<p class="act" style="margin:0;padding:0">
				<input class="extraNodeInput" type="button" id="allPurpose_save" value="$tlang.getString("allPurpose_save")" class="active"/>
				<input class="extraNodeInput" type="button" id ="allPurpose_cancel" value="$tlang.getString("allPurpose_cancel")" />
			</p>
		</fieldset>
		<div class="row col-sm-12">
			#buttonBar()
		</div>
		<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
	</form>
</div>
<!-- end: chef_assignments_instructor_new_edit_assignment.vm  -->
