<!-- start: chef_assignments_instructor_list_deleted_assignments.vm  -->
<div class="portletBody container-fluid">
	#navBarHREF( $allowAddAssignment $allowGradeSubmission $allowAddAssignment $allowRecoverAssignment $allowAllGroups $assignmentscheck $allowUpdateSite $enableViewOption $view "Assignment.mode_list_removed_assignments" )
	#if ($alertMessage)<div class="sak-banner-error"><strong>$tlang.getString("gen.alert")</strong> $alertMessage</div>#end

	<div class="page-header">
		<h1>
			$!tlang.getString('removedAssignmentList')
		</h1>
	</div>

	#if (!$!assignments.hasNext())
		<div class="sak-banner-info">
			$tlang.getString("gen.thearecur1")
		</div>
	#else
		<div class="sak-banner-warn">$tlang.getString("restoreWarning")</div>
		<div class="sakai-table-toolBar">
			<div class="sakai-table-pagerContainer">
				#pagerPanel("pager1")
			</div>
		</div>
		<form name="listDeletedAssignmentsForm" action="#toolForm("$action")" method="post">
			<div class="table">
				<input type="hidden" name="source" value="0" />
				<table class="table table-hover table-striped table-bordered" summary="$tlang.getString("gen.ass.lis.sum")">
					<tr>
						<th id="title" scope="col">
							<a href="javascript:void(0)" onclick="location='#toolLinkParam("$action" "doSort" "criteria=title")'; return false;"   title="$tlang.getString("listassig.sorbytit")">
								$tlang.getString("gen.asstit")
								#if ($sortedBy.equals("title"))
									#if ($sortedAsc.equals("true"))
										<i id="sortascendingtitle" class="fa fa-sort-asc" aria-hidden="true" tittle="$tlang.getString("gen.sorasc")"></i>
									#else
										<i id="sortdescendingtitle" class="fa fa-sort-desc" aria-hidden="true" tittle="$tlang.getString("gen.sordes")"></i>
									#end
								#end
							</a>
						</th>
						<th id="softremoveddate">
							<a href="javascript:void(0)" onclick="location='#toolLinkParam("$action" "doSort" "criteria=softremoveddate")'; return false;"  title="$tlang.getString("gen.sorbyremoveddate")" class="d-none d-sm-table-cell">
								$tlang.getString("gen.removeddate")
								#if ($sortedBy.equals("softremoveddate"))
									#if ($sortedAsc.equals("true"))
										<img id="sortascendingmodifieddate" src = "#imageLink("sakai/sortascending.gif")" border="0" alt="$tlang.getString("gen.sorasc")" />
									#else
										<img id="sortdescendingmodifieddate" src = "#imageLink("sakai/sortdescending.gif")" border="0" alt="$tlang.getString("gen.sordes")" />
									#end
								#end
							</a>
						</th>
						<th id="num_submissions" scope="col">
							<a href="javascript:void(0)" onclick="location='#toolLinkParam("$action" "doSort" "criteria=num_submissions")'; return false;"  title="$tlang.getString("gen.sorbynumsub")" class="d-none d-sm-table-cell">
								$tlang.getString("gen.subm2")
								#if ($sortedBy.equals("num_submissions"))
									#if ($sortedAsc.equals("true"))
										<img id="sortascendingmodifieddate" src = "#imageLink("sakai/sortascending.gif")" border="0" alt="$tlang.getString("gen.sorasc")" />
									#else
										<img id="sortdescendingmodifieddate" src = "#imageLink("sakai/sortdescending.gif")" border="0" alt="$tlang.getString("gen.sordes")" />
									#end
								#end
							</a>
						</th>
						#if ($!allowRecoverAssignment)
							<th id="selectAssignments" scope="col">
								<span class="d-none d-sm-table-cell">$tlang.getString("selectAssignments")</span>
							</th>
						#end
					</tr>
					#set ($assignmentCount = 0)
					#foreach ($assignment in $assignments)
						#set ($assignmentReference = $!service.assignmentReference($assignment.Id))
						#set ($assignmentCount = $assignmentCount + 1)
							<tr>
								<td headers="title" scope="row">
											<strong>
												#if ($!assignment.draft)
													<span class="highlight">$tlang.getString("gen.dra2")</span>
												#end
												$formattedText.escapeHtml($!assignment.title)
												#if ($assignment.getContentReview())
													<span class="bi bi-award" aria-hidden="true"></span> <span class="sr-only">$reviewIndicator</span>
												#end
												#assignmentIcons($assignment)
											</strong>
								</td>
								<td headers="softremoveddate" scope="row">
									#if ($!assignment.softRemovedDate)
										$!service.getUsersLocalDateTimeString($!assignment.softRemovedDate)
									#else
										$tlang.getString("gen.na")
									#end
								</td>
								<td headers="num_submissions" scope="row">
									<strong>
										#if ($!assignment.draft)
											$tlang.getString("gen.na")
										#else
											#set($totalNumber = $!service.countSubmissions($assignmentReference, null))
											$totalNumber
										#end
									</strong>
								</td>
								#if ($!allowRecoverAssignment)
									<td headers="selectAssignments" class="screenOnly">
											<input type="checkbox" name="selectedAssignments" value="$assignment.Id" id="check_$assignmentCount" onclick="ASN.checkEnableRestore();" />
											<label for="check_$assignmentCount" class="skip">$formattedText.escapeHtml($!assignment.Title)</label>
									</td>
								#end
							</tr>
					#end
				</table>
			</div>
		#if ($!allowRecoverAssignment)
			<p class="act">
				<input type="submit" id="btnRestore" name="eventSubmit_doRestore_confirm_assignment" value="$tlang.getString("restoreSelected")" accesskey="s" disabled="disabled" />
				<input type="submit" id="btnHardRemove" name="eventSubmit_doHardRemove_confirm_assignment" value="$tlang.getString("hardRemoveSelected")" accesskey="s" disabled="disabled" />
			</p>
		#end

			<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
		</form>
	#end
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$("#btnRestore").click(function(event) {
			if( !confirm('$tlang.getString("restoreConfirmation")') ) {
				event.preventDefault();
			} else {
				SPNR.disableControlsAndSpin(this, null);
			}
		});
		$("#btnHardRemove").click(function(event) {
			if( !confirm('$tlang.getString("hardRemoveConfirmation")') ) {
				event.preventDefault();
			} else {
				SPNR.disableControlsAndSpin(this, null);
			}
		});
	});
</script>
<!-- end: chef_assignments_instructor_list_deleted_assignments.vm  -->
