## Header that shows institution and/or banner logos

<header role="banner" class="Mrphs-headerLogo">
    <span class="Mrphs-headerLogo--institution"></span>
    <span class="Mrphs-headerLogo--banner"></span>

    #parse("/vm/morpheus/includeLoginNav.vm")
</header>