<div id="loginLinksImage" class="Mrphs-loginUser" tabindex="999">

    #if (${loginHasImage1})

        <p class="Mrphs-loginUser__menuitem">
            <a href="${loginLogInOutUrl}" title="${loginMessage}" id="loginLink1" class="Mrphs-loginUser__image" data-warning="${logoutWarningMessage}"><img src="${loginImage1}" alt="${loginMessage}"></a>
        </p>

    #else

        <p class="Mrphs-loginUser__menuitem">
            <a href="${loginLogInOutUrl}" title="${loginMessage}" id="loginLink1" class="Mrphs-loginUser__message" data-warning="${logoutWarningMessage}">
                <i class="login-Icon"></i>
                <span class="Mrphs-login-Message">${loginMessage}</span>
            </a>
        </p>

    #end ## END of IF (${loginHasImage1})

    #if (${loginHasLogInOutUrl2})

        #if (${loginHasImage2})

            <p class="Mrphs-loginUser__menuitem Mrphs-loginUser__menuitem--alt">
                <a href="${loginLogInOutUrl2}" title="${loginMessage2}" id="loginLink2" class="Mrphs-loginUser__image"><img src="${loginImage2}" alt="${loginMessage2}"></a>
            </p>

        #else

            <p class="Mrphs-loginUser__menuitem Mrphs-loginUser__menuitemk--alt">
                <a href="${loginLogInOutUrl2}" title="${loginMessage2}" id="loginLink2" class="Mrphs-loginUser__message">
                    <i class="login-Icon"></i>
                    <span class="Mrphs-login-Message">${loginMessage2}</span>
                </a>
            </p>

        #end ## END of IF (${loginHasImage2})

   #end ## END of IF (${loginHasLogInOutUrl2})

</div>
