#if (${userIsLoggedIn})
<aside class="offcanvas offcanvas-end" tabindex="-1" id="sakai-account-panel" aria-labelledby="sakai-account-panel-label">
  <div class="offcanvas-header">
    <h2 class="offcanvas-title m-0" id="sakai-account-panel-label">${rloader.mainnav_btn_account}</h2>
    <span>&nbsp;</span>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close this account menu"></button>
  </div>

  <div class="offcanvas-body d-flex flex-column">
    <div class="text-center mb-3 pb-2">
      <div id="sakai-profile-image-block">
        <button class="btn only-icon" data-bs-toggle="modal" data-bs-target="#profile-image-upload">
          <img class="sakai-accountProfileImage rounded-circle" width="100" src="/direct/profile/${loginUserId}/image/thumb" alt="Profile image">
          <div id="sakai-profile-image-change">$rloader.sit_change</div>
        </button>
      </div>
      <h3 class="m-0">${loginUserDispName}</h3>
      <h4 class="fw-normal text-muted">${loginUserDispId}</h4>
      <ul class="nav flex-column">
        #foreach ( $site in $tabsSites.tabsSites )
          #if (${site.isMyWorkspace})
        #if (${prefsToolUrl})
        <li class="nav-item"><a href="${prefsToolUrl}" class="nav-link">${rloader.sit_preferences}</a></li>
        #end
        #if (${profileToolUrl})
        <li class="nav-item"><a href="${profileToolUrl}" class="nav-link">${rloader.sit_profile}</a></li>
        #end
          #end
        #end

        #if (${tabsSites.tutorial})
          <li class="nav-item"><a id="tutorial-start-button" href="#" onclick="startTutorial({userInitiatedTutorial: true});" class="nav-link">${rloader.sit_tutorial}</a></li>
        #end

        #if (${themeSwitcher})
        <li>
          <div class="text-center pt-3 mt-auto">
            <fieldset class="btn-group" role="radiogroup" aria-label="Switch between light and dark themes">
              <div data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true">
                  <button role="switch" 
                    aria-checked="false"
                    id="sakai-dark-theme-switcher"
                    title="#if ($userTheme == "sakaiUserTheme-light")$rloader.sit_theme_switch_to_dark#else$rloader.sit_theme_switch_to_light#end"
                    class="sakai-theme-switch Mrphs-userNav__submenuitem--themeSwitcher switch">
                    <span class="bi bi-sun"></span>
                    <span class="bi bi-moon"></span>
                  </button>
              </div>
            </fieldset>
          </div>
        </li>
        #end
      </ul>
    </div>

    <div class="accordion flex-grow-1 overflow-auto" id="sakai-accountPanelWidgets">
      <div class="accordion-item">
        <div class="accordion-header" id="sakai-accountPanelWidgets-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sakai-accountPanelWidgets-collapseOne" aria-expanded="false" aria-controls="sakai-accountPanelWidgets-collapseOne">
            ${rloader.sit_mytasks}
          </button>
        </div>
        <div id="sakai-accountPanelWidgets-collapseOne" class="accordion-collapse collapse" aria-labelledby="sakai-accountPanelWidgets-headingOne">
          <div class="accordion-body p-2">
            ## Tasks webcomponent
            <sakai-tasks site-id="$!{siteId}"></sakai-tasks>
          </div>
        </div>
      </div>  
      <div class="accordion-item">
        <div class="accordion-header" id="sakai-accountPanelWidgets-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sakai-accountPanelWidgets-collapseTwo" aria-expanded="false" aria-controls="sakai-accountPanelWidgets-collapseTwo">
            ${rloader.sit_mycalendar}
          </button>
        </div>
        <div id="sakai-accountPanelWidgets-collapseTwo" class="accordion-collapse collapse" aria-labelledby="sakai-accountPanelWidgets-headingTwo">
          <div class="accordion-body p-2">
            ## Calendar webcomponent
            <sakai-calendar user-id="${loginUserId}"></sakai-calendar>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-header" id="sakai-accountPanelWidgets-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sakai-accountPanelWidgets-collapseThree" aria-expanded="false" aria-controls="sakai-accountPanelWidgets-collapseThree">
            ${rloader.sit_mygrades}
          </button>
        </div>
        <div id="sakai-accountPanelWidgets-collapseThree" class="accordion-collapse collapse" aria-labelledby="sakai-accountPanelWidgets-headingThree">
          <div class="accordion-body p-2">
            ## Grades webcomponent
            <sakai-grades></sakai-grades>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center pt-3 mt-auto">
      <a href="${loginLogInOutUrl}" title="${loginMessage}" id="loginLink1" class="bi bi-box-arrow-right btn btn-primary w-100" data-warning="${logoutWarningMessage}">
        <span class="Mrphs-login-Message">${loginMessage}</span>
      </a>
    </div>
  </div>
</aside>
#end
