<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!--  <bean id="org.sakaiproject.gradebookng.business.XmlMarshaller" class="org.sakaiproject.gradebookng.business.XmlMarshaller" />-->


	<bean id="org.sakaiproject.gradebookng.business.GradebookNgBusinessService" class="org.sakaiproject.gradebookng.business.GradebookNgBusinessService">
		<property name="siteService" ref="org.sakaiproject.site.api.SiteService" />
        <property name="userDirectoryService" ref="org.sakaiproject.user.api.UserDirectoryService" />
		<property name="toolManager" ref="org.sakaiproject.tool.api.ToolManager" />
		<property name="gradebookService" ref="org_sakaiproject_service_gradebook_GradebookService" />
		<!--  <property name="xmlMarshaller" ref="org.sakaiproject.gradebookng.business.XmlMarshaller" />-->
	</bean>
	
</beans>
