.#{$namespace}sakai-site-roster2 {

    div#rosterMainContainer {
        margin-top: 0.5em;
    }

    // toolbar styles
    .sakai-table-toolBar {
        .sakai-table-viewFilter ~ .sakai-table-viewFilter {
            margin-top: $standard-spacing;
        }

        .sakai-table-buttonContainer {
            @include flex-direction(column);
            text-align: center;

            #roster_hide_options {
                display: none;

                input[type=checkbox] {
                    margin: 0;
                    vertical-align: text-top;
                }
            }
        }

        div.displayFilterContainer {
            margin:  0 0 $standard-spacing auto;
            padding: 0 0 0 $standard-spacing;
            text-align: center;

            div.sakai-table-viewFilter {
                @include justify-content(center);

                fieldset.roundedBorder {
                    border: 2px solid var(--sakai-border-color);
                    @include border-radius(5px);
                    padding: 5px;
                    white-space: nowrap;

                    legend {
                        padding: 0 5px 0 5px;
                        font-size: $default-font-size;
                        font-weight: normal;
                        color: var(--sakai-text-color-2);
                    }
                }

                label {
                    margin-bottom: 0;
                }
            }

            @media #{$tablet} {
                margin-left: 0;
                padding-left: 0;
            }

            /* override breakpoint inherited from _table.scss */
            @media #{$smallPhone} {
                .sakai-table-viewFilter {
                    @include align-items(center);

                    fieldset.roundedBorder {
                        @include display-flex();
                        @include flex-direction(column);
                        @include align-items(flex-start);

                        input[type=radio] {
                            margin: 0 5px 0 0;
                        }
                    }
                }
            }
        }
    } // sakai-table-toolBar

    .roster-filter-totals {
        text-align: center;
        padding: $standard-spacing 0 $standard-spacing 0;
    }

    #roster-members-total, #roster-role-totals {
        color: var(--sakai-text-color-2);
        font-size: 12px;
    }

    .role {
        font-weight: bold;
    }
    // end tool bar styles

    // common view styles
    #roster-loading-image {
        display: none;
    }

    .roster-members-grid {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 340px);
        grid-template-rows: repeat(auto, 1fr);
        grid-gap: 5px;
        .roster-member-card {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-gap: 5px;
            border: 1px solid #ccc;
            @include border-radius(5px);
            padding: 5px;
            margin-right: 5px;
            margin-bottom: 5px;
            width: 340px;
            padding: 5px;

            .roster-picture-card {
                margin-right: 10px;
                min-width: 76px;
                max-width: 76px;
                .roster-picture {
                    width: 100%;
                    border: 1px solid #BBB;
                }
            }

            .roster-info-card {
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                grid-gap: 3px;
                align-content: start;
                .roster-card-value {
                    word-wrap: break-word;
                    font-weight: bold;
                    .roster-user-properties {
                        list-style: none;
                    }
                }
            }

            &.photogrid {
                display: block;
                width: 120px;
                .roster-picture-card {
                    margin-right: 0;
                    width: 100%;
                    max-width: none;
                    .roster-picture {
                        width: 100%;
                        border: 1px solid #BBB;
                    }
                }

                .roster-info-card {
                    display: block;
                    text-align: center;
                }
            }
        }
        &.photogrid {
            grid-template-columns: repeat(auto-fill, 120px);
        }
    }

    .nameAudioPlayer {
        margin-left: 10px;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        @include align-items(center);
        @include justify-content(center);
        width: 32px;
        height: 32px;
        border-radius: 16px;
        background-color: var(--sakai-background-color-3);
        border: 2px solid var(--sakai-border-color);
        box-shadow: var(--elevation-2dp);
        cursor: pointer;

        &:hover, &:active, &:focus {
            background-color: var(--sakai-background-color-4);
            box-shadow: var(--elevation-4dp);
        }

        &.playing {
            background-color: var(--successBanner-bgcolor);
            border-color: var(--successBanner-bordercolor);

            .fa {
                color: var(--successBanner-color);
            }
        }
    }


    table {
        .roster-name-cell {
            max-width: 130px;
        }

        .roster-mobile-label {
            display: none;
        }

        .roster-user-properties {
            list-style: none;
            max-width: 100px;
            word-wrap: break-word;
        }

        .roster-no-groups-label {
            font-size: smaller;
            font-weight: bold;
        }

        .roster-hide-pictures {
            display: none;
        }

        .roster-picture {
            width: 30px;
            height: 24px;
            padding: 0;
        }

        .roster-picture-cell {
            text-align: center;
        }

        .roster-hide-pictures {
            display: none;
        }
    }

    @media #{$phone} {
        input#roster-spreadsheet-view-radio, label[for=roster-spreadsheet-view-radio] {
            display: none;
        }
    }
}
