<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<title>Plain text entry</title>
<link href="/library/skin/tool_base.css" type="text/css"
	rel="stylesheet" media="all" />
<link href="/library/skin/default/tool.css" type="text/css"
	rel="stylesheet" media="all" />
<script type="text/javascript" language="JavaScript"
	src="/library/js/headscripts.js"></script>
</head>
<body>
	<div class="portletBody">
		<h1>Plain Editor</h1>
		<form>
			<div rsf:id="plainTextEditor:">
				<textarea class="block" rsf:id="input" cols="65" rows="20"
					wrap="virtual"></textarea>
			</div>
			<input type="submit" rsf:id="submitbutton" value="Submit" />
		</form>

	</div>
</body>
</html>