# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Maven Build

permissions:
  checks: write
  contents: read
  issues: read
  pull-requests: write

on:
  pull_request:

jobs:
  maven-build:
    runs-on: ubuntu-20.04
    steps:
      - name: Git Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: temurin
          architecture: x64
          cache: maven
      - name: Search for bad unicode translations
        run: |
          find . -name \*.properties -exec grep '\\u[0-9a-fA-F][0-9a-fA-F][0-9a-fA-F][g-zG-Z]' {} \; &> grep.txt
          if [ -s grep.txt ]; then
            exit 1
          fi
      - name: Build with Maven
        env:
          MAVEN_OPTS: -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=WARN -Dorg.slf4j.simpleLogger.showDateTime=true -Djava.awt.headless=true -Dmaven.wagon.http.retryHandler.count=2 -Dmaven.wagon.http.pool=true
        run: mvn --batch-mode -PskipBrokenTests test
