//////////////////////////////
// MODULES: Component styles that are layout independent 
//////////////////////////////

.portletBody {
  .navIntraTool {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}